[2020-07-21 17:39] peterp commented on #872
@RobertBroersma Good day sir, do we need to install babel-jest?

[2020-07-21 18:18] RobertBroersma commented on #872
@peterp I _think_ this is a Windows issue, because it WorksOnMyMachine™

I had this issue before when trying some weird Jest stuff with passing configs through the Jest cli, but with this new defining configs in the app repo business the error is gone for me. Back then I fixed it by replacing the `./src` aliases in `babel-preset.js` with something absolute like `require.resolve(redwoodPaths.web.sr

[2020-07-21 18:42] Tobbe commented on #872
Anything I can do to help debug this?

[2020-07-21 19:02] RobertBroersma commented on #872
@Tobbe Does this also happen in your API tests?

My above comment and your logs are all the info I have I'm afraid. I think this requires a bit of a deep dive and some trial and error to figure out. If you'd want to pick this up that would be awesome! If not I'll take a look when I get the time, but if all goes well I'll be on vacation starting tomorrow.

If you want a quick workaround I guess you

[2020-07-21 20:26] Tobbe commented on #872
It happens with the API tests too

[code]

And this is `posts.js`

[code]

[2020-07-21 20:29] Tobbe commented on #872
A relative import does indeed work

[code]

[2020-07-21 22:19] dthyresson commented on #864
I'll make a quick PR if want to assign to me.

[2020-07-22 00:23] dthyresson commented on #849
Here's how we organized nested functions in an app built ~ 14 months ago.

Maybe not the best/fastest way as it added a layer, but it did make it organized and might be host-platform agnostic (works on Netlify and Vercel).

We had an endpoint `/feed` like a Stream feed that had other related functions: `/feed/me` (my feed), '/feed/follow/<name>` follow this feed, `/feed/unfollow`, `/feed/count/<na

[2020-07-22 03:34] peterp commented on #872
It looks like jest is incorrectly determining the `src` alias from `babel-plugin-module-resolver`

[2020-07-22 05:54] RobertBroersma commented on #872
@peterp Hmmm I would've expected to _not_ need that when using Babel, but let's give that a try!

[2020-07-22 11:06] peterp commented on #864
Done!

[2020-07-22 14:58] #837 closed

[2020-07-22 14:58] peterp commented on #870
I fixed this by deleting `yarn.lock` and `node_modules` in my framework repo and installing the dependencies.

#878 should fix this issue, so if you update to main, you should go OK now.

[2020-07-22 14:59] #871 closed

[2020-07-22 15:00] peterp commented on #564
This was handled by @RobertBroersma

[2020-07-22 15:00] #564 closed

[2020-07-22 16:40] Tobbe commented on #849
Having an Express app as a router on the top level (`/feed` in this case) is exactly what Netlify themselves use in their examples, so I think that's a perfectly valid approach. To get that to work on Vercel I had to do some tricks with the `vercel.json` config files and the routing in there.

So if we choose this route (sorry 😛😁) we need to do this setup on Vercel as part of deployment.

next.js

[2020-07-22 19:57] dthyresson commented on #849
Yes, exactly. I forgot to include that part as the example:

[code]

and `app.js` is:

[code]

[2020-07-23 06:40] #798 closed

[2020-07-23 10:02] hemildesai opened #881 "Move from graphql-iso-date to graphql-scalars"
This is the notice on the [graphql-iso-date](https://github.com/excitement-engineer/graphql-iso-date) GitHub repo -
[code]

It seems like a good idea to start using (graphql-scalars)[https://github.com/Urigo/graphql-scalars] at https://github.com/redwoodjs/redwood/blob/main/packages/api/src/makeMergedSchema/rootSchema.ts#L3

[2020-07-23 10:45] peterp commented on #881
Ooh, that's good to know - could you interest you in opening a pull-request?

[2020-07-23 10:45] peterp commented on #881
We could also probably replace JSON and JSONObject with the same library.

[2020-07-23 11:16] hemildesai commented on #881
Yeah, I'm happy to work on a PR.

[2020-07-23 13:58] Tobbe commented on #870
Confirmed, works now 👍

[2020-07-23 13:58] #870 closed

[2020-07-23 16:33] dthyresson opened #883 "Cell Query Operation name not camelCase-d if use underscore in generation"
As of v0.14.0, cell queries now get an operation name to work with Storybook:

See: https://github.com/redwoodjs/redwood/pull/867

Example:

[code]

I created a cell via the generator:

`yarn rw g cell my_sites`

and

[code]

the files, used the `MySite` upper camelCasing.

However, my query operation is

[code]

When I generated `SitesCell` it is

[code]

I expected either

`query MySitesQuery {`

[2020-07-23 17:16] peterp commented on #883
Oooh, great catch, PascalCase is what I wanted 👍

[2020-07-23 17:17] peterp commented on #883
@dthyresson Any interest in creating a PR for this? 🍫

[2020-07-23 17:18] dthyresson commented on #883
@peterp Happy to!

[2020-07-23 17:27] #670 closed

[2020-07-23 17:54] dthyresson commented on #883
Oh, I see that:

`import pascalcase from 'pascalcase'`

is already used in

`cli/src/commands/generate/helpers.js`

So, thinking it's just something like:

[code]

and then adding some more tests for single, multi (and change the expected case) and then an underscore and a dash scenarios along the line of:

[code]

[2020-07-23 17:56] dthyresson commented on #883
Right because, usually your component name will not be pascal cased:

[code]

[2020-07-23 19:23] #403 closed

[2020-07-23 19:48] gizmoGremlin commented on #639
@cannikin I think I know how to do this and I have a bit of time now to work on this. Could you reassign me?

Cheers

[2020-07-23 19:49] cannikin commented on #639
Done! Looking forward to seeing how you tackle it!

[2020-07-24 05:47] hemildesai opened #887 "Storybook not working with `pathname` in `useLocation` hook in @redwoodjs/router"
Redwood version: 0.14.0

~~I have a component that calls  `routes.home()` and other routes. When I try to run `yarn rw sb` I get the following error in Storybook at `http://localhost:7910/?path=/story/components-flashmessage--generated`and everything else is disable:~~

~~_redwoodjs_router__WEBPACK_IMPORTED_MODULE_5__.routes.home is not a function~~

~~I looked around but couldn't find a similar i

[2020-07-24 07:06] peterp commented on #887
Hey @hemildesai, this is totally not redundant; could you share your repo with me? This use case should certainly work.

[2020-07-24 08:03] hemildesai commented on #887
Hi @peterp, I don't have a fully committed repo yet since I am only experimenting, but I think I have found the issue. Here are the details:

I have a component called Header.js as follows:
[code]

Looks like you need to use `routes` inside the component.

[2020-07-24 08:07] peterp commented on #887
Ah yeah, that makes sense - since the `routes` object is only populated in a story.

[2020-07-24 08:08] hemildesai commented on #887
Although now I'm getting
[code]

when using `const { pathname } = useLocation()` inside the same component.

[2020-07-24 08:10] peterp commented on #887
Ah yeah, that makes sense, since routes are only populated when they're wrapped in a `Router`, and this code would be run during import and routes wouldn't be populated at this stage.

[2020-07-24 08:30] hemildesai commented on #887
After fixing the above issues, now I have the following problems:

- I'm getting `TypeError: Cannot read property 'pathname' of undefined` when using const `{ pathname } = useLocation()` inside the same component.

- I also want to add a global decorator to all my stories but it looks like the storybook config is packaged with the `@redwood` module. It would be nice to provide custom configs.

Let

[2020-07-24 08:47] peterp commented on #887
Thanks for this @hemildesai

Maybe we can rename this issue, and modify the description for the first bullet point.

The second bullet point is one that I know about will support shortly. (I'll create an issue.)

[2020-07-24 10:30] hemildesai commented on #887
Cool, makes sense! I've updated the issue's title and description.

[2020-07-24 20:10] styfle opened #890 "Add support for `yarn rw dev --port 8080`"
In order for `vercel dev` to proxy to `rw`, it needs to pass a port.

Ideally this could be a `--port` flag or it could also use a `PORT` environment variable.

The flag would need to have precedence over the port defined in `redwood.toml`, otherwise it will never work since `create-redwood-app` generates a `redwood.toml`.

[2020-07-24 21:02] jtoar commented on #890
Hey @styfle, cool to see that you're using Vercel! We're trying to make Redwood seamless with more deploy targets, Vercel included.

Does `vercel dev` use `rw dev` under the hood? Basically, `vercel dev` can't read from the toml at all is what you're saying right?

[2020-07-24 21:43] styfle commented on #890
Yes

The problem is that `vercel dev` creates an ephemeral port, for example 50123, and passes that to the framework's cli `yarn rw dev --port 50123`. Then it waits until it detects the port is in use before prompting the user that they can start developing.

[2020-07-24 22:18] styfle commented on #890
Here's a quick fix: #891

[2020-07-24 22:26] jtoar commented on #890
Thanks @styfle! @peterp @thedavidprice How do you feel about the fix in #891? I think we had some plans for Vercel integration and wasn't sure of the details.

[2020-07-25 04:34] thedavidprice commented on #890
@styfle @jtoar
Dom, it's a pleasure to introduce you to Steven, who works at Vercel and has been helping with the heavy lifting for Redwood deployment support! (And apologies I didn't make this introduction earlier, but greatly appreciate you both helping on this.)

I've followed up on the PR. I think I'm leaning to add the Yargs option and could try to help this weekend, but I'm deferring to Pete

[2020-07-25 12:58] Tobbe opened #892 "`yarn rw test` not working in 0.14.1-canary.20"
## Repro

[code]

## Actual output

[code]

## Expected output

All tests should pass

## Notes

The problem is that the test runner imports `server` from @redwood/testing but that export no longer exists

0.14.0 testing/src/index.ts
[code]

0.14.1-canary.20 testing/src/index.ts
[code]

[2020-07-25 13:05] Tobbe commented on #892
This commit broke it https://github.com/redwoodjs/redwood/commit/04a727e118e7080720ae0f65e5164fe985ff223f
@peterp Wanna take a look?

[2020-07-25 13:13] Tobbe commented on #892
This is where it's used, https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/browser/jest.setup.js
So maybe it's the usage that should be updated. Tagging @RobertBroersma as well :)

[2020-07-25 21:23] gizmoGremlin commented on #639
@cannikin Sorry to disturb, I have quick question about testing the auth generator..
Test the auth generator methods, that return a path or something else(similar to the page generator tests .. ) are fairly straight forward such as
` magicFile = auth.files(['magicLink'])`
`test('creates a regular auth component', () => {
  expect(
    magicFile[path.normalize('/path/to/project/api/src/lib/auth.js'

[2020-07-26 01:51] jtoar commented on #890
@styfle my bad! 😅 Nice to meet you and thank you for answering my questions!

[2020-07-26 06:01] #864 closed

[2020-07-26 06:03] #883 closed

[2020-07-26 06:13] peterp commented on #892
@Tobbe 100%, thanks for finding this :)

[2020-07-26 11:12] dac09 opened #893 "Errors from code splitting with Redwood Router (potentially)"
Hi All, first of this is going to be a deep an obscure post, so bear with me!

**Whats the problem?**
We have bugsnag enabled on our RW site, and every now and then I see an error related to loading chunks. The bug is incredibly difficult to reproduce, but from looking at the logs, _it only happens when trying to navigate with redwood router_, and the chunks need to be loaded. A few examples:

Exa

[2020-07-26 14:11] dthyresson commented on #893
I just mentioned in the Discord as well, but

[code]

That was my first instinct as well -- maybe from a 401, 404 or 500 or 502.

Saw a discussion here: https://github.com/apollographql/apollo-feature-requests/issues/153 that seems to say that Apollo doesn't handle http errors very well (or did not at the time).

Netlify can send 502's if the body of a function isn't JSON.stringified.

Total out t

[2020-07-26 16:28] peterp commented on #893
Are you able to reproduce these yourself, or are they errors that you're seeing in your logs?

[2020-07-26 18:50] #892 closed

[2020-07-26 20:11] Tobbe commented on #872
I'm still getting this same error

[code]

[2020-07-27 05:46] peterp commented on #872
Could you run yarn jest --clearCahe

[2020-07-27 08:38] Tobbe opened #896 "VS Code features not working in RW (b/c of imports)"
Because of the way RW does imports there are a few useful features of VS Code that aren't working.

# Go to Definition

"Go to Definition" is triggered by F12 or Ctrl+Click in VS Code. The way it should work is, if I Ctrl+Click on a component it should open up the file with the source code for that component. With the way Redwood does imports that doesn't work.

## Current behavior

I start with t

[2020-07-27 09:07] Tobbe commented on #872
I tried. Didn't help. I still get the same error message

[2020-07-27 09:14] peterp commented on #872
@Tobbe Could you give me access to your repo?

[2020-07-27 09:18] dac09 commented on #893
No I don't believe so. But the apollo error may be a different issue, hard to tell!

This seems to be the common flow where it happens. In the app, it looks like users are going from Dashboard to Profile (which is where RR navigate is being called)
![image](https://user-images.githubusercontent.com/1521877/88525039-05872680-cff2-11ea-8a5a-bf0679290711.png)

- Chrome 83.0.4103
- Chrome 84.0.4147
-

[2020-07-27 09:22] peterp commented on #893
Hmpf. 🤔 I'm wondering if we should upgrade the GraphQL client library.

[2020-07-27 09:26] peterp commented on #893
Maybe we should prefetch these chunked modules? https://webpack.js.org/guides/code-splitting/#prefetchingpreloading-modules

[2020-07-27 09:27] dac09 commented on #893
OOO, update. Found one instance of the graphql error (not the navigation one) where it receives a 522, then throws the JSON parse error. Let's take the apollo one separately, I think it's a different issue - but you can imagine that if the server throws a 400 or 522 when it tries to load chunks, its the same issue.

I'm actually worried Netlify (or less likely my Cloudflare settings, which is just

[2020-07-27 09:29] dac09 commented on #893
I think this would be a nice feature to have anyway, right? Worth a shot :)

[2020-07-27 10:34] dthyresson commented on #893
Might be worth checking out:

Saw this note on Netlify Community about 522s + Netlify + Cloudflare: https://community.netlify.com/t/522-error-connection-timed-out/8138 ...

 https://community.netlify.com/t/common-issue-why-isn-t-my-ssl-certificate-provisioning-automatically-with-cloudflare-netlify-are-there-other-problems-with-using-cloudflare-in-front-of-netlify/138

[2020-07-27 10:41] dac09 commented on #893
@dthyresson - thank you, this is extremely helpful. I'll look at trying this out in our staging env today.

[2020-07-27 11:45] dac09 commented on #893
A little update @dthyresson, just followed the guide you shared, and managed to configure netlify properly - fingers crossed now, will keep an eye out for the errors over the next week or so.

For anyone else trying this and worrying about bringing prod down, the key is in the timing!
1. Disable cloudflare proxying in your dashboard
2. Wait 5 mins
3. Trigge renewal/provision of certificate on netl

[2020-07-27 16:07] dac09 opened #897 "[RWT] @redwoodjs/structure not building with build:watch"
### Description
Running dev server following the contribution flow fails, as `@redwoodjs/structure` not built with `yarn build:watch`

### Example error
Going through the normal contribution flow, running the dev server (in MYAPP) with `yarn rw dev web` or `yarn rw dev api`

[code]

Looking at the logs the reason this happens is because `yarn build:watch` in the redwood repo doesn't seem to run bu

[2020-07-27 21:17] aldonline commented on #896
In order for VSCode to understand the "src/x/y/z" import specifiers, one option is to include a jsconfig.json (or tsconfig.json) that sets the "paths" compiler option. Something like this:

[code]

However, given how much "redwood magic" is going on (with "directory named" convention, automatic imports and the importAll macro),
I'm not sure how this interacts with everything else. This is somethin

[2020-07-27 21:33] Tobbe commented on #872
Didn't have anything up on Github, so I just now created a new project and pushed that https://github.com/Tobbe/v14

[2020-07-28 00:14] zwl1619 opened #900 "Could update apollo-client to 3.0?"
Could update apollo-client to 3.0?

https://www.apollographql.com/blog/announcing-the-release-of-apollo-client-3-0/

[2020-07-28 03:46] thedavidprice commented on #900
Hi @zwl1619 and thanks for the prompt! Yes, we've been following this and are eager to take a look at the upgrade path to get to v3! There are a lot of breaking changes so it won't be happening immediately.

Closing this out for now, but don't hesitate to reopen if needed.

[2020-07-28 03:46] #900 closed

[2020-07-28 05:48] thedavidprice opened #901 "Breaking in `main` branch: Forms Breaking due to #886 (Move Forms to Separate Package)"
@peterp continuing from #886

It seems the code + comments intended this to be backward compatible. But I ran into errors upgrading to canary `0.14.1-canary.26` as well as running locally with `rwt` (I first noticed it after upgrading up Cypress Project to test Prisma 2.3.)

Here's what I'm seeing in my existing project after upgrading to canary. This is for an existing CRUD. I did try creating a

[2020-07-28 16:48] cannikin commented on #639
@gizmoGremlin We've avoided mocking out the file system for now and just assume that file writes will be successful. Although whether or not our code *tries* to write something to the file system would be nice to know. I'm not familiar enough with spies in Jest—can you spy on `fs.writeFileSync`? Can a spy/mock overwrite the function completely so it doesn't even bother trying to write a real file?

[2020-07-28 16:54] #901 closed

[2020-07-28 17:00] gizmoGremlin commented on #639
@cannikin  Basically, I'm spying on the functions that contain writes to the file system, not the `fs.writeFileSync` itself.  As well, I'm mocking out the  `fs.writeFileSync` so it won't return null...  I'll push my pr so you can see and tell me what you think.

[2020-07-28 17:02] #897 closed

[2020-07-28 17:46] peterp commented on #639
Hi 👋,

I wanted to point out that I'm currently making the generators output json in this pull-request: #902. By using that we won't have to test the filesystem anymore.

[2020-07-29 11:56] dthyresson commented on #666
Issue was fixed in https://github.com/redwoodjs/redwood/pull/683 merged on Jun 12.

`yarn rw g page settings`

[code]

[code]

[2020-07-29 12:37] peterp commented on #872
I've dug a bit more and I believe that we're hitting this issue: https://github.com/facebook/jest/issues/8006

I'll be opening a fix soon - but my gut feeling is that --projects are going to give us more trouble than they're worth in the short term. Let's see how it goes?

[2020-07-29 13:00] #890 closed

[2020-07-29 13:26] #872 closed

[2020-07-29 16:15] Terris opened #907 "Running yarn rw test should automatically generate jest.config.js files for api and web if they're missing"
**EDIT:** The original issue is solved by adding jest.config.js files. So, running `yarn rw test` should automatically generate jest.config.js files for api and web if they're missing.

Original issue: Tests [web] are failing to run because __REDWOOD__API_PROXY_PATH is not defined
[code]

[2020-07-29 16:42] peterp commented on #907
Hey @Terris, thanks for opening this issue, I'm pretty sure this should be fixed in the latest canary - and we're going to release 0.15.0 very soon.

[2020-07-29 17:42] #666 closed

[2020-07-29 18:50] peterp commented on #666
😈

[2020-07-29 22:18] dthyresson commented on #806
@peterp I'm starting to implement `hasRole` in https://github.com/dthyresson/redwood/tree/dt-add-has-role-to-auth.

Because the role data is stored differently for different AuthProviders, I am considering having the `decoder` not just decode token, but also extract the roles from the decoded token. For example, the role data might be:

[code]

or

[code]

or

[code]

depending on where stored on

[2020-07-29 22:41] #768 closed

[2020-07-30 04:12] thedavidprice opened #909 "further "join the discussion" Redwood Installation copy"
this is Part 2 of https://github.com/redwoodjs/redwood/issues/811 and #889

- [ ] make two sections: current one for community, second for Tutorial and Docs
- [ ] add redirect for signup via Netlify settings on .com
- [ ] cleanup and/or redirect discord server (probably not necessary)

**Merging content originally in #200**
Other ideas for improvements, which we should scrutinize as we don’t want

[2020-07-30 04:14] thedavidprice commented on #183
¯\_(ツ)_/¯

[2020-07-30 04:14] #183 closed

[2020-07-30 04:20] thedavidprice commented on #200
closed in favor of #909 909

[2020-07-30 04:20] #200 closed

[2020-07-30 04:21] #811 closed

[2020-07-30 09:07] noire-munich opened #911 "dataMigrate: Typescript version of db.js is not found"
https://github.com/redwoodjs/redwood/blob/ffed13f62826b6b725c971bd0dcd6d346de6878d/packages/cli/src/commands/dataMigrate/up.js#L12

I tried a deploy right after the `v0.15.0` upgrade and the dataMigrate command did not work because it couldn't find the db module:

`
10:40:43 AM: $ /opt/build/repo/node_modules/.bin/rw dataMigrate up
10:40:45 AM: /opt/build/repo/node_modules/yargs/build/lib/yargs.js

[2020-07-30 11:07] hatim-heffoudhi commented on #802
yep, I know the concept of DTO , it's a pattern used in many languages to fix duplications,  decoupled models, etc....
and the benefits of using class/model instead of GPL is to use like a dto from front to back and vice versa... i used typegraphql is a framework inspired by typeorm, you can define your model, service, resolvers, generate documentation, maybe its a framework we can explore it in r

[2020-07-30 11:22] guledali commented on #802
Also lack of autocompletion and go-to-definition inside sdl can probably make it harder to scale in long-term, and I agree having `code-first` approach it better TypeScript all the way of through.

[2020-07-30 14:22] Terris commented on #907
Tests still failing with the same error above after upgrade to 0.15.0.

[2020-07-30 14:40] peterp opened #912 "Programatically set the GraphiQL playground URL"
Set the endpoint for GraphiQL based on off the settings in redwood.toml.

Example:
[code]

Use `getConfig()` from `@redwoodjs/internal` to read the redwood.toml file.

[2020-07-30 15:02] peterp commented on #907
@Terris Could you share you code with me?

[2020-07-30 15:06] Terris commented on #907
[https://github.com/Terris/kremerlibrary](https://github.com/Terris/kremerlibrary) Thanks, so much @peterp! I know you're busy.

[2020-07-30 15:25] peterp commented on #907
No worries! I'm only busy because people use the framework :)

I think you may need to create a `jest.config.js` in the `web` and `api` folders; the instructions for doing so are over here:

https://github.com/redwoodjs/redwood/releases/tag/v0.14.0

[2020-07-30 15:26] peterp commented on #907
If this turns out to be the case, let's change this issue, and make is so that `yarn rw test` automatically creates those files for you if they're missing.

[2020-07-30 15:28] peterp commented on #911
Very strange. It's as if the '.ts' extension isn't registered in node.

Is there a reproduction branch available that I can test against?

[2020-07-30 15:32] Terris commented on #907
@peterp That was it. Many thanks. I've updated the issue.

[2020-07-30 15:37] peterp commented on #907
Thanks @Terris - My bad for not catching this earlier... and for not making it clear that those configs are required.

[2020-07-30 18:27] jessmartin commented on #768
@cannikin I _love_ separating changes to database structure from changes to _data_ in the database.

My one critique here would be the name. The distinction between a "data migration" and "data_base_ migration" is really subtle.

I'm not sure what to propose as an alternate name. Perhaps "data transition"?

It's not a big deal, but I think it might trip up beginners.

[2020-07-30 18:35] peterp opened #913 "Fix Storybook in v15"
- [x] The Symlink to the public folder, for serving MSW, is not correct.
- [x] MSW seems to be swallowing all requests, so hot module reloading is not working.

[2020-07-30 19:37] cannikin opened #914 "Custom Generators"
Let users override the default generator templates from their own code.

* Add a command to copy existing generator to local codebase
* Have generators look at the app's directory before defaulting back to package template

/cc @Burnsy

[2020-07-30 19:51] Burnsy commented on #914
So after having a quick conversation with rob, about how I was feeling that I felt like I was going faster by using the generators but then I was slowed down because I needed to customize the generators to fit the layout, customized table css etc.

Then I remembered the concept in gatsby called [shadowing](https://www.gatsbyjs.org/docs/how-shadowing-works/).

How I think shadowing the generators c

[2020-07-30 20:19] narciero commented on #217
I just want to echo @redbar0n here on seeing if building on top of Next.js is a possibility.

Next.js is a proven leader in the frontend space and I think Redwood could complement it perfectly, gaining all the features of Next.js (and avoid having to re-invent them) and the addition of the awesome DX/tooling/etc you get with Redwood would make it a no-brainer framework of choice for full-stack (at

[2020-07-30 23:21] aldonline opened #915 "Add missing "documentation" links to vscode outline"
This is an easy issue on an interesting part of the codebase.

# The feature

* I added a few documentation links to the outline but I left the job unfinished (on purpose). There are more documentation links to be added.
* This is what the feature looks like:

<img width="336" alt="Screen Shot 2020-07-30 at 4 11 27 PM" src="https://user-images.githubusercontent.com/154884/88983313-8444c380-d27f-11

[2020-07-30 23:44] thedavidprice commented on #217
This is a great conversation, @redbar0n and @narciero. When I think about the general idea of using _both_ Next and Redwood, my mind goes to "Oh, yeah, use Next for the frontend and Redwood as API. Maybe that looks like supporting next as an official Redwood Side 🤔..."

But is this what you're suggesting/implying? Maybe what would help me better understand is the specific components, pieces, tools

[2020-07-30 23:49] thedavidprice commented on #768
@jessmartin I agree things like this are worth bringing up! We spend a lot of time explaining what things mean and how things are distinct.

How do you feel about "data migrate"? Also, there's a decent chance this will end up becoming a _part_ of the Prisma migration flow... so I believe that's one reason for the similarity. (If I'm correct.)

[2020-07-31 00:13] narciero commented on #217
@thedavidprice I am thinking more along the lines of "What if the `web` side of Redwood was built on top of Next.js...a Redwood `web` side _is_ a Next.js app". This would unlock all of Next.js' features for Redwood without the team having to build custom solutions for things like prerender, SSG, and hybrid CSR/SSR.

Along the lines of Redwood supporting an official Next.js side, I think it would b

[2020-07-31 00:48] dac09 commented on #217
Hi, just chiming in here to say we’re using
- redwood for frontend and API
- gatsby for a static help site
- and starting to build a Next.js app (for link sharing) that will integrate with Redwood’s API that makes use of its hybrid SSG/SSR capabilities

Just my 2p, but I think all of these frameworks really focus on things that they are _really_ good at, and that’s a wonderful thing isn’t it?  I l

[2020-07-31 01:45] aldonline opened #916 "Add "rw storybook --open""
* When you click on the storybook item on the VSCode outline, all you get is a notification that says "not implemented yet".

<img width="976" alt="Screen Shot 2020-07-30 at 6 25 38 PM" src="https://user-images.githubusercontent.com/154884/88990581-2b7f2600-d293-11ea-9dd2-4f74698ac7b4.png">

* This is on purpose. Instead of implementing it in a hacky way, I thought it was better if this was provid

[2020-07-31 02:18] aldonline opened #917 "VSCode outline item for "private" routes should have a different icon"
This is another feature I left un-implemented on purpose. It has two parts:

1. Implement an isPrivate() getter in [RWRoute.ts](https://github.com/redwoodjs/redwood/blob/main/packages/structure/src/model/RWRoute.ts) that captures the heuristics to determine if a route is private or not. This is the hard bit.
2. Modify [getOutline()](https://github.com/redwoodjs/redwood/blob/ffed13f62826b6b725c971b

[2020-07-31 02:31] aldonline commented on #917
While you're at it, delete the [`route.isAuthenticated`](https://github.com/redwoodjs/redwood/blob/ffed13f62826b6b725c971bd0dcd6d346de6878d/packages/structure/src/model/RWRoute.ts#L41) getter. It is a leftover from the old days. The new name should be `isPrivate`.

[2020-07-31 08:37] noire-munich commented on #911
What I thought indeed, couldn't figure out why though :-\.

Yeah sure, I'm setting it up on a new project, actually checking if the bug reproduces on the deploy.
You can get it on the `main` branch here:

https://github.com/noire-munich/rw-contribution-testing-branches

[2020-07-31 08:39] noire-munich commented on #911
Ok, I setup a netlify instance with the project and a heroku db, tutorial configuration style.
I added 2 tsconfig.json and renamed `db.js` to `db.ts` and got this, confirming the issue:

`10:35:21 AM: Build ready to start
10:35:23 AM: build-image version: ca811f47d4c1cbd1812d1eb6ecb0c977e86d1a1d
10:35:23 AM: build-image tag: v3.3.20
10:35:23 AM: buildbot version: be8ecf2af866e16fa4301cc5c14de2ccbb

[2020-07-31 08:50] Tobbe commented on #914
It'd be cool if it was possible to `yarn add` community generators.

At work, for example, in our React app, for every page (FooPage.tsx) we have a sass-file (FooPage.scss). It'd be really useful to be able to write a generator package that when generating a new page also generated an empty sass file and added the corresponding import to *Page.tsx. This generator package would then be published to

[2020-07-31 08:52] Jaikant commented on #217
I  love Next, Gatsby and Redwood.
Next was born on the server. Gatsby on the CDN. And Redwood is on the CDN too but with APIs!

I feel Nextjs isn't Jamstack. So it isn't the right move from a direction perspective, unless Next can live on a CDN like Gatsby.

[2020-07-31 11:57] dthyresson commented on #806
Chatted with @peterp and @dac09 and we decided that:

* Setting the collection of `roles` would be done as part of the `getCurrentUser`

[code]

This way a developer is responsible for knowing how the roles are defined in the JWT or other method based on their provider.

* We'll add comments to the auth generator to suggest how to set the roles, similar to the way it suggests for the the get user

[2020-07-31 12:27] #913 closed

[2020-07-31 12:33] peterp commented on #911
@cannikin Was this what you were working on yesterday?

[2020-07-31 16:00] narciero commented on #217
@Jaikant I love all those frameworks too! But I believe Next.js 100% covers Jamstack use cases, and it can easily live on a CDN (`next export` - I have multiple prod Next.js apps running as static sites on Netlify) _and_ it has the ability for SSG like Gatsby...I'd encourage you to checkout the Next.js docs. Next.js has evolved a lot recently and it's far from just a SSR framework. I'm wondering w

[2020-07-31 16:48] cannikin commented on #911
@peterp No this is something different...I never saw `Cannot find module '/opt/build/repo/api/src/lib/db'`

@noire-munich Once you get past that error you will most likely see another—`@prisma/client did not initialize yet. Please run "prisma generate" and try to import it again.` There are two things you need to do:

1. In `netlify.toml` remove the `--no-db-client` flag from the build command
2.

[2020-07-31 21:17] aldonline opened #920 "Add error diagnostic: notfound page cannot be private"
* Today, the IDE has no problem with me wrapping the `notfound` page with a `<Private>` tag.
* This should be an error.

How to implement this?

* You just need to modify the [RWRoute class](https://github.com/redwoodjs/redwood/blob/main/packages/structure/src/model/RWRoute.ts)
  * Implement the `isPrivate` getter (see #917 - another issue that requires this getter to be implemented - so both issu

[2020-08-01 07:41] hemildesai opened #923 "Intermittent connection issues between web and api while developing locally"
Intermittently, I get the following error in the logs of `yarn rw dev` -
[code]

When it happens, the web page doesn't load anything and I see errors of the form mentioned above whenever I refresh.  I've run into this issue a few times but I haven't been able to reproduce this issue at will, so apologies for not providing the full details. Hoping that someone has had a similar experience and can p

[2020-08-01 08:42] hemildesai opened #924 "Jest tests for api do not work when prisma schema has non-nullable relations"
Currently, `prisma` does not support cascading deletes - See https://github.com/prisma/prisma/issues/2810
You can add `ON DELETE CASCADE` manually, but that runs into https://github.com/prisma/prisma/issues/2057

So, if your model has non nullable relations without cascade, `yarn rw test api` fails because the setup https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/node/jest

[2020-08-01 09:31] peterp commented on #924
Aaaah, good point, I think we should drop all the tables and recreate from scratch, @RobertBroersma ?

[2020-08-01 09:43] RobertBroersma commented on #924
Good catch!

@peterp The reason for the weird hacky _delete everything_ loop is because removing and re-creating the entire DB by running `prisma migrate up` takes forever if you want to do it after every test.

Prisma doesn't have a cleaning command yet, but I think they're working on it? [Insert reference to ticket]

A raw SQL query that truncates all tables sounds like a good solution, but I gu

[2020-08-01 12:42] noire-munich commented on #911
@cannikin I actually edited out the `yarn rw dataMigrate up` command since I'm not using it, the deploy then proceeded naturally as I did not encounter other bugs.
I have `BINARY_TARGET=debian-openssl-1.1.x` which is running fine, should I replace it with `native` anyway? are recommendations changing about this?

[2020-08-01 14:27] peterp opened #925 "getCurrentUser swallows exceptions"
This makes this function particularly difficult to debug during development. It would be a great if we threw these again during development.

[2020-08-01 16:54] Ako92 commented on #784
i Can handle this issue. assign it to me

[2020-08-02 06:15] hemildesai commented on #924
@RobertBroersma Looks like you already have a relevant issue at https://github.com/redwoodjs/redwood/issues/782. Sorry I missed this. These two issues can probably be merged.

[2020-08-02 08:10] hemildesai opened #926 "Unable to provide custom graphQLClientConfig to RedwoodProvider"
There's a bug in https://github.com/redwoodjs/redwood/blob/main/packages/web/src/components/RedwoodProvider.js that leads to overwriting the custom `graphQLClientConfig` provided in `RedwoodProvider`.

Details:
1. RedwoodProvider takes in graphQLClientConfig as a prop at https://github.com/redwoodjs/redwood/blob/main/packages/web/src/components/RedwoodProvider.js#L73
2. It passes this as `config={

[2020-08-02 08:21] hemildesai opened #927 "Unable to refresh Auth token once RedwoodProvider is mounted."
RedwoodProvider caches the `authToken` at https://github.com/redwoodjs/redwood/blob/main/packages/web/src/components/RedwoodProvider.js#L15-L24.

Generally, most `authTokens` have an expiry time (usually 1 hour). So if I leave the tab containing the redwood website open for longer than an hour, and then try to navigate to a different route using `navigate(routes.home())`, and if that route contain

[2020-08-02 08:50] RobertBroersma commented on #924
@hemildesai They are related, but my ticket is still under the impression that the hack works 😅

I guess we should fix the hack until prisms releases the method described in #782

[2020-08-02 09:26] hemildesai commented on #924
@RobertBroersma Makes sense!

[2020-08-03 13:11] dac09 commented on #893
Hi both, just a quick update. Looks like the error doesn't seem to be happening very much anymore after the cloudflare/netlify change - but that doesn't mean it's not there, I've seen it happening on staging! As discussed with peter, this is important because we get the white screen of death on chunk load failure

I'll be working on the PR to help mitigate, this week

[2020-08-03 15:53] cannikin commented on #911
@noire-munich Could you try replacing it with "native"? I'm not sure who changed what (Netlify or Prisma) but it seems like manually setting the binaryTarget manually isn't required any longer...@thedavidprice and I both changed ours and deploys worked fine, we'd love to get a confirmation from someone other than us!

[2020-08-03 15:55] cannikin commented on #784
Done!

[2020-08-03 16:16] thedavidprice opened #930 "Update GH Action for Netlify Deploy to also trigger when `*.md` files up updated via push"
Some docs are shared between this repo and the `redwoodjs.com` repo. Currently, the Netlify Deploy action only triggers when a new version is published. This should be adjusted to also trigger when markdown files in `main` branch are changed via `push`.
https://github.com/redwoodjs/redwood/blob/6d4f455ae7a242e9fa42b24c62b7943960924a30/.github/workflows/netlify-build.yaml#L4-L9

[2020-08-03 18:15] hemildesai commented on #881
Closing this since the PR has been merged.

[2020-08-03 18:15] #881 closed

[2020-08-03 18:43] dthyresson commented on #806
Some comments with setting `roles` in `app_usermetadata` with Auth0 ...

1. You can create and manage roles within Auth0

![Screenshot 2020-08-03 14 30 28](https://user-images.githubusercontent.com/1051633/89215651-06422e80-d597-11ea-80f6-171c5b6a08ea.png)

2. You can assign roles to users there as well

![Screenshot 2020-08-03 14 31 25](https://user-images.githubusercontent.com/1051633/89215718-2

[2020-08-03 19:09] dthyresson commented on #806
Correction.

In order for the app and user_metadata to be on the decoded token in Auth0, the rule *must* set this to the `accessToken` not `idToken`.

This means the rule is:

[code]

[code]

[2020-08-03 19:10] peterp opened #932 "Determine extension of default "css" file in Storybook"
We've pinned on "index.css", but we should support "index.scss" and "index.sass".

https://community.redwoodjs.com/t/replacing-index-css-with-index-scss-and-storybook-issue/993/3

[2020-08-03 19:24] hemildesai commented on #926
Closing since the PR has been merged.

[2020-08-03 19:24] #926 closed

[2020-08-04 00:39] RobRoseKnows opened #933 "yarn create redwood-app looking for creat-next-app?"
I'm trying to follow along the tutorial but I'm getting an error when I try to run the command `yarn create redwood-app ./redwoodblog`:

[code]
It seems to be looking for `create-next-app`? Is that a peer dependency of redwood? I thought at first this was a problem with my yarn being installed separately from `asdf`, but that's not it since reinstalling yarn as an NPM package didn't resolve it.

w

[2020-08-04 07:16] noire-munich commented on #911
@cannikin argh, wish it was that simple.

I changed to `native` on the **demo** project: deploy still doesn't work ( this one has `dataMigrate` command in the `build` command and a typescript `db` file ).

Now I've changed to `native` also on my **main** project and it's still running smoothly. I didn't have any update code to deploy - but if in my next deploys I have issues I'll report here.

Eit

[2020-08-04 10:37] Jaikant commented on #217
@narciero Nextjs was not conceptualised for the CDN when it was created, it was born on the server. It can live on the CDN *now*, as an after thought. Which implies many of the design decisions in the code base *may not* be optimised for the CDN use-case. I don't think it appropriate to pull in any sort of technical debt for a high potential, shiny framework like redwood.

I am not familiar with t

[2020-08-04 13:13] dthyresson commented on #806
@peterp When adding `hasRole` to the private route, do you think there should be an option to define a `forbidden` or `not_permitted` page (similar to the `unauthenticated`) to route when the user is authenticated, but not allowed? Or simply re-use the `unauthenticated` page for now?

[code]

[2020-08-04 13:32] csellis opened #934 "Running Prisma Studio corrupts database"
I ran Prisma Studio on my dev database and it corrupted my local db.

[code]

[2020-08-04 13:54] peterp commented on #934
Hey @csellis, the studio command is experimental, and I guess we need to make that more explicit, would you mind searching for or opening an issue on Prisma's repo [over here](https://github.com/prisma/prisma)

[2020-08-04 13:58] peterp commented on #933
Weird! We don't use `create-next-app` anywhere; do you have create-next-app installed? Maybe this is a problem with yarn.

[2020-08-04 14:30] csellis commented on #934
Sure

[2020-08-04 14:30] #934 closed

[2020-08-04 16:24] thedavidprice commented on #933
Woah, super weird indeed. Thanks for letting us know @RobRoseKnows. We haven't seen this one before.

`yarn create` does install globals. Maybe try:
- `yarn global list`
- then `yarn global remove <package>` for anything related to next or redwood

And/or something could be jammed up with [yarn create](https://classic.yarnpkg.com/en/docs/cli/create) (even a bug in current version). Might be worth

[2020-08-04 16:46] thedavidprice commented on #933
I did a quick check installation of Redwood. Interestingly, I saw some `yarn` warnings for other global packages installed via `yarn create ...`. However, there were no errors and the installation completed successfully.

I then did `yarn global remove <package>` for the packages that produced the errors, and then next time I ran installation it was clean. So it seems Yarn Create is also doing som

[2020-08-04 16:50] cannikin commented on #911
@noire-munich Okay I renamed `db.js` to `db.ts` and am getting the same error.

@peterp You can use my sample repo here: https://github.com/cannikin/prisma-native Try to run `yarn rw dataMigrate up` to get the error.

[2020-08-05 00:37] RobRoseKnows commented on #933
So it's no longer looking for `create-next-app` but it is failing with:

```An unexpected error occurred: "ENOENT: no such file or directory, chmod '/home/rob/.asdf/installs/nodejs/12.13.1/.npm/bin/create-redwood-app'".```

I think this is an issue with yarn though, so I'm creating an issue in it.

[2020-08-05 01:33] awey95 commented on #915
I would like to try my hand at this since it's tagged as `good first issue`. This is probably simple since you left it unfinished but I'm not exactly sure what it is I'm suppose to be fixing. I installed the extention, created a new RW project, opened up VSCode but I do not see any of those icons.

[2020-08-05 02:28] jtoar commented on #915
Hey @awey95 glad you're excited to start contributing! :rocket: There's actually a PR (#935) aiming to close this one out. You're more than welcome to get in touch with @forresthayes over there. Every PR always has a ton of discussion around it, and adding to the discussion around a PR _is_ contributing!

But if you're looking to champion an approachable issue, might I suggest https://github.com/r

[2020-08-05 02:51] awey95 commented on #915
Hey @jtoar I'll take a look at the discussion for #935 and also see if I'm capable of working on #912. Thanks for the encouragement. :)

[2020-08-05 03:12] awey95 commented on #912
Could I be assigned this issue?

[2020-08-05 07:31] peterp opened #936 "Add option --inspect dev-server"
When you run `yarn rw dev` we launch two processes:

1. webpack dev server
2. redwood dev server

[code]

I would like to have the ability to pass `--inspect` in the dev-server: `yarn rw dev api --inspect`

[2020-08-05 07:34] peterp commented on #936
I _really_ think this stems from the issue that we don't yet have a decent story for passing arguments to the sub-commands. `--forward` is sort of there, but not exactly working in a nice way:

1. --forward should only be usable when you specify a side.
2. it would be great if we didn't have to wrap it in strings.

I wish we could do the following `yarn rw <command> <arg> <arg> -- <get everything

[2020-08-05 08:38] peterp commented on #912
Hey there @awey95;

I wanted to clarify the issue here. When you create a new redwood project and open the GraphQL playground:

[code]

Go to http://localhost:8910/.netlify/functions/graphql/
![image](https://user-images.githubusercontent.com/44849/89390508-1c6efc80-d707-11ea-8906-d2778e957ce1.png)

You'll notice that the address (in GraphiQL) is incorrect.

It should either be:
![image](https://u

[2020-08-05 09:02] awey95 commented on #912
I'm a bit confused. Could you explain to me the use case of this please?

Why would someone use a url other than `localhost:81911/graphl` to get access to the playground?
Why would someone have one url in the address bar and a different one in the GraphiQL playground?

[2020-08-05 09:22] peterp commented on #912
Vercel uses `/api/*` instead of `/.netlify/functions/*`. It's conceivable to me that people would want to use either address URI to access the GraphiQL playground.

It's none obvious when this isn't working properly. I know I've personally spent a bunch of time trying to figure out WTF is going on when this broke.

I think it's because you might have a GraphQL server on one address, but the abilit

[2020-08-05 09:45] dac09 commented on #936
What do you think of a separate command `yarn rw dev:inspect` or `yarn rw debug` instead? Might give you more room to change things!

[2020-08-05 12:15] hemildesai commented on #923
I looked around a bit and found https://github.com/saikat/react-apollo-starter-kit/issues/20#issuecomment-316651403

I tried it out and haven't run into this issue again. It would be nice to use this fix at https://github.com/redwoodjs/redwood/blob/main/packages/core/config/webpack.development.js#L23

[2020-08-05 12:16] peterp commented on #923
Awesome! Thanks for finding that - would you mind contributing it?

[2020-08-05 12:37] dac09 commented on #893
Closing this issue as #929 will prevent the white screen of death now! Going to add some more functionality to this later

[2020-08-05 12:37] #893 closed

[2020-08-05 13:10] peterp commented on #893
Death to the white screen of death!

[2020-08-05 13:40] peterp commented on #806
@dthyresson Sorry, I only saw this now. I like the option of been able to say "you are authenticated, but you lack the rights to access this page."

My concern is also that someone might redirect you away from the unauthenticated page if you are authenticated; which could lead to some crazy redirect loops.

Maybe we can add a search flag to the redirect; `?forbidden=true` and a person could figure

[2020-08-05 13:47] dthyresson commented on #806
No problem @peterp.

Just to clarify, does that mean you would like a:

* dedicated `Forbidden` page like `notfound`
* reuse `unauthenticated` and send to any page, like a custom `ForbiddenPage`
* add `forbidden` prop that acts like `unauthenticated` buts sends to its specified page if `hasRole(role) == false`

FYI - I have a working implementation in https://github.com/dthyresson/redwood/tree/dt-

[2020-08-05 14:44] peterp commented on #806
Amazing!

I like this, but maybe we could add `/link-to-unauthenticated-page?reason=forbidden` or `?reason=incorrectRole`

[2020-08-05 15:06] peterp commented on #806
Does that make sense or seem a bit gross?

[2020-08-05 15:10] dthyresson commented on #806
@peterp I just wrote up docs and actually got the Private route tests working so I am going to add a PR that way we can track these changes there.

Not sure if gross or not ... I think I will have to implement.

Part of me doesn't want to tell people why the cannot do something (hacking) and if I have a custom Forbidden page per Private routes, I can customize my message there as needed.

Like, "Y

[2020-08-05 15:39] dthyresson commented on #806
Moving discussion to PR https://github.com/redwoodjs/redwood/pull/939

[2020-08-05 16:39] hemildesai commented on #927
Another issue is that when you sign out in one tab and the token is cached in another, you might be able to make authenticated requests in the other tab until it is refreshed or the token expires.

[2020-08-05 21:40] awey95 commented on #912
Hmmm...

Why does setting the playground endpoint do nothing? You can pass any value in and when you rebuild, and start your RW app and head over to the playground, the endpoint value remains unchanged, as if you didn't configure it.

I decided to test the playground endpoint out on a new nodejs project. Installed and configured ApolloServer with a playground endpoint set to `/dev/graphql` and the

[2020-08-06 08:04] peterp commented on #936
Those both seem like reasonable suggestions, I really like the idea of a `debug` command that we could expand to include "more sides", but that right now would only target the api side.

[code]

[2020-08-06 18:31] cannikin opened #941 "Add React.forwardRef to input fields"
Right now there's no way to add a `ref` to one of the form helper inputs, it gets lost because it's not forwarded. Someone did PR a `forwardRef` for the `<Submit>` tag, but none of the others have it.

Reference: https://reactjs.org/docs/forwarding-refs.html
Submit Tag: https://github.com/redwoodjs/redwood/blob/main/packages/forms/src/index.js#L262-L264

[2020-08-06 18:46] shivamsinghchahar commented on #624
We can display a warning saying that the `AuthProvider` already exists, or use `--force` flag with the generator that resets the existing `AuthProvider`

Here's an example of how Ruby on Rails handles this scenario

This is the warning I get when I try to create a `User` model that already exists

Running the generator again with `--force` will reset the existing model, i.e. It removes the code th

[2020-08-06 18:56] aldonline commented on #936
Glad to see we're getting to debugging :)

A few notes on debugging:

# Sourcemaps

In order for any kind of debugging to work, one of the most important requirements is that sourcemaps for all the sources that end up participating at runtime (both client and server) are present and correct (and correctly linked/made available to the runtimes). Most compilers and bundlers tools such as webpack pro

[2020-08-06 20:02] cannikin opened #942 "Failing dataMigrate should exit(1)"
If data migrations fail when running `yarn rw dataMigrate up` there should be a `process.exit(1)` somewhere after the errors are reported to the console/listr so that any build process (like Netlify) blows up and doesn't continue to publish new code.

[2020-08-07 01:24] aldonline opened #943 "Improve SDL <--> Service parameter type checking"
Problem:
* SDLs are defined in GraphQL and the services that implement them are defined in JS/TS. This creates potential for errors that are hard to debug

State of the Art:
* The Language Server currently supports detecting some common errors: missing implementations, and certain parameter mismatches

The following image shows a case where the design-time checking works correctly: It alerts the u

[2020-08-07 07:54] aldonline commented on #943
In the meantime, it is best if we disable this error altogether. See #944.

[2020-08-07 22:31] Tobbe commented on #896
Another thing that's not working because of how RW does imports is JSDocs

With a relative import I get this on hover
![image](https://user-images.githubusercontent.com/30793/89693289-67a72c00-d90e-11ea-9f13-335f7dc03b16.png)

With RW imports all I get is this
![image](https://user-images.githubusercontent.com/30793/89693064-ae485680-d90d-11ea-8c89-2b9be977a455.png)

Given how many awesome/helpful

[2020-08-08 08:33] peterp commented on #896
Hey Tobbe,

This type of DX is an area that really matters to us, so thanks for bringing this up, we're going to fix all of these.

There are really three magical things at play here. I'll explain how they work and give guidance on how one can opt-out if you don't like the behaviour, but I fully expect to make the experience "VSCode compliant" in the near future. Along with the TypeScript work tha

[2020-08-08 09:40] Tobbe commented on #896
Thanks for the detailed response 👍

❤️

That screenshot I posted was from the RW framework project. I haven't touched any of the {j,t}sconfnig.json files. But I just went and looked, and it does not seem like these aliases are specified.

This is really nice!

[2020-08-08 09:59] hemildesai commented on #431
I tried this with the latest version of `zip-it-and-ship-it` for AWS Lambda and it seems to have worked out of the box. I did not have to make any changes to the zip folder and I used `handler: graphql.handler` in `serverless.yml`. Looks like the binaries and schema are now included in `node_modules/.prisma/client/` in the bundled function.

[2020-08-08 10:06] peterp commented on #431
@hemildesai That's amazing, would you mind sharing the steps that you took to make that work? It would be really awesome to have a deployment strategy for aws lambdas.

[2020-08-08 10:12] peterp opened #947 "Deployment Targets tracking issue"
We want to deploy to all the things. Write once, learn once, run everywhere.

# Serverless Function Providers

- [x] Netlify Status: working
- [x] Vercel: Status working
- [x] AWS Lambda: Status [working](https://github.com/redwoodjs/redwood/issues/431#issuecomment-670853186), need to document steps and figure out how to make it seamless
- [ ] Azure functions Serverless
- [ ] Google Cloud Function

[2020-08-08 10:22] hemildesai commented on #431
I just followed all the steps mentioned in the description except for `Changes to zip file generated by zip-it-ship-it :zip-it-ship-it doesn't package the binary target and schema.prisma file, could be related to this issue` and then changed the one line in `serverless.yml` from `handler: dist/functions/graphql.handler` to `handler: graphql.handler` since `graphql.js` now lives in the root of the

[2020-08-09 17:44] turadg opened #951 "[usability req] Schema fields that have a default should not be required"
When I created this model,
[code]
the resulting scaffold was,
[code]
Redwood was smart enough to omit the `id` but not the `takenAt`. While `takenAt` has a default, there's no way to express whether it is allowed to be specified at creation time so I think it makes sense the the field is included in `CreateMeasurementInput`, but I think it shouldn't be required with the `!`.

For my particular use

[2020-08-09 18:21] #868 closed

[2020-08-10 10:25] Tobbe opened #954 "Can't get Storybook working (Windows issue?)"
On a fresh install of RW 0.15.3, when I try to run storybook I get the following output

[code]

Looking in my node_modules folder I can't find the `generated-entry.js` file at all
There's something funky going on with `edwood♂153websrc`, kind of like it originally was `\redwood\v153\web\src` or something (which looks like a semi-valid Windows path) and then it interpreted the Windows path-separat

[2020-08-10 16:26] #942 closed

[2020-08-10 18:11] #806 closed

[2020-08-10 18:35] peterp commented on #923
Closed by #940

[2020-08-10 18:35] #923 closed

[2020-08-10 18:46] peterp commented on #954
Ah man, this is complicated... I'm not having issues with Storybook at the moment (on OS X).

It looks like something breaks in the build step here.

[2020-08-10 18:47] peterp commented on #954
This looks somewhat related, but I haven't followed the thread yet: https://github.com/storybookjs/storybook/issues/9937

[2020-08-10 20:13] Tobbe commented on #954
Took a quick look at that thread. So if we're lucky it's solved in the latest 6.0.0 RC. But 6 is a new major, and I have no idea what breaking changes they might have introduced...

@peterp If you give 6.0 a go on OS X and it works, I can try on Windows too

[2020-08-10 20:39] #586 closed

[2020-08-10 23:44] alvincrespo commented on #941
@cannikin More than happy to help out here. I'll put together a list and break out some PR's for each. Does that sound like a good path to you?

[2020-08-11 01:04] alvincrespo commented on #941
Ah! I see - there is already a PR for this. Will look at some other issues.

[2020-08-11 08:30] Tobbe commented on #954
That timing! <3

![image](https://user-images.githubusercontent.com/30793/89875467-926adc00-dbbd-11ea-9941-eaba278166e4.png)

[2020-08-11 09:16] Tobbe commented on #954
I tried upgrading to v6.0.0, but still have the same error. But, as I said, I don't know what breaking changes they made between v5 and v6 that might affect us. So please do try to upgrade on OS X first, and I'll try again on Windows

[code]

[2020-08-11 09:54] peterp commented on #954
This part seems interesting: Chokidar is what we, and a bunch of other people, use to watch files. Maybe something blocked it?

[2020-08-11 10:08] Tobbe commented on #954
Yeah, I googled that error, and the recommendations on how to solve it are all over the place, but most of them come down to npm issues with one installed package or another. I don't have a local package repository set up. So I can clear caches, re-install, etc, but it's all going to be for RW 0.15.3 then, unless you push a canary release with SB 6

[2020-08-11 14:02] peterp opened #957 "Rename 'diagnostics' to 'check'"
Hey Aldo,

Had a suggestion from @schickling that diagnostics is a rather difficult command to spell, and I agree, he made a suggestion to rename it "doctor" which I really like, thoughts?

An example of this is `brew doctor`.

## TODO

- [ ] Alias `diagnostics` command to `check`.

[2020-08-11 16:16] thedavidprice commented on #957
I'd prefer to keep diagnostics and alias to something like `diag` or (I haven't checked namespace if possible) even just `d`.

[2020-08-11 16:23] mojombo commented on #957
What about `check` or `verify`?

[2020-08-11 17:30] Rosenberg96 commented on #951
Related issue: #766 - also an open forum post on exactly this: https://community.redwoodjs.com/t/scaffold-and-default-values/1026

[2020-08-11 21:14] Tobbe commented on #957
`d` is already used as an alias for `destroy`

[2020-08-11 22:10] Tobbe commented on #954
As I said - solutions to this problems are all over the place. So I've tried disabling anti-virus and anti-malware software, I've tried clearing the yarn cache, and I've deleted yarn temp directories. So far nothing has made any difference.

Tomorrow I'll try to go through the storybook tutorial to see if I can get SB working on its own, without RW thrown in to the mix

[2020-08-11 22:40] thedavidprice commented on #951
@turadg @Rosenberg96
Thank you both for communicating here and moving this one forward. It definitely needs some momentum, which I'll also try to give a boost. Here's my plan:
- I'm going to close this out in favor of #766
- I'll add some content from here and links to #766 as well
- Rob is effectively the lead on the Scaffold, I'll nudge him
- give his direction, I'm going to ask if either of you

[2020-08-11 22:40] #951 closed

[2020-08-11 22:47] thedavidprice commented on #766
Looping in @Rosenberg96 and @turadg from #951 (related to Scaffold, but the same topic about generated code).

And also adding this relevant Forum thread: https://community.redwoodjs.com/t/scaffold-and-default-values/1026/3

@cannikin please take a look at this issue:
- do you still think your comment above about a solution is a good approach? And would there be any different between handling the

[2020-08-12 01:36] cannikin commented on #766
Yep I think it should still be good to go.

We're ignoring fields with certain names here: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/sdl/sdl.js#L50

We should just make that check more robust and rather than a hardcoded list, be smart about the fields and their contents. If it's the ID column, we're not going to be setting that manually, and if the column ha

[2020-08-12 04:36] peterp commented on #954
Strange! Have you tried rebooting?

On Wed, Aug 12, 2020, 12:10 AM Tobbe Lundberg <notifications@github.com>
wrote:

[2020-08-12 05:54] thedavidprice commented on #941
@alvincrespo it's been awesome to see you jumping in! Let me know if you need any help getting oriented and/or finding your groove. I'd be happy to sort through some areas/issues that desperately need TLC and focus. Especially if you now TypeScript 😉

Feel free to DM me or start a thread on the forums and loop me in. I’m `@thedavid` https://community.redwoodjs.com

No worries or pressure. Carry on

[2020-08-12 07:14] Tobbe commented on #954
No, I actually hadn't. But this morning I woke up to a rebooted computer (forced windows update 😡).
So I tried just now, and it's still giving me the same error message

[2020-08-12 09:05] peterp commented on #957
Given the destructive nature of `destroy` we should consider aliasing it to something like `rm` instead of `d`.

[2020-08-12 09:18] peterp commented on #954
Does this `'C:\DumpStack.log.tmp'` file contain anything interesting?w

[2020-08-12 09:28] Tobbe commented on #954
I don't know, since I can't read it 😄

[code]

Tried with a regular filemanager as well, but no luck

[2020-08-12 09:34] Tobbe commented on #954
Neither Resource Monitor nor Process Explorer finds anyone holding a file lock on that file though 🤔

[2020-08-12 09:40] peterp commented on #954
Weird, I don't suppose you can remove it either?

On Wed, 12 Aug 2020 at 11:34, Tobbe Lundberg <notifications@github.com>
wrote:

[2020-08-12 09:49] Tobbe commented on #954
No, not even as admin

[code]

[2020-08-12 10:17] Tobbe commented on #954
So, I did manage to remove the file. So now I get this error message instead 🙄
[code]

[2020-08-12 13:25] Tobbe commented on #957
I like that it's so easy to remember the aliases used by the rw cli, so I'd prefer to keep it as `d`. But I agree that it's very destructive. How about a confirmation step? "Are you sure you want to delete the <entity-type> <entity-name>? This can not be undone."

[2020-08-12 13:35] Tobbe commented on #957
I'd love to PR the confirmation if that's something you'd want. Should be easy to get going with https://www.npmjs.com/package/yargs-interactive

[2020-08-12 18:32] thedavidprice opened #961 "NotFoundPage incorrectly gives 200 status error instead of 404"
Because Redwood is a single-page app, the built-in 404-page `web/src/pages/NotFoundPage/NotFoundPage.js` is handled by WebPack as a "normal" page, i.e. it's optimized and becomes a part of the `dist/static/js/…chunk.js` files during build. This can/could be problematic because it results in a 200 http status code for the 404 page and it also requires JS.

This seems like a good opportunity to take

[2020-08-13 01:07] thedavidprice commented on #750
Done! (release v0.15)

[2020-08-13 01:07] #750 closed

[2020-08-13 01:07] thedavidprice commented on #688
Done! #958

[2020-08-13 01:07] #688 closed

[2020-08-13 07:29] Tobbe commented on #954
Storybook on its own work just fine

![image](https://user-images.githubusercontent.com/30793/90106176-56fc1900-dd47-11ea-88d7-6131fc7cdd2e.png)

So it is something specific to RW itself, or my setup in the project I'm trying to use it

[2020-08-13 21:02] cannikin opened #963 "Authentication: Expose the Netlify Identity Widget's 'signup' functionality"
https://github.com/redwoodjs/repeater-issues/issues/2

[2020-08-14 08:48] peterp commented on #963
We can append it to this PR: https://github.com/redwoodjs/redwood/pull/783

[2020-08-14 08:50] peterp commented on #957
@Tobbe I don't really find `d` to be an immediately obvious a choice for destroy, but I for this issue it looks like we're going to either rename the command to `check` or alias it to `check`.

[2020-08-14 08:52] peterp commented on #954
Oh man, I was worried that it was us...

[2020-08-14 16:22] Ako92 commented on #784
https://github.com/redwoodjs/redwood/pull/964
Please check this Pull Request

[2020-08-14 18:42] dthyresson opened #965 "Auth / RBAC and graphql-shield"
@liberatiluca In https://github.com/redwoodjs/redwood/issues/806#issuecomment-656238898_ brings up [graphql-shield](https://github.com/maticzav/graphql-shield) which "helps you create a permission layer for your application".

While Redwood services would want to protect each with the `requireAuth()` or `requireAuth({role: 'admin'}` it would be useful to protect at the GraphQL-layer as well.

He p

[2020-08-17 23:54] redbar0n commented on #217
For reference, I'll add to @narciero's NextJS-list, some of the benefits unique to SSR in general:

- Fallback and incremental regeneration, to update pages for the CDN on-demand
- CMS preview support (without the CMS provider having to implement it themselves, f.ex. using CSR)
- Application shell with some minimum data (f.ex. a header with user info)
- Social sharing tools (if the rendered app sh

[2020-08-18 15:07] hemildesai commented on #947
Hey @peterp, I'm interested in deployments and have some experience with infrastructure and cloud providers. So I'd love to get involved and contribute towards adding multiple deployments to redwood. Let me know if there are any such opportunities.

[2020-08-18 18:59] cannikin opened #968 "Generators: Add deployment generator"
Generate deployment files/options for Netlify and Vercel.

[2020-08-18 23:14] #968 closed

[2020-08-19 00:56] thedavidprice opened #970 "Diagnostics CLI: Add "Success" output message when no errors found"
Currently, the CLI diagnostics command does not return output when no warnings or errors are found. Example:
[code]

This can cause confusion as to whether anything was run at all and if the project is ok. Improved output may include:
- count of checks run/completed
- count of warnings found
- count of errors found
- 🏆 if everything is good

[2020-08-19 01:02] thedavidprice opened #971 "Diagnostics: add check for .env or .env.defaults"
A developer reported problems due to their project not having a `.env` or `.env.defaults` file. Based on experience with other frameworks, the developer assumed those were example files and unnecessary. However, in a Redwood default installation, the `schema.prisma` file requires a `DATABASE_URL` env var. If not found, the dev server will fail and deployments will fail.

@aldonline Do we have the

[2020-08-19 05:54] #941 closed

[2020-08-19 08:41] #794 closed

[2020-08-19 12:47] peterp commented on #947
@hemildesai Amazing, let's chat! Could you ping me on Discord?

[2020-08-19 13:27] peterp commented on #431
I've just chatted with @hemildesai and we've come up with some concrete steps for adding AWS deployments using the serverless frameowork.

## Add a deployment generator (1st PR)
- [ ] `yarn rw generate deploy aws-serverless`
- [ ]  Check if `serverless` is installed. They recommend that it's a global installation. If it isn't raise an error and ask the user to install it.
- [ ] Install zip-it-and-

[2020-08-20 05:46] brianraila opened #974 "Using Existing GraphQL endpoint."
Is it possible to use Redwood with an already existing GraphQL endpoint or using a service such as Hasura or FaunaDB?

[2020-08-20 13:37] arthurflachs opened #975 "Prompt asking for migration name is missing"
According to the [getting started guide](https://redwoodjs.com/tutorial/getting-dynamic), running `yarn redwood db save`.

The prompt is currently missing, I think due to [this commit](https://github.com/redwoodjs/redwood/pull/691/commits/d5a8f2a07a68a134e727f8e4784bbe9a2bafb203).

Removing the default `'migration'` value locally got the prompt back.

[2020-08-20 17:19] aldonline commented on #970
Good idea :).
Some notes here:
* Diagnostics isn't catching all potential errors. So no diagnostics doesn't mean that everything is ok. It just means that the few tests that we have added so far are passing. This should be captured in the wording so developers don't end up with a faulty mental model, banging their heads on the wall
* There are errors that are reported by other tools (like the TS c

[2020-08-20 17:27] jtoar commented on #975
@arthurflachs You're exactly right. I need to look at this in a little more detail, but I think we have to have `default: 'migration'` for `yarn rw test api` not to hang.

Note that you can still provide a name for your migration. For example:

[code]

But you can also not, and it'll just be called 'migration'.

[2020-08-20 19:37] peterp opened #977 "hasRole should also accept an array of roles."
A developer should be able to specify an array of valid roles in `hasRole(['admin', 'contributor'])`

Since `<Private role="" />` is backed up via `hasRole` is should also be able to accept an array.

[2020-08-20 20:08] peterp opened #978 "Remove `@redwoodjs/forms` from `@redwoodjs/web`"
This should be an optional dependency in order to reduce our overall bundle size:

## steps:
- [ ] remove it from `@redwoodjs/web`
- [ ] add it to `<project>/web/package.json`, if it's not imported it won't be included.

[2020-08-20 20:12] peterp opened #979 "Remove older browsers from browserlists target"
Right now we use "defaults" for our browserlists configuration. This means that we automatically polyfill browsers that aren't very relevant (`ie11`, and `ie11_mobile`) and it increases our bundle size.

I think we should remove support for much older browsers. We would need to let people know which browsers we support, and if supporting older browsers is a priority that they should build the pack

[2020-08-20 20:13] peterp opened #980 "Preload webpack chunks"
We already split our bundles by page and load them asynchronously, however there's a bunch of idle network time when a user is on a page. We should automatically preload pages by default and document how to skip automatic preloading.

[2020-08-20 20:14] peterp opened #981 "Setup a playground-lighthouse application to measure our lighthouse score."
https://developers.google.com/web/tools/lighthouse

[2020-08-20 21:23] dthyresson commented on #725
Both login and logout do currently accept options:

[code]

@jtoar: Is this issue that the README should note here:

[code]

That login and logout accept options?

[2020-08-20 21:30] dthyresson commented on #963
Since `login` can accept `options`, could `login({signup: true})` instead invoke `open('signup')` instead?

https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/authClients/netlify.ts#L14

[code]

Instead of adding a new "signup" to the AuthProvider?

[2020-08-20 21:32] cannikin commented on #963
Hmmm for Netlify maybe, since Sign Up and Log In are sort of just two views of the same widget, but other providers might have a totally different flow. Seems like they should both get a top-level function to me.

[2020-08-20 21:42] dthyresson commented on #963
@peterp Same as https://github.com/redwoodjs/redwood/pull/783.

Should re reuse `login` or define a new top level `signup`?

Assume that signup by default will just invoke login for those that don't have provider-specific logic (like with Auth0 universal login not certain the signup tab can be selected by default).

[2020-08-21 00:55] dthyresson opened #982 "GraphQL Function Prisma DB Disconnect Warn"
In [Primsa 2.4](https://github.com/prisma/prisma/releases/tag/2.4.0) introduced some changes to top level methods like `disconnect`:

[code]

`warn prisma.disconnect() is deprecated, please use prisma.$disconnect() instead`

https://github.com/redwoodjs/redwood/blob/main/packages/api/src/functions/graphql.ts

needs to use `db.$disconnect()`

[2020-08-21 01:08] thedavidprice opened #983 "Diagnostics: Web side env var configuration"
For env vars to be used by the Web Side in production, they must be configured with either a prefix or included in `redwood.toml`. (Docs here.) This config step is specific to serverless infrastructure and trips people up.

If possible, we should add a check to the CLI diagnostics to:
1) look in /web for process.env
2) if found, confirm either env var begins with `REDWOOD_ENV_` or is included in `

[2020-08-21 01:21] cannikin commented on #963
Is it weird to only have those providers that support a signup flow actually expose a `signup` function that you can destructure from `useAuth()`? Not sure if that's expected in JS world. Or maybe they all expose `signup` but if you actually call it from a provider that doesn't support it you just get a noop and a console message saying it isn't supported?

It feels weird to me to have a function

[2020-08-21 01:49] aldonline commented on #971
Hi David.

I love this issue. It is exactly what diagnostics are good for :)
Saving people time by making the tooling smarter.

Yes, via `DiagnosticSeverity.Warning`. See [this line](https://github.com/redwoodjs/redwood/blob/fb21e01f3a6f7b060366c2a2803fed3b871c7520/packages/structure/src/model/RWCell.ts#L81) for an example.

[code]

Yes it is possible.
As you say, it is easier with prisma since 1.

[2020-08-21 01:58] aldonline commented on #957
I like check.
Specially if we extend it to include not only the diagnostics from redwoodjs/structure, but also TSC errors, prisma errors, etc.
See [this comment] for a longer explanation (https://github.com/redwoodjs/redwood/issues/970#issuecomment-677794325)

[2020-08-22 04:34] darryl-snow opened #985 "Can't run web tests - can't find module whatwg-fetch"
Just spun up my first project, created a page, a component, and a layout and when I try to test the web side using `yarn rw test web` each test results in the following error:

[code]

The tests are just those that were generated, I didn't modify them.

If I try to install `whatwg-fetch` and try again, then I get this error:

"Cannot find module '@redwoodjs/router/dist/index' from '../node_modules

[2020-08-23 17:50] peterp opened #989 "Allow users to set a custom config for Storybook"
Right now it's not possible to merge a user's configuration with our own. It would be great if we specified a storybook config path in getPaths(), like we do over here for webpack:

https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/paths.ts#L66

And then attempt to import this over here:
https://github.com/redwoodjs/redwood/blob/main/packages/core/config/storybook/preview.js#L10

[2020-08-24 02:13] dthyresson commented on #983
I did something like this using a Netlify build plugin:

https://github.com/dthyresson/netlify-plugin-redwoodjs-env-validator

But having the diagnostic/check is excellent.

[2020-08-24 08:15] #930 closed

[2020-08-24 08:21] #983 closed

[2020-08-24 14:00] #368 closed

[2020-08-24 18:26] brianespinosa commented on #514
Just a heads up for anyone landing on this issue, sadly, it turns out I have not had the time available to tackle this that I thought I would. If anyone is interested in picking this issue up, please do so.

[2020-08-25 16:19] thedavidprice commented on #985
@darryl-snow Thanks for this! Just confirming it's on our radar. Not sure what's going on yet, unfortunately.

[2020-08-25 16:27] thedavidprice opened #1000 "Diagnostics: environment variable diagnostics enhancements"
This is a follow-up to [Add env variable diagnostics #987](https://github.com/redwoodjs/redwood/pull/987), which resolved #983 and #971

## Next Steps

- Test the logic as a user (will be in v0.17.0). Tweak the heuristics. Once we're happy with that, graduate some warnings to errors
- Refactor. The logic for visibility of env vars could be placed in a nice, testable, self contained utility.
- Add

[2020-08-25 16:29] thedavidprice commented on #971
@aldonline First off, huge thanks for this 🚀

Given the new checks/warning in #987 this seems resolved to me. Checking for the existence of these specific files is secondary to the main point, which is "Env var X is used in the code. Is env var X correctly defined and configured?" You've nailed this part.

Closing this one out. For the next steps, I've opened #1000

[2020-08-25 16:29] #971 closed

[2020-08-25 18:19] thedavidprice opened #1002 "Upgrade to Apollo v3"
As a Redwood v1 dependency, we want to upgrade Apollo (client and server) to v3:
https://github.com/apollographql/apollo-client/releases/tag/v3.0.0

Next Steps:
- identify specific breaking changes

[2020-08-25 22:48] thedavidprice commented on #653
**Update:** in conversation today with Peter P., he gave Plop a 👎

We are not specifically _unhappy_ with the current Redwood generators. However, there are two topics that keep coming up:
1. Extensibility: in the future, how to support BYOG
2. Maintainability: generator code is expanding rapidly, and things like tests are becoming 😬

Peter mentioned wanting to first explore improving the structur

[2020-08-25 22:57] thedavidprice commented on #974
Hi @brianraila If you haven't seen these already, here are some relevant docs and conversations:
- https://redwoodjs.com/cookbook/using-a-third-party-api
- https://redwoodjs.com/cookbook/disable-api-database (e.g. you just want Redwood Web to connect to existing API that's not Redwood)
- https://community.redwoodjs.com/t/building-a-minimum-viable-stack-with-redwoodjs-and-faunadb/1048
    https://c

[2020-08-25 22:57] #974 closed

[2020-08-26 00:16] dthyresson commented on #977
On the `api` side in the RBAC blog app, I chose to do something where roles could be a string or an string[].

[code]

@peterp  do you think that the `hasRole` on `web` in the AuthProvider **only** should take an array or string || array?

For example:

`hasRole(["admin"])` and `hasRole("admin")` are both permitted?

Current:

[code]

but change to?

[code]

And change logic to handle both string

[2020-08-26 00:53] thedavidprice commented on #979
Yes, please! I'd like to see:
[code]

[2020-08-26 01:09] thedavidprice commented on #970
^^ I really like this. And it feels on target with the RW v1 goal of consolidating error messaging. If we do rename the CLI command to `check`, then a specific category of checks could be "Diagnostics". It could default to running ALL checks or running a specific check e.g.
- `yarn rw check` runs all
- `yarn rw check diagnostics prisma` runs only diagnostics and prisma (not TS per your example abo

[2020-08-26 01:48] dthyresson commented on #963
Auth0 supports defaulting to Sign Up as well as Netlify.

See: https://auth0.com/docs/universal-login/new-experience

![Screen Shot 2020-08-25 at 21 37 27](https://user-images.githubusercontent.com/1051633/91244775-36ef3100-e71b-11ea-9a17-32cf695e4182.png)

Also example here:

https://community.auth0.com/t/how-do-i-link-users-directly-to-the-hosted-signup-page/42520

Note: probably want to support

[2020-08-26 02:03] dthyresson commented on #725
Will be related to Issue https://github.com/redwoodjs/redwood/issues/963 if

* login will accept not just options, but specific options for showing signup (ie `{showSignup: true}`)
* or, when `signup()` also added to AuthProvider

[2020-08-26 02:03] dthyresson commented on #963
Also see issue: https://github.com/redwoodjs/redwood/issues/725 to document login/logout options.

[2020-08-26 06:28] peterp commented on #963
My vote is for a `signUp` function, so that it feels like it matches our current `logIn` and `logOut` functions.

[2020-08-26 06:40] brianraila commented on #974
Thanks for that @thedavidprice

[2020-08-26 06:41] brianraila commented on #974
But does this mean I am not able to take advantage of "cells" in Redwood when using an external GraphQL API?

[2020-08-26 09:19] peterp commented on #977
I really like that it can take both a string and an array!

[2020-08-26 12:53] Burnsy opened #1006 "Extend currentUser Type to allow extra variables."
When the user calls
[code]
https://github.com/redwoodjs/redwood/blob/e40ffe1f85b582d04ff74fd072261ce95da8e20a/packages/auth/src/AuthProvider.tsx#L11-L48

the only thing that is typed is

https://github.com/redwoodjs/redwood/blob/e40ffe1f85b582d04ff74fd072261ce95da8e20a/packages/auth/src/AuthProvider.tsx#L11-L13

so if the user passes through any more variables such as name or email etc. then it wi

[2020-08-26 17:06] jtoar commented on #974
@brianraila A Cell will still work just fine :+1:

[2020-08-26 20:05] jtoar opened #1013 "Add back functionality to Router"
It should be easy to navigate back. Right now there's no built-in way to do this. We already use `navigate` to navigate programatically. It might make sense to add the back-navigation feature there:

[code]

The way it's done natively with web apis is via history's `back` and `go` properties. `back` does what you would expect, and `go` takes a number, so you can go back multiple pages. Do we want

[2020-08-27 14:23] dthyresson commented on #1006
Something to try might be (h/t to @peterp):

[code]

The CurrentUser should be able to have any number of user-defined attributes (id, name, email, user_metadata, etc).

But if `roles` is define, in needs to be an array of string(s).

[2020-08-27 16:49] billsaysthis commented on #684
I agree with the two part approach, the problem has bit me again today.

[2020-08-27 16:58] billsaysthis opened #1022 "Add layout param to scaffold and page generators"
Instead of automatically generating a new layout, this would allow reuse of existing layouts and avoid the need to manually update generated files. E.g., `yarn rw g scaffold model --template=AdminLayout`.

[2020-08-27 21:58] #915 closed

[2020-08-29 16:31] freddydumont opened #1034 "Feature request: Generators should have ability to rename components"
For example:

I generated a component called `Hero` for my landing page, but I realize its content is not what I need right now, but will be useful later on. I don't want to replace the code, just leave this `Hero` component aside for later, and give it a better name because there will be another `HeroSomething` component to replace it.

So, rather than renaming files and folders manually, it'd be

[2020-08-29 17:34] zwl1619 opened #1035 "Next.js 9.5 has "Incremental Static Generation",could redwood and next.js be integrated now?"
Next.js 9.5 has "[Incremental Static Generation](https://nextjs.org/blog/next-9-5#stable-incremental-static-regeneration)", could redwood and next.js be integrated now?

[2020-08-30 12:04] freddydumont opened #1036 "How to use Gatsby with Redwood in a monorepo setup?"
For many reasons, including static site generation, automatic image optimization and i18n, I prefer to use Gatsby for my marketing / landing pages. (on `example.com`)

However I definitely want to use redwood for the app itself. (on `app.example.com`)

So I'm wondering what's the best setup here.

Should I just add another "side" to my redwood app and continue working with `yarn` workspaces?
[code

[2020-08-30 12:05] noire-munich commented on #531
@chris-hailstorm thanks a lot for your solution, I stumbled upon this for days ><.
I can get it to work on the web side no problem but not on the API, odd enough as my api webpack configuration is rather thin:

[code]

Did you have any issue on any of the sides? It's working well on the web side for me.

[2020-08-31 02:04] tomitrescak opened #1037 "Destory pages does not work - "propParam is not defined""
Hi, I started with a fresh app following the tutorial. Did

`yarn rw g page abou`

Made a typo wanted to roll bck changes. Did:

`yarn rw destroy page abou`

But am getting this error:

[code]

[2020-08-31 04:16] tomitrescak commented on #234
@thedavidprice do you have any developer guidelines for adding types? Do you want to store them in one big file, or separate definitions into linked files? Do you want to keep definitions in Redwood repo, or shall it be tracked in the @types repo?

[2020-08-31 10:30] alvincrespo commented on #1036
@freddydumont This is a great question! You might get more traction on the forums here: https://community.redwoodjs.com/

I've had success there asking these kind of architectural questions.

[2020-08-31 10:35] alvincrespo commented on #978
@peterp I was thinking this might be a good one for me to start on. This would be my first technical contribution. Do you think this is good to get started on?

[2020-08-31 10:38] alvincrespo commented on #916
Hmm. I'd love to check this one one out. Where would be a good start?

[2020-08-31 10:59] peterp commented on #978
@alvincrespo Yes please, I'll assign it to you, please let me know if you have any questions.

[2020-08-31 11:00] peterp commented on #978
Here's the command that we run when you type `yarn rw storybook`

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/storybook.js

So you would:
1. Add an `--open` flag
2. Conditionally set `--ci` when the command is run.

[2020-08-31 12:17] freddydumont commented on #1036
Thanks @alvincrespo I'll try over there too

[2020-08-31 16:34] #977 closed

[2020-08-31 17:03] peterp commented on #916
Hey @alvincrespo I actually left the wrong comment in a different PR.

We start storybook over here:
https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/storybook.js#L24-L37

You would need to create a `--open` flag and then conditionally set `--ci` in this file. Let me know if you need any help.

[2020-08-31 18:59] zackmckenna commented on #982
@peterp This would be my first contribution ever, I just wanted to confirm that adding the $ prefix to disconnect is all that is required for this issue.

[2020-08-31 20:00] peterp commented on #982
Hey @zackmckenna! Welcome! 🙌

That is 100% the change we're looking for :)

[2020-08-31 20:51] alvincrespo commented on #978
Awesome! Thanks @peterp - I'll take a shot at it.

[2020-08-31 20:58] dthyresson commented on #982
Double points for updating the seeds.js in Create Redwood app?

See: https://github.com/redwoodjs/create-redwood-app/blob/main/api/prisma/seeds.js

[code]

[2020-08-31 21:18] zackmckenna commented on #982
@dthyresson Well I have go for the double points. I'm on it!

[2020-09-01 03:33] thedavidprice commented on #1036
Hi all! I took a stab at an initial question to get the conversation rolling. Closing this out for now in favor of the forums. But please do re-open or ping us if conversation doesn't move forward.

[2020-09-01 03:33] #1036 closed

[2020-09-01 14:05] #1035 closed

[2020-09-01 19:47] #982 closed

[2020-09-01 19:48] #978 closed

[2020-09-02 00:23] Albert-Gao commented on #528
Expo is good, and in terms of case you want to gain control over the native side, that is a problem for native RN as well, you have to manage it by yourselves. Maintaining those native dependencies does not only mean manage them, you have to manage the whole RN version upgrade path. If you use expo managed flow, you do not need to worry about it.

But, put that aside, I think if redwood needs to i

[2020-09-02 06:11] thedavidprice commented on #234
Hi @tomitrescak! Thanks for checking in here. @peterp is the one to provide an update as this issue is (in a good way) out of date. And your question is a bit of "it depends" 😆. For the Framework (this repo redwoodjs/redwood) we have a mix of approaches. For the application development template (redwoodjs/create-redwood-app) there's a lot more customization involved and (I believe) includes storin

[2020-09-02 08:27] CR1AT0RS opened #1053 "taillwind css generator util missing"
Hi,

I am following the docs and `yarn rw g tailwind` is not showing up in command line. Not sure why util command is missing from the cli?

❯ yarn rw --version
yarn run v1.22.5
$ /Users/XXXX/Downloads/redwoodblog/node_modules/.bin/rw --version
0.16.0
✨  Done in 1.10s.
❯ yarn rw g util tailwinds
yarn run v1.22.5
$ /Users/XXXX/Downloads/redwoodblog/node_modules/.bin/rw g util tailwinds
rw generate

[2020-09-02 10:00] peterp commented on #1053
Hey there!

This is totally a misstep on our part because this command will only be available in the next release that's coming out today:`v0.17.0`

[2020-09-02 10:08] koolamusic commented on #234
@tomitrescak I think it's okay to start out with one file for some packages, while others could use a type-per-module approach to separate the definitions. With regards to the developer guidelines, have you seen https://github.com/sindresorhus/typescript-definition-style-guide ? would love to know what your thoughts are

[2020-09-02 11:52] dthyresson commented on #725
Fixed in https://github.com/redwoodjs/redwoodjs.com/pull/333

[2020-09-02 13:04] peterp commented on #725
Thanks!

[2020-09-02 13:29] peterp commented on #1053
Until we've released it here are some docs for setting it up: https://redwoodjs.com/docs/webpack-configuration#adding-tailwindcss

[2020-09-02 15:06] amorriscode commented on #965
Great work @dthyresson! I was actually looking at this the other day hoping I could implement it at some point. I definitely think it's be nice to give people easier access to security out of the box.

[2020-09-02 15:55] dthyresson opened #1058 "Firebase Auth: Allow the user to define the `AuthProvider`"
The Firebase AuthProvider currently is set to use Google to sign in.

[code]

There are other issues about firebase and signup, but this issue specifically concerns being able to set other providers for Firebase such as:

* FirebaseAuthProvider
* EmailAuthProvider
* FacebookAuthProvider
* FederatedAuthProvider
* GithubAuthProvider
* OAuthProvider
* PlayGamesAuthProvider
* TwitterAuthProvider

and

[2020-09-02 18:55] dthyresson commented on #1058
Could a solution be to have the provider be set as an option to the login?

[code]

for example:

[code]

or if scopes need to be set

[code]

The nice thing about this is would support OAuth for Apple etc:

[code]

[2020-09-02 19:56] CR1AT0RS commented on #1053
Oh thanks! Ya I knew there was something wrong with the version. But I saw the latest version 0.16.0 so I thought maybe it's something else. Thanks!

[2020-09-02 20:06] CR1AT0RS opened #1059 "Add quickstart in Github's Readme.md to save time in starting a boilerplate."
I wanted to share one quick personal opinion on Readme of redwood.js. I love the documentation very well written. I do feel like the Github page should have a very quick install/setup steps. I had to go through tutorial to find that it was kinda not very efficient.

From the docs --->
[code]

I think we should add this in Readme.md of root Github and maybe add something like to see more informatio

[2020-09-03 06:11] CR1AT0RS commented on #1053
This was resolved since 0.17.0 is out. Closing this request!

[2020-09-03 07:07] peterp opened #1063 "Inject "HOST" into Redwood's Context"
Right now it's very difficult to tell which domain your code is running on. Usually you know this, and it's fine since you only have a finite amount of environments, but your code does not.

It would be nice if we made this available in Redwood's context.

-  [x] Netlify
[code]
I do wish this was just an env var; it's apparently available at build time: DEPLOY_URL
https://community.netlify.com/t/a

[2020-09-03 07:33] peterp opened #1064 "Add "removeDeprecatedGapUtilities: true" to generated tailwind config"
You get this warning from the folks at Tailwind, let's do the right thing and remove it in our generated configuration: https://tailwindcss.com/docs/upcoming-changes

[2020-09-03 09:52] alvincrespo commented on #916
@peterp Awesome. Going to look into this this morning

[2020-09-03 11:37] #1053 closed

[2020-09-03 12:07] thedavidprice commented on #1063
This feels like an obvious miss for Netlify and Vercel. Should definitely be a default ENV Var.

That aside, what about a redwood.toml option? The value could be added to web/ however we like including as ENV Var. Could even have different options for staging and production.

Perhaps this would work for API as well if we got fancy during build (although not exactly sure how this would work).

[2020-09-03 12:32] peterp commented on #1064
More information about this:

We generate a tailwind configuration with the following command: `yarn rw generate util tailwind`, we should modify the generated configuration to include:
[code]

[2020-09-03 12:45] #1059 closed

[2020-09-03 14:58] 10thfloor opened #1077 "yarn rw g deploy <target> fails"
OSX 10.15.4
Node 12.14
@redwoodjs/core 0.17.0

Running `yarn rw g deploy <target>` produces the following error:
[code]

[2020-09-03 15:12] 10thfloor commented on #1077
Look like `providerData.apiPackages` is undefined here:
[code]

From the file (line 109+):
[code]

[2020-09-03 16:23] dthyresson commented on #745
There is a good change that once Supabase auth support is in, by setting Prisma to use their Postgres and then using their AuthClient (which is username/password and based on GoTrue) this can give people username/password database auth.

See: https://github.com/redwoodjs/redwood/pull/1057 and https://github.com/redwoodjs/redwood/pull/1033

Will need a decent UI for the login and sign up forms to b

[2020-09-03 16:50] #1077 closed

[2020-09-04 01:03] thedavidprice opened #1080 "Proposal: Add "Paper Cuts" category to v1 Roadmap"
cc @mojombo

**Suggestion**
Add a "Paper Cuts" category to the v1 Roadmap. It will be the lowest priority; perhaps not even v1 required.

**The Why**
There is not a specific category for DX. Overall, I think the current state of the DX is in remarkable shape. But I there's another subset of minor DX issues that can be major annoyances. These can be hard to track and prioritize — for example, I per

[2020-09-04 08:58] peterp opened #1082 "[RFC] Dropping support for IE 11"
We're considering dropping support for Internet Explorer in the packages that we ship for the web:

- @redwoodjs/web
- @redwoodjs/forms

The reason for this is that we want to reduce our bundle size. We would also provide instructions on how to build your own versions of the packages if you wish to support older browsers. Microsoft is dropping support for IE 11 [in a year.](https://techcommunity.m

[2020-09-04 09:03] noire-munich opened #1083 "Recurring Prisma problems on RW upgrades."
This has happened to me at least half a dozen times through a couple of RW projects when doing `yarn rw upgrade`.
The project crashes for various reasons, usually related to Prisma ( can't recall any that wasn't ).

For v0.17.0 I ended up having this:

[code]

On @peterp 's advice I ran again `yarn rw db up`, which prompted me this:

[code]

The good ol'fashioned `rm -rf node_modules && yarn insta

[2020-09-04 09:16] peterp commented on #1083
Thanks @noire-munich!

I wonder if we shouldn't "reset prisma" after an upgrade by:
1. letting the user know that we're going to shut down the dev-server.
1. shutting down the dev-server if it's running (using kill-port)
1. deleting `node_modules/@prisma`, `node_modules/.prisma`
1. running `yarn rw db up`

I think this is something that people are going to experience fairly often!

[2020-09-04 10:01] Burnsy commented on #1082
I personally think this is a great, as I had to deal with many bugs in the past just because it does not work well on ie 11. Like local storage.

My only want would be. We could show some kind of customisable compatibility page that could tell them that they would need to vist the application on a modern browser like edge or chrome.

[2020-09-04 11:40] dac09 commented on #1082
No objections from us at Tape - its a dev product so expect people on decent browsers anyway!

[2020-09-04 17:11] alvincrespo commented on #916
@aldonline I was curious how you get the RedWoodJS panel in VSCode? Is that an extension?

[2020-09-04 17:19] alvincrespo commented on #916
Ah figured it out: [Decoupled Studio](https://marketplace.visualstudio.com/items?itemName=decoupled.studio)

[2020-09-04 18:46] Krutsch commented on #954
I am having the same issue.
Posting my error, in case that helps:

[code]

[2020-09-05 08:42] quantuminformation commented on #1082
Can't stand ie11, couldn't drop it faster IMO

[2020-09-05 21:31] thedavidprice commented on #947
@hemildesai @bcoe @kimadeline @peterp

Hi all! I'm continuing the conversation we started yesterday (minus Peter) about the current work implementing...

1. the Serverless Framework as well as
2. the Redwood Container POC...

...can be leveraged to plan deployment support on Azure (Kim-Adeline) and Google Cloud (Ben Coe).

What's the best way to move this discussion forward if not here in an Issue

[2020-09-06 06:13] peterp commented on #431
Closed by #976 and #1012

[2020-09-06 06:13] #431 closed

[2020-09-06 23:24] ryanmdoyle commented on #812
Just started poking around with redwood and saw this is a few months old. I think I could handle this. It should be in the redwoodjs.com repo so I can handle it there. Should I create a new issue in that repo or just go for it?

[2020-09-07 14:00] #745 closed

[2020-09-07 14:00] #963 closed

[2020-09-07 16:58] #641 closed

[2020-09-07 16:58] #804 closed

[2020-09-07 17:32] billsaysthis opened #1103 "[RFC] Support yarn2"
I upgraded to `yarn2` and now the Redwood scripts all fail with a variation of the `Couldn't find a script named"rw"` (or `named "redwood"`).

[code]

[2020-09-07 23:48] dnprock opened #1104 "Remove cache-and-network fetchPolicy"
I found that post-v0.12 Cell's Success function is always called twice. I trace the issue to the following change:

https://github.com/redwoodjs/redwood/pull/796

My guess is the Apollo Client will return data from the cache first and redwoodjs calls Success. Then it issues a network query and redwoodjs calls Success again. I think we should move back to using the default behavior. cache-and-netwo

[2020-09-08 00:34] kimadeline commented on #947
I'm good with anything: here, GH issue, Discord, Slack, forum, ~~Linkedin DMs~~...

Side note: I've been tinkering [Azure Static Web Apps](https://azure.microsoft.com/en-us/services/app-service/static/), which would not only host the API side (via Azure Functions), but also the front-end. I'm sure adding support for functions-only would be relatively close though.

[2020-09-08 06:57] peterp commented on #1103
I've seen a lot of interesting things coming from yarn2, my major concern is that if we upgrade to yarn2 that it should be backwards compatible with yarn1, since if it wasn't it would break deployments for a bunch of people and installing things like yarn is usually not trivial.

[2020-09-08 08:31] peterp commented on #965
We should also have a look at GraphQL modules + Auth:

https://the-guild.dev/blog/graphql-modules-auth

[2020-09-08 13:57] peterp commented on #234
I've added the type defs for the router over here: https://github.com/redwoodjs/redwood/pull/1110

[2020-09-08 17:36] billsaysthis commented on #473
+1 for this, would really improve the DX of scaffolding.

[2020-09-09 00:38] iwatakeshi opened #1111 "Installing tailwind causes app to throw"
Hi, I'm trying to install Tailwind via `yarn rw g util tailwind`. However, when I run the dev server using `yarn rw dev`, I immediately see an error message saying:

[code]

This error even occurs in a new project. It could be just me, but here are the steps that I took:

1. `yarn create redwood-app app`
2. `cd app`
3. `yarn rw g util tailwind`
4. `yarn rw dev`

Doing a little search shows that it

[2020-09-09 04:35] thedavidprice commented on #1103
Definitely +1 Peter's comment above.

I think Yarn2 offers benefits overall. However, I attempted an upgrade to yarn2 back in March, which didn't go very well given some major breaking changes. One of the unexpected obstacles is that providers like Netlify didn't support Yarn2 in the build process. That might have changed by now but should definitely be verified before putting much time into this.

[2020-09-09 04:36] thedavidprice commented on #1104
Thanks for this @dnprock! Looping in @peterp

[2020-09-09 14:50] peterp commented on #1111
@iwatakeshi Thanks for reporting this - I'm fixing this now.

@thedavidprice This should go in `v0.18.0`

[2020-09-09 14:58] divyenduz opened #1120 "redwood db save <message> fails when message has a space"
`yarn rw db save "create user"` fails with

[code]

While `yarn rw db save init` works.

I tried the Prisma commands directly,

`yarn prisma migrate save --name create user` --create-db --experimental` - fails

BUT

`yarn prisma migrate save --name "create user" --create-db --experimental` - works

Redwood can wrap the message in quotes as a workaround for now. This is otherwise a Prisma issue oth

[2020-09-09 15:18] #1111 closed

[2020-09-09 15:18] peterp commented on #1111
Hey @iwatakeshi This fix will be in the next release which will be out shortly.

[2020-09-09 15:24] iwatakeshi commented on #1111
@peterp Awesome thanks!

I saw the changes in https://github.com/redwoodjs/redwood/blob/7b3a0be4fef6edadd0c09566de6c9f6d2d6bdae2/packages/core/config/webpack.common.js#L68-L75 but noticed that there are two `options`. I could be wrong but I think there should only be one since I just tried it locally by changing the config file manually and it worked.

[2020-09-09 15:30] peterp commented on #1111
@iwatakeshi Whoops, fixed now!

[2020-09-09 18:08] thedavidprice opened #1122 "Dependabot Improvement: Auto-merge patch releases"
@peterp I suggest we consider having Dependabot auto-merge if the following conditions are met:
- patch release
- set minimum compatibility, e.g. 90%
- not a package like `core-js` that requires specific coordination

Reactions and/or suggestions?

[2020-09-09 18:32] thedavidprice commented on #947
Update: Peter and I connected about this yesterday. Near-term priority for him is TypeScript and then he'll get back to the containerization work. Once he's "ready to demo/discuss" containers, that will be the trigger for me to schedule a real-time meeting for us.

Sound good?

[2020-09-09 20:22] forresthayes commented on #812
Hey @ryanmdoyle

I think you should go for it! You're correct that the change should be to the [redwoodjs.com](https://github.com/redwoodjs/redwoodjs.com) repo. I've been making some minor docs changes recently, so feel free to reach out if you have any questions.

[2020-09-09 22:39] amorriscode commented on #1080
I'll admit, I have thought that the documentation could use a bit of massaging. Sometimes when I need to find something in the docs, I end up looking in the tutorial (didn't take notes when it happened so I don't have a solid example).

I wonder if there could be subsections in the docs. For example, there could be one for `Database` and underneath it you'd find migrations, schema relations, and i

[2020-09-10 07:17] #1120 closed

[2020-09-10 08:16] #1002 closed

[2020-09-10 09:19] peterp opened #1125 "[RFC] Bring your own GraphQL library"
Right now Redwood ships with Apollo's GraphQL client out of the box. We don't know if that will change, but we would love to give you the ability to switch to the GraphQL client of your preference.

As a user, nothing will change if you're happy with the GraphQL client! This is only for people who would want to change the client.

How does this work right now?

Right now we initialise the Apollo G

[2020-09-10 09:25] peterp commented on #1082
@Burnsy Regarding the idea of warning users that their browser isn't supported, I was thinking we can do something like this in `web/src/index.html`:

[code]

The idea would be that `id="redwood-app"` is replaced once the React stuff renders, but we could also make the rendering of the error conditional based lack of support for your browser.

[2020-09-10 09:28] peterp commented on #1122
@thedavidprice I like it!

[2020-09-10 09:46] Burnsy commented on #1082
That would work well, and also would work for other languages as the dev would define the strings and also could be heavily customized!

[2020-09-10 14:46] peterp commented on #791
Closed by #1110

[2020-09-10 14:46] #791 closed

[2020-09-10 18:37] bcoe commented on #947
👋  hello, acknowledging that I've seen this thread.

Since my initial spike on this work, I've been using [firebase hosting](https://firebase.google.com/docs/hosting). It seems like it would be ideal for running redwood on Google Cloud:

1. you deploy the react app to a CDN.
2. you deploy containers to Cloud Run (which is a platform for running arbitrary Docker containers).

[2020-09-11 05:25] peterp opened #1135 "`yarn rw` CLI is slow"
I think this is because the "commands" that it supports aren't pre-baked-in, so it's searching the distributed bundle for all the available commands every time you run it. Yuck!

Maybe there's a way that we can post-package the commands at build time so that it's not searching for new commands.

[2020-09-11 15:42] #64 closed

[2020-09-11 15:42] #1082 closed

[2020-09-11 15:43] #932 closed

[2020-09-11 17:20] peterp commented on #947
@bcoe Cool - I have a proof of concept that puts RW's API in a container for AWS Fargate. We're not far off at all.

[2020-09-12 05:08] thedavidprice commented on #1125
Wow, PP, admittedly when you first floated this idea I was 😬. But this is very elegant.

Definitely 👍

[2020-09-12 05:12] thedavidprice commented on #812
@ryanmdoyle just wanted to give another 👍 that you should just go for it. Here's the code that needs updating (no screenshot required; just markdown!):
https://github.com/redwoodjs/redwoodjs.com/blob/main/code/html/index.html

Please link to this issue when you do creat the PR so we can close it out.

And thanks in advance!

[2020-09-12 08:53] peterp opened #1143 "`merge-graphql-schemas` is deprecated, go back to `graphql-tools`"
The guild is doing some amazing things, and taking care of graphql-tools is one of them.

Docs for migrating back: https://www.graphql-tools.com/docs/migration-from-merge-graphql-schemas/

We need to replace this function: https://github.com/redwoodjs/redwood/blob/c10a296439d5f1eb8d5b81f6928586bfb1d32045/packages/api/src/makeMergedSchema/makeMergedSchema.ts#L7

I think this will allow us to suppor

[2020-09-12 11:51] guledali opened #1145 "Add devtool: "cheap-module-eval-source-map" for easier debugging the source map?"
@peterp @cannikin  @thedavidprice  Please add this line below into [webpack.development.js](https://github.com/redwoodjs/redwood/blob/main/packages/core/config/webpack.common.js)

[code]

It would help with debugging redwood app from the source tab, example screenshots below

**before**
<img width="659" alt="Screenshot 2020-09-12 at 13 49 46" src="https://user-images.githubusercontent.com/20647282

[2020-09-12 12:11] peterp commented on #1145
Hey @guledali,

We already have this over here: https://github.com/redwoodjs/redwood/blob/main/packages/core/config/webpack.common.js#L154

Are you experiencing a situation where we don't have sourcemaps in Redwood?

[2020-09-12 12:16] #1145 closed

[2020-09-12 16:36] ryanmdoyle commented on #812
@thedavidprice Thanks!  Working on it now.

[2020-09-12 17:15] ryanmdoyle commented on #812
Should be good now. Thanks!

[2020-09-12 18:03] thedavidprice commented on #680
@peterp Checking in on this one -- it seems this can now be done using MSW + 'mock' file, correct?

If so, then would there be any other action step here other than documentation?

[2020-09-12 20:17] thedavidprice opened #1147 "Adding a Test Template to Function Generator"
@peterp @cannikin @jtoar

Currently, there is no test generated alongside a Function but, given that functions are both unique and central to RW's serverless API, it seems like there should be. What should a bare-bones test cover... how should it directionally inform a developer about what's important to test?
- check for server response
- Rob, is there anything you've learned from building Repeat

[2020-09-12 20:26] thedavidprice opened #1148 "Fix Generated Service Test Template"
The current test generated for a Service does not work.
- error in dmmf.datamodel.models from `core/dist/configs/node/jest.setup.js`

We should also confirm the test itself is a good starter template.

[2020-09-12 20:32] cannikin commented on #1147
Hmmmmm the function itself is just a plain JS function, we should be able to test it however we want. I think the base generated one just returns an object with `{ status: 200 }` and maybe an empty body? The test could just test that the return contains that 200 status and DONE.

[2020-09-12 20:36] thedavidprice opened #1149 "Discussion: Tests generated along with Scaffold"
@peterp @cannikin @jtoar

Currently, `yarn rw g scaffold ...` only generates a test for the Service code. What, if any, additional tests should we consider adding:
- is anything else necessary?
- should we consider what's helpful for directionally showing/teaching how to test without adding unnecessary overhead?
- what might be the minimum functionality to be tested, e.g. ModelCells file, Service,

[2020-09-12 20:38] thedavidprice opened #1150 "Improve `yarn rw test` command"
The Test command needs some work:
- [ ] default should be run (no watch) (see #1415)
- [x] add watch (maybe with alias)
- [x] update descriptions
- [x] confirm there's an appropriate command option for CI
- [x] fix bug: error when path contains spaces #1279
- [x] update docs

[2020-09-13 08:23] #812 closed

[2020-09-13 21:53] thedavidprice commented on #1148
@RobertBroersma could use your help here if you have the time!

[2020-09-14 06:23] peterp commented on #1147
If we want to provide a decent way of testing this, then we need to provide a way to emulate, or at least document,  the event and context arguments that are passed to the serverless function.

The reason for this is because if a user wants to test "input" into the function: headers, or query string parameters, then they need to pass in the correct formats.

The consideration should be made that w

[2020-09-14 06:24] peterp commented on #1150
My suggestion would be the alias `yarn rw test` to `yarn jest`, so that all of the flags that are available in jest are also available in Redwood.

[2020-09-14 06:31] peterp commented on #419
I've been thinking a lot about this issue, and it started making a bunch more sense to me when I started using TypeScript.

I think we should strongly consider this when we introduce the concept of sides.

[2020-09-14 06:34] peterp commented on #418
@petrbela I really like the gqless.dev project! I've been thinking a  lot about it and would love a way to simplify fetching data from the GraphQL server in the long term, in the short term I think having generated types is a really decent way forward.

[2020-09-14 08:26] noire-munich commented on #1083
Hi @peterp !
Just pushed related #1155
I have testing issues on my contribs ( investigating them on another pr though ), and I'm not sure how I could test that. Meanwhile the code is fairly simple, so... what do you think about it?

[2020-09-14 14:06] jeliasson commented on #1150
I agree with @peterp. Also, `yarn rw test api` also throws an error with `URL` not being picked up in the `DS` model while `yarn jest` does not. Might be because I'm slightly behind in the the Redwood versions tho.

[2020-09-14 16:30] RobertBroersma opened #1161 "Running `yarn rwt copy ../redwood` on windows won't work"
On command prompt:
[code]
Perhaps fixable by using https://github.com/mattijs/node-rsync

On WSL:
[code]
Which is definitely a lie
[code]

All runs after rimraffing all `node_modules` and running `yarn`

Save me, @peterp !

[2020-09-14 16:32] RobertBroersma commented on #1148
@thedavidprice I guess the little hack I used has run it's course: https://github.com/redwoodjs/redwood/issues/782

While the issue I linked over there is open I'll try to find another hack. (As soon as I get my local setup working!)

[2020-09-14 18:51] thedavidprice commented on #1150
@peterp ah, that's a fantastic idea if we could pull it off. Worst case we allow a string option to pass any config similar to what we did for [rw dev](https://redwoodjs.com/docs/cli-commands#dev).

@jeliasson more likely that we're still fixing/improving some things. I updated this project board with the latest status for testing; you'll notice a few things are still busted: https://github.com/re

[2020-09-14 23:49] mohsen1 commented on #418
Types help the discovery of field in the response. If we go from usage of the response to types we lose that nice discoverability

[2020-09-15 14:41] Burnsy commented on #1125
what would the benefits be to replace apollo with something like urql if you wanted to?

https://github.com/FormidableLabs/urql

[2020-09-15 16:03] peterp commented on #1125
I think it's largely subjective, but maybe bundle size and simplicity are _really_ important to your particular use case and you don't need something as heavy as Apollo.

So, the main reason for this is to consider is that we used Apollo v2 and it took us several weeks to upgrade to v3. You might decide that there are features that are important for you and you don't want to be trapped into whatev

[2020-09-15 19:24] cannikin opened #1166 "Config: Add redwood.toml setting to disable generating tests and storybook with every generator"
Not everyone cares about tests and/or storybook so it's kind of annoying to keep creating the files every time. Let's add config options in `redwood.toml` to stop creating them during generation.

Some folks may also want to generate tests/storybook for only some component types but not others. Maybe you always want them for services, but never for pages. So perhaps there's a global config option

[2020-09-16 14:09] bennettrogers opened #1170 "PostCSS / Autoprefixer versions are currently throwing errors"
It looks like there are some issues with the combination of the most recent versions of PostCSS and Autoprefixer. New Redwood projects install PostCSS 7, and the instructions for installing Tailwind result in the newest version of Autoprefixer being installed (currently v10). There's a compatibility issue between these versions.

The current recommendation seems to be install Autoprefixer v9. This

[2020-09-16 14:18] krinoid commented on #531
@noire-munich I was able to make it work on the API side with changing root `babel.config.js` and using part of your config (thanks!):
[code]

You'll need to run `yarn add -D babel-plugin-module-resolver -W` at the root level to install required babel plugin.

[2020-09-16 14:26] RobertBroersma commented on #629
Here's a new snippet with MSW instead of Apollo's MockProvider

[code]

[2020-09-16 16:25] lobosan commented on #234
Once this is finished, maybe you can coin the term TAMStack (TypeScript, API, Markdown) :D

[2020-09-16 19:43] thedavidprice opened #1171 "Improve final "success" output during CRWA installation (low priority)"
<img width="575" alt="Screen Shot 2020-09-16 at 12 33 53 PM" src="https://user-images.githubusercontent.com/2951/93384051-645e6480-f819-11ea-8e80-d41eb7dc5e46.png">

The final output could be better:
- current color always makes me think it's an error
- it's mashed together and hard to parse

Ways to improve:
- change color to something that implies "Success!"
- add some margin (left and bottom) t

[2020-09-16 20:23] mojombo commented on #1171
Can we also list the Discourse site first while we're at it?

[2020-09-17 05:45] peterp opened #1172 "Do not wrap GraphQL handler in another handler"
At the moment we wrap our GraphQL handler in another handler: https://github.com/redwoodjs/redwood/blob/1266692489cb9f248f7c027b165bd8a59ab0a3b3/packages/api/src/functions/graphql.ts#L124-L138

We do this so that we can catch exceptions and then disconnect the database client. There's probably a better way to handling this in Apollo.

We do not want to do this anymore so that we can enable things

[2020-09-17 10:10] peterp commented on #1135
[code]

`900ms` of this time is spent on importing files. About half of this time is spent on importing `@redwoodjs/structure`:

[code]

[2020-09-17 10:53] sebastiaandekker opened #1174 "Fix webpack merge not a function error"
**Issue:** When trying to add configuration to webpack according to the 2nd format inside the [docs](https://redwoodjs.com/docs/webpack-configuration#configuring-webpack), i get the error 'merge is not a function'.

**Fix:** @core/config/webpack.common.js change `const merge = require('webpack-merge')` to `const { merge } = require('webpack-merge')`.

The other webpack config files already do this

[2020-09-17 11:21] peterp commented on #1174
Hey @sebastiaandekker, thanks for opening this issue! It seems like we got some of them, but not all of them, the last one is over here: https://github.com/redwoodjs/redwood/blob/1266692489cb9f248f7c027b165bd8a59ab0a3b3/packages/core/config/webpack.common.js#L12

[2020-09-17 11:42] #1135 closed

[2020-09-17 12:40] #1172 closed

[2020-09-17 12:59] #1037 closed

[2020-09-17 15:06] peterp commented on #957
Closed by #351

[2020-09-17 15:06] #957 closed

[2020-09-17 15:43] cannikin commented on #1149
@thedavidprice What'd we decide at the end of the meeting on Tuesday? We talked about adding settings to SKIP generating tests and storybook, but what'd we decide to do here?

[2020-09-17 19:07] bennettrogers commented on #684
I don't know if this is possible, but what if the pluralized version didn't rely on hard-to-generalize rules of English, but instead just appended some string to the model name? I'm not sure where all the pluralized version is used, but instead of trying to go from `pokemon` --> `pokemans`, could it just be `pokemon` --> `pokemonList`?

A very similar issue came up in the CRUD function generators

[2020-09-18 10:35] peterp commented on #1161
@RobertBroersma Can't you install rsync?

@Tobbe added some documentation over here: https://github.com/redwoodjs/redwood/blob/8838427d668b5762a6defd11358932e68d55a704/CONTRIBUTING.md#L45-L46

[2020-09-18 10:36] peterp commented on #1122
This was shipped, radsauce.

[2020-09-18 10:36] #1122 closed

[2020-09-18 10:37] peterp commented on #979
Done in v0.19.0!

[2020-09-18 10:37] #979 closed

[2020-09-18 23:40] rodocite commented on #1111
@peterp Can you please take a second look on the fixes here? The tailwind generator (or tailwind for that matter) doesn't seem to work in development.

[code]

Tailwind seems completely broken now starting from v0.18. Even a manual install does not work. The generator also generates:

[code]

When it should be:
[code]

I provided some info which might help w/ tracing this:
https://github.com/redwo

[2020-09-19 08:28] noire-munich commented on #1111
I unfortunately confirm: it broke my styling on latest version bump.

[2020-09-19 14:47] pepibumur opened #1182 "Something went wrong in a new app deployed to Netlify"
👋 Hi!
First of all, thanks for the amazing work on the framework and the documentation. It's very easy to get started and learn about all the RedwoodJS ideas.

I followed the tutorial and deployed my app to Netlify. Everything works fine locally, however, when I tried to access the app deployed on Netlify I get a "something went wrong" error. I've searched in the community forum and on the issues

[2020-09-19 15:30] pepibumur opened #1183 "Functions require the apiProxyPath in local development"
## Context
I followed the tutorial to create a new function. Right after creating the function, `test-function`, I went to the browser and tried to open the URL http://localhost:8910/test-function. To my surprise, the response from the function is not returned.

After reading the documentation further, I stumbled upon the `apiProxyPath` configuration, so I tried to open the following URL http://lo

[2020-09-19 23:32] M0nica commented on #920
I am planning on working on this ticket and https://github.com/redwoodjs/redwood/issues/917.

[2020-09-19 23:32] M0nica commented on #917
I am planning on working on this ticket and https://github.com/redwoodjs/redwood/issues/920.

[2020-09-20 03:09] KrisCoulson commented on #267
@RobertBroersma I really like the approach that react router v6 has taken.

The current implementation in `RW Router` and the approaches suggest in the docs leaves much to be desired.  The current implementation adds extra boilerplate when creating new pages because you have to add the layout to every `Page`.  On each page change components need to be re-rendered. This breaks down if you have an A

[2020-09-21 03:28] KrisCoulson commented on #954
Just wanted to +1 this here, different file but the same result unable top run storybook

[code]

[2020-09-21 03:59] dthyresson commented on #1183
Hi @pepibumur can you try port 8911 instead of 8910?

That is:

`http://localhost:8911/test-function` (as the screenshot shows)

instead of

`http://localhost:8910/test-function`

and see if that works?

[2020-09-21 04:01] dthyresson commented on #1182
@pepibumur Is there any chance you can share your code repo? Does the same issue occur in local dev using Firefox?

[2020-09-21 04:05] dthyresson commented on #1170
I also ran into this issue today and the solution was to downgrade to:

`"autoprefixer": "^9.8.6",`

Should:

1) Redwood upgrade to use PostCSS 8 and apps the v10 of autoprefixer?
2) The tailwind generator explicitly install `"autoprefixer": "^9.8.6",` until then?

[2020-09-21 04:21] KrisCoulson opened #1184 "useLazyQuery no longer exported from web"
It looks like in the last update `useLazyQuery`  was removed from exported methods from `web`

https://github.com/redwoodjs/redwood/commit/689ed10686f6551570c5014fc61169c484979db8

Not sure if it was intentional to remove it or oversight since it looks like it was added a little over 2 months ago.
https://github.com/redwoodjs/redwood/commit/414355960f38ef38665b903bf51e823c02576581

I have no probl

[2020-09-21 09:48] noire-munich commented on #1170
Hum the downgrade is not working for me, here's my outdated print:

[code]

RW is v0.19.0 and I had installed Tailwind through the utility at project setup.

Any chance there could be a bit more to it?

[2020-09-21 10:05] noire-munich commented on #1111
Issue might be related to #1170

[2020-09-21 11:06] dthyresson commented on #1170
@noire-munich my working configuarion is

[code]

I don't think I saw that combination in your list.

[2020-09-21 12:19] pepibumur commented on #1183
Hey @dthyresson 👋
Your suggestion worked, thanks a lot! I wonder if the documentation should state the port differences more clearly?

[2020-09-21 12:19] #1183 closed

[2020-09-21 12:21] pepibumur commented on #1182
Hey @dthyresson, the web app is at https://app.tuistpro.io, and it works locally with any browser. It's a private repository but I gave you access to [it](https://github.com/tuist-pro/app). Let me know if that helps to debug the issue.

[2020-09-21 12:48] dthyresson commented on #1182
@pepibumur I can launch the site in dev ... and see the dev "splash" page ... but you have no Routes or pages defined.

Recently, [this commit](https://github.com/redwoodjs/redwood/commit/1def1c19d180b4c0f12da239696b10dc27d0d412)

https://github.com/redwoodjs/redwood/commit/1def1c19d180b4c0f12da239696b10dc27d0d412

removed the splash page from production.

Perhaps that's causing it?

If you add a

[2020-09-21 12:49] noire-munich commented on #1170
Indeed, it moved forward on css but the svg loading is down - different issue though.
Thanks @dthyresson !

[2020-09-21 14:25] #1184 closed

[2020-09-21 14:29] peterp commented on #1170
@dthyresson Should this be closed?

[2020-09-21 14:31] dthyresson commented on #1170
Sorry, no. I closed the wrong issue. Reopening to determine the next steps:

1. Redwood upgrade to use PostCSS 8 and apps the v10 of autoprefixer?

or

2. The tailwind generator explicitly install "autoprefixer": "^9.8.6", until then?

[2020-09-21 15:24] #1170 closed

[2020-09-21 16:25] pepibumur commented on #1182
🤦 That was the issue:
<img width="196" alt="image" src="https://user-images.githubusercontent.com/663605/93793915-bb0fd800-fc37-11ea-83a9-98131c292fce.png">

I wrongly assumed that I'd get the same screen after deploying to Netlify. Thanks for your help @dthyresson.

[2020-09-21 16:25] #1182 closed

[2020-09-21 16:39] cannikin commented on #684
A quick fix could be to just compare the output of `pluralize` with the input. If they're the same (in the case of `pokemon`) then just append an "s" and continue with life as usual. We could add a warning in the console output letting the user know we did that if it happens.

[2020-09-21 18:04] peterp commented on #1182
Hey @pepibumur 👋

Let's keep this open, and change the original screen to say something along the lines of: "Hey! You'll only see it during development and will be removed from production!"

[2020-09-21 18:05] noire-munich commented on #531
Thanks for the info, @krinoid !
I got it to work on both sides as well, but it crashed my deploys ><.

My shared package is as the project's root directory and is a typescript package, locally it runs just fine but on netlify it needs to be babelled to ./dist/*.js.
It works if I commit those dist files but I'm feeling uncomfortable about this. Another way would be to modify the build command, whic

[2020-09-21 18:06] peterp commented on #1182
I would also have assumed that you should've seen a 404 not found page.

[2020-09-21 18:10] peterp commented on #531
Hey @noire-munich,

You could modify the netlify build command to also build your package:

[code]

[2020-09-21 19:32] peterp commented on #1174
Closed by #1188

[2020-09-21 19:32] #1174 closed

[2020-09-21 19:53] marccantwell commented on #190
@peterp I read your comment about mocking the Netlify Identity experience, should that include the Identity Functions like identity-signup, identity-login, etc.? When I authenticate they are triggered, but they are triggered on the latest deployed version of the function to Netlify and interacting against my prod env config which includes my prod db. Is there a way to use Netlify Dev so that ident

[2020-09-22 07:17] noire-munich commented on #531
Hi @peterp !
Thanks! I ended up doing this indeed, actually I added a script to the root `package.json` and the build command calls it.

This is very convenient for prod build, is there some sort of equivalent to modify the `dev` command? It would let me have this extra package being watched along the sides of the application.

[2020-09-22 07:31] jeliasson commented on #1171
Work in progress, but something like this @thedavidprice @mojombo?

![image](https://user-images.githubusercontent.com/865493/93854622-5fd0fa80-fcb6-11ea-86a7-b7bd8912c973.png)

[2020-09-22 07:38] peterp commented on #1171
@jeliasson That's awesome!

[2020-09-22 08:47] peterp commented on #531
@noire-munich That's something that I want to add:

In the meantime you could do something like:  https://github.com/redwoodjs/redwood/blob/b72db535c84a0656a28d1fa2dd2a9460d3bfd78f/packages/api/package.json#L41

[2020-09-22 17:28] thedavidprice commented on #1171
This is excellent! My choice is Example 2 — the layout and coloring work well and support having three sections.

### Edits
- "Need Help?" --> "Join the Community and Get Help"
- "Join our Discourse Community" --> "Join our Forums"
- "Join our Discord server" --> "Join our Chat"
- "Signup to the Newsletter" --> "Newsletter signup"
- "Want to contribute?" --> "Become a Contributor"
- "Read Introduc

[2020-09-22 20:08] thedavidprice commented on #782
note: code moved here https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/node/jest.setup.js

[2020-09-22 22:44] jeliasson commented on #1171
Thanks and good edit suggestions! 👍
While we get some more feedback, I have made the changes and created a PR with the current implementation (#1195)

**Questions**
* Would you rather have this change in a series of `console.log`'s (as before) or rendered from an [object](https://github.com/redwoodjs/redwood/pull/1195/commits/7373b0de2374383ddd5d906e0bd67bcba14efc92#diff-bb0a9e2525a05a79a2b81b652e

[2020-09-23 00:13] thedavidprice commented on #1171
@jeliasson Coolio! I'll answer these questions in #1195

[2020-09-23 06:29] KrisCoulson opened #1196 "Netlify Request must be smaller than 69905067 bytes for the CreateFunction operation"
Not exactly sure where the documentation lives so I figured here would be the next best place to leave an issue.

`netlify` deployment documentation is missing a step. When trying to deploy today I kept receiving this error

[code]

After a bunch of googling I couldn't find a real answer so I went back to the documentation. Still no luck. Luckily @cannikin has those amazing 4k godlike quality vide

[2020-09-23 20:46] AntonioMeireles opened #1204 "`yarn rw info` broken at least in MacOS"
Hi all,

just to report that ...

[code]
context: MacOS 10.15.6 (19G2021), Homebrew's zsh, rw v0.19.1 (was same in .0)

Thanks in advance and keep the **great** work!

António

[2020-09-23 22:31] forresthayes commented on #1204
confirming the bug:

macOS 10.15.6
node 12.18.2

yarn run v1.22.5
$ /.../redwood-site/node_modules/.bin/rw info
Error: Cannot access environment info
TypeError: (e || []).filter is not a function
    at /.../redwood-site/node_modules/envinfo/dist/envinfo.js:1:73314
    at async Promise.all (index 5)
    at async Object.handler (/.../redwood-site/node_modules/@redwoodjs/cli/dist/commands/info.js:32

[2020-09-23 23:24] thedavidprice commented on #1204
@forresthayes Just want to make sure I understand correctly.

1. You ran `yarn add -W envinfo` (which installed the lasted version of envinfo in your project)
2. _And_ then you were able to run `yarn rw info` successfully?

[2020-09-23 23:32] forresthayes commented on #1204
Sorry, no, I meant that the second error, from running `yarn envinfo`, was resolved after I ran `yarn add -W envinfo`. However, the original problem with `yarn rw info` persists for me.

[2020-09-24 01:03] thedavidprice commented on #1204
@forresthayes @AntonioMeireles I've merged the PR updated envinfo. Could either of you take the latest canary `0.19.2-canary.3` for a spin in your local project and report back if it resolved the issue?
- `yarn rw upgrade -t canary`
- `yarn envinfo --version` --> confirm this is v7.7.3
- `yarn rw info` --> 🤞

[2020-09-24 02:09] forresthayes commented on #1204
I upgraded to the canary version:
`yarn envinfo --version`--> 7.7.2 (?)
but `yarn rw info` worked correctly 😀

[2020-09-24 03:34] thedavidprice commented on #1204
7.7.2? Well, that's strange indeed. 🤔

But I'll take it! A fix is a fix.

Thanks again for the help, you two.

[2020-09-24 03:34] #1204 closed

[2020-09-24 03:51] #1171 closed

[2020-09-24 04:06] thedavidprice commented on #1196
Hi @KrisCoulson! Thanks for checking in about this. And if you'd ever like to help fix things like this in the future and become a RedwoodJS contributor, a couple of quick things to help:
- overview doc to help you get oriented https://redwoodjs.com/docs/contributing
- website repo with all the docs: https://github.com/redwoodjs/redwoodjs.com

### re: setting the Binary Target
Could you copy+paste

[2020-09-24 05:15] thedavidprice commented on #620
Ready to go with main now at 2.7.1 https://github.com/redwoodjs/redwood/pull/1206

https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema#prisma-schema-file-location

[2020-09-24 08:04] RobertBroersma commented on #1161
I managed to get it to work in WSL, but I have no idea how!

I'm just gonna close this as it seems like a problem with my system then...

[2020-09-24 08:04] #1161 closed

[2020-09-24 08:29] AntonioMeireles commented on #1204
(sorry lag - was sleeping - as in Europe :-) ) . yes, i can confirm too that the fix works. **THANKS**!

[2020-09-24 14:11] peterp opened #1214 "Directory named babel plugin problems not working for `.tsx` files."

[2020-09-24 15:51] peterp opened #1217 "Convert `@redwoodjs/web` to TypeScript"
The current package has type definitions contributed by @Burnsy, but we would like to convert the entire package to TypeScript.

- [x] Convert project to transpile TS and JS files. @peterp #1232
- [x] Convert `RedwoodProvider`(in progress #1291)
- [x] Convert `FatalErrorBoundary`(in progress #1273)
- [x] Convert `createGraphQLClient`
- [x] Convert `GraphQLProvider`
- [ ] Convert `FlashComponent` (

[2020-09-25 20:24] nerdstep opened #1223 "tailwind generator fails on Windows 10"
With a new installation of Redwood 0.19.1 `yarn rw g util tailwind` fails to execute on Windows 10 using PowerShell. Also tested with same result using Git Bash.

**Output**

[code]

**System info**

[code]

[2020-09-25 21:12] thedavidprice commented on #1223
My best guess is a `path` issue. Not sure if this will carry over to the new `setup` command usage in the next release.

[2020-09-25 21:49] #1148 closed

[2020-09-25 21:52] thedavidprice commented on #1149
Per discussion, we're going to leave this as is --> Service file test will be generated only. We are not going to add additional tests for the components.

[2020-09-25 21:52] #1149 closed

[2020-09-25 21:54] thedavidprice commented on #603
See https://github.com/redwoodjs/redwood/issues/1149

The decision is to leave as is --> CRUD generated components tests would be redundant to purpose.

[2020-09-25 21:54] #603 closed

[2020-09-25 23:12] thedavidprice opened #1224 "improve generated Service test template"
@RobertBroersma @peterp

The current generated Service test is not actually testing the generated Service code (i.e. not even if it exists):
[code]

**Given the recent MSW integration with test DB, could we update this to at least be meaningful?**

And we do have two cases to consider if we'd like to handle both distinctly:
1. `yarn rw g service post` (no CRUD)
[code]
2. `yarn rw g service post --

[2020-09-26 07:58] RobertBroersma commented on #1224
I wrote this test a while ago in my playground repo to see if all our testing capabilities work well. I think it would cover everything for the CRUD case:

[code]

For the non-crud I guess we could just take the first test?

[2020-09-26 15:31] thedavidprice commented on #1147
@peterp let's attempt to loop back to this after the move to "express handlers" is complete (which will likely open us up to use more existing test tooling).

For the near-term, here's @RobertBroersma suggestion for a simple status return test:
[code]

[2020-09-26 22:20] KrisCoulson commented on #1196
@thedavidprice for sure I am looking forward to contributing. Actually got a baby PR merged in the other day.  To be fair this was probably on me because this was a project that I started a while ago and picked back up. So it looks like the ` binaryTargets =  env("BINARY_TARGET")` in the `schema.prisma` was the culprit. That is good to know. I can be update this to `native` to remove the `env` dep

[2020-09-26 22:20] #1196 closed

[2020-09-27 22:47] Burnsy commented on #1217
Maybe flash should be it's one module as it can be quite useful without the forms. 😌 ie for notifications.

[2020-09-28 13:57] dthyresson commented on #965
Had a quick read through https://the-guild.dev/blog/graphql-modules-auth and will likely read several more time.

The section `The Future of Authentication with GraphQL-Modules and GraphQL @directives` and that approach seems most appealing.

[code]

Where `@auth` and `@protect` could call auth's `requireAuth()` such that the method to protect a service/function would be the very same one used to

[2020-09-28 16:42] peterp commented on #1217
It's so difficult to strike a balance here, maybe we can just keep it in.

[2020-09-28 16:47] peterp opened #1230 "Replace merge-graphql-schemas with graphql-tools"
We're using `merge-graphql-schemas` which is now deprecated: https://github.com/redwoodjs/redwood/blob/e5574f9eba1578f1dc03ba30fa374e6a5083de3a/packages/api/src/makeMergedSchema/makeMergedSchema.ts#L7

Let's rather use graphql-tools/merge package:
https://www.graphql-tools.com/docs/migration-from-merge-graphql-schemas/

I think this may be required for directives to work properly.

[2020-09-29 16:40] hgareeballa opened #1239 "Error: Command failed with ENOENT: yarn install\nspawn yarn install ENOENT"
Getting below error while trying to create redwood app under windows !
node -v
v13.13.0
yarn -v
1.22.5
--
C:\myredwood>yarn create redwood-app ./redwoodblog
yarn create v1.22.5
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...

success Installed "create-redwood-app@0.19.1" with binaries:
      - create-redwood-app
  √ Creating Red

[2020-09-29 18:10] peterp opened #1240 "`Cell` appears to be showing `Loading` state after a mutation has run"
After a mutation the Loading state is shown again, even though the cache is updated optimistically.

[2020-09-30 14:42] dthyresson opened #1246 "Support Supabase Third Party Login"
Supabase [released support](https://supabase.io/docs/library/user-management/#third-party-logins
) for third party login (similar to those providers offered by Netlify Identity).

https://supabase.io/docs/library/user-management/#third-party-logins

[code]

One interesting aspect to this is that after authenticating,

The Redwood [Playground Auth](https://github.com/redwoodjs/playground-auth) has

[2020-09-30 21:08] peterp commented on #1230
We've got tests for this that'll help with the conversion:

[code]

[2020-09-30 21:13] peterp commented on #1223
We've actually deprecated the `yarn redwood generate util tailwind` command and use the setup one now instead, maybe we should just remove the command? Or make it so that `yarn rw g util tailwind` invokes `yarn rw setup tailwind` instead?

[2020-09-30 21:14] peterp commented on #1143
Duplicate of #1230

[2020-09-30 21:14] #1143 closed

[2020-09-30 21:15] peterp commented on #1239
It looks like you may need to install git

I don't know why git is a requirement, @RobertBroersma do you think this has something to do with those checks you added to the test suite? If so, I would _really_ like to remove that since it makes containerisation a bit more complicated.

[2020-09-30 21:16] peterp commented on #1104
I don't know why this wasn't on my radar. I agree. Let's get this in.

[2020-09-30 21:22] RobertBroersma commented on #1239
@peterp Not sure which tests you mean... Error seems like it's coming from `yarn install`, is that right?

[2020-09-30 21:23] peterp commented on #989
Related to #887

[2020-09-30 21:24] peterp commented on #887
I actually think this issue is now resolved.

[2020-09-30 21:24] #887 closed

[2020-09-30 21:25] peterp commented on #985
@thedavidprice Is this still hapenning?

[2020-09-30 21:26] peterp commented on #961
@thedavidprice Would we redirect the user to the notfound page when we can't find it in the router?

[2020-09-30 21:28] peterp commented on #933
@RobRoseKnows Just checking in here to see if you've managed to resolve this?

[2020-09-30 21:37] peterp commented on #1239
@RobertBroersma Ah, I'm a dumbass, I thought you had a package that checked if it the repo was in `git` or `mercurial` but I see you're just using trying to run them in a shell.

[2020-09-30 22:31] hgareeballa commented on #1239
Its working now after installing git O_o

[2020-10-01 06:04] RobertBroersma commented on #1239
@peterp I can't really tell from my Google searches if Yarn requires git or if it's because of this package: https://github.com/redwoodjs/redwood/blob/main/packages/auth/package.json#L17

Does `create-redwood-app` come with Auth out of the box nowadays?

[2020-10-01 08:19] shakti97 commented on #1013
I would like to work on the issue @peterp @jtoar

[2020-10-01 12:54] jmcmullen commented on #478
I just encountered this issue after deploying to serverless on a subdomain. Here's my solution:

[code]

[2020-10-01 14:47] amorriscode commented on #1104
@peterp I'd love to take this one on!

[2020-10-01 15:14] amorriscode commented on #624
@thedavidprice @peterp I'd be interested in tackling this one. Do we want to implement a `--force` flag that lets the user overwrite their previous `AuthProvider`? I think that sounds pretty useful!

[2020-10-01 17:05] cannikin commented on #624
@amorriscode see @mojombo's [previous comment](https://github.com/redwoodjs/redwood/issues/624#issuecomment-636183340)

[2020-10-01 23:29] thedavidprice opened #1252 "CLI: Improve Setup command to handle array of commands"
The current Yargs implementation of Setup uses the Directory Builder, which constrains passing one command at a time — additional commands are parsed as options.

- [ ] allow `yarn rw setup [options]` to take an array of commands (will require custom setup and structure)
- [ ] bonus: allow passing a path or URL as a command (might be best to break this into a second PR)

cc @jtoar

[2020-10-01 23:30] thedavidprice commented on #1252
cc @dac09
Reference Issue per our conversation yesterday about setup commands as packages.

[2020-10-02 08:59] qooqu commented on #1240
Removing fetchPolicy in withCell.js (defaults to cache-first) seems to fix it. Might cause other problems though.

Adding a beforeQuery hook in the cell is an effective workaround.

[2020-10-02 15:52] thedavidprice commented on #1104
Related #1240

[2020-10-02 16:41] aldonline opened #1256 ""Create Page" CodeLens in wrong position when first element in <Router> is <Private>"
# Expected:

* "Create Page..." should always be the first child of `<Router>`

# Actual:

<img width="814" alt="Screen Shot 2020-10-02 at 12 53 21 AM" src="https://user-images.githubusercontent.com/154884/94947745-01183780-0493-11eb-982e-1f8978878201.png">

[2020-10-02 16:45] aldonline opened #1257 "Add error diagnostic when Private.unauthenticated is pointing to a non-existent named route"
Expected:

* <Private unauthenticated="idontexist"/> should result in an error ("named route 'idontexist' not found")

Actual:

* As of rw 0.19.1, this error is not caught

<img width="492" alt="Screen Shot 2020-10-02 at 9 42 20 AM" src="https://user-images.githubusercontent.com/154884/94948343-03c75c80-0494-11eb-8169-d4d75ee5c68b.png">

[2020-10-02 16:49] aldonline opened #1258 "Add Redwood.js version to VSCode's status bar"
* Currently, the status bar only says "Redwood.js" when Redwood is detected
* It would be helpful it if also stated the detected version (ex: "Redwood.js 0.19.1"). Other languages do this (including TypeScript) and, at least personally, I rely on it constantly

<img width="343" alt="Screen Shot 2020-10-02 at 9 46 22 AM" src="https://user-images.githubusercontent.com/154884/94948648-7f290e00-0494-1

[2020-10-02 17:00] aldonline commented on #1258
@thedavidprice I think this one should be tagged "vscode"  (I'm trying to put myself in the shoes of a regular redwood user)

[2020-10-02 17:03] aldonline commented on #1257
@thedavidprice I think this one should be tagged "project-structure". The code to fix this is in "@redwoodjs/structure".
But from a user's point of view, this is experienced as a VSCode issue.

[2020-10-02 17:06] aldonline commented on #1256
@thedavidprice I think this one should be tagged "vscode". From the user's point of view, this is experienced as VSCode issue. Code-wise, this is actually implemented in the extension code (in my repo)

[2020-10-02 18:40] aldonline commented on #1258
@thedavidprice  you can file an issue to transform Redwood.js to Redwood JS

[2020-10-02 22:51] RobRoseKnows commented on #933
I never got an answer from the yarn team. Ended up installing just with NPM which worked fine. It's been a while though and I don't have time to work on the project I was planning on using Redwood for.

[2020-10-02 22:53] thedavidprice commented on #1258
@aldonline Once upon a time we started down the route of the CLI watching for new versions and messaging the user accordingly. Turns out I didn't find a simple way to "check for more recent version" at the time. Might be a good next step after this feature is implemented.

**Note**: one important implementation detail is that there are often breaking changes or code mods required between minor ver

[2020-10-02 22:56] thedavidprice opened #1259 "VS Code Extension: change `Redwood.js` to `Redwood`"
The VS Code Extension currently uses "Redwood.js" in the name and throughout the extension. All occurrences should be changed to "Redwood" (so drop the .js).

Note: I did a quick search-namespace check. Although there is such a thing as "Redwood IDE", it's low traffic and won't get in the way of VS Code Marketplace or Google Search.

cc @aldonline

[2020-10-02 23:23] thedavidprice commented on #933
This is likely an Ubuntu + Yarn Version/Installation issue and not Redwood. Closing for now. Please re-open if needed.

## Workarounds
- use a [Yarn recommended installation method](https://classic.yarnpkg.com/en/docs/install/) for your system
- ...and...
- make sure you're using the latest Yarn version (as of this writing it's 1.22.5)
- ...or...
- use `npx create-redwood-app [project-directory]`

[2020-10-02 23:23] #933 closed

[2020-10-02 23:40] aldonline commented on #1259
I fixed several occurrences in v0.0.8. Let's leave this open. If anyone finds an occurrence, please add a comment and a screenshot/link

[2020-10-03 00:38] thedavidprice commented on #478
Oh wow @jmcmullen If this isn't working for subdomains, that's a bug we need to fix! I want to make sure I understand correctly:
- if you deploy on Netlify to 'domain.com', everything works fine
- if you deploy on Netlify to 'sub.domain.com', the path is broken unless you add the webpack.config code to your project

Yes?

If so, could you please open a new issue including this code and a title lik

[2020-10-03 01:53] dthyresson commented on #1230
Note that by implementing this replacement, if directives work, then could use instead of graphql-shield to protect queries and mutations as described in https://github.com/redwoodjs/redwood/issues/965 and explained in https://www.apollographql.com/docs/apollo-server/schema/creating-directives/#enforcing-access-permissions

[code]

and also in https://www.graphql-tools.com/docs/schema-directives/#

[2020-10-03 11:42] andrewlamyw opened #1261 "VS Code Extension: Redwood Outline is empty"
## Maintainer Edit Oct. 14, 2020

----

## Original Post
I have just downloaded Redwood IDE on my Visual Studio Code but the Redwood Outline section is empty.
I have tried to restart the IDE but it does not resolve the issue.
Do I need to do anything to activate it or is it a bug?

![image](https://user-images.githubusercontent.com/11419166/94990675-8a715c00-05b0-11eb-9566-5e3eef8e5f8e.png)
![imag

[2020-10-03 11:58] dthyresson opened #1262 "Dependabot's Bump dotenv-webpack from 2.0.0 to 3.0.0 causing issues with Auth0 SPA client"
From Discord:

humm. at sight auth(0) looks busted in latest canary revs. getting Uncaught SyntaxError: Unexpected token ':' and a white screen of death. (steps to repro -  yarn create redwood-app  foo; (cd foo; yarn rw g auth auth0; yarn rw upgrade -t canary;) any clues / known issue

I was able to verify this issue (with auth0-spa and not just any auth provider) and console error points to:

`ap

[2020-10-03 12:04] AntonioMeireles commented on #1262
core issue upstream is [here](https://github.com/mrsteele/dotenv-webpack/issues/240). and yes downgrading for now is the way to go (as done [elsewhere](https://github.com/mozilla-extensions/normandy-devtools/pull/455)) imho.

THNKS!

[2020-10-03 14:00] dthyresson commented on #1262
I had a look to see why dependabot bumped from 2.0.0 to 3.0.0 even though the version used a caret

`"dotenv-webpack": "^2.0.0",`

which *should* keep the version between under 3.

https://classic.yarnpkg.com/en/docs/dependency-versions#toc-caret-ranges

But apparently the default config for apps is for dependabot is to *increase versions*:

https://dependabot.com/docs/config-file/#version_require

[2020-10-03 14:26] dthyresson commented on #1262
Note:
storybook/core@5.3.19 uses `dotenv-webpack "^1.7.0"`

but downgraded and seems to resolve issue.

[2020-10-03 14:34] RodrigoJacznik opened #1264 "`yarn rw test` Error: command doesn't run as of Apollo v3 upgrade"
Hi :wave: , I have a problem with a new redwood project.

I run the following commands:
[code]

And I get the next error:
[code]

This is the output of `yarn rw info`

[code]

Let me know if I can help somehow.
Thanks in advance.

[2020-10-03 17:06] thedavidprice commented on #1261
Thank you @andrewlamyw for taking the Extension for a spin! Handling over to Aldo.

[2020-10-03 17:55] thedavidprice commented on #1264
Confirming I'm seeing this error on v0.19.1

**Full output:**

[code]

[2020-10-03 17:59] thedavidprice commented on #1264
@RobertBroersma could you take a look at this one? I did a little digging and couldn't find anything simple via updating related `@testing-library` packages. I also tried upgrading `@apollo/client`.

My working theory is that `@redwoodjs/testing` isn't playing nice with changes from upgrading to Apollo v3 in v0.19. Perhaps something with the new exports here:
https://github.com/redwoodjs/redwood/b

[2020-10-03 18:04] thedavidprice commented on #1264
@RodrigoJacznik thanks for opening this and appreciate the offer to help! You're welcome to dig in and we'll assist however we can. Jest integration has **not** been trivial. Here's the link to the code for `@redwoodjs/testing` package:
https://github.com/redwoodjs/redwood/tree/main/packages/testing

No pressure to dive in. But let us know if you do!

[2020-10-03 18:09] thedavidprice commented on #1262
Thanks, all!

**re: Dependabot** --> Those PRs are opened automatically, but we are merging them manually after some (limited) inspection and confirming tests and/or QA (if applicable) look good. Both Peter and I have had a mixed experience so far.

I believe Peter is using the "Auth-Playground" for QA before we do any releases. I think a better way forward in general would be to add automation th

[2020-10-03 18:12] RobertBroersma commented on #1264
@thedavidprice I'm not at my PC atm, but does Apollo v3 happen to export untranspiled es6 code?

[2020-10-03 18:18] KrisCoulson commented on #1261
Will second this I ran the same exact steps as @andrewlamyw outline continues to be empty

[2020-10-03 18:44] thedavidprice commented on #1264
Looks transpiled.

Couldn't find anything obvious in the current Apollo Issues. Here's the latest (Mocked Provider issue might shed some light for us):
https://github.com/apollographql/apollo-client/issues?q=is%3Aissue+is%3Aopen+jest+

Also briefly looked through `testing-library` repos for related issues. Nothing obvious.

### Reference
In case any of this is helpful:
- v3 [Overview Article](http

[2020-10-03 18:52] aldonline commented on #1261
Hi @andrewlamyw + @KrisCoulson,

Thanks for reporting!

Are you guys available for a quick Google Hangout session?
If yes, just join me here. I'll be online for the next few hours: https://meet.google.com/xdd-vkck-wkw.
I might no be in front of the computer at the moment. Just send me a chat and wait.

Two questions:

1. What happens if you open a `.js` file or the `redwood.toml` file in the edito

[2020-10-03 19:17] #1104 closed

[2020-10-03 19:19] aldonline commented on #1261
@thedavidprice @mojombo reading the above you might get a glimpse of how much work was needed in the jamstackide just in the QA side of things. Imagine the same process, but for 5 frameworks + a bunch of other services (and multiple versions of each, on multiple platforms), and trying to work with Netlify Dev's super faulty detection heuristics without breaking it (to the point where we were tunne

[2020-10-03 19:26] thedavidprice commented on #1240
GAH! @qooqu that page flash is terrible. Thanks for taking the time to create that example.

This should be resolved by #1250

You can test the latest code using the canary release `0.19.2-canary.36`. Via command line use `yarn rw upgrade -t canary` to upgrade to the latest canary release. (Note: canaries should be considered unstable)

[2020-10-03 19:26] #1240 closed

[2020-10-03 19:26] simarpreetsingh-019 opened #1265 "Enchancing Readme.md with table of content."
I have a suggestion of Enhancing Readme.md by adding a table of content to main readme.md also just like we have in contributors.md , will enhance the readability of readme also.

I would like to work on this issue.

[2020-10-03 19:26] thedavidprice commented on #1104
@dnprock

This should be resolved by #1250

You can test the latest code using the canary release `0.19.2-canary.36`. Via command line use `yarn rw upgrade -t canary` to upgrade to the latest canary release. (Note: canaries should be considered unstable)

[2020-10-03 19:37] thedavidprice commented on #1265
Hi @simarpreetsingh-019 Thanks for offering to help!

This repo's README.md is used on our website here: https://redwoodjs.com/docs/introduction And you can see below the right sidebar is a TOC.
<img width="1242" alt="Screen Shot 2020-10-03 at 12 31 46 PM" src="https://user-images.githubusercontent.com/2951/95000384-20879100-0575-11eb-819a-c7e5af23a38c.png">

## Other Ways to Get Started as a Cont

[2020-10-03 19:37] #1265 closed

[2020-10-03 19:47] aldonline commented on #1261
I added a small fix in 0.0.10 and released

[2020-10-03 20:11] thedavidprice opened #1266 "We ❤️ #Hacktoberfest: Here's How to Contribute to Redwood"
Welcome! We're excited that you're interested in contributing to Redwood for #Hacktoberfest. You'll be in good company with 300+ [other project contributors](https://github.com/redwoodjs/redwood#contributors) 🚀

### Recorded walk-through and documentation
I covered all these topics at the recent Contributing Workshop. For the full details, [see this post on the RedwoodJS Forums](https://community.

[2020-10-03 22:16] aldonline commented on #1258
Implemented in 0.0.12
@thedavidprice I also added an 'info' icon if there is a new version. you can click on the version to learn more
<img width="660" alt="Screen Shot 2020-10-03 at 3 12 24 PM" src="https://user-images.githubusercontent.com/154884/95002648-44ee6800-058b-11eb-85ec-96af9ec820ab.png">

[2020-10-03 22:16] #1258 closed

[2020-10-04 00:08] andrewlamyw commented on #1261
@thedavidprice Yeah, can't wait to use it! 😁

I have updated the Redwood IDE extension from version 0.0.9 to 0.0.13
![image](https://user-images.githubusercontent.com/11419166/95004024-8f69f600-0618-11eb-99c8-9ae6e4f57486.png)

@aldonline Thanks for your response😃. The following are the answers to your questions:

1. When I open a .js file, a pop up is shown with the message of `A request has fail

[2020-10-04 03:18] aldonline commented on #1261
Thanks @andrewlamyw!
It looks like the processPagesDir function fails when the pages dir doesn't exist. I added a fix here (https://github.com/redwoodjs/redwood/pull/1268). I can't release this quickly since it is a fix in Redwood itself, not the extension. I'll bring this up with @thedavidprice. Maybe we can do a patch release.
This is a good example of a class of error that is very typical in pa

[2020-10-04 03:24] helpsdev commented on #1064
Hi there, I'm a first-time contributor, any chance I can work on this?

[2020-10-04 09:37] santhoshle commented on #787
@jtoar @peterp
I'm a first-time contributor, can I work on this?

[2020-10-04 11:02] himankpathak commented on #1230
Hey @peterp, I would like to work on this issue. Is this issue up for taking?

[2020-10-04 14:04] qooqu commented on #1240
Just tested `0.19.2-canary.36`. No flashing. Thanks!

[2020-10-04 14:49] christianto88 commented on #1064
@peterp hi i would like to take this task

[2020-10-04 21:28] forresthayes commented on #1064
@helpsdev & @christianto88

Hi! My [pull request](#1179) is already under review for this issue.

There are a lot of other great first issues available if you're interested in tackling some of those!

[2020-10-04 21:50] thedavidprice commented on #1064
Hi @helpsdev and @christianto88 Thank you both for offering to help!! We welcome you both to the community. As Forrest mentioned, this one is already in process. Please take a look at this link with some tips for getting started on other Issues: https://github.com/redwoodjs/redwood/issues/1266

Don't hesitate to reach out as needed.

[2020-10-04 21:57] #1064 closed

[2020-10-05 00:50] thedavidprice commented on #1230
Hi @himankpathak! Would be great to have your help!

Peter is on vacation for the next week. Since he's the lead on this part of the code, we won't be able to have him Review and Merge until the week after he's back (still in time for Hacktoberfest). But if you want to get started and open a PR, both I and @dthyresson could likely guide you on your way.

Does that sound good to you? Let me know an

[2020-10-05 02:54] thedavidprice commented on #787
Hi @santhoshle Thanks for offering to help! We're grateful to have you.

### Getting Started for First Time Contributors
Before you get started, please do take a look at this info if you haven't already: https://github.com/redwoodjs/redwood/issues/1266

### Helpful information for this Issue
For this Issue, you'll also want to look at these files and links README specific to the CLI package:
- CLI

[2020-10-05 05:18] thedavidprice commented on #1013
Hi @shakti97 I assigned this issue to you 🚀 Please let me know if you're no longer interested so I can open it up for someone else.

If you haven't already, please do take a look at our getting started information for contributors: https://github.com/redwoodjs/redwood/issues/1266

Lastly, don't hesitate to reach out if you have any questions along the way

[2020-10-05 05:33] thedavidprice commented on #961
The intention is to have the same behavior; e.g. if page isn't found in Router then redirect to notFoundPage.

I wonder if the simplest way to handle this is just to have a template static file for 404 and have the router either redirect to the static file in Routes.js or handle it automatically.

[2020-10-05 05:35] thedavidprice commented on #985
`yarn rw test` is broken due to Apollo v3 (for some strange reason).

Closing this one out in favor of https://github.com/redwoodjs/redwood/issues/1264

[2020-10-05 05:35] #985 closed

[2020-10-05 05:39] thedavidprice commented on #1223
^^ this is the new behavior. Code is currently in `main` and will be live in v0.20.0

@Tobbe or @RobertBroersma if either of you have a chance to upgrade to the latest canary release and run `yarn rw setup tailwind`, it would be great to know if it's now working on Windows. No pressure of course.

[2020-10-05 06:43] Tobbe commented on #1223
I have a project that's still on 0.15.4-canary.6 that I was just about to lift. Might as well go all the way to latest canary 🐦

Will report back later

[2020-10-05 06:58] thedavidprice commented on #1223
@Tobbe You might want to aim for v0.19.2 and confirm all's well, and _then_ go for latest canary. There are a couple issues in `main` right now. E.g.:
- https://github.com/redwoodjs/redwood/issues/1264
- https://github.com/redwoodjs/redwood/pull/1263

[2020-10-05 07:06] #725 closed

[2020-10-05 07:14] Tobbe commented on #1223
I created a new RW project and immediately ran `yarn rw upgrade --tag=canary`
Everything is executed in my GitBash environment

[code]

Then I tried to setup tailwind, which failed 😉

[code]

After that I tried `yarn rw g util tailwind` and can confirm @nerdstep's findings still hold true for the latest canary release

[code]

[2020-10-05 07:25] #851 closed

[2020-10-05 07:30] thedavidprice commented on #534
Update:
The ability to pass Webpack Dev server config via `yarn rw dev --forward` has been added several versions ago:
[code]

## To Do
All that's remaining now is to add to the documentation.

[2020-10-05 07:35] Tobbe commented on #1223
Building the latest RW from `main` locally atm. I'll try to do some debugging

[2020-10-05 07:38] Tobbe commented on #1223
With my own build at least I get the `setup` command

[code]

Still no luck installing tailwind though

[2020-10-05 09:18] Tobbe commented on #1223
As we saw in a previous comment of mine, installing 0.19.2-canary.40 doesn't give me the setup command at all.
Doing a build locally and copying that over (`yarn rwt copy`) does give me `setup`.

But running `yarn rw setup tailwind` fails with a message of a missing file, and I couldn't figure out why.
I run `yarn rwt copy` and the file is there. I run `yarn rw setup tailwind` and the file is not

[2020-10-05 14:18] dthyresson opened #1278 "Error launching Storybook via Redwood CLI in a directory path that includes spaces"
Expected working steps on OSX from a valid path:

* from "~" ...
* `mcd rw-test`
* `yarn create redwood-app ./test`

[code]

* `cd test` and create a component
* `test % yarn rw g component Widget`

[code]

* run stroybook: `test % yarn rw storybook`

[code]

![image](https://user-images.githubusercontent.com/1051633/95090812-b5b09400-06f3-11eb-8097-0385d98b698a.png)

Now do the same, but from a p

[2020-10-05 14:26] dthyresson opened #1279 "Error running tests in Redwood app where the app path includes spaces"
This issue is similar to that described with the running Storybook from the cli: https://github.com/redwoodjs/redwood/issues/1278

From within an RW app that lives in a path with spaces (or other punctuation, but still a valid posix path):

[code]

[code]

Note that

`yarn jest --passWithNoTests --watchAll --config /Users/dthyresson/rw (test)/test/node_modules/@redwoodjs/core/config/jest.config.js

[2020-10-05 14:56] thedavidprice commented on #1223
Le sigh indeed. Always. Something. Nuanced. And Painful. smh

## Confirming Error Messsage
To be clear, this is an accurate error message. Indicating something is most likely incorrect with the path handling for the file `templates\postcss.config.js.template`

Yes?

[code]

[2020-10-05 15:09] dthyresson commented on #1278
I am testing a fix that enclosed the `staticAssetsFolder` in quotes:

`const staticAssetsFolder = `"${path.join(getPaths().web.base, 'public')}"`

But when I run, I got:

[code]

[2020-10-05 15:19] thedavidprice commented on #1278
We had a host of commands with this issue early on — both Mac and Windows related but most often just on Windows. Here's one of the many PRs for reference about what was going on:
https://github.com/redwoodjs/redwood/pull/238

Seems like we need a consistent utility here 🤦‍♂️

[2020-10-05 15:23] thedavidprice commented on #1279
FYI to example PR with fixes for similar case (back in March):
https://github.com/redwoodjs/redwood/issues/1278#issuecomment-703701682

I've added this as a step to #1150

Also added to the v1.0 Testing Project Board.

[2020-10-05 15:44] dthyresson commented on #1278
Tried

[code]

But I think because this is used as an argument

[code]

That won't work -- I get an error still in finding the path.

[2020-10-05 15:57] Tobbe commented on #1223
No 😉

The problem is that the step before (`√ Installing packages...`) removed the file. Seems that when I run (a command that runs) `yarn workspace web add ...` the files copied over by `yarn rwt copy` are removed.

I'm pretty sure it would work if you made another canary release. One that includes `setup` so that I don't have to build RW myself to get it.

[2020-10-05 16:24] AntonioMeireles opened #1280 "`yarn rw check` fails to correctly consume `redwood.toml` contents"
created per @thedavidprice request on Discord

[code]
  `redwood.toml` has
[code]

Thanks in advance,

All the best

[2020-10-05 17:02] thedavidprice commented on #1223
Hmm, every PR merge has a new canary release. There's a new one as of an hour ago. The Setup PR was merged days ago.

🤔

[2020-10-05 17:20] jeliasson opened #1281 "Force migration of database schema during prototyping"
This issue is the ability to force a database migration during early prototyping of a RedwoodJS project without have to worry about schema conflicts etc.

## Related
Prisma has released a public prototype doc (thanks @alberto-prisma)
[Public Prototype Docs - Iterating on your database schema during prototyping](https://www.notion.so/Public-Prototype-Docs-Iterating-on-your-database-schema-during-pr

[2020-10-05 17:29] Tobbe commented on #1223
Just upgraded again

[code]

These are all the commands I have
[code]

For some reason `setup` isn't being bundled

[2020-10-05 17:56] thedavidprice commented on #1223
So, apparently, Setup hasn't been, ahem, setup?

This helps. Will dig deeper a bit later

[2020-10-06 03:00] thedavidprice commented on #1223
Update: I've been able to replicate this locally using the "Local Package Registry Emulation" with Verdaccio. Hoping for a fix and canary release soon.

[2020-10-06 04:32] santhoshle commented on #787
Hi @thedavidprice Thank you for providing the required information for this issue.
I can handle this issue, please assign it to me.

[2020-10-06 05:59] shakti97 commented on #1013
okay, yes I am working on it.

[2020-10-06 06:52] thedavidprice opened #1286 "Canary release publishing is not setting correct canary version on @redwoodjs dependencies"
Canary releases are successfully being published for all packages. However, some `@redwoodjs` packages are _not_ being installed at the canary release version. Instead, they are at the current stable release `0.19.2`.

### Reproducing the Issue
- run `yarn rw upgrade -t canary` in a Redwood project
- inspecting `package.json` in each of the main installed packages (e.g. `node_modules/@redwoodjs` f

[2020-10-06 07:01] thedavidprice commented on #1223
Well, there are a couple of things going on here.
- It's possible I resolved the issue with Setup via #1282
- I've found an issue with the canary release + upgrade process that's not installing canaries correctly for all packages. See https://github.com/redwoodjs/redwood/issues/1286

@Tobbe Could you please test the latest CLI package in canary:
1. run `yarn rw upgrade -t canary`.
    - this will

[2020-10-06 08:23] Tobbe commented on #1223
First try was a half success 😏 Got a new version of CLI! But didn't get all the way through the tailwind setup.

/cli/package.json
`"version": "0.19.2-canary.45+f354b564"`

[code]

I'll try again with a new, fresh, RW setup.
Just have to get out of this video meeting first, need the bandwidth for video, not for installing npm packages 😛

[2020-10-06 08:52] Tobbe commented on #1223
🎉

[code]

A fresh install did it 🙂

[2020-10-06 09:17] Tobbe commented on #1223
Wanted to try and figure out why it didn't work the first time around, and now I have.

Way to reproduce:
 1. Successfully run `yarn rw setup tailwind`
 2. Remove the postcss config file `rm web/config/postcss.config.js`
 3. Remove the tailwind config file `rm web/tailwind.config.js`
 4. Run `yarn rw setup tailwind` again

Now it might seem like a strange/convoluted thing to do to remove the confi

[2020-10-06 17:22] aldonline commented on #1261
@andrewlamyw can you try with Redwood 0.19.2 and the latest version of the extension?

[2020-10-06 18:13] dac09 opened #1290 "Unable to import ts/tsx components using short import path | v0.19.2"
When trying to import a component without the absolute import path, error from webpack
[code]
Reproduced in example todo app, by renaming AddTodo.js to AddTodo.tsx. Also seeing the same issue on our app.

I suspect the issue may have been introduced here: https://github.com/redwoodjs/redwood/pull/1102/files

---

### Work around for now
Instead of importing the file like this:
[code]
can be import

[2020-10-06 23:16] jmcmullen commented on #478
Thanks, @thedavidprice but that's not quite the issue. I'm deploying to AWS via Serverless and want to host only the API on a subdomain. I've made a more detailed post on the RedwoodJS forms here: https://community.redwoodjs.com/t/deploying-to-aws-and-hosting-the-api-on-a-subdomain/1251

[2020-10-07 06:14] pranshuls12 commented on #916
hi

[2020-10-07 06:14] pranshuls12 commented on #916
is this issue still open

[2020-10-07 08:35] andrew-hwahin opened #1292 ""yarn rw db up" Error querying the database: No such table: _migration"
When I run "yarn rw db up", I received the error of `Error querying the database: No such table: _migration`.

MySql Action Output:
`Apply changes to _migration	Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 2 SQL Statement: CREATE TABLE `worker_transfer`.`_migration` ( )`

redwoodjs: 0.1

[2020-10-07 12:23] dac09 commented on #1290
Some more info. My hunch seems to be correct, adding logs into `packages/core/src/babelPlugins/babel-plugin-redwood-directory-named-import.ts`

It looks like when its TS, the importPath that's generated in the `getNewPath` function [here](https://github.com/redwoodjs/redwood/blob/3e1d453d282531f1a05f08d442c93f695bd6ccee/packages/core/src/babelPlugins/babel-plugin-redwood-directory-named-import.ts#

[2020-10-07 13:06] dac09 commented on #1290
Logs from

[code]

It looks like it can't resolve the file in [this line](https://github.com/redwoodjs/redwood/blob/3e1d453d282531f1a05f08d442c93f695bd6ccee/packages/core/src/babelPlugins/babel-plugin-redwood-directory-named-import.ts#L25)

[2020-10-07 16:35] AntonioMeireles opened #1297 "eslint-config: consider consuming "simple-import-sort" eslint plugin"
Hi all,

please consider within the  RW linting machinery to ship by default `simple-import-sort` eslint plugin as would make code objectively more readable out of the box (again IMHO), and (more debatable) also eventually the `json` one.

current workaround is to use (in top-level's `package.json`)
[code]
but IMHO would be really nice if stuff coming from generators would come 'nice' by default.

[2020-10-07 23:27] cannikin opened #1299 "At the end of the tutorial, test files created by the generator can't actually run"
[code]

[2020-10-07 23:31] thedavidprice commented on #1299
@cannikin So much with `yarn rw test` is broken right now 😢

Check out my up-to-date v1.0 column here:
https://github.com/redwoodjs/redwood/projects/4

Hopefully, that helps guide this initial draft of Tutorial Pt 2. And, of course, what's need to get things at least working.

[2020-10-07 23:43] cannikin commented on #1299
Just realized I get totally different errors if I run `yarn jest` (which was my original output that I saw when I created this issue) vs `yarn rw test`. I replaced the errors in my original post with the `yarn rw test` output.

BUT I don't see anything in the v1.0 column related to what I'm seeing though...that seems more like just outstanding test stuff we want to do rather than any bug fixes?

[2020-10-07 23:44] cannikin commented on #1299
Looks like maybe it's just a matter of including babel or some babel plugin at the right time? It doesn't like any `import` statements...

[2020-10-07 23:46] thedavidprice commented on #1299
It's like due to how we setup Jest config and things changing with Apollo v3. See #1264

[2020-10-07 23:47] cannikin commented on #1299
Ahhh yep looks like the same thing. Fix that please. 😉

[2020-10-08 03:15] thedavidprice commented on #1292
Hi @andrew-hwahin Thanks for checking in about this and sorry for your trouble here. Getting the DB working if often harder than we wish it was.

I've never tried Prisma with MySQL. But it is supported and should work. I did a quick search for Prisma Issues [here](https://github.com/prisma/prisma/issues?q=is%3Aissue+mysql+_migration) and didn't see anything related. So this makes me think it's som

[2020-10-08 03:22] andrew-hwahin commented on #1292
Hi @thedavidprice thanks for the response, yes you are right, I switched from PostgreSQL to MySQL but at the same time I also tried the steps that you listed. I also did try to search from Prisma issue but couldn't find any related error too. 😢🤔

[2020-10-08 03:52] thedavidprice commented on #1292
Ah, bummer. I was hoping that would do the trick. 🙁

Ok, before we assume something is broken with Prisma and MySQL, here's a few more things to try.
- are there any permissions issues with your MySQL DB? Can you connect from the command line and run a query directly... or from something like MySQL Workbench?
- You can try to run the Prisma commands directly without the Redwood CLI wrapper
    - E

[2020-10-08 03:55] thedavidprice commented on #1297
Hi @AntonioMeireles Appreciate the suggestion. It would be helpful to see how this will change the code formatting. Could you possibly provide an example of formatted _before_ and _after_ using the `simple-import-sort` plugin?

[2020-10-08 03:57] thedavidprice commented on #1290
Thanks, Danny! And ugly indeed.

@peterp this one's for you (and on my list to show you when you're back)

[2020-10-08 04:53] thedavidprice commented on #916
Hi @pranshuls12 This issue is still open and we could use your help!

Please know there are three aspects to this:
1. The VS Code Extension which is developed by @aldonline: https://marketplace.visualstudio.com/items?itemName=decoupled.redwoodjs-ide
2. ...which relies on the Redwood [packages/structure](https://github.com/redwoodjs/redwood/tree/main/packages/structure)
3. ...and will use the Redwo

[2020-10-08 05:08] pranshuls12 commented on #916
Yes,I will work on it

[2020-10-08 05:16] pranshuls12 commented on #916
can you guide how should i proceed will be a big help

[2020-10-08 05:44] thedavidprice commented on #916
Great! I've assigned it to you. And I'm happy to help as much as I can. But you can also connect with the Redwood community if and when needed as well! There's a lot of people who might be able to assist. If you haven't read this yet, make sure you start here:
- https://github.com/redwoodjs/redwood/issues/1266
- and be sure to connect on the Forums and Chat as well if needed

Since there are multi

[2020-10-08 05:45] thedavidprice commented on #478
@jmcmullen Ah, understood. And I replied to your topic along with David T. It's my understanding that up until now we've assumed the API will be on the same host as Web, which is _not_ a good assumption.

We'll keep this moving forward!

[2020-10-08 06:06] thedavidprice commented on #1261
@aldonline This is working well for me! BUT I've noticed the Outline does not show/trigger until I open a file. So if Open Editors is empty at the start, the Redwood Outline will be empty. But once the Outline displays, it stays displayed even if I close all files.

Thanks for all your great work here! I'd ❤️ making this official in v0.20.0 next week if you think it's ready.

[2020-10-08 06:21] thedavidprice commented on #1281
I really like the idea of being able to do a reset, aka `yarn rw db --do-over`.

In this case, where we're not worried about data, I wonder how possible it would be to have a generic SQL flow to drop any type of database and then run the migrations. 🤔

[2020-10-08 06:42] thedavidprice opened #1301 "`yarn rw setup tailwind` fails if packages already installed or if imports exist in `index.css`"
Continued from https://github.com/redwoodjs/redwood/issues/1223

Note: `--force` option does not resolve the issue

Error output:
[code]

What's happening is that either:
- the installed packages are already present
...and/or...
- the tailwind imports already exist in `index.css`

Note: if either of the config files exist, the error output makes sense and states the issue accurately. But the error

[2020-10-08 06:43] thedavidprice commented on #1223
Closing this as resolved in #1282

Moved @Tobbe issue (in case of existing packages installed or imports in index.css) to https://github.com/redwoodjs/redwood/issues/1301

[2020-10-08 06:43] #1223 closed

[2020-10-08 07:19] thedavidprice opened #1302 "[redwood-tools] package linking fails silently if CLI commands invoke yarn to install packages"
During the development of the new `setup` command, strange behavior was occurring during testing:
- https://github.com/redwoodjs/redwood/issues/1223#issuecomment-703510327
...and also during the improvement of the auth generator...
- https://github.com/redwoodjs/redwood/pull/1251#issuecomment-704283623

It seems that anytime a command runs `yarn install` (at the beginning for `yarn rw setup tailwi

[2020-10-08 07:19] KrisCoulson commented on #1261
@aldonline sorry I wasn't able to get back to you was super busy over the weekend. Since this post, I have updated to `0.19.2`

Still am getting nothing in the redwood outline and every time I open a JS file I treated this
![image](https://user-images.githubusercontent.com/6943688/95426934-9f752480-08fb-11eb-99bb-4a55d448bd61.png)

It then continues to keep pinging in the language server indefinit

[2020-10-08 07:20] #624 closed

[2020-10-08 07:38] #1262 closed

[2020-10-08 07:58] jmcmullen opened #1303 "getCurrentUser query is ignoring CORS configuration"
After setting a cors configuration inside my `graphql.js`, it seems to work for every request except the built-in `getCurrentUser` query.

[code]

Request headers:
[code]

[2020-10-08 10:41] AntonioMeireles commented on #1297
@thedavidprice

check snippet bellow for the before and after.

<img width="513" alt="image" src="https://user-images.githubusercontent.com/743527/95447967-7b94fb80-095a-11eb-96ba-32b05be30922.png">

it's an opinionated/stylistic thing - it just enforces import sorting in a consistent/predictable way (which imho improves a bit code readability)

regarding the `json` plugin, main use case is to red

[2020-10-08 11:37] AntonioMeireles commented on #1261
@aldonline

first let me congratulate you for your great and awesome work!

now an UX nitpick - until #1280 is sorted could you consider to just ignor he output of `rw check` in the extension ? (or at least have a way to just ignore it ?)

<img width="730" alt="image" src="https://user-images.githubusercontent.com/743527/95453502-e1858100-0962-11eb-9e2c-12e36c5428fc.png">

Thanks in advance,

Antó

[2020-10-08 14:15] himankpathak commented on #1230
Thanks @thedavidprice,
So I have to follow the following guide https://www.graphql-tools.com/docs/migration-from-merge-graphql-schemas/ right?

[2020-10-08 15:37] thedavidprice commented on #1303
@jmcmullen thanks for creating this issue! Bummed it's not working correctly, but glad to hear the issue seems to be narrowed down to this.

@dthyresson @dac09 Any chance either of you has enough familiarity with this to take a look? Understood if not. I'll put it on a list for Peter to look into next week if that's the case. Just let me know.

[2020-10-08 15:43] thedavidprice commented on #1297
Got it. This is helpful, thanks!

^^ completely understood

Handing this over to @peterp for consideration when he's back next week. PP, I'd give these a +1 but I haven't done much of our eslint config to-date.

The request is to add:
[code]

See OP for settings.

[2020-10-08 15:47] thedavidprice commented on #1230
@himankpathak yes, indeed!

Would you like me to assign this to you?

[2020-10-08 15:51] AntonioMeireles commented on #1297
Oops, just a quick side note:

there was a typo im my original copy & paste. no need at all to hard-lock the versions so  it would be something along ...

&& thanks!

António

[2020-10-08 16:15] himankpathak commented on #1230
Sure @thedavidprice , you can assign me the issue.

[2020-10-08 17:40] thedavidprice opened #1307 "Migrate one-time generator commands to the new "Setup" command"
We have a new `rw setup` command:
- original proposal: https://community.redwoodjs.com/t/rw-setup-proposal-complementing-generators-with-setup/1123
- https://github.com/redwoodjs/redwood/pull/1154

Commands to be migrated
- [x] `rw g util tailwind`
- [ ] `rw g auth [provider]`
- [ ] `rw g deploy [provider]`

To do:
1. move code (and tests) to `setup` directory
2. each provider need to become a sep

[2020-10-08 17:49] dac09 commented on #1303
Hey! So this isn't an issue I personally face, since we use a custom auth client (at the moment).

However, it looks like the main reason we have this issue is this line here: https://github.com/redwoodjs/redwood/blob/820982917c9bb45b72b2438d4be41c3de8be588a/packages/auth/src/AuthProvider.tsx#L116

Can I ask a few more questions to clarify @jmcmullen?
a) What is the endpoint you're using for your

[2020-10-08 18:06] thedavidprice commented on #1307
working on `rw g auth` in a new PR

[2020-10-08 18:28] aldonline commented on #1280
Hi @AntonioMeireles !
Thanks for catching and reporting this :)
I added a fix in https://github.com/redwoodjs/redwood/pull/1308

[2020-10-08 18:44] aldonline commented on #1261
Hi @AntonioMeireles!

Thanks for the kind words :) I really appreciate that you're using this and helping us getting it to a "useful" state!
I just opened a PR to fix the env visibility error. #1308

I agree that we should have a way to turn on/off diagnostics.
Instead of reinventing the wheel we could copy what most linters do and allow turning errors on/off granularly. Maybe in redwood.toml?
I'l

[2020-10-08 18:52] jeliasson opened #1310 "Support Azure AD authentication"
This issue seeks to support Azure AD as authentication.

### Todo
- [X] Create `azureAd` AuthProvider (#1311)
- [X] Create `azureAd` auth generator with auth template (#1311)
- [X] Example `azureAd` auth in the `playground-auth` repository (https://github.com/redwoodjs/playground-auth/pull/6)
- [X] Initial documentation  in the `redwoodjs.com` repository (https://github.com/redwoodjs/redwoodjs.com

[2020-10-08 18:54] AntonioMeireles commented on #1261
thank you us all ! this has the potential to be sort of game changer in a lot of ways ... :-)

(thinking loud) regarding your idea, at sight, there's two potential angles to handle this ... treat it as a config / runtime option and instrument it via `redwood.toml`. or treat it as a plain linting  / idiomatic one and do it via ... the linter (adding options to perhaps `eslint-plugin-redwood`) .

fo

[2020-10-08 19:30] aldonline commented on #1259
I think I got'em all. Closing this issue. Re-open if you see one popping up :)

[2020-10-08 19:30] #1259 closed

[2020-10-08 20:57] Tobbe commented on #1302
Most ideally we would make sure `yarn install` doesn't mess with the links at all. Especially since the `yarn build:watch` `yarn rwt copy:watch` workflow doesn't work on windows (see https://github.com/redwoodjs/redwood/issues/701)

[2020-10-08 21:24] Tobbe commented on #954
@dthyresson pointed to this line in the code as potentially problematic on Windows: https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/paths.ts#L216

I'll dig in to it tomorrow. See what that path resolves to on Windows.

[2020-10-08 22:33] thedavidprice commented on #1302
we use "link" but the actual process is literally copying the packages from Framework into a Project. I don't understand the mechanics (yet), but we'd want to add a watch on the destination `node_modules` as well -- while `yarn rwt cpw ...` is running, if it detects changes to node_modules@redwoodjs/package it would re-run copy.

[2020-10-08 23:38] thedavidprice commented on #1303
Form topic for reference: https://community.redwoodjs.com/t/deploying-to-aws-and-hosting-the-api-on-a-subdomain/1251

Agreed @dac09 I feel like it's accidental a full URL is working. Or, better said, it wasn't an intentional part of the design.

I think Option 2 is the correct direction. Effectively I'd like us to:
1. assume the host is the same, so apiProxyPath is truly for the path
2. if the hos

[2020-10-08 23:39] #1280 closed

[2020-10-09 00:07] jmcmullen commented on #1303
/graphql

AWS Lambda via Serverless

That's what I've done.

I've created an example repo. Hopefully, it helps convey what I'm attempting to achieve:
https://github.com/jmcmullen/redwood-custom-auth/tree/sls-example

[2020-10-09 00:26] thedavidprice commented on #1310
Woah, this is amazing @jeliasson Thank you for the huge lift to get this going!

Our primary AuthMaster9000™, Peter, is on vacation and won't be back until next week. He's going to be slammed, but I'll get this on his radar.

@dthyresson might you feel comfortable taking a look at these 3 PRs in the meantime? At a minimum, I know you could field questions and provide direction. And if you're comfo

[2020-10-09 00:44] aldonline commented on #1261
Hi @KrisCoulson ,

Looking at the stack trace it seems that the `RWRouter.filePath` property is unexpectedly null. There is only one place where the `RWRouter` gets instantiated.

https://github.com/redwoodjs/redwood/blob/main/packages/structure/src/model/RWProject.ts#L113

[code]

I would love to know what's going on there (is `this.pathHelper.web.routes` actually null?, if yes, are there more er

[2020-10-09 05:36] jeliasson commented on #1310
Thanks for the feedback @thedavidprice 🎉

I missed yesterdays meetup and joined in just when you guys were about to round off. It's now early morning, so a perfect time to grab another cup of ☕ and tune in to that session on Youtube and get the latest scoops (among `yarn rw setup`). I'm sure we can align this PR with the works in #1309.

@dthyresson @peterp
When you guys have a chance to look at t

[2020-10-09 06:10] mohinderps commented on #1301
@thedavidprice , I want to work on this issue but not sure how to tackle this. Can you help me get started ?

[2020-10-09 08:31] AntonioMeireles commented on #1286
fwiw, afaict,  alternatively placing snippet bellow inside top level's  `package.json` will do the trick for now ...
[code]

[2020-10-09 08:46] andrew-hwahin commented on #1292
@thedavidprice thank you for your help 🙇‍♂️🙏 The issue is gone when I connect to MySQL hosted on DigitalOcean instead of my local machine.

[2020-10-09 08:46] #1292 closed

[2020-10-09 09:56] andrewlamyw commented on #1261
@aldonline I'm using Redwood 0.19.2 and Redwood IDE v0.0.14 but still couldn't see the Redwood Outline.

![image](https://user-images.githubusercontent.com/11419166/95569573-5686b280-0a58-11eb-8a47-60ad0a578717.png)
![image](https://user-images.githubusercontent.com/11419166/95569847-b715ef80-0a58-11eb-9267-e720a27a05ca.png)

[2020-10-09 10:31] dac09 commented on #1303
Hey, I'm going to continue the conversation on the forums! Thanks for the example repo @jmcmullen

[2020-10-09 13:09] dac09 opened #1313 "Data migrate failing on node v12.19.0 (Affects Netlify and Vercel Deploy)"
### What?
As of Redwood v19.x, data migrations are failing due to a low level Node.js error when running on Node v12.19.0

[code]

This is a problem because Netlify uses 12.9 by default for builds.

### How to reproduce?
Run ```yarn rw dataMigrate up``` if you're running Node 12.9. Or simply push to netlify to build, as long as data migrate is part of the build command

### Workaround
The issue se

[2020-10-09 13:20] dac09 commented on #1313
So the issue is coming from trying to import the prisma client. Something's changed since v18 in prisma, which means its not working with babel correctly.

I've removed this line [here](https://github.com/redwoodjs/redwood/blob/4191be9bf1d7b791f13106978bde990d132eb3e9/packages/cli/src/commands/dataMigrate/up.js#L12), and it seems to fix the obscure error, but (obviously) fails because db isn't pre

[2020-10-09 13:35] dac09 commented on #1313
Found relevant prisma issue: https://github.com/prisma/prisma-client-js/issues/907

[2020-10-09 18:03] thedavidprice commented on #1313
@dac09 can you confirm v0.19.2 deploys successfully on Netlify if you use NodeJS v14+ for the build, correct?

If so, could be a workaround for people in the meantime.

[2020-10-09 19:10] aldonline commented on #1261
@andrewlamyw + @KrisCoulson ,
I think I found the source of the error :). Working on a fix now.
There is a fs.existsSync() call somewhere deep in Redwood that fails in certain conditions on windows. Looks permission related. This results in the path for the router file being set to null.
Anyway. Just letting you know so you don't spend time trying to diagnose further.

[2020-10-09 20:38] ad798 opened #1315 "¿The next release will include the option to deploy on our own servers?"
Hi, first things first so... I've been looking a while for a framework like Redwood! Awesome 🥳🙌🏼

Now my question. In docs is pretty obvious that deploy on cloud providers is covered. But, what if we want to run an awesome app built in Redwood in our own humble server?

Sorry if I wasn't meant to ask this here. Thank you for Redwood anyway. 🙌🏼

[2020-10-09 21:17] ajcwebdev commented on #1315
Peter has been working on a version of Redwood that can run in a Docker container so it can be easily deployed in various environments. I think it's still currently a work in progress but you can check out his talk about it from the [September 24th meetup](https://www.youtube.com/watch?v=bWxsgsd2GAQ&t=2460s).

[2020-10-09 21:28] thedavidprice commented on #1292
Great to hear you got it working. And thanks for the update!

[2020-10-09 23:25] thedavidprice commented on #1315
+1 to what Anthony wrote.

So overall things are close but there's no official support yet. In addition to the link to the video above:
- [Recap of notes and links from the Meetup](https://community.redwoodjs.com/t/sept-24th-meetup-recap-recording-topics-and-links/1217): see the section "Redwood + Production API Server"
- this [Serverful](https://community.redwoodjs.com/t/serverfull-hosting/1182)

[2020-10-09 23:25] #1315 closed

[2020-10-09 23:35] thedavidprice commented on #1313
This will resolve when either NodeJS v12.19.1 is released **or** Prisma v2.9.0 is released + Redwood upgraded.

## Workaround
Pin the version of NodeJS used for Netlify and Vercel build in your `.nvmrc` file:
- Replace
[code]
- with
[code]

[2020-10-10 01:37] aldonline commented on #1261
@andrewlamyw + @KrisCoulson, v0.19.3 fixes several windows issues. It is possible that it fixes the underlying cause of the issues you were experiencing.

[2020-10-10 04:21] ad798 commented on #1315
Thank you for that useful information. I am glad to read this answers, I will try to set up a production server based in the information provided and will continue this topic in the Serverful thread.
We all gonna love Redwood for a while.

[2020-10-10 07:55] chrisdrackett opened #1319 "Offline support?"
Curious if any though has been put into supporting a site working without an internet connection. Thinking about local caching, optimistic updates, change tracking for when a client comes back online.

[2020-10-10 11:32] Tobbe commented on #954
Using `ensurePosixPath` like this:
[code]
Changed the path from
[code]
to
[code]

I think this is a step in the right direction, but it doesn't solve the issue.

[2020-10-10 11:50] Tobbe commented on #954
The new output is

[code]

From the logs above we can see that the command to run storybook is
[code]

[2020-10-10 11:50] Tobbe commented on #954
If I run that command manually, I get the same error

[code]

[2020-10-10 11:52] Tobbe commented on #954
But if I run it without specifying a config dir it actually starts!

[code]

[2020-10-10 12:52] santhoshle commented on #787
Hi @thedavidprice, Currently improved the scaffold output handling while generating the files in #1320.
Please confirm whether this is the right approach. Once confirmed, I will update it in other places.

[2020-10-10 12:54] peterp opened #1321 "Integrate GraphQL-ESLint"
The amazing folks at the guild have released GraphQL-ESLint!

It has a number of really great rules, but one in particular that I think would be hugely beneficial:
SCHEMA VALIDATION!

https://github.com/dotansimha/graphql-eslint/blob/master/docs/rules/validate-against-schema.md

## TODO:

- [ ] Add package to `packages/eslint-config`
- [ ] Use parserOptions to specify the location of the GraphQL s

[2020-10-10 14:36] Tobbe commented on #954
Don't know if it helps or not, but here's my entire Storybook config
[code]

[2020-10-10 14:54] noire-munich opened #1323 "Setup command: gathering forces around the path/url work"
Following up on #1154 & #1252 I'm tagging @jtoar & @dac09 , since according to @thedavidprice we all kind of thought about how to conduct the work on this.

So here'd be the issue dedicated to this specific topic, we can organize here the work needed about it.

[2020-10-10 14:54] noire-munich commented on #1323
And as a first question, has anyone already worked on a POC or has some code to share?

[2020-10-10 16:10] Tobbe commented on #954
I've narrowed it down further.

In `main.js` in the storybook config dir, if I change the `stories` export to just look like this storybook will start
[code]

But if I change it to this, stuff breaks
[code]

[2020-10-10 16:27] thedavidprice commented on #1217
TeamTS FTW 🚀

[2020-10-10 16:29] Tobbe commented on #954
🎉

![image](https://user-images.githubusercontent.com/30793/95660185-68368b80-0b26-11eb-889b-28a5141e3807.png)

PR incoming!

[2020-10-10 17:00] #954 closed

[2020-10-10 17:09] peterp commented on #1217
Whoops, we need to open this again, since we need to convert the `Flash` component.

[2020-10-10 17:28] #787 closed

[2020-10-10 17:45] thedavidprice commented on #1286
Not sure if these are helpful, but Next canary publishing for reference/research:
- Main script: https://github.com/vercel/next.js/blob/canary/publish-release.sh
- Used in this Action: https://github.com/vercel/next.js/blob/canary/.github/workflows/build_test_deploy.yml

[2020-10-10 18:12] thedavidprice commented on #1301
@mohinderps happy to help! There are a few nuances with this one that will affect your local development workflow.

### Some tips to get started:
- If you haven't read it already, [this Issue](https://github.com/redwoodjs/redwood/issues/1266) will help you orient. And lots of community support is available as well -- don't just rely on me or commenting in this Issue or PR, ask the community when/i

[2020-10-11 07:46] peterp commented on #1321
I'm attempting this over here: https://github.com/redwoodjs/example-invoice/pull/39 and ran into an issue: https://github.com/dotansimha/graphql-eslint/issues/88

[2020-10-11 09:38] mohinderps commented on #1301
Thank you @thedavidprice for helping me get started on this. Yes please, you can assign it it me.

[2020-10-11 12:20] peterp commented on #1321
Whilst trying this I ran across the GraphQL VSCode Plugin which has a bunch of these features and a bit more. Of course, this means that it'll only work in design time, but the DX of the plugin is just really good (auto-completion of the schema).

I'm going to a `graphql.config.js` file and suggest that people install the plugin instead.

[2020-10-11 12:20] #1321 closed

[2020-10-11 15:32] thedavidprice commented on #1301
Great! Happy to help. And do keep me posted.

[2020-10-12 01:42] andrew-hwahin commented on #1261
Thanks, @aldonline and @thedavidprice.

I'm having difficulty in upgrading @redwoodjs packages by running `yarn rw upgrade`. It is showing that all of my dependencies are up to date.

My project is currently using v0.19.2 but when I use my cursor to point at the @redwoodjs/core, the version is showing 0.19.1 instead of 0.19.3

![image](https://user-images.githubusercontent.com/61768800/95696562-37

[2020-10-12 03:23] thedavidprice commented on #1261
@andrew-hwahin That's very strange indeed and clearly not working correctly. In order to test the VS Code Extension, you can manually upgrade the packages by changing each `@redwoodjs/*` package to `v0.19.3` in the following 3 files:
- `package.json`
- `web/package.json`
- `api/package.json`

Save, and then install with `yarn` command.

Does that seem to do the trick?

[2020-10-12 05:40] andrew-hwahin commented on #1261
@thedavidprice I've manually upgraded the packages by following your instructions but the VS Code Extension still does not work.
![image](https://user-images.githubusercontent.com/61768800/95708993-49ec9f00-0c90-11eb-929d-6350ced9a5d6.png)
![image](https://user-images.githubusercontent.com/61768800/95709092-80c2b500-0c90-11eb-974e-3afa32118688.png)

[2020-10-12 06:47] mohinderps commented on #1301
@thedavidprice, I am able to do the tailwind local setup for framework package development.

_Lastly, there's one hiccup with the local dev workflow --> if you have the Framework repo and local test Project linked, any command that invokes yarn install will break the "link". See this Issue for details.
How I handle this is to separate the "install" step in the command, make sure it works, and then

[2020-10-12 07:24] mohinderps commented on #1301
@thedavidprice, I am unable to reproduce the issue though.

I followed the following steps:

1. Successfully run yarn rw setup tailwind
2. Remove the postcss config file rm web/config/postcss.config.js
3. Remove the tailwind config file rm web/tailwind.config.js
4. Run yarn rw setup tailwind again

After the step 4, I get a success message

![image](https://user-images.githubusercontent.com/163722

[2020-10-12 07:35] mohinderps commented on #1301
Oh okay, I am able to reproduce it now.

I had to delete the config files(`postcss` and `talwind`), `yarn install -D postcss-loader tailwindcss autoprefixer`, `yarn rw copy:watch <redwood-framework-path>`,  `yarn rw setup tailwind` to reproduce it.

![Screenshot 2020-10-12 at 1 02 45 PM](https://user-images.githubusercontent.com/16372215/95717897-4acf0200-0c8b-11eb-8f95-1d6187adc080.png)

[2020-10-12 09:00] mohinderps commented on #1301
@thedavidprice , I noticed something very strange going on right now which may be the root cause of this entire thing.

1. Create a fresh redwood app:  `yarn create redwood-app redwood-test`.
2. Install tailwindcss: `yarn workspace web add -D tailwindcss`. This adds tailwind in the `node_modules` folder.
3. Repeat step 2 i.e. reinstall tailwindcss which `yarn rw setup tailwind` does internally.

*

[2020-10-12 09:17] Tobbe commented on #1301
Happy to see you're making progress here @mohinderps 🙂

What happens if you install tailwindcss twice in a non-redwood project?
What happens if you reinstall some other package (not tailwindcss)?

[2020-10-12 09:24] Sventenhaaf opened #1329 "Cookie based auth"
I'm orienting on Redwood (and so far loving it!)

Just wondering about Auth - I see all kinds of 3rd party auth providers being offered. Maybe not all of them are 3rd party, but every alternative still seems to use JWT based auth - using session tokens to be sent to the frontend and managed there.

Assuming (but not sure?) that, when using the out-of-the-box deployment options, the api and the fro

[2020-10-12 10:00] mohinderps commented on #1301
@Tobbe , This is what I am upto right now. Following are my key observations.

I have come to the following conclusion after numerous attempts.

1. Install x does not add x.
2. Reinstall x does not add x.
3. Install y adds x but not y.
4. Reinstall y still doesn't add y, but x remains in the node_modules.
5. install z, adds y also, so we have both x and y, but z is not added.

I tried with x: tail

[2020-10-12 10:19] mohinderps commented on #1301
Okay another important point to consider.

It holds true if the package is already defined in package.json. Otherwise it behaves normally.

So to say with an example:

1. tailwindcss is not in package.json
2. Add tailwindcss using yarn workspace add command, every thing will work fine.
3. Now remove node_modules folder.
4. Again add tailwindcss, it does not show up in node_modules.
5. Now remove n

[2020-10-12 10:29] mohinderps commented on #1301
Okay, the above does not hold for styled-components library :(. Still cannot come to a conclusion. Need to analyse more.

[2020-10-12 16:01] thedavidprice commented on #1301
@mohinderps Wow, some strange behavior indeed! Thank you for being persistent here. And thank you @Tobbe for jumping in to help as well.

^^ Ok, so definitely hints at what's happening in our case when the setup command is run _and_ tailwindcss already exists. Not exactly our case, but indeed Yarn Workspaces is being finicky.

Note: I don't think this is the case, but something else could be happe