[2021-02-04 15:58] dac09 commented on #1727
I don't really like the proposed solution that much to be honest... but what we really want is the ability to select and customise each of the plugins, _and_ the loaders including in the default redwood config.

Some examples:
- using `.less`, and adding less-loaders.
- modifying the HTMLWebpackPlugin

[2021-02-04 16:23] jeliasson opened #1730 "RBAC: Add hasRole to API"
Currently we have `hasRole` method on the web side of things, but it would be neat having it on the api side. We currently have `requireAuth`, but that will throw an error while `hasRole` would most likely return a boolean.

For now it's super easy to just add copy the `requireAuth` logic and change out the throwing of exceptions to boolean, but would be nice seeing a native way in future RedwoodJ

[2021-02-04 16:49] dthyresson commented on #1730
Idea here is to move

[code]

into a `hasRole()` that returns a boolean and then use that to raise the `ForbiddenError`.

That way a `hasRole()` could even be used in a directive or maybe GraphQL shield to protect a service resolver easily.

[2021-02-04 16:52] kimadeline commented on #947
Hi @andrew-hwahin,

Azure Functions aren't supported by Redwood yet, so I don't have any documentation off the top of my head. However, if you're up for some tinkering, the Apollo docs have a section on [deployment using Azure Functions](https://www.apollographql.com/docs/apollo-server/deployment/azure-functions/), which may be a solid starting point.

[2021-02-04 17:11] VinayaSathyanarayana opened #1731 "Auth Provider: https://fusionauth.io/"
Please support https://fusionauth.io/ as an Auth Provider. This will be essential where want more control of Auth

[2021-02-04 17:16] VinayaSathyanarayana opened #1732 "Product Idea: Dashboard Composed of Cells"
The idea is that one should be able to compose a dashboard with multiple cells
Page->Grid->Cells

Each cell can show
+ Static Data
+ Streaming Data (Support for Time Series Data and GraphQL Subscriptions)

Note: Each Cell can be independently linked to different data sources

[2021-02-04 17:58] dthyresson commented on #1709
Oh, you are referring the this repo's README in the `Technologies` section.

https://github.com/redwoodjs/redwood/blob/main/README.md

@VinayaSathyanarayana Would you suggest any of the above mentioned links in included as helpful? And if so which?

[2021-02-04 18:03] dthyresson commented on #1701
I'd be curious if it plays well with TailwindCSS/UI such that

https://tailwindui.com/components/application-ui/feedback/alerts

their Alerts like

![image](https://user-images.githubusercontent.com/1051633/106935407-4cfd1680-66e9-11eb-8649-aae4e50bfc39.png)

could be styled that way.

If so, yes toast please!

[2021-02-04 18:44] dthyresson opened #1733 "Support Prisma Native Types Postgres BigInt in SDL"
I ran into a case today where a  column was set in Prisma scheme to `Int` which is `int4` in Postgres.

But, I had a case where Filestack wanted to set that column to a value above its limits (ie, files with size > 2GB=ish -- 2,147,483,647) as had some people upload 3GB and 5GB files. While I can handle that in filestack to set a maximum size etc, it revealed that I cannot set the schema to use `B

[2021-02-04 18:57] thedavidprice commented on #1733
This feels like a v1 requirement for sure, right?

Also, @cannikin, it didn't hit me until now --> with the new DB Type support coming in Prisma v2.16, will there be necessary changes to the Scaffold Generator? Assuming "no" but....

[2021-02-04 19:01] thedavidprice commented on #1732
Feels a bit like https://vida.io/ !

Also @VinayaSathyanarayana this is a great topic but will likely get lost here in the GH Issues. Maybe try starting a discussion on the Forums? (Also, search for some similar topics in the Forums. I believe some people were thinking about a similar idea but for backend Admin Dashboard.)

https://community.redwoodjs.com

[2021-02-04 19:01] cannikin commented on #1733
It doesn't HAVE to change, but it would be nice if you had a datatype of `TEXT` that we show a textarea in the form instead of a single-line text input.

[2021-02-04 19:04] cannikin commented on #1733
We should also verify that native types doesn't change the object that `getDMMF()` gives you. That's the function that parses the raw schema file into an object that we look at to determine what field types and stuff everything is. Right now the type is `String`. I would hope that for their own backwards compatibility they kept that and added an additional field with the equivalent native type.

I

[2021-02-04 19:28] thedavidprice commented on #947
Another idea --> we are using [Serverless Framework](https://serverless.com) to handle direct deployment to AWS Lambdas. @andrew-hwahin if you take a look under the hood a how that's working with Redwood, you could most likely get it working for Azure using Serverless Framework.
- https://www.serverless.com/framework/docs/providers/azure/
- https://redwoodjs.com/docs/deploy#aws-serverless-deploy
-

[2021-02-04 19:35] thedavidprice commented on #1659
Indeed! Thanks for jumping in here @Aditya-1804078

**Getting Started with Contributing Docs**
- https://redwoodjs.com/docs/contributing
- CLI Package: https://github.com/redwoodjs/redwood/blob/main/packages/cli/README.md

**Code Reference**
- Command to update: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/upgrade.js
- Take a look at how setting working directory is han

[2021-02-04 19:37] thedavidprice commented on #1728
I understand the need, but I _really_ don't want to do this.

Preference would be to offer the steps from Forum comment (above) as help content in doc, post, inline-comment, etc. Downgrading Prisma should be a _very_ rare edge case. 🤞

[2021-02-04 21:05] #1706 closed

[2021-02-04 21:07] jonniebigodes commented on #1709
@dthyresson  i have been checking on the integration on and off and the awesome job you guys did integrating Storybook. But i was checking the tutorial and something peeked my interest. With Storybook 6.0.x controls and args are included as one of the features and the tutorial doesn't mention that. Probably not a bad idea to adjust the snippets to mimic what the user /reader sees when adding Story

[2021-02-04 21:29] thedavidprice commented on #1709
@jonniebigodes great to see you here! You've been missed 😄

Unfortunately, Redwood is currently using Storybook 5. There's a lot of moving parts (I believe) to upgrade to v6. We'd like to do it, it's just not been a priority for us given all the other things happening to get Redwood v1 released soon.

Help welcome. But if it's too many moving parts that require someone like Peter to review and ans

[2021-02-04 21:51] Tobbe commented on #887
@toxsick I think this issue would be solved by https://github.com/redwoodjs/redwood/pull/1681

If you have a minute to spare it would be really helpful if you could first upgrade to latest RW, and then install the PR package from that link above. Then re-run the test and see if they work better now

Thanks!

[2021-02-05 10:43] dac09 commented on #1670
Closing this, changes implemented in #1641

[2021-02-05 10:43] #1670 closed

[2021-02-05 12:57] dac09 opened #1738 "[Bug] Webpack module resolution incorrect for storybook"
If we use `Array.map` in a component, storybook errors out with the following:

[code]
It looks like its failing to resolve babel core js, and is likely related to these lines here:
https://github.com/redwoodjs/redwood/blob/5ea3b0ea4435fa9b038d8531dd64dc0e61eda89f/packages/core/config/webpack.common.js#L169

Based on this issue from babel: https://github.com/babel/babel/issues/9026

[2021-02-05 14:59] VinayaSathyanarayana commented on #1732
Thanks @thedavidprice.

[2021-02-05 15:14] dac09 commented on #1673
Repro'd, confirmed bug is created in `babel-plugin-redwood-mock-cell-data`. Looking to fix now :)

[2021-02-05 15:58] voidmain commented on #1731
I poked around quickly at the Redwood docs and it looks like it implements Implicit Grant with most of the providers. This grant is deprecated, so I would steer clear of it completely (it's extremely insecure).

It might be quite simple to integrate FusionAuth with Redwood securely though by just using OIDC and the Authorization Code Grant. In most cases, all you need are 2 routes that handle send

[2021-02-05 16:32] dac09 commented on #1673
Thanks for reporting this @jangxyz, and for the simple repro steps as well!

[2021-02-05 23:00] Tobbe commented on #887
Before my fix
![image](https://user-images.githubusercontent.com/30793/107097810-1ec52700-680e-11eb-8978-0f6f7e0d1cb5.png)

After my fix
![image](https://user-images.githubusercontent.com/30793/107097893-487e4e00-680e-11eb-89ae-e56582b1d48d.png)

[2021-02-05 23:20] Tobbe commented on #1667
Storybook Wp5 support:
![image](https://user-images.githubusercontent.com/30793/107099091-14585c80-6811-11eb-8aa8-f82fefec7f44.png)

[2021-02-05 23:39] Tobbe opened #1742 "RW generates invalid TS types file for the router"
When you build a Redwood project (`yarn rw build`) there's a babel script that looks at your routes and generates up a `routes.d.ts` file in the `.redwood` folder.

This is what that file might look like (on Windows)

[code]

So, two issues here

1. This is a types file, that is only used when generating/building types. As soon as that's done it's not used anymore. So all those global definitions

[2021-02-06 00:36] thedavidprice commented on #1732
Conversation has moved here --> https://community.redwoodjs.com/t/spreadsheet-style-editing-in-cell-page/1786

[2021-02-06 00:36] #1732 closed

[2021-02-06 01:05] Tobbe commented on #1719
Fixed by https://github.com/redwoodjs/redwood/issues/1742

[2021-02-06 03:22] adriatic commented on #1742
How then did anything "typescript" work? Or, are you saying that nothing did work and I caught just something on the very surface?

A side note: did you know that the VS Code team at some point in the past when a lot of code already existed as typescript, decided to rewrite everything in TypeScript? They cited the hugely improved support for refactoring as the key reason (meaning that they would s

[2021-02-06 08:25] #1676 closed

[2021-02-06 09:37] Tobbe commented on #1742
I suspect most people just kept the routes file as a .js file even if they had other .ts(x) files in their project

[2021-02-06 14:47] adriatic commented on #1742
That was my fear as one of RW main thrusts should be focused on "making" people use Typescript - and that is best done by demonstrating the advantages of TS in the form of very clear examples.

[2021-02-06 15:03] Tobbe commented on #1742
When TS support is more mature the plan is to switch over to generating TS projects by default. That'll get people using it :)

[2021-02-06 15:16] dthyresson commented on #1731
Hi @voidmain. FusionAuth is definitely new to the RedwoodJS team (and me) -- so thanks for making us aware of it!

As we'd like to support many popular Auth providers to give people flexibility and choice in authentication (sometimes certain providers cannot be used in certain countries for various reasons) -- knowing more about how best to implement FusionAuth is helpful.

Typically, the AuthProv

[2021-02-06 15:22] adriatic commented on #1742
By this, you mean the RW ability to use TS, not the state of TS itself, right?

By the way, it was very helpful to meet you virtually yesterday. In the end, you held your baby - a very cute baby indeed.

[2021-02-06 16:15] mojombo commented on #1742
@adriatic For the record, this is not a goal of Redwood. We want to provide a first class TypeScript experience for those that want it, but Redwood is perfectly happy for authors to write their apps in JavaScript.

[2021-02-06 17:12] adriatic commented on #1742
@mojombo, you are correct and I am clumsy. Making people do anything is silly, providing incentives is a lot better. Note that @Tobbe stated that [above](https://github.com/redwoodjs/redwood/issues/1742#issuecomment-774490510).

Thanks for taking my foot out of my mouth 😄

[2021-02-06 17:17] Tobbe commented on #1742
Yes, I was talking about how well RW and TS work together. TypeScript as a language is more than mature enough :)

Thank you 🙂 She has made appearances before 🙂

[2021-02-06 20:09] thedavidprice opened #1748 "RW Prisma `migrate resolve` command and DX"
Continuing from https://github.com/redwoodjs/redwood/pull/1720

We need to figure out the DX for `prisma migrate resolve`, which will be necessary for upgrading deployed projects (non-destructively) to the new Prisma Migrate.

The recommended solution is interactive and requests the connection string when run. The other two commands like this are `introspect` and `migrate status`:

- thoughts abou

[2021-02-06 20:12] thedavidprice opened #1749 "[v0.25 release dependency] RW Prisma Command improvements (discussion)"
Continuing from #1720

**Potential Problems**
1. Can use _always_ pass through flags for specific Prisma commands?
    - E.g. `yarn rw prisma migrate dev --name migration-name` did fail because Yargs tries to understand the --name flag
    - In the case above, I've added an initial hacky workaround for only `migrate dev` to handle `--name` automatically and accept `--create-only` when passed by th

[2021-02-07 07:36] peterp commented on #1748
I don't think we shouldn't try to aim for this for the initial release of this prisma upgrade. I think we should just use env vars.

[2021-02-07 09:59] peterp commented on #1749
Solved.

Does `migrate` not handle this automatically? From the docs:

I don't think it's required; since we're not mapping commands it doesn't really make sense to me.

Fixed!

I think we should avoid this until we've got a better idea of how everything works and maybe until it becomes stable in Prisma.

[2021-02-07 14:25] noire-munich opened #1752 "Typescript - refetchQueries not typed"
`refetchQueries` is not typed so we get an error while in `.tsx` files.

Conversation moved from https://community.redwoodjs.com/t/is-refetchqueries-deprecated/1791/9

Also a PR for this #1751

[2021-02-07 16:39] peterp commented on #1748
But, if we do want to go this route:

[prompts](https://www.npmjs.com/package/prompts) is an amazing package that makes this easy to do. I would suggest we allow people to use an env-var, but ask them to enter it if it's undefined.

[2021-02-07 22:07] dthyresson commented on #1749
Ran

`yarn rw prisma migrate dev --create-only`

Because my path has spaces and parentheses in it on OSX, I get and error seen before with storybook and other commands where the path isn't surroundend by quotes, etc.

[code]

[2021-02-07 22:25] dthyresson commented on #1749
Also getting a warning message about ` @prisma/cli`

[code]

[2021-02-08 04:03] wafuwafu13 opened #1754 "E2E Integration test is failed at `4. Getting Dynamic`"
#### Do

Ref: https://github.com/redwoodjs/redwood/blob/main/CONTRIBUTING.md#integration-tests
[code]

#### Result

<img width="748" alt="スクリーンショット 2021-02-08 12 17 49" src="https://user-images.githubusercontent.com/50798936/107172038-ade95f00-6a07-11eb-8689-82430e86a78f.png">

#### stack trace

[code]

[2021-02-08 04:08] wafuwafu13 commented on #1754
When I changed

https://github.com/redwoodjs/redwood/blob/e5cab915943228d85fb773c0bb47a45346194864/tasks/e2e/cypress/integration/tutorial/tutorial.js#L83-L88

to

[code]

, error don't occured at `tutorial.js:83:8`, but different error occured.

<img width="1418" alt="スクリーンショット 2021-02-08 12 51 39" src="https://user-images.githubusercontent.com/50798936/107174314-433b2200-6a0d-11eb-84bc-0fb1bb0f50

[2021-02-08 07:06] peterp commented on #1754
Thanks for this! We're busy upgrading Redwood to the latest version of Prisma and the CLI has a bunch of breaking changes.

[2021-02-08 11:38] dac09 commented on #1728
I realised because the CLI is so closely tied in with prisma, it makes sense not to do this for now. We can re-visit later if this continues to be an issue

[2021-02-08 11:40] dac09 commented on #1608
Implemented. Tokens must now be retrieved using the function `getToken` in useAuth

[2021-02-08 11:40] #1608 closed

[2021-02-08 11:40] dac09 commented on #1576
Fixed with #1609

[2021-02-08 11:40] #1576 closed

[2021-02-08 12:37] dthyresson commented on #1748
@peterp Are you suggesting that each RedwoodJS app declare two env-vars: one for the development database and one for production (or even multiple staging, integ if so happens)?

How then does the developer specify which to use when resolving?  I think I will likely resolve production manually and not part of a deploy build process.

I think there was some discussion around declaring an environmen

[2021-02-08 12:41] peterp commented on #1748
Nope, just one: `DATABASE_URL` env-var. If you wanted to switch to production you would have to specify the connection string and then run the command, like this:

[code]

[2021-02-08 12:45] dthyresson commented on #1749
@thedavidprice Currently, I was unable to name a migration when issuing:

[code]

Responds with:

[code]

Is this expected?

[2021-02-08 12:50] dthyresson commented on #1748
Ok, that's fair. Makes sense. Since `resolve` is such an explicit command that having to specify clearly the prod (or target db) seems appropriate.

Note, I wanted to see what happens with a target dev db:

[code]
And the `applied` argument wasn't recognized:

[code]

[2021-02-08 13:41] peterp commented on #1748
@dthyresson Check out my new fixes for this: https://github.com/redwoodjs/redwood/pull/1750

[2021-02-08 17:59] jonniebigodes commented on #1709
@thedavidprice i've been keeping a close eye on the project. Sorry for not being so active but i had to shift my attention to other tasks.

Let me know what is that's required and i can get in touch with the Storybook maintainers and we could work something out.

[2021-02-08 18:54] #1749 closed

[2021-02-08 19:54] jvanbaarsen opened #1756 "DB is not truncated after Scenario's were added"
After Redwood added the Scenario feature I'm noticing that my test DB is not being truncated in between tests. I look at the jest config and noticed that https://github.com/redwoodjs/redwood/commit/6823af340f6d1d511ebb22140e41f444230fe5a7#diff-7d9933d3f0db7efd0233969efe34fd5c90e97d5b8ab8755427beea8f038f0aa6L11 was previously responsible for clearing out the test DB.

I'm wondering if upgrading fro

[2021-02-08 20:42] cannikin commented on #1756
There's an open PR here that's hoping to improve the resiliency on the teardown: https://github.com/redwoodjs/redwood/pull/1714

Right now the scenario logic looks to see the name of every model that scenarios are created for, then issues a `DELETE` after the test is done. Someone pointed out (in that same PR above) that it isn't tracking any OTHER records you may have created during your test. Fo

[2021-02-09 05:37] jangxyz commented on #531
I see that webpack/babel configurations above are for aliasing the path, but I have another problem.

I can't make the `api` side pick up exported modules or typescript files. Is there some other configurations I need to do?

I thought the `babel.config.js` file on the root containing the `@redwoodjs/core/config/babel-preset` would handle it, but I guess not.

---

What I mean (on 0.24.0):

### 1.

[2021-02-09 06:25] thedavidprice commented on #1754
When I merged https://github.com/redwoodjs/redwood/pull/1720 I updated the E2E tests and can confirm everything was passing.

I believe something is broken with the RW Prisma command since then but not with the E2E itself.

[2021-02-09 07:23] peterp opened #1759 "FetchConfigProvider and auth tokens"
`FetchConfigProvider` used to provide the correct configuration when a user is authenticated or not:

1. The GraphQL endpoint
2. The authentication type
3. The authentication token

But, we no longer cache the authentication token. Instead we query the authentication client and ask for an auth-token on each request. Which is the correct thing to do.

So when creating a custom client you must reque

[2021-02-09 07:32] peterp commented on #531
@jangxyz you would have add your "sharing folder" to your paths.

So, the first thing I'm seeing is that you're using a relative import. I would modify the babel configuration to an add alias for "sharing":

[code]

Then you would have to do the same thing for your {js,ts}config.json file:
[code]

[2021-02-09 07:33] thedavidprice commented on #1754
@peterp confirming the E2E is broken now on latest canary. The error was related to Yargs parsing the Prisma command during Getting Dynamic.

I haven't been able to look into the specifics, but I'm assuming something happened here https://github.com/redwoodjs/redwood/pull/1750 Could you possibly take a look?

[2021-02-09 09:20] jangxyz commented on #531
Actually, that was the first thing I tried, following along the thread. However it did not make any difference with the result.

I figured babel config (and accompanying tsconfig) was for doing alias imports,
and while I do like assigning module aliases, it has less to do with the SyntaxError problem it is facing.

I left the path configurations untouched on purpose because I thought that had noth

[2021-02-09 11:39] jvanbaarsen commented on #1756
@cannikin Thanks for responding this quickly :-) I currently only have two models, I tried adding a scenario file for both of the models and change my tests from `it(...)` to `scenario(...), (scenario)`.

The models are called users and tasks, so no pascal casing.

Even after adding a scenario file for both the models the problem remains. I do think that the two issues are pretty much tied togethe

[2021-02-09 11:46] jvanbaarsen commented on #1756
After testing this with sqlite instead of postgres I'm sure the issues are related, since in sqlite everything works as expected!

[2021-02-09 14:46] peterp commented on #531
@jangxyz I think you should only have either `jsconfig.json` or `tsconfig.json`, but not both.

[2021-02-09 16:44] cannikin commented on #1756
Ahhh that sounds like it might be the capitalization issue then. Hopefully that PR is just the medicine you need!

[2021-02-09 16:44] MarceloAlves commented on #1759
I've updated my provider so that the token is requested before firing off 🚀

[2021-02-09 17:49] jvanbaarsen commented on #1756
@cannikin Yep, I'm keeping an eye on that PR, I'll make sure to check out canary once it is merged. When that is the fix I'll close this issue.

[2021-02-09 17:56] #1673 closed

[2021-02-09 21:22] thedavidprice commented on #1754
This is resolved as of https://github.com/redwoodjs/redwood/pull/1761

@wafuwafu13 please do let us know if you have further issues. Thanks!

[2021-02-09 21:22] #1754 closed

[2021-02-09 21:25] thedavidprice commented on #1709
@jonniebigodes Thanks for offering. @peterp did all the amazing Redwood + Storybook integration work, so he'd be the one to provide guidance here.

[2021-02-09 22:45] thedavidprice commented on #1748
@Tobbe can you help us understand Windows concerns regarding passing Env Var at the command line, e.g.:
[code]

My understanding is that this works for some cases, e.g. Git Bash, but not all cases, correct? Is there a standard way to do this that works in all Windows cases?

[2021-02-10 00:22] thedavidprice opened #1764 "[v0.25] `yarn rw prisma --version` should have same output as `yarn prisma --version`"
@dac09 this is probably a low priority. Putting it on your radar in case you come across a quick fix while working on the `--help` output for `rw prisma` command.

---

Currently `yarn rw prisma --version` outputs the Yargs Redwood CLI version. E.g.:
[code]

Ideally, it should output the same as `yarn prisma --version`:
[code]

[2021-02-10 03:06] thedavidprice commented on #1748
## Current Status
For the near-term, we are going to handle this via documentation (likely via Forum) and advise users to pass DATABASE_URL with the command (per Peter's example above).

## Best Case
We need to escalate this with the Prisma team and push for a resolution on their end, top-down. It's just not an acceptable solution as-is to require users to add production secrets to local files in

[2021-02-10 04:33] VinayaSathyanarayana commented on #1731
next-auth supports fusionauth.io
Does RedwoodJs use next-auth.js behind the scenes?

[2021-02-10 04:51] TawfikYasser opened #1765 "I have a suggestion"
Hi

I suggest to add a GitHub action to display a welcome message for the contributor every time an `Issue` or `PR` opened

If you agree with me, I can do it.

Thanks

[2021-02-10 05:50] #1764 closed

[2021-02-10 06:56] jtoar commented on #1362
Awesome discussion and great resources! Just wanted to chime in and say that I can take the lead on this since I'm doing focus management as well.

[2021-02-10 07:27] thedavidprice opened #1770 "E2E tests *always* use packages from Redwood Framework Branch"
Prior to the changes in https://github.com/redwoodjs/redwood/pull/1761, if you passed the path of a local project (e.g. `./tasks/test-tutorial /path/to/project`) the runner would _not_ install packages but instead use the current packages in the specified project. Now it builds and uses the packages from the Framework branch.

Ideally, in the case of setting a path to a project, we could pass a fl

[2021-02-10 09:57] dthyresson commented on #1362
@jtoar I looked at an older app and realized we had done something really similar to the `window.scrollTo` for focus:

[code]

I cannot remember exactly what location was ... but what I do recall seeing from time to time was some some of timing :) issue when setting focus happened perhaps when the input wasn't 100% ready (this was a year or so ago for this app).

Perhaps, the timing and some defen

[2021-02-10 10:06] Tobbe commented on #1748
So I wrote a test script

![image](https://user-images.githubusercontent.com/30793/107493342-c71c1800-6b8d-11eb-9ae9-dce27e6347a2.png)

In git-bash:

![image](https://user-images.githubusercontent.com/30793/107493399-d8652480-6b8d-11eb-930a-f3442fad3db4.png)

PowerShell

![image](https://user-images.githubusercontent.com/30793/107493490-f599f300-6b8d-11eb-968d-715bba5602df.png)

Cmd

![image](http

[2021-02-10 10:12] Tobbe commented on #1748
git-bash

![image](https://user-images.githubusercontent.com/30793/107495521-7eb22980-6b90-11eb-8043-7724ae57eafb.png)

PowerShell

![image](https://user-images.githubusercontent.com/30793/107495619-9ee1e880-6b90-11eb-81b1-44ab32ed8509.png)

Cmd

![image](https://user-images.githubusercontent.com/30793/107495573-8d004580-6b90-11eb-97d1-5e0f222821f5.png)

[code]
The above seems to work everywhere 👍

[2021-02-10 10:16] Tobbe commented on #1748
So in theory you should be able to do

[code]

But I have not tried it with that exact command, only with my test node script as you see in my previous posts.
The command should work for all platforms, so if you want to have just one command for everyone that'd be the way to go. Or you can split it up and recommend the version without cross-env for unix-like OSes

[2021-02-10 10:37] dthyresson opened #1771 "Use createMany in Seed database example once out of Preview"
Prisma 2.16 introduced a `createMany` function to efficiently bulk load data.

By using `createMany` one no longer has to iterate over a set of records to load data -- and no longer has to worry about Promises resolving per record creation.

It is also much much faster (according to Prisma).

Note in 2.16 seeds get created on `migrate reset`.

Example:

[code]

However, since this feature is in pr

[2021-02-10 10:47] dthyresson commented on #1771
For Postgres databases, one can use `skipDuplicates` to only create new records.

[code]

[code]

[2021-02-10 10:54] dthyresson commented on #1731
@VinayaSathyanarayana @redwoodjs/auth is a lightweight wrapper around popular SPA authentication libraries, but does not use next-auth.

You can see in the [Authentication docs](https://redwoodjs.com/docs/authentication) [https://redwoodjs.com/docs/authentication](https://redwoodjs.com/docs/authentication) some examples of the implementation -- and how one would implement a new provider like Fusio

[2021-02-10 13:05] simoncrypta commented on #1771
I love the idea, we can maybe already add the example on the comment and replace
[code]
by something like
[code]
I know that makes a long comment section, but I feel is something that many people want to know!

[2021-02-10 13:59] dthyresson commented on #1771
@simoncrypta Thanks! Want to take this on as a PR for release 0.25?

The file to change is: https://github.com/redwoodjs/redwood/blob/main/packages/create-redwood-app/template/api/db/seed.js

I think that comment section is a good place for the example that you showed.

Might:

* Not use prisma.io emails, but example.com
* Link to the [docs for createMany](https://www.prisma.io/docs/reference/api-

[2021-02-10 14:02] simoncrypta commented on #1771
@dthyresson Yes with pleasure and think you for the hint! I will work on it today.

[2021-02-10 16:15] thedavidprice commented on #1748
Genius @Tobbe 🚀🚀

I'll take it for a spin today!

[2021-02-10 16:29] dthyresson commented on #1733
@cannikin and @thedavidprice the mapping (PG) for String is

https://www.prisma.io/docs/concepts/components/preview-features/native-types/native-types-mappings#string

![image](https://user-images.githubusercontent.com/1051633/107539141-ac986d80-6b92-11eb-9afa-0a3da22e80a0.png)

Are you asking to test scaffolds when the schema is something like

[code]

?

[2021-02-10 17:08] cannikin commented on #1733
Okay so all of those native types, `getDMMF()` will list them as `String` it sounds like. That's what the generators expect and we should be okay then.

The nice-to-have would be that if you have a `text` (and `citext`) the scaffolds would show a textarea instead of input.

[2021-02-10 18:57] voidmain commented on #1731
@dthyresson our TypeScript client is definitely the best way to implement directly with FusionAuth. However, I would definitely recommend using OpenID Connect using the Authorization Code Grant and the Userinfo endpoint instead. This is compliant with a well known specification and makes it really simple to just plug in new identity providers.

In terms of the Implicit Grant being deprecated, you

[2021-02-10 19:45] thedavidprice commented on #1748
Update --> works great on Mac (as expected).

[2021-02-10 20:33] thedavidprice opened #1775 "Recreating Framework `yarn.lock` results in `yarn build` type error in structure package"
@peterp Not sure what's going on here, but this one has me a bit (pre-emptively) concerned. The error first came up here in the CI: https://github.com/redwoodjs/redwood/pull/1774/

### Steps to Reproduce Locally
- delete `redwoodjs/redwood/yarn.lock`
- `yarn` (creates new `yarn.lock`)
- `yarn build`

Beginning of resulting build error:
[code]

[2021-02-10 21:37] thedavidprice opened #1777 "`yarn rw upgrade` now has flashing Listr task output"
@peterp and @noire-munich This is likely related to https://github.com/redwoodjs/redwood/pull/1155

The following "flashing" now occurs (sometimes) when `rw upgrade` is run. I believe it's likely due to async within the Listr Tasks that ends up re-writing task titles. I didn't see this when initially testing because a) I don't think it happens for all options and b) I think it does not happen on r

[2021-02-10 21:54] thedavidprice opened #1778 "re-deploy results in logged-in user encountering error message (screen of death)"
@dac09 @Tobbe @dthyresson
Something new I'm noticing when deploying using v0.25 release candidate (i.e. canary) --> If a user was previously logged in and then tries to visit the site after re-deployment, they hit the dreadful "Something Went Wrong" error (screenshot below).

I'm using my test repo which is a duplicate of the Redwood Tutorial project codebase. [Repo here](https://github.com/thedav

[2021-02-11 01:02] jangxyz commented on #531
I don't think having both `jsconfig.json` and `tsconfig.json` is the key problem.
AFAIK jsconfig is picked up by IDE and not the build process, and they are set up in both `web/` and `api/` sides anyway. Currently the only side that's facing the problem is the api side.

However, even I follow your suggestion the problem still remains without one of the configuration files.
I've updated the sample

[2021-02-11 02:50] thedavidprice commented on #1778
**Update:**
After an initial deploy that resulted in ScreenOfDeath, I deleted `gotrue.user`, refreshed to live page, then logged back in. From there, I just re-deployed (cleared-cache and redeploy on Netlify) and NO ISSUES. Stayed logged in. Page refreshed fine.

Possible path to replicate locally:
- Start with [this repo](https://github.com/thedavidprice/redwood-tutorial-test/tree/v0.24.0) on bra

[2021-02-11 04:18] wminshew opened #1781 "convo: apollo network-and-cache / loading vs refetching networkStatus"
apollo triggers a loading state from `network-and-cache` even if some or all of the target [exists in cache](https://github.com/apollographql/apollo-client/issues/7605). I understand the cache policy was updated to avoid re-loading on mutations, but switching pages still triggers the loading state even if all of the page content is cached (a workaround I've been using is judiciously setting some q

[2021-02-11 08:12] n-j-m opened #1782 "Running tests while pointed to a postgresql database causes sql error 42P01 `relation "post" does not exist`"
While following the Tutorial II I switched the database provider to postgresql instead of sqlite. When I got to _**Our First Test**_, some of the tests failed and I saw the error `relation "post" does not exist` in the terminal output.  I turned on query logging for the prisma client and received the output below.

![image](https://user-images.githubusercontent.com/411630/107612556-202a9100-6c0c-1

[2021-02-11 09:24] dthyresson commented on #1730
Note this PR should also address the inconsistency in role vs roles in requireAuth.

The params and docs should both use `roles`.

[2021-02-11 15:14] jangxyz opened #1783 "cli storybook --open option is opposite"
The cli storybook command provides `--open` option whether to open the browser on start:

[code]

But currently it *opens the browser by default (which is false), and does not open when `--open` is given*.

This happens because while the start-storybook `--ci` option in DOES NOT open browser when given:

[code]

The code is implemented the other way around. ([cli/src/commands/storybook.js@v0.24.0]

[2021-02-11 15:20] jangxyz commented on #1783
Though this is an easy fix -- literally a single character would be sufficient,
I wonder whether the idea in the first place was to set default as `true`, like the dev command.

The first ta-da moments are indeed impressive :)

On a side note, I think it is feasible that we add `!build` condition as well
since `build-storybook` does not provide `--ci`.

[2021-02-11 16:21] thedavidprice commented on #1782
Hi there @n-j-m! Wondering if you set a test DB Env Var for your local Postgres? It's kind of a sneaky step -- maybe we could figure out a way to a) check what `schema.prisma` has as the Provider and b) confirm the Test DB connection string is a match... if not then message the user via console 🤔

Regardless, here's the Doc section:
https://redwoodjs.com/docs/local-postgres-setup#local-test-db

Do

[2021-02-11 18:01] n-j-m commented on #1782
@thedavidprice, I did set the `TEST_DATABASE_URL` env var in `.env.default`. I'm not sure that's the issue, however. Each time the tests execute, the test database is created (if it doesn't exist) and it leaves the scenario data in the `Post` table (because the delete fails).

I'm thinking the problem is in the [`teardown` function here](https://github.com/redwoodjs/redwood/blob/d61734296bf843d509

[2021-02-12 07:45] peterp commented on #1783
@jangxyz Thanks for this! I think when I wrote the storybook stuff that `--open` was not an available command. I agree that open should be the default and I agree that we shouldn't be sending the `--ci` option to Storybook.

[2021-02-12 14:22] thedavidprice commented on #1782
Super helpful @n-j-m

The `teardown` function you referenced was just recently updated here https://github.com/redwoodjs/redwood/pull/1714 and released in [v0.25.0](https://github.com/redwoodjs/redwood/releases/tag/v0.25.0) just yesterday.

Can you confirm this is indeed still an issue with yesterday's v0.25 release? Fingers crossed the new function is the fix we need here 🤞

[2021-02-12 15:02] thedavidprice commented on #1765
Hi @TawfikYasser Your enthusiasm and willingness to help have been so great to see. Please keep it up!

In general, we have so far chosen to _not_ use bots for automated responses like this. We much prefer having maintainers themselves be the ones to deliver the welcome message. If we have bots, we might become lazy (in the wrong way) 😆

One way a GitHub Action like this could be helpful is to _no

[2021-02-12 15:04] TawfikYasser commented on #1765
Thanks @thedavidprice for your reply

Yes, You’re right, I will try another way to help in redwoodjs

I will think about it :)

[2021-02-12 16:50] thedavidprice commented on #1765
Of course! I'll close this for now. But please do start another conversation when you'd like.

[2021-02-12 16:50] #1765 closed

[2021-02-12 16:58] TawfikYasser commented on #1765
Okay :) @thedavidprice

[2021-02-13 00:56] thedavidprice opened #1786 "(critical bug v0.25 canary) `rw prisma` append and prepend content is blocking interactive and throwing error"
@dac09 @dthyresson @peterp (Note: DT and I just worked through what's going on here).

## Problem
Using `0.25.1-canary.2`, which includes https://github.com/redwoodjs/redwood/pull/1785, interactive Prisma commands throw an error.

--> So a user **cannot** run interactive Prisma commands like `migrate dev`, `reset`, etc.

To reproduce:
- `rw upgrade -t canary`
- `rw prisma migrate reset` or `... mi

[2021-02-13 01:20] brgmnn opened #1788 "Exit status code is always zero for failed test in yarn rw test"
When running `yarn rw test --no-watch` the status code is zero even if tests have failed. The output log states that the command failed with an exit code of 1 but upon inspecting the last command exit code (via `echo $?`) it's still zero.

![image](https://user-images.githubusercontent.com/1955273/107837549-33e20e80-6d56-11eb-85fe-1c93d349220e.png)

Associated Redwood info:
[code]

[2021-02-13 11:05] dac09 commented on #1788
Thanks for raising this @brgmnn. Between us Daniels, we'll get this fixed ;)

[2021-02-13 11:08] jvanbaarsen commented on #1756
With the latest release this has been fixed :)

[2021-02-13 11:08] #1756 closed

[2021-02-13 14:34] dac09 commented on #1786
Added fix in PR above!

[2021-02-14 08:42] jvanbaarsen opened #1794 "RW Prisma commands don't seem to work in combination with RWT"
I'm trying to debug a couple of things in my app, so I'm using the `rwt copy` way of syncing my local checked out version of Redwood to my project. I noticed that all the CLI commands seem to work except the ones that interact with Prisma, in those cases I get this error:

[code]

The problems seems to be on this line: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/prisma

[2021-02-14 08:59] jvanbaarsen commented on #1794
What do ya know.. Writing down your issues helps :) It turned out I had a global installed @prisma/cli version on my system which was shimmed with asdf. Removed it and reshimmed everything and now it works like a charm.

Closing

[2021-02-14 10:36] dthyresson commented on #1788
@dac09 and @jvanbaarsen This issue I believe is the same? https://github.com/redwoodjs/redwood/issues/1794

[2021-02-14 12:20] jvanbaarsen commented on #1788
@dthyresson I'm not sure, I'm seeing a different error. I'd keep both open and test when the fix comes out.

[2021-02-14 12:33] ahmedosama5200 commented on #18
So redwood is like `create-react-app` + `serverless node.js graphql api`. Am I right about that ?
What make `redwood` better that `next.js`. `Next.js` does `SSR`, `SSG` and client side rendering.

[2021-02-14 13:24] jvanbaarsen commented on #1783
Submitting a PR for this 👍

[2021-02-14 13:30] jvanbaarsen commented on #252
@peterp Can you add to this issue what the requirements are? That would make it easier for people to pick it up. (@thedavidprice assuming you're not working on this?)

[2021-02-14 23:23] jangxyz commented on #730
It's been a while, but let me share what I've found out along the same route, for future reference.

On usage regarding `graphql-upload`:

### Background

**graphql-upload**
One of [best practices for file uploading with apollo](https://www.apollographql.com/blog/apollo-server-file-upload-best-practices-1e7f24cdc050/) is to use multipart upload requests. (Note it's only recommended as a hobbyist a

[2021-02-15 08:31] Tobbe commented on #730
@jangxyz Thanks for the well written explanation/walkthrough.

Correct me if I'm wrong, but since the `graphql` function is typically deployed as a Netlify lambda function it has an execution time limit of 10 seconds. So even if we did increase the limit, any upload that takes more than 10 seconds would still fail, right?

Of course one can choose to use another provider than Netlify if upload fun

[2021-02-15 09:19] jangxyz commented on #730
I think so, though frankly I can't say I have much experience on lambda functions. I do understand Lambda functions in general have limitations in running time and resources.

Since I don't think it's possible to draw a concrete line on the shape of the server, providing a default preset and leaving it open to the user will be a feasible solution.

[2021-02-15 11:02] dac09 commented on #1794
@jvanbaarsen sent you a message on discord. Can't repro using a fresh redwood app.

[2021-02-15 11:34] dac09 commented on #1794
I think I found the issue - it only pops up under the contributor workflow (strange right?!). I think its to do with the version of execa being invoked.

[2021-02-15 11:38] jvanbaarsen commented on #1794
@dac09 Yeah it only happens in the contributor flow I think. I'll double check if it also happens against canary.

[2021-02-15 11:39] dac09 commented on #1794
Once you confirm I'll add the fix to my hotfix branch!

[2021-02-15 12:34] jderrough opened #1796 "Seeding broken in 0.25.0"
After upgrading the example-blog project to 0.25.0, seeding seems to be broken:

[code]

[2021-02-15 12:44] jvanbaarsen commented on #1796
@jderrough Did you rename the seed file to `seed.js`? Also we are seeing issues with all the `rw prisma` commands which is being worked on by @dac09.

[2021-02-15 13:56] jderrough commented on #1796
Oh, silly me! Totally missed the step 4 of the Manual Code Modifications in the [realease notes](https://github.com/redwoodjs/redwood/releases/tag/v0.25.0).
Thanks!

[2021-02-15 13:56] #1796 closed

[2021-02-15 14:13] jvanbaarsen commented on #1796
No problem :) Glad it now works!

[2021-02-15 19:35] peterp commented on #1728
I think that the parts that are closely tied to Prisma are only the generation commands now that we alias the Prisma command. I think those commands are generally used in the beginning of a project, and not when a user is at the point where they're upgrading Prisma.

I think allowing user's to upgrade Prisma will be a plus, and we should consider making this as easy as possible.

[2021-02-15 20:13] peterp opened #1797 "Convert `cli/commands/prisma.ts` back to `.js`"
The CLI package is not a TypeScript project and we don't have plans to convert it to TypeScript just yet. The fact that it compiles is a fluke of babel.

If we want types let's use JSDocs!

[2021-02-15 22:10] dac09 commented on #1728
Hmm, yeah. This was before we started proxying the prisma commands. I'll reopen and leave it here for further discussion

[2021-02-16 01:03] #1786 closed

[2021-02-16 04:08] thedavidprice commented on #1778
Well, bummer, I ran into this again today in production when upgrading my Netlify deployment (using Netlify Identity) from Redwood v0.25 to v0.25.1.

Same error as before.

Need to escalate this one. @dac09 any ideas?

[2021-02-16 05:54] #1748 closed

[2021-02-16 11:22] dthyresson commented on #1778
One thing to test is to remove

[code]

https://github.com/redwoodjs/redwood/blob/a9dc069749e91ce084e9afbbc5a0e7748ab45d05/packages/auth/src/authClients/netlify.ts#L50

from the Netlify AuthProvider.

I added this because several people had described cases when logging in and signing up via the Netlify Identity widget that the widget would close, but the page would have to be refreshed in order fo

[2021-02-16 15:16] FractalHQ commented on #1246
My "SITE URL" is set to `http://localhost:5555/admin/`.  However, after signing up, I am redirected to `https://localhost:5555/`, instead of `http://localhost:5555/admin/`.  This is causing some issues.  Am I missing something?

[2021-02-16 17:29] thedavidprice commented on #1728
Our configuration and DX, not just with generators, are still tightly coupled to Prisma at this time. I'd want to see some stability on Prisma's side before we consider projects needing to manage, and upgrade, Prisma versions in addition to Redwood versions. So far Prisma has not had many examples of backward compatibility for more than a few minor versions once they've deprecated features, syntax

[2021-02-16 18:14] thedavidprice commented on #1246
Hi @FractalHQ! Thanks for checking in, but do know this probably isn't the best place to get the most help. I recommend starting a new post on the Redwood Forums: https://community.redwoodjs.com Be sure to include info about which Auth provider you’re using (Supabase, yes?) and how you've attempted to set up. You can loop me in `@thedavid` and I'll make sure you get some help.

Also, you can try o

[2021-02-16 18:22] dthyresson commented on #1246
Hi @FractalHQ I was just this morning informed of this Supabase and GoTrue issue

https://github.com/supabase/supabase/issues/640

I think that’s what you are seeing and Supabase is fixing it presently. You can track that issue for progress and then can update the Supabase client accordingly.

I think you’ll be able to set a redirect or callback url.

[2021-02-16 20:35] FractalHQ commented on #1246
@dthyresson Thanks so much!!  @thedavidprice Ah yes sorry- this wasn't the best place.  Thanks for the prompt help!!

[2021-02-17 05:34] thedavidprice commented on #730
@jangxyz huge thanks for an excellent write-up! I'd like to make sure this ends up somewhere that's accessible for people to find.

@jtoar thoughts here about where this might go as a supplement to existing docs? And/or maybe this becomes a Cookbook of it's own. Also a decent option --> becomes a forum post.

[2021-02-17 05:48] thedavidprice commented on #252
Hi @jvanbaarsen Thanks for jumping in on this one. This is the [Redwood installation package code](https://github.com/redwoodjs/redwood/tree/main/packages/create-redwood-app). Here's what was going on at the time this was created.

## Problem
When a user runs `yarn create redwood-app my-project`, the process begins by 1) creating a new directory `my-project/`, 2) copying the template codebases fil

[2021-02-17 06:01] thedavidprice commented on #18
Hi @ahmedosama5200 thanks for asking! A better place for this question would be the Redwood [Forums](https://community.redwoodjs.com) or Discord [Chat](https://discord.gg/redwoodjs) — the community is vibrant and helpful. Likely much more so than I can be!

Your comparison of Redwood to Next.js has solely focused on the Client in your example above. And that's where the difference lies. Redwood is

[2021-02-17 06:41] peterp opened #1801 "Only allow a function for the `standard` export in mock files."
In the past we allowed an object to be exported from standard, in order to simplify the differences in the code we're going to require that it's a function.

[code]

[2021-02-17 06:42] peterp commented on #1801
https://github.com/redwoodjs/redwood/pull/1740/files#r577359361

[2021-02-17 07:32] jtoar commented on #730
Awesome writeup @jangxyz! Are you interested in making a cookbook out of it? How to upload files with GraphQL sounds like a great topic, especially because we have a file upload cookbook using a 3rd party service, the merits of both methods could be compared. We also just need a lot more GraphQL-related docs.

Echoing @thedavidprice, I'd definitely love to see this on the forums at least. As you s

[2021-02-17 12:22] jangxyz commented on #730
Thank you for the feedback. I'd be happy to share it with rest of the world, but currently I consider the findings to be incomplete.

I've been thinking of writing about how to do uploads without using a 3rd party service, and post it on the forum. I see two possible approaches:

* a. **Using graphql directly**, as described above. But I am not sure how redwood would evolve, whether it will suppor

[2021-02-17 12:25] Tobbe commented on #730
@peterp I think your input on a. and b. above would be useful

[2021-02-17 12:36] jangxyz opened #1802 "@typescript-eslint mismatch with eslint"
I've noticed at least some rule for @typescript-eslint does not match the one with eslint:

[eslint-config/index.js](https://github.com/redwoodjs/redwood/blob/d25b1eca452c9725b36788e890140ce4396263e7/packages/eslint-config/index.js#L115-L117):
[code]

but no corresponding rule for typescript.

It's no big deal extending my `package.json` to handle this,
[code]
I just thought it would make more sen

[2021-02-17 14:17] peterp commented on #1802
🤦 Would you mind opening a PR and adding this?

[2021-02-17 22:59] cannikin opened #1804 "Need to include the scenario seeding function in try/catch"
https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/node/jest.setup.js#L76-L81

This chunk of code makes sure that an error in a test still causes the scenario data to be removed afterwords. However, if there is an error with the seeding process itself, the error is *not* caught and some records will remain in the database.

We need to either add a try/catch around this line o

[2021-02-17 23:09] cannikin opened #1805 "Update scenario syntax to allow extra options to be passed to `create`"
## Problem

According to these docs, it's possible to pass extra options besides `data` when creating a new record:

https://www.prisma.io/docs/concepts/components/prisma-client/relation-queries#create-a-related-record

(The example uses `include` to be sure that the nested records' data is also returned.) Right now we take the scenario object and set it as the `data` key automatically, but this p

[2021-02-18 06:59] jangxyz commented on #1802
Not at all. Here you go.

[2021-02-18 14:08] bl-ue opened #1811 "What about Tom's association with Gravatar?"
I thought @mojombo was associated with Gravatar (used by many, many services).  In this fantastic brag :smile: I don't see any such reference.  Mistake?

[2021-02-18 19:18] thedavidprice commented on #1811
Ha! You are correct, indeed. He created Gravatar and sold it to Automattic (the Wordpress folks).

Want to take a stab at adding that via a PR? It could be as simple as adding `creator of the avatar service Gravatar` after the `creator of Jekyll` phrase.

Doc is here: https://github.com/redwoodjs/redwood/blob/main/README.md

And PR submission is 💯 welcome! (But never with any pressure.)

[2021-02-18 19:50] bl-ue commented on #1811
Sure @thedavidprice, I'll open a PR right now.

[2021-02-18 19:53] cannikin opened #1812 "Allow running a single test by file path"
It would be nice if you could run only a single file with our test runner… you can normally with Jest, but we’ve intercepted the second argument and require that it either be web or api to run the suite for one whole side:

[code]

I'm guessing this is a yargs thing...instead of requiring one or the other we should allow *anything* and then do a little additional work to determine if it's a valid

[2021-02-18 19:55] ahmedosama5200 commented on #18
Thanks for replying @thedavidprice
Why reinventing the wheel ? Why don't you use `next.js` under the hood ? It's really a great framework and It's only getting better.
I think your end goal is, having a full stack serverless framework without much boilerplate code. Next.js will save you a ton of work unless you're trying to compete with it.

[2021-02-18 19:57] mojombo commented on #1805
That seems reasonable and is quite easy to understand.

[2021-02-18 20:01] agiannelli commented on #1804
🙋‍♀️

[2021-02-18 20:03] cannikin commented on #1804
You got it!

[2021-02-18 20:08] jvanbaarsen commented on #1805
This would be great to have! Right now you need to do data fetching if you run into this situation :+1:

[2021-02-18 22:36] cannikin opened #1815 "Services tests run outside of our `scenario()` function will not have their database records rolled back"
Our scenario teardown functionality (removing all the records that were seeded in a scenario) [only runs](https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/node/jest.setup.js#L80) within our custom [`scenario` test function](https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/node/jest.setup.js#L35). It uses Jest's `it()` function behind the scenes and s

[2021-02-19 03:43] jtoar commented on #1362
Yeah I think timing's a little tricky here, waiting for everything to be rendered before scrolling/focusing. Definitely appreciate the snippet, just to know that a solution like that's standard.

The good thing about scroll so far is that it's not a problem for popstate events (i.e. navigating backwards and forward&mdash;that scroll position's maintained), only pushstate. Still a big problem thoug

[2021-02-19 05:57] peterp commented on #1812
It would be amazing if we wrapped Jest the same way that we're wrapping Prisma's commands. So that you can pass any default arguments, but we provide some sane defaults for Redwood's context.

[2021-02-19 06:42] jtoar commented on #1362
@dthyresson I initially tried adding `window.scrollTo` to navigate like you said earlier but it was scrolling too soon, before things were rendered (here's a Tape https://s.tape.sh/snZA8jVu), and it was especially noticeable when you slowed the app down to fast/slow 3G.

Adding it in the `PageLoader` has all but fixed the problem so far!

[2021-02-19 08:06] cannikin commented on #1804
P.S. Meant to include a link to this earlier, it shows how to use your local copy of the Redwood repo in an app for quick testing: https://github.com/redwoodjs/redwood/blob/main/CONTRIBUTING.md

We've been seeing `yarn rwt copy:watch` randomly error out in the middle of copying so if a change you made doesn't seem to be working in the app, check that that process is still running! If it gets to be

[2021-02-19 10:26] jangxyz opened #1820 "Setting "typeRoots" in tsconfig.json for jest"
I am trying to make vscode understand `describe`, `it` and etc for test files, but following [the document on typescript](https://redwoodjs.com/docs/typescript#web) did not help.

![image](https://user-images.githubusercontent.com/52015/108490340-0103c180-72e6-11eb-980d-0fefe2839c2a.png)

Googling around for couple of hours, I [found out](https://github.com/kulshekhar/ts-jest/issues/889) that sett

[2021-02-19 11:00] Tobbe commented on #1820
`"typeRoots": ["../.redwood", "../node_modules/@types"],` looks good to me. But I'd wait for @peterp and/or @dac09 to comment as well.

If they don't see any problems with this it should definitely be added to https://redwoodjs.com/docs/typescript#web

[2021-02-19 13:08] dthyresson commented on #1362
You are definitely right about timing -- I had seen some cases when setting focus that the element wasn't either ready or mounted (or in some way unable to be interacted with) and thus setting focus would raise an error.

Do you plan to PR this addition?

[2021-02-19 20:25] #1719 closed

[2021-02-19 20:25] #1742 closed

[2021-02-20 14:43] Krisztiaan commented on #1217
#1824 for the flash component. #1312 is not relevant anymore.

[2021-02-20 14:44] Krisztiaan commented on #1217
#1641 resolved "Convert `src/packages/web/config.js`"

[2021-02-20 15:33] #1802 closed

[2021-02-20 20:48] adriatic opened #1825 "Why using backticks, when single quotes are just fine"
Running the command `yarn create redwood-app ./redwoodblog` results with these log messages:
[code]
Note that the last line uses backticks instead of single quotes, it is likely a typo.

[2021-02-20 20:54] jvanbaarsen commented on #1825
Hi @adriatic 👋,

Looking at the code I think this was done because otherwise we had to escape the character. The reason it is with `'` in the `creating directory` line is because we do a string interpolation there.

If you're up for it, can you create a PR to make this in line?

[2021-02-20 21:26] adriatic commented on #1825
Hello, @jvanbaarsen Jeroen

Can you point me to the location where this code leaves (it would be nice if one could run 'grep' from the browser pointing to the redwood repo)?

[2021-02-21 16:39] toxsick commented on #887
@Tobbe sorry for the late feedback. The new version works perfectly. Thanks guys!

[2021-02-21 23:18] adriatic opened #1829 "Test suite failed to run"
Running the line `yarn rw prisma migrate dev`  (see [Tutorial Migrations](https://redwoodjs.com/tutorial/getting-dynamic#migrations)) on the most current version of RedwoodJS (0.25.1) on Windows, I got

![image](https://user-images.githubusercontent.com/2712405/108641931-16a4f280-7470-11eb-9622-54b1d4b8ba42.png)

The same error appears for AboutPage, HomePage, BlogLayout
[code]

In addition, I als

[2021-02-22 08:03] Tobbe commented on #1825
I don't think it's a typo. Backticks are used to indicate code or a command. Something executable.

[2021-02-22 08:06] jvanbaarsen commented on #1829
@adriatic Hi there 👋,

No problem on not debugging this, submitting the issue is already super helpful! Without it we wouldn't be aware of the problem existing.

Would it be possible to show the code of the `posts.test.js`? Looking at the errors it says "Test suite failed to run", but the command you showed is about migrating. Can it be that the output is from running tests? And if so, what is the

[2021-02-22 08:07] jvanbaarsen commented on #1825
@Tobbe Ah yeah that makes sense.

[2021-02-22 13:13] dthyresson opened #1830 "Upgrade to supabase-js 1.4.0 for redirects on sign in and sign up (and with OAuth)"
See: https://supabase.io/docs/client/auth-signup#sign-up-with-redirect

[code]

Note this is very similar functionality as seen in Auth0 to redirect after login.

Considerations

Supabase's UserCredentials is is now

[code]

So, the Supabase AuthProvider will also have to forward the `redirectTo` to the client in

[code]

and

[code]

[2021-02-22 14:30] dthyresson opened #1831 "Support Netlify Dev Live Site Forwarding by configuring netlify.toml"
Netlify Dev

https://www.netlify.com/products/dev/

supports live streaming/forwarding to localhost.

However, a few configuration settings are necessary and the `netlify.toml` can be updated to support it:

[code]

[2021-02-22 15:07] adriatic commented on #1829
Hello, @jvanbaarsen

I was not near running any tests - these errors appeared as a consequence of running the command `yarn rw prisma migrate dev` (see the first sentence in my [original report](https://github.com/redwoodjs/redwood/issues/1829#issue-812978271)).

Here is the code you asked for
[code]
My sense is that this is a Windows-specific issue as it is very unlikely that such problem would n

[2021-02-22 17:31] cannikin commented on #1812
So the command would become `yarn rw jest`?

[2021-02-22 17:36] jvanbaarsen commented on #1812
@cannikin wouldn't we be able to alias `rw jest` to `rw test`?

[2021-02-22 17:39] cannikin commented on #1812
That's what we're doing now, but from @peterp's comment it sounds like he's suggesting doing what we do for Prisma: we used to have `yarn rw db` but we got rid of that and as of 0.25 just proxy to the *real* Prisma commands with `yarn rw prisma`. This makes it easier to find documentation and not worry about trying to keep up with Prisma's changing migrate API.

[2021-02-22 17:42] jvanbaarsen commented on #1812
What I meant was to still proxy the command over to `jest`, but then do that with `test`. So basically everything behind `rw test` will be forwarded to `yarn run jest`

[2021-02-22 18:02] cannikin commented on #1812
Yep we definitely could, I'm just not sure  how literal @peterp was being! :)

[2021-02-22 18:33] benatkin opened #1833 "netlify identity tokens need to be refreshed"
[I'm discussing on the forum.](https://community.redwoodjs.com/t/should-development-mode-mean-all-bets-are-off-netlify-identity/1857/7) I've been debugging it long enough that I think the issue exists. I should have complete answers soon, but I thought I would start an issue now.

I've checked several times that I'm using Netlify Identity Widget with Redwood according to the docs, yet after a dela

[2021-02-22 18:37] benatkin commented on #1833
[currentUser in netlify-identity-widget](https://github.com/netlify/netlify-identity-widget/blob/master/src/netlify-identity.js#L48) calls [currentUser](https://github.com/netlify/gotrue-js/blob/master/src/index.js#L114) which calls [User.recoverSession](https://github.com/netlify/gotrue-js/blob/master/src/user.js#L26) and none appear to return promises

[2021-02-22 18:38] benatkin commented on #1833
[Here's where our netlify authClient it gets the token by calling currentUser](https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/authClients/netlify.ts#L45)

[2021-02-22 18:40] benatkin commented on #1833
[I also reported it upstream, since redwood seems to be doing the same thing the react example in netlify-identity-widget.](https://github.com/netlify/netlify-identity-widget/issues/433)

[2021-02-22 20:54] thedavidprice opened #1835 "E2E Test Directory Cleanup"
When running the defaul E2E test, a tmp directory is created where a new Redwood project is installed. On my Mac disk, the dir size is ~626mb. I believe Mac OS runs its own cleanup of tmp, however, I’m not very knowledgeable about this process.

Is this a potential issue. If so, should we create a cleanup script or (somehow) handle cleanup in the `.tasks/test-tutorial`?

[2021-02-22 23:30] #1788 closed

[2021-02-23 00:36] #1783 closed

[2021-02-23 01:01] #1811 closed

[2021-02-23 01:12] benatkin commented on #1833
I was able to fix it in my app by overriding `currentUser` in the `client` passed to `AuthProvider` and making it await on `jwt()` before the promise:

[code]

[2021-02-23 01:47] thedavidprice opened #1839 "we broke Scaffold `useFlash`"
For Scaffolded UI, we include `useFlash` for all CRUD. However, Flash messages no longer appear for each case:
- Create (`NewPost.js`) = ⛔
- Read = NA
- Update (`EditPostCell.js`) = ⛔
- Delete (`Post.js`) = ⛔
- Delete (`Posts.js`) = ✅

The Contact Submit Flash message is working correctly.

My suspicion is that we broke this sometime during the Apollo v3 upgrade process.

## Video Demo of missing

[2021-02-23 02:10] #1217 closed

[2021-02-23 06:17] #1825 closed

[2021-02-23 08:09] thedavidprice commented on #1590
Confirming this 🐛 running `v0.25.2-canary.20`:
[code]

[2021-02-23 08:33] thedavidprice commented on #1770
Fixed by https://github.com/redwoodjs/redwood/pull/1837

[2021-02-23 08:33] #1770 closed

[2021-02-23 17:34] mubaidr commented on #1457
Any update on this issue?

[2021-02-23 17:48] #753 closed

[2021-02-23 20:31] thedavidprice commented on #217
# Update: Prerender is now available in the latest canary release 🚀
🙏 Help Wanted 🙏

The new Redwood Prerender feature is ready for testing and feedback! First off, check out the primary PR:
- https://github.com/redwoodjs/redwood/pull/1641

There's one important change that will be coming via this PR:
- https://github.com/redwoodjs/redwood/pull/1842

## How to get started

### Read the (draft) Man

[2021-02-23 20:58] brentjanderson commented on #1649
I've run into the same issue. Oddly, I can get it to work in some circumstances but not in othes:

## This does not work
[code]

## This does work

[code]

The diff, if it helps:
[code]

[I've put up a repo demoing this issue](https://github.com/brentjanderson/rw-multi-column-error/). I've tagged the commit where it does not work as `broken` and the commit where it does work as `works`. The way to

[2021-02-23 21:35] Tobbe commented on #730
@peterp ping

[2021-02-23 21:55] thedavidprice commented on #730
Hi all! I think this is a good next step and should happen in the [Forums](https://community.redwoodjs.com). There is a lot of value here @jangxyz very much _including_ the questions and "dead ends". Definitely a valuable topic overall.

[2021-02-23 22:08] #1771 closed

[2021-02-23 22:15] thedavidprice commented on #1457
I don't believe there have been any updates internally. Agreed this seems like a helpful addition to Forms.

Looping in @cannikin for overall reaction and possible direction for next steps.

@KrisCoulson and @mubaidr given some direction, would either of you be interested in helping with a PR? No pressure but always helpful.

For reference, current [Prisma datetime doc](https://www.prisma.io/docs/

[2021-02-23 22:46] cannikin commented on #1457
Hmm, I could have sworn that using the `<DatetimeLocalField>` output the proper format for GraphQL/Prisma and that it serialized it back out properly to pre-fill the form later. It's possible that sometime between whenever this was written and 2.16 of Prisma that something changed somewhere?

If someone could PR a fix and show it working we'd happily accept it!

[2021-02-23 22:57] cannikin commented on #1649
You're on the latest version of Redwood, right @brentjanderson? 0.25.1?

[2021-02-24 00:05] brentjanderson commented on #1649
That's correct. The linked repo demoing the issue was minted with the latest version of Redwood today.

[2021-02-24 00:34] cannikin commented on #1649
HMMMM

The error is coming from here: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/lib/index.js#L35-L64 But the code that calls that is this line I'm guessing: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/sdl/sdl.js#L112 Which specifically tries to look it up by `field.type`, which would be `User`, which is correct. hmmmmmmmmm

[2021-02-24 00:36] dthyresson commented on #1833
@benatkin
Do you think your example

[code]

which I saw similar code for in https://github.com/netlify/gotrue-js/issues/71#issuecomment-697464294

should be part of the

[code]

for the netlify AuthProvider?

https://github.com/redwoodjs/redwood/blob/f9524ac61bbf9c2621620ba3f853849a37364c41/packages/auth/src/authClients/netlify.ts#L50

[2021-02-24 00:39] dthyresson commented on #1640
@thedavidprice I think we can close out this issue -- or create a new one for a cookbook or other docs?

[2021-02-24 00:42] dthyresson commented on #1592
Note: Supabase also offers Google auth now.

[2021-02-24 00:43] dthyresson commented on #1578
@dac09 Let's pick this topic up again!

[2021-02-24 00:52] benatkin commented on #1833
Yeah, it seems like with my fix there could be a delay.

Would the restoreAuth solution work after having the site open for over an hour, which is how long before tokens need to be refreshed?

If not, perhaps calling jwt() in both restoreAuth and getToken is needed.

My proxy patch is working all the time except it glitched once. I can try returning a proxied currentUser in my proxy which proxies

[2021-02-24 00:54] benatkin commented on #1833
It's on https://app.resources.co/ by the way. Anyone can sign in with GitHub.

[2021-02-24 04:06] #1640 closed

[2021-02-24 17:57] cannikin commented on #1839
Maybe related to https://github.com/redwoodjs/redwood/issues/1701

We kind of came to the conclusion to replace ours with https://react-hot-toast.com/

[2021-02-24 18:15] thedavidprice commented on #1839
'cause Hot Toast is the best. name. ever.

[2021-02-24 19:17] #1649 closed

[2021-02-24 19:35] tctrautman opened #1850 "`yarn rw upgrade` fails without -t flag"
This isn't a big deal for me since there is a work-around, but it might be an issue for others just getting started:

Upgrading with this command doesn't work:
[code]

But upgrading while specifying the version does:
[code]

I'm not sure what's causing this, and I wasn't able to find an existing issue so maybe it's just a "me" problem?

My best guess is that this has something to do with how I ins

[2021-02-24 19:52] thedavidprice commented on #1850
Thanks @tctrautman I'll try to take a look at this. My guess is that anyone who installed Tailwind will run into it.

Under the hood, there are actually two different mechanics at work. `rw upgrade` using a Yarn interactive to upgrade only the `@redwoodjs` packages (why it's looking at the tailwind package is beyond me... I'm not particularly loving Yarn this week). For tags, we do some custom log

[2021-02-24 20:14] tctrautman commented on #1850
Ah, that's interesting -- thanks for the detailed response @thedavidprice!

[2021-02-24 20:22] tctrautman commented on #1829
Unfortunately I'm unfamiliar with MockProviders and I develop on a macbook, so I can't be of much help with your main question 😞

But I believe that this error...:
[code]
...is being caused by 'creates a post' in your tests above, and should be fix-able by either removing the `scenario` argument in your test callback, or by renaming it to `_`.

[2021-02-24 20:33] adriatic commented on #1829
I respectfully disagree Tim (@tctrautman), because my original [issue report](https://github.com/redwoodjs/redwood/issues/1829#issue-812978271) describes the failure taking place in the context of running a tutorial **setting** the first migration (`yarn rw prisma migrate dev`) **up**, and that used to work before last redwood update

[2021-02-24 22:57] Burnsy commented on #1839
We have been using react-hot-toast as a replacement for use flash and its been splendid.

[2021-02-25 00:37] thedavidprice commented on #1850
@tctrautman I could _not_ duplicate this locally. On a project running Redwood v0.24.0, I first ran `yarn rw setup tailwind`. Then I ran `yarn rw upgrade`, which worked successfully all the way through.

I'm on a Mac. You? Also, could you paste the contents of your `web/package.json`? Mine (after upgrade):
[code]

[2021-02-25 02:18] tctrautman commented on #1850
Huh... that's odd.  Hopefully this means it's not a wide-spread problem.

I'm also on a Mac.  I'm on yarn version `1.19.1` and node version `v14.15.0`

Below is my package.json -- the value for "tailwindcss" under devDependencies _does_ seem unusual.
[code]

[2021-02-25 02:33] thedavidprice commented on #1850
Looks like some duplication here:
[code]

There have been a few rounds of improvements to the `setup tailwind` command, including variations with handling the postcss7 compatibility. Looks like you got caught somewhere in between (maybe).

[2021-02-25 15:24] Tobbe commented on #1630
Reading through this again I really like where this is going.

For the web side we have `beforeQuery`, so I think `beforeResolve` or `beforeResolution` would go very well with that. It also makes it clearer that the function isn't called before all service calls, just when the services are used as resolvers.

If no `beforeResolution` is exported and no  `requireAuth()` is executed I think we shoul

[2021-02-25 17:35] cannikin commented on #1839
While we're up for breaking things, I'm thinking I'll just use the real API from react-hot-toast rather than trying to proxy everything through our stuff like `useFlash` and `addMessage`. Should we have people import from `react-hot-toast` or do we import/export ourselves in `@redwoodjs/web` so you still import from there?

If I can figure out how to do it, I'll forward messages from `addMessage`

[2021-02-25 17:45] cannikin commented on #1839
@peterp How do you feel about adding react-hot-toast to `web`? Or should we make it a separate package like `forms` to save package sizes for those that end up not using it? Looks like the compiled size of the production, gzipped minified bundle is 3.5kb. 11kb before gzip.

[2021-02-25 18:35] peterp commented on #1839
I'm using it on Snaplet as well and it's awesome!

Sounds like a plan!

[2021-02-25 19:43] cannikin opened #4812 "Add prerender to Tutorial"
It's so awesome and everyone will want to use it, ~let's introduce it from the start! Before deploy and probably before Auth?~

Thinking about this some more and I think it'll be better to put in part 2 or even 3 of the tutorial. Part 3 was intended to be the **optimization** part, of which prerender is a huge part.

[2021-02-25 19:46] Burnsy commented on #1839
Maybe it would just be best to cut it out and just recommend it in a cookbook, as then redwood does not need to worry about wrapping it and keeping it up to date! @peterp @cannikin

[2021-02-25 19:48] cannikin commented on #1839
We do want something nice in the scaffolds though...

I was planning on just importing * and exporting everything back out in `@redwoodjs/web` so you would use the native interface. I was just going to wrap for pre-v1.0 so people that are currently using `<Flash>` aren't screwed.

[2021-02-25 20:17] Burnsy commented on #1839
I think opt in could work nicely like forms so if you wanted to just use it by its self there would not be a problem, or you could use the wrapper if wanted!

[2021-02-25 23:28] ryancwalsh commented on #509
See related: https://github.com/redwoodjs/redwood/pull/599

[2021-02-26 03:30] thedavidprice commented on #217
Closed with https://github.com/redwoodjs/redwood/releases/tag/v0.26.0

🚀

[2021-02-26 03:30] #217 closed

[2021-02-26 16:12] tctrautman commented on #1850
Ahh, that's probably it, thanks @thedavidprice 🙌 .  I'll dedupe these before upgrading next time and see if that does the trick.  Closing this ticket out for now -- I'll revive it if I can't fix on the next upgrade.

[2021-02-26 16:12] #1850 closed

[2021-02-26 21:22] #1815 closed

[2021-02-26 21:23] thedavidprice commented on #1805
fixed in https://github.com/redwoodjs/redwood/pull/1818

[2021-02-26 21:27] cannikin commented on #1805
Hmm, I may have linked the wrong issue @thedavidprice. That teardown fix would NOT close this one, sorry!

[2021-02-26 21:28] cannikin commented on #1805
It was #1804!

[2021-02-26 21:38] cannikin commented on #1804
Closed by #1818

[2021-02-26 21:38] #1804 closed

[2021-02-26 21:47] agiannelli commented on #1805
I'll take it!

[2021-02-26 22:11] jth0024 opened #1880 "Unsupported syntax used in common webpack config"
**System Info**
* Mac OS 10.15.5
* Node v12.16.2

**Steps To Reproduce**

1. Run `yarn create redwood-app`
2. Run `yarn redwood dev`

**Expected Behavior**
The app starts and opens in a new window

**Actual Behavior**
The app crashes due to the nullish coalescing operator being used in the `@redwoodjs/core/config/webpack.common.js`. This operator was not supported until node v14.5.x.

[2021-02-26 22:58] brentjanderson commented on #1880
I experienced this as well with the move to redwood v0.26 today. Upgraded to v14 to fix it, but that may have broken other things in my workflow at the same time.

[2021-02-26 23:48] thedavidprice commented on #1880
Great catch! Working on a fix and patch release now!!

[2021-02-26 23:51] thedavidprice commented on #1880
full error:
[code]

[2021-02-27 00:05] #1880 closed

[2021-02-27 00:15] thedavidprice commented on #1880
Patched! Thanks, all.

https://github.com/redwoodjs/redwood/releases/tag/v0.26.2

[2021-02-27 12:31] jvanbaarsen opened #1883 "Error when running app after upgrading"
After I upgrade my app to .26.2 I get the following error when running `rw dev`:

[code]

I'm wondering if this is an error in my specific app, or that more people are seeing this after upgrading.

For good measure I also tested against a newly generated app, that one is working just fine.

rw info output:

[code]

[2021-02-27 12:56] jvanbaarsen commented on #1883
Woops, got it solved. This was an issue because in the canary situation the upgrade guide didn't say anything about the `App.js` file. I wrongly assumed nothing had changed between the canary I tried and this release. (The rename `web/src/index.js` -> `web/src/App.js` step was not there)

After renaming `web/src/index.js` to `web/src/App.js` everything works as expected.

[2021-02-27 12:56] #1883 closed

[2021-02-27 13:24] peterp commented on #1820
👍 This is the way.

[2021-02-27 13:25] peterp commented on #1820
@jangxyz Would you be keen to open a PR for this?

[2021-02-27 21:09] thedavidprice opened #1886 "The CI improvements we need [tracking issue]"
### Goal
The process of drafting and publishing a new release (with high quality confidence) should take no more than 2-3 hours.

**Current Problems**
1. QA Bottlenecks: too much manual QA that happens too infrequently (and mostly only when ready for release process)
2. Misc tasks-required-to-release Bottlenecks: merged PRs often produce other task requirements to complete before release (e.g. new

[2021-02-27 21:14] thedavidprice commented on #1886
I intentionally left out the topic of "Performance: Benchmarks and Checks". I have some ideas and examples to draw from. For me, this feels like the next step _after_ the kinds of CI improvements I mentioned above.

[2021-02-27 21:29] realStandal commented on #1820
Ran into this as well and just wanted to make sure API's `tsconfig` isn't left out of the party :)

[2021-02-27 23:25] adriatic opened #1887 "v0.26.x warning in browser console with yarn rw dev"
**Context**: I am going through the Tutorial and started a bit differently than before - after running the [Our First Page](https://redwoodjs.com/tutorial/our-first-page#our-first-page) section, I run

[code]

out of curiosity.

The next time I run `yarn rw dev` in VSCode terminal, I got this error

[code]

Note: I did not run anything related to **jest**, just the plain old **yarn rw dev**

The c

[2021-02-28 00:02] adriatic commented on #1887
I removed the `custom-web-index ` -no effect on `Did not expect server HTML` issue:

![image](https://user-images.githubusercontent.com/2712405/109403850-43ed1700-792e-11eb-94f0-387a2e3161d4.png)

[2021-02-28 06:57] Tobbe commented on #1886
Regarding Windows

I'm seeing `info There appears to be trouble with your network connection. Retrying...` too, when running locally on Windows. I've just always assumed it was an actual problem with my flaky connection.

Windows' file system is slower than Linux's, so when reading or writing lots of small files, Windows is going to see a lot worse performance than Linux. And guess what `yarn inst

[2021-02-28 07:03] Tobbe commented on #1887
I'm not seeing `Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK'`, but I can confirm the text node warning.

![image](https://user-images.githubusercontent.com/30793/109410494-69fcd080-799b-11eb-9449-794fb6600bbd.png)

[2021-02-28 15:30] dthyresson opened #1888 "Router Docs - Remove idea of sharing router outside of Redwood"
From @peterp via Discord when asked why

that could allow the router to be used in a non-RWJS project

See: https://github.com/redwoodjs/redwood/blob/main/packages/router/README.md#installation-and-use-outside-of-a-redwood-app

[code]

It is suggested that this section be removed from the docs.

[2021-02-28 17:43] adriatic opened #1889 "Error in the initially creatated redwoodblog app"
**Context**:
Run `yarn create redwood-app ./redwoodblog`

Then:
[code]

Press F10 (open [chrome developer tools](https://developers.google.com/web/tools/chrome-devtools/open)) and observe:

![image](https://user-images.githubusercontent.com/2712405/109427753-d2f73f00-79c1-11eb-91cb-e192baca9d66.png)

[code]
---

yarn run v1.22.5
$ c:\work\rw-samples\redwoodblog\node_modules\.bin\rw info

  System:

[2021-02-28 18:06] tctrautman commented on #1850
Worked like a charm -- thanks again @thedavidprice

[2021-02-28 18:36] realStandal commented on #534
As of writing this (RW v0.26.2), to connect to the dev server running on my PC from another device on the same network, all I had to do was update `host` on the web-side of `redwood.toml` to `"0.0.0.0"` and start the server as normal: `yarn rw dev`.

Then connect in your browser, on the other device, as expected using the PC's IPv4 with port `8910`.

You may want to set the [browser opening to fal

[2021-02-28 21:26] adriatic commented on #1887
@Tobbe - I was not sufficiently precise in my original report: the message

[code]

appears in the VSCode **PROBLEMS** window as shown below:

![image](https://user-images.githubusercontent.com/2712405/109434070-6ab85580-79e1-11eb-9a49-b5b2f4d4950d.png)

Note that this problem shows twice - for HomePage.js and AboutPage.js each

[2021-03-01 02:04] tctrautman opened #1890 "wellKnownSymbol during prerender | Potential upgrade issue"
First off -- wow am I excited for pre-rendering, and thank you so much @dac09 for all the work you did to make it happen.  I've been lurking in the prerender PR and have a sense of how much work was involved -- it was exciting to see this come to fruition in the meetup presentation on Friday. 😄

With all that in mind, I wanted to share an error I've run into while trying to prerender my home page:

[2021-03-01 02:12] dac09 commented on #1890
Hey @tctrautman, I've seen this before, this happens when yarn duplicates node_modules in your web/node_modules folder. To fix, try deleting these (rm -rf web/node_modules), yarn again and it should work.

Were you by chance trying the contributor workflow from canary or upgraded React?

[2021-03-01 02:39] tctrautman commented on #1890
Thank you for the quick response!  Unfortunately it didn't quite seem to resolve my problem though 🤷‍♂️ :

#### The error before doing anything:
[code]

#### I deleted node_modules and reinstalled:
[code]

#### Unfortunately seeing the same thing after reinstalling:
[code]

And to your questions: I wasn't trying the contributor workflow and haven't attempted to upgrade React.  I doubt it's relevan

[2021-03-01 03:01] dac09 commented on #1890
Ah shame. Would you mind sharing your package.json and web/package.json please?

FYI, this happens when yarn decides that the redwood packages at the root of your project don't match up to the versions in your web packages.

(A screenshot inside your web/node_modules folder would be helpful too, I expect to see a @redwoodjs folder and a corejs folder, among others which is the cause of our issue h

[2021-03-01 03:05] jangxyz commented on #730
Right. I'll move the issue to the forum.

[2021-03-01 05:21] tctrautman commented on #1890
Ah, thanks for the explanation.

This is sounding _a bit_ more related to the issue I linked to above ☝️ , where I was having to upgrade using tags instead of just `yarn rw upgrade`.  In it, @thedavidprice noted:

I upgraded to `0.26.2` with `yarn rw upgrade`, but maybe the fact that I upgraded to `0.25.x` with `yarn rw upgrade -t 0.25.x` confused yarn somehow?  Seems unlikely, but I don't underst

[2021-03-01 11:16] peterp commented on #1886
Here's my e2e (cypress) GitHub workflow:

[code]

[2021-03-01 11:34] Tobbe commented on #1886
Cypress on Windows has a bug that we'd have to work around if we want to get cypress tests running on both ubuntu and windows https://github.com/cypress-io/cypress/issues/789

[2021-03-01 12:35] dac09 commented on #1890
It definitely looks like something has gone wrong in the yarn resolution. Mind trying the following?

1. Remove yarn.lock file `rm yarn.lock`
2. Remove installed node_modules and sub node_modules `rm node_modules && rm web/node_modules && rm api/node_modules`
3. Run installation again `yarn install`

What we're hoping to see is web/node_modules should _not_ contain `@redwoodjs` and `core-js`

You'

[2021-03-01 16:34] tctrautman commented on #1890
Oh, no worries at all -- I'm honestly stunned at how responsive you've been over the weekend.  I really appreciate it.

I just ran through the process of deleting yarn.lock and the three node_modules folders, then reinstalling.  I'm seeing that it updated my `yarn.lock` file, but I'm unfortunately still seeing `@redwoodjs` and `core-js` in `web/node_modules` and get the same error when running `ya

[2021-03-01 17:17] dac09 commented on #1890
Let me look into this further @tctrautman, thank you for the great bug report :)

[2021-03-01 20:52] dac09 commented on #1890
I tried to repro this in **_so many ways_**, and just couldn't.....

![mild_panic](https://user-images.githubusercontent.com/1521877/109557386-f3adba80-7acf-11eb-86e5-8533cb377909.png)

UNTIL I copied your package.json-s line for line. I realised your `react` and `react-dom` versions are pinned to 16.3.1 in web/package.json. It should be like this:

[code]
It's missing the `^` from the version.

D

[2021-03-01 23:04] o0charlie0o opened #1892 "RestoreAuthState no longer functioning correctly"
When returning to the app from Auth0 the correct `targetUrl` from `appState` is applied to the address bar but the app doesn't actually route to it. Props at the home route have `code` and `state` and `pathname` from `useLocation` still shows `/`.

This appears to have started happening in the `0.22.0` release. Was working correctly in `0.21.0`. Still doesn't work correctly in the current release.

[2021-03-02 00:22] thedavidprice commented on #1886
@Tobbe

Bummer all around regarding these Windows issues. ☹️

I previously _did_ try implementing several of the settings mentioned in this thread, which did not resolve the connection issue for me. Definitely worth a second-round attempt with better documentation this time. Also, I could only test via the GitHub action since I’m on Mac — testing on your local machine first would be a very helpful

[2021-03-02 00:28] thedavidprice commented on #1892
Thanks for reporting this @o0charlie0o Looks like something's disconnected with the page render triggering.

@dthyresson any initial thoughts on this one?

[2021-03-02 01:54] semagraph opened #1893 "Exposing useLazyQuery to allow for integration with promise-based packages"
I've recently been trying to integrate react-select into redwood in order to write a cookbook, however react-select (https://react-select.com/home#async) (and many other libraries) require a promise-based functions. Redwood uses the Apollo Client's useQuery hook, which is not promised based and instead returns { loading, error, data } (https://www.apollographql.com/docs/react/data/queries/). I did

[2021-03-02 02:16] tctrautman commented on #1890
Wooo!  Thank you @dac09 -- that did the trick.  And wow, good eye.  I really appreciate you putting so much time into looking into this.

![thank you](https://user-images.githubusercontent.com/4513085/109585566-98bc9900-7ab8-11eb-9d3c-bc81c8e173ec.gif)

I was thinking about how this happened... I think this _might_ be an artifact from the workaround mentioned in the [0.23 release](https://communit

[2021-03-02 02:16] #1890 closed

[2021-03-02 02:31] dac09 commented on #1890
100 points to Hufflepuff! You're very welcome, glad it's sorted, thanks for bearing with!

**tldr;**
Pinning specific versions of react and react-dom in web/package.json can lead to odd issues in how yarn workspaces resolves modules.

[2021-03-02 02:39] o0charlie0o commented on #1893
For what it's worth useLazyQuery used to be exposed and only recently was taken out. We use it and had to switch to importing it from @apollo/client.

[2021-03-02 03:05] semagraph commented on #1893
Interesting, seems like it was removed, merged again in september (https://github.com/redwoodjs/redwood/commit/ca3c54644d108025061f2914800fe834651be978), and then removed again since then

[2021-03-02 03:19] thedavidprice commented on #1893
Ah, looks like this change is related to the Apollo Client v3 upgrade. I believe we attempted `import * from '@apollo/client' but ran into significant issues with the way Appollo changed their exports. (Or possible it was a change related to limiting initial package import size.) Then we recently separated Apollo Client to provide support for swapping the GraphQL client.

Here's where the imports

[2021-03-02 04:05] andrew-hwahin opened #1894 "v0.26.2 browser console warning"
This warning is appearing in my Windows Chrome browser console after I upgraded Redwoodjs from v0.25.1 to v0.26.2

![image](https://user-images.githubusercontent.com/61768800/109595415-71fd7180-7b4f-11eb-8322-10e50c8d0c67.png)

Does anyone have this problem?

[2021-03-02 05:06] peterp commented on #1893
We placed it in a sub-folder because we want to reduce the bundle size for people who do not use Apollo.

[2021-03-02 05:15] realStandal commented on #1894
Hiya, just so you don't feel alone I am getting this as well. I think it's because we're running the dev-server and it's not actively prerendering your content, and this is React complaining you're using `hydrate`. I'm not sure why the error persist _after_ removing `<%= prerenderPlaceholder %>` from `index.html`, because `@redwoodjs/web`-s source [should use the lack of it and a self-closed `<div

[2021-03-02 06:03] thedavidprice commented on #1894
Hi @andrew-hwahin Could you provide us more information:
1. can you confirm you completed the Code Modification steps in the [v0.26 Release Notes](https://community.redwoodjs.com/t/redwood-v0-26-the-prerender-release/1872)?
2. is this the home page, i.e. `/`, of your app? and did you set the `prerender` prop on this route (or any other routes)?
3. possible you could share the code for this project

[2021-03-02 08:11] Tobbe commented on #1894
The same error has also been reported as part of https://github.com/redwoodjs/redwood/issues/1887

[2021-03-02 08:23] Tobbe commented on #1893
As others have said, we use `@apollo/client` by default in new RW projects. But we have recently made it possible for projects to replace that, and use whatever gql client they want. To facilitate this we wanted to be as client agnostic as possible, and one thing we did to accomplish that was to limit the gql client exports we expose to the bare minimum (`useQuery` and `useMutation`). It's also th

[2021-03-02 09:22] peterp commented on #1887
The problem is the way that we're testing if `<div id="redwood-app">` is empty:
https://github.com/redwoodjs/redwood/blob/181b39131dc844b4e696d6108773ee317e1463cb/packages/web/src/entry/index.js#L10-L16

 `hasChildNode()` is true if it contains whitespace.

 I think we can continue by improving the way we determine if `redwood-app` is empty, but I think a better fix would be to explicitly insert a

[2021-03-02 12:04] dac09 commented on #1894
@peterp has suggested a solution here https://github.com/redwoodjs/redwood/issues/1887#issuecomment-788758024

Thank you for raising this @andrew-hwahin, but from my understanding its just a warning and doesn't break your dev process?

[2021-03-02 12:11] dac09 commented on #1887
Thanks @peterp, yeah key things I've noted:
1. Comments are considered childNodes as well, so just doing the above might not be sufficient
2. We can only get HTML elements by using `document.getElementById.children`. Perhaps we can do the check like this?

[code]

[2021-03-02 12:51] peterp commented on #1887
In my example above I was inserting a new `div`, people won't be able to add anything to it since it's created at pre-render time.

The reason why I'm suggesting we be explicit is because a user could still add things to `index.html` like:
[code]

[2021-03-02 12:58] dac09 commented on #1889
Closing this as it duplicates #1894 and #1887, and the other issues have conversations.

[2021-03-02 12:58] #1889 closed

[2021-03-02 13:38] dthyresson commented on #1892
Hi @o0charlie0o I'll look into this issue.

To confirm,

Are you setting the `targetUrl` to `targetUrl: searchParams.get('redirectTo') ` as seen in:

https://redwoodjs.com/docs/authentication#login-and-logout-options

[code]

Or directly like: `targetUrl: 'afterAuth'`?

Also, could you confirm the version of the `auth0-spa-js` you have installed.

I do see some new feature re redirects here but no

[2021-03-02 14:06] o0charlie0o commented on #1892
@dthyresson In this case I'm setting it directly to `targetUrl: '/after-auth'`. Using `searchParams.get('redirectTo')` doesn't fix the issue either. I've tested this on both 1.13.6 and 1.13.3 for auth0-spa-js. I was running through this last night and I'm not sure if this has anything to do with it but when `window.history.replaceState` is called in `restoreAuthState` I'm not seeing the listener c

[2021-03-02 15:04] semagraph commented on #1893
I'm satisfied with that, so client.query is seems to be the best solution in this case. For those that are interested, this is what a usage example would look like:

`
  import { useApolloClient } from '@apollo/client'

  const SelectWrapper = () => {
    const client = useApolloClient()

    const loadOptions = async (inputValue) => {
      const { data } = await client.query({
        query: GET

[2021-03-02 15:04] #1893 closed

[2021-03-02 15:56] dthyresson commented on #1892
Did a little digging and compared location.js/tsx 26 vs 21:

https://github.com/redwoodjs/redwood/blob/53349fd121f9198a8fdb5c0217cec8c4f8b6badd/packages/router/src/location.js#L16

[code]

and

https://github.com/redwoodjs/redwood/blob/53349fd121f9198a8fdb5c0217cec8c4f8b6badd/packages/router/src/location.js#L16

[code]

@dac09 or @Tobbe is anything related to `window` here worth investigating?

[2021-03-02 16:52] Tobbe commented on #1892
Looks alright to me.

If it's working in 0.21 and broken in 0.22 we should bisect that and see what changed.

When/where are we executing the stuff in history.tsx? Is the export in internal.ts enough to trigger the code there?

[2021-03-02 17:03] adriatic commented on #1887
Thank you @peterp and @dac09 for sharing the details of how to address this issue.

[2021-03-02 17:23] thedavidprice commented on #1893
Thanks all. I've continued discussion about how to better document this information over here https://github.com/redwoodjs/redwoodjs.com/issues/604

[2021-03-02 17:31] thedavidprice commented on #1887
@dac09 are you planning to work on this one? And/or might you want to work on this (with Danny and Peter's guidance) via a new PR @adriatic?

[2021-03-02 17:39] adriatic commented on #1887
Happy to make a minimal app that demonstrates this issue,  @thedavidprice . It is great timing for this as I am trying to write a **[document on debugging](https://community.redwoodjs.com/t/redwood-application-debugging-issues/1885)**, which has a lot wider scope than fixing this issue 😄)

[2021-03-02 17:44] thedavidprice commented on #1887
You're welcome to. At this point, however, I don't believe it's necessary for moving forward with a fix. I'll defer to @dac09

**Docs: Windows recommendations and Debugging**
I have many things I’m catching up on this week, including the Windows wiki content and definitely the debugging document! Thank you for your patience with me as the past two releases had my head buried in GitHub.

[2021-03-02 17:59] thedavidprice commented on #730
@jangxyz I'll keep a lookout for it. Once done, let's link to the Forum post here and close out this issue.

Thanks in advance!

[2021-03-02 18:14] #1820 closed

[2021-03-02 18:29] adriatic commented on #1887
I already created it, so we can use it to verify the fix

[2021-03-02 18:48] thedavidprice commented on #1658
Closing in favor of https://github.com/redwoodjs/redwood/issues/1886

[2021-03-02 18:48] #1658 closed

[2021-03-03 00:08] thedavidprice commented on #534
Hi all! We resolved this awhile ago but never made it very clear in the Docs. I've just created https://github.com/redwoodjs/redwoodjs.com/pull/605 to update two docs with examples:
- Webpack Doc: [New Dev Server Section with examples](https://deploy-preview-605--redwoodjs.netlify.app/docs/webpack-configuration#webpack-dev-server)
- CLI Doc: [Additional example](https://deploy-preview-605--redwood

[2021-03-03 00:28] thedavidprice commented on #1805
@agiannelli thank you 🚀

[2021-03-03 00:35] cannikin commented on #1630
Hmm, do we only want the secure stuff to happen before being used as a resolver though? I was under the impression that ALL code calling these services (other services) should also fall under the security requirements. @mojombo ?

[2021-03-03 01:00] andrew-hwahin commented on #1894
Yes, it doesn't break my dev process, I'm raising the issue to confirm if I upgraded Redwood correctly. 🙏😁

[2021-03-03 01:09] thedavidprice commented on #1894
Yes indeed! This one is on us, not you. 😉

Closing this in favor of #1887

Thanks, all!

[2021-03-03 01:09] #1894 closed

[2021-03-03 02:01] KrisCoulson commented on #1457
@thedavidprice @cannikin I can circle back on this one. I posted this I think back in November. I'll look to get a PR up here soon.

[2021-03-03 02:02] adriatic commented on #1887
I finished rebuilding the tutorial blog app up to and including the layouts section. I plan to finish this tomorrow - but today I can state that the problem `Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK'` reported at the [beginning of this thread](https://github.com/redwoodjs/redwood/issues/1887#issue-818054460) is a red herring - the problem is with VSCode reaction on the first insertion

[2021-03-03 08:25] Tobbe commented on #1630
Sure, but where would you put that implementation though? If I just include a service function from some random place, how would RW know to call `before` before my code runs the function?

[2021-03-03 16:45] #534 closed

[2021-03-03 17:20] cannikin commented on #1630
This is usually when I shrug my shoulders and say "babel?" and then look over at @peterp

[2021-03-03 17:24] cannikin commented on #1630
Or maybe it's like this code change shown here: https://github.com/redwoodjs/redwood/issues/1630#issuecomment-760368504  You use the services defined on `window.services` rather than importing them directly. That way we can get in the middle and include a call to `before()` in front of your actual service function `users()` and export *that*.

[2021-03-03 18:03] thedavidprice commented on #1829
Hi @adriatic this is a strange one. Unfortunately, I'm not quite following the chain of events.

**To Confirm:**
You ran `yarn rw prisma migrate dev`.
  - This Prisma CLI command will 1) generate the Prisma Client, 2) create a new Prisma Migration (if applicable), and 3) apply the Migration to your local DB and/or confirm it's up-to-date
  - This has no interaction with Jest

In your terminal cons

[2021-03-03 18:05] thedavidprice commented on #1578
![UqZ4imFIoljlr5O2sM](https://user-images.githubusercontent.com/2951/109851005-ff040180-7c07-11eb-881b-c3befac48fc0.gif)

[2021-03-03 18:06] dac09 commented on #1887
I'm happy to leave it to Nik :)

Hmm sure, a little unusual for me personally, but I can see the benefit.

@adriatic how do you feel about doing a PR to fix the warning? Please do ping me on the draft PR if you need any help getting it through.

[2021-03-03 18:27] cannikin commented on #1618
Is this the RFC for secure webhooks/functions? I had an idea for creating a function secured by a token. When you create, it could generate a random token and give it to you on the command line:

[code]

So it appends a var to `.env`, something like `SECURE_FUNCTION_MY_ENDPOINT_TOKEN` and references it in the function itself when it comes time to check for the token:

[code]

I'm sure there's a mu

[2021-03-04 05:50] muhrusdi opened #1899 "ASK: Deploy Redwoodjs with Cloudflare Page"
Can i deploy the redwood app to the cloudflare page?

[2021-03-04 09:28] andrew-hwahin opened #1901 "Apollo Devtools couldn't detect Apollo Client"
Have anyone managed to use the Apollo Devtools with Redwood app?

![image](https://user-images.githubusercontent.com/61768800/109933389-5092b600-7d06-11eb-9106-bce98a6314d0.png)

According to the [Apollo Devtools documentation](https://github.com/apollographql/apollo-client-devtools#configuration):

![image](https://user-images.githubusercontent.com/61768800/109934716-ca776f00-7d07-11eb-8769-a6910

[2021-03-04 14:15] dthyresson opened #1902 "rwt link [RW_PATH] failes when path includes spaces and parentheses"
Ran `yarn rwt link ../redwood`

[code]

This has been seen before when the path is not enclosed in double quotes when the path have spaces or parenthesis on OSX (test, storybook, etc).

[2021-03-04 16:41] adriatic commented on #1887
## Executive summary for of [the 1887 issue](https://github.com/redwoodjs/redwood/issues/1887#issue-818054460).

**All parts of the 1887 issue can be reduced to two points:**

**1.** Yhe problem [described above](https://github.com/redwoodjs/redwood/issues/1887#issuecomment-787206849) and copied here

    ![image](https://user-images.githubusercontent.com/2712405/109403850-43ed1700-792e-11eb-94f0-

[2021-03-04 16:48] adriatic commented on #1829
@thedavidprice there are several red herrings (of my creation) in this issue [Test suite failed to run #1829](https://github.com/redwoodjs/redwood/issues/1829). Since the [issue 1887](https://github.com/redwoodjs/redwood/issues/1887) is late discovered replica of **1829**, and still contains the history of subsequent discoveries, I created the **[summary](https://github.com/redwoodjs/redwood/issue

[2021-03-04 17:53] corysimmons opened #1905 "ESBuild/Snowpack?"
ESBuild is insanely fast.
https://www.snowpack.dev/posts/2021-01-13-snowpack-3-0 is insanely fast and cool (streaming imports 🤤).

The reason some big OSS projects don't immediately adopt them is because they are waiting for more widespread 3rd-party plugins that map to already existing Babel/Webpack plugins... just in general.

Since Redwood is heavily opinionated, it might be possible to start u

[2021-03-04 18:00] jtoar commented on #1901
Hey @andrew-hwahin I tried just now and managed to get it working with a super bare bones example:
![image](https://user-images.githubusercontent.com/32992335/110008131-3b029980-7cd0-11eb-8e8e-9e474f328757.png)
Mind sharing a little more about your setup so we could help you debug? Are you able to see the `__APOLLO_CLIENT__` global in your web console?

[2021-03-04 18:34] cannikin commented on #1457
Take a look at this PR if you get a chance @KrisCoulson, I think it'll make your life better! #1906

[2021-03-04 18:53] #1457 closed

[2021-03-04 19:56] thedavidprice commented on #1905
Hi @corysimmons Thanks for this.

Internally we are already running some experiments with ESBuild and have indeed been excited about the results. So expect more to come in the form of an RFC for discussion or possibly a future PR for testing.

I'm going to close out this Issue for now since it's not actionable — don't get me wrong, we ❤️ the topic and discussion. This might make for a better Forum

[2021-03-04 19:56] #1905 closed

[2021-03-04 20:27] jtoar commented on #1905
@corysimmons just to second what David said, there's definitely been some experimental integrations with it. Most of the action has been happening on our Discord chat: https://discord.com/channels/679514959968993311/747258086569541703/813699340542935040.

It'd be awesome to have a forum post about it! It's definitely something a lot of people want to see and have thoughts on.

[2021-03-04 22:30] thedavidprice opened #1907 "[release bug] hoisting `node_modules` in `web/` is back again in latest canary `0.26.3-canary.6`"
@peterp @dac09

Using the latest CRWA template and canary, which is upgraded to React v17 in https://github.com/redwoodjs/redwood/pull/1705, I'm seeing hoisted `node_modules` in `web/`, which is a change from current release v0.26.2. (see screenshot below)

I'm getting different results than the last time we ran into this:
- pass **e2e** = ✅
- `yarn rw test` (on a project that completed e2e) runs

[2021-03-05 03:25] #1902 closed

[2021-03-05 05:08] thedavidprice opened #1913 "discussion: unit test structure for setup commands"
@dac09 @olance

I'm continuing a discussion from https://github.com/redwoodjs/redwood/pull/1408/. We are closing the PR, but this is one of two topics we wanted to explore further. @olance created a nice testing structure for the setup tailwind command steps. For examples, see `__tests__` here: https://github.com/redwoodjs/redwood/pull/1408/files

@dac09 has recently [implemented snapshot tests](h

[2021-03-05 05:42] thedavidprice opened #1930 "Setup Command: pass package as command"
_Update 3/9/21:_
See [this comment below](https://github.com/redwoodjs/redwood/issues/1930#issuecomment-794716342) for decisions and next steps

---

This Issue consolidates the discussion orginally started as a proposal on the Forum:
- [RW Setup Proposal: Complementing Generators with Setup](https://community.redwoodjs.com/t/rw-setup-proposal-complementing-generators-with-setup/1123)

Issue https

[2021-03-05 05:43] thedavidprice commented on #1252
moved to https://github.com/redwoodjs/redwood/issues/1930

[2021-03-05 05:43] #1252 closed

[2021-03-05 05:43] thedavidprice commented on #1323
moved to https://github.com/redwoodjs/redwood/issues/1930

[2021-03-05 05:43] #1323 closed

[2021-03-05 05:45] thedavidprice commented on #1930
_copied from original comment by @jtoar from here https://github.com/redwoodjs/redwood/pull/1408#issuecomment-782750006

---

To show what we're up against, here's a step-by-step description of tweaking `setup` to better accept @olance's command string. I made it so that `setup` just returns `argv`. So setup looks like this:

[code]

`argv` is what the yargs-parser gives us from what the user ente

[2021-03-05 05:47] thedavidprice commented on #1930
_copied from original comment by @olance here https://github.com/redwoodjs/redwood/pull/1408#issuecomment-786741110_

---

I've setup a PoC repo here: https://github.com/olance/poc-redwood-yargs-parsing

With the following params:

[code]

The `argv` object out of `yargs` is what you obtained using the dotted notation:

[code]

The code is pretty simple, it only walks through the args and transfor

[2021-03-05 06:14] thedavidprice commented on #1899
Hi @muhrusdi To the best of my knowledge, no one has tried to deploy Redwood on Cloudflare. Personally, I am a big fan of their products. However, their alternative to AWS Lambdas, which is Cloudflare Workers, is a [V8 runtime](https://developers.google.com/apps-script/guides/v8-runtime), which is _not_ the same as a Node.js runtime. This means the Redwood API will most likely not run on Cloudflar

[2021-03-05 06:14] #1899 closed

[2021-03-05 08:40] Tobbe commented on #1930
I like the "+" syntax

And it should still support shorthand options, like -f for --force, right?

So you could do this
[code]
And it would only add `--force` to the deploy command (together with `--data-migrate`)

Why do we need the ":" syntax again? Why can't it just be `+auth --supabase`? Or, how do you know it's `+tailwind --ui` and not `+tailwind:ui`. I just think that can be a source of conf

[2021-03-05 10:49] dac09 commented on #1930
I've already spoken to Dom about this one, but I really think passing flags like that to the subcommands is wrong. For once I feel (a little) strongly about this. I love CLI tools and complexity doesn't scare me, _as long as_ the command/flag behaviour is consistent.

IMHO flags should only apply to the first command i.e. in this case setup, and this avoids a huge amount of confusion. This is cons

[2021-03-05 12:33] Tobbe commented on #1930
That works too. Still a little worried it's difficult to know if it's `--` or not in front of args.
`auth supabase` vs `auth --supabase`
`tailwind ui` vs `tailwind --ui`
But maybe we can't do anything about that, and one just has to read the docs to know what's positional args and what's options.

[2021-03-05 12:47] Tobbe commented on #1888
Closed by #1900

[2021-03-05 12:47] #1888 closed

[2021-03-05 15:01] mojombo commented on #1930
These proposed syntaxes are way too complicated. I think it only makes sense to allow multiple setups at once if they do not take arguments (like `yarn add`). Once our setup commands need to take arguments, we should drop the ability to do multiple in a single invocation and just require multiple invocations. That would fix all these problems, yes?

[2021-03-05 15:27] dac09 opened #1931 "[Contribution flow only] Linking causes prerender to fail"
### What?
When running `yarn rw build web` on a project
- that has been linked with `yarn rwt link`,
or
- is run in the e2e (which essentially is the same as rwt link

 prerendering always fails with the following message (if a hook is used in the app)

[code]

This is because `react` and `react-dom` versions don't resolve to the same instance (even if the version is the same), as described in (3)

[2021-03-05 15:28] dac09 commented on #1931
This can be solved by adding a resolutions section in the `package.json` on the project.

[code]

I'll look to automate this in `rwt link`

[2021-03-05 16:10] peterp commented on #1930
Is combining setup scripts into a single execution something that we should be doing?

I don't think so because the pre-install requirements and post-install completion steps for setup commands are very different, and finishing a setup command often requires comprehension and intervention from the user.

As an example, If I wanted to setup `deploy aws-serverless` and `auth auth0`
![image](https://

[2021-03-05 16:14] dac09 commented on #1907
@thedavidprice I believe describes 2 problems I believe

1. Linking local packages causes prerender to fail: https://github.com/redwoodjs/redwood/issues/1931
(this doesn't cause the hoisting, unless your project was in canary)

2. Update to react 17 is causing prerender to break in contributor workflows
I suspect this is because of the mismatch in react versions in the installed dependency (redwoo

[2021-03-05 16:39] dac09 commented on #1907
Just to add, we can verify what I'm stating in (2) what causes this using `yarn why react` on your project.

You should see 2 versions of react:
[code]

16.x from storybook, 17.x on your local dependency.

[2021-03-05 21:54] adriatic opened #1934 "Expected server HTML to contain a matching <main> in <div>"
The title (Expected server HTML to contain a matching ...) is the error message that shows after executing the very first command `yarn create redwood-app./appname`. Note that this message with the stacktrace is shown in the browser console:

![image](https://user-images.githubusercontent.com/2712405/110176912-11ca3200-7dd2-11eb-96b2-44e421de5b5a.png)

---

**Copy of the text on the above image:**

[2021-03-05 22:34] adriatic opened #1935 "Initial app creation time is still too long"
Attached at the end is the log: note the **107.20s.** clock time

I used many different JavaScript development tools and frameworks - all of them take a lot less time to create the minimalistic app skeleton. Even making the needed accommodation for the fact that RW creates the full-stack app, **107.2 secs** is a too big number.

Probably the fastest way to address this initially is to not run the

[2021-03-05 22:51] adriatic opened #1936 "Is the minimalist RW app too big (on the disk)?"
The application described in [issue 1935](https://github.com/redwoodjs/redwood/issues/1935) has these properties

![image](https://user-images.githubusercontent.com/2712405/110182670-3aa2f500-7ddb-11eb-9c97-bc695bbd915d.png)

I have a very fast Windows 10 workstation with SSD and  32 GByte memory - however, it gets pretty overwhelmed running the command `yarn create redwood-app` (this is CPU usage

[2021-03-05 23:50] cannikin commented on #1630
Okay, after a brainstorming session with @mojombo here's the interface we came up with:

[code]

In the `beforeResolver()` function, we're building a "spec" (the `before` object) with all the checks we want to happen before we allow the requested resolver function (in this example, `posts()`) to be invoked. You call `run()` on the `before` object, once for each function you want to invoke. Any of

[2021-03-06 00:06] Tobbe commented on #1630
Are we going to require everyone who upgrades to add `beforeResolver` to all their existing code?

[2021-03-06 00:31] cannikin commented on #1630
I come down on the "break anything you want before v1.0" side!

But, maybe it can be an experimental flag you set in `redwood.toml` or something that says whether to enforce that requirement. If you *don't* have the flag, it won't be enforced. But all new apps will be created with the flag enabled, and then in v1.0 the behavior will be that it's *always* be enabled.

[2021-03-06 01:55] mojombo commented on #1630
@cannikin I like that approach, give people some time to get the code in but still be able to upgrade. Definitely we'll want you to have it by 1.0.

[2021-03-06 06:01] peterp commented on #1935
I don't think the ideal situation involves moving the work from the framework to the user. I think the problem is that we install too many packages.

We mention in the step that `Running 'yarn install'... (This could take a while)` can take some time.

How do you think we should solve this @adriatic?

[2021-03-06 10:05] dthyresson commented on #1630
@cannikin One of the features I liked about GraphQL shied was that it was very easy to "deny all" and then selectively
"allow".

[code]

The philosophy here is to lock down the entire GraphQL API and just allow particular resolvers based on "some rules" that check auth, roles, etc.

` "*": deny` ie deny all

To achieve a "deny", would one implement:

[code]

where `deny()` simply returns `false`?

[2021-03-06 13:51] #1907 closed

[2021-03-06 14:49] adriatic commented on #1935
Yes, I am aware of that step, but in my opinion, it is not convincing enough. At least it is not convincing to me.

Let me explain my reasoning for providing more data to your question (quoted below).

We do not offer much help to the user by including `yarn install` at the end of the `yarn create redwood-app ./test` command (no other CLI tool does that, to the best of my knowledge). At the same t

[2021-03-06 15:38] peterp commented on #1935
I can't see how this would change anything? The user is still required to run `yarn install`, and that will still take the exact amount of time. Do you want to shift the perception of the slow installation from Redwood to yarn?

We're not going to remove the yarn installation step.

Yes please! Very much looking forward to a pull-request that helps us solve these issues! I think we can get fairly

[2021-03-06 15:46] peterp commented on #1835
I like this 👍

[2021-03-06 16:00] adriatic commented on #1935
Absolutely! Perception is everything. A random user would say, RW application creating is too slow, do not use it 😄 On  a more serious note: you are the boss, I just want to share my opinion, not to impose ot

[2021-03-06 17:34] adriatic commented on #1887
Similarly to the `Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK'` there are other instances when VSCode issues warnings **too soon** (before reparsing the newly added code **after** the code is saved (Ctrl+S). Here is the example created at the moment when the generated (generic) code for BlogLayout.js is replaced with
[code]
 when you get two errors:

![image](https://user-images.githubuse

[2021-03-06 17:36] peterp commented on #1935
Totally, I think you've raised an important point! We've got to make RWJS a bit more modular, and fast to do the first install. The rest of the packages can be installed when they're needed.

[2021-03-06 19:22] adriatic commented on #1935
Written communication provides only 5-10% of the information that gets exchanged between two people voicing out the same "text" together with all components of the "body language". I am really happy it took me only a few paragraphs to convey the message you spelled out so nicely:

[2021-03-06 22:39] adriatic commented on #1887
Finally, it dawned on me that all the hoopla about `'~__REDWOOD__USER_ROUTES_FOR_MOCK' from 'node_modules/@redwoodjs/testing/dist/MockProviders.js'` stems from the fact that VSCode tries to run all the *.test.js files without being specifically asked to do that:

![image](https://user-images.githubusercontent.com/2712405/110222779-c2076b80-7ea2-11eb-8420-4be20c328ab7.png)

Are the generated test f

[2021-03-07 06:21] peterp opened #1938 "Improve CLI speed by making FS calls lazy"
If anyone is keen to fix some low hanging fruit for improving the performance of the CLI the "setup auth" command is doing a lot of filesystem work outside of functions.

https://github.com/redwoodjs/redwood/blob/4792d73e74fb734f76405c553d408000410d85b3/packages/cli/src/commands/setup/auth/auth.js#L13-L15

https://github.com/redwoodjs/redwood/blob/4792d73e74fb734f76405c553d408000410d85b3/packages/

[2021-03-07 06:36] peterp commented on #1934
@thedavidprice we should definitely fix this before the next release

[2021-03-07 06:49] peterp commented on #1892
@dac09 @thedavidprice I think we should confirm if this is a bug and fix it for the next release.

[2021-03-07 11:37] jvanbaarsen commented on #1887
@adriatic Yeah the the files should generate a green test suite. Do you happen to know what command VSCode is using to run the tests? Because if you run it outside of the `$ rw test` context you're missing a couple of important ENV vars. So if it runs something like `yarn test`, then that is the reason you're getting these errors.

[2021-03-07 15:47] adriatic commented on #1887
@jvanbaarsen this is reducing to be the case of bad VSCode settings, which result in VSCode running the tests right after it discovered the presence of the tests files. This should not be the case in the development mode.

[2021-03-07 16:25] adriatic commented on #1935
By separating the `yarn install` from `yarn create redwood-app ./test` we gain approx 50 sec. This is not a small potato.

[2021-03-07 17:21] adriatic opened #1940 "The command "yarn rw prisma migrate dev" blocks the cmder terminal"
### Case 1 - using standalone cmder terminal (cmd shell in cmder terminal)

This case led to my [how-to-undo-generator-actions-initiated-in-error](https://community.redwoodjs.com/t/how-to-undo-generator-actions-initiated-in-error/1905) post.

I do believe that there is something weird happening with the prompt from the generator code. We shot ourselves in the foot.

---

![image](https://user-imag

[2021-03-07 17:39] Tobbe commented on #1940
Do you get the same behaviour if you use the Command Prompt terminal?
What if you use PowerShell terminal?
I know it works in git-bash, because that's what I use.

[2021-03-07 17:53] adriatic commented on #1940
Working on all those experiments, with the intent to improve ./vscode/setings file

[2021-03-07 19:20] jvanbaarsen commented on #1887
For what it's worth, I'm also seeing the following warning on MacOS (0.26.x)
[code]

[2021-03-07 20:31] jvanbaarsen commented on #1935
@adriatic I'm wondering if we are all on the same wave, so let's check that :-)

What is it that you want to achieve? Is it "just" an appearance of things being fast? Because I feel that having a "super fast" create RW would kinda be useless if the user would still need to perform `yarn install` to do anything meaningful after the create RW command.

So yes, you gained 50 seconds, and then you los

[2021-03-08 00:42] corbt commented on #234
I'm an outsider here really excited about Redwood. First-class Typescript support is critical to me, so I wanted to get a sense on how Typescript adoption is going within the Redwood project itself. I wrote a quick script to parse the Redwood tree at each commit and count the lines of TS/JS to see the momentum. Looks like work in TS has been catching up fast, which gets me excited! Sharing the gra

[2021-03-08 06:23] andrew-hwahin commented on #1901
Thanks for helping 🙏 @jtoar I just tried to set up a barebone RedwoodJS test project and it's working.

But in my actual project, I can't see any queries under the "Watched queries" section even though the queries had run successfully.

![image](https://user-images.githubusercontent.com/61768800/110282339-4aa81800-8019-11eb-8e45-10360dbe716c.png)

I'm able to see the `__APOLLO_CLIENT__` in my web

[2021-03-08 06:38] Tobbe commented on #234
That's a really cool graph. Thanks for sharing 🙂

[2021-03-08 07:08] saideepesh000 commented on #1797
Hey @peterp @thedavidprice, can I work on it

[2021-03-08 19:40] adriatic opened #1944 "Newly generated postsPage.js is recently broken"
Instead of the usual page:

![image](https://user-images.githubusercontent.com/2712405/110372796-b8097800-801c-11eb-8db4-a69410f2f7f3.png)

Today, I am getting this

![image](https://user-images.githubusercontent.com/2712405/110372609-81cbf880-801c-11eb-8da4-eb91f9a64ae0.png)

I would guess that this was introduced by someone's work on the prerendering task. As I am still working on [The command "

[2021-03-08 20:05] jvanbaarsen commented on #1944
Hi @adriatic,

Thanks for reporting :-)

Just to be sure, reporting an issue is as important as coming up with a PR, so you will never be "scolded" for reporting an issue!

[2021-03-08 20:16] adriatic commented on #1944
This was the rule in my "kingdom", but it is better to check than to assume 😸

[2021-03-08 21:36] adriatic commented on #1940
@Tobbe I looked a bit more around this issue to answer [your questions](https://github.com/redwoodjs/redwood/issues/1940#issuecomment-792321264). While I will write more about that in my [Developing-Redwood-applications-on-Windos-platform](https://github.com/redwoodjs/redwoodjs.com/wiki/Developing-Redwood-applications)  "essay", here is a summary.

1. The whole article is heavily in favor of using

[2021-03-08 22:00] #1839 closed

[2021-03-09 01:28] o0charlie0o commented on #1892
@peterp @thedavidprice @dac09 One thing that is clearly different between `0.21` and `0.22` is when I come back from logging in in Auth0 I don't see the "/" route at all in `0.21` but in `0.22` and up I see the "/" route for a moment before my workaround redirect logic kicks in. I think this may have something to do with auth not being immediately present on load.

I ran some logs between the 2 br

[2021-03-09 01:51] dac09 commented on #1892
Thanks so much for the detailed report here @o0charlie0o, there’s definitely some clues here that suggest to me it’s potentially to do with page loader.

Any chance you could share a link to the repo to make it easier for me to reproduce?

I’m going to add this to my list to investigate in-depth for next release, I’ve had my hands full with 0.27. I will ping back here with updates.

[2021-03-09 03:02] o0charlie0o commented on #1892
@dac09 @dthyresson @thedavidprice @Tobbe @peterp FWIW I put in the following PR which fixes the issue for me. It's in a draft state now because I haven't tested it beyond my use case. I noticed in `0.21` there was some code in the original provider which checked for the auth loading but it wasn't in the new provider so I popped it in and everything started working again.

https://github.com/redwoo

[2021-03-09 04:08] #1590 closed

[2021-03-09 08:03] andrew-hwahin opened #1947 "Prisma implicit many-to-many relationship connect to existing record"
According to [Prisma Docs on Implicit relations](https://www.prisma.io/docs/support/help-articles/working-with-many-to-many-relations#implicit-relations) 👇

![image](https://user-images.githubusercontent.com/61768800/110437202-15222e00-80f0-11eb-9fb6-ccb4932d7583.png)

When I try it on my [repo](https://github.com/andrew-hwahin/Redwood-Prisma-Many-to-Many), it shows the following error message 👇

[2021-03-09 08:06] thedavidprice commented on #1797
@saideepesh000 Yes please! Assigning to you now.

[2021-03-09 08:22] Tobbe commented on #1947
I'm certainly no expert here, but aren't you missing the `set` from their example?

[2021-03-09 08:59] andrew-hwahin commented on #1947
@Tobbe You're right! Thanks for pointing it out. 🙏

I've updated my code 👇 and it still can't detect `tags`

![image](https://user-images.githubusercontent.com/61768800/110444896-836aee80-80f8-11eb-9d80-9e5f223c4b83.png)

![image](https://user-images.githubusercontent.com/61768800/110444843-73eba580-80f8-11eb-822f-130b47394e9c.png)

[2021-03-09 10:08] Tobbe commented on #1947
I figured it out! 😃

It should be `connect`, not `set`

[code]

[2021-03-09 10:09] Tobbe commented on #1947
To see that it worked I opened prisma studio

![image](https://user-images.githubusercontent.com/30793/110454764-ee500180-80c7-11eb-95a4-88c493ba962f.png)

`yarn rw prisma studio`

[2021-03-09 10:25] andrew-hwahin commented on #1947
Omg, thanks @Tobbe !! 🙇‍♂️ I've been stuck on this problem for days 😭 you're my saviour! 🦸‍♂️

[2021-03-09 10:25] #1947 closed

[2021-03-09 10:35] Tobbe commented on #1947
HTH 🙂

[2021-03-09 16:44] thedavidprice commented on #1835
Suggest this is a separate script that's run at the end of E2E script. In case of canceled run that doesn't complete, could be run standalone. Should have confirmation step.

[2021-03-09 17:42] thedavidprice opened #1949 "CI Checks (Build/Lint/Test, Cypress, PR Packages) do not need to trigger on push to main"
related to https://github.com/redwoodjs/redwood/issues/1886

Currently, our CI checks trigger on both PRs and a push to main branch. The latter is redundant and just adds to the queue. There's no case other than publishing where we have a direct push to main. Also, there's no visibility when these checks do run and fail --> they're hidden behind the "Actions" tab and don't display results anywhere

[2021-03-09 20:49] aldonline opened #1950 "Start the Language Server via `rw lsp`"
This is just a reminder. It doesn't really make a difference in the short term.

But this is how all the cool kids are packageing their LSPs now (ex `deno lsp`)

The necessary changes:
* Create a new CLI command named `lsp`
* Within that command, run `@redwoodjs/structure/dist/language_server/start.js`

The VSCode extension today is running `@redwoodjs/structure/dist/language_server/start.js` dire

[2021-03-09 22:05] adriatic commented on #1944
@thedavidprice @peterp @jvanbaarsen this issue stops me in my track (writing [Developing Redwood applications on Windows platform](https://github.com/redwoodjs/redwoodjs.com/wiki/Developing-Redwood-applications#developing-redwood-applications-on-windows-platform)). The tutorial code is being referenced nearly everywhere in my text so I created **[my own repo](https://github.com/adriatic/rw-debuggi

[2021-03-09 23:38] thedavidprice commented on #1944
Hi @adriatic It looks like you’re missing the import for Scaffold CSS in your `App.js`. If you ran the Scaffold generator, you should have `import './scaffold.css'` in your `web/src/App.js`.
- is it possible you upgraded from a version prior to v0.26 and the import was lost in the manual code mods?
- have you tried re-generating the Post model via `yarn rw g scaffold post --force`? (NOTE: this wil

[2021-03-09 23:44] thedavidprice commented on #1940
^^ this is _very_ important to understand and know @adriatic Thank you for the detective work here.

Because the Redwood CLI command `rw prisma` is simply a lightweight wrapper around the Prisma CLI, I'm curious if you've actually discovered an issue with Prisma's CLI. Could you try the following:
- in your console output after you run `yarn rw prisma migrate dev` is "Running Prisma CLI:" in green

[2021-03-10 00:10] Tobbe commented on #1940
@adriatic You wrote "the recommendation is not to use cmder terminal (with cmd shell)". What I'm curious to know is if this is a limitation on the cmder+cmd combination, or if it's a limitation with cmd as a shell. Does it work if you run the command in the Command Prompt terminal? (that only and always uses the cmd shell).

[2021-03-10 00:33] adriatic commented on #1940
@thedavidprice - I will do the experiments you suggest tomorrow (my better half is already declaring a bit of family time)

[2021-03-10 00:57] Tobbe commented on #1944
It's `yarn rw g scaffold post` that should create `scaffold.css` in the "Getting Dynamic" section. But it's weird that you don't have that, because you must at some point have run that command to get the Posts page that looks unstyled.

[2021-03-10 00:58] Tobbe commented on #1940
Thanks for confirming.

And what shell do you run in the VSCode terminal?

[2021-03-10 01:04] thedavidprice commented on #1944
You run the command Tobbe mentions above here: https://redwoodjs.com/tutorial/getting-dynamic#creating-a-post-editor

This is the output you _should_ see when you run `yarn rw g scaffold post`:
[code]

The `scaffold.css` import is added to `App.js` in the final step above, "Adding scaffold asset imports".

If you're curious here's the source code for the Scaffold command with respective template d

[2021-03-10 01:06] thedavidprice commented on #1944
Lastly, if you ever want to look at a reference codebase of what the final Tutorial should produce, see this repo (which is what we recommend people use to start the Tutorial II). It does have some styling applied, but that's the only significant difference:
https://github.com/redwoodjs/redwood-tutorial

[2021-03-10 01:33] thedavidprice opened #1953 "Improving Security Practices: Communication and CodeQL Scanning"
This continues discussion originally started in [this Forum post](https://community.redwoodjs.com/t/ensuring-that-redwoodjs-releases-pass-the-security-audit/1893).

I've initiated the following steps via PRs:
1. **Create a Security Policy:** See https://github.com/redwoodjs/redwood/pull/1952
    - [x] needs review and editorial
    - [ ] needs a contact email for security reporting
2. **Enabled Co

[2021-03-10 01:40] thedavidprice commented on #1930
Per Core Team discussion, we are moving forward with the simple path:
1. keep the existing structure, which allows for one command with options, e.g. `...setup tailwind --force`
2. add the capability to provide a compatible package as the command (see example by @dac09)

## Next Steps
- [ ] RFC for accepting a package
- [ ] Discussion: pass a URL as a command? @jtoar

[2021-03-10 01:57] adriatic commented on #1940
I tried with both, plain CMD and PowerShell - both choices work as expected. That is why I wrote [above[(https://github.com/redwoodjs/redwood/issues/1940#issuecomment-794663141)

"***It is also likely that control codes (ASCII < 20h) are unnecessarily complicated that cmder dislikes.***"

[2021-03-10 03:00] thedavidprice opened #1954 "Include `ts-to-js` transpiling within create-redwood-app.js (instead of the current separate CLI command)"
Currently, we skip the `...rw ts-to-js` command in the current E2E tests, which is good for testings a TS project. However, since this is a critical path and the default for new project installation, it seems to me we should include it. And I don't believe the E2E tests will differ based on project being TS or JS, will it?

A simple way would be to change this line by removing `--no-javascript` fl

[2021-03-10 03:09] thedavidprice commented on #1954
Scratch that. I wrote this after diagnosing QA problems but hadn't looked at the GitHub runner. Confirming we _are_ testing this command in the CI Check.

The `run-e2e.js` Yargs options are not intuitive for local workflows. Will re-evaluate and suggest next steps.

[2021-03-10 03:13] adriatic commented on #1944
Added later - checked the Tutorial text again - and there is the creation of the CSS - [Creating a Post Editor](https://redwoodjs.com/tutorial/getting-dynamic#creating-a-post-editor). While my stubbornness makes me believe that the command `yarn rw g scaffold post` was not here a few hours ago, it will be easy to determine whether I suffered from some temporary blindness
`

[2021-03-10 03:36] thedavidprice opened #1955 "[v0.27 blocking] `rw prerender` fails locally"
Running the E2E tests locally, I am hitting the following error when `yarn rw build` is run:
[code]

I'm using a separate project I created with `yarn babel-node` — note: I had to run first with --no-javascript, then upgrade to canary. The other option is to create the project in tmp and open that directory.

E2E Sets the following routes to prerender:
- Home
- About
- NotFoundPage

I tried with j

[2021-03-10 03:41] thedavidprice commented on #1955
**Update:**
Prerender also fails in my Redwood Tutorial Blog test project, upgraded to the latest canary.

[2021-03-10 03:49] thedavidprice commented on #1955
**Deploy Update:**
BUT, 'cause I'm going insane, when I deploy Redwood Tutorial Blog test I get a "success" for build and prerender. What?

https://app.netlify.com/sites/redwoodjs-tutorial-test/deploys/6048403e9e75c50007bd0ff9

[2021-03-10 03:51] thedavidprice commented on #1955
My system info:
[code]

[2021-03-10 05:03] peterp commented on #1955
I think this might be because of symlinking via `rwt link`

Try copying the "packages" from the Redwood framework into "packages" of your project. (If that's setup as a workspace.)

`cp -r /path/to/redwood/packages /path/to/redwood/project/packages`

The run `yarn install`

[2021-03-10 05:10] peterp commented on #1954
Sorry that this isn't as intuitive as I imagined, the reason why we're doing this is because we don't install the packages once the project is created. This means the `rw` command isn't available.

We copy the packages from the framework and then install everything, then we convert it.

If you do `run-e2e --help` you get the following options:

[code]

Not supplying any options does everything sta

[2021-03-10 05:14] thedavidprice commented on #1954
It made sense why once I went through the CI workflow along with command. Thanks!

Yes, that's what I did. Then upgraded to canary and then ran ts-to-js. Confirming it all worked.

[2021-03-10 05:16] thedavidprice commented on #1955
This was a stand alone project using canary releases. No linking involved.

Also failed on my Tutorial project using canary.

[2021-03-10 05:45] pi0neerpat opened #1956 "[api] Add support for prisma where"
It seems there is not full support for `where` in Prisma ([documentation](https://www.prisma.io/docs/reference/api-reference/prisma-client-reference#where))

For example if I want to find a token which matches both the `contractAddress` and `chainId`

[code]

I get this error, which suggests that the full `where` features are not available.

[code]

I get a similar error if I try with

[code]

It

[2021-03-10 05:56] peterp commented on #1956
This has worked nicely for me for awhile - maybe you should regenerate your prisma client via `yarn rw db up` (old prisma syntax).

[2021-03-10 05:56] peterp commented on #1956
Or could you share your `api/src/lib/db.js` file?

[2021-03-10 05:57] peterp commented on #1954
I can also make the code that transpiles the TS to JS part of `create-redwood-app` instead of a separate command, which is probably what I should do so that we don't have these issues.

Re-opening with that as the task.

[2021-03-10 05:58] jangxyz commented on #1595
Hi, any updates?

I've noticed that storybook has upgraded to v6, so I wonder whether redwood should support v6 out of the box. I left a topic in the [forum](https://community.redwoodjs.com/t/upgrading-storybook-to-v6/1914).

[2021-03-10 06:00] pi0neerpat commented on #1956
Hi there! I'm still using the old commands `yarn rw db up` since I'm on `v0.24.0`

[code]

For now I've resorted to using `findFirst` which achieves the same result (mostly)

[2021-03-10 06:20] peterp commented on #1956
Do you have a jsconfig.json file?

[2021-03-10 06:23] peterp commented on #1956
Ah, I see, I think I misunderstood the problem! I think this is working as expected. FindOne works with unique fields. It has been renamed  to `findUnique` in order to help understand that issue:

`Wraps all unique fields of a model so that individual records can be selected.`

![Uploading image.png…]()

Wraps all unique fields of a model so that individual records can be selected.
--

[2021-03-10 06:35] viveksonar commented on #1595
Hey Peter I tried to do it but I couldn't make it .
I'm new to react and still learning for now I will opt out of this issue
may be in future after I have decent knowledge I will go through other
issues.

Sorry

Best,
Peter

On Wed, 10 Mar, 2021, 11:29 am Kim, Jang-hwan, <notifications@github.com>
wrote:

[2021-03-10 06:39] pi0neerpat commented on #1956
OK I think I get it now. I am still confused though on why they are forcing the `where` here to only include unique variables. Its a bit confusing to overload `where` like this. A better term like `whereUnique` would be more appropriate.

So... I guess my hacky usage of `findFirst` is actually the correct way to return a unique value using (full-feature) `where`?

[2021-03-10 06:46] pi0neerpat commented on #1956
The day I need to think about performance for my graphql server is the day I hire an engineer, because we just hit 500k users.

Thanks a bunch for your help!

[2021-03-10 06:46] #1956 closed

[2021-03-10 09:16] Tobbe commented on #1930
Purely a nice-to-have, and absolutely not a must-have. But it would be cool to be able to pass in a url or package with custom templates. Like a custom template for `yarn rw g page` to use, and another for `yarn rw g scaffold` etc. Then, as a company, I can provide templates to make sure all apps I spin up share the same basic look-and-feel.

[2021-03-10 12:22] Burnsy opened #1957 "Type "xxx" is missing a "__resolveType" resolver. Pass false into "resolverValidationOptions.requireResolversForResolveType" to disable this warning."
This issue has been lurking in the darkness for a while.

![image](https://user-images.githubusercontent.com/15834048/110628597-1eb4a000-819b-11eb-8f49-10cea6e79c0e.png)

Community thread talking about it
https://community.redwoodjs.com/t/how-to-add-resolvetype-resolver-for-interfaces/432/10

To fix it i believe all we have to do is pass some options through to makeExecutableSchema(options) in apo

[2021-03-10 13:57] dthyresson opened #1959 "Support Supabase Auth Scopes on Sign Up/In"
See: https://supabase.io/docs/client/auth-signup#sign-up-with-scopes

![image](https://user-images.githubusercontent.com/1051633/110639845-2dd92500-817e-11eb-9c13-3bcc92ee03b7.png)

Similar to Issue #1830 an extra param to specify the `scopes` option is needed for signUp -- in addition to `redirectTo` (both sign up/in).

[2021-03-10 14:13] dac09 commented on #1931
Resolutions helps with the React error, but doesn't solve prerendering when redwood is linked with `yarn rwt link`

[2021-03-10 14:31] dthyresson commented on #1959
Note: The Supabase docs are being updated as there was some lack of clarity. Need to verify that `scopes` are available for both `signIn` and `signUp`.

[2021-03-10 14:36] #1944 closed

[2021-03-10 16:18] thedavidprice commented on #1955
## Hoisting is an artifact from upgrading (to be clear, I upgraded in the "correct" sequence)

^^ So, I did not forget. But, yes indeed, this is the result of hoisting, **which happened during the upgrade process.** (Note: I upgraded to canary _at the end_ of the process, after I added resolutions and manually set the version of React packages.)

### Solution + TO DO
After the steps outlined below

[2021-03-10 16:57] dac09 opened #1961 "RFC: Changes to `rw upgrade` command"
Suggestions:

- [ ] Change upgrade to be more like https://github.com/redwoodjs/redwood/commit/322b35e2266d6d5f0da9d25c492008137cd80090
- [ ] Move upgrade, into a separate package so we can run something like `npx redwood-upgrade`
- [ ] Proxy `yarn rw upgrade` to `npx redwood-upgrade`
- [ ] remove node_modules as part of upgrade
- [ ] Upgrade react version and resolutions change, if required

[2021-03-10 19:36] Tobbe commented on #1961
What's the benefit of doing npx vs rw?

[2021-03-10 19:40] dac09 commented on #1961
Let's take a specific example
- You're on v0.26.2
- We change the upgrade script in v0.27.0, to perform additional tasks required for your app in v0.27.
- However, when you run yarn rw upgrade on your project, its still using the upgrade command from v0.26.2

tldr;
Catch 22: you need to upgrade, to get the latest upgrade script

[2021-03-10 19:45] Tobbe commented on #1961
Got it. But I don't like it.
I like having everything under rw. Makes it easier to discover and learn.

Can we have `rw upgrade` download the latest version of itself before running? Maybe even just have `rw upgrade` do something like `execa('npm redwood-upgrade')` could work?

[2021-03-10 19:47] dac09 commented on #1961
Yep, it could! Adding to RFC

[2021-03-10 20:57] peterp opened #1963 "[RFC] Add top level `typings` folder"
I would like to introduce a typings folder to Redwood.

The typings folder will contain generated types, as well as types that a user can define, as an example a user will be able to define the type returned via `api/src/lib/auth::getCurrentUser`

[code]

This typing will then be available via:
1. the global context: `context.currentUser.isAdmin`
2. `const { currentUser} = useAuth()`
3. The return

[2021-03-10 20:57] peterp commented on #1963
↑↑↑ Please excuse errors, this is late night, after a wine, pseudo-code.

[2021-03-11 05:26] thedavidprice commented on #1955
fixed by https://github.com/redwoodjs/redwood/pull/1962

[2021-03-11 05:26] #1955 closed

[2021-03-11 08:17] peterp commented on #1961
@Tobbe `npx` allows you to upgrade, install and run a command locally. It's like `yarn create` but for packages that don't start with create: `create-package-name`

I propose we keep it in our namespace, `npx @redwoodjs/upgrade`

[2021-03-11 08:43] Tobbe commented on #1961
@peterp Yes, I know what npx is, been using it for `npx create-react-app` for year :)

I just didn't like having another command for our users to use/find/learn

Having it all under `yarn rw` lets users find it by just running `yarn rw --help` (or even just `yarn rw`). But as I suggested to Danny, we could simply proxy `yarn rw upgrade` to `npx @redwoodjs/upgrade` :)

[2021-03-11 08:49] peterp commented on #1961
Soz, I "mansplained!"

[2021-03-11 18:13] Tobbe opened #1966 "TS error in withCellHOC"
TypeScript is complaining about how we're using `children`

![image](https://user-images.githubusercontent.com/30793/110834449-d6ca7180-829d-11eb-9f79-b7a87cf00a31.png)

![image](https://user-images.githubusercontent.com/30793/110834482-e0ec7000-829d-11eb-9bbb-34b90dd40c6f.png)

PR incoming to fix this

[2021-03-11 19:32] Burnsy commented on #1963
Say no more this would be great to allow us to completely type our contexts no more hack jobs with a custom useAuth hook!

[2021-03-11 23:11] adriatic opened #1968 "create-redwood-app should fail if the requirements are not met"
At the moment 3/112021 6:05 pm EST it generates some code - and only then realizes that it should not have generated any

![image](https://user-images.githubusercontent.com/2712405/110867650-18a2ea00-8295-11eb-93d4-834fd149becb.png)

[2021-03-12 01:27] jazarja opened #1969 "Scaffold with decimal data type"
Redwoodjs generate graphql data type when we're using Decimal in prisma schema.

Step to reproduce:
Prisma schema

[code]

Output graphql sdl:

[code]

Expected error
[code]

[2021-03-12 13:55] dthyresson commented on #1969
Hi @jazarja .

Just to clarify, are you reporting that `Decimal` causes and error when scaffolding (or generating SDL) -- or that you *expect* it to raise and error, and it is not.

From my understanding, Prisma does support Decimal:

https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#decimal

[code]

Also, in which version of RedwoodJS, that database (Postgres, SQLite, etc

[2021-03-12 14:07] saideepesh000 commented on #1518
Hey @dthyresson, @peterp, could you be more clear on what should be done, I might have a look into it.

[2021-03-12 14:15] dthyresson commented on #1518
@saideepesh000 The issue stemps from a report in the RedwoodJS [Discord Community](https://discord.com/invite/jjSYEQd):

![image](https://user-images.githubusercontent.com/1051633/110951224-d1f3d500-8312-11eb-9951-626ff76f8ce8.png)

And specifically this user was installing RW on Digital Ocean using a Virtual Private Server (VPS) -- something a little more advanced (and manual self-hosting) than t

[2021-03-12 14:33] dthyresson commented on #1934
Should the copy reference:

`Thanks for choosing Redwood Router!`

And instead just RedwoodJS -- since router is no longer to be a standalone package?

[2021-03-12 14:36] dthyresson commented on #1934
The markup looks ok (a single `main` element with closing tag) in https://github.com/redwoodjs/redwood/blob/a1c4f38dd9bff76a29c3d0415e53f621bcec38d6/packages/router/src/splash-page.tsx#L2

but might there be something with prerender that encloses this differently now?

[2021-03-12 14:47] dthyresson commented on #1969
In a new RW app (version 27) and SQLite:

[code]

then `yarn rw g scaffold UserExample`

There is a warning about Decimal:

![image](https://user-images.githubusercontent.com/1051633/110955170-4d578580-8317-11eb-895e-3d3f0aabefa7.png)

The used prisma studio to add a record:

![image](https://user-images.githubusercontent.com/1051633/110955505-ade6c280-8317-11eb-8ecf-ad7c35e61590.png)

but on laun

[2021-03-12 15:12] dthyresson commented on #1969
It seems that using Postgres with native types a workaround it to use `Float` in the SDL.

[code]

and then in the SDL:

[code]

Note that also worked without native types and a schema of simply:

[code]

Should the SDL for Decimal when scaffolding be Float?

I do not see a [graphql-scalars](https://github.com/Urigo/graphql-scalars#readme) type for `Decimal`.

[2021-03-12 17:21] dthyresson opened #1991 "Auth - GoTrue - Upgrade to Latest?"
Currently the auth package uses:

[code]

Should it use the latest release?

[2021-03-12 20:58] Tobbe opened #1993 "After upgrade to 0.27: Context creation failed"
After upgrading to v0.27 I'm seeing this error

![image](https://user-images.githubusercontent.com/30793/110997518-d0abc200-837d-11eb-90b6-0c11c7171450.png)
(this is on localhost)

Most likely related to https://github.com/redwoodjs/redwood/pull/1789

This has also been reported by @Burnsy and other people

@peterp any idea how to fix this?

[2021-03-12 23:40] thedavidprice commented on #1993
**Update:** The Redwood Core Team is looking into this now as a priority issue to resolve. Will fix, release a patch, and communicate what's happening once we have a resolution.

[2021-03-13 01:40] andrew-hwahin opened #1995 "v0.27 DateField error"
Steps to reproduce using create-redwood-app@0.27.0:
1. yarn create redwood-app my-redwood-app-v27
2. In the `schema.prisma`, add `birthdate DateTime?` to the UserExample model.
3. `yarn rw prisma migrate dev`
4. `yarn rw generate scaffold UserExample`
5.  When I browse http://localhost:8912/user-examples/new it'll show this error 👇

![image](https://user-images.githubusercontent.com/61768800/11101

[2021-03-13 01:47] andrew-hwahin commented on #1995
@cannikin I think it might be related to #1906. Could you guide us on how to solve this issue? 🙏

[2021-03-13 04:11] andrew-hwahin commented on #1995
Other than the `replace of undefined issue` the DateField will also throw out an error for an empty value.

[2021-03-13 15:16] guledali commented on #1995
Try adding a question mark after the `value`

Or maybe try this

[code]

[2021-03-13 19:19] andrewlamyw opened #1999 "`yarn rw prisma format` error"
Running `yarn rw prisma format` produces `Error: Could not find a schema.prisma file that is required for this command.`

![image](https://user-images.githubusercontent.com/11419166/111041598-e00d3700-8473-11eb-8bec-ee806285fa44.png)

Running `yarn rw prisma format --schema=./api/db/schema.prisma` produces `Unknown argument: schema`. I think Prisma 2.18.0 still does not support the `--schema` argu

[2021-03-14 12:19] dthyresson commented on #1999
From looking at

https://github.com/redwoodjs/redwood/blob/4fc08124b37be6d70ce4ebf2957069d9060cd137/packages/cli/src/commands/prisma.ts#L62

the `format` command is not one that is considered when appending the schema:

[code]

[2021-03-14 12:23] dthyresson commented on #1999
Also note that while `format` is in the help section,

[code]

it is not mentioned in the [current Prisma CLI reference](https://www.prisma.io/docs/reference/api-reference/command-reference).

[2021-03-14 12:25] dthyresson commented on #1999
As a workaround you may invoke:

[code]

[2021-03-14 17:33] renansoares commented on #1938
hi, can I assign this issue to me?

[2021-03-14 17:36] peterp commented on #1938
Done, thanks!

[2021-03-14 23:00] simoncrypta opened #2001 "RFC: Improving SEO with React Helmet 🪖"
# The goal is to find how to provide a better SEO out of the box

_This continues the discussions from #1847 for the internalization and also #217 for the conversation about SEO._

## Let's start with meta tags that should be there by default in a Redwood app
_I take inspiration from ["The Ultimate Guide to SEO Meta Tags" ](https://moz.com/blog/the-ultimate-guide-to-seo-meta-tags) blog post_

 To

[2021-03-14 23:32] simoncrypta commented on #2001
To cover the discussion with @clairefro
adding `<html lang={i18n.language} />` inside Helmet
would set the present language for `html lang`.

[2021-03-15 01:41] webstackdev opened #2003 "Missing task "run-verdaccio""
The `publish-local` task has the following error output if Verdaccio isn't running to provide a local NPM repository:

`Error: Verdaccio is not listening on port 4873, start it with './tasks/run-verdaccio'`

But there isn't a `run-verdaccio` task in the project yet. I'd send a PR, but I'm not sure the best way to approach it - I'm using Verdaccio in a Docker container on my workstation.

[2021-03-15 03:42] webstackdev commented on #2003
I found the task, it's `run-local-npm` in `tasks`. I'll push a PR for a change in the `publish-local` task.

[2021-03-15 03:42] #2003 closed

[2021-03-15 07:28] Tobbe commented on #2003
Fixed in #2004

[2021-03-15 09:36] jvanbaarsen commented on #1995
@andrew-hwahin I looks as if you have an optional `birthday` field (The ? indicates that in prisma.schema: `birthdate DateTime?`).

Because of this the value can be `null` in the database, if you'd put a check in the `formatDateTime` as @guledali suggests it _should_ work.

Your formatDateTime would look like this:

[code]

[2021-03-15 10:25] Tobbe commented on #1886
Was getting errors on the "windows-latest | Node 14" GH actions run for a PR, and found this issue that matches the error I saw https://github.com/yarnpkg/yarn/issues/8242

The error I was seeing is `error An unexpected error occurred: "https://registry.yarnpkg.com/date-fns/-/date-fns-2.16.1.tgz: ESOCKETTIMEDOUT".`
https://github.com/redwoodjs/redwood/pull/1967/checks?check_run_id=2111565278

And

[2021-03-15 10:46] Burnsy opened #2005 "Verbosely route data to empty in Cells."
Hi all,

After a conversation with @peterp and @Tobbe we came to the conclusion that some more work should be done around the Cells to make it easier to make sure the route of Cell Part of `empty` used if things like indented arrays are returning `[]`

for example if we take the query of
[code]

we would maybe want to show the empty cell if posts inside of the response is empty.

So we would need

[2021-03-15 11:02] #1966 closed

[2021-03-15 12:00] jangxyz opened #2006 "cli destroy page does not clean up stories and test files"
tested on: `v0.27.1`

cli destroy command works well for `component`s, but does not remove the directory entirely for `page`s.

[code]

<img width="720" alt="Screen Shot 2021-03-15 at 20 37 42" src="https://user-images.githubusercontent.com/52015/111148372-e6fc8c80-85ce-11eb-954d-bc4e4e501a4d.png">

<img width="720" alt="Screen Shot 2021-03-15 at 20 38 20" src="https://user-images.githubuserconten

[2021-03-15 17:00] adriatic opened #2008 "Node v14 clashes with Chokidar"
I just posted the following on Discord

info No lockfile found.
[1/5] Validating package.json...
[2/5] Resolving packages...
**warning @redwoodjs/core > webpack-dev-server > chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.**

RedwoodJS was recently upgraded to require Node v14. Does anyone worry about this warning above?

So far nobody responded

[2021-03-15 18:08] dthyresson commented on #2001
I have been using React Helmet, but I have done all the "setup" in a layout and then my page -- or sometimes a control/cell -- if the title is data-driven -- overrides the layout's title (or other meta tags).

This is especially common when showing a bloog page with an article title/author/date and then a social image that is the article's photo, etc.

[2021-03-15 18:59] jeliasson opened #2009 "Invariant Violation: expected workspace package to exist for "@redwoodjs/core""
I'm getting `Invariant Violation: expected workspace package to exist for "@redwoodjs/core"` when trying to upgrade to `0.27.1` from a existing `0.27.0` project. Not sure if that is the correlation.

[code]

`package.json`
[code]

`api/package.json`
[code]

`web/package.json`
[code]

[2021-03-15 19:00] jeliasson commented on #2009
@Tobbe Have you encountered above? I'm thinking if this related to #1994 or not. Thanks!

[2021-03-15 19:06] #2009 closed

[2021-03-16 13:35] simoncrypta commented on #2001
I also currently done the helmet setup in layout with props from pages. I didn't think about data-driven titles, is a good point @dthyresson

[2021-03-16 18:04] #1957 closed

[2021-03-16 20:33] #1938 closed

[2021-03-17 04:10] thedavidprice opened #2012 "Create a Changelog Doc (or Draft Release Notes)"
https://keepachangelog.com/en/1.0.0/

[2021-03-17 04:14] thedavidprice opened #2013 "Upgrade to Prisma v2.19.0 (Migrate GA)"
https://github.com/prisma/prisma/releases/tag/2.19.0

- [ ] possibly a good time to also update other changes to Prisma commands. See https://github.com/redwoodjs/redwood/pull/1904

[2021-03-17 04:16] thedavidprice opened #2014 "Add message about security to generated custom functions"
The function generator and template JSDoc will link to RedwoodJS.com documentation to help the develop understand how to better secure their function when deployed, if needed and appropriate, since many may not be aware that when deployed, the function is an open api endpoint that anyone can access.

See: https://github.com/redwoodjs/redwoodjs.com/pull/659

[2021-03-17 04:20] thedavidprice commented on #1886
## Next Priorities
- [ ] E2E Test Cleanup: https://github.com/redwoodjs/redwood/issues/1835
- [ ] remove Trigger on Push to Main: https://github.com/redwoodjs/redwood/issues/1949
- [ ] CI: add yarn rw ts-to-js to E2E script (and checks): https://github.com/redwoodjs/redwood/issues/1954

[2021-03-17 04:31] cjreimer opened #2015 "Bug (Windows) with suggested fix : Pages in a subdirectory"
Hello, I'm a rookie and this is my first issue, so let me know if you have any suggestions for posting differently.

I ran into the same issue as https://community.redwoodjs.com/t/bug-when-namespacing-a-scaffold/1803

I am running on a Windows machine.   When I prefix a directory in front of my pages (example: pages\Admin\NewProejctPage)  I get the following error:

I did a bit of searching into t

[2021-03-17 04:35] magicjuju opened #2016 "Linting breaks when disabling side"
When api is disabled linting no longer works.
![image](https://user-images.githubusercontent.com/19280122/111415390-eb8f8500-8735-11eb-9068-8365c2645717.png)

[2021-03-17 04:37] magicjuju commented on #2016
#2017 PR with fix

[2021-03-17 07:50] Tobbe opened #2018 "ESLint couldn't find the plugin "eslint-plugin-jest-dom"."
`yarn lint` in the RW framework repo doesn't work. I get this error message

[code]

[2021-03-17 08:11] Tobbe commented on #2015
@cjreimer Thanks for taking the time to write this issue report. Would you be interested in trying to write a PR for it as well, trying to fix the issue?

If you are, I'd suggest first taking a look in packages/internal/src/__tests__/paths.test.js. We have a test there for the `processPagesDir` function, but it only looks at the path. We should add tests for the name as well.

No pressure if you d

[2021-03-17 10:41] noire-munich commented on #1993
That crashes any test with `mockCurrentUser` too, but so far I haven't seen it with `yarn rw dev`

[2021-03-17 12:57] cjreimer commented on #2015
@Tobbe I'll give it a try.  It will be my first adventure into working on an open-source repo, or anything close to this for that matter.  I'll read the docs before I ask any questions.

David also requested on the forum that I post the output of yarn rw info (below) and link in @jtoar.
[code]

[2021-03-17 15:26] svenhanssen opened #2019 "Route parameters that do not immediately follow a slash do not work"
I tried using a route path with a param that immediately followed a `@` instead of a `/` but this doesn't work.

[code]

When generating a link, for example with `routes.user({ username: 'sven' })`, the generated links becomes `http://localhost:8910/@%7Busername%7D?username=sven`, as `http://localhost.8910/@sven` was expected.

[2021-03-17 17:46] #2016 closed

[2021-03-17 20:53] Tobbe commented on #2019
You are correct. It's designed to work this way.

But I think this makes the second request for support for something like this. If you want, it would be great if you could try and find the other issue on the same subject and link it here. It could also have just been a forum post, so if you don't find an issue, see if you can find a post. Thanks!

[2021-03-17 21:07] adriatic opened #2020 "allowJS property is not allowed: need to handle tsconfig.json or jsconfig.json during install based on language target"
Sounds like a famous statement "I would never be a member of a club that would accept me as a member". More seriously, someone had a need to use this property (this is still an open discussion in the internet) and I wonder whether this is just an archeological leftover in `jsonconfig.json` or not?

![image](https://user-images.githubusercontent.com/2712405/111538426-0b797580-8743-11eb-99fe-7526bd3

[2021-03-18 04:29] #2013 closed

[2021-03-18 06:59] svenhanssen commented on #2019
I searched everywhere (Discource Forums, Discord, Github), but unfortunately I couldn't find a request similar to this ...

[2021-03-18 08:18] jangxyz opened #2023 "Incorrect RouteProps type regarding `redirect` prop for Route component"
Though it is not documented, I assume the `redirect` prop in `<Route />` to be used in redirections, so we can do

[code]

instead of nesting `<Redirect />` component, like this:

[code]

A minor problem is that `page` prop is required, as declared in the `RouteProp` interface: [packages/router/src/router.tsx@v0.27.1](https://github.com/redwoodjs/redwood/blob/v0.27.1/packages/router/src/router.tsx

[2021-03-18 09:20] Burnsy commented on #2020
If this is left in `jsonconfig.json` it would be left over from using the same variables in `tsconfig.json`

so in summery would do something if it was in tsconfig.json but nothing in  jsconfig.json

[2021-03-18 12:01] Tobbe commented on #2019
Thanks for looking. I'll see what I can dig up

[2021-03-18 12:03] Tobbe commented on #2019
Found it! This is the one I was thinking of https://github.com/redwoodjs/redwood/issues/1702

[2021-03-18 12:20] Tobbe commented on #2023
You are correct. `page` should have been optional.

This is being corrected as part of my rewrite of the router here https://github.com/redwoodjs/redwood/pull/1898

[2021-03-18 12:20] #2023 closed

[2021-03-18 15:17] renansoares commented on #981
hi @peterp, can I have more information about this issue? I'm wondering if I can help with this.

[2021-03-18 15:29] cannikin commented on #1995
Whoops, forgot about the classic null case! I'm on it...

[2021-03-18 16:08] cjreimer commented on #2015
@Tobbe I submitted pr #2022
Is there anything else I need to do to get it reviewed?

[2021-03-18 17:21] Tobbe commented on #2015
@cjreimer Review submitted, please have a look! 🙂

[2021-03-18 17:25] thedavidprice commented on #2015
Thanks for this @cjreimer! Greatly appreciate you jumping in with us. This is great.

I'm adding this as a priority for the next release.

[2021-03-18 18:21] thedavidprice commented on #1013
@jtoar curious if this will be resolved along with the upcoming a11y improvements?

[2021-03-18 20:19] #1578 closed

[2021-03-18 22:03] thedavidprice commented on #2015
Fixed via https://github.com/redwoodjs/redwood/pull/2022

[2021-03-18 22:03] #2015 closed

[2021-03-18 22:15] thedavidprice commented on #981
Hi @renansoares! Thanks for jumping in here. I don't know if we actually know more about this. Overall we'd like to be able to do the following:
- benchmark Redwood performance
- understand how Redwood performs differently on various hosting providers (e.g. Netlify and Vercel)
- have awareness + visibility when current performance changes related to the benchmarks (both up and down)

But, to be ho

[2021-03-19 09:26] #1797 closed

[2021-03-19 09:26] #1661 closed

[2021-03-19 09:28] peterp commented on #267
Solved by #1898

[2021-03-19 09:28] #267 closed

[2021-03-19 09:29] peterp commented on #1125
We allow this now.

[2021-03-19 09:29] #1125 closed

[2021-03-19 09:36] #1362 closed

[2021-03-19 12:28] jangxyz opened #2039 "jest: add 'src' path to jest default config"
Importing from absolute paths in test files throws "Cannot find module" error.

Currently this test code:
[code]

throws error:

![image](https://user-images.githubusercontent.com/52015/111777925-46bca580-88f7-11eb-8e1b-5a1b28bea585.png)

Changing it to relative path (`import data from '../../model/data'`) works fine.

As redwood supports `src` path alias out of the box, it seems natural to expect

[2021-03-19 13:47] dariusj18 opened #2040 "VSCode Redwood IDE Error "Cannot read property 'toString' of undefined" when using "Redwood: Generate...""

[2021-03-19 17:51] peterp commented on #2039
Weird, this should be handled by babel - which jest should be using

[2021-03-19 23:38] KrisCoulson opened #2042 "Raise route params higher in the component tree"
Currently, the params from `useParams` are only accessible inside of a route component. With the introduction of  the `Set` component, we still cannot have dynamic Layouts. My initial suggestion is to raise the `ParamsContext.Provider` higher in the component architecture to be able to access the params in the `Set`  component.  Currently, the `ParamsContext.Provider` is initialized in the PageLoa

[2021-03-19 23:53] thedavidprice commented on #2042
Looping in @Tobbe

@KrisCoulson did you happen to see this PR that just merged today? It adds some nice, new features to Routes.js:
https://github.com/redwoodjs/redwood/pull/1898

See this syntax reference from the original RFC discussion:
https://community.redwoodjs.com/t/redwood-router-with-layouts-context-providers-etc/1342/25

Possible this will provide the capability you're looking for?

[2021-03-19 23:57] thedavidprice commented on #2040
Hi @dariusj18 Thanks for opening this Issue. The VSCode Extension is currently undergoing a major re-write by @aldonline It might be another few weeks, but look for some progress coming soon.

[2021-03-19 23:59] KrisCoulson commented on #2042
@thedavidprice I have been talking with @Tobbe about this. Told him I would create the issue. I pulled the canary version to test the upgrade for my use case.  The Set component makes it possible to do what I am trying to do now. But it's a bit of a pain because I would have to manually parse the `location.pathname` to get the `id` to make a request

Something like this
[code]

[2021-03-20 00:01] thedavidprice commented on #2042
Thanks! I just saw Tobbe opened #2043 simultaneously and assumed you're collaborating.

[2021-03-20 00:01] thedavidprice commented on #2042
@Tobbe could you provide a final example like the above in the PR description?

[2021-03-20 00:02] Tobbe commented on #2042
You bet!

[2021-03-20 00:31] thedavidprice commented on #1993
@noire-munich have you been able to resolve the issue using v0.27.1?

[2021-03-20 00:54] thedavidprice commented on #1778
This is happening with every release and is going to bite someone's production app. Escalating to a high priority for current release sprint.

[2021-03-20 01:03] thedavidprice commented on #1934
@dac09 I took a look but couldn't see anything obvious. Assuming there's something deeper in prerender world causing this. Can you dig into it?

[2021-03-20 01:47] #2042 closed

[2021-03-20 08:00] noire-munich commented on #1993
@thedavidprice not at all:

[code]

That worked like a charm in v0.26.x

[2021-03-20 08:28] peterp commented on #1993
@noire-munich

Could you add this to your `api/jest.config.js` file:

[code]

[2021-03-20 08:34] noire-munich commented on #1993
@peterp thanks, it works!
Did I miss something in the latest upgrades notes?

[2021-03-20 08:35] peterp commented on #1993
Nope, it's my fault, we'll fix this up

[2021-03-20 08:36] noire-munich commented on #1993
Ah! well that's a quick fix :) thanks again.

[2021-03-20 10:17] #1993 closed

[2021-03-20 11:14] renansoares commented on #981
Hi @thedavidprice, thanks for your response.

I have some experience with Lighthouse and I am looking for something to help next.

I see 3 ways to analyze web core vitals metrics:

1. Lighthouse browser: the one which runs in Google Chrome
2. [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci): a library to run lighthouse against a page and generates the report (the same generated by th

[2021-03-20 15:58] thedavidprice commented on #2001
Huge thanks for getting started on research and this proposal @simoncrypta! This is exactly what we needed. Also, I'm looping in @dac09; he's leading Prerender and has a lot of Jamstack + SEO experience.

Question for everyone: **Is there any reason why we _shouldn't_ have built-in SEO support from the start?**
- If it was included in generators/boilerplate, hard for me to see a downside (I recogn

[2021-03-20 18:56] thedavidprice commented on #981
Wow, lots of great ideas here. And a "yes" to moving _something_ forward. I'll do my best to identify priority, actionable next steps. But also know I can become a bit of a bottleneck as I'm inconsistent in my focus outside Redwood v1 roadmap priorities. That said, if you feel momentum is slipping, there's nothing that gets momentum flowing again like a draft PR 😆 No permission needed.

## High Le

[2021-03-20 19:33] aldonline commented on #2040
Hey @dariusj18!

I can't tell for sure where this is coming from, but here's some context.

The `Interactive CLI` is a _partial_ rewrite of the actual `CLI` that uses a different execution model.
For example. Here's the `CLI`'s implementation of the "generate page" command:

* https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/page/page.js

And here's how the `Intera

[2021-03-20 19:38] thedavidprice opened #2050 "Resolve 4 warnings from new CodeQuality CI checks"
@peterp @dac09

For v0.28 release, I'd like us to assess and prioritize the current Code Scanning warnings:
https://github.com/redwoodjs/redwood/security/code-scanning

Please take a look when you have a chance. And I'll put on list for discussion next week.

[2021-03-21 02:23] realStandal opened #2051 "Configuration to `createLogger()`with prettyPrint options overwrites prettyPrint defaults"
The following is a bug-report for the `canary` API-side logging.

A configuration such as:

[code]

Will overwrite all defaults, resulting in output similar to:

![Incorrectly formatted log output](https://user-images.githubusercontent.com/25166787/111891533-2f9ab800-89ca-11eb-9988-abc876034e0c.png)

As opposed to:

![Correctly formatted log ouput](https://user-images.githubusercontent.com/2516678

[2021-03-21 02:29] realStandal opened #2052 "Incorrect type declarations for Prisma logging-middleware event emitters"
The following is a bug-report for the `canary` API-side logging.

When using [the provided](https://community.redwoodjs.com/t/redwood-logging-ideas/1046/17) `api/src/lib/prisma.ts`, the following type-warning is encountered:

![Client.$on() error](https://user-images.githubusercontent.com/25166787/111891739-602f2180-89cb-11eb-9dfd-467aad9f9f9c.png)

Where `client.$on()` takes on the following sign

[2021-03-21 02:33] realStandal opened #2053 "Prisma requesting TypeScript `4.1.0` on `rw prisma generate`"
The following is a bug-report for the `canary` version of Redwood, `0.27.2-canary.26`. (`rw upgrade -t canary`)

When running `rw prisma generate` to update `@prisma/client` typings, the following warning is given by Prisma:

![Prisma request TypeScript version 4.1.0](https://user-images.githubusercontent.com/25166787/111891806-05e29080-89cc-11eb-81bf-09217b8c89e7.png)

[2021-03-21 02:33] realStandal commented on #2052
Possibly related to #2053

[2021-03-21 06:01] peterp commented on #2050
I've closed them since they're not relevant. 2x are in the dev server. 1x is not a secret, and 1x is irrelevant.

[2021-03-21 11:15] dthyresson commented on #2051
These prettyPrint options are lost when setting prettyPrint to anything otehr than true -- that is, you either have to include all the defaults when you wish to add or change a default:

[code]
There is `prettyOptions` type that defines all the possible options:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/afdb4fac83531e27b6ba7a13e65e519b87bcaa30/types/pino/index.d.ts#L544

Will consid

[2021-03-21 11:18] dthyresson commented on #2052
I had seen this TS warning, but as yet had not figured out a workaround or solution to find that exact type definition.

This issue gives me some direction, thanks!

[2021-03-21 11:20] dthyresson commented on #2052
See: https://github.com/prisma/prisma/blob/1d0045fe60dc1992173f3f5be84b24129f0d45a3/src/packages/client/src/generation/TSClient/PrismaClient.ts#L45

[code]

[2021-03-21 11:30] dthyresson commented on #2053
This may be related to some logging TS, but I have not experiences this warning (yet).

[2021-03-21 16:08] renansoares commented on #981
**High Level Goal**

I agree with all points you mentioned.

The idea is to have benchmarks reflecting how people could/is use Redwood. Having those benchmarks, the community could refer to as a source to make architectural decisions according to each product's requirements. Also, it helps to track performance degradation.

**'Performance' documentation**

I agree. I will start an RFC for ` redwoo

[2021-03-22 08:41] Darth-Knoppix commented on #1589
I've been experiencing this too, I run multiple servers as part of development and have to disable the extension or run `kill $(lsof -t -i:8000)` to free the port beforehand.

[2021-03-22 13:28] dthyresson commented on #2053
FYI I just received this warning/error in CI on a new PR:

[code]

[2021-03-22 14:42] dthyresson commented on #2053
@realStandal My issue in the CI run resolved itself -- the error was due to the CI runner not being able to dl a package. Re-triggering corrected it.

But, could you try:

`yarn why typescript`

And let us know what you see? It might give an answer or point in a direction.

[2021-03-22 15:20] thedavidprice commented on #1589
@aldonline this looks like a possible feature addition for the current re-write

[2021-03-22 15:44] dac09 commented on #1738
I'm going to close this for now, as I suspect it may have been caused by the hoisted node_modules. Will open again if required

[2021-03-22 15:44] #1738 closed

[2021-03-22 15:45] dac09 commented on #1775
I suspect we'll need a bump to ts-morph in the redwoodjs/structure package.

[2021-03-22 16:35] cannikin opened #2057 "[Generators] Scaffold generator broken, possibly others"
https://community.redwoodjs.com/t/generate-scaffold-error/1966

The code that generates the lines he's seeing is here in the service generator:

[code]

If `field.name` was an object instead of a string (which is has been up until this point) we would see this exact error.

[2021-03-22 16:46] thedavidprice commented on #1667
Now that we've upgraded to Storybook v6, which is using Webpack v5, when should we prioritize upgrading to Webpack v5 @peterp?

[2021-03-22 16:54] thedavidprice commented on #2057
Just asked in the Forum post about Redwood and Prisma versions. Want to confirm there's nothing out of sync, which could happen if Prisma was manually installed in the project.

But definitely weird.

[2021-03-22 16:58] thedavidprice commented on #2050
That's what it seemed so thank you for taking a look and confirming. Perfect!

Closing out.

[2021-03-22 16:58] #2050 closed

[2021-03-22 17:08] dthyresson commented on #1778
@thedavidprice Do you see this happen if:

* logged in to app via Netlify Identity
* trigger redeploy of app (no code changes)
* after done
* use app with same auth
* see error?

[2021-03-22 17:11] thedavidprice commented on #989
@peterp @jtoar
I believe this Issue has been resolve via #1828 and also the just-merged https://github.com/redwoodjs/redwood/issues/2054 (upgrade to Storybook v6) Correct?

Dom, further thoughts on a Doc for Storybook? All good if it hasn't started. Just let me know as I'd like to create an issue for tracking.

[2021-03-22 17:17] jtoar commented on #989
@thedavidprice yeah I would think those two PRs close this issue. And doc's been started here: https://github.com/redwoodjs/redwoodjs.com/pull/611. Definitely on my list for this week

[2021-03-22 22:04] #2057 closed

[2021-03-22 22:35] thedavidprice opened #2060 "Create new RW CLI command to start api-server (with options)"
@peterp Given the recent activity with new hosting providers that are using `@redwoodjs/api-server` along with feature requests like [Add root-path to api-server](https://github.com/redwoodjs/redwood/pull/1691), I suggest it's time to create a specific command to wrap `yarn rw-api-server --port 8911 --functions ./dist/functions`

Current needs I've observed:
-  need documentation about running the

[2021-03-22 22:55] thedavidprice commented on #989
Roger that and closing out. Thanks!

[2021-03-22 22:55] #989 closed

[2021-03-22 23:00] thedavidprice commented on #1934
closing this out in favor of https://github.com/redwoodjs/redwood/issues/1887

Expecting https://github.com/redwoodjs/redwood/pull/2056 fix to be included in upcoming v0.28 release

[2021-03-22 23:00] #1934 closed

[2021-03-22 23:20] thedavidprice commented on #1778
Just tests this process. It does _NOT_ result in "Something went wrong" screen. Here's what I did:
1. logged into my deployed app. Then closed browser window.
2. from Netlify dashboard, Clear Cache and Redeploy
3. Once redeploy complete, visited the deployed app from new browser window
4. Page loaded successfully. Still logged in.

Just weird.

I stayed logged in so I can watch more closely during

[2021-03-22 23:28] thedavidprice commented on #2006
Ah, great catch. I believe the test and story files were added to Page generation _after_ the Destroy command was created.

Any chance you would be interested in working on a PR for this @jangxyz? No pressure either way.

[2021-03-22 23:32] thedavidprice commented on #1775
@dac09 Roger that. In which case I'll just wait for the soon-to-be re-built Structure package.

[2021-03-22 23:34] thedavidprice commented on #1991
fixed via https://github.com/redwoodjs/redwood/pull/2011

[2021-03-22 23:34] #1991 closed

[2021-03-23 01:15] dthyresson commented on #2053
Actually @dac09 suggested that `ts-morph` might be the "cause". Will have to dig deeper, but thanks for confirming.

[2021-03-23 01:15] #1999 closed

[2021-03-23 02:42] cjreimer opened #2062 "Minor issue - easy fix - Scaffolded Checkboxes not displaying correctly"
@cannikin I'm tagging you as I understand you have had a lot to do with the scaffolds.  Thanks for all your work on this!

I recently generated a scaffold that includes a Boolean field.
In the created form I get a checkbox with no width:

![image](https://user-images.githubusercontent.com/51102303/112083655-71a43500-8b55-11eb-9734-5e106a4c59c5.png)

It appears to be a CSS issue.  Simply  removing

[2021-03-23 07:40] Tobbe commented on #2062
![image](https://user-images.githubusercontent.com/30793/112110400-1ef96600-8bb3-11eb-87f4-dc8c96469e6b.png)

I'm guessing there was a reason I did that... But I can't remember right now 🙁
Could also be that some other style changed, that affects this.

Do you have a project I can clone that reproduces this bug?

[2021-03-23 08:07] noire-munich opened #2064 "RFC: Storybook v6 with AddOn and Config Support"
Looping in @thedavidprice & @peterp following Startup support crew feedback.

### Needs & use cases
The following are addons we could use within our current project.

#### [Accessibility](https://storybook.js.org/addons/@storybook/addon-a11y)
Not a direct concern to us considering the specifics of our target audience but in today's time it's a no brainer and any organisation should make efforts on

[2021-03-23 10:40] dac09 commented on #1775
Maybe completely unrelated, but these changes here fixed build for me https://github.com/redwoodjs/redwood/pull/2058

[2021-03-23 10:45] bhumilsarvaiya opened #2065 "multiValueHeaders are not handled by awsLambda request handler"
The awsLambda requestHandler defined in dev-server and api-server package doesn't handle multi-value headers. For example when multiple cookies are set in response. Example code:

[code]

Saving the above code in file api/functions/temp.js and then calling api http://localhost:8911/temp, it can be confirmed that the cookies are not sent back in the response. It is because in function `expressRespo

[2021-03-23 12:04] peterp commented on #2064
Hey @noire-munich,

Thanks for creating this issue - I think @jtoar is currently adding the a11y support to Storybook.

For the rest I wonder if it's best to provide the ability to install those addons, and provide documentation that help people understand how to install those.

P.S. The next release should allow people to configure their storybook addons. We've also upgraded it to version 6.

The

[2021-03-23 12:22] peterp commented on #1775
So ... I added a bunch of resolutions for packages that structure installed over here:

https://github.com/redwoodjs/redwood/blob/148aa468ec1fbbeceabd8477b9ed118cfe5a3688/package.json#L56-L59

I added this because a bunch of dependencies deeply nested inside vs-code were updated and that broke the type definitions. Super frustrating. I assume this has happened again, so we need to figure out which

[2021-03-23 13:35] initplatform commented on #1438
Can I ask what you used to generate the current diagrams in the documentation? I really like their look.

![image](https://user-images.githubusercontent.com/47506789/112154868-14db6580-8bbb-11eb-8c24-57c28ff9679c.png)

[2021-03-23 14:15] noire-munich commented on #2064
Hey @peterp

`The reason for this is that once we start adding addons into RedwoodJS storybook by default then we need to support them, upgrade them, etc.`

Sure, no problem, I'm sharing these per invite from @thedavidprice, I'd be happy if these were packed in but I'd be happy as well if I could easily set them up myself. Whatever suites the core team will do.

`P.S. The next release should allow

[2021-03-23 14:30] Tobbe commented on #2064
Indeed! 🙂

[2021-03-23 14:56] thedavidprice commented on #2064
@noire-munich thank you for opening this Issue. Let's keep it open if you're up to report back once you've had a chance to use the next release and try out the Storybook add-ons.

Additionally, if you have specific Doc requests+additions+ideas, could you outline them on this open PR that @jtoar is working on here? https://github.com/redwoodjs/redwoodjs.com/pull/611

Well, Thursday actually!

[2021-03-23 15:01] thedavidprice commented on #1438
@noire-munich I think you'll be interested in seeing the visual graphing tools mentioned in [this comment above](https://github.com/redwoodjs/redwood/issues/1438#issuecomment-722438213).

[2021-03-23 15:02] noire-munich commented on #2064
Got the weirdest synchronisation w/ Rw, ever since it launched I'm only a release away from what I need :p.

Great \o/ I should be keeping in touch at the end of the week then.

`Additionally, if you have specific Doc requests+additions+ideas, could you outline them on this open PR that @jtoar is working on here? redwoodjs/redwoodjs.com#611`

Sure @thedavidprice if anything comes up I'll comment o

[2021-03-23 15:03] thedavidprice commented on #2064
Keep on leading the way! (Note: I'm also about to open an Issue regarding improving our patch release process.)

[2021-03-23 15:08] thedavidprice commented on #1775
Thanks for going through the process @peterp I would ❤️ for these kinds of details to be better documented (and findable) for contributors. Often they are buried in PRs that seem innocuous when instead they should be a kind of "required reading" for all maintainers. Will keep noodling on this in general.

Note: I experience the original Issue before you added the resolutions mentioned above. Also,

[2021-03-23 15:10] #1887 closed

[2021-03-23 15:16] thedavidprice commented on #2065
Thank you@bhumilsarvaiya Looping in @peterp for discussion.

[2021-03-23 15:23] noire-munich commented on #1438
Thanks @thedavidprice , I was aware of prisma-dbml-generator only, but if we are to go that way, generating a diagram any time we need to see the schema, our IDEs have a native solution based on DB introspection that works correctly - we're on IntelliJ' suite, PyCharm & PhpStorm.
Might be possible to code something more *dynamic* but it's a topic on its own right :-\\.

@aldonline has anything com

[2021-03-23 15:44] thedavidprice opened #2067 "Leveling up our Patch release process"
@peterp starting with this next release, I'm going to focus on opportunities to resolve bugs more quickly via patch releases. Here's how I understand the process that will work with the canary release automation:

1. **Create a new branch** from the previous release tag, e.g. `git branch v0.27.2-patch v0.27.1`
2. **Open a PR** against the patch branch, e.g. `v0.27.2-patch`
    - if the PR working

[2021-03-23 16:10] adriatic commented on #1887
@thedavidprice @dac09 allow me to keep this issue open because the fix addresses only the problem diagnosed **[diagnosed by @peterp above](https://github.com/redwoodjs/redwood/issues/1887#issuecomment-788886017)**. My original issue
[code]
is caused by "inadequate" VSCode settings, which do not correctly address the application testing (the testing starts before it should). I will verify this and

[2021-03-23 16:41] thedavidprice opened #2068 "Fix (and add) `yarn rw test web` in run-e2e script"
related to https://github.com/redwoodjs/redwood/issues/1886

@peterp @dac09

We are currently **not** able to run `yarn rw test web` in our CI check due to undiagnosed issues from the package linking process. I'm still tracking and including a manual QA check for `yarn rw test web`, however, it feels like it's bound to get missed sooner or later. What should the next steps be here:
- diagnose and

[2021-03-23 16:46] thedavidprice commented on #1887
Ah, thank you @adriatic The PR we merged including a fix for the "Did not expect server HTML" issue will be included in this week's coming v0.28. If you every want to test the current unstable releases, you can run `yarn rw upgrade --tag canary` to install the most recent canary packages.

If you do find the `Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK'` persists (as I'm assuming it does)

[2021-03-23 16:58] adriatic commented on #1887
Yes, I am immediately switching to **[testing](https://redwoodjs.com/docs/testing)** section (have not touched that yet) and will use if in the context of the Tutorial where I encountered that `Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK' ` issue.

[2021-03-23 17:12] dac09 commented on #2001
Helmet is pretty good for this sort of thing, do you guys think we should include it inside redwood?

I've put up a draft PR here about using helmet for prerendered pages. https://github.com/redwoodjs/redwood/pull/2066/files

Also note, that I'm using react-helmet-async not helmet, because the API is slightly better for SSR

[2021-03-23 18:18] peterp opened #2069 "Add a flag to toml to allow a user to toggle esbuild"
Instead of having to use the `--esbuild` flag

[2021-03-23 18:24] peterp commented on #2068
I was trying to debug this issue: https://github.com/redwoodjs/redwood/issues/2039

What I found was that if you ran `yarn rw test`  in e2e with the `redwood/packages` in the repository it didn't work, but if you ran `yarn jest` it did work.

I'm assuming there's a problem with paths, that jest doesn't know where it's starting from... Or "jest" is picking up tests or trying to do coverage in the `

[2021-03-23 18:44] thedavidprice commented on #1595
I believe this is now resolved via https://github.com/redwoodjs/redwood/pull/2054 which will be included in v0.28

@peterp correct?

[2021-03-23 18:54] peterp opened #2070 "Figure out a way to remove PageLoadingContext"
Earlier this evening we discussed removing the PageLoadingContext from the Router because it adds a layer of complexity that's difficult to reason about.

The initial idea is to remove PageLoadingContext, but make it optional in some routes.

Maybe @Tobbe, @dac09 , @jtoar and myself can come up with some nice.

Thanks to @jtoar for bringing this up.

[2021-03-23 18:58] peterp opened #2071 "Improve vendor chunk splits along routes"
It came to our attention that we're not actually splitting vendor modules per-route.

Realated dicussion: https://community.redwoodjs.com/t/trouble-with-webpack-bundle-size-and-loading-performance/1949

[2021-03-23 20:01] Irev-Dev commented on #2071
Thanks @peterp.

You asked for a PR in the discussion, I'm not exactly sure what you want in the PR? Are you after a demo of code where the vendor bundles isn't split by route?

[2021-03-23 20:03] dac09 commented on #2071
I'm looking into this further @Irev-Dev! What might be very useful to me is if you mentioned what libraries you're using so I can test it out.

[2021-03-23 20:12] Irev-Dev commented on #2071
My repo is here: https://github.com/Irev-Dev/cadhub @dac09

I figure that's better than me listing libraries one by one here? or should I still do that?

The fact that I have [modified the webpack config](https://github.com/Irev-Dev/cadhub/blob/main/web/config/webpack.config.js) might complicate things.

I could probably spin up a new redwood projects that the minimum needed to show vendors not be

[2021-03-23 20:19] cannikin commented on #1995
I did one that fixed datetime fields in general, but this is a new (smaller) issue!

[2021-03-23 20:34] #1995 closed

[2021-03-23 20:36] peterp commented on #2071
Sorry @Irev-Dev,

I was on a call and typing at the same time (a bad habit), I meant to ask for an issue instead of a PR.

[2021-03-23 21:03] peterp commented on #1595
Yup, this is resolved!

[2021-03-23 21:03] peterp commented on #1595
Resolved by #2054

[2021-03-23 21:03] #1595 closed

[2021-03-23 21:08] peterp commented on #1709
We've now upgraded to Storybook 6.0 in this PR: #2054

[2021-03-23 21:08] #1709 closed

[2021-03-23 21:09] peterp commented on #1380
I've been thinking about this, and I think we could wrap the `withCell` hook in a custom error boundary (during development) that provides a way better error experience.

[2021-03-23 22:21] thedavidprice commented on #1380
@peterp should we put this in the queue for a future Sprint? Or do you want to sit on it for a bit more?

[2021-03-23 22:27] thedavidprice commented on #2069
@peterp assuming we want this in v0.28. Prioritizing accordingly.

[2021-03-23 22:32] thedavidprice commented on #2001
- included inside redwood = ✅
- change the title by default for every route = ✅
  - I'm trying to think of a case where I _wouldn't_ want this. So I suggest opt-out

To discuss:
- including in generator(s)
- specific considerations for creating the "right" foundation to then add elements for i18n and a11y (looping in @jtoar)

[2021-03-23 22:36] thedavidprice commented on #2065
Very nice! @peterp is asleep now (in South Africa) but I'll keep this on his radar for some thoughts + direction. This week we're focused on getting v0.28 released, FYI.

Depending on your availability and the amount of work required, opening a draft PR does help move the discussion forward. We might not move forward and merge it, but we always welcome taking that step. Keep me posted if you're in

[2021-03-23 22:37] thedavidprice commented on #1438
@noire-munich and another one just from today!

https://apis.guru/graphql-voyager/

[2021-03-23 23:03] thedavidprice commented on #1930
@dac09 reminder to close this Issue out and replace it with new, consolidated RFC based on your POC. Thanks!

[2021-03-24 00:53] cjreimer commented on #2062
Thanks @Tobbe for encouraging me to create a project that reproduces it.  I now have more information.  I wrongly assumed that if I wasn't using tailwindcss on the page that it wouldn't affect the checkbox display.  It turns out it doesn't appear to be tailwindcss itself, but rather tailwindcss/forms.  The checkbox display works after the command

`yarn rw setuptailwind`

but doesn't work after I

[2021-03-24 04:51] peterp commented on #1380
I think we should add it to the queue - it would make dev/ testing/ storybook so much nicer.

[2021-03-24 05:12] bhumilsarvaiya commented on #2065
Sure, will do that.

[2021-03-24 08:25] peterp opened #2074 "Hide implementation details for Prisma logging"
In the upcoming release (v0.28.0) we've added the ability to log prisma events via a `api/src/lib/prisma.ts` file which configures the way Prisma emits events and associates the user's logger to those events in order to capture them.

My concern is that Prisma modifies their logging api and that a bunch of user's would have to update their logging code in order to upgrade to a future release.

My

[2021-03-24 08:26] peterp commented on #2074
@dthyresson Let me know if you have any concerns about this.

[2021-03-24 08:26] peterp commented on #2069
@thedavidprice I think I would like to get this into the next release so that @dac09 can test it out with prerendering.

[2021-03-24 08:29] peterp opened #2075 "Router in canary currently renders multiple Routes when they are matched"
I've got two paths that are nearly identical:

1. `/o/{organizationId}/{dbConnectionId}/{exportConfigId}/edit`
2. `/o/{organizationId}/{dbConnectionId}/{exportConfigId}/{snapshotId}`

If I visit: `/o/1/2/3/edit`

It appears that both are being matched and rendered sequentially, but my inclination is that the first "edit" route should be the only one that's rendered.

[2021-03-24 08:34] peterp commented on #2020
We rename the tsconfig.json to jsconfig.json, but we don't modify the settings. I'm assuming that we'll probably have to create two template configs in the `./template` (tsconfig.json and jsconfig.json) and then delete the one that's not appropriate.

[2021-03-24 08:49] peterp opened #2076 "Fix globbing in esbuild"
Support @Burnsy's use case, which is something like this:

[code]

[2021-03-24 09:01] peterp opened #2077 "[RFC] Change glob import syntax"
Right now importing a bunch of files is supported on the api side. This can be done with the following syntax:

`import schemas from 'src/graphql/**/*.{js,ts}'`

When we detect `**` we kick in the globbing syntax features. I would like to propose that we consider making it look something like this instead:

`import schemas from 'glob://src/graphql/**/*.{js,ts}`

The proposal has two benefits:
1. I

[2021-03-24 09:13] KrisCoulson opened #2078 "rwt link error: "https://registry.yarnpkg.com/@redwoodjs%2f.DS_Store: Not found"."
When running through the contributor documentation I ran into an issue when trying to run rwt link on my newly created redwood-app

![image](https://user-images.githubusercontent.com/6943688/112284348-5fee8a80-8c46-11eb-8a87-912457336024.png)

I ran `yarn install`: it worked
I ran `yarn rwt link` it fails
I ran `yarn install` again and it continuously fails

`yarn-error.log` information
[code]

Ad

[2021-03-24 10:06] #2076 closed

[2021-03-24 10:42] qooqu commented on #1659
hi all - just submitted a pr

https://github.com/redwoodjs/redwood/pull/2081

[2021-03-24 12:29] Tobbe commented on #2062
My gut reaction is "No". But I know how much a lot of RW devs and users love TW, so, maybe?

I'm pretty sure if someone said "Hey, I added Bootstrap, and now my forms look different" we'd be like "Yeah, no shit" 😄 and close the issue without further action 🙂

It does seem to be a pretty small and simple fix though, for this case... @thedavidprice What say you?

[2021-03-24 12:32] Tobbe commented on #2078
@dac09 Could you take a look at this please?

[2021-03-24 12:35] dac09 commented on #2078
Thanks for raising this @KrisCoulson I'll have a fix for this soon, I found this happening on my machine occasionally too.

For now, what you can do is remove the `.DS_Store` file in `redwood/packages/.DS_Store`.

And run `yarn rwt unlink && yarn rwt link`

[2021-03-24 13:31] dac09 commented on #2071
Hey @Irev-Dev - would you like to try the PR build in #2082 and let me know how it goes for you?

https://github.com/redwoodjs/redwood/pull/2082#issuecomment-805808178

[2021-03-24 13:40] dthyresson commented on #2074
Agree, that is definitely the preferred option.

I see that by passing in both a `logger` and the `db`

[code]

that will remove the need to import Prisma (but maybe I'll still have to include Prisma types?) into the logger -- since not all  api implementations will include Prisma.

[2021-03-24 13:43] dthyresson commented on #2074
But won't `{handlePrismaLogging } from '@redwoodjs/api/logger'` mean that I'll have to

`import { PrismaClient, Prisma } from '@prisma/client'`

in the logger this tying Prisma and Logger together?

[2021-03-24 13:51] dthyresson commented on #2074
Actually looking into it more, since `"@prisma/client": "2.x.0",` is already in the api, then the logger package will just be using the types.

I'll give it a go.

[2021-03-24 15:02] #2075 closed

[2021-03-24 15:10] dthyresson commented on #2074
The one issue might be that `LogLevel` and `LogDefinition` as types only in the *generated* Prisma client.

See: https://www.prisma.io/docs/concepts/components/prisma-client/working-with-prismaclient/generating-prisma-client/#the-prismaclient-npm-package

and

See: https://github.com/prisma/prisma/blob/master/src/packages/client/index.d.ts

[code]

[2021-03-24 15:13] dthyresson commented on #2074
But ... I can simply define them I imagine based on the Prisma types:

[code]

[2021-03-24 15:24] dac09 opened #2086 "[RFC] Setup external modules and scripts with `yarn rw setup plugin`"
This RFC proposes:

Allow setup commands to run external node_modules and external scripts gists.

In order to achieve this we would need the following

**1. Setup a standard that all redwood setup packages must conform to**

[code]

**2. Add new command `yarn rw setup plugin xxx`**

Where `xxx` can be:
a) A node module e.g. `yarn rw setup plugin redwood-setup-foo`
b) A gist e.g. `yarn rw setup pl

[2021-03-24 15:26] thedavidprice commented on #2020
I'm updating title based on proposed solution. Adding this to the v1 roadmap TypeScript tasks.

Thanks @adriatic!

[2021-03-24 15:26] dac09 commented on #1930
Closing this in favour of https://github.com/redwoodjs/redwood/issues/2086

Key decision: we won't be supporting multiple setup commands in a single command right now

[2021-03-24 15:26] #1930 closed

[2021-03-24 15:28] thedavidprice commented on #2086
Thanks! Prioritizing this for next sprint

[2021-03-24 15:57] thedavidprice commented on #2078
@dac09 is this related to work in https://github.com/redwoodjs/redwood/pull/1960 ?

[2021-03-24 15:59] thedavidprice commented on #2062
Will get to a review + recommendation just after we're done with the v0.28 release. Thanks all!

[2021-03-24 16:03] thedavidprice commented on #1659
and merged!

[2021-03-24 16:03] #1659 closed

[2021-03-24 16:03] KrisCoulson commented on #2078
Awesome thanks for the tip @dac09 I will give it a shot this afternoon

[2021-03-24 16:06] dac09 commented on #2078
@thedavidprice 1960 will solve this yes, but there's some outstanding questions there (see PR discussion) before we can get it merged.

[2021-03-24 16:31] peterp opened #2088 "Add types to config files"
I saw this in another PR and I think it's a really great addition:

This add types to the jest configurations, I think we should do the same for all our configs.
https://github.com/redwoodjs/redwood/blob/0002df4f75e9119f92eaf74d49fb3fe6635e43ad/packages/testing/jest.config.js#L1

- [ ] Find all the config files: babel, webpack, storybook, etc.
- [ ] Figure out if they have type definitions.
- [ ]

[2021-03-24 16:54] dthyresson commented on #2074
It's currently working great. I'll just have to update the docs and I can PR.

[2021-03-24 18:25] cannikin commented on #2062
Can we add an override for the 100% width on check/radio boxes?

[code]

I should have done that to start with, I forgot about 100% width affecting those guys!

We should definitely change this in the real scaffold.css so everyone gets it going forward.

[2021-03-24 18:40] thedavidprice commented on #1518
I don't believe this is an issue any longer as the developer could forward options to the rw dev command (which is using Webpack Dev Server behind the scenes): https://redwoodjs.com/docs/webpack-configuration#pass-settings-with-forward

Any way to pass this information along? Assuming it's resolved since it's been many months now.

[2021-03-24 18:42] thedavidprice commented on #1630
Assigned this to you @dthyresson and prioritizing for review during the next sprint. Correct assignment and sound good?

[2021-03-24 18:46] dthyresson commented on #1630
@thedavidprice

Not sure this is on my task list - this is different that looking into GraphQL security. Those are two separate efforts.

I can review the RFC and make comments, but I don't know if this is the desired implementation yet. Has this been ok'd?

[2021-03-24 18:49] thedavidprice commented on #1630
Got it. Removing assignment. But keep a priority for discussion at the start of the next cycle. Thanks!

[2021-03-24 19:09] thedavidprice opened #2091 "Mitigate confusion and errors resulting from Prisma's Shadow DB 😈"
I'm seeing more questions, issues, and errors resulting from confusion about Prisma Migrate's new Shadow DB. (Additionally, we have some similar confusion regarding Redwood's local Test DB requirements in case of switching off SQLite).

For context, see my answer to Thomas in the Forums: https://community.redwoodjs.com/t/creating-a-startup-support-crew/1805/38

**Questions/Ideas**
- where and how

[2021-03-24 19:31] cannikin commented on #1630
There's really three separate things we've talked about securing:

1. Services (just the services themselves, not the interface to the outside world via GraphQL) - covered by this issue
2. GraphQL endpoints - not sure if there's an open issue/RFC for this one?
3. Custom Functions - sort of discussed in https://github.com/redwoodjs/redwood/issues/1618

[2021-03-24 19:49] cjreimer commented on #2062
Thanks for replying @cannikin.

I tested your proposal to just override the 100% width with auto, and it does **not** work in my app with tailwindcss/forms.

However,

[code]

does appear to work for the checkbox in apps both with and without tailwindcss/forms.

[2021-03-24 20:58] adriatic opened #2092 "Possible EventEmitter memory leak detected"
Running `yarn rw prisma migrate dev` [Tutorial/getting dynamic](https://learn.redwoodjs.com/docs/tutorial/getting-dynamic#migrations)
[code]

  System:
    OS: Windows 10 10.0.19041
  Binaries:
    Node: 14.16.0 - ~\AppData\Local\Temp\yarn--1616619444356-0.4627899714501982\node.CMD
    Yarn: 1.22.5 - ~\AppData\Local\Temp\yarn--1616619444356-0.4627899714501982\yarn.CMD
  Browsers:
    Chrome: 89.0.