[2020-05-27 21:54] Tobbe commented on #608
Yes, this was the first thing that came to my mind as well. I guess there are two ways to think about this. I have a colleague who is firmly in the "if you can't do it properly, don't do it at all"-camp. Myself I'm more in the "anything is better than nothing"-camp.

I've never used react-hook-form before (we have our own form implementation that we're using), and I've never even heard of yup befo

[2020-05-27 23:08] cannikin commented on #608
Maybe? I honestly have next to no knowledge of Typescript and how/where/when types are introduced in this chain. I think the idea of Yup is that it *would* properly enforce and coerce types, so `data` would be typed properly, but then where does the type definition for TS come from? Do we then need *yet another* type definition somewhere? AHHHHH

[2020-05-27 23:16] Tobbe commented on #608
I'm in bed now, I'll write up some code tomorrow to show how I think it
would/could look with TS support. But yes, another type definition would be
needed. Hopefully it can be generated from the Prisma schema though

On Thu, May 28, 2020, 01:08 Rob Cameron <notifications@github.com> wrote:

[2020-05-27 23:17] jtoar commented on #322
@thedavidprice @cannikin started this at https://github.com/redwoodjs/redwoodjs.com/pull/149. I'll keep it as a draft until we decide for sure. Since combining the sections also means combining some of the files together (in the case for the cli), I'll make content modifications a part of that PR as well? I'll try to keep the commits modular/squash them so that we have flexibility.

[2020-05-28 00:12] thedavidprice opened #613 "[Tests] Improve internal `paths.ts` test coverage and cases"
Redwoods' CLI commands are increasingly dependent on these helpers, and we are way behind on test coverage, which is resulting in errors and workarounds.

- increase coverage of functions, especially `getPaths()`
- increase coverage of all properties, e.g. `getPaths().api.base`
- test for multiple path cases
    - spaces
    - Windows, Linux, etc.
    - special characters (TBD)

[2020-05-28 00:36] thedavidprice opened #614 "[Docs] Add `Private` and `Redirect` to Router README.md"
The router documentation ([here](https://github.com/redwoodjs/redwood/blob/master/packages/router/README.md)) needs to include:
- [Redirect](https://github.com/redwoodjs/redwood/blob/f890802a47b5c7d5282cde350718f1beaa46ed44/packages/router/src/links.js#L52-L64)
- [Private](https://github.com/redwoodjs/redwood/blob/22bcbe1ca08daf69c64355ef3b9d49b42d990f08/packages/router/src/router.js#L21-L48)

[2020-05-28 05:53] Tobbe commented on #608
With this schema

[code]

Parts of the generated form would probably look like this

[code]

The same interface would also be used in NewPost

[code]

So, yeah, I don't think the coercion will be needed in any Redwood code (it'll be handled by react-hook-form).

But that's only for TS code. If you guys want to support generating both JS and TS projects, then something will still be needed for JS p

[2020-05-28 06:35] slavakurilyak opened #615 "Integrate with The Serverless Framework"
I would like to deploy Redwood on cloud providers such as Microsoft Azure, Google Cloud Platform, Apache OpenWhisk, Cloudflare Workers, or a Kubernetes-based solution like Kubeless.

Consider integrating Redwood with [The Serverless Framework](https://www.serverless.com/) to accomplish this.

[2020-05-28 08:42] guledali opened #617 "Ship with some validation on the api side"
This how validations work in rails

[code]

Now react form and graphql omit some these validations, I still however think on the api side it should ship with some validations.

[2020-05-28 10:59] navidmesbah commented on #604
I want to also ask for a **feature request**:

It would be great if we could **deploy** to traditional microservices environments, like **Heroku** dynos!

Thanks

[2020-05-28 11:21] #360 closed

[2020-05-28 11:22] RobertBroersma commented on #391
Fixed by https://github.com/redwoodjs/redwood/pull/521

[2020-05-28 11:22] #391 closed

[2020-05-28 16:22] vikash-eatgeek commented on #498
thanks, @thedavidprice @cannikin for getting back to me on this issue. I need to look back into this task/issue. I will get back to you guys probably over the weekend. :)

[2020-05-28 16:54] cannikin commented on #608
How does react-hook-form know to do the coercion? Does that happen automatically once you start using Typescript somehow? When we were looking into adding coercion their recommendation was to use Yup...

[2020-05-28 17:19] cannikin commented on #617
You're thinking more of the length/format validations? GraphQL will enforce the type and existence checks, of course, so any mutations would fail long before they get to the services layer.

I'm not a GraphQL expert but after a quick check it seems like length/format validation (outside of being the proper type) is expected to happen in the resolvers? Which for us means the services.

We can't do

[2020-05-28 17:32] jonniebigodes commented on #261
@thedavidprice i thought about what you said in your previous comment and i managed to create a small cli tooling that will help streamline the process of adding preact into redwood. It isn't published yet. But it's already in a repo. The reason i went with this cli for starters is to make the configuration more easy.

Going to expand a bit more on this.
- The webpack configuration is done the sam

[2020-05-28 18:34] Tobbe commented on #608
Looking at react-hook-form, it's clear that they don't do any coercion 😞  They say "it's a feature, not a bug" 😛 Look here for example: https://github.com/react-hook-form/react-hook-form/issues/1116

https://codesandbox.io/s/react-hook-form-typescript-d68q4
Fill in the form, and enter an age, 48 for example, and you'd think/hope it would log 58, but it actually logs 4810

So, back at square one? E

[2020-05-28 18:35] thedavidprice commented on #608
Late to the party but excited to see this conversation in progress! Thanks for jumping in @Tobbe 🚀

I'm also lacking proper TS skills, so a basic question/clarification:
- type casting in TS is called [type assertion](const PostForm = (props: Props) => {
  const formMethods = useForm<FormData>()); which is done at compile-time, not run-time
- in the example code above, this is happening here (spec

[2020-05-28 18:42] cannikin commented on #608
It seems very anti-Redwood to have the type definitions for your schema defined in *four different places*:

* schema.prisma
* GraphQL SDL
* Yup schema for form validation
* Typescript schema

We've got another issue that suggests adding a fifth—[validations in the service](https://github.com/redwoodjs/redwood/issues/617)!

This seems like the opposite of everything we're trying to do—make your de

[2020-05-28 18:43] Tobbe commented on #608
@thedavidprice You are absolutely right. The compiler says the type is `number` for my codesandbox example above, but runtime it's actually string.

[2020-05-28 18:43] thedavidprice commented on #608
@Tobbe our messages are in sync and just crossed paths! Sorry mine's basically redundant.

I do think this is of high value for Redwood. But not sure how high priority at this time. Regardless, two ideas for ways forward:
- roll our own casting/coercion --> we have the fields and types, is it possible (and manageable) to add coercion
- try out [Yup](https://github.com/jquense/yup). The example on

[2020-05-28 18:47] thedavidprice commented on #608
@cannikin 100% agree. Couple thoughts/mentions:
- this proposal from @mohsen1 (with comments from @aldonline) would handle some of the redundancy: https://github.com/redwoodjs/redwood/issues/418
- and, given the Yup API, I was imagining we could handle `const schema = yup.object().shape(...)` behind the scenes automatically. I guess I should have made that idea/curiosity explicit.

[2020-05-28 18:51] Tobbe commented on #608
@cannikin Everyone's first reaction to TS is "OMG, all the extra code, ain't nobody got time for that (╯°□°）╯︵ ┻━┻"

For personal projects I still go for JS, but for anything serious and/or with multiple people I actually think TS is worth it. The time lost to the extra typing (in both senses of the word 😉) is saved thanks to the extra editor help you get, and the fewer bugs introduced.

@thedavid

[2020-05-28 18:59] thedavidprice commented on #608
^^ This would be representative of my current state of TS "evolution" 😆But been encouraged as I've learned more about how simple employing it can be. And, also, having a hybrid-language project is 100% supported. So baby steps...

🤩If you're up for it, pick your poison! (Or suggest a different path.) But in that case, _please_ don't get too far out in front of @cannikin and I as you go. We'll need

[2020-05-28 19:07] cannikin commented on #608
HA I come from almost 15 years of Ruby and can probably count on one hand all the type errors I've ever seen because I passed an Integer instead of a String. I don't think anyone can convince me that the additional days/months I would have spent writing type definitions over that time would have been worth it! 😄

What does the editor support look like? I tend to ignore any little box that pops up

[2020-05-28 19:18] #614 closed

[2020-05-28 19:46] Tobbe commented on #608
Old dogs, new tricks, and all that... I was the biggest opponent of TS, and nothing anyone could have told me would have convinced me otherwise. Not until I actually tried it for a couple of projects did I actually start appreciating it. But I think we've slipped pretty far away from what this issue was supposed to be about :D

So, to try to bring it back to point, I could start by creating a PR f

[2020-05-28 19:52] cannikin commented on #608
Sounds good! @thedavidprice and I were talking separately and he reminded me of this issue #418 where folks are talking about code generation to make "GraphQL operations type-safe". The ultimate solution to this might be something similar if we want to keep the types in sync with the database schema, but without making the user keep them in sync themselves.

[2020-05-28 19:56] #610 closed

[2020-05-28 21:36] Terris commented on #568
@cannikin Hi there. It looks like we could pass a message to the AuthenticationError() we throw in the generated auth.js file.

So [this](https://github.com/redwoodjs/redwood/blob/1e93469d5c2687c4f9add17d532159e825c4bcb5/packages/cli/src/commands/generate/auth/templates/auth.js.template#L17) could become:
[code]

This will only get us a `rootMessage` while `messages` will still remain empty. I cou

[2020-05-28 23:51] cannikin commented on #568
Interesting...I thought maybe the AuthenticationError was somehow a separate error from the two types I'm currently catching here: https://github.com/redwoodjs/redwood/blob/master/packages/web/src/form/form.js#L96-L113 but sending a string when throwing the error will set `rootMessage` in that code? Nice! And yes, having a conditional to not render the `<ul>` would be great.

Your suggestion for i

[2020-05-29 01:23] Terris commented on #568
Great! Seems like there are a few actionable items here which I'm happy to initiate with PRs if you'd like.

- Conditionally render the messages list inside the formErrors component
- Add a message string in the generated auth.js file. Maybe something like, "You don't have permission to do that." Err, something...?
- The auth tutorial section on redwoodjs.com should probably be updated to reflect

[2020-05-29 06:37] peterp commented on #615
@slavakurilyak the last time I checked out the serverless framework, which might have been ~1.5 years ago they had very good integration for AWS Lambda functions, but not complete support for the other providers.

Do you know if that situation has changed?

From what I remember the configurations scripts did not fully support Google Cloud, it would be interesting for me to see what the differences

[2020-05-29 06:48] peterp commented on #604
@AryanJ-NYC This is a great idea and I think fairly straightforward to achieve. We've been modifying the `dev-server` to become a standalone `redwood-http-server` by splitting out the "watch and reload" functionality.

It does not support serving static content, and I wanted the focus to be purely about serving serverless functions, since I believe most people would actually serve the static conte

[2020-05-29 06:51] peterp commented on #584
@guledali I think the problem is that we ship with a tsconfig.json and jsconfig.json in create-redwood-app template:

Could you try deleting this file: https://github.com/redwoodjs/create-redwood-app/blob/master/api/jsconfig.json

[2020-05-29 06:53] slavakurilyak commented on #615
@peterp The Serverless Framework has [expanded its provider list](https://www.serverless.com/framework/docs/providers/).

[2020-05-29 06:55] peterp commented on #602
Could you try reinstalling your node_modules, but running
[code]

[2020-05-29 07:05] peterp opened #620 "Rename `api/prisma` to `api/db`"
It now looks like it's possible to specify the path to the prisma schema: https://github.com/prisma/prisma/issues/1412

TODO:
- [ ] Verify that the schema argument works.
- [ ] Add a configuration option in `redwood.toml` for setting the path to the prisma schema.
[code]
- [ ] Add functionality to `@redwoodjs/internal/src/config.ts` that allows us to grab the schemaPath.
- [ ] Add a function to `@

[2020-05-29 07:19] guledali commented on #584
Yeah you're right I just deleted tsconfig.json file locally and it worked,

[2020-05-29 07:19] guledali commented on #584
@peterp Can you change so that it only ships with one of them?

[2020-05-29 17:15] cannikin opened #623 "Generators: Add auth generator for Magic.Link"
Now that support for Magic.Link has been added to @redwoodjs/auth as of [0.8.0](https://github.com/redwoodjs/redwood/releases/tag/v0.8.0) we can add a generator that helps setup and configure this automatically.

Take a look at the [existing providers](https://github.com/redwoodjs/redwood/tree/master/packages/cli/src/commands/generate/auth/providers) and the README to see how to add Magic.Link sup

[2020-05-29 17:20] cannikin opened #624 "Generators: what happens when an auth generator is run more than once?"
Right now if an auth generator is run multiple times it will add more and more lines of config to `web/src/index.js` which isn't the greatest experience.

* Should the generator exit with an error if the first insert already exists? ~Or should it just skip it (with a logged note) and keep going? My first thought is to just skip the step if a quick `match()` says that the line that's going to be in

[2020-05-29 18:43] guledali commented on #584
https://github.com/redwoodjs/create-redwood-app/pull/60

[2020-05-29 19:45] thedavidprice opened #625 "[Docs] Add destroy command to CLI documentation"
@jtoar I don't believe this happened when the PR was merged. But the `yarn rw destroy help` info is good and can probably be copy+paste into documentation.

Anything else I might be missing here?

[2020-05-29 19:47] #568 closed

[2020-05-29 20:28] thedavidprice commented on #624
🔥💣💥🤯

maybe?

[2020-05-29 20:42] mojombo commented on #624
What would be the use case for running it more than once on purpose? It seems reasonable to me to just bail completely if `<AuthProvider>` is already set.

[2020-05-29 20:42] #584 closed

[2020-05-29 20:49] jtoar commented on #625
@thedavidprice I think you got it all--I'll add positionals for consistency since that's what's happening in #594 (I'll add it to there). It'd just be adding something like this to [`createYargsForComponentDestroy`](https://github.com/redwoodjs/redwood/blob/master/packages/cli/src/commands/destroy/helpers.js#L20):

[code]

[2020-05-29 21:58] dardub opened #626 "0.8.0 Auto imports not working for clean install"
I'm following along with the tutorial. I ran the generator `yarn redwood generate page home /` and HomePage was added to my Routes. However, it resulted in an error `ReferenceError: HomePage is not defined`.

If I explicitly add an import for HomePage, the error goes away.

Redwood version: 0.8.0.

[2020-05-29 22:06] cannikin commented on #626
We've got a couple other reports of this here: https://community.redwoodjs.com/t/unable-to-create-homepage-referenceerror-homepage-is-not-defined/637/9

[2020-05-29 22:52] thedavidprice commented on #626
## Short term solution:
Downgrade all `@redwoodjs` packages to `v0.7.0`.

Anyone who is starting a new Create Redwood project will currently be using v0.7.0 -- we rolled-back the upgrade.

[2020-05-30 02:44] goleary opened #627 "yarn creator doesn't delete folder on failure"
I'm trying to go through the redwood tutorial and I've had the first command (`yarn create redwood-app ./redwoodblog`) fail twice.  Both times the `redwoodblog` folder sticks around and I have to go delete it after (hopefully) fixing whatever caused the error.

I would assume that when the creator fails it would also delete all of the files/folder so I don't have to do this manually each time.

[2020-05-30 04:08] thedavidprice commented on #627
Hi @goleary thanks for putting this on our radar. The way you described your expected behavior would definitely be a better process.

^^ The "fail twice" definitely caught my eye -- anything more you can tell us about why the installation process was failing in the first place?

[2020-05-30 04:15] goleary commented on #627
The first failure was due to node version (10 instead of 12) altho with it I got a message that my yarn was out of date (even though I have 1.22). After switching to node 12 I got some kind of network error which on retry succeeded.

Thanks for your quick and thorough response to my issue 😁.

It won't be forgotten and I'll make sure to pass along any additional issues/ideas/suggestions I have.

[2020-05-30 08:57] RobertBroersma opened #629 "[Testing] Create generator output for Cell"
This is a working example test of a Cell called StoriesCell which renders a list of stories. It uses `MockedProvider` from `@apollo/react-testing` and the new `@redwoodjs/testing` package.

[code]

It's a _tad_ longer than what's currently generated, but I think the tests are pretty straightforward.

I haven't dealt with templates before. @cannikin Do you spot any difficulties right off the bat in

[2020-05-30 09:29] peterp commented on #626
This has been fixed in `0.8.1`, if you experience this issue please upgrade using `yarn rw upgrade`

[2020-05-30 11:46] Jaikant commented on #615
@slavakurilyak Related post https://github.com/redwoodjs/redwood/issues/431

[2020-05-30 11:51] davidrhoderick opened #630 "Following tutorial and getting "ReferenceError: AboutPage is not defined""
I am following the tutorial and have the required versions of `node` and `yarn` and get to [this page](https://redwoodjs.com/tutorial/a-second-page-and-a-link) but when I run `yarn redwood generate page about` I get "ReferenceError: AboutPage is not defined".  Any idea what I might be missing?

[2020-05-30 12:03] davidrhoderick commented on #630
OK so I tried to go back a step to when the tutorial asked to make the first commit to a repo [here](https://redwoodjs.com/tutorial/installation-starting-development).

[Here's my repo](https://bitbucket.org/artlyticalmedia/redwood-blog/src/master/) and when I clone it and run `yarn` I can bring up the initial state of the redwood app.  However there are errors after running `yarn` and then `yarn

[2020-05-30 12:11] davidrhoderick commented on #630
Looks like the .env file isn't included by default by the .gitignore file, so restoring a project via the repo won't work without recreating that file.  The thing is, in learning this, I don't know what should be in the .env so I'll have to rebuild the project to figure it out.

[2020-05-30 12:15] davidrhoderick commented on #630
Even after restoring .env to the following I get the same error:

[code]
I also tried to run `yarn prisma generate` and I get the following:

[code]

[2020-05-30 12:55] rockymeza commented on #630
I am also getting this, it appears that there is a bug with redwood 0.8.

Links:
- https://github.com/redwoodjs/redwood/releases/tag/v0.8.0
- https://community.redwoodjs.com/t/unable-to-create-homepage-referenceerror-homepage-is-not-defined/637

[2020-05-30 12:57] rockymeza commented on #626
this is still happening on `0.8.1` for me

[2020-05-30 15:01] haroldhues commented on #630
Thanks for the links, I was able to workaround the issue by downgrading from 0.8.1 to 0.7.0. Here is a commit that shows all the files that need to be tweaked: https://github.com/redwoodjs/create-redwood-app/commit/852dce2648a31428ead295f1416969f70bc7b029

[2020-05-30 15:21] gizmoGremlin commented on #623
Hi, I'd like to work on this if no else has started. I'm new here, I've just finished the tutoral and browsed the framework code. I'd also like to say, I really like the vision of this project. Cheers

[2020-05-30 15:25] davidrhoderick commented on #630
Excuse my ignorance but how does one downgrade to 0.7.0?  I've tried `yarn create redwood-app@0.7.0` and I get the following errors:

[code]

[2020-05-30 15:31] davidrhoderick commented on #630
I tried those workarounds and upgraded to 0.8.1 but it still didn't work.

How does someone "downgrade" to 0.7.0?  I tried `yarn create redwood-app@0.7.0 ./redwoodblog` but I get the following errors:

[code]
I also tried adding create-redwood-app@0.7.0 globally by using `yarn add --global create-redwood-app@0.7.0` and it still doesn't work.

[2020-05-30 15:33] thedavidprice commented on #630
Hi All -- thanks again for reporting this and sorry for the trouble. I can confirm the core team has replicated the error and we're (still) working on it!

### Current Fix: downgrade to v0.7.0
We have also downgraded the installation to v0.7.0. So if you start a new project via `yarn create ...` you should be fine.

[2020-05-30 15:37] thedavidprice commented on #630
## `ErrorBoundary` output
[code]

[2020-05-30 15:38] thedavidprice commented on #626
Thanks @rockymeza We've confirmed on our end and are continuing to work on it.

Current working issue: https://github.com/redwoodjs/redwood/issues/630

[2020-05-30 15:44] davidrhoderick commented on #630
OK thanks @thedavidprice recreating the app works now.

[2020-05-30 16:05] pickleat commented on #630
Hey @thedavidprice just checking here. You said...

But the install comes through as v0.81.0. Just wanting to make sure i'm not missing something.
![image](https://user-images.githubusercontent.com/39109475/83333205-048d7f00-a265-11ea-8e58-86ecf4054cd0.png)

It works now, so I'm assumming v0.81.0 === v0.7.0. Just don't want anyone else to be confused.

[2020-05-30 16:07] thedavidprice commented on #623
Great! I'll assign this one to you. Definitely look to @cannikin as point for help along the way with the generators. For any Auth specific instructions, @peterp created the original package and @Burnsy did the provider work on Magic.Link.

Oh, and I'm the annoying guy who will show up at the very end to ask if the PR includes updated documentation 😉 (Everyone has their role, right?)

Looking forw

[2020-05-30 16:10] thedavidprice commented on #630
@pickleat this is a **GREAT** question. Correct, the _installation script_ is at v0.8.1.

But, could you open the code and confirm the following packages include the four @redwoodjs/* at v0.7.0:
- `package.json` (dir root)
- `web/package.json`
- `api/package.json`

?

[2020-05-30 16:13] thedavidprice commented on #627
You bet! And, most of all, thanks for putting up with some messiness out of the gate but still giving Redwood a go 🚀

And I look forward to the feedback 😀

[2020-05-30 16:13] pickleat commented on #630
Confirmed. All 3 show ` "@redwoodjs/*": "^0.7.0"`
* web, api, router...
Thanks!

[2020-05-30 16:35] gizmoGremlin commented on #623
Ok great!, Thanks for the detailed reply @thedavidprice

[2020-05-30 18:34] Burnsy commented on #623
I don't mind giving a hand if needed! 👍

[2020-05-30 23:50] dardub opened #631 "Clarification on side quest tutorial paragraph"
On the following page: https://redwoodjs.com/tutorial/side-quest-how-redwood-works-with-data

Do you guys think it's clear in this paragraph whether it's referring to Apollo Server or Apollo Client?

P.S. I'm a little fuzzy on what should be an issue vs. posting to Discourse. Let me know if I should move it there.

Thanks!

[2020-05-31 01:54] dardub commented on #631
Moving to redwoodjs.com

[2020-05-31 01:54] #631 closed

[2020-05-31 14:59] #626 closed

[2020-05-31 15:00] peterp commented on #630
Just a heads up that I'll be testing this a bit before releasing 0.8.2

[2020-05-31 15:40] RobertBroersma commented on #629
I'm wondering if we should add `@apollo/react-testing` as a peer dependency, and for which package? `@redwoodjs/testing`?

It's _technically_ only needed if you have a backend you want to mock, but it _needs_ to be available for generated tests like the one above.

[2020-05-31 19:25] santoshgistto commented on #10
@cannikin  is possible to link firebase storage ?

[2020-05-31 19:42] peterp commented on #630
`v0.8.2` is released and fixes this problem, please upgrade by running `yarn rw upgrade`

[2020-05-31 19:42] #630 closed

[2020-05-31 19:58] #563 closed

[2020-05-31 20:26] thedavidprice opened #636 "Firebase Auth: Next Steps"
follow up from #593

cc @peterp

@noire-munich huge thanks again for diving in with this one! Well done 🚀

Some remaining items to cover:

**Documentation**
I didn't see an update to the documentation for this in the PR, correct? Without docs, it's almost like things don't exist 'cause people can't find them. So please do prioritize if it hasn't happened. https://github.com/redwoodjs/redwood/tree/

[2020-05-31 20:41] peterp commented on #636
Hey @thedavidprice,

I'm busy with the additions to authentication from our core-team discussion last week. There's some refactoring work that I want to do related to that which includes the Firebase PR #593.

Included in my restructuring is the docs.

[2020-05-31 23:44] rockymeza commented on #630
@peterp I upgraded and can confirm that it is fixed

[2020-06-01 08:28] noire-munich commented on #636
Hello guys and thanks again for your help on this :)

### Documentation
@thedavidprice my shameful bad x), didn't get where I could put the documentation... it was right beneath my nose.
I'd be happy to add it, @peterp , once the restructuring you mention is available. Is it fine by you?

### Generator
I'd be happy to help here as well providing I find enough time for it this week :) ( I'm trying

[2020-06-01 13:07] wispyco opened #638 "GraphQL Error in tutorial after running yarn rw g scaffold post"
I have followed the tutorial up to part 2 creating a post editor. The last command I ran was `yarn rw g scaffold post` which scaffolds out the following.

[code]
In my console I have the following errors when I visit the /posts page

[code]
&
[code]

This is what the `posts.js` file looks like
[code]

This is what my schema.prisma file looks like
[code]

Not quite sure what is wrong at this point,

[2020-06-01 15:49] gizmoGremlin commented on #623
@cannikin  or @Burnsy  I'm having trouble generating the correct inport statement for magic.link. It needs to create {} around the inport i.e. .. import { Magic } from 'magic-sdk'... right now it does not, it generates  import Magic from 'magic-sdk.
I see that for the auth0 brackets were used in the inport statement but not in the case of netlify-identity.
Any quick tips, maybe i'm missing somethi

[2020-06-01 15:57] cannikin commented on #623
Did you try doing:

[code]

The code that writes out the import does:

[code]

So it should include the {} as long as they're inside that first string.

[2020-06-01 16:07] gizmoGremlin commented on #623
@cannikin no I didn't, because the auth0 provider, which generates brackets, isn't Implemented that way . I'm wondering how it was accomplished in that case.  Anyway,I will try your suggestion thanks!
Secondly, should I add any generated code to the back-end. e.g. https://redwoodjs.com/docs/authentication#magic-links
or would that be a seperate pull request

[2020-06-01 16:46] cannikin commented on #629
Nope, should be good to go! We've got a [bunch of variables](https://github.com/redwoodjs/redwood/blob/master/packages/cli/src/lib/index.js#L87-L116) that have the various cases for the name of the model (post, posts, Post, Posts...) so we should be able to substitute those in without a problem!

[2020-06-01 16:49] cannikin commented on #10
Hi @santoshgistto I'm not familiar with firebase storage, could you tell me more about it? If they have an API then you should be able to pull it in and display in a Redwood app!

[2020-06-01 16:49] Terris commented on #638
@wispyco Did you run the `yarn rw db save` and `yarn rw db up` commands? See [Migrations](https://redwoodjs.com/tutorial/getting-dynamic#migrations)

[2020-06-01 17:14] cannikin commented on #623
That might be a bug—if auth0 requires { } around the import then that generator should definitely have them!

When you refer to the back-end are you talking about the code in `api/src/lib/auth.js`? `getCurrentUser` is meant to be specific to your own application's idea of what a user is, so I we can't pre-fill that with anything other than the default—just returning what the auth provider provides

[2020-06-01 17:41] gizmoGremlin commented on #623
@cannikin  Ok thanks, that makes sense.
@thedavidprice Where/How do I update the docs. Is it just changing the readme files in the monorepo?

[2020-06-01 17:42] thedavidprice commented on #638
Hi @wispyco thanks for checking in here with your question.

And I definitely want to 👍what @Terris wrote above. When I see that error, it's often because I didn't _first_ make a new migration of my DB with the added table (`... db save`) and then apply/migrate that change to my local development DB (`... db up`). Best practice is to do that before you generate the scaffold CRUD files.

Do make su

[2020-06-01 17:58] cannikin opened #639 "Add tests for Auth generator"
We've got great test coverage for our other generators, we need some for auth! The testing pattern should be pretty similar to the other generators. Check out the Page generator since it looks not only at files generated completely from scratch but existing files (like the Router) where the contents are modified.

[2020-06-01 18:06] cannikin commented on #623
Opened a PR to fix that auth0 import! https://github.com/redwoodjs/redwood/pull/640

[2020-06-01 18:06] thedavidprice commented on #623
There are a few things in motion with docs as we are in a bit of a re-org. So most of the docs are or will be in [this /docs folder](https://github.com/redwoodjs/redwoodjs.com/tree/master/docs) on the .com repo.

But you are correct --> currently the Auth doc is the [README in the auth package](https://github.com/redwoodjs/redwood/blob/master/packages/auth/README.md). For the generator, it looks l

[2020-06-01 18:18] thedavidprice commented on #636
@noire-munich This is great + helpful. And saw that you added it to the PR = perfect.

If you want to implement the Auth generator for this as well (which would be 🚀). Even if you can't get to it for a bit, you could initiate by creating a new issue with a simple outline of steps/plan, and saying that you're going to work on it.

Thanks again.

[2020-06-01 18:32] thedavidprice commented on #629
If templates are going to need it, I like the approach to integrate as much as possible. But help me understand implications; e.g. if you did this, would it change the import from:
[code]
to
[code]

As long as it's well documented about what's happening, I think this could work well.

[2020-06-01 19:04] santoshgistto commented on #10
@cannikin  yes they are having apis

Firebase provides admin sdk
**Capabilities:**   may  be suitable fo redwood
1. Authentication : https://firebase.google.com/docs/reference/admin/node/admin.auth
2. firestore  : https://firebase.google.com/docs/reference/admin/node/admin.firestore
3. storage  https://firebase.google.com/docs/storage/admin/start
4. firebase extensions  : This will helpful when im

[2020-06-01 20:25] cannikin commented on #10
Have you seen the [File Uploads](https://redwoodjs.com/cookbook/file-uploads) cookbook recipe? That might give you a starting point to try integrating Firebase storage!

[2020-06-01 23:40] thedavidprice commented on #265
Foundationally fixed by #521

We'll need to re-audit and adjust templates, which is starting to happen for Cells here #629

[2020-06-01 23:40] #265 closed

[2020-06-02 06:00] RobertBroersma commented on #629
Sounds good to me!

[2020-06-02 07:15] Tobbe commented on #629
Just nitpicking here, but when choosing a test name it's generally good practice to try to make it read like a proper sentence.

So, change from this
[code]

To something like this
[code]

Some people like to start all test names with the same word, to more easily get in the flow of writing proper sentences. "It should ..."
[code]

[2020-06-02 07:18] peterp opened #641 "Use directory named babel plugin"
A bunch of our tooling relies on the directory named webpack plugin, right now the way that ESLint is configured to resolve modules relies on babel, and unfortunately we can't resolve directory-named modules.

- [ ] Fork it from chatterbug
- [ ] Convert it to typescript
- [ ] Add tests
- [ ] Add to babel configuration
- [ ] Remove directory named from webpack

References #634

[2020-06-02 07:34] noire-munich opened #642 "Firebase: Generator"
Follow what's done for Netlify and auth0 to provide Firebase's generator.

[2020-06-02 07:50] RobertBroersma commented on #629
@Tobbe Good point!

I usually use the `test` alias, Idk why I didn't here :sweat_smile: . Making it look like this:
[code]

I like this approach because then, when the test succeeds, the statement is true, and when it fails, the statement is false.

If you write `it should do X` and it fails, the statement is still true... it should do X, it just didn't!

Does that make sense?

I would agree that

[2020-06-02 08:52] noire-munich commented on #642
@thedavidprice @peterp
PR is ready for review: https://github.com/redwoodjs/redwood/pull/643#issue-426443234

[2020-06-02 09:10] Tobbe commented on #629
I just ran some of our tests, and this is the output

![image](https://user-images.githubusercontent.com/30793/83502019-47e42980-a4c1-11ea-8c83-3f762d0b7c7f.png)

I like the "it should do X" format because it's kind of like documentation for the project. Like "Ok, there's a `formatNumber` function, it handles both strings and numbers and uses space as a thousands separator" etc

[2020-06-02 13:02] gizmoGremlin commented on #623
@thedavidprice the second link you left is broken. Can you give a path, I can't seem to find it

[2020-06-02 15:11] wispyco commented on #638
Yes working now. I think I missed one of the commands, they were both in my history when I cycled through, but maybe it was the order of the `scaffold` before the `up` command. Thanks both of you. Looking forward to seeing what I can do with redwood and seeing how it evolves.

[2020-06-02 15:11] #638 closed

[2020-06-02 19:32] cannikin commented on #608
@Tobbe OKAY we discussed in our weekly meeting and we have a plan!

Rather than go full Yup we think we came up with a lower touch version that doesn't involve any special work on the part of the user, other than making sure they use the correct input Field type—we'll do the coercion for them.

This involves three changes:

1. In the scaffold generator we create a `<NumberField>` for any fields wh

[2020-06-02 21:18] thedavidprice commented on #623
Sorry about that. Reading them all here:
- **Docs on Redwoodjs.com:** https://github.com/redwoodjs/redwoodjs.com/tree/master/docs
- **Auth doc (package README)**: https://github.com/redwoodjs/redwood/blob/master/packages/auth/README.md
- **CLI doc, Generate Auth section:** https://github.com/redwoodjs/redwoodjs.com/blob/master/docs/cliCommands.md#generate-auth

[2020-06-02 21:31] Tobbe commented on #608
Sounds like a great plan. I'm very interested in working on it 🙂
Would it be alright if I focused on 1. and 2. first, and then go for 3. in a separate PR? I haven't looked at the validation code yet, and would feel more confident doing the other two changes first.

[2020-06-02 21:32] gizmoGremlin commented on #623
@thedavidprice I'm unclear as how to edit the docs in the redwood.js repo within this pull request.
Isn't the redwoodjs.com a seperate repository from the redwood repository? Can I update redwood.js/blob/master/docs in a seperate pull request?
I'm a little new to this
Thanks in advance

[2020-06-02 21:39] thedavidprice commented on #623
Ah, great question! And you may _feel_ new, but trust me, we're all relatively new and figuring things out as we go. Together. So welcome to the party 🎉

Yes, you'll need to handle that separately on the redwoodjs.com repo. That doc was created by @jtoar who I'm sure would be happy to help if/when needed.

Overall we're just trying to get better at including doc creation/update with PRs. But somet

[2020-06-02 21:49] gizmoGremlin commented on #623
@thedavidprice  Ok, Thanks again. I'll do that.

[2020-06-02 23:09] cannikin commented on #608
Absolutely, thanks again for taking this on!

This PR is nice because it adds a lookup for mapping a field type to the input type that's output in the generator, so we can leverage that for Int: https://github.com/redwoodjs/redwood/pull/495

Then [this PR](https://github.com/redwoodjs/redwood/pull/495) creates a single generic `<InputField>` that all the other fields are built off of. Now that I t

[2020-06-02 23:23] #623 closed

[2020-06-03 13:06] Burnsy opened #647 "[Issue] SDL Generators Not Mapping relationship"
Good Afternoon,

After a debugging session with @RobertBroersma (thank you!)
We have found out that when using the command `rw g XXX --crud`

if you have relationships it is possible for them not to be mapped properly resulting in the field returning as null.

example sdl
[code]

Function that returns null
[code]

Function Fixed that returns data from relationship
[code]

Notice that Inside the Us

[2020-06-03 13:33] Tobbe opened #648 "CLI tests not passing"
First thing first:

[code]

These are the commands I run, with truncated test output

[code]

Is this a Windows issue?

[2020-06-03 13:45] Tobbe commented on #648
Duplicate of https://github.com/redwoodjs/redwood/issues/533

[2020-06-03 13:45] #648 closed

[2020-06-03 15:32] thedavidprice commented on #523
@peterp @kimadeline
Question about specific generator behavior [from here](https://github.com/redwoodjs/redwood/pull/632#issue-425561978):

^^ original idea was to have the generator refuse if _either_ language exists. But I proposed that without any discussion. I have no strong opinion either way other than to defer to what we think user will expect and either warn or refuse if generator behavior

[2020-06-03 15:48] thedavidprice commented on #648
Ah, so you've found our mess... `/hangs head in shame`

😉

[2020-06-03 15:53] Tobbe commented on #533
Just leaving some notes here after taking a look at this issue. Maybe it will help someone else getting up to speed on this issue faster. And/or spark some ideas with someone 🙂

1. To get the tests running at all, go to the root of this repo and run `yarn install`. You can ignore missing peer deps.
2. You can now run `yarn test` and all tests, except the CLI tests, should pass. You will be absolut

[2020-06-03 17:16] Tobbe commented on #533
Fixing the key lookup was as simple as wrapping the key in `path.normalize`.

[code]

This works because Windows actually understands both \ and / path separators, but prefers \, so will convert the / in the string to \
On Posix I hope `path.normalize` will not modify the string at all

Fixing that got me one step further. Next error was this:

[code]

And this is were things get ugly 🙁

My "fix"

[2020-06-03 17:28] thedavidprice commented on #533
@Tobbe hack or no hack, this is fantastic. And to your question "could this break things currently working?" --> I created a specific branch for this very purpose.

Could you open a PR against branch `dsp-fix-Windows-CI-runner-support`? Let's see what happens!

[2020-06-03 21:04] davidrhoderick opened #651 "Unable to clone repo and work on redwood app"
So I'm following the tutorial and was able to upgrade to Redwood 0.8.2 after having issues with 0.8.0.  However, I wanted to update the same project based on the tutorial on my other computer.  When I clone the repository and run `yarn && yarn rw dev`, I get the following errors:

[code]

Which looks to me like there are mostly issues with the database.  So I've tried `yarn rw db save` and I get t

[2020-06-03 21:15] davidrhoderick commented on #651
It's very odd because if I copy and paste the .env file, which contains nothing but comments when creating a new redwood app, I still get the errors.  If I try to define some .env variables, such as `DATABASE_URL=file:./dev.db` and `BINARY_TARGET=rhel-openssl-1.1.x`, I get the following errors on the home page:

```Error: GraphQL error: Invalid `prisma.post.findMany()` invocation in /home/davidrho

[2020-06-03 21:16] cannikin commented on #651
Best practice is to *not* check sensitive environment variables into your repo where they could be seen by prying eyes, so we provide a `.env.defaults` which contains the minimum you need to get running locally (and doesn't contain anything sensitive).  If you don't have a `.env` file (or it contains only comments, like the one provided with a new Redwood app) it should fall back to using `.env.de

[2020-06-03 21:18] cannikin commented on #651
Have you tried `yarn rw db generate`? That should automatically happen when starting `yarn rw dev` but just in case.

What is your value for `BINARY_TARGET` in `.env.defaults`? The default value should be `native` which means that prisma should look up what client libs it needs based on the native operating system you're running on. Are you developing on an Ubuntu-based system? This message makes

[2020-06-03 21:18] thedavidprice commented on #651
Hi @davidrhoderick Thanks for checking in about this.

The local Prisma db is in `.gitignore` -- that's the `dev.db` file. But your Prisma migration files are being committed (which is important). When you clone a repo, you have to _create_ and _apply migration_ on a new local db. (Note: this is not the "save" step, which is what _creates_ a migration -- the next step is to apply the migration.

T

[2020-06-03 21:24] davidrhoderick commented on #651
@cannikin thanks for the explanation, it certainly makes sense to me why you'd want to avoid the .env files synchronizing in the repo.  However, I feel as if there should be a way I can clone a repo of a redwood app and get it up and running some way, even if the database isn't synchronized and has to be recreated.

Also, when I run `yarn rw db generate`, I get the following:

[code]
Also, my repo

[2020-06-03 21:24] davidrhoderick commented on #651
@thedavidprice thanks for the the steps, that's honestly what I thought would work (although the first time, I tried `yarn rw db save` before `yarn rw db up`) and when I get to `yarn rw db up`, it gives me the following:

[code]

Anything else I can try?

[2020-06-03 21:26] cannikin commented on #651
Hmmm yeah in the root of your repo should be a file `.env.defaults` that contains:

[code]

[2020-06-03 21:27] cannikin commented on #651
That should fix the errors about missing environment variables. If you continue to get the error `Query engine binary for current platform "debian-openssl-1.1.x" could not be found.` that's a bigger issue. You may be the first developer we've found that's using a Debian-based dev environment! This would actually be an issue with Prisma, not us. We can point you in the right direction for opening a

[2020-06-03 21:28] thedavidprice commented on #651
^^ definitely check into Rob's comments as well.

^^ Ah, that could be an issue with the migration files themselves. You said you _upgraded_ at one time? I just assumed it was from v0.8 to v0.8.2. BUT there have been several upgrades where new versions of Prisma were incompatible with previous.

You can see if this is your case by deleting the /migrations directory and starting again, but this tim

[2020-06-03 21:31] thedavidprice commented on #651
sorry for tag-team here with @cannikin (lots of incoming, but hopefully helpful).

I'm checking for Prisma compatibility with that version of System now.

Rob, I'll hand off and leave things be 😉

[2020-06-03 21:32] davidrhoderick commented on #651
@cannikin You are the man!  That's the ticket!

I actually created the .env.defaults file as per your suggestion and then decided to run yet again `git clean -fxd`, which _removed_ that file, then I ran `yarn`, `yarn rw db up`, and `yarn rw dev`.  So is it a good idea to unignore the .env.defaults in the repo at least so it can be rebuilt without too much of this hassle?  I leave that up to you.

[2020-06-03 21:35] cannikin commented on #651
Excellent!

We're not ignoring `.env.defaults` in our `.gitignore` so I'm not sure why that file wouldn't have been there for you...we only ignore `.env` (no wildcards).

I've got a bunch of sample apps I've built for various testings in Redwood and they all have `.env.defaults` checked in: https://github.com/cannikin/grover so I'm not sure why it wasn't checked in for you...

[2020-06-03 21:39] davidrhoderick commented on #651
That's weird.  So I tried `git clean -xfd` in my just created redwood app, which I was using to pull .env contents and made no other changes, and it removed `.env.defaults`.  Do you manually check in `.env.defaults`?

Does the `.gitignore` need to be as follows?

[code]

[2020-06-03 21:58] cannikin commented on #651
You shouldn't have to manually check in `.env.defaults`, no. We've had plenty of people go through the tutorial and so far you're the only person that's reported this happening, so strange!

If `.gitignore` had `.env*` then it would ignore both files, but `.env` should *only* ignore `.env` exactly and not `.env.defaults`.

I created a new app from scratch to make sure I'm not losing my marbles, he

[2020-06-03 22:02] Tobbe commented on #533
Will do, but I spent way over my allotted play hours on this today already 😛 Probably spent tomorrow's hours as well 😄

[2020-06-03 22:09] davidrhoderick commented on #651
Huh, you definitely have your marbles and when I tried the same thing, it did indeed work.

My only thought is if `.env.defaults` was added between 0.7.0 and 0.8.2 but even my `.gitignore` didn't explicitly ignore `.env.defaults` (it only ignored `.env`).

So I'll close this because it's working now but it is odd and hopefully just a one-off.  Thanks for all your help!

[2020-06-03 22:09] #651 closed

[2020-06-03 22:15] thedavidprice commented on #533
Well, I can't say enough how valuable this help is. Huge thank you!

I'll keep fanning the flame here, but also loop me in for implementation help+needs as you go.

[2020-06-03 22:28] davidrhoderick opened #652 "Adding node-sass results in missing sass-loader"
Hello again, really great job on this project but I'm just seeing what it can do and running into these issues.  Hopefully this is a good place to put this even if it is a bit of an enhancement.

I'm trying to include .scss files and I first presumed it could be done simply by installing `node-sass` just like a `create-react-app` project works.  I use the code `yarn workspace web add node-sass --d

[2020-06-03 23:09] thedavidprice commented on #652
Hi (again) @davidrhoderick 😉

Currently Redwood doesn't handle SASS compiling. But it's possible via Webpack. If you're looking for some other options/examples in general, there are several related topics on our forums:
- https://community.redwoodjs.com/t/recommendations-for-integrating-a-css-library/305/
- https://community.redwoodjs.com/t/how-to-use-linaria-css-in-js-with-redwoodjs/612/
- https:

[2020-06-04 00:08] cannikin opened #653 "Investigate integrating or replacing generators with Plop"
https://plopjs.com/

* Could this be a viable alternative to maintaining our own generator code?
* Can we alias plop inside of Redwood so we can still use `yarn rw g`?
* Can we generate both TS and JS files?
* Regarding Failures: If we need to generate multiple files and generation fails somewhere in the middle of writing those files to disk, can the already created files be undone?

/cc @kimadeli

[2020-06-04 01:25] kimadeline commented on #653
😆

Did some sleuthing 🕵️‍♀️ First result that came up was [Just](https://github.com/microsoft/just) for build tasks (still haven't figured out how to word my search queries to find out how it stands against Gulp), followed by the React components for [Fluent UI](https://github.com/microsoft/fluentui/tree/master/packages/fluentui). It's the design system for Microsoft 365/Office 365, and although i

[2020-06-04 01:37] cannikin commented on #653
Thank you for the investigation! 🔍

After suffering through our existing generator code (don't know who built that originally...<cough, cough, nervous glance>) do you have any opinion about whether we should maybe swap out to something like plop (and contributing back any enhancements we might come up with)?

[2020-06-04 04:58] kimadeline commented on #523
I have no strong opinion either, mostly from lack of exposure to hybrid projects 🙈  I agree with your other points though, going with what users would expect and unifying generator behaviour.

Now, what do you think users would expect? 🤔

[2020-06-04 05:11] kimadeline commented on #653
Not a Microsoft tool, but it's used by Gatsby too!

So far it looks like a "maybe yes" answer to your first bullet point, so I think it's worth investigating, at least to see if it becomes a definitive yes or a hell no 🙅‍♀️ and address your 2 other questions at the same time 😃

[2020-06-04 06:04] peterp commented on #652
@davidrhoderick I thought we actually _do_ support scss out of the box; we have it configured over here:
https://github.com/redwoodjs/redwood/blob/9ea29e728ed58134aad67d9518102a4b96143047/packages/core/config/webpack.common.js#L40-L47

If it's not working it definitely should be, and maybe this is a bug.

[2020-06-04 06:13] peterp commented on #596
@thedavidprice I think this was fixed?

[2020-06-04 06:32] Tobbe commented on #653
Exciting!

Looks like it could be!

If by no other way one can always use `child_process.spawn` or `.exec`
There is also this https://github.com/plopjs/node-plop/

From their own web page:
"Plop can generate any type of code! Use plop to generate HTML, CSS, JavaScript, CSharp, Objective C, Selenium tests, microservices... anything!"

So I guess so ;)

I think the first thing to figure out would be

[2020-06-04 07:01] peterp commented on #653
We would want the source for either JS or TS be the same template since we don't want to manage multiple templates. It would be great if that's supported, but if it isn't we could still generate `.ts` files and then use babel and prettier to convert them to `.js` files.

[2020-06-04 08:41] Tobbe commented on #653
I'm pretty sure there is no magic way to have it generate both kinds of files.

It would probably have to look something like this (contrived example, because, aren't they always? 😆)

[code]

With `ts === true` we'd get this

[code]

And for JS (`ts === false`) we'd get this

[code]

[2020-06-04 10:28] peterp commented on #653
@tobbe I think the approach that we're currently using, which is to generate the typescript template and then to convert it to a javascript file with babel + prettier works fairly effectively without having to use any branching logic.

[2020-06-04 15:52] RobertBroersma commented on #502
I'm looking into the API side of testing. I think the best would be to have a database or a mocked database somehow, and let tests just run the services and assert on said database (through the prisma client perhaps?)

As I mentioned in [this topic](https://community.redwoodjs.com/t/testing-in-redwood/482) I think an in-memory SQLite database would be very easy for this.

However as @olance also m

[2020-06-04 18:28] #596 closed

[2020-06-04 19:51] olance commented on #502
If by this you mean: we leave the DB choice to the user and don't try to interfere because it's Prisma's responsibility, then I agree.
If however you mean: we want to use SQLite and we shouldn't have to care because Prisma will adapt to whatever DB is being used, then I don't 😅

And actually, I don't think it's a matter of agreeing or not: there's a wide range of features that exist on Postgres th

[2020-06-04 21:28] Tobbe commented on #533
Initial PR for just a few tests https://github.com/redwoodjs/redwood/pull/656

[2020-06-04 22:18] AWey95 opened #657 "Route.js forces to me explicitly import page components."
I just started the tutorials a few minutes ago.

I followed the steps exactly as instructed.

`yarn create redwood-app ./redwoodblog`

[code]

I got a reference error because NotFoundPage wasn't being imported into the Routes.js file. Same with HomePage. I'm not sure if you've changed the behavior of the framework or if the docs are just misleading because It also says the following.

[2020-06-04 22:35] cannikin commented on #657
Hello! Are you running the latest version of Redwood, 0.8.2? We had a bug in 0.8.0 that messed up the imports. You can run `yarn redwood upgrade` to get the latest version (assuming you're on at least 0.7.0 when we added that `upgrade` command).

[2020-06-04 23:30] AWey95 commented on #657
Yes I am on version 0.8.2

[2020-06-04 23:35] cannikin commented on #657
Can you run `yarn rw info` and paste the output in here? Thanks!

[2020-06-04 23:41] AWey95 commented on #657
[code]

[2020-06-04 23:59] cannikin commented on #657
Hmmm we're still finding hiccups in Windows from time to time. Let me see if I can find a Windows person to help with this, I'll be back! It might not be until tomorrow, though.

If you have any Linux VMs running you could try those first few steps of the tutorial in one of those and see if you can move past that point. Most of us are on Macs and we haven't seen the issue you're describing.

[2020-06-05 00:16] AWey95 commented on #657
I have a macbook. I'll try it on that and report back.

[2020-06-05 00:20] AWey95 commented on #657
It works perfectly fine on my macbook. No need to explicitly import anything.

[2020-06-05 08:14] RobertBroersma commented on #502
Thanks for the explanation. I'm not so hot on databases and their features, which is why I like to use tools like Prisma. 😄

I've never used rails, but I the idea of just configuring another DB for tests LGTM. This is kind of what I've been doing in my experiments using Cypress with Prisma; just exporting a different `DATABASE_URL` for Prisma to consume. I think it could be (almost) as simple as t

[2020-06-05 10:15] olance commented on #502
Hmmm... I guess if I'm building an app with geolocation features, I would choose to use Postgres with its postgis extension to handle that. Then I guess I wouldn't be able to have tests running for those queries that need postgis, if I can't provide my own database instance to the tests process.
Also if I'm using stored procedures or certain built-in functions from postgres/MySQL, those wouldn't b

[2020-06-05 13:17] RobertBroersma commented on #502
I think this is good. Kind of what I have in my head! Default simple SQLite (possibly in-memory if that gets support) and override with own DB when needed.

Not exactly (I think), but you could get the same effect using environment variables in your `schema.prisma`. Perhaps we could discuss with the Prisma team (they probably have some ideas on testing as well?), but for now I think a nice solutio

[2020-06-05 15:33] davidrhoderick commented on #652
@thedavidprice thanks for pointing me in that direction.  I already tried implementing the [webpack config here](https://gist.github.com/bjackson/0216081965babd482448c42961798b2e) that you provided but I still get the `sass-loader` missing issue.

@peterp are you suggesting that if I just include `.scss` files it should work, without creating my own webpack config file?  I just uninstalled `node-s

[2020-06-05 16:14] peterp commented on #652
That should be the idea - I'll check this out

[2020-06-05 17:33] sfat-llc commented on #602
A lot has changed since initial comment.
1) Reinstalled W10.
2) Updated Windows 10 to build 2004.
3) Moved from WSL1 to WSL2.
3) Installed new Pengwin distro upon WSL2.

Long story short - all works fine now.

[2020-06-05 17:33] #602 closed

[2020-06-05 19:43] peterp commented on #652
@davidrhoderick Ok, so in order to make this work you need to install `sass-loader` and `sass` as a devDep in the `web` package:

[code]

The configuration is already setup, so that's all you need.

[2020-06-05 19:43] peterp commented on #652
- [ ] Add documentation that details sass support
- [ ] Add support for sass modules

[2020-06-05 21:32] olance commented on #502
👍

[2020-06-05 21:55] thedavidprice commented on #574
@Tobbe seems like your work in #656 specific to `packages/cli/src/commands/generate/helpers.js` might be the fix for this... maybe?

[2020-06-05 22:20] thedavidprice opened #658 "Upgrade Command: Add link to Release Notes via"
Using `terminal-link' package and Yargs `.epilogue()`, add a message with a link to https://github.com/redwoodjs/redwood/releases

Should emphasize breaking changes occur frequently 'cause < v1.

[2020-06-05 22:20] #533 closed

[2020-06-05 22:33] jtoar commented on #658
Added this to #594. Does the output look ok/what you wanted?

![rw-upgrade](https://user-images.githubusercontent.com/32992335/83927485-e979ae00-a741-11ea-8696-80a47bbc0b54.png)

[2020-06-05 22:44] thedavidprice commented on #658
hey! great timing on this -- I was rebasing, checking file changes, and about to MERGE when I saw that come in... was so confused 🤣

Ok, that looks really good. BUT I wrote Yargs + epilogue, but what I was really thinking was to output that same text+link at the end of the command output -- maybe as a final Listr task our perhaps just outside List entirely inside `try` at the end of `upgrade.js`.

[2020-06-05 22:48] jtoar commented on #658
Sorry if I scared you. :sweat_smile:  And sure thing!

[2020-06-05 22:50] thedavidprice commented on #322
@jtoar Is the remaining task here the CLI contributing README work? Looks like you've hammered on everything else unless I’m missing something.

[2020-06-05 22:52] thedavidprice commented on #658
And feel free to start it with something bold like "WARNING" or ⚠️ or ... you get the idea. As a general habit+practice, we really don't want anyone upgrading without viewing release notes.

[2020-06-05 22:59] jtoar commented on #322
The CLI contributing README for sure, and the third todo, "create cli 'how to use' doc", is in the works. Plus the reference needs an update after #594, which I was doing simultaneously but just didn't publish yet.

Other than those two things... I think you mentioned adding `recommendCommands` or something similar to yargs, but I can't remember where we were discussing it. Trying to dig it up now

[2020-06-05 23:20] kimadeline commented on #653
Doesn't look like there's an "undo" method (there's `abortOnFail` but it's for queued actions, not what has already executed), so some way to do it would probably be to build a custom action ([documentation](https://plopjs.com/documentation/#custom-action-function-)) that saves (or makes a copy) of the initial state, and overwrites the corrupted state if the custom action failed somehow.

[2020-06-05 23:32] thedavidprice opened #660 "GH Action for CI should *not* run when PR is merged"
Effectively getting a duplicate CI run on merge. See example:
https://github.com/redwoodjs/redwood/actions/runs/126490259

Possible this was added in case commit merged to `master` directly. Seems there's a better way to handle this.

[2020-06-05 23:48] thedavidprice commented on #322
Roger that. And thanks!

^^ I did. But I don't think it's worth the effort at this time (nor have I explored what the benefits would be... was just a curiosity for potential improvement).

There are a lot of other docs that would be a higher priority if you're available + interested 😁

[2020-06-06 11:00] jimgroome commented on #657
Hello! I watched Rob's tutorial on Youtube last night and wanted to get stuck in to this exciting new way of working. I fired up my Windows machine this morning, opened the tutorial on the RedwoodJS site, and immediately came unstuck on the first step. It looks like I've encountered the same issue @AWey95 ran into.

I got "NotFoundPage is not defined" the first time I ran `yarn redwood dev`. Expli

[2020-06-06 15:10] peterp commented on #502
@RobertBroersma I think what you've suggested so far is super reasonable, especially based off of this comment: https://github.com/prisma/prisma-client-js/issues/317#issuecomment-574164787

[2020-06-06 15:23] peterp commented on #653
@kimadeline Thanks for researching this, I think your suggestion for adding a custom action is a super reasonable approach.

I would like to write down a set of first steps; would you be interested in contributing this?

1. Create a new `@redwoodjs/generators` package: Right now we have our generators inside of the CLI package, which is fine since that's where they're used, but they're somewhat hi

[2020-06-06 15:51] cannikin commented on #657
Sorry about that @jimgroome we’re looking into it!

[2020-06-06 16:02] Tobbe commented on #653
Absolutely agree this is the best approach if possible. Would probably mean we'll have to go with https://github.com/plopjs/node-plop

If that's not a route we want to go down, it's actually not too bad executing yarn commands with node. I've recently done it for when I set up cypress ci execution for a project of mine

[2020-06-06 16:55] thedavidprice commented on #657
Reproduced with v0.8.2 on Windows 10:

[code]

[2020-06-06 16:59] noire-munich commented on #653
Can you elaborate, @peterp & @Tobbe  ?
I must admit that I have fired all the generators at the beginning of the project but didn't feel comfortable working with the results, so I moved to my own components and kept only a very few selected files. Could we keep the choice on using generated code, maybe based on a config value?
Opened to discussion :)

[2020-06-06 17:21] davidrhoderick commented on #652
@peterp I just wanted to confirm that those steps work above exactly right.  Thanks for your help!

[2020-06-06 20:20] peterp commented on #653
@noire-munich It totally would be opt in only, not much will change, but I think for a testability / tooling development / exception handling standpoint that not explicitly having to us the CLI is a bit easier.

[2020-06-06 22:40] jtoar commented on #540
@davidluhr Just wanted to let you know that I haven't forgotten about this. I've been busy with the CLI/writing docs. But as soon as I'm done I'll circle back!

[2020-06-07 02:47] kimadeline commented on #653
@peterp Sounds like a good starting point, count me in! I'd be happy to give it a try after we're sure that's the way we want to go to test it, and/or your setup pass 😬

[2020-06-07 11:54] peterp commented on #652
I've updated the docs for this, but they're still not perfect, I think we could just install `sass` and `sass-loader`, or prompt a person that installation is required when they try to import a scss or sass file.

[2020-06-07 13:12] peterp commented on #653
@kimadeline Woot! Thanks! It is OK for me to assign you to this issue in the meantime? - I should have the "generators" package setup by tomorrow, and then I'll improve the granularity of "step 2" that I outlined above.

[2020-06-07 13:14] peterp commented on #653
@Tobbe Thanks for your input and support on this issue 🙇‍♂️

[2020-06-07 16:25] pickleat commented on #328
Not sure if this will add much to the discussion, but `alias rw=`yarn rw` in zsh is working great so far here.

[2020-06-07 17:10] davidluhr commented on #540
@jtoar Thank you so much for the update! Looking forward to all the upcoming improvements.

[2020-06-08 08:51] peterp opened #664 "Show auth installation docs when `yarn rw g auth <type>` is run"
I think it would be great if we could give detailed instructions on how to complete the generated auth types that require additional setup, as an example:

[code]

[2020-06-08 11:27] #657 closed

[2020-06-08 11:38] #535 closed

[2020-06-08 15:26] kimadeline commented on #653
@peterp Of course, sounds good! 😄

[2020-06-08 16:42] cannikin commented on #664
So you mean rather than showing "The generator requires additional setup..." that we actually list out what those steps are right there inline? Or that we make our own version of the remaining setup instructions, instead of linking to a third-party site?

Linking to a page somewhere (rather than showing instructions inline) is that there may be more complex instructions that have helpful images sh

[2020-06-08 17:10] cannikin commented on #653
Yep sounds great to me!

[2020-06-08 17:48] cannikin opened #666 "Wrong pluralization used in generated page name"
Note the plural "settings" was used to generate the page:

[code]

The files are created with the correct plural name. However, in the generated page the title is singluar, "SettingPage":

![image](https://user-images.githubusercontent.com/300/84063228-96883c80-a975-11ea-92c5-c32bf16e96a1.png)

[2020-06-08 21:06] thedavidprice commented on #658
Very similar to #664

Might be able to handle both at the same time.

[2020-06-08 21:39] peterp commented on #657
This is now fixed, please upgrade to `v0.9.1` by running `yarn rw upgrade`

[2020-06-08 21:54] jimgroome commented on #657
Thank you for the update! Very happy about this. Good work! J

[2020-06-08 23:50] goleary opened #669 "Ctrl Click/ F12 on a function doesn't take you to definition (vs code)"
When I Ctrl+ click a function or component in VS Code (or use F12) I'm taken to the import statement at the top of the file I'm already in, not the definition in that file.  I figured maybe this had to do with the `src/...` aliasing, but even when I import regularly this is still happening.

https://code.visualstudio.com/docs/editor/editingevolved#_go-to-definition

This makes it difficult to get

[2020-06-09 03:19] thedavidprice opened #670 "SDL generated code now contains `gql` import statement"
@cannikin @peterp

From the work on #515, the SDL generated code now includes `import gql from 'graphql-tag'`, which is a change. Functionally this does _not_ conflict with the auto-import or cause issues. But it is a (small) deviation from the Tutorial code.

I’m assuming this is the case because it's required for the generated TS code to work, correct?
- if so, should we update the Tutorial? (ex

[2020-06-09 04:52] thedavidprice commented on #575
Reproduced the error on Windows 10 using Powershell at package @redwoodjs `0.9.2-canary.1` (the equivalent of Prisma beta.9).

`yarn rw db save` shows the command runs `prisma migrate save --experimental`, however, the process stalls after the first prompt, and the Prisma Client is _not_ successfully generated.

**Workaround:**
Re-running the command completes successfully. And `yarn rw db up` run

[2020-06-09 05:00] thedavidprice commented on #574
Windows 10, @redwoodjs `0.9.2-canary.1`

**Powershell**
Cannot reproduce this issue.

**Git Bash**
I can reproduce this error with identical results.

[2020-06-09 16:17] cannikin commented on #670
Hmm yeah we purposely made an effort to remove this import (like with 'react') to make everyone's lives easier.

If it's required, it must only be required if you generate TS templates, correct? So if you generate JS can we remove it somehow?

If it's not required let's definitely remove from the template altogether!

[2020-06-09 18:13] peterp commented on #670
We can take it out, I'll add an ambient declaration that makes this work.

[2020-06-09 18:17] peterp commented on #669
I'll take a look at this, thanks for reporting it!

[2020-06-09 20:06] geoff616 commented on #537
I would like to help with this, and wanted to confirm I understand the goal of the feature and figure out where the notice should be displayed.

The goal of the feature is to inform developers they are not running the latest version of redwood, and encourage them to safely upgrade?

I've started looking into how it could be implemented, and thinking it makes sense as a [yargs middleware](https://y

[2020-06-09 22:33] thedavidprice commented on #537
@geoff616 this would be fantastic! Thank you for offering to jump in. I've assigned this to you.

^^ Yes indeed! In general, we are attempting to release more often and want it to be convenient+simple to 1) know a release is available and 2) upgrade. However, because Redwood is early it's often not "safe" to upgrade without checking the release notes. This is also important because most new featur

[2020-06-10 01:39] geoff616 commented on #537
Thanks for the additional context @thedavidprice.

I agree with

and always pointing people to the [release notes](https://github.com/redwoodjs/redwood/releases).

I also agree with your point about `console.log` at the beginning not being ideal. `yargs` middleware is a hook prior to the command executing, but `yargs` also provides a hook after the command executes with `onFinishCommand`. Unfortun

[2020-06-10 09:17] mysticaltech opened #675 "[Feature request] Add support to ArangoDB via GraphQL Yoga"
Hello, thank you for your amazing work. I would love to see support for [ArangoDB](https://www.arangodb.com/). Unlike PostgresDB that is under Prisma, it is a multi-model, Document, Graph, Key-Value and Search database.

A GraphQL layer could possibly be added with the Prisma project https://github.com/prisma-labs/graphql-yoga and its JS driver library https://github.com/arangodb/arangojs.

[2020-06-10 13:57] betocmn opened #676 "Command/Control-click on a Link doesn't open a new tab"
Using Command/Control-click to open a link in a new tab doesn't seem to be working with the default configuration for the Redwood Router. It ignores the key.

You can reproduce it by trying to open the links on the live demo for the main example repo: https://redwood-example-blog.netlify.app/ or with something like the code below.

[code]

The same issue happens when trying to use Shift-click to o

[2020-06-10 21:43] Tobbe opened #678 "nodemon crashes on `yarn build:watch`"
redwood@d51ade08118c17459cebcdb496197ea52485364a
windows 10
GitBash (mintty 3.1.6)
yarn v1.22.4

[code]

At this point I kill it with Ctrl+C

Lots of "[nodemon] app crashed - waiting for file changes before starting..." and "''yarn' is not recognized as an internal or external command," above.

Running `yarn build` works just fine though.

[2020-06-10 21:51] Tobbe opened #679 "yarn rwt copy depends on rsync, which isn't available on Windows"
redwood@d51ade08118c17459cebcdb496197ea52485364a
windows 10
GitBash (mintty 3.1.6)
yarn v1.22.4

I tried copying over a modified version of the Redwood Framework to a Redwood App, to test some changes I've made. But trying to run `yarn rwt copy` I get an error message about rsync not being available. Which makes sense, since I'm on Windows. See log below

[code]

[2020-06-11 02:34] evanmoncuso commented on #666
I'm looking for a first issue! Happy to take a look at this.

[2020-06-11 02:53] cannikin commented on #666
@evanmoncuso That'd be awesome, thank you! You'll see a big list of variables we make available to the templates when they're being generated, looks like we just picked the wrong one!

[2020-06-11 05:44] bpenno commented on #284
Just to let you know that on using Redwoodjs I just experienced a hang while running **redwood db save**. The db was created but no migrations folder was created. On terminating it with Ctrl-C and running it again it ran successfully, asking me to name the migration and it appears to have completed the remaining steps.

[2020-06-11 10:48] peterp commented on #664
@cannikin I just thought that it would be easier to maintain those instructions on the web, like for auth0's setup we say something like:  "Follow the first part of the quick-start tutorial over here", but I guess it could be inline?

[2020-06-11 15:40] thedavidprice commented on #679
@Tobbe Admittedly, we never tested this workflow and CLI command on Windows. Could definitely use your help here if you'd be available, which doesn't mean tackling this alone. @peterp and I are prioritizing Windows support right now -- helping us diagnose so we can fix is a huge help in and of itself.

Have you looked at the code for the command yet? It's possible to add the rysnc package as well

[2020-06-11 15:44] thedavidprice commented on #284
@bpenno Thanks for reporting this and apologies for the snag!

Curious if you're on Windows. If so, this open issue is likely the same #575

It's the same command but a different cause of failure. And we're working on it!

[2020-06-11 16:36] peterp opened #680 "Provide a way to Mock user authentication in jest tests"
Allow a user to pass:
[code]
to render in `@redwoodjs/testing`

We will provide a default user and the hook will always be authenticated.

/cc @RobertBroersma

[2020-06-11 16:42] cannikin commented on #664
Yeah I agree it would be easier to maintain on the web. But we *are* showing a link to those setup instructions already at the end of the install. Did you just mean that we should be writing and linking to setup docs on our own site instead of linking to the auth provider's description?

[2020-06-11 17:23] thedavidprice commented on #664
Ah, thanks for pointing that out @cannikin I think I missed the link when I was testing this the first time around. Here's the current output:
[code]

@peterp do you think there should also be a link to the Redwood Auth Docs?

[2020-06-11 18:06] thedavidprice commented on #675
Hi @mysticaltech Thanks for suggesting this!

As it stands now, Redwood is focused on Prisma 2 and won't be adding other first-class support in the near-term. Understandably this feels a bit limiting if you want to use anything other than SQL/relational right now via Prisma. But do know that there's going to be many more types of DBs that Prisma supports directly by the end of this year (e.g. no-s

[2020-06-11 18:06] #675 closed

[2020-06-11 18:32] thedavidprice commented on #678
I had this happen to me last week as well. Did not do any diagnosing yet, but I wanted to confirm this is not just a Windows issue.

[2020-06-11 18:34] thedavidprice commented on #82
@cannikin do you think the Destroy command covers this feature? It's not 1-to-1, but maybe this feature could leverage Destroy -- e.g. if error occurs it would prompt to run cleanup via Destroy.

[2020-06-11 18:50] thedavidprice opened #682 "Add missing units tests to CLI package (and standardize fixtures/mocks for existing)"
Existing good test coverage:
- `db.js`
- `destroy.js`
- `generate.js`
- `lib.js`: tests are good but maybe audit

Questions:
- `cli/__mocks__` was created for the Destroy tests -- is there overlap with fixtures in `cli/lib/__tests__` and/or should there be?

Commands/Options needing test coverage (or test improvements):
- [x] `build.js`
- [ ] `dev.js`
- [ ] `info.js`
- [ ] `lint.js`
- [ ] `open.js

[2020-06-11 19:01] peterp commented on #664
@cannikin @thedavidprice I actually didn't know it did that. My apologise!

[2020-06-11 19:01] #664 closed

[2020-06-11 19:19] thedavidprice commented on #664
ditto ¯\_(ツ)_/¯

[2020-06-11 19:40] Tobbe commented on #679
Could be worth it to try with https://github.com/mattijs/node-rsync as the last commit message (except the version bump) is "Update rsync.js with Windows support", which does sound promising 🙂

If that doesn't work out we could try this: https://github.com/jprichardson/node-fs-extra/blob/master/docs/copy.md

I noticed you use `rsync -rtvu --delete`. -r is the default behavior (special handling for

[2020-06-11 20:01] Tobbe commented on #575
This seems to be a prisma issue, see more here https://github.com/prisma/migrate/issues/342
Not sure there is much we can do until that is fixed

[2020-06-11 20:09] thedavidprice commented on #679
Looping in @peterp on this as he authored the command and could better address the rsync options.

Rsync does look like it will work cross-platform. I wonder if the hiccup is actually happening due to Execa. See these lines:
https://github.com/redwoodjs/redwood/blob/1022744ad4590ff17d9bfa3a7f4a7ea734237ec5/packages/cli/src/redwood-tools.js#L69-L73

Check out the Execa docs for the `shell` option s

[2020-06-11 20:26] thedavidprice commented on #575
@cannikin I've messaged Jan in the Prisma Issue Tobbe reference above. I’m adding the workaround messaging here and on the forum. But thoughts about if we should add "workaround FYI" on Tutorial?

[2020-06-11 20:37] evanmoncuso commented on #666
Yep. Seemed to be the case. Thanks!

PR: https://github.com/redwoodjs/redwood/pull/683

[2020-06-11 22:48] cannikin opened #684 "Words that can't be pluralized will blow up some of the generators"
## Problem

Create a model named `Pokemon` and then try to generate the scaffold for it:

[code]

It turns out this is because the plural and singular forms of "pokemon" are the same. :( The JS generators don't actually care, but if you try to generate TS (which the scaffold, service and SDL generators all do by default) it will complain that an identifier already exists and refuse to continue. Bu

[2020-06-11 22:55] jtoar commented on #684
@cannikin Would `redwood.toml` be a good place for this?

[code]

[2020-06-11 23:07] cannikin commented on #684
Ooooo interesting....what do you think @peterp?

[2020-06-11 23:45] bpenno commented on #284
Sorry, I meant to mention I was using Windows. I had a look at the issue you mentioned and it does appear to be the same. It might be be handy to add to the tutorial that Windows users might have to terminate the command and re-run for it to work. It might be perceived as a bit clunky but at least it will allow people trying out Redwood for the first time to continue.

[2020-06-11 23:49] jtoar commented on #311
It looks like we'd need to modify `yarn create` or add a completion-shortcuts generator.

Yargs does completions by appending a generated script to a user's ~/.bashrc (so, that brings up the Windows question). (Sources: [yargs](https://yargs.js.org/docs/#api-completioncmd-description-fn), [stackoverflow](https://stackoverflow.com/questions/32258362/setup-command-line-completion-with-yargs).)

I'm

[2020-06-12 00:15] thedavidprice commented on #311
Thanks for looking into this!

But, oh my... I don't love it. We are updating CLI all the time, which means lots of remembering (and reminding) to update including cross-platform considerations. As of now our `--help` and Docs are in great shape and easy to reference.

So for now I'd say "pass" and revisit post v1.

[2020-06-12 00:17] thedavidprice commented on #284
@bpenno thanks and agreed! We'd assumed this was an error on our end but just pieced together the Prisma aspect. Definitely going to add the note to the Tutorial for the near-term.

[2020-06-12 00:32] jtoar commented on #311
My thoughts exactly.

We could probably set it up so that it automatically grabs all the commands/options. But that would probably require breaking more @redwoodjs/cli bones. +1 for revisit post v1. Maybe near or post.

[2020-06-12 09:14] guledali opened #686 "yarn rw g scaffold post, is missing tests files(layouts, pages and cells)"
https://github.com/redwoodjs/redwood/tree/master/packages/cli/src/commands/generate/scaffold/templates

- [ ] Layout missing test file
- [ ] Page missing test file
- [ ] Cell is missing test file

Individually they all have test files in them, just not when you run the `yarn rw g scaffold` command. So we can just copy them into scaffold folder.

Cell: https://github.com/redwoodjs/redwood/blob/mast

[2020-06-12 10:04] RobertBroersma commented on #629
@This Issue, @peterp suggested the usage of https://redd.gitbook.io/msw/ , which I think is absolutely great.

So great actually that I started implementing it straight away; https://github.com/redwoodjs/redwood/pull/687

I don't think anyone started on this yet? But I believe @thedavidprice mentioned he might soon, so maybe good to hold off _juuust_ a bit longer!

[2020-06-12 10:39] davidrhoderick opened #688 "As per the Readme on a generated redwood app, Prisma2 is ready"
In the Readme of a freshly generated redwood app, it states

    HEADS UP: RedwoodJS is NOT ready for use in Production. It relies heavily on Prisma2, which is currently in testing with an expected production release coming soon. See status at "Is Prisma2 Ready?"

with a link that redirects to https://www.notion.so/Is-Prisma-2-Ready-8b3fba3eaf5b4bf3ab7102fd94f56148, which now states that Prisma 2

[2020-06-12 13:18] mysticaltech commented on #675
Thank you, appreciate the details, I will sure keep you guys in the loop if I get to it one day. I will also keep a close eye on Prisma's support for new DBs.

[2020-06-12 15:48] jtoar commented on #686
@guledali Thanks for noticing this. @AryanJ-NYC brought this up as well in issue #603. As @cannikin said there, the reason we don't have tests is we haven't figured out the best way to test cells, GraphQL, and Prisma yet. But this is probably also going to have to wait for the generator refactor, which is being discussed in #653.

Moreover, we probably won't just copy the files over. Ideally, the

[2020-06-12 15:50] cannikin commented on #82
Hmmm, good question. I'm not sure what happens if some of the files don't exist when you run the destroy command, but it would be pretty ironic if then **that** blew up! But in theory it does know how to undo everything that the generate command did...

I can try to test this out at some point but it may be a few days until I get around to it!

[2020-06-12 15:54] cannikin commented on #575
@thedavidprice Yeah we should add a little callout at that step in the Tutorial, maybe include a link to the issue on prisma's side. And whenever we find out it's been fixed we can remove. I added an issue at redwoodjs.com repo: https://github.com/redwoodjs/redwoodjs.com/issues/190

[2020-06-12 15:54] jtoar commented on #688
@davidrhoderick Totally! @thedavidprice Should we still mention that prisma migrations are an experimental feature?

[2020-06-12 16:34] thedavidprice commented on #688
Hi All! We are working internally on this and the language to update both current status and Redwood "readiness". And we don't want to overstate the "readiness" part.

Correct, Prisma v2 was a big step. But, I think, I little misleading because migrations are still experimental.

TBD. But we are working on it. Thanks!

[2020-06-12 16:47] thedavidprice commented on #629
Woah, MSW does look 🔥

Thanks for checking @RobertBroersma, but I am noodling on something that's a bit of a different case. I think it will all overlap eventually, but for now carry on and don't worry about me!

[2020-06-12 17:28] RobertBroersma commented on #629
Oh @thedavidprice now you have me curious!

[2020-06-12 18:40] guledali commented on #686
@jtoar I'm closing this issue then

[2020-06-12 18:40] #686 closed

[2020-06-12 20:01] thedavidprice commented on #686
@guledali thanks for making sure this was on our radar! Always appreciate your help.

[2020-06-13 07:48] barakcodes commented on #682
Hi there! @thedavidprice . I am a new contributor, can I take this on?

[2020-06-14 07:03] peterp commented on #80
This is done! 🎉

[2020-06-14 07:03] #80 closed

[2020-06-14 10:24] Tobbe commented on #679
So, this was the error message I got (as pasted above)

[code]

Taking the command it's trying to run, and running it manually, straight on the command line,  I get this

[code]

So I don't think the problem is with `execa`.

Running `pwd`, I get this

[code]

Using that path format instead with rsync, and we have success!

[code]

So, once again we're seeing an issue with Windows path format 😁

I

[2020-06-14 11:42] peterp commented on #679
Amazing!

`redwood-tools` is only required when contributing to the Redwood framework, so it's not something that's expected to work for each user. Maybe we could add a guide for installing it via choco: https://chocolatey.org/packages?q=rsync

I wouldn't want to move to something else since rsync is so fast and reliable.

[2020-06-14 14:53] Tobbe commented on #679
PowerShell is giving me a headache

/c/Users/... Doesn't work
[code]

C:/Users/... doesn't work
[code]

C:\Users\\... doesn't work
[code]

Hah! //localhost/c$/Users/... works!
[code]

But it's really slow :(

[2020-06-14 15:56] iamyuu opened #695 "Cannot create a new app"
Step to reproduce: run `yarn create redwood-app redwood`

And it will get `Error: Request failed with status code 403` while "Downloading latest release", see the screenshot below

Useful message
`API rate limit exceeded for 180.252.218.214. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)`

<img width="1067" alt="Screen Shot

[2020-06-14 16:08] iamyuu commented on #695
now it works

[2020-06-14 16:08] #695 closed

[2020-06-15 10:00] #571 closed

[2020-06-15 13:08] csellis opened #698 "Using generate sdl --force removed singular model find"
I had created my schema before, then added a relationship and regenerated.

[code]

Forcing SDL generate changed **prizes.sdl.js** from:
[code]
To:
[code]

It looks like it also dropped the mutation.

What have I done wrong folks?

[2020-06-15 13:31] peterp commented on #679
Oh wow, that's crazy - is there something else on Windows that people can use to keep files in sync?

[2020-06-15 13:41] Tobbe commented on #679
I still haven't given up on rsync, I actually think I'm on to something 🙂  I'll be back with an update later tonight, after work.

[2020-06-15 13:59] peterp commented on #679
Tack!

[2020-06-15 16:40] #676 closed

[2020-06-15 17:02] Tobbe commented on #679
The problem with PowerShell wasn't really with PowerShell, but rather with the version of rsync it used. I installed cwRsync (top result on that chocolatey search result page linked above) and that seemed to have caused a lot of the problems. When I figured out how to use the msys2 version of rsync in PowerShell as well, everything started working, and it was fast too 🙂

I documented the installat

[2020-06-15 23:22] thedavidprice commented on #698
Hi @csellis! This is a strange one indeed -- thanks for creating the Issue.

Looping in @cannikin who's our MasterofGenerators™. 😉

Few questions:
- could you reply with a copy+paste of your system information via running `yarn rw info`?
- is there a chance you originally generated this SDL file with one version of Redwood, then upgraded and ran the `g sdl <model> --force`?
- when you originally g

[2020-06-15 23:30] thedavidprice commented on #679
@Tobbe excited to see your progress here! Just wanted to make sure I understood and tied together next step in progress:
1. you'll confirm Powershell is working so this can be merged "rwt copy fix for Windows" #694
2. update [CONTRIBUTING section](https://github.com/redwoodjs/redwood/blob/master/CONTRIBUTING.md#copy-and-watch) instructions with the Windows install for Rsync (or link to your blog p

[2020-06-16 00:11] thedavidprice commented on #682
Hi @barakcodes! If you're willing, this would be a huge help. I just apologize in advance for the current state of mess. 😬

Because there are some general questions we have around CLI testing in general _and_ one aspect of this would be to improve CLI test structure+process, here's my suggestion for a plan of attack:
1. After you've looked at the code a bit, start with outlining a plan of approach

[2020-06-16 00:11] csellis commented on #698
@thedavidprice Hi! I was thrown off to begin with.

[code]

I did not upgrade between running the scaffolding, then generating the SDL.

So I ran scaffold to begin with, then realized I hadn't included the relationship. Updated the schema, and db up'd it. Then I performed `g sdl <model> --force`.

I was able to go in and update my service with
[code]

It may be a case of cognitive tunneling. I was

[2020-06-16 00:11] cannikin commented on #698
When you generate a scaffold it adds a flag `--crud` to the end of the SDL generator. If you run the SDL generator yourself, but leave off that flag, you'll get the generated output you saw above (no create/update/delete mutations, and just a single "select all" query).

[2020-06-16 00:23] csellis commented on #698
Ahh, I didn't see that in the documentation. I just added it.

[2020-06-16 00:33] thedavidprice commented on #698
Just commented on your doc update as well -- thanks again and apologies for the missing documentation!

[2020-06-16 00:33] #698 closed

[2020-06-16 01:58] thedavidprice commented on #328
@pickleat Nice! I think the trick on this would be to figure out how to support the top 3-4 shells across Linux/Mac and Windows: bash, zsh, PowerShell, etc. During installation could check shell environment and, if support, prompt user if they want to make life much radder.

Totally doable. And I think totally worth it! (Just need 36 hours in a given day to get it done... )

Anyway, thanks for chi

[2020-06-16 02:02] thedavidprice commented on #652
@peterp was this one ready to close out? Or are you thinking about working on the items you mention above?

[2020-06-16 02:10] thedavidprice commented on #604
@bcoe just wanted to loop you in on this one as I believe you are working on something similar for container implementation. Wondering out loud if you and Peter's work here has potential overlap.

[2020-06-16 03:48] kimadeline commented on #660
From the "The branch is out-of-date" messages in PRs I assume that they are required to be synced with `master` before merging. If this setting is left as-is, when would you want to run the CI workflow, just PR updates?

However if this check is set to "loose", then a CI run on merge should be fine, although it might break 🙃

🌱 Side note: Should CI runs be triggered for any PR update (comments, re

[2020-06-16 04:02] thedavidprice commented on #461
@jtoar should we close out this tracking issue?

[2020-06-16 04:12] jtoar commented on #461
@thedavidprice Maybe we could still use this to track the fleshing out of the readmes as well, like #663, or should there be a separate issue for that?

[2020-06-16 04:19] thedavidprice commented on #461
Yeah, let's just close out this one. Can copy+paste when/if we tackle the rest as a group. Thanks!

[2020-06-16 04:19] #461 closed

[2020-06-16 05:50] thedavidprice commented on #682
FYI: there's a new document coming for CLI and also explains the Generator tests https://github.com/redwoodjs/redwood/pull/663

[2020-06-16 07:02] thedavidprice opened #700 "Delete current Service generated test.js templates"
@RobertBroersma from our conversation last week, we discussed that the current test.js templates for Services aren't helpful and should be removed for now, correct?

https://github.com/redwoodjs/redwood/blob/master/packages/cli/src/commands/generate/service/templates/test.ts.template

Then the plan is to revisit when API side is test tooling is ready, correct?

[2020-06-16 07:04] Tobbe commented on #679
@thedavidprice
 1. confirmed
 2. I added a link. If you want me to inline the whole blog post, I'll do that instead.

One thing that unfortunately came up during my testing is that the build:watch + copy:watch workflow doesn't work on Windows. Both commands work fine (with my rsync fix) on their own, but not together. I think it is because of how Windows does file locks. But if it's alright with y

[2020-06-16 07:17] thedavidprice commented on #625
duplicate https://github.com/redwoodjs/redwoodjs.com/issues/197

[2020-06-16 07:17] #625 closed

[2020-06-16 07:20] thedavidprice commented on #449
this turned into a discussion -- closing for now but reopen as/if needed.

[2020-06-16 07:20] #449 closed

[2020-06-16 07:29] RobertBroersma commented on #700
Correct!

[2020-06-16 12:37] Tobbe opened #701 "yarn build:watch and yarn rwt copy:watch don't work together on Windows"
If I have both `yarn build:watch` and `yarn rwt copy:watch ../redwood` running at the same time, and then make a change in the Redwood Framework that causes `yarn build:watch` to try to rebuild I get the following error

[code]

If I stop `yarn rwt copy:watch` (Ctrl+C) and make a change to Redwood the rebuild works just fine

[code]

I suspect Windows is holding file locks differently compared to

[2020-06-16 12:46] Tobbe commented on #678
Look at this output from the logs above
[code]
Notice the extra ' in front of 'yarn'? Windows don't like the single quotes... So for me the solution is to switch to double quotes. PR incoming!

@thedavidprice Not sure what issue you ran in to as you're not on Windows. Maybe open a new issue if it happens to you again?

[2020-06-16 13:00] Tobbe commented on #701
@peterp I'm confused about the title change. I don't think there is a `yarn rwt build:watch` command, it's just `yarn build:watch`

[2020-06-16 15:08] thedavidprice commented on #678
@Tobbe you know, now that you found this fix it could have very well been when I was working on Windows -- the crash stuck with me but the OS did not 😆

Definitely proceed forward here as is. And will loop back when/if needed. Thanks!

[2020-06-16 15:13] #678 closed

[2020-06-16 15:53] peterp commented on #701
@Tobbe No, no, it is I who is confused.

[2020-06-16 17:05] cannikin commented on #700
Yeah we just included this to have *something* in there and remind you that you should be testing everything. But we had no idea how to actually test services at the time. 😬

[2020-06-16 22:19] thedavidprice commented on #700
Ok, so it felt worth it to remove the service file for now given that it won't even be a helpful foundation for people to build on.

But just removing the `testFile` object from `service.js` throws 30 failing tests. Which, if I turn them all off now, will have to be re-added when we update the test template.

I vote to keep things as is. What say you all?

[2020-06-16 22:44] mgreenbe opened #705 "Admin view can't create an entity with a reference to another entity"
My schema contains two types, `Post` and `User`, appearing as below in `schema.prisma`.

[code]
This schema is taken from the [prisma quick-start](https://www.prisma.io/docs/getting-started/quickstart-typescript) except with the `published Boolean @default(false)` field on `Post` omitted because the scaffolded admin form wasn't coercing the string `true` or `false` from the input text field to the

[2020-06-16 22:52] cannikin commented on #700
Yeah I mean ideally we could just put something in there that actually exercises Prisma to make sure it's at least hooked up...my original plan was to just stick a simple `db.user.findMany()` and check that the result was an array, even if it was an empty array—this would be an end-to-end test that the client libs are generated and its connecting to the DB properly an no errors are raised. But at

[2020-06-16 22:53] mojombo commented on #705
I can confirm this, ran into the same thing last night.

[2020-06-16 22:57] thedavidprice commented on #700
Sorry, RC, I didn't give you all the context here -- the magical mock service worker (MSW) implementation that Robert and Peter are working on _will_ enable us to test the API! So it's in progress and came up during a conversation about testing last week. We were auditing the files/generators, which is what kicked off this topic.

tl;dr:
There's a better way to test this coming in the future!

[2020-06-16 22:59] bcoe commented on #604
I think I just swapped out apollo-server-lambda for apollo-server-express, I'm guessing in my testing on GCP we were running the dev server for the frontend?

[2020-06-16 23:02] cannikin commented on #705
Hmmmmmm we have SDL generator tests in place that are checking this exact functionality: https://github.com/redwoodjs/redwood/blob/master/packages/cli/src/commands/generate/sdl/__tests__/fixtures/multiWordSdlCrud.js#L16-L19

I'll take a look tomorrow!

[2020-06-16 23:08] cannikin commented on #705
Actually....................................

I just read your actual issue (helps to do that!) and the type mismatch you're finding is in the files that *prisma* generates, not us... that's strange indeed. From first glance it looks like your prisma libraries were generated against a previous version of the schema, but the scaffolds were created against the current version (the scaffold does show

[2020-06-16 23:11] mgreenbe commented on #705
Tried the `yarn rw db generate`, but the issue persists. Here's the `posts.sdl.js`:
[code]

[2020-06-16 23:21] cannikin commented on #705
@mgreenbe Check out your `posts.js` service. Specifically in the `create` method. You need to transform the `authorId` into the `connect` syntax that Prisma actually wants. For reasons I don't understand, they don't let you just edit foreign key columns like you can any other column in the table. I have an open issue with them about this: https://github.com/prisma/prisma/issues/2152

See the worka

[2020-06-16 23:35] mgreenbe commented on #705
Trying to imitate the workarounds from #prisma/prisma#2152. I changed `createPost` in `posts.js` to:

[code]

Is this what you had in mind? Trying to create a new post, I now get the slightly different error

![Screen Shot 2020-06-16 at 5 30 48 PM](https://user-images.githubusercontent.com/22971503/84838380-8288ae80-aff7-11ea-917e-8877407b4835.png)

I didn't regenerate the prisma client because I

[2020-06-16 23:41] thedavidprice commented on #705
@cannikin Oh, I remember. This is the workaround, correct?
https://community.redwoodjs.com/t/prisma-beta-2-and-rwjs-limited-generator-support-for-relations-with-workarounds/361

😉

[2020-06-16 23:43] cannikin commented on #705
@mgreenbe `input` will still have the `authorId` in there, you need to remove that completely. `delete input.authorId` will do it, even though it's kind of gross 😕

[2020-06-16 23:44] cannikin commented on #705
YUP! Why didn't we just put that in real Redwood again? 😅

[2020-06-16 23:48] thedavidprice commented on #705
@mojombo wanted a wrapper or something something -- scared of all the codes.

😉

[2020-06-16 23:49] thedavidprice commented on #705
@mgreenbe Hope that article helps! I'm not sure how to make it more "findable" for this situation, but I could edit the title or add some keywords if you think that would help others who run into this.

[2020-06-17 00:06] thedavidprice commented on #604
Yeah, that would make sense. Aaaaand that also might have explained some of the performance issues 🤔

Thanks, Ben!

[2020-06-17 00:07] thedavidprice commented on #700
Ok, I'm closing this out. Leaving as it for now in hopes of a better test template in the (near) future! (No pressure, Robert...)

[2020-06-17 00:07] #700 closed

[2020-06-17 00:11] cannikin commented on #705
Oh yeah, kind of our own wrapper around `db` that we can do whatever we want with, but for most people it would be transparent and look like you're just using PrismaClient as usual. Someone should write that <cough, peter, cough>

[2020-06-17 02:30] mgreenbe commented on #705
@cannikin Replacing the auto-generated `createPost` in `posts.js` with

[code]

worked. I can now create posts with the admin interface!

@thedavidprice Please adjust the title however you feel is best for findability of this workaround.

Thanks, all!!

[2020-06-17 02:30] #705 closed

[2020-06-17 12:52] #679 closed

[2020-06-17 12:53] #575 closed

[2020-06-17 17:55] cannikin commented on #313
I'm pretty sure this is already done? I think we merged a PR with this functionality a couple of releases ago. @thedavidprice does that ring a bell?

[2020-06-17 17:57] cannikin commented on #510
This has been done for a while!

[2020-06-17 17:57] #510 closed

[2020-06-17 17:57] Terris opened #709 "Error after upgrade: Cannot find module 'graphql-type-json'"
I've just upgraded using the CLI command, i.e. `yarn rw upgrade`.

After running `yarn rw dev`, the terminal logs read:

[code]

And browser console reads:

[code]

[2020-06-17 17:57] Rosenberg96 commented on #313
@cannikin This can be closed. It was merged in #454

[2020-06-17 18:11] peterp commented on #709
Could you try to run `yarn --check-files` to re-install the node_modules, since `graphql-type-json` is referenced here: https://github.com/redwoodjs/redwood/blob/master/packages/api/package.json#L21

[2020-06-17 18:29] Terris commented on #709
@peterp - Thanks for the quick response! Sadly, running this command did not fix the issue as I'm still getting the same output. Strangely enough, I also just fired up a brand new redwood app and am experiencing the same issue.

[2020-06-17 19:16] thedavidprice commented on #709
@Terris could you paste the output from `yarn rw info` in reply?

Also, any chance you have multiple node versions or environments running at the same time?

I'll try a fresh install myself to see if I can reproduce. Lastly, I heard NPMJS.org had an outage yesterday... could have messed up things somehow. ¯\_(ツ)_/¯

BRB

[2020-06-17 19:23] Terris commented on #709
@thedavidprice - thank you for helping! I've done a restart and checked that I'm only running one node version/env. All seems well there.

[code]

[2020-06-17 19:46] thedavidprice commented on #709
Blast. I can't reproduce locally, which means there's likely something system-level going on. Tom is running MacOS 10.14 as well and occasionally runs into issues with packages not being installed... none of us can figure it out. Just frustrating. And `git clean -fxd` or `yarn install --force` just never seems to help things.

Ideas:
- you might try upgrading Node to latest 12.18.1
- turn things "

[2020-06-17 19:56] Terris commented on #709
@peterp @thedavidprice Thank you both for jumping in to help. It looks as though the problem stems from the local redwoodjs development I've been doing. When I switch to the master branch and rebuild redwood (via `yarn rebuild:watch`) the issue goes away.

I don't know why I can't get the packages to align in my development branch as I've merged in master, double checked the package is up to date,

[2020-06-17 19:56] #709 closed

[2020-06-17 22:06] toobulkeh commented on #267
👍  for more Rails-like conventions over configuration of the Layout component as a first-class citizen component-type.

Other discussion: https://community.redwoodjs.com/t/layouts-as-a-convention-over-configuration/766/2

[2020-06-17 23:37] thedavidprice commented on #267
Tom, who authored the RW Router, is not too keen on nested routes (per last time we talked) although I don't remember the specifics. But this conversation bring up important concerns regarding the tradeoffs.

@jtoar this could be a good topic to put on the list for future discussion.

Thanks, all!

[2020-06-17 23:51] #313 closed

[2020-06-18 00:38] thedavidprice commented on #660
Here are the settings from `.github/workflows/build-eslint-jest.yaml`:

[code]

There are some funky (super technical term) things that were going on originally including duplicate, simultaneous runs. And at first I had the `master` protected so that PRs were the only way to push, but that broke our release process. 🤦‍♂️

So these current settings:
- ironed out the hiccups
- trigger for the approp

[2020-06-18 05:48] thedavidprice opened #714 "Flash Messaging causes error with scaffold CRUD"
Flash Messaging error introduced via this PR https://github.com/redwoodjs/redwood/pull/654

@cannikin @Terris I ran into the errors below running through local tests in preparation for cutting a new release. If you think this is a quick fix, please submit a path. Otherwise, I might revert the PR for now so we can get v0.11.0 out. Suggestions otherwise?

## Steps to Replicate
- Upgrade to `0.10.1-c

[2020-06-18 08:21] barakcodes commented on #682
Hey @thedavidprice ! I'm still here. Got a bit occupied I'll get to it and run by you my plan of approach and we can discuss it. I'm very excited about it

[2020-06-18 14:09] Terris commented on #714
@thedavidprice - so sorry about this. I'll submit a PR in a few minutes with a fix.

[2020-06-18 14:50] thedavidprice commented on #682
@barakcodes sounds fantastic. And grateful in advance for the help 💯

[2020-06-18 14:57] thedavidprice commented on #714
@Terris all good and huge thanks for the quick turnaround!

The yay/boo on this is that as of yesterday we have an early version of EtoE tests that helped catch this bug before releasing! We're _all_ getting better at this slowly but surely 😆

[2020-06-18 17:56] RobertBroersma commented on #267
The way React Router v6 handles nested routes would solve the problem (I think) of (un)mounting layouts while allowing to keep all routes in one file (which I believe was what Tom wanted to achieve, cmiiw): https://reacttraining.com/blog/react-router-v6-pre/#nested-routes-and-layouts

Not entirely sure how their implementation works but I think their API with Outlet's and whatnot would fit Redwood

[2020-06-18 22:07] kimadeline commented on #660
Mind sharing more deets? 👀  Is it similar to the problem people are facing [here](https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101)?

Looking at the [webhook event payload details](https://developer.github.com/webhooks/event-payloads/#pull_request), I can only think of a hacky (another super technical term 😎 ) way of running the workflow only in these cases (di

[2020-06-18 23:08] cannikin opened #717 "Default to 'cache-and-network' Apollo policy"
I propose that we set a default caching strategy of `cache-and-network` in the `beforeQuery` function of cells:

[code]

As the [Apollo docs](https://www.apollographql.com/docs/react/api/react-apollo/#optionsfetchpolicy) say:

Otherwise when you make a change to data via a mutation, navigate away and then return, you still see stale data forever (Apollo cached it for you). Using this fetchPolicy w

[2020-06-18 23:32] thedavidprice opened #718 "Transitioning to "main" default branch"
On Friday, June 19th, we are initiating a transition to use "main" as the default branch across all RedwoodJS Organization repositories on GitHub. All steps will be handled primarily by the core maintainers.

For more information on this change as well as background, please see [this Form topic](https://community.redwoodjs.com/t/transitioning-to-main-default-branch/776).

### Steps
1. Create a new

[2020-06-19 07:13] peterp commented on #717
Sounds super reasonable to me

[2020-06-19 14:12] benjaminsehl opened #722 "Guide/Explanation: How to think in Services"
In the Frontend First podcast, @mojombo gave a great breakdown of services (starts at 22:57, [link to episode](https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5zaW1wbGVjYXN0LmNvbS9zT0pBTW9oUA/episode/ZmI4MTAwNzEtYTAwYS00ZWNmLWI2OTctNDg0NjNlN2U1ZWFi?hl=en-CA&ved=2ahUKEwjkqpmG-o3qAhWllHIEHSo6B6oQieUEegQICxAG&ep=6)).

As he’s describing services, there is confusion around the scope of what a servi

[2020-06-19 15:34] thedavidprice commented on #718
@cannikin @peterp @mojombo
Does anyone know what happens to github links after we make this transition? E.g. will the following link still work if we delete 'master'?

https://github.com/redwoodjs/redwood/blob/master/CODE_OF_CONDUCT.md

[2020-06-19 15:52] jtoar opened #725 "Update Auth readme with logOut options"
More of a note to self, but we have to update the [auth readme](https://github.com/redwoodjs/redwood/blob/main/packages/auth/README.md) with #690. This will probably comprise a tweak to the API and/or Usage in Redwood section(s).

[2020-06-19 16:08] cannikin commented on #718
😬 I would guess not? It's probably the same behavior if you try to go to any old branch URL that's since been deleted...

[2020-06-19 16:27] dac09 opened #726 "Upgrading from 0.10 to 0.11"
**Issue**
Unable to run in dev mode after upgrading to 0.11 from dev using `yarn rw upgrade`.

**Error logs**
[code]

or

[code]

---

## Solution
Run `yarn rw db up` to regenerate prisma client.

Hope this helps someone.

[2020-06-19 16:30] dac09 commented on #726
Solution above, closing :)

[2020-06-19 16:30] #726 closed

[2020-06-19 16:41] thedavidprice commented on #726
Thanks for this @dac09! It helps others when they are searching for similar issues.

[2020-06-19 16:58] jtoar commented on #722
@benjaminsehl Thank you for all the awesome and well-linked content in your comment. And it's definitely not just you. You got it exactly right with that blurb from the podcast. I think that bit really made people (myself included) want to know everything and more about services.

While I can't point you to any resources, I can assure you that docs are on the way!

Actually maybe there's one resou

[2020-06-19 17:00] peterp commented on #726
I think we should generate the client when we launch the dev-server. I know I removed the `db generate --watch` command, but I thought we did generate the database, I'll add it back.

[2020-06-19 17:27] jtoar opened #727 "Update Router readme with useLocation hook"
#650 just got merged and needs to be documented.

[2020-06-19 17:32] Terris commented on #727
I'll get a draft submitted today as #650 was my PR. :)

[2020-06-19 17:35] jtoar commented on #727
Thanks for taking this up! No pressure on the time horizon (today vs tomorrow, etc).

[2020-06-19 18:05] thedavidprice commented on #718
### Update
The steps are complete for all repos at this time.

However, we are leaving `master` active on `redwoodjs/redwood`, `redwoodjs/create-redwood-app`, and `redwoodjs/redwoodjs.com` for a few more days to let the dust settle on any nuanced issues and to work on transitioning links to files.

[2020-06-19 18:49] gizmoGremlin commented on #639
I'd like to work on this if no else is. I haven't written that many tests before.. so I may need some advice at some point :+1:  Cheers

[2020-06-19 20:12] cannikin commented on #639
@gizmoGremlin yes please! We've got lots of tests for the other generators so those should give you a great starting point. We just test that files were generated at the expected path and that the context matches against a file in the `fixtures` directory.

[2020-06-19 21:47] FiveBoroughs commented on #642
I've just tried setting up Firebase using the Generator and Doc.

A few things to report:
The `firebase-admin` package was not installed on the API workspace after the generator was run

The following line was added to the `auth.js` lib :
`const { email, uid } = await adminApp.auth().verifyToken(token)`
But the function name is `verifyIdToken` not `verifyToken`

The "Firebase Google sign-in" langu

[2020-06-20 07:22] peterp commented on #642
Thanks for the feedback @FiveBoroughs

[2020-06-20 18:27] gizmoGremlin commented on #639
@cannikin I'm having alot of trouble importing auth.js into the test file auth.test.js
Its throwing the following error at the import statement when I run yarn test:

The error  :                                                                                                                                              ●  process.exit called with "0"
@redwoodjs/cli:       209 |   } catch (e) {
@re

[2020-06-20 20:45] matthewcarlreetz opened #730 "File upload with apollo-upload-client"
I see that apollo upload client is in my `yarn.lock` file, but when trying to use `Upload` in `posts.sdl.js` I get

Is there some config that I'm missing? Can I somehow configure the apollo client terminating link?

Thank you

[2020-06-21 13:01] Tobbe commented on #608
Now that the PR(s) this one depended on have been merged, I'll take a look at this again. Most likely today or tomorrow

[2020-06-21 22:20] YeapGuy opened #734 "Name component files .jsx instead of .js"
Hey, I'm new around Redwood, and this is my first issue, so please don't be harsh on me.

I think that since Redwood is so naming opinionated, it should use the .jsx extension for React component files instead of .js.
This helps differentiate those files at the first sight and also helps IDEs understand them (like enabling Emmet abbreviations).

[2020-06-22 08:10] #642 closed

[2020-06-22 14:12] #494 closed

[2020-06-22 17:42] cannikin commented on #639
It could be the directory name...it should `__tests__` (two underscores before and after). I'm not a Jest expert, but maybe that's required for directory stuff to resolve properly?

[2020-06-22 17:52] gizmoGremlin commented on #639
@cannikin .. The test file(auth.test.js) is in a __tests__ folder already. Is that what you mean?

[2020-06-22 18:01] cannikin commented on #639
From that screenshot of the error it looks like the directory is just called "tests" without the underscores?

`@redwoodjs/cli: at Object. (src/commands/generate/auth/tests/auth.test.js`

Unless the error output removed the underscores? That would be strange...

[2020-06-22 18:05] gizmoGremlin commented on #639
Good point. That is really wierd. When I look at the directory structure in vscode its `auth/__tests__/auth.test.js`,  I don't know why that is..

[2020-06-22 18:41] cannikin commented on #639
Ahhh that explains it!

Question: how are you running the tests? You should be able to cd into `packages/cli` and run `yarn test` for the whole CLI suite, or `yarn test src/commands/generate/auth` and just run the tests in that directory.

[2020-06-22 18:47] gizmoGremlin commented on #639
I'm doing the former.. cd into packages/cli and running yarn test. I also just tried the latter and got the same result.

[2020-06-22 20:45] FiveBoroughs commented on #642
We may need some more work on this, I'm getting a lot of these errors:
![image](https://user-images.githubusercontent.com/40718516/85322530-0211f400-b4b6-11ea-93c2-5312a672065e.png)

If you browse the website without refreshing any page and the token expires (1h), the `verifyIdToken` function will throw an exception and the whole frontend will go into "Something went wrong" mode

[2020-06-22 21:00] cannikin commented on #639
Hmmm

Okay so let's start from scratch. If you take the component generator test and copy that, remove the actual tests, then just find/replace "component" for "auth", do you get the same error?

[2020-06-22 21:26] peterp commented on #642
Hmmm... Ok, I can take a look at how it's implemented on the client side.

[2020-06-22 21:27] peterp opened #738 "refresh auth tokens when they're invalidated"
Reference issue: https://github.com/redwoodjs/redwood/issues/642#issuecomment-647760704

[2020-06-22 21:40] gizmoGremlin commented on #639
If i'm understanding you correctly, I get the same error.
`●  process.exit called with "0"

      209 |   } catch (e) {
      210 |     console.error(c.error(e.message))

          |             ^
      212 |   }
      213 | }
      214 |

      at getPaths (src/lib/index.js:211:13)
      at Object.<anonymous> (src/commands/generate/auth/auth.js:11:36)
      at Object.<anonymous> (src/commands/gen

[2020-06-22 22:21] cannikin commented on #639
Oooo `getPaths` is a clue... you have to stub those out so that it's not actually accessing the filesystem to try and find things in an app that doesn't exist.

We do a default stub in cli/src/lib/test.js that mocks out locations for the `api` and `web` directories. I bet that one of the ones that the auth generator uses isn't in that list. Check out all the references for `getPaths()` in the auth

[2020-06-22 22:53] gizmoGremlin commented on #639
@cannikin  You sir are correct!...  the api object (in cli/src/lib/test.js ) consists of db,src,services,graphql,functions.... no lib!

[2020-06-23 00:32] cannikin commented on #639
Yep you can just add in your PR, we're always tweaking that test.js file.

[2020-06-23 00:39] gizmoGremlin commented on #639
Ok thanks for your help!

[2020-06-23 01:23] Tobbe commented on #608
I've got a branch up with a fix for this. I have not created a PR yet though, as the code depends on #732
Feel free to take a look at the code in my repo in the meantime if you want 🔍

[2020-06-23 05:29] noire-munich commented on #642
@FiveBoroughs I noticed it but it happens every few days or so on my app, because of code splitting.
I'd expect it to be a problem common to all Auth providers though and indeed a way to handle it in front would be awesome

[2020-06-23 08:59] Tobbe commented on #608
I refactored the code a bit, new commit here https://github.com/Tobbe/redwood/commit/e962bf4dfb29b4cf81a4201e630b203e65414274

[2020-06-23 12:57] zwl1619 opened #739 "yarn create redwood-app ./redwoodblog error"
[code]

[2020-06-23 13:40] gizmoGremlin commented on #639
@cannikin I still can't get it to work.  It throws the same error.

The error happens at `const API_GRAPHQL_PATH = path.join(getPaths().api.functions, 'graphql.js')`  in `src/commands/generate/auth/auth.js:11:36)` upon import into my test.

I took a look at the getPaths() function, It calls the `getRedwoodPaths()` function which returns a bunch of constants that seem to be well defined...
So, I'm

[2020-06-23 13:46] Tobbe commented on #739
@zwl1619 Did you try running it again? (So it wasn't just a temporary network connection glitch)
Can you access https://api.github.com/repos/redwoodjs/create-redwood-app/releases/latest in your browser?
Where are you running your commands? Is that Cmdr with a Cmd shell? If so, have you tried in Git Bash?

[2020-06-23 14:18] zwl1619 commented on #739
@Tobbe
1、 I can access  https://api.github.com/repos/redwoodjs/create-redwood-app/releases/latest .
2、 I tried 4 times with `cmder` .

I try it with  Git Bash, the result is as follows. And I find the reason, I can't access `https://raw.githubusercontent.com`, but I don't know how to solve it.
[code]

[2020-06-23 14:58] mikedklein opened #740 "Scaffold generator not generating scalar arrays in SDL"
So I am not sure if I am doing something wrong or if this is an issue. When I generate a scaffold for one of my types called a farm see schema:

[code]

The resulting SDL does acknowledge the string array:

[code]

This causes the error

[code]

Is this expected behavior and we should modify the sdl manually? Could I have setup something incorrectly?

Manually changing the SDL to:

[code]

fixes t

[2020-06-23 17:09] jtoar commented on #740
@mikedklein I think the reason is because we built our generators around SQLite and SQLite doesn't natively support scalar lists. What you could do instead is turn the field you're tying to make an array into its own model, and make a one-to-many relationship. Let me know if I misunderstood your problem though!

[2020-06-23 18:05] Tobbe commented on #739
You mean you can't access ttps://raw.githubusercontent.com/mcollina/undici/e5ec7ea989eef57a3456a005e7f5d945128b68e7/package.json ? Not even in your browser?

If that's the case, I'm afraid there is nothing Redwood can do about it

[2020-06-23 18:14] cannikin commented on #740
I wish I could say that was the reason the SDL generator isn't creating array syntax here, but really it's because I didn't even realize that WAS valid syntax until this issue! See my response here: https://community.redwoodjs.com/t/scaffold-generator-not-generating-array-in-sdl/794/4?u=rob

I'm not really sure what to do here...on the one hand we do start with SQLite and want a zero-config experi

[2020-06-23 18:18] cannikin opened #741 "Scaffold generator not generating arrays for relations"
Similar to #740 it appears the SDL generator is not properly generating the array syntax for `@relation` fields.

[code]

Is generating:

[code]

When it should be:

[code]

[2020-06-23 18:22] mikedklein commented on #740
One thing to note here is this is only valid for Postgres in general. MySQL doesn't even support this. Link, as provided by @jtoar, in the forum post [https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/models#lists](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/models#lists)

[2020-06-23 20:40] thedavidprice commented on #739
@zwl1619 this seems frustrating -- sorry you're having trouble right out of the gate. And @Tobbe thanks for your help here!

As a workaround, you _can_ run a manual installation using the template repo for create-redwood-app. Instructions here:
https://community.redwoodjs.com/t/how-to-manually-bootstrap-install-create-redwood-app/115

I wrote that article awhile ago but it looks accurate. Let me k

[2020-06-23 21:01] cannikin commented on #639
Hmmm...so it looks like auth.js is the only generator that accesses `getPaths()` in constants, not inside of a function. So something about the way we're mocking out `getPaths()` seems like it's not available in time for when the constants are trying to use the results?

@peterp Sorry to bug you, but do you have any ideas here? Background:

* We import `loadGeneratorFixture` from `src/lib/test` at

[2020-06-23 21:13] thedavidprice commented on #730
Hi @matthewcarlreetz! Sorry this one got lost a bit over the weekend.

Two quick things:
- I've never used `apollo-upload-client` and Redwood doesn't use it directly as it's a dependency of `graphql-tools`. So, unfortunately, we don't have any specific examples of implementation. BUT we do have an example using a different file upload service, which walks through API code that might be of help: ht

[2020-06-23 23:21] thedavidprice commented on #734
Hi @YeapGuy! One thing I can tell you about the Redwood community is that we're never harsh on anyone! (Even when it really seems like someone deserves it 😆). Just happy to be here and stoked you are too. Truly.

I'm surprised you're the first to bring this up. And the "Emmet abbreviation" case makes sense for sure. You _can_ use `.jsx` in your app if you'd like -- you'll have to change or not use

[2020-06-24 00:57] corymcdonald opened #743 "Prisma did not initialize yet, expected?"
👋 Apologies if this has been answered somewhere, I saw this issue pop up in some upgrades but wanted to document that it is happening following the normal "Starting development flow"

On a brand new clean install of RedwoodJS following the document guide below
https://redwoodjs.com/tutorial/installation-starting-development

I run into the following issue when running the server for the first time

[2020-06-24 01:00] corymcdonald commented on #743
Running the solution here worked for me - https://github.com/redwoodjs/redwood/issues/726

Should this be part of the initialization for a new project?

[2020-06-24 01:20] zwl1619 commented on #739
I use a proxy, it works now. Thank you.

[2020-06-24 01:20] #739 closed

[2020-06-24 01:25] thedavidprice commented on #743
Hi @corymcdonald! Thank you for checking in about this and sorry for the hassle. The intended use is for `yarn rw dev` to work out of the box regardless of Prisma already being generated. Last release included some updates per Prisma improvements, but we ended up breaking things.

We have a fix for this that's coming in our next release (v0.12.0), which should be out tomorrow.

Closing this issue,

[2020-06-24 01:25] #743 closed

[2020-06-24 01:36] corymcdonald commented on #743
Thanks David! Really appreciate it.

[2020-06-24 08:19] YeapGuy commented on #734
I see. Thanks a lot for the kind welcome as well as detailed explanation, although I don't think it's worth for me to go over all the hassle just to get a few IDE features and _fancy icons in VSCode:_
![image](https://user-images.githubusercontent.com/43749899/85520976-e61c6880-b603-11ea-8c66-557d21d7973c.png)

And about TypeScript: if you're planning to use .tsx files, it would make sense to use

[2020-06-24 13:44] zwl1619 opened #745 "Simple username/password authentication, which method should I use?"
There are 5 authentication providers here:  https://redwoodjs.com/docs/authentication
I want to use simple username/password authentication, and save users in my database.
Which one should I use?

[2020-06-24 14:29] Rosenberg96 commented on #741
I believe this can be fixed by adding a check for `field.isList` (not entirely sure here, but the DMMF will specify the correct key) and adding `field[]`  to the `query` returned to be used in the template. See: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/sdl/sdl.js#L30.

[code]

[2020-06-24 17:47] cannikin commented on #608
@Tobbe just merged https://github.com/redwoodjs/redwood/pull/732

[2020-06-24 17:51] cannikin commented on #741
@Rosenberg96 Thanks for tracking that down! That looks like it'll fix #740 as well!

[2020-06-24 18:04] cannikin commented on #745
None of these will save users in your database automatically, you'll need to set that up yourself.

I have a project that uses Netlify Identity for my login and here's how I go about creating a local user in my DB when someone signs in the first time:

[code]

So I'm getting the `name` and `email` out of the JWT that is getting passed to `getCurrentUser` and trying to lookup a user in my local dat

[2020-06-24 18:10] cannikin commented on #734
I was under the impression that JSX was just the JS-as-HTML syntax that makes up components, like:

[code]

But all of our components are actual Javascript, usually containing at least one function that happens to *return* JSX. In that case I think the extension should remain `.js` since that's what they contain.

If you wanted to store the JSX in a separate file and then import it and return it,

[2020-06-24 18:11] #740 closed

[2020-06-24 18:11] #741 closed

[2020-06-24 18:32] YeapGuy commented on #734
`.jsx` is just like `.tsx`, but for plain old JavaScript. `.tsx ` also obviously contains non-JSX syntax, the X at the end is just supposed to show it contains some JSX elements to help the parser, IDE or whatever else processes the code somehow, @cannikin.

[2020-06-24 18:49] cannikin commented on #734
All Tailwind, all the time! Building entire sites and not writing any custom CSS...

![Relaxing frog](https://media.giphy.com/media/9u1J84ZtCSl9K/giphy.gif)

[2020-06-24 19:41] mojombo commented on #745
@cannikin that would make a nice cookbook recipe doc, I imagine a lot of people wanting to do that exact thing.

[2020-06-24 19:49] Tobbe commented on #608
@cannikin Thanks for the merge. I've created a proper PR from my branch now. Please take a look

[2020-06-24 21:05] thedavidprice opened #750 "CLI: Hide Prisma update message"
The Redwood Framework manages the Prisma package installed version(s). However, currently when a developer is running Redwood CLI commands, and there's an available Prisma update, the command line will output a 'You should update Prisma now' message. This is not ideal because we don't want users to install different versions directly in their applications.

With Prisma v2.1.0, we can "turn off" th

[2020-06-25 00:49] thedavidprice commented on #718
Checked and updated permalinks across Framework, CRA, and .com repos.

Team decided to archive (not delete) `master` at this time. Concern is losing permalinks externally on Slack, Discord, Forums, and Twitter. Fingers crossed this is something GitHub is working on resolving for their own org transition. In the meantime, I set up a branch protection rule for `master` effectively blocking commits.

[2020-06-25 00:49] #718 closed

[2020-06-25 01:24] thedavidprice commented on #368
Hi @mohsen1 Might you still be available to help me work on this? It's moving up my priority list with increasing velocity (aka _acceleration_ ⚡️)!

[2020-06-25 01:31] zwl1619 commented on #745
in https://github.com/redwoodjs/redwood/issues/214 , @DanielKehoe said:

so , @cannikin  Will that save uses in Netlify Identity? Will it comes with costs?

[2020-06-25 01:45] cannikin commented on #745
Nope, if you use the Identity widget then a signup means the user goes into Netlify and counts against that 1000 users in the free tier.

I believe we have on the roadmap rolling your own authentication using your own database and a GraphQL call, but that will have the same simple `useAuth()` hook. If you didn’t care about `useAuth()` you could create your own right now on the web side pretty easi

[2020-06-25 02:29] mohsen1 commented on #368
Hi sorry I've been busy with other projects. Yes I can take a look at configuration

[2020-06-25 02:44] zwl1619 commented on #745
Could this feature be given the highest priority?

[2020-06-25 04:54] thedavidprice commented on #745
@zwl1619 maybe Auth0 or Firebase Auth is better for your needs? Auth0 offers 7,000 accounts free. For Firebase, there's more setup, but from what I understand there's no cost for web Auth: https://firebase.google.com/pricing

If you're interested in rolling your own authentication using the current Redwood Auth, here's a forum thread that covers a lot of what you'd need to do: https://community.re

[2020-06-25 07:14] peterp opened #753 "Determine why production CSS isn't minified"
https://community.redwoodjs.com/t/production-webpack-builds-css-incorrectly/803/2

[2020-06-25 07:58] peterp commented on #684
I think it would be easier to put it in a specific place - I like your suggestion of placing it in `web`, but maybe we could put it in `web/config/pluralizationRules.js`

[2020-06-25 09:58] xeloader opened #755 "Implement authentication client for a non supported third party API"
The current situation requires us to use a third party authentication api for one of our projects.

I'm wondering if it's possible to implement our own authentication client, that is completely custom for us. We would like to use the `Private` routes and `useAuth` hook throughout the project without having to use `react-router` for example.

Is it possible? I looked through the documentation for `

[2020-06-25 11:29] zwl1619 commented on #745
I have read the docs of Redwood Auth and the forum thread above.
Auth0 or Firebase or other third parties is inconvenient or can't be accessed in my country, so I need an independent auth system, which doesn't rely on third parties. And there are many people in my country,  it is easy over 7000 accounts.

[2020-06-25 16:17] cannikin commented on #718
@thedavidprice Should we do the same thing for the other repos?

[2020-06-25 16:29] cannikin commented on #684
Right now the only place it's biting us in the scaffold generators which are the CLI, not the user's web or api side. I don't think we have any other pluralization in the web or api side after your app is created. Maybe this just needs to be a flag you can set when generating:

    yarn rw g scaffold pokemon --plural=pokemons

And then we'll use that as the plural form, rather than generating it f

[2020-06-25 16:34] thedavidprice commented on #753
Adjacent issue: "CSS import order differs between dev and prod" #549

[2020-06-25 17:03] #727 closed

[2020-06-25 17:20] thedavidprice commented on #718
@cannikin

re: permalinks -- I _can_ think of instances where files and code for the Example Apps are being referenced (e.g. the Forum). So it would make sense to keep master around.

But I think we can safely delete master branch for:
- awesome-redwood
- playground-auth
- cookbook-third-party-apis
- netlify-plugin-prisma-provider

Want me to effectively "lock" master on the example apps? I can de

[2020-06-25 17:31] thedavidprice commented on #745
^^ this is really helpful for us to know @zwl1619

Did you take a look at the thread for configuring your own auth? If so, does it seem possible for you?

[2020-06-25 18:03] cannikin commented on #718
Sounds good to me!

[2020-06-25 18:04] jtoar commented on #755
Hey @xeloader thanks for trying out Redwood.

I'm pretty sure it's possible. The way we're able to support multiple providers already is via its plug-in architecture, so I think the idea is you'd basically following the instructions in the auth's [contributing section](https://redwoodjs.com/docs/authentication#contributing) without actually make it a part of redwood (that is, submitting a PR).

Yo

[2020-06-25 21:08] thedavidprice commented on #684
I think this is helpful, but should be prioritized as step 2. Step 1 would be to modify the generators so they fail gracefully, e.g. don't blow up on a word like "pokemon" and give a readable message with suggestion to use a different word for the model.

^^ As for handling specifics words (which will also be awesome for multi-language support), this makes the most sense to me. I think config is a

[2020-06-25 21:56] thedavidprice commented on #718
Done. Branch settings applied across the board. I deleted master for those mentioned above.

@peterp I'll let you handle deleting 'master' branch on playground-auth.

[2020-06-25 22:45] cannikin commented on #684
Makes sense, although if we're only releasing once a week we can probably get both the warning and the `--plural` flag done to ship together...

Yeah, I was thinking for some reason that we use the pluralization rules in the app itself (web and/or api) side but I don't think we do at this point. Again I'm used to Rails where those rules are used EVERYWHERE and so you need them configured app-wide.

[2020-06-25 23:51] thedavidprice commented on #684
@cannikin Ah, makes sense across the board. Especially the "introspecting" case.

[2020-06-26 07:41] FiveBoroughs commented on #745
Another option that I have been considering myself, is adding a 3rd party auth provider like netlify, auth0 and firebase but open source and self-hosted.

A few examples :
- https://github.com/FusionAuth/fusionauth-example-react
- https://github.com/ory/hydra
- https://github.com/keycloak/keycloak

[2020-06-26 09:23] koolamusic commented on #234
Maybe I could take a hit at writing type definitions for <Route>, <Link>, and <Private> at the moment

[2020-06-26 15:26] christianvargasforero opened #757 "Update the framework"
Hello team, I would like to know if there is any command to update my project.
I started it in version 0.10 and I see that 0.11 is already released. Is there a command to update me.

Thank you.

[2020-06-26 15:38] jtoar commented on #757
@christianvargasforero Hey, there is indeed:

[code]
If you're coming from an earlier version, sometimes you can't just use this command, but the [release notes](https://community.redwoodjs.com/t/redwoodjs-v0-11-0/774) for v0.11.0 say that for v0.10.0 --> v0.11.0, `yarn rw upgrade` is all you need.

But v0.12.0 is actually out now (here's the [release notes](https://community.redwoodjs.com/t/redwo

[2020-06-26 15:52] christianvargasforero commented on #757
@jtoar

There appears to be incompatibility between versions. Although my application is small, I could rebuild it in the new version, but there is a solution to this problem.

![Captura de Pantalla 2020-06-26 a la(s) 10 50 19 a  m](https://user-images.githubusercontent.com/11984387/85876200-f9ae0780-b79a-11ea-906f-328de94031e0.png)

[2020-06-26 16:01] jtoar commented on #757
@christianvargasforero I don't think anything will break necessarily, but those are pretty famous last words. :sweat_smile:

Backward-incompatible just means that there's features in v0.12.0 that won't work in earlier versions, not that the earlier stuff will break (we'd specify that in the release notes if we knew in advance).

I'll tag @thedavidprice to get a second opinion though.

[2020-06-26 16:42] willopez opened #758 "Use react-query for data fetching"
Hello, wondering if there are any plans for supporting [react-query](https://github.com/tannerlinsley/react-query) for data fetching? I have encountered issues with Apollo Client and its cache. Further, react-query reduces the amount of client-side state management necessary which reduces complexity.

[2020-06-26 17:11] Burnsy opened #759 "Adding Snyk To Redwood.js"
Whilst using Snyk VS Code Vulnerability scanning tool ([link here](https://snyk.io/security-scanner-vuln-cost/)), it shown me that there are a few vulnerability in redwood.

one example
![CleanShot 2020-06-26 at 18 09 38](https://user-images.githubusercontent.com/15834048/85883036-39471480-b7d8-11ea-8760-4005057b6723.png)

The tool has free tier but to what I understand an open source project can

[2020-06-26 17:21] peterp commented on #758
Hey @willopez, funny you should mention this, we're busy exploring ideas around replacing Apollo's Client for exactly the reasons you mentioned, and because we want to offer a smaller bundle size.

[2020-06-26 18:44] willopez commented on #758
@peterp great to hear, and the big bundle size of Apollo Client is another reason I don't like it. Also [SWR](https://github.com/vercel/swr) seems like a good library as well.

[2020-06-26 22:23] thedavidprice commented on #234
@koolamusic that would be fantastic! Looping in @peterp here.

Maybe open a separate Issue (linking back to this one) to get started? And definitely don't hesitate to let us know what questions + clarification + help you need along the way.

🚀

[2020-06-26 22:34] thedavidprice commented on #757
Thanks @jtoar

And hi @christianvargasforero! Excited you're diving into the Redwood waters with us.

That output screen you see is just the standard `yarn upgrade` output and I believe it's simply based on server. If you haven't already, you should definitely save the current state (e.g. commit) and backup DB if/as needed. Redwood works, but things can break between versions right now.

That said

[2020-06-26 22:37] thedavidprice commented on #759
[Dependabot](https://dependabot.com/)! (Now owned by GitHub)

Mohsen has been helping out with setup beyond GitHub standard security alerts: https://github.com/redwoodjs/redwood/pull/752

I’ve just been delayed to pull the trigger this week -- I'm taking time offline on vacation and didn't want to turn it one if I'm not here to clean up any potential mess 😬

Care to help us out as resident Dependa

[2020-06-26 22:37] #759 closed

[2020-06-26 23:16] christianvargasforero commented on #757
@thedavidprice
Thank you very much for your great work 🍻.
Effectively I worked the update manually, I will try to be more attentive to the update notes.

[2020-06-26 23:16] #757 closed

[2020-06-26 23:35] jeliasson commented on #534
+1 for this

I would personally prefer solution 1, i.e. expose the config problematically in `webpack.development.js`, as solution 2 will most likely have developers create a custom scripts in the root `package.json` to add those flags.

While we are on the subject of different host for the development environment. Have there been any talks of extending `redwood.toml`'s `browser` directive and add

[2020-06-27 01:38] jeliasson opened #762 "Auth Provider GoTrue renaming and re-arranging of overview in Auth docs"
As a follow-up to the additional feedback provided in #760;

Considering GoTrue to be part of Netify, to my understanding, I think it would make sense to rename the auth provider from `goTrue` to `netifyGoTrue` and at the same time re-arrange the Auth Documentation as order above, or equivalent.

This is obviously a low-prio thing, but thought I might bring it up :)

Ping @peterp
CC @thedavidprice

[2020-06-27 01:38] thedavidprice commented on #534
@jeliasson The state of our `redwood.toml` docs is a mess (but soon to be improved). The good news is that the behavior you describe above is already possible. You can config host and port, and then `yarn dev server` will open accordingly. Here's the code with all the options for config:
https://github.com/redwoodjs/redwood/blob/49c3afecc210709641dd340b974c86251ed207dc/packages/internal/src/config

[2020-06-27 01:46] thedavidprice commented on #534
@peterp It's fairly trivial to add "disableHostCheck" config to `webpack.development.js`. We could set it to `false` and then allow override via config. Questions:
- I'm mixed about solving this via `redwood.toml` config _versus_ good documentation + custom webpack config -- the amount of devServer configuration options are, as you know, fairly bottomless. But this does seem like a more-common-tha

[2020-06-27 11:28] Burnsy commented on #759
@thedavidprice Yes, I noticed Dependabot and that's why I also said about integration of Snyk as its another dev ops tool as well as its also to do with security of the project!

Yes snky does do dendency upgrade it also scans all dependencies for venerabilities  and can managed a automatic patch of them dependencies.

I will tag @lirantal  in this topic as he is there node security expert for snk

[2020-06-27 16:57] gfpacheco commented on #362
I know it's been a long time, but I just keep getting the same error, env vars do not work inside my prisma file.

I just created a redwood app with `yarn create redwood-app my-app` and if I run `yarn rw db save` this is the output:

[code]

This is the output of `yarn rw info`:

[code]

I know it might have nothing to do with Redwood, but does anybody have any thoughts on what could be causing th

[2020-06-27 20:07] Terris commented on #762
Hey @jeliasson  I may very well be confused here but I believe that GoTrue is just an API service layer and not exclusively associated with Netlify as an auth provider. For instance, I could setup GoTrue on my own server and pass it to Redwood Auth just as I would any other client. See, [GoTrue](https://github.com/netlify/gotrue).

Of course, the chances of this happening are slim-to-none but I do

[2020-06-27 23:26] brianespinosa commented on #514
@cannikin I think it would also be great to coerce the values to ISO when the form posts as well, otherwise I think we are just going to get errors for invalid DateTime values.

[2020-06-28 02:01] jtoar commented on #534
@jeliasson The doc David mentioned ([App Configuration](https://redwoodjs.com/docs/app-configuration-redwood-toml)) just just got a major update. I specifically added the bit about the browser's url opening to web's host and port to the [browser.open](https://redwoodjs.com/docs/app-configuration-redwood-toml#open) section. Do you find this doc useful? Let me know!

[2020-06-28 07:04] peterp commented on #534
@thedavidprice I'm +1 on informing this via documentation!

I would like to propose another solution; which is to allow some of our CLI commands to "forward" flags to the underlying application, everything in a command that's after `--` would be forwarded to the underlying command.

As an example:
[code]

I would like to extend this to prisma, eslint, and other commands that we "wrap" so that peop

[2020-06-28 08:34] jeliasson commented on #574
Just a sidenote. If you are not running [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10) on your Windows 10, you are missing out :v:

[2020-06-28 08:39] jeliasson commented on #762
You are completely right. I'll go ahead and close this issue, and thanks for the clarification on this.

[2020-06-28 08:39] #762 closed

[2020-06-28 10:40] Tobbe commented on #574
@jeliasson I still haven't intsalled the latest windows build, so I don't have WSL2 yet. Will wait to try it until I do.

[2020-06-29 11:45] #231 closed

[2020-06-29 12:40] peterp commented on #734
I personally don't think this distinction is helpful - since you might have a file that's mostly just javascript but has a tiny little bit of JSX in it and then you have to name it JSX.

[2020-06-29 17:36] cannikin commented on #514
Hmmm I'm fairly sure I tested this and Apollo actually accepts the format returned from that field and turns it into a date properly! But we should double check!

[2020-06-29 18:17] FiveBoroughs opened #766 "Sdl generator inputs mandatory even if they have defaults"
It could be interesting for the SDL Generator to recognize if a Schema Model field has an `@default()` attribute,
and if so not make the field mandatory with `!` in the sdl.js file.

For example:
[code]
Will generate :
[code]
But the desired out put would be :
[code]

[2020-06-29 18:18] Terris opened #767 "Auth generator needs a GoTrue provider argument"
By adding this issue I'm also raising my hand to complete the work -  just have a list going now and don't want to forget :)

Auth generator needs a GoTrue provider argument, the results of which would be similar to passing `netlify`, so I could use that as a jumping off point. Then:

- [x] yarn add gotrue-js (instead of netlify-identity-widget)
- [x] src/index.js imports GoTrue-JS
- [x] src/index

[2020-06-29 19:43] thebiglabasky commented on #529
Here is [another one](https://github.com/prisma/prisma-client-js/issues/153) where the bulk of the discussion happens

[2020-06-29 19:50] brianespinosa commented on #514
I was (finally) getting a chance to play around with Redwood this weekend and it wasn't, both in terms of either defining the input type directly, or using the `<DatetimeLocalField />` component instead. Technically dropping the Z from the time passed from the component does work correctly when posting from Apollo.

@cannikin I am happy to take this task actually, both in terms of jumping in to ge

[2020-06-29 20:08] cannikin commented on #514
Awesome! We've got a coercion function in the form helper in a PR now: https://github.com/redwoodjs/redwood/pull/749 Maybe you could ping @Tobbe and work together on adding that? Or wait for his to merge and then open yours afterwords?

[2020-06-29 21:23] cannikin opened #768 "New Feature Proposal: Data Migrations"
We have database migrations via Prisma Migrate, but no concept of data migrations—needing to change the data in the database programmatically (not the database structure itself) during a deploy.

## What is a Data Migration?

Let's say I have a blog with a `Post` model. `Post` has a `tags` field where we store a comma separated list of tags. After a while we decide that tags should really have the

[2020-06-29 21:31] cannikin commented on #766
In this specific case we should probably just add `updatedAt` to the list of ignored fields (currently includes `id` and `createdAt`)—ones that the SDL will not include in Input types for because it assumes Prisma and/or the database is handling those for you. I wrestled with adding it at the time I wrote the generator and decided not to. Whoops! 😅

But I agree we should add that functionality to

[2020-06-30 06:57] #574 closed

[2020-06-30 06:57] #767 closed

[2020-06-30 08:01] jtoar opened #771 "Make CLI arguments case insensitive"
In #769, there was some discussion of making arguments to the CLI case-insensitive. To quote @peterp:

It doesn't look like yargs has this feature built-in. Someone in https://github.com/yargs/yargs/issues/672 mentioned they use [`coerce()`](https://yargs.js.org/docs/#api-coercekey-fn) which sounds viable. But any other thoughts on this kind of change in general?

[2020-06-30 08:52] FiveBoroughs commented on #741
I just encountered the following issue :
[code]
Using the generator on a relation similar to your example, many to many:
[code]
Generated the following SDL
[code]

Commenting the line `tags: Tag[]` removes the error, but it was hard to trace.

Shouldn't the syntax be `tags: [Tag]` instead ?
Or is it because I need to import the Tag type ?

[2020-06-30 09:11] Rosenberg96 commented on #741
@FiveBoroughs, you are correct. I am sorry. I will correct this asap.

@cannikin see #772

[2020-06-30 11:16] leibowitz opened #776 "DB Introspection and model with underscore"
I have generated the prisma model schema using `yarn rw db introspect`. All went well, but because most of my tables name use underscore (**_**), I cannot generate the SDL.
[code]
When trying to generate the SDL for those models using the redwood cli, I get this error:

I guess this is due to the conversion to pascalcase in here:
https://github.com/redwoodjs/redwood/blob/49c3afecc210709641dd340b97

[2020-06-30 11:22] leibowitz commented on #776
Nevermind, I think I have a workaround.

Even though prisma allows underscore in model names:

It also notes:

Source: https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/models#naming-models

It's going to be fun dealing with all these tables and relations, but I guess this is more of a prisma migration tool issue than redwood, so I will close this Issue.

[2020-06-30 11:22] #776 closed

[2020-06-30 17:02] YeapGuy commented on #734
I think that's how it should be - that is how it works with TypeScript anyway. Naming every file which contains JSX `.jsx`, helps to distinguish between files which interact with the DOM and utility files - e.g. API calls.

This topic is definitely opinionated, but I wanted to see what the people of Redwood think about this, as I prefer the `.jsx` and `.tsx` naming scheme personally.

[2020-06-30 19:46] david-crespo commented on #570
I ran into the same issue on Mac while following the tutorial.

[code]

[2020-06-30 20:35] leibowitz opened #780 "Schema relations triggers errors in generated sdl"
I have two models in my schema:
[code]

Everything is working fine, until I add a relation between posts and users, and try to generate the sdl for them.

[code]

When running the sdl or scaffold commands, everything looks fine.
[code]

Until you start the server with:
[code]

Then this error appears in the logs:
[code]

This seems to cause the `/graphql` endpoint to fail. I managed to find the cu

[2020-06-30 20:47] leibowitz commented on #780
Just found out the issue was already pointed out in https://github.com/redwoodjs/redwood/pull/747

https://github.com/redwoodjs/redwood/issues/741#issuecomment-651655116

And apparently, already has a fix in this PR
https://github.com/redwoodjs/redwood/pull/772

All is well :D

[2020-06-30 21:41] cannikin commented on #741
Whoops! That one was my fault!

[2020-07-01 01:43] Terris opened #781 "Services can't be generated for a model called Media (because the plural is the same as the singular)"
This actually had me giggling a bit as it's a pretty goofy issue... but basically when I attempt to generate Service crud for a model called Media, it produces the findMany function (called "media") and then gets bogged down at the findAll function because it want to also call it "media", and rightly so!

Nonetheless, we should probably figure out what to do in these rare cases. ;)

[code]

And th

[2020-07-01 01:47] Terris commented on #781
Also the SDL doesn't produce the right queries block:

[code]
...should be something like:
[code]

[2020-07-01 03:54] jtoar commented on #781
Oh man, you should've been at the live stream that prompted infamous pokemon issue #684 (https://www.twitch.tv/videos/648101135?t=00h56m01s).

[2020-07-01 07:22] RobertBroersma opened #782 "[Testing] Replace hacky DB clearing with official Prisma method when available"
Discussion running over here: https://github.com/prisma/prisma/issues/742

Relevant piece of code:
https://github.com/redwoodjs/redwood/blob/main/packages/core/config/jest.setup.api.js

[2020-07-01 07:32] #780 closed

[2020-07-01 17:12] cannikin opened #784 "Upgrade to React Hook Form 6.0"
https://github.com/react-hook-form/react-hook-form/releases/tag/v6.0.0

I haven't looked into the details much yet but it's supposed to have a smaller package size, which we always like!

[2020-07-01 17:14] cannikin commented on #781
@Terris are you cool with closing this one and using #684 to track? Do you want to copy your examples over to that thread?

[2020-07-01 17:15] #526 closed

[2020-07-01 17:59] #781 closed

[2020-07-01 18:00] Terris commented on #781
Dupicate - #684

[2020-07-01 22:18] jtoar opened #785 "Add pretty-routes + sdl cookbook (or in the docs generally)"
It may be a good idea to give an example of configuring the sdl to work with pretty routes: https://discord.com/channels/679514959968993311/716252919875240007/727980699411546131

[2020-07-01 22:31] FiveBoroughs opened #786 "Service generator uses type as name instead of given name for relations"
Using the generator for the following Schema:
[code]
Will generate the following `services/profiles/profiles.js` :
[code]
Causing the following error, only when making a query that includes the picture:
[code]
The expected result would be :
[code]

[2020-07-01 23:29] jtoar opened #787 "Improving scaffold error output"
If scaffolding the first file (the sdl) fails, it might be clearer to _not_ say "Writing..." for all the other files.

![rw-scaffold-failure](https://user-images.githubusercontent.com/32992335/86299696-c19d2f00-bbb5-11ea-9a2f-ca1caf5b3ee7.png)

I think the original thinking was: the fact that we use a gerund should mean that nothing has actually been written (plus, there's no green check). But the

[2020-07-02 15:17] peterp opened #791 "Adds types to @redwoodjs/Router"
We would like to add type definitions to `@redwoodjs/router` instead of converting it to typescript. Once the types are added we can look into converting the package, but this gives us a quick path forward.

I'm using a combination of the documentation and the code to inform the types. It would be great to include as much documentation and examples in the type definitions as possible.

## Componen

[2020-07-03 09:59] quantuminformation opened #794 "Please add flag to not run yarn after ` yarn create redwood-app`"
Hey guys, just a unique use case here, my own)

I prefer to install node_modules manually if possible.

my context: https://youtu.be/v7-IwJ35xOE?t=811

[2020-07-03 19:55] aldonline opened #795 "Integrate http://github.com/decoupled/redwood-core (Language Server)"
I have been working on a [Language Server](https://langserver.org/) for Redwood.js.
The code is in currently in [a different repo](https://github.com/decoupled/redwood-core) (It was refactored out from Decoupled Studio).

Goals:

1. Primary: When a user installs the Redwood CLI, the language server should be installed too. This will allow Decoupled Studio (and eventually other tools) to reach into

[2020-07-04 08:37] peterp commented on #794
@quantuminformation That should be fairly straightforward to add, would you be open to creating a pull-request that adds `--no-yarn-install` flag?

[2020-07-04 08:42] quantuminformation commented on #794
yes sure

[2020-07-04 10:21] quantuminformation commented on #794
I tried to run `yarn rwt copy:watch` in root but I get this:

![image](https://user-images.githubusercontent.com/216566/86510518-a1a57f80-bdf0-11ea-8c2b-d911c418f6f8.png)

Anyway looking at the code is it ok to read the flag in the file create-redwood-app.js and then ignore the 2nd task in the array `Listr`

[2020-07-04 21:26] jtoar opened #797 "Is it good practice to have a seed.js .env file?"
While working on the Environment Variables doc (https://github.com/redwoodjs/redwoodjs.com/pull/229), I noticed we've got a Redwood app's `api/prisma/seed.js` setup to read an `.env` file in `api/prisma`:

https://github.com/redwoodjs/create-redwood-app/blob/fa59e843c94e67d6dbda01de2534da83516ffc39/api/prisma/seeds.js#L3-L5

[code]

The dotenv docs say it's [bad practice](https://github.com/motdot

[2020-07-05 00:13] Terris commented on #797
I don't think it applies here. That code is loading variables from the same env file used for the rest of the app and, too, I believe the seed script runs in its own "process" or, you might say, "deployment" which is true to the spirit of the original article from which that recommendation was derived. Actually, I don't think the premise in that dotenv readme is a completely accurate decipherment

[2020-07-05 04:33] cephalization opened #798 "Generators spitting out transpiled code"
After creating a few new pages just fine, all further generating (components, and layouts) produces transpiled code instead of jsx.

The command `yarn rw g layout primary` produces:

[code]

Here is my reproduction repo https://github.com/cephalization/features

I can't generate components nor layouts at the moment.

Here are is my info:

[code]

[2020-07-05 07:10] peterp commented on #798
Hey there @cephalization,

I just checked out your branch did the following:

[code]

Could you try do the following:

[code]

And then re-run the commands above?

[2020-07-05 07:23] peterp commented on #636
I believe that we've covered all the cases here.

[2020-07-05 07:23] #636 closed

[2020-07-05 07:24] #652 closed

[2020-07-05 07:26] peterp commented on #588
Can we close this off as we now understand why the canary releases are failing - and since we no longer do release candidates it shouldn't be a problem?

[2020-07-05 07:27] peterp commented on #403
@eurobob I believe that we've actually solved this, we just need some tests.

[2020-07-05 07:28] peterp commented on #190
@cannikin Since we now mock the Netlify identitty experience in development we can probably close this off?

[2020-07-05 12:47] cephalization commented on #798
Hmm still the same output. I also tried manually wiping all node_modules folder in root and each workspace but that did not fix it either.

Oddly enough, if I run `yarn rw build` the next generate command I run works correctly but then the following commands generate the babelified code again.

[2020-07-05 13:00] cephalization commented on #798
I've narrowed it down to it occurring if I run a generator from the `web` directory. It was just a coincidence that I navigated to root to perform a build that I generated a component from root as well and it worked fine.

[2020-07-05 13:06] peterp commented on #798
Woah, strange! And thanks for information, we can solve this fairly easily by setting the current working directory when running the generators

[2020-07-06 14:19] hatim-heffoudhi opened #802 "Using TypeGraphql to generate schemas instead of using gpl"
Hello,
It' will be a nice feature, if we can create a common model or just the model (input and types)  in typescript class adding some decorators to generate schema,  by using the library typegraphql

And with this you can share model between the API and the WEB part (in a module...)
[code]
with this, we can avoid boilerplate code and some duplicates...
With typeGraphql we can add some logic code

[2020-07-06 14:51] peterp commented on #795
Hey @aldonline,

I've slightly modified your suggested approach and done the following.

- [x] Created a new package called `@redwoodjs/project-model` #ff92117b4804c11593d9efd8258c23d57d4c49f8
- [ ] Install in `@redwoodjs/cli`

[2020-07-06 17:36] aldonline commented on #795
Hi Peter!
Thanks. That's a lot of work :)
I believe I should have emphasized the "pair programing" part a bit more. My bad. Let me elaborate:
I am working on a PR with this code and instead of just sending it your way I wanted to work on it together (hence the first item) to iron out some details (like code style), integrate the build, go over the code to make sure we were aligned, and talk about

[2020-07-06 17:53] aldonline commented on #795
Actually, nevermind. I just jumped to respond quickly as soon as I saw this but after looking at the code I think 1) you did a much deeper integration that I could have done (which is awesome, that's exactly what was holding me back from sending the PR) and 2) you added my GH handle to the commit title, and the issue is linked, so I think history is preserved.
So, we're good!
We should still sync

[2020-07-06 19:27] #717 closed

[2020-07-06 21:47] cannikin commented on #190
Oh yes!

[2020-07-06 21:47] #190 closed

[2020-07-06 22:11] #608 closed

[2020-07-07 08:18] Tobbe commented on #514
@brianespinosa My PR is merged now, so now would be a good time to start working on this issue, if you still want to tackle it. (No pressure if you don't. I'm sure someone else will get to it in that case. Just let us know 😀)

[2020-07-07 13:40] #502 closed

[2020-07-07 15:11] jeliasson commented on #431
I'm not sure which direction this will take ([The Serverless Framework](https://www.serverless.com/) vs maintaining deployment providers in Redwood) but here is some Azure specific on the topic.

Azures equivalent to AWS's Lambda and S3 is [Azure Functions](https://azure.microsoft.com/en-us/services/functions/) and [Azure Storage](https://azure.microsoft.com/en-us/services/storage/). If the deploy

[2020-07-07 20:58] #588 closed

[2020-07-07 21:45] cannikin opened #804 "babel-plugin-directory-named not available on API side"
I have two services, `contact.js` and `notes.js`:

![image](https://user-images.githubusercontent.com/300/86846935-67dab000-c060-11ea-9c76-6a8279f5af60.png)

If I attempt to import one of the functions from `contacts` into `notes` like this:

    import { contact } from 'src/services/contacts'

I get an error:

![image](https://user-images.githubusercontent.com/300/86846908-598c9400-c060-11ea-9dab

[2020-07-08 09:56] dthyresson opened #806 "Implement Role-based Authorization"
## Design and Implementation Goals

Role-baed authorization aims to extend the current design pattern defined in `useAuth` and routes and `AuthContextInterface` to enforce a check to see if the currentUser belongs to a role that is permitted access to a route, page, api side function, etc.

Note: role-base authorization is different that `permissions` or `plans` -- two other potential mechanisms o

[2020-07-08 10:22] peterp commented on #806
This looks great!

You mentioned that we "assume that the roles are set on the JWT", and whilst we can use those roles, I don't think we should need them to be required, since a user might define roles in their own database, we should require that the user returns a "roles" key via the api side's `getCurrentUser` function.

### Questions
2. I really like the `forbidden` route on `Private`, and I t

[2020-07-08 11:19] Tobbe commented on #806
I prefer `hasRole`. `is*` would work if we had `isAdmin` or `isSuperuser`, but you *have* a role, so `hasRole` makes more sense to me.

I think we should have both `unauthenticated` and `forbidden` as they're used for different things (not logged in vs not the required role)

[2020-07-08 11:41] dthyresson commented on #806
After a ☕ , and reading @peterp's comment:

[code]

I'm rethinking the JWT assumption.

It doesn't matter if the AuthClient's api auth implementation puts them on the root or on app_metadata (or maybe even user_metadata); that's its job to extract.

If `currentUser` has a key of `roles`, the auth implementation simply assigns the roles to that key.

If so, then I'll update that "assumption".

[2020-07-08 11:44] dthyresson commented on #806
@Tobbe

`hasRole` feels right to me as well.

And *I think* that's what GoTrue uses as well:

https://godoc.org/github.com/netlify/gotrue/models#User.HasRole

[code]

[2020-07-08 11:54] dthyresson commented on #806
The more I did into Netlify and GoTrue, it appears `roles` *are* on `app_metadata`.

This is maybe not the best example of using GoTrue or Identity, but it demonstrates Netlify's role condition redirects:

https://github.com/futuregerald/netlify-auth-example/blob/master/functions/auth.js

[code]

and then the toml enforces on a redirect:

[code]

So, Gerald seems to show here that Netlify will be

[2020-07-08 11:58] peterp commented on #806
Ok, let's go with `hasRole`, could we make it the same in `useAuth`: `const { hasRole } = useAuth()`?

[2020-07-08 13:40] peterp commented on #639
@cannikin I think that sounds reasonable for now, considering that we're going to make path testing much easier in the future.

[2020-07-08 15:30] dthyresson commented on #806
Updated main issue to reflect `hasRole` decision.

[2020-07-08 16:25] jtoar commented on #804
Tagging #641 just to keep things organized

[2020-07-08 17:25] peterp commented on #806
Ok, so I think a decent plan of completion could be the following:

### useAuth hooks (1st PR)

- [ ] add `hasRole` to the `useAuth` context.
- [ ] add a test for `hasRole`
- [ ] Update docs

### Router (2nd PR)

- [ ] Add `hasRole` to the `Private Route`
- [ ] Add forbidden prop.
- [ ] Update docs
- [ ] Update types

[2020-07-08 17:47] redstab opened #808 "Scaffold generated wrong sdl"
Scaffold generator produces faulty sdl. Arrays are inproper.

### Versions
`yarn rw --version => 0.12.0`
`yarn -v => 1.22.4`
`node -v => 12.16.1`

### Recreation steps

`yarn create redwood-app app`

**Edit api/prisma/schema.prisma**

Change datasource provider from 'sqlite' to 'postgresql'

Replace UserExample with

[code]
Run `yarn rw g scaffold Person`

Check the file api/src/graphql/people.sdl

[2020-07-08 19:18] cannikin commented on #639
@gizmoGremlin Doing this would involve changing the auth generator itself to not use `getPaths()` in those constants and only use it inside functions. 😕 I wouldn't blame you one bit if you want to pass on this one, it turned into something much bigger than I thought it would.

[2020-07-08 19:32] peterp commented on #804
I think there's another way to solve this:

[code]

You could then do something like this:

[code]

[2020-07-08 20:08] gizmoGremlin commented on #639
Yes, I'll pass on this one.. thanks for asking though

On Wed., Jul. 8, 2020, 4:18 p.m. Rob Cameron, <notifications@github.com>
wrote:

[2020-07-08 20:46] cannikin commented on #804
Hmmmmmmmmm is that weird though? Everywhere else (web) where you import something, you always import that component that you want to use in a traditional import statement...there's no top level `components` constant that you can access all components from. Would you think we'd do something similar on the web side like this, or is this only for services?

[2020-07-08 21:50] jtoar commented on #804
I don't mind being explicit about the imports. But do you imagine it getting to be too cumbersome at some point, like in `Routes.js`, where you're just importing just way too many services over and over again?

I'm not sure if my mental model of `api/src/lib` is correct, but I think of `lib` as something services use, so if we make services part of `lib`, it'd be pretty meta. Plus we still haven't

[2020-07-09 02:03] jtoar commented on #808
@redstab Thanks for such a thorough issue :rocket: having all the details down here like this really helps. We actually got this one fixed in #772, but just haven't had time to cut a new release including it yet. Expect it soon!

[2020-07-09 02:03] #808 closed

[2020-07-09 03:36] thedavidprice commented on #217
If you're looking for a way to handle pre-rendering for Redwood right now, @dac09 has paved the way. Here's his in-depth write-up on the forums:
https://community.redwoodjs.com/t/pre-rendering-with-react-snap-redwood/863

Also, if you haven't taken a look at Tom's recent proposal, the conversation is happening here:
https://community.redwoodjs.com/t/prerender-proposal/849

[2020-07-09 04:54] peterp commented on #804
@cannikin

Look at you becoming more JavaScript! Auto-imports are always weird and I don't think I would want to introduce them anywhere else. So let's scrap that suggestion.

@jtoar

I don't really have a mental model of what exactly goes into lib, but maybe we could put it in `src/services/index.js` and then you can just import from `src/services`

I'm trying to avoid is circular imports, which

[2020-07-09 06:29] jtoar commented on #804
@peterp Gotcha; keeping the vision in mind for services is super important, will shape the way we do this. I think I'm being influenced by this code block from Tom's recent [prerender proposal](https://community.redwoodjs.com/t/prerender-proposal/849) (code block + text included):

![rw-prerender](https://user-images.githubusercontent.com/32992335/87004351-20444900-c172-11ea-8553-556f23a8dd5b.png)

[2020-07-09 11:35] peterp opened #811 "Prompt users to "join the discussion" after installing Redwood"
I'm completing the installation of a new computer, and saw this prompt after install OH MY ZSH

![image](https://user-images.githubusercontent.com/44849/87034924-df3b4b80-c1e8-11ea-8403-8d50bde8d8f2.png)

It would be great if we could invite people to:
1. Signup to the newsletter
2. Just our discord and discourse

[2020-07-09 13:38] NickBolles opened #812 "Docs inaccurate statement"
I'm not sure this statement on the homepage is true:

Pretty sure an import for `db` is missing. If your going to explicitly claim that might as well add it :)

[2020-07-09 15:27] jtoar commented on #812
@NickBolles Before #334 we used to auto import `db` too! But very true, those days are behind us. Maybe we could add `import db ...` to the top and then say "we didn't omit any _other_ import statements..."

[2020-07-09 15:37] NickBolles commented on #812
Gotcha! Makes sense.

[2020-07-09 16:27] Rosenberg96 commented on #766
I took a shot at this without success. @cannikin you might have more luck given your insight. I will leave some notes here, if some one wants to pick this up. You could also add `good-first-issue` label here.

From `@prisma/client/runtime/dmmf-types.d.ts`

[code]

The property `hasDefaultValue` is true when the `@default(...)` decorator is set in the `schema.prisma`. However, the tricky fact is al

[2020-07-09 16:54] liberatiluca commented on #806
Hello everyone!

I have successfully used graphql-shield in Redwood and I would really like to have this baked in Redwood.

To give you an example:

in the graphql sdl export an object to define the permissions too:
[code]

new file lib/permissions.js:
[code]

in functions/graphql.js:
[code]

That's it!

I think that this is perfect with the role-based authorization suggested here.

Would you like

[2020-07-09 17:47] brianespinosa commented on #514
@Tobbe I have something started that came from your other branch already, but I will pull the latest in from our main redwood branch now in case there are changes.

I may need to submit a PR and then ping you for some help since there was something in there that was causing me some problems in the coerce function. I am guessing you'll be able to see right away what it is. I'll try to get that up t

[2020-07-09 22:27] peterp commented on #794
@quantuminformation Yup!

[2020-07-09 23:37] jtoar opened #816 "Provide alias "sb" for storybook"
"sb" is the alias that Storybook uses for many of its commands:

[code]

Adding this would mean we could start storybook like:
[code]

[2020-07-10 00:00] dthyresson commented on #806
@liberatiluca This does seem to fit role-based authorization -- at the enforcement side.

Seems to me that there are several places where "halting" or "obscuring" info or "conditionally" performing a task can be done if the user has/lacks the role:

### Web side

* Protect a Private route
* In a component, layout, or page present info to the user if he/she hasRole or not

### Api Side

* in requir

[2020-07-10 02:55] thedavidprice commented on #806
@chris-hailstorm looping you in if interested/available. Peter and I looked back through your initial docs as well.

[2020-07-10 16:47] cannikin commented on #766
I don't have the code in front of me but I imagine a check for `isRequired && !hasDefaultValue` should append the `!` on the type.

Right now we're automatically ignoring fields named `id` and don't add them to the `createInputSDL` and `updateInputSDL` but that should probably be updated to just look at that `isId` boolean instead.

And if we wanted to get rid of the manual ignore list altogether

[2020-07-10 17:04] redstab opened #823 "Sdl generator fails at json"
Scaffold generator produces faulty sdl. json is inproper, supposed to be allcaps "JSON" but is instead "Json".

### Versions
`yarn rw --version => 0.13.0`
`yarn -v => 1.22.4`
`node -v => 12.16.1`

### Recreation steps

`yarn create redwood-app app`

**Edit api/prisma/schema.prisma**

Change datasource provider from 'sqlite' to 'postgresql'

Replace UserExample with

[code]
Run `yarn rw g scaffold

[2020-07-10 22:21] redbar0n commented on #217
First, I really hope RedwoodJS suceeds, as I’m really excited about the DX (esp. the Cells and Services patterns).

Speaking of websites needing much dynamic & fresh data from a DB:

Speed-wise, does it matter if the client can get the HTML/JS fast from a CDN in 1st request, if the client then has to make a 2nd request to the API to get the data? When the client instead could have gotten everythin

[2020-07-11 05:25] Terris opened #825 "CoercedValues function in web/form breaks forms that include any direct child node without props"
https://github.com/redwoodjs/redwood/blob/96be36ab705ae5f7ec30262e2167e7bcb8ce4a87/packages/web/src/form/form.js#L190

This line is passing in direct children of `<Form />` to the coercedValues function. If any of these elements are not Inputs with name props, the form throws an error onSubmit.

To replicate, create a Redwood form that includes any direct children other than RW Inputs:

[code]
and

[2020-07-11 07:08] Tobbe commented on #825
I'll take a look at this as soon as I can

[2020-07-11 08:33] Tobbe commented on #825
I have a unittest that triggers this bug now; tbc

[2020-07-11 10:30] Terris commented on #825
@Tobbe Hey there. I put together some ideas for how we might be able to solve this over on my forked repo: https://github.com/Terris/redwood/pull/1

In a nutshell, I'm using the event api to target and iterate over the forms fields and to match field attributes with the proper function. I'm note sure it's what you were originally going for this is just some ideas. Thanks for helping me with this!

[2020-07-11 12:34] Tobbe commented on #825
@Terris I made a PR, can you please have a look?

[2020-07-11 17:04] RobertBroersma opened #827 "Implement Winston for logging"
Implement Winston for some more fine-grained logging control.
https://github.com/winstonjs/winston

Some messages suggested by @peterp :
- authentication header detected (provider)
- authentication header decoded
- getCurrentUser returned
- graphQL lifecycle methods?
- request body? response?
- sql statements?

@jtoar I guess logging and docs are quite intertwined. Any opinions on this or tips/sug

[2020-07-11 18:42] jtoar commented on #827
@RobertBroersma Not sure experienced here. I'd add environment vars to that list, maybe? And on the web side (this might really just be the api side though?), the lifecycle methods around Cells (`beforeQuery`, `afterQuery`) sound like good logging candidates.

But I don't think you're asking for more list items :sweat_smile: so I'll do some more research and report back.

[2020-07-11 18:54] jtoar commented on #827
Here is a short list of some relevant forum topics / GitHub materials

- [Logging for RedwoodJS](https://community.redwoodjs.com/t/logging-for-redwoodjs/625)&mdash;logging via https://logre.io/ and Apollo Server
- [Where is the server-side (API) console output or log?](https://community.redwoodjs.com/t/where-is-the-server-side-api-console-output-or-log/485)
- [@redwoodjs/api README](https://github

[2020-07-11 23:02] Tobbe opened #829 "Filename needed in import in tsx"
When I import a component in a `.js` file I only need to specify the directory name, like this
[code]

If I rename that file to `.tsx`, I have to change that import to look like this, to include the filename as well
[code]

I expected the imports to behave the same in .tsx files as in .js files

This issue sounds kind of similar to #804 except that one is only about the api side

[2020-07-12 12:11] ericxjohnston opened #830 "Issue: v0.13.0 of redwood generate auth CLI fails to add the getCurrentUser import"
Issue: Running `yarn rw g auth [provider]` in an app created by v0.13.0 of `yarn create redwood-app [directory]` fails to add `import { getCurrentUser } from 'src/lib/auth.js'` as part of the generator command to /api/src/functions/graphql.js

Previously, this worked in version v0.12.0.

The issue is happening because the Redwood CLI generate auth command looks for a `/^(.*importAll.*)$/m,` regex

[2020-07-12 19:52] jtoar commented on #830
@ericxjohnston Thanks for diagnosing this one :+1:, it made it really easy to provide the fix (I just opened #832 to close it). And this repo is the right one as the generator code is in the cli package.

[2020-07-12 20:25] ericxjohnston commented on #830
Awesome. 🎉 Thanks @jtoar .

[2020-07-13 04:25] jtoar commented on #829
Hey @Tobbe I can't reproduce this yet. But one error I did come across is if I renamed the file from `ProductCell.js` to `ProductCell.tsx` while the dev server was running, I would get an error (`no such file or directory...`). But it turned out that was because I needed to restart the dev server for the file rename to take effect.

I was just importing `ProductCell.tsx` in a Page, but were you do

[2020-07-13 08:40] Tobbe commented on #829
![image](https://user-images.githubusercontent.com/30793/87281230-4d3a8800-c4f3-11ea-98fe-936bbde2ab83.png)

![image](https://user-images.githubusercontent.com/30793/87281367-70fdce00-c4f3-11ea-8682-25bfaf102207.png)

This is in a freshly restarted VS Code session.

Actually building/running the project seems to work just fine, even with the shorter import. So I guess it's a VS Code config issue.

[2020-07-13 08:51] RobertBroersma commented on #827
Relevant Slack conversation:

`import log from '@redwoodjs/logging'`
// something deep in the bowels of redwood
`log.debug(`"auth-provider" header found with a value of ${provider}`)`
and then if I do something like DEBUG=* yarn rw dev
I would be able to see those messages
It would be great to filter them, but I think we need to determine a way to categorise the messages.
like: `DEBUG=api/* yarn r

[2020-07-13 08:53] Tobbe commented on #829
Hmm, maybe not just a VS Code issue after all. The autoimports for routes doesn't seem to be working for tsx files, even in the built project

![image](https://user-images.githubusercontent.com/30793/87283779-f4202380-c4f5-11ea-90aa-4a2f92443f38.png)

Changing the pages over to .js files and the autoimport works just fine

The project is now on RW 0.13.0, but it wasn't originally. It's an older pr

[2020-07-13 09:10] #816 closed

[2020-07-13 09:22] #830 closed

[2020-07-13 13:09] Terris commented on #825
Fix: #834

[2020-07-13 20:47] biphobe opened #837 "Setting `AuthProvider.isAuthenticated` to true despite failure to authenticate"
Failure to fetch data via `getCurrentUser` pushes (among others) this data to AuthProvider's state:
[code]
If app creator's implementation of `getCurrentUser` has thrown an exception or connection issue happened, then even if client's (e.g. Magic Link) authentication succeeded, application's server-side authentication has failed and this should be reflected in AuthProvider's state as, if I underst

[2020-07-13 21:06] Tobbe opened #838 "Tests timeout"
Running the tests for redwood core (`yarn test`) I often get a bunch of timeout errors, like these:

[code]

Is this a Windows issue? Or just my computer?
If I re-run the tests they usually don't timeout.

Am I the only one seeing this? Is it worth increasing the timeout from 5 seconds to something like 30 seconds?

[2020-07-14 09:22] #795 closed

[2020-07-14 09:45] aldonline opened #843 "Add option to read/output to memory from rw generate (instead of writing files directly to disk)"
* Current behavior: When running`rw generate...`, the CLI reads and writes directly to disk
* This makes it hard to integrate the generators with IDE environments. For example, if the user has open/dirty/unsaved files, having the CLI writing directly to disk can lead to conflicts (the dreaded: "this file was modified on disk, do you want to overwrite?" scenario).
* Proposed behavior: Add an option

[2020-07-14 10:35] Tobbe commented on #843
Clearly you're the IDE expert here, and I have no idea how the integration would work, but wouldn't it be easier/better if the generators also had an API, and were importable as modules?

How would you indicate *where* in the file this new content should go?

What would this do exactly? Revert all unsaved changes, and then apply the changes from the generator?

[2020-07-14 11:04] aldonline commented on #843
Yes absolutely. Having a programmatic API for generators would open even more doors.
But this one is necessary, and should be easy to implement.

I was suggesting the easiest way: Adding the "complete" content to the map. Always the complete content. No need to worry about diffs, insertion points, edits, etc. A new file and an edited file look the same in the map. The only way to know which is whi

[2020-07-14 19:53] thedavidprice commented on #843
@aldonline this problem and approach make sense to me. And personally I'd vote `--json`.

Looping in @peterp

[2020-07-14 20:10] thedavidprice commented on #838
@Tobbe I've seen this as well on my (older) Mac when I have several processes running at once.

I'm not sure about jumping to 30 but maybe try bumping to 10?

[2020-07-14 20:14] thedavidprice commented on #837
Ah @biphobe this is an important case/catch. Looping in @peterp to evaluate your proposal for the next steps.

But do know he's been heads down on several things — if you don't hear from Peter in the next day or so, I do recommend you move forward with this as a draft PR and request Peter's review at that time.

Huge thanks!

[2020-07-14 20:20] thedavidprice commented on #825
Hi gents! Thanks so much for collaborating on this -- I'd like to help make sure a fix is merged before our next release. Is this the current status:
- You've both decided this should be closed https://github.com/redwoodjs/redwood/pull/826
- And this one should be close https://github.com/redwoodjs/redwood/pull/826
- In favor of using this ==> https://github.com/redwoodjs/redwood/pull/834

??

Ple

[2020-07-14 20:22] Terris commented on #825
Yes, correct.

[2020-07-14 20:28] thedavidprice commented on #829
Hi gents. This functionality will come with the conversion to first-class Typescript and was a reason for Peter re-writing the Named Directory macro as a Babel plugin. It was my understanding the Babel plugin was going to apply this convention to TS but apparently there's another step required.

I'll comment now on #804 that TS should also be taken into consideration for both API and Web when impl

[2020-07-14 20:33] thedavidprice commented on #804
Discussion in https://github.com/redwoodjs/redwood/issues/829 reminded me that this convention/behavior should, and now can, be applied to Typescript as well. (Correct?)

So if possible suggesting we add TS support to this work when implemented.

[2020-07-14 20:35] Tobbe commented on #825
Agreed 👍

[2020-07-14 20:48] Tobbe commented on #838
Tried 10, but that didn't do it. Had to increase to 15

[2020-07-14 20:55] aldonline commented on #843
There are two ways to implement this.

1. Edit the generator code and add an abstraction that handles all access to the filesystem. In other words, extract all the calls to the "fs" module. This way we can pass our own "fs" abstraction. This is the most solid way, but it requires significant effort. **(<-- this is the preferred way)**
2. Leave the code as-is and use a library such as `proxyquire`

[2020-07-14 20:58] Tobbe commented on #843
Just wanted to link this forum topic reply from Tom where he said he wasn't a fan of json on the command line
https://community.redwoodjs.com/t/scaffold-textarea-s/800/11?u=tobbe

Not sure if it's relevant here or not...

[2020-07-14 21:42] aldonline commented on #843
The hard part is intercepting the filesystem calls. The rest is just the API to surface this feature. I'm just trying to provide a starting point that lets us get this done quickly.
A lower level API to generators is even better, but it will take longer.

In the end, the point where the IDE will call this is roughly [here](https://github.com/redwoodjs/redwood/blob/1845c2372efb583155d9f483bdbd4100f

[2020-07-14 22:06] Tobbe commented on #843
Sorry if I was sounding negative and/or annoying. That was not my intention. I'm super excited about what this will bring to my IDE. Can't wait to generate pages, cells etc straight from VS Code 👍 😃

[2020-07-15 00:14] Tobbe opened #846 "Lambda functions don't support sub-paths on localhost (but they do on Netlify)"
I have `api/src/functions/hello.js`
[code]

Accessing http://localhost:8911/hello I get
"Hello from /hello"

Accessing http://localhost:8911/hello/world I get
"Cannot GET /hello/world"

However, if I deploy to Netlify and access https://my-app.netlify.app/.netlify/functions/hello/world
"Hello from /.netlify/functions/hello/world"

I expected local behavior to match deployed behavior

[2020-07-15 04:07] aldonline commented on #843
Hey Tobbe! You're not sounding negative at all. This debate is great for the definition of the feature. The specification is starting to take shape as the thread evolves, and forcing me to defend some of these ideas helps me externalize some thoughts that I might have skipped over. In the long run, this will save us time ;)

[2020-07-15 05:30] peterp commented on #843
+1 for `--json`! This would also make testing much easier.

[2020-07-15 05:37] peterp commented on #846
We should definitely add support for this, here are some steps:

- [ ] Determine how many levels on nesting is supported on netlify, vercel, etc.
- [ ] Make the [import code](https://github.com/redwoodjs/redwood/blob/1845c2372efb583155d9f483bdbd4100fa141deb/packages/dev-server/src/watchApiSide.ts#L28-L31) support nested subdirectories.
- [ ] Make the [various parts](https://github.com/redwoodjs/re

[2020-07-15 05:43] #838 closed

[2020-07-15 09:37] Tobbe commented on #846
Yes and no.
This is not what this issue is about, but you're still kind of right 🙂
The base dir is `functions/` and adding a `functions/hello.js` file sets up a lambda function at http://localhost:8911/hello This works properly today.
Adding a `functions/hello/hello.js` file should also set up a lambda function at http://localhost:8911/hello This is the only valid subdir case.

Both ways of doing

[2020-07-15 09:41] Tobbe commented on #846
I have only tried Netlify, and I think it's pretty much unlimited.

https://MY_APP.netlify.app/.netlify/functions/hello/a/b/c/d/e/f/g/h/i/j/k/l/m/n/o/p/q/r/s/t/u/v/w/x/y/z
Hello from /.netlify/functions/hello/a/b/c/d/e/f/g/h/i/j/k/l/m/n/o/p/q/r/s/t/u/v/w/x/y/z

[2020-07-15 10:49] Tobbe commented on #846
I'm looking in to this. Expect a PR in a bit

[2020-07-15 11:30] peterp commented on #846
Thanks for looking into this Tobbe!

I don't think we should make our implementation directly match what Netlify supports since we want to be "deployment agnostic", and I can definitely see someone attempting to use `src/functions/hello/index.js` and wanting it to work locally, but then it won't work on Netlify.

So, we need to come up with something that makes sense from a DX perspective to suppo

[2020-07-15 11:47] Tobbe commented on #846
Vercel does nested dirs (and dynamic path segments using specific file names)
https://vercel.com/docs/v2/serverless-functions/introduction#path-segments

Not sure really how RW should support all the different hosting options...

[2020-07-15 12:38] guledali commented on #802
Those duplicates you mentioned becomes a hell on large project, you should also mention this https://www.npmjs.com/package/typegraphql-prisma

[2020-07-15 13:02] peterp commented on #846
Ok, so for now could we do the following:

[code]

[2020-07-15 13:28] peterp commented on #846
After some synchronous discussion with Tobbe I finally grasp what he's talking about, in retrospect I don't know where I go off the beaten path.

@Tobbe This seems totally reasonable.

[2020-07-15 13:38] Tobbe commented on #846
I've been playing around with Vercel's implementation of lambda functions for the last hour...

As I wrote above, they do directory routing inside /api
So to be able to handle requests to my.domain.com/api/a/b I need a file at /api/a/b.js  (or /api/a/[dynamic].js)

What I want is to be able to have a file handle all sub routes to that file. It's possible out-of-the-box on Netlify, but not with RW

[2020-07-15 14:01] Tobbe opened #849 "lambda functions can't be placed in sub directories"
This issue is a spin-off of #846

On Netlify, if you want to have the serverless function `hello` you can either have the file `functions/hello.js` or `functions/hello/hello.js`

Redwood currently only supports the first of those two options (`functions/hello.js`)

This issue is about adding support for the second way of doing it as well. Plus, possibly, `functions/hello/index.js`

All three optio

[2020-07-15 15:08] Tobbe commented on #849
Potential steps brought over from the linked Issue

- [x]  Determine how many levels on nesting is supported on netlify, vercel, etc.
 Netlify: Only one level. Vercel: Unlimited
- [ ]  Make the [import code](https://github.com/redwoodjs/redwood/blob/1845c2372efb583155d9f483bdbd4100fa141deb/packages/dev-server/src/watchApiSide.ts#L28-L31) support nested subdirectories.
- [ ]  Make the [various part

[2020-07-15 17:11] #786 closed

[2020-07-15 23:46] #825 closed

[2020-07-16 07:22] RobertBroersma opened #851 "Add jest.config.js when running yarn rw upgrade"
Soon #805 will be released, which will require the user to create `jest.config.js` for every "side" they want to run tests for.

@Tobbe had a great suggestion:

@thedavidprice Can we? Should we?

[2020-07-16 18:02] thedavidprice commented on #851
Ah, this leads to some questions I had about #805 and wanted to discuss further:
1. is the (now merged) PR backward compatible? E.g. if we release v0.14.0 today and people upgrade, can they still run `yarn rw test`?
2. For new installations, should the config be included in the CRA template? (If so, is it already added?)
3. had a question about docs but saw this https://github.com/redwoodjs/redwoo

[2020-07-16 18:04] cannikin commented on #768
![Fine, I'll do it myself](https://i.giphy.com/media/sRGUfdb6sNwn1lXRp9/giphy.webp)

[2020-07-16 18:31] RobertBroersma commented on #851
@thedavidprice

1. No. They'll need to create the Jest configs.
2. Yes! No, it's not added yet. Good one, totally forgot about that.
4. I don't think so.

Regarding adding the code with `yarn rw upgrade`:
Reading all this I think I may have merged a bit recklessly 😬

If you're looking to release soon, we could consider reverting the PR and adding the modding stuff to it?

Agreed about all the othe

[2020-07-16 20:38] peterp commented on #837
@biphobe Thanks for the detailed bug report and a fix!

[2020-07-17 00:03] thedavidprice commented on #851
^^ ha! I wouldn’t say "recklessly". We're definitely all LearningTogether™ and this probably just highlights the need for creating some rough list of things to have in the back of our mind with each PR: docs, backward compatibility check, CRA template, a final summary of code being merged, etc. TBD

There's no release coming today or tomorrow, so I'd say we're good moving forward with a plan — may

[2020-07-17 01:50] david-crespo commented on #570
Ran into this again on Linux with Redwood 0.13:

[code]

[2020-07-17 08:39] RobertBroersma commented on #851
Sounds like a plan!

I think we can automate a bunch of the checks you mentioned, but I digress...

I'll add those configs to the template repo!

[2020-07-18 15:12] biphobe opened #859 "Passing explicitly imported components to `Route.page` breaks css injection order"
Given this setup:

- NotFoundPage .js
[code]
- Routes.js
[code]
- index.js:
[code]

Then the css injection order in which css file contents are being put as <style> tags in the document header would be following:
1.  index.js > index.scss
2.  NotFoundPage.js > NotFoundPage.scss

If, however, we omit the Page autoimporting that happens behind the scenes and import the component which is being used

[2020-07-18 16:11] biphobe opened #860 "Styles injected via Component don't get unloaded upon component unmount/route change"
Styles which are being loaded from component's `import "./style.scss"` into the document's header don't get unloaded upon component's unmount or route change.

This means that every style import from each rendered component stacks up and leaves as many `<style>` tags in header as many were requested since the application loaded, no matter if the component which loaded the style is rendered or not.

[2020-07-19 01:16] Tobbe opened #861 "Extremely slow start up on Windows"
`yarn rw dev` on my Dell XPS 15 9550 (16 GB ram) running Windows 10 is extremely slow. Other Windows users seems to be reporting similar problems on our Discord server.

So I added some timing logs to the `dev` cli command, and this is what I got

[code]

[code]

[code]

Clearly what's taking time is shutting down stuff. Actually starting the dev server only takes 3 - 4 seconds (timing not shown a

[2020-07-19 10:18] Tobbe commented on #861
From `dev.js`

[code]

`shutdownPort(api) execution time: 164.571`

What is it even doing for almost three minutes? I added timing to `shutdownPort()` as well

[code]

`killPort execution time: 0.012`

And that printout comes almost immediately.
So something is stalling for almost three minutes after the last `console.log` in `shutdownPort` and before the `console.log` in the `dev.js` snippet I sh

[2020-07-19 10:27] Tobbe commented on #861
This looks relevant https://github.com/tiaanduplessis/kill-port/issues/43 A fix was released just 4 days ago. I'll try to upgrade that package and see what happens :)

[2020-07-19 10:33] Tobbe commented on #861
kill-port 1.6.0 was using `netstat -ao`

[code]

kill-port 1.6.1 is using `netstat -aon`

[code]

From 4m13s to 1s!

[2020-07-19 10:39] peterp commented on #861
WOOT! @Tobbe that's amazing work!

Could you bump the dependency and open a PR?

[2020-07-19 10:43] jeliasson commented on #861
@Tobbe Whoa! That speed change.
From what I can tell, the `-n` flag will simply not resolve the names during lookup. For the purpose of killing a listening port, it makes sense to not resolve the underlying names. I know that `netstat` can be a bit slow, especially when resolving names, but I did not imagine it being that slow.

Great find!

[2020-07-19 10:54] Tobbe commented on #861
`yarn rw dev` with latest version of kill-port

[code]

1253.326 sec (previous worst-case) to 0.345 sec 😁

[2020-07-19 14:52] dthyresson opened #864 "Redwood CLI Function Generator default body can return HTTP 502 Bad Gateway when deployed to Netlify"
I generated a new function, let's say it is called "my":

`yarn rw g function my`

and I get the function: `my.js`:

[code]

which is the template:

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/function/templates/function.js.template#L4

But when deploying to Netlify, having the body not `JSON.stringify`-ed can result in `502 Bad Gateway` errors due to a "Netli

[2020-07-19 17:37] biphobe opened #866 "`useLazyQuery`/`useSubscription` Apollo hooks are not being exported in web"
I'm refering to [these hooks](https://github.com/redwoodjs/redwood/blob/main/packages/web/src/index.js#L4).

Currently module exports `useQuery`, `useMutation`, `useApolloClient` omitting `useLazyQuery`/`useSubscription` which are available to import from `@apollo/react-hooks` ([docs](https://www.apollographql.com/docs/react/api/react/hooks/)).

It's possible to get around this with existing `useA

[2020-07-19 17:44] biphobe commented on #837
@peterp Glad I could help. It's good that I hesitated with creating a PR after @thedavidprice comment since I see that you've assigned yourself. Good luck!

[2020-07-20 22:49] thedavidprice opened #868 "update Yargs command details for `yarn rw test`"
The behavior for `yarn rw test` has been updated and new options added. The `yarn rw test --help` output needs to be updated.

_Corresponding doc update Issue https://github.com/redwoodjs/redwoodjs.com/issues/254_

Here's the current output:
[code]

[2020-07-21 03:11] Tobbe opened #870 "Missing dependency lodash-decorators after `rwt copy`"
After building RW and copying it over to a project I get an error about a missing dependency

[code]

Is anyone else seeing this? Or is it just me? Is it (yet another) Windows issue?

I can work around it by going in to `node_modules/@redwoodjs/structure` and running `yarn install`, but that only fixes it until I run `rwt copy` again

[2020-07-21 06:34] #846 closed

[2020-07-21 06:35] #861 closed

[2020-07-21 09:00] biphobe commented on #866
Resolved with https://github.com/redwoodjs/redwood/pull/865.

[2020-07-21 09:00] #866 closed

[2020-07-21 11:35] janimo opened #871 "firebase-admin not installed"
The Firebase generated code uses this package, but it's not added to the api workspace. (version 0.14.0)

[2020-07-21 13:21] peterp commented on #870
I haven't noticed this myself - could you try `yarn install --force` in your redwood framework?

[2020-07-21 13:24] #341 closed

[2020-07-21 13:52] #823 closed

[2020-07-21 14:12] Tobbe commented on #870
In `~/dev/redwood/redwood` (framework dir)
`yarn install --force`
`yarn build`
`yarn test`

Everything works fine

In `~/dev/redwood/redwood-testing` (project using rw)
`yarn rwt copy ../redwood`
`yarn rw test`

And I still get that same error as posted above

[2020-07-21 14:19] dthyresson commented on #870
FYI - I am seeing the same error w/ exact same behavior/steps.

[2020-07-21 14:28] dthyresson commented on #870
What I have to do is:

in my local redwood fork:

* `yarn build`

in my local redwood app:

* `yarn rwt copy ..path`
* `yarn install --force`
* `yarn rw dev`

and after each time I `copy` I have to `install --force` (a simple `yarn install` doesn't work)

[2020-07-21 14:31] peterp commented on #870
Hmpf... Wouldn't `yarn install --force` in your project directory overwrite the things that `yarn rwt` copied over?

[2020-07-21 14:32] peterp commented on #870
@Tobbe Have you created the required `jest.config.js` files for `yarn rw test`?

[2020-07-21 14:33] dthyresson commented on #870
Oh .. 🤦‍♂️ ... of course ... no wonder it works. ;)

I have created `jest.config.js` in web and api as well.

[2020-07-21 14:41] peterp commented on #870
Super weird, does this happen when you try to run `yarn rw dev` as well?

[2020-07-21 14:45] dthyresson commented on #870
Yes.

I am rummaging through the packages  ... I don't fully follow everything ... but would `core` need to have `structure` as a dependency?

`core`'s package.json

[code]

of `dev-server`'s?

[2020-07-21 14:47] peterp commented on #870
It should be a dependency of cli

[2020-07-21 14:48] peterp commented on #870
have you upgraded to v0.14.0?

[2020-07-21 14:56] dthyresson commented on #870
Last night I `yarn rw upgraded` my local dev app to v0.14.0, can see it is using:

[code]

and then this morning I fetches my fork of `redwood` to latest:

* I see code for the new diagnostics CLI command
* and my `core` package has

[code]
And then that's what's being copied over

and I see same:

[code]

So. I think so.

[2020-07-21 15:17] peterp commented on #870
Just a heads up that I'm able to reproduce this now.

[2020-07-21 15:22] peterp commented on #870
A temporary work around is to installed it as a dev dependency: `yarn add -DW lodash-decorators`

[2020-07-21 16:02] peterp commented on #871
Could you open up a pull-request to add it over here? https://github.com/redwoodjs/redwood/blob/e88cc88b587086f647d82efea4a1f471f67f8465/packages/cli/src/commands/generate/auth/providers/firebase.js#L25

[2020-07-21 16:04] peterp commented on #868
Maybe we could copy these directly from `jest?`

[2020-07-21 16:06] peterp commented on #864
That seems reasonable to me!

[2020-07-21 16:21] peterp commented on #9
I think most of these are now covered.

[2020-07-21 16:21] #9 closed

[2020-07-21 16:24] peterp commented on #328
@thedavidprice Are we OK to close this one off now?

[2020-07-21 16:37] Tobbe opened #872 "imports not working when done through tests"
## Reproduce

Install fresh RW 0.14
`yarn rw g page post`
`yarn rw g layout post`

Modify PostPage to include PostLayout, and wrap everything in the layout

[code]

Run all tests with `yarn rw test`

## Expected

All tests pass

## Actual

[code]

## Note

I need #869 first, before I can actually get this far.

Actually running the app with `yarn rw dev` works fine. No problems with the imports