[2021-05-29 00:18] LBrian commented on #1460
This is the same issue @dthyresson mentioned in #2362 regarding `queryString` matching and the root cause is `matchPath` doesn't take `location.search` into account, we should be able to tackle this in #2362 as a whole.

[2021-05-29 01:08] LBrian commented on #2362
Quickly looked into the code base and tested it, this is my draft proposed solution, **I will wrap it up and create a PR later this evening** as I will need to test more scenarios and ensure this is robust

We should pass `location.search` to `matchPath` as well
![Screen Shot 2021-05-29 at 10 59 08 am](https://user-images.githubusercontent.com/3888780/120053330-eff8e800-c06c-11eb-80f0-e0824bd67092

[2021-05-29 16:13] cjreimer commented on #2639
@dthyresson, I like your idea!  I, too, found that a few more granularity options in the generators would be helpful as features and attributes get added to the codebase.  I found myself temporarily renaming files so I could run the generators and then put the files I didn't want to be overwritten back.

For me, the `--update` flag is not clear that it will only update the actual SDL file.  What i

[2021-05-31 13:16] rminami commented on #2640
Hi, I encountered this problem as well.

The issue mysteriously went away when I upgraded my Redwood JS to version 0.32.2 (if you started at the example repo at the beginning of part 2, you're probably on 0.31.2).

I'm still not sure what the issue was, since within Storybook we should be getting our props from `standard` at `CommentsCell.stories.js` and not be making any GraphQL calls, but this m

[2021-05-31 18:52] cjreimer opened #2682 "db seed on Canary 0.32.3-canary.57"
On canary 0.32.3-canary.57 the db seed command no longer works for me.  I simply get the following successful message, without any execution of the code:
[code]
If I rollback to redwood 0.32.2, it works again.

Note I am running on windows with powershell (have tried git bash as well).  The database is currently sqlite.

HOWEVER, I just started to deploy on render.com, and I seem to be able to db

[2021-05-31 21:12] ashrays commented on #2640
@rminami I think you are right. just noticed the version. Let me try and do the tutorial from 0.32.2 and close the issue.

[2021-06-01 03:15] KrisCoulson commented on #2121
@peterp @Tobbe @jtoar im working on a few of the router tickets. What's the call on this ticket? I we just spreading ```{...pathParams, ....searchParams }``` or do we want to go with separate params. There are a few tickets in the Router Epic #2567 that would depend on what we choose here.

[2021-06-01 04:31] Tobbe commented on #2121
My preference would be to switch them around: `{ ...searchParams, ...pathParams }`

[2021-06-01 08:52] KrisCoulson commented on #2121
Yeahh woops yeah pathParams should overwrite searchParams

[2021-06-01 12:20] LBrian commented on #1460
PR #2683

[2021-06-01 12:25] LBrian commented on #2362
@dthyresson PR #2683

@jtoar @jvanbaarsen After deep dive into the code, I am suspecting adding partial match to `NavLink` could potentially complicate the logic as we will need to consider search parameters too (aka `queryString`), could introduce more bugs and not easy to maintain. I will suggest to lower the priority fo this requirement for the moment and revisit once we have more use cases.

[2021-06-01 12:48] Tobbe opened #2684 "Prerender failure stops migrations from running"
When deploying (at least to Netlify) and prerendering fails during build, that stops Prisma migrations from running. But the build as a whole still says everything is alright, so Netlify goes ahead and publishes the deploy. But without prerendering, and code that's not in sync with the DB (since the migrations haven't run), everything is very broken when trying to use the deployed app.

Here's the

[2021-06-01 16:33] Tobbe opened #2685 "Error replacing existing auth provider"
I tried to setup supabase auth

[code]

It correctly detected that I already had an auth client, and asked me to run the command again, with `--force`, so I did. But even with `--force` it fails.

[code]

The project is currently using goTrue auth

I'm not on the latest version of RW, so sorry if this has already been fixed

[code]

[2021-06-01 16:56] #2069 closed

[2021-06-01 18:09] peterp commented on #2685
I wonder if we need something like https://github.com/facebook/codemod to match "what to replace and where" instead of using regex?

Is the root cause of this issue that we're matching the incorrect thing?

[2021-06-01 20:35] thedavidprice commented on #2682
@cjreimer We're taking a look at this. It's possible that Prisma v2.23 has a related Windows-specific bug. Not confirmed yet.

Which version of Node.js are you using locally? `yarn rw info` will print system versions.

[2021-06-01 20:43] cjreimer commented on #2682
Thanks David.  The output from `yarn rw info` is as follows:

[code]

[2021-06-01 21:20] o0charlie0o opened #2690 "Netlify functions failing with missing dependency"
We recently upgraded from `0.28.4` to `0.32.2` and noticed our functions except for the main graphql one now fail with the following error:

I've retested everything on `0.28.4` again and it works just fine. I will incrementally test each upgrade from `0.28.4` to `0.32.2` to find which version introduced the issue but just wanted to open this now to hopefully start a discussion. We are really look

[2021-06-01 21:30] Tobbe commented on #2685
@peterp I don't think that's the the only thing.

After I got that error message I removed everything auth related from `App.js`, and re-ran the command, again with `--force` and *then* it started to complain about regex mismatches.

[2021-06-01 21:36] thedavidprice commented on #2682
Got it. And looks good @ v14.

Still no other updates on this end.

[2021-06-01 21:47] thedavidprice opened #2691 "CI Canary publishing is failing"
Starting with #2637, our automated canary publishing [has been failing](https://github.com/redwoodjs/redwood/actions/workflows/publish-npm-canary.yaml). I don't see anything suspicious in the PR #2637 but would appreciate others taking a look.

The related GH Workflow file is [here](https://github.com/redwoodjs/redwood/blob/main/.github/workflows/publish-npm-canary.yaml). And the script it runs is

[2021-06-01 21:49] thedavidprice commented on #2691
^^ @peterp @dac09

[2021-06-01 22:58] dthyresson commented on #2682
Hi @cjreimer The issue @thedavidprice notes is https://github.com/prisma/prisma/issues/7268 which Prisma says may be related to https://github.com/prisma/prisma/issues/7176

According to the issue poster, they had to revert to 22.1 on Windows as well.

[2021-06-01 23:16] thedavidprice commented on #2690
Hi @o0charlie0o Errors like this normally indicate something went wrong with yarn.lock and node_modules during installation(s). My guess is that your code is fine🤞Some steps to debug:
- look through the three package.json files (root, web/, and api/) and confirm you have the correct versions for `@redwoodjs` packages in each. Look for duplicate packages as well
- delete your `node_module` director

[2021-06-01 23:33] thedavidprice commented on #2684
For this case, we need the prerender command to throw with the correct error code, which will Fail the deployment. @dac09 Maybe you could approach this a couple of ways:
- always throw if prerender isn't successful
- add an option to the command whether or not to throw in case it's not successful; you could set the default accordingly in the `yarn rw deploy ...` command, but this would give people

[2021-06-01 23:50] o0charlie0o commented on #2690
Thanks for your suggestions @thedavidprice. First let me say that regenerating the lock file ultimately fixed the issue but I did test every version with a netlify deploy between `0.28.4` through `0.32.2` and it wasn't I hit `0.32` that I started experiencing the error. Have done this on 2 different branches now so I'm not sure what's going on with the upgrade between `0.31` and `0.32` but it does

[2021-06-01 23:50] #2690 closed

[2021-06-02 00:52] cjreimer commented on #2682
Thanks for the update!  I appreciate you guys helping to chase this down.

[2021-06-02 00:58] #2691 closed

[2021-06-02 01:06] thedavidprice commented on #2691
ok, this seems to be resolved! (see screenshot below) I had to bump the latest Tag. As long as we correctly use `git tag -am` to create annotated version tags going forward I believe we are gtg. @peterp please take a look at the related PR and confirm.

<img width="509" alt="Screen Shot 2021-06-01 at 6 04 21 PM" src="https://user-images.githubusercontent.com/2951/120408545-18e6da80-c304-11eb-8c64-

[2021-06-02 01:36] thedavidprice commented on #2690
Great to hear it's resolved!

This has been an ongoing complaint of ours with Yarn. We've been doing a lot to mitigate these problems ongoing, including recreating the `yarn rw upgrade` command (coming with v0.33) and using a different strategy to manage dependencies within the Redwood packages. Fingers crossed we'll be seeing improvements with the upcoming releases.

Most of all, thanks for fight

[2021-06-02 05:52] Tobbe opened #2696 "`yarn rw setup auth supabase` installs the wrong version of @redwoodjs/auth"
This is related to #2685. But I don't know if solving one will also solve the other, so I'm creating a new issue.

After changing auth providers I noticed some problems with rendering pages wrapped in `<Private>` tags. The URL would update, but the page was just blank.

That's when I noticed this in my `git diff`

[code]

And my `yarn rw info` is this

[code]

So I got the wrong version of @redwoo

[2021-06-02 19:25] #1812 closed

[2021-06-02 19:40] #2549 closed

[2021-06-02 19:48] #2644 closed

[2021-06-02 22:38] Tobbe opened #2705 "We should generate source maps for the api side"
Currently we don't generate source maps. But they're super useful for tracking down bugs. Especially when paired with something like Sentry.

@viperfx figured out how to do it himself

[code]

I actually thought we already did this, but...

---

And here's how you could integrate them with Sentry (mostly left as a comment for myself, because I'll want to do this in the future 🙂)

[code]

[2021-06-03 07:50] peterp opened #2708 "Make `yarn rw test` forward everything to "jest""
Right now we "hide" that you're running jest when you run `yarn rw test`

We do this because we set some helpful defaults for you. I think we should still set those helpful defaults, but we should just make `rw test` an alias of `jest`.

For inspiration we can look at how we handle the prisma command.

So that running:
`yarn rw test --help` will output jest's help.

Additionally we can remove "cod

[2021-06-03 22:30] thedavidprice opened #2714 "Functional Redwood Test Project [Part 2]"
_continuing discussion and work from Issue #2218 and merged PR #2324_

@dac09 @renansoares

## Continuing the discussion about using this build script in CI
Another opportunity for the new `yarn build:test-project` command is adding to CI (e.g. deploy tests).

Some notes from the previous discussions:

### Current blocking issue, which will affect CI use-case
Today, during the Contributors Worksho

[2021-06-04 03:14] cjreimer commented on #2682
Just in case someone else runs into it, this is an issue for me with Redwood v0.33.0, as it uses prisma 2.23.0.  Hopefully, prisma will fix the issue soon.

In the meantime I did have success remaining at redwood  v0.33.0 using the workaround provided in: [(https://github.com/prisma/prisma/issues/7176)](https://github.com/prisma/prisma/issues/7176)

1.  I converted my db/seed.js file to typescript

[2021-06-04 07:33] dthyresson commented on #2682
Hi @cjreimer There is a PR for converting the seed file to ts/js based on the project settings:

https://github.com/redwoodjs/redwood/pull/2553

It was completed ahead of the 33 release, but too close to get in.

Should be in v0.34.

It does that exact set of steps as you described.

[2021-06-04 08:12] renansoares commented on #2714
hey @thedavidprice, please assign it to me.

1. CI

Just to make sure, the idea to have the project in the CI is to run the Cypress test against it, right? I've started working on the changes to the CI.

Adding the options is a good start point and after that we could analyse what tests to migrate. I would go to run as much as possible of the tests again the test project because we will have to ke

[2021-06-04 09:51] dac09 commented on #2219
Closing this as implemented in v0.33 of release. @peterp please open if not :)

[2021-06-04 09:51] #2219 closed

[2021-06-04 09:54] dac09 commented on #669
Fixed in #2614 !! 🍾

[2021-06-04 09:54] #669 closed

[2021-06-04 09:59] dac09 commented on #234
Closing this tracking issue! Outstanding typescript issues can be tracked on the project board https://github.com/redwoodjs/redwood/projects/2! 🚀

[2021-06-04 10:49] dac09 opened #2736 "Vercel deployments fail when using @redwoodjs/logger"
Now confirming this is a bug, because someone else has reported the same issue I saw.

Example error output at **runtime**:

[code]

My suspicion is that Vercel's `nft` is removing `pino` from the deployed archive. The way I solved it on Tape is to not use logger for now, instead using console.logs (not recommended!).

cc @thedavidprice, @dthyresson

---
Internal discussion started at: https://red

[2021-06-04 12:55] dac09 commented on #2714
Re (2), you can run link the latest code like this `yarn rwt link --no-watch`. This does the same link process, but does not start the watcher for rebuilding if there's any changes to the framework.

[2021-06-04 12:56] cjreimer commented on #2682
Thanks @dthyresson !

I tried copying the exact `api/package.json` file from the pr, and I needed to tweak it to run on my windows machine.  I utilized
`{\\\"module\\\":\\\"commonjs\\\"} `
rather than
`{\"module\":\"commonjs\"}
`

The final package.json file is:

[code]

[2021-06-04 15:11] thedavidprice commented on #234
## Update
Redwood [v0.33.0](https://community.redwoodjs.com/t/redwood-v0-33/2176) includes major TS updates and features. Please try it out!

Feedback and discussion are happening in [this post](https://community.redwoodjs.com/t/community-help-wanted-typescript-feedback-v0-33-x/2177) on the Forums.

[2021-06-04 16:43] thedavidprice commented on #2714
@renansoares @dac09
I've created a new repository and added you both as Admins (full access): https://github.com/redwoodjs/deployment-ci

## Using `canary` releases for `build:test-project`
In my OP, I think I overstated the problem. What's really happening is that _if I choose to upgrade to canary using the `--canary` option, it failed in my case because that's the last step in the build script._

[2021-06-04 23:02] #1433 closed

[2021-06-04 23:40] Tobbe opened #2744 "sdl generator crud "Unexpected token""
Trying to generate an sdl file, with crud methods, I get the following error

[code]

Generating without `--crud` works fine
[code]

Here's the model
[code]

And my system info
[code]

[2021-06-05 00:07] Tobbe commented on #2744
Upgraded to RW 0.33.0 - still same error

[2021-06-05 00:24] Tobbe commented on #2744
The service generator and the scaffold generator fails with the same error

[2021-06-05 01:17] Tobbe opened #2745 "RW 0.33.0 rw-gen-watch crashes on Windows"
Just installed RW 0.33.0 on Windows, and something seems to crash when I delete a file in my project (the teamToRatings service in this case)

[code]

[2021-06-05 01:24] realStandal opened #2746 "Page generator cannot update routes file when `<Router>` has `useAuth` prop"
I'm running into the following when using `yarn rw g page Foo`, when my `<Router>` has a prop:

[code]

My router for context:

[code]

I'd be happy to work on a fix, I assume it has to do with [this line in the CLI lib file](https://github.com/redwoodjs/redwood/blob/d8defc9ac2c277d4749716d0d778a1bd661041f2/packages/cli/src/lib/index.js#L411).

This is an expression I came up with [that is working

[2021-06-05 07:56] Tobbe commented on #2746
The asterix after 'r' means "zero or more 'r', so I'd get rid of that, and use it instead of '+' after the negative character group instead, to still match `<Router>`

[code]

That said, there has been some talk about maybe move over to something more sophisticated than regexes, so I'd wait until you hear from someone else before starting on an implementation

[2021-06-05 14:39] viperfx commented on #2502
Hmm - I will review the code we have. Not sure what we are doing anything out of the ordinary that would make this happen. I wonder if it's specific to the react-select and the way we are doing the query for auto-complete.

I was looking into doing something similar to #2555 to resolve this - but if it doesn't happen for others then I will investigate on my side first before doing anything. I thin

[2021-06-06 09:31] peterp commented on #2745
I guess this has something to do with deleting a folder that isn't empty?

[2021-06-06 11:23] Tobbe commented on #2745
I did delete a whole folder (with files in it).

[2021-06-06 16:29] realStandal opened #2747 "RW 0.33 uses Storybook version v6.1.21 while 0.32 used v6.2.9"
Running `yarn rw storybook` on a RW 0.32 project:

[code]

Running the same after updating to 0.33:

[code]

I didn't see any mention of Storybook in the update's [Breaking Changes](https://community.redwoodjs.com/t/redwood-v0-33/2176#breaking-9) or [Changelog](https://community.redwoodjs.com/t/redwood-v0-33/2176#changelog-4).

---

I'm not sure if this is the cause of Storybook not loading the `-

[2021-06-06 16:46] Tobbe opened #2748 "Prisma errors running tasks/run-e2e"
Running the e2e task I'm seeing a couple of Prisma related errors

[code]

And a few of these

[code]

Since I'm on Windows and can't run the actual e2e tests I can't verify if/how these errors would affect the actual tests, but just putting it up here for future reference

[2021-06-06 17:40] Tobbe commented on #2748
Found a Prisma issue (https://github.com/prisma/prisma/issues/6188) that talked about esbuild, so I tried that as well, but got the same "debugLib" error.

[2021-06-07 02:16] dthyresson opened #2749 "Create Redwood App v0.33 missing .gitignore"
See Community Post: https://community.redwoodjs.com/t/redwood-v0-33/2176/7?u=dthyresson

From ajcwebdev

`yarn create redwood-app gitignore-wut`

Output:

[code]

[code]

Note I also did a new CRWA with v33 and concur that the .gitignore is missing.

[2021-06-07 09:43] ashrays commented on #2640
works with the newer 32.2 version. thank you @rminami, @thedavidprice. The tutorial codebase has to be updated.

[2021-06-07 09:43] #2640 closed

[2021-06-07 12:08] peterp opened #2750 "ensure that `api/types` are ignored by dev-server"
It seems that generating the api types was causing my dev-server to reload.

[2021-06-07 12:09] peterp commented on #2750
We already ignore a bunch of files in the dev-server, we just need to add `api/types/**` to that list.

[2021-06-07 14:36] dac09 commented on #2736
Vercel NFT issue confirmed. Issue here: https://github.com/vercel/nft/issues/220

[2021-06-07 16:01] dac09 commented on #2736
Confirming fix in above issue has now solved the problem.

[2021-06-07 16:01] #2736 closed

[2021-06-07 18:01] #2749 closed

[2021-06-07 18:41] jtoar opened #2754 "New TS project can't find NotFoundPage"
It seems like new (i.e. created from scratch) TypeScript Redwood Apps can't find the `NotFoundPage`. Steps to reproduce:
1. create a TS project: `yarn create redwood-app x-ts-route-error --ts`
2. go to `Routes.js`
3. observe:

![image](https://user-images.githubusercontent.com/32992335/121071590-fb42c680-c784-11eb-848e-e8839cec97f2.png)

[2021-06-07 23:43] cannikin opened #2757 "Running generator that inserts routes will insert extra newlines if routes already exist"
We have code that checks that a route already exists and won't try to add it again if it does, but there's a bug where it *will* insert a newline (or two) each time the generator is run.

[2021-06-08 00:56] jtoar opened #2758 "Linting error in functional test project"
Just a small linting error in the (amazing!!!) functional test project

![image](https://user-images.githubusercontent.com/32992335/121105674-64dcc800-c7b9-11eb-9cd7-8b7856296b3b.png)

I think it's as simple as adding the key prop:

[code]

[2021-06-08 05:45] andrew-hwahin opened #2763 "Upgrading redwood from v0.32.2 to v0.33.2 causes react-hook-form error."
![image](https://user-images.githubusercontent.com/61768800/121128419-f43bb700-c85d-11eb-9289-90e9e2691485.png)

![image](https://user-images.githubusercontent.com/61768800/121131711-c2791f00-c862-11eb-86da-4dc6f068c4d5.png)

![image](https://user-images.githubusercontent.com/61768800/121131929-0ff58c00-c863-11eb-8714-31462fbb91a8.png)

Related [release v0.33.0](https://github.com/redwoodjs/redwoo

[2021-06-08 06:21] rafaelsorto commented on #2266
Thank you for sharking @natansevero I had no idea why Chakra UI was not working correctly under Storybook. The solution described there works!

[2021-06-08 08:36] RhnSharma commented on #2758
I would like to take this one.

[2021-06-08 12:53] dthyresson opened #2764 "Inconsistent GraphQL Operation Name casing in generators"
Andrew Lam from the Discord Community asked:

![image](https://user-images.githubusercontent.com/1051633/121186875-81b6e100-c835-11eb-95f0-46f45ca10792.png)

There is inconsistency in the operation name casing and redwood could standardize:

* Pascal Case (OperationName)
* Capitalized Snake Name (OPERATION_NAME)

## Cell Generators

The generator sets the same `operationName` which is PascalCase:

[2021-06-08 14:24] dthyresson opened #2765 "RFC - Testing API Side Functions and Webhooks with Scenarios"
Missing from the RedwoodJS testing suite is a way to test api side functions and webhooks with the same scenario-based approach used with api side services. The goal is to follow the same patterns in api/web testing such that testing functions/webhooks is familiar and looks the same.

Some considerations and decisions need to be made to support function and webhook testing.

I have a proof of conc

[2021-06-08 14:41] peterp commented on #2754
I believe the issue here is that we do not run `rw-gen` when a new project is launched. We should add this to the list of tasks that are completed once a RWJS site is booted.

[2021-06-08 14:51] thedavidprice commented on #2747
@realStandal Hmm, this is indeed a strange result as we have not yet upgraded past Storybook v6.1.21:
- [Here is the dependency version](https://github.com/redwoodjs/redwood/blob/448780315c64f1dc90dbdd29e39729ce7de822b9/packages/core/package.json#L33) in Redwood v0.32
- And [here is the same dependency](https://github.com/redwoodjs/redwood/blob/d3e1b6ef26089a57decf6f2a25f57f10b1bf777e/packages/cor

[2021-06-08 15:00] thedavidprice commented on #2763
Ah, this is very interesting (and definitely frustrating on your end!). You are correct that we made a change to "pin" package dependencies in the Redwood Framework. The reason being that we were seeing all kinds of strange, and often incorrect, Yarn dependency resolution issues. Yarn.lock was behaving strangely for some projects — just like in the case with yours where you were using an installed

[2021-06-08 15:04] andrew-hwahin commented on #2763
@thedavidprice thank you very much for the detailed explanation 🙏🙇‍♂️

[2021-06-08 15:04] #2763 closed

[2021-06-08 15:31] realStandal commented on #2747
Just for reference, here is the project I'm basing this issue off off: [`0.33`](https://github.com/LockTech/cerberus) | [`0.32`](https://github.com/LockTech/cerberus/tree/storybook-0.32); though just for looks, bit of effort to getting it standing.

That makes me think I pulled Storybook in at `v6.2.9` when I installed `@storybook/addon-essentials`, however `yarn why @storybook/react` within the `

[2021-06-08 15:33] realStandal commented on #2747
I certainly can and will!

[2021-06-08 15:55] Abheetarora commented on #2754
cant we just import the notFoundPage from the pages. I guess that will resolve the issue.

[2021-06-08 16:16] thedavidprice commented on #2747
Wowza... I bet it's exactly what was happening here 🤔

https://github.com/redwoodjs/redwood/issues/2763#event-4859176131

[2021-06-08 21:09] jtoar commented on #2754
@Abheetarora that would solve it, but we don't want to have to import any Pages in the Routes file—one of our stylistic decisions is that they should be available automatically.

[2021-06-09 00:01] thedavidprice commented on #2747
My advice to you is the same as I gave in https://github.com/redwoodjs/redwood/issues/2763#event-4859176131 — you _can_ manually add the `@storybook/react` dependency to your project at the latest version. You'll then want to monitor the version included in Redwood to remove the manually added dependency once it's behind (or else your project would then be using an older version).

I'm working on

[2021-06-09 00:08] thedavidprice commented on #2764
@dthyresson could you help me triage this:
1. is it a v1-priority;
2. if so, is it critical for the current release or should we schedule it to a future release?

[2021-06-09 04:57] #2758 closed

[2021-06-09 05:25] thedavidprice commented on #2748
Not seeing this on Mac.

I'd say if you're able to run yarn rw dev this is most likely a false positive.

[2021-06-09 05:32] thedavidprice commented on #2746
^^ @peterp @dac09 Any reactions or direction about this one? Both regarding how it might be handled and priority for v1?

Thanks for the offer to help @realStandal!

[2021-06-09 06:05] thedavidprice commented on #1434
This is a great idea. To keep it backwards compatible, I'd like us to go with your recommend option 2.

Will see if we can link this together with #2270

[2021-06-09 06:06] thedavidprice commented on #2253
To be considered with this associated PR https://github.com/redwoodjs/redwood/issues/1434

[2021-06-09 10:44] dthyresson commented on #2764
@thedavidprice It is not critical path in terms of v1 functionality, but the task is small enough, of low risk and provides consistent naming moving forward that I think it is worth doing.

[2021-06-09 10:57] dthyresson commented on #2764
Change is to use `singularPascalName` instead of `singularConstantName` and change the template surrounding operation name casing:

[code]

[2021-06-09 14:55] #2764 closed

[2021-06-09 15:06] dthyresson commented on #2765
What about a directory structure of

[code]

[2021-06-09 15:42] orta commented on #2271
I've got a stack trace for the crash, looks like a missing dependency in the shipped bundle

![Screen Shot 2021-06-09 at 4 41 15 PM](https://user-images.githubusercontent.com/49038/121386022-8cf73300-c941-11eb-9258-19294f43e8f0.png)

[2021-06-09 17:55] thedavidprice commented on #2271
Thank you for passing this along @orta! We are definitely still following this Issue. Behind the scenes, there is early progress on a 100% overhaul of the extension to be released in coordination with Redwood v1. Unfortunately, this means the current extension is buggy to the point of unusable.

More to come. Just not yet, unfortunately.

[2021-06-09 18:06] thedavidprice opened #2787 "Router on Safari: page scroll position always starts at about 80%"
I only see this behavior on Safari. I don't believe it's associated with HTML content/tags. Seems to be the router has a default position of about 80% on page load.

https://user-images.githubusercontent.com/2951/121406040-90bf9100-c912-11eb-8efb-84caf999eb8b.mp4

[2021-06-09 18:19] thedavidprice commented on #2765
I don't believe the initial convention design of `api/src/functions` considered a future with test and scenario files. Maybe we should revisit that and consider each function being in a directory of the same name a la web components.

Also should consider implication per this Issue if we ever want to support nesting (either just as a convention or also "nested" end-point structure) https://github.

[2021-06-09 18:25] dthyresson commented on #2765
@dac09 and I had thought about nesting and that's our preferred approach -- to have it look much like services and web/components etc ...  and we looked at that very same issue #849 as well.

But it wasn't as easy as we all thought.

ISill exploring options.

[2021-06-09 18:55] jtoar commented on #1597
This is fixed in #2430

[2021-06-09 19:14] #2705 closed

[2021-06-09 19:17] #2271 closed

[2021-06-09 19:28] sundeer opened #2788 "Error: Cannot find module 'types/graphql' after upgrade to v0.33.0"
Getting this error after upgrading to v0.33.0 when I try to import enums from src/(api/web)/types/graphql.d.ts. Before upgrading, I used 'graphql-code-generator' package but configured it to generate regular '.ts' files and of course importing enums worked just fine. I see in docs for graphql-code-generator that the 'constEnums' config option for the 'typescript' plugin would probably fix this I t

[2021-06-09 21:33] thedavidprice commented on #2788
Hi @sundeer There are a couple of possibilities here. During the upgrade process, things might be out of sync between your projects node_modules + yarn.lock and the Redwood packages. You could try the following:
- delete node_modules from root, web/, and api/
- delete yarn.lock
- run `yarn install`
- then try yarn rw dev

And/or you might have a use case that Redwood's TS features currently don't

[2021-06-09 22:25] dthyresson commented on #2696
Looking at the setup command:

[code]

You ned to

* know current version of redwood
* use this to set `'@redwoodjs/auth@0.your.version',

Not sure how to find current RW version, but perhaps get Project from structure can provide?

[2021-06-09 22:33] thedavidprice commented on #2696
The command `yarn rw info` uses `envinfo` under the hood, but that might be overly cumbersome. I know the structure package has a helper — just be careful as it's likely to be deprecated (prevent regression via unit test?).

Otherwise, just parse the root package.json would be my suggestion (also note: in the v0.34 release, we'll be replacing @redwoodjs/core with @redwoodjs/cli as the only package

[2021-06-09 22:39] dthyresson commented on #2696
Of course - that makes perfect sense.

[2021-06-09 22:42] dthyresson commented on #1833
@benatkin There have been some improvement made to token refreshing sinch this issue came up.

Can we confirm it is still an issue in v0.33.2+?

Thanks!

[2021-06-10 00:14] jtoar commented on #1480
Actually not sure when this was implemented but sure enough it's there: https://s.tape.sh/olE8ltw3.

[2021-06-10 00:14] #1480 closed

[2021-06-10 00:15] jtoar commented on #1480
Implemented in https://github.com/redwoodjs/redwood/pull/2272/commits/b71cfe8f945399ff2a33c2402749ffb10723ffd4, thanks @cannikin!

[2021-06-10 00:31] cannikin commented on #1480
![image](https://media.giphy.com/media/y8fXirTJjj6E0/giphy.gif)

[2021-06-10 00:49] cjreimer opened #2789 "Redwood contributing - yarn rwt cp on Windows"
It took me a while to get
`yarn rwt cp`
working on my Windows machine.  In the end, I found it was a permissions issue and found two fixes:

1.  Running the shell or VSCode as an Administrator (not the ideal solution, but works)
2.  Turning on Windows Developer Mode in the settings.

![image](https://user-images.githubusercontent.com/51102303/121447137-ae184d80-c95a-11eb-9666-10307e77a0b9.png)

I

[2021-06-10 02:10] jtoar commented on #1147
This is being discussed in #2765.

[2021-06-10 02:16] thedavidprice commented on #1147
Closing in favor of #2765

[2021-06-10 02:16] #1147 closed

[2021-06-10 06:43] Tobbe commented on #2789
That's interesting.

When you run VSCode as admin, I assume you also run the rwt command in the VSCode console, right?

I must have turned this on for some other reason, because I don't remember having to do it for RW specifically. Do you know exactly what it does that makes rwt work?

[2021-06-10 06:45] Tobbe commented on #2789
If we wanted, we could be more specific in our check:
https://stackoverflow.com/questions/41231586/how-to-detect-if-developer-mode-is-active-on-windows-10

[2021-06-10 06:52] Tobbe commented on #2789
Symlinks! You answered that in your contributing docs pr. Thank you :)

[2021-06-10 07:26] Tobbe commented on #2789
Closed by https://github.com/redwoodjs/redwood/pull/2790

[2021-06-10 07:26] #2789 closed

[2021-06-10 08:48] peterp opened #2792 "Add `--cwd` to RedwoodJS CLI"
RedwoodJS CLI determines if a RedwoodJS project is present by taking the current working directory and searching upwards for a `redwood.toml` file.

Specifying the `cwd` is not currently exposed to the end-users, but can be beneficial, especially to contributors of RedwoodJS, since they can edit the code in RedwoodJS framework repo and run it against a test project.

Internally we already have the

[2021-06-10 08:51] peterp opened #2793 "Add `getPaths`, `getConfig` and `structure` to global context of CLI"
The CLI has a single entry point, and most commands use one of the functions above to determine how to operate.

I think we should execute these functions at launch and make them available to the global context instead of having people individually run these functions.

[2021-06-10 08:52] peterp opened #2794 "Make lerna pin packages when publishing"

[2021-06-10 14:56] #2684 closed

[2021-06-10 15:15] #2754 closed

[2021-06-10 15:42] #1781 closed

[2021-06-10 15:50] dac09 commented on #1963
Closing this as this is something I added to the Typescript changes in v0.33. You can now have your own typings in the root of the project in `./types`. I discussed the folder name with Tom already, and it reads well I think.

[2021-06-10 15:50] #1963 closed

[2021-06-10 15:51] dac09 opened #2797 "Add `rw typecheck` command to run tsc"
Currently redwood's Typescript support is essentially used as linting. There are no build time checks, or an easy way to check if your TypeScript project is a-ok!

Command to run:
`yarn rw type-check`
maybe alias `yarn rw tsc`

[2021-06-10 16:17] realStandal commented on #2747
Sounds good, thanks as always for the help @thedavidprice!

[2021-06-10 16:17] callingmedic911 commented on #2787
I tried to identify directly in tape.sh and looks like this is due to [`focus()`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLOrForeignElement/focus) on the first element of `TabGroup from @statikly/funk`, which is the tab with the title "🚀 Product & Leadership". This results in the vertically centring of the focused element.

However, I'm still not sure why this is happening only in Safa

[2021-06-10 16:18] #2747 closed

[2021-06-10 16:35] #2543 closed

[2021-06-10 16:51] jtoar commented on #647
Fixed in #813 I believe!

[2021-06-10 16:51] #647 closed

[2021-06-10 17:37] callingmedic911 commented on #1968
@jtoar I just replicated this locally and makes sense to break early. Changes seems like straightforward to implement. Is it okay if I pick this one?

[2021-06-10 18:07] jtoar commented on #2077
Another suggestion: we could add a comment above the line, explaining it's a babel macro

[2021-06-10 18:08] #2160 closed

[2021-06-10 18:11] jtoar commented on #1728
@thedavidprice asked me to close this one out as resolved

[2021-06-10 18:11] #1728 closed

[2021-06-10 19:12] #1080 closed

[2021-06-10 19:16] thedavidprice commented on #1343
Confirming this is still an issue with the improved upgrade command

[2021-06-10 19:18] jtoar commented on #1533
Great catch @Tobbe. I ran this by some of the maintainers and the conclusion we came to was that: we can make this nicer later (i.e. after a v1 rc / v1), but we should at least output a warning right now.

[2021-06-10 19:23] jtoar opened #2801 "Warn when scaffolding with custom GQL client"
Following up on #1533, if a user plugs in their own GQL client (i.e. not Apollo Client), the code generated by scaffolding might be broken. Namely, the GQL client might not have the `refetchQueries` option (in the `Names.js.template `):

https://github.com/redwoodjs/redwood/blob/a83b3fd842d4e0440c287d750ffd56ccecd70c02/packages/cli/src/commands/generate/scaffold/templates/components/Names.js.templ

[2021-06-10 19:27] thedavidprice commented on #1968
help on this would be fantastic @callingmedic911 🚀

The problem right now is that the engines are _after_ creating a project directory and copying the template codebase. Ideally, this step should come first:
https://github.com/redwoodjs/redwood/blob/a83b3fd842d4e0440c287d750ffd56ccecd70c02/packages/create-redwood-app/src/create-redwood-app.js#L118

Not only does the script fail, but the process le

[2021-06-10 19:42] #2673 closed

[2021-06-10 19:42] #2672 closed

[2021-06-10 19:42] #2646 closed

[2021-06-10 19:42] #2645 closed

[2021-06-10 19:42] #2634 closed

[2021-06-10 19:43] #2632 closed

[2021-06-10 19:43] jtoar commented on #2625
Fixed in #2613

[2021-06-10 20:14] jtoar commented on #550
@cannikin was what you had in mind with this different from #1480?

[2021-06-10 20:18] cannikin commented on #550
Yep, although that only covers one of the steps (overwriting the auth.js file). I'm not sure that ALL other cases are covered right now...

I know there are checks to not insert a Page route if it's already there, and I think another to skip adding the `scaffold.css` file and `import` into `App.js`. We should probably take an inventory of everything all of the generators do and make sure that that

[2021-06-10 20:43] jtoar commented on #2018
@thedavidprice running `yarn build` before `yarn lint` worked. @Tobbe does that also work for you?

[2021-06-10 22:05] Tobbe commented on #2018
This is right after running `yarn build`

[code]

[2021-06-10 22:25] thedavidprice commented on #2708
@peterp do you think this will involve a breaking change? I'm assuming "no" but want to confirm with you before prioritizing.

[2021-06-10 22:36] thedavidprice opened #2804 "Auth: Add Facebook Login with FB JS SDK"
@olance started PR https://github.com/redwoodjs/redwood/pull/1406 which is now closed but remains a great starting place to pick this up in the future.

Currently this not a v1 priority. But it would be a welcome addition to Redwood Auth.

Lastly, in the future we will be moving Auth Providers into separate packages outside the main Redwood Framework. If this project resumes, it should be architec

[2021-06-10 22:45] thedavidprice commented on #2018
@Tobbe I have no problems locally on Mac with a clean `main` branch that's current as of 5 minutes ago. Also confirming the `eslint-plugin-jest-dom` is at latest version and was updated 2 weeks ago.

Because this is loading config from the template/ directory, do you think it's possibly a path issue on Windows?

[2021-06-10 23:57] jtoar opened #2806 "Lint for case-sensitive imports"
Since we recently added TS support for Redwood's directory structure, we seem to now be vulnerable to this bug: https://github.com/Microsoft/TypeScript/issues/21736. @KrisCoulson already ran into it, and it's super hard to debug (you think it's a webpack / fast refresh problem at first). This feels like something people could easily run into and spend hours trying to fix.

It seems like our best c

[2021-06-11 00:20] jtoar commented on #2139
@peterp just to clarify: normally how it goes is the Page receives the router/location as props, then you pass those down into a Cell. The change your suggesting would eliminate the need to ever pass router/location props from a Page to a Cell? Basically, this part of the tutorial would be irrelevant: https://learn.redwoodjs.com/docs/tutorial/routing-params#using-the-param

[2021-06-11 01:27] vprasanth commented on #2806
Just going to stress that this really can take hours/days! Especially these days when most devs are constantly context switching. Any tooling to help catch insidious behaviour like this will be amazing! Thank you upfront ✌🏾 🙏🏾

[2021-06-11 04:50] soham4abc commented on #2750
@thedavidprice  Where is the list where you ignore the files? I am working in this issue.

[2021-06-11 06:10] peterp commented on #2788
Hey @sundeer The configuration for those generators is over here for the schema:
https://github.com/redwoodjs/redwood/blob/a4d664f0a6a3e3029d75b4c186e4525cd5da1973/packages/internal/src/generate/graphqlSchema.ts#L24-L63

and here for the operations:
https://github.com/redwoodjs/redwood/blob/a4d664f0a6a3e3029d75b4c186e4525cd5da1973/packages/internal/src/generate/typeDefinitions.ts#L186-L206

I thin

[2021-06-11 06:24] peterp commented on #2750
@soham4abc Thanks!

Here: https://github.com/redwoodjs/redwood/blob/558ecee62a70cf7169eae3bc076cd20b6f5fd044/packages/dev-server/src/watchApiSide.ts#L68-L70

and here: https://github.com/redwoodjs/redwood/blob/38f975abf9e46416ae50b3ce2e1fd8db837206cd/packages/api-server/src/watch.ts#L37-L49

[2021-06-11 06:26] soham4abc commented on #2750
OK. On it Thank you!!

[2021-06-11 06:30] peterp commented on #2139
Yeah - What I'm seeing in my own development is that a lot of my cell's variables are based on the current location in that path params.

So I either do that with `useParams` in the container component and pass it in. Maybe there's a flag that we can toggle on the cell to enable this behaviour, or we could create a HOC that does this for us.

I'm on the fence - since we exposed `createCell` and pe

[2021-06-11 12:56] callingmedic911 commented on #1968
Thanks for the details @thedavidprice, very helpful!

I'm inclined towards first approach you explained. Failing early and providing info to the user fast will be better DX in my opinion.

Will raise the PR shortly.

[2021-06-11 15:47] dac09 opened #2811 "Expose types from Cell when they're used"
We're not currently generating types for when we _use_ Cells. i.e. the Cell input props, which are used to make the graphql query.

[2021-06-11 17:52] sundeer commented on #2788
Thanks @peterp. A `codegen.{yml, json}` file in the project root is the standard location. Would be nice to be able to add options to the plugins from some kind of config file or even a section in `config.json`.

[2021-06-11 18:54] ryanmdoyle commented on #2489
Ok, finished off the school year (teacher by day) so I took another look.

Seem like there are only 2 different methods we would need to handle, being `setCustomparameters`, and `addScope` Possibly `credential` as well.

While maintaining the ability to in the OAuth provider or the `{email: "", password: ''}` as the first argumentof the login/signup, we would have to pass the options as the second

[2021-06-11 20:06] ryanmdoyle commented on #2489
Spoke too soon.  I realized shortly after leaving the above comment that the RW LogIn only accepts a single argument, so the `firebase.login` should also only have 1 argument.

I left/hide my previous comment to see my first thoughts, but here is my proposed solution:

The `firebase.login` (and `signup`) should accept `options` instead of `withAuth`.

The current `isPasswordCreds()` will still che

[2021-06-11 22:12] thedavidprice commented on #2489
@ryanmdoyle this is _very_ helpful. Thank you!

Because the core maintainers are are lazer focused on a v1-release-candidate, this change won't be on our priority roadmap. If you are available and interested in tackling a PR, we'd welcome it and could support the effort. No pressure on our end.

Make sense? Thoughts either way?

[2021-06-11 23:23] thedavidprice commented on #2750
I believe this is being fixed in #2807

[2021-06-11 23:25] thedavidprice commented on #2806
I'd like us to prioritize this for v1-rc

[2021-06-11 23:51] thedavidprice commented on #2793
@peterp I'm setting this as a v1 priority but _not_ critical path for v1-rc release. Would you like to prioritize for v1-rc?

[2021-06-11 23:53] thedavidprice commented on #2792
@peterp I'm prioritizing this for v1 but after v1-rc release. Please let me know otherwise.

[2021-06-12 00:44] ryanmdoyle commented on #2489
I'm get to work on a PR for this and the documentation for it.

Just wanted to reach out first in case anyone with more familiarity had any thoughts.

[2021-06-12 04:39] darryl-snow opened #2815 "Private routes not rendering"
Adding the `private` attribute to the Set results in these pages being blank - nothing is rendered. Remove the private keyword and they render fine. Same result if I use `<Private>`. No errors in the console or terminal. Same result after clearing local storage and logging in again.

[code]

Version: 33.2
Repo: https://github.com/darryl-snow/web-app-boilerplate/tree/main/web/src
Demo: https://web-

[2021-06-12 09:54] peterp commented on #2811
I shared a way of handling this in the generated mirror cell files:

![image](https://user-images.githubusercontent.com/44849/121772261-99170680-cb74-11eb-948c-8fdc69c4afe1.png)

`InternalProps` would be the Query Data + Query Variables + Props on the Success Component.
`ExteralProps` are `InternalProps` minus the Query Data.

[2021-06-12 10:38] dac09 commented on #2811
Hey Peter see PR :)

[2021-06-12 16:04] Tobbe commented on #2815
I tried to reproduce this by cloning your repo. But I can't get it working.
Is there anything I need to do to make it run?

I clone it, `yarn install` it, link it to a Netlify site with identity enabled.
Is there anything else?

Whenever I try to login the API side crashes with this message in my console

![image](https://user-images.githubusercontent.com/30793/121782073-2758b000-cba8-11eb-98f7-a0

[2021-06-12 16:25] darryl-snow commented on #2815
Strange... it's literally just a brand new out of the box redwood app. The only change I've made is to add materialUI and generate the netlify authentication per the tutorial.

[2021-06-12 16:51] #2792 closed

[2021-06-12 17:44] rminami opened #2820 "Add `yarn rw g types` to documentation"
The command for generating types, `yarn rw g types`, is missing from the documentation and should be added.

[2021-06-12 18:32] #2437 closed

[2021-06-12 20:29] Tobbe commented on #2815
If I go back to commit 31d6e61 it works.

Actually, seems to be enough to take Routes.js from 31d6e61.

I'll continue investigating tomorrow

[2021-06-13 03:53] darryl-snow commented on #2815
Yeah in 31d6e61 I just commented out the private Set to leave those routes public and it works. As soon as I make them private they don't render at all. Thanks for your help!

[2021-06-13 08:04] Tobbe commented on #2815
Yeah, but the problem for me is that I don't even get to the "render" stage at all since my API server crashes before that. And the first front-end <-> back-end interaction that happens is `getCurrentUser`, so that's where I think something goes wrong. Maybe when `<Private>` calls `useAuth` or `hasRole`.

[2021-06-13 09:26] Tobbe commented on #2815
I don't know why, but for some reason I had to remove your layouts to make it work for me

[code]

With that I could reproduce your issue.

For some reason Redwood gets stuck at loading your auth state.

Do this and go to /dashboard and you see what I mean

[code]

[2021-06-13 09:48] Tobbe commented on #2815
Solved it!

Your RW installation is broken. And it's not your fault, it's yarn...

1. Go through all your project.json files and pin the version of RW (`"@redwoodjs/api": "v0.33.2"`, note that it's without the `^`-character)
2. Delete node_modules, web/node_mdules and api/node_modules
3. Delete yarn.lock
4. Reinstall everything: `yarn install`

Things should be working again

[2021-06-13 13:36] peterp commented on #2788
@sundeer 🆒 🆒 🆒 , in the meantime I suggest manually moving the file into `src/types/graphql.ts`

[2021-06-13 14:14] darryl-snow commented on #2815
THANK YOU! So grateful that you spent time looking into this - I was beating my head against the desk for ages. It's always something small in the end. If you ever make it to Singapore then give me a shout - you've earned yourself some drinks!

[2021-06-13 14:14] #2815 closed

[2021-06-13 16:49] InquisitiveAboutReact commented on #404
Hi - As per the documentation, we need yarn > 1.15 and node > 12.x  to bootstrap your RW app. I have **yarn 1.22.10** and node **12.18.4** but I am getting the following error when I am trying to exec  < yarn create redwood app {appname} >
Could anyone confirm if I need **_Node v > 14_** ?
![image](https://user-images.githubusercontent.com/85705446/121815721-69abeb00-cc95-11eb-91a7-91f93db82202.pn

[2021-06-13 17:18] Tobbe commented on #404
@InquisitiveAboutReact We fairly recently decided to tighten up our node requirement. We only run tests on node 14.x, so we decided that was the only version we wanted to officially support. If our docs still say >= 12 somewhere, they need to be updated. Do you by chance still remember where you read node 12?

If you want to continue using RW on node 12 you have to manually change the "engines" co

[2021-06-13 17:42] InquisitiveAboutReact commented on #404
Hi @Tobbe - Thanks for your reply. To answer your question 'Do you by chance still remember where you read node 12? ' -- Today is my first day exploring RW and went through the below URL. In Video 1 , it says Yarn > 1.15.x and Node > 12.x
_https://learn.redwoodjs.com/docs/tutorial/welcome-to-redwood/

Last but not the least, while creating the RW app , using   **yarn create redwood-app ./<appname>

[2021-06-13 17:52] callingmedic911 commented on #2744
I think issue is in [`fieldsToUpdate(model)`](https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/service/service.js#L143).

On [#L144](https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/service/service.js#L164) field name from `relation` is expected to be like this:
[code]
 but that structure has been changed in [`parseSchema(model)`](h

[2021-06-13 18:54] InquisitiveAboutReact commented on #404
Hi @Tobbe - Somehow able to fix the issue. Below are the steps I did
1. Manually fix the node version in root package.json
2. after creating RW app, I triggered the command  **' yarn install '**  ( not mentioned in the doc I believe. It should be added )
3. Ran the command  **yarn rw dev** to bootstrap my app.
However there are some errors I got related to Prisma , will try to fix it.
Cheers !!

[2021-06-13 18:57] Tobbe commented on #404
You only had to do that because it failed in the first step. For someone who already had the required version of node RW will be installed automatically

[2021-06-13 18:59] Tobbe commented on #404
Ahh, I see.
The videos are pretty old by now. A lot has changed since they were recorded 🙂  Until new videos are produced (which is a lot of work!) I'd recommend you follow the written tutorial instead. It's much more up to date

[2021-06-13 19:05] InquisitiveAboutReact commented on #404
I will do the same. Thanks for your reply @Tobbe . One more query though. Getting the below error, any suggestion for a quick fix for the same? It's related to Prisma.
![image](https://user-images.githubusercontent.com/85705446/121818982-46d70200-cca8-11eb-9a91-5c3656bf7bf5.png)

[2021-06-13 19:07] dthyresson commented on #404
@Tobbe I think is is in the Quick Start https://redwoodjs.com/docs/quick-start

![image](https://user-images.githubusercontent.com/1051633/121818991-af968e00-cc58-11eb-99a5-51f64867a68d.png)

Had added a documentation issue: https://github.com/redwoodjs/redwoodjs.com/issues/717

[2021-06-13 19:24] ryanmdoyle commented on #2489
Just a reference within this issue in case needed for my future self, I ended up adding the options capabilities by checking the inputs for the `logIn` and `signUp` methods and casting the input to a single object.

That object is then checked for an email/password and authenticates using that if provided.

If no email/password are provided, it authenticates using the provider given, and applies a

[2021-06-13 19:59] Tobbe commented on #404
I'm afraid I haven't seen that one before 🙁

Could you please try upgrading to node 14 if you haven't already? See if that helps

BTW, what shell and terminal are you using?

[2021-06-13 20:08] InquisitiveAboutReact commented on #404
Hi @Tobbe  - I am using command prompt and Node js command prompt. There's one solution provided in the below Github link but looks like it's old. I tried to search ../node_modules/prisma2 folder but didn't get it.
https://github.com/redwoodjs/redwood/issues/215

Oh, the system currently I am working on, it's a bit old so don't support N v 14. Thought I'd try with N v 13.x but haven't started yet.

[2021-06-13 21:00] Tobbe commented on #404
Can you please post the output from `yarn rw info`? Thanks!

[2021-06-13 21:16] InquisitiveAboutReact commented on #404
@Tobbe
![image](https://user-images.githubusercontent.com/85705446/121822065-a5a57700-ccba-11eb-93dd-8594bbd4e850.png)

[2021-06-13 23:53] Tobbe commented on #404
I was hoping to get the full output, to see your Windows version as well

Here's mine
[code]

[2021-06-14 05:39] InquisitiveAboutReact commented on #404
Hi @Tobbe  - Here's the full log. This system of mine is kinda old where I am trying to work on RW. It's Win 7.
![image](https://user-images.githubusercontent.com/85705446/121844050-f63fc300-cd00-11eb-806a-935d9fa2ce81.png)

[2021-06-14 08:54] Tobbe commented on #404
Yeah, sorry, if things works on something that old it's more of a happy coincidence than something we have the resources to actively support.

But, if there's some easy change we can do to make it work for you, we're happy to fix it 🙂 Just let us know 👍

[2021-06-14 10:14] dac09 commented on #2811
So after a bit of experimenting, if we don't want a `CellProps` export the cell itself, we can have a template like this:

Bit complicated, but maybe ok for a generated type
[code]

However, I need to get the operation name from the gql part of the cell, so I can pass in `queryVariablesType` and `queryResultType` - so there's a dependency on https://github.com/redwoodjs/redwood/pull/2756

[2021-06-14 10:20] dac09 commented on #2744
@callingmedic911 no problem! We appreciate all the help we can get, no problem that "help wanted" wasn't on there - we always want help! 👍🏽

Assigned issue to you

[2021-06-14 10:29] dac09 commented on #2811
Alternative 2: Instead of having our own mirrorCell generator, that parses the gql AST, maybe we should have it as a plugin for graphql-codegen (which already parses all the queries anyway).

[2021-06-14 11:49] jvanbaarsen commented on #1596
@jtoar Yeah I'm fine with considering this an "implementation detail". But that still means I currently would need to mock it out in every test that comes by the context.

It would be great if out of the box Redwood would mock this call (A bit the same as we do with mockCurrentUser)

[2021-06-14 11:51] jvanbaarsen commented on #2362
@LBrian That would all still be possible with using a regex right? You can then basically ignore everything after a specific point? Or is that not what you mean?

[2021-06-14 16:32] thedavidprice commented on #2232
@jtoar I believe this work is continuing over here #2606, correct?

[2021-06-14 16:38] InquisitiveAboutReact commented on #404
Hi @Tobbe - Thanks a lot for your help till now. Really appreciate :)
I have tried , well have been in different ways but still getting the Prisma error. Tried installing **prisma cli** and **client** separately inside .**./api** but didn't work out. Also getting error whenever I am running **yarn rw prisma migrate dev**
Not sure is this as I am working on Win 7 or not but my guess is may be this

[2021-06-14 16:41] jtoar commented on #2232
@thedavidprice thats right!

[2021-06-14 17:57] Tobbe commented on #404
@InquisitiveAboutReact Is it 32 or 64 bit Win7? I just found this https://github.com/prisma/prisma/issues/6771

[2021-06-14 18:52] InquisitiveAboutReact commented on #404
@Tobbe -Thanks, went through the thread. It's for query-engine and Microsoft has ended the support for W7. When I try to install prisma/cli , prisma/client locally / globally, I am not having any issues. When redwood is trying to run prisma client, I am getting error, so I believe it might be something related to configuration related to Redwood + Prisma for Win7. Don't think it's an isolated inci

[2021-06-14 19:00] Tobbe commented on #404
Exactly! I remembered seeing query-engine-windows.exe in your screenshot. And since you're on Win7 I thought it might be relevant to you :)

![image](https://user-images.githubusercontent.com/30793/121944719-40ea2b00-cd53-11eb-9d22-95f7b5814d6f.png)

You can ask the Prisma people, but I think they're just going to tell you the same thing as the dude in that issue I linked - Win7 is not supported.

[2021-06-14 19:16] InquisitiveAboutReact commented on #404
Yes I saw that and you did catch it perfectly @Tobbe  :) Posted that issue in Prisma forum. Let's see. Doing manual configuration for Win 7 will be hectic still will try once if needed. Let's hope for the best !

[2021-06-14 20:11] InquisitiveAboutReact commented on #404
They have requested to log this as a bug . Below is the link
https://github.com/prisma/prisma/issues/7660

[2021-06-15 00:20] thedavidprice commented on #2788
@peterp @dac09 How would you like to prioritize this one? Here's my interpretation based on the conversation above:
- add to v1-priority
- not a requirement for v1-rc release

?

[2021-06-15 05:03] LBrian commented on #2362
@jvanbaarsen 100% agreed with your point and no doubt logically it is possible. However, if we take necessity and complexity factors into consideration, your example can also be achieved by

[code]
navigate to `tasks`
[code]
navigate to `completedTasks `
[code]

hopefully this makes sense to you

[2021-06-15 12:04] #2820 closed

[2021-06-15 12:19] dac09 commented on #2788
The main issue with this one is actually not the generator, where we can easily add this config. However, its going to work in dev and fail in build because:

a) **If we switch to generating a `graphql.ts` file instead of `graphql.d.ts`**
Redwood's babel config doesn't currently look inside the types folder, if you're using enums (and not const enums), its a problem because the expecation may be t

[2021-06-15 18:24] dac09 commented on #2765
Decision from core team meeting ✅
- we will follow the same convention as services, and create a directory to house scenarios, test and your function file
- at build time, we will rename e.g. `functions/helloWorld/helloWorld.js` to `functions/helloWorld/index.js` - to maintain convention for netlify
- if you add a folder, just to group them, we will not flatten them
e.g.
[code]

Your functions wil

[2021-06-15 20:08] Tobbe commented on #2765
Netlify already supports `functions/helloWorld/helloWorld.js`

This is from [their docs](https://docs.netlify.com/functions/build-with-javascript/)

See the second example in the list

[2021-06-15 20:11] dac09 commented on #2765
Thanks @Tobbe - need to improve my reading skillz. I think once we verify how vercel does it, we can decide what to do.

Our dev/api server needs to change, but thats not a big deal.

Index seems to me to be the most likely to be compatible, but I couldn't find the equivalent section of the docs for that on vercel.

[2021-06-15 20:11] dthyresson commented on #2765
Something to consider is if the dev server can serve up the function in the same way as an endpoint.

[2021-06-15 22:08] thedavidprice commented on #2765
Not to overdo the research ideas, but it possible we should look into Azure functions as well.

Also, I'm assuming Netlify === AWS Lambdas (direct deploy), but maybe not?

[2021-06-15 22:34] sundeer commented on #2788
@dac09 Looks like Prisma does not use ts enums when generating types for the client. This is from my prisma `index.d.ts` file.
[code]
If graphql-code-generator could support this, that would sidestep the problem altogether. I'll open an issue over there.

[2021-06-15 22:51] thedavidprice commented on #2344
Hi all. We are in between major changes and updates to the Extension. The current codebase is effectively going to be replaced, which is a great thing overall. It's still just a couple months out.

We're paying attention to these Issues and will update accordingly. Thanks for your patience!

[2021-06-15 22:54] thedavidprice commented on #947
@jtoar have you organized all the Issues and PRs related to Deployment Targets? I think this is going to become my personal project post v1-rc.0. Things like:
- GCP PR
- vanilla Dockerfile (maybe with Docker Compose; maybe with Kubernetes)
- so many other outstanding...

[2021-06-15 22:55] thedavidprice commented on #1478
Hi all. We are in between major changes and updates to the Extension. The current codebase is effectively going to be replaced, which is a great thing overall. It's still just a couple of months out.

We're paying attention to these Issues and will update accordingly. Thanks for your patience!

[2021-06-15 22:58] jtoar commented on #947
@thedavidprice there's no aggregate issue or project card for it yet but I can definitely start one and put it in the "RC Queue" for you!

[2021-06-15 22:59] thedavidprice commented on #947
@thedavidprice yes, please! Or make me do it. I just didn't want to double up.

[2021-06-15 23:05] thedavidprice commented on #1935
@jtoar another post v1-rc "project" is the overall installation and setup experience. Ideally, it would be a lot more Redwoody, which we need to define.

This topic definitely belongs in the related discussion when the time comes.

[2021-06-15 23:08] jtoar commented on #1935
@thedavidprice I've got a project card aggregating issues for that here: https://github.com/redwoodjs/redwood/projects/23#card-62823278. I've mentioned this one actually, wondering if Peter's PR reorganizing node_modules helped this at all (haven't dug deeper into it yet)

#252 is already being handled by @callingmedic911 in #2810 🚀

[2021-06-15 23:44] thedavidprice commented on #1935
Not yet. But the future possible roadmap would indeed be an improvement if implemented.

[2021-06-16 02:43] dthyresson commented on #384
Note that envelop has a plugin https://www.envelop.dev/plugins/use-graphql-jit that could now be used as part of https://github.com/redwoodjs/redwood/pull/2827

[2021-06-16 02:46] dthyresson commented on #2171
The Masked Errors plugin https://www.envelop.dev/plugins/use-masked-errors for envelop as part of https://github.com/redwoodjs/redwood/pull/2827 will address this issue.

[2021-06-16 02:47] dthyresson commented on #2148
See https://github.com/redwoodjs/redwood/pull/2827 for a set of default plugins to address common issues such as depth limits, masked errors, etc.

[2021-06-16 02:50] dthyresson commented on #366
See the options available now as part of https://github.com/redwoodjs/redwood/pull/2827

[code]

This issue seems out of date.

[2021-06-16 02:52] dthyresson commented on #366
I believe you'd [write an envelop-based plugin](https://www.envelop.dev/docs/plugins) and then add to `extraPlugins`

[2021-06-16 03:34] LBrian commented on #2264
@dac09 The behaviour you described kinda makes sense for me purely based on the current implementation of `Set`. The `loading` of `useAuth` is the only state will trigger rendering the component assigned to `whileLoading`, since token is cached after the first load, so the following navigation will not trigger re-authentication thus no state changes of `loading`.

From architecture point of view,

[2021-06-16 05:32] thedavidprice commented on #384
Woah, this would be really nice for performance.

[2021-06-16 06:34] Tobbe commented on #2264
Thanks for bringing this up. This is a good discussion to have.

I think we actually want both. You should be able to set `whileLoading` both on individual routes and on an entire `<Set>`. And it should not only work for waiting for auth. It should also be for when we're waiting for the JS for a page to download (downloading due to code splitting).

[2021-06-16 08:09] peterp commented on #2788
@sundeer Can you take a look at #2830, this made enums usable in my current project.

[2021-06-16 08:18] LBrian commented on #2264
This is not in place yet right? If this is TODO then make sense to have both

[2021-06-16 08:33] #2788 closed

[2021-06-16 09:00] #2750 closed

[2021-06-16 09:05] bigint opened #2841 "UUID in routes param is not working"
![image](https://user-images.githubusercontent.com/69431456/122190979-f29e6e80-ceaf-11eb-97b8-218ab0c31daa.png)

## Route

[code]

## Schema

[code]

## Route call

[code]

[2021-06-16 09:32] peterp commented on #2841
Hey @bigint, you  have to do something like `routes.home({ id: currentUser.id })`

[2021-06-16 09:57] bigint commented on #2841
@peterp The URL looks like this

![image](https://user-images.githubusercontent.com/69431456/122198969-41033b80-ceb7-11eb-8059-1f9a71fa20f4.png)

instead of `http://localhost:8000/@c5440bfc-d51b-4de1-8954-ab4cbf2cb686`

[2021-06-16 10:34] dthyresson commented on #2841
@bigint Looking at the Router docs here https://redwoodjs.com/docs/redwood-router#route-parameters see that:

[code]

When the route parameter os a String, you don't need to set the type of string

[code]

Of course, I do see you want to prepend an `@` between the root and the id ... which might be the issue ... the root.

But, as @peter said:

[code]

It might be the `:String` that is throwing it

[2021-06-16 10:40] bigint commented on #2841
Thanks @dthyresson

It seems like working with

[code]

but not with

[code]

[2021-06-16 10:44] dthyresson commented on #2841
Hi @bigint I'm not sure you can prepend string values in the param replacement.

Like

[code]

It may be parsing the values within `/`s and `@+id` doesn't match up with the replacement of just `id`.

But, perhaps the `@` is troublesome?

[2021-06-16 10:45] bigint commented on #2841
Yes!

[2021-06-16 10:46] dthyresson commented on #2841
Does

[code]

`u` instead of `@` work?

[2021-06-16 10:52] dthyresson commented on #2841
I just don't think that the route path can have preprended info in the path.

But if you really need the `@` here's what you can do:

In your SDL for the user, define a `slug`

[code]

Then, wherever you populate your user, maybe in `getUser`? ... set the

[code]

Or something such that now you have a named attribute

`slug: "@c5440bfc-d51b-4de1-8954-ab4cbf2cb686"`

And then use that:

[code]

and

[2021-06-16 11:10] LBrian commented on #2215
I got this error after upgraded to `0.33.3`, it was working perfectly before

![image](https://user-images.githubusercontent.com/3888780/122208956-4e381e80-cee7-11eb-839c-518d36d7b498.png)

[2021-06-16 12:03] bigint commented on #2841
Great thanks 👍🏻

[2021-06-16 12:23] dthyresson commented on #2841
Glad that helped. Can I close out this issue?

[2021-06-16 12:24] Tobbe commented on #2264
I was remembering wrong. We handle page downloading in a different way. https://redwoodjs.com/docs/redwood-router#pageloadingcontext

`whileLoading` is only for auth, just like you said

[2021-06-16 12:27] dac09 commented on #2264
Confirming this behaviour. I'm fairly sure we used to have `whileLoading` also trigger during chunk loading. 🤷

I haven't looked at the internals of how this works (because Router...) - but I do think having it also be triggered while the page chunk is downloading would be great. I think its certainly more ergonomic than manually creating a loader with pageLoadingContext, don't you think?

I'm not

[2021-06-16 12:28] bigint commented on #2841
Sure @dthyresson

[2021-06-16 12:30] #2841 closed

[2021-06-16 12:48] #2797 closed

[2021-06-16 12:48] viperfx opened #2843 "`rw exec` exits early when running scripts that spawn other processes"
I am planning some docs for the cli script, and I was just trying the task worker example with Faktory

I used this specific example when I was developing the CLI script and had this in my redwood app. This used to work in the initial contribution, but something might have changed to make this type of script not work as expected.

[code]

node.js version:
14
npm/yarn version:
1.22.5
faktory-server

[2021-06-16 12:53] dac09 commented on #2215
Hey @LBrian, this is likely due to the structural changes we're making to redwood at the moment. Steps to try and fix:

Assuming you've pulled main, and done a yarn install in the redwood folder:
- Make sure you don't have the `eslint-redwood-plugin` folder in your packages/ folder
- Change the dev dependency in your project from `redwoodjs/core` to `redwoodjs/cli` (this will be in the release not

[2021-06-16 13:05] Tobbe commented on #2841
Here's another issue about the same thing: https://github.com/redwoodjs/redwood/issues/2019
And this one is linked from the one above https://github.com/redwoodjs/redwood/issues/1702

[2021-06-16 16:04] Tobbe commented on #684
How about using "list" for the plural form here as well, to keep it consistent with how the cell case is handled?

Like if you generate sdl for "news":

[code]

[2021-06-16 17:18] cannikin commented on #684
We could say that if the word already ends in "s" then append "es" instead. Not that "Newses" is grammatically any better, but at least it doesn't sound like a snake is saying it!

In a perfect world, we'd let people decide beforehand! Like once the CLI command detects that "pluralize package says that the singular and plural versions are identical" then we prompt the user and ask them what they w

[2021-06-16 17:24] cannikin commented on #2607
This could be a relatively easy fix. When I first wrote this code there was nothing in the response from `getDMMF()` that denoted anything special about the model name, so I just did:

    pascalcase(pluralize.singular(name))

Based on Prisma's recommendations for naming your models (PascalCase like `UserPreference`)

Now I bet there's a properly like `modelName` or something that returns what it

[2021-06-16 18:02] thedavidprice commented on #684
Thank you @callingmedic911 Grateful for your help with this one! Yes, please, this is long overdo for being fixed. And a two-step (or PR) process might be appropriate as well: 1) quick fix 2) make it good

@dthyresson You mentioned having to solve a lot of this for Cells recently (or something like that if I recall). Could you please offer insights if/as applicable?

Appreciate everyone's help her

[2021-06-16 18:48] dthyresson commented on #684
We only have to handle a GraphQL Operation Name and either a single item or multiple item rendered -- so we could do `Find_Model_By_Id` and Models (whatever the plural was) and the append "List" for the control.

So, we could side step the plural issue.

[2021-06-16 19:05] callingmedic911 commented on #684
Certainly more consistent, however, so far `model`/`name` is one word and having two words probably would require changes at a few more places.

👍👍

Just to highlight, so far I haven't seen anything interactive with Redwood CLI, that's why I wanted to check if having interactive CLI will have any challenges. For example, if I want to throw-in a couple of rw command in a shell script, it would a bi

[2021-06-16 19:51] cannikin commented on #684
We actually do have an interactive generator now! Check out the setup/auth command—it looks to see if you already have an auth.js file in your project and asks if you want to replace it. It was easier than I thought it would be, there’s a package that handles all the formatting and answer types, it’s great.

[2021-06-16 19:56] pdjota commented on #684
could it make sense to extract the `nameVariants` from `packages/cli/src/lib/index.js` which is used in templates e.g. `singularPascalName` so we override the if only once?

[2021-06-16 21:49] #2811 closed

[2021-06-16 22:04] #2744 closed

[2021-06-17 02:05] LBrian commented on #2264
@dac09 I do agree with you the benefit of having `whileLoading` in `Route`, quickly checked the code and plausibly speaking we should be able to achieve by passing `whileLoading` down to `PageLoader`

![image](https://user-images.githubusercontent.com/3888780/122318992-5170f000-cf63-11eb-994d-b3b5e1cdfb86.png)

I'm not 100% sure for ☝️, it would be good to bring in more thoughts.

However, I do su

[2021-06-17 03:45] LBrian commented on #2215
The issue is resolved by running in both `redwoodjs/redwood` and `my-rr-app` folders then `yarn` again
[code]

[2021-06-17 07:39] LBrian commented on #2215
Following up 👆, `yarn rwt unlink` doesn't seem to clean up properly, `redwood/` `yarn.lock` and `package.json` are retained,  👇 result after unlink

<img width="1248" alt="Screen Shot 2021-06-17 at 5 32 09 pm" src="https://user-images.githubusercontent.com/3888780/122352792-c7d91680-cf92-11eb-9a61-c4a8b9a3940a.png">

[2021-06-17 15:46] thedavidprice commented on #2215
@dac09 @peterp Since the behavior of link was changed to no longer use Yarn Workspace, is it possible that `rwt unlink` is no longer working correctly?

[2021-06-17 15:47] dac09 commented on #2215
It's just that the paths we link to has changed. It won't be an issue if your project is v0.34 or higher

[2021-06-17 19:14] callingmedic911 commented on #684
@cannikin Great! `prompts` looks very similar to `inquirer`. Trying it out, I've couple of finding, will raise WIP PR.

@pdjota I think adding a `pluraize` rule (like @cannikin shared earlier) would require overall least change, because as soon as rule is added, pluralize will return custom word for that generator run.

[2021-06-17 22:01] dthyresson commented on #2804
FYI Facebook authentication is possible using [Supabase third-party auth](https://supabase.io/docs/guides/auth#third-party-logins).

[2021-06-18 08:54] dthyresson opened #2853 "Scaffolded cells are missing the Failure component causing uncaught errors in browser"
While the Cell generator creates a template compete with Empty, Loading, Success, and Failure components, the scaffold generator template does not include `Failure`.

The result of this omission is that if a service throws an error such as a `ValidationError` or `ForbiddenError` then the cell will re-throw the error and thus the browser has to deal with it:

![image](https://user-images.githubuser

[2021-06-18 09:21] dthyresson commented on #2853
Also, these scaffolds are not typescript.

[2021-06-18 09:30] dthyresson opened #2854 "Scaffold generator does not support Typescript"
While the Cell generator supports Typescript, the scaffold templates are still just Javascript.

Would need to:

* Update templates to tsx and use proper types
* Update scaffold command to convert files to TS

[2021-06-18 11:57] dac09 commented on #2215
`rwt link` fails due to type issue
[code]

### Solution
This happens when the prisma types go out of sync for some reason.

Steps to resolve:
1. Make sure you've pulled the latest code for the framework `git pull origin main`
2. In your framework repo run
[code]
3. Reinstall node_modules
[code]

[2021-06-18 17:46] thedavidprice commented on #2854
Hmm, let's figure out what happened (seems like a regression from a merge reconcile) and get it updated. Thanks DT!

[2021-06-18 18:10] #912 closed

[2021-06-18 18:10] #2148 closed

[2021-06-18 18:10] #2171 closed

[2021-06-18 23:31] cannikin opened #2859 "Bug: Can't create CRUD version of service with Boolean or Decimal Prisma field types"
After adding the new scenario fix https://github.com/redwoodjs/redwood/pull/2823 a bug was revealed—if your model data contains a Boolean or Decimal field type (as defined in prisma.schema), the code that turns the scenario data into a test throws an error. Turns out we weren't defining default values for Boolean or Decimal fields, so the new code attempts to call `replace` on `undefined`.

The fi

[2021-06-19 03:35] cannikin commented on #1969
Related: https://github.com/redwoodjs/redwood/issues/2859

[2021-06-20 00:19] viperfx commented on #2843
I have cross-posted the issue the Faktory worker node repo at https://github.com/jbielick/faktory_worker_node/issues/157

Perhaps @jbielick could give some clues as to why it may not be working as expected.

[2021-06-20 05:15] #2859 closed

[2021-06-20 07:21] LBrian opened #2861 "Auth magic.link cached token should be purged after logout"
**[Context]**
authentication, magic.link

**[Root cause]**
I believe this a side effect from #2555 to cache `token` for 10 mins.

**[Reproduce]**
Log in user A and log out then log in user B right after, `getCurrentUser` returns user A metadata instead since user A's token is cached, reload the page fix this issue.

**[Solution]**
Purge cached `token` in `logout` function
[code]

[2021-06-20 12:48] benada002 opened #2863 "Custom auth provider with redirect to Private route after login, redirecting back to unauthenticated route"
### Problem
If you have a custom auth provider where the `login`  function redirects to a `Private` route you get redirected to the `unauthenticated` route (`/unauthenticatedRoute?redirectTo=${currentLocation}`).

### Why
This happens because `reauthenticate`, which would set the `loading` state of the `AuthProvider` to `true`, is called after the `login`  function, which navigates to the `Private

[2021-06-20 18:11] Tobbe commented on #2264
@peterp mentioned maybe using a React Suspense boundary for this. Is that something you're familiar with @LBrian? Do you think it could work?

[2021-06-20 18:30] thedavidprice commented on #1969
This seems resolved by #2860, correct?

[2021-06-20 18:49] cannikin commented on #1969
Yup, I used "Closes #1969" in the commit message so it should have automatically closed this one...not sure why it didn't? Maybe because I listed two issues...each needs to be on its own line?

[2021-06-20 18:49] #1969 closed

[2021-06-20 20:43] viperfx opened #2864 "Allow changing full path to graphql endpoint"
Currently, the graphql endpoint is combined with `__REDWOOD__API_PROXY_PATH` and the `/graphql` added at the end to form the full URL. At the following lines https://github.com/redwoodjs/redwood/blob/ea56b2b594fe512a2de0764d56a42d5506624212/packages/web/src/components/FetchConfigProvider.tsx#L20-L50

Should we allow for the full URL to be defined by the frontend?

Such cases are when using a Graph

[2021-06-20 20:45] viperfx commented on #2864
Ive chatted with @mxstbr from GraphCDN about this - so CC'ing here.

[2021-06-20 21:37] viperfx commented on #2843
Ive created a repo to reproduce the issue with steps - https://github.com/viperfx/redwood-faktory-worker

[2021-06-21 00:05] LBrian commented on #2264
@Tobbe Good callout! We should use `Suspense` under the hood for this

[2021-06-21 05:18] zakmandhro opened #2865 "Resolve unmet peer dependencies"
There are still **unmet package dependencies** on clean install of Redwood `0.34.1` when using:

[code]

We should resolve these before 1.0RC so that new users don't get nervous about Redwood stability and quality on initial setup:

[code]

[2021-06-21 06:01] mxstbr commented on #2864
Due to that limitation, Redwood users cannot use GraphCDN at the moment, which makes me very :cry: I hope we can figure out a way to support it here!

[2021-06-21 06:09] peterp commented on #2864
Ah! Daaaamn, I almost had this PR released: https://github.com/redwoodjs/redwood/pull/2822 that resolves this issue. I should get it in in a day or two.

[2021-06-21 06:47] Tobbe commented on #2264
Great! Do you want to try to update this PR to use Suspense?

[2021-06-21 07:42] LBrian commented on #2264
Just assign to me and I will take care of it.

[2021-06-21 09:52] dac09 commented on #2264
Suspense is totally a good call for this - assigning to you @LBrian - thank you!

[2021-06-21 11:09] noire-munich commented on #2473
I just got this one - upgraded to v0.34 this morning from v0.33.
Also: storybook is not involved in my user case.
Quick dirty fix was to change my Success component's signature so it receives a data object and not spread properties, then I test it before use in my render method.

Don't like it though.

[2021-06-21 11:40] peterp commented on #2473
@noire-munich Can you show us what you changed?

[2021-06-21 12:07] noire-munich commented on #2473
@peterp ah! I thought I could rewind but the error doesn't occur anymore on that component - it does on another one and I haven't been able to fix it yet.

[2021-06-21 12:30] dthyresson commented on #2863
Thanks @benada002 PR's are absolutely welcome!

@Tobbe do you think this is related in anyway to https://github.com/redwoodjs/redwood/issues/1892 ?

[2021-06-21 12:40] ajoslin103 opened #2867 "Go To Definition [of Cell (in VSCode)] takes you to index.d.ts"
Go To Definition [of Cell (in VSCode)] takes you to the [mirrored] index.d.ts in the .redwood folder

I have _no_ idea what to do, other than report this

(same result for Go To Definition, and Go To Type Definition)

lord knows this is not a show-stopper

more like an oddity

[2021-06-21 14:28] Tobbe commented on #2863
@benada002 Do you mean `loading` instead of `isAuthenticated` here in your code snippet?
[code]

@dthyresson I don't think they're about the same error case.

[2021-06-21 14:36] benada002 commented on #2863
@Tobbe Yes, of course. Sorry about that.

[2021-06-21 15:47] Tobbe commented on #2863
No need to be sorry :)  I just wanted to make sure I understood correctly. Thanks for digging in to this part of the code, it's not the easiest to wrap your head around 👍

[2021-06-21 16:13] jangxyz opened #2868 "RouteParams parse errors"
The RouteParams generic type in `web-routerRoutes.d.ts` fails to parse types correctly if there are untyped param together with typed ones.

Say I have a long pathname with multiple typed/untyped params:

`"/s/{bId:Int}/s/d/{year:Int}/{month:Int}/{monthDates}/e/{eId:Int}/s"`
as in
[code]

Note there is a `monthDates` param which does not have a specific parameter type. I am trying to denote multip

[2021-06-21 16:28] thedavidprice commented on #2868
Thanks for reporting this @jangxyz

@dac09 @peterp suggestions about prioritization? My interpretation is this should be fixed for v1-rc milestone.

[2021-06-21 16:31] thedavidprice commented on #2863
@benada002 wanted to confirm your interest and availability in opening a PR, correct? This has currently been assigned to you. No pressure, but your help is very welcome.

[2021-06-21 16:32] thedavidprice commented on #2867
@peterp thoughts on this one?

[2021-06-21 16:34] benada002 commented on #2863
@thedavidprice Yes I'm interested in creating a PR.

Should same also be done for `signUp` and `logOut`, as they are also mutating the auth state?

[2021-06-21 16:37] dthyresson commented on #2863
Would `logOut` still set `isAuthenticated: true` or `false`?

Probably for signUp too unless there is some additional email confirmation that's needed, but I don't think that is the case in these.

[2021-06-21 16:39] Tobbe commented on #2868
@jangxyz Are you on RW 0.34? Our latest release got a lot of typescript love, so if you're not on the latest release it's totally worth upgrading first 🙂

[2021-06-21 16:41] thedavidprice commented on #2863
It would seem so. But if it's not obvious, please do open the PR addressing your solution (above) and loop in @Tobbe for discussion about `signUp`, `logOut`, and/or any other considerations that may come up. It's often easier to discuss and evaluate while working with a PR.

Thanks! Do let us know if you have any questions about contributing. There are docs on the website as well as CONTRIBUTING.m

[2021-06-21 16:41] jangxyz commented on #2868
@Tobbe Yes this is done with a fresh 0.34.1 install.

[2021-06-21 16:48] thedavidprice commented on #2865
Thanks @zakmandhro Dependencies are on my list as a priority for v1. It won't be resolved prior to the initial v1-rc. But it is something we'll look at before a v1.0.0.

[2021-06-21 16:52] Tobbe commented on #2868
@jangxyz

[2021-06-21 17:01] thedavidprice opened #2869 "Lerna and NPM are re-ordering placeholder dependencies `x----x----x`"
@peterp I didn't want this to get lost in the shuffle. Are you diagnosing further?

Original comment here:
https://github.com/redwoodjs/redwood/commit/3a94b3fa47856dda487dcb712b12d5d0a77a93af#r52420754

Packages:
- [core/package.json](https://github.com/redwoodjs/redwood/commit/3a94b3fa47856dda487dcb712b12d5d0a77a93af#diff-0b810c38f3c138a3d5e44854edefd5eb966617ca84e62f06511f60acc40546c7) change re

[2021-06-21 19:42] benada002 commented on #2863
I looked at it again and saw that even `reauthenticate` (which is called by `logIn` and `signUp`) doesn't set the `loading` state to true before doing it's thing.
[code]
I think it wouldn't hurt to also set `loading` to true in `signUp` and `logOut` since <Set private> and Private are returning just `null` or `whileLoading`:
[code]
So as long as loading gets set to `false` again it should be fine.

[2021-06-21 20:21] #684 closed

[2021-06-21 22:42] keithtelliott commented on #2868
I observed the same issue on 0.33, then upgraded today to 0.34 and still observe it.

I am happy to jump in and start working toward a fix.   I’ve studied the code and am seeing what @jangxyz noted - very thorough notes @jangxyz - I appreciate it!   I have nothing more to add, other than an independent confirmation.

[2021-06-22 02:12] #1953 closed

[2021-06-22 03:44] thedavidprice commented on #1953
Related website updates https://github.com/redwoodjs/redwoodjs.com/pull/730

[2021-06-22 08:03] LBrian opened #2871 "`yarn rw test` cannot find `@redwoodjs/testing/configs/api/index.js`"
RR `v.0.34.0`

![Screen Shot 2021-06-22 at 5 59 42 pm](https://user-images.githubusercontent.com/3888780/122886995-c9844f00-d383-11eb-97ed-330de1265be8.png)

I believe this is a side effect from https://github.com/redwoodjs/redwood/commit/784113134316a3bcc6563d5e74d4fc4d36e7509d cc @peterp @thedavidprice

[2021-06-22 08:04] LBrian commented on #2871
This should be an easy fix, I can create a PR later for this

[2021-06-22 08:22] benada002 commented on #2863
I drafted a PR (https://github.com/redwoodjs/redwood/pull/2872) now where the loading is set to true in logIn.

[2021-06-22 10:54] dac09 commented on #2765
Vercel does _not_ support the nested functions behaviour. Functions in folders are simply ignored. In order to maintain compatibility (and to make it easy to reason about) - the best course of action after discussion with @peterp is to do something like this:

**Input file tree**
[code]

Gets transformed to

**Dist output tree**
[code]

[2021-06-22 12:49] dthyresson commented on #2765
@dac09 Another scenario to add to your test cases for Netlify are the On-Demand Builders:

https://docs.netlify.com/configure-builds/on-demand-builders/

[code]

Since it wraps the handler.

[2021-06-22 15:12] dac09 commented on #2765
Some more important info from investigation, although Netlify supports the folders as per their docs, what they do _not_ let you do is group functions into a folder.

So in this example:
[code]

☑️ myapp.com/api/checking runs checking.js
⚠️ myapp.com/api/checking/other just runs checking.js
🛑 myapp.com/api/group/hey 404s

[2021-06-22 15:48] thedavidprice commented on #2871
Hi @LBrian Can you confirm you followed the "Code Modifications" section in the [v0.34](https://github.com/redwoodjs/redwood/releases/tag/v0.34.0) release notes. Specifically the jest config files:
[code]

In our QA for this release, `yarn rw test` is working successfully. I cannot replicate this error.

Deleting `node_modules` might be necessary. And/or a forced install with `yarn install --force

[2021-06-22 18:16] peterp opened #2874 "Dockerize api-side"
We want to provide a multi phase builds docker image so that we can build the api side, and then discard all the node_modules that are required to build it, so that we're only left with the awesome packages that are needed.

[2021-06-22 18:18] peterp commented on #2874
/cc @jeliasson @dac09

[2021-06-22 19:33] thedavidprice commented on #2874
To Discuss: contexts for using Docker
1. local development
2. deployment

Do we need to support both?

[2021-06-22 19:55] Tobbe commented on #2765
I actually think they do. I wrote this in a previous issue (https://github.com/redwoodjs/redwood/issues/849)

File structure
![image](https://user-images.githubusercontent.com/30793/122989625-51c61c80-d3a3-11eb-8771-2e91cb9d9313.png)

vercel.json
![image](https://user-images.githubusercontent.com/30793/122989890-9f428980-d3a3-11eb-989a-67dd71317674.png)

With that I can access:
  hello.js at url.t

[2021-06-22 19:56] dac09 commented on #2765
Yeah ofcourse, with redirects everything is possible ;)

[2021-06-23 00:12] LBrian commented on #2871
My bad, overlooked `jest` config section while quickly reading through change log of `0.34`, problem resolved, thx @thedavidprice

[2021-06-23 00:12] #2871 closed

[2021-06-23 11:13] dthyresson opened #2875 "Apollo Server lacks validation rules top prevent against malicious queries"
Apollo Server accepts a set of `validationRules` when configuring the GraphQL server.

One useful rule to prevent a malicious query is: https://github.com/stems/graphql-depth-limit which prevents against queries like that can exploit circular references to create long running queries that consume resources:

[code]

[code]

See: https://benhoneywill.com/protecting-your-graphql-server-from-dangerou

[2021-06-23 11:24] dthyresson opened #2876 "Add Apollo Server timing traces so can compare with Helix + Envelop"
Envelop and Helix provide internal timing tracers to measure how land a query takes to parse, validate, execute, etc.

See: https://www.envelop.dev/docs/tracing

[code]

In addition, Envelop implements Apollo Tracing https://github.com/dotansimha/envelop/tree/main/packages/plugins/apollo-tracing.

Redwood would like to be able to compete these metrics with those from Apollo Server.

Therefore, nee

[2021-06-23 11:26] dthyresson opened #2877 "Add logger and error masking to Apollo Server"
Helix + the Envelop GraphQL plugins implemented a logger and also masking of errors (so sensitive info is not leaked).

Need to add something similar to the Apollo Server configuration that:

* logs
* masks errors when not in dev
* accesses the lambda events to create a RedwoodRequestId (for error traceability)

[2021-06-23 11:32] dthyresson opened #2878 "Allow Apollo Server to be configured with custom, extra validation rules"
Apollo Server can be configured with a series of validation rules.

Redwood will default set (or make configuration possible) several, like depth limits.

But, the `GraphQLHandlerOptions` could expose an `extraPlugins` or `extraValidationRules` so that a developer can add in other rules easily.

The Helix + Envelop GraphQLHandlerOptions exposes this ability via `extraPlugins`.

See https://github.

[2021-06-23 13:25] noire-munich opened #2879 "MissingBeforeResolver everywhere"
So, I opted in secured services today, which felt easy to implement.
However, it appears I'd have to add the beforeResolver to any file in my api/src/services/**/* as per this which pops in my terminal:

[code]

And I do mean any file, even the `index.d.ts` files to declare my module's types.

Is this really the desired behaviour?

[code]

[2021-06-23 13:59] viperfx commented on #2843
Josh (the author of Faktory) has left a comment suggesting that the problem is likely due to the `process.exit(0)` we are doing. See https://github.com/jbielick/faktory_worker_node/issues/157#issuecomment-866180337

@peterp @dac09 I am going to put a PR that adds a flag to not exit the script to allow for usage with libraries that require this.

[2021-06-23 14:25] noire-munich commented on #2473
@peterp @thedavidprice any chance this could be prioritized ? It's blocking further developments on SportOffice.
Should I find anything useful about it I'll report here.

[2021-06-23 14:37] dthyresson opened #2880 "Scaffold generators do not output Typescript"
The scaffold generator does not create Typsecript files.

Will need to use .ts and .tsx.

For cell, probably need to add these lines:

1. At the top
[code]

2. For Failure
[code]

3. For Success
[code]

_Originally posted by @dac09 in https://github.com/redwoodjs/redwood/issues/2855#issuecomment-864132956_

[2021-06-23 14:48] peterp commented on #2473
@noire-munich I'm trying to figure out how to reproduce it, is it because the props passed into success are undefined?

[2021-06-23 14:55] noire-munich commented on #2473
@peterp They are not supposed to be undefined, that's the payload:

[code]

That's my Query:
[code]

And that's the Success declaration:
[code]

[2021-06-23 14:58] dac09 commented on #2843
Looking at his comment here, I don't think that's going to necessarily solve your problem.

What you want to do is wait till your job is finished, and I guess you can wrap faktory.work somehow

[2021-06-23 15:18] jangxyz commented on #2473
If it helps, I got the feeling it happens when I add some of the fields in the query in some part and didn't update other parts (like the mock for the story). I figured that was the reason apollo was complaining for -- graphql query has succeeded, but insufficient data.

[2021-06-23 15:21] jbielick commented on #2843
This is a worker process. It runs continuously until it is stopped, constantly polling the queues for work. I don't think the intention is to start it and stop after completing a job.

It will indeed fix the issue if process.exit(0) were removed because there's no promise to await on, but the node process won't shut down until there are no remaining events on the event loop and no open sockets. Th

[2021-06-23 15:25] peterp commented on #2473
@noire-munich nope - I absolutely agree that they shouldn't be undefined, and this is definitely a bug - it just wasn't clear to me what the root cause is.

My question was trying to establish that.

@jtoar can we figure this out?

[2021-06-23 15:35] dac09 commented on #2843
I've updated the title to reflect this now, thanks both - I now understand how faktory works, and it makes total sense and is a valid usecase.

We just need to make sure regular scripts still exit OK, and I guess we can remove the `process.exit(0)`. Listr behaviour can sometimes be a little odd!

[2021-06-23 15:51] callingmedic911 commented on #2806
@jtoar @thedavidprice Can we use `eslint-plugin-import`, specifically `no-unresolved` rule? It has [`caseSenstive`](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-unresolved.md#casesensitive) option (on by default) that should cover it. What do you think?

[2021-06-23 16:24] viperfx commented on #2843
Ive tested the scripts with Faktory and some simple promises with await/async syntax.

[code]

I can confirm that it does exit when you expect, and in the case of Faktory it says running.

[2021-06-23 16:44] viperfx commented on #2843
Put up a pr #2881 2881

[2021-06-23 17:03] dthyresson commented on #2879
Hi @noire-munich did you add

[code]

as per: https://redwoodjs.com/docs/services#securing-your-services

And then implement a rule like:

[code]
?

If not, then yes, that error I believe is expected.

@cannikin is that correct? Could we add some info to help direct the user as how to resolve that error message?

[2021-06-23 17:11] #2869 closed

[2021-06-23 17:33] jtoar commented on #2473
@peterp on it now, @noire-munich I'll try to reproduce with your example and ask for more info if needed!

[2021-06-23 18:10] noire-munich commented on #2879
@dthyresson yes!
My bad, more info on the service in question, `api/src/services/accountPaymentConfiguration`:

it has a `accountPaymentConfiguration.ts` file at its root which contains the following:
[code]

It has a `index.d.ts` at its root which contains the following type draft :

[code]

And the error seems to bump on this `index.d.ts` file as if the extra "." was considered as a path separat

[2021-06-23 18:16] dthyresson commented on #2879
Ah @dac09 is this a Typescript item we'll need to add in the generators and docs?

[code]

And then @cannikin I imagine we need to document that *every* service will need to define a rule ... even if it is a

[code]

for those one wants to leave open?

Great questions. Thanks for testing and trying out this feature! Very helpful.

I think it's clear that the DX could be a bit better in docs and in

[2021-06-23 18:26] noire-munich commented on #2879
Always glad to!

Ah, doc could help on this indeed!

The underlying problem this poses to me is that I don't like having bloated files.
With such a coverage I could still separate each service endpoint in their own file and have their very own `beforeResolver` there, however I also expect to have modules in `src/services` that may not contain any endpoint method, but could be very raw files contai

[2021-06-23 19:22] jtoar commented on #2473
@noire-munich I haven't been able to reproduce this outside of storybook yet. For the error to be thrown:
[code]
data has to be `null` or `undefined`. Data's `undefined` if Apollo can't get the query in it's entirety. (The default [errorPolicy](https://www.apollographql.com/docs/react/data/error-handling/#graphql-error-policies) is `'none'`).

One thing you could do to try to debug this is to set

[2021-06-23 19:35] peterp commented on #2473
@jtoar I'm wondering why it would hit success if data is null? Doesn't that already indicate some sort of error?

[2021-06-23 19:41] peterp commented on #2473
@jtoar Do you think this might have something to do with the `updating` change that we made? That in a subsequent fetch "structure" is undefined?

[2021-06-23 20:01] pi0neerpat commented on #2874
Hi folks, I've got a working Docker build Github Action, thanks to lots of help from @jeliasson

https://gist.github.com/pi0neerpat/711ed1027eeb66735e457fa930cd707b

One thing to add is the need to **separate `prisma migrate` from the build process**. Instead we should run it immediately before the image is deployed. Otherwise, there is a gap in time where the database and deployed image will be m

[2021-06-23 20:01] jtoar commented on #2473
Right! Moreover, if data is `null`, the Cell should render Empty based on the logic here:
https://github.com/redwoodjs/redwood/blob/162daf5acb3204df9049c9605cadacfbe6d5c2af/packages/web/src/components/createCell.tsx#L91-L93

I think I've seen Empty being rendered by data being an empty array a lot more than I've seen it being rendered by data being null.

For Storybook, when you mismatch the field

[2021-06-23 21:19] cannikin commented on #2879
Hmm, it does output error messages if there's no `beforeResolver` defined, but we have 3 different places that errors can show so it can be tough to find (api console output, browser console output, browser error page).

The release notes and [docs](https://redwoodjs.com/docs/services#skip) do tell you how to `skip()` and [state](https://redwoodjs.com/docs/services#securing-your-services) that you

[2021-06-23 21:26] jtoar commented on #2473
Here's a walk through of a stress test. I also tried returning `null` instead of just omitting the email field, and Empty is rendered appropriately

https://user-images.githubusercontent.com/32992335/123169907-ba0e1000-d42e-11eb-91a5-50f7837e4951.mp4

[2021-06-24 06:57] noire-munich commented on #2879
@cannikin the message in itself is clear enough as to what causes the issue and how to solve it - at least, to me it's pretty clear, with the doc and with the message. This was the case while bumping into it already, but it raised some questions.

What is left unclear to me is:
- Why does the error message target an `index.d.ts` file? This is a type declaration file AFAIK, my instinct would consid

[2021-06-24 08:06] noire-munich commented on #2473
@jtoar I tried with both `all` and `ignore` but it didn't change anything and didn't help gather more information on the issue at hand.

Also, it appears the error happens deeper in the page, the EditCell calls several cells, one of which being the LevelsCell, which has that query:
[code]

We use the same endpoint as in my initial message but we filter on different properties.
Here's the service:

[2021-06-24 13:31] krinoid opened #2886 "Error when using useApolloClient ("No Apollo Client instance can be found")"
Hi, I've been using redwood for a couple of months and really enjoy it, thanks to all contributors!

Recently, I've been working on updating the project I have on `v0.31.2` to the latest one (`v0.34`). During that I've encountered an error while using `useApolloClient` in some of my pages/components. The error message is: "No Apollo Client instance can be found. Please ensure that you have called

[2021-06-24 13:52] krinoid commented on #2886
OK, I figured out that the problem was caused by the `@apollo/client` version mismatch between what `@redwood/web` uses internally (`3.3.19`) and latest version installed by `yarn add @apollo/client` (`3.3.20`). Pinning `@apollo/client` in my project to `3.3.19` (note the lack of `^`) solved the problem. The real root cause is happening deeper down the dependencies tree, I guess but my first prior

[2021-06-24 14:01] jeliasson commented on #2874
Good initiative!

@peterp What would be the best way to figure out which packages that would be required at runtime? It is not as easy as `yarn install` vs `yarn install --production` yet, right? 😅

@thedavidprice In the context of having a multi phase build and discard the required build packages for a slim runtime image, I think it would focus on deployment.

@pi0neerpat Agreed. A way could be t

[2021-06-24 14:02] #2843 closed

[2021-06-24 15:29] jtoar commented on #2473
@noire-munich dang sorry that didn't work—and thanks for the info, I'll try nesting the Cells and nesting the payload. Superficially, the nested payload reminds me of this issue: https://github.com/redwoodjs/redwood/issues/2005. That wasn't causing anything to error, just wanted you to know that there's a discussion around routing a nested payload to Empty.

I'll try reproducing this again!

[2021-06-24 16:00] noire-munich commented on #2473
Thanks @jtoar , just had a look at #2005 and indeed it's good to know others are considering such a thing ;).

Out of curiosity I checked the query call in `localhost:8911/graphql`, same arguments, I got the same payload in the playground and no error whatsoever - if it was apollo related I'd have expected something here.

But! There could be another thing to consider: in this context, I'm using a

[2021-06-24 17:17] cannikin commented on #2879
How it actually works in the code:

1. Your graphql function imports all services from all files in `api/src/services`: https://github.com/redwoodjs/redwood/blob/main/packages/create-redwood-app/template/api/src/functions/graphql.ts#L7
2. It gives them to the `makeServices()` function internal to Redwood: https://github.com/redwoodjs/redwood/blob/main/packages/create-redwood-app/template/api/src/f

[2021-06-24 17:30] cannikin commented on #2879
The structure of `services` after being imported in graphql.js ends up looking like:

[code]

So it looks like we can just look for an `_` to make sure that the service is from an actual subdirectory and not the root!

[2021-06-24 19:10] callingmedic911 commented on #2631
@thedavidprice @jtoar I'd be glad to pick this up. Let me know.

[2021-06-24 23:09] Tobbe commented on #2879
Isn't that what we have the /src/lib folder for?

[2021-06-24 23:18] cannikin commented on #2879
I'm not a Typescript guy, so maybe this is not normal, but @noire-munich created a `index.d.ts` file in the root of `api/src/services` for his types. Just by virtue of the file existing, the `makeServices()` code was looking in there to see if it exported `beforeResolver()`.

Is that a common place to define types, or would those go in `api/src/lib` as well?

Either way, anything in the root of th

[2021-06-25 07:07] noire-munich commented on #2879
Thanks a lot for the elaborate answer @cannikin , it does shed some light on my questions ( some I've had for a long time actually! ).

I'm not much a typescript guy either ( learning to be though ).
What I saw however is that files corresponding to `**.d.ts` are Declaration files, when processed those files are stripped of any code that is not type declaration, which means they should not contain

[2021-06-25 09:21] LBrian commented on #2264
@Tobbe @peterp I know we agreed to use `Suspense` but it will become breaking changes from my understanding, see my verdict in #2889. I believe this is an easy and quick fix without changing current `PageLoader` and `usePageLoadingContext` architecture

[2021-06-25 10:15] noire-munich opened #2890 "Errors on import while running jest"
After upgrading to v0.34.0 I've found myself with all my tests failing on this kind of error:

[code]

The error in itself is that imports which use to work no longer work, eventhough files have not changed. This happens within tests files but also with imports that are in regular services. Thoses services work well with dev server started.

I've ran tests on a new project and it doesn't seem to b

[2021-06-25 15:46] thedavidprice commented on #2890
Hi @noire-munich Let's see if we can get you sorted.

Possibly same issue, re: Code Mods, as this https://github.com/redwoodjs/redwood/issues/2871#issuecomment-866105325?

[2021-06-25 16:06] peterp commented on #2890
If this is the case then I introduced this by accident. I meant for it to continue working, but to display a deprecation warning

[2021-06-25 16:06] peterp commented on #2890
@thedavidprice if this is the case, please assign to me, and I'll make sure that it works as expected

[2021-06-25 16:56] noire-munich commented on #2890
Hi @thedavidprice
Thanks, it doesn't seem to be the same issue. I removed node_modules, installed again, same bug pops up.
Once the test process is done ( can't force quit apparently when it's buggy ), i'll try with `install --force` for the sake of it & report.

[code]

[2021-06-25 17:15] noire-munich commented on #2890
Ok, I confirm with little surprise, `install --force` does not resolve the issue.

[2021-06-25 18:11] thedavidprice commented on #2890
@noire-munich thank you for reporting this! I've labeled as a bug and queued up for priority.

@peterp done! Thanks.

[2021-06-25 19:25] dac09 commented on #2631
Hey @callingmedic911 and all, I believe I did remove a whole bunch of depracated stuff a little while ago, but there's a handful left. Assigning to you, thank you :)

[2021-06-25 19:37] noire-munich commented on #2473
Following a debugging session with @jtoar and for the sake of public documentation, here's a temporary fix until a proper patch is provided. Please note that it's relevant if the bug happens in your app, not within Storybook.

[code]

To put in the faulty cell with a warning.

Also, if anyone's working on this, it could be interesting to share if the ApolloClient's cache has actual data in it or n

[2021-06-25 22:35] cannikin opened #2895 "Bug: generating a cell with a subdirectory creates an invalid test"
[code]

Look like the template for the cell test doesn't strip directories from the "name" of the cell, and just makes that the name of the prop.

[2021-06-26 13:07] Tobbe opened #2897 "VSCode doesn't suggest imports for `<Private>`"
![image](https://user-images.githubusercontent.com/30793/123513767-3bfc7400-d68f-11eb-94a9-1533905479e2.png)

When I try to use `<Private>` in my Routes.tsx file VSCode should know to suggest that it can be imported from `@redwoodjs/router`

![image](https://user-images.githubusercontent.com/30793/123513929-38b5b800-d690-11eb-9f54-5ef7dbe4fd85.png)

\#typescript

[2021-06-26 13:10] Tobbe commented on #2897
Actually it does work if I first accept the suggestion to import React

![image](https://user-images.githubusercontent.com/30793/123514012-a530b700-d690-11eb-8794-15fd5a17b805.png)

Why do I need to do that?

[2021-06-26 13:57] Tobbe opened #2898 "requireAuth role vs roles"
Should it be `role` or `roles`?

The comment suggests `roles`, but the code uses `role`

[code]

The [services docs](https://redwoodjs.com/docs/services.html#more-complex-scenarios) uses both 🙈

![image](https://user-images.githubusercontent.com/30793/123515087-7d445200-d696-11eb-821b-0893457da512.png)
![image](https://user-images.githubusercontent.com/30793/123515115-88977d80-d696-11eb-8a7e-66386

[2021-06-26 14:38] jmcmullen commented on #1664
Installing zip with yum works on Vercel but I don't think the functions are zipped up after build.

[code]

[2021-06-26 15:08] viperfx commented on #531
Just following this thread.

If I am understanding correctly, if the project uses typesccript we should use @jangxyz solution

But otherwise, with JS project @peterp or @krinoid works just fine for sharing utils and bits of code that can be used with both api and web side.

[2021-06-26 20:23] krinoid commented on #2886
Closing the issue, hopefully it'll be helpful to somebody in the future 🙂 (in that case: hello, person from the future 👋)

[2021-06-26 20:23] #2886 closed

[2021-06-28 02:48] jmcmullen opened #2900 "extendDefaultPlugins is not a function (While processing: "/node_modules/@redwoodjs/core/config/babel-preset.js"
I've updated to the latest version of Redwood and I am now seeing this error.

I've inspected the missing function from the `babel-preset.js` file and it appears to be related to `svgo`.
[code]

I tried removing any SVG files from my code but I still see the following error in console:
[code]

When I access the live server on 8910 I see the same error but from `App.js`
[code]

[2021-06-28 06:10] #1482 closed

[2021-06-28 10:37] peterp commented on #2900
@jmcmullen Could you try deleting your `node_modules`, removing `yarn.lock` and re-installing everything?

[2021-06-28 11:03] peterp commented on #531
@viperfx I like to think of it the following:

1. If you want to share types, use `paths` in tsconfig.json
2. If you have to share code use babel alias and paths in tsconfig.json

[2021-06-28 11:47] jmcmullen commented on #2900
@peterp that's the first thing I tried, same problem. I've even created a new redwood project and copied my web and api src over and I still get the issue.

[2021-06-28 11:48] peterp commented on #2900
@dac09 can you help out with this?

[2021-06-28 11:53] dac09 commented on #2900
Hey @jmcmullen - can you do me a favour and run `yarn why babel-plugin-inline-react-svg` and `yarn why svgo` and paste the output here please?

My feeling is that the wrong version of the plugin/svgo is being installed.

[2021-06-28 11:55] dthyresson opened #2901 "RFC - Logger - Should production logging default to a lower level, like debug?"
As per docs:

* Should production be debug?
* Docs need to make this config clearer with a callout

[2021-06-28 11:56] jmcmullen commented on #2900
Thanks for taking a look @dac09 - here's the output.

[code]

[code]

[2021-06-28 11:58] jmcmullen commented on #2900
Ahh, I think you've spelt it out for me. I have another monorepo called emails that seems to be using an older version.

[2021-06-28 12:00] dac09 commented on #2900
Yeah looks like its the older version of svgo thats the problem :) svgo needs to be 2.x+, annoying that its overriding the version redwood should be using.

Please let me know if upgrading solves it for you.

[2021-06-28 12:13] #2853 closed

[2021-06-28 12:15] dthyresson opened #2902 "Test graphql-server with Helix and Envelop in production deployments"
Need to test new `graphql-server` with Helix and Envelop in production deploys:

- [x] Netlify
- [x] Vercel
- [x] Render

Note: there is a Notion task list for internal use.

[2021-06-28 12:16] jmcmullen commented on #2900
Yep, that fixed it after another `node_modules` purge. Thanks so much for you help, I really appreciate it. Never knew about `yarn why`, definitely adding that one to my arsenal.

[2021-06-28 12:17] dac09 commented on #2900
Wooooo! Nice one, glad I could help. `yarn why` is super useful yes

[2021-06-28 12:17] #2900 closed

[2021-06-28 15:39] cannikin commented on #2757
It's tough to tell from the list of activities/references above, but the dbAuth PR fixes this!

[2021-06-28 15:48] peterp commented on #2874
@jeliasson Here are the packages required for build:

[code]

[2021-06-28 15:54] peterp commented on #2874
There are other ways that we can handle this as well. We could potential use esbuild to create a bundle, or zip it and ship it.

[2021-06-28 17:04] jtoar commented on #2898
@Tobbe agree that `roles` makes more sense. @cannikin what do you think?

[2021-06-28 17:06] jtoar commented on #2898
^ don't mind me 😅

[2021-06-28 17:16] cannikin commented on #2898
Yeah let's go with `roles`.

I was going to go down a whole Ruby/Rails rant about allowing both and worrying about consolidating them into a single datatype behind the scenes, but I realized that `requireAuth` is a function that the user owns, not us, and it'd be kinda ugly to generate `api/src/lib/auth.js` with a bunch of code in there that turns one into the other. Nevermind!

I must have alread

[2021-06-28 17:16] jtoar commented on #2867
We thought we fixed this in https://github.com/redwoodjs/redwood/pull/2614 (we closed an issue similar to this one: https://github.com/redwoodjs/redwood/issues/669#issuecomment-854544501). Definitely still an issue though, I've reproduced it

[2021-06-28 17:23] jtoar commented on #2895
I think this syntax isn't supported yet but will be once https://github.com/redwoodjs/redwood/pull/2606 gets merged

[2021-06-28 19:29] simoncrypta opened #2904 "rw typeCheck or rw typecheck"
In the [doc](https://redwoodjs.com/docs/typescript#running-type-checks) they said to use `yarn rw typecheck`,
but in reality, the command is `yarn rw typeCheck` #2812

So should we update the doc, update the command or create an alias for typecheck ?

I think is more conventional to use lowercase or kebab-case than camelCase for CLI

[2021-06-28 19:53] peterp commented on #2904
@simoncrypta I think we should change the command, it should either be `typecheck` or `type-check`

[2021-06-28 20:05] simoncrypta commented on #2904
I have a preference for `typecheck`, one character less and still readable

I can open a PR right now and change it later if we go for `type-check`

[2021-06-28 20:12] simoncrypta commented on #2904
Also it's already have alias for `tsc`, `tc` and `type-check`

[2021-06-28 22:54] matronator opened #2907 "Why yarn? Any chance pnpm could eventually be supported (in the name of saving disk space)?"
I looked (okay, not that hard, but I definitely didn't see it mentioned in the tutorial), but couldn't find an explanation of why is yarn a requirement? Can you please clarify to me, why yarn?

I primarily use [pnpm](https://pnpm.io) as my package manager, mostly because I'm slightly worried about my 8 years old MacBook's internal SSD running out of lifecycles due to excessive `npm install` garbag

[2021-06-28 23:57] cannikin opened #2908 "Secure Services: Unexpected behavior when a rule is async—error is not bubbled up to GraphQL"
Consider the following code:

[code]

No matter what, an error should be thrown here when trying to access the `user()` service as a resolver. And it is: GraphQL returns an error and, in the case of a cell, the `Failure` component is rendered.

However, if `verifyOwnership` is an `async` function, we have a problem:

[code]

Now the `AuthenticationError` is only output to the console:

[code]

But

[2021-06-29 07:12] realStandal commented on #2747
I've *finally* gotten around to working on my web-side again, and just wanted to add a reference for how I've gotten around this issue.

First, I've installed `@storybook/react` and (for my needs) `@storybook/addon-essentials` at version `6.3.1`, done on the web-side of my application:

[code]

Then, I've added a `resolutions` field to my projects **primary** `package.json`, located at the root of

[2021-06-29 08:12] #2904 closed

[2021-06-29 15:49] peterp commented on #2907
@matronator Yup, there is no explicit reason, other than we have some technical debt that we've been cleaning up. We're getting there!

@dac09 Could we run an experiment on the RedwoodJS project side to see if it's possible?

[2021-06-29 18:54] thedavidprice commented on #2907
We use Yarn for Yarn Workspaces. NPM did not support Workspaces until recently.

General FYI: I did an experiment two weeks ago using Yarn 2 with the Redwood Framework — even without pnpm there were major breaking changes and substantial behavior changes to dependency management and resolutions. Importantly, they are handling Workspaces differently in 2. Nothing a dealbreaker, but it did make me i

[2021-06-29 19:09] peterp commented on #2077
I'm happy to just close this. The original syntax doesn't seem to bother anyone, so maybe that was premature.

[2021-06-29 19:56] ajcwebdev commented on #2907
If we decide to move forward with Yarn 3 we should take a look at what a migration to `pnpm` or any other package manager would look like and how it would compare to upgrading. There's a lot of innovation happening right now in this space so it'll be worth taking some time to make sure we're future proofing ourselves as much as possible.

[2021-06-29 20:05] ajcwebdev commented on #2874
Something we'll want to discuss at a certain point as well is using Docker for production versus just using it for development. Looks like they've got a new feature out that could help out with dev:

https://www.docker.com/blog/tech-preview-docker-dev-environments/

[2021-06-29 20:44] thedavidprice opened #2912 "test discord integration"
hello worldz

[2021-06-29 20:47] jtoar commented on #2907
StackBlitz also teased their own package manager; they haven't released it yet (I'm assuming they will one day)—just another one to consider.

[2021-06-29 20:49] #2912 closed

[2021-06-29 21:34] thedavidprice commented on #2907
Early days, but NPM v7 might be a case similar to Yarn v2 in regards to some big, fundamental changes. Hot take. Needs verification.

[2021-06-30 07:50] pi0neerpat opened #2913 "Scaffold CLI breaks when import is null"
There is an extra comma when there is no import on this line, which prevents `rw scaffold` from running.

https://github.com/redwoodjs/redwood/blob/ad7ade7e1ad06c35fa06e54486f0ac3575dbf83b/packages/cli/src/commands/generate/scaffold/templates/components/NameForm.js.template#L6

A temporary solution is to remove this line within your project's `node_modules`

[2021-06-30 09:19] Tobbe commented on #2913
Related: https://github.com/redwoodjs/redwood/issues/1435

Hopefully this is fixed by https://github.com/redwoodjs/redwood/pull/2829

@pi0neerpat Can you try with latest canary and see if it's fixed?

[2021-06-30 11:10] dthyresson commented on #2913
@pi0neerpat As @Tobbe said, there is a check now that

It's likely the `fieldsToImport` is empty and it now (in canary) will error if empty.

[code]

To confirm, can you share the schema for the model you tried to scaffold?

Did it have any fields ... other than an id, perhaps?

[2021-06-30 14:36] Tobbe commented on #2913
It's not just `id` that's uneditable. It's also `createdAt` and `updatedAt`. And relation fields for implicit relations also don't count. So you can actually have a model that looks like it has a few fields, but it's still 0 "fieldsToImport".

Especially the relations caught me a bit off guard last time. And they are also the reason I think it could be worthwhile to have a `--force` flag. Because

[2021-06-30 17:39] thedavidprice commented on #2747
Thanks @realStandal And hopefully we'll have Storybook upgraded to the latest v6.3 in the next Redwood release. PRs in progress now!

[2021-06-30 22:24] pi0neerpat commented on #2913
I just tried with`^0.34.2-canary.35` with and without `--force`

[code]

The above fails with `There are no editable fields in the Treasure model`, but if I add `name String` then it runs successfully.

---

This is another topic completely, but this is another example of why scaffold should be able to include properties beyond whats in `schema.prisma`. For example, here, all the Treasure properti

[2021-06-30 22:38] dthyresson commented on #2913
I definitely understand the niceties of the generate scaffold codegen, but scaffolding here is for Prisma CRUD -- or any CRUD. I makes new, edit, delete pages and cells.

When you have a thuird party api:

* where are the model properties defined? If shoudn't make a table
* what client/sdk does it use to fetch, add, edit, deelte (if it can) from the third party api

I typically:

* write SDL based

[2021-06-30 22:40] dthyresson commented on #2913
But, I think we can close this out when the new release is in?

Perhaps add an issue for the "new scaffolding codegen" as a ferature request?

[2021-06-30 23:02] Tobbe commented on #2913
Perfect, so it works as intended! OK if we close this issue?

[2021-06-30 23:20] pi0neerpat commented on #2913
Yes ok to close!

Agreed, this should probably be outside of scaffold, as a separate tool

[2021-06-30 23:21] #2913 closed

[2021-07-01 00:36] jtoar commented on #1730
Do secure services kind of handle this? https://redwoodjs.com/docs/services#secure-services

[2021-07-01 04:51] jtoar commented on #2077
I just saw VS Code suggest this in autocomplete—so maybe we should change it? First time I've seen this happen.

![image](https://user-images.githubusercontent.com/32992335/124066265-5d01f380-da06-11eb-92c2-20ced497972e.png)

[2021-07-01 04:52] jtoar commented on #2077
I just saw VS Code suggest this in autocomplete—so maybe we should change it? First time I've seen this happen.

<img width="493" alt="Screen Shot 2021-07-01 at 12 52 12 AM" src="https://user-images.githubusercontent.com/32992335/124066425-a05c6200-da06-11eb-8323-8d5c7ee50a7d.png">

[2021-07-01 13:04] dac09 opened #2920 "Index path of nested route not prerendered"
Given a Routes file like this

[code]

Prerender will generate HTML for /dashboard/team.html but not for /dashboard/index.html

[2021-07-01 13:09] dac09 commented on #2920
I think we'd need to make a change to the `writeToDist` function here https://github.com/redwoodjs/redwood/blob/main/packages/prerender/src/internal.ts

I need to re-familiarise myself with this code, but I believe it used to work.

[2021-07-01 13:33] dac09 commented on #2920
I'm being a little slow today... sorry. This totally isn't necessary. Its working correctly

[2021-07-01 13:33] #2920 closed

[2021-07-01 16:38] dac09 commented on #2264
Fixed by #2889 🎉

[2021-07-01 16:38] #2264 closed

[2021-07-02 11:10] dthyresson opened #2939 "Support Supabase Discord authentication"
Supabase now supports authentication via Discord.

https://github.com/supabase/gotrue-js/blob/4575b2a116048b8226b5d4bd12a33777571b9b2a/src/lib/types.ts#L1

https://twitter.com/supabase_io/status/1410912532705943556?s=21

Time to upgrade Supabase SDK and add in the new provider.

[2021-07-02 19:01] #366 closed

[2021-07-02 19:01] #2877 closed

[2021-07-02 19:01] #2875 closed

[2021-07-02 19:01] #2876 closed

[2021-07-02 19:01] #2878 closed

[2021-07-04 10:06] Tobbe opened #2962 "path param overwrites cell result"
# Description of bug

If one of your path params has the same name as the structure returned by a cell query, the cell result will be overwritten by the path param value.

Path:
[code]

SDL:
[code]

Query:
[code]

Success:
[code]

## Output
[code]

## Expected
[code]

# Fix

## Workaround

I can easily fix this in my code by making the query look like this (renaming the result to just `invite`)
[c

[2021-07-05 02:17] cjreimer opened #2964 "v34.1 UnhandledPromiseRejectionWarning on generating types"
After upgrading to v34.1, I started getting the following console error upon generating types:

[code]

I checked, and this is specific to my project, and a simple test project would not generate this error. Unfortunately, no clues were provided in the above log as to which file in my code generated the error, so I added a bunch of console.log statements into the redwood framework until I tracked

[2021-07-05 18:01] Tobbe opened #2966 "Cells overwriting each other's results"
I had two cells displaying at the same time (one in my Layout-component and one in my Page).

One looked like this (I know the variable isn't used, but it's important. I'll get to that later)
[code]

And the other like this
[code]

The value for `licenseNbr` for the last one came from the url
[code]

Now, when visiting the SparePartsPage, that had both those cells, `getProductLine` would work perf

[2021-07-06 05:43] viperfx commented on #531
I setup the paths in jsconfig.json but the server is having issues finding the module when I import it on the api side.

Has anyone got this working? Also is esbuild enabled?

[2021-07-06 06:28] aggmoulik commented on #1585
@jtoar I was thinking to work on this as there is another Database Authentication coming after this [PR](https://github.com/redwoodjs/redwood/pull/2701), Should I continue or not ?

[2021-07-06 18:06] peterp commented on #2077
We've decided that this is not required.

[2021-07-06 18:06] #2077 closed

[2021-07-06 22:28] #2939 closed

[2021-07-06 23:07] thedavidprice commented on #734
### Update
Per Core Team discussion, we are going to default generators to use `.jsx` while allowing `.js`. Benefits:
- consistent with TS .tsx
- leverages code editors and extensions that target .jsx specifically

[2021-07-06 23:21] thedavidprice commented on #1585
Hi @aggmoulik It's great having you as a contributor. Thanks for keeping it up!

For all intents and purposes, the dbAuth #2701 will be the Redwood "custom provider". So there's nothing more to be done here.

If you're looking for other high-priority issues that get us to v1 and need help now, talk a look at the column `On deck (help-wanted)` here in the [Current Release Sprint project board](http

[2021-07-06 23:24] thedavidprice commented on #1585
@dthyresson curious about your reaction to my thoughts above — in light of dbAuth provider, do you still think there's value in a boilerplate setup for "custom"?

Regardless, we should clear up the docs.

[2021-07-06 23:28] thedavidprice commented on #2966
@jtoar let's make sure to discuss during triage meeting

[2021-07-06 23:30] thedavidprice commented on #2964
@dac09 any thoughts about this? And or suggestions about how to prioritize for triage?

Thanks, all!

[2021-07-06 23:41] dac09 commented on #2964
Certainly worth looking into - I'd have to look into it further before I could make any suggestions 🙊

I think definitely pre-v1 have a fix for this, if nothing else to atleast have the better error message that @cjreimer is suggesting.

Happy to pick this up as soon as I can.

[2021-07-06 23:54] thedavidprice opened #2978 "Naming standard for CLI options"
We should standardize naming for CLI options prior to v1-rc.

---

_Originally posted by @dac09 in https://github.com/redwoodjs/redwood/issues/2906#issuecomment-870421486_

_Originally posted by @thedavidprice in https://github.com/redwoodjs/redwood/issues/2906#issuecomment-875157924_

[2021-07-07 00:05] dac09 commented on #2978
Thanks for creating this DP! I'll pick this up tomorrow so that we're not introducing a breaking change `rw typeCheck` or `rw type-check` -> `rw typecheck` in the next release.

[2021-07-07 00:11] thedavidprice commented on #2978
@dac09 Sound great, but I'm also fine with breaking. I just think we should standardize between `dataMigrate`, `typecheck`, and `ts-to-js`. My preference would be:
- `data-migrate` alias `dm`
- `type-check` alias `tc`
- `ts-to-js` alias `tj`

But definitely open to discussion.

[2021-07-07 00:20] LBrian opened #2979 "FieldError cannot retrieves error message from chained path"
I did a quick search in the `Issues` and `Pull requests` and seems nothing similar is reported yet, but feel free to close it if it is redundant.

This is not a blocking issue or must-have at all but more like a better-to-have improvement as I did run into the illusion and believe this could be prevented.

Currently, `FieldError` retrieves error message using `errors[props.name]` which doesn't sup

[2021-07-07 01:19] thedavidprice commented on #2979
Thanks @LBrian Looks like this could be done in conjunction with the upgrade to RHF v7 via this PR https://github.com/redwoodjs/redwood/pull/2270 (which is long overdue for some TLC). Thoughts about this @jtoar?

Also, @LBrian if you are looking to help we could use extra hands on #2270

[2021-07-07 01:35] thedavidprice commented on #2473
@jtoar are there any actionable next-steps for this one?

[2021-07-07 01:43] thedavidprice commented on #2806
@callingmedic911 sorry for the delayed reply here. That plugin looks like a good option to explore. My only initial concern (without having researched yet) is that the plugin could collide with some of Redwood's import conventions, e.g. "directory named" convention might have some static analysis issues.

I think the best way to find out would be to open a PR and show a screenshot of the behavior

[2021-07-07 02:22] dthyresson commented on #734
Questions for @peterp @dac09 @thedavidprice should:

* Routes be jsx/tsx or js/ts
* App be jsx/tsx or js/ts
* Generated stories be jsx/tsx or js/ts

Will keep:

* tests as ts/js
* cell mocks as ts/js

[2021-07-07 02:32] jtoar opened #2980 "Bug: Can't create CRUD version of service with Float Prisma field type"
If a model in your prisma schema contains a Float field type, the code that turns the scenario data into a test throws an error. Basically https://github.com/redwoodjs/redwood/issues/2859, just for Floats.

Example model:

[code]

[2021-07-07 02:34] simoncrypta commented on #2978
I think kebab-case (lower case hyphen two-word) make sense in CLI when the command have more than 1 word. I really like the alias with 1 or 2 letters, but we will probably have a collision at some time with 2 commands. What should we do at this case ? Pick the most use for the alias and don't make alias for the other ?

[2021-07-07 02:53] Tobbe commented on #1585
Not that you asked for my opinion, but until we have a more "plugin" approach to our auth providers I still think there would be value in having a "custom" generator. I think people are always going to want to add other third party auth providers, like maybe a direct Facebook auth solution. Or Twitch.

[2021-07-07 03:01] Tobbe commented on #2979
@thedavidprice has already given an excellent answer, but since you tagged me I wanted to answer too.

#2270 is the bigger, more important, PR. But if you feel you don't have time to contribute to that one, please do feel free to make a separate PR for this issue. We always appreciate any kind of improvement, no matter how big or small! :)

[2021-07-07 03:07] Tobbe commented on #734
I think an easy "rule" for this would be: Anything that's .tsx in a Typescript project should be .jsx in a Javascript project (and anything that's .ts should be .js)

That means it should be Routes.jsx for example.

[2021-07-07 03:47] thedavidprice commented on #734
I agree with @Tobbe's logic about this. Keep'n it simple.

[2021-07-07 04:26] peterp commented on #734
And then when we use modules we name them .mjsx

On Wed, 7 Jul 2021, 05:47 David Price, ***@***.***> wrote:

[2021-07-07 04:31] thedavidprice commented on #734
Ha! Please don't let this ever be a thing... 🤦‍♂️

[2021-07-07 04:41] thedavidprice opened #2981 "Storybook: Pages that return a Cell do not render"
cc @peterp

Not sure how long this has been going on. I checked back versions and believe it broke with the upgrade to Storybook v6.

Can be replicated using the [Tutorial Blog Repo](https://github.com/redwoodjs/redwood-tutorial). See the [HomePage story](https://github.com/redwoodjs/redwood-tutorial/blob/main/web/src/pages/HomePage/HomePage.stories.js) that returns the [BlogPostsCell](https://git

[2021-07-07 07:26] peterp commented on #734
Want to note my opposition to this decision.

I think we're operating under false assumptions, and here's why: The reason why the `.tsx` extension exists is because TypeScript and JSX share similar syntax.

JSX Unfriendly: `<Type>expression` vs. JSX Friendly: `expression as Type`
JSX Unfriendly: `<T>(x: T) => x` vs. JSX Friendly: `<T extends unknown>(x: T) => x`

So, it's technical debt because th

[2021-07-07 08:41] Tobbe commented on #734
And just to be clear: I don't have a strong opinion or preference either way (js vs jsx), but \*if\* we decide to name some files .jsx, then I'd like to use my "rule" posted previously.

[2021-07-07 09:14] YeapGuy commented on #734
@peterp Yeah, .tsx exists for exactly that reason - it isn't standard TS and needs to be treated specially. Just like files with JSX aren't standard JS and need to be treated specially. The .jsx extension tells you that you can't throw it in a standard JS compiler and expect it to work.

About VSC treating it the same: VSC isn't the only editor, and even if it was, the benefit isn't just syntax hi

[2021-07-07 11:24] peterp commented on #734
I do not think that "Standard JS" (that can be thrown into a JS compiler) is a concept that actually exists in modern frontend JavaScript development? I cannot think of any instances where I've written JS (for the browser) without transpilation in the last several years.

RedwoodJS is transpiled, and we are a React based framework.
The recommendation from React is to use `.js` and not `.jsx`:

1.

[2021-07-07 11:39] dthyresson commented on #734
I have to say I cannot see the overwhelming advantage of `.jsx` at this time and the changes it requires.

I vote to keep `.js` as per:

On the topic of

The work on the RedwoodJS IDE can help here via its organization and outline -- although, yes, VSCode only.

Can we close out this issue?

[2021-07-07 11:48] LBrian commented on #2979
This is an easy fix and I am happy to help on #2270 but as Tobbe said RHF v7 upgrade is quite big and my time is fragile as I have few ongoing side projects, so I will create a separated PR for this fix then jump to #2270 using my fragile time.

[2021-07-07 12:18] dthyresson commented on #1585
@dac09 Did you use a custom provider for a cli side?

[2021-07-07 12:21] dac09 commented on #1585
I do have multiple custom auth ones, but because I use them outside redwood, I don't have a need for a provider, just some additional logic in `getCurrentUser` in src/lib/auth.ts

[2021-07-07 12:30] dac09 commented on #2978
Hey all, just wanted to point out that a lot of the cases are automatically handled by yargs, but we must follow yarg's rules.

If you name it `type-check`, it automatically supports `tc`, `typeCheck`.
If you name it 'typecheck', it only supports 'typecheck' automatically

@thedavidprice this isn't a pattern that's currently supported :), just checked.

[2021-07-07 12:37] dthyresson commented on #1585
Some background, a year ago I tried to implement NetlifyOAuth as a new provider, rather than custom.

See here: https://community.redwoodjs.com/t/i-implemented-a-netlify-oauth-not-identity-auth-provider-but-im-not-sure-i-should-have-and-why/903

I abandoned it for reasons in that forum post, but can see in https://github.com/dthyresson/redwood/blob/dt-auth-client-netlify-oauth/packages/auth/src/au

[2021-07-07 12:40] Tobbe commented on #1585
This sounds good to me! Especially an example.

[2021-07-07 13:55] dthyresson commented on #734
@thedavidprice can I get a verdict to close out and *not* use .jsx. Thanks.

[2021-07-07 14:02] dthyresson commented on #1585
@thedavidprice Please see the above but TLDR; this issue is best served with an example or cookbook -- and also clarifying the documentation.

The custom provider is misleading because it really isn't declaring a new provider -- but rather that one case send the `custom` auth type in a request and then have some custom logic in the `getCurrentUser` auth method.

Perhaps @aggmoulik could create a n

[2021-07-07 15:00] simoncrypta commented on #2001
All right, so helmet is now included inside redwood #2909 ✅ thanks @dac09 . Do we wait for another PR to change the title by default for every route by including in page? I think something like this could be valuable to be added by default :

[code]

Also, for i18n, I'm currently testing some configurations to have the right foundation. I think it can wait to see where #2429  will be going for opt

[2021-07-07 15:31] thedavidprice commented on #734
Let's ping @mojombo about this since it was a group discussion/decision involving him. (I can do that.)

For me VS Code language support was the primary rationale. If there's no difference, then I'm pretty meh about making a change.

Thanks for going further into the details @peterp

[2021-07-07 16:23] dthyresson commented on #2980
FYI - There are many flavors of floats.

See https://github.com/Urigo/graphql-scalars/tree/master/src/scalars

`NonNegativeFloat` `PositiveFloat` etc.

Floats are tricky datatypes.

See Prisma https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#float

hence, why the SDL can be a Decimal, I think.

Also, there is some SDL and Prisma mapping done:

https://github.com/redwoodjs

[2021-07-07 16:44] thedavidprice commented on #734
**Update:** @mojombo agrees with @peterp So closing this out. Carry on @dthyresson!

Also, modules are going to be a thing... Wha?? 😬

[2021-07-07 16:44] #734 closed

[2021-07-07 17:01] Tobbe commented on #1585
For me, a "custom" auth method has always mostly meant "auth provider we don't support yet". From your examples it sounds more like "totally different way of authing users". I think both are valid ways to look at it. But I wonder what the most common use-case is.

[2021-07-07 17:05] thedavidprice commented on #2978
@dac09 My guess is that you're thinking about how Yargs handles the objects (maybe...?)

Correct. I am meaning to suggest it's a rule/standard we use.

[2021-07-07 17:07] dac09 commented on #2978
Ah, understood - words are confusing sometimes 🤣. PR ready for you though!

[2021-07-07 17:08] thedavidprice commented on #2979
Thank you @LBrian!

And appreciate you helping to connect the dots and suggest options @Tobbe!

[2021-07-07 17:14] dac09 commented on #2868
I've looked through this, and while its definitely an issue that should be solved - temporary work around is to add param types for all your route params.

@keithtelliott very happy for you to take a shot - I know I wrote this, but I find it magical too, but I promise stare at it long enough it'll make sense.

Some test cases for you where I think its incorrect:
[code]

[2021-07-07 17:45] cannikin opened #3012 "RFC: Telemetry—gathering Redwood CLI usage statistics"
We're going to try and get a quick telemetry implementation into the code in time for 1.0. We're hoping this help inform some general direction decisions for 2.0 and other projects.

Telemetry will be opt-out and completely anonymous—nothing that could potentially identify an individual person or machine will be included.

Here's what Next.js collects for their telemetry: https://nextjs.org/teleme

[2021-07-07 19:37] peterp commented on #3012
Maybe we can follow the recommendation of this article and also adhere to "DO_NOT_TRACK=1": https://consoledonottrack.com/

[2021-07-07 20:44] #2880 closed

[2021-07-07 21:48] thedavidprice commented on #2748
This should be resolved via #2963

[2021-07-07 21:52] thedavidprice commented on #2868
@keithtelliott It think this would be a great PR effort for you to try! My 2 cents worth of advice is to start with a bare-minimum draft PR, which you can use to continue the conversation with @dac09 and @jangxyz

The scope is nice and narrow. And you have all kinds of great support ready and waiting.

Go for it 🚀 (and let me know when/how I can help).

Sound good? 😉

[2021-07-07 21:54] thedavidprice commented on #2473
Possibly related to #2981

[2021-07-07 21:57] thedavidprice commented on #2901
Will be fixed by redwoodjs/redwoodjs.com#736

[2021-07-07 23:14] thedavidprice commented on #1585
The Auth doc definitely needs clarification. I've created https://github.com/redwoodjs/redwoodjs.com/issues/740

I'm mixed on the ROI of a Cookbook given all the other priorities outstanding. It's a good idea, though. And might not be too much work given there's a lot of previous example code and Forum topics.

@aggmoulik I'll defer to you and your interest. And I agree there's a lot of need for m

[2021-07-07 23:38] thedavidprice commented on #2001
Not done yet!

There are definitely some great, possible next steps here:
1. add defaults to Page generator
2. change the title by default for every route (configurable to opt out)
3. any/all default i18n support

@simoncrypta what do you think about helping out with any/all of these?

@dac09 I know you've talked about making SEO/OG dynamic. Is that something you're considering for v1?

[2021-07-07 23:56] simoncrypta commented on #2001
I will help with pleasure @thedavidprice, I will open a draft PR tomorrow for all of these.

When you said

Do mean that when i18n is set, the page generator will also add the useTranslation hook and the helmet config for language ?

[2021-07-08 04:13] cjreimer commented on #2890
FYI, I am finding this same behavior as well relating to tests.  I'm pretty sure I saw it in the redwood 0.33 series as well, and maybe even before then.
Note:
- The imports work fine when building or running using `yarn rw dev`.
- I have completed the changes to jest.config.js as required by redwood 0.34.
- I am on Windows, so there is a chance this is a Windows thing (behaviour consistent on bot

[2021-07-08 05:57] aggmoulik commented on #1585
Hey @thedavidprice @dthyresson It will be great, I will work on cookbook for authentication here and how can we setup the authentication rather than provided one on the frontend and backend in redwood application.

[2021-07-08 08:11] realStandal commented on #3012
Would it not be possible to have it ask the developer when running `yarn create redwood-app` to opt-in to telemetry? This is how I've encountered it on every tool that's, at least, been upfront about collecting data. It also seems there's no way to opt-out of that initial, `create app` "phone-home".

What are "other projects"? Open source? Proprietary? _Whose_ projects, I suppose is a better quest

[2021-07-08 08:16] peterp commented on #3012
This is a RFC (request for comment) and we're discussing what we're going to implement, so your suggestions are super helpful. I think asking for it to be "opt-in" is a good suggestion!

[2021-07-08 08:20] peterp commented on #3012
Which is fair stance to take, but IMHO the 👎  you left in the parent post was a bit harsh, and made me read your initial comment negatively, before I read the last paragraph!

[2021-07-08 10:58] peterp commented on #2077
Wanted to leave this here as a resource, the first part of a URI is called the scheme, and it's fairly common to create you own, but here's a list of "approved schemes:"

https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml#uri-schemes-1

[2021-07-08 12:35] dac09 commented on #2868
I actually couldn't let go of this - put up a PR, which I believe fixes it. Totally would appreciate another pair of eyes. This time left comments - the template file does cause issues so whenever I use backticks, I had to wrap in `${"some_string_with_backticks"}` in template.js to make it work.

[2021-07-08 13:29] dthyresson commented on #1585
Thanks @aggmoulik even if it turns out that a generator is practical and helpful (I was rethinking things yesterday and maybe the real key to the generator isn't the api side, but rather the web-side to generate a client that implements the AuthProvider interface) and then a small lib in api that the getCurrentUser can use in lieu of a JWT decoder mapper class (that takes the event from the servic

[2021-07-08 14:51] simoncrypta commented on #3012
Telemetry gives good valuable data for the future of this project. I think that if we kindly ask for when `yarn create redwood-app` is executing, most of us will say yes if we are confident that the data is anonymous and use for good reason. If we say no, that simply write `DO_NOT_TRACK=1`, so is like an opt-out but with an opt-in at the beginning of a new project.

[2021-07-08 17:28] #2868 closed

[2021-07-08 17:30] thedavidprice commented on #2868
Hi all! The PR has been merged and will be included in the v0.35 release going out by end of today. Could you all try it out and report back here as to whether or not things are resolved?

Thanks!

[2021-07-08 17:53] ajcwebdev commented on #3012
For the sake of comparison here's how I've seen some other projects handle this:

## Nuxt.js

A message displays the first time you start your dev server that allows you to opt in or not.

[code]

In addition to giving you the option to opt out through the CLI, they also provide [three options for configuring your project to opt out](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration

[2021-07-08 18:58] #2978 closed

[2021-07-08 20:40] cjreimer commented on #2682
With redwood 0.34.1, the patch I used above no longer appears to work.  Redwood now uses Prisma 2.24.1 as follows:

[code]

I'm once again having the db seed script say success, but not actually doing anything.

[code]

From the looks of things at https://github.com/prisma/prisma/issues/7176 and https://github.com/prisma/prisma/issues/7268 Prisma has not fixed this issue even in more recent versio

[2021-07-08 22:15] #2979 closed

[2021-07-08 22:38] #1968 closed

[2021-07-08 23:39] #2757 closed

[2021-07-09 03:13] dthyresson opened #3022 "Type issue with redactionsList and redactOptions deconstruction in Logger"
See:

![image](https://user-images.githubusercontent.com/1051633/125017805-dd95a500-e041-11eb-9b36-efc3f1c742a0.png)

[code]

Also, logger could be improved such that one does not need to import the standard redaction list  -- it simply appends -- or make it clear that setting will overwrite it.

[2021-07-09 03:15] dthyresson commented on #2902
@thedavidprice perhaps can close out issue, since these have been deployed. And the the Notion tracker is best suited to take on this review?

[2021-07-09 03:18] dthyresson commented on #2898
@Tobbe and @cannikin I am working on a draft for https://github.com/redwoodjs/redwood/pull/3006 and can make the change from `role `to `roles` but then if a single string role is given, then `roles: 'admin'`.

[2021-07-09 09:05] Tobbe opened #3024 "TS error in default auth.ts"
Reproduce:
1. `yarn build:test-project`
2. `cd blog-test-project`
3. `yarn rw setup auth netlify`

Now, in `/api/src/lib/auth.ts` I get this

![image](https://user-images.githubusercontent.com/30793/125053521-7f9aa900-e0a5-11eb-9f3e-dafaf65f56d0.png)

[2021-07-09 09:10] Tobbe opened #3025 "Default auth.[jt]s is not formatted correctly"
Reproduce:
1. `yarn build:test-project`
2. `cd blog-test-project`
3. `yarn rw setup auth netlify`
4. Go to `/api/src/lib/auth.ts`
5. Format the file (Alt+Shift+F for me)

This is the diff I get:
[code]

Minor thing for sure, but I think our generated files should be formatted the way our prettier.js setup wants them.

[2021-07-09 10:12] dac09 commented on #2001
I would love to carve 30 mins out to discuss this with you @simoncrypta - there's a lot of subtleties here that I don't think we can capture over issue chat :)

- Agreed about page generator default - very happy for you to take this on Simon!
- Changing title by default: this one I'm not sure about. Unlike Gatsby, Redwood doesn't maintain a manifest of pages and their titles and descriptions - so

[2021-07-09 10:34] dthyresson commented on #3024
@Tobbe I was working on this file last night in the setup in https://github.com/redwoodjs/redwood/pull/3006 and was thinking that this file needs to be Typescript and how typing would help clarify and type for role - string or array of strings.

Essentially, this auth file should be ts.

[2021-07-09 15:19] Tobbe commented on #2898
@dthyresson I added issues for the other small fixes I wanted to make to auth.ts as well (as I know you've seen).

Do you think you could fix them all in your PR?
#2898 (this one)
#3024
#3025

[2021-07-09 16:29] jtoar commented on #2898
@dthyresson I brought this up with @mojombo and he agreed with Rob that it should be roles over role. Would it be more idiomatic for it to require an array, even if there's only one element in it?

[2021-07-09 16:39] cannikin commented on #2898
Because I'm sure everyone wants to know, this is what I'd do in my Ruby brain... 😃

Turn the argument into an array, and then flatten it. So, if the user passed a single string, it's turned into an array, and if they pass an array, it's still an array, and if they don't use the option at all, it's just an empty array. Saves you from a bunch of gross conditionals:

[code]

Making this Typescript-co

[2021-07-09 18:29] janpio commented on #2748
What are you supposed to do until this is merged? We are experiencing on our e2e tests for Redwood on Vercel (with Prisma), and do not really know how to fix it. Even in a newly created Redwood project this seems to happen. https://github.com/prisma/e2e-tests/pull/1911/files

[2021-07-09 21:14] thedavidprice commented on #2748
@janpio You _shouldn't_ be experiencing this issue as this is specific to Redwood's [run-e2e script](https://github.com/redwoodjs/redwood/blob/main/tasks/run-e2e) and has to do with the way we have to 1) create a test project using the branch template codebase and then 2) link the branch packages' code with the new test project.

We have made a significant number of changes to the Redwood Framewor

[2021-07-09 23:14] thedavidprice commented on #2748
Update: Errors the Prisma team was experiencing were unrelated. And now resolved.

[2021-07-09 23:24] janpio commented on #2748
We were looking at old logs 🤦

[2021-07-10 17:09] cjreimer commented on #2473
FYI, we hit this bug as well with 0.34.1, not related to storybook.  Changing the fetchPolicy also works as a temporary fix of the issue for us.  However, was looking pretty tough to debug before I noted the workaround in this thread.

Our query looks like this:

[code]
In our case, if we loaded the query cold, that is shortly after app initialization, we got the error.  But if we ran a different

[2021-07-10 17:26] realStandal commented on #3012
Sorry you took it that way @peterp, glad the paragraph worked, though; I'll retract it seeing as our discussion defeats my purpose putting it there lol

Simon's thoughts sums up my opinions. I agree the benefits to framework are clear and worthwhile, and just wanted to push up what wavered my confidence in something like this.

[2021-07-10 22:55] zackdotcomputer opened #3027 "Scaffold breaks with some custom Prettier configs"
#2609 changed `scaffold.js` to resolve #2546. Part of that change is detecting whether `Set` is already imported into `Routes.{tsx|ts|js}`. It does this using a regex over the file [here](https://github.com/redwoodjs/redwood/blob/c5b651e674e7b3e9333705f9e2e1fd9d519e8823/packages/cli/src/commands/generate/scaffold/scaffold.js#L508):

[code]

However #351 added in support for custom `prettier` confi

[2021-07-10 23:02] zackdotcomputer commented on #3027
fwiw even after reverting to single-quotes to fix this, the generator also removes the `;` from the end of the `import` even if your prettier requests it. Strange since the rest of the generator seems to respect prettier.

[2021-07-11 08:21] nnennajohn commented on #2890
Hi. I can confirm this problem still persists. I am on redwood 0.34.1. Is there a temp workaround to resolving the path for jest?

Thank you.

<img width="1393" alt="Screen Shot 2021-07-11 at 1 20 03 AM" src="https://user-images.githubusercontent.com/1761197/125187807-4f0e5880-e1e6-11eb-8946-4b5aa52c8d42.png">

[2021-07-11 08:32] nnennajohn commented on #2890
This seems to be a problem with the moduleNameMapper. Worked around it by overwriting it. The below is in the api folder. Probably the same in the web folder, as all my tests were failing after update.

[code]
<img width="707" alt="Screen Shot 2021-07-11 at 1 28 33 AM" src="https://user-images.githubusercontent.com/1761197/125188183-b37de780-e1e7-11eb-9ec4-886fdc042ac6.png">

[2021-07-11 17:53] thedavidprice commented on #3012
I appreciate the discussion that is happening here; especially the back and forth willingness to understand each other's point of view regarding a topic that (rightfully) stirs debate.

Redwood team, I think we began implementation before setting the appropriated context with community, along with also inviting community discussion for both concerns _and_ collaboration.

I suggest:
- We mark this

[2021-07-11 18:19] #2748 closed

[2021-07-12 06:16] callingmedic911 commented on #2806
@thedavidprice You are absolutely right! "directory named" and `**` imports are failing with this lint rule. In this case, I think we have to resurrect `eslint-plugin-redwood` with the custom `no-unresolved` rule. I'd be glad to take this forward and raise a PR soon.

Also, if we decide to go ahead with the custom lint rule, we can merge `eslint-config` and `eslint-plugin-redwood` but doesn't real

[2021-07-12 15:12] webstackdev commented on #434
I should have referenced this issue in a PR I submitted. The PR is a draft and involves a pretty substantial reorganization of the contributing docs ([#2903](https://github.com/redwoodjs/redwood/pull/2903)). That PR moved from Icebox to Backlog a couple of days ago.

[2021-07-12 18:26] cjreimer opened #3030 "useMutation refetchQueries alternative format - without variables"
The useMutation refetchQueries option is typed and works appropriately for a query such as the following:

[code]

The challenge is that in some places in the code, we do not have all the variables of the query handy, and need to prop-drill them down if we want to run the same query.  Apollo conveniently provides a second option as discussed here
https://www.apollographql.com/docs/react/data/mutat

[2021-07-13 09:17] noire-munich commented on #2890
Thanks @nnennajohn , that one works for me on v0.35.0.

[2021-07-13 09:47] peterp commented on #2890
I've got a fix for this in #2938

[2021-07-13 16:27] dac09 opened #3034 "Page generator generating incorrect types when route params are passed"
e.g. running

[code]

Will generate

[code]

### What do we need it to do?
We should convert the passed parameters `Int`, `Boolean`, or `String` to valid TypeScript types (number, boolean, string)

[2021-07-13 16:32] dac09 opened #3035 "Layout generator props type is too strict"
e.g. When running
[code]

it will generate the type

[code]

Which creates an error in TestLayout.test.tsx, because children is a required param.

### What should it do?
`children` should be optional

[2021-07-13 19:37] cannikin opened #3036 "API Server: Use workers/clusters by default"
I just learned that our api server is basically single-threaded and every request to the api in a serverfull environment blocks everything (probably not *everything*, but we use a lot of async/await).

I just assumed that Express already did this (isn't it *THE* Node web server?), but apparently not!

The number of workers should be configurable, maybe defaulting to number of cpus * 2 (most proces

[2021-07-13 20:35] andresgutgon commented on #18
@ahmedosama5200 I think if you read carefully the docs or if you try to build a prototype with Redwood you would understand the benefits.

NextJs is great and they're building something awesome. But is less complete than Redwood in terms of what you can build. With nextjs you have to put your own conventions in things nlikebhow to store your data or how to authenticate your users nor how to fetch

[2021-07-13 20:41] andresgutgon commented on #18
A project that's trying to do what Redwood nodes is https://blitzjs.com/ and they're building not on top of Nextjs but that also has their tradeoffs. Like having to maintain compatibility with Nextjs.

I'm super happy to see so many awesome projects.

These are what I like:
- Nextjs
- Remix
- Redwood
- Blitz.js

[2021-07-13 21:03] Tobbe opened #3037 "Label without name causes runtime error"
If you have a `<Label>` without a `name` prop you get runtime errors

Example snippet
[code]

This happens:
![image](https://user-images.githubusercontent.com/30793/125524279-54d160ec-b19a-4137-8068-7049a33fb3da.png)

I have a PR incoming with a fix

[2021-07-13 22:02] jtoar commented on #3035
@dac09 should we just change the test to include a child instead?

Trying to think of cases where a layout wouldn't have any children—maybe it would be if you had more specific slots for children, to render them in multiple, different places

[2021-07-13 22:23] jtoar commented on #3022
It's the `redactOptions` from pino that needs a `[Symbol.iterator]()` method right? I'd think it'd be ok to spread something typed `string[]`

[2021-07-13 22:23] jtoar commented on #3022
And this sounds nice!

[2021-07-13 22:55] jtoar commented on #3030
@cjreimer great write up; very easy to follow!

I don't think there's any concerns. But I'll get someone who knows more about TS than I do in here to confirm; @dac09 what do you think?

[2021-07-13 23:03] dac09 commented on #3030
No objection from me at all! I think we should expose all the available types on useMutation and useQuery!

[2021-07-13 23:07] dac09 commented on #3036
I think we get it for free if we setup `rw serve` to run with pm2 in cluster mode, with no code changes.

https://pm2.keymetrics.io/docs/usage/cluster-mode/

[2021-07-13 23:08] jtoar commented on #3027
Don't be worried at all, you already did some great investigative work here! And even provided all the right links so that readers like me could get all the context they needed in no time 🚀

I don't think your fix is unreasonable at all—it's an import, and that's always going to have single or double quotes right?

This is a totally valid concern, and the code powering our generators definitely ha

[2021-07-13 23:09] dac09 commented on #3036
Ooo guess what @cannikin - pm2 also gives us zero downtime restarts

[2021-07-13 23:14] dac09 commented on #3035
I actually have a Layout which I reuse as a `whilePageLoading` loader with additional props!

I think in most cases yes - layouts should have children, but I think it's also accurate to say they don't _need_ to have children.

[2021-07-13 23:22] jtoar commented on #18
@ahmedosama5200 in the future when we work more on Redwood's concept of "sides", there's a good chance that Next.js can be one of Redwood's sides the way `web` is right now

[2021-07-13 23:23] zackdotcomputer commented on #3027
👍 always trying to be a good open source citizen and come in with a bit of understanding for the problem I'm reporting.

I'll get a PR open for that regex swap and pray I don't awaken any undisturbed monsters lurking in the generators.

[2021-07-13 23:24] cannikin commented on #3036
Sounds like a win-win! Who wants to be my best friend and add that? 😃

I'm wary because any time I've messed with processes in basically any OS or language I've ever used I wanted to jump out a window, and this being the Javascript ecosystem I imagine it's 2x as messy. But don't let me talk you out of it. 😅

[2021-07-13 23:48] jtoar commented on #3025
Definitely. Feels like a must from a DX perspective. Also discussed here in https://github.com/redwoodjs/redwood/issues/1551

[2021-07-14 00:57] keithtelliott commented on #2868
@dac09 and @thedavidprice I appreciate the encouragement!  I crawled into a learn-typescript cave and missed the opportunity to fix this bug (pardon my communication delay;  way to knock it out Danny!)

Nonetheless, I inspected the new code.  It is pleasing and satisfies my soul :)   Nice inline comments, in particular.

Next, I will upgrade my app to v0.35 and functional test.  I’ll report back w

[2021-07-14 15:08] dac09 commented on #2001
@simoncrypta and I had a quick tete-a-tete, and we think we have a way forward with handling titles for page generators, and also making it easier to set the default title of the app through redwood.toml.

This gist:
- add "title" to redwood.toml and automatically use this title instead of having to mess around with webpack
- use this value in the title if possible to for page titles so it has the

[2021-07-14 15:44] panchopoliti opened #3042 "Error while deploying web side with prerender through Serverles"
Hey everyone! I am trying to prerender the DashboardPage of my app. When I run `yarn rw build web` locally in my project, everything works successfully.

But when I am trying to deploy it through serverless CLI, I get this error
[code]
I am using this plugin (https://github.com/tgfischer/serverless-build-client) to deploy the client with environment variables

When I deploy with the command `yarn

[2021-07-14 16:28] peterp commented on #3042
Hey @dac09, I was chatting with Pancho earlier, have you ever come across something like this?

[2021-07-14 16:44] dac09 commented on #3042
Afraid not :/ But clearly it seems the babel config isn't being picked up in prerender.

@panchopoliti would you please confirm that you see the error if you build using the command `yarn rw build web --no-prerender && yarn rw prerender` ?

Thanks!

[2021-07-14 16:50] peterp commented on #3042
Could the `cwd` have something to do with it? Like if they're in `./web` instead of the root?

[2021-07-14 16:53] dac09 commented on #3042
I just verified this - you are indeed correct 💯! I'll see if I can find a fix for it, probably the "ignore" key in the babelRequireHook

[2021-07-14 17:12] dac09 commented on #3042
@panchopoliti the temporary work around maybe to make sure you're running the build command from the root of your project, and not from the web directory.

I'll get a fix in for this soon :)

[2021-07-15 09:03] panchopoliti commented on #3042
Exactly it is like this @dac09 🙁. Adding `cwd: ../` as a param in my serverless.yml works perfectly and I can deploy 💪

Thanks so much for the help @dac09 and @peterp 😄

[2021-07-15 16:43] dthyresson commented on #3042
I heard from  @panchopoliti in Discord the issue was solved. Even though my runtime in serverless.yml was defined as 14.x, the settings of the lambda were in 10.x.

Can we close out the issue? Thanks!

[2021-07-15 16:45] dthyresson commented on #3025
@Tobbe I think I may have sorted the formatting out here: https://github.com/redwoodjs/redwood/pull/3006:

[code]

[2021-07-15 16:45] dac09 commented on #3042
not the same issue DT!

[2021-07-15 16:46] #2902 closed

[2021-07-15 16:51] dthyresson commented on #3042
Ah, you are of course right. Apologies. Deleting the comment.

[2021-07-15 19:54] thedavidprice commented on #2981
Fixed by #2884

[2021-07-15 19:55] #3027 closed

[2021-07-15 20:16] #2981 closed

[2021-07-15 20:55] #1892 closed

[2021-07-15 21:15] #3037 closed

[2021-07-15 21:38] Tobbe opened #3046 "[Windows] Storybook doesn't work in RW 0.35"
Created a fresh project, and the first command I run is `yarn rw sb`. It gives me this error

![image](https://user-images.githubusercontent.com/30793/125861057-4ab8d108-5970-422c-8818-f7fae4558f79.png)

[code]

Here's the full sb output:

[code]

A user on Discord first reported this, and they also provided this info

https://discord.com/channels/679514959968993311/716252919875240007/864889866508

[2021-07-15 23:15] jtoar opened #3048 "Reconsider how we restoreAuthState with auth0"
We just merged https://github.com/redwoodjs/redwood/pull/2212 which fixed a longstanding bug in auth0's `restoreAuthState` https://github.com/redwoodjs/redwood/issues/1892. We did this by introducing a new package, `@redwoodjs/history`, and a new options object to `navigate` so that the call to `pushState` could be swapped for `replaceState`.

After further conversation with @peterp, we'd like to

[2021-07-16 01:15] cannikin opened #3049 "Scaffolding dbAuth without any other existing scaffolds results in some missing styles"
Mostly fonts:

![image](https://user-images.githubusercontent.com/300/125877065-7e53a69d-2fd5-4c97-8378-fe44d6999d38.png)

[2021-07-16 05:47] Tobbe commented on #3046
On Windows `getPaths().web.src` returns this for my example project: `'C:\\Users\\tobbe\\dev\\redwood\\sbtest\\web\\src'`

Making this change storybook works again (which is basically reverting one change made for the 0.35 release)

[code]

[2021-07-16 14:22] cjreimer opened #3053 "Framework Build - Typescript Error"
Hello,

I'm having trouble building the framework as soon as I touch a typescript file.  I've tried touching files in both the internal and web packages and get the same issue.  The error I get is:

[code]

Thinking my framework was corrupted, I've tried blowing away the framework and recloning.  The framework builds from a fresh install, but the build fails as soon as I touch a typescript file.

[2021-07-16 14:50] Tobbe commented on #3053
I had a quick chat to @cjreimer about this on Discord. I'm running into this issue as well on Windows. But it doesn't seem to happen as often to me as it does him.

What works for me is to run `yarn build:clean && yarn build`. After that I can use `yarn rwfw project:sync` in my test rw app to test my changes.

[2021-07-16 15:03] Tobbe commented on #3053
Not sure if this is relevant, but dropping it here for someone with a better understanding to take a look. The error message is very similar.

https://github.com/cevek/ttypescript/issues/121

[2021-07-16 17:19] #3049 closed

[2021-07-16 18:06] simoncrypta commented on #3053
It didn't work for me, so I tried something a little more radical, and it's work for me :
Delete the repo and re clone.

It's think the problem come from an old typescript definition inside something with .gitinore.

[2021-07-16 18:48] cjreimer commented on #3053
**Update:**
OK, thanks to help from @Tobbe, I can now build using the following commands in sequence:

[code]

I believe I need to run the `yarn build:clean` every time I change a type ... but haven't fully validated that.

I have also played with the following:
[code]
but with mixed success.  It might just be a fluke that it worked in some cases.
A v2 of ts-patch is being worked on and might prov

[2021-07-16 21:59] Tobbe commented on #3053
@cannikin had this happen to him as well, so not a Windows (only) issue

[2021-07-16 23:00] pi0neerpat opened #3056 "Scaffold errors in Routes.js"
### Intended behavior

` yarn rw g scaffold Farm ` should add all relevant components, including components in `Routes.js`.

### What happens

Everything works, except updating `Routes.js`. Only the import `FarmsLayout` is added.

[code]

[code]

### Code

[code]

[code]

[code]

[2021-07-17 02:59] cjreimer commented on #2890
Thanks to @nnennajohn, the above workaround improves things for me..  However, jest still does not address directory named imports.

For example:

`import Comments from 'src/components/Comments/Comments'`
works but
`import Comments from 'src/components/Comments'`

in the various source files causes issues.  I see there's an old package out there that seems to be targetted at this issue:
[https://w

[2021-07-17 03:42] nnennajohn commented on #2890
@cjreimer I ran into the same problem, so you are not alone. :)

If you used the hack above, then the problem arises, because in the line of code below,
```'src/(.*)': '<rootDir>/src/$1',```
src/cool will try to find <rootDir>/src/cool.ts, not <rootDir>/src/cool/cool.ts
I did not have time to further investigate this, so ended up just creating an index file at root of each component to re-export t

[2021-07-17 16:33] zwl1619 opened #3057 "Does dbAuth support JSON Web Token?"
Does dbAuth support JSON Web Token?

[2021-07-18 02:53] brunoprietog commented on #3057
Could refresh tokens also be considered? I'm thinking of a mobile app, where you keep a refresh token in the secure keychain storage, and update it from time to time. At the moment the only way I can think of would be that, connecting to the Graphql api.

[2021-07-18 03:40] #1667 closed

[2021-07-18 05:34] Albert-Gao opened #3058 "ESLint errors in scaffold template"
<img width="888" alt="image" src="https://user-images.githubusercontent.com/18282328/126056901-1790eb83-f92f-4e18-b254-102e21877482.png">

PR on the way

[2021-07-18 08:00] jatins opened #3060 "How to reload the "gen" process?"
👋 Hi! Started playing around with redwood yesterday.

**Setup**
I am running redwood dev server inside vagrant and editing code via VS code remote ssh setup. I am accessing the website in browser via vagrant port forwarding.

**Issue**
The "gen" process invariably stops picking up changes after 5-6 edits. So, in first few edits I see these logs
[code]

but after few more **it stops picking up chan

[2021-07-18 11:15] Albert-Gao commented on #3035
I was fixing it like this:

<img width="177" alt="image" src="https://user-images.githubusercontent.com/18282328/126065004-4350a93f-424e-4b63-bbf0-fe16a7db3f7a.png">

It does not matter as this test will be replaced later, but we should avoid the type error here

But then what about just making that `children` prop as optional, maybe there are cases which it would happen after a conditional render

[2021-07-18 11:21] Albert-Gao opened #3061 "cache stale time setup?"
Made a simple to do app, everything works great and so easy to pick up.

just a little issue, when navigating between list page and detail page (both renders a `Cell`),

1. start the app
2. show the list (Request sent)
3. click todo item go to detail
4. go back to list  (Request sent)

Is there a way we can setup a longer cache stale time or invalidation check so we can avoid the request in step 4

[2021-07-18 11:54] Albert-Gao commented on #2907
Correct, I ditched npm v7 and started using Yarn 1 because of the breaking change in v7, just do not want to use that --legacy-peer-dep arg.  😂

[2021-07-18 20:01] jtoar commented on #3061
Hey @Albert-Gao, glad you're finding the framework easy to pick up! The request in step 4 is by-design and is easily configurable. Redwood makes Apollo Client’s default `fetchPolicy` `cache-and-network`. This means that the client constantly checks to see if there’s anything’s new. You can get out of this by changing the `fetchPolicy` to something like `cache-first`: https://www.apollographql.com/

[2021-07-18 22:22] dac09 commented on #3035
Yeah absolutely @Albert-Gao tag me on it after you raise the PR :)

@jtoar okay with you? Happy to discuss further if required.

[2021-07-18 23:26] Albert-Gao commented on #3035
Summited @dac09

[2021-07-19 00:15] jacebot opened #3063 "SDL generator error for certain plural words in prisma schema"
When using the word 'Data' in the model for the prisma schema, the SDL generator can't find the matching definition 'Datum' .

Example: 'EbData'

Error: No schema definition found for `EbDatum` in schema.prisma file.

[2021-07-19 02:18] cannikin opened #3064 "dbAuth: Add a `loginHandler` similar to the `signupHandler`"
The idea being that you can get in the middle of the login process and make sure you really want the user to be able to log in. Maybe you check that have verified their email address first, and if not, block their login.

https://community.redwoodjs.com/t/dbauth-is-here-host-your-own-authentication-the-old-fashioned-way/2267/21?u=rob

[2021-07-19 02:46] Albert-Gao opened #3065 "[Feature] A completely encapsulated but extendable CRUD experiences."
## The current `yarn rw g sdl --crud` works really great, with a generated file like this:

[code]

## What I propose here, is to generate file like this:

[code]

## Explain:

Basically, it is a middleware system which attach the `before`, `after` and `error` hook to each CRUD action.

It hide all the implementation details of CRUD, only expose middleware to the user land. The CRUD part is essent

[2021-07-19 07:26] Albert-Gao commented on #3061
Thanks, works like a charm now :)

[2021-07-19 07:26] #3061 closed

[2021-07-19 07:28] Albert-Gao commented on #3061
But interestingly,

this works

[code]

while this is not working:

[code]

why the step4 falls under the `fetchPolicy` rather than `nextFetchPolicy`....

[2021-07-19 07:33] Albert-Gao opened #3066 "Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK' from 'node_modules/@redwoodjs/testing/dist/MockProviders.js'"
Just a brand new project, everything works great, except for this little annoying issue, happens for all my tests

<img width="1286" alt="image" src="https://user-images.githubusercontent.com/18282328/126063679-170d9f62-ee2b-4182-b5dc-d51e2ca9a04c.png">

All the test files will have this error every 2 minutes or something, and if you click to open the file, the error is gone, then after a while, h

[2021-07-19 08:19] #2590 closed

[2021-07-19 10:32] Albert-Gao opened #3067 "The scaffold template for Auth page has some Typing issues"
<img width="463" alt="image" src="https://user-images.githubusercontent.com/18282328/126146454-0e34d137-eddc-4aec-b377-27638c56e4dc.png">

![image](https://user-images.githubusercontent.com/18282328/126148309-acea58c5-cfd7-465e-a1ab-250c32f4164a.png)

![image](https://user-images.githubusercontent.com/18282328/126148358-20165cbf-8071-4bc4-8e59-6adc2dea502c.png)

[2021-07-19 15:45] #3035 closed

[2021-07-19 16:57] dac09 opened #3069 "[RFC] Standardised CellError component to handle graphql failures"
### What?
Handling Cell errors, and graphql errors in general, are quite painful, with very nested syntax to get to the error code.

We should provide a more intuitive (i.e. Redwood-y) way of handling errors, as handling api errors forms a large part of buildling most projects!

See idea in a bit more detail here:

[Graphql Error Hnadling.pdf](https://github.com/redwoodjs/redwood/files/6842653/Gra

[2021-07-19 17:12] dac09 opened #3071 "Improve E2E tests for framework"
Our current E2E tests have been _difficult_ to say the least.

This ticket is a prompt to investigate:

- [x] More reliable tests, using the test project generator
- [ ] Making the tests faster to run i.e. parallelised, so they don't depend on each other
- [x] Investigate using playwright, as our specific usecase may be more appropriate
- [ ] Be able to startup servers before running specs (and cl

[2021-07-19 17:12] #3058 closed

[2021-07-19 18:08] pi0neerpat opened #3073 "Add Auto-import for Nested Pages in App.js"
## Problem

When using the new "nested folder" scaffold feature (#2613), the developer must now manually import any nested pages in `Routes.js`

## Desired behavior

The Redwood Way says we shouldn't need to import Pages in `Routes.js`

## Potential solution

Update this function

https://github.com/cjreimer/redwood/blob/5db72448bd86999bf345a8ef18dd61da2082d6a0/packages/internal/src/paths.ts#L214

[2021-07-19 18:29] #3046 closed

[2021-07-19 18:46] realStandal commented on #3064
I just wanted to say/ask before answering your (Rob's) question from the forum, is `loginHandler` going to be the equivalent of `signupHandler` or is it more a `loginSideEffect`? Where side-effect runs in addition to `dbAuth's` default behavior but doesn't replace it; and the handler would more-or-less replace it akin to `signup` can nullify a signup.

My personal use would be the side-effect, I t

[2021-07-19 19:02] dthyresson commented on #3067
HI @Albert-Gao might this be the same issue as https://github.com/redwoodjs/redwood/issues/3049 ?

[2021-07-19 19:07] dthyresson commented on #3064
Whichever the implementation, I want to propose two considerations:

1. That the handler function be able to support Netlify background function naming (ie, loginHandler-background.js)
2. That the login and signup/in handler functions have some security on them that shield from non-approved callers

Netlify Identity solves this via a JWT secret in the header. One could implement these as webhooks

[2021-07-19 19:49] dthyresson commented on #3022
Right, the issue is that the redact options are `string[] | redactOptions` and can spread the array of string, but not `redactOptions` and that is

[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b502fdf090447303e3e214d8b6d56f043fe55ada/types/pino/index.d.ts#L777

Actually, perhaps

[code]

should just be `string[]`.

[2021-07-19 20:23] cannikin commented on #3064
I'm not familiar with the background Netlify stuff...how does that work? Right now `signupHandler()` is a just a JS function (not a serverless function) that you provide as an option in `functions/auth.js` (which IS a serverless function!):

[code]

If we added `loginHandler`, how would Netlify be able to background-ify that?

[2021-07-19 20:37] dthyresson commented on #3064
Sorry, I thought signup handler was a new handler that would be called after a signup - ie, to email the person a confirmation.

Is there an idea of a post-sign up type of event?

So - is the intention for loginHandler to be a method ... or invoke (post) to another serverless function. My concern would be that a login or signup (db access) and then some post processing to send an email *may* hit t

[2021-07-19 21:10] cannikin commented on #3064
Yeah the intention for `signupHandler()` was to do simple processing inline and return quick (by default, just creating the user in the database). If you need to do something like send an email, it'd be best to farm that out to another function call, or turn it into a background process like you're talking about. Same with `loginHandler()` I'd imagine.

[2021-07-19 21:24] cannikin opened #3075 "Implement CSRF checking with dbAuth"
dbAuth is currently generating a CSRF token on each request and adding it to the header/session cookie response. But, to get CSRF protection working for real we need some additional functionality:

1. web-side: store the latest received CSRF token header and send back up in a `csrf-token` header for each GraphQL request (mutation for sure, but maybe not query? classically, I believe CSRF tokens ar

[2021-07-19 22:10] cannikin opened #3076 "Scaffold: Update formatting for error messages"
We should at least spiffy up the `<Failure>` component with some styling to make the errors formatted a little nicer. We now have react-hot-toast in place, we could update the error messages in the scaffolds to use it, rather than spitting them inline in the page?

![image](https://user-images.githubusercontent.com/300/126233821-0a830f00-1236-4e5a-a4aa-4a0d1ee9873d.png)

The error messages that ar

[2021-07-19 22:54] Albert-Gao commented on #3067
Good catch! tried that version, the style issue has been fixed, but not the type, I will remove the style fix from my commit. thanks :)

[2021-07-19 23:00] Albert-Gao commented on #3067
Updated the PR, removed the styling fix. :)

[2021-07-19 23:07] thedavidprice commented on #3071
- [ ] Windows support

[2021-07-19 23:22] thedavidprice commented on #3066
Very strange @Albert-Gao Thank you for reporting this!

I cannot reproduce this on my end, which is MacOS. Could you reply with your system info via `yarn rw info`?

@peterp curious if this might be a part of your Jest fixes for Windows in #2938

[2021-07-19 23:26] thedavidprice commented on #3065
linking to similar ideas in #473

[2021-07-19 23:26] Albert-Gao commented on #3066
Sure, here you go

[code]

I found a temp fix, disable the auto-run-test feature of that plugin: in VSC fixed it.

[code]

[2021-07-19 23:33] thedavidprice commented on #3063
Thanks for reporting this @jacebot I reproduced this via:
[code]

ERROR:
[code]

## To Do
I'm surprised the fix for Scaffold pluralization from #2850 isn't working for stand-alone SDL. Regardless, we need to extend the fix to SDLs.

[2021-07-19 23:37] thedavidprice commented on #3066
AH, this is not related to the issue I asked Peter about.

We have a custom Jest setup() for both Web and API. In the case of API, we need to init a test DB and also spin up Mock Service Worker (among other things). It seems that VS Code extension doesn't take our config into account correctly.

I'm not sure if this is something we'll be able to look into for a "fix".

Do you know if there's a way

[2021-07-19 23:46] thedavidprice opened #3077 "Generator + Scaffold Support for MongoDB"
Prisma now offers MongoDB support as a preview feature. See [release notes](https://github.com/prisma/prisma/releases/tag/2.27.0)

Based on my initial test using MongoDB with the Redwood Tutorial, the changes were trivial:
- I used the scaffold generators
- then updated the model `id` fields in both the schema.prisma and SDLs
    - code here: https://github.com/thedavidprice/redwood-tutorial-mongo

[2021-07-19 23:58] thedavidprice commented on #3060
Hi there, @jatins Welcome to Redwood.

I think the command `yarn rw g types` is what you're looking for (as it's used under the hood along with the dev server).

[code]

^^ This is a problem. I'm looping in @dac09 and @peterp to keep a lookout for this. Once #2938 is merged, the Redwood Dev Server will have undergone an overhaul, so things like this should be resolved.

[2021-07-19 23:59] thedavidprice commented on #3057
Looping in @cannikin

[2021-07-20 00:43] #1730 closed

[2021-07-20 00:43] #3024 closed

[2021-07-20 00:43] #3025 closed

[2021-07-20 00:54] cannikin commented on #3057
See answer here (short answer is "no"): https://community.redwoodjs.com/t/dbauth-is-here-host-your-own-authentication-the-old-fashioned-way/2267/24?u=rob

[2021-07-20 01:27] cannikin commented on #3057
One of the main reasons I created dbAuth was specifically because of issues I had with refresh tokens! I kept getting logged out of an app using one of our other auth providers (that shall remain nameless) and I was ready to drive my car off a cliff in frustration. I never want to be logged out of anything EVER!!!!  AAAGGGGHHHHH

![200](https://user-images.githubusercontent.com/300/126247906-e31e9

[2021-07-20 01:53] peterp commented on #3053
I'm wondering if the `--parallel` flag on the build command is causing issues. Perhaps the initial build should use the framework level `build:js` script, and then use the top-level framework `build:types` command.

In order to test:

https://github.com/redwoodjs/redwood/blob/ecf8aa983a2ead57593e201e922ee589ecf5e19f/tasks/framework-tools/src/lib/framework.mjs#L145-L153

Modify this to run `build:j

[2021-07-20 02:18] dthyresson commented on #3022
Awaiting fixes for https://github.com/prisma/prisma/issues/8291 and https://github.com/prisma/prisma/blob/d06e6097a7d0fc4d66d9a7bd86992cd4d28b1f3f/src/packages/client/src/generation/TSClient/PrismaClient.ts as encountering these type issues when building with a fix.

[2021-07-20 11:21] Albert-Gao opened #3078 "Should we add the `yarn build:clean && yarn build` to the CONTRIBUTING.md"
The local setup section:
https://github.com/redwoodjs/redwood/blob/main/CONTRIBUTING.md#local-setup

has a missing piece.

after a fresh `yarn install`, `yarn build:clean && yarn build` is a must-have for running the unit test. Currently, the doc only mentions the install but not the build part.

Should we add this into the local setup section?

[2021-07-20 22:49] Albert-Gao commented on #3076
![image](https://user-images.githubusercontent.com/18282328/126405102-b31d22d0-7772-4e7a-82da-6a129cb28a91.png)

Is this looks good? Just reused that style from scaffold styles but has to add one line for that missing border. :)

[2021-07-20 22:51] cannikin commented on #3076
I just opened a PR with this fix, sorry @Albert-Gao !

[2021-07-21 00:47] thedavidprice commented on #3056
Definitely a problem @pi0neerpat!

The Scaffold generator regex was looking for `<Router>`, so `<Router useAuth={useAuth}>` is throwing it off.

Fix here #3084

[2021-07-21 03:48] amorriscode commented on #3053
I was trying to help @alicelovescake debug her local build and we are both experiencing the same issue (both on Mac).

@peterp I may misunderstood what you meant above but I basically replaced the following:

https://github.com/redwoodjs/redwood/blob/ecf8aa983a2ead57593e201e922ee589ecf5e19f/tasks/framework-tools/src/lib/framework.mjs#L145-L153

with:

[code]

to no avail. 😓

[2021-07-21 04:05] thedavidprice commented on #3053
The issue here is that the ttsc package we use to build types (and then rebuild) has a bug with the latest typescript version. The resulting behavior is that **re**-building can often fail. See @Tobbe link above https://github.com/redwoodjs/redwood/issues/3053#issuecomment-881515563

@jtoar has proposed two proposed solutions:
- clean before every re-build #3074
- remove ttsc package #3082

If you

[2021-07-21 04:12] #3056 closed

[2021-07-21 04:15] amorriscode commented on #3053
@thedavidprice thanks for sharing those, currently relying on manually running `build:clean` when working with TypeScript files.

One thing to note: I also see this when running `rwt link`.

[2021-07-21 05:17] thedavidprice commented on #3053
Ah, that makes sense as it's the same ttsc usage. But is it also blocking the re-build? I've not had these problems myself, so it's been unclear to me where/when it's occuring.

[2021-07-21 08:37] callingmedic911 commented on #3063
This is interesting.

@thedavidprice I think this is a little different issue than what we fixed in #2850. In #2850, we ask the user for plural when the singular is the same as plural. This case has unique singular and plural already - the plural is Data and the singular is Datum (behavior of pluralize lib). And as you know, generators check for singular for provided model name. For example `rw g

[2021-07-21 11:32] zwl1619 opened #3089 "Does Redwood support Dgraph?"
I want to try [Dgraph](https://github.com/dgraph-io/dgraph).
Does Redwood support [Dgraph](https://github.com/dgraph-io/dgraph)？

[2021-07-21 12:57] peterp commented on #3089
We don't explicitly support it, but I don't see any reason why it couldn't be used. I don't think you'll need the API side anymore.

[2021-07-21 12:57] #3089 closed

[2021-07-21 14:14] dthyresson opened #3090 "Upgrade Pino Logger to 7.0.0 to support multiple transports"
Pino 7.0.0-rc is out.

https://github.com/pinojs/pino/releases/tag/v7.0.0-rc.1

Improvements include making it easier to define multiple transport streams and options.

For example:

[code]

Need to see if just upgrading is enough -- or if what to make the Logger api support multiple destinations.

The `destinations` would then declare multiple transport targets.

[2021-07-21 14:45] #3067 closed

[2021-07-21 15:03] dthyresson commented on #3077
Is there a way to detect the data provider (SQLite, Postgres, MongoDB) such that the generators can be smart and adjust the output accordingly -- or would the generator need to specify "mongodb" via a flag.

The former, to detect, would be nicer DX.

[2021-07-21 15:10] dthyresson commented on #3065
Something to consider is if these lifecycle events map nicely to the envelop Plugin GraphQL lifecycle https://www.envelop.dev/docs/plugins/lifecycle where you can hook into before, after events for validation, execution, error etc.

But, it might have to have some smarts to use that plugin on an operation.

This might be something to discuss with the Guild about as well cc @dac09

[2021-07-21 15:54] #2631 closed

[2021-07-21 15:57] thedavidprice commented on #3090
@dthyresson Ideally this would be upgraded before v1.0.0-rc. Keep me posted!

[2021-07-21 16:04] thedavidprice commented on #3077
Yes, we used the (undocumented) api helper in the Render setup command.

[2021-07-21 17:48] pi0neerpat commented on #3056
Woot! :fire: :fire:

[2021-07-21 17:56] cannikin commented on #2879
Okay, we've got a new PR #3091 that will ignore `index.d.ts` files, and I added a section to the docs describing what to do about shared code in services: https://redwoodjs.com/docs/services#a-note-about-shared-code

[2021-07-21 18:30] thedavidprice commented on #3056
released in v0.35.2 (in case you didn't see it)

[2021-07-21 21:39] #3057 closed

[2021-07-21 21:47] thedavidprice opened #3092 "CONTRIBUTING.md version 2"
The Contributing.md document is due for a major re-write:
- add Google Doc draft sections to CONTRIBUTING and rwjs.com contributing
- add video walkthrough link

[2021-07-21 21:51] thedavidprice commented on #3078
Moving this conversation to #3092

Thanks!

[2021-07-21 21:51] #3078 closed

[2021-07-21 21:52] #3076 closed

[2021-07-21 21:55] thedavidprice commented on #3077
## Help Wanted
If someone has time, it would be great to know the current state of Redwood Generators supporting MongoDB as is. We might actually be in a very good place already... TBD

[2021-07-21 21:59] thedavidprice commented on #3073
I believe you mean `Routes.js` instead of `App.js`, correct?

Regardless, I'm guessing this was actually a problem you reported here #3056 and fixed in #3084

Maybe?

[2021-07-21 22:02] thedavidprice commented on #3066
FYI: we are upgrading to Jest v27 in #2893 and also switching the test runner from jasmine2 to jest-circus.

There's an off chance this will resolve your issue. Keep a look out for v0.36.0 release and keep us posted!

[2021-07-21 22:16] pi0neerpat commented on #3073
This is actually a different problem:

[code]

[2021-07-21 23:02] thedavidprice opened #3093 "`setup` command for initializing offline support"
Work on "official" offline support for Redwood has had on-and-off momentum. It would be a nice feature to have if anyone is available to pick up the work and create a PR.

- Draft PR for reference with lots of discussion and example code #1372
- Forums discussion: https://community.redwoodjs.com/t/offline-support/1305

[2021-07-21 23:14] thedavidprice opened #3094 "create `setup` command to run `rw` without `yarn`"
_Continued from this reference PR #1773_

Via a command like `yarn rw setup command-alias`, use [Shadowenv](https://github.com/Shopify/shadowenv) to run redwood commands with just `rw dev` (for example). This setup command should:
1. add .shadowenv.d/rw.lisp
2. console output the installation steps and link to [Shadowenv Doc](https://shopify.github.io/shadowenv/getting-started/)

See comment https

[2021-07-21 23:16] thedavidprice commented on #328
This can be accomplished via #3094

[2021-07-21 23:16] #328 closed

[2021-07-21 23:18] thedavidprice commented on #1623
This is a high priority once we've reached Redwood v1.0.0.

Draft PR for reference #1711

[2021-07-21 23:23] thedavidprice commented on #528
Closing this in favor of #1623 Will make sure this conversation is linked.

[2021-07-21 23:23] #528 closed

[2021-07-21 23:23] thedavidprice commented on #1623
Also see discussion in #528

[2021-07-21 23:23] #1623 closed

[2021-07-21 23:38] thedavidprice commented on #3073
Hmm, it seems you have something else going on. Here's the content of my `Routes.js`:
[code]

And a screenshot of my `pages/` dir, which shows all the Scaffolded pages are nested.

<img width="228" alt="Screen Shot 2021-07-21 at 4 34 59 PM" src="https://user-images.githubusercontent.com/2951/126572753-38866156-696c-4a5b-b37a-257d11fc89f2.png">

---

Are you doing anything non-standard with your Ro

[2021-07-21 23:43] jtoar commented on #3073
I think the difference is that now you have to prefix DappPage with Dapp because it's nested. So while DappPage isn't available, DappDappPage is available.

We could add an underscore between the directory and the component to make the level of nesting clearer? Like Dapp_DappPage

[2021-07-21 23:46] #481 closed

[2021-07-21 23:51] thedavidprice commented on #3073
@jtoar Ah, that's a great callout. When I first saw how we handled the nesting as `DappDapp...` I thought it wasn't very intuitive. Makes sense we need _something_ unique.

Is there a way we can inline the usage documentation? I just don't think any way we handle the syntax we will be able to make it obvious.

[2021-07-22 00:08] #3053 closed

[2021-07-22 00:19] jtoar commented on #3073
@thedavidprice we have this block already in the Routes.{js|tsx} template:

https://github.com/redwoodjs/redwood/blob/f359de4059f6b78226e332424447b637fba163e0/packages/create-redwood-app/template/web/src/Routes.tsx#L1-L8

[2021-07-22 00:30] #3048 closed

[2021-07-22 01:41] ajcwebdev commented on #3077
Scaffold seemed to work flawlessly.

![01-redwood-admin-with-mongodb](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/yxfxm54a7n17dezag4pw.png)

![02-mongodb-atlas-with-seed-data](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/gf772mp6umqgrb71f5r2.png)

## Resources

* Check the example repo [here](https://github.com/ajcwebdev/redwood-mongo).
* If you need help getting setup wit

[2021-07-22 01:43] dthyresson commented on #3077
@ajcwebdev Did the Redwood generators (sdl, service, or scaffold) create this line:

[code]
?

[2021-07-22 01:45] ajcwebdev commented on #3077
Negative, that was from the original Prisma documentation back in April. Feel free to try out other ways of generating the `id`.

[2021-07-22 01:46] dthyresson commented on #3077
Right. :) Yeah, I deleted my comment right after I posted when I realized I was looking at the model and not sdl.

[2021-07-22 01:49] ajcwebdev commented on #3077
Next step for me will be trying this out with [MongoDB on Railway](https://docs.railway.app/plugins/mongodb) and writing up a forum post, Atlas is a huge drag.

[2021-07-22 01:53] dthyresson commented on #3077
Docs like these too instead of Postgres would help: https://redwoodjs.com/docs/local-postgres-setup

Also, curious about Prisma's shadow db and testing - does Redwood's unit tests and mocks/scenarios work well.

But I assume if https://redwoodjs.com/docs/testing#the-test-database is also Mongo, then should be ok.

[2021-07-22 01:55] ajcwebdev commented on #3077
Cool, can definitely write some docs for local setup and will try out the tests as well.

[2021-07-22 13:54] dac09 opened #3097 "Prerender prop on `<Private>` does not get picked up for prerendering"
In theory, Private is just a Set, with some additional functionality. Setting the `prerender` prop should behave the same way as when using a Set

[code]

### Current behaviour
The prop is ignored

### Expected behaviour
Setting `prerender` on Private should make the build process pick up all the Routes under the private set to be prerendered.

[2021-07-22 14:03] dthyresson opened #3098 "Upgrade Envelop in graphql-server to v1.0"
Envelop v1.0 was released and announced 7/22:

https://twitter.com/dotansimha/status/1418204383813144584?s=20

Currently v0.35 uses envelop 0.5.1.

Time to upgrade!

[2021-07-22 16:39] #3022 closed

[2021-07-22 17:44] cannikin commented on #914
![image](https://media.giphy.com/media/sRGUfdb6sNwn1lXRp9/giphy-downsized.gif)

[2021-07-22 17:58] cannikin opened #3101 "Auth Template: Missing closing parenthesis"
Generated `api/src/lib/auth.js` is missing a closing parenthesis and so the line is causing a syntax error: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/auth/templates/auth.js.template#L46

[2021-07-22 18:08] cannikin opened #3102 "Auth: Providing no roles to check against in `requireAuth()` throws a ForbiddenError"
The `hasRole()` function always returns `false`, even when no roles were provided to be checked against:

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/auth/templates/auth.js.template#L58

[2021-07-22 18:12] cannikin opened #3103 "Reformatting boolean check in template on save"
Not sure if this is a Prettier thing or an ESLint thing?

This line generates with `!!roles` but as soon as the file is saved in VSCode it turns it into just `roles` instead:

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/auth/templates/auth.js.template#L80-L82

I don't have any custom config for either of these tools, so I assume it's inheriting whatever our defau

[2021-07-22 18:33] cannikin opened #3105 "Auth template: missing function call"
This should be a function call, not a variable:

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/auth/templates/auth.js.template#L76

[2021-07-22 20:01] thedavidprice commented on #1013
this is done and will be in v0.36.0, correct?

[2021-07-22 20:04] jtoar commented on #1013
@thedavidprice yes

[2021-07-22 22:02] #1013 closed

[2021-07-22 22:24] #2489 closed

[2021-07-22 23:35] #2123 closed

[2021-07-23 00:32] thedavidprice commented on #434
This issue is old/stale. Closing and moving conversation to https://github.com/redwoodjs/redwood/issues/3092

[2021-07-23 00:32] #434 closed

[2021-07-23 00:33] thedavidprice commented on #434
@webstackdev thanks again! Just wanted to make sure you saw where we are consolidating this effort. Lots of pieces in motion and felt like we were starting to waste people's time+effort.

[2021-07-23 00:46] thedavidprice commented on #1585
Hi all, just checking in here — is this still of interest and/or any help needed?

[2021-07-23 00:51] thedavidprice commented on #2682
@cjreimer The recent updates on the related Prisma Issues don't give much hope for a near-term fix... such a bummer. Also, we've given up the PR to make the Redwood template seed file compatible with TS. Just ran into too many issues ourselves and realized JS support is definitely good enough.

So also not much good news.

Before Prisma had their seed command, the seed.js file we provided was a ba

[2021-07-23 00:56] thedavidprice commented on #2806
@peterp given the nature of this potential bug, what do you think about this approach? And/or is there another way forward here?

[2021-07-23 10:03] Albert-Gao commented on #3065
hmm, GraphQL has a different perspective than REST, and envelope has its own lifecycle interepatation, i checked the [doc](https://www.envelop.dev/docs/plugins/lifecycle),

There are 8 APIs:
`onPluginInit(api)`
`onEnveloped(api)`
`onParse(api)`
`onValidate(api)`
`onContext(api)`
`onExecute(api)`
`onSubscribe(api)`
`onSchemaChange(api)`

So far, I think these two are the most important ones,

[code

[2021-07-23 11:10] aggmoulik commented on #1585
Yeah, I have been looking into it. I will work this weekend. So, I will let you know.

[2021-07-23 11:11] aggmoulik commented on #1585
I am confused here a little bit as I should add a cookbook on setup custom  JWT Provider or in a more general way, how to setup file structure?

[2021-07-23 13:43] dthyresson commented on #1585
Cookbooks should be practical, real-world examples nit just sample docs.

The best thing to do would be ask 1) why do I need a custom auth provider? 2) how would that be used in a real-world app situation 3) describe why and for what purpose and then 4) show how the custom auth provider solves that problem.

It's as much why and it is how. And actually more specific than general. Ideally people co

[2021-07-23 14:26] toxsick opened #3109 "How to avoid `useParams` must be used within a ParamsProvider in jest and storybook"
Hey guys,

quick question regarding `useParams`. Let's say I have a simple component like this:

[code]
Out of the box the jest test will fail with:

![ParamComponent tsx — ahab-rw 2021-07-23 16-16-31](https://user-images.githubusercontent.com/951466/126795213-90155c36-aa94-4a62-941e-3ae4f19008ee.png)

And also storybook will not be happy:

![ ParamComponent - Generated ⋅ Storybook 2021-07-23 16-1

[2021-07-23 15:39] dac09 commented on #3036
## Recommended path to solution
Setup pm2 to run the web server, with cluster-mode on. This would give us all the benefit, without changing any of the api-server code, and also maximise compatibility.

[2021-07-23 16:05] dac09 opened #3110 "`rw serve` does not display prerendered pages correctly"
This is a difficult one to describe, so I made a Tape to explain the issue https://s.tape.sh/QTDmQSPn

https://user-images.githubusercontent.com/1521877/126809929-31215b90-b98e-4432-ac3b-bf2bd7e38015.mp4

To summarise - the express static middleware seems to need `.html` extension to show a prerendered page.

Cases to test:

- [ ] Prerender top level page e.g. site.com/about should serve `web/dist

[2021-07-23 17:55] macovedj commented on #3110
Just a thought... This seems to be the case for `yarn rw dev` as well.  Wondering if it might be easier to solve w/o a build in the middle.  Or maybe harder idk.  Just wondering if we put thought into which makes most sense to start with.

[2021-07-23 18:00] #3101 closed

[2021-07-23 18:00] #3102 closed

[2021-07-23 18:00] #3105 closed

[2021-07-23 18:52] thedavidprice commented on #3092
## New `dev` script in CLI Package
Introduced here: https://github.com/redwoodjs/redwood/pull/2818

This script runs the code from the Framework within the "context" of your project. It's an alternative to `yarn rwfw project:sync` for CLI command development.

### How to Use
1. **Build packages and re-build on change:** from framework directory, run `yarn build:watch`
2. The script needs to be run