[2021-07-23 19:44] dac09 commented on #3110
You're right that dev does this - but eventually we might be moving away from webpack dev serve - watch this space.

In response to your question on discord - if you wanted to automatically restart the server you could try nodemon? Something like:

`nodemon $FRAMEWORK_PATH/packages/api-server/dist yarn rw serve`

So it restarts rw serve on your changes? (Assuming you've linked)

[2021-07-23 19:55] dthyresson commented on #2854
@dac09 and @thedavidprice doesn't https://github.com/redwoodjs/redwood/pull/2967 fix this issue?

[2021-07-23 20:01] macovedj commented on #3110
good to know.  started digging around [here](https://github.com/redwoodjs/redwood/pull/3113)

[2021-07-23 20:04] dthyresson commented on #3063
If models should be singular (Car, Driver, Race, Result) then isn't "EbData" as a table name going against convention?

Does the scaffold work if the table is "EbDatum" or "Datum".

Should the generator warn if the model is plural and advise against?

[2021-07-23 20:50] macovedj commented on #3110
think i solved it in the PR above

[2021-07-23 23:21] realStandal commented on #3064
I'm so sorry I'm a slower thinker/worker and you're the opposite @cannikin...

I had a thought which I think builds off what David was saying, at least partially: the confirmation flow that I had described for this handler's use case may be better split into it's own process. To an end user, signing up is signing up but what it's doing is sending that confirmation email, once they click it or subm

[2021-07-23 23:43] cannikin commented on #3064
I could update `signupHandler()` so that returning `true` logs someone in and returning `false` or a string does NOT log them in, and shows a message at the top. You could also `throw` if you want to stop signup and show an error message for some reason. So you could `return "Check your email for a validation link!"` and that would show in a toast notification on the signup page, but NOT log you i

[2021-07-23 23:56] ylc-website opened #3114 ""Using a third party API Cookbook" with TypeScript issues (also general TS issues)"
Excellent project.

Here's a couple things I noticed while going through this tutorial.

- the `@redwoodjs/forms` does not seem to ship types with it, and it is not clear how to add those types.
- running  `yarn rw type-check` produces this:

[code]
I was informed to avoid that command and only run `yarn rw g types`

- running `yarn rw generate cell GetWeather` and then deleting all the files that

[2021-07-24 00:30] realStandal commented on #3064
@cannikin I like it! Would clean up the error handling I have now and fits another need, actually!

[2021-07-24 01:13] realStandal commented on #3064
Is it going to be the same sort of setup with `loginHandler`, the returning `true`, `false`, or a string to determine the result?

[2021-07-24 02:18] cannikin commented on #3064
With `loginHandler()` I have it where you either have to return the user that can log in (really an object with at least an `id` field), or throw an error. At that point the user is who they say they are (dbAuth already checked their username and password) so it seems like throwing an error is the "right" way to disallow them to log in.

[2021-07-24 13:42] peterp opened #3115 "[v0.36.0] `yarn rw storybook` is broken in main branch"
Steps to reproduce:

[code]

[2021-07-24 14:42] peterp opened #3116 "`yarn rw dev --fwd="--open=false"` no longer works"

[2021-07-24 15:29] macovedj commented on #1551
Is there a list things that can be generated?

[2021-07-24 16:31] peterp opened #3117 "`yarn rw test` running tests from the `dist` folder."
![image](https://user-images.githubusercontent.com/44849/126874980-5b310657-520f-465f-89e3-9123c44eaa67.png)

- [ ] Do not run tests from the './dist` folder.
- [ ] Do not build test files 🤕

[2021-07-24 17:19] peterp opened #3118 "New e2e tests tracking issue"
Our e2e tests have been a huge source of frustration, confusion and even hatred. This lead to the dark side. Sad.

We're doing e2e tests wrong, so we're going to throw them away and do something better.

We need to test the full development experience, and to ensure that we don't break anything we need an example application that uses most of the parts of the framework. The most complete app we ha

[2021-07-24 17:25] #2890 closed

[2021-07-24 19:56] dthyresson commented on #2898
Agreed. I used to do that as well all the time - string to carry then `flatten().compact()`.dostuffsto also remove nulls.

But I think https://github.com/redwoodjs/redwood/pull/3107 does close out this issue.

[2021-07-24 21:50] thedavidprice commented on #3116
This might have something to do with an API change to the upgraded webpack-dev-server v4. Passing --fwd might require updates.

[2021-07-24 22:20] mct-dev commented on #2815
Hey, is there a better solution to this?  I'm having the same issue but with a newer version of redwood - 0.35.0

Same exact situation though.  Auth with netlify identity, brand new redwood app.  Private route breaks it, but removing private route fixes it.  ☹️

[2021-07-24 23:14] zakmandhro opened #3123 "Type check fails on fresh install"
A fresh create app with **Redwood 0.35.2** causes a **type check** error:

[code]

To reproduce:

1. `yarn create redwood-app app --ts`
2. `cd app`
3. `yarn rw type-check`

[2021-07-25 06:41] callingmedic911 commented on #3063
Yes.

The only exception to the singular convention I can think of is the Cell generator - which generates `list` cell if plural model name is provided. All other generators I think just forces singular when checking for the schema.

[2021-07-25 18:54] jatins commented on #3060
hmm, `yarn rw g types` regenerates the types but looks like those changes aren't picked by "web" server and the page still shows old content. So, I still have to reload `yarn rw dev` pretty much after every 10 or so edits in current setup. Not sure if this is a problem with vagrant setup or if the setup is flaky on Ubuntu in general.

Anyway, thanks for the reply!

[2021-07-25 21:43] thedavidprice opened #3125 "Canary publishing is failing (most of the time) due to Type build errors with graphql-server package"
@dthyresson @dac09 @peterp

Canary publishing is failing:
- https://github.com/redwoodjs/redwood/actions/workflows/publish-npm-canary.yaml

We are running into a publishing build error related to Types in the graphql-server package. Two examples:
1.  Looking like it began in the Upgrades envelop to 1.0.0 (#3106)
    - [Start of error in publishing step](https://github.com/redwoodjs/redwood/runs/31

[2021-07-25 21:49] thedavidprice commented on #3125
## Publishing Error when run locally
I ran the `... lerna publish canary...` command locally after build:clean. Encountered this error below.

So now I'm equally confused as to why `yarn build` works but _not_ when run in the context of `npm publish` calling the command?

[code]

[2021-07-26 06:01] peterp commented on #3125
Thanks for starting this @thedavidprice , I thought I saw this too once, but couldn't reproduce, but your information gave me more insights:

[code]

The reason why we don't pick this up is because `graphql-server` isn't listed in `./tsconfig.json`, so it's not built when we run `yarn framework build:types`

When we publish a packages individual `prepublishOnly` script is called, which then fails.

[2021-07-26 06:01] peterp commented on #3125
So, it looks like we have legitimate TypeScript errors in the graphql-server package.

[2021-07-26 09:45] #3097 closed

[2021-07-26 10:40] peterp commented on #3125
The PR #3126 sticks a plaster of the issue, but we should fix it properly.

[2021-07-26 12:57] dthyresson commented on #3125
FYI With envelop 1.0.0 and 1.0.1 some new typings and changes were added. Am fixing in a new PR shortly.

[2021-07-26 15:09] #3098 closed

[2021-07-26 15:09] #3125 closed

[2021-07-26 15:20] dthyresson commented on #3064
Update on my initial question about

If I were to implement some sort of email or confirmation job, I would use the `loginHandler` to either

1. Pdd a job to a q and have a worker process and send the email (given I have such a q and worker) or
2. Post a webhook (normal http) to my app with a signature to verify my request and that web hook could be a background async Netlify function that sends t

[2021-07-26 15:45] jtoar commented on #1733
Might be combined with #2980

[2021-07-26 16:05] dthyresson commented on #3123
See also #3114

[2021-07-26 16:14] dac09 opened #3128 "rwfw project:sync loses sync after setup commands or yarn installs"
### Steps to reproduce

- [ ] **When running sync first**

1. Create e2e test project using `./tasks/run-e2e`
2. Go to project folder, and run `yarn rw setup tailwind`
3. At this point the project will become "unsynced" i.e. the framework won't be in use in the project anymore

- [ ] **When running project sync with the watcher**

This also applies if you run `yarn rwfw project:sync` in an existin

[2021-07-26 17:56] ajcwebdev commented on #2907
## [Yarn 3 announcement](https://dev.to/arcanis/yarn-3-0-performances-esbuild-better-patches-e07)

### Grist for the mill

[2021-07-26 17:58] #3114 closed

[2021-07-26 17:58] #3123 closed

[2021-07-26 18:08] ajcwebdev commented on #2907
From [Maël](https://twitter.com/arcanis/status/1419720778375913473), lead Yarn maintainer:

[2021-07-27 00:33] thedavidprice commented on #2907
Interesting. I'm curious about taking this for a test run. Although I have strong doubt about this quote in particular --> "Even for Yarn 1 users, migrating from 1 to 3 should be easier". Lerna and Yarn Workspaces got into a fight when I tried to upgrade to v2 for a POC.

Overall, this feels like good news. I just think it's going to take about 6 months to see where the ecosystem lands in terms of

[2021-07-27 00:52] thedavidprice commented on #3115
@peterp Thanks for catching this. Any chance you know when/how this changed — and/or did you remove storybook test from Cypress? I'm curious how it made it through CI E2E... e.g.  🤔

Will try to diagnose tonight/tomorrow. Need to resolve before v0.36.

[2021-07-27 01:39] #3030 closed

[2021-07-27 01:39] dthyresson opened #3130 "Support Supabase Twitch auth provider"
Supabase now supports signing/auth via Twitch:

https://github.com/supabase/gotrue-js/blob/797ea09b6188291861b5bed4a488cc74b6f95aaf/src/lib/types.ts#L11

Tasks:

- [x] Add provider
- [x] update docs
- [ ] add to playground auth

[2021-07-27 01:44] dthyresson opened #3131 "Support Supabase sign up + sign in with mobile/password and mobile OTP"
Supabase now has support for mobile/password and a one-time-password over mobile using a phone number and Twilio(?).

See:

[code]

Sign in now accepts:

[code]

and

[code]

And if phone and password, then mobile/password -- if just phone, then OTP.

Likely. some UI will be needed to verify the OTP:

https://github.com/supabase/gotrue-js/blob/797ea09b6188291861b5bed4a488cc74b6f95aaf/src/GoTrueCli

[2021-07-27 02:19] cjreimer commented on #2682
David, thanks for the update.  Actually, as I am on Windows, I cannot seed with either JS or TS seed files.  The typescript file hack
 worked for a bit, but it broke in v34.1.

I like your idea of initiating a dbSeed file separate from Prisma.   To do so, I've tried using the redwood script feature to run a db seed.
I've created a dbSeed.ts file in the scripts folder and tried running with the fol

[2021-07-27 03:40] thedavidprice commented on #2890
Fix will be included in v0.36

[2021-07-27 07:37] peterp commented on #2907
I'm trying to get to the point where we don't dictate the package manager for Redwood projects.

My goal is that we create single binary that encases the build and design time packages. The user will only install the run-time packages: express, react, apollo-graphql, etc.

Then we don't have to rely on workspaces and a user is free to use whatever they prefer as a package manager.

A bunch of adde

[2021-07-27 07:45] peterp commented on #3128
Ok, so the root cause is that running `yarn install` installs the packages and "undoes" the files that are copied.

I assume a temporary fix would be that a user needs to run `yarn rwfw project:copy` again? The part that we're missing is the ability to perform this action after a `yarn install`?

@dac09 Is my understanding of the problem correct?

I guess we could add a `postinstall` script to the

[2021-07-27 07:46] peterp commented on #3115
@thedavidprice I'm not sure when it broke, the e2e tests run `yarn rw sb --build` which still works! (lol?)

[2021-07-27 07:47] peterp commented on #3116
I'm wondering if we can try to use the same approach as we do in `yarn rw prisma` and `yarn rw test`? So not having a `--fwd` flag, but rather just passing everything "non-standard" along.

[2021-07-27 08:09] peterp commented on #3118
Related: #3071

[2021-07-27 08:09] peterp commented on #3071
What is the test project generator?

[2021-07-27 13:10] larixer commented on #2907
@thedavidprice

You can use `node_modules` installs with Yarn 2 and Yarn 3. With Yarn 3 you can also benefit from content-addressable storage (`nmMode: hardlinks-global`), when all your unique files from different packages will be shared across multiple projects in the same place on disk - the same idea as used by `pnpm` and requested by @matronator to save disk space, but without modifications to

[2021-07-27 13:25] dac09 commented on #3128
Yep - that's right @peterp. This happens due to yarn overwriting the copied files in `node_modules/@redwoodjs/*`

It seems like a reasonable change to me. For the two-step one (i.e. the test project generator) - I'll add it in now.

[2021-07-27 15:02] cjreimer commented on #2890
Awesome!  Looking forward to it!  Thank you!

[2021-07-27 15:03] dac09 commented on #3128
Actually on second pass, something to note, if the setup command runs in web/api - like tailwind - the postinstall doesn't get picked up (if you put it on the root package.json).

[2021-07-27 15:45] semagraph opened #3133 "Open-ended route (<Router path="/{slug}">) rendered despite earlier route matching first"
I'm trying to use an "open-ended" route (i.e. `https://example.com/{username}`) for my redwood app, but there seems to be a conflict with a specific private route (<Route path="/admin">) which causes the open-ended route to rendered underneath the aforementioned Route.

My Routes.js file:

[code]

--- INFO ---
RedwoodJS Version: 0.35.1

[2021-07-27 16:02] cjreimer commented on #2682
Got it working via the redwood script method!  Thanks for the tip @thedavidprice!

Created a file dbSeed.ts in the scripts directory with:
[code]

Then created a function in my original api/db/seed/ts file:
[code]

And now I can seed with

`yarn rw exec dbSeed`

I know there are cases where `yarn rw prisma migrate dev` will automatically db seed.  I haven't tested those cases yet, but I may just w

[2021-07-27 16:08] thedavidprice commented on #3116
I think it's worth evaluating, but at first glance, two things intimidate me a bit:
- keeping ability to target web _or_ api
- `jest --help` has a _lot_ of options... hard to imagine all of them will work (but is this something we need to be concerned with)?

Definitely feels worth evaluating. Doesn't feel like the same as a the prisma CLI passthrough we do 'cause a lot more happening on this one

[2021-07-27 16:10] thedavidprice commented on #3116
Again, the main issue at the moment is breaking changes in the soon-to-be release version of webpack-dev-server v4. We have to use the v4 release candidate due to bugs between v3 and webpack (go figure). However, the current dev server docs on the webpack site only reflect v3 — have to look through change logs and release notes at this time. And they're a bit messy.

[2021-07-27 16:19] thedavidprice commented on #2907
Hi @larixer! Thank you for jumping in here.

These all sound like great benefits. Definitely want to look more into understanding `nmMode: hardlinks-global` — sounds very nice! And know that all along I've been excited and impressed with the heavy lifting the Yarn team has been doing. We literally couldn't have built Redwood the way we did without Yarn.

I did use node_modules in my attempt to upg

[2021-07-27 17:21] jtoar commented on #3128
@peterp as @dac09 said, that case won't cover setup commands like tailwind, but for things like dbAuth which just add boilerplate, that fix will do the trick.

Wondering, in the tailwind case, if there's a way to tell yarn to just leave certain packages alone on install? Instead of rebuilding everything

[2021-07-27 18:03] larixer commented on #2907
Yes, I'm curious and willing to take a look. I am not sure what I'm looking at, you referenced one commit and I don't understand what exactly have you tried to do and what problems have you faced? Do you have some Pull Request where you have tried to migrate to Yarn 2 with description of problems you faced? Alternatively are you comfortable to pop on our discord:
https://discord.com/invite/yarnpkg

[2021-07-27 21:02] Tobbe commented on #3133
We have a unit test that's supposed to cover this.

[code]

[2021-07-27 21:23] Tobbe commented on #3133
Reproduced with this testcase

[code]

[2021-07-28 13:59] dthyresson opened #3137 "When creating the test project, Contact model not formatted properly in schema.prisma"
When

[code]

When adding the Contact model, the schema is missing a line break between the Post and Contact model.

[code]

[2021-07-28 15:39] cyberious commented on #2511
I agree, this is an annoying thing, I have to close code or disable the plugin in order to work on my other Gatsby projects which use 8000.

[2021-07-28 15:42] dac09 commented on #2964
@cjreimer - any chance I could get more details on how to recreate this error please? i.e. could you give me a snippet and what file you have it in (I assume a Cell?)

[2021-07-28 15:46] thedavidprice commented on #2511
Thanks for this, all. The Extension is in the middle of a major overhaul right now. The new version will be completely rewritten — great news, but taking time. We are organizing all these Issues to address once the dust settles.

Looping in @aldonline who is lead.

[2021-07-28 15:48] thedavidprice commented on #3137
@dac09 any chance you could include this in #3099?

Also, strange that Lint isn't handling this...

[2021-07-28 15:50] thedavidprice commented on #3133
Thank you both!

[2021-07-28 15:53] cjreimer commented on #2964
@dac09 - here's the entire `submittalMail.ts` file.  It is a service on the api side and calls the user service to get a specific user.  I checked and the code still generates the same error in redwood v0.35.2.  Easily fixed once found, but the error, as indicated in the previous post, doesn't give any clues as to which file it is in.

[code]

[2021-07-28 15:54] #3034 closed

[2021-07-28 16:06] thedavidprice commented on #3060
Looping in @dac09

Thanks for reporting back @jatins That definitely isn't the behavior we intended. This is _likely_ resolved via #2938 and will be included in the upcoming v0.36 release. There are some significant changes in v0.36 (upgraded Webpack 5 and Jest 27). But if you haven't made custom config implementation, you should be able to try the latest published canary version and see if your i

[2021-07-28 16:07] #2854 closed

[2021-07-28 16:09] thedavidprice commented on #3117
Jest config is here:
https://github.com/redwoodjs/redwood/tree/main/packages/testing/config/jest

[2021-07-28 16:11] thedavidprice commented on #2898
@Tobbe can you please confirm this is fixed? Close out if so!

[2021-07-28 16:22] thedavidprice commented on #1551
+1 defaulting to running lint after generating (with option to disable)

@macovedj I just reference these directories within `cli/generate`:
https://github.com/redwoodjs/redwood/tree/main/packages/cli/src/commands/generate

Also this from the `yarn rw g --help`:
[code]

Note: things like `types` and `secret` don't apply, but it also wouldn't hurt to run lint.

[2021-07-28 16:49] thedavidprice commented on #3109
^^ @peterp do you have any thoughts/advice on this? My hunch is that we aren't supporting this via current Jest config/setup.

[2021-07-28 16:51] thedavidprice commented on #1585
Just a reminder so we don't lose track of this:

[2021-07-28 16:57] Tobbe commented on #3109
I wonder if it isn't just a matter of adding `<ParamsProvider>` to MockProviders.tsx

[2021-07-28 17:15] thedavidprice commented on #3109
Ah, very interesting @Tobbe

Here's the file, which is used by both Storybook and Jest:
https://github.com/redwoodjs/redwood/blob/main/packages/testing/src/MockProviders.tsx

[2021-07-28 17:23] jatins commented on #3060
Just tried right now on canary. Still experiencing the auto-gen "timeout" 🤷 it ...stops after ~5-10 edits.
Also, this is happening on Ubuntu from what I can tell (and not on Mac)
[code]

[2021-07-28 17:48] dthyresson opened #3140 "Implement Supabase Auth SMS OTP with Twilio"
See: https://supabase.io/docs/guides/auth/auth-twilio

Supabase now supports:

* Using OTP with password based logins

[code]

then need to verify

[code]

could also sign in with their phone and password as phone stored on user.

* Using OTP as a passwordless sign-in mechanism

[code]

and also verify:

[code]

[2021-07-28 21:17] #3137 closed

[2021-07-28 21:51] zackdotcomputer opened #3142 "Type error with `beforeResolver` and `requireAuth`"
In Typescript, running Redwood 0.35.3 canary 66. I locally fixed the typing of the automatically generated `requireAuth` function to this:
[code]

(The generated version did not give a type for the argument so it was implicitly given `any` typing.)

However, this has exposed another type error. When trying to secure services using the `beforeResolver`, the suggested implementation is:
[code]

But

[2021-07-28 22:44] thedavidprice commented on #3142
Thanks @zackdotcomputer! Looping in @dac09

[2021-07-30 08:42] zackdotcomputer opened #3144 "Query operations on `CellSuccessProps` don't update the data"
I have a cell that is using [Pagination](https://redwoodjs.com/cookbook/pagination.html#pagination) per the cookbook. I am trying to transform it to provide infinite scrolling using the Apollo `fetchMore` function.

[code]

The network tab shows that the `fetchMore` calls are happening, are successful, and return new rows. However the cell doesn't rerender with the new data.

[2021-07-30 08:51] zackdotcomputer commented on #3144
It seems like Apollo's documentation is steering me towards defining a Field Policy for the type being paginated, but since Redwood doesn't expose the cache in its wrapped Apollo provider, there appears to be no way to do so?

[2021-07-30 09:40] zackdotcomputer commented on #3144
Tried migrating to the offset-and-limit pagination strategy as well in the hopes that that might be somehow implemented automatically. No dice. [Found this post](https://community.redwoodjs.com/t/using-fetchmore-with-apollo-usequery/2287) in the community forums as well, but they seem to have reached the same dead end that I have: if one wants to use this feature, you have to implement your own Ap

[2021-07-30 09:51] noire-munich commented on #2879
Thanks a lot @cannikin
Eventually we began moving a lot of code that was in /services to /lib, which gives us a cleaner structure and let us integrate `beforeResolver` for v1.
Side effect is that when we need to write tests for lib code, we also write scenarios manually - which is not a complaint though.

Also regarding types, since RW now generates graphql types we've been able to remove a lot of

[2021-07-30 09:53] noire-munich commented on #2473
@thedavidprice @jtoar any updates on this one?

[2021-07-30 10:40] zackdotcomputer commented on #3144
Ok, one more update for today, I got this working locally by cloning the `RedwoodApolloProvider` and exposing a new config key that gets forwarded into the `InMemoryCache`. This allows me to specify a custom caching policy, enable pagination merging, and now `fetchMore` works perfectly. Will update the title of this issue and open a PR to expose this to everyone. (If you want it before then, copy

[2021-07-30 12:22] zackdotcomputer opened #3146 "Server-side router should not fail if query-unsafe characters are in `/path/{variable}` open ended routes"
Let's say you have:
[code]

And your user is going to search for a term with a character that can be used in a path but not in a query string. Let's assume their search query is `google.com`.

If you try to send the user to that page using `navigate(routes.searchQuery({ query: "google.com" }))` they will be sent to `/search/google.com`. This is a valid path (though a strange one) and the client-si

[2021-07-30 12:28] zackdotcomputer commented on #3146
Actually it appears that URI encoding *by hand* works but if you try to pass a URI-encoded value to the `routes` named function (at least on Safari) the user will always be redirected to the unencoded URI like `search/google.com`. So yeah - not sure there is a workaround for this at the moment.

[2021-07-30 15:31] dac09 opened #3147 "[rwfw]: A synced project prebuilds api differently"
### What is the issue?
It looks like a rwfw synced project will transpile code even in the prebuild stage. i.e. babel preset and settings are not ignored

This can lead to all sorts of issues, because the contributor "dev" environment (and our e2e tests) doesn't behave the same as an unsynced project

### Steps to reproduce
1. `yarn rwfw project:sync` on any project
2. `yarn rw build api --no-pris

[2021-07-30 15:36] dac09 opened #3148 "v0.36 [prebuild]: New prebuild step ignores babel settings on api side"
Due to the way prebuild is setup:

[code]
Means that babel settings on my project (on the api side) would be ignored.

We should have an alternate way of extending the babel plugins/settings

[2021-07-30 15:54] dac09 commented on #3147
My bad, I think I had something causing this. Closing will repoen if It is indeed an issue

[2021-07-30 15:54] #3147 closed

[2021-07-30 16:43] thedavidprice commented on #3115
Fixed in #3132

[2021-07-30 16:43] #3115 closed

[2021-07-30 16:58] thedavidprice opened #3149 "[v0.36 bug] Storybook is not picking up new Tailwind config"
# Reproduce
1. upgrade a project to canary
2. run `yarn rw setup tailwind`
3. use a pre-built TailwindUI snippet; copy+paste into new page (https://tailwindui.com)
4. compare differences between `yarn rw dev` and `yarn storybook`

## dev server screenshot
<img width="847" alt="Screen Shot 2021-07-30 at 9 48 27 AM" src="https://user-images.githubusercontent.com/2951/127686563-c8e7b6c0-6cf5-41c0-a0f

[2021-07-30 18:26] #2908 closed

[2021-07-30 18:31] dthyresson opened #3151 "RFC: Support Public vs App GraphQL Schema"
The https://github.com/n1ru4l/graphql-public-schema-filter library can filter schemas to expose just a portion of the schema to be public.

This would be useful have a public API that was limited to just a few types/models and a few queries.

But, you would not have to declare and define a separate SDL -- but annotate the SDL with what is `@public`.

However, there is no easy way to add other type

[2021-07-30 19:14] dthyresson opened #3152 "Difficult to add new GraphQL Scalars due to Scenario Value field limitations"
I wanted to add both BigInt and Byte support using `graphql-scalars` because Prisma supports these now (Byte just in Postgres).

While it is easy to add both to the Redwood `rootSchema` https://github.com/redwoodjs/redwood/blob/d3b05e31efa5ab369f2b2f49db5d51af8a93286a/packages/graphql-server/src/makeMergedSchema/rootSchema.ts#L2, for example for BigInt:

[code]

and then also update `internal`  ht

[2021-07-30 21:08] #3064 closed

[2021-07-30 21:58] thedavidprice opened #3153 "[scaffold generator] don't write into existing directory without --force; don't add model-name dir if custom path is passed"
## Issue 1: Scaffold writing into an existing directory
Given an existing component directory like `TeamMember/`, if I create a new prisma.schema model of the same name and then run `yarn rw g scaffold TeamMember`, the generator will write CRUD components into the existing `TeamMember/` directory. _This causes import havoc and hard to diagnose bugs. The same can happen with Pages and Layouts.

###

[2021-07-30 23:18] thedavidprice commented on #2907
Well, look at that "Upgrade Framework to Yarn v3" #3154

😉

[2021-08-01 20:10] realStandal opened #3178 "Customizable error messages for `dbAuth`"
cc @cannikin

Mainly looking at the "Username `XXXXXXX@gmail.com` already in use", I can't recall off the top of my head others.

Any valid string could be set as, for example, an environment variable. If the variable is undefined a default value is used.
I'd vote `''` is a valid, but discouraged, value; just for simplicity's sake.

Use cases:

* I care about my application's UX, and am strict on

[2021-08-01 20:12] realStandal commented on #3178
I also didn't search before I posted!! let me do that

[2021-08-02 03:44] cannikin commented on #3178
Oh yeah, I forgot about that text! If you want to take a stab at a PR for that, please do! I’m on vacation for the next two weeks but can check in for any help or review.

Where were you thinking the text would go? In the same block of options as stuff like signupHandler? I guess that doesn’t make it very easy for I18n though…maybe it’s an option passed to signUp()? I guess logIn() could take simi

[2021-08-02 11:37] realStandal commented on #3178
No rush on my end! With what's come up the past day or so having an excuse to draw it out helps!

I was thinking do the lookup as part of the result of signUp, so in the same way I'd throw an error as part of a signupHandler and use its message to provide a translated, contextual message.

I think alongside signupHandler makes the most sense. Now would a generic `errorMessages` split into signup a

[2021-08-02 12:43] khusseini opened #3179 "Integration with OpenFaas?"
Hello there,

I am currently building an Faas framework, however the project I am working on focuses on cluster operations, rather than on the application side. Simply put, the framework is a bunch of ansible playbooks which deploy common components, such as an faas provider, identity service, auth and authz.
Here is the first prototype: https://gitlab.com/faasaf/faasaf
It also provides an interfa

[2021-08-02 12:55] #3110 closed

[2021-08-02 13:31] #2861 closed

[2021-08-02 15:57] macovedj commented on #1551
Typically, I've seen config vary between members on teams, but config would be how you go about utilizing eslint or prettier or something similar right?  As far as I know, neither of them expose utilities that would let you format something from within a script... which seems like something you would want/need here.  Seems you would want to be able to call some utility that formats at the end of g

[2021-08-02 16:21] ajcwebdev commented on #3179
Welcome to the Redwood community @khusseini! 👋

It definitely sounds like there are a lot of interesting compatibilities that could be explored between the intersection of Redwood and the work you have been doing. In regards to this question:

In the past Redwood was architected specifically for AWS Lambda, but with the introduction of Envelop we are moving to more of a plugin architecture that ca

[2021-08-02 22:43] jtoar commented on #3149
The reason for this is that the new setup tailwind command adds the tailwind css import to App.js, not to index.css (the old setup tailwind command added the tailwind directives to index.css):

https://github.com/redwoodjs/redwood/blob/d16ba9c4a995da18d53984f7139b401716b6f26f/packages/cli/src/commands/setup/tailwind/tailwind.js#L33-L36

But storybook only looks at index.css for what to include, so

[2021-08-02 23:02] jtoar commented on #3149
Here's the relevant section of the tailwind docs for completeness: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css. Tailwind just isn't being included in storybook's css.

[2021-08-03 00:02] #3149 closed

[2021-08-03 01:53] jtoar opened #3182 "Deprecate our form coercion in favor of react hook form's"
Follow up to #3043 for @LBrian: When we first introduced coercion for @redwoodjs/forms via a react-context setup, we were using react hook form v5 which had no native answer. In v6 they added a few options to `register`'s options object, like `valueAsNumber`, `valueAsDate`, and `setValueAs` (which lets you provide a function to handle the rest of the cases) that let you do coercion within react-ho

[2021-08-03 06:16] noire-munich commented on #3090
Following on #760

I've been testing a few things and it appears one can use multistreams without changing RW:

[code]

That, for me, has worked. Problem is however that `pino.multistream` is not really recommended because there are performance concerns. If we do blend this into RW's logger, I think we should at least fire a console warning if we had up to a certain limit of streams.

Now the prob

[2021-08-03 13:43] dthyresson commented on #3090
Right -- 7.x Pino introduces this pattern:

[code]

Where "targets" are multiple transports

Currently, `RedwodLoggerOptions` are:

[code]

with a single destination. Should we:

* keep that for backwards compatibility and simple single destination logging (oh, is that the one that's broken)
* add 'transports' or 'destinations` and can define multiple streams

Right, so we can use that and just ad

[2021-08-03 14:24] cjreimer commented on #3153
Hey David, great points of discussion!

**Regarding Issue 1:**
Ideally, I'd love to see a warning with a prompt to continue if the model-named directory lines up with an existing directory.  Do we have a warning / prompt and response system built into any of the redwood CLI commands?

**Regarding Issue 2:**
You can blame me for this one!  That being said, I think there are cases where someone coul

[2021-08-03 14:31] cjreimer opened #3186 "CLI - Component Generator - does not accept paths"
Tried running the following:

`yarn rw g component common/filter`

and got

[code]

We should take a path for the component generator like in other generate commands.

[2021-08-03 15:57] peterp commented on #3116
Root issue is fixed now.

[2021-08-03 15:57] #3116 closed

[2021-08-03 18:40] thedavidprice commented on #3153
Hi @cjreimer! For interactive CLI, we are using [Prompts](https://www.npmjs.com/package/prompts) in a few places. It's working great! The main thing with any interactivity is to make sure it won't be something that blocks us during CI. For either of these cases, I don't think it would be an issue.

^^ I think this would be great!

**Regarding Issue 2:**
No blame needed! We're figuring this out as

[2021-08-03 19:15] dthyresson commented on #2473
@thedavidprice and @jtoar This issue came up today in Discord from @viperfx.

Can we bump priority?

[2021-08-03 19:29] #2879 closed

[2021-08-03 19:34] #3148 closed

[2021-08-03 21:52] KrisCoulson commented on #2473
@thedavidprice  @jtoar  @dthyresson I actually just hit this as well for the first time today.

[2021-08-04 01:27] thedavidprice opened #3199 "Code modifications for `@graphql-tools/*`"
We've upgraded several `graphql-tools/*` packages in #3194 There are some code modifications that might still be required.

`@graphql-tools/merge`
- https://github.com/ardatan/graphql-tools/releases/tag/%40graphql-tools%2Fmerge%406.2.15
- https://github.com/ardatan/graphql-tools/releases/tag/%40graphql-tools%2Fmerge%406.2.16

`@graphql-tools/schema`
- https://github.com/ardatan/graphql-tools/relea

[2021-08-04 12:41] cjreimer commented on #3153
Hey David!

Regarding item 1, I'm on board with using Prompts!  If there ever would be a CI issue on any command, I would simply suggest using the --force flag to override, or adding a custom flag to pre-select the desired option

Regarding issue 2, can you clarify what the difference is between your options 2 and 3?  Is there a typo in what you intended, or am I misunderstanding as there appears

[2021-08-04 12:49] khusseini commented on #3179
Thank you @ajcwebdev for the kind reply.
I never heard about Envelop before. This looks also very interesting.

[2021-08-04 12:49] #3179 closed

[2021-08-04 13:59] Tobbe commented on #2815
@mct-dev sorry no one has gotten back to you. Are you still having this problem? Do you have a git repo I can look at?

[2021-08-04 14:18] Tobbe commented on #2964
@dac09 I was going through my emails and found this one. So just a gentle nudge to not forget about it 🙂

[2021-08-04 14:21] Tobbe commented on #2898
Yup, looks good!

[2021-08-04 14:21] #2898 closed

[2021-08-04 16:26] dac09 opened #3205 "Deploy command exit code incorrect on migration failures"
The deploy cli command does not fail with exit code 1, when migration failures happen.

e.g. Repro: `DATABASE=make_it_fail yarn rw deploy vercel --no-build`

See output here:
https://s.tape.sh/NcEl1JbM

Which can lead to all sorts of nastiness

[2021-08-04 16:56] thedavidprice commented on #3153
^^ For 1, 2, and 3, I am attempting to state the behavior I think is preferred — intending them all to be compatible. The idea for number 3 is that if some does specify the directory structure by passing `<path>/<model>`, then we would first display the path that's about to be used and then prompt them to confirm that's the path they want before proceeding to write. If someone doesn't specify the

[2021-08-04 23:44] cjreimer commented on #3153
David, I think we're on the same page!

I'd gladly take this on except it would probably sit in my queue for a while as I have a lot on my plate for August.  Feel free to post a 'help wanted' flag once you think there's been enough review on the subject.  If no one else picks it up, I'll add it to my list.

[2021-08-05 00:23] cjdenio opened #3208 "GraphQL Playground URL isn't correct in development"
Hello! According to [the documentation](https://learn.redwoodjs.com/docs/tutorial/saving-data#graphql-playground), the GraphQL Playground should be available at `/graphql`, but it's actually at `.redwood/functions/graphql` by default (at least in development).

I've also noticed a related discrepancy in the docs where [this page](https://redwoodjs.com/cookbook/custom-function) and [this page](http

[2021-08-05 01:18] dthyresson commented on #3208
Hi @cjdenio, just to clarify the reproducible steps -- how are you starting up your dev server?

I ask because:

Via `yarn rw dev`

![image](https://user-images.githubusercontent.com/1051633/128275562-f9adaa96-adbd-48f2-ba69-e1be55887d29.png)

Via `yarn rw api serve`

(No GraphQL playground enabled)

![image](https://user-images.githubusercontent.com/1051633/128275422-0b0f0e03-797d-4dcb-8d27-1df66

[2021-08-05 01:44] cjdenio commented on #3208
Thanks for the quick response! I can reproduce this issue by generating a project with `yarn create redwood-app ./redwood-test` and running `yarn rw dev`. (in a non-bare project, it shows a 404 instead of the welcome page) Not 100% sure whether this is a documentation issue or a bug, but it seems like a mixture of both.

<img width="942" alt="Screen Shot 2021-08-04 at 9 39 16 PM" src="https://user

[2021-08-05 07:10] Tobbe commented on #3208
@cjdenio Notice the port. It's :8910 for the web stuff, and :8911 for api. So you need to use :8911 to access /graphql

[2021-08-05 07:15] jtoar commented on #3186
Hey @cjreimer; #2606 would add that functionality. Now that I've gotten through a few 3rd party library upgrades, I'll prioritize this next!

[2021-08-05 12:59] cjreimer commented on #3186
Great, @jtoar!  BTW, please note the conversation that @thedavidprice and I had on #3153.

Based upon that, there may be value in changing this command as well into a format such as:

`yarn rw g component componentName [path]`

or

`yarn rw g component componentName --path [path]`

to keep it consistent with the scaffold generator( if that format is finalized).  This new format, in my mind, makes

[2021-08-05 22:20] #3133 closed

[2021-08-06 10:12] #3199 closed

[2021-08-06 15:46] dac09 opened #3212 "[Internal] Refactor and cleanup webpack configs"
The webpack configs in redwoodjs/core (used in the web side) need a bit of TLC.

Tasks:

- [ ] Remove storybook specific config from shared webpack settings https://github.com/redwoodjs/redwood/blob/ec04a2bfe455dd6def37c5a15160fcb6a75b9595/packages/core/config/webpack.common.js#L143
- [ ] Restructure webpack configs to be clearer how they are shared

**Suggested structure**
- core/config/webpack.s

[2021-08-06 15:50] dac09 commented on #849
I've set up the #3207 to close this issue, because it does handle the original ask.

I'm going to take @viperfx's comment and create a different issue, as its requesting something a little different.

[2021-08-06 15:57] dac09 opened #3213 "[RFC] Support routing on api functions"
Redwood's api functions don't really support routing - which is understandable as GraphQL is our primary endpoint to receieve/send data.

However there are certain cases that would benefit from supporting "routing" on the api side too

e.g. Receiving oauth callbacks

- myredwoodapp.com/api`/oauth/github/callback`
- myredwoodapp.com/api`/oauth/twitter/callback`

Here `oauth` is the actual function

[2021-08-06 16:00] #3131 closed

[2021-08-06 16:00] #3140 closed

[2021-08-06 16:12] dthyresson commented on #925
@peterp This issue is from ~ a year ago, but thought I'd have a look since I am in GraphQL world.

For example, let's say I create this artificial exception llke:

[code]

I do get:

![image](https://user-images.githubusercontent.com/1051633/128539892-fc25a62c-66d4-4011-8a44-a51ba1f3b59c.png)

and the response is

[code]

But strangely, the stack trace is not in my dev server logs:

[code]

Is thi

[2021-08-06 16:59] leetmachine opened #3214 "generate scaffold fails with Float"
version: redwood/core@0.35.2
db: postgres

I have a model with lat, lng as Float types. When I run `generate scaffold Business` it gives the following error. [prisma docs #float](https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#float) states Float mapping was updated for psql 2.17.0, so wondering if thats the cause. It _appears_ rwjs is using 2.26 ( ? ).

[code]

model:
[

[2021-08-06 17:08] dthyresson opened #3215 "Canary 0.35.3-canary.89: Webpack Config error setting title on build"
With `"@redwoodjs/core": "^0.35.3-canary.89"` when I `yarn rw build` the web side:

[code]

The cause is the way I had set the title:

[code]

If I remove and use

[code]

The my build succeeds.

If this is no longer the way (as SEO and MetaTags are now the better way) need to remove these docs:

https://redwoodjs.com/docs/webpack-configuration.html#changing-the-title-of-the-page

![image](https:/

[2021-08-07 00:07] leoalbin opened #3216 "Cannot find module '@babel/runtime-corejs3/core-js/object/define-property'"
Hey guys, we are getting an error after deployment:

`Cannot find module '@babel/runtime-corejs3/core-js/object/define-property' Require stack: - /var/task/src/node_modules/@redwoodjs/api/dist/index.js - /var/task/src/api/dist/functions/graphql.js - /var/task/s_graphQL.js - /var/runtime/UserFunction.js - /var/runtime/index.js`

Some hints:
- It is not happening in the local environment just after

[2021-08-07 01:05] ajcwebdev commented on #3216
Do you have `esbuild` set to `true` in your `redwood.toml`? If so try changing it to `false` and redeploying.

[2021-08-07 01:13] simoncrypta commented on #3215
Oh yes I removed the title option in Webpack since Helmet is now set by default. I didn't notice this part of the doc, I can remove it in the PR I already open for the SEO doc update 🙂

[2021-08-07 01:53] ajcwebdev commented on #3216
This is the third time I've seen this bug crop up and it's making me feel like Ahab and this is my white whale. Here's some links and notes so the future generations of programmers who are also trying to fix opaque bugs in Babel (along with probably myself a month from now) might find some breadcrumbs.

## What's a `babel/runtime` anyway?

[`@babel/runtime`](https://babeljs.io/docs/en/babel-runtim

[2021-08-07 05:20] cjdenio commented on #3208
My bad, thanks for clarifying!

[2021-08-07 05:20] #3208 closed

[2021-08-07 06:22] ajcwebdev commented on #3216
## Reproduction on Netlify

[GitHub Repo](https://github.com/ajcwebdev/rw-broken-deploy)
[Netlify Logs](https://app.netlify.com/sites/rw-broken-deploy/deploys/610e24ffb5f0760007c3d3a1)
[Broken GraphQL endpoint](https://rw-broken-deploy.netlify.app/.netlify/functions/graphql)

You can test the app and see it working locally with the following:

[code]

Open `localhost:8911/graphql` and run the foll

[2021-08-07 13:28] leoalbin commented on #3216
Hey @ajcwebdev , thanks for your insights were super helpful to find a solution.

We finally solved it by installing @babel/plugin-transform-runtime as dev dependencies and @babel/runtime as dependencies on the API side. Not sure if it is a default we overwrite in the past or if it was a manual code change we missed in some upgrade.

More details here --> https://babeljs.io/docs/en/babel-plugin-tr

[2021-08-07 15:52] ajcwebdev commented on #3216
The whale is slain.

![brNZ509](https://user-images.githubusercontent.com/12433465/128605973-77d8be38-19c9-4285-b55c-8a8393b34799.jpeg)

Now we just need to figure out why we're also getting this error when turning on `esbuild`...

[2021-08-07 16:07] ajcwebdev commented on #3216
@peterp @thedavidprice @dthyresson @dac09 despite the work arounds we are finding for this bug this is a pretty huge gotcha, especially for people who don't know how to futz around with the `redwood.toml` or Babel plugins. Should we:

1. Open an issue on Babel's and/or Esbuild's repo?
2. Document the work arounds?
3. Try to fix it by hacking around inside the Redwood internals?

[2021-08-07 16:19] dthyresson commented on #3216
I experienced this issue with an app last week with Netlify, and the solution (as noted) was to disable `esbuild` in the `redwood.toml`.

What might be happening is on build, uses rebuild and then when Netlify builds its functions via https://www.netlify.com/blog/2021/04/02/modern-faster-netlify-functions/ it over "shakes" (if that's a term) and dependencies get out fo whack.

That was my workarou

[2021-08-07 16:21] dthyresson commented on #3216
Definitely document.

Probably here for Netlify deploy, with a callout: https://redwoodjs.com/docs/deploy#netlify-deploy

And here for rebuild tool config: https://redwoodjs.com/docs/app-configuration-redwood-toml.html#esbuild

[2021-08-07 16:32] dthyresson commented on #3216
Or I wonder @dac09 or @thedavidprice if this config setting could be automatically set to false when deploying to Netlify.

If `netlify.toml` exists?

Or maybe check if this envier exists?

https://docs.netlify.com/configure-builds/environment-variables/#build-metadata

And if so, then disable esbuild somehow from

https://github.com/redwoodjs/redwood/blob/7e663d1cd9790dd9457961f1b67172a0fefda2e2/

[2021-08-07 17:21] leoalbin commented on #3216
In our case was failing with both esbuild = false and true. The only solution was to add dependencies to the API side.

[2021-08-07 17:25] dthyresson commented on #3216
Oh interesting. I'll update that documentation issue with this info. Thanks!

[2021-08-07 20:12] leetmachine opened #3217 ".ts extension included in serverless.yml setup."
issue: `yarn rw setup deploy aws-serverless` includes `.ts` in the config to `serverless.yml`. This causes an error when trying `yarn rw deploy aws` as `Serverless: Configuration warning at 'functions': name 'geocode.ts' must be alphanumeric`.

[code]

  I confirmed that by removing `.ts` in every location I was able to get past the issue.

[2021-08-08 12:23] dthyresson commented on #3214
Thanks @leetmachine.

I just created a PR https://github.com/redwoodjs/redwood/pull/3218 that should fix this in the next release.

As a workaround until then (0.36 should be out this week) you can try to use a Decimal.

[2021-08-08 12:24] #3130 closed

[2021-08-08 12:26] dthyresson commented on #2980
Actually, I realized that Float is a standard GraphQL scalar type.

Also reported in https://github.com/redwoodjs/redwood/issues/3214

Fixed in https://github.com/redwoodjs/redwood/pull/3218

[2021-08-09 13:05] #2980 closed

[2021-08-09 13:05] #3214 closed

[2021-08-09 16:37] #1460 closed

[2021-08-09 16:37] #2362 closed

[2021-08-09 17:22] dac09 commented on #2001
Closing this as implemented in #3026 and #2909

[2021-08-09 17:22] #2001 closed

[2021-08-09 18:36] thedavidprice commented on #3215
Fixed in #3026

Docs will be updated when v0.36 releases

[2021-08-09 18:36] #3215 closed

[2021-08-09 20:01] #2863 closed

[2021-08-10 03:44] leetmachine commented on #3214
cool, thanks for the quick turnaround!

[2021-08-10 10:39] dac09 commented on #2617
Replaced by Rufus. Closing

[2021-08-10 10:39] #2617 closed

[2021-08-10 18:40] peterp commented on #2964
Hey there, sorry about the delay in response here.

The issue here is that your syntax is incorrect.

`.ts` files can use the `<AngleBracket>` type assertions, but it conflicts with the JSX grammar. So TypeScript added the `.tsx` extension and `varName as Type` syntax. (Here's a more detailed answer: https://stackoverflow.com/a/54614279/200516)

I'm not sure why VSCode isn't giving you an error he

[2021-08-10 19:03] dac09 commented on #2964
I think the casting syntax is valid @peterp - the example is a service file, not a component.

[2021-08-10 19:04] cjreimer commented on #2964
Hey @peterp !  Thanks for the comments and typescript trivia!  I appreciated it!

Just a note, my concern is not with the typescript code, but that `yarn rw gen types` threw an error without a file reference.  Can redwood spit out the filename upon such an error?

Thanks!

[2021-08-10 19:12] zackdotcomputer opened #3225 "Change AuthProvider "no client" default value to `null`"
Currently, the `AuthProvider` will send a provider a client of `() => null` if it is given a falsy value as the `client`. That is done [here](https://github.com/redwoodjs/redwood/blob/dc74d5850325e6cd7856457857e88fe70919aace/packages/auth/src/AuthProvider.tsx#L112)

This was probably done, we think, to give a non-null but null-like default value for `dbAuthProvider`, which doesn't have a meaningfu

[2021-08-10 20:05] peterp commented on #2964
@cjreimer Ah! I see that I didn't read the entire thread properly! I just assumed it was a file that contained JSX. @dac09 has created a PR that spits out the filename!

@dac09:
I still think the reason why it's failing is because of the type cast/ grammar issue... I can't think of any other logical reason why this syntax would be invalid. My hunch is that we're not giving our parsing code enough

[2021-08-10 20:22] cjreimer commented on #2964
Thanks, @peterp, and @dac09 !  You guys are awesome!

[2021-08-10 20:31] peterp commented on #2964
I've created #3226 with the failing test case - I tried a few things to make it comply - none were helpful:

[code]

I think we should create an issue on the babel repo, and we should catch the `SyntaxError` errors in the `generate.ts` file and surface those to the users in a nice way.

@cjreimer the `as number` syntax works fine in the meantime, but we'll surface more information to users in the

[2021-08-10 20:57] peterp commented on #3152
If you're currently stuck on this and would like to add scalars to your graphql-project, create
`api/src/graphql/scalars.ts`

with the following content:
[code]

[2021-08-10 21:02] Tobbe commented on #701
Sure

[2021-08-10 21:02] #701 closed

[2021-08-10 21:17] thedavidprice opened #3227 "[v0.36] `rw dev` is complaining about "loose" option potential conflicts from PR #3220"
See this in console when running `yarn rw dev`:
<details><summary>Console output</summary>

[code]

</details>

Proposing a solution via PR. Will loop in @dac09

[2021-08-10 21:22] thedavidprice commented on #3227
Scratch this. It's resolved in main.

Carry on...

[2021-08-10 21:22] #3227 closed

[2021-08-10 21:47] dthyresson commented on #3152
@Burnsy See https://github.com/redwoodjs/redwood/issues/3152#issuecomment-896311413 for a better workaround for adding BigInt support (without scenarios)

[2021-08-10 22:39] dac09 commented on #3227
Yeah I fixted it when I did the netlify Babel fixt

[2021-08-11 02:09] cjreimer opened #3229 "GraphQL logging configurability"
First off, hats off to @dthyresson and others who made all the logging happen on the API side.  Very helpful and eliminates a lot of development work.

Right now, the GraphQL system is stable in our app, and I want to minimize extraneous logs to ease log file filtering and minimize log data charges.  We recently switched to using Redwood v0.35.2 in production and are seeing the following logs in t

[2021-08-11 12:38] dthyresson commented on #925
Chatted with Guild and currently the `useMaskedErrors` plugin only handles errors during the execution phase.

They will upgrade this plugin to handle the ContextBuilding and Subscription phases and also look to see what errors (if any) should be dealt with in the Validation and Parse phases.

Once that feature is added to the plugin, will revise this issue.

[2021-08-11 12:57] cjreimer commented on #3229
Thanks, @dthyresson!  Your revised solution will work great!
I appreciate your help on this!

[2021-08-11 13:05] toth2000 commented on #3225
I would like to work on this issue and submit a PR.

[2021-08-11 22:06] thedavidprice commented on #3225
Thanks for offering to help @toth2000 I'm looping in @dthyresson for some confirmation + direction. Please ping him here if you don't hear back within a day or two.

Also, you're welcome to initiate a draft PR to get things started. Just know it can often require re-implementation. Just up to you how to proceed.

[2021-08-12 02:09] thedavidprice commented on #3217
Thanks for reporting this @leetmachine

My initial guess is that you have a TS Redwood project — this deploy setup command was originally designed to handle JS only.

This is strange behavior because it looks like the template is specifically looking for `.js`:
https://github.com/redwoodjs/redwood/blob/73fb21f3b0e84c84f9a0a388c2ce5cc73a7a22a6/packages/cli/src/commands/setup/deploy/providers/aws-se

[2021-08-12 02:21] thedavidprice commented on #3212
I'd really like to see this happen, I'm just not sure if we should poke the proverbial bear before v1. TBD

Other aspects that make our Webpack hard to manage and comprehend:
- It is very challenging to understand which config/settings are being applied within a given context due to the use of conditionals. Honestly, I'd rather have more distinct files (with helpful names) than have to parse throu

[2021-08-12 02:23] thedavidprice commented on #3186
@jtoar I like where all this is headed. Yes, please!

[2021-08-12 02:24] thedavidprice commented on #3153
Update, possible that @jtoar will add this to the current #2606

[2021-08-12 02:46] thedavidprice commented on #2473
Bumping priority on this to look at for next release sprint (v0.37)

[2021-08-12 02:48] thedavidprice commented on #3182
We should look into this as a requirement for v1-rc due to potential breaking change.

[2021-08-12 03:00] thedavidprice commented on #1551
@macovedj We already have default config for ESLint and Prettier. So what happens is that the generated code, using templates, sometimes doesn't conform to formatting, which means it _immediately_ has a VS Code warning/error. This is annoying/confusing. What's more, it can't always be fixed within the template. E.g. sometimes a new import is needed — the generator just adds to the bottom of the ex

[2021-08-12 05:25] thedavidprice commented on #3146
@Tobbe thoughts on this one?

@LBrian @jtoar curious how/if #2683 intersects with this.

[2021-08-12 05:26] thedavidprice commented on #3142
@dac09 ping

[2021-08-12 10:04] zackdotcomputer commented on #3146
@thedavidprice @Tobbe at the head of `main` I can no longer reproduce this issue - possibly has been fixed by a commit in the intervening days?

Regardless, I added a test suite (linked above) to ensure that the router is doing correct encoding/unencoding of various safe and unsafe characters in the path and params. I'm not 100% sure this is doing a comprehensive test of both the client-side and t

[2021-08-12 12:00] LBrian commented on #3146
#2683 change is related to **path matching** (`NavLink` and `useMatch`), I had a quick look there is no intersection of this issue (`Route` using another `matchPath` in `utils`)

[2021-08-12 16:18] #849 closed

[2021-08-12 16:18] #2765 closed

[2021-08-12 17:55] #3229 closed

[2021-08-12 21:50] bshea5 opened #3237 "Scaffold --force produces duplicate import statement in Routes"
When running `generate scaffold <model> --force` on an existing model, a duplicate import statement is produced in the Routes file.

![image](https://user-images.githubusercontent.com/3984775/129274334-b7a92542-e3d8-4617-9ca4-7fc4f2a5be0d.png)

version: "0.35.2"
OS: Windows

[2021-08-13 10:07] dac09 commented on #3237
Thanks for raising this and the clear bug report @bshea5 !

[2021-08-13 10:25] dac09 opened #3239 "[rwfw] Rwfw broken in canary"
On re-running rwfw a second time in a project, we receive this error from the config-store module

[code]
The only way to work around this is to run `yarn install --check-files` - the checkfiles flag is important, otherwise it doesn't fix the issue (See analysis as to why).

### How to reproduce?
#### Variant A: Run rwfw multiple times
1. Run `yarn rwfw project:sync`
2. Ctrl+C to exit
3. Run `yarn

[2021-08-13 10:27] dac09 commented on #3239
@jtoar I'm going to leave this for you when you're back - more than happy to pair on it, but I'm a little bit stumped on this at the moment.

[2021-08-13 16:28] thedavidprice commented on #2682
## Update
Prisma will be re-working the implementation of prisma db seed, scheduled for release in early September:
- EPIC: re-design of db seed feature [#8732](https://github.com/prisma/prisma/issues/8732)
- PR fix(db seed): redesign of db seed [#8146](https://github.com/prisma/prisma/pull/8146)

This will require an addition to a project’s package.json

Anyone have reactions to their proposed so

[2021-08-13 21:53] bshea5 opened #3240 "Error on scaffolding a model with a float value"
Ver: 0.35.2
OS: Windows

I get the following error when trying to scaffold a model with a float type field:

[code]

Model used:

[code]

[2021-08-15 15:34] noire-munich commented on #3090
Hey @dthyresson

Just a heads up, I'm still interested in the task but we are under pressure at SportOffice to begin our first live trials during current season - therefore, I won't be available for it until September.

I'd be keen on keeping `destination` for backward compatibility and `targets` for multiple transports, as it will reflect on `pino`'s API. At least supporting both for a while unti

[2021-08-16 22:14] thedavidprice commented on #3240
There's an update for this in the main branch #3218

And it's releasing in the next 24 hours with v0.36. Keep a look out!

[2021-08-16 22:14] #3240 closed

[2021-08-16 22:20] bshea5 commented on #3240
Thanks for the heads up!

[2021-08-17 00:49] thedavidprice opened #3245 "[v0.37] Full deprecation of .babelrc.js"
_Continues work from #3231_

Current implementation that shipped with v0.36:
- only applicable to API, i.e. `api/.babelrc.js`
- deprecates but does not throw or warn if file exists in an app

From Peter P:

# Next Steps
- Full deprecation: required to delete api/.babelrc.js and/or to convert it to api/babel.config.js and remove the "extends" part.
- Add tests:
    - Test that <side>/.babelrc.js is

[2021-08-17 11:29] ajoslin103 opened #3246 "Typescript support feature request"
I wonder if it's possible for you to works some magic and allow us to right-click on api function names in the GQL and be able to `go to definition` on them?

![Screen Shot 2021-08-17 at 7 31 27 AM](https://user-images.githubusercontent.com/443893/129718721-aa97a110-8e06-4112-88e5-ff536a8fd223.png)

![Screen Shot 2021-08-17 at 7 31 57 AM](https://user-images.githubusercontent.com/443893/129718677-

[2021-08-17 19:15] zakmandhro commented on #3205
FYI: I could not reproduce this with rw-test-app on [current main branch (4112c2c8)](https://github.com/redwoodjs/redwood/commit/4112c2c87912b7f4239d423cefdc0a9c407e29b4).

[2021-08-17 19:17] dac09 commented on #3205
Thanks for looking into this @zakmandhro - note that it'll "say" failed with exit code 1, but if oyu see the "✨ Done" that means actual exit code was 0.

But perhaps the tires just needed kicking - I will check again as soon as I can find some time.

[2021-08-17 21:33] jtoar commented on #3239
Still TBD, but pretty sure this has to do with configstore being an ECMAScript module

[2021-08-17 22:20] jtoar commented on #3239
Configstore was recently upgraded from v3.1.5 to v6 (v6 came after v3.1.5). In v6, it became an ESM. We upgraded it recently, in https://github.com/redwoodjs/redwood/pull/3194. Seeing if downgrading back to 3.1.15 solves the issue for the time being.

[2021-08-17 22:56] dthyresson opened #3248 "Make Prisma Slow Query logging threshold duration configurable"
The `SLOW_QUERY_THRESHOLD` is a fixed 2 seconds.

![image](https://user-images.githubusercontent.com/1051633/129811155-f66b92c6-620a-4a61-abf0-a0ae7b708e54.png)

Could make this a configurable optional value that defaults if not set:

https://github.com/redwoodjs/redwood/blob/4112c2c87912b7f4239d423cefdc0a9c407e29b4/packages/api/src/logger/index.ts#L347

That way people could lower or raise the th

[2021-08-17 23:16] #3239 closed

[2021-08-17 23:24] cannikin commented on #3178
Back from vacation! I'll think about this some and reply soon!

[2021-08-18 20:33] #3216 closed

[2021-08-18 20:46] peterp commented on #3245
We use babel in 3 different scenarios:

1. Pre-build: we transpile the magic out of the code, and turn it into ordinary JS code.
2. Type generation/ Babel plugins: we "read" the user's source code to determine what's inside some file: _Is it a Cell? Is it a directory-named-module? Does it have exports?_
3. Real-time run-time transpilation of files: We convert your TypeScript code into beautiful ru

[2021-08-18 22:31] cannikin commented on #3178
Okay, how about something like this:

[code]

I'm not a huge fan of having *everything* be a function so I made the errors just strings...how does that feel?

[2021-08-19 06:47] realStandal commented on #3178
What I was thinking as well, especially with the strings over functions. Love the templating too!

[2021-08-19 12:36] dthyresson commented on #3246
Thanks @ajoslin103 for the request.

@aldonline is what Allen describes -- select a cell query or mutation and jump in the IDE to the service implementation -- something that the Redwood IDE VS extension could do?

[2021-08-19 12:45] dthyresson opened #3251 "Filter GraphQL Logging to exclude IntrospectionQueries in development"
@KrisCoulson asked in Discord if it was possible to filter GraphQL logging in developer to exclude queries made by the GraphQL Playground Introspection queries, such as:

![image](https://user-images.githubusercontent.com/1051633/130069432-68756867-beab-4c5c-9e47-ac1fe2f254da.png)

Since the playground polls frequently, this issues numerous log statements.

However, the playground is sending "norm

[2021-08-19 12:56] dthyresson commented on #3251
Also, @KrisCoulson I believe there is a setting to increase the playground's polling interval:

[code]

Just go the Settings (the gear icon)

![image](https://user-images.githubusercontent.com/1051633/130071986-d5029bad-0858-4c08-9a58-c1a0ff7fa711.png)

and then change to a much longer interval and that will reduce the log output because there will be fewer calls made

[2021-08-19 20:30] #3178 closed

[2021-08-19 20:30] realStandal commented on #3178
Closing in favor of the PR

[2021-08-19 20:31] cannikin commented on #3178
When the PR is linked to the issue it'll automatically close it when the PR is merged. Pretty handy!

[2021-08-20 09:06] callingmedic911 commented on #3205
@dac09 Just tried to reproduce this. Like @zakmandhro said, seems like it's exiting with 1 now.

![Screenshot 2021-08-20 at 2 32 25 PM](https://user-images.githubusercontent.com/2629902/130209034-2184b4bc-72d7-4241-a035-e86f939177ae.png)

[2021-08-20 10:10] dac09 commented on #3205
Thanks for confirming. I'll close the issue :)

[2021-08-20 10:10] #3205 closed

[2021-08-20 12:14] dac09 opened #3258 "[v0.37 critical] Provide an ergonomic way to mockCurrentUser on the API side"
As part of writing api-side tests, its often very useful to mock the current user.

This is currently possible with `@redwoodjs/api` - but we don't have a recommended way with helix/envelop yet.

Tasks:

- [x] Find a way to mock the context/currentUser with envelop
- [x] Expose ergonomic helpers to do this
- [ ] Update testing docs to demonstrate this

[2021-08-20 13:04] dthyresson commented on #3258
I think we might be able to create a useMockedUser plugin that uses ContextBuilding or perhaps a similar approach that we took in Webhook testing to mock the event and set the headers such that there is a current user.

I imagine this is more for how to test authenticated api services, correct?

[2021-08-20 16:58] zakmandhro commented on #3205
Thanks for confirming Aditya. I meant to add a screenshot/tape but couldn't
get a chance due to travel.

On Fri, Aug 20, 2021 at 3:11 AM Daniel Choudhury ***@***.***>
wrote:

[2021-08-20 17:26] callingmedic911 commented on #1805
Hello @cannikin @thedavidprice, I'd be glad to give this a try this weekend. Is it okay to pick this one up?

[2021-08-20 18:45] cannikin commented on #1805
Absolutely!

[2021-08-20 18:46] cannikin commented on #1805
We'll need to include a nice chunk of Release Notes for this one, since anyone using scenarios will need to update *all* of them to include the new nested `data` object.

[2021-08-20 20:28] o0charlie0o opened #3260 "Prisma db undefined in getCurrentUser when using Prisma middleware in 0.36"
The upgrade to 0.36 appears to have created an issue when using prisma middleware. We have a `getCurrentUser` function that starts like so:

[code]

This throws a context creation error because `db` is undefined. In our `db.ts` file we are using a prisma middleware function like so:

[code]

If I comment out the middleware everything is fine. The middleware is working correctly in 0.35.2. `db` is

[2021-08-21 14:54] macovedj opened #3263 "[RFC] Cannot Nest Routes: Can't create routes with unknown number of parameters in path"
Github, or other applications that function as a UI by which somebody can view files, organizes urls as file paths.  Because there is no limit to how deeply nested folders can be in a repo... this means that routing has to be defined such that a route can include an arbitrary number of subfolders.  I acknowledge that this is a rather specific use case... but I'm sure that there are other instances

[2021-08-21 15:53] thedavidprice commented on #3260
cc @dthyresson

Hi @o0charlie0o Sorry you're bumping into an issue with v0.36. Definitely want to help figure this out.

I’m having a bit of trouble following your explanation; specifically, which issues were happening that required you to use the middleware and which issues were happening due to v0.36 upgrade.
- Is there any chance you could create a minimum reproduction so we can experience it o

[2021-08-21 17:25] dac09 opened #3264 "Throw better/specific errors when sdl files can't be parsed"
`yarn rw dev` does not throw errors on what sdls/imports could not be processed - instead we get a puzzling 404 function not found

[code]

What's important to note is that this seems to happen at **runtime** - not at buildtime.

### How to reproduce
SDLs do not support the `"""` comment syntax (to be looked into separately). So in any sdl, we can add a comment like this

[code]
And it should erro

[2021-08-21 17:48] peterp commented on #3264
I'm think we could get build-time errors if we fixed #3193

[2021-08-21 17:49] dac09 commented on #3264
I was just thinking this!

[2021-08-21 18:36] macovedj commented on #3263
I don't mind looking into implementing this if there isn't opposition

[2021-08-21 18:41] dac09 commented on #3264
Linking graphql-tools issue: https://github.com/ardatan/graphql-tools/issues/3244

[2021-08-21 19:22] alecswan commented on #2473
I am new to redwood and ran into a similar error while following [Cells section in RW tutorial](https://learn.redwoodjs.com/docs/tutorial/cells) and subsequently adding the following test. I tried changing the format of the mockGraphQLQuery response without any luck. It's also possible that testing of `render(<BlogPostsCell />)` is not supported.
[code]
Error stack trace is shown below:
[code]

[2021-08-21 19:47] dthyresson commented on #2473
Hi @jangxyz I have not tried this yet, but because the `BlogPostsQuery` expects the data do contains `blogPosts` and not `posts`, that may be the reason for the `but `data` is null` error.

[code]

[2021-08-21 22:16] KrisCoulson opened #3265 "Breaking change in 36 `useFormContext` now returns null"
It looks like the upgrade to the Forms package since upgrading to react hook form 7 has broken useFormContext.
When using useFormContext you should receive back all of the formMethods that were provided to <Form /> component

I was easily able to reproduce

To test create a v36 project and add this test form.

[code]

Logging `fcontext` in the `TestContext` component throws null. In v35 it returns

[2021-08-22 02:17] alecswan commented on #2473
Hi @dthyresson, your suggestion did not work but its understandable because [Cells section in RW tutorial](https://learn.redwoodjs.com/docs/tutorial/cells) recommends renaming blogPosts to posts inside BlogPostsQuery half-way through that section, which I did. I should have included the source code in my previous comment to avoid any confusion. Please find it below.

[code]

[2021-08-22 02:39] mojombo commented on #3263
This is true! I would enjoy seeing a proposal (could just be docs to start with) for how Redwood could accommodate this.

[2021-08-22 19:18] domnantas opened #3268 "MetaTags component causes tests to fail"
### Steps to reproduce

1. `yarn create redwood-app name`
2. `yarn rw g page home`
3. `yarn rw test`

Test fails with `Cannot read property 'add' of undefined`. Running `yarn rw storybook` shows the same error when page is rendered in the browser.

Removing `<MetaTags>` component from the page fixes the issue

Node v14.17.5

[2021-08-22 20:50] simoncrypta commented on #3268
This error came from react-helmet-async : https://github.com/staylor/react-helmet-async/issues/99
I will work on a fix ASAP 😁 thank you for reporting this bug.

[2021-08-23 05:34] callingmedic911 commented on #3117
@peterp I can't get any test case to be built and present in `/dist`. I tried `rw build`. Does this "don't build the tests" part already handled?

Though I'm able to reproduce the second one: if I place a file manually inside dist, it's getting executed in jest. To fix this, I can update the jest config to ignore whole `/dist` directory.

[2021-08-23 07:31] peterp commented on #3117
@callingmedic911 You're right, we shouldn't have tests in those folders - and this is probably a symptom of some other misconfiguration, but I'm wondering if `jest` over searching here could be a performance issue?

Maybe we should handle this in two ways:
1. Configure jest so that it only looks for tests in `src/`
2. Create some sort of postbuild hook that let's us validate that tests are not in

[2021-08-23 08:43] callingmedic911 commented on #3117
Okay, yes. 👍

Okay. So it'll be like a fail-safe if there's any improper config and not to put test file in `/dist`, right? But do you think it's worth it overall - I mean it'll add a little bit of build time for something that could happen but hasn't happened yet.
Just trying to understand the value. :) Would be happy to take this forward whatever we decide. 😄

[2021-08-23 10:19] peterp commented on #3117
Totally, and I was thinking about how much time this could take to write. Oddly enough this happened to me once above, and yesterday whilst playing around with different build-tools!

 I do not think it's mission critical - what I would hate to see is that we accidentally ship a test (increasing the bundle size), or that our test system is slow because it runs duplicates. But, since we're fixing t

[2021-08-23 13:59] macovedj commented on #3263
Sure I can do some digging and try and write something up as I have time.  Is there a place in the repo where you recommend writing up the docs?  Was just looking through react-router docs.  Is redwood using react-router, and if not, is there a reason behind it?  I kindof like that you can choose whether the route path there has to be an exact match or not via an `exact` prop, and if you don't inc

[2021-08-23 14:04] o0charlie0o commented on #3260
@thedavidprice @dthyresson Apologies for the confusing explanation. I tried to create a minimum reproduction from a fresh project but I was unable to reproduce the issue so it must be something in our project. I'll go ahead and close this now.

Thanks!

[2021-08-23 14:44] o0charlie0o commented on #3260
A quick follow up on this incase anyone else comes across this issue. I was using a module within the Prisma middleware that was imported using the ES6 import syntax: `import { x } from './'`. Changing this to the CommonJS: `const { x } = require('./')` syntax resolved the issue.

[2021-08-23 15:24] dac09 opened #3270 "[DB Auth] Generated auth handlers do not handle base64 encoded requests"
### What's the issue?
Originally reported by Jace on Discord. When the /login and /signup function handlers are deployed on vercel, it errors out with:

[code]

### Analysis
It seems this is because vercel base64 encodes incoming requests

### Expected behaviour
The handlers should check if the event is base64 encoded, and decode it before continuing. (See example in comments)

[2021-08-23 15:24] dac09 commented on #3270
Here's an example of one of my handlers where I was handling a base64 encoded event.

[code]

Types included for reference ;)

[2021-08-23 16:23] dthyresson commented on #3270
This is an example used in graphql.ts:

[code]

[2021-08-23 17:53] dthyresson opened #3271 "Sunset Apollo Server and make GraphQL Helix and Envelop default"
RedwoodJS v0.37 aims to sunset the use of Apollo Server as the GraphQL server and instead use GraphQL Helix and Envelop that has been an experimental preview feature.

To this end, first need to repackage GraphQL Helix and Envelop into `api` from `graphql-server`:

- [ ] Deprecate `@graphql-server` package in v0.37 and remove each of a release candidate (v.38?)
- [ ] Migrate `@graphql-server` use

[2021-08-23 17:53] peterp commented on #3260
@o0charlie0o Could you share more about how this middleware? Was it something that you wrote yourself, and were you setting it up in `./api/src/lib/db.js`?

[2021-08-23 18:05] o0charlie0o commented on #3260
@peterp Sure. It is custom and it lives in `./api/src/lib/imgix.ts` and then imported into `./api/src/lib/db.ts`.

#### imgix.ts
[code]

#### db.ts

[code]

I had to replace `import { ImgixUrl } from 'src/lib'` with `const { ImgixUrl } = require('./imgix')` to get this working in `0.36` otherwise any reference to `ImgixUrl` within the Prisma middleware caused `db` to be undefined within the graphq

[2021-08-23 18:05] peterp commented on #3271
@dthyresson I would suggest just keeping the `@redwoodjs/graphql-server` package and instead deprecating the `api` package, the reason for this is that I would like to introduce some other ways of building api's that aren't graphql, and it makes sense to call the package `graphql-server`

[2021-08-23 18:28] dthyresson commented on #3271
I will close this PR and start afresh.

[2021-08-23 20:34] cannikin opened #3273 "Create Redwood App: Add `includeEnvironmentVariables ` to redwood.toml template"
As seen in this issue https://github.com/redwoodjs/redwoodjs.com/pull/767 you will not get access to ENV vars on the web site automatically as originally stated in the docs. A suggestion was to add the `includeEnvironmentVariables` key into the default `redwood.toml` template as a hint (and maybe include a comment) that this needs to be used even in development environments.

/cc @sarthaktexas

[2021-08-24 00:56] dthyresson commented on #3271
I can see both sides of the case to have api or graphql-server (or both ... or to have one import the other, or vise versa), but having an api package seemed a clean approach and I began to outline the rationale in the PR that @dac09 and @thedavidprice were going to continue to explain the case for this approach after our Monday morning checking here:

[code]

Would you mind clarifying a few items

[2021-08-24 00:58] dthyresson commented on #3273
:+1: this as I had the same thought last week -- I always have to look at the docs to remember the exact toll key name to add when creating a new app.

[2021-08-24 02:19] dthyresson commented on #3264
My understanding having asked The Guild is that the following comments/descriptions should be permitted:

* single line description
[code]

* multiline description:

[code]

* legacy (now used ONLY for comments, not descriptions):

[code]

![image](https://user-images.githubusercontent.com/1051633/130545411-1c66b7e9-5852-4cb1-8438-f6cea2aa7b99.png)

[2021-08-24 14:30] Jolg42 commented on #2682
Any feedback is welcome 😉

[2021-08-24 14:40] cjreimer commented on #2682
From what I read, I don't believe I have any concerns.  Looking forward to testing this once we have this integrated into Redwood.
Thanks for everyone's work on this!

[2021-08-24 17:27] peterp commented on #3271
@dthyresson My apologies for throwing a spanner in the works. I thought I communicated the intentions to remove GraphQL from `@redwoodjs/api` package at the start of the envelop journey, but am understood to be poor at communication, so I apologize for not being clearer when we started this work.

Also, please note that I commented on this issue before the PR was linked to it and I did not realize

[2021-08-24 17:32] peterp commented on #3271
I'll try to answer your questions here, but maybe we should jump on a call to chat it over.

Just the GraphQL portion!

I think they should live in `/api`

Nope, they should stay in `/api`

Yup.

Nope, it's still true - it's just that the graphql-server part is in a different package.

It won't change anything.

Nope.

This would still live in the api-package.

I would love to understand this bett

[2021-08-24 17:54] dthyresson commented on #3271
Thanks @Peter - this helps: api is ... auth, functions/webhooks, logging, maybe Global Context?  (common api infrasctructurish items ... though are functions/webhooks too Lambda-y?) -- and graphql-server is the schema, parsing, http request pipeline, plugins ... and mapping a resolver to the service.

An app's api -- if exposing a GraphQL endpoint-- will use both redwoodjs/api and redwoodjs/graphq

[2021-08-24 18:04] #3268 closed

[2021-08-24 19:26] viperfx opened #3279 "Issue importing deeply nested files such as services via CLI Exec feature"
There are two main issues i've come across with the CLI exec feature and how it's currently doing importing.

- Yarn workspace and shared packages cannot be used - there is an issue picking it
- Imports (relative and aliased) must be used with a lot of care. The exec feature needs to use `../api/src/....` where most of the codebase has an alias to use `src/...` which pick it up from `api/src`

###

[2021-08-24 19:27] peterp opened #3280 "Determine if api pre-transpilation is including polyfills"
Babel transpiles syntax and includes polyfills. I'm not 100% sure if we're properly handling the polyfill case in pre-transpilation.

- [x] Write a test case that proves pre-transpilation is inserting polyfills correctly.

@dac09 Wanted to put this potential issue on your radar.

[2021-08-24 19:50] peterp commented on #3271
Ok, great! And sorry again for the miscommunication - let me know if you need any help.

[2021-08-24 23:36] cannikin commented on #3103
@dthyresson does this happen to you as well? I think you added this check so I'm guessing your VS Code does *not* change this to just `roles` on save?

[2021-08-24 23:39] cannikin commented on #3012
@thedavidprice What do we want to do about this re: v1.0? We haven't had any movement in more than a month now. Should we put on the docket for the next core meeting to discuss?

[2021-08-24 23:44] cannikin commented on #3075
I won't be able to make any progress on this until I can get time with @peterp or someone else intimately familiar with hooking in to the web side's GraphQL requests, and the api side's GraphQL responses, and then storing data either in cache or React state somehow, with zero config from the author of the app.

[2021-08-25 00:45] thedavidprice commented on #3012
Yes! Was on the list but no time today. On the v1 Roadmap, I currently put it as a priority _after_ the initial v1-rc is out — meaning fine to do during the RC cycle as it's not breaking. But TBD

Thanks for the ping!

[2021-08-25 03:14] macovedj commented on #3263
Sorry I'm not super used to writing up proposals... so hopefully this is the kindof thing you had in mind.  I drew some inspiration from react router, and also linked a draft PR that I think roughly implements the idea.  It creates an `exact` prop, which would preserve current behavior, while the absence of the exact prop would enable one to append additional characters to the url.

`<Route exact

[2021-08-25 05:12] peterp commented on #3260
Very strange! I'm going to re-open this because my expectation is that it should work - I'll create a reproduction on my side and try to understand exactly what's causing this.

[2021-08-25 09:06] callingmedic911 commented on #3117
Right, I'd go ahead with jest changes to look inside `src` only for both web and api sides for now. And in future, if we still see test cases after build, I think it could be a hint to an underlying issue which is best to address directly.

The PR should be fairly short - you can assign it to me, I'll get it as soon as I can squeeze a little time. Thanks for the help @peterp! :)

[2021-08-25 09:54] coleea opened #3284 "[error] deploy aws serverless : @netlify/zip-it-and-ship-it is not installed"
[code]

hello.
I'm trying to deploy by referring to the document ' https://redwoodjs.com/docs/deploy '.
when I type 'yarn rw deploy aws serverless --side api'  , I encountered the error

[code]

so I run
[code]
the result is
[code]

after setup, I restart
[code]
but error is the same. I think @netlify/zip-it-and-ship-it is not installed.
about this, Is there anyting I can try or Can I contribute s

[2021-08-26 18:42] callingmedic911 opened #3287 "`test-project` with typescript throws error on fresh creation"
There are some TS issue in newly created `test-project` with typescript, some missing codemods updates that we need to do.

1. `contacts.sdl.ts` missing service implementation.
![Screenshot 2021-08-26 at 11 16 47 PM](https://user-images.githubusercontent.com/2629902/131011059-0728e1c2-eb59-469b-9dd4-bf3cbe84c4d1.png)
2. `BlogPost.stories.tsx` and `BlogPost.test.tsx` missing params.
![Screenshot 20

[2021-08-26 18:43] callingmedic911 opened #3288 "Docs for new scenario sytnax"
#3261 introduces new feature with breaking change for existing scenarios.

Docs needed are:
- Migration guide
- Update https://redwoodjs.com/docs/testing#scenarios

@cannikin You can assign this to me. :)

[2021-08-27 00:59] moorels opened #3292 "yarn rw g scaffold seems broken"
getting Response not successful: Received status code 400   Unknown type "CreateUserInput". when i try to access users url  to create a new user. in a basic user scaffold

so when i created a new project and created a basic user model scaffold ,it seems be generating weird files like
users.js.map with this content below, inside the api/services folder and also the api/graphql folder has similar fi

[2021-08-27 23:07] jtoar commented on #3073
@pi0neerpat while we're working on the DX around nested scaffolds/pages/components, did you get this resolved and/or did our explanations help?

[2021-08-27 23:11] jtoar commented on #3128
Note that this has been solved for the time being by adding an option to the tailwind setup command to not install packages

[2021-08-27 23:25] jtoar commented on #3292
Hey @moorels sorry things aren't working for you. The files you're talking about sound like the files in `api/dist`, which are the result of running your code through babel and esbuild.

Do you mind sharing more details about this User model? Maybe there's a field in there that we don't have support for yet that's causing issues for you.

[2021-08-27 23:26] jtoar commented on #3225
Hey @toth2000 just checking in to see if you'd still like to take this one on, and/or how we can help!

[2021-08-27 23:48] dac09 commented on #3128
I think we need to extract the code that adds the post install script to the project:sync script too (see build test project script)

[2021-08-27 23:52] pi0neerpat commented on #3073
Yes it helped me solve it immediately. Thank you!

[2021-08-28 00:22] #3073 closed

[2021-08-28 01:58] simoncrypta commented on #3090
Hey @noire-munich and @dthyresson
I learned a lot about Pino today, just because I want to make it work with [Logtail](https://logtail.com/ ) 🥲
Now that I understand how with V6, I think I should work on directly with Pino V7.

I also think we should go only with `transports`, but all the supports and documentation is not ready yet, so it will be harder to start.

I have open a draft PR # 3298 jus

[2021-08-28 02:59] moorels commented on #3292
Im running  a basic

model User {

  id    Int     @id @default(autoincrement())

  email String  @unique

  name  String?

}

From a fresh redwood installation

No other models

From: Dominic Saadi ***@***.***
Sent: Saturday, 28 August 2021 9:25 AM
To: redwoodjs/redwood ***@***.***>
Cc: moorels ***@***.***>; Mention ***@***.***>
Subject: Re: [redwoodjs/redwood] yarn rw g scaffold seems broken (#3

[2021-08-28 03:00] moorels commented on #3292
Im running  a basic fresh redwood installation

model User {
  id    Int     @id @default(autoincrement())
  email String  @unique
  name  String?
}

From a fresh redwood installation

No other models

[2021-08-28 05:31] shansmith01 opened #3299 "@db.Text throws error on migration"
Hi There,

I'm following along on the tutorial and I am on this page https://learn.redwoodjs.com/docs/tutorial/getting-dynamic

When I attempt to migrate i get the following error

"Native type Text is not supported for sqlite connector."  relating to the use of @db.Text on the body

Is it me or is it a bug?

Thanks for the help

[2021-08-28 10:23] peterp commented on #3280
I can confirm that we are not doing any polyfilling, an example of such thing is:

[code]

The `.replaceAll` method was introduced in `V8  8.5`, and NodeJS 14 only support `V8 8.4`, so we need to polyfill this method and in order to do that we need to import it from `core-js`, this can be done automatically with `@babel/preset-env` or `@babel/runtime`

I think using `@babel/preset-env` will also t

[2021-08-28 12:19] dac09 commented on #3280
There really ought to be an equivalent esbuild plugin or something right? Their docs leave so much to be desired!

[2021-08-28 14:05] peterp commented on #3280
I actually got the idea that this polyfill issue might be a problem whilst I was digging into building the framework via ESBuild or SWC:

I was evaluating both tools by transpiling the `@redwoodjs/api` package, but I couldn't run the ESBuild version because it was not polyfilling methods. When I dug a bit deeper it realized that ESBuild is JUST a bundler and it transpiles syntax, but it doesn't of

[2021-08-28 14:28] Tobbe commented on #3263
If we want to work with what we already have maybe something like this could work?

[code]

If we want new syntax, what about `{...myVariable}`? as in `<Route path="/path/to/page/{...myvariable}" />` or `<Route path="/path/to/page/{...myVariable}/more/things" />`

[2021-08-28 15:47] peterp commented on #3280
[The current relationship between Babel and `core-js` (2019).](https://github.com/babel/babel/issues/10008#user-content-annex-b) is super useful to understand how Babel is thinking about polyfills, and their future, the result of this RFC is the [@babel/babel-polyfills](https://github.com/babel/babel-polyfills) package.

I'm going to use the babel-polyfill package.

[2021-08-28 15:49] peterp commented on #3280
### Next steps:

- [ ] Make it work:
- [ ] Try examples from babel polyfill documentation.
- [ ] Write test case.
---
- [ ] Make it right:
- [ ] Create common function to get babel configuration.
- [ ] Get targets for browserlist.
- [ ] Create function to convert browserlist to esbuild configuration.
- [ ] Use common configuration in "parse", "register" and "transpile."
- [ ] Use pre-transpilation

[2021-08-29 02:09] bashbaugh opened #3300 "`TypeError: Cannot read property 'add' of undefined` when using MetaTags component with Storybook"
Self-explanatory. Unless I've somehow broken things, the `MetaTags` component from `@redwoodjs/web` doesn't work when used with the default storybook config.

![image](https://user-images.githubusercontent.com/32651204/131235839-89f83e9b-6542-428e-8dfb-c8cfd1ba0612.png)

I will try to research this further & fix with a PR sometime this week.

[2021-08-29 14:49] simoncrypta commented on #3300
Hey @bashbaugh what is your version of Redwood ? It should be fix at the [patch release V0.36.2](https://community.redwoodjs.com/t/redwood-v0-36/2372/20) from PR #3269

[2021-08-29 17:15] callingmedic911 commented on #3288
For the upgrade guide we can offer:

**New syntax for scenarios to `select` or `include` the nested field**
Code modification would be required for the existing scenarios in the project. The input fields are required to be wrapped in the `data` field now. For example, generators prior to this version generated scenarios like:

**Before:**
[code]
**After the needed code modification**:
[code]

[2021-08-29 17:23] callingmedic911 commented on #3299
It looks like an issue with the doc to me. I think we're using for SQLite for this tutorial and Prisma maps `String` to `TEXT` for SQLite [by default](https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#default-type-mappings). Also `@db.Text` native mapping is supported only in Postgres, MySQL and SQL Server.

@cannikin What do you think?

[2021-08-29 17:41] macovedj commented on #3263
@Tobbe I think I see what you're saying... and will try and see if I can implement it in the draft PR I linked up above later.  For syntax,  I don't really have too many ideas... I guess what @peterp provided as suggestion above indicates that a wildcard was used... which feels expressive, always a good thing.  Since the number of "subfolders" or "/" characters in the var is not known in advance..

[2021-08-29 17:43] #234 closed

[2021-08-29 17:43] jatins commented on #3060
Hi @thedavidprice Thanks for following up!
Yeah, looks like switching to polling works for nuxt.js https://github.com/nuxt/nuxt.js/issues/7553#issuecomment-646589883

Do you have any pointers on how the toml config is passed forward to webpack? I'll give it a look.
_Assuming_ there is some chokidar webpack plugin we are using.

[2021-08-29 18:07] mojombo commented on #3263
We often take cues from Rails on the routing side, @cannikin do you have thoughts here?

[2021-08-29 19:20] peterp commented on #3060
Hey @jatins 👋

I think the easiest way to do this would be to configure it via an env-var: `RWJS_WATCH_OPTIONS_USE_POLLING='1'`,

There are 3 "watch processes" in RedwoodJS:

* api-server:
https://github.com/redwoodjs/redwood/blob/4e7d2940f95c9216d328a19c9ca555b95a88b3dc/packages/api-server/src/watch.ts#L54-L78
* type-generator:
https://github.com/redwoodjs/redwood/blob/1d0f2fe38fbe109a90fe997e228

[2021-08-29 19:23] peterp commented on #3263
@Tobbe I really like that `{...myvariable}` syntax!

[2021-08-29 19:28] bashbaugh commented on #3300
Ah, thank you. I thought I was on the latest version but I guess not.

[2021-08-29 19:28] #3300 closed

[2021-08-29 20:19] ajoslin103 opened #3302 "Redwood.toml doesn't control the /api port"
@thedavid

?? this only works for the /web side

[code]

which is confirmed by checking the open ports

[code]

ajoslin$ cat open_ports.sh
[code]

[2021-08-29 21:43] peterp commented on #3302
@ajoslin103  Thanks for the bug report - I can see that we're not applying that configuration over here:
https://github.com/redwoodjs/redwood/blob/4e7d2940f95c9216d328a19c9ca555b95a88b3dc/packages/api-server/src/watch.ts#L37

We should be getting the configuration from `getConfig().api.port` and passing it along as an `execArgv` in the line above, something along the lines of:
[code]

Let me know

[2021-08-29 22:48] macovedj commented on #3263
Looks like this is the analog in rails https://guides.rubyonrails.org/routing.html#route-globbing-and-wildcard-segments

[2021-08-30 00:11] ajoslin103 commented on #3302
@peterp I don't want to hold up a fix, I've been fighting my laptop all day -- apple developer license issues.

[2021-08-30 00:53] ajoslin103 commented on #3302
after some reading I tried this:

[code]

with this result:

[code]

just doesn't wanna play nice....

[2021-08-30 06:34] peterp commented on #3302
@ajoslin103 No worries - I was an iOS developer myself for .... 8 years 😭. The only thing that ever solved certificate issues for me was Fastlane.

We'll prioritize fixing this. I realized this morning when I woke up, that perhaps I rushed to a suggestion and there may be more to figuring this out.

[2021-08-30 06:45] callingmedic911 commented on #3287
@jtoar Just to inform you, #3262 will fix only one of the errors. We need to handle others in separate PR. So, #3262 will only partially close this issue.

#3262 is a bug with scaffold generator, others listed above seem like pending codemods updates. As soon I can manage some time, I'd be glad to investigate more. 🙂

[2021-08-30 08:37] Tobbe commented on #3263
The way we currently handle this is with the `transform` option for the param types. See the docs for an example where it's split on '-' and you get an array of values.  https://redwoodjs.com/docs/redwood-router#user-route-parameter-types

[2021-08-30 12:07] ajoslin103 opened #3304 "Can't create redwood app with an arbitrary version"
How do I create a redwood app on an arbitrary version?

Say I wanted to create an app on 0.33 as opposed to the current 0.36.2

(it doesn’t look like version is an option in the create-redwood-ap.sh)

As much as I like keeping up with the leading edge - Webpack 5 support is _killing_ me right now at  a crucial juncture

Thanks!

[2021-08-30 13:44] #3271 closed

[2021-08-30 15:58] cannikin commented on #3263
In Rails you can specify a glob or wildcard variable that sucks up everything else in the URL and puts it into the variable name of your choice:

[code]

Would provide you with a path param called `other` that contained everything else after `photos/`, for example:

[code]

And then you can decide what to do with those extra parts in your own code.

You can have multiple wildcards in one route:

[

[2021-08-30 16:03] dthyresson commented on #3299
Thanks @callingmedic911 for looking into this issue -- I agree that this is an issue in the Tutorial documentation as SQLite does not support native types and a simple String is the proper way to declare the title and body:

See: https://www.prisma.io/docs/concepts/database-connectors/sqlite

It uses `TEXT`. I think a long time ago Prisma used VARCHAR or some shorter type for string and here in th

[2021-08-30 16:19] macovedj commented on #3263
So I think that enabling the glob syntax from rails would require [this line](https://github.com/redwoodjs/redwood/blob/main/packages/router/src/util.ts#L24) which appears to parse the route params out of the route url to incorporate a ternary or something.  I think something along the lines of `match[0] === * ? match.slice(1) : match.split(:)`

[2021-08-30 16:42] coleea commented on #3284
thank you  @thedavidprice .  I did what you are mentioned. now It works correctly.  I think It is important issue, so official docs have to be updated. Is there way that I can update this document ?

[2021-08-30 16:46] cannikin commented on #3299
Why does Prisma not just map this to the native SQLite data type? The type in SQLite is literally called `TEXT`...they couldn't just map `@db.Text` to `TEXT`!?!?! C'MON.

Isn't this the whole point of a decoupled schema, so you can write one consistent way and have a computer translate it into something else for you? 😢

This is just one PR: https://github.com/redwoodjs/learn.redwoodjs.com/pull/145

[2021-08-30 16:49] cannikin commented on #3299
Just reverted, site should be updated soon.

[2021-08-30 16:59] cannikin commented on #3299
Opened an issue with Prisma to see if I can convince them to allow this syntax! https://github.com/prisma/prisma/issues/9012

[2021-08-30 17:00] cannikin commented on #3299
Site's updated, thanks for the note @shansmith01, sorry for the confusion!

[2021-08-30 17:00] #3299 closed

[2021-08-30 17:46] callingmedic911 commented on #3302
I just ran into this, trying to run to run two RW apps in parallel and tried changing the port.

This seems like a solution but I believe have to tweak a little, `execArgv` options doesn't appear to pass value to `process.argv`. Will try something.

[2021-08-30 17:53] shansmith01 commented on #3299
No probs. Thanks, Y'all.

[2021-08-30 18:55] macovedj commented on #3304
For the time being does retroactively changing your package file versions to use that version work for you?

[2021-08-31 00:04] ajoslin103 commented on #3304
I tried downgrading by specifying an older tag with the upgrade command

didn't work

I have since (i think) dealt with my problems w/webpack 5

so the pressure is off -- but since it wasn't behind a flag I felt dumped upon

I think we should have the option while we are pre-release but it's not a panic anymore

cheers!

[2021-08-31 20:34] #3280 closed

[2021-09-01 00:48] ajoslin103 commented on #3304
I ended up copying the /api & /web folders into a copy of an old 35.2 project - so the pressure is off.

I still think it's a good idea tho'

Also, now I understand what you meant - deleting all node_modules folders and changing the redwood version #'s and rebuilding.

Thanks

[2021-09-01 01:14] jtoar commented on #3304
You should be able to do this in two steps:

[code]

What `yarn create redwood-app` actually does is 1) install the latest version of the create-redwood-app binary globally, and then 2) run it with the args you provided.

Unfortunately yarn doesn't have a way to do it all in one go, but you can achieve the same effect by separating the steps.

[2021-09-01 01:31] ajoslin103 commented on #3304
very nice !!

we'll call this one closed, thanks very much !

[2021-09-01 01:36] #3304 closed

[2021-09-01 03:52] iamgmd commented on #3292
I can confirm the same problem 'Response not successful: Received status code 400' when following the tutorial. When using 'yarn rw g scaffold post', the graphql query/types/etc are created but the posts.sdl.js schema is not picked up at runtime and merged causing a GRAPHQL_VALIDATION error.

[2021-09-01 07:59] moorels commented on #3292
thanks hopefully its fixed next update
i thought i was going crazy :)

[2021-09-01 08:34] Tobbe commented on #3304
yarn has had an issue open about this since 2018 https://github.com/yarnpkg/yarn/issues/6587

[2021-09-01 08:45] noire-munich opened #3312 "Netlify deploy issue with @clerk/clerk-sdk-node"
Deploying on netlify with v0.36.2 outputs this issue:

[code]

Resulting in a failed build.

Running this seems to fix it:
[code]

I'm not sure this is specific to v0.36.x so it might be worth some lookin'.

[2021-09-01 08:55] wongyouth opened #3313 "After upgrade from 0.35.2 to 0.36.2 GraqhQL comment does not work"
Add a comment line for field in file `api/src/graphql/userExamples.sdl.js`

[code]

will raise error

[code]

[2021-09-01 09:12] dac09 commented on #3313
Thanks for reporting this @wongyouth and a great specific bug report - we've seen this happening due to the latest version of graphql-tools. We will issue a patch as soon as its fixed on their side!

[2021-09-01 09:38] dac09 commented on #3279
the fix will need to take into consideration if the user is also importing from the web side.
So I think... it would need to:

- use the overrides option in babelRegister (not the plugins one), and add the alias for src to web and api both
- Figured out why TS doesn't work with these imports: we should add $api and $web to the tsconfig - but should be a tsconfig in the scripts folder only. We will

[2021-09-01 15:04] cannikin commented on #3292
@iamgmd and @moorels are either of you using Windows?

[2021-09-01 15:17] cannikin commented on #3292
On macOS I just created a brand new app from scratch with `yarn create redwood-app` and created a single user model:

[code]

And then a scaffold and everything is working as expected.

Can you give us the output of running `yarn rw info` please?

[2021-09-01 16:06] iamgmd commented on #3292
@cannikin Yes, the problem reported was running Windows, I can confirm that everything works as expected on a Mac.

[2021-09-01 16:10] iamgmd commented on #3292
@cannikin The output of 'yarn rw info' on Windows:-

C:\Code\RedwoodJs\redwoodblog>yarn rw info
yarn run v1.22.11
$ C:\Code\RedwoodJs\redwoodblog\node_modules\.bin\rw info

  System:
    OS: Windows 10 10.0.19043
  Binaries:
    Node: 14.17.6 - ~\AppData\Local\Temp\yarn--1630512577029-0.677367170914223\node.CMD
    Yarn: 1.22.11 - ~\AppData\Local\Temp\yarn--1630512577029-0.677367170914223\yarn.CMD

[2021-09-01 16:13] cannikin commented on #3292
@iamgmd Thanks! We think this problem actually stems from this issue, which should be fixed soon: https://github.com/redwoodjs/redwood/pull/3311

[2021-09-01 16:19] iamgmd commented on #3292
@cannikin Thanks for triarging so quickly, I will continue to work on macOS until it is fixed.

[2021-09-01 16:20] dac09 opened #3332 "Running rw dev gives a warning re: plugins"
Running `yarn rw dev` outputs the following warning:

[code]

After investigating, this looks like its a problem with our configuration in the `babel-plugin-inline-react-svg` in https://github.com/redwoodjs/redwood/blob/main/packages/core/config/babel-preset.js#L174

We should upgrade to the new syntax (whatever that is) to remove this error

[2021-09-01 18:17] #3332 closed

[2021-09-02 04:21] moorels commented on #3292
yes i checked on 3 computers running windows and same problem across all 3

[2021-09-02 16:19] cannikin commented on #3292
I'm going to close this in favor of tracking #3311, thanks!

[2021-09-02 16:19] #3292 closed

[2021-09-02 17:13] cannikin commented on #961
But if it redirects to a page that exists (the NotFoundPage) then by definition that's a 200! The page has to either *really* not exist (and the web server returns a 404), of if you have access to the config of the web server itself you can tell it to return a 404 even though that page exists on disk and can be served.

I don't think we can get around this in Jamstack land because everything is se

[2021-09-02 17:18] cannikin commented on #3225
We did make this change for dbAuth as it has no client. If I remember correctly, `client` is assumed to be a function elsewhere in the code, which is why we set it to `() => null` instead of just `null` to avoid a gross type check elsewhere. But if other clients need that, I guess we'll have to bite the bullet! Maybe `client?.call()`?

[2021-09-02 18:25] simoncrypta commented on #961
Same for GraphQL, I think the web don't care about HTTP code anymore  😅
![image](https://user-images.githubusercontent.com/18013532/131896724-e392665e-0ae5-43a6-9063-b6724227f41b.png)

[2021-09-03 03:52] jtoar opened #3338 "[Windows]: use a different ignore strategy for api-server's watch process"
On Windows, it seems like api-server's watch process isn't actually ignoring any of the `includes` rules (except for the `'node_modules'` one):

https://github.com/redwoodjs/redwood/blob/e961b4b3981b502fba975d89d9986cb6a6566d8b/packages/api-server/src/watch.ts#L61-L66

Here's an app on the latest canary version (`0.36.3-canary.34+e961b4b3`), with graphql-server and everything. It has two models, `

[2021-09-03 08:17] kataqatsi opened #3339 "Update Docs for Storybook"
All of these files/directories don't exist

There's two files for configuring Storybook: storybook.config.js and storybook.preview.js. You can think of the two as being analogous to Redwood's api and web sides—storybook.config.js configures Storybook's server while storybook.preview.js configures the way stories render.

You can configure Storybook's server by adding a storybook.config.js file to

[2021-09-03 08:25] peterp commented on #3338
Great catch dom! 🤦

[2021-09-03 08:35] moorels opened #3340 "control"

[2021-09-03 10:13] dac09 opened #3342 "Add unit tests for file ignore function in api-server watcher"
Related to #3338

In https://github.com/redwoodjs/redwood/blob/main/packages/api-server/src/watch.ts#L61-L66 - the ignored function has lead to some issues on Windows (see linked issue).

It seems odd that chokidar sends a unix-style path even on windows, and just to make sure we don't run into odd situations, we should:
- move the function to a different file (because this file directly invokes c

[2021-09-03 11:58] #3338 closed

[2021-09-03 12:03] #3340 closed

[2021-09-03 23:16] viperfx opened #3343 "v0.36 upgrade blocker - pluginHelpers.getCachedDocumentNodeFromSchema is not a function"
Ive had this issue for all 0.36 releases and patches so far. I initially thought it was a WSL2 issue - but I have since setup Gitbash and ran it under that and I get the same issue with the latest 0.36.3 patch.

This is the output when I run the dev server

[code]

[2021-09-04 21:04] domvernon opened #3344 "Firebase v9 breaks redwood auth"
Hi 👋

I recently added Firebase Auth to a new project. In my `package.json` In the web workspace I can see it has added `"firebase": "^9.0.1",`. As v9 [moves to a modular sdk ](https://firebase.google.com/support/release-notes/js#version_900_-_august_25_2021), I am seeing (not surprisingly) the following message when running `yarn rw dev`:

[code]

There are some workarounds which _appear_ to work

[2021-09-06 16:07] dac09 opened #3345 "Schema types not generated after `rw g sdl`"
### Whats the problem?
If you run `yarn rw generate sdl UserExample` - and try to use that graphql type in another sdl file, it will complain, if you don't have the dev server running.

This is because the schema we use for typechecking (and in the graphql plugin) - hasn't generated yet.

### Solution
At the end of sdl generation, run `yarn rw g types` similar to page/cell/scaffold generators.

[2021-09-07 15:10] dthyresson commented on #3260
@o0charlie0o Checking in to see if you were able to reproduce -- or the issue arose again re: Prisma currentUser and middleware.

[2021-09-07 21:12] doesnotexist commented on #3344
Are you also using react-firebaseui or firebaseui?  I only see that error if I try to use it, otherwise my redwoodjs project does not care if I have a firebase v9 dependency.
The react library has merged an upgrade of dependencies but there is no release with these changes yet https://github.com/shiiinji/firebaseui-web-react/pull/1

[2021-09-07 21:17] doesnotexist commented on #1058
I think provider.addScope is handled in the current implementation:
https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/authClients/firebase.ts#L48-L50

[2021-09-07 21:25] doesnotexist opened #3346 "Support email link with Firebase authentication."
Firebase Authentication supports password-less login via email link but the current implementation in redwoodjs does not support it.  I've taken a stab at implementing it, see linked Pull Request https://github.com/redwoodjs/redwood/pull/3347

[2021-09-07 21:55] realStandal opened #3348 "Missing declarations for `graphql-server`"
It doesn't look like declaration files for the `@redwoodjs/graphql-server` made it into this latest version (`0.36`), at least they're not in the right/same spot.

When I use an import from graphql-server:

![image](https://user-images.githubusercontent.com/25166787/132415713-b93b4374-cfa3-4c52-a361-349ce3e91e00.png)

My API package.json:

[code]

graphql-server's package.json:

[code]

The declar

[2021-09-08 02:41] shansmith01 opened #3350 "Many to many docs have error."
Trying to work on manytomany relationships. I am copying the code form the example on the docs on this page https://redwoodjs.com/docs/schema-relations

[code]

And I am getting red lines on this code. Specific issue is -

"Error validating field `tags` in model `ProductsOnTags`: The relation field `tags` on Model `ProductsOnTags` is missing an opposite relation field on the model `Tag`. Either ru

[2021-09-08 06:12] Tobbe opened #3351 "Please don't swallow graphql code gen errors"
These lines swallow really helpful error messages
https://github.com/redwoodjs/redwood/blob/306c26ee558d4a03bb7e234828817763dbf5b4f6/packages/internal/src/generate/graphqlSchema.ts#L54-L62

Reading the comment in the snippet above it sounds like the ambition was to do more. I'd like to follow through on that.

For example, if I have this as part of one of my .sdl files

[code]

Currently all I get

[2021-09-08 06:30] Tobbe opened #3352 "Better error messages needed for broken api side"
Trying to run my RW app I get this output

[code]

So for some reason webpack-dev-server can't talk to my api side. But I have no idea what went wrong, or where. This makes it really hard to debug.

We need better error messages to help guide the developer to where the error is, and what the actual error is.

[2021-09-08 06:46] Tobbe commented on #3343
Just to verify, do you get the same error if you run just `yarn rw g types`?

`getCachedDocumentNodeFromSchema` comes from @graphql-codegen/plugin-helpers, so what do you get if you run `yarn why "@graphql-codegen/plugin-helpers"`? Here's my output

[code]

[2021-09-08 06:59] Tobbe commented on #3313
@dac09 Are the graphql-tools guys aware of the issue? I took a quick look through their issues, but didn't spot anything. https://github.com/ardatan/graphql-tools/issues

[2021-09-08 07:01] Tobbe commented on #3313
Found it :) https://github.com/ardatan/graphql-tools/issues/3244
And it's fixed! Even better :)

[2021-09-08 07:17] viperfx commented on #3343
Yep - when I run `yarn rw g types` - I see those errors too - before the files are output.

Here is my output of the `yarn why` command

[code]

[2021-09-08 07:36] Tobbe commented on #3343
Ok, so that's the same I had, so no further clues there I'm afraid.

Your error seems to come from this call to `generate`
https://github.com/redwoodjs/redwood/blob/306c26ee558d4a03bb7e234828817763dbf5b4f6/packages/internal/src/generate/typeDefinitions.ts#L246

Perhaps you could look at the values of all the parameters to that function and see if anything looks weird.

[2021-09-08 13:52] viperfx commented on #3343
I don't see anything odd. So are you saying this external library is the cause? Perhaps after a package update this started happening?

[2021-09-08 14:50] dac09 commented on #3258
AFter all our refactoring and diving deep into graphql server, it turns out we can just mock current user like this:

[code]

[2021-09-08 18:05] Tobbe commented on #3343
I don't know what the cause is :(  You and I both have the same version of the package, so not likely that's the issue. Or if it is, it's that package in combination with other things.

Can you create a reproduction repo on github? I'll clone it and see if I get the same error.

[2021-09-08 18:22] viperfx commented on #3343
I am not sure how to reproduce this outside of my own app. Since I am not sure what's causing it.

Ive tried the following per @dthyresson suggestions

- Check and remove comments SDLs

[2021-09-08 18:34] Tobbe commented on #3343
So if you create a new app everything works?

[2021-09-08 18:49] viperfx commented on #3343
Yep - I just tried a new rw app and created a scaffold using the CLI, and run yarn rw dev and runs ok and the error does not show.

[2021-09-08 18:56] #3352 closed

[2021-09-08 19:00] Tobbe commented on #3343
Have you tried cleaning everything?

[code]

[2021-09-08 19:24] viperfx commented on #3343
Okay - so that actually worked! This is crazy.

[2021-09-08 19:36] viperfx commented on #3343
I actually setup the project in a new environment (Gitbash) - so the only explanation can be that something in the yarn.lock prevented the correct upgrades for dependencies.

[2021-09-08 20:09] viperfx commented on #3343
After more extensive tests - happy to stay the issue seems to be stay resolved! Thanks for your help Tobbe. Will open this thread if I encounter similar issues.

[2021-09-08 20:09] #3343 closed

[2021-09-08 21:03] realStandal opened #3366 "`graphql-server` asynchronous beforeResolver not being handled"
When writing an asynchronous `beforeResolver`, I'm finding that when I use the `graphql-server` package my resolver isn't being waited on.

OS: Windows
Redwood: 0.36.4

My `redwood.toml`:

[code]

My API side's `package.json`:

[code]

When I invoke a service which has an asynchronous resolver, using the above configuration and packages from `@redwoodjs/graphql-server`:

![image](https://user-imag

[2021-09-08 22:18] thedavidprice commented on #3339
Looping in @jtoar

[2021-09-08 22:22] thedavidprice commented on #3344
Hi All, we've prioritized #3347 and will work to move it forward. Thanks!

[2021-09-08 22:25] thedavidprice commented on #3348
Looping in @dthyresson

This is potentially resolved by #3286 and #3307

[2021-09-08 22:29] thedavidprice commented on #3350
Hi @shansmith01 Yes, indeed, we need to update that doc! Here's the lates conversation with example code (on our web + docs repo):
https://github.com/redwoodjs/redwoodjs.com/issues/777

Closing this one out. And no pressure but help updating the doc would be greatly appreciated!

[2021-09-08 22:29] #3350 closed

[2021-09-08 22:35] thedavidprice commented on #3351
Looping in @peterp and @dac09

[2021-09-09 03:42] thedavidprice commented on #3312
cc @dac09

Hi @noire-munich I took a stab at recreating this with my test project (which does not use Clerk) but didn't run into any issues.

I know Danny changed the import recently so it would only be required in the case of using Clerk Auth, but it's possible things aren't working quite right after the change.

Related code here:
https://github.com/redwoodjs/redwood/blob/96cde295f11f823f8f9f53d

[2021-09-09 03:44] thedavidprice commented on #3284
@coleea Absolutely and that would be a welcome, huge help!

Here's the doc file on the `redwoodjs.com` repo:
https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/deploy.md

Just open a PR with the changes and feel free to loop me in. I'll make sure to review and help get it merged.

[2021-09-09 04:00] wongyouth opened #3367 "mockCurrentUser does not work if a context function is used for createGraphQLHandler"
The use case is I get client info from JWT token and need to store it in the context. Instead to provide a `getCurrentUser` function for `createGraphQLHandler`, I have to provide a custom `context` function.

// graphql.js
[code]

// auth.js
[code]

And then all `mockCurrentUser` does not work in testing. I mean it can not mock  current user any more, but it works with Redwood version 0.35.2

I do

[2021-09-09 08:37] coleea commented on #3284
while write a document, I have some question.
1. it seems to be deployed to s3(app-dev-serverlessdeploymentbucket) and lambda (app-dev-graphql), but not connected to cloudfront.
2. if so, Couldn't I access to this site via any url?

[2021-09-09 08:48] jsierles opened #3368 "yarn creator fails when trying to install redwoodjs@core"
Macbook, Big Sur
node v14.17.6
yarn 1.2.11

\`\`\`
  ✔ Creating Redwood app
   ✔ Checking node and yarn compatibility
   ✔ Creating directory '/Users/joshua/rwtest'
 ❯ Installing packages
   ✖ Running 'yarn install'... (This could take a while)
     → info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
   Convert TypeScript files to JavaScript
   Generating typ

[2021-09-09 10:22] dac09 commented on #3312
The import was tested and deployed on the auth playground. I suspect its just node_modules not installing, or that your api/package.json doesn't have the clerk-sdk-node (did you use the setup cli command?)

[2021-09-09 10:28] dac09 commented on #3351
Nice, and thanks for the rrepro and analysis @Tobbe. I'll take care of this, because I meant to do some refactoring around better errors for the generator anyway for #2964

[2021-09-09 10:29] zackdotcomputer commented on #3225
@cannikin I think that is no longer the case - looking at the AuthProvider and provider implementations it seems that most (all?) of them assume `client` will be an Object rather than a function.

[2021-09-09 12:30] dthyresson commented on #3348
Correct. With the graphql and secure services rework should no longer be an issue.

[2021-09-09 12:35] Tobbe commented on #3366
@realStandal Can you please share the code for the resolver? Or even better, a trimmed down resolver that's as small as possible, but that still demonstrates the behavior.

[2021-09-09 12:47] Tobbe commented on #3368
What if you try again? Still get the same error?

Another thing you could try is `yarn create redwood-app --no-yarn-install my-app` and then manually running `yarn install` inside the my-app folder.

I just tried creating a new app, and had no problems

[2021-09-09 13:20] jsierles commented on #3368
The error happens consistently. Deferring the `yarn install` works, so I'll just close this as it must be something specific to my environment.

[2021-09-09 13:20] #3368 closed

[2021-09-09 13:29] dthyresson commented on #3367
Hi @wongyouth I'm not sure this will help, but wanted to let you know that you do have access to the Authorization/Bearer token in your `getCurrentUser` implementation:

[code]

The `_token` here is that.

But, it sounds like you want to add it to the Global Context, but could you describe why?

The reason I ask is that you do have access to the Lambda event and context in every service as well:

[2021-09-09 14:38] domvernon commented on #3344
Perfect, this will do it 👍

[2021-09-09 15:07] thedavidprice opened #3370 "ESM only (aka pure) RedwoodJS dependencies"
Tracking Redwood Framework packages that are now ESM only. For now, _do not upgrade_. TBD when and how we handle upgrading these (any advice or help from experience greatly appreciated):
- **node-fetch** [v3.0.0](https://github.com/node-fetch/node-fetch/releases/tag/v3.0.0)
    - note: @types/node-fetch is now included in v3; can remove @types/node-fetch when we upgrade
- **terminal-link** [v3.0.0

[2021-09-09 15:18] thedavidprice commented on #3313
Hi all, this will be resolved via #3371, which is targeted for v0.37 release.

[2021-09-09 15:27] thedavidprice commented on #3366
Hi @realStandal There are some major changes coming to graphql-server and beforeResolver in the upcoming v0.37 release.

We are moving the GraphQL Server to Envelop/Helix, which includes a ton of improvements and fixes. See #3286

This allows us to create a new way to secure Services via SDL Directives. See #3307 We think you're going to like the new directives. A lot.

But this means we are going

[2021-09-09 16:58] viperfx opened #3372 "Generating the prisma client option for CLI Exec"
Right now the prisma client is always generated when running a `yarn rw exec` command. This should be possible to disable with a flag.

[2021-09-09 17:50] realStandal commented on #3366
@Tobbe Removed where I'm putting together my variables.

[code]

Which is then used across services:

[code]

[2021-09-09 18:37] thedavidprice commented on #3366
@realStandal Hopefully the change will be fairly seamless. Mostly you'll just get improved defaults and security out of the box.

[2021-09-09 19:39] realStandal commented on #3366
Very nice to hear!

Do you know/off the top of your head, will it make it easier to manipulate what's being handed to/happening after service invocation? From the Envlope/plugin perspective. Just looking at the PR you linked it looks like the answer's going to be 'yes, but with some restrictions'. Happy to start hacking at it either way!

[2021-09-09 20:18] thedavidprice commented on #3366
I believe the answer is a strong "yes", but I'm not the expert here. Have you read through David T's forum post here (especially the section "Better Plugins" about Envelop)?
- https://community.redwoodjs.com/t/using-graphql-envelop-helix-in-redwood-v0-35/2276
- more on Envelop specifically: https://www.envelop.dev/docs

[2021-09-09 23:06] realStandal commented on #3366
I did and switched too the envlope+helix soon as I could but didn't put much effort into trying out the plugins and what not - have only used it as a drop-in replacement for Apollo. I'm close to being done with that, agnostic part of my app and can start working on features that will need/benefit from the plugins. Here's hoping it lines up well 😁

Good to see this issue won't be here to stay, thou

[2021-09-10 00:44] #156 closed

[2021-09-10 03:02] wongyouth commented on #3367
Thanks @dthyresson,

The reason I store data into the global context is that I want to prepare all info in global context when a request come in and use it when needed, so I don't need to parse token in each service. I think there should be a way to store some data besides currentUser. And in my case, I want to the currentUser be the data loaded from DB.

[2021-09-10 09:43] noire-munich commented on #3312
Hi @thedavidprice and @dac09

and

Actually my project has never been using Clerk Auth, I wasn't aware of it until this error popped on netlify logs - hence I opened the issue, these choices have always been opt-in on RW and we didn't opt in that one.
We're still using Firebase for auth on our side.
Netlify, however, hopefully will not be around for long - but since it's sort of the provider to tr

[2021-09-10 10:14] kibertoad opened #3374 "Consider fastify for api server"
I would like to make a case for switching to fastify from express:

1. Express is pretty much on lifesupport now. Last release was two years ago.
2. Fastify is [4 times faster](https://www.fastify.io/benchmarks/);
3. Fastify has proper promise support out-of-the-box;
4. Fastify has powerful plugin system and flexible lifecycle hooks.

Considering that there is very little server code in redwood, m

[2021-09-10 17:25] dthyresson commented on #3367
Also, you are away that you can load info from the database in `getCurrentUser` if you want and then augment the result ... and that return value becomes the currentUser info.

[2021-09-10 17:51] doesnotexist commented on #2260
Fixed by https://github.com/redwoodjs/redwood/pull/3347

[2021-09-10 20:21] macovedj opened #3375 "Glob routing"
An attempt to turn [this conversation](https://github.com/redwoodjs/redwood/issues/3263) into a proposal that can be easily followed:

I think it's easiest to describe the need that redwood-router currently doesn't fulfill via an example app... a clone of github.
In github, given a repo, there is a url per file in the repo.  The thing is that... because the folder structures change on a regular ba

[2021-09-10 21:02] Tobbe commented on #3263
I just tried this on gitpod

Router:
[code]

Page
[code]

Result
![image](https://user-images.githubusercontent.com/30793/132917229-73aff2ce-cb6a-4fb4-8a21-7c15c5f9b589.png)

[2021-09-10 22:45] Tobbe commented on #3375
As I demonstrated in the linked issue (after you created this issue :) ) this is not entirely true. Using RW's regex support you can handle this case as well

I think the main thing we need to determine is if any change is actually needed at all, or if we can already handle this with the features we have.

[2021-09-10 23:17] KrisCoulson commented on #3263
@Tobbe this seems like a pretty straightforward way of handling it does it breakdown with other named parameter?

[2021-09-11 03:51] doesnotexist commented on #2502
I would have thought that firebase's setPersistence (https://firebase.google.com/docs/auth/web/auth-state-persistence#web-version-9_1) which defaults to local storage would govern whether getIdToken makes a request each time or only when needing to refresh the token.  Anyhow, I'll see if I can reproduce this behavior.

[2021-09-11 07:13] Tobbe commented on #3263
First, just to be super clear, that example I gave is with *no* changes to RW at all. 100% current functionality.

@KrisCoulson you can have other parameters earlier in the route no problem, but it won't work if you try to have it after since it'll "eat" all that's left of the url.

BUT you should be able to make it work if you're more clever with your regex. Just need some way of telling the rege

[2021-09-11 12:12] andrewlamyw opened #3377 "`msal` library is no longer receiving new features"
According to https://www.npmjs.com/package/msal

It is currently used in https://github.com/redwoodjs/redwood/blob/main/packages/auth/package.json#L22

[2021-09-11 14:42] callingmedic911 commented on #3339
@kataqatsi Hello! These two files storybook.config.js and storybook.preview.js are not there on a clean install of the redwood app. You can create these files in /web/config and then (re)start the storybook server using the command: `yarn rw storybook`. Hopefully, this should resolve your issue. :)

@thedavidprice I hope I'm not intruding in between - this issue is in the "help wanted" column :).

[2021-09-11 14:59] callingmedic911 commented on #3248
@dthyresson Hi! Is it okay to pick this one? :)

[2021-09-11 15:19] dthyresson commented on #3248
@callingmedic911 Please do! That would be excellent. Thanks.

[2021-09-11 20:22] alecswan commented on #936
I've spent a couple of hours trying to get debugging to work in VS Code to no avail. My latest attempt is shown below where I call node executable with --inspect argument and also delegate application deployment to yarn. My application does start up and runs fine but VS Code doesn't break on any of my breakpoints work. In fact, VS Code shows my breakpoints as deactivated with "Unbounded breakpoint

[2021-09-12 18:30] #3345 closed

[2021-09-12 23:38] zackdotcomputer commented on #3142
As luck would have it, I was meaning to start a new project this weekend. Long story short, yes I am still seeing this @thedavidprice

----

The long story long here's the exact steps I took to set up a new project with the two compiler errors:

[code]

Add a random model to the Prisma schema:
[code]

[code]

Ok setup now complete. You should see the two type issues I listed initially in `auth.ts`

[2021-09-13 01:56] wongyouth commented on #3367
Thanks @dthyresson, If the globalContext cannot be customized, I have to put `clientInfo` into the `currentUser`. But I think it's a hack, because I load the currentUser from DB, and I don't wan't it to be polluted.
And yes, I used a custom auth implementation.

[2021-09-13 10:36] peterp commented on #3374
Hey @kibertoad,

Thanks for the suggestion! I would be very interested in doing this. We originally started building RedwoodJS with the idea that it was "for the JAMStack" which, like you've mentioned, meant we hid the server code.

But, we've expanded our footprint a bit and I think most people, in production, run RedwoodJS on a serverfull environment. So I would like to lead part of this discuss

[2021-09-13 10:48] kibertoad commented on #3374
Do you mean something like https://github.com/fastify/aws-lambda-fastify?

[2021-09-13 10:54] peterp commented on #3374
I think this may do the opposite:

It translates an aws-request -> fastify-request
and a fastify-response -> aws-response.

What we need to do is the opposite:
fastify-request -> aws-request,
and aws-response -> fastify-response.

Does that make sense?

[2021-09-13 10:59] kibertoad commented on #3374
@peterp Gotcha. So basically an equivalent of `https://github.com/redwoodjs/redwood/blob/main/packages/api-server/src/requestHandlers/awsLambda.ts` for fastify.

[2021-09-13 11:40] peterp commented on #3374
Yup!

[2021-09-13 15:07] #1805 closed

[2021-09-13 15:57] dthyresson commented on #3367
Also: https://github.com/redwoodjs/redwood/pull/3369

[2021-09-14 04:10] thedavidprice commented on #3377
Thanks for letting us know @andrewlamyw!

@jeliasson Any chance you could take a look at a migration for Azure Auth to use the new `@azure/msal-browser`? Migration docs are here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md

Related files:
- Auth: https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/authClients/azureA

[2021-09-14 07:22] jeliasson commented on #3377
@thedavidprice I started that a few weeks ago but have not had time to finish it off. I'll see if I can submit a PR for testing and review by the end of the month. I think you are on point with all things that needs to be done.

@andrewlamyw If you want to take a swing at this, let me know, otherwise I'll get back to you asap.

[2021-09-14 14:55] macovedj commented on #3263
@Tobbe I think I misinterpreted your earlier posts.  I noticed some similar looking code in redwood source code, and that you were referring to that.  I tried your suggestion and it seems to be working well... and I'm also making network requests based on the route params.  I think the only thing to point out is that if you wanted to have a route param of known length after a `dir` type route para

[2021-09-15 00:40] thedavidprice commented on #925
@dthyresson checking in about this one as we had it as a possible addition to v0.37 release. y/n/maybe?

[2021-09-15 06:38] KrisCoulson commented on #2422
Just circling back on this because I was working on a new feature and came across a commented-out scenario block of code that was linked to this. An additional use case for this is for multi-tenancy applications. I currently have an `organizationId` that is required when inserting rows into the database.  The current problem is I need to create the organization before I can connect the record.

It

[2021-09-15 12:14] #2964 closed

[2021-09-15 12:14] #3351 closed

[2021-09-15 13:18] #3279 closed

[2021-09-15 13:18] #3372 closed

[2021-09-15 18:20] cannikin commented on #2422
You can create other records along with the ones you really care about using the default Prisma syntax, does that help in your situation? For example:

[code]

In your specific example you're using the same org in both models, which I don't know if you can do with this syntax, though!

[2021-09-15 19:19] KrisCoulson commented on #2422
@cannikin yeah that is the issue, you can't reuse the org so If you wanted to create two events in the `scenario.event.one` and `scenario.event.two` they can't be linked to the same organization

[2021-09-15 21:41] thedavidprice commented on #3263
Proposal Issue has been created here (by @macovedj) https://github.com/redwoodjs/redwood/issues/3375

[2021-09-15 22:42] KrisCoulson commented on #2422
@cannikin I made a draft PR that I think takes a stab at this was super straight forward and aligns with what we had discussed way back when in discord. #3386

[2021-09-16 09:19] #3258 closed

[2021-09-16 09:19] #3367 closed

[2021-09-16 12:07] andrewlamyw commented on #3377
@thedavidprice @jeliasson thanks for the response 🙏

@jeliasson I would like to try! 😁

There is another new package `@azure/msal-react` in addition to the `@azure/msal-browser`, I'm not sure which one to migrate to...

[2021-09-16 21:04] jeliasson commented on #3377
@andrewlamyw Go for it! I'm on Discord if you want some collab, testing or battle testing in the wild. 🦒

`@azure/msal-react` has `@azure/msal-browser` as dependency and looks like the majority of the documentation points the browser package. My guess would be to go with the most mature one, and use the [Authorization Code Flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oa

[2021-09-16 22:12] thedavidprice commented on #3377
After a quick glance, it seems `msal-react` is the better choice for Redwood (supports React and SPA Hooks, Events, Class Components, and SPA routing):
- https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react

I'd suggest starting there — definitely not the expert here and will defer to @jeliasson

[2021-09-16 22:14] thedavidprice commented on #2422
Closed with #3386

[2021-09-16 22:14] #2422 closed

[2021-09-17 00:24] thedavidprice commented on #3063
Thanks for the update @jacebot Yes, this is definitely a bug we need to resolve for v1. We already have some logic (and a CLI prompt flow) as an example from #2850

We just need to queue this one up for fixing!

[2021-09-17 00:28] thedavidprice commented on #2502
@doesnotexist curious if you have any updates here based on your work in #3347? Thanks!

[2021-09-17 00:30] thedavidprice commented on #3339
@callingmedic911 if you would like to make those updates and changes you suggested, please do! Appreciate your help here.

[2021-09-17 00:40] thedavidprice commented on #3312
Whelp, this makes me nervous. My best guess here is that this package got stuck in your resolutions around v0.35 before @dac09 made the change for this package to only be required if Clerk Auth is being used.

Curious that you're not seeing this locally (correct)? In that case, might also have something to do with Netlify's build cache not updating.

[2021-09-17 01:02] thedavidprice commented on #3142
Thanks @zackdotcomputer Confirming I can reproduce this locally.

Looks like there might be something with the type misfiring here in the template for Auth.ts:
https://github.com/redwoodjs/redwood/blob/00a91dee19e55bc574e716fd1ba6cabf6edc11df/packages/cli/src/commands/setup/auth/templates/auth.js.template#L66

Looping in @dthyresson Is the syntax for "optional" correct here?

[2021-09-17 04:41] thedavidprice commented on #936
@alecswan the upcoming re-write of the Redwood VS Code Extension does have debugging working, but it's not ready for release yet.

@aldonline (he's the extension author) do you have any tips or direction here that could help near-term?

[2021-09-17 05:27] jtoar commented on #3339
@callingmedic911 thanks for that detailed breakdown of the problem + next steps! For better or worse I found a typo I wanted to fix and just started fixing the whole doc so if you don't mind I'll apply your suggestions in a PR momentarily that I'd be happy to have you review.

[2021-09-17 07:41] noire-munich commented on #3312
Got me nervous too! But in itself the fix was straightforward.

I didn't have it locally, deploying on netlify made me aware of it.
In the past months I've had a lot of deploys on netlify where I came to doubt it's cache cleaning process, but I couldn't completely confirm it. It can show with changes in environment variables, for instance.
Maybe we should involve someone from their team to look in

[2021-09-17 13:11] dthyresson opened #3389 "Custom Auth Provider - rework "noop" decoder and default getCurrentUser as not pass token"
The custom auth provider's decoder should reconsider how it passes through the token to get current user -- so that it **does not** pass along the token.

This has some side-effects in getCurrentUser.

More details to follow in the PR fix.

Note: May want to upgrade Magic auth provider as well

[2021-09-17 13:41] noire-munich opened #3390 "Context does not always expose the currentUser"
I'm using several services that rely on authentified user and I noticed a buggy behaviour.

This would be my sample code:

[code]

It is tested using this:
[code]

Now here's what's blocking me:
- my tests on that service rarely fail
- they mostly fail when tests are run only on the filtered file
- they almost never fail when all tests are ran
- my front application **will always crash** on that c

[2021-09-17 13:42] noire-munich commented on #3390
@thedavidprice @cannikin you might find this one of interest

[2021-09-17 13:48] dac09 commented on #3390
Fixed by #3369.

@noire-munich - please feel free to open if this is still an issue in v0.37.x

[2021-09-17 13:59] dthyresson opened #3391 "dbAuth - function Handler - Typescript warning on signup"
After setting up dbAuth, the auth function has a Typescript error/warn in:

[code]

![image](https://user-images.githubusercontent.com/1051633/133794891-65a81ef8-1037-46ca-beae-7eee648f9eb8.png)

[2021-09-17 14:04] noire-munich commented on #3390
Sorry @dac09 this seems to be a different issue, my point is not on `mockCurrentUser` but really on `context` : anytime I call my service from the front application it crashes.

[2021-09-17 18:50] doesnotexist commented on #2502
I was not able to reproduce this behavior, but I've only been testing it against the v9 implementation in the pull request, but that probably isn't related anyhow.  Since regardless of v8 or v9, calling getIdToken is correct implementation for the auth client's getToken() method and should not make any requests if the locally persisted token has not or is not going to expire soon (within 5 minutes

[2021-09-17 21:16] doesnotexist commented on #2431
Tangentially related to this, I have a question about an implementation detail of the AuthProvider component, should the value of client be this.rwClient (which is the result of calling createAuthClient on the passed in prop.client in the constructor or should it perhaps also expose this.rwClient in addition to the passed in prop.client, for example:

AuthProvider.tsx
[code]

[2021-09-17 22:43] #3348 closed

[2021-09-17 22:43] #3366 closed

[2021-09-17 22:50] dthyresson opened #3394 "GraphQL Schema generation and check is disabled on Windows"
In order to get #3307 to pass CI the GraphQL generator and test in internal to check type sets was disabled.

The underlying issue is that “globbing” the files to create the schema is not working properly on Windows.

This needs to be fixed and then it and its tests can be enabled.

[2021-09-17 23:07] viperfx opened #3395 "Cookies are not sent when API is on different host such as subdomain."
So I recently implemented a team switcher for our app and it was working well locally, when we went to staging with this, I came across this issue. For context our app is hosted at `app.ourdomain.com` and the API is at `api.ourdomain.com`

To reproduce this issue locally, serve your redwood app using a local domain. By modifying /etc/hosts.

[code]

The crux of the issue is that Apollo client need

[2021-09-17 23:32] #1622 closed

[2021-09-18 01:42] kataqatsi commented on #3339
Thanks! Excited to use the addon-essentials in my rw project :smiley:

[2021-09-18 02:15] jtoar commented on #3339
@kataqatsi Anytime, thanks for opening the issue!

[2021-09-18 04:32] viperfx commented on #2502
So yes, I don't believe this happening anymore. It was most noticeable in our auto complete fields but the noticed originally in this PR is no longer.

Nevertheless, will take your debug output above and make sure this is no longer an issue on my side.

[2021-09-18 07:12] Tobbe commented on #3263
I'm not sure I fully understand what you mean. Can you please provide an example or two? Thank you 😀

[2021-09-18 07:55] kataqatsi commented on #3339
@thedavidprice, @jtoar hi, I actually hadn't tried running this before thanking you. The newly updated docs for adding @storybook/addon-essentials didn't work. Looks like it's due to one of the addons for storybook having a webpack4/webpack5 dependency issue in a yarn-based monorepo using workspaces. See here: https://github.com/storybookjs/storybook/issues/15336

I'll leave this hacky quick fix h

[2021-09-18 08:26] jtoar commented on #3339
@kataqatsi Thanks for investigating and providing a quick fix!

My bad on the docs. I wasn't writing them as "how to setup storybook addons" which is what I should've done / would've written a cookbook for. I was writing them only to show that if you wanted to add an addon, you'd do it in the `storybook.config.js` file. I'm happy to add a little more using `@storybook/add-ons` as an example.

Just

[2021-09-18 17:44] #3248 closed

[2021-09-18 20:07] thedavidprice commented on #3339
@kataqatsi Ok, having looked at PR #3396, I'm not understanding if the project fix you show above is working on it's own. Or, does it require the patches to the Redwood framework — assuming "no" as those seem redundant.

Once confirmed the workaround is, well, working, let's close out #3396

@jtoar @callingmedic911 I do think we'll need to document the workaround in the Redwood Storybook docs unti

[2021-09-18 21:25] thedavidprice commented on #3284
Hi @coleea Sorry for the delay here! I should be able to provide much more timely replies now.

Also looping in @hemildesai who authored the original PR adding this deployment!

For reference, I have created a GitHub Gist with the code for the the `serverless.yml` file generated with `yarn redwood setup deploy aws-serverless`:
- [Gist for serverless.yml](https://gist.github.com/thedavidprice/ac676

[2021-09-18 21:27] #3313 closed

[2021-09-19 16:39] callingmedic911 commented on #3251
Hey @dthyresson! I was checking this issue and wanted to ask that even if we filter out logs based on `operationName`, [`morgan`](https://github.com/redwoodjs/redwood/blob/main/packages/api-server/src/app.ts#L10) would still print the path and other details like `POST /graphql 200 4.567 ms - 23386`. Logs would much be less but it could possibly still spam the output.

I think some trace that a req

[2021-09-20 11:07] #3394 closed

[2021-09-20 15:00] dthyresson commented on #3390
@dac09 Do you think that this is the async local storage issue with context?

[2021-09-20 15:01] dac09 commented on #3390
No - I don't know what it is, but already spoke to Thomas about this. He's going to try canary see if it fixes.

[2021-09-20 15:25] dthyresson opened #3399 "Ensure that in the useRedwoodAuthContext GraphQL Plugin, errors encountering in decoding token are masked"
Any errors in `parseAuthorizationHeader` such as 'The `Authorization` header is not valid.'`:

[code]

Should be masked and not exposed to the client.

The original error should still be logged.

Need to ensure that errors during the context building phase -- not just execution phase -- are masked.

[2021-09-20 16:16] dthyresson opened #3400 "Update Magic Auth Provider and Decoder to latest"
Magic auth has had significant upgrades since the initial implementation and now supports server-side verification of the auth token.

As such, Redwood's implementation and decoder needs to be upgraded to current.

[2021-09-20 16:17] dthyresson commented on #3400
@shahbaz17 Here is the issue for the upgrade Magic auth to latest PR.

[2021-09-20 16:20] cannikin opened #3401 "Add Forgot Password and Reset Password flows to dbAuth"
You can sign up, and you can log in, but what about when you forget your password? Let's add a Forgot Password and Reset Password logic and pages/components to dbAuth!

Conceptual flow:

1. User goes to the Forgot Password page and enters their username/email
2. A `resetToken` UUID is added to their user record in the database and `resetExpiresAt` time after which it will no longer be valid
3. A u

[2021-09-20 16:37] deibeljc opened #3402 "Cell queries are called twice when the route is unprotected and secured mode is off"
// TODO: Provide reproducible repo

To reproduce:
1. Bootstrap a new redwood app
2. Add dbAuth
3. Scaffold login/signup pages
4. Create a cell that queries some data
5. Use that cell in a route/page that is not private
6. Login to the app
7. Visit the route

Expected:
Data hits the loading state, then shows the data when it succeeds

Actual:
Cell hits the loading state, then success state, then lo

[2021-09-20 16:40] shahbaz17 commented on #3400
Thanks for the tag @dthyresson

I will make a PR to add the Magic decoder.

[2021-09-20 17:15] dthyresson commented on #3400
Let's also wrap up https://github.com/redwoodjs/redwood/pull/2629#issuecomment-923090196 with the new PR if we can to get everything sorted and up-to-date. Thanks much!

[2021-09-20 17:28] thedavidprice commented on #3400
See my comments and approval

[2021-09-20 17:37] cannikin commented on #3402
Thanks for the report @deibeljc Did you by any chance try any other auth providers with this same flow? This for sure only happens with dbAuth?

[2021-09-20 17:46] #2361 closed

[2021-09-20 18:31] deibeljc commented on #3402
@cannikin I have not tried any other auth providers, sorry! I really like being in control of my own auth (thanks so much for dbAuth ❤️), so I likely won't branch out to other auth solutions.

[2021-09-20 18:53] cannikin commented on #3402
Roger that, I'll try to reproduce with another provider and see if it's unique to dbAuth or something that's happening with all our auth in general!

[2021-09-20 19:11] thedavidprice commented on #3402
@cannikin This was originally reported by @deibeljc here in Discord: https://discord.com/channels/679514959968993311/716252919875240007/889355646326153256

If I understand correctly, the behavior reported here goes away when Secure Services are enabled:

If my understanding is correct, this might be resolved in the upcoming v0.37

[2021-09-20 20:35] thedavidprice commented on #961
Helpful article explaining the problem with potential solutions. tl;dr: SEO can be hard
https://thegray.company/blog/single-page-application-spas-404s-seo

[2021-09-20 20:38] thedavidprice commented on #2502
Thank you @doesnotexist

@viperfx please do let us know if you get a chance to confirm.

[2021-09-20 20:40] #3260 closed

[2021-09-20 20:42] thedavidprice commented on #1434
@jtoar Will the final implementation of #3376 close this one?

[2021-09-20 22:06] cannikin commented on #3402
I can confirm this happening: when the Cell is outside of the login wall it cycles from Loading to Success twice. If you then make the path `<Private>` it renders only once, as expected.

@thedavidprice I'm not able to follow that link...it just brings me to a page that says:

![image](https://user-images.githubusercontent.com/300/134082187-643d7fd6-73eb-4d89-abc7-3c1b19079820.png)

Did he ever op

[2021-09-20 22:22] thedavidprice commented on #3402
Discord links = 👎

Nonetheless, @deibeljc (who opened this Issue) is the one who reported on Discord! I was trying to avoid him having to repeat the conversation. Alas, here is some copy pasta:

I lost the context about "The issue goes away in secured mode I believe.", which I understood as the redundant queries going away when REDWOOD_SECURE_SERVICES=1

So assume I made that part up unless someon

[2021-09-20 22:29] cannikin commented on #3402
Ahh, I thought maybe he meant that if you put the page behind a `<Private>` route (thus "securing" it) the problem goes away (which is what I found in my testing above).

[2021-09-20 22:51] cannikin commented on #3402
So with Netlify I'm not seeing the double render, although I do see an extra GraphQL request that gets canceled by something in our code:

![image](https://user-images.githubusercontent.com/300/134086474-539c4637-bca2-4212-b553-55341fc24bb4.png)

The payload is the same as the following request, which succeeds (the `QUERY` for the cell):

![image](https://user-images.githubusercontent.com/300/1340

[2021-09-20 22:51] thedavidprice commented on #3339
@jtoar @kataqatsi Well, I went down the rabbit hole on this one (see https://github.com/storybookjs/storybook/issues/15336#issuecomment-923408113) and found a way to fix with Webpack config in `@redwoodjs/testing`. However, when I started working on the fix on our latest `main` branch, I discovered the original problem has been resolved!

So yay/boo.

I'm closing #3396 as it's no longer needed.

@

[2021-09-20 22:52] #3339 closed

[2021-09-20 23:09] cannikin commented on #3402
You can try for yourself here: https://serene-kilby-d1af13.netlify.app/pricing  Login:  johndoe@example.com / password

The `/pricing` page is NOT behind a login wall, it just presents the login/logout buttons.

[2021-09-21 06:40] Tobbe commented on #961
Related:
If you have two users
[code]
And a visitor goes to https://page.com/users/3 Should you show them your users page with a message like "Sorry, we couldn't find the user you asked for" (and if so, with what status code?), or should you just give them your own general 404 page? Or should it even be handled on the web server level (as @cannikin suggested) and return a 404 from there? The artic

[2021-09-21 06:46] Tobbe commented on #3401
Should we also have a time-out on that reset token? So that the reset link is only valid for an hour? Or 24 hours, or whatever we think is a good limit?

[2021-09-21 09:13] coleea commented on #3284
Thanks a lot.  I think the first thing I should do is

- package up the web/dist files (probably zip or tarball)
- deploy packaged file to Cloudfront

if these can be done, everything works fine. In order to do this, knowledge about how serverless framework works is needed. In my search, Serverless API Cloudfront (https://www.serverless.com/plugins/serverless-api-cloudfront) fits this work. In fac

[2021-09-21 09:28] HarunKilic commented on #534
Just for those who is having issue with external host access.

Ran into the same issue with `Invalid host header`error.
Tried to use `yarn rw dev --forward="--disable-host-check"` but seems like the `--disable-host-check` is deprecated.
So it got replaces with `--allowed-host all`

Use it like: `yarn rw dev --fwd="--forward-host all"`

[2021-09-21 15:11] deibeljc commented on #3402
Sorry for not being clear, I did mean both when you it behind a `<Private>` route and also I believe when you set the overall configuration to `REDWOOD_SECURE_SERVICES=1` then the issue went away entirely.

[2021-09-21 18:44] viperfx commented on #2502
Yep - so can confirm that this is fixed on my end in my current rw app with v0.37

[2021-09-21 19:59] #2260 closed

[2021-09-21 19:59] #3344 closed

[2021-09-21 19:59] #3346 closed

[2021-09-21 20:34] #914 closed

[2021-09-21 20:36] thedavidprice commented on #2502
Closing now!

v0.37.0-rc will be out later today. We can re-open if/as needed.

Thanks all!

[2021-09-21 20:41] thedavidprice commented on #534
Good catch.

Yes, those options come directly from Webpack-dev-server now at v4, which included a lot of breaking changes.
- https://webpack.js.org/configuration/dev-server/

Looks like we need to update our CLI `rw dev` doc:
- https://redwoodjs.com/docs/cli-commands#dev

But Webpack docs is ok:
- https://redwoodjs.com/docs/webpack-configuration#passing-options-with-forward

Contribution help very

[2021-09-21 21:25] #3117 closed

[2021-09-21 22:31] #925 closed

[2021-09-21 22:31] #3399 closed

[2021-09-21 22:35] #3389 closed

[2021-09-22 07:10] viperfx opened #3412 "Add a way to remove a param using navigate"
Consider an example like so

[code]

Right now - adding new params is really easy - but when doing filtering and search, you often need a way to remove params.

Right now the only way to remove a param is to redefined each filter and use the current values ommiting the param you want to remove.

If there was a mechanism to remove a param easy either by passing `null` or `undefined` - that would ma

[2021-09-22 07:38] jderrough opened #3413 "Coverage directory created in ./web"
With a fresh Redwood blog (`yarn create redwood-app ./redwoodblog`):
1. running `yarn rw test --coverage` creates the coverage directory in `./web`
2. running `yarn rw test api --coverage` or `yarn rw test web --coverage` creates the coverage directory in the project's root directory
3. running `yarn rw test --coverage --coverageDirectory=./coverage` is equivalent to (1)
4. as a workaround, runnin

[2021-09-22 15:08] macovedj commented on #3263
Sure... do you know if the following would be supported?

`  <Route path="/nested/{fullDir:dir}/fixedString/{otherVar:String}" page={NestedPage} name="nested" />`

^^ The hope would be that the router is aware enough to interpret `fixedString` as a signifier that the `fullDir` variable is no longer being read from the url, and then move on to another variable.  If you only have one var of type `di

[2021-09-22 16:07] thedavidprice commented on #3413
First off, well done using the test suite and considering coverage! Although we're trying to ensure that everyone loves testing as much as we do, we're not quite there yet.

But that behavior isn't exactly consistent. I'm guessing it has to do with the way we need to set `cwd` at different steps (and per options) in the test command:
- https://github.com/redwoodjs/redwood/blob/main/packages/cli/sr

[2021-09-22 16:30] callingmedic911 opened #3416 "Cell Input props are expecting type `never` if there's no Query variable"
If there's a Cell with a query that's doesn't need any variable AND we need some props for the Success component, it results in TS error.
![Screenshot 2021-09-22 at 9 55 05 PM](https://user-images.githubusercontent.com/2629902/134383521-53b4a6bf-801a-4bf7-94ee-a4c1396e0d02.png)

This happens because when Graphql Code Gen doesn't finds any variable it creates this type:
![Screenshot 2021-09-22 at 9

[2021-09-22 17:21] milancermak opened #3417 "Component generator doesn't fully handle mixed casing"
I generated a new Redwood component using `yarn rw g component NFTImage`. As expected, it created a bunch of files in `web/src/components/NftImage`, here's the output:
[code]

When I then ran `yarn rw storybook`, I got the following error:
[code]

If I run `yarn rw g component NftImage`, it all works fine.

I'm using Redwood v0.36.4.

[2021-09-22 18:39] kataqatsi commented on #3339
thanks rw team for the quick replies!

[2021-09-22 20:26] linde12 opened #3418 "Generate interfaces based on client side queries"
Hello! Been playing around with redwood a bit and enjoying it greatly so far.

I have a question regarding typescript interfaces or types: is there a way to get a hold of the return type for client queries?

E.g. if i have a query like this:

[code]

the type for my props will have a shape similar to this:
[code]

Is there a way i can get a hold of this type? I'm thinking something like `type Find

[2021-09-22 22:28] dthyresson commented on #3418
@dac09 Thoughts on generating types here?

[2021-09-22 22:31] thedavidprice commented on #3417
Thank you for reporting this @milancermak Looks like there could be some nuanced trouble here between case-sensitivity and our generators!

Can you please reply with the following:
- the output from `yarn rw info` (looking for your system info)?
- For the first case above (`rw g component NFTImage`), a screenshot of the component directory and files (to see the names of directories and files on di

[2021-09-23 05:07] jderrough commented on #3413
The current defaults are fine to me. One can get consolidated results by running tests for both sides at once, or separate results by running tests for each side, and be able to specify the directory using `--coverageDirectory`.

It contradicts the documentation that running `yarn rw test --coverage` or `yarn rw test --collect-coverage` sends the consolidated results to `<rootDir>/web/coverage` ra

[2021-09-23 05:13] jderrough opened #3419 "Running tests with multiple "--coverageReporters" options"
Running `yarn rw test --coverage --coverageReporters=html --coverageReporters=text` results in:

[code]

Looking at the command line, what is actually executed is something like:
[code]

It looks like the multiple "--coverageReporters" option values are joined into one with a "," separator, which is not supported by jest.

[2021-09-23 05:16] thedavidprice commented on #3413
Understood.

Are you referring to Jest documentation? I'm not aware that we mention this in Redwood Docs.

Regardless, agreed that's unexpected behavior as `<rootDir>/coverage` is expected. Especially given the behavior of number 2 in your OP.

[2021-09-23 05:19] jderrough commented on #3413
I was referring to [Redwoord's CLI documentation](https://redwoodjs.com/docs/cli-commands#test):
[code]

[2021-09-23 07:10] milancermak commented on #3417
Sure thing.

[code]

[code]

`yarn rw dev` does work.

Here's the contents of `NftImage/NftImage.tsx`:

[code]

aaaand `NftImage.stories.tsx`
[code]

HTH 🤓

[2021-09-23 11:02] dac09 commented on #3418
Hej! These interfaces are actually already generated for you, _just make sure_ you have the dev server running, **or** you run `yarn rw g types` manually

---

You can import your type in this case like:

[code]

As a more generic answer, the generated type has the name of your operation, and will work for queries and mutations - and anywhere in the web codebase, not just cells!

[code]

Closing t

[2021-09-23 11:02] #3418 closed

[2021-09-23 11:05] dac09 commented on #3417
Hey just a guess here, but it looks like you have a hint on the error you're receiving.

In the first line of your stories - if you look at the import, the path casing doesn't match (after a manual change, right?)

import NFTImage from './NFTImage' <---- `NFTImage` != `NftImage`

[2021-09-23 11:16] dthyresson commented on #3418
@linde12 As a follow up to what @dac09 about generating types — I believe you’ll want to have unique Operation names per cell (that contains your query). If not then you may seen warnings or error during type generation.

[2021-09-23 11:41] milancermak commented on #3417
Yes, I know it doesn't match, that's why I fixed it for myself using `yarn rw g component NftImage`. I reported the bug because I believe this should work out-of-the-box.

[2021-09-23 14:01] dac09 commented on #3417
Ah I understand!

[2021-09-23 14:40] linde12 commented on #3418
Ah, thank you guys! I think i proper confused myself before posting the question.

I actually knew that the query types are available in types/graphql, i even use it in some places (sorry again for the confusion) but my problem was actually getting a subtype of the query type. In my case i have relay style pagination (with connections, nodes & edges) and want to access the "node" type.

I think i

[2021-09-23 18:45] Tobbe commented on #3263
I haven't tried it, but I think this should do it

[code]

The above should be covered by the basic example I showed earlier with just `constraint: /.*/,`

If you had a url like /nested/a/b/c/d/e/f what would you want in `fullDir` and what should end up in `subsequentDir`?

More advanced examples like these for how to use `paramTypes` sounds like a great idea! Are you up for adding some?

[2021-09-23 18:48] macovedj commented on #3263
I think I'm trying to express that your `/nested/a/b/c/d/e/f` example is inherently ambiguous.  As a dev, If I want `fullDir` to end after any letter, and/or `subsequentDir` to begin at any letter, how do I specify that with the current capabilities?  Also I'm happy to give the advanced examples a go.

[2021-09-23 18:53] Tobbe commented on #3263
You could do something like `/(\w+\/){3}/` for your constraint I think, and it would be a/b/c/ or change the 3 to 4 and it'd be a/b/c/d/

[2021-09-23 23:35] #2502 closed

[2021-09-23 23:35] #1058 closed

[2021-09-24 07:48] HarunKilic opened #3423 "Generate Prisma Enums as Enum instead of Type"
When having declared an Enum in Prisma, it gets generated as TYPE in graphql.d.ts, which is not exactly what is expected.
There is ENUM type in Typescript, which is the expected usage.

eg:

Prisma Type:
[code]

Currently generated type in graphql.d.ts:

[code]

Expected enum type:
[code]

Usage would be:
[code]

Which gives us more to do with it. Eg. its possible to iterate over enum, which is no

[2021-09-24 08:41] peterp opened #3424 "Merge "watchers" into a single process."
RedwoodJS runs a bunch of watchers that react to code changes, it would be great to reduce these into a single watcher because it would improve performance, but also give us a centralized place to formalize the concept of watching for file changes and reacting to them.

These are the file watchers we currently have:
1. dev-server: builds the code and reloads the api side when `api/*` changes.
2. t

[2021-09-24 12:57] callingmedic911 opened #3425 "TS error if query in a Cell is camelCased instead of PascalCase"
If we have query camel cased like:
![Screenshot 2021-09-24 at 6 14 04 PM](https://user-images.githubusercontent.com/2629902/134676108-5e60650c-0ec4-45f5-87c7-1af9ec2f6ab5.png)
then generated types throw an error
![Screenshot 2021-09-24 at 6 14 35 PM](https://user-images.githubusercontent.com/2629902/134676184-ea0c063b-9733-4c75-bc60-bfca95088f6b.png)

This happens because graphql-codegen by defaul

[2021-09-24 13:40] dac09 commented on #3417
@cannikin - this seems to be an area you're comfortable with. Interested in picking up?

[2021-09-24 13:42] dac09 commented on #3425
I think all we'd need to do really is make sure the that the types are pascalCased in the cell generator I believe.

Also worth looking at the scaffold one.

That being said.... I think I was using the wrong conventions in this case, should queries have pascal-cased names??

[2021-09-24 13:45] dac09 commented on #3423
You can also use prisma enums, directly importing from prisma client

e.g.
[code]

[2021-09-24 13:47] #3391 closed

[2021-09-24 13:58] HarunKilic commented on #3423
Oh. I had no idea that prisma types was accessable. Thanks this fixes the problem!

[2021-09-24 15:04] dac09 commented on #3423
I think this is still a little bit of a problem - I looked into this before, can't remember why we shied away from adding a change to codegen settings. Something related to babel-typescript!

[2021-09-24 15:32] cannikin commented on #3417
I noticed you asked that *after* assigning it to me. 😉

[2021-09-24 16:06] #3417 closed

[2021-09-24 18:01] thedavidprice commented on #3424
🤩

[2021-09-25 18:29] thedavidprice opened #3430 "Current GitPod + Redwood Issues"
cc @dac09 @mikenikles

GitPod test with current v0.37.0 release branch:
http://gitpod.io/#https://github.com/redwoodjs/redwood/tree/release/minor/v0.37.0

## API Port: broken proxy
After startup with `yarn rw dev` seeing this console error, which breaks API in the Test-project.
[code]
<img width="398" alt="Screen Shot 2021-09-25 at 11 24 42 AM" src="https://user-images.githubusercontent.com/2951/1

[2021-09-26 03:31] KrisCoulson commented on #2708
I think I found a good use case for this. Dunno if it is possible to make `yarn jest` runnable from root of a redwood app. @peterp @thedavidprice

 @dac09 recently got a bunch of redwood devs trying wallabyjs plugin for vscode/ jest testing for better testing DX.  When trying to run the plugin there are some issues. For example `scenario` is not defined.

![image](https://user-images.githubusercon

[2021-09-26 09:43] zwl1619 commented on #3401
Hope to use jwt.

[2021-09-26 23:33] mikenikles commented on #3430
It turns out the IPv6 proxy target causes the issue. It was first introduced in https://github.com/redwoodjs/redwood/commit/431b32a758ce5c33c987c36e4ba74795f7fe3a64 together with additional headers that are no longer there from what I can see in the latest code.

If I use the following, it works on Gitpod:

[code]

**Caution:** IPv6 was introduced for a reason, but given the other part of that com

[2021-09-27 10:53] #3142 closed

[2021-09-27 20:59] dthyresson opened #3436 "Update Prisma db seed to use seed scripts"
See: https://www.prisma.io/docs/guides/database/seed-database#example-seed-scripts

![image](https://user-images.githubusercontent.com/1051633/134984267-e9da2849-6f32-4a55-b68b-1512501a6595.png)

Prisma now seeds via a seed script defined in package json.

Need to update redwood seeding commands to make sure compatible -- and hopefully offer TypeScript support as well.

[2021-09-27 21:16] thedavidprice commented on #3436
@dthyresson My assumption (i.e. hope) is that Redwood won't require prisma.seed in package.json. Instead we can pass that path as an option via our wrapper command `yarn prisma`.

Just not sure how/if it would then be possible for `db seed` to also run automatically in case of `prisma migrate dev` and `prisma migrate reset`. Maybe there's also an option to pass seed.js/ts for these as well 🤞

[2021-09-28 08:55] callingmedic911 commented on #3425
Both scaffold and cell generate operation name in pascal case.

I think so. But considering even if it's against convention, it's failing silently (unless someone checks the mirror cell) - losing the strongly typed benefits without alerting.

[2021-09-28 15:59] dthyresson opened #3438 "GraphQL Healthcheck endpoint incorrectly references Apollo"
In dev, try:

[code]

It will return the health check response such as::

[code]

Because `healthcheck.ts` defines:

`const HEALTH_CHECK_PATH = '/.well-known/apollo/server-health'`

This should be some more appropriate path and convention perhaps referring to redwood or helix? or just general "healthz" (Like Hasura does).

![image](https://user-images.githubusercontent.com/1051633/135123270-1c15e1

[2021-09-28 16:56] simoncrypta commented on #3438
Well-known URIs is made for standardization of service in URL, but I don't see server-health as a mint Well-known. `healthz`seem to be a better standard in this case. I don't know any service who use` /.well-known/apollo/server-health` by default for the health check.
https://datatracker.ietf.org/doc/html/rfc8615
https://en.wikipedia.org/wiki/List_of_/.well-known/_services_offered_by_webservers

A

[2021-09-28 19:15] thedavidprice commented on #3438
@dthyresson is this a priority to include in v0.37?

[2021-09-28 19:17] thedavidprice commented on #3425
@callingmedic911 Would you be available to work on a fix for this?

[2021-09-28 19:29] dthyresson commented on #3438
No, 38 is fine

[2021-09-28 21:42] #3430 closed

[2021-09-28 23:32] dthyresson commented on #3438
The GraphQL health check path will always be appended to `/graphql` (ie, the api endpoint) so it should not collide with render or other health checks (from my understanding).

Same. I am asking the Guild to see if there is any best practice or standard naming.

[2021-09-29 05:01] callingmedic911 commented on #3425
@thedavidprice Yes! I'd be glad to work on it. Before creating the PR, checking in to finalize the approach.

@dac09 Adding to my last comment: if we don't modify types or the references, do you think can we somehow show error visible to user? ESLint maybe? But frankly speaking, I still don't think camel casing should turn out to be error.

[2021-09-29 05:11] callingmedic911 commented on #3251
@dthyresson Gentle reminder DT. I'd be glad to work on this.

[2021-09-29 08:15] HarunKilic opened #3446 "[Feature Request] Improve SDL and Services"
The SDL and service generators are awesome! But they do not include nested relation creating/updating/deleting and etc.

Prisma provides manipulating nested relations with create, createMany, upsert, connect and etc.
It would be nice if the generators could identify nested relations and generate those inputs.

[Typegraphql-prisma](https://github.com/MichalLytek/typegraphql-prisma) is a good exampl

[2021-09-29 13:24] dthyresson commented on #3251
@callingmedic911 Hi. I'm really not sure if we need to implement this filter -- by setting the polling interval or less frequent (or even completely off) that limits the requests made by the playground in dev and not sure the logic step is needed to check and screen out these.

But, if you are interested, let's see what a filter could look like. Give it a god if this interests you. Thanks!

[2021-09-29 13:41] dthyresson commented on #3438
Info from The Guild:

[2021-09-29 15:57] alecswan commented on #936
Thanks, @thedavidprice, the absence of a way to debug redwood apps makes it hard to advocate for RW even for PoCs. Even a list of manual steps to get the app running and pausing at breakpoints (in TypeScript) would be a huge help! @aldonline, do you have any such steps or insights you could share?

[2021-09-29 21:49] josuablejeru opened #3452 "Add AWS Cognito to redwood/auth"
I saw that Redwood supports a lot of Auth providers out of the box except for AWS Cognito.

After I did a little research here on Github and on the forum I was still surprised to find nothing.

Is there a reason why it's missing or could I go and try implementing it myself?

Thanks for your help in advance 🤗.

[2021-09-29 23:08] ajcwebdev commented on #3452
You are correct there is no current integration with Cognito and I'm unaware of anyone who has done it themselves (although I would guess someone, somewhere has done it and just hasn't documented it yet).

My theory is that Cognito sits in a middle zone between easy third party solutions and hardcore DIY so no one has tackled it yet. I also pointed out the lack of any native AWS auth solution in [

[2021-09-30 11:18] callingmedic911 commented on #3251
Yeah it's not completely filtering out (because of morgan). I tried something earlier. And also, it could be confusing if someone deployed with excluded option to prod that was meant only for dev env.

Anyways, let me raise a draft PR to show you.

[2021-09-30 15:26] josuablejeru commented on #3452
Thanks, @ajcwebdev for the explanation. I will start then on implementing something that works and we iterate from what. Can I come to you back if I have any questions or are there other contributors I should go to?

[2021-09-30 16:09] ajcwebdev commented on #3452
Up to you, if you post back here then the core team will see it, if you're looking to get more eyes from the community you could start a [forum post](https://community.redwoodjs.com/).

[2021-09-30 17:37] deibeljc opened #3456 "Errors from redwood's dependencies are hard to debug"
I came across a small issue last night where my SUPABASE_JWT_SECRET was copied and pasted wrong which resulted in this error in my logs

[code]

This gave me little to no clues on what was actually going on, which was the jsonwebtoken validate function was blowing up since my secret was wrong!

I would really like to surface more metadata in the logs for when stuff blows up. It took me awhile to f

[2021-09-30 23:20] cjreimer opened #3459 "yarn rw typecheck - Both sides are not checked on web side error"
As per the [docs](https://redwoodjs.com/docs/typescript#running-type-checks), the command

`yarn rw type-check`

will check both the api and web side of the project.

However, if an error is generated on the web side, the api side will not be checked and no errors will be displayed.

I got bit by this thinking I just had errors I was willing to live with for the moment, and I also had errors on th

[2021-10-01 02:12] cjreimer commented on #3416
I just hit this issue as well.  Great to see that it's already in the queue!

[2021-10-01 03:36] #3416 closed

[2021-10-01 05:14] papaponmx commented on #3390
Hi, I'm experiencing the same issue on `v0.37`

[2021-10-01 06:51] #3288 closed

[2021-10-01 12:58] dac09 commented on #3390
Hi @papaponmx - could you provide a bit more detail please?

Please could you include:
a) What auth provider you're using
b) Snippet of your `getCurrentUser` function src/lib/auth (are you sure you're not swallowing the errors here?)
c) What conditions you see this under? e.g. graphql query with `@requireAuth` directive, from a private page
d) Could you confirm if importing context like this:
`imp

[2021-10-01 14:34] dthyresson opened #3485 "Audit, Update and Standardize package README seen when publishing"
See: https://www.npmjs.com/package/@redwoodjs/graphql-server
See: https://www.npmjs.com/package/@redwoodjs/api

Ahead of v1.0's release, it feels like all the package readme's need to get updated and even standardized.

Most are rather out of date or lacking details.

Could we:

* standardize a template heading
* keep short
* link to docs
* are there leads? collaborators seem not be those who work

[2021-10-01 14:39] papaponmx commented on #3390
Hey @dac09. Thanks for the reply.

a) I'm using Clerk as an auth provider.

b) Snippet of your getCurrentUser function src/lib/auth (are you sure you're not swallowing the errors here?)

Here it is. I'm basically doing what the [Upgrade guide to v-.37.0](https://redwoodjs.notion.site/Upgrade-Guide-Redwood-v0-37-0-rc-e87c034167fd4f14a3fa0e6d6291008d) suggests.
[code]

It is graphql query with @requ

[2021-10-01 14:59] dthyresson commented on #3390
Hi @papaponmx - To clarify, you are trying to query `roles` or a `role` from a public page with or without an authenticated user?

You currently have both those queries using the `@requireAuth` directive -- that means they must be logged in.

Also, you can now remove the requireAuth from the roles service:

https://github.com/papaponmx/sharp-workouts/blob/cbf44a75b23e7abde0f142b0c8dce846bc5ad6a6/a

[2021-10-01 15:06] papaponmx commented on #3390
@dthyresson

I'm trying to query roles from a public page, with an authenticated user.

[2021-10-01 15:13] cannikin commented on #3485
The original plan was to have the READMEs be high-level overviews for framework developers of that package (see `api` and `cli` for examples). The actual usage of the package goes in the real docs. So the README in `router` is probably not correct, and should mostly go in the regular docs.

[2021-10-01 15:17] dthyresson commented on #3390
Ok, but what happens when a non authenticated user visits the public page?

Are you trying to list the currentUser role's and show in the page?

If so, you can use the `useAuth()` hook and get the `currentUser` and then their roles will be on that.

[code]

[2021-10-01 16:50] dthyresson commented on #3485
Also:

https://github.com/redwoodjs/redwood/tree/main/packages/auth#requireauth

Needs to refer to auth validator directives instead.

[2021-10-01 17:26] domvernon opened #3487 "Add Directives codemod outputs incorrect filename"
👋 Hi, I was just upgrading to 0.37.0 and ran `npx @redwoodjs/codemods add-directives`. I noticed type checking was failing and it turns out there is an extra `.` added to the file extensions.

[code]

Other than this everything seems to have worked very well!

[2021-10-01 17:43] viperfx opened #3489 "[RW 37] [Firebase] Null response from getCurrentUser"
I tried the 0.37 upgrade today and for the most part, the upgrade was smooth. However, authentication with firebase is broken for me. I have followed the upgrade guide to update all the imports.

For me the firebase client on front-end seems to be working but the backend getCurrentUser returns as a null.

Request to firebase from client side SDK - getting the token back as expected.
![image](https

[2021-10-01 17:52] doesnotexist commented on #3489
@viperfx  Are you using type='custom' for your AuthProvider?

I think if thats the case then that is the intended behavior now.  See the following:

https://community.redwoodjs.com/t/redwood-v0-37/2447#2-recommended-change-for-custom-auth-provider-implementations-13

https://github.com/redwoodjs/redwood/blob/main/packages/api/src/auth/decoders/custom.ts#L1-L7

So you could make the getCurrentUser(

[2021-10-01 17:56] thedavidprice commented on #3489
@dthyresson feels like the token changes you made are having an affect here, maybe?

[2021-10-01 17:59] viperfx commented on #3489
So on an unrelated issue - me and @dthyresson were discussing and we realized that I had token out the getCurrentUser function that get passed because I thought the upgrade guide made it seem like that was automatically imported.

So once that was added - it all works now 🚀

Thanks for everyone's help!

[2021-10-01 17:59] #3489 closed

[2021-10-01 17:59] dthyresson commented on #3489
@thedavidprice I think there was an entire new Firebase v9 upgrade, no? @dac09 Can you confirm Firebase?

[2021-10-01 18:00] thedavidprice commented on #3489
Awesome!

@viperfx no pressure but nudge to post on Forum upgrade guide if you think anything helpful to community

[2021-10-01 18:00] dthyresson commented on #3489
Oh, this is the issue @viperfx and I resolved in Slack. Disregard above comments.

[2021-10-01 18:02] thedavidprice commented on #3487
Thanks!! We have a fix coming via PR and patch here --> #3486

How's everything else going?!?

[2021-10-01 18:02] #3487 closed

[2021-10-01 18:05] thedavidprice commented on #3485
There's an Issue for moving Router doc here: https://github.com/redwoodjs/redwoodjs.com/issues/807

@jtoar and I had an original intention with all this per @cannikin's comments — we can simplify but still want to establish some best practices and then finish implementing (oops)

Also, I did update readme for NPM display here --> works well, yes? But Readme is a bit messy

putting on agenda for ne

[2021-10-01 18:06] dthyresson commented on #3456
Hi @deibeljc prior to 0.37 errors that happened during the context building or getCurrentUser were getting swallowed up, so no output. This has been addressed, but I can see your point here that without a stack trace it can be hard to diagnose.

The message "invalid signature" comes from the JWT package.

Perhaps we:

* catch specific errors and provide more wording around what happened when getti

[2021-10-01 18:11] thedavidprice commented on #3456
@aldonline zOMG we are so excited for the VS Code Redwood Extension with DEBUGGING.

Pretty please? Who do I need to talk to 😉

[2021-10-01 18:15] viperfx opened #3491 "Add customToken option to firebase"
I currently use a custom firebase client because I utilize their signInWithCustomToken method.

[code]

It would be great if we can add this option to the redwood firebase client.

[2021-10-01 18:21] thedavidprice commented on #3452
Hey there @josuablejeru Auth provider contributions are _very_ welcome. Here's the info you'll need via the Auth package README:
- https://github.com/redwoodjs/redwood/tree/main/packages/auth

A few things to keep in mind:
- we want to keep the providers as independent as possible (dynamic imports, etc) — use the existing implementations as guides
- if there's anything regarding approach/direction

[2021-10-01 18:22] thedavidprice commented on #3491
cc @doesnotexist

[2021-10-01 18:36] doesnotexist commented on #3491
Yeah, so the web/authclient side seems pretty straightforward.   As for the api-side decoder, would need to test it out a bit, because there are 2 ways you can generate the custom tokens, from the firebase docs:
"You can create a custom token with the Firebase Admin SDK, or you can use a third-party JWT library if your server is written in a language which Firebase does not natively support."

Wou

[2021-10-01 18:43] jeliasson commented on #3377
WiP on #3490

[2021-10-01 18:53] jeliasson commented on #3036
By adding pm2, aren't we adding more project dependencies and cluttering down the projects with additional files?

For me the natural solution would be to add more instances and scale horizontal, or use NodeJS's [cluster api](https://nodejs.org/api/cluster.html).

[2021-10-01 19:01] domvernon commented on #3487
😬 apologies, I did try and look to see if this had been raised - I'm going to go with searching in Github not being massively helpful.

It's going very well so far, I'm a DevOps engineer by day so really appreciate the batteries included approach.

[2021-10-01 19:01] thedavidprice commented on #3036
Oh, cluster api looks interesting.

I'm mixed on PM2 being _the_ solution, but I do think it would make the default 100x better. And the [package](https://www.npmjs.com/package/pm2) doesn't look terrible given that it would be for the api-server for containerization use.

[2021-10-01 19:02] thedavidprice commented on #3487
All good! Moving fast this morning and always appreciate people opening Issues.

Keep us posted.

[2021-10-01 19:03] thedavidprice commented on #3487
Oh, and we could use a lot of DevOps eyes and knowledge when it comes to things like our api-server for traditional hosting and containerization.

Docker is the hot new discussion over here: https://community.redwoodjs.com/t/dockerize-redwoodjs/2291/21

[2021-10-01 21:45] domvernon opened #3493 "Test failures from generated tests involving a DateTime"
👋 Hi again. I have a pretty standard schema of:
[code]

When I use `yarn rw g sdl user --crud`, this generates the expected files, but there are unexpected results when running the given tests with no further modification.

For example:
[code]

This is easy to fix with something like `expect(result.updatedAt.toISOString()).toEqual('2021-10-01T21:24:13.000Z')`, and of course I'm sure you would be e

[2021-10-01 21:58] viperfx commented on #3491
Yep that's a good point.

I currently only use firebase generated tokens for SSO and when I created this issue, I had actually meant only to support that. I don't think I've come across anyone who uses custom tokens yet.

[2021-10-01 22:21] viperfx commented on #3395
@jtoar have you guys discussed this internally? I have this working in production with a patch. So open to contributing a PR.

[2021-10-01 22:21] cannikin commented on #3036
@jeliasson My reason for wanting pm2 is just to keep my web/api processes monitored to make sure they keep running. If they die for whatever reason, I'm screwed.

pm2 apparently also supports hot restarts—right now I have manually quit both processes and restart them on each deploy.

I'm running on regular ol' servers by the way, no lambdas, no containers, just EC2 instances. I'm serving both dire

[2021-10-01 22:22] jtoar opened #3494 "[Netlify] GraphQL Function doesn't build without Services"
The GraphQL Function doesn't build on Netlify without Services.

### To reproduce:
- create a new project (`yarn create redwood-app netlify-deploy-test`)
- setup netlify deploy (`yarn rw setup deploy netlify`)
- add a home page, whatever you want—but don't add any Services
- deploy to netlify
- after it builds, head to `your-random-domain.app/.netlify/functions/graphql`. you should see:

![image](

[2021-10-01 22:37] jtoar commented on #3395
@viperfx Yeah I was assigned because I usually handle Apollo issues but if you have a fix I'm happy to collaborate on it!

[2021-10-01 22:45] jtoar commented on #3493
Hey @domvernon, thanks for reporting this. The generated tests should definitely be passing out of the box, so even though we want users to write their own tests, that's only after they've customized things. They should start with green checks!

Would you be open to submitting a PR to fix this? It's a good one for hacktoberfest! No pressure though; me or one of the other core team members can subm

[2021-10-02 00:00] jeliasson commented on #3036
@cannikin PM2 is great but I don't think it's the right approach as a default `rw serve`. Approaching this from a container perspective, here are a few things that comes to mind;

- A container (a entrypoint process) that never dies, because something in between makes sure of it, could throw off native healthchecks. If a process don't die, how do orchestrating engines (Docker Swarm, Kubernetes, et

[2021-10-02 00:09] dac09 commented on #3036
This is really great @jeliasson - this is one of those issues I can never get to! Appreciate your input on this!

100% agreed with you personally on just pm2 isn't enough, in a serious application.

I think the idea behind this is that we support all levels of applications - people who want to easily host resilient smaller projects, as well as leaving enough room for large scale applications.

Giv

[2021-10-02 00:36] jeliasson commented on #3036
@dac09 Maybe `rw setup pm2` (that scaffolds a ecosystem.config.js file and brings in pm2 as dependency) along with e.g. `rw serve pm2 [...]` as wrapper, which I think it what you meant by the alternative, would be better. :)

In the end, I think we're doing us a favor if we have a 'clean entry point' (`yarn rw serve [api/web]`) that honors process exit codes and is somewhat predictable in it's out

[2021-10-02 01:55] pi0neerpat commented on #3075
Does this mean dbAuth is not safe to use until this is implemented?

[2021-10-02 02:25] cannikin commented on #3075
Well, not any less safe than any of the other 3rd-party auth solutions, none of which prevent CSRF attacks since you’re not checking with them on the validity of the request content on each request.

We set the `SameSite` attribute on the session cookie, which goes a long way to preventing CSRF. I’m not sure what attack vectors can get around that, however.

I’m not familiar enough with the guts o

[2021-10-02 12:43] callingmedic911 opened #3496 "useQuery/useMutation doesn't accepts types for operation variables"
It's possible to pass both type for data and variable with Apollo client but it RW's GQL Hooks provider doesn't accepts variable type.

<img width="576" alt="Screenshot 2021-10-02 at 6 11 09 PM" src="https://user-images.githubusercontent.com/2629902/135716553-8dfdc206-0c93-4acb-8461-c1bf8f9fc801.png">

[2021-10-02 13:57] dac09 commented on #3390
Hey @papaponmx - could you please confirm that your graphql handler in `./api/src/functions/graphql` gets `getCurrentUser` passed to it?

[code]

[2021-10-02 15:40] mtfoley commented on #766
I was trying this out. Other than `yarn build` are there any compile steps to take in making sure that changes to `packages/cli/src/commands/generate/sdl.js` work their way in? I would have thought I'd break the tests by updating that file if it had taken effect, but it doesn't seem to be. I'm getting errors when I try following the instructions here: https://github.com/redwoodjs/redwood/blob/main

[2021-10-02 17:53] malekjaroslav commented on #3496
Thank you for the prompt fix!

[2021-10-02 22:02] virtuoushub commented on #3094
🌊 - I'd like to take this on.

[2021-10-03 15:53] dthyresson commented on #3494
Not sure about building and deploying to Netlify, but a dev app locally w/out sdl or services is ok.

<img width="378" alt="image" src="https://user-images.githubusercontent.com/1051633/135761685-f50151d3-2125-42e0-a8ec-1f1654034caf.png">

And GraphQL playground is on on dev:

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/1051633/135761707-4f28da55-61ee-4aa2-8ff3-dcb

[2021-10-03 15:56] dthyresson commented on #3494
@jtoar Can we find out form this original poster what db they tried to use, if any? Maybe Prisma client tried to use a SQLite db?

[2021-10-03 16:02] dthyresson commented on #3494
Local Netlify build and dev is ok.

* `netlify init` and link to site
* `yarn rw setup deploy netlify`
* `netlify build`
* `netlify dev`

Can access local GraphQL playground

Actually, you can't make a GET request to `graphql` in production via a web browser -- the playground is disabled.

@jtoar Try a POST GraphQL query like:

[code]

[2021-10-03 17:18] jtoar commented on #3494
@dthyresson sure; @doesnotexist let me know if theres more to it than this. I believe the user just created a new project, setup firebase auth, made a home page and a layout, then deployed to netlify. It sounds like it was just an early deployment to get things rolling.

Here's some messages from discord:

healthz.js

502 status code

The user's api package.json:

[code]

I believe they also had s

[2021-10-03 17:23] dthyresson commented on #3494
Ok, but what exactly are you trying to request from the GraphQL api? What query or mutation is the cell making?

You have to make a proper GraphQL request -- ie, a post with application/json and a properly formed query.

But, what is it querying? Did the redwood version query work? Did the GraphQL api work when using in Postman or Insomnia?

When you say `app makes a request to .netlify/functions/

[2021-10-03 17:26] dthyresson commented on #3494
So, my Netlify app w/ v37.1 and if I try to do

`https://redwoodblog-with-identity.netlify.app/.netlify/functions/graphql` from a browser which you cannot do because it isn't a post and it isn't a properly formatted GraphQL query:

<img width="425" alt="image" src="https://user-images.githubusercontent.com/1051633/135764835-ee2ccce0-821e-4e19-b57c-45b48fed8893.png">

[2021-10-03 17:28] dthyresson commented on #3494
Can they share the repo?

[2021-10-03 17:48] jtoar commented on #3494
Not sure; just relaying what the user said on Discord. They did have auth setup so it could've been the query the AuthProvider makes for the currentUser? I was just able to reproduce a version of the error using the steps in the original post.

Making a POST request to the deploy in my original post doesn't work for me either. I might have something setup wrong? It can't introspect the schema eith

[2021-10-03 19:06] Tobbe opened #3501 "With `trailingSlashes="always"` `yarn rw g page` will generate invalid paths"
If you have `trailingSlashes` set to `"always"` and generate a new page with `yarn rw g page` the path for the generated page in Routes.tsx will *not* have a trailing space, so it will be impossible to go to.

![image](https://user-images.githubusercontent.com/30793/135767866-750d4ea8-b8a1-4c4d-9431-5d12eba15390.png)

In the screenshot above you can see I generated the "slash" page, and the path i

[2021-10-03 19:09] jtoar commented on #3501
Very true; thanks @Tobbe!

[2021-10-04 01:28] cannikin commented on #3036
@jeliasson Next part of the puzzle: how to build the web side for a new deploy while the `dist` folder is being served to the live site—currently the live assets will change as the build progresses because it's overriding the files in there. The way that Rails deploys typically handle this is by checking out a new copy of the repo into a folder named with a timestamp, and buliding in there. nginx

[2021-10-04 14:50] doesnotexist commented on #3494
Here's a repo that reproduces the issue:
https://github.com/doesnotexist/gqltag-test

Which I've deployed here:
https://rw-gqltag-test.netlify.app

The graphql request is sent when a user is logged in by the call to this.getCurrentUser()
https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/AuthProvider.tsx#L204

[2021-10-04 15:19] deibeljc opened #3503 "Redwood IDE: Cannot activate because [Deprecated] Browser Preview is not loaded"
I get this error when I tried to use the redwood IDE in vscode. I use a remote connection to my WSL 2 instance on windows in vscode for development. Reloading the window does not work and I have even tried opening a browser preview window (which loads after a second) then trying to reload. Same issue persists

![image](https://user-images.githubusercontent.com/10842162/135877889-8fa0136d-0553-476c

[2021-10-04 15:20] dthyresson commented on #3494
Thanks for the repo. This should help.

So, you cannot make a GET request to the GraphQL server like that -- and in production, the GraphQL playground and introspection is disabled by default for extra security best practices.

Instead, use a tool like Postman or Insomnia to make a POST request with a query.

But, based on the error message, the graphql server isn't up.

[2021-10-04 15:21] deibeljc commented on #3503
Closing because its a duplicate of #1478

[2021-10-04 15:21] #3503 closed

[2021-10-04 15:53] dthyresson opened #3504 "Deprecate beforeResolver"

[2021-10-04 16:14] dthyresson opened #3505 "Prisma v3 upgrade"
- How to integrate new Prisma db seed command

@dthyresson

[2021-10-04 17:42] #3494 closed

[2021-10-04 18:01] #3182 closed

[2021-10-04 18:02] thedavidprice opened #3506 "ESBuild has been deprecated as a Web build option: needs to be removed from config and docs"
When the API build was updated to be a two-step transpire, using ESBuild for the second step, the option to use `--esbuild` for Web was removed. If someone trying to add the option to build or dev, the commands will now fail.

TO DO:
- [ ] remove `--esbuild` option and related code related to redwood.toml (I believe it's completely removed from CLI)
- [ ] update CLI and redwood.toml docs to remove

[2021-10-04 18:11] jtoar commented on #3494
Just confirming that #3495 fixed this for me:

![image](https://user-images.githubusercontent.com/32992335/135902326-bf0b6ed1-2ab3-42eb-9ed4-75f9cab9e9cc.png)

[2021-10-04 18:47] 7shantanu7 commented on #3506
Hi, I'd like to work on this. Can you please assign it to me?

[2021-10-04 19:21] thedavidprice commented on #3506
Great! Please do loop me in on a PR for questions and when ready for review. Here are a few related files where you'll see there's unnecessary esbuild config for Web:
- https://github.com/redwoodjs/redwood/blob/2808ca8a46bd0f97104ea09c8274c66205a8cc95/packages/internal/src/config.ts
- https://github.com/redwoodjs/redwood/blob/bb5e6a884f7717b5f05db79fe377af32559e6dc7/packages/core/config/webpack.co

[2021-10-04 21:38] thedavidprice commented on #3501
Looping in @KrisCoulson in case there's reason to sync up on this one.

Thanks!

[2021-10-04 21:42] #3438 closed

[2021-10-05 02:41] papaponmx commented on #3390
Hi, @dac09. it is.

This is what my grapqhl handler looks like:
[code]

[2021-10-05 02:58] papaponmx commented on #3390
They see the unauthenticated error.

![2021-10-04 -21 45 31](https://user-images.githubusercontent.com/13476631/135952160-efe9235e-0993-4ff8-91bc-a6f10ad8834c.png)

Kind of, what I am trying to do is to list all of the roles that exist, only for authenticated users.

@dthyresson, removing the `requireAuth()`  from the the roles service, as you suggested, solved the problem. Here is a link to [the

[2021-10-05 16:25] cannikin commented on #3263
@mojombo and I had an API brainstorming session and settled on a syntax we like!

[code]

It even reads kinda like real text—the ellipsis implies "and everything else..."! The value that's returned is *always* a string and contains no additional processing (don't try to split on `/` and turn into an array, for example).

It should let you:

1. have additional URL parts after the glob
2. have multi

[2021-10-05 17:09] facinick commented on #2121
Hello, can I fix this? How do I find issues that no one is working on already?

[2021-10-05 17:32] 7shantanu7 commented on #3506
Can you please direct towards an example for document file with the mention of esbuild that needs to be changed?

[2021-10-05 17:44] thedavidprice commented on #3402
Can anyone confirm if this is an issue with v0.37?

[2021-10-05 17:47] KrisCoulson commented on #2121
@facinick definitely!  no one is assigned to this one so I would say just open up a PR with some changes and link it to this issue.

[2021-10-05 20:00] thedavidprice commented on #3506
Ah, it looks like we _did_ remove from CLI build and dev commands. So the remaining place is here:
- https://redwoodjs.com/docs/app-configuration-redwood-toml.html#esbuild
- which comes from this file: https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/appConfiguration.md

[2021-10-05 21:08] dthyresson opened #3512 "RFC - Setup Seed Script with Provider"
Now that Prisma v3.x.x provides a mechanism to run any script to seed data, you can envision a `rw setup seed <provider>` script that:

* updates the package.json to run the script command (yarn rw exec perhaps or some bash script, etc.)
* adds a seed script for particular provider and purpose

For example:

* CSV load
* JSON data load
* Snaplet backup and restore
* pgdump and restore
* pgsql scri

[2021-10-05 21:55] domvernon commented on #3493
I would definitely be up for this, although can't commit to it for at least a week - if someone wants to go ahead in the mean time and fix it they are very welcome to.

[2021-10-05 22:41] cannikin opened #3513 "[RFC] Service validations"
## The Concept

One feature we haven't borrowed from Rails yet is the concept of "validations" or "validators". In Rails, the model objects are your interaction with your data—they generally represent a single table in your database and all interactions are through the model, not by writing SQL directly. In this respect they're very similar to Prisma. However, Prisma is really just a convenience w

[2021-10-06 00:56] cjreimer opened #3514 "yarn rw g types exit code"
`yarn rw g types` is very helpful and indicates errors, such as below.

[code]

The type generation is also called automatically via various other redwood operations.  If not paying attention to the console, it's easy to miss errors.

**Would it be possible to produce a failure exit code if there are errors?**  That we could run this command as part of CI checks to ensure that errors do not get ov

[2021-10-06 03:51] thedavidprice commented on #3375
Closing this issue to consolidate the topic over here:
https://github.com/redwoodjs/redwood/issues/3263#issuecomment-934564373

[2021-10-06 03:51] #3375 closed

[2021-10-06 03:56] thedavidprice commented on #3263
@macovedj given the above API syntax via @cannikin and @mojombo, is this something you'd like to take on? It's a great candidate for including in v1 requirements, but not something anyone on the core team is able to take on at this time. No pressure. Just communicating status.

[2021-10-06 05:18] thedavidprice opened #3516 "Yarn 3 + Framework Tools: Potential next-step improvements"
cc @peterp

_Continues the work from PR #3154. For context:_
- https://github.com/redwoodjs/redwood/pull/3154#issue-957115489
- https://github.com/redwoodjs/redwood/pull/3154#issuecomment-922070030

Yarn 3 "scopes" binaries much more strictly than Yarn 1. To access a bin, it must be a dependency in the workspace directory or in the root package.json. This works a bit against the original purpose o

[2021-10-06 05:42] thedavidprice opened #3517 "POC: Migrating a Redwood Project to Yarn v3"
### Install = ✅
Here's a process video for step 1, which is setting the Yarn Berry version in the project and adding config. `yarn install` runs successfully!
https://s.tape.sh/zoK5uwZw

And, no, it will _not_ dev 😧

### Redwood CLI (and any other binaries) = ⛔️
Yarn 3 strictly scopes binaries — `yarn run` will refuse to run a .bin unless it is a dependency in either the workspace directory or the

[2021-10-06 05:46] thedavidprice commented on #3374
Hi @kibertoad As a part of our roadmap to Redwood v1, we would like to make the transition from Express to Fastify. However, given the current list of tasks assigned to core team maintainers, we're not sure if this is something we'll be able to add to our list.

Would you be interested in helping with this PR given help + guidance from @peterp? No pressure at all as we understand either way. Thank

[2021-10-06 06:11] kibertoad commented on #3374
Would be happy to.

[2021-10-06 15:18] macovedj commented on #3263
Hi all.  @cannikin and @mojombo that syntax seems like it certainly gets the job done to me.  Happy to take it on... but also @Tobbe I'm curious what you think, given the points you've made about what is already supported.  Does it maybe just make sense to make a new glob [coreParamType](https://github.com/redwoodjs/redwood/blob/main/packages/router/src/util.ts#L36)?  I think if  we implement the

[2021-10-06 15:41] cannikin commented on #3263
Hmm, there shouldn't be any boilerplate needed from the developer's standpoint—this is a brand new syntax that will just be supported automatically. The Router code needs some updated logic to look for `...` and act accordingly. If it's by associating that syntax to a new `coreParamType` then that's cool, but the end user would never know that's what's actually happening.

It seems like adding a n