[2021-03-24 22:16] dthyresson commented on #1630
@cannikin and @thedavidprice There isn't *yet* but I have started documenting scenarios (Info disclosure, Depth, Injection, Validation, etc).

[2021-03-24 22:53] cannikin commented on #2062
Sounds good to me! PR incoming...

[2021-03-24 23:23] #2074 closed

[2021-03-24 23:23] #2051 closed

[2021-03-25 00:23] cjreimer commented on #2062
Thanks @cannikin !

[2021-03-25 04:13] thedavidprice commented on #2092
Confirming I see this as well on Mac OS when running `yarn rw dev`.

Needs further diagnosis.

[2021-03-25 04:53] #2062 closed

[2021-03-25 05:44] thedavidprice opened #2095 "Add per request global context test to E2E"
@peterp when we discussed adding a test for the changes in https://github.com/redwoodjs/redwood/pull/1789, I believe you had an idea for adding a test to our E2E runner.

Making sure we follow-up and discuss next steps (if any).

[2021-03-25 06:07] peterp commented on #2095
I've added a jest test fo this, and as for e2e they're enabled by default, so if the e2e tests are working then so is the per-request context!

I don't think we need anything else.

[2021-03-25 06:07] #2095 closed

[2021-03-25 06:17] peterp commented on #2092
This is fixed in esbuild. The dev-server will become deprecated, and we'll use `api-server` in watch mode instead.

[2021-03-25 06:20] peterp commented on #2092
@adriatic Please try using `yarn rw dev --esbuild` when v0.28.0 is released

[2021-03-25 07:01] thedavidprice commented on #1778
**Update:** I have not re-deployed. Visited my app today and re-encountered the screen-of-death.

Next time will try hard browser reset and cache clearing. And a bit more time.

[2021-03-25 07:24] KrisCoulson commented on #2078
@dac09 unfortunately I still could not get this to work following your instructions above. I still ran into errors. I will patiently wait for #1960

[2021-03-25 13:24] adriatic commented on #2092
Will do and report back here

[2021-03-25 13:29] renansoares commented on #2088
can I pick up this?

[2021-03-25 14:14] thedavidprice commented on #2088
@renansoares Yes, please! Thank you for jumping in and offering.

Keep Peter in the loop as you go. And let us know if you have any questions.

[2021-03-25 19:03] Irev-Dev commented on #2071
Thanks @dac09
I just tried the PR install myself and it didn't work either, but your `--stats` report looks really good.

[2021-03-25 21:56] #2071 closed

[2021-03-26 00:01] dac09 commented on #2071
Hey Kurt, now that the PR is merged, would you like to give it a try in canary?

`yarn rw upgrade -t canary`

Let us know how you get on!

[2021-03-26 07:33] noire-munich opened #2120 "Esbuild - feedback after v0.28.0 bump"
Hi @peterp !

Gave esbuild a spin this morning right after the upgrade, here's a short feedback.

I thought candidly that `yarn rw dev api --esbuild` would work but it doesn't:

[code]

Being a notorious noob I do not know if this is a bug or if this option shouldn't be allowed on `yarn rw dev api` :)

Second! I ran `yarn rw dev --esbuild`. When it eventually resolved on the web side, here's what

[2021-03-26 07:39] KrisCoulson opened #2121 "Should searchParams overwrite path params?"
While working with the new Set component and digging through some code I noticed that we don't split `pathParams`  from `searchParams`. They are all just considered `params`.

In the `router.tsx` searchParams will overwrite whatever you have in your path.
https://github.com/redwoodjs/redwood/blob/49bea7cad18178511d9c21fd3edee0526aa187ee/packages/router/src/router.tsx#L128-L129

Example Route
```/u

[2021-03-26 08:41] Irev-Dev commented on #2071
Really happy with this, I ran `yarn rw build web --stats` and it's definitely splits things, but then I changed a few imports to dynamic imports and I can see the effect of that too. Gives me a lot more confidence that I'll be able to manage my chunk sizes and control how and when js gets to the app 🙌

Is this likely to make it into 0.29?

Here are two screen shots for good measure.
![image](https

[2021-03-26 10:30] Tobbe commented on #2121
As I mentioned when we talked about it, I think we should keep them as one, cuz it's really nice being able to do
[code]
and just have it available in the page

But I do think we should switch the logic around, so `pathParams` overwrites `searchParams`. That way no user can come and just overwrite your variables by appending ?whatever to the URL.

And all of this should definitely be documented!

[2021-03-26 10:34] Tobbe commented on #2071
It's already merged, so unless we find any big bugs with it we can't resolve, it's going to be in 0.29 👍

[2021-03-26 11:05] peterp commented on #2120
Whoops! I need to update the instructions, you must install `@redwoodjs/api-server` in `./api`

[2021-03-26 13:05] dthyresson commented on #2053
On an upgrade to v0.28 I saw this warning as well:

[code]

[2021-03-26 15:59] dthyresson commented on #2053
@peterp or @aldonline Is ts-morph something that can be updated/removed from `@redwoodjs#structure` to alleviate the above mentioned Prisma Typescript warning?

[2021-03-26 16:30] dthyresson opened #2123 "Upgrade to PostCss 8 so that can use later versions of TailwindCss/UI"
Currently one has to use a PostCss compatible version of TailwindCss.

[code]

@jtoar I recall you looked into this when creating the Tailwind setup.

@thedavidprice thinks it may have been related to WebPack 4 or 5.

What do you think it would take to upgrade to PostCss 8 and then be able to use the latest TW releases?

@Burnsy is using https://github.com/ben-rogerson/twin.macro and has some issu

[2021-03-26 17:30] saideepesh000 commented on #1013
Hey @thedavidprice @jtoar @peterp, can I work on this.

[2021-03-26 18:12] dthyresson commented on #2123
@jtoar has proposed adding this PostCSS update to a 28.x patch.

[2021-03-26 18:15] o0charlie0o opened #2124 "Navigating to a route not previously visited flashes white"
I just went up from `0.26.2` to `0.28.0` and now when I navigate to a route using Link that I haven't yet visited in the current session the screen briefly flashes white before displaying the next route. This was not the case in `0.26.2` and before. The 2 routes I've navigated between have the same overall layout and navigation. I suspect it may have something to do with the new `<Set wrap={}>` fe

[2021-03-26 19:47] dthyresson commented on #1281
@jeliasson Has the new [Prisma migrate flow](https://www.prisma.io/docs/guides/application-lifecycle/developing-with-prisma-migrate) addressed the prototyping issues?

For example, the wanted [db push](https://www.prisma.io/docs/guides/application-lifecycle/prototyping-schema-db-push/)
 to help specifically with "Schema prototyping with db push"?

If so, then we can close out this issue.

[2021-03-26 19:54] dthyresson commented on #1022
@Tobbe Do you think `generating a new layout` during scaffold is still useful enhancement given v0.28's Set?

Or would this somehow introduce a Set and associate the new page/rout within the Set block?

[2021-03-26 20:00] dthyresson commented on #827
RedwoodJS [release v0.28](https://community.redwoodjs.com/t/redwood-v0-28-is-amazing/1982) includes Logging, but with pino.

See https://redwoodjs.com/docs/logger.html#logger for details.

Closing issue.

[2021-03-26 20:00] #827 closed

[2021-03-26 20:07] dthyresson commented on #249
@clairefro and @cannikin Should this issue for Chinese translation be moved to the learn repo?

[2021-03-26 20:08] Tobbe commented on #1022
I think, when scaffolding, a Set should be created with the new layout passed to `wrap`, and then all scaffolded pages should be wrapped by that Set.

And then, this issue report would probably be about adding a new batch of scaffolded pages to an existing set. But that's going to be really difficult, because how would you know what set to add them to? A layout can be used in several different Set

[2021-03-26 20:22] dthyresson commented on #2124
@dac09 Is visiting `route not previously visited flashes white` issue reported here related to prerender and if one needs to import the Page in Routes?

[2021-03-26 20:28] dthyresson commented on #1667
@jtoar Will an upgrade to Webpack v5 be needed if upgrading to PostCss 8? See: https://github.com/redwoodjs/redwood/issues/2123

[2021-03-26 20:34] dthyresson commented on #1664
@viperfx Did the `zip -ur /dist/functions/graphql.zip ./email/src/templates` approach solve this deploy scenario? If so, perhaps we can close. Thanks!

[2021-03-26 21:01] Tobbe commented on #2124
Manually importing the page would be a good first test no matter what 🙂 @o0charlie0o Could you do that please, and see if the flashes goes away?

[2021-03-26 21:30] esteban-url commented on #2120
I'm running into the problem when spinning up a brand new app

`$ yarn create redwood-app my-redwood-app` <- looks good
`$ cd my-redwood-app`
`$ yarn redwood dev` <- 💣
[code]
<details>
  <summary>full cli output</summary>

[code]
</details>

so I tried the esbuild flag
`$ yarn rw dev --esbuild` <- again it throws errors
[code]

<details>
  <summary>Full cli output</summary>

[code]
</details>

so

[2021-03-26 21:34] clairefro commented on #249
We currently have translation set up only for the tutorials. If @hszhakka is interested in starting a Chinese translation of the tutorial, that would be totally welcome!

If interested, feel free to open an issue in the [tutorials repo](https://github.com/redwoodjs/learn.redwoodjs.com) and I'll get it set up

[2021-03-26 21:41] o0charlie0o commented on #2124
@Tobbe @dthyresson Manually importing the pages does indeed fix the issue.

[2021-03-26 21:45] dthyresson commented on #2124
Thanks! @o0charlie0o.

@dac09 Does

need to be added to documentation, or is there another issue?

[2021-03-26 22:23] semagraph opened #2126 "v0.28 esbuild feedback"
Just gave the new `yarn rw dev --esbuild` feature a try after upgrading from v0.27 to v0.28, and I'm getting this error in the chrome console:

[code]

and from the rw logs:
[code]

Redwood Version:
[code]

[2021-03-26 23:19] thedavidprice commented on #2126
Thanks for reporting this @semagraph Looping in @peterp

Might be a duplicate of https://github.com/redwoodjs/redwood/issues/2120

[2021-03-26 23:46] thedavidprice opened #2127 "[patch] v0.28 `rw dev` results in API Apollo Server Node "Error: called start() with surprising state""
_Originally posted by @esteban-url in https://github.com/redwoodjs/redwood/issues/2120#issuecomment-808518699_

⚠️ This is a PATCH candidate for v0.28

---

I'm running into the problem when spinning up a brand new app

`$ yarn create redwood-app my-redwood-app` <- looks good
`$ cd my-redwood-app`
`$ yarn redwood dev` <- 💣
[code]
<details>
  <summary>complete output</summary>

[code]
</details>

s

[2021-03-26 23:48] thedavidprice commented on #2120
@esteban-url Your error above is _not_ related to Esbuild. It looks like an issue between Node and Apollo server versions. I've been able to replicate locally, but I only get a Warning.

I've copied your comment into a new Issue here: https://github.com/redwoodjs/redwood/issues/2127

Would it be possible for you to comment with the output from your project's `yarn redwood info`? I'd like to know w

[2021-03-26 23:51] thedavidprice commented on #2127
Confirming I have reproduced this locally. However, I am only receiving a WARNING. My guess is that this is a Node.js <> Apollo Server version issue. I'm currently on `Node: 14.15.4`. My guess is that @esteban-url is on `Node 15`.

Possible fix --> upgrading Apollo Server package version in `@redwoodjs/api`

We didn't see this in CI because we run against Node.js v14 and it's a Warning, not an err

[2021-03-27 00:09] thedavidprice commented on #2127
Upgrading to apollo-server-lambda@2.22.1 did _not_ resolve. But we should do this as well.

[2021-03-27 01:42] Tobbe commented on #2127
[code]

[code]

This was with a brand new app.

It still works, as in it launches to this page in my web browser
![image](https://user-images.githubusercontent.com/30793/112706654-fb316b00-8ea5-11eb-84db-6804dc6591f2.png)

But maybe if I had an actual graphql api things wouldn't go so well...

[2021-03-27 02:33] NickR49 commented on #2127
[code]
I've done the tutorial. The app runs fine locally but the deployed app fails with GraphQL calls - a 502 response.
I see this in the GraphQL function (via Netlify) -
[code]

[2021-03-27 05:06] esteban-url commented on #2127
here's my the output @thedavidprice
[code]

[2021-03-27 05:09] esteban-url commented on #2127
@Tobbe yes i can confirm when you try to hit the graphql endpoint it fails too.

this is the error:

[code]

[2021-03-27 10:00] peterp opened #2128 "Move "get started" instructions to the bottom after installation"
![image](https://user-images.githubusercontent.com/44849/112717219-d368f400-8ef3-11eb-8e21-edb9855fc91d.png)

I think it might be easier to parse if the most important information (the text I highlighted) is at the bottom of the installation instructions.

[2021-03-27 10:08] jeliasson commented on #1281
@dthyresson Definitely. 🙏🏻

[2021-03-27 10:08] #1281 closed

[2021-03-27 10:15] peterp commented on #2127
I pinned the `apollo-server-core` version (using yarn resolutions) to `2.18.2` and the problem went away.

![image](https://user-images.githubusercontent.com/44849/112717532-175cf880-8ef6-11eb-8616-44f29a31fe60.png)

It appears that they attempted to fix a bug in `apollo-server-core` in the latest release:

But instead... they ended up breaking things.

[2021-03-27 10:24] peterp commented on #2127
I've reported this over here (https://github.com/apollographql/apollo-server/issues/5066), but I think the root cause of why we didn't pick this up is because we do not ship a yarn.lock file anymore:

[2021-03-27 10:29] peterp commented on #2126
Thanks, I've updated the instructions on community: You need to install the api-server:

`yarn workspace api add -D @redwoodjs/api`

But, to make sure the process is seamless I'll include it as a development dependency.

[2021-03-27 10:38] peterp commented on #2127
I'll proceed to add a `yarn.lock` file to the `create-redwood-app` template

[2021-03-27 11:07] semagraph commented on #2126
That resolved the issue, thanks guys

[2021-03-27 11:07] #2126 closed

[2021-03-27 11:11] #2120 closed

[2021-03-27 11:11] #2127 closed

[2021-03-27 11:55] peterp commented on #2067
I've had to do this now, but followed a slightly different process:

1. `git checkout tags/v0.28.0 -b v0.28.1`
2. Pick the merges that I want in v0.28.1: `git cherry-pick d8649c98056d5aefccf972d11461d469c3821b2f`
3. Bump the versions: `./tasks/update-package-versions 0.28.1`
4. Create a new tag: `git tag v0.28.1`
5. Push that up to GitHub: `git push --tags`
6. Create a new PR and make sure that ev

[2021-03-27 13:07] jvanbaarsen opened #2131 "Router seems not to be working in testing"
I have a very straight forward test (Just checking if no error is thrown), it renders a link on that page, in the browser this works, but in the tests I get this error:

[code]

I'm wondering if this is something that just me is seeing, or that a bug might have slipped in when we introduced <Set> into the router. (This worked before that upgrade)

[2021-03-27 14:20] semagraph commented on #2128
Hey @peterp, do you want the 'Enter the directory...' line to go underneath the 'Find a Good First Issue' line?

[2021-03-27 14:53] renansoares commented on #2088
hi @peterp, could I add it to all functions that return some config that has defined external typing? ex: this line for webpack

https://github.com/redwoodjs/redwood/blob/439f23142805c87a369ba1597bd4099d6ba1d473/packages/core/config/webpack.common.js#L36

in this case, I would need to add something like `  /** @return {import('webpack').RuleSetRule} */`

I'm wondering if there is some limit to not

[2021-03-27 17:18] peterp commented on #2128
I think maybe those two sections should flip around:

[code]

[2021-03-27 17:34] jvanbaarsen commented on #2131
I double checked my assumption, when I removed the `<Set>` around the routes the test are OK, so somehow the tests aren't aware of any routes inside a `<Set>`

[2021-03-27 17:36] Tobbe commented on #2131
Could you please describe exactly how to reproduce this? Or a project we can run that shows the bug?
Thanks Jeroen!

[2021-03-27 17:40] semagraph commented on #2128
I was about to do a pull request but it looks like the change has already been made, guess I need to be a little quicker next time!

[2021-03-27 17:41] jvanbaarsen commented on #2131
I'll create a test project for you!

[2021-03-27 17:47] jvanbaarsen commented on #2131
@Tobbe https://github.com/jvanbaarsen/rw-router/tree/main. Just check it out and run `rw test web`

[2021-03-27 17:54] Tobbe commented on #2131
@jvanbaarsen Thank you, that's really helpful.

I can confirm the bug. This is the output I get

![image](https://user-images.githubusercontent.com/30793/112729657-9cafcf80-8f2d-11eb-8812-b757f4503c07.png)

And here's the code that causes it to fail

[code]

[2021-03-27 18:02] Ayushsunny commented on #2128
Hello @peterp I would like to work on this issue

[2021-03-27 18:40] Tobbe commented on #2131
I've tried debugging this for a while, and I think I know what's wrong. My guess is that the location isn't set properly when running the tests. But I can't get console.log to print anything when added to stuff inside the RW framework and running the tests. So I'm a bit stuck at the moment 🙁

[2021-03-27 21:53] Tobbe commented on #2131
I'm making progress! I just figured out we have a separate `MockRouter` that we use for testing. When I rewrote the main router I should have updated the mock router too. I'm off to bed now, but will have a look at MockRouter tomorrow

[2021-03-28 04:25] glasser commented on #2127
@thedavidprice The exact same issue occurs even when all `apollo-server*` packages are at 2.22.1? I see how I introduced a regression in v2.22 that occurs if you don't upgrade both packages to v2.22 at the same time (which I will work on resolving on Monday) but if you're also seeing the exact same error message with apollo-server-lambda when both packages are on v2.22.1 then the fix I'm imagining

[2021-03-28 05:36] vchoy opened #2132 "@apollo/client no longer exported from web"
Similar to:

https://github.com/redwoodjs/redwood/issues/1184

Error:
Module not found: Error: Can't resolve '@apollo/client' ( in [web] form component))

### Reproduce
Upgrade RW to 0.28 or 0.28.1

Works fine in 0.27.1 and below.

[2021-03-28 10:29] wafuwafu13 opened #2136 "Fix `CONTRIBUTING.md#integration-tests`"
https://github.com/redwoodjs/redwood/blob/main/CONTRIBUTING.md#integration-tests

`./tasks/test-tutorial` have been replaced by `./tasks/test-tutorial.js` in https://github.com/redwoodjs/redwood/pull/1896, and `tasks/test-tutorial.js` have been replaced by `tasks/run-e2e` in https://github.com/redwoodjs/redwood/pull/1810 .

[2021-03-28 11:33] peterp opened #2137 "`useParams` is empty on first render."
This may be something that I'm doing wrong, but I thought I would document it just incase.

I have a layout that with the `useParams()` hook, it appears to render twice, once when the params are empty, and again when they're populated. My expectation is that they're always populated.

[2021-03-28 15:35] peterp commented on #2132
Hey @vchoy,

Please import this direct from apollo.

[2021-03-28 15:35] #2132 closed

[2021-03-28 15:52] o0charlie0o commented on #2124
@dthyresson @dac09 If any documentation were to change regarding manual imports in the Routes file then the comments in the template should probably change too assuming this is intended and there isn't an underlying bug.

https://github.com/redwoodjs/redwood/blob/439f23142805c87a369ba1597bd4099d6ba1d473/packages/create-redwood-app/template/web/src/Routes.tsx#L1-L8

[2021-03-28 16:16] peterp commented on #2137
I think this may be happening in all components, not just wrapped ones.

[2021-03-28 22:15] vchoy commented on #2132
Understood @peterp,

`/`import { useLazyQuery } from '@redwoodjs/web/node_modules/@apollo/client'
seems to work.
I'll PR an updated documentation

[2021-03-28 22:24] vchoy commented on #2132
Dev notes:

I have tried to import directly as new package added to web component of rw `@apollo/client` however, this resulted in apollo client context missing.

Importing from directly node_modules under @redwoodjs/web doesn't sound quite right. Sorry i'm new to rw

[2021-03-28 22:31] vchoy commented on #2132
PR for documentation change: https://github.com/redwoodjs/redwoodjs.com/pull/651/commits/d47c1a6627ce1eb00ed515ea2059508d36ac0c0c

[2021-03-29 02:28] adriatic commented on #936
@aldonline @thedavidprice am I right assuming that this discussion did not move ahead from this point? I would like to pick it up enough to be able to write the debugging chapter for the Developing Redwood apps on Windows, so I would appreciate to learn about advancements Aldo has made. Note that before stepping into VSCode extensions (that is Aldo’s main drive), I would like to define the feature

[2021-03-29 08:54] peterp opened #2139 "Allow `beforeQuery` in a Cell component to receive the params"
The router/ location is a form of state. It would be great to be able to grab the params and use that in a GraphQL query.

Something like:
[code]

I think this should be fairly achievable by passing the params in the `withCell`

[2021-03-29 09:07] peterp opened #2140 "Introduce top-level `CellPage` component"
Now that we have the amazing `Set` component in the Router, Thanks @Tobbe, which removes a bunch of boilerplate, and I often find that I have a page that directly calls a cell.

I think a good addition would be to introduce a "CellPage" component, which is a Page that has the lifecycle methods of a "Cell."

This may also be a good starting point for `getStaticProps`

[2021-03-29 09:11] peterp opened #2141 "Allow params to be appended to an existing route"
When you want to navigate to a route you must supply all the params: `navigate(route.routeName({ documentId: "1" }))`, which is fine, but if it's a deeply nested route you must do something like this:

[code]

A deeper example:

I have `routes.editProject`: `/organization/{organizationId}/project/{projectId}/edit/{documentId}`, if I wanted to navigate to `route.editProject` I would have to supply

[2021-03-29 09:23] Tobbe commented on #2139
Semi-related to https://github.com/redwoodjs/redwood/issues/2121 maybe it should be `beforeQuery = ({ pathParams, searchParams, ...props })` to avoid conflicts. The solution here should be aligned with whatever is decided for #2121

[2021-03-29 09:35] Tobbe commented on #2140
Here's an example from the tutorial

![image](https://user-images.githubusercontent.com/30793/112816482-c11cc080-9081-11eb-97cb-22e053ab02c7.png)

This could be simplified to just a `<HomeCellPage>` that directly exported `QUERY`, `Success` etc.

Here's another example

![image](https://user-images.githubusercontent.com/30793/112817309-91ba8380-9082-11eb-83bd-e21fb8f761c1.png)

But that brings up

[2021-03-29 09:59] peterp commented on #2088
@renansoares I think it's ok to add it to the top-level `module.exports`

[2021-03-29 14:54] #2137 closed

[2021-03-29 15:22] #2131 closed

[2021-03-29 19:32] dac09 commented on #2124
I do think this is still a bug and worth investigating. Importing the page means that it isn't going to be code split, which isn't ideal, but also tells me it's something to do with the page-loader component!

[2021-03-29 20:00] glasser commented on #2127
@peterp I believe apollo-server-core@2.22.2 should be compatible with the older version of apollo-server-lambda, so you should be able to remove the resolution override now (I don't think npm/yarn will choose to install the broken 2.22.0/2.22.1 versions now that 2.22.2 is out). I also encourage you to upgrade apollo-server-lambda to v2.22.2; let me know if there's some reason that upgrade doesn't

[2021-03-29 20:53] dthyresson opened #2148 "Improve GraphQL auth security"
Research ways that can improve security related to GraphQL.

[2021-03-29 21:46] thedavidprice commented on #2127
Thanks @glasser Peter has been focused on a different issue and it's now late for him.

I'll dig into this now. Agreed about upgrading to v2.22.2 and can take that for a spin.

[2021-03-30 01:25] thedavidprice commented on #2067
@peterp it looks like #2082 and #2085 snuck into v0.28.1 I originally merged them so we could leave in canary for a cycle of testing. Guessing these snuck in. We should add a "compare" step to the processes above before publishing a patch.

https://github.com/redwoodjs/redwood/compare/v0.28.0...v0.28.1

<img width="754" alt="Screen Shot 2021-03-29 at 6 23 25 PM" src="https://user-images.githubuser

[2021-03-30 05:10] thedavidprice commented on #2060
Looping in @dac09 🚀

[2021-03-30 06:16] thedavidprice commented on #2127
PR here #2153

[2021-03-30 14:49] peterp opened #2155 "Do not verify the auth0 token during development"
I would like to have two paths for the auth0 token:

1. development: decode
2. production: decode and verify

I have fairly slow internet and I'm finding it _really_ difficult to work against auth0. Maybe a second choice is to cache the key to disk or something?

I think we can protect against not verify in production with tests.

@dthyresson thoughts?

[2021-03-30 15:13] Tobbe commented on #2155
We can do the same checks we do for netlify, to only decode in dev/test

[2021-03-30 15:32] dthyresson commented on #2155
As @Tobbe noted, this is how `NetlifyIdentity` behaves already (see: https://github.com/redwoodjs/redwood/blob/b4a63efe7057fa182a2257f7dbbf67784658efb5/packages/api/src/auth/decoders/netlify.ts#L14):
[code]

One could do the same and just

https://github.com/redwoodjs/redwood/blob/b4a63efe7057fa182a2257f7dbbf67784658efb5/packages/api/src/auth/decoders/auth0.ts#L40

when not development or test.

[2021-03-30 17:04] dac09 commented on #1963
Hey @Burnsy, @peterp - is it important for this to be user modifiable?

I was thinking to hide it away in the `.redwood` folder, and infer the type from src/lib/auth#getCurrentUser. So if you type that function correctly (or it can be inferred by TS), context.currentUser will also be correctly typed.

Is this going to prevent you guys from doing something you're looking to?

[2021-03-30 18:04] peterp commented on #2140
Could also be called `CellPage`

[2021-03-30 18:55] peterp commented on #2155
The reason why I pinged @dthyresson is because I think it was this way before, but we might have changed it because we had security concerns... If I'm remembering correctly, but if we're OK with this 👍

[2021-03-30 19:51] dac09 commented on #1963
Sounds good man :)

[2021-03-30 22:17] thedavidprice commented on #2067
So, I’m trying to figure out how to update the new `template/yarn.lock`. Here’s my dilemma, it needs to be done based on the packages that will be released.
- publish v0.28.3
- using the published v0.28.3, run yarn install to update template/yarn.lock

But I can’t do this because it’s all in the same repo and gets published simultaneously.

The best I could do is update `yarn.lock` after the packa

[2021-03-31 04:37] andrew-hwahin opened #2159 "Redwood Diagnostic Improvement: check Cell exports and warn if missing"
Performing `yarn rw check` did not show warning for missing `Query` statement in a cell file. It's a bit difficult to pinpoint the issue if no warning is shown.

The screenshot below showed that no warning is showed for the missing `Query` when performing `yarn rw check`
![image](https://user-images.githubusercontent.com/61768800/113090546-9d41b200-921c-11eb-80ef-d3ca31b25f28.png)

Recently, I and

[2021-03-31 04:48] thedavidprice commented on #2159
cc @adriatic This appears to be the issue you are encountering in your project here: https://github.com/congral/redwoodblog/blob/master/web/src/components/BlogPostCell/BlogPostCell.js

There is no export `Query`

[2021-03-31 04:49] thedavidprice commented on #2159
@aldonline using the current Model for a Cell, would you be able to provide some direction as to how someone could add this check to the current Diagnostics?

[2021-03-31 04:59] thedavidprice opened #2160 "E2E: Add Logger check to CI"
related to https://github.com/redwoodjs/redwood/issues/1886

@dthyresson Can you suggest a basic Logger functionality check (or checks) we could include in the Cypress tests? It likely needs to be file or path-based as we spin up the dev server in a separate process than Cypress, which means I'm not sure if Cypress has access to the console (I can verify).

We can make code modifications, which is

[2021-03-31 08:31] Tobbe commented on #2159
I'm not saying the current behavior is right. Or wrong. But it is a conscious decision by someone at some point in time.

From https://redwoodjs.com/docs/cells#how-does-redwood-know-a-cell-is-a-cell

So not exporting `QUERY` is a way to let someone have a file end with *Cell.js, without Redwood treating it as a cell. An escape hatch if you will.

Here's code from the structure package that explici

[2021-03-31 09:44] andrew-hwahin opened #2162 "0.28.3 Submitting a form with an empty DateField will throw an error."
RedwoodJS version 0.28.3 ([Sample repo GitHub link](https://github.com/andrew-hwahin/my-redwood-app-v0.28.3))
---------------------------------------------------------------
The DateField is set as optional by excluding `validation={{ required: true }}` 👇
[web/src/components/UserExampleForm/UserExampleForm.js](https://github.com/andrew-hwahin/my-redwood-app-v0.28.3/blob/main/web/src/components/Use

[2021-03-31 14:10] dthyresson commented on #2160
@thedavidprice I have not used Cypress before, but I think we would:

* update `logger.ts` in api-side to use a file as a destination to a tmp directory (probably similar to that I use in CI tests)
* update the blog post service to import the logger and do a few trace, info, debugs
* check that log file has some expected content

[2021-03-31 16:03] ajoslin103 opened #2163 "Jamstack Generators is missing Redwood"
The Jamstack,org site has lost Redwood ?

[2021-03-31 16:27] dthyresson commented on #2160
Chatted with @thedavidprice and @dac09  and will add `04-api` Cypress integration to test logger.

[2021-03-31 17:49] cjreimer commented on #2162
Yes, I saw this as well and looked at it briefly in the code.  Looks like the exception will need to be caught in the coercion function.  Let me know if you'd like me to take a stab at it.

[2021-03-31 18:09] #2163 closed

[2021-03-31 19:04] thedavidprice commented on #2162
Do you mean updating/fixing in the Framework itself? If so, please do!

[2021-03-31 19:26] cjreimer commented on #2140
OK, I've been stewing on this since @peterp posted this.  I like the idea of having fewer almost empty source code files.  However, so far from my experience, I like the feel of "Cells" and "Pages" being distinct.  So rather than creating a new combined cell/page type, I'll throw out another idea.

My proposal is as follows:
- Allow an alternative form of a cell implemented in a 'hook' type format

[2021-03-31 20:42] KrisCoulson opened #2165 "@apollo/client cannot be resolved"
In a recent update `@apollo/client` can no longer be resolved
![image](https://user-images.githubusercontent.com/6943688/113208083-40e39000-9226-11eb-952b-9ec5d03a09e1.png)

We have documentation stating that useLazyQuery can be imported from `@apollo/client`
![image](https://user-images.githubusercontent.com/6943688/113208194-5d7fc800-9226-11eb-8890-50d8fc655bbc.png)

I believe that at som. point

[2021-03-31 20:45] KrisCoulson commented on #2165
A related PR for updating the documentation was recently submitted by @vchoy

https://github.com/redwoodjs/redwoodjs.com/pull/651

Additionally  tagging @peterp  @Tobbe  from @thedavidprice  request https://discord.com/channels/679514959968993311/716252919875240007/826917616400597023

[2021-03-31 20:47] thedavidprice commented on #2165
@KrisCoulson can you copy+paste the imports in your `web/src/App.js`? Curious if Apollo from redwood web is there.

[2021-03-31 20:51] KrisCoulson commented on #2165
@thedavidprice

[code]

[2021-03-31 21:01] adriatic commented on #2159
Missing the export statement should be diagnosed by lint - although it is too dangerous to extend lint for RWJS sake

Sent from my iPhone

[2021-03-31 23:55] thedavidprice commented on #1778
This just happened again upgrading to v0.28.3 https://redwoodjs-tutorial-test.netlify.app/

[2021-04-01 00:19] thedavidprice commented on #2165
@KrisCoulson I successfully tried `import { useLazyQuery } from '@apollo/client'` in my test project. Not sure how to diagnose further. Given that multiple people have reported now, I believe something is going on here 🤔

Any chance you have a repo or example code to share?

@jtoar have you run into this recently?

[2021-04-01 01:28] KrisCoulson commented on #2165
@thedavidprice besides my main project where the issue is happening I am not able to reproduce... on my redwood-dev test app I just tried the manual import from `@apollo/client` and it is imported with no errors.

[2021-04-01 01:47] dthyresson commented on #1778
Do you build locally and set the widget? I still think there are leftover artifacts from identity's config in your browser local storage and the two tokens are not compatible.

[2021-04-01 05:24] Tobbe commented on #2165
@KrisCoulson Can you please check where the @apollo/client package is located on your filesystem in your two different projects? Do you have just one copy in both projects?

I want to make sure yarn hasn't made any funny decisions here 😬

[2021-04-01 06:41] KrisCoulson commented on #2165
@Tobbe its actually kinda wierd. Hear me out I add `@apollo/client` in a different branch to `workspace web` and it started working. Which was expected but then I switched back to my `main` branch os that I could answer your question and cleared all the `node_modules` and it isn't throwing that exact error anymore... but it is throwing a different error.

![image](https://user-images.githubusercon

[2021-04-01 07:27] Tobbe commented on #2165
Do you have a node_modules in both / and web/ ? Where is @apollo/client? In just one of them? In both?

[2021-04-01 07:41] vchoy commented on #2165
@Tobbe , it's bundled as part of:

<base rw app>node_modules/@redwoodjs/web/node_modules/@apollo/client

[2021-04-01 07:43] jangxyz opened #2169 "Route parameter type provides wrong type for named routes"
Having

[code]

would make `routes.product({ id })` method available, but only `string` values are available.
This raises _false_ error on `.ts` files.

[code]

![image](https://user-images.githubusercontent.com/52015/113260335-1a4a5580-9309-11eb-8860-0c188e3eb678.png)

Here is the generated `.redwood/types/routes.d.ts` file:

[code]
It should at least support core route parameter types.

I tried

[2021-04-01 07:51] Tobbe commented on #2165
Thanks. Is that's the case both when it's working and when it's not working?

[2021-04-01 07:55] Tobbe commented on #2165
Running `yarn why @apollo/client` in both a project where it's working and one where it's not working would be very helpful 🙂

[2021-04-01 08:03] Tobbe commented on #2165
For me, in an app where it works, this is what I get
[code]

[2021-04-01 08:06] Tobbe commented on #2169
@dac09 Tagging you as I know you recently made a bunch of awesome improvements to the typings of the named routes

[2021-04-01 10:56] dac09 commented on #2169
Hey @jangxyz - thanks for raising this!

I was worried this might come up. I think the type is actually correct, because
- The names routes function actually generates the string to navigate to, and urls params are always strings
- when you put in {id:Int} you're actually specifying how to _parse_ the url parameter in the page, not what it's type is when you pass it in

Let me know if my logic her

[2021-04-01 11:29] jangxyz commented on #2169
@dac09 I can see that `{id:Int}` originally meant for correctly parsing the url parameters. Its purpose would be to block requests with wrong type of parameters (such as `/product/fancy-macbook`).
But why stop there? It seems only too strange to specify type on one side, and abandon the type on the other.

My original idea was to align the type specifications all the way: from route parameters to

[2021-04-01 11:49] Tobbe commented on #2169
@jangxyz That's a great, well thought out, response! Either way this goes, I still just wanted to let you know that 🙂

[2021-04-01 12:06] dac09 commented on #2169
@jangxyz I think you're right, this is a very well reasoned argument. I'll get a fix in (and maybe a patch @thedavidprice ?) soon

Complex types ftw!

[2021-04-01 12:27] dthyresson opened #2170 "Logger - Include option to override console.log and user Logger instead?"
Question for the Redwood community.

When upgrading some existing RW apps, I have had existing `console.log` statements.

There is a way to override `console` and use the Redwood longer instead so that `console.log` maps to `logger.info` and then also map the other console levels (warn, debug, etc).

See:

https://github.com/redwoodjs/redwood/blob/f1149a9fcc2483b6f1a5bdaa4531026eeab5385f/packages/

[2021-04-01 12:54] dthyresson opened #2171 "GraphQL Errors - Do they reveal too much about the underlying error in Production?"
Currently, the default GraphQL handler formats errors in dev but returns the error:

https://github.com/redwoodjs/redwood/blob/f1149a9fcc2483b6f1a5bdaa4531026eeab5385f/packages/api/src/functions/graphql.ts#L109

[code]

This can reveal the message like:

[code]

when here `missing` isn't available in the SDL.

Do these error reveal too much in production?

In the app's `graphql` one can use:

[cod

[2021-04-01 13:25] #2155 closed

[2021-04-01 14:08] dthyresson commented on #2171
For example:

[code]

results in:

[code]

[2021-04-01 15:30] KrisCoulson commented on #2165
@Tobbe  pretty much the same
[code]

[2021-04-01 15:32] dthyresson commented on #2171
Have discovered that might want to use the originalError:

[code]

Note: this was for testing, probably can just return the origin

[2021-04-01 15:34] thedavidprice commented on #2171
@dthyresson I'm not clear on a) which examples above are in dev vs. production and b) which are console vs. logger. (Or maybe that's _exactly_ the question you're trying to get to 😆 )

Overall, 100% agreed on nothing related to schema, SDL, etc should be visible for production console. And, if I understand correctly, I really like the idea about being able to "link" a production client-side error

[2021-04-01 16:22] Tobbe commented on #2165
That's super weird. Only diff is the patch version (12 vs 13).

Well, maybe it isn't so bad to tell people that if they want to use features from apollo directly, they need to be explicit about it and run `yarn workspace web add @apollo/client`?

Unless, of course, someone else has a better solution

[2021-04-01 16:35] thedavidprice commented on #2165
has anyone tried the following in a "broken" project?
1. delete _all_ node_modules from ./, web/, and api/
2. delete yarn.lock
3. `yarn`

Wondering if that clears up the import error?

[2021-04-01 17:02] KrisCoulson commented on #2165
@thedavidprice yes i have tried that removed api,web,and src using 'rm -rf web/node_modules' and the like for the other locations and the ran 'yarn --force' similar to one of the upgrade paths from a few releases ago

[2021-04-01 18:22] thedavidprice commented on #2165
@KrisCoulson and deleted `yarn.lock`?

This is really, really strange.

[2021-04-01 18:59] KrisCoulson commented on #2165
Hmm I might not have explicitly deleted the yarn lock file will give that a look try as soon as I get back to my computer

[2021-04-01 20:35] dac09 commented on #2169
@jangxyz If you have an apetite for even more complicated types, please do take a look at the PR.

I've added some additional functionality too

[2021-04-01 20:56] KrisCoulson commented on #2165
@thedavidprice I think that might have fixed it! I removed all `node_modules` and `yarn.lock` and the ran `yarn --force` and it seems to be working correctly  now.

And I think when I hit this error below was because I had `@apollo/client` manually added and there was an invariant mismatched I think from what redwood was using internally and what I was using in my web directory so this has now bee

[2021-04-01 22:58] #2165 closed

[2021-04-01 23:01] cannikin commented on #1630
Okay, I have an implementation of the "spec" class which is what the `run()` and `skip()` functions are run against! But I have absolutely no idea how to integrate it into Redwood itself, and do things like have GraphQL invoke this functionality before trying to call the actual resolver. I didn't even attempt to put this into the real Redwood codebase. Here's a gist with the BeforeSpec class: http

[2021-04-02 00:44] thedavidprice commented on #2165
Well, glad it's fixed! But wowza is yarn.lock a mystery to me sometimes.

Wondering if we need to add this as a Forums post or something for others to find. 🤔

[2021-04-02 01:06] KrisCoulson commented on #1013
@thedavidprice just looking through a couple of the outstanding tickets in the router project. Figured this could be bump/resurface @saideepesh000 question. What should the api look like for this. Took a peak at the react-router and they use history.goBack() wonder if `goBack` or  just `back` is sufficient Since @saideepesh000  is correct and navigate is an exported function

[2021-04-02 01:08] thedavidprice commented on #1013
@jtoar is the one who can help direct. I'll give him a nudge. Ping me again if/as needed. And thank you both for resurfacing this one!

[2021-04-02 01:35] jtoar commented on #1013
@saideepesh000 no correction needed! as you said, `navigate`'s a function, it would be counterintuitive to add another function, `back`, as a property. Ok, one correction: just so you know that you can do this in JS, functions can have properties, which can be other functions (since functions are just `Object`s or whatever (I should really learn JS)). so `navigate.back` is perfectly possible, but

[2021-04-02 03:09] viperfx commented on #1664
I was not able to do this within vercel - it did not seem possible at least. I tried various things and eventually just ended up using templated strings. I now use self-hosting, so I won't really have these file access issues anymore.

[2021-04-02 03:35] jacebenson commented on #2170
I'm in favor of not overwriting the console.log functionality.  I like knowing I can log to the console without an issue with the logging library (not that there is any).

[2021-04-02 15:52] thedavidprice commented on #540
@jtoar is this one resolved?

[2021-04-02 17:22] #2169 closed

[2021-04-02 18:13] cannikin commented on #1630
Went over this implementation with @mojombo and it's looking good! One issue we talked about was: we can't generate a service with a `before.skip()` in there, because now it's *not* secure by default. What do we generate in the service so that it's safe?

We came to the realization that `requireAuth` is really nice to have, but when you first build your app you'll have no authentication installed

[2021-04-02 20:57] benatkin commented on #2121
I think that path params should overwrite searchParams if one is allowed to override the other, and that it's a minor security issue if it doesn't. If I wanted to keep an eye on a user with the ID `50` being updated, I might add a log alert for `PATCH /user/50`. If they were able to hide it behind `PATCH /user/95?id=50` that would be bad.

I would also consider throwing an error if the same parame

[2021-04-02 21:08] benatkin commented on #1636
It might be worth doing this with CI. The integration test providers allow for serializing and deserializing cookies. This was the biggest slowdown for me in my first Redwood project, being logged out of Netlify Identity after an hour. If we could say that once you log in you stay logged in for at least a week (if you click *remember me*) and back that up with a clever CI workflow, it might make u

[2021-04-02 21:10] adriatic commented on #2159
### Back from my trip, picking up from [this point](https://github.com/redwoodjs/redwood/issues/2159#issuecomment-810757793).

### Explanation 1
@thedavidprice  - it is true that my  file [BlogPostsCell.js](https://github.com/congral/redwoodblog/blob/master/web/src/components/BlogPostCell/BlogPostsCell.js) does not contain the code

[code]

The reason for this omission is simple: after going throu

[2021-04-02 21:48] adriatic commented on #2159
## Summary and a fresh start

My **[comments above](https://github.com/redwoodjs/redwood/issues/2159#issuecomment-812717011)** warrant a fresh staff:

The title of this issue: ***Redwood Diagnostic Improvement: check Cell exports and warn if missing*** has no bearing on my original **[plea for help](https://discord.com/channels/679514959968993311/716252919875240007/826555180476530717)**, issued to

[2021-04-02 22:10] Tobbe opened #2204 "RFC: `<PrivateSet>`"
If you have a bunch of private routes, and you want them all to share a Layout, you have to do this

[code]

This RFC proposes a new component, `<PrivateSet>`, to limit nesting (and typing) in the routes file. It would take the union of props from Private and Set, and internally just render a Private and a Set, with the correct props passed to each.

The above example would look like this

[code]

[2021-04-02 22:57] corbt opened #2205 "Statically typing cells?"
Hey everyone!

I had a proposal on statically typing cells, and would love feedback. I know there are a lot of tradeoffs involved and other folks have been thinking about this!

Essentially, my proposal involves making `withCellHOC` part of the public API and letting users explicitly call it to create cell components. There would need to be a few modifications to `withCellHOC` for full typing supp

[2021-04-02 22:58] corbt commented on #2205
@thedavidprice mind tagging the relevant team members? I know you mentioned several people have been thinking about this but I didn't catch their names.

[2021-04-03 00:27] thedavidprice commented on #2205
looping in @peterp @dac09 @Tobbe

Also, @Krisztiaan might be interested as well

Thanks all!

[2021-04-03 00:52] dac09 commented on #2205
This is a great suggestion, and definitely helps clear up the idea in my head. Using your idea of generics in withCell, What if we did something like this?

[code]

And when when we process the file with the babel plugin we add the new line automatically, but slightly differently.
[code]

The key is that the type detection is handled automatically, with no need to add the extra line. Just throwing

[2021-04-03 01:06] corbt commented on #2205
@dac09 if the `export default ...` line is added in the babel plugin, will the Typescript typechecker know it's there? My understanding was that Typescript operates on the user's source file directly, not on the babel-generated output. That's why I thought the line needed to be added to the source itself.

[2021-04-03 01:08] dac09 commented on #2205
You're right... this is why you don't try to figure out solutions late at night. I'll have a think tomorrow!

[2021-04-03 01:18] cjreimer commented on #2205
I love the iteration of ideas!
I threw out an idea in #2140 that has some similarities to what @corbt is proposing, under a slightly different context that could also address typescript issues.   Happy to hear any feedback ... I'm pretty new here.

[2021-04-03 02:44] adriatic opened #2206 "The example Quick Start does not use Prisma correctly any more"
Running the command `yarn rw prisma migrate dev` results with:

[code]

**Note the error stating that the schema.prisma needs to be at the location it already is.**

P.S. Please do not tell me "we appreciate PRs" - in this case I do not know for sure what is wrong and how to fix it. My guess is that the Prisma API changed, so it is invoked incorrectly in this example. This is the reason I am repor

[2021-04-03 07:02] peterp commented on #2204
Nice, I like it.

[2021-04-03 07:22] peterp commented on #2205
I really like this proposal. I think it's a solid way forward for our Typescript story. Removes a bit of magic, at the cost of a single line, and remains backwards compatible (until we deprecate the babel plugin). I think we should go for it!

[2021-04-03 14:42] corbt commented on #2140
@cjreimer 's proposal is similar to what I proposed in https://github.com/redwoodjs/redwood/issues/2205 . I'm not sure there's any advantage to implementing this as a hook though -- cells don't need to provide any state or callbacks to their parents?

If we ship https://github.com/redwoodjs/redwood/issues/2205, there may be less need for a first-class `CellPage`. For cells that map to pages 1:1, y

[2021-04-03 15:14] cjreimer commented on #2140
Yes, my error for calling it 'hook' style.  @corbt is correct.

I like your idea of calling it `createCell`.  In addition to your example, it also gives us the flexibility to create and incorporate a cell directly in a page or other component without creating additional files.  Hey, we can create 5 different cells within a page component if we wanted to.

[2021-04-03 15:17] cjreimer commented on #2205
@corbt , what are your thoughts on what the generators should produce?

[2021-04-03 16:12] thedavidprice commented on #2204
The proposal definitely makes sense!

Instead of ending up with both `<Private />` _and_ `<PrivateSet />`, could just make this possible:
`<Private wrap={AdminLayout} ... />`
?

[2021-04-03 16:19] Tobbe commented on #2204
Funny that you should mention that. @cannikin wanted that too.

Implementation would be **much** easier just doing a `<PrivateSet>`. But that's a pretty poor excuse if `<Private wrap...` is what we want.

[2021-04-03 16:37] adriatic commented on #2206
### Added later FALSE ALARM

I used the incorrect command to generate the migration - instead of
[code]

I typed in
[code]

(instead of the word `migrate` i typed `generate`)

**Leaving this issue as the RWJS Cli should protect itself from people making such errors**

[2021-04-03 16:37] thedavidprice commented on #2206
Hi @adriatic Are you referring to the example Quick Start here: https://redwoodjs.com/docs/quick-start ?

^^ In your comment above, you reference running this prisma command:
- `yarn rw prisma migrate dev`

But in the first line of the console log output you pasted, you used _this_ command:
- `yarn rw prisma generate dev`

Please confirm if this does, indeed, resolve the error. Yes? If so, we can

[2021-04-03 17:31] thedavidprice commented on #2159
## Part 1: Resolving the `Uncaught Invariant Violation`
### Reproducing the error
Using your linked repo, I reproduce the error in this video:
- https://s.tape.sh/rw7wIeLf

### Resolving the error
I resolve the error in this video by adding the `export const QUERY = gql` ...` (from your [comment above here](https://github.com/redwoodjs/redwood/issues/2159#issuecomment-812717011))
- https://s.tape.

[2021-04-03 18:48] peterp commented on #2205
Correct me if I'm wrong, but I think `with<Thing>` has some historical significance for react and high-order-components? I think `withCell` is probably my favorite choice, if we don't care about naming semantics, then `createCell` is grand too.

[2021-04-03 18:50] peterp commented on #2140
@cjreimer @corbt Love the collaborative effort here. This is what makes open-source amazing, the refinements of ideas following along the same thread of thought. Kudos to the both of you.

[2021-04-03 19:34] adriatic commented on #2206
Hello, @thedavidprice - yes, you correctly understood everything I wrote. Mistakenly I used the verb `generate` instead of the correct one `migrate` (I have no idea what made me do that mistake). Your steps needed to replicate my mistake are correctly stated above.

**Note just for @thedavidprice: My plan was to use this most simple example (https://redwoodjs.com/docs/quick-start) to illustrate my

[2021-04-03 19:57] thedavidprice commented on #2206
@adriatic Got it. Understood and thanks for confirming.

Should we close out this Issue?

[2021-04-03 20:08] adriatic commented on #2206
I guess we can - but I will keep the flag that [CLI Commands](https://redwoodjs.com/docs/cli-commands) need to be more "fool proof"

[2021-04-03 20:14] adriatic commented on #2159
@thedavidprice writes:

Bug likelihood "confirmed" --> open GitHub Issue
[My suggestion above] Possible tutorial issue/improvement discovered --> add to Collaborative Google Doc
Thoughts, suggestions, reactions? Let's continue the discussion about this. But maybe over email (or other thread) to keep this GitHub Issue focused.

I am very happy with your summary (above). Let's do that and let my par

[2021-04-03 20:28] #2206 closed

[2021-04-03 20:29] thedavidprice commented on #2206
Indeed! For all of us 😉

The challenge specifically with this one is the underlying Prisma CLI, which adds to the complexity. Yes, please add to the list!

[2021-04-03 20:41] thedavidprice commented on #2159
Ah, yes, you'd mentioned this previously. 💯 agree. I've accepted the invite and am following all change notifications on the repo! Thank you.
<img width="297" alt="Screen Shot 2021-04-03 at 1 32 14 PM" src="https://user-images.githubusercontent.com/2951/113490768-396bf300-9481-11eb-9340-e253a2c33a7b.png">

^^ I know it and I want to continue to harness your effort + energy! Not taken for granted.

[2021-04-03 20:43] thedavidprice commented on #1886
@Tobbe re: Cypress on Windows bug mentioned [by you above](https://github.com/redwoodjs/redwood/issues/1886#issuecomment-787879665):

Based on [this comment](https://github.com/cypress-io/cypress/issues/789#issuecomment-801729848) in the Issue you linked, it seems possible for us to add a Windows runner to our Cypress CI, yes? Or am I misunderstanding the related Windows issues.

[2021-04-03 20:48] adriatic commented on #2159
A great move, David. While I shared many dreams with you (most in the context of making VSCode a lot more involved tool for RWJS development), if I was you, I would task me with precisely what you just did. It is one of the most critical components of a successful startup launch - and I owe this task to the world (my single biggest mistake while I was in charge of the Nuasis (world's first cloud-b

[2021-04-03 21:40] Tobbe commented on #2205
You're definitely not wrong. Even react themselves use that naming convention. See `withSubscription` [here](https://reactjs.org/docs/higher-order-components.html) for example

[2021-04-03 21:56] Tobbe commented on #1886
@thedavidprice I haven't tried. Latest version of cy I've tested with is 6.4.0. That comment you linked is about 6.5.0. But looking at the changelog for [v6.5.0](https://github.com/cypress-io/cypress/releases/tag/v6.5.0) I don't see anything that should affect this issue. What makes me cautiously optimistic is that she says it works using cmd and ps, but is broken on git-bash. I've only tried git-

[2021-04-04 03:27] corbt commented on #2205
Yeah, `withX` is definitely a React convention for HOCs but I'm not convinced it's applicable here. Cells arguably aren't even HOCs in the conventional sense. A typical HOC wraps a single child component and enhances it with specific functionality (usually by passing in new props). So `withSubscription` as a HOC name makes perfect sense semantically -- if I call `withSubscription(MyComponent)`, I'

[2021-04-04 03:34] corbt commented on #2205
I'd vote to use this syntax for generated TS cells. No opinion on whether to use it for generated JS cells.

[2021-04-04 05:44] thedavidprice commented on #1886
@Tobbe looks like we have three options. Not sure how we choose, but I'm optimistic this makes it possible. I'd definitely like to give it a go as the feels like a huge hole in our CI right now:
https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#shells

[2021-04-04 05:46] thedavidprice commented on #1778
Ah, great idea. I'll definitely test that. Have a couple ideas. Thanks!

[2021-04-04 06:12] cannikin commented on #2204
@mojombo mentioned the opposite: what if we only had `<Set>` and `private` was just an attribute you could set on it? So everything is either a Set or a Route and some Sets can be private...

[2021-04-04 08:21] Tobbe commented on #2205
Haha, that's a funny way to put it ⚔️ ⛰️

And I'm fine with `createCell` too

[2021-04-04 09:40] Tobbe commented on #2204
If we did, it would look like this https://github.com/redwoodjs/redwood/pull/2209 :D

[2021-04-04 09:47] #1830 closed

[2021-04-04 09:47] #1959 closed

[2021-04-04 15:07] peterp commented on #2205
Totally, a very valid argument, let's go with `createCell`!

[2021-04-04 15:08] peterp commented on #2140
Closing in favour of #2205

[2021-04-04 15:08] #2140 closed

[2021-04-04 20:42] cjreimer commented on #2205
@corbt are you taking the lead on the code for this?  Let me know if you need any support.

[2021-04-05 11:27] dac09 commented on #2205
So I thought a little bit more about this with a fresh mind, I think I was conflating two difference aspects of the types:
a) Having types for when the Cell is used (which is what we're discussing here)
b) Having types for the output of the gql query, that can be used in the Success component

 and it looks like there's no resistance towards adding a new line (optionally), and I don't really have

[2021-04-05 12:46] dac09 opened #2215 "[FAQ] `yarn rw link` tracking issues and common problems for contributing"
Creating this issue to highlight commonly faced issues, and suggested solutions, when trying to to contribute using `yarn rwt link`

If you find an issue, please comment here - and please include if you found a way around the problem as well. The purpose of this issue being a reference, so you can get on with contributing 🚀

[2021-04-05 12:48] dac09 commented on #2215
After running link
:
[code]

**Solution**
Make sure your branch, in the redwood repo, is up-to-date with the latest code from main.

**Cause**
The rwt link command has changed slightly in between 0.29.x canary versions

[2021-04-05 12:50] dac09 commented on #2215
After running link:
[code]
Where `XXX` is some module.

**Solution**
Remove your `yarn.lock` file, and run `yarn install --force`

**Cause**
This happens when you've upgraded your redwood project using `yarn rw upgrade`, but the installation process didn't quite work properly, and your yarn.lock gets into a weird state.

[2021-04-05 12:56] dac09 commented on #2215
**How do I know if `rwt link` has succesfully linked my local redwood packages?**

#### Answer:
The way I check is if `node_modules/@redwoodjs` has symlinked packages

**Option 1: CLI**
[code]
This will list all the packages that have been linked

**Option 2: macOS finder**
Navigate to `your_project/node_modules/@redwoodjs`

All the symlinked packages have little arrows next to the folder icon. In

[2021-04-05 13:49] corbt commented on #2205
This is something really important to me too, but yeah, I think it can be tackled separately. :)

[2021-04-05 18:59] byrichardpowell commented on #340
**TLDR:** `yarn rw g component Todo/Add` would be very helpful

**Context:** it's common to have components that have their own children.  For example, imagine a `<ProductCategory/>`.  It renders a `<Heading/>` and some info about the category and then it maps it's products, rendering one `<ProductListItem/>` per product.  To achieve the approach I'm used to a folder structure like:

* /Components

[2021-04-05 19:05] dac09 commented on #2215
### How do I link @redwoodjs/core in a canary project?

**Issue**
Only when running `rwt link` on Canary projects, the core package isn't linked and it continues to use the version specified in the package.json.

**Analysis**
This happens because yarn seems to ignore resolutions for packages under devDependencies. (Resolutions are added by rwt link).

**Solution**
We'll have to manually set the ve

[2021-04-06 03:46] thedavidprice commented on #1693
closed by https://github.com/redwoodjs/redwood/pull/1691

[2021-04-06 03:46] #1693 closed

[2021-04-06 03:59] vchoy commented on #2132
Closing this as the answer is to remove the yarn.lock file and regenerate on yarn install.

[2021-04-06 04:48] thedavidprice opened #2218 "RFC Contributing Tools: script to create a functional test project using the latest CRWA template"
Local development often requires setting up a functional test project (Redwood App). Additionally, when new hosting providers, auth providers, or other service companies want to integrate with Redwood, they ask if there's a canonical Redwood project for development and testing.

It seems everyone has their own way of managing this, from using an example app, completed Tutorial codebase, a branch f

[2021-04-06 04:54] thedavidprice commented on #1886
If we build the script in this RFC https://github.com/redwoodjs/redwood/issues/2218, I think we are only a few steps away from being able to automate deployment testing.

[2021-04-06 05:49] Tobbe commented on #2218
This is a great idea @thedavidprice!

What's the scope of the generated project? Some of my latest PRs, and one I'm currently working on, all require auth to be able to test properly. Would this generated project include auth as well?

[2021-04-06 06:19] thedavidprice commented on #2218
@Tobbe I'd added this catch-all BonusBullet:

What if the script allowed passing setup command(s)? So you could do something like:
[code]

We could work on the syntax, but do you get the idea?

[2021-04-06 07:33] thedavidprice commented on #1886
Update: added <Set />, Scaffold CSS, and Toast checks here https://github.com/redwoodjs/redwood/pull/2164

[2021-04-06 08:55] Tobbe commented on #1886
All three seems to be based on bash. The shells Sandra said it worked in were TS and Cmd, i.e. **not** bash based.

I'll take a look tonight at rewriting those `cy.exec` calls to something that works on Windows too.

[2021-04-06 09:15] peterp commented on #418
We've added the GraphQL VSCode plugin which works very well during development time - I think we can improve it by dumping the SDL to the disk instead of requiring the api-server to be running.

- [ ] GQL is typed

What we often want is the ability to have types for the `Success` method in a cell.

[2021-04-06 11:38] dthyresson commented on #965
Closing in favor of https://github.com/redwoodjs/redwood/issues/2148

[2021-04-06 11:38] #965 closed

[2021-04-06 11:46] peterp opened #2219 "Seperate Type generation from transpilation"
Right now we transpile (via babel) and generate typescript types in the same babel plugins. This is undesirable because we want to keep transpilation as fast as possible, and we may want to switch from babel to something else in the future, which would mean that we need to rewrite/ move a bunch of code.

I would like to propose that we create a separate process that watches specific files for chan

[2021-04-06 11:48] dac09 commented on #2219
I like this idea a lot, because it opens up avenues for generating types for queries too using graphql-code-generator

[2021-04-06 14:51] Krisztiaan commented on #2205
Thanks for the mention. As a part of #1878 I have also taken steps to add type safety to the `Success` component (others should already be OK), but reverted it to keep that PR more about the main goal, and because I may have overcomplicated it in the heat of the refactor-moment.

Without any major change, just drilling a generic for the data through the current solution would be enough to secure `

[2021-04-06 15:21] Krisztiaan commented on #2205
What a beautiful issue number, #2222, an alternative direction to go in with regards to fixing the `withCell` typing.

[2021-04-06 20:43] thedavidprice commented on #2068
bumping this on — likely too late for v0.29 but high priority when possible to dig in. I'm weak on the fundamentals here but game to dig in given direction.

[2021-04-06 20:50] ajcwebdev commented on #947
@t-eckert laid a good chunk of groundwork hacking on Azure Functions with Redwood and @thedavidprice also provided some helpful notes [over on Forums](https://community.redwoodjs.com/t/deploy-to-azure-static-web-apps/1973/). I wanted to make sure that work gets in this issue and hopefully help nudge this along, I know Thomas has some ideas for next steps.

## Notes from Thomas on his own project w

[2021-04-07 00:57] thedavidprice commented on #1886
@Tobbe check out this (almost) successful test PR: https://github.com/redwoodjs/redwood/pull/2227

I possibly verified that the GitHub Action `cypress-io/github-action@v2` _does_ run on Windows. What we need to adjust is the bash commands in the steps leading up to the Cypress run in our [Workflow E2E file](https://github.com/redwoodjs/redwood/blob/main/.github/workflows/e2e.yaml).
1. I explicitly

[2021-04-07 03:55] t-eckert commented on #947
# 👋🏻

Like @ajcwebdev mentioned, I am working on hacking together a solution to run Redwood on Azure using Azure Functions. My approach so far is to vendor the `API` package into a Redwood project: [`redwood-azure`](https://github.com/t-eckert/redwood-azure) and replace the code that generates Lambdas with code that generates Azure Functions. I have started this process by unpacking and attempting

[2021-04-07 05:03] #2014 closed

[2021-04-07 07:31] Tobbe commented on #1886
I'm afraid getting Cypress to start is the easy part. What's going to be difficult is getting the tests to pass. I tried here: https://github.com/redwoodjs/redwood/pull/2228. They're super flaky, but maybe we can improve that. What really got me stuck though is deleting the dev db file. File locks don't work the same way on Linux and Windows.

[2021-04-07 15:59] peterp opened #2231 "RFC: "Hold my hand" run-time errors."
We currently show the `react-error-overlay` when you hit a run-time error in RedwoodJS project:

![image](https://user-images.githubusercontent.com/44849/113893414-4c572e00-97c7-11eb-83d4-42892b6f3d79.png)

Which is very helpful, but very generic. There are a lot of errors that we own in the RedwoodJS codebase where we have the opportunity to help developers using RedwoodJS.

Most specifically I t

[2021-04-07 16:39] renansoares commented on #2218
Hey @thedavidprice, such a good improvement to help people to contribute.

I am wondering I have enough knowledge to pick up this story 👁️

Would it be a good start point to create the run the same tests that are in the Cypress tutorial? If I understood correctly, those are the tests that are running in the CI?

[2021-04-07 17:03] thedavidprice commented on #2218
@renansoares hi there! (and, wow, do I owe you some discussion about Lighthouse score project 😬) This would be an amazing project to help with. And even higher in priority to lighthouse scores.

I tried to contact you last week via forums admin but had a bounce on your email address. If you're up for it, could we find a time to connect real-time for 30 min? That way I can remove myself as a bottle

[2021-04-07 19:32] fveauvy opened #2232 "Cannot specify path with some generators"
I'm opening this issue as a draft before starting to work on a pull request. This will allow me to clarify the task at hand since it will be my first contribution 🐣 'hope you don't mind !

Here's the related thread on Discourse : https://community.redwoodjs.com/t/addition-to-the-cell-generator/2008

Some generators have an inconsistent behavior when the user is specifying a path like `<path/model>

[2021-04-07 19:57] Tobbe commented on #2232
@fveauvy Thanks for jumping in here! 🙂 This is a great start.
Here's a related issue I wrote a while back https://github.com/redwoodjs/redwood/issues/1597

[2021-04-07 21:23] dac09 commented on #2232
Very well written issue! 😍

[2021-04-07 23:42] byrichardpowell commented on #2232
Thanks for jumping on this.  This will be a nice improvement!

[2021-04-08 02:08] ehowey commented on #2204
I like the `Set` with a `private` attribute idea! Funny that this RFC is here because I was just wondering this with some things I was trying out with RW.

Keep up the great work!

[2021-04-08 10:48] dac09 opened #2233 "[RFC] `yarn rw serve [web,api]` for serving build redwood apps"
https://github.com/redwoodjs/redwood/pull/2217 adds a `yarn rw serve api` command, and upon discussion we've realised that we should also have the ability to serve the web side.

My proposal is to provide the following commands:

### 1. `yarn rw serve`
When run with no "side" param, the command will run a server that serves both the api and web sides.
- The api paths will be detected from `apiProx

[2021-04-08 11:20] jeliasson commented on #2233
💯

My two cents here would be that I expect (would assume) arguments passed to e.g. `yarn rw serve api` would be passed to the `rw-api-server`, e.g. `yarn rw serve api --port 9999` would results in `yarn rw-api-server --port 9999` and it's defaults. I'm pretty sure that is what you meant in #2217 on the comment tho;

Another thing worth considering might be what options that could be passed to `ya

[2021-04-08 11:22] dac09 commented on #2233
Agreed! I think when you run just `serve` it won't accept rootPath, the rootPath should be automatically detecting from the redwood toml. Web won't accept rootPath either (because why?).

[2021-04-08 15:48] thedavidprice commented on #2233
@dac09 if options are not applicable to all included sides, should we specify?
--api-port
--web-something
--fancy (applies to all)

?

[2021-04-08 15:49] jtoar commented on #540
@thedavidprice Not just yet, focus isn't being actively reset to the top, especially with the advent of Sets.

[2021-04-08 15:51] dac09 commented on #2233
In the PR, I implemented the flags specific to each command (so no confusion!)

e.g. https://github.com/redwoodjs/redwood/pull/2234/files#diff-001ab4208ca160c155aebe7ec9e87c2df652bb32a41bbd1d15cc2fad88c7208eR26

so:
- rw serve -> uses bothCliOptions
- rw serve web  -> uses webCliOptions
- rw serve api -> uses apiCliOptions

[2021-04-08 23:13] #2060 closed

[2021-04-09 02:08] thedavidprice opened #2246 "Logger console output shows up in `rw test` runs"
Running `yarn rw test --no-watch` includes Logger output in the test. (Note: it displays in `watch` mode as well, it's just even more spaghetti.)

Reproduce with this repo: https://github.com/thedavidprice/redwood-tutorial-test

Output
[code]

cc @dthyresson

[2021-04-09 08:41] dthyresson commented on #2246
@thedavidprice Is the expected behavior:

* no logging in test
* no prisma logging in test
* logging, but always pretty print
* no logging if "-no watch" is used
* only log warn and above for Prisma level logging in test

The

[code]

is coming from Prisma logging as is enabled by default and the info level.

[2021-04-09 12:57] noire-munich opened #2250 "Netlify deploy failing on v0.290: built graphql.js function is larger than 50Mb, exceeding size limit"
I bumped to v0.29.0 this morning and during the day I deployed on netlify.
The deploy fails with the log below, I'll include the diff on my package.json files as well. It seems like the latest version bloats the archive for graphql function, which packs a solid 75.1mb now

[code]

[code]

<details>
  <summary>Netlify deploy log: Click to view</summary>

[code]
</details>

[2021-04-09 12:58] noire-munich commented on #2250
@thedavidprice @peterp might be a candidate for a v0.29.1

[2021-04-09 14:18] thedavidprice commented on #2250
@noire-munich This line looks like a potential culprit:
`11:51:35 AM: (@netlify/plugin-lighthouse onPostBuild completed in 13.9s) `

Could you try again without the plugin?

[2021-04-09 14:36] noire-munich commented on #2250
@thedavidprice I submitted the issue after I had tried without the plugin ;) but I should have mentionned!
It fails as well without the plugin.

Also, yesterday I deployed successfully with the plugin.

[2021-04-09 14:58] thedavidprice commented on #2250
Ah, I missed this (loong logs):
`Request must be smaller than 69905067 bytes for the CreateFunction operation `

Your build API GraphQL function is > 50mb.

Last time I saw this was due to:
1) Prisma generating two clients
2) yarn.lock having some kind of artifacts

Could you copy/paste the binaryTargets line of schema.prisma?

And also the dependencies in api/package.json?

It won't answer the "w

[2021-04-09 15:01] thedavidprice commented on #2250
@dac09 any chance webpack setting change could be at play here? I think it's unlikely.

FYI: QA deploy runs all worked successfully.

[2021-04-09 15:14] dac09 commented on #2250
No don't believe so, especially because it hasn't been merged yet 😉

If I had to guess this is again the yarn update/resolutions gone wrong. @noire-munich two things I can suggest trying here:

1. Remove yarn.lock file and regenerate it
2. If you don't feel comfortable removing the yarn lock file, look through your yarn.lock file for `@prisma` dependencies. There may be more than one version prese

[2021-04-09 15:15] noire-munich commented on #2250
`Your build API GraphQL function is > 50mb.`
Indeed, as in OP, the archive's size for the graphql function is at 75.1mb now.

I'm removing the yarn.lock, I'll post the results in a moment.

as for dependencies:
[code]

And schema.prisma:
[code]

[2021-04-09 15:27] noire-munich commented on #2250
Ok, I removed and regenerated the yarn.lock, here's its new size: 246,9 MB

Terminating this:
[code]

outputs that:

[code]

So prisma seems to be the culprit :-\

[2021-04-09 16:12] dac09 commented on #2250
Trying to repro this now @noire-munich.

[2021-04-09 16:51] dac09 commented on #2250
Ok confirmed, I am able to reproduce this. @noire-munich. Something that would be very helpful is if there was a command to confirm what the bundled size of the functions would be. I think the above command doesn't accurately tell us what the bundled one for netlify is - any chance you could take a stab at it? I can also add an e2e test for this.

[2021-04-09 17:03] thedavidprice commented on #2250
@noire-munich Ok, actually I think this is progress.

--> you deleted and re-created yarn.lock. But did you also remove _all_ of your node_modules (root, web, etc.)? Now I think the two are out of sync. One way to do this is to use `git clean -fdx -e .env` NOTE: git clean destroys every file/directory in your .gitignore, including things like .env. But running is this way will keep .env -- just ma

[2021-04-09 17:04] thedavidprice commented on #2250
@noire-munich To confirm --> Your packages and schema look 👍

Maybe also copy/paste your resolutions in ./package.json

[2021-04-09 18:09] thedavidprice commented on #684
^^ @forresthayes here you go 🚀

[2021-04-09 18:47] noire-munich commented on #2250
thanks @dac09 here's the output, after removing & refetching entirely node_modules and applying your commands:

[code]

"@noire-munich To confirm --> Your packages and schema look +1"
Good to know!

I applied the brutal `git clean -fdx -e .env`, it smoked my .netlify so I'm in the process of setting this up again, meanwhile here are the resolutions:
[code]

[2021-04-09 19:29] #1443 closed

[2021-04-09 19:40] thedavidprice commented on #2250
`-rwxrwxrwx 1 noire www-data 90988089 apr  9 20:06 graphql.zip` 🤬

Everything on your end, regarding packages and settings, looks as it should.

## Status Update
Danny was able to reproduce. And I'm in communication with the Prisma team. Currently, we think this is a Prisma issue related to v2.20.

## Historical Reference
This deploy error (specific to Netlify) did occur once in the past. See this

[2021-04-09 19:45] janpio commented on #2250
Oh hi, Prisma sliding into this conversation here 👋

2.20 of Prisma did not really change anything that should be relevant here - but one never knows, a lot of moving parts involved here. But we have no similar reports for this version and have our own e2e tests making quite sure, we did not mess up.

Do we have a reproduction in a repository that we could look at @thedavidprice, maybe from Danny?

[2021-04-09 19:46] thedavidprice commented on #1886
## Services to manage updating and deploying projects
Prisma has a great CI + Actions set up to test deploys and automatically update versions of project:
- Renovate: https://github.com/marketplace/renovate
- Prisma CI checks in action (example) 🤩: https://github.com/prisma/e2e-tests/pull/1601

[2021-04-09 19:50] thedavidprice commented on #2218
## Update
@renansoares and I connected and strategized about this today. He's going to start working on this (and will also keep in mind #981) 🚀

The first step is to experiment with a script for installing the project, running CLI commands, and applying code mods (basic). This might be custom or using a library. Suggestions welcome.

Renan, for reference, I just saw an interesting CI setup relate

[2021-04-09 19:57] janpio commented on #1886
Happy to help out with any Renovate or Prisma e2e-tests related questions - we are pretty happy with this setup and it helps us catch loads of things on our side and on the side of partners as well 👍 (@janpio on shared Slack or Prisma Slack)

[2021-04-09 21:05] dac09 commented on #2250
Hey hey @janpio! Yeah I can provide the zips for before and after, will drop you a line on the slack channel tomorrow/Sunday when I have access to my computer

Just to note, my zips made on a mac are just shy of the limit. But I assume when running on Netlify Linux boxes, it produces a larger zip.

[2021-04-09 21:06] janpio commented on #2250
That is awesome, looking forward to it. Being able to see the diff from before and after, and being able to dig into the archive with knowledge of Prisma internals will be really helpful.

[2021-04-09 22:15] thedavidprice commented on #2250
## Reproduction
Using this local build process: https://redwoodjs.com/docs/builds

### Redwood v0.29.0 (using Prisma v2.20.1)
- Repo/branch: https://github.com/thedavidprice/redwood-tutorial-test/tree/v0.29.0
- Start with fresh install (no node_modules) and `yarn install`
- run through local build process steps

#### 26.4Mb zipballs/graphql.zip
Zip uploaded here as `graphql_0.29.0.zip`: https://ww

[2021-04-09 22:46] thedavidprice opened #2253 "Forms: Upgrade React Hook Form to v7"
Under the hood, Redwood's @redwoodjs/forms uses v6.15.4 of React Hook Forms, which is now at v7:

Releases: https://github.com/react-hook-form/react-hook-form/releases

Upgrade Guide: https://react-hook-form.com/migrate-v6-to-v7/

[2021-04-09 22:53] janpio commented on #2250
Thanks @thedavidprice for the quick turnaround on this.

---

After a first look at your reproduction:

The two archives you provided show an expected file increase of ~5MB for the zipped version, based on a ~15MB file increase of the (in this case darwin) query engine binary of Prisma. We are aware of this and tracking these increases - and thinking about how to avoid these in the future.

This i

[2021-04-10 18:52] thedavidprice commented on #2246
Thanks for asking me to clarify. I was surprised to see it and my default expectation is "no logging in test". I think of "testing" as its own context, e.g. CI, where the verbose output would be opt-in for things like debugging.

But am I missing something important about having visibility into the Prisma activity during test runs?

[2021-04-10 18:55] thedavidprice commented on #1778
@dthyresson I think you nailed it here. I did some (limited) experimenting with this during the QA process for v0.29 release. The failure does seem to correlate with 1) being logged in locally using `rw dev` 2) using the same browser, visiting the application after a deploy having been logged in on production prior to deloy.

Thanks for the help here!

Closing out.

[2021-04-10 18:55] #1778 closed

[2021-04-10 18:59] thedavidprice commented on #2128
Hi all, apologies for the delayed reply. This change has not been made. Here is the code in `main` branch:
https://github.com/redwoodjs/redwood/blob/7be25811c04ce92a22863d841c05cf70d12682a3/packages/create-redwood-app/src/create-redwood-app.js#L170-L219

If you would like to work on it, please reply in a comment and then do initiate a PR including `closes #2128` in the description.

Thanks in adva

[2021-04-10 19:05] thedavidprice commented on #1022
As a first step, this might make for a good Forum post or cookbook article, e.g. how to use Set with your generated scaffolding.

^^ agreed this would make for nice organizing of each Scaffold. I don't think we should make it more complicated/intelligent than that, though. If I generated three scaffolds, it seems trivial for me to them combine them in one Set manually, correct?

[2021-04-10 19:39] Tobbe commented on #1022
Yeah, super easy.

[2021-04-10 21:41] janmei opened #2259 "Redirect after SignUp with Email via Supabase not working"
### Context
Whenever I want a user to signUp with a mail and password, after clicking the confirmation link from the mail, i want it to redirect to the corresponding page i provided as a parameter in the `signUp()` function.

### Current Behaviour
Currently nothing happens. User will get redirected to the index `localhost:8910/` after clicking the confirm mail link.

[2021-04-11 00:06] dthyresson commented on #2259
Hi @janmei we chatted on Discord and thanks for writing up the issue.

I took a little time and have confirmed that for 0.29 I can use redirects when I use the GitHub OAuth provider and the callback included the info to restore/create the token at the directed url -- given this is *not* localhost.

[code]

But I did see this issue raised in Supabase:

Issue https://github.com/supabase/gotrue-js/is

[2021-04-11 00:10] janpio commented on #2250
Thanks @dac09 for also contacting me with another reproduction in private.

Via a lucky output in the Netlify deploy logs we identified the cause of the problem: Netlify is indeed deploying 2 Prisma Query Engine binaries to AWS Lambda. With the recent size increases this pushed some projects over the limit. This is very unexpected for us, and I am sorry this happened.

Here is the Prisma issue abo

[2021-04-11 00:37] thedavidprice commented on #2250
## Who does this affect?
This issue is specific to:
1. Redwood v0.29.0 (which uses Prisma v2.20)
2. Netlify deployment target

Although the size of the built graphql.js function is about 5mb larger compared to previous versions, other deploy targets are working fine. Additionally, it seems only more complex projects are failing when deployed on Netlify — Redwood Tutorial projects and our release Q

[2021-04-11 10:42] dthyresson commented on #2246
Can I get consensus @dac09 @Tobbe @peterp : should logging be on in test? 1) It is currently available if one imports and users 2) it currently logs Prisma info.

Options:

* no logging at all in test
* default log level is error for prisma

[code]

That would mean that `['info', 'warn', 'error']` would come from the logger as `defaultPrismaLogLevels` and not include `info` if `isTest`.

Or perhap

[2021-04-11 10:51] dthyresson commented on #2215
My main issue is that because my projects are in a Dropbox folder for instant backup and unfortunately they renamed my folder to be "Dropbox (Personal)" because a few years ago I liked my account with a business account because that's what they do even thought they note in the docs that this can break apps, I have issue with `rwt link` finding the path ... sometimes.

It sometimes works and someti

[2021-04-11 11:44] noire-munich commented on #2250
@janpio not that I am aware of, we started a month ago and we don't have many dependencies. I've added you to the repo so you can see, but I don't think the issue would be in the code, I've worked on bigger RW projects and they didn't have such issue on deployment.
This being said it's not the first time prisma popped the AWS limit, I've had the case five month ago or so but changing the engine fi

[2021-04-11 13:04] dac09 opened #2260 "[Auth] Firebase token not decoded in getCurrentUser"
As title

If I log `decodedToken` from getCurrentUser, with a firebase auth provider
[code]

The "decoded" token simply returns the token, without actually decoding.

### Expected result
Firebase's authHandler should return a decoded user, instead of the raw token.

[2021-04-11 13:06] dac09 commented on #2260
Should use this function from firebaseAdminApp

[code]

[2021-04-11 18:49] dac09 commented on #1636
Ok @dthyresson. Confirmed netlify and auth0 do _not_ refresh their tokens.

[2021-04-11 22:36] thedavidprice commented on #2246
I do see value in logging Prisma errors.

Will defer to team preference. Thanks!

[2021-04-12 08:10] peterp commented on #2246
I tend to think that logging in tests should be something that a person can turn on if they're writing tests, but should be off when they're done.

[2021-04-12 08:13] peterp commented on #2260
Bringing this up again: I think there's a ton of value in the community and providers owning these so that they're not part of the RedwoodJS codebase.

We're spending a ton of time understanding and fixing implementation details of other people's products. I do see a ton of value in them existing, but we support so many now that it's becoming tough to keep track of them.

I think it would be great

[2021-04-12 10:51] dac09 commented on #2260
@peterp 100% agreed. Is this something you envision before 1.0? I was putting it off till then.

[2021-04-12 13:37] jvanbaarsen commented on #234
In the docs it says:

I'm wondering, are there plans to use the TSCompiler at some point? Because now we lose out on a whole lot of TSC features, correct? As in, we 100% rely on the editor to let you know if a type is invalid?

[2021-04-12 13:53] noire-munich commented on #2250
## Verified solution on our project

We applied the fix outlined in this comment: https://github.com/redwoodjs/redwood/issues/2250#issuecomment-817220631
[code]

It appears that this does fix the netlify deploy issue but that it may break local dev on mac os ( not on linux ).

Also, we did not have to clear Netlify's cache, so this might not be necessary.

This is the link to prisma's issue, which

[2021-04-12 14:09] dac09 commented on #2250
## ⚠️ Note
The solution above only works for Linux users current, Prisma will issue a fix shortly. Track this issue here: prisma/prisma#6503

[2021-04-12 14:19] peterp commented on #2260
I think it's open for discussion. I guess the downsides are that we'll quickly introduce a breaking change after v1.0, but on the upside we have other priorities and this just isn't as important.

Maybe there's a middle ground where we can architect something quick 'n dirty that allows us to move quickly, but works nicely post v1.0.

[2021-04-12 15:08] peterp commented on #234
@jvanbaarsen I don't think we'll ever compile to `tsc` since it's a bit slow, but we will eventually be fully-type compliant and checkable by `tsc`

[2021-04-12 15:19] dac09 commented on #2246
I think it should be off by default, and I agree with Peter it should be an option that you can turn on. The jest outputs are verbose enough as it is!

[2021-04-12 15:40] adriatic commented on #1829
@thedavidprice

I understand **[my report on various tests failing](https://github.com/redwoodjs/redwood/issues/1829)** better now, so I am responding to your **[comments above](https://github.com/redwoodjs/redwood/issues/1829#issuecomment-789941185)** providing more details:

Let's use the error message:

`~__REDWOOD__USER_ROUTES_FOR_MOCK' from 'node_modules/@redwoodjs/testing/dist/MockProviders.

[2021-04-12 16:05] thedavidprice commented on #2250
Re-opening until Prisma fix available and in Redwood patch release.

[2021-04-12 16:13] janpio commented on #2250
@dac09 The workaround also works for Linux, but makes local development impossible. You can switch between defining the `binaryTargets` for deployment and not defining it for local development for example.

More permanent and convenient fix is being developed right now. Hope soon.

[2021-04-12 16:23] thedavidprice commented on #2260
I think this will be a challenge to complete before v1, but we should at least start an RFC Issue:
- determining which, if any, packages will retain "official Redwood support". If so, where should they live?
- determine/find maintainers for other provider packages --> as a first step could move to stand-alone repo in `redwoodjs/` organization with a "this repo is looking for a lead maintainer" or

[2021-04-12 17:19] peterp commented on #234
But once we're full-type compliant, nothing will stop you from using tsc. It's just that we're not setting up our own tooling to use it. We rather strip out the types and transpile to JS via babel, and via experimental esbuild support.

[2021-04-12 17:53] #1931 closed

[2021-04-12 18:06] dac09 opened #2264 "[Router] `whileLoading` not displayed when using `<Set>`"
### What?
When using `<Set>` with whileLoading props on routes, the whileLoading component is displayed for the first load (i.e. hard refresh) but not when navigating between routes.

### Repro
I have a repro of this live on the Tape site, but its a hard one to describe. My "whileLoading" component is the dashboard layout with the sheen bars

Routes.js looks like this:
[code]

Notice at 0:04, navi

[2021-04-12 18:13] dac09 commented on #2264
Tagging @Tobbe if you have any thoughts on this. I hope this makes sense!

[2021-04-12 22:50] thedavidprice commented on #1829
^^ ah, very interesting indeed. And 100% solvable! (Correct?)

^^ Nice! This seems like a very good idea. Frankly, we haven't explored this area much at all, so I don't have visibility into both 1) what users are trying and need to do and 2) if, given current codebase + config, they are able to do so.

## Some background
Integrating Jest (and the other test libraries) across the front-to-back end,

[2021-04-12 23:50] adriatic commented on #1829
Hello, @thedavidprice

I am very relieved after making the discovery that all the issues reported by VSCode are extremely simple to address by providing some additional settings to the set created (by the `redwood_app` utility)

![image](https://user-images.githubusercontent.com/2712405/114476220-d76d6500-9bc7-11eb-832f-63a954b9493a.png)

These settings will ensure the VSCode default behavior to s

[2021-04-13 00:31] ehowey opened #2266 "[CSS/Storybook]: Chakra UI components not rendering properly in Storybook"
Hello,

As mentioned in the chat the styles/components for Chakra UI (and also Theme UI) are not being properly rendered in Storybook. What I have done to try and fix this is a custom `storybook.preview.js` which you can see in the minimal repro.

It sounds like others have tried to fix this as well without luck. I can do some more investigating in the coming week.  I made some minimal efforts to

[2021-04-13 01:07] keithtelliott commented on #2266
Thanks for posting this issue Eric.

I observe the same issue:  Chakra components do not style correctly in Storybook.  However, I observe that they are fine when rendered via the app on my localhost (after starting the dev server with 'yarn rw dev').   For example, buttons appear, but the style of the buttons is not correct.

I browsed your minimal repo and can confirm that I setup my Chakra UI a

[2021-04-13 01:36] thedavidprice commented on #1829
That's great to hear! Do you know what those setting should be? Or are you still confirming? Either way, let's get it updated!

Here's the current installation template settings file:
https://github.com/redwoodjs/redwood/blob/0dd5ff3f5f8a5645c434b359da00cda07759ed28/packages/create-redwood-app/template/.vscode/settings.json#L1-L11

[2021-04-13 01:45] adriatic commented on #1829
Did you notice that the settings you just cited are the same as shown on **[the screenshot above](https://github.com/redwoodjs/redwood/issues/1829#issuecomment-818316023)**?

Ah, I know - you copied them to show me where these templates are kept, so I can create a PR, right? I will do that once I verify that all tests in a large sample work correctly.

[2021-04-13 02:30] thedavidprice commented on #1829
Yes, just for reference. And I can help either way. Keep me posted as/if needed.

[2021-04-13 03:24] ehowey commented on #2266
This was posted in the Discord chat.  Just cross posting it here because I think it is relevant. Looks like this is maybe a known issue in Chakra and a fix/update is in the works.

https://github.com/chakra-ui/chakra-ui/pull/3586

[2021-04-13 08:12] peterp opened #2267 "currentUser in `@redwoodjs/auth` does not have types"
I'm getting this error from the generated TypeScript types:

![image](https://user-images.githubusercontent.com/44849/114519358-a11ffc00-9c40-11eb-8ed0-69cebd566a90.png)

On the api side `context.currentUser` works well, but on the web side it's just an empty "roles" object.

[2021-04-13 08:45] millsp opened #2268 "Compute types for `aggregate`, `groupBy`"
We need to improve output types for `aggregate`, `groupBy`

![image](https://user-images.githubusercontent.com/18401805/114523990-1d1c4300-9c45-11eb-8d08-140172f1d8a4.png)

Solution to be taken from:
https://github.com/millsp/ts-toolbelt/blob/master/sources/Any/Compute.ts

[2021-04-13 12:40] dac09 commented on #2267
Hey @peterp it looks like interfaces can't extend union types. Could you please show me how you're defining the return type for your `getCurrentUser` function?

[2021-04-13 12:52] peterp commented on #2267
@dac09 I'm not actually defining a return type: I'm just returning my User model from Prisma which does have to union types on it. If I define the type by hand would it solve this?

[2021-04-13 12:57] dac09 commented on #2267
Yes I believe it would. This is because, for some reason the prisma types don't carry across to the web side.

Will discuss with the prisma team if there's a solution for this!

[2021-04-13 13:59] dac09 commented on #2267
Ok, update on the issue. It's definitely a case of union types that can't be added to the definition of CurrentUser. As you can see from your screenshot, prisma's generated types defines your return type as the union type
[code]

Thanks for raising this and the screenshot there peter, weirdly my vscode doesn't complain about this.

Could you please confirm that manually defining the return type of

[2021-04-13 15:24] thedavidprice commented on #2268
looping in @dac09 @peterp @Tobbe

[2021-04-13 15:31] dac09 commented on #2268
Thanks for raising this @millsp - might this issue be better placed with the prisma team at https://github.com/prisma/prisma since the type comes from the prisma client?

[2021-04-13 15:55] adriatic opened #2271 "Redwood Language Server crashes in VSCode"
I am working on several "VSCode settings"  issues in the Jest Testing context which will result with the PR for updating the file `redwood/packages/create-redwood-app/template/.vscode/settings.json`. At this point, I do not know what the Redwood Language Server is, so this issue should stay open until I find the reason for this crash

Our goal so ensure that any Redwood app behaves identically whe

[2021-04-13 17:03] dac09 commented on #1963
Are we still exploring this further @peterp or shall we close this PR?

[2021-04-13 19:23] cannikin commented on #1630
Notes from Core meetup on 2021-04-13:

* Rename argument sent to `beforeResolver()` from `before` to `rules`
* Rename `run()` to `apply()`
* If skip() is called with no arguments, and at least one verification function resolver would be removed from the list of ones to apply, throw an error—it's super dangerous to skip EVERYTHING after setting up some logic so we'll stop you from foot-gunning your

[2021-04-13 20:14] adriatic commented on #1829
@thedavidprice I need a good advice from you: how to handle the discussion on VSCode settings that would result with responses by anyone using VSCode on either of the three supported OSes?.

My inclination would be to use [Discussions and Questions](https://community.redwoodjs.com/c/discussions-questions/1) despite my pretty slim set ot response to most of my posts. This would be my first plea for

[2021-04-13 20:50] krinoid commented on #1664
I've tried using the `zip` workaround on Vercel but it doesn't work due to the `zip` not being available during build:

![image](https://user-images.githubusercontent.com/25506297/114617900-fe4f9800-9ca8-11eb-9511-b0224aa786f4.png)

I'm exploring other solutions/workarounds.

[2021-04-14 00:08] thedavidprice commented on #2271
**Status of Language Server and VS Code Extension:**
There's a major rewrite happening, which has been in progress for a while. We've agreed to reach a stable v1 release candidate before making the final push — each time there's a breaking change to the Redwood API, it involves re-writing aspects of Structure and the Extension, which was too much to keep up with.

[2021-04-14 00:21] thedavidprice commented on #1829
@adriatic Thank you for this question. Visibility and feedback are important (and hard) as this project picks up speed and there's continual incoming. One individual I'd suggest you watch and ask for advice is @dthyresson He's done a great, patient, sustained job working from RFC to Forum Post to Draft PR to escalating to Core Team several times now (and on repeat).

If you want to experiment and

[2021-04-14 02:01] adriatic commented on #2271
Given Aldo's daily workload (some small bird told me about that) I am definitively going to get proficient in writing VSCode extensions, as there are so many aspects of RW that I could make both Aldo and his clone fully occupied.

[2021-04-14 02:17] adriatic commented on #1829
Great workflow @thedavidprice. While I would be less formal in my "native" mode, I really like your introduction into Redwood culture and expected communications. I particularly like two sentences:

@dthyresson would be my choice had you not proposed him, so let's hope that he would not mind being my RW communications protocol adviser

[2021-04-14 11:41] dac09 commented on #2267
My bad Union types refer to  `typeA |  typeB` not `typeA & typeB`. The second work just fine. Would need to dig further why CurrentUser doesn't seem to come through for you.

Working example here: https://github.com/dac09/prisma-ts-repro . Might be worth opening this project on your machine and seeing if you get the same error!

[2021-04-14 13:53] Isaac-Tait opened #2274 "TailwindCSS related error: TypeError this.getOption is not a function"
I completed a fresh install of Redwood (v. 0.29.0) then installed TailwindCSS. Now I am getting this error (I was able to duplicate this error on a fresh install on a barebones Redwood install):

[code]

The error is a little odd, because the code found in `cjs.js` is:

[code]

I should mention that the Chrome debugger paused at the following exception before reaching the final error shown above.

[2021-04-14 13:53] Isaac-Tait commented on #2274
As an aside the [docs](https://redwoodjs.com/docs/webpack-configuration#adding-tailwind-css) for installing TailwindCSS seem to be a little out of date. These last few steps seem to be already completed for the user:

[code]
&
[code]

[2021-04-15 10:08] qooqu commented on #2128
I took a crack at it. PR here:

https://github.com/redwoodjs/redwood/pull/2278

[2021-04-15 14:24] janpio commented on #2250
We have a patch release 2.21.2 out that should fix this problem: https://github.com/prisma/prisma/releases/tag/2.21.2

Note:

[2021-04-15 14:28] dac09 commented on #2268
Woops. I just saw your org now, @millsp!

I tend to use db, and get better types that way, rather than `ctx.prisma`

So,
[code]

and then
[code]

Could you let me know if this works better for you? I guess i'll have to dig into the context types.

[2021-04-15 15:07] #2268 closed

[2021-04-16 06:58] jvanbaarsen opened #2298 "Add ability to set custom MockProviders"
We have the option to allow users to set their own Query provider instead of Apollo, this works great in production code, but once you're entering testing territory you run into problems.

For Apollo we have a `MockProviders` function in `MockProviders.tsx`, this function sets the RedwoodApolloProvider.

To make "Bring your own query provider" more a first class experience we probably want to come

[2021-04-16 07:54] jvanbaarsen commented on #2298
I know fixed it by using this work-around: https://gist.github.com/jvanbaarsen/30a6314e017b01da4a0ad1c4ff98514f.

I can now import this in my tests instead of the `render` from `redwoodjs/testing`. This however doesn't feel like a solid solution, and more of a temporary hack.

[2021-04-16 10:41] jeliasson opened #2299 "`yarn rw build web` requires `@redwoodjs/api-server`"
**Issue**
In a serverful Docker deployment I have one `Dockerfile` for web and one `Dockerfile` for api. However, the web seems to require that the `api` directory is being copied in to the image in order to be able to run `yarn rw build web`.

**Example**
[code]
**Error**
![image](https://user-images.githubusercontent.com/865493/115012582-47be0400-9eb0-11eb-9f06-7c9506fe733c.png)

I think it's be

[2021-04-16 10:47] jeliasson opened #2300 "`@redwoodjs/api-server` missing `--functions` argument"
In RedwoodJS `0.29.0` we no longer have the `--functions` argument to `api-server` (now named `rw-api-server`), and it is hard-coded to `./dist/functions`. What was the main motivation behind this? In my setup it is no issue, but would be nice to know the direction it will take in the future 😊

Related commit
https://github.com/redwoodjs/redwood/commit/3808f1c286ab39da41ad1bae810cd72f768ffde7

/cc

[2021-04-16 11:56] dac09 commented on #2299
Hey @jeliasson, v0.30 going out shortly that should address this. (fixed in #2251)

[2021-04-16 12:51] dac09 commented on #2299
V0.30 Released! Please give it a go, and if it works for you, would appreciate if you close out the issue

https://github.com/redwoodjs/redwood/releases/tag/v0.30.0

[2021-04-16 12:52] dac09 commented on #2250
Confirmed fix 🍾

New prisma version release in Redwood v0.30. https://github.com/redwoodjs/redwood/releases/tag/v0.30.0

[2021-04-16 12:52] #2250 closed

[2021-04-16 13:10] jeliasson commented on #2299
Unfortunately the same issue @dac09

![image](https://user-images.githubusercontent.com/865493/115029002-ccffe380-9ec5-11eb-80cb-9954b113a2d7.png)

[2021-04-16 13:12] dac09 commented on #2299
Was the lockfile updated after the upgrade? The may change was making sure the cli has api-server as a dependency.

[2021-04-16 13:14] dac09 commented on #2299
Ah I just realised. No it doesn't.

Quick fix for now

[code]
I'll fix this as part of the new serve in v0.31.

[2021-04-16 13:28] dthyresson opened #2303 "Accessibility: Lint warning with roles in Private route"
![image](https://user-images.githubusercontent.com/1051633/115031114-cfe2e000-9e95-11eb-98cd-4c471dc3784f.png)

@jtoar I am seeing this warning lint message in v30 when I declare roles on a Private route about `ARIA roles`.

Is this something to be concerned with or need to addess?

[2021-04-16 13:29] peterp commented on #2303
Uh oh, yeah, we should definitely attempt to fix this - maybe we can disable this rule in lint configuration for the Routes.* file?

[2021-04-16 13:59] Isaac-Tait commented on #2274
It would appear that I skipped an important step. Giving it another try this morning I built a fresh Redwood app but I started at the top by creating a [Webpack Config](https://redwoodjs.com/docs/webpack-configuration) instead of skipping straight down to installing TailwindCSS... Now it seems to be working correctly. Also, the last few steps (`postcss.config.js` & `tailwind init`) were not comple

[2021-04-16 13:59] #2274 closed

[2021-04-16 14:07] jeliasson commented on #2299
I have added `@redwoodjs/api-server` as dev depenency and it works fine. Let's keep this issue open and track fix in `0.30.0`. Sounds good? Thanks!

[2021-04-16 14:39] dthyresson commented on #2259
@clairefro You've expressed Supabase interest.

Want to investigate this issue? I may be addressed in a future sdk update or it may be more complicated.

I can connect you with Supabase to get more info as well.

[2021-04-16 15:18] peterp commented on #234
I'm happy to report that we'll be full type compliant in `v.1.0.0` of RedwoodJS!

[2021-04-16 19:16] mikebobadilla commented on #1630
Just a question: Do you think an `any` type for rules might be applicable? So something that would find the first rule that returns true.

[code]

This might be a bad example, but the logic still applies.

[2021-04-16 22:49] #2299 closed

[2021-04-16 23:12] cannikin commented on #1630
I know basically nothing about Typescript (on purpose, it's against every fiber of my being) so I have no idea where that would go or what implications it would have. 😬 I defer to @peterp!

[2021-04-16 23:27] dac09 commented on #1630
I don't think he meant typescript @cannikin haha.

I think he meant `rules.oneOf` as in, if any of these rules pass, allow the request.

[2021-04-17 14:36] ryancwalsh commented on #534
Thank you so much, @wiezmankimchi , @thedavidprice, and team!

`yarn rw dev --forward="--disable-host-check"` was what I needed to prevent the ["Invalid Host Header" error](https://github.com/localtunnel/localtunnel/issues/269) I was getting when using LocalTunnel.

[2021-04-17 14:48] cannikin commented on #1630
AHHH I get it! Using the similar `before_actions` in Rails for years I don't remember wishing I had anything like this...in this instance I'd write a single before resolver named something like `requiresPermission` that then has the conditional check for which roles are needed.

This way you always know that each before resolver either passes or fails—there's no ambiguity when looking at the list

[2021-04-18 10:07] davidpfahler opened #2310 "create-redwood-app: .gitignore file missing"
## Expected behavior

As a user of redwood, I would like the command `yarn create rewood-app [name]` to also create a `.gitignore` file in the `[name]` directory.

## Current behavior

`yarn create rewood-app [name]` does not create a `.gitignore` file.

## How to fix

Unfortunately, I do not know what is causing this bug.

[2021-04-18 11:12] #1636 closed

[2021-04-18 15:44] renansoares opened #2316 "Error creating project using CRWA script from main branch"
I just rebased my local redwood development branch, not sure if there is something wrong with my local envinroment.

The command ``yarn babel-node packages/create-redwood-app/src/create-redwood-app.js test-project`` gives me this error:

[code]

Can someone also try to reproduce?

[2021-04-18 17:08] jtoar commented on #2310
@davidpfahler you and me both! We're aware of this in the latest release and are working to get a patch out. Thank you for noticing and please bear with us for the time being. If you want to create it manually, the contents of the `.gitignore` that should be there are here:
https://github.com/redwoodjs/redwood/blob/main/packages/create-redwood-app/template/.gitignore.

[2021-04-19 15:13] renansoares commented on #2316
I see it's actually here: https://github.com/redwoodjs/redwood/blob/0b93201eee511fcd237e32ef0be0b76241d3ffa4/packages/create-redwood-app/template/yarn.lock#L1872

[2021-04-19 19:04] viperfx opened #2320 "[RFC] CLI scripts and command line args with redwood context"
I have an increasing need for CLI scripts that need the redwood context. I have spoken with others that are developing applications who would also find this useful.

Here are my use cases:
- create special database seed scripts for different scenarios
- sync stripe products and prices (especially useful after seed command wipes the DB)
- one off CLI commands used for local development only.

[2021-04-20 00:34] cannikin commented on #1630
I'm stuck on something. We want to give people a default `auth.js` file that contains just:

[code]

But that means when they go to setup their own auth for real, that file will always exist and the command will always fail because it doesn't want to overwrite the file. So I went down the path of looking for the `auth.js` template from `create-redwood-app` and only automatically overwrite that fil

[2021-04-20 03:40] thedavidprice commented on #2316
@renansoares Just tried to reproduce and not seeing the error. I did update the create-rw-app/template/yarn.lock after releasing v0.30.1, however.

@peterp I'm still not convinced about the benefit of including template/yarn.lock My preference is still to remove it entirely.

[2021-04-20 05:12] renansoares commented on #2316
@thedavidprice I see package is not there anymore after you updated it, thx

[2021-04-20 05:41] Tobbe commented on #1630
I'd like (2) more if we actually set up git by default for new projects.

I think we should go for (3)

How about this for a start?
[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/toString

[2021-04-20 06:33] cannikin commented on #1630
But they could have also added logic that happens to return true, or added other functions to that file, or turned it into a `default` export, or so many other things, and we'd overwrite it anyway. :(

It's a shame we didn't just make these commands interactive and ask if it's okay to overwrite. I'd be totally fine with an `api/src/lib/auth.js exists, overwrite? `y/n/a` prompt. Although since they

[2021-04-20 06:45] Tobbe commented on #1630
Of course, that's why I also added the "no parameters" check. And yes, I know it still isn't perfect.

Then the import won't work, the code will throw, and we'll return `false`

This is the biggest issue I think. Have no good ideas on how to handle this right now :(

---

If you're set on just overwriting it, how about at least saving a copy of it before overwriting? `auth.js_backup`

[2021-04-20 09:28] #2303 closed

[2021-04-20 09:49] dac09 commented on #1630
Hey @cannikin just had a thought. Could we make beforeResolvers through proper 403s? So we don't have to deal with this: https://user-images.githubusercontent.com/300/104504728-c21c7680-5597-11eb-913b-3de53743dd30.png

[2021-04-20 12:23] dac09 opened #2325 "Service generator CRUD types incorrect"
## What's the issue?
When you generate a scaffold, or a service with crud, the types produced for the `update{Entity}` aren't quite correct

Example:
[code]

You can see that id doesn't exist on the type.

---
Tested with Redwood v0.31.0

[2021-04-20 16:16] cannikin commented on #1630
HAHAHA  Dude I'd love to, but that's not the GraphQL way is it? Shouldn't it *always* return 200, even if the datacenter is wiped out by a tsunami?

[code]

[2021-04-20 18:13] #2088 closed

[2021-04-20 23:40] cannikin commented on #1630
Got the prompt working!

![image](https://user-images.githubusercontent.com/300/115476605-123e5100-a1f7-11eb-8f74-28a0983e90ea.png)

* If you already passed `--force` it won't bother asking
* If you say `n` then it behaves the same as if the `--force` flag was missing (refuses to overwrite files)
* If you say `y` then it basically flips `force` to `true` for the tasks that involve overwriting file

[2021-04-20 23:43] cannikin commented on #1630
Now just need to take @dac09 up on his offer to ruin this beautiful code by adding Typescript. 😃

[2021-04-20 23:47] dac09 commented on #1630
[code]

[2021-04-21 05:24] Tobbe commented on #1630
Nice! That was def the best option!

[2021-04-21 11:10] mastrobardo commented on #954
Im experiencing a lot of problems as well on windows with the same exact setup i have on Mac. Git bash as well is not helping ( i thought it was just some path problem, already lost 2 hours on this ). Is there a storybook minimal example for windows somewhere? at work we even have windows servers, cannot push to be adopted storybook like this ( used in previous companies and everything was good, w

[2021-04-21 14:21] #523 closed

[2021-04-21 14:30] dac09 commented on #2069
Hey @peterp - would you like me to take this over?

[2021-04-21 14:35] #2325 closed

[2021-04-21 14:39] dac09 commented on #2298
Thanks @jvanbaarsen for raising this. Pretty valid point! Will try to prioritise next release (v0.32)

[2021-04-21 14:42] #2128 closed

[2021-04-21 14:44] #1583 closed

[2021-04-21 14:46] dac09 commented on #639
Closing, as this was implemented with snapshot tests in one of my PRs a while ago!

[2021-04-21 14:46] #639 closed

[2021-04-22 02:59] viperfx commented on #2320
Wanted to add a specific use case I am blocked on right now

I am looking through the node worker and client - https://github.com/jbielick/faktory_worker_node

I cannot share the code of the redwood API like services, db etc.. with the worker script. Similar issue to not being able to run CLI scripts and create node scripts that share redwood API context

If i mistaken on this assumption - do let

[2021-04-22 03:13] stephenhandley opened #2334 "Disabling automatic imports / src path aliasing magic"
I'd prefer to minimize any magic tooling for imports. Is there a way to disable the following?
- automatic route imports
- src path aliasing

[2021-04-22 05:27] thedavidprice commented on #954
Hi @mastrobardo Sorry to hear you're running into problems. Could you open a new issue that includes examples, errors, and your windows setup? We do have Windows users that are able to run Storybook successfully. We'll just need more information about your case to better diagnose.

Also, if you haven't yet gone through the related Tutorial sections or Redwood Docs, those might be of help:
- https:

[2021-04-22 05:30] thedavidprice commented on #2274
@Isaac-Tait All good. Thanks for updating this Issue to help others along the way.

To be clear, did you ever try `yarn rw setup tailwind`?

[2021-04-22 10:03] #2068 closed

[2021-04-22 13:07] Isaac-Tait commented on #2274
In both attempts I did use that command.

The first time (when I skipped Webpack) I started with `yarn rw setup tailwind`... The second time I installed `webpack` first then I ran `yarn rw setup tailwind`.

Definitely very helpful to have that process streamlined a bit 👍🏼

[2021-04-22 14:50] thedavidprice commented on #2274
Got it. Thank you!

[2021-04-22 15:07] kyrcha commented on #1410
I arrived in this issue through Google search and managed to get stripe webhooks working in vercel through this blog post https://maxkarlsson.dev/blog/2020/12/verify-stripe-webhook-signature-in-next-js-api-routes/.

[2021-04-22 16:17] #2233 closed

[2021-04-22 16:21] dac09 commented on #2205
Closing this, as implemented in #2208 - thank you @corbt!

More improvements to come on this aspect in the coming releases!

[2021-04-22 16:21] #2205 closed

[2021-04-22 16:44] cannikin commented on #1630
If I could understand this syntax I'm assuming I would be upset! 😈

[2021-04-22 19:13] thedavidprice commented on #981
Relevant to site performance and search performance (not sure where this fits with Lighthouse):
- https://web.dev/vitals/

Helpful overview article from Vercel blog: https://vercel.com/blog/core-web-vitals

[2021-04-22 20:17] alecortega commented on #1410
I had this exact same issue with all my functions hosted on Vercel. I found that when working with Redwood locally the body of a function is decoded, however, once deployed to Vercel, the body may be base64 encoded. I have the following code in my Stripe webhook function to handle both local development and Vercel:

[code]

Hope that helps as well!

[2021-04-22 20:27] thedavidprice commented on #1410
Thanks, everyone, for the help here!!

[2021-04-22 20:27] #1410 closed

[2021-04-22 20:29] thedavidprice commented on #1410
fwiw — this Issue is a good example of something that can make for a great how-to forum post as well.

https://community.redwoodjs.com

[2021-04-23 02:09] dthyresson commented on #1410
@Burnsy and @alecortega my webhook verifiers jut got merged into main for the upcoming v0.31 release:

`verifyEvent`
https://github.com/redwoodjs/redwood/blob/main/packages/api/src/webhooks/index.ts

and this is the Stripe verifier that is a timestamp + scheme:

https://github.com/redwoodjs/redwood/blob/main/packages/api/src/auth/verifiers/timestampSchemeVerifier.ts

I've been testing locally and

[2021-04-23 02:13] alecortega commented on #1410
@dthyresson Absolutely! I can try this out with the hooks I've seen this issue, deploy it up to a preview environment, and see if I see the above issue or if things come through. I'll try to get to it tomorrow evening or the following day.

[2021-04-23 02:48] dthyresson commented on #1410
Thanks! After review, I think I am going to add the base64 conversion in the verifyEvent to be safe but prob tomorrow.

[2021-04-23 05:09] jtoar opened #2338 "[RFC] Better skip links"
We more or less just shipped skip links but here's already some thoughts about how we could make them better. (Shout out to @Tobbe!) The goal generally is to make skip links more Redwoody. That's not super descriptive so here's some things about them that aren't so Redwoody ([here's the template for reference](https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/layout

[2021-04-23 05:29] Tobbe commented on #2338
If we do add it to index.css (which I think is a good idea), I think we should add the actual styles, not just import/include the reach css. I agree that people probably want to style the skip link, and having the styles right there makes that easier.

I mentioned #rw-skip-nav, but I actually like your suggestion of #main-content more 👍

I vote we do! And if we do, I think we can look at this exam

[2021-04-23 15:36] jtoar commented on #540
Feel like we can close this as of https://github.com/redwoodjs/redwood/pull/2321; I'll make an RFC for further improvements to the route announcer.

[2021-04-23 15:36] #540 closed

[2021-04-23 19:21] dac09 opened #2342 "RFC: [CI] Publish release candidate packages from `release/*` branches"
## Why?
Currently we have no way of publishing a release candidate (for either minor or patch releases) from a branch.

## What?
We should have a github workflow that will publish release candidate packages i.e. `0.31.0-rc1`, `0.31.1-rc3`, automatically from `release/*` branches.

Versioning conventions should follow the Canary release workflow (configured on the main branch), but ofcourse we need

[2021-04-23 19:28] dac09 commented on #2342
cc @Tobbe, @peterp  would love if we could make this happen next release!

[2021-04-23 19:32] BstevensG4G commented on #1478
I think more of us should make a comment in this issue on the vs code repository. I really think this may be something that could either resolve or at least give the extension builder the opportunity to debug this issue!
Feature: Specifying the load order of extensions (reduce startup wait-time) #46846

[2021-04-23 19:40] dac09 commented on #2215
## Issue
Yarn install fails during rwt link with the error:

[code]

`xxx` could be a handful of modules - but commonly `@babel/cli`.

This does not happen in _all_ projects, but can happen, typically after an upgrade.

## Solution
This is a very painful bug within yarn, and something to do wth yarn's resolution strategy. See here: https://github.com/yarnpkg/yarn/issues/7807

**Step 1: Remove all

[2021-04-23 19:51] BstevensG4G opened #2344 "Cannot activate the 'Redwood IDE' extension because it depends on the 'Browser Preview' extension"
While working remotely in WSL on Windows 10 VS Code reveals this message box every time it loads a redwood project making the extension unusable. Various issues in other repositories may give clues to its resolution.
[VS Code Extension wont load in remote - ssh mode. #1478](https://github.com/redwoodjs/redwood/issues/1478)

If nothing else this feature request seems like an invaluable tool for ext

[2021-04-24 19:04] Tobbe commented on #2005
I just ran into this myself, where my query was returning two "objects", and I wanted to render `Empty` if either one is empty.

[code]

If either `team` or `coach` is empty, I want to render `Empty`

[2021-04-25 14:09] dthyresson commented on #2316
@renansoares and @thedavidprice Sounds like this issues is resolved. Ok to close?

[2021-04-25 14:25] #2316 closed

[2021-04-26 00:40] ajcwebdev commented on #2218
The discussion for this has [shifted to the forums](https://community.redwoodjs.com/t/lets-discuss-a-command-to-create-a-functional-test-project/2054/) for anyone tracking this.

[2021-04-26 10:24] jvanbaarsen opened #2352 "Allow users to disable VSCode redwood warnings"
I have an app where I want to check if something runs in Development mode, otherwise, something shouldn't render.

My editor keeps complaining to me "Env value NODE_ENV is not available". I noticed that this is coming from the RW VSCode plugin. After adding this to my .env file all my tests stopped working (Because they then also run in dev mode).

it would be great if we could disable certain che

[2021-04-26 13:19] dthyresson commented on #2259
Also could be this issue https://github.com/supabase/gotrue/issues/90

[2021-04-26 13:55] clairefro commented on #2259
Hey sorry I missed the first mention @dthyresson

Yes, I believe this is a supabase issue at the moment. I needed to use broke for local testing

[2021-04-27 08:51] dac09 commented on #2342
@renansoares - I know you said you were interested in automation - does this look like something you fancy helping out with?

Thanks!

[2021-04-27 11:46] renansoares commented on #2342
hey @dac09, yay thanks for reminding me! o// :D

sure, It does look like something I would like to help with. can you assign it to me?

[2021-04-27 12:03] jvanbaarsen opened #2359 "Storybook is not working when using React Query"
When you setup React Query according to the docs you run into a couple of problems, one of them is that Storybook is no longer working:

![image](https://user-images.githubusercontent.com/1362793/116238104-42d73b00-a761-11eb-8c35-9de62cca5fd8.png)

[2021-04-27 15:57] dthyresson opened #2360 "Support Public/Private Key Webhook Verifier as used by Paddle"
[Paddle](https://paddle.com/) [webhooks](https://developer.paddle.com/webhook-reference/verifying-webhooks) are signed with public/private key encryption.

See: https://developer.paddle.com/webhook-reference/verifying-webhooks

Here is a sample Node.js implementation:

[code]

Note that:

* SHA1
* base64 encoded

[2021-04-27 16:03] dthyresson commented on #2360
Note useful to apps used by @dac09 and @peterp

[2021-04-27 17:04] dthyresson opened #2361 "Auth: Default Magiclink to always showUI"
See: https://github.com/redwoodjs/playground-auth/pull/60

@shahbaz17 has suggested that the default behavior of Magiclink should always be to show the UI as in:

![image](https://user-images.githubusercontent.com/1051633/116282617-fe47a180-a758-11eb-8123-ed24c11a13f4.png)

That way, only if the developer doesn't want the confirm message, then they can explicitly set `showUI: false`

This Magic cl

[2021-04-27 17:41] #1630 closed

[2021-04-27 18:31] jvanbaarsen opened #2362 "Allow partial matches with NavLink"
Currently the NavLink only matches on a full path match, there is a way to do some things yourself with `useMatch`, but also this one doesn't really allow you to set custom rules.

In my case for example I have these two routes that both should make the same item active:

[code]

Wouldn't it be awesome if we can also do partial matches? Or maybe use a regex or something. So you'd get an API like t

[2021-04-28 14:53] dthyresson commented on #2362
I have also had cases where my link has a querystring (ie, for tab nav) and the NavLink cannot look into the param values to determine that a particular tab referenced in the url is the active tab.

[2021-04-28 15:08] Burnsy opened #2365 "[RW 0.31] Window Focus partially reseting view to top"
Video showing not fully resetting in 31.0

https://user-images.githubusercontent.com/15834048/116427323-d715d080-a83b-11eb-8298-b04bcc31e35a.mov

[2021-04-28 15:47] thedavidprice commented on #2365
Looping in @jtoar

[2021-04-28 21:29] brentjanderson opened #2372 "Use Prisma comments when generating/scaffolding"
[Prisma will attach `///` comments in a prisma.schema file to generated AST.](https://www.prisma.io/docs/concepts/components/prisma-schema#comments) If redwood is using that AST to generate e.g. services & GraphQL schema, those comments could be made available in other parts of the project.

[2021-04-29 08:29] noire-munich opened #2397 "Performances of tests on web side"
I began writing ui tests this week and noticed the execution time was anormally long:

![Screenshot from 2021-04-28 15-30-10](https://user-images.githubusercontent.com/10271407/116521951-e5fc9180-a8d4-11eb-8737-78d40f70ea56.png)

for a simple test on a checkbox input, we got an average of 80s of execution.

I thought the problem was in the code so I stripped the test from everything and ran it aga

[2021-04-29 10:24] peterp commented on #2334
Hey @stephenhandley, you can remove `src` from your paths in`tsconfig.json` or `jsconfig.json` and I believe vscode will ignore the alias.

We do not import routes automatically, we import the pages (I'm assuming this is what you mean), but if you don't want to import them magically then you can just import them yourself and they won't be imported anymore.

[2021-04-29 10:24] peterp commented on #2334
Please let me know if there's anything else and feel free to open this issue again.

[2021-04-29 10:24] #2334 closed

[2021-04-29 11:11] dac09 commented on #2320
Another couple of usecases from me. Assuming I'm triggering the script from the command line:
- running cleanup jobs on a regular basis e.g. delete stale/expired data
- sync data between platforms e.g. email -> email marketing platform

[2021-04-29 13:44] noire-munich commented on #2397
Investing further I noticed the api felt also a bit off, here's what a single `yarn rw dev api` runs, according to `htop`

![Screenshot from 2021-04-29 15-42-05](https://user-images.githubusercontent.com/10271407/116560286-84065100-a901-11eb-95a3-0b3c517d718c.png)

Not sure it's what's expected.

I used to be able to kill off either side with a simple `cmd + c` but it doesn't work anymore.

[2021-04-29 14:02] peterp commented on #2397
@noire-munich can try running `yarn rw test web`?

With regards to the api - I'm almost at the point where I'll deprecate the `dev-server`, could you try running: `yarn rw dev --esbuild` instead?

[2021-04-29 17:07] noire-munich commented on #2397
Sure!

`yarn rw dev --esbuild` crashes graphql, I'd be toasted without it:

[code]

I have, executing all tests, I've got a load of errors - I really didn't work my web tests :-\. The Checkbox test, ran within all tests, takes 32s. Executed on a pattern filter - alone - it takes 77s. In neither cases does it yield errors.

[2021-04-29 23:10] mubaidr opened #2401 "Support snake_case in `generate` command"
**Issue:**

**Redwood Fails to find model in `prisma.schema` file.**

cli `generate` command does not support `snake_case` database naming. It always converts `model` parameter to `PascalCase` before trying to scaffold anything:
https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/scaffold/scaffold.js#L60

**Error:**
[code]

**Why:**
`snake_case` naming is recommended

[2021-04-30 07:49] noire-munich commented on #2397
Update: I "fixed" the crash related to Firebase, it happened because I had 2 functions graphql and another one. The other one was obsolete so I removed it, however a local esbuild did not take into account the deletion of the obsolete code in `api/dist`, so I had to do it manually.
This did not happen on preprod & prod, the fix went smoothly. I'll stick to `esbuild` from now on, since it handles p

[2021-04-30 16:17] thedavidprice commented on #1886
-[ ] add CI for `yarn rw serve`

[2021-04-30 16:59] dac09 commented on #2320
Copying this over here for visibility. Suggestion for implementation ->
In essence what needs to be done is:
1. add a new cli command `yarn rw run-script` (naming TBD)
2. command should call the script with the provided name, similar to this file here: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/dataMigrate/up.js
key parts of the file being the babelRequireHook (line 1

[2021-04-30 17:34] Forwardslash-development commented on #1478
Same issue here.  Win10/WSL2/Ubuntu20/VSCode. Commenting to follow.

[2021-04-30 17:39] Burnsy commented on #2365
This seems to be an initial bug with if you have a fixed banner at the top of the page then the page starts slower. so working as expected when moved things to sticky it now resets to top of the page!

[2021-04-30 17:39] #2365 closed

[2021-04-30 18:07] Burnsy opened #2416 "Sourcemaps are not disabled in production"
Here is a snippet in my codebase from everfund.co.uk

![image](https://user-images.githubusercontent.com/15834048/116736001-349a5080-a9e7-11eb-8368-cea2d2c72c1c.png)

it should be disabled by default.

[2021-04-30 20:06] #2342 closed

[2021-04-30 20:38] #2052 closed

[2021-04-30 20:38] #2053 closed

[2021-04-30 21:26] cannikin commented on #2401
This PR went in recently which takes care of cleaning up tables after a test where the table name is different than the name of the model in the schema file: https://github.com/redwoodjs/redwood/pull/2083

We should probably update that code to loop through all defined models and find one where either the `name` or the `dbName` is what was given on the command line, and then use that found model o

[2021-04-30 21:29] mubaidr commented on #2401
Cool. Looking forward! 👍🏼

[2021-05-01 00:30] KrisCoulson opened #2422 "Scenarios: Use data previously created in the scenario as input to other scenario data"
Currently trying to use scenarios for testing nested data is a bit lack luster. When working with some relationships we need the item created to be created with addition relationships. It would be awesome if we were able to create scenario data and then use it within the scenario.

@cannikin had some initial thoughts which can be found here on the [discord channel](https://discord.com/channels/679

[2021-05-01 17:37] Tobbe opened #2429 "RFC: Optional path parameters"
# Optional Path Parameters

## Existing functionality

This is what you do to have a path parameter named `id`

[code]

You can add a constraint and a "type cast" by doing this, and you'll get a `number` instead of a `string` when you use it

[code]

You can even add custom types

[code]

## Rationale

@simoncrypta mentioned to me he would like to have a parameter that optionally defines the langu

[2021-05-01 17:55] cannikin commented on #2429
In case everyone was wondering what **Rails** does... ;)

Optional path parts are surrounded with parenthesis:

[code]

So that responds to both `/users` and `/users/cannikin`

Once one part is optional, everything after that has to be optional as well, you can't have an optional in the middle and something required after that.

You can also *nest* the optionals, so you can define multiple possibl

[2021-05-01 19:10] KrisCoulson opened #2431 "RFC: Extend useAuth with custom functions"
# Extend useAuth

## Existing functionality
Currently, there is no way to access custom data that we may set in `user_metadata` or any objects we may return from our `getCurrentUser` function.

The `hasRole` function is a great addition but doesn't cover all use cases when custom attributes may be returned from the `getCurrentUser` function.

## Example
As an example, we add memberships to our cur

[2021-05-01 19:30] Tobbe commented on #2429
Thanks for your input @cannikin. This validates the idea I think. We're not crazy for wanting optional parts of the routes 🙂

But so, how would the Rails router solve @simoncrypta's use case with the language as an optional parameter at the start of the URL?

So for Simon's case every route would have to consist of only optional paths? That'd be weird 😬

[2021-05-01 19:47] simoncrypta commented on #2429
That question me how they do i18n routing in Rails. I check on the web some example and I [found this one interesting ](https://dev.to/morinoko/setting-up-i18n-for-rails-with-locales-from-url-params-38pg)
They don't use the same method that @cannikin show us, but they give us a good hint for the use case with the language  :

"To make the :locale parameter optional, you can pass in a regular expre

[2021-05-01 19:47] cannikin commented on #2429
There's another part to the Rails syntax I forgot to include! You can define defaults for variables if they're not present:

[code]

That one has the default on the end though, and since we want an optional *first* part I think you'd need two routes to encompass all the possibilities:

[code]

But that means you'd need two routes for each and every possible other route, ugh.

To in this situation,

[2021-05-01 19:48] cannikin commented on #2429
@simoncrypta posted his response just SECONDS before I hit send on mine! Great minds think alike! 😄

[2021-05-01 22:41] Tobbe commented on #2429
We could add that functionality too, to our user route param types

[code]

[2021-05-02 10:27] fveauvy commented on #2232
I closed #2236 because of commit history issues.

I opened #2430 which tackles this issue and #1597 aswell.

[2021-05-02 17:21] viperfx commented on #2431
Def like the idea of having a central place to add permission check functions like the auth provider! It can be extended for so many use cases like featureFlags from the db, checking their current plan, etc.

[2021-05-02 18:45] dthyresson commented on #2320
I think a name that uses "run" or some variant feels most familiar to me probably because of `heroku run`. See: https://devcenter.heroku.com/articles/one-off-dynos#an-example-one-off-dyno

[2021-05-02 19:12] simoncrypta commented on #2320
Agree with @dthyresson and I find confusing to remember two words concatenate like `run-script`  or `runScript`. I prefer when they keep it one word or add another command if they have some variate (` yarn rw run script` or `yarn rw run something` )

[2021-05-02 20:27] viperfx commented on #2320
Hmm yea I like run. That's nice and simple. easy to remember. What about the generate? What do we want to call this concept? `generate runScript`or `generate script`?

[2021-05-02 20:56] dthyresson commented on #2320
Can you provide an example template for what the script file would look like?

[2021-05-02 20:59] dthyresson commented on #2320
I think I lean towards `generate script`

[2021-05-02 21:10] viperfx commented on #2320
The script template so far is a very simple skeleton like so

[code]

I am looking into support arbitrary args and kwargs for any script, so hooking in the yargs lib .... most just an idea at the moment.

[2021-05-02 23:45] viperfx commented on #2320
Got a decent amount working and have a PR up at #2436

[2021-05-03 08:03] jvanbaarsen commented on #2416
@Burnsy I'm wondering, why *should* they be disabled? They don't add any overhead for the end-user correct? I believe they only download when the dev tools are opened.

[2021-05-03 13:12] dthyresson opened #2437 "Services/Typscript: ResolverArgs not exported by '@redwoodjs/api/dist/types'"
I created a new RW app using Typescript and generated sdl + services for a model `Activity`.

In the service, I get the warning that `@redwoodjs/api/dist/types` has no exported member `ResolverArgs`

![image](https://user-images.githubusercontent.com/1051633/116879932-536b3380-abef-11eb-9a29-4dbb1e0f1120.png)

But it is used

[code]

[2021-05-03 16:11] renansoares opened #2438 "RFC: Add --empty flag to page generator"
As I am neeeding to apply codemods in components created using the CLI commands I was wondering if it would be a good idea to add an empty flag to page generator (and others if it needed). Now, I need to remove the current content of a generated page and apply the codemod.

By default, when creating a page now, it adds a text with a default text saying the folder where to find that page. With the

[2021-05-03 16:38] #2438 closed

[2021-05-03 18:57] dac09 commented on #2437
To me the import from `@redwoodjs/api/dist/types` doesn't look right (but I can see that its in the template).

Also I have no idea what this type should be :P @peterp ?

[2021-05-03 22:04] thedavidprice opened #2439 "RFC: Improving our release branch automated NPM publishing"
cc @renansoares @dac09 @peterp

_Continues https://github.com/redwoodjs/redwood/pull/2399_

The current automation uses the default `lerna publish --canary ...` process, which will always increment versions as a patch release. E.g. for the recent branch `release/v0.31.1`, which was branched from tag `v0.31.0`, the releases are incrementing as `v0.31.1-rc.x+SHA` (where the "x" is calculated based o

[2021-05-04 16:51] dac09 opened #2452 "Change tsconfig to allow shared/user types by default"
On discussion with Tom, we’ve agreed to add the config for shared/custom types by default into the tsconfig template:

TsConfig should look for types in
- api/types
- web/types
- types

This just gives a structured way to place common types in the project

[2021-05-04 17:14] carlskii opened #2453 "Failed to load resource: the server responded with a status of 400 (Bad Request)"
Hi,

I'm exploring the use of RW for a project that will include a remote GraphQL service. However, I can't seem to get RW to perform a successful query. If a build a test using Apollo Client like this:

[code]

My query works perfectly:

[code]

However if I configure my RW (App.js) app like this:

[code]

Then create a cell that makes a query:

[code]

I'm getting `Error: Response not successful

[2021-05-04 19:50] cjreimer opened #2454 "Version 0.31.2 Auth - Firebase Issue"
As posted in the forum:

I seem to be experiencing a firebase authentication issue with 0.31.2.

With 0.31.2, on the API side, the `context.currentUser` is null, even when logged in.  This works in 0.30.0

I rolled back the auth package to 0.31.0 and it works again. I re-upgraded the auth package to 0.30.2 and it fails. Note, that the firebase packages appear to be the same through all this.

I no

[2021-05-04 20:27] Tobbe commented on #2454
I hope this has now been resolved. Please see here https://community.redwoodjs.com/t/redwood-v0-31-0/2066/12

If you do try again, it would be very kind of you to report back if it works or not. Thanks 🙂

[2021-05-04 20:33] cjreimer commented on #2454
Look good!  Thanks!

[2021-05-04 20:33] #2454 closed

[2021-05-05 06:04] realStandal opened #2456 "Exporting a named-`QUERY` and arbitrary `default` in a Cell causes duplicate entry"
This bug was encountered on Redwood `0.31.2`, but I was facing it on `0.31.0`; I can't confirm if it was also prior to that.

I'm building a Cell component and would like to control the `default` export myself (to get typings). If I have a named export `QUERY`, it causes the following:

[code]

If I remove or rename `QUERY`, the `createCell` HOC is not added. I haven't tested each of the other exp

[2021-05-06 13:54] ajcwebdev commented on #947
## Notes on handling events with AWS Lambda vs Azure Functions

AWS Lambda uses a straightforward event-driven architecture that does not depend on event sources. A function:
* Receives a JSON object as input
* Returns another JSON as output

The event type defines the schema of those objects, which are documented and defined in language SDKs. Each service that integrates with Lambda sends data to

[2021-05-07 05:11] cjreimer opened #2461 "Firebase Auth - unhandled Errors/Exceptions"
I'm working to integrate Firebase auth into an application.  If Firebase issues an error, I'm having trouble catching it if using the Redwood auth interface.  The exceptions all go unhandled.  Catching exceptions from async functions can be tricky and there seems to be something special about how Firebase is returning promises that seem to require a promise .catch block.  A try { await} catch {} a

[2021-05-07 13:12] Isaac-Tait opened #2472 "SVGs break RW 0.32.1 in Netlify/TailwindCSS deploy"
I originally posted the issue on the Redwood forum [here](https://community.redwoodjs.com/t/redwood-v0-31-0/2066/14?u=isaact8)

Please see the above link for the error message**s** as they were over 30,000 words...

The issue is that when SVGs are used in my code base I was getting this error:

[code]
as well as a few hundred more lines of error messages in my Netlify build and within the console.

[2021-05-07 13:36] peterp commented on #2472
Hi @Isaac-Tait,

Thanks for posting this. I'll try and create a reproduction for both issue now

[2021-05-07 14:05] Isaac-Tait commented on #2472
If it may be helpful here is what I have in my package.json:

[code]

Let me know if I can help at all on this.

[2021-05-07 15:59] jangxyz opened #2473 "Dealing "Cannot render cell; GraphQL success but `data` is null" errors"
From the discussion: [Dealing with “GraphQL success but `data` is null” in storybook](https://community.redwoodjs.com/t/dealing-with-graphql-success-but-data-is-null-in-storybook/2098)

I get to face this error message when mock data is somehow not aligned with the query:

    Cannot render cell; GraphQL success but `data` is null

![image](https://user-images.githubusercontent.com/52015/117477121

[2021-05-07 23:54] dac09 commented on #2472
Hey @Isaac-Tait - would you be willing to try a theory of mine?

I'll clone and try your repo tomorrow, but in the mean time curious if this makes a difference for you:

1. Delete all `node_modules`:
[code]

2. Remove yarn.lock
[code]

3. Set yarn policy
[code]

4. Rerun yarn install
[code]

Please do let me know if this changes anything for you!

[2021-05-08 18:42] Isaac-Tait commented on #2472
@dac09 What is the file path for `babel-plugin-inline-svg`? I am looking in `node.modules -> @babel` but I am not seeing it in either the reproduction repo or my personal one...

[2021-05-11 12:21] dac09 commented on #2267
@peterp could we close this issue if its working ok for you?

[2021-05-11 12:22] dac09 commented on #2246
Bumping this back onto your radar @dthyresson. Not for the v32 release, but the next one :)

[2021-05-11 18:12] cannikin opened #2488 "[yarn rw serve] Kill child server process if parent is killed"
Right now when serving with `yarn rw serve`, and the parent process is killed, the child process (the API server) continues to run and serve requests. It must be killed separately.

/cc @peterp @dac09

[2021-05-11 18:19] peterp commented on #2488
-  [ ] make `serve` do pm2.

[2021-05-11 18:21] cannikin commented on #2488
Interesting...I thought maybe we could include an `init.d` script that you could choose to install, so everything starts on startup, but pm2 is probably much more robust?

[2021-05-11 18:32] peterp commented on #2488
@cannikin Yup! It can totally do that, I think it's called cluster mode

[2021-05-11 20:15] ryanmdoyle opened #2489 "Firebase Auth does not prompt for user (when multiple accounts logged in)"
Working on an app that uses firebase (just the google provider) as auth.  I work on a computer that uses multiple Google Account (personal, work, etc).

Currently, when I `logIn()`, the user that's the browser default will authenticate, so if I have multiple Google accounts that I am signed in to (lets say work@gmail.com and personal@gmail.com), it just goes with the browser default without asking

[2021-05-12 07:01] peterp commented on #2489
@ryanmdoyle I'm assuming that adding this as a default option for other's wouldn't impede them in any way? If so, then we should just create a PR and add this.

[2021-05-12 07:04] peterp commented on #2473
I've actually experienced this too,  and I wrote the code. I think @dac09 has a valid point that this can be fixed with types, we're very close to getting our Cell's QUERY types.

But, I'm wondering if we shouldn't double down and improve the errors at run-time? I can imagine a scenario where you change the query, but don't update the mock, and then a few weeks later attempting to run Storybook an

[2021-05-12 07:09] peterp commented on #2461
@cjreimer This looks like a poor implementation on our part. We should be forwarding all the exceptions and promises to the client.

Would you be willing to open a PR that makes this possible?

[2021-05-12 07:20] peterp commented on #2453
@carlskii Hey there, sorry for the delay in response here.

Is this GraphQL server a Redwood GraphQL server?

This can be configured in `redwood.toml` via the `apiProxyPath` configuration.

[code]

Will result in `http://localhost:8055/graphql` being used for the GraphQL queries.

Please feel free to re-open this if it doesn't deal with your question properly.

[2021-05-12 07:20] #2453 closed

[2021-05-12 07:21] peterp commented on #2456
Hey @realStandal,

This will be fixed shortly.

[2021-05-12 07:22] peterp commented on #2361
👍  Let's do it!

[2021-05-12 07:22] peterp commented on #2372
Nice @brentjanderson 👏,, can you expand a bit on your idea to suggest where these should show up?

[2021-05-12 07:24] peterp commented on #2359
@jvanbaarsen I'm using react query and storybook, are you using the package of here: https://github.com/MarceloAlves/redwoodjs-react-query-provider/

[2021-05-12 07:35] jvanbaarsen commented on #2359
@peterp Yeah that exact package. I needed to do some things to make testing work though see: #2298. Can that be the thing that is causing me problems?

[2021-05-12 07:43] peterp commented on #2359
@jvanbaarsen aaah, interesting. I'm using Cell's so this was completely abstracted away from me - are you directly interacting with the cache or the query/ mutation in some ways?

This could very likely be the cause of some very unexpected results.

[2021-05-12 07:43] peterp commented on #2359
We definitely need to fix this.

[2021-05-12 07:54] jvanbaarsen commented on #2359
@peterp Yeah I am. I need to mutate the cache directly after a mutation, otherwise, the user is seeing outdated data.

[2021-05-12 10:16] vladiftimie commented on #2344
I'm experiencing the same issue ... any workarounds so far? 😕

[2021-05-12 11:55] dac09 commented on #2473
If we can find the specific type of error - a better explained error would sure help on top of the types!

[2021-05-12 13:17] brentjanderson commented on #2372
Looks like I didn’t expand much on this initially 😅

Specifically, it could be handy to include prisma comments as GraphQL documentation on each field of SDL. Comments on Prisma models, fields, and enums would be added as comments on GraphQL types, fields, and enums.

[2021-05-12 13:31] cjreimer commented on #2461
Thanks for taking a look, Peter!

Sure, I'll open a PR.

[2021-05-12 14:25] jtoar commented on #2372
We do use `getDMMF` in the sdl generator:
https://github.com/redwoodjs/redwood/blob/f19481bc249f3655ecc5257d59388004ae24a513/packages/cli/src/lib/index.js#L6
which [the docs say](https://www.prisma.io/docs/concepts/components/prisma-schema#comments) include the triple-slash comments:

@brentjanderson so the idea would be we just copy them over to the sdl right?

[2021-05-12 14:34] brentjanderson commented on #2372
Yes, that’s the idea.
On May 12, 2021, 08:26 -0600, Dominic Saadi ***@***.***>, wrote:

[2021-05-12 18:33] dthyresson commented on #2489
The example code is:

[code]

We'd have to confirm that

[code]

can accept `setCustomParameters` when used in the `signInWithPopup(provider)` for OAuth.

There's a good case to be made to pass options into the provider not only for this case but also scopes like:

[code]

[2021-05-12 20:12] peterp opened #2501 "Cache magic.link's token"
We re-request a token from magic.link with every request. This is really inefficient because the token is valid for 15 minutes. Magic.link doesn't return an expiration time, so we should cache the token for at least ~10 minutes.

![image](https://user-images.githubusercontent.com/44849/118038215-21846a80-b36f-11eb-87ba-e928b9247624.png)

Here are the steps to fix this:

1. Grab and cache the token

[2021-05-12 20:13] peterp opened #2502 "Firebase fetches a new token on each request"
https://github.com/redwoodjs/redwood/blob/3557f707889998ccdc1c3542048618b2ef8ba6ac/packages/auth/src/authClients/firebase.ts#L56

You would:
1. Have a place to store the token's payload ( with expiration time )
2. Compare the current time against the expiration time whenever getToken is called
3. If it has not expired, return the old token, if it has expired, call the part the retrieves the token

[2021-05-13 10:08] wbrijesh opened #2506 "deleting a page doesnt delete files"
after running
`yarn rw d page pagename`

the page files are still there

[2021-05-13 10:08] #2246 closed

[2021-05-13 15:19] dac09 opened #2509 "[Bug] Prerendering pages breaks images sometimes"
Reproduction:
https://redwood-example-blog.netlify.app/

https://github.com/redwoodjs/example-blog

[2021-05-13 15:39] simoncrypta commented on #2501
Ah! I was thinking that I was crazy, I'm happy that magic.link do not require to re-request a token every request.

I could take this, but where should I store the timestamp ?

[2021-05-13 23:12] ajoslin103 opened #2511 "Can we add a config to Redwood IDE extension which uses port 8000"
Is there a config option for the IDE to use some other port than 8000 ?

I work on new Redwood projects and old legacy codebases that require port 8000

I can't reconfig the old legacy code away from port 8000

So I have to keep disabling/enabling the IDE extension all the time

[2021-05-14 03:00] Isaac-Tait commented on #2472
I tried out `canary` in the test repo and it did get rid of the babel warnings. Awesome!

However, SVGs are still not loading. Instead of breaking the whole site as before the SVG does not render - instead the alt tag loads.

I am getting this error:

[code]

I pushed canary to the test repo if you want to take a look at it. [Link](https://github.com/Isaac-Tait/redwood_0.32.1_SVG_Error_reproductio

[2021-05-14 03:06] Isaac-Tait commented on #2472
As an aside when the next official version of RedwoodJS is released can I upgrade my project using the standard upgrade commands or do I need to go about upgrading from `canary` to the next `official release` using alternate commands? A search of the forum did not return any results discussing this, so I am asking here... Thank you 😄

[2021-05-14 05:55] Tobbe commented on #2472
Yes you can! :)

[2021-05-14 07:40] peterp commented on #2501
thanks @simoncrypta! I would just store it as a mutable variable inside the `export const magicLink` closure

[2021-05-14 13:15] dac09 commented on #2472
I think you're using the wrong syntax for SVGs, from your example repo:
**Nope ❌**
[code]

You have to use the svg as a component, like below

**Yep! ✅**
[code]

[2021-05-14 16:37] thedavidprice commented on #2006
## Reproducing
I generated an About page, which create these files and the associated Route.js route:
<img width="197" alt="Screen Shot 2021-05-14 at 9 28 57 AM" src="https://user-images.githubusercontent.com/2951/118300811-31976980-b497-11eb-9ef8-430fe35481fd.png">

Running `yarn rw d page about` remove the page component and route, but it leaves these files behind:
<img width="196" alt="Screen S

[2021-05-14 16:39] thedavidprice commented on #2506
Thanks for reporting this @wbrijesh This is a duplicate of https://github.com/redwoodjs/redwood/issues/2006 I'm closing this out. But would you be interested in helping with the fix? If so, please comment in #2006 and we'll help out as best we can! Also, the community chat and forums are a great place to get help as a new contributor.

- https://community.redwoodjs.com/
- https://discord.gg/jjSYEQ

[2021-05-14 16:39] #2506 closed

[2021-05-14 23:35] Isaac-Tait commented on #2472
I had the image on the home page set as an `<img>` I switched it to a component, left the `About` page as it was (a component), and the error went away and both logos loaded. Interesting that one incorrect use of `<img> broke both images (even the correct component type). Thank you for patiently working through this with me, I appreciate the opportunity to learn. Cheers 😄

[2021-05-15 00:10] dac09 commented on #2472
Pleasures all ours @Isaac-Tait, glad to hear it's working for you!

[2021-05-15 02:05] cjreimer commented on #2461
Closed by #2503

[2021-05-15 02:05] #2461 closed

[2021-05-15 20:39] #1166 closed

[2021-05-16 14:30] cjreimer opened #2543 "Suggestion - Redwood scaffold generator - file naming"
Hello all!

I've used the scaffold generator extensively in my app to develop admin pages.  As the app grows, I find that I'm having more challenges staying on top of the organization of the files.  One small concern is that the scaffolded pages are scattered about due to file and directory naming, and are not organized together.  That is, the scaffolded files / directory don't sort nicely by doma

[2021-05-16 15:09] Tobbe commented on #2543
Thanks for bringing this up. I've also been feeling the code organization pains as my apps grow.

An open PR that I also think can/will help with this is https://github.com/redwoodjs/redwood/pull/2430

[2021-05-16 15:38] cjreimer commented on #2543
@Tobbe, thanks for linking #2430!  I'm looking forward to using it!

Is it addressing the above regarding scaffolds as well?  I didn't see it in the pr, but I didn't check the committed code.

[2021-05-16 16:08] Tobbe commented on #2543
No, it doesn't include your proposed change. But it would allow you to put all the scaffolded files in their own folder, so it'd be easy to find/see what files belong together even though they don't start with the same prefix.

But I like both ideas, and think they have value even if used together 👍

[2021-05-16 16:18] jtoar commented on #2543
@cjreimer This isn't quite what you want but might help; if you generate your scaffold like this:

[code]

where `admin` is the name of a directory that you want all your scaffold components to be in (it doesn't have to exist), all the scaffold components will be generated in it, in their respective categories:

<img src="https://user-images.githubusercontent.com/32992335/118404317-4e62a700-b627-1

[2021-05-16 16:44] cjreimer commented on #2543
Thanks, Dominic!

Yes, you are correct!  I have been using this and have collected all my "admin"scaffolded  components together.  I'm currently at 91 components in my Admin area and growing.

I believe I could also do the following to nest it further:

`yarn rw g scaffold admin/post/post`

And I may be forced into this further nesting yet, but I don't like nesting too deep either.  There's a good

[2021-05-17 19:49] peterp commented on #2267
Yup!

[2021-05-17 19:49] #2267 closed

[2021-05-18 06:36] jtoar opened #2546 "Scaffolds should use Sets"
Scaffold use the `<Set />` component to wrap the pages created so that things like the toast notifications don't rerender. And it's just good Redwood practice!

[2021-05-18 06:42] jtoar commented on #1701
This has definitely been ameliorated by react hot toast, but using Sets in scaffolds would seal the deal on getting rid of this awkward rerendering: https://github.com/redwoodjs/redwood/issues/2546.

[2021-05-18 07:15] jtoar commented on #514
I think we can close this one!

<image src="https://user-images.githubusercontent.com/32992335/118607874-eff41080-b76d-11eb-97e9-bdc8bd62f7c2.png" width="600px" />

[2021-05-18 07:15] #514 closed

[2021-05-18 07:20] jtoar commented on #498
@vikash-eatgeek using a ref seems like a valid approach, but it's probably a good idea to stick to react-hook-forms for the tutorial at least, if only to show that @redwoodjs/forms still allows access to all of react hook forms' "lower-level" APIs. I'll close this out for now but if you feel strongly feel free to ping us back here!

[2021-05-18 07:20] #498 closed

[2021-05-18 07:43] jtoar opened #2547 "Accessibility"
Redwood's `v1` release candidate will feature fixes for the most notorious of SPA accessibility (a11y) problems: route announcements and scroll position. We still plan to iterate on these features (and add more in due time) but these will be the a11y highlights for `v1`, and the focus leading up to `v1` will be on making sure they're stable across screen-reader browser combinations.

### Skip Link

[2021-05-18 14:29] natansevero commented on #2266
For anyone that is searching for a solution, you can checkout this post: https://dev.to/carlosrafael22/what-i-ve-learned-with-chakra-ui-so-far-4f5e

In the `3. Integrating with Storybook is not so smooth currently` topic, you can see a work around to handle with this issue.

[2021-05-18 15:46] dthyresson opened #2549 "Typescript - Scenario Template - cannot find name "defineScenario""
When creating a new Typescript service in the Redwood api, the scenario file warns that it cannot find "defineScenario":

![image](https://user-images.githubusercontent.com/1051633/118682426-6de80400-b7ce-11eb-9437-300b7dd07b42.png)

![image](https://user-images.githubusercontent.com/1051633/118682628-9ff96600-b7ce-11eb-87a6-c6c81c30a761.png)

related is:

![image](https://user-images.githubuserco

[2021-05-18 19:56] jtoar opened #2550 "Generators & Scaffolds"
Generators are part of what makes Redwood a joy. There's going to be a majorly-requested feature (path customization) going in before `v1` (most likely!), but the more all-inclusive, DIY customizations will probably have to wait.

We definitely have to fix pluralization!

### Customizing Generators

We intend to enable and promote generator customization, but it most likely won't stop us from rele

[2021-05-18 21:17] jtoar commented on #2546
Related: https://github.com/redwoodjs/redwood/issues/1022

[2021-05-18 21:37] jtoar commented on #2204
Closing this out because I think it was implemented in https://github.com/redwoodjs/redwood/pull/2364 🚀

[2021-05-18 21:37] #2204 closed

[2021-05-18 21:52] jtoar commented on #1429
Looks like this one's been fixed!

[2021-05-18 21:52] #1429 closed

[2021-05-19 01:22] andrew-hwahin opened #2551 "[forms] Inverted number validation message"
https://github.com/andrew-hwahin/rw-app-invalid-validation-msg

![image](https://user-images.githubusercontent.com/61768800/118742181-7ac62f80-b882-11eb-8a09-da72d80c7105.png)

![image](https://user-images.githubusercontent.com/61768800/118742573-44d57b00-b883-11eb-9e3d-dcb83dcd9ed1.png)

![image](https://user-images.githubusercontent.com/61768800/118742442-fc1dc200-b882-11eb-83e2-a2b677dba5c9.png

[2021-05-19 03:02] shahbaz17 commented on #2361
Can I work on this @peterp?

This would be an easy fix.

[2021-05-19 06:57] Tobbe commented on #2551
Hah, nice catch!

![image](https://user-images.githubusercontent.com/30793/118768928-da6f0b80-b87f-11eb-96e7-851422e7d4ae.png)

Would you be up for trying to contribute a fix? Or do you want me to do it? Here's where you'd fix it:

https://github.com/redwoodjs/redwood/blob/dc8a5bca3cee0d64d4cf9056c32bf1925b48226a/packages/forms/src/index.tsx#L25-L26

[2021-05-19 06:58] Tobbe commented on #2551
And I see you already did! Amazing

https://github.com/redwoodjs/redwood/issues/2551

[2021-05-19 17:39] #2320 closed

[2021-05-19 22:02] jtoar commented on #2543
@cannikin would love to hear your thoughts on this one when you get the chance!

[2021-05-19 22:17] jtoar opened #2556 "Forms"

[2021-05-19 22:19] jtoar commented on #2162
@cjreimer thanks for your eagerness and hard work here! Safe to bring this one to a close?

[2021-05-19 22:37] jtoar opened #2557 "GraphQL"
GraphQL is at the heart of Redwood. For discussing the ideal GraphQL DX (for `v1` and beyond), see https://github.com/redwoodjs/redwood/issues/1602. In particular, if you have thoughts on the DX around updating the cache, we'd love to hear them!

A few major things that have to go in before `v1`:
- our migration from apollo-server-lambda to Envelop and GraphQL-Helix https://github.com/redwoodjs/re

[2021-05-19 22:40] cjreimer commented on #2162
Yes, I believe this issue can be closed.

[2021-05-19 22:47] jtoar commented on #446
@benmccann really appreciate the discussion! As we're getting closer and closer to a `v1` release candidate it definitely looks we'll be using react hook form for @redwoodjs/forms.

[2021-05-19 22:47] #446 closed

[2021-05-19 22:50] jtoar commented on #758
@willopez Just to follow up, although Redwood still ships with Apollo Client, you can use any GraphQL client you want. Moreover, if you don't import the RedwoodApolloProvider, it won't be included in your bundle! There's even this awesome package provided by @marceloalves to use react-query with Redwood https://www.npmjs.com/package/redwoodjs-react-query-provider.

[2021-05-19 22:53] jtoar commented on #730
Hey @jangxyz, let me know if I can help you with that forum topic if you're still interested! There's definitely a lot of great information in there that we'd love to make more findable

[2021-05-19 23:00] jtoar commented on #658
![image](https://user-images.githubusercontent.com/32992335/118895579-49b62100-b8bb-11eb-94f8-1c75ff5425f0.png)

[2021-05-19 23:00] #658 closed

[2021-05-19 23:10] jtoar commented on #1034
@freddydumont I've ran into this as well more than a few times. It's been eased a bit by `destroy` commands—generator's antithesis—but still, something like this would be nice

[2021-05-19 23:25] #2162 closed

[2021-05-20 00:05] jtoar opened #2558 "Testing"
We're in the polishing phase of testing in Redwood. In the near future, we'll be adding ways to test serverless functions (see https://github.com/redwoodjs/redwood/issues/1147). One thing that would be really nice to have would be a published GH action for redwood app CI (#2559)

Outstanding issues that do need fixing:

- we need to bring the bring-your-own GraphQL Client experience full-circle by

[2021-05-20 00:26] jtoar opened #2559 "GH Action CI"
It would be amazing to have a RedwoodJS CI Action and publish it to GH Marketplace. The GH Action would:

- [x] diagnostic check
- [x] lint
- [x] build
- [x] test

[2021-05-20 01:00] jtoar commented on #2549
@cannikin you want to take this one? 😉

[2021-05-20 01:04] cannikin commented on #2549
Solution: never use Typescript

#wontfix ;)

[2021-05-20 01:17] cannikin commented on #2543
I went with the current naming structure because it made sense when you read it/say it out loud..."hey take a look at the new post cell." I was influenced by Rails naming conventions, of course. :)

But now that I've generated my fair share of scaffolds I agree that moving the model name to the front would be worth the tradeoff of grouping everything much nicer.

I've also thought about installing

[2021-05-20 01:47] jtoar commented on #2543
+1 for installing everything in a directory by default. The main consideration is how that would affect the tutorial (would it make things more/less confusing that only the scaffold installs files into a directory?); and also, how do you opt out of this behavior? With a new flag `--no-prefix` or something similar?

There's two issues about using `<Set>` in scaffolds:
- https://github.com/redwoodjs

[2021-05-20 02:23] cjreimer commented on #2543
I also love Rob's idea of putting all the scaffold files into one directory based upon the model.   There might be a few people who prefer the separate directories, but my guess is that they will be in the very low minority (< 2.21 % 😃 ) .... Feel free to post here if you are one of those and prove me wrong!  So, I don't know if we need a flag to maintain the current behavior.... although I'm not

[2021-05-20 03:55] Tobbe commented on #1034
I'd like to have "Refactor -> Rename" support in VSCode for generated components/pages/layouts etc

[2021-05-20 04:05] Tobbe commented on #2543
Would this be different than just `yarn rw g scaffold posts/Post` that we can already do?

I'm going to need that for my own project(s), so I'll do it there first, then I'll contribute back. But I'd say this is ~3 weeks out still

[2021-05-20 04:45] thedavidprice commented on #1794
Recommended `rwt` flow to use is now `rwt link`, which has been greatly improved since this issue was opened. And all Redwood CLI commands are working accordingly.

[2021-05-20 04:45] #1794 closed

[2021-05-20 04:49] thedavidprice commented on #1777
resolve via #2497

[2021-05-20 04:50] #1777 closed

[2021-05-20 04:51] thedavidprice commented on #1307
resolved

[2021-05-20 04:51] #1307 closed

[2021-05-20 05:21] thedavidprice commented on #2069
FYI: I'm going to work on this for the Contributors Workshop tomorrow.

[2021-05-20 08:25] SANJAY-NT opened #2561 "Information related to contribution"
I am a beginner at open source contributions and found this was a interesting place to start with can I know how can I become a part of this community.

[2021-05-20 11:32] realStandal opened #2562 "`unauthenticated` is not a suggested prop of `<Set>`"
This issue is related to PR #2364. It could also be that my project uses TypeScript; either way, it is not actively blocking me from using the `<Set>` component as intended, this issue is just for DX.

When using the new `private` prop on the `<Set>` component, I'd expect `unauthenticated` to be a suggested prop; like it is/was for `<Private>`.

I'm expecting that, as I begin to type unauthenticat

[2021-05-20 11:43] Tobbe commented on #2562
### 💯

I don't know how to make it do that though 🙁 We have the same issue for the `<Route>` component where some combinations of props should be enforced, and some combinations disallowed. And I tried, but failed, to make it work like that.

For this specific scenario though, I'd recommend you just go with using `<Private>`. Since `<Private>` === `<Set private` now, you can also use the `wrap` pr

[2021-05-20 15:23] thedavidprice commented on #2561
Hi @SANJAY-NT Your participation and contribution is very welcome!! And there's a vibrant, helpful community to go on this journey with you.

The best "getting started" overview we have right now is this [GitHub Issue from last Hacktoberfest](https://github.com/redwoodjs/redwood/issues/1266). It will link to docs, online community forums and chat, and suggest ways to get started.

It's last minute

[2021-05-20 15:23] #2561 closed

[2021-05-20 15:26] thedavidprice commented on #2559
Also to consider adding would be Storybook CI! If there are story files, we can:
- [ ] at a minimum check build
- [ ] use Cypress or Puppeteer for e2e

[2021-05-20 18:33] dac09 opened #2565 "Cell generators not handling plurals/singular names"
## What?
- **Singular form** `yarn rw g cell member`
This indicates I want to get a cell to fetch a member by id. What it should do:

- [x] generate the correct query (and name it correctly so it doesn't conflict with the plural)
- [x] generate the correct mock
- [ ] pass the correct props in the success test

- **Plural form**  `yarn rw g cell members`

- [x] generate the correct query
- [x] gene

[2021-05-20 19:09] jtoar commented on #2565
Also see https://github.com/redwoodjs/redwood/issues/684

[2021-05-20 20:24] jtoar commented on #1150
Closing this one as we've added all the improvements listed (and settled on watch being the default). The conversion above is still a great resource though, but is also continued here: https://github.com/redwoodjs/redwood/issues/1812.

[2021-05-20 20:24] #1150 closed

[2021-05-20 20:38] jtoar commented on #1618
Webhook helpers have been added! #1843

[2021-05-20 20:39] jtoar opened #2567 "Router"
In the Router, there's a lot of room for polish. Not all of these are required for a `v1` release candidate, but the more of them we can address the better the `v1` Router experience will be. Here's a running list of paper cuts that that would make the DX that much better:

- Allow partial matches with NavLink #2362
- RFC: Optional path parameters #2429
- Route parameters that do not immediately f

[2021-05-20 21:24] #585 closed

[2021-05-20 21:26] #755 closed

[2021-05-20 21:41] jtoar commented on #181
@thedavidprice closing this one as it seems most of the suggestions were implemented, besides the GH action CI which we have an issue for

[2021-05-20 21:41] #181 closed

[2021-05-20 21:45] jtoar commented on #252
For reference, this is what it looks like right now. It does say what's wrong in a fairly straightforward way, but it's mired in all this output:

![image](https://user-images.githubusercontent.com/32992335/119052782-f951c880-b979-11eb-8b50-8f1f86712e79.png)

[2021-05-20 21:51] jtoar commented on #322
It looks like the docs have been hammered out; the discussion about the top-level "Redwood Way" is definitely worth acting on, especially for `v1`.

[2021-05-20 21:51] #322 closed

[2021-05-20 21:56] jtoar commented on #604
It's a thing https://github.com/redwoodjs/redwood/pull/2217, https://github.com/redwoodjs/redwood/pull/2234.

[2021-05-20 21:56] #604 closed

[2021-05-20 22:00] jtoar commented on #1058
@dthyresson does https://github.com/redwoodjs/redwood/pull/1412 close this one? It doesn't seem to 100% right?

[2021-05-20 22:01] #1083 closed

[2021-05-20 22:09] jtoar commented on #970
From a quick read it sounds like this was implemented but there's still some good ideas here so I won't close it outright just yet

[2021-05-20 22:12] jtoar commented on #1551
@AntonioMeireles I'd think we should (and do) lint/format everything we generate, but that can happen in the framework as opposed to the redwood app, unless you meant you have different eslint/prettier settings that you want the generators to inherit?

[2021-05-20 22:20] jtoar commented on #2077
@peterp the new syntax definitely checks the second box. Is the goal of making it stand out to dissuade users from changing it?

[2021-05-20 22:21] jtoar commented on #1302
I think this has been resolved now with the new `yarn rwt link` command; didn't see this come up while I was developing the setup a11y command.

[2021-05-20 22:21] #1302 closed

[2021-05-20 22:28] jtoar commented on #2018
I'm also seeing something similar:

![image](https://user-images.githubusercontent.com/32992335/119056749-138ea500-b980-11eb-97b2-c5f960fbdbbc.png)

[2021-05-20 23:28] dthyresson commented on #1058
@jtoar I think we should close this out as the Firebase client does support several providers

[code]

However, it does not allow passing `scope` to those as in:

[code]

or

[code]

I think scopes should be a new issue.

[2021-05-20 23:30] dthyresson commented on #1618
@jtoar Honestly, I forgot I wrote up this issue. The new webhook signature verifiers supports the features I needed when I wrote up this issue, so I think we can close this out.

[2021-05-20 23:59] #1618 closed

[2021-05-21 05:32] KrisCoulson opened #2590 "BUG: Private routes that match non-private routes redirect even with direct match"
When using dynamic routes if the private route is a match it will redirect to the unauthenticated page.

The problem is even though there is a direct match with `/about` the router will still match on `/{param}` as an authenticated route and it will redirect to the `/home` page.

[code]

 There is one test that would suggest that even though `/about ` comes first it would hit a match but this does

[2021-05-21 05:33] KrisCoulson commented on #2567
@jtoar going to add this here as well.

- Private routes that match non-private routes redirect even with direct match https://github.com/redwoodjs/redwood/issues/2590

[2021-05-21 10:06] Tobbe commented on #2590
I'm working on a fix

[2021-05-21 10:36] callingmedic911 commented on #2546
@jtoar I was trying to understand the issue and maybe contribute here, if it's okay. :)

My understanding so far is:
- We need to wrap `<Set>` around all the `Route`s in https://github.com/redwoodjs/redwood/blob/main/packages/create-redwood-app/template/web/src/Routes.tsx
- Use `PostLayout` in `<Set>` inside `Routes.tsx` and remove its usage from `Page` generator template. But I couldn't find any

[2021-05-21 14:46] realStandal commented on #2562
Thank you @Tobbe, `<Private>` worked just as you say. Dropping some more of my findings here, hopefully it has some info you didn't already know about.

I spent a few more minutes last night tinkering with my routes, I was able to find that `unauthenticated` not showing up in autocomplete comes from its use after `private`. If I type it before I specify private, I get autocomplete back (as expecte

[2021-05-21 15:00] devhmac commented on #2136
I'm happy to update these couple lines in the docs if that's all good!

[2021-05-21 15:06] #2565 closed

[2021-05-21 16:18] thedavidprice commented on #2136
@devhmac yes please! This is in need of updating asap (oops!).

Should be `.tasks/run-e2e` from the command line.

If you open a PR, loop me in and we'll get it merged quickly.

[2021-05-21 16:21] thedavidprice commented on #2562
cc @dac09 @peterp --> I'm not sure if this one is on the master TS list yet.

[2021-05-21 16:33] thedavidprice commented on #2546
Excited to have your help here @callingmedic911

The Routes.tsx you're reference above is included in the codebase for a _new_ project — not the template used by the Scaffold Generator. For that, you'll want to look here:
- https://github.com/redwoodjs/redwood/tree/main/packages/cli/src/commands/generate/scaffold

What you'll need to keep in mind is that when `yarn redwood generate scaffold <model

[2021-05-21 17:11] jtoar commented on #2543
@Tobbe it doesn't seem like it would be different, it'd just be doing it by default. I think that's still a win because the `post/Post` syntax isn't super findable still, and like @cjreimer said, most people seem to want to use it!

[2021-05-21 18:03] #2136 closed

[2021-05-21 18:52] dac09 commented on #418
For anyone still tracking this #2485 is up that implements this (finally!) and has a bunch of other nice things to go along with it.

[2021-05-21 19:26] cjreimer commented on #2543
I think we can proceed and I'll try to get to code for a PR soon.

Just to be clear, I think we are talking about something slightly different than currently available:

If we currently run `yarn rw g scaffold posts/Post` we would currently get:

in /components/
* Posts/
  * EditPostCell/
    * EditPostCell.js
  * NewPost/
    * NewPost.js
  * Post/
    * Post.js
  * PostCell/
    * PostCell.js

[2021-05-21 19:57] Tobbe commented on #2543
So one big folder with all the components, tests, stories and scenarios?

[2021-05-21 20:12] Tobbe commented on #2562
I finally solved this! https://github.com/redwoodjs/redwood/pull/2592

Unfortunately the same fix doesn't help with `<Set>`. I think it is because a set can take any prop, and any number of props (that it'll then forward to all wrapper components).

Specifically for `private` I think VS Code gets confused because it's a JS/TS keyword.

[2021-05-21 20:14] jtoar commented on #2546
@thedavidprice you got it! @callingmedic911 I'd start by generating a scaffold in a new project (the tutorial does this [here](https://learn.redwoodjs.com/docs/tutorial/getting-dynamic/)) to see what's produced; you'll see that the Layout is used across Pages, even though we have a [Set](https://redwoodjs.com/docs/redwood-router#sets-of-routes) component for Layouts now.

Tests will probably need

[2021-05-21 20:18] cjreimer commented on #2543
Redwood currently isn't generating stories and tests for scaffolds on the web side.  Has anyone asked for them?  Do we need them?

If we do, perhaps that's where an option flag comes into play.   My personal preference would be to have

in /components/
* Admin/
  * Post/
    * Tests/
      * All test files
    * Stories/
      * All story files
    * PostEditCell.js
    * PostNew.js
    * Post.js

[2021-05-21 20:39] jtoar commented on #2543
@cjreimer I remember @guledali asking for them a while back; the reason we didn't do it before was we didn't know what testing and storybook would end up looking like, but now that those have been integrated, it's definitely something we could think about. It would make scaffolds that much more awesome!

It's probably better save that for another PR though; it would balloon the scope. if you want

[2021-05-21 20:51] cjreimer commented on #2543
Sounds good!  I'll put it into my work queue.

[2021-05-21 20:55] jtoar opened #2595 "Fully Integrated DX"
Since Redwood's inception, developer experience (DX) has been put first. This issue collects all the outstanding DX improvements, like fish-shell style CLI autocomplete #311.

- When node and yarn requirements aren't met fail gracefully #252
  - Definitely something we have to address. This is one of the easiest ways to lose people.
- Add completion shortcuts for commands and options #311
  - This

[2021-05-21 21:10] Tobbe commented on #2543
You're right! It was a while since I last used the scaffolding stuff...

Definitely like Dom's suggestion of leaving the tests etc for another PR 👍

[2021-05-21 21:11] jtoar commented on #1532
This might be closed by #2485.

[2021-05-21 21:53] thedavidprice commented on #2018
Did you both run `yarn build` before you ran lint?

Did a big upgrade on ESlint last week and can confirm at that time there were no problems.

[2021-05-21 21:57] jtoar commented on #82
An update on this: the presence of `scaffold.css` doesn't cause the command to blow up anymore. To reproduce this, generate a scaffold and delete most of the files, leaving just one of the ones that's generated later.

[2021-05-21 22:15] jtoar commented on #323
We definitely need to do a better job of saying upfront what the generators can and can't do.

[2021-05-21 22:40] jtoar commented on #392
I believe we've fixed this one; just went through the same steps without errors. We've done a lot of work to parse the types for forms; there's still some discussions we should have, so saving this issue but closing out for now.

[2021-05-21 22:40] #392 closed

[2021-05-21 23:56] jtoar commented on #1605
@oguzhantly thanks for providing that info! @Tobbe any ideas on this one? Is yarn just not on the PATH? I do see it listed twice in the example above:

[code]

[2021-05-22 00:03] jtoar commented on #1631
Seems similar to https://github.com/redwoodjs/redwood/issues/452.

[2021-05-22 02:10] jtoar commented on #2123
Seems like this is just a matter of upgrading css-loader to v5 so far, which is being handled in #2402. Will make sure that's all that's needed.

[2021-05-22 04:35] jtoar commented on #340
Basic nesting is being added in #2430 and #2543.

[2021-05-22 05:38] jtoar opened #2607 "Cell generators don't fail for lowercased models"
SDL and Service generators fail if the model's lowercased. For example, given the following model `post`...

[code]

running `yarn rw g sdl post` (or `service post`) outputs:

[code]

But Cell's don't fail; instead they generate a broken file:

![image](https://user-images.githubusercontent.com/32992335/119215809-e37cfa00-ba84-11eb-879c-7c2ae47c05a1.png)

The problematic's line here I think:

http

[2021-05-22 06:21] jtoar commented on #2607
It'd also be nicer if the generated list template used the singular version for `map`'s argument:

[code]

[2021-05-22 13:45] callingmedic911 commented on #2546
Thanks a lot, @thedavidprice and @jtoar! This all is very helpful.

I'll try to summarize what changes are required. Hoping I'm not too far from reality. 😅
- [scaffold](https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/scaffold/scaffold.js) generator uses `addRoutesToRouterTask` to generate routes. So, probably this needs to be enhanced to handle wrapping of `Set`.

[2021-05-22 14:43] #2501 closed

[2021-05-22 23:06] thedavidprice commented on #2546
That looks like the right list, @callingmedic911 I think any other items will be evident during development and testing.

It feels like a lot of things. Hopefully the coding itself will proceed quickly for you!

^^ Sets themselves are effectively backward compatible for this use case. It's mostly a maintainability/comprehension/ease-of-use improvement (although there is a UI rending improvement, w

[2021-05-23 01:01] thedavidprice commented on #1551
I do _not_ believe this is this case. Quick search for `lint` in the package seems to confirm.  Subjectively, I feel like I often end up with generated code that throws the red squiggles and re-formats on save.

Given confirmation, this gets a 👍 from me.

[2021-05-23 05:00] callingmedic911 commented on #2546
Thank you @thedavidprice!

I've added wrapping of Set when `layout` specifically is passed to `addRoutesToRouterTask`, otherwise it should generate without `Set`, so the impact shouldn't be outside of scaffold.

[2021-05-23 13:03] cannikin commented on #2253
Oh man that v6 to v7 guide lists a lot of changes! Do our e2e tests cover building and filling out forms? Although even if they do it probably only covers `TextField`... we've got like a dozen others. Hmmm

[2021-05-23 13:19] Tobbe commented on #2253
Our unit tests cover a few of them

[code]

[2021-05-23 17:59] thedavidprice commented on #2253
In process here -- needs some final step help from the @cannikin!
https://github.com/redwoodjs/redwood/pull/2270

[2021-05-24 04:54] LBrian commented on #2362
Hey,

I would love to take this one as my first contribution if I can get more context from team, since this is a really interesting topic when taking `prerender` into account, is that the primary reason of why `@redwoodjs/router` doesn't support partial match at the beginning? I remembered came across some discussions on RW community page about this.

[2021-05-24 05:39] LBrian commented on #2362
Yap, as I expected, so should we just ignore `prerender` then for partial match? also, to simplify things, should we just add a new boolean `exact` prop to toggle exact/partial match instead of supporting `match` for regex which I can think of many scenarios will need complicated path match using regex based on using `react-router` for years so far, but this is just my opinions, would like to hear

[2021-05-24 09:45] peterp opened #2617 "Architecture improvements to `rwt link`"
**Only copy files that are published**

Redwood's tools `link` command can create false positives because it  copies _all the files_, but it should only copy the files that are published in the package. A list of the published files can be retrieved with the npm command `npm publish --dry-run --json`:

The false positive here is that it could work when you run `yarn rwt link`, but it may not when

[2021-05-24 10:35] dac09 commented on #2617
It has a slilghtly unusual `--watch` flag @peterp. You can do `rwt link --no-watch` and it'll copy and link once.

Agreed! Look forward to the solution here.

I meant to handle this case using this bit here: https://github.com/redwoodjs/redwood/blob/main/tasks/build-link#L89-L99

I know it works for the majority of cases, but maybe its not for others?

[2021-05-24 11:11] #418 closed

[2021-05-24 20:00] jtoar commented on #2215
I just came across this (`node-gyp-build`, `yarn install --pure-lockfile --check-files` failed), and fixed it by installing node-gyp-build globally (`npm install -g node-gyp-build`):

[code]

[2021-05-24 20:50] jtoar opened #2625 "Doubly-nested scaffolds don't work with react-fast-refresh"
It's possible to generate a scaffold with levels of nesting:

[code]

I'm not sure when `2` stopped working, but it doesn't seem to anymore. Seems to be a react-fast-refresh problem:

![image](https://user-images.githubusercontent.com/32992335/119405411-134f1c00-bc96-11eb-8765-16972a94725d.png)

Note that this might just not be a problem anymore after https://github.com/redwoodjs/redwood/pull/2613

[2021-05-24 21:45] jtoar commented on #2362
@LBrian awesome! And wow you've done your research on this already.

This probably isn't the primary reason why, but I'll tag @dac09 who gave us prerender to get his thoughts here.

Going to tentatively say yes but looking to @dac09 for the final yes/no.

That would be similar to what was suggested in https://github.com/redwoodjs/redwood/issues/156#issuecomment-592725261 for a similar problem, so

[2021-05-24 22:26] pdjota commented on #2006
#2568 should address this issue cc: @thedavidprice

[2021-05-24 22:33] #2006 closed

[2021-05-24 23:31] dac09 commented on #2362
@LBrian thanks for offering to help!

Re: prerender - no the router's internal logic actually doesn't really have anything to do with prerender, as prerender is a build time operation and it simply looks at your paths to give it the correct filename/folder.

Just to make sure we're on the same page, the goal is to modify the `NavLink` component to be less specific but not really change the router

[2021-05-25 00:01] LBrian commented on #2362
@dac09 Correct! Nothing to do with `prerender`, it just current architecture we will need to whitelist dynamic routes in order to generate static pages for `prerender` and I was suspecting that is one of the reason route partial matching is not supported at the first place.

This PR is mainly modifying `NavLink` to support partial match either a new prop `exact` or `match` for Regex.

[2021-05-25 00:19] LBrian commented on #2362
@jvanbaarsen Just to clarify your case to get more context, when you declare `<NavLink to={routes.tasks()}  />` you actually tell Redwood navigates to `/tasks` because `/tasks/completed` is `routes.completedTasks()` as exact 1-1 match, so you suggest `NavLink` to have partial match (wildcard) ability to navigate to the first match base on `Routes` order? (i.e. `/tasks/completed` will be the destin

[2021-05-25 01:21] dac09 commented on #2452
Added config in #2485

[2021-05-25 01:21] #2452 closed

[2021-05-25 04:29] jtoar commented on #1752
@dac09 does #2485 close this one?

[2021-05-25 04:31] jtoar commented on #2361
@shahbaz17 sorry for the late reply; you can absolutely work on this!

[2021-05-25 06:16] shahbaz17 commented on #2361
@jtoar https://github.com/redwoodjs/redwood/pull/2629 is ready for review.

[2021-05-25 09:46] dac09 commented on #1752
Yep! We will now get `refetchQueries` as well as all the other Apollo client functions available to a Cell.

[2021-05-25 09:47] #1752 closed

[2021-05-25 11:34] dac09 commented on #782
@cannikin mind taking a look at this and closing if not required anymore?

[2021-05-25 17:21] #2551 closed

[2021-05-25 18:42] thedavidprice commented on #478
Per Core Team Discussion:
- prioritize for v1
- consider a name change
- inspect current deploy commands

[2021-05-25 18:43] thedavidprice opened #2631 "Remove deprecated features for v1"
The codebase currently includes many items indicating v1 deprecation.

We should find those and deprecate them.

[2021-05-25 19:04] dthyresson commented on #441
FYI, an example of this error can be seen in the cell generator:

[code]

[2021-05-25 19:05] thedavidprice commented on #531
## Current Status:
Keep on v1-consideration list as a nice-to-have for v1. Would not be a breaking change in the future.

Short-term: create a doc or guide with options?

[2021-05-25 19:08] #452 closed

[2021-05-25 22:00] jtoar opened #2632 "Performance"

[2021-05-25 22:06] jtoar opened #2633 "TypeScript"

[2021-05-25 22:13] jtoar commented on #288
Linking issue https://github.com/redwoodjs/redwood/issues/2218 and PR https://github.com/redwoodjs/redwood/pull/2324; they're somewhat similar to the conversation here, but have more of a contributing angle.

[2021-05-25 22:26] thedavidprice commented on #782
I can confirm it's no longer hacky 😉

[2021-05-25 22:26] #782 closed

[2021-05-25 22:47] jtoar opened #2634 "Ops & Contributing DX"
We want contributing to Redwood to be as easy as possible. It's always going to take some time to get a feel for how things are organized. One thing we considered doing but haven't yet is make an [ARCHITECTURE.md](https://matklad.github.io//2021/02/06/ARCHITECTURE.md.html). That might still be worth it. I also meant to write a README.md for every package. Those date faster than the docs, but it's

[2021-05-25 23:01] #1584 closed

[2021-05-26 00:44] jacebenson commented on #2631
Would this include the old cli commands like yarn rw db save?

[2021-05-26 03:00] jtoar commented on #2631
@jacebenson look to @thedavidprice for the final word, but I think the answer is yes.

[2021-05-26 04:23] thedavidprice commented on #2631
If you search the codebase, you get 37 instances of "deprecated" — all those features gotta go!
<img width="249" alt="Screen Shot 2021-05-25 at 9 22 20 PM" src="https://user-images.githubusercontent.com/2951/119602130-5e088b00-bd9f-11eb-996d-57b95c72f4ce.png">

[2021-05-26 04:24] thedavidprice commented on #2631
^^ Yes, great reminder. Currently we just call the new `prisma` command when someone runs that command. But it should be removed completely.

[2021-05-26 04:52] mgazanayi opened #2636 "Configure OAuth with React Native"
Hi,
Do you have any documentation on how to get Google and Facebook auth working with a React Native project?
Thanks

[2021-05-26 05:59] peterp commented on #234
Here are the last few issues that we're working on to close this issue:

- [ ] Typing of Cells: Data props passed to `Success` and props required for initialization. @peterp
- [x] Generate types for GraphQL queries.
- [ ] Remove `squiggles` from scenarios. @dac09
- [ ] Remove `ResolveerArgs` #2437
- [ ] Route should accept all valid JSX return types.
- [ ] Directory named modules @peterp
- [x] use

[2021-05-26 07:27] pdjota opened #2638 "BUG: Insufficient permissions when running without sudo in Ubuntu"
Hello, I was redoing the steps of creating an app, such as
`yarn create redwood-app ./redwoodblog`

And I get permission errors with cordova, part of the output:
[code]
Which halts the installation.
When I repeat the procedure with:
`sudo yarn create redwood-app ./redwoodblog`

It creates correctly the directory but it is a security challenge to run yarn with sudo permissions, and don't forget to

[2021-05-26 07:33] mgazanayi commented on #2636
Sorry, wrong tab -_-

[2021-05-26 07:33] #2636 closed

[2021-05-26 09:14] jangxyz commented on #531
In case anyone is interested, here's a new discovery we have came up with: sharing typescript codes directly between api/ and web/, using [babelrcRoots](https://babeljs.io/docs/en/options#babelrcroots):

The key is to assign the both current workspace and the other directory to `babelrcRoots` config in webpack.

Without this option set, importing `api` from the `web` works only for javascript file

[2021-05-26 12:59] dthyresson opened #2639 "RFC - DX Experience updating/overwriting SDL w/ Service scenarios and tests via generators"
I recently had a suboptimal DX when iterating on a schema and incrementally generating the SDL.

In short, I had

* built a model "Entry"
* migrated
* generated the services and sdl via `rw g sdl Entry --crud`
* written scenarios and tests for my crud services

I then added additional attributed to my Model and I wanted to update the SDL so I did what I typically had done in past (though then I ha

[2021-05-26 13:13] ashrays opened #2640 "You must register a useQuery hook via the `GraphQLHooksProvider`"
I've been following tutorial2, but at the point of adding CommentCell to BlogPost, I've Encounter this error.

![Screenshot from 2021-05-26 18-39-53](https://user-images.githubusercontent.com/42745486/119665560-260e5000-be52-11eb-9f62-0b483d01211a.png)

[2021-05-26 16:44] thedavidprice commented on #1949
done!

[2021-05-26 16:44] #1949 closed

[2021-05-26 16:46] thedavidprice commented on #1954
@peterp bumping this one. I think your comment above about transpiling as part of CRWA is the right way to go.

Updating title.

[2021-05-26 17:21] thedavidprice commented on #2638
@pdjota This is a strange one. I believe it's something with your system and not directly related to Redwood.

What versions of Node.js and Yarn are you using?

I ran this check:
[code]

`cordova-res` is not a Redwood dependency.

Sometimes this happens because of the way you've installed Node.js and/or Yarn. For your system we recommend nvm to manage Node.js installation and versions. Then you ca

[2021-05-26 17:30] pachoclo commented on #1433
Hi Peter,

I'm a new contributor and I was hoping to help with this issue.

Can you provide more details and/or guidance?

Thanks!

--
cc @thedavidprice

[2021-05-26 18:53] jacebenson commented on #2215
## Issue

When I run `yarn rwt link ~/Documents/GitHub/redwood-local/` I get this error.
[code]
I don't have a solution yet.

[2021-05-26 19:43] pdjota commented on #2638
Indeed there must be something wrong in my setup. I'll close it for now.
when running it with `--verbose` seems that yarn is doing some post-install setup
[code]

[code]

[2021-05-26 19:43] #2638 closed

[2021-05-26 20:18] thedavidprice commented on #2638
Versions look good.

Very very strange... 🤔

[2021-05-26 20:30] thedavidprice commented on #2640
Hi there @ashrays I'll see if I can get you pointed in the right direction here. The best place for quick help might be our Chat (on Discord): https://discord.gg/jjSYEQd

If it takes more discussion, you can start a thread in our Forums and paste code + repo for reproduction: https://community.redwoodjs.com

Overall, this kind of thing is really hard to diagnose without code snippets.

Storybook a

[2021-05-26 20:30] #2218 closed

[2021-05-27 04:50] jtoar commented on #1781
@wminshew great catch and write up; sorry we didn't get to this sooner but #2641 will handle this!

[2021-05-27 05:23] jtoar commented on #701
@Tobbe assuming you use `yarn rwt link` somewhat successfully now? (And therefore okay to close this one out?)

[2021-05-27 07:55] Tobbe commented on #701
I'm actually still using `yarn rwt cp` 🙈  (Also haven't been contributing much in a while. Will try `link` when I get back in to it)

But as long as RW still supports `cpw` and `build:watch` I think this is a valid issue.

If we feel like we're never going to fix this we should update our docs and say "Sorry, this doesn't work on Windows, please use link instead". (After making sure link works pro

[2021-05-27 17:38] callingmedic911 commented on #2502
@peterp I was trying to replicate issue - that there's new token generated if we navigate/refresh page. Right?
But I'm not able to replicate the issue, so far I did:
- Cloned [redwood-tutorial](https://github.com/redwoodjs/redwood-tutorial)
- Setup [firebase auth](https://redwoodjs.com/docs/authentication#firebase-2) with provider as Google.

I see only single token call (after login/expiring afte

[2021-05-27 17:52] thedavidprice opened #2644 "Update `schemaPath:` value in `config.ts`"
Related to https://github.com/redwoodjs/redwoodjs.com/pull/703#discussion_r639964924 and Docs PR https://github.com/redwoodjs/redwoodjs.com/pull/703

We currently have an incorrect default value in https://github.com/redwoodjs/redwood/blob/e6c941aea36433ebb790c75c62a0a0dfc9edb998/packages/internal/src/config.ts#L67

It should be:
`schemaPath: './api/db/schema.prisma'`

[2021-05-27 17:53] thedavidprice commented on #2644
@pdjota has offered to work on this. Thanks in advance!

[2021-05-27 17:55] pdjota commented on #2644
yes, will take care of it soon.

[2021-05-27 17:56] thedavidprice commented on #2502
^^ @dthyresson do you have any Firebase knowledge about this?

[2021-05-27 19:43] thedavidprice commented on #1805
@agiannelli Took this one off your to-do list for now. Just let me know if anything changes! No pressure either way.

[2021-05-27 22:45] jtoar commented on #669
Here's an example I came across:

https://user-images.githubusercontent.com/32992335/119906157-8bba1500-bf02-11eb-83cd-b35d78093e75.mp4

[2021-05-27 23:23] jtoar opened #2645 "Auth"

[2021-05-27 23:27] jtoar commented on #2260
`v1-priority` for this issue doesn't imply that it has to be solved, but it seems like we need a more definite plan.

[2021-05-27 23:48] jtoar commented on #2219
@peterp I'm going to bring this up for discussion, but this doesn't seem like a `v1-priority` right? We could release a v1 rc without it?

[2021-05-27 23:50] jtoar commented on #2259
@dthyresson @clairefro If this is a supabase issue, ok to close this one?

[2021-05-27 23:56] jtoar commented on #2362
@LBrian I've pinged some of the team to get more feedback for you!

[2021-05-27 23:57] jtoar opened #2646 "Core"

[2021-05-28 00:43] jtoar commented on #2078
@KrisCoulson since #1960 got merged I'll close this out; let me know if it's still not solved for you!

[2021-05-28 00:43] #2078 closed

[2021-05-28 00:56] jtoar commented on #2086
Linking to the auth discussion here: https://github.com/redwoodjs/redwood/issues/2260#issuecomment-817947281.

[2021-05-28 03:28] dthyresson commented on #2259
@jtoar We should consider https://github.com/supabase/gotrue/issues/90#issuecomment-826471190 and upgrade to the latest supabase client and retest using the approach noted in the issue using the redirectTo.

[2021-05-28 03:39] dthyresson commented on #2502
I'd have to test on Auth playground - I don't use Firebase auth in my apps.

When I did try I didn't see that behavior. Might it be specific to the UserVitals implementation?

It would be nice to replicate this issue on https://redwood-playground-auth.netlify.app/firebase.

[2021-05-28 04:55] Tobbe commented on #669
This is one of the things I miss the most when working on a RW project compared to say a CRA project. Thankfully it's going to be solved by our TS efforts. It's the second to last item here https://github.com/redwoodjs/redwood/issues/234#issuecomment-848483967

[2021-05-28 11:49] ashrays commented on #2640
@thedavidprice thankyou for your response, I'll put up more info in a bit, The thing is I've followed the tutorial perfectly, which is why I kept the question brief, though others might be encountering the same error, I believe it has something to do with graphql mapping/spoofing done by redwood to get storybook to work.

So on [this](https://learn.redwoodjs.com/docs/tutorial2/multiple-comments) p

[2021-05-28 19:45] jtoar commented on #1596
@jvanbaarsen I'm also wondering this; it feels like testing `usePageLoadingContext` should be on us as a framework not you. This looks like a test that we should have:

[code]

[2021-05-28 20:07] jtoar commented on #1592
@dthyresson based on the discussion of offloading auth providers in this thread https://github.com/redwoodjs/redwood/issues/2260, we should probably hold off on this for now right? I know you didn't say it was urgent, just mean that we should wait till we have better auth infrastructure in place

[2021-05-28 20:10] jtoar opened #2672 "Structure & VS Code IDE"

[2021-05-28 20:20] jtoar opened #2673 "Deployment"

[2021-05-28 20:36] jtoar commented on #1460
Might be the same as #2362

[2021-05-28 20:53] jtoar opened #2674 "Logging"

[2021-05-28 21:15] jtoar commented on #1554
Closing this one out in favor of #1831; it's more recent and these are the same thing (I think—please reopen if I'm mistaken!)

[2021-05-28 21:15] #1554 closed

[2021-05-28 21:18] jtoar commented on #1831
Also adding this here, cause important: netlify dev might be needed for the IDE.

[2021-05-28 21:32] jtoar commented on #2633
We actually already have a great issue for this; closing in favor of #234.

[2021-05-28 21:32] #2633 closed

[2021-05-28 21:52] jtoar commented on #802
I'll be sure to bring this up for discussion, but we've stuck to our sdl so far; here's Tom's response to "why doesn't redwood use something like nexus" in the forums: https://community.redwoodjs.com/t/anyone-playing-around-with-nexus-js/360/5.

That doesn't mean we can't provide types across sides. The TS experience is already getting a lot better with https://github.com/redwoodjs/redwood/pull/24

[2021-05-28 22:00] jtoar commented on #249
Going to close this one; @hszhakka if you're still interested, as @clairefro mentioned, we've got a great translation workflow now. You caught us really early before we had any infrastructure; but no pressure of course!

[2021-05-28 22:00] #249 closed

[2021-05-28 22:03] jtoar opened #2675 "Create Redwood App"

[2021-05-28 22:11] jtoar opened #2676 "CLI"