[2021-10-06 15:54] cannikin commented on #3263
Sounds good! Yeah I read your previous post as "let's add a core type that the user can use" and that the syntax in the actual routes file would look something like `/photos/{path:glob}`.

But if that's what's actually happening behind the scenes to enable the preferred `{path...}` syntax, then that's awesome!

[2021-10-06 17:03] thedavidprice commented on #3063
zOMG @Tobbe I ❤️ it when you write those magic words "I'm working on this one"

Thanks!

[2021-10-06 18:08] #3501 closed

[2021-10-06 23:59] thedavidprice commented on #3459
Agreed!

[2021-10-07 00:43] jacebenson opened #3521 "When spinning up a new project on windows 10 - things are not working"
I was looking into another issue I was having.  As part of that I thought I'd spin up a fresh project to reproduce the error.

So I went to the learn.redwoodjs.com and copied the lines to spin up a project.

[code]

<details>
<summary>It ran with no issues (click to see output).</summary>

[code]

</details>

Then I thought okay I'll just run it.

[code]

<details>
<summary>
Which gave me an error

[2021-10-07 00:48] thedavidprice commented on #3521
Gah, Webpack! This feels like a bug in Webpack (I hope).

Could you try `yarn add -W -D webpack webpack-dev-server`? This will upgrade both Webpack and Webpack-dev-server packages to the latest in your root directory. If that resolves things, let me know and I'll get out a patch ASAP.

[2021-10-07 01:18] shansmith01 opened #3522 "fresh install bug - Unable to load '@webpack-cli/serve' command"
Hi There,

I have just done a fresh install of 0.37.2 and when I try running yarn rw dev I get errors in my terminal and can not get a page to open.

[code]

System details below.

[code]

Can I get a hand please?

[2021-10-07 01:18] thedavidprice commented on #3521
Weird. What's with those `\\` in your paths? That can't be good. What Windows terminal + shell combo are you using?

Maybe just try to add the dependencies manually:
[code]

And then `yarn install`

[2021-10-07 01:31] thedavidprice commented on #3521
Confirming this is a bug on both Windows and Mac. Coming from Webpack specifically. DANG IT

moving this conversation over here --> https://github.com/redwoodjs/redwood/issues/3522

[2021-10-07 01:31] #3521 closed

[2021-10-07 01:47] thedavidprice commented on #3522
Related —> we started seeing something related to dev server throw in the CI today without any correlation with code modifications. @jtoar and I resolved it by upgrading Webpack, although that doesn't seem to fix this problem.

**Current theory:**
Webpack [released a new version yesterday](https://github.com/webpack/webpack/releases). Although we pin the version in our Redwood package, it's also i

[2021-10-07 02:47] thedavidprice commented on #3522
## Found It
It's a dependency of a dependency, which released a new version today. Fresh projects would have grabbed the latest version, which has a bug. Project upgrading would have a yarn.lock with the previous version, which works.

The guilty package is here --> https://www.npmjs.com/package/@webpack-cli/serve

## Workaround
For now, the workaround is to _force_ your project to use v1.5.2. It'

[2021-10-07 04:22] shansmith01 commented on #3522
Works thanks @thedavidprice

[2021-10-07 04:25] thedavidprice commented on #3522
v0.37.3 will be out within the hour

Thank you to you and @jacebenson for reporting this.

The dependency of my dependency is my enemy...

...or so the saying goes.

[2021-10-07 05:48] thedavidprice commented on #3522
We've released https://github.com/redwoodjs/redwood/releases/tag/v0.37.3

[2021-10-07 19:05] guledali commented on #3513
This is a much needed functionality, this is the kinda of abstractions that I love with Redwood.JS

[2021-10-07 21:50] MarkBennett opened #3531 "Would you be interested in adding a GitHub Codespace to make contributing easier for new devs?"
I've been using one of the [new GitHub Codespaces](https://github.com/features/codespaces) for my projects. Basically, it lets you run a Docker container and a full VS Code dev environment right from your browser. You can also connect your locally installed VS Code to the Codespace if you're not into developing in a browser tab.

I've found that this has made it really for new junior devs to get u

[2021-10-08 18:15] viperfx commented on #3402
Just wanted to add that recently our app started seeing a very similar issue.

![CleanShot 2021-10-08 at 19 09 55@2x](https://user-images.githubusercontent.com/328257/136603369-8c6a21f1-8655-4e62-a779-7bd3d694ed1d.png)

Double requests, but for authenticated routes and currently this behavior still happens after our recent upgrade to 0.37.

Unfortunately, I don't know when this started happening s

[2021-10-09 00:05] thedavidprice commented on #3514
Please take it away @barakcodes That would be amazing!

Ah yes, that is confusing. This process is used in many places — the `rw g types` command is just a wrapper. The code can be found in this directory within the Internal package:
- https://github.com/redwoodjs/redwood/tree/main/packages/internal/src/generate

[2021-10-09 00:18] thedavidprice commented on #3517
Thank you! I'll look into this next week.

Ah, looks very interesting for our case!

[2021-10-09 01:08] thedavidprice opened #3539 "Enforce dependency pinning using Yarn v3 constraints"
All of Redwood's packages have pinned dependencies (use exact version with no semver `^`). However, anytime a new package is installed with `yarn add`, the default is always to use the `^`.

We can use the new Yarn v3 constraints to enforce a rule across our workspaces that disallows the use of `^`.
- https://yarnpkg.com/features/constraints
- Reference from Babel project: https://github.com/babel

[2021-10-09 01:10] jtoar commented on #3539
@thedavidprice Yeah actually excited to try these out!

[2021-10-09 01:31] Tobbe commented on #3063
Great! That's the approach I took in the code I have. That's also when I ran in to the Pokemon 2 bug #3536 So would like that closed before I post my PR for this

[2021-10-09 08:00] Tobbe commented on #2005
[code]

This would definitely solve my use case 👍

[2021-10-09 11:06] Tobbe opened #3542 "Support case insensitivity for both sdl and scaffold generators"
This is a continuation of https://github.com/redwoodjs/redwood/pull/3536. Copy/pasted comment below

---

For example, rw g sdl CustomPokemon works. But rw g sdl custompokemon throws.

![image](https://user-images.githubusercontent.com/30793/136655466-cde522bd-b7df-44f0-a996-47c4b87b19d0.png)

For the sdl generator, the case of the input must be the same as that of the schema model.

This is a bit

[2021-10-10 01:00] johndevor opened #3544 "`yarn rw setup tailwind` can't find @babel/eslint-plugin"
I get this error while running through the tutorial (at this section https://learn.redwoodjs.com/docs/tutorial/cells) and then trying to add CSS.

[code]

[2021-10-10 15:16] #2121 closed

[2021-10-10 16:28] guledali commented on #3544
Run the command,

[code]

Everything should work fine

[2021-10-10 18:38] johndevor commented on #3544
That changed the error to this:

[code]

[2021-10-10 18:47] johndevor commented on #3544
Seems to be related: https://github.com/redwoodjs/redwood/issues/1301

[2021-10-10 19:07] #3544 closed

[2021-10-11 00:38] LBrian opened #3546 "MetaTags never works due to a known issue of JSX fragments are ignored"
I just upgraded my RW from `0.36.x` to the latest `0.37.3` and noticed all `meta` are not rendered as expected except `og:type`, that gives me a clue as it is the only meta without wrapping inside condition and JSX fragment and led to this open issue https://github.com/staylor/react-helmet-async/issues/76

Not sure but plausibly related to recent dependency upgrade? #3026

I did a quick test local

[2021-10-11 05:43] esteban-url opened #3547 "Ts code in /api/src/lib/auth.js"
It seems that #3431 introduces typescript code into a javascript redwood apps:

![image](https://user-images.githubusercontent.com/14810250/136737188-e674364c-084c-4464-8ebc-dbb1337115c3.png)

This happens on a fresh  `0.37.4` js redwood app right after setting up netlify auth via `yarn rw setup auth netlify` and overwriting the auth file.

I've looked around a bit and it seems to me that there sh

[2021-10-11 15:49] orta opened #3550 "Documentation nit: Serverless functions"
A question I kinda wanted https://redwoodjs.com/docs/serverless-functions to answer: Why do the generated files from the serverless generator seem to tie to aws?

( I think I know the answer is that in general  aws-lambda's API style must be the default for many other cloud providers but it wasn't on vercel + next's nor azure's which I at least have some experience with. Figured the docs would hav

[2021-10-11 18:22] Tobbe commented on #3544
Great! I'll leave this closed then. But please do get back to us if you run in to the issue again, thanks 🙂

[2021-10-12 17:42] cannikin opened #3554 "Option to create scaffolds with Tailwind styling"
As requested by @mojombo: if you have Tailwind configured, let's create the scaffold/dbAuth templates with Tailwind classes instead of using all of the `rw-` custom classes. This makes it more likely that you'll want to take the time to customize them and keep them around.

Should include:

* Scaffolds
* Login/Signup/ResetPassword/ForgotPasswordPages from dbAuth

~This means we could skip creating

[2021-10-12 17:50] cannikin opened #3555 "Add flag for overriding the labels when generating dbAuth pages"
Right now the label on the username form fields is always `Username` and password is always `Password`. Let's add a command line flag so that you can set that at the time you're generating to save you some time from changing them manually across four pages:

    yarn rw g dbAuth --username=Email --password=Secret

Now your form input fields will be labeled "Email" and "Secret" on Login, Signup, Fo

[2021-10-12 23:32] jtoar opened #3558 "Add projects beta automation"
This issue tracks the status of our projects-beta automation:

- [ ] new issues should be added to the project and given the status "New issues"

For discussion sometime later: does milestone-driven movement across the board still make sense?

[2021-10-13 21:50] josuablejeru commented on #3452
@thedavidprice @ajcwebdev I have some changes for the Cognito Authprovider. I still have an issue what the login function is not correctly returned (please look at the PR for a screenshot). Hope you don't mind what it is not perfect.

[2021-10-13 22:12] ajcwebdev commented on #3452
No worries, thanks for taking the time to get the ball rolling. A couple of the core team members are more involved with auth integrations than others so we'll get some eyes on this and provide some notes soon.

cc @dthyresson @cannikin @pi0neerpat @jeliasson

[2021-10-13 23:48] thedavidprice commented on #3485
prioritizing for re-work during the release candidate cycle

[2021-10-14 15:44] doesnotexist opened #3568 "Capitalization inconsistency with `yarn rw g page` generator"
Reproducible by doing:
 `yarn rw g page ABTest`

Which will add the following line to Routes.tsx
[code]
But will generate directory pages/AbTestPage  with AbTestPage.tsx , stories, jest files with the b uncapitalized

[2021-10-14 16:17] BurnedChris opened #3569 "Social Logins, SMS, WebAuthM for magic.links"
Magic.Links now has multiple Social Logins.

![CleanShot 2021-10-14 at 17 19 06](https://user-images.githubusercontent.com/15834048/137357270-72ae7022-d108-4966-84ad-71c758293aee.png)

We can model it from the firebase code.

https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/authClients/firebase.ts

Happy to start pushing this one forward. :)

[2021-10-14 16:56] aggmoulik commented on #3568
Thank you @doesnotexist for the update. I will confirm this and create a fix for this.

[2021-10-14 17:46] aggmoulik commented on #3246
hey @aldonline , How can I contribute to VSCode Extension for RedWood ?

[2021-10-14 18:25] Burnsy commented on #3569
I have added the scaffolding code for WebAuthN, Social, SMS, and the standard magicLink.

[2021-10-14 21:31] cjreimer commented on #3554
Rob, I like this idea.  As a user of tailwind, one of the things I try to avoid is to keep repeating the same long lists of utility classes over and over in my application.  I try to avoid className repetition through common component creation.

This is a potential concern on the scaffolds, on the forms for example.  For every TextField and every NumberField on every form, we likely could have the

[2021-10-15 02:36] KrisCoulson commented on #3554
I've been thinking about this for a while that it be really nice to have those be utility classes. Could we do something like in scaffold.css mimic tailwind utility classes if someone were run the tailwind command just remove the scaffold.css file? I guess that might break down if people made edits to the scaffold.css file wonder if we could code mod update existing scaffolds to tailwind. Just put

[2021-10-15 09:08] orta opened #3574 "Have a 'server launched' message with links to key tools"
Today booting up a site looks like:

[code]

Which is pretty noisy sure, but the tricky thing for me personally is that the interesting info is dispersed within that body of text. Now, I get that what I'm looking at is at least 3 separate processes `api`, `web` and `gen` - so knowing when _they_ are ready is a tricky problem, but what an ideal state looks like to me is that at the end there's a "r

[2021-10-15 11:50] orta opened #3575 "Differentiate the Redwood favicon from the generated template favicon"
My tabs when working in Redwood basically is a sea of pinecones, simple example:

![Screen Shot 2021-10-15 at 12 39 53 PM](https://user-images.githubusercontent.com/49038/137481203-8c3b7af2-e8ba-4184-91f7-9fba7a9b2b08.png)

Perhaps using different colors, or fill types for the generated app's default icon?

![Screen Shot 2021-10-15 at 12 49 33 PM](https://user-images.githubusercontent.com/49038/13

[2021-10-15 13:18] orta opened #3576 "GraphQL Playground does not load in Safari"
It's hard to say if this specifically is a redwood problem from these logs, but it's a vended dependency which I don't necessarily have control over at my app's level. So, worth raising for your visibility at least.

![Screen Shot 2021-10-15 at 2 10 13 PM](https://user-images.githubusercontent.com/49038/137492382-d738d198-9e9c-41c1-bb51-6008a576f952.png)

Sidenote, graphql-playground is pretty muc

[2021-10-15 15:15] #3576 closed, assigned to nobody

[2021-10-15 15:35] simoncrypta opened #3577 "Wrong path for GetCurrentUser inside type definition"
_[From teo.villanueva on Discord](https://discord.com/channels/679514959968993311/716252919875240007/898580511755235379)_

The generated type definition from RedwoodJS inside `.redwood/types/includes/all-currentUser.d.ts` get an error.
![](https://cdn.discordapp.com/attachments/716252919875240007/898580509075062814/unknown.png)

That because the path should be `import { getCurrentUser } from '../.

[2021-10-15 16:35] cannikin opened #3579 "[Scaffold] When focused on an input with an error, input border should be red"
Focusing on the input makes the border gray, but it should stay red:

![image](https://user-images.githubusercontent.com/300/137522287-555099ba-8d98-4e34-b410-2e48ab6080d4.png)

This should just be a matter of adding a `:focus` style in `scaffold.css`.

[2021-10-15 16:44] cannikin commented on #3579
It's all yours! Let me know if you have any questions!

[2021-10-15 16:52] cannikin opened #3580 "[Scaffold] Fields which are not required in prisma.schema are being required in the scaffold form"
Given the following model:

[code]

Generating a scaffold for this model should only have `email` as a required field. However, *every* field is being required in the requisite form inputs:

[code]

![image](https://user-images.githubusercontent.com/300/137522287-555099ba-8d98-4e34-b410-2e48ab6080d4.png)

I noticed that the default options for an input are that it is required: https://github.com/r

[2021-10-15 17:22] cannikin opened #3581 "[Scaffold] Error about Float formatting on field that is not required"
I'm submitting a form containing an optional field that will be transformed into a float:

[code]

However I get an error about the format not being valid for a Float field:

![image](https://user-images.githubusercontent.com/300/137527842-04035c5e-7eb1-4e58-a4dc-77d64788e875.png)

Since this field was not required at all, it should not throw an error. I'm not sure if this needs to be handled at t

[2021-10-15 17:24] cannikin opened #3582 "[Scaffold] Browser console error for `transformValue` prop"
Getting this error in the console when viewing a form that contains a `transformValue` prop on an element:

![image](https://user-images.githubusercontent.com/300/137528211-94808e76-e9fe-4d52-9032-5a5e3c94567a.png)

The form contains this `<TextField>`:

[code]

Not sure if it really is as simple as renaming the prop `transformvalue` or if we need to somehow tell React not to freak out about that

[2021-10-15 17:35] cannikin opened #3583 "[Scaffold] Floats not working"
May be related to #3582

When entering a Float into a field designated to transform the output to an actual Float, an error is thrown:

[code]

![image](https://user-images.githubusercontent.com/300/137529449-ecb99a67-817d-4d34-b8f1-325b53fdfccd.png)

[2021-10-15 17:50] Tobbe commented on #3575
I think this is a great idea!
Can also play around with different colors.

Gray
![logo_bw](https://user-images.githubusercontent.com/30793/137531020-f62782ba-0b2b-4007-a945-599ee65dbbe0.png)

Green
![logo_green](https://user-images.githubusercontent.com/30793/137531037-f6567118-2016-4665-b22f-3ce4c49e8251.png)

etc...

[2021-10-15 17:56] mojombo commented on #3575
Redwood cones are green-ish as they develop, that would be a good choice for your in-dev project!

[2021-10-15 19:15] #3583 closed, assigned to nobody

[2021-10-15 19:18] #3063 closed

[2021-10-15 19:20] #3581 closed, assigned to nobody

[2021-10-15 19:27] jtoar commented on #3582
Yeah let's! I've already assigned myself so I know to fix it 👍

[2021-10-15 19:45] jtoar commented on #3568
Hey @aggmoulik, I think we want the latter—to retain the user's capitalization. @doesnotexist You expected the directory and file to be named `ABTestPage/ABTestPage.tsx` right?

[2021-10-16 10:08] greg-hoarau opened #3586 "Publish redwood vscode extension to Open VSX Registry"
Hello,

I'm new to RedwoodJS and i'm trying to setup it with Gitpod.

It would be cool to make the vscode extension available on the Open VSX registry so that we can use it on Gitpod (and others).

[2021-10-16 10:21] SarveshLimaye commented on #3579
@cannikin  I am not able to find the command to run this locally. What should be done after yarn install?

[2021-10-16 13:18] orta commented on #3554
+1 to the component classes technique, feels like a scalable way to handle there still being one template file but with different behaviors depending on what you use

[2021-10-16 15:45] orta commented on #3586
For Svelte we use CI to publish both to vscode/openvsx - https://github.com/sveltejs/language-tools/blob/master/.github/workflows/DeployExtensionsProd.yml when a human makes a tag for it

[2021-10-16 16:57] thedavidprice opened #3587 "Create an Issue + PR Template that links to a Forum Post about v1 Roadmap Status"
We are nearing the release of v1-rc, which means 1) we have completed core feature for v1, and 2) we have completed all (known) breaking features. Between the v1-rc and final v1 release, we will hold new features and breaking changes. This means we'll need to say "not yet" to incoming ideas, Issues, and PRs that fall into one of those two buckets (new feature or breaking).

This needs to be commun

[2021-10-16 17:20] cannikin commented on #3579
You mean how do you get the scaffold form and fields to exist?

[2021-10-16 19:27] thedavidprice commented on #3586
This is a great idea @greg-hoarau The current published extension is effectively deprecated as it's very out of sync with the latest Redwood version. The good news is that there's a entire rewrite underway!

I'm labeling this to group with the group of issues we'll be prioritizing once the new extension is in beta. Thanks!

cc @jtoar @aldonline

[2021-10-16 20:50] #3400 closed

[2021-10-17 03:43] SarveshLimaye commented on #3579
@cannikin Yes !

[2021-10-17 04:03] cannikin commented on #3579
You'll need to create a model in `api/db/schema.prisma`, something like this:

[code]

And then run `yarn rw prisma migrate dev` and it'll ask you for a name, you can do whatever, like "create product".

Then run `yarn rw g scaffold Product` which will create the pages.

Start your server with `yarn rw dev` which will open the browser.

Go to http://localhost:8910/products and then click the "Crea

[2021-10-17 11:24] SarveshLimaye commented on #3579
@cannikin I am getting error after running command yarn rw prisma migrate dev.

![image](https://user-images.githubusercontent.com/74766567/137625377-7918ee40-2d0d-4c36-8efe-b94b42c6fcda.png)

[2021-10-18 00:59] cannikin commented on #3579
Ahh you're running those in the actual Redwood codebase. You'd need to run those in a regular Redwood app. I'd suggest doing that (`yarn create redwood-app app-name-here`) and making the changes in the `scaffold.css` file that gets created after you run the scaffold generator. Then once the styles look good, add them to the `scaffold.css.template` file that's here in the main Redwood repo: https:/

[2021-10-18 08:46] guledali opened #3590 "maxLength and MinLength is not working for the textField and NumberField"

[2021-10-18 11:01] #3590 closed, assigned to nobody

[2021-10-18 18:34] #3263 closed

[2021-10-18 19:23] aggmoulik commented on #3580
Hey @cannikin, I found the mistake i.e, When we use the type as `String` it takes the default values which looks sensible here as the only type that remains is `String`. So, it makes sense to have default values that are by default okay for the `String` type.

But, the component generation columns are not taking models value into consideration before applying to the default values. So, I am thinki

[2021-10-18 20:04] #3577 closed, assigned to nobody

[2021-10-18 20:20] jtoar commented on #3568
I'm with @cannikin in that I'd expect it to be `APIPage` if I typed in `APIPage` but not a hill that I'm going to die on or anything.

I feel like the chances that someone types in `yarn rw g FOO_BAR` are pretty low; I'm not even sure what kind of casing they would want if they did that

[2021-10-18 20:51] thedavidprice opened #3596 "Confirm Auth provider templates are correctly typed"
@dthyresson I'm not sure if your TS work in https://github.com/redwoodjs/redwood/pull/3431 has been correctly applied (and is still in sync) across all provider templates. Could you please take a look and evaluate if there are any further steps needed to reconcile across providers?

There was a `setup auth` fix for TS (plus template update) in this recent PR:
- https://github.com/redwoodjs/redwood

[2021-10-18 22:18] #3580 closed, assigned to nobody

[2021-10-18 22:26] thedavidprice commented on #2215
We have replaced `rw link` with `rwfw`. Closing this out.

[2021-10-18 22:26] #2215 closed

[2021-10-19 11:05] #2901 closed

[2021-10-19 15:53] dac09 opened #3600 "Graphql types not generated if project has no Cells"
### What's the issue?
As title, if the redwood project has no Cells, the Graphql types are not generated for the web side.

### Suggested Solution
Remove check for cells being present here: https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/generate/typeDefinitions.ts#L222

The type generator supports gql queries and mutations anywhere, so I don't see a reason to only run if Cell

[2021-10-19 16:27] #3579 closed

[2021-10-19 17:25] bshea5 opened #3601 "Generated Test Cases Failing Due to Formatting of Compared Values"
I get the following when running a test case on a model that has a field defined as a float. The value expected and the value received appear to be almost the same, but reporting back with a different number of decimal places.

[code]

model
[code]

I experience a similar issue on Decimal fields. But in that case, its comparing a string to a decimal value.
[code]

I haven't made any edits to the g

[2021-10-19 19:25] thedavidprice commented on #2344
^^ @aldonline any way to do this with the current set up?

@am1ru1 No ETA at this time, unfortunately. Our focus is primarily on reaching the framework v1-rc

[2021-10-19 19:35] thedavidprice commented on #3601
@aggmoulik Fantastic! Yes, the first steps would be 1) diagnosing the underlying issue (yay JS math!) and 2) proposing a solution. I'm a bit wary this could be a slippery slope. However, it seems Prisma and/or Jest would have thought of something for cases like this.

Do keep in mind that the generated tests are _not_ intended to be inclusive of any/every possible scenario. The "fix" here might be

[2021-10-19 20:21] Isaac-Tait commented on #3522
Yes that is correct.

Thank you for the workaround - I will implement it 👍🏼 😄 Fingers crossed the webpack folks get a patch release ASAP 🤞🏼

[2021-10-20 00:07] #3582 closed, assigned to jtoar

[2021-10-20 02:32] macovedj opened #3607 "Docs syncing"
If I understand correctly [this list](https://redwoodjs.com/docs/redwood-router) determines whether docs built for redwoodjs.com come from the redwood package README.md or from the markdown defined in the docs folder in the `redwoodjs.com` repo.  Is there a reason not to have all of them come from either github or that folder?  Also... I expected there to be a network request that got the list of

[2021-10-20 14:06] thedavidprice commented on #3607
^^ It's just historical reasons. Docs started in this repo. We migrated most over. Some stayed here because originally we thought the packages would be helpful to other projects (like the Router and Auth) — because the package specific README is used on the related NPM page (and included in the published package), we needed to keep them together.

But that's not the case, so now we're just moving

[2021-10-20 15:18] augustnmonteiro opened #3608 "Proposal for Input Mask"
One thing that most of the frameworks forget to add is input making.

We could have in redwood an attribute `mask` for the `TextField, NumberField`.

requirements for an input mask are:
* Direction (Enum: Start, End) (where does cursor should start in the mask)
* Pattern (String)
* FixedMaskPlacehold (String)

The fixed mask is for things like:
the input is going to show `0.000` and the user is go

[2021-10-20 19:05] cjreimer opened #3609 "Form components values - changes in V37.x"
Hello,

There's been a lot of great work in V0.37.x  Thank you!

With the recent change to react-hook forms and the Redwood forms package, the behavior is a bit different for empty, non-required fields than before.  This was something previously commented on and was changed in April of 2021.

The issue is most easily discussed for a `<NumberField>`, but it applies to some other types with value tr

[2021-10-20 21:49] simoncrypta opened #3610 "Warning : prettyPrint is deprecated, use the pino-pretty transport instead"
I upgrade to canary (0.37.6-canary.57) on my project. Every time I make on update on the codebase, I got :
`[PINODEP008] PinoWarning: prettyPrint is deprecated, use the pino-pretty transport instead`

This came from the upgrade of Pino to V7 #3588
https://github.com/pinojs/pino/blob/master/docs/api.md#prettyprint-boolean--object

The prettyPrint option is deprecated, but everything seem to still w

[2021-10-20 22:30] thedavidprice commented on #3608
@augustnmonteiro Couple more questions about this:
1. how is this different than an input placeholder? https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-placeholder
2. could you provide an example via a link, screencast, etc?

[2021-10-20 23:44] dthyresson commented on #3610
Maybe remove the option altogether and always pretty print to the stdout in the dev server?

[2021-10-20 23:46] dthyresson commented on #3610
Actually sorry that didn’t make sense what I just wrote. I need to look a bit closer, but if we have to limit or standardize the pretty output that may be ok

[2021-10-21 01:10] thedavidprice opened #3612 "Remove structure package dependency from babel-plugin-redwood-mock-cell-data"
cc @peterp

This is a next step for #3518, which originally started with #3122

We want to eventually deprecate the current structure package. Our custom babel plugin `babel-plugin-redwood-mock-cell-data` will need to be rewritten as part of this process.

[2021-10-21 05:53] thedavidprice commented on #3542
Welcome @DukeManh! We're glad to have you. The logic here should be straightforward, although there's a lot of code powering the generators. So just let us know if you need any direction as you go — either here or the Discord is great. Related files/directories:
- https://github.com/redwoodjs/redwood/tree/main/packages/cli
- https://github.com/redwoodjs/redwood/tree/main/packages/cli/src/commands/

[2021-10-21 13:06] dthyresson commented on #3596
Added comments to #3562 but not sure yet is it need a custom template or not.

[2021-10-21 16:33] cannikin commented on #3401
Hmm, not sure why I reopened this, it's definitely done.

[2021-10-21 16:33] #3401 closed

[2021-10-21 18:01] aggmoulik commented on #3601
**Floats:**
Prisma recommends using `Decimal` instead of `Float` because of accuracy in precision as we can see in the above examples. Float is inaccurate in the number of digits after decimal whereas Prisma returns a string for Decimal value.

Examples of float and decimal:

**DateTime**
Prisma returns DateTime in ISO String which is explained in the above comments :

**Possible Solutions:**

1.

[2021-10-21 19:29] thedavidprice commented on #3601
This seems reasonable and actionable in scope. But we _don't_ have to make the generators "smarter" to do this; inline documentation could be sufficient.

What if we scope this a bit further. E.g. what are all the types Prisma supports for Postgres (think [this is the list](https://www.prisma.io/docs/concepts/database-connectors/postgresql#prisma-migrate)) and maybe take into consideration SQLite,

[2021-10-22 11:14] dac09 opened #3617 "Update custom auth generator to generate auth client"
### What?
Currently the custom auth generator just changes App.tsx/js with the Auth provider, and generate src/lib/auth for the API side

However, its missing a crucial piece - generating the "scaffold" or an unimplemented custom auth client for the web side

### Why?
Often when you create a custom auth, you're looking for more control over the methods used to login/signup/logout - even if its a p

[2021-10-22 19:43] ccollie opened #3619 "[Feature] Apollo compatible Automatic Persisted Queries"
Spec: https://github.com/apollographql/apollo-link-persisted-queries#apollo-engine
Apollo: https://www.apollographql.com/docs/apollo-server/performance/apq/

WIP implementation:
https://github.com/ccollie/redwood/commits/automatic-persisted-queries

[2021-10-22 21:45] thedavidprice opened #3621 "upgrade Yargs from v16.2.0 to v17"
cc @jtoar

Releases:
- https://github.com/yargs/yargs/releases

Breaking changes:
- https://github.com/yargs/yargs/releases/tag/v17.0.0

I attempted a naive upgrade, which didn't work. Couldn't quickly diagnose the issue.

Ideally we'd include this in v1-rc

[2021-10-22 21:52] thedavidprice opened #3622 "Upgrade Clerk Auth to v2"
cc @zackdotcomputer

Clerk has released a new v2 which is incompatible with v1:
- https://docs.clerk.dev/main-concepts/auth-v2
- https://github.com/clerkinc/clerk-sdk-node/releases/tag/v2.0.0

Because this is a breaking change, ideally it should be upgraded either before v1-rc or after v1 (included in v2). However, the core team maintainers most likely will not be able to prioritize this. So commu

[2021-10-22 22:31] thedavidprice opened #3623 "Upgrade ESLint from v7 to v8"
_Ideally this will be upgraded for v1-rc._

### ESLint Release Notes:
- https://github.com/eslint/eslint/releases/tag/v8.0.0

After naive upgrade, I hit the following error:
[code]

Ideally this will be upgraded for v1-rc.

[2021-10-23 01:14] nzdjb commented on #3623
Howdy,

I gave this a shot, but found after getting set up that there's no current release of eslint-plugin-react that is compatible with eslint 8: https://github.com/yannickcr/eslint-plugin-react/issues/3055

They have a PR to resolve that: https://github.com/yannickcr/eslint-plugin-react/pull/3059

Looks like there are other plugins that will need updating too, but I haven't found the status of

[2021-10-23 03:21] bazokhan opened #3626 "Dependency package triggers antivirus software for containing malware"
ua-parser-js@^0.7.18 package triggers the windows defender as a severe threat for containing Trojan:Win32/Casdet!rfn:

![image](https://user-images.githubusercontent.com/29674076/138540524-a3c5c29d-8cc1-4b1d-b0e2-d26d582b5008.png)

Searching online I found this:
https://us-cert.cisa.gov/ncas/current-activity/2021/10/22/malware-discovered-popular-npm-package-ua-parser-js
and this:
https://github.co

[2021-10-23 06:35] nnennajohn opened #3627 "Exclude package from codegen"
Hi,

I'd like to be able to exclude a package from codegen. Currently, I have a project that also uses shopify api for the shop pages. However, codegen crashes because the schema is different from prisma's schema.

I don't want to build a full-fledged ecommerce functionality into my app, and would prefer to use shopify api for the few products the app offers. And use urql/react-query to access onl

[2021-10-23 12:27] #3626 closed, assigned to nobody

[2021-10-24 03:13] #3627 closed, assigned to nobody

[2021-10-26 17:41] cannikin opened #3632 "Update dbAuth auth.js template/comment to select minimal data from getCurrentUser()"
Right now the default template for `api/src/lib/auth.js` looks up the user, selecting all db column data, and making them available as `currentUser` on both the web and api sides. The "selecting all attributes" part is dangerous, as by default this would include things like `hashedPassword` and `salt`, which, on the server (api side), wouldn't be an issue. But this data is also sent down to the cl

[2021-10-27 15:32] jacebenson opened #3638 "/graphql/health doesnt return body of { status: 'pass' } or { status: 'fail' } 0.37.5"
I was reading the docs and this /graphql/health bit was something i looked into and it wasnt working for me as I expected.

When I hit this endpoint with the following call, I get an error in the body with a 200 response.

[code]

[code]

Either this should be corrected or the docs should be updated.

[2021-10-27 16:52] #3638 closed, assigned to thedavidprice

[2021-10-27 17:04] dthyresson opened #3640 "Support GraphQL Schema stitching"
Would be curious if there is any plan for schema stitching, or remote joins like Hasura does. Currently, I have shopify api in a separate package and using urql to access it on the pages I need. There's probably a better way to handle it in Redwood.

_Originally posted by @nnennajohn in https://github.com/redwoodjs/redwood/issues/3627#issuecomment-951911624_

See: [Combinging schemas](https://www.

[2021-10-27 19:23] dac09 opened #3641 "[RFC] Run dedupe after rw upgrade"
Until we migrate redwood projects to yarn 3, it may be helpful to run `npx yarn-deduplicate` towards the end of the `rw upgrade` process.

This makes sure:
a) No duplicate deps exist in the yarn.lock
b) Prevents difficult to diagnose errors happening, and does _not_ require the user to regenerate a lockfile

This may not be necessary if we upgrade projects to yarn 3 because...

[2021-10-27 21:54] cannikin opened #3642 "Forcing a scaffold generator to re-run ads a duplicate import statement"
When running a scaffold generator again with `--force` the `import` for the layout is not recognized and added to the routes file again:

[code]

[2021-10-27 22:04] cannikin opened #3643 "Boolean/checkbox in Scaffolded form always required"
When generating a scaffold from a model that has a boolean field, the resulting form input checkbox has `validation={{ required: true }}` attached, which means you HAVE to check the box on to submit the form. That kind of defeats the purpose of letting a user check the box on or not!

My guess is that prisma marks boolean fields as 'required' internally (since they can't be `null`, it must have a

[2021-10-27 23:42] jtoar opened #3646 "Reconsider `yarn rw test` flag `--runInBand`"
For `v0.38`, due to a pseudo-random break, we had to change `yarn rw test` to "run in band" for each side. To be clear, this was already the case if you didn't specify a side. But if you specified just "web", they didn't run in band.

The reason we had to do this in the first place is that we were getting a `TextDecoder is not defined` error: https://github.com/redwoodjs/redwood/pull/3611. But as

[2021-10-28 01:53] thedavidprice opened #3647 "Getting Netlify deploy failures due to Node.js version?"
[Node.js v16.x entered Long Term Support (LTS)](https://nodejs.org/en/blog/release/v16.13.0/) on October 27th. For some deployment configurations, this might have caused your Netlify Build to fail. Here's what might be going on.

## How it works
**1. Check your Node.js engine version in ./package.json**
Example:
[code]

**2. Then check your `.nvmrc` file**
Example:
[code]

_Does your project have

[2021-10-28 03:36] grepme opened #3648 "Fix URL in v0.38.0 release notes"
https://github.com/redwoodjs/redwood/releases/tag/v0.38.0

Redwood Docs links to https://redwoodj.com/docs/services#service-validations

It should be: https://redwoodjs.com/docs/services#service-validations

[2021-10-28 07:57] #3648 closed, assigned to nobody

[2021-10-28 23:29] #3568 closed, assigned to aggmoulik

[2021-10-30 06:59] callingmedic911 commented on #3425
I agree, I think we should be able to keep queries in any case. But setting `namingConvention: keep` would produce TS type name is similarly "any case". Do you think that's also okay? Most commonly I've seen TS types in PascalCase.

[2021-10-30 09:16] peterp commented on #3374
@jeliasson Absolutely, I'll write down the instructions, but I think we should open a PR that makes `rw dev api` look for the existance of `api/src/server.ts` which runs that instead.

Here are the steps to running your own api-server instead of relying on Redwoods:
1. Create a `dev` script in `api/package.json`:
[code]
2. Install `nodemon`: `yarn workspace api install -D nodemon`
3. Add a `dev` c

[2021-10-30 09:56] jeliasson commented on #3374
@peterp Works great, thank you!

A minor typo on `yarn workspace api add -D nodemon` (`install` instead of `add`) but otherwise 👌

Agreed.

[2021-10-30 21:41] yanielbf opened #3654 "Problems installing Redwood on Windows"
Hi, I find RedwoodJs interesting and I'm starting to review it. When I try to install it in Windows using the command "yarn create redwood-app ./redwoodblog" from the documentation when I try to convert the typescript files to js it throws an error with the module ts-to-js.
![Captura](https://user-images.githubusercontent.com/11427255/139559140-c1fa007d-028d-4d91-ad61-6359a4592bc8.PNG)
s.

[2021-10-31 06:57] LBrian opened #3655 "Upgraded to v0.38 Jest db teardown Prisma + Postgresql violation"
It seems `Prisma v3` upgrade breaks existing `Jest` teardown db clean up due to table dependency violation.
![Screen Shot 2021-10-31 at 5 46 14 pm](https://user-images.githubusercontent.com/3888780/139571857-9dc63f17-0511-4361-9c46-0bb7aedf5f5c.png)

Long story short, I have two tables, `Company` and `CompanyProfile`, they are basically coupled so when creating a new company will automatically cre

[2021-10-31 17:01] Tobbe commented on #3654
Hi @yanielbf. Sorry I'm replying in English, but I don't know any Spanish at at all 🙁

Could you please try to install using git-bash instead?

[2021-11-01 16:02] dthyresson opened #3679 "Support Supertokens JWT Authentication"
@rishabhpoddar noted that Supertokens https://supertokens.io will have a JWT-based authentication mechanism that better fits with Redwood's authentication provider and clients vs the current cookie mechanism.

We have closed https://github.com/redwoodjs/redwood/pull/2220 in favor of waiting for this new feature to be available and then will implement.

[2021-11-01 17:27] cannikin opened #3680 "[Scenario Testing] Foreign Key constraint errors when trying to cleanup after scenario run"
Right now, when cleaning up scenarios, we always delete table data in the table order that Prisma's `getDMMF()` function gives them to us in: https://github.com/redwoodjs/redwood/blob/main/packages/testing/config/jest/api/jest.setup.js#L33-L41

This can lead to foreign key constraint errors where you try to delete a parent record before the child (the child has a foreign key relationship to the pa

[2021-11-01 19:18] domnantas commented on #3401
Hi! What about other auth providers? I need this functionality and I'm using Supabase. It does have [reset password in its API](https://supabase.io/docs/reference/javascript/reset-password-email), so only the AuthProvider code needs to be updated to support it, should we start with a separate issue?

[2021-11-01 19:25] cannikin commented on #3401
I'm not really tracking the third party login providers so sorry if I come off sounding like a fool, but: does Supabase have a UI widget that you're using when integrate their login with Redwood? Or do you have to build everything yourself and setup your hooks?

I would create a new issue, yes. The code in this PR does [extend the authClient interface](https://github.com/redwoodjs/redwood/blob/mai

[2021-11-01 21:23] #3092 closed

[2021-11-01 21:59] thedavidprice commented on #1801
@peterp any change you'd be available to work on this for inclusion in the next release? (ETA before Thanksgiving)

@jtoar could also help if/as needed.

[2021-11-01 22:07] thedavidprice commented on #3374
@dthyresson could you take a look at this one for you to work on for v0.39? I'd like to prioritize this for inclusion in v1-rc.

@kibertoad greatly appreciate your offer to help! Given that we're down to a couple of weeks window to get this into v1 (and assuming your time is limited), would you be able to help review and direct a PR if we can get one going? If that feels most efficient for you as

[2021-11-01 22:09] thedavidprice commented on #3342
@cannikin would you be available to help @dac09 out with this one for the current release sprint?

[2021-11-01 22:12] thedavidprice commented on #2745
@Tobbe do you know if this is still an issue? Assuming so.

[2021-11-01 22:21] kibertoad commented on #3374
I still have some time to start working on it today, let me try to take first swing at it.

[2021-11-02 00:23] thedavidprice commented on #3654
Here's a helpful post from the Redwood Forums:
- https://community.redwoodjs.com/t/thebest-windows-setup/2439

[2021-11-02 00:30] thedavidprice commented on #3655
Thanks for reporting this @LBrian

@cannikin is this related to #3680? Either way, do you think this should be prioritized for a v0.38 patch?

[2021-11-02 00:33] cannikin commented on #3655
Yep looks like the same error I was seeing. Is there a Prisma-approved way to get around this I wonder? Otherwise, my suggestion in that issue works, but it's not the most elegant thing in the world. You either need to define that `global` in every test file, or figure out some shared place to put it so it's always set before any test...

[code]

[2021-11-02 00:36] cannikin commented on #3655
Apparently you can tell deletes to be cascaded in Prisma now: https://www.prisma.io/docs/concepts/components/prisma-schema/relations/referential-actions

So this gets around this problem, but having a cascading delete may not be something they want to do depending on the use case. Hmmm...

[2021-11-02 00:37] cannikin commented on #3342
This appears to be vaguely related to Windows, remember my caveats ;)

[2021-11-02 00:46] thedavidprice commented on #3342
Lulz. But the unit test is, well, just a unit test!

If not, @simoncrypta what do you think about taking a stab at this one?

[2021-11-02 00:52] thedavidprice commented on #3647
Ah, @aggmoulik good idea. But I agree with @dac09 that we don't want to do this on the .com site directly. However, we could do a better job of pointing people to the GitHub Issues and Forum when they have issues. Not a priority, but a good idea for the future.

For now, a post on the Forums could be helpful (even if just linking to this Issue). Would you be able to do that @aggmoulik?

[2021-11-02 04:28] stephenhandley commented on #3522
Running into this after upgrading to redwood 0.38.0

[2021-11-02 04:44] jtoar commented on #3522
Hey @stephenhandley, did you happen to have the resolution at `1.5.2` when you upgraded like Kyle [here](https://community.redwoodjs.com/t/v0-38-upgrade-guide/2501/3)? If so, you can remove that block entirely as it was just a patch when things broke unexpecedly in v37 and shouldn't be needed at all for v38.

[2021-11-02 04:47] stephenhandley commented on #3522
Ah, got it thanks @jtoar

[2021-11-02 14:05] dac09 commented on #3036
Thanks for getting the PR started @jeliasson - I'll continue the rest of the conversation there.

But I just wanted to confirm that "0 downtime" reloads are possible with pm2 (just tried it!), with `yarn pm2 reload`. Seamlessly switches the servers over, killing the old processes!

[2021-11-02 14:49] orta opened #3682 "Generate scaffolding should not include field using prisma's @updatedAt flag"
[code]

`yarn rw g scaffold User` would _ideally_ not include form elements and query SDL for `modifiedAt`.

[2021-11-02 15:16] orta opened #3683 "Generate commands could offer an inline diff if the files have already been generated"
The problem: the generator tools are only useful for the initial setup, and then become less useful over time.

E.g.

[code]

Then I run:

[code]

If I changed my model to:

[code]

Then re-run:

[code]

Which is pretty reasonable.

**A potential answer to this is to allow using the generators to present diffs that they would recommend for particular files based on the differences in the schemas.*

[2021-11-02 19:53] pi0neerpat commented on #531
I was able to get the alias import working on the web side, but not on the api side:

Here's my docs :smile:

1. Update root `babel.config.js`:

[code]

2. Update web `jsconfig.json`

[code]

3. Use in `web` like

[code]

4. Use in `api` like

[code]

[2021-11-02 21:55] thedavidprice opened #3685 "Windows: Dev Setup Doc"
Windows devs try Redwood, using the "wrong" shell/terminal, and assume it's broken ('cause their local setup doesn't work). It's time for an official doc recommending the dev setup to use with Windows.
- [ ] link to doc from Tutorial
- [ ] bonus: during CRWA install, check for Windows env and warn accordingly

@simoncrypta

[2021-11-02 22:00] thedavidprice commented on #3680
Duplicate of #3655 Let's move conversation to that PR.

Leaving open to close when #3655 is fixed.

[2021-11-02 22:01] thedavidprice commented on #3655
@cannikin Got it. Can you dig into this one? Seems like a priority bug to fix for this release cycle. Do let me know otherwise.

[2021-11-02 22:03] #3146 closed

[2021-11-02 22:08] thedavidprice commented on #3069
@dac09 is there anything here that could be actionable for v1-rc and/or v1?

[2021-11-02 22:10] #2300 closed

[2021-11-02 22:15] thedavidprice commented on #2416
@dthyresson @dac09 can either of you confirm this has been resolved? My understanding is that source maps are no longer included in production, correct?

[2021-11-02 22:21] thedavidprice opened #3686 "Serverless Framework Integration: Tracking Issue"
**Audit of current issues and requirements:**

See new tracking board here: https://github.com/orgs/redwoodjs/projects/7/views/1

- [x] https://github.com/redwoodjs/redwood/issues/3284
- [x] https://github.com/redwoodjs/redwood/pull/3782
- [x] https://github.com/redwoodjs/redwood/pull/3755
- [ ] Add cloudfront plugin / some other plugin to deploy the web side
<details>
<summary>**Investigate setti

[2021-11-02 22:26] thedavidprice commented on #3617
Hi all! Any further thoughts about this one? Especially when/if to prioritize it on the roadmap?

[2021-11-02 22:29] cannikin commented on #3655
In your use case @LBrian can you update your schema to have cascading deletes? https://www.prisma.io/docs/concepts/components/prisma-schema/relations/referential-actions  And if so, does that fix the issue?

[2021-11-02 22:30] thedavidprice commented on #3641
Yes. Yes we should!

Implementation suggestion: make this an option, defaulting to enabled, just in case someone need to skip it.

@SimeonGriggs and @callingmedic911, would either of you be able to prioritize this for the current release cycle?

[2021-11-02 22:31] #3642 closed

[2021-11-02 22:35] LBrian commented on #3655
@cannikin Awesome, that is good to know that but agreed with you it might not be always the case to delete relation. I disabled all my service tests at the moment as for `Company` and `CompanyProfile` I can do that for sure, but few of my tables dependency there are not 1-1 could be 1-many (e.g. `Address` of `Company` and `User` of `Company`). I will give it a try and dig in any better alternative

[2021-11-02 23:03] #3042 closed

[2021-11-02 23:21] thedavidprice commented on #531
@dac09 following up on my message in Discord — what do you think about leading the effort to turn this into proper documentation?

[2021-11-02 23:51] thedavidprice commented on #3601
@aggmoulik

^^ Agreed!

^^ I don't think adding a comment line or two would be too bad. If anything, it might guide people to the Testing documentation in general (which is a fantastic resource). But, yes, I agree it would be best to proceed with the doc update and then determine the best way to inform devs.

[2021-11-03 00:11] thedavidprice commented on #2907
@matronator thank you for trying this out and reporting back here! I think your experience verifies what we've been assuming is the next steps on our end:
- resolve Yarn warnings across the RW framework packages
- resolve CLI bin requirements

I'm not sure if there's a path forward directly from a project, unfortunately.

[2021-11-03 04:20] callingmedic911 commented on #3641
@thedavidprice I think you meant to tag @simoncrypta. But everyone's welcome here. 🥳

This should be a fairly short one, I think I should be able squeeze this one. @simoncrypta Let me know if you're interested in this one. 🙂

[2021-11-03 06:23] peterp commented on #1801
@thedavidprice Sorry, I'm not available

[2021-11-03 07:46] callingmedic911 commented on #2005
@thedavidprice @jtoar Gentle reminder about my comment above. 🙂

[2021-11-03 10:37] LBrian commented on #3655
@cannikin  👆 cascading solves my issue, looked into my entire db schema it makes sense to have cascading enabled. 👍

[2021-11-03 12:05] dthyresson commented on #3619
@thedavidprice I believe that persisted queries is different that the GraphQL cache. A persisted query stores the "query" ie what to fetch as a pre-parsed hash which is much smaller to send that a large query test payload. It's smaller and pre-parsed so it can just execute. The cache you noted is caching the response -- the result of the query.

@ccollie I believe that the Envelop plugin https://w

[2021-11-03 12:24] dthyresson commented on #3619
@ccollie Yes, I confirmed that https://www.envelop.dev/plugins/use-persisted-operations is the plugin you can use to have similar hashed stored, pre-parsed queries defined like APQ.

However, this plugin doesn't whitelist all the queries you are allowed to run.

This plugin doesn't necessarily do 2. But that is something the Guild can look into maybe via a different plugin.

You would add the plug

[2021-11-03 14:08] ccollie commented on #3619
@dthyresson this is different from  https://www.envelop.dev/plugins/use-persisted-operations precisely because of your point 2

Instead of allowing only a particular set of queries defined a _build-time_, this plugin optimizes for arbitrary `graphql` at _runtime_ using (by default) a capped `lru` cache.  Of course this is necessarily less secure, but this is the case for any server not using persi

[2021-11-03 14:32] dthyresson commented on #3619
@dotansimha This is the persisted query topic we discussed earlier today. Do you have any ideas for which envelop plugins may fit better for this use case?

[2021-11-03 15:13] simoncrypta commented on #3342
Let's go ! 👍

[2021-11-03 16:02] simoncrypta commented on #3685
We could also change this sentence and refer to the Microsoft doc for NodeJS
https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-overview

I have tested both approaches, and it works without problem for redwood projects.

[2021-11-03 16:07] dac09 commented on #3342
Let me know if you need any help @simoncrypta!

[2021-11-03 16:42] thedavidprice commented on #3685
@simoncrypta any/all of this would be amazing. And I agree that we just want to have _one_ primary recommendation we make. (With the caveat others might be ok but Devs are on their own.) You don't need to do a deep-dive. Just simply confirm that a specific setup is working well.

Honestly, this is 80% of the way there:
https://community.redwoodjs.com/t/thebest-windows-setup/2439

And don't worry a

[2021-11-03 17:28] jtoar commented on #2005
@callingmedic911 extending as well as overriding sounds great! Just to clarify, in your example, is `isResponseEmpty` the original?

Although switching the order up may be a breaking change, I thought `afterQuery` would run before `isEmpty` as well. We should ask about that one and see what people think.

But do feel free to proceed with the first change! 🚀

[2021-11-03 17:33] #3575 closed

[2021-11-03 17:35] dotansimha commented on #3619
This is what `useParserCache` and `useValidationCache` plugins are doing - it's using LRU to cache the parser and validation response.
If you wish to extend that wish a hashing mechanism to add APQ functionality, you can do that by adding an Envelop plugin to extract the incoming hash from your incoming request and add that to your cache, and this way you can avoid parsing and validating of the sa

[2021-11-03 17:51] #3554 closed

[2021-11-03 17:56] ccollie commented on #3619
Thanks for the feedback, @dotansimha.  I [tried initially](https://github.com/dotansimha/envelop/issues/496) to do this in `envelop` itself but hit a roadblock. I'll give it a shot later this week.

[2021-11-03 20:10] realStandal commented on #3685
Happy to see Windows getting some TLC, more than happy to change my workflow to ease the all-around strain.

I have a few questions with this setup, hopefully they're not just personal ignorance and can be useful in the docs to come:

- Will the project *need* to be housed outside the Windows filesystem? (my gut and a few tests tells me "yes")
  - My terminology may be wrong here - basically, can

[2021-11-03 22:54] thedavidprice commented on #1801
💯understood @peterp

What do you think about taking this on @jtoar?

[2021-11-03 22:56] #3377 closed

[2021-11-04 00:27] simoncrypta commented on #3685
I love these questions @realStandal  ! I will try to answer the best I can.

So you can use WSL with the Windows file system, but don't do it ! The performance is terrible, and you will eventually get error. The majority of problem with RedwoodJS on Windows is caused by the file system.

Yes you can ! You just need to mount it:
https://devblogs.microsoft.com/commandline/access-linux-filesystems-in

[2021-11-04 02:27] dac09 opened #3692 "Support env var interpolation in redwood.toml"
Currently we cannot use environment variables to set config values in `redwood.toml`

Using an env var should be possible, and it should be "interpolated" into the final configuration.

### Why?
When deploying to multiple environments, sometimes we need to override values specific to that environment

Proposed syntax:
[code]

this would allow us to set one API_HOST for, lets say the staging enviro

[2021-11-04 05:29] ccollie commented on #3619
@dotansimha from a cursory look, it seems like this should _mostly_ work. Has there been a discussion about making hooks _async_ ?

[2021-11-04 07:23] callingmedic911 opened #3693 "`@types/aws-lambda` should be a `devDependency` of Redwood apps"
In webhooks/functions, to get the type hints specifically from line
[code]
we need have package `@types/aws-lambda`. @dac09 like you said, it used be there earlier? Let me know if you have something in mind to address this.

Possible way to fix:
- Include as `dependency` (not as `devDependency`) in `@redwoodjs/api`.
- Include as `devDependency` in the `create-react-app` template directly. It would

[2021-11-04 07:28] callingmedic911 commented on #2005
Yes.

[2021-11-04 09:07] orta commented on #3693
It might be better to copy over the useful types into redwood itself as `@types/aws-lamba` has about 50 dts files and you probably only need one of those

[2021-11-04 10:00] callingmedic911 commented on #3693
@orta You're right, we probably don't need all those types. We would need to maintain from upstream changes though, right? Updated types/newer fields perhaps. To be honest I'm really not sure how frequent this happens and if it's even maintenance overhead at all. What do you think?

[2021-11-04 12:53] memarino92 opened #3695 ""yarn rw setup tailwind" breaks styling of splash page"
When initializing a new project, we see the splash page:
![image](https://user-images.githubusercontent.com/62777339/140316506-344a73b4-ce56-412f-8243-cd153a7d8ab8.png)

If you run the 'yarn rw setup tailwind' before creating a page, the styling for the logo breaks:
![image](https://user-images.githubusercontent.com/62777339/140316700-418c33f3-9beb-4392-ad84-dd1d48321c6e.png)

[2021-11-04 13:26] #3695 closed

[2021-11-04 16:30] dac09 commented on #3069
I think it should be possible to fit this in, during RC. Its just a utility component we could expose from `rwjs/web`, but I'm keen to get feedback from the community on how they would like to see errors handled too

[2021-11-04 18:34] doesnotexist commented on #3617
Sorry, I haven't had a chance to really look into this or the related issue.  I'm happy if anyone else wants to take a crack, otherwise I'll try to come back to it in a few weeks time.

[2021-11-04 19:16] doesnotexist commented on #3647
Changing .nvmrc to v14 helps for deploying the v0.37 of my project.  However, I am unable to upgrade to v0.38 and successfully deploy to netlify.  Running into the size limit for the graphql function
[code]

In addition to the instructions in this ticket, I also tried the npx yarn-deduplication from the upgrade guide but I don't think there was anything to deduplicate as my yarn.lock remain unchan

[2021-11-04 22:43] thedavidprice commented on #2509
@dac09 nudge on this one, high priority for v0.39

[2021-11-04 22:44] thedavidprice commented on #3245
@dac09 nudge on this one, high priority for v0.39

[2021-11-04 22:53] thedavidprice commented on #3655
@cannikin possible to prioritize this for v0.39?

[2021-11-04 22:55] cannikin commented on #3655
@thedavidprice Let's discuss on Tuesday and see if we can come up with a reasonable solution...my personal fix was to use a `global` but there be other ways someone can suggest!

[2021-11-04 23:15] thedavidprice opened #3701 "[Patch] Firebase Auth setup Fails in v0.38"
Running `yarn rw setup auth firebase` fails:
[code]

Looks like an issue with the auth.js template.

@dac09 possible for you to take a look at this?

[2021-11-04 23:16] thedavidprice commented on #3587
@mojombo nudge on this one; v0.39 priority

[2021-11-05 11:33] martinjirku opened #3703 "UserInputError messages are not handled properly by Form and FormError"
I went through redwood tutorial https://learn.redwoodjs.com/docs/tutorial/saving-data/#displaying-server-errors
Tutorial suggest to handle validation this way by using `UserInputError`:
[code]

There is a single top level exception message: "Can't create new contact" and messages per each property in the form. These messages are not handled properly by Form and FormError components.
These componen

[2021-11-05 18:30] dthyresson commented on #3703
Have confirmed the behavior with v0.38 and specifically the UserInputError that adds info to the GraphQL extension properties.

[2021-11-06 06:09] KrisCoulson commented on #2473
I actually just hit this again and it took me quite a long time to figure out again. I believe the answer that @pi0neerpat recommends would have fixed it but interesting detail the way I triggered this was in a react-select and I wasn't even using a cell... I guess maybe it is apollo cache needs the exact same grapqhl signature as something else that was using maybe the same key I can def elaborat

[2021-11-06 07:15] jtoar commented on #2473
@KrisCoulson I've been looking at this again with @callingmedic911. One thing that would help us a lot is a reproducible example. Is there any way you could extract and/or share the part of your app that ran into this error? I'm happy to help you with that process!

Another bit of information that would help us is your Apollo Client version. Are you on the latest? (3.4.16, which is what v0.38 uses

[2021-11-06 11:29] dac09 commented on #2708
OK.... so I've been playing around with this today, and I think the correct configuration is this (atleast for Wallaby)

[code]

I'll double check whether this fixes the other issues we've been seeing as well and create a PR if it does.

[2021-11-06 12:20] #3374 closed

[2021-11-06 13:17] ryanrahmans26 commented on #3703
Yes, i have same problem, i just uncomment validate(input) in createContact to continue the tutorial

[2021-11-06 15:43] tundera commented on #2266
@thedavidprice Happy to help out with this one too

[2021-11-07 09:57] Tobbe opened #3706 "Auth is causing unnecessary hard rerenders (supabase)"
I have a login/signup page that uses `React.useState` to toggle between a log in form and a sign up form, where sign up is the default. When using the log in form and clicking the button to log in the page does two unnecessary hard rerenders. I'm using supabase auth, and I haven't tried the other providers, so I don't know if this is isolated to supabase or not.

Here's a video

https://user-image

[2021-11-07 10:22] Tobbe commented on #3706
Additional context: This is a Cell, and when (failing to) login the cycles through `<Loading />` twice

[2021-11-07 13:14] Tobbe commented on #3706
I tried to get it to work by manually logging in using SB's client, but as I said in the original post that causes RW and SB to get out of sync, and I never could get around that without at the same time triggering all the extra mounts/unmounts of `<Success>`.

The workaround I'm using now, that actually seems to work all the way, is to *not* use a Cell, but rather implement all the Cell logic mys

[2021-11-07 16:00] #3703 closed

[2021-11-07 16:47] jtoar commented on #3706
Sounds similar to this one over here but I'd have to dig in to be sure: https://github.com/redwoodjs/redwood/issues/3402. The `login` function does call `reauthenticate` which triggers a change in state, which definitely causes a rerender. But I'm not sure why it's recommitting the whole page like that.

One thing that would be super helpful is a react profile; that way I could look at all the com

[2021-11-07 22:55] Tobbe commented on #3706
But the state update should only cause the Success component to rerender, right? Now I'm getting the whole gql dance. I'm not sure exactly how it works, but could it be that apollo wants to run the query again because we're now authenticated? And it's not just updating the query results either, it's running everything from fresh. I tried different caching strategies, but couldn't make it work the

[2021-11-07 23:26] jtoar commented on #3706
Maybe I'm confused about how much of that page is actually the Cell—in the first video, is everything on the screen the Cell?

[2021-11-07 23:27] jtoar commented on #3706
@Tobbe Something that recently worked for @KrisCoulson was getting rid of the `notifyOnNetworkStatusChange ` in beforeQuery; could you try that as well? https://github.com/redwoodjs/redwood/blob/52f728a1e13c79c06a4eebd222596b679c355c01/packages/web/src/components/createCell.tsx#L118

[2021-11-08 00:10] olance opened #3707 "API tests assume `api/src/lib/db` to export a Prisma client"
... and pretty much any Redwood command for that matter.

In my current project, I decided to go with Firebase's Firestore database.
So I'm building a Redwood app with an API side but where the exported `db` is just:

[code]

I've got my services working well with this, so I can take advantage of all the GraphQL niceties from the web side.

However, on the API side, I'm facing a roadblock when wri

[2021-11-08 01:03] ajcwebdev commented on #3707
I didn't get to the point of writing any tests for the Fauna project, it was mostly just a POC to see if we could get it connected at all.

But I agree that we should definitely make it possibly for anyone to swap out Prisma for their backend tool of choice. We've said for a while that this is possible so we need to make sure it actually is in practice.

[2021-11-08 08:14] Tobbe commented on #3706
Yes

[2021-11-08 13:18] #3641 closed

[2021-11-08 14:00] dthyresson commented on #3707
I think the issue here is that testing the api side attempts to also

* create a test db https://github.com/redwoodjs/redwood/blob/f25204899482d0196ca50356d8dcd5be680b8bae/packages/cli/src/commands/test.js#L51
* setup and run [scenarios](https://redwoodjs.com/docs/testing#scenarios)

Both of which are Prisma-centric.

@cannikin Should there be an option to disable each? Maybe in api toml like `sce

[2021-11-08 14:15] dthyresson commented on #3701
It might be a missing parentheses closing up `adminApp`:

https://github.com/redwoodjs/redwood/blob/f25204899482d0196ca50356d8dcd5be680b8bae/packages/cli/src/commands/setup/auth/templates/firebase.auth.ts.template#L7

[code]

[2021-11-08 14:17] dac09 commented on #3701
Want to fix @dthyresson ?

[2021-11-08 14:54] #3701 closed

[2021-11-08 16:25] dac09 opened #3710 "Add built-in type defs for SVG imports"
### What?
Currently importing `.svg` files throws a TS error, because SVGs don't have types.

### Solution
Include this ambient override

[code]

### [SVGs in Redwood](https://s.tape.sh/Vw1SvHKc)
[![Img](https://s.tape.sh/api/thumbnail?tapeSource=https://tapes.tape.sh/ckihmf0eh00050ujpe7lot4mt/S3XHYvd-7sTi1KWl3D4ci.mp4)](https://s.tape.sh/Vw1SvHKc)

[2021-11-08 16:54] cannikin commented on #3707
@dthyresson Yeah it seems like we need some way to disable. I think there was a sledgehammer solution at one point that looked to see if the `db` directory existed at all, and if not, don't try to generate Prisma and stuff, but if you have the dir, but don't use Prisma, you'll be having problems.

Although in @olance's case it sounds like he's trying to use scenarios, but not with Prisma, so we wo

[2021-11-08 16:54] dac09 opened #3711 "`yarn rw g dataMigration` always generates JS files"
## Expected behaviour
If the RW project is TypeScript - generating a new data migration should create a TS migration, and include types for db.

## What currently happens
a) Generates a JS file
b) TS files in the data migration folder are ignored, when `yarn rw dm up` is run

[2021-11-08 16:55] thedavidprice commented on #3596
cc @dac09

[2021-11-08 17:04] olance commented on #3707
@cannikin Yeah I'm OK with not using scenarios specifically: my blocker here is that I can't even run Jest because the setup code from @redwoodjs/testing tried to use `db` as a Prisma client.

The discussion above diverged a little towards other commands, which I think is part of the "package" if we want to make things perfectly agnostic of Prisma, but do have an easy workaround (i.e. keep the `sc

[2021-11-08 23:59] thedavidprice opened #3712 "Confirm Compatibility with Tailwind v3"
Tailwind v3 alphas have been released with stable version ETA later this month:
- https://github.com/tailwindlabs/tailwindcss/releases/tag/v3.0.0-alpha.1
- https://github.com/tailwindlabs/tailwindcss/releases/tag/v3.0.0-alpha.2

What's changed (per alpha.1 release notes):
- `purge` has changed to `content`
- Color name changes
- `overflow-clip` has changed to `text-clip`
- 🚨PostCSS 7 is no longer

[2021-11-09 00:03] thedavidprice commented on #3712
@jtoar My current thoughts on this after a quick glance:
- it looks compatible with our internal config and setup (already using JIT but might need to update config); when v3 is released, the setup command will install v3
- but there are breaking changes coming that will affect specific implementations, so how to "include" those breaking changes along with v1-rc, especially if v3 tailwind isn't re

[2021-11-09 00:59] olance commented on #3707
I have started exploring the codebase for references to `db` where it is assumed it is a Prisma client... thought that might be a good starting point to evaluate both the amount of work and the correct path to a Prisma-agnostic "core", if that's something we'd like to achieve.

(no special order assumed in reporting those occurrences below)

-----

#### `handlePrismaLogging` in `packages/api/src/l

[2021-11-09 05:30] mojombo commented on #2473
This might be a good chance to try out Replay to capture the problem and send it to us! https://www.replay.io/

[2021-11-09 06:00] pi0neerpat commented on #3596
Yup, made the issue just haven't had time https://github.com/oneclickdapp/ethereum-auth/issues/7

[2021-11-09 07:42] Tobbe commented on #3706
From what I can tell I get the same behavior even with `notifyOnNetworkStatusChange: false`. Also tried with `cache-first`, without any noticeable change.

[code]

[2021-11-09 08:05] Tobbe commented on #3706
I ran the profiler. I've never used it before, so not entirely sure what to look for. But I though I'd see both the Success and Loading components in there, but I don't. They're definitely rendering though. `<Loading>` more than once.

https://s.tape.sh/9X69gakn

[profiling-data.11-09-2021.08-59-19.json.txt](https://github.com/redwoodjs/redwood/files/7502981/profiling-data.11-09-2021.08-59-19.json

[2021-11-09 11:07] #3692 closed

[2021-11-09 18:50] cannikin commented on #3655
We've got a plan! No need for a global, we'll have the computer figure this out. PR coming soon...

[2021-11-09 22:11] jtoar commented on #3706
@Tobbe Thanks for the tape and the profiler data! I'll have a look at those shortly.

I just saw that your redwood version is v0.37. @KrisCoulson was seeing the same thing on v0.37, but it went away after upgrading to v0.38. (We bumped the apollo version in v0.38.) Could you try doing that as well, and if there's anything that's blocking you from upgrading is there anything I can do to help you ge

[2021-11-10 00:29] thedavidprice commented on #3596
@pi0neerpat did you see my question [over here in Forum](https://community.redwoodjs.com/t/eth-auth-to-extend-dbauth/2517/8?u=thedavid) about deprecating current Eth Auth?

[2021-11-10 00:31] thedavidprice commented on #2473
@jtoar sound like this has been resolved via Apollo Client 3.4, correct?

[2021-11-10 00:49] jtoar commented on #2473
@thedavidprice I believe so; it's still probably worth improving the error message and setting the verbosity of the Apollo logs to debug in case this happens again. We could close this out and either @callingmedic911 or I could follow up with a PR implementing those two things

[2021-11-10 01:00] thedavidprice commented on #3647
@doesnotexist any updates here or still stuck on function size blowing up? These things can be tough to diagnose and, frankly, we've been struggling with Netlify's build the past few releases. My guess is you'll be just fine deploying if you make the switch to Vercel.

Please keep me posted.

[2021-11-10 10:01] dotansimha commented on #3619
If we'll make some of the functions as `async`, this will lead to a different signature of `parse` and `validate` functions, and eventually will lead to errors when trying to integrate it with existing servers that assumes that `parse` / `validate` are sync.

We are trying to make sure the signature of enveloped functions always matches the signature of `graphql-js` to make sure it's just wraps wi

[2021-11-10 10:02] dotansimha commented on #3619
I think we can try to find a way to allow you to run this. A lot has changed in `envelop`'s core since then ;)

[2021-11-10 14:47] ccollie commented on #3619
@dotansimha thanks for the feedback. I'll have another look.

[2021-11-10 18:47] simoncrypta commented on #3342
I try to dig into why this odd behaved happens.  First thing we should be aware is when we talk about windows, it can be different shell and environment.

1. Command Prompt
2. PowerShell
3. Git Batch
4. WSL

We can say that Command Prompt and PowerShell are pretty similar for our use case. PowerShell add many powerful features and is much more up to date, for this reason I think we should only sup

[2021-11-10 19:12] dac09 commented on #3342
I think I was originally referring to these lines here: https://github.com/redwoodjs/redwood/blob/main/packages/api-server/src/watch.ts#L85-L89

And this ignored function: https://github.com/redwoodjs/redwood/blob/main/packages/api-server/src/watch.ts#L95-L111

Including screenshot incase line numbers change again.
![Screenshot 2021-11-10 at 19 12 13](https://user-images.githubusercontent.com/1521

[2021-11-10 19:18] dac09 commented on #3342
I'm trying to recall the issue.... if it remember correctly - on windows the dist files were being watched. I fixed this problem here:
https://github.com/redwoodjs/redwood/pull/3341/files

So I believe what I was suggesting in this (poorly written) issue was:
a) Move that "ignored" function so we can write a unit test for it. It probably doesn't need to be a separate file though (maybe something l

[2021-11-10 19:21] simoncrypta commented on #3342
Ah! This's what I understand, but I was about to ask exactly that 😆

Thanks for your help !

[2021-11-10 21:28] virtuoushub commented on #3686
👋🏻  @thedavidprice, I would love to work on this integration.

I looked through the linked issues, is there anywhere you'd like me to start?

[2021-11-10 22:29] thedavidprice commented on #2416
@dthyresson re-ping

[2021-11-10 22:33] thedavidprice commented on #531
## Update
We discussed this at the Core Team meeting and would ideally like to have official support for this — currently two ideas:
1. Can we load ALL the babel config for a shared folder (not a package)
...or...
2. can we copy the files across to the respective folders as part of the build process (beautiful hack)

@dac09 is taking the lead on next steps

[2021-11-11 00:14] thedavidprice commented on #2266
## Update
The amazing core team from Chakra started a PR over here #3715

It would be fantastic to for anyone to take a look, comment, offer suggestions about an integration feature wishlist, etc. And of course most of all it's helpful to test out the code!

[2021-11-11 19:53] #2509 closed

[2021-11-11 19:58] #3680 closed

[2021-11-11 20:46] jacobarriola commented on #3710
@thedavidprice I'm happy to get started on this task - seems simple enough for my first contribution. lmk!

[2021-11-11 21:02] dac09 commented on #3710
Go for it @jacobarriola! Assigning to you :)

[2021-11-11 21:54] Tobbe commented on #3685
Honestly, if RW said it only supported WSL2 I would never even have tried it. My computer at the time just couldn't handle it. And even still, lots of people I talk to aren't thrilled about it.

We have two front-end developers who use Windows at work. Both use WSL.
One is running WSL on his 2020 Dell XPS laptop and he hates that it causes the fans to run at full speed even though he's not doing a

[2021-11-11 22:05] Tobbe commented on #3609
Sorry, I didn't see this one until now. It got lost in my notifications 🙁

I'd like to get the behaviour back to where we had it and make it return `undefined`. But how much more difficult does it make it to keep up with r-h-f updates?

[2021-11-12 00:48] virtuoushub commented on #3686
@thedavidprice - are we looking to update both of these commands?

* https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/deploy/aws-providers/serverless.js
* https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/deploy/providers/aws-serverless.js

[2021-11-12 00:57] simoncrypta commented on #3685
Thank you for that, @Tobbe, you confirm what I thought about newcomer who jump in the NodeJS universe and also WSL2 have made a lot of performance patches, but it still really more CPU and memory intensive to run the same thing on WSL vs Git-bash or PowerShell.

What you feel about PowerShell vs Git-bash ?

[2021-11-12 01:32] virtuoushub commented on #3686
Also, are there any recommended ways to test commands like setup/deploy?

[2021-11-12 01:53] virtuoushub commented on #3217
@thedavidprice, this is not quite how `basename` works.

From: https://nodejs.org/docs/latest-v16.x/api/path.html#pathbasenamepath-ext

[code]

[2021-11-12 03:13] virtuoushub commented on #3686
In terms of `@netlify/zip-it-and-ship-it` -> `@vercel/nft`, I have found there is more worked needed with `@vercel/nft`. We will need to zip up that command's output, as well as maybe specific the main file? Is there an existing workflow you use that I am able to leverage? Otherwise I might advise sticking with `@netlify/zip-it-and-ship-it` for now.

[2021-11-12 17:26] dac09 commented on #3655
Reopening as the fix only solves on sqlite.... if only Prisma gave us a type for this.

[2021-11-12 17:27] cannikin commented on #3655
How come no one cares about MySQL

[2021-11-12 17:52] jacobarriola commented on #3710
Thanks, @dac09 - I'll get started this weekend!

[2021-11-12 18:59] thedavidprice commented on #3686
^^ Yes please!

^^ We are working on a better answer to this. Let's address it last. Do watch the Chakra-UI setup PR as we're trying to answer the question for that PR as well.

^^ Ok, let's leave it as is for now. But as a TO DO on the PR, let's keep this as an item to research. We have a close relationship with the Vercel team and could possibly get their help. It really is a major improvement o

[2021-11-12 21:39] ajcwebdev commented on #3655
I would guess because of the hosting options are just so much nicer with PostgreSQL right now. Railway's got a nice MySQL offering but that's the only I know of except for maybe PlanetScale which is a few layers removed but ultimately MySQL.

[2021-11-13 15:47] orta opened #4802 "Re-consider calling the graphql resolvers first arg as 'root' from 'obj'"
I'm sure you had this debate at some point, but root is only occasionally accurate, and often wrong:

[code]

`root` is _somewhat_ right for the query, which (if you ignore the root `Query` object), the 'root' of the query could be argued to be accurate:

[code]

but realistically the moment it's a subquery

[code]

It's inaccurate anyway, but then you don't necessarily want to be thinking too muc

[2021-11-13 17:48] cjreimer opened #3726 "Graphql resolvers called when data already present"
I'm working on some query optimization and noted that qraphql resolvers are all called when the data is already present.  For routinely accessed relations, we use Prisma to load the relation with the original query, as follows:

[code]

When putting Prisma into query logging mode, I noted that we were querying the `actionBy `relation multiple times.

Adding the following to the `actionBy `resolver

[2021-11-13 18:06] cjreimer commented on #3609
No problem, @Tobbe.  It is not a high priority for us as we have already resolved it.  Just a matter of cleaning up this issue in Redwood as the docs don't match the code for this.

I expect it should be pretty stable for minor r-h-f updates.   Right now, our wrapper for r-h-f is one file (~800 lines with comments).  It will add some complexity to put this in ... I haven't looked at it in detail y

[2021-11-14 01:38] olance opened #3727 "`requireAuth` does not work with custom functions"
I created a custom function and I need to check that it is called by an authenticated user.
I naively added a `requireAuth` call at the top of my function's handler, but realized it doesn't work.

**What I have done**

- Got a custom function in `functions/extractContent/extractContent.js`:
[code]

- I'm using Firebase auth. I logged into my app, inspected the React components and got my Firebase

[2021-11-14 01:40] system32uwu opened #3728 "Redwood not working with Node.js < v14.17"
I've already installed like 5 node versions with nvm, I started with 14.0.0 which is the suggested version, then tried with 14.13.0, 15.0.0, 16.13.0, 17.0.0, but I always get a compatibility error with some of the libraries redwood uses, the last one I tried was 14.13.0 and get the following error with jest-watch-typeahead:

`'error jest-watch-typeahead@1.0.0: The engine "node" is incompatible wit

[2021-11-14 01:54] system32uwu commented on #3728
Ok, I tried with 16.13.0 again and it worked, I'm making a PR for [prequisites](https://learn.redwoodjs.com/docs/tutorial/prerequisites#nodejs-and-yarn-versions)

[2021-11-14 01:56] system32uwu commented on #3685
There's already [nvm-windows](https://github.com/coreybutler/nvm-windows), cygwin and git bash that you have already mentioned, also I see no issue with using powershell or cmd.

There are [official postgreSQL binaries for windows](https://www.postgresql.org/download/windows/) as well..

Just idling, WSL2 consumes 2GB of RAM btw, not resource friendly, and definitely overkill for a javascript fram

[2021-11-14 14:46] zakmandhro commented on #534
FYI: For webpack v5, use:

`yarn rw dev --fwd=\"--allowed-hosts all\"`

[2021-11-14 16:11] dthyresson commented on #3726
Hi @cjreimer you've stumbled upon the classic GraphQL N+1 query where (due to the nested, graph nature of a query) a query can issue many, many sql calls.

This isn't anything really Helix or Prisma can do on its own. I also find it really frustrating and do lots of logging at the Prisma and resolver level to see if there is some query "explosion" when I test locally.

This is so common that there

[2021-11-14 16:36] dthyresson commented on #3727
@olance You are so correct that:

* documentation needs to be better/corrected (see: https://github.com/redwoodjs/redwoodjs.com/issues/773)
* Needs to be as DX friendly to auth serverless functions as it is GraphQL

I completely agree with:

I'd like to see the behavior be much more like the web hook validation / verification:

* Get authorization via `const authContext = await getAuthenticationCo

[2021-11-14 16:40] dthyresson commented on #3727
@olance  Maybe `verifyAuth(role: ['admin'])`? And raise Auth/Forbidden error if not, and return result of getCurrentUser if verified?

Would that work?

[2021-11-14 17:22] cjreimer commented on #3726
Thanks, @dthyresson !

Yes, the code I added simply does not refetch the data if it already exists.

I just assumed that the graphql server could/would do this inherently behind the scenes.  However, if this is standard expected behavior, then that's fine.

I made almost an order of magnitude improvement on our query time with this optimization, so I will be looking out for this!

Feel free to clo

[2021-11-14 20:03] Tobbe commented on #3685
This issue comment was really interesting to read https://github.com/Microsoft/WSL/issues/873#issuecomment-425272829

TL;DR: File operations will never be as fast on Windows as on Linux, but git-for-windows can do more optimizations than WSL can, so is a bit faster.

[2021-11-14 20:10] Tobbe commented on #3685
I'm not sure. I don't have enough experience with PS. I think it's probably mostly up to personal preference if you prefer PS or bash

[2021-11-14 23:10] realStandal commented on #3712
Just updated my app's Tailwind to v3 and it does, brilliantly, JustWork.

As far as `setup tailwind` goes, the API for the `tailwindcss init` command has changed. We may be better off providing the configuration using a template. Through `tailwindcss init`, the only option looks to be generating a configuration file, with all of Tailwind's defaults, located at the CWD. It's quite a large and verbo

[2021-11-15 02:45] jacobarriola commented on #3710
Hey @dac09 - I started working on this tonight and am having a little trouble finding the solution. Can you provide any insight on how to move forward?

I watched your screen share and have an understanding of what to do; however, I don't know the approach I should take within the RW framework as it's a bit overwhelming

Steps taken to get set up (no issues):
* 📺 watched the contributor getting st

[2021-11-15 12:57] dac09 commented on #3646
Update: I managed to fix this using a custom jest environment for web, but then ran into issues when making babel changes.

Using a custom environment that loads TextEncoder and Decoder:
✅ No issues with TextDecoder not being defined
🛑 Failing to load babel settings when provided programatically to `babel-jest` via jest config

[2021-11-15 13:07] dac09 commented on #3710
Looks like a good first attempt @jacobarriola! I think your contributor workflow seems to be working ok! 🚀

But the issue you're seeing is because you are adding the declarations to the framework, and not into the test project.

In order to make sure these declarations are loaded into the users project here's what I suggest:
1. create svg.d.ts in packages/web/src/svg.d.ts
2. import this file in pa

[2021-11-15 17:28] dac09 commented on #3623
Requesting a HODL ✋ on this till we merge in the babel changes that are going in #3719 please!

[2021-11-15 18:12] simoncrypta commented on #3685
All right, so I think we can conclude that WSL2 is really not the best setup, especially for new people who want to jump and try Redwood for the first time. WSL2 take much more resource,  is more complicate to install depend on which version of Windows you have, and you need to manage your Linux Subsystem. But, I think it can be a good option for Redwood Contributing, e2e with cypress work with [W

[2021-11-15 21:44] dac09 opened #3729 "Support module aliases using tsconfig/jsconfig"
This is something we've been planning for a while, but never get round to. Currently its painful to declare import aliases in Redwood, and needs messing around with babel config. Since we are reducing the amount of babel things that can be configured, we should provide a way for users to add their own import aliases.

We can potentially extend packages/internal/src/build/babelPlugins/babel-plugin-

[2021-11-15 22:10] olance commented on #3727
@dthyresson sorry I hadn't seen your own issue! Maybe we should merge them?

However, I wonder why you'd go with a different function than `requireAuth`?
I'm pretty sure there should be a way to make it work seamlessly within non-GraphQL serverless functions, it's just a matter of correctly populating the context.

Also I looked at the Webhook docs and I feel there's room for a much easier/develop

[2021-11-15 22:26] jacobarriola commented on #3710
Ok, thanks @dac09. I'll give it another try tonight. Thanks!

[2021-11-15 23:32] pi0neerpat opened #3730 "Endpoint for custom functions"
On the FE we may want to call a custom function eg `api/src/functions/checkout`

For example, I used to be able to trigger my checkout function on the FE like

[code]

A change was made in #2822 to no longer set `__REDWOOD__API_URL`. Now only `apiGraphQLUrl` and `apiDbAuthUrl` are available, so there is no easy way to target custom functions

### Workaround

If you have something like `apiUrl = "/

[2021-11-15 23:52] dac09 commented on #3730
Its best not to use rwjs/internal at runtime, you definitely don't want that bundled (either on FE or BE, tbh)

But perhaps we should expose a helper within rwjs/web that gives you access to these values.

[2021-11-16 03:22] thedavidprice commented on #3730
@pi0neerpat In your example above, `${rwjsConfig.web.apiUrl}/checkout` is going to have the value `/api/checkout`. Is that what you want (ideally)?

@dac09 I like the idea of a helper. But what about (re)adding global?

[2021-11-16 06:28] thedavidprice commented on #3685
@simoncrypta Understood and sounds good! Thank you again for taking on this project.

[2021-11-16 06:35] thedavidprice commented on #3728
Thanks for reporting this @system32uwu You are correct that we expect Redwood to work with any version of Node 14.x — looks like a dependency is actually forcing this to be => 14.17. So we might need to bump our requirements.

I'll loop back after a bit of research.

[2021-11-16 06:48] thedavidprice commented on #3655
PR #3724 got us to 75% completion. Final To Do:
- [ ] Add SQLServer error code

[2021-11-16 12:01] domvernon commented on #3655
Hi, unfortunately the latest patch still doesn't quite do it for me in Postgres:
[code]
I tested what the code was doing with raw statements through PSQL and `DELETE from User` doesn't work, whereas `DELETE from "User"` does. I'm not sure the implication of adding quotations for every model, but this might work.

[2021-11-16 12:21] tilmann commented on #3655
I ran in the same problem with postgres

Fixed it for now by changing ```await db.$executeRawUnsafe(`DELETE from ${modelName}`)``` to ```await db.$executeRawUnsafe(`DELETE from "${modelName}"`)``` in `jest.setup.js`

I don't know if this change will throw errors for other database systems.

[2021-11-16 22:58] domvernon commented on #3655
Single quotes in postgres is still causing a syntax error for me. This actually lines up with Prisma documentation that explains how it works. https://www.prisma.io/dataguide/postgresql/short-guides/quoting-rules

[2021-11-16 23:46] cannikin commented on #3655
HMMMMMMMM But according to that, quotes are kind of optional? But you're getting an error without them? It even says:

Maybe it's a Postgres config setting that enforces that you HAVE to use double quotes around table names?

[2021-11-16 23:52] realStandal opened #3733 "Add a `scripts/tsconfig.json` to the create-redwood-app template"
Hello,

Making this as an issue in the off-chance there are plans to support something similar in a different way. I have no issue pushing this configuration (or another) up myself.

---

I went to update the `scripts/seed.ts` file that gets generated with a Redwood project and was greeted with a TypeScript error:

<details>
  <summary>TypeScript resolution error</summary>

  ![image](https://user

[2021-11-17 00:05] dac09 commented on #3733
@realStandal the tsconfig is generated automatically for you when you generate a script using “yarn rw g script myScript”

If this is sufficient could you please close the issue? ✌🏽

[2021-11-17 00:11] realStandal commented on #3733
Thank you @dac09 guess it's a convenience thing to have it there from the get-go.

[2021-11-17 00:12] domvernon commented on #3655
I did some further testing and thought it must be something to do with specific DDL:
[code]

Then I realised that `user` is a [reserved word](https://www.postgresql.org/docs/13/sql-keywords-appendix.html) so this would have been confounding things.

Nevertheless testing on a different table yields:
[code]

Due to the naming conventions from the Redwood generators (I think), it seems we do need to

[2021-11-17 00:13] dac09 commented on #3733
Hmmm - I think the difference is we’re now shipping with a built in script, which is why we want the tsconfig there. When I did the autogen of tsconfig, the scripts folder was optional and not in the template.

Would you like to create a PR to remove the autogen and add it to the template? We’d have to check what happens in the JS world too!

[2021-11-17 01:02] realStandal commented on #3733
For sure.

How about adding detection [here](https://github.com/redwoodjs/redwood/blob/8874cf7a27a916c10e88b337b4a74536a12ecca1/packages/internal/src/ts2js.ts#L25) and deleting if the file is present? This is the function ran with `rw ts-to-js`, ran while setting up a JS project.

[2021-11-17 01:05] cannikin commented on #3655
Ugh. Well, we're already parsing `schema.prisma` in here to determine what models to delete, hopefully there's an entry in there for your db provider.

If `postgres` then use quotes, otherwise not.

😬

[2021-11-17 02:58] system32uwu commented on #3728
No problem. But as I mentioned 15.0.0 is not working either. With said version I'm getting the following error:

error @typescript-eslint/eslint-plugin@5.1.0: The engine "node" is incompatible with this module. Expected version "^12.22.0 || ^14.17.0 || >=16.0.0". Got "15.0.0"

[2021-11-17 03:14] jtoar commented on #3712
Hey @realStandal, thanks for checking this on a project already! I was getting up to speed on this and tried the `tailwindcss init` command; the result I got looked fairly similar to the v2 one:

[code]

[code]

Did you run init with the `--full` flag maybe?

[2021-11-17 03:32] jtoar commented on #3730
@chrisvdm and I ran across this in the example store as well. A global seems the most natural to me; just another one of these:

https://github.com/redwoodjs/redwood/blob/8874cf7a27a916c10e88b337b4a74536a12ecca1/packages/core/config/webpack.common.js#L150-L155

[2021-11-17 03:39] jtoar commented on #2416
I don't think this one's been solved yet as the only `sourceMap` toggle we have is for CSS:

https://github.com/redwoodjs/redwood/blob/8874cf7a27a916c10e88b337b4a74536a12ecca1/packages/core/config/webpack.common.js#L52

[2021-11-17 03:41] realStandal commented on #3712
@jtoar I did use the `--full` option, thinking that was the *only* option - it also isn't documented in init's `--help` screen that a path can be set via argument, embarrassing 🤦 😆

[2021-11-17 04:18] jtoar commented on #3712
@realStandal Haha no worries all good!

[2021-11-17 14:42] domvernon commented on #3655
Yes there is:
[code]

[2021-11-17 16:22] cannikin commented on #3655
haha That's reading the file directly, which we could do, but the Prisma SDK has a function `getDMMF()` that turns that file into a big object, parsing out all their syntax and turning it into something like:

[code]

I'll have to inspect and see if it also has entries for the datasource stuff.

[2021-11-17 16:28] domvernon commented on #3655
🤦‍♂️I knew it couldn't be that simple!

[2021-11-17 17:16] doowb commented on #3727
@olance I'm also attempting to use `requireAuth()` in a custom serverless function and saw how the `context` was only created in the grapqhql function.

With the code you provided above, I'm able to use the updated global context if I ["disable context isolation"](https://github.com/redwoodjs/redwood/blob/8874cf7a27a916c10e88b337b4a74536a12ecca1/packages/graphql-server/src/globalContext.ts#L23).

[2021-11-17 17:36] cannikin commented on #3655
Ugh, just checked and the fact that you're using Postgres is *not* output anywhere in their parsing of the data model :( (It's got 20,000 entries, though!)

https://gist.github.com/cannikin/3b13392b0ed71e15947d3326f29d3d2d

[2021-11-17 17:46] mojombo commented on #3655
Prisma has to deal with this quoting issue, I wonder if they have a function you can import and use that knows the right thing to do.

[2021-11-17 17:57] pi0neerpat commented on #3730
Correct!

[2021-11-17 17:57] bosconian-dynamics commented on #3685
I have installed and been developing on Redwood using the CMD shell and various minor releases of the 14.x and 16.x Node branches without encountering any obstacles or issues. I use nvm-windows for engine selection, and do have mingw available in my environment, but I don't think that's a factor here. I wonder what the determining factors are

[2021-11-17 18:24] bosconian-dynamics opened #3737 "Baseline Vercel deployment of `redwood-app` produces broken front-end"
Unless you create a `/` route beforehand, setting up the out-of-the-box `yarn create redwood-app` project to deploy to Vercel (and likely other hosts) results in the deployed front-end consisting solely of the "Something went wrong" React message and the following console error:

Meanwhile, in local development the project renders the placeholder Redwood landing page.

It makes sense to me that th

[2021-11-17 18:38] #2473 closed

[2021-11-17 18:40] callingmedic911 commented on #2473
**Summary:** (if we need to come back here, hopefully never 😆)

For the actual response (not from the storybook), it's most likely a bug that is fixed upstream and therefore in RedwoodJS v0.38.0: https://github.com/apollographql/apollo-client/issues/8370. Relevant issue:  https://github.com/apollographql/apollo-client/issues/8063

Other possible cases this may happen is if there’s a difference in

[2021-11-17 19:41] #3730 closed

[2021-11-17 23:36] thedavidprice commented on #2416
queued up for Core Team discussion

[2021-11-18 00:07] thedavidprice commented on #3737
Ah, deploying a project without a home page route is definitely not an edge-case we considered. 😂

But agreed the NotFoundPage should load and "Something went wrong" is misleading. To fix this, we'll need to improve the logic for loading the SplashPage in the router:
- https://github.com/redwoodjs/redwood/blob/main/packages/router/src/router.tsx

[2021-11-18 02:12] #3655 closed

[2021-11-18 02:31] DukeManh commented on #3737
@thedavidprice, I'm interested, can I work on this issue?

[2021-11-18 02:50] thedavidprice commented on #3737
@DukeManh yes, please! @jtoar and I took a brief look and felt like the router.tsx just needed to handle this case. It's possible to add the condition to webpack config, but at first glance that doesn't seem preferred.

[2021-11-18 02:51] thedavidprice commented on #3737
@bosconian-dynamics

PS I ❤️Glenwood Springs

[2021-11-18 07:52] jtoar commented on #3609
@cjreimer this is definitely my bad after the changes I made to the forms library. And even more my bad for not following up on this till now!

One of the perks of migrating to react hook form's coercion was that we just get to let them do the work for us and extend it in tasteful ways, but if we change the return type we'd be undoing that a bit for sure.

I will revisit the earlier PRs you linked

[2021-11-18 08:12] jtoar commented on #3707
@olance as always your write ups are great—super detailed and easy to follow! As you've correctly deduced, we depend on prisma a lot. And before all the investigative work you did, I would've said "you probably can't just take it out and expect everything else to work". But now I can say that you _definitely_ can't!

The decoupling we've focused on so far as a framework has been between the web si

[2021-11-18 16:07] thedavidprice commented on #3707
+1 to @jtoar's comments above. And, again, thank you @olance for helping us make this better (even if simply diagnosing, in detail, what isn't working).

We have the v1-rc coming out SuperSoon. I've added a task to my "post v1-rc list" about doing a full audit of the current decoupling capability, using this Issue as a reference.

[2021-11-18 16:36] aggmoulik commented on #3682
Hey @jtoar What are we looking at? Can you please give me a brief summary of this? Should we exclude `modifiedAt` and `createdAt` from forms?

[2021-11-18 16:38] aggmoulik commented on #3679
Hey @dthyresson, Can I continue this issue?

[2021-11-18 16:43] rishabhpoddar commented on #3679
@aggmoulik we have yet to release our JWT based auth. Once that is done, you could help out with this issue :)

[2021-11-18 16:45] dthyresson commented on #3679
Thanks @rishabhpoddar I was just about to reply to @aggmoulik with the same comment.

But, yes, @aggmoulik happy to have you take on this feature once ready. I'll assign it to you now for the future. Thanks!

[2021-11-18 16:53] aggmoulik commented on #3679
Thanx @dthyresson, I will coordinate with @rishabhpoddar for the same.

[2021-11-18 17:05] aggmoulik commented on #3446
Hey @thedavidprice, I would love to work on this, seems to be an interesting issue but need some help for the POC. Please tag the interested persons for this issue.

[2021-11-18 19:17] simoncrypta commented on #3069
I think #3721 can solve this ?

[2021-11-18 20:10] #3632 closed

[2021-11-18 22:02] #2005 closed

[2021-11-19 05:46] thedavidprice opened #3750 "Update __fixtures__ (maybe?)"
@dac09 @peterp
Admittedly, I don't pay a lot of attention to the two `__fixtures__` directories in the monorepo. But when I looked through them today, I noticed they're not up to date with latest features/syntax.

I'm guessing it's not ideal, but is it ok? (For now?)

PP, I know there's a pending project to re-write/structure testing, which would include __fixtures__. My questions here are mostly

[2021-11-19 15:14] dthyresson commented on #3727
I am coming up with a few ideas -- but, just out of curiosity @olance and @doowb  -- if your function needs Redwood user auth, why use a serverless custom function over a GraphQL service? Is there something specific a function can do? Or is the function being used outside the web side?

[2021-11-19 16:08] #3425 closed

[2021-11-19 16:08] #3600 closed

[2021-11-19 16:45] thedavidprice commented on #3728
We got bit by `jest-watch-typeahead` setting it's engine version to LTS, which changed at the end of October. At that time, there would have been a switch from 14.x to explicitly 14.17. OUCH

I will update the CRWA engine template and related docs.

Lastly, we will never support Odd numbered releases, as they are intentionally short-term and never enter a maintenance period. See:
https://nodejs.or

[2021-11-19 17:19] system32uwu commented on #3728
Nice! Thank you for tracking down this issue to its root, feel free to close once that gets sorted out

[2021-11-19 19:11] thedavidprice commented on #3686
@virtuoushub #3723 is a fix for TS tracking issue. But there's a lot more work to be done here, specifically outlined in this comment:
https://github.com/redwoodjs/redwood/issues/3284#issuecomment-922375958

Would you like to keep working on these next steps? No pressure either way.

[2021-11-19 19:11] #3245 closed

[2021-11-19 19:13] #3217 closed

[2021-11-19 19:16] #3596 closed

[2021-11-19 19:21] virtuoushub commented on #3686
@thedavidprice, Yes sounds good, I had as `TODO` for that other ticket:

The context you provided is enough for me to start tackling #3284

In terms of #615 what are your thoughts about the acceptance criteria for that?

[2021-11-19 19:22] Irev-Dev commented on #3686
Let me know if there's something you'd like me to help with.

[2021-11-19 19:37] #3643 closed

[2021-11-19 19:50] thedavidprice commented on #3686
@virtuoushub Good question about #615 — probably nothing additive there; I just grabbed it because it was a related open issue. And a good reminder that Serverless framework can be used for a lot of hosting providers. For now, let's focus on AWS only. (But open to more options given interest, just know that we'll hit issues with non-AWS Lambda compatible function handlers.)

I really do think it's

[2021-11-19 19:56] virtuoushub commented on #3686
@Irev-Dev happy to have your help, will tag you on related PRs.

For switching from `@netlify/zip-it-and-ship-it` for `@vercel/nft`; what might help is figuring out how to zip up `nft` command's output per function, as well as specify the main file for that function.

From my testing, we kind of have to reverse engineer what is happening in `@netlify/zip-it-and-ship-it` and make sure that happens

[2021-11-19 20:10] Irev-Dev commented on #3686
I've had a quick read of ntf and had gathered that it didn't do the zipping.

I'm a bit lost on the motivation for the switch, I had a read through #3284 but didn't find anything about ntf, is there another issue for me to get a little context @virtuoushub?

Sorry not quiet following this last bit.

[2021-11-19 20:29] #3395 closed

[2021-11-19 20:40] virtuoushub commented on #3686
@thedavidprice has more context around the motivation.

The file structure in the zip resulting from calling `yarn zip-it-and-ship-it api/dist/functions/ api/dist/zipball` ( https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/deploy/aws-providers/serverless.js#L26 ) is different than that of calling something like `yarn nft build api/dist/functions/*.js` ( https://github.com/r

[2021-11-19 20:42] thedavidprice commented on #3686
After Redwood builds the API into a /dist, the /dist/functions need to be bundled (and compressed) as preparation to deploy to AWS Lambdas. `nft` is, simply, better at this process in terms of performance (smaller bundles) and stability (much smarter dependency tracing; ZiSi uses ESBuild, which doesn't do polyfills and is a weird choice for this application imho).

I'm confirming "how to" with Ver

[2021-11-19 20:47] thedavidprice commented on #3686
Ah, relaying this info:

https://vercel.com/docs/file-system-api#configuration/bundling

[2021-11-19 20:49] thedavidprice commented on #3686
Also for reference:
https://github.com/vercel/vercel/blob/main/packages/plugin-node/src/index.ts

[2021-11-19 21:09] virtuoushub commented on #3686
@thedavidprice does using `ncc` make more sense https://www.npmjs.com/package/@vercel/ncc since it does the bundling?

[2021-11-19 21:19] Irev-Dev commented on #3686
Doesn't `ncc` also transpile, which we don't need since we're trying to package already built files in dist?

[2021-11-19 21:24] pi0neerpat commented on #3596
Yeah, Idk why it needs to be deprecated. It still works fine. The new version will just be better.

[2021-11-19 21:24] #3737 closed

[2021-11-19 21:26] thedavidprice commented on #3596
It's fine as is. We're headed into v1-rc cycle with the goal of having breaking changes completed beforehand. In general, I'm not sure what this means for Auth providers. So let's just take it a step at a time.

[2021-11-19 21:28] #3623 closed

[2021-11-19 21:47] thedavidprice opened #3756 "deprecate `data` in authClients/supabase.ts"
...continuing from https://github.com/redwoodjs/redwood/pull/2896#issuecomment-969032935

Re:
[code]

Next Steps:
- [x] supabase/gotrue-js#179
- [x] upgrade to future supabase release that includes fix

[2021-11-19 22:25] Irev-Dev commented on #3686
Since we're auditing the existing integration, here's a thought.

Instead of the serverless.yml template being a template literal/string, would it not be better to have it as a data structure (js object) that's than stringified as yml.

Pros:
It would be good if rw users could run `yarn rw setup deploy aws-serverless` again after they add a new function and not have it override they're existing se

[2021-11-19 22:29] olance commented on #3727
Yeah in my case, I was planning on using this function from outside of the web side. From a Chrome/Firefox extension to be precise :)

I chose to change my approach here and indeed use a regular GraphQL service, mainly for the sake of not having to wait for changes in Redwood to be honest though. I guess in the end it shall work, and I don't think there would be an issue with sending GraphQL reque

[2021-11-19 23:00] olance commented on #3707
Hey guys, thank you for the comments!
And of course, I'm always happy to help, even if irregularly ^^

@jtoar thanks for the draft PR link, it looks very promising, very Rails-like (which I can only love) and exactly the kind of decoupling capabilities I had in mind.
But you are right in your analysis, it's a very deep level of decoupling and I know it makes sense to get there later, and progressi

[2021-11-19 23:02] olance commented on #3707
Also, we can probably close this for now then?

I guess I'll add dummy methods to my exported `db` and that'll work around the tests not running!

[2021-11-19 23:07] dthyresson commented on #3727
I though that might be one of the use cases.

And I agree that just using GraphQL auth doesn’t make this issue go away.

Going to plan out a few options on Monday to handle a few scenarios. Thanks.

[2021-11-20 00:08] #3712 closed

[2021-11-20 04:38] #3728 closed

[2021-11-20 04:46] #3622 closed

[2021-11-20 04:49] #2266 closed

[2021-11-20 05:20] pi0neerpat commented on #3596
Ok yeah, I guess I see auth providers more as “external” add-ons rather than core rw.

[2021-11-20 13:24] dac09 opened #3764 "Fix babel-plugin graphql-tag on api side"
We include the babel-plugin graphql tag module in our list of pretranspile plugins. This plugin is advertised as doing the following:

    Compiling GraphQL queries at the build time:

    reduces the script initialization time; and
    removes the graphql-tag dependency
    Removing the graphql-tag dependency from the bundle saves approx. 50 KB.

At the moment it's not working, see the failing te

[2021-11-20 13:58] dac09 opened #3765 "Fix codemods execution on node 16"
- [x] Run jscodeshift programatically https://github.com/redwoodjs/redwood/pull/3754
- [x] Check that npx can execute it correctly on:
	- [x] Node 14
	- [x] Node 16
- [x] Ensure codemods are finding files correctly
- [x] Ensure that codemods can be debugged from source (using `RWJS_CWD=xxx node "dist/codemods.js"`)

[2021-11-20 18:14] cjreimer commented on #3726
@dthyresson, that sounds like a good, reasonably balanced, solution.  Adding it to the template adds very little to the codebase for the user, and if they want to get rid of the check, they easily can.

I like your plan!

[2021-11-20 19:22] dthyresson commented on #3726
@cjreimer Are you using TypeScript by any chance?

When I try something like:

[code]

In my case:

[code]

I get a TS error:

[code]

[2021-11-20 20:47] cjreimer commented on #3726
Yes, we are typescript.  OK, here's where I need to explain what we do a little more, as we use less of the strict Prisma types that are in the templates and either of the following:

a:  Generate a model type from the Prisma type that includes the nested objects as follows:
[code]

or... and this is what we are moving toward
b.  Import the graphQL type that is generated by redwood for us.  As thi

[2021-11-22 11:26] dac09 commented on #3765
I've checked all of the cases using the update-scenarios codemod, but it looks like it doesn't run any changes when we try to invoke it from dist/codemods, for debugging.

I think it must be to do with the fact that we need to pass CWD when we execute it programatically.

[2021-11-22 17:59] #3756 closed

[2021-11-22 18:18] thedavidprice commented on #3446
Thanks for the interest @aggmoulik This would be a great feature to have! Just know it's not high priority (yet), which may mean the core team can't give you all the support needed to get across the finish line in the near term. But that doesn't mean I want to discourage you from taking a next step and trying a POC — it just means that we might have to put it on pause once we see what the implemen

[2021-11-22 18:20] thedavidprice commented on #3682
Looping in @cannikin about @aggmoulik's question

[2021-11-22 18:50] cannikin commented on #3682
I think right now we have a hard-coded list of field names not to include in the scaffolds (`id`, `createdAt`, `updatedAt`) but should probably be smarter about it and instead exclude fields that use Prisma's  keywords like `@id`, `@updatedAt` as @orta is suggesting.

There's no keyword for a `createdAt` field though, right now we usually set that with `@default(now())` but you could have other fi

[2021-11-22 19:08] cannikin commented on #3446
Ahh the nested data structure problem. This is one that scares me. How do you decide where to stop? For example:

Let's say I want to create the SDL & service for the `User` model. But User has many Orders. And Orders have many Line Items. And a Line Item has a Product, and a Product has Inventory...

How do you create the User SDL/Service, and include the nested types for create/update/etc., with

[2021-11-23 09:26] Irev-Dev commented on #3686
I've done a little work with `nft`, by writing the following node script that I've simply being running from inside my test project. I thought I was taking a pretty naive approach and thought there would be perf problems but just taking some precautions to make sure that promises arn't awaited in chains when they don't need to be is working okay,

compare to `$(npm bin)/zip-it-and-ship-it ./api/di

[2021-11-23 16:59] thedavidprice commented on #3686
@Irev-Dev I do think that looks viable! Those performance differences are about what I expected (although when I build+bundle my test project to Vercel, using NFT, I see a size of 17mb). More importantly, NFT has been more robust from Redwood version to version regarding accurate dependency resolution and building. We keep running into cases where ZiSi doesn't add required dependencies so we end u

[2021-11-23 18:12] #3710 closed

[2021-11-23 23:03] jacobarriola commented on #3710
Thanks again for the help, @dac09 👏🏽 . You made the contribution experience for a first-timer a delight 🍦!

[2021-11-24 00:24] dac09 commented on #3710
Glad I could be of help! Hope to see more of you around here - are you on our discord? https://discord.gg/redwoodjs

Ping me over there (`@danny` on there) will add you to the contributors group!

[2021-11-24 13:25] dac09 opened #3777 "Typechecking on web fails if src/lib/auth imports other functions"
### Whats the issue?
If I have any imports from `src/lib` in `src/lib/auth.ts` (e.g. `import { db } from 'src/lib/db'`), when running `yarn rw tsc web`, typechecking always fails with module resolution errors. For example:

![errors](https://user-images.githubusercontent.com/1521877/143246376-7e0b0311-b16c-4cb4-b4af-191111a7cb7b.png)

### Diagnosis
This happens because, we try to infer the current

[2021-11-24 16:59] #3765 closed

[2021-11-26 15:44] Tobbe opened #3779 "Browser's address bar is updated too early"
# Background

RW does code splitting by default, which means initial page load is much faster than without, but also that RW needs to download each page as they're accessed, which can cause a small delay in navigation.

Let's say you're at /posts/4 and click a "Contact us" link. This is what happens
 1. The URL in the browser's address bar is updated to /contact
 2. RW starts downloading ContactPa

[2021-11-26 16:09] Tobbe opened #3780 "Prefetching codesplit pages"
Redwood automatically codesplits your pages for you, so they're only downloaded when a user actually tries to access them.

For now they're downloaded when a user clicks on a link (or in some other way navigates) to the page. But there's an opportunity to improve the user experience here.

next.js will automatically prefetch all links visible on the screen by default. You can also configure it to

[2021-11-26 20:23] clairefro opened #3781 "Add messaging when `yarn rw open` is run while dev server is not running"
Running `yarn rw open` when the dev server is not running simply ends silently

![image](https://user-images.githubusercontent.com/9841162/143626866-6ece4e67-7b93-4f12-8ab6-8daf9977e45c.png)

Adding a message print like `"Start your dev sever first!"` would be helpful for the tired dev that forgot to start their server :)

[2021-11-26 20:31] clairefro commented on #3781
actually, `yarn rw open` is doing nothing with my dev server on either. It **does** open browser on `yarn rw dev`

investigating

[code]

[2021-11-27 05:04] aggmoulik commented on #3777
Hey @dac09 I am picking it up, if you are not working on it.

[2021-11-27 14:22] aggmoulik commented on #3682
@cannikin @thedavidprice I think #766 is the duplicate here. If not, just let me know. I will include that in existing PR.

[2021-11-29 15:38] dac09 commented on #3777
Hey @aggmoulik - this isn't a very straight forward one, but happy for you take a stab at it!

I have half a solution so far, haven't figured out fully. Go ahead and give it a try though, maybe you can come up with a better solution than what I'm thinking!

[2021-11-29 15:45] orta commented on #3424
It's be great to have some sort of way to hook into this to start/stop our own watchers (for example I'd like to have the relay compiler in watch mode running in there)

[2021-11-29 17:25] dthyresson opened #3784 "Logging in api-server with Fastify is overly chatty for each request/response"
From @orta - Can we reduce the chattiness of the logging in api-server for each request and response?

See: https://community.redwoodjs.com/t/v0-39-release-candidate-is-available-feedback-wanted/2552/3

![image](https://user-images.githubusercontent.com/1051633/143914009-72a4daf3-9777-4f01-a477-deb1d23ad668.png)

Note: This logging is controlled by Fastify's logger and is separate for the api logg

[2021-11-29 17:34] dthyresson commented on #3784
Idea: 💡 https://github.com/fastify/fastify/blob/main/docs/Logging.md

We can set better defaults to `ignore` unhelpful logging attributes like hostname, remoteAddress, remotePort etc and aim to resemble the one line GET log from prior api-server.

[2021-11-29 21:26] Tobbe commented on #3609
@jtoar bump
Have you talked to Tom and/or David on how we can move this forward?

[2021-11-29 22:15] #1801 closed

[2021-11-29 22:31] thedavidprice commented on #3609
Let me know if we should add this to next agenda for discussion

[2021-11-29 23:47] #3727 closed

[2021-11-30 01:23] stephenhandley opened #3787 "Feature request: `useCurrentRoute` or `useRouteName`"
Creating issue based on [this conversation on the forums](https://community.redwoodjs.com/t/detect-the-current-route-in-a-view/587/16?u=stephenhandley).

It would be helpful to be able to get the currently matched route via a hook for use in generic page analytics and also for additional route-based logic needed in some component used across multiple pages.

Here's an example of the analytics use

[2021-11-30 05:42] Tobbe commented on #3787
If anyone wants to take this on here's some pointers

 * Keep the name of the current route in `RouterContextProvider`
 * In router.tsx on line 240ish when rendering `<RouterContextProvider>` you already have `name`, so just pass that as a prop to the context
 * There is already a `useRouterState` hook that could be used to access the name, but that's more for internal use. So I'd create a new hoo

[2021-11-30 07:21] Tobbe commented on #2745
Not sure. And I don't have my Windows machine to try it on anymore :/

[2021-11-30 13:12] dac09 commented on #1727
Closing this issue, as its stale.

[2021-11-30 13:12] #1727 closed

[2021-11-30 13:12] dac09 commented on #1961
This has been partially implemented!

[2021-11-30 13:12] #1961 closed

[2021-11-30 13:13] dac09 commented on #3264
Closing as resolved in downstream dependency

[2021-11-30 13:13] #3264 closed

[2021-11-30 18:47] dthyresson opened #3789 "Can projects run standalone web or API? With/without Prisma?"
- Reference: "API tests assume api/src/lib/db to export a Prisma client" PR#3707

https://github.com/redwoodjs/redwood/issues/3707

Need to audit what can be currently done -- and if not, then add issues to see how it could be done.

Examples:

* App using Supabase client on API side w/out Prisma. See RW and Supabase Quickstart: https://supabase.com/docs/guides/with-redwoodjs
* Redwood Web with ju

[2021-11-30 21:11] edapm opened #3792 "[workaround] Updates to Tailwind css don't refresh when running dev server"
I have just started a new Redwood project and have added Tailwind. When writing pages, the updates to Tailwind classes do not show when running the dev server. I have to restart the dev server every time I make a change. Not sure if this is a Tailwind problem or a Redwood one.

I am running the project in Gitpod; I experienced the problem in v0.38 and after I upgraded to v0.39.

[2021-11-30 21:47] jtoar commented on #3792
Hey @edapm thanks for reporting this! @clairefro and I have confirmed this. It's a huge blow to DX.

Do you happen to know if it was working ok in v0.37 and that it broke when you upgraded to v0.38?

[2021-11-30 21:58] renovate[bot] opened #3795 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/redwoodjs/graphql).

## Repository problems

These problems occurred while renovating this repository. [View logs](https://developer.mend.io//github

[2021-11-30 22:07] edapm commented on #3792
I created the project with v0.38 so not sure.

[2021-11-30 22:47] mojombo commented on #3792
I know that @Burnsy has this working with GitPod, perhaps he can share his insights.

[2021-12-01 10:11] Irev-Dev opened #3812 "CurrentUser query fails CORS"
When deploying an app that has authentication with serverless (the api is on a different domain with this setup) there seems to be a CORS issue that only effects the currentUser query.

Where as other queries using the same graphQL endpoint don't have the same problem. I had [posted this](https://community.redwoodjs.com/t/cors-issue-specific-to-auth-request/2575) on the forum, after which I strong

[2021-12-01 10:59] robertwt7 opened #3814 "Routes is not auto importing pages directory on windows"
![image](https://user-images.githubusercontent.com/15647967/144222375-fa2b8011-10af-4e29-ac1e-fa7bed53aa90.png)

Hey guys

I followed [this tutorial](https://learn.redwoodjs.com/docs/tutorial/installation-starting-development) to start a redwood project, then i ran `yarn redwood dev`, then when I open the http://localhost:8910 I got **something went wrong**

I got this console error:
[code]

Altho

[2021-12-01 14:45] #3814 closed

[2021-12-01 20:49] jtoar commented on #3792
@edapm I believe I've found a temporary workaround for this. I've confirmed it locally but if you could confirm it as well that'd be great / give me more confidence.

In your `.env` file can you put:
[code]

[2021-12-02 01:12] thedavidprice commented on #2745
Closing this for now.

[2021-12-02 01:12] #2745 closed

[2021-12-02 01:29] thedavidprice commented on #3682
@aggmoulik It seems to me they are related but not exact duplicates. If you can resolve both in one PR, that would be great! But doesn't have to be done that way.

[2021-12-02 07:54] noire-munich opened #3827 "v0.39.2 issue: Can't resolve 'null-loader'"
I'm getting this while building:

[code]

Info:
[code]

Happens also in my github actions configured with node v16.6.1.

[2021-12-02 07:57] noire-munich commented on #3827
[code]

Fixes the build, but shouldn't that be secured by redwood's package.json files already?

[2021-12-02 17:27] edapm commented on #3792
@jtoar That works for me!

[2021-12-02 19:02] thedavidprice commented on #3827
@noire-munich is this happening locally (yarn rw build) _and_ during deployment? (If so, which host are you using?)

Confirming that you tried the ol':
- delete node_modules
- `npx yarn-deduplicate`
- rebuilding yarn.lock
- etc.

---

Will dig in further.

[2021-12-02 19:07] noire-munich commented on #3827
It happened locally and while running my GitHub action, before reaching the hosting environment.

I've followed the exact steps in the upgrade guides, haven't rebuilt yarn.lock though, I added the dependency explicitly instead.

My be worth checking other Linux users?

[2021-12-02 19:09] thedavidprice commented on #3827
From the root of your project, could you copy+paste the output of `yarn why null-loader`?

[2021-12-02 20:51] Irev-Dev commented on #3812
Closing this issue because it's not a bug, extra steps in the serverless.yml are needed when using the graphql endpoint for auth/credentials.

'*' is not good enough for CORS for requests with credentials. this was the diff that fixed it for me in my test project.

![image](https://user-images.githubusercontent.com/29681384/144500738-58225b43-6810-4aae-b657-e31ce80faeb1.png)

Though @thedavidprice

[2021-12-02 20:51] #3812 closed

[2021-12-02 21:37] doesnotexist commented on #1759
If this issue is only about tokens (and not about deprecating FetchConfigProvider wholesale) then I think this issue can be closed.  This comment in FetchConfigProvider.tsx is accurate:

[code]
https://github.com/doesnotexist/redwood/blob/main/packages/web/src/components/FetchConfigProvider.tsx#L19-L24

That is request to the api have bearer tokens populated by the graphql client which requests th

[2021-12-02 22:56] jtoar commented on #1759
Well said @doesnotexist, agreed!

[2021-12-02 22:56] #1759 closed

[2021-12-04 06:14] aggmoulik commented on #3792
@jtoar I have set up my project on `v0.37` and it was working very well for me. So, I suppose it must be a change in `v0.38`

[2021-12-05 02:30] jtoar commented on #3516
Hey @ojkelly, thanks for reaching out! We only recently made the switch to yarn 3 so we've still yet to really take advantage of its features. It's helped us out tremendously already though.

I gave yarn build a spin in #3851 and it seems promising so far! I need to put together a few more questions, but one I had right away was around watching for file changes. Does yarn.build have a recommended

[2021-12-06 14:06] ojkelly commented on #3516
File watching is a surprisingly tricky and hard to scale problem.

Notably https://github.com/facebook/watchman is probably on of the more advanced solutions, and one of the better ones in a monorepo where multiple applications might want to subscribe to change notifications.

My approach is again to keep it simple.

Each workspace should own its own development loop. Yarn.build comes in when you

[2021-12-06 23:03] thedavidprice commented on #3812
💯

We should assume projects have Auth as the default.

@Irev-Dev could you add this topic as something to address/discuss on #3755?

Thanks!

[2021-12-07 00:43] Irev-Dev commented on #3812
@thedavidprice Done!

https://github.com/redwoodjs/redwood/pull/3755#discussion_r763526904

[2021-12-07 09:05] peterp commented on #3827
I had the same issue, I had to modify the webpack config to use `require.resolve('null-loader')` instead of just the string `null-loader`. It'll be helpful to do this for all the loaders  if we want to get user's on yarn v3.

[2021-12-08 04:29] aggmoulik opened #3870 "Add Support for Serverless Stack Framework"
Hi @thedavidprice @jtoar, Recently I found a serverless framework startup, [Serverless Stack](https://serverless-stack.com/), It is trying to fix the serverless environment with a good way of writing tests.

We already support serverless for AWS and It is an extension to the AWS SDK, I suppose it is not hard to add support for it.

Would love to get your view on it.

[2021-12-08 10:14] zygopleural opened #3871 "`yarn rw g scaffold` does not produce correct typing for `Int` `@id` schema fields"
# Expected behaviour

`yarn rw g scaffold <model>` should generate a `./web/src/pages/Model/ModelPage/ModelPage.tsx` with props:
[code]

# What currently happens

The props are created as:
[code]
and `yarn rw type-check` fails with:
[code]

# Steps to reproduce

### 1. Create new app
`yarn create redwood-app --typescript test`

### 2. Add model to `schema.prisma`
[code]

### 3. Migrate
`yarn rw pr

[2021-12-08 11:09] jmackie opened #3873 "`redwood generate types` chokes on inline fragments"
I just tried to use [inline fragments](https://graphql.org/learn/queries/#inline-fragments) from one of my cells and got an error during type generation. Specifically:

[code]

You can reproduce with:

[code]

Is this a known issue?

---

Redwood version: **v1.0.0-rc.3**

[2021-12-08 12:37] orta opened #3875 "Add a "PageParams" type and re-use that in the page generator"
In my projects, I've switched out the generated page params [from this](https://github.com/redwoodjs/redwood/blob/8c2c0f1774b58be7583697d672bf0dff9624cf7f/packages/cli/src/commands/generate/page/templates/page.tsx.template#L3-L7):

[code]

to code in my app which looks like:

[code]

The type manipulation is a little bit unwieldy for most folk though IMO, I think a better solution

[code]

Which c

[2021-12-08 12:54] dac09 opened #3876 "Setup commands should respect the current redwood version"
### Whats the issue?
Setup commands e.g. `rw setup auth dbAuth` currently install the latest version of the `@redwoodjs/*` packages. This can lead to all sorts of havoc, especially in the case of auth.

### Scenario
I'm on Redwood v1.0.0-rc1, and run `yarn rw setup dbAuth`

It will install the latest `@redwoodjs/auth` package e.g. `0.40.0`, while all the other packages are at `1.0.0-rc1`.

### Exp

[2021-12-08 14:14] orta commented on #3516
I did a quick writeup a while back on building watcher for the typescript website monorepo with watchman, it's pretty simple to do once you start working on it: https://github.com/microsoft/TypeScript-Website/issues/130#issuecomment-664673740

[2021-12-08 16:56] ajcwebdev commented on #3870
I've checked this out a little bit, seems like a cool tool and definitely worth looking at. I believe it's a wrapper on top of [CDK](https://aws.amazon.com/cdk/) along with the AWS SDK.

I would be curious if it would make more sense to first figure out deployment with just the CDK since that will give us more fine grained control, and then we can make a more informed decision about how the DX of

[2021-12-08 16:57] Tobbe commented on #3876
https://github.com/redwoodjs/redwood/issues/2696

[2021-12-08 18:04] dthyresson commented on #3784
@orta I've made the api-server Fastify logging a little less chatty, but wanted to share to see if this is better for you:

[code]

Debugs here are api Graphql logs.

I have redacted the `req` and `res` metadata that was included as seen in the above description.

The Info here is the Fastify request or response.

Since there is a log per request and response, not all info is available. Duration a

[2021-12-08 21:41] pi0neerpat commented on #531
Update for those still struggling getting things to work on the API side. Once you complete the above https://github.com/redwoodjs/redwood/issues/531#issuecomment-958118622 theres a few more steps you can do to have a pretty decent setup. Unfortunately the api side won't transform your ESM code to commonjs, so you'll need to build each package. Bummer, I know, but hopefully there's a native redwoo

[2021-12-09 02:41] #2567 closed

[2021-12-09 02:41] #2558 closed

[2021-12-09 07:57] orta commented on #3784
I wonder if it's worth splitting dev logs vs prod logs? In prod this makes sense:

[code]

But when I'm on a dev server, the full time and `uuid` are not _that_ useful:

[code]

As an example I booted up rails:

[code]

So perhaps a tighter dev version could look like:

[code]

- Begin and Ended have the same number of letters and thus a visual rhythm in monospace font
- The opener tells you the i

[2021-12-09 14:30] dthyresson commented on #3784
Moving back to draft. I want to remove the requestId and rethink the `rw dev` output vs `serve api` and `serve web` since those output non-prettified NDJSON then could be piped into something that formats instead.

Then there is no need for Pino Pretty and that dependency is removed completely.

[2021-12-09 21:39] #3876 closed

[2021-12-10 01:04] jtoar commented on #860
Reproduction and video walkthrough: https://github.com/jtoar/rw-styles-bug.

https://user-images.githubusercontent.com/32992335/145499713-045e690e-5238-4584-8430-42162894157f.mp4

[2021-12-10 01:17] jtoar commented on #1380
While I don't see this issue happening anymore, the idea of wrapping a Cell in a dev-friendlier error boundary is still worthwhile, so I'll leave this issue open but remove it's bug/v1 status.

[2021-12-10 01:45] jtoar commented on #2039
@dac09 fixed this in a recent release (perhaps the last one even).

[2021-12-10 01:45] #2039 closed

[2021-12-10 01:57] jtoar commented on #722
Closed by https://github.com/redwoodjs/redwoodjs.com/pull/857. Definitely check out the new docs here: https://redwoodjs.com/docs/services.

[2021-12-10 01:57] #722 closed

[2021-12-10 02:00] jtoar opened #3887 "[Tracking] VSCode IDE"
Meta issue to keep track of all the issues related to the VSCode IDE:

- [ ] #1354
- [ ] #1950
- [ ] #1589
- [ ] #843
- [ ] #1660
- [ ] #1529
- [ ] #1478
- [ ] #970
- [ ] #943
- [ ] #1000
- [ ] #2040
- [ ] #2159
- [ ] #2511
- [ ] #2352
- [ ] #2344
- [ ] https://github.com/redwoodjs/redwood/issues/3246
- [ ] https://github.com/redwoodjs/redwood/issues/1257
- [x] https://github.com/redwoodjs/redwood

[2021-12-10 02:36] jtoar commented on #911
@cannikin think this one can be closed?

[2021-12-10 02:43] cannikin commented on #911
haha probably

[2021-12-10 06:08] Tobbe commented on #2696
Fixed by #3885

[2021-12-10 06:08] #2696 closed

[2021-12-10 13:19] snettah opened #3888 "tutorial:authentication requireAuth without roles cause an error"
Hi,

I follow the tutorial wich is very well thank for your work redwood is awesome I will continue to use it for a long time

If we follow the tutorial we will have an error when we want to create a post at the Deployment section, because we don't pass the roles to `requireAuth`.

[code]

Wich will cause an error on the API

[code]

to avoid the problem I have to add an admin role to my user on N

[2021-12-10 13:25] snettah commented on #3888
I've created an issue the to the tutorial repo https://github.com/redwoodjs/learn.redwoodjs.com/issues/172

[2021-12-10 13:25] #3888 closed

[2021-12-10 21:38] jtoar commented on #252
Closed by #2810

[2021-12-10 21:38] #252 closed

[2021-12-10 22:18] orta opened #3889 "License in new RW projects should not be licensed to redwood"
![Screen Shot 2021-12-10 at 10 16 53 PM](https://user-images.githubusercontent.com/49038/145648386-fefb9925-e0ec-4cce-8cf0-fed0a4479b02.png)

It could instead be `git config user.name` which most folks are forced to put in for github:

[code]

Or something more generic like "Repo Contributors" if that's not set/

[2021-12-11 01:25] jtoar commented on #3889
@thedavidprice @mojombo want to get this one on your radar.

[2021-12-11 01:40] jtoar commented on #2962
Note that this is still the case:
https://github.com/redwoodjs/redwood/blob/818fbb179ad7a42ca572221ebb197323f674b1b6/packages/web/src/components/createCell.tsx#L271-L274

Switching these two around would fix the bug. For reference, `commonProps` is all the stuff returned from Apollo Client's `useQuery`:

https://github.com/redwoodjs/redwood/blob/818fbb179ad7a42ca572221ebb197323f674b1b6/packages/we

[2021-12-11 03:28] jtoar commented on #288
@KrisCoulson recently mentioned that he'd love to see something like:

[code]

Having a select set of presets is something that we definitely want to explore (after v1).

[2021-12-11 03:37] jtoar commented on #473
This has been realized in https://github.com/redwoodjs/redwood/pull/3384. There's still a lot we could do here (#3384 is no substitute for the `--template` flag @jmreidy mentioned), but we'll close this one out for now and open the discussion up again post v1.

[2021-12-11 03:37] #473 closed

[2021-12-11 03:54] jtoar commented on #3780
@Tobbe there's definitely an opportunity here; this fits in well with React's Suspense story in general (fetching data as early as possible; [Relay is a great example](https://relay.dev/docs/api-reference/load-query/) of that).

[2021-12-11 04:16] jtoar commented on #384
@Tobbe Is this similar to what you did recently with Cells?

[2021-12-11 04:17] #501 closed

[2021-12-11 04:25] jtoar commented on #1303
@dac09 it's been a while but do you remember how this one went over on the forums?

[2021-12-11 04:50] #2595 closed

[2021-12-11 04:51] #2557 closed

[2021-12-11 04:51] #2547 closed

[2021-12-11 04:52] #2253 closed

[2021-12-11 04:57] jtoar commented on #1901
@andrew-hwahin Your response was very detailed so I'm very sorry for never responding!

I've used the Apollo Client dev tools quiet a few times recently (we've upgraded to a new minor) and they've been working quite well. I'll close this for now but if you run into this again and let me know; I'm happy to reopen.

[2021-12-11 04:57] #1901 closed

[2021-12-11 05:05] jtoar commented on #1103
Superseded by:
- https://github.com/redwoodjs/redwood/issues/3517

[2021-12-11 05:05] #1103 closed

[2021-12-11 05:13] #730 closed

[2021-12-11 05:17] jtoar commented on #653
There's an opportunity to refactor the generators (possibly into a separate package) during the RC. Since this issue was mainly about using an ecosystem library, and since that's been delayed till after we've refactored, I'll close this for now.

[2021-12-11 05:17] #653 closed

[2021-12-11 05:18] jtoar commented on #617
Implemented in https://github.com/redwoodjs/redwood/pull/3532.

[2021-12-11 05:18] #617 closed

[2021-12-11 05:22] jtoar commented on #389
Also see https://github.com/redwoodjs/redwood/issues/605.

[2021-12-11 05:23] thedavidprice commented on #2794
I resolved this via the release update-version script. Closing.

[2021-12-11 05:23] #2794 closed

[2021-12-11 05:33] jtoar commented on #1835
I've also noticed that running e2e leaves the dev server running. The bright side: finally learned how to use the `ps` command.

[2021-12-11 06:02] dthyresson commented on #384
Not exactly. See: https://github.com/dotansimha/envelop/tree/main/packages/plugins/persisted-operations

Persisted queries is a way to pre-create the query, give it a key, store that query by key, and then add it to a list of queries that can be whitelisted.

The client can then just request to perform a query by asking for the results by that persisted key.

You can see some examples in the envel

[2021-12-11 16:51] dthyresson commented on #1303
Kurt raised a similar issue in Forums https://community.redwoodjs.com/t/cors-issue-specific-to-auth-request/2575 @Irev-Dev but I think it turned out to be serverless  yaml configuration. But maybe bear to check with him if this is the same thing he experienced.

[2021-12-11 19:23] dac09 commented on #1303
These settings have likely changed since we moved to envelop. Worth looking into it, there's probably an envelop plugin but really this feels more in the realm of infrastructure.

[2021-12-11 19:26] simoncrypta commented on #3654
I tested it with Git-Bash and also PowerShell on Windows and everything works now.

[code]

[2021-12-11 19:28] simoncrypta commented on #3654
@yanielbf @thedavidprice Should I close the issue ?

[2021-12-11 20:29] simoncrypta commented on #3090
To continue the conversation I had with @dthyresson , the next step to remove the deprecated `prettyPrint` option is :
- Add a default way to log in dev using the new [pino-pretty transport](https://github.com/pinojs/pino/blob/master/docs/transports.md#pino-pretty).
- Remove `options: { prettyPrint: 'something' }` from [doc](https://redwoodjs.com/docs/logger#always-pretty-print) and ts interface.

[2021-12-11 21:47] ajcwebdev commented on #1303
We should check to see if the current [CORS docs](https://redwoodjs.com/docs/graphql#cors-configuration) handle this case just as written. I've used it for setting the configuration when using different domains with Docker containers, but I did not have any auth in the equation.

[2021-12-12 04:46] realStandal commented on #2562
Hey @jtoar I get the same behavior your image shows:

![image](https://user-images.githubusercontent.com/25166787/145700472-262f42ce-1da9-40f0-a5d1-62bb9e390a6f.png)

However, the behavior I described in this issue, specifically in my [second comment](https://github.com/redwoodjs/redwood/issues/2562#issuecomment-846003783) is still occuring:

![image](https://user-images.githubusercontent.com/2516

[2021-12-12 06:43] realStandal commented on #3733
Re-opening this as the title is still relevant to the PR above.

@dac09 ping

[2021-12-12 09:06] orta commented on #3733
https://github.com/redwoodjs/redwood/pull/3874 removed the `$` and cleaned up some of the types in the seed file making it not raise an error. It might be enough for you?

[2021-12-12 10:14] aggmoulik opened #3893 "Scaffold Typing Errors for Model"
I am working on a basic test example, I found something that it should not happen:

I have the below model:
[code]
I have created a scaffold just like always but it created very different things which are automatically generated.
Now, the Prisma client types were created with unconventional naming  i.e.,

// DB Model In services

It generated the below pattern in services:
[code]
But I have to cor

[2021-12-12 10:15] jtoar commented on #2746
It looks like this was fixed in https://github.com/redwoodjs/redwood/pull/3519. Using @realStandal's example, I now see the new route being added appropriately:

[code]

[2021-12-12 10:15] #2746 closed

[2021-12-12 10:17] aggmoulik commented on #3871
Hey @jtoar Will try to fix it with the #3893

[2021-12-12 10:20] orta commented on #3871
The page props should be replaced via https://github.com/redwoodjs/redwood/issues/3875 then it doesn't need to be re-declared that file at all 👍🏻

[2021-12-12 10:21] orta commented on #3893
There's probably some sort of 'name canonicalization' function in Redwood which should have `URL` allowed listed so that it doesn't get changed to `Url`

[2021-12-12 10:30] jtoar commented on #2685
I tried reproducing this by setting up dbAuth then supabase. While the supabase setup command finished, it left me in a broken state. It didn't change the `AuthProvider`'s type and client:

[code]

We could achieve this kind of precision with jscodeshift. But this issue raises the larger question of: how easy is it / how easy should we make it to switch between setup commands? (Not just for auth b

[2021-12-12 10:41] jtoar commented on #2607
Fixed in https://github.com/redwoodjs/redwood/pull/3616.

[2021-12-12 10:41] #2607 closed

[2021-12-12 12:12] realStandal commented on #3733
Hey @orta, the issue isn't the defaults of `seed.ts`, it's that `tsconfig.json` isn't generated when using `yarn create redwood-app --ts`. The `$` doesn't cause me an issue once I run `yarn rw g script ...` and get that configuration file generated - it did because the path wasn't being resolved (cause the config file didn't exist).

If I'm reading that PR right, it's only updating the implementat

[2021-12-12 19:10] jtoar commented on #2397
https://github.com/redwoodjs/redwood/issues/3646 would go a long way in improving the performance of web-side tests.

[2021-12-12 19:20] jtoar commented on #2298
Seems related to https://github.com/redwoodjs/redwood/issues/2359.

[2021-12-12 19:34] Irev-Dev commented on #1303
@jmcmullen How are you deploying?

If you're deploying such that the API is on a different domain than origin: '*', won't work as the wild card is not allowed for requests with credentials. Has nothing to do with RW, just a cors thing.

https://www.moesif.com/blog/technical/cors/Authoritative-Guide-to-CORS-Cross-Origin-Resource-Sharing-for-REST-APIs/#7--using-wildcard-when-access-control-allow-cre

[2021-12-12 20:07] realStandal commented on #3693
Fwiw and just to add to @orta's comment, I'm the one who originally used types from `aws-lambda` in the generated functions/webhooks; that was when AWS was a big part of Redwood's story. At this point, and with the future in mind, it seems Redwood is going to try to be more deployment agnostic.  I'd try to make them part of the framework, and not depend on `aws-lambda` (from an app), if I did it a

[2021-12-13 02:09] jtoar commented on #766
Given the model in the original post, the `CreateUserInput` generated by `yarn rw g sdl user` looks like:

[code]

Which makes me think we can close this issue. We have others open for filtering out other fields from other parts of the SDL already.

@mtfoley Sorry we never got back to you; `yarn build` should be all you need, and you can get your changes into a Redwood project with either a `RWJS_

[2021-12-13 02:09] #766 closed

[2021-12-13 02:15] jtoar commented on #660
@thedavidprice could you confirm that this is still happening and/or is still something you want to fix? The fact that there's only three workflows in this popup makes me think that it's been fixed:

<img width="915" alt="image" src="https://user-images.githubusercontent.com/32992335/145742065-e9f613ac-9ec5-4447-a8c6-2dfa7c41917b.png">

[2021-12-13 02:20] jtoar commented on #785
After revisiting the discord message, this seems to fall under the more general category of educating users on how GraphQL works in Redwood. We have some reference documentation on that already and we also have plans to add more conceptual docs to the site after v1.

[2021-12-13 02:20] #785 closed

[2021-12-13 02:26] jtoar commented on #627
Fixed in https://github.com/redwoodjs/redwood/pull/2810. When the node/yarn version is different from the recommended a folder is no longer created:

[code]

[2021-12-13 02:26] #627 closed

[2021-12-13 02:36] jtoar commented on #829
I tried to reproduce this one but I can't; it seems like it's been solved. Our TS support has come a long, long way!

[2021-12-13 02:36] #829 closed

[2021-12-13 02:49] #911 closed

[2021-12-13 02:52] jtoar commented on #947
Our updated minimum requirements for v1:

- [ ] AWS (API: serverless and/or fargate; Cloudfront)
- [ ] GCP
- [ ] Docker: performant production deployment; local dev via Compose

@thedavidprice I took this list from the card in our project board: https://github.com/redwoodjs/redwood/projects/20#card-69333287. Let me know if you think it needs any tweaking.

[2021-12-13 02:54] jtoar commented on #924
@cannikin Do you think this was closed by the series of scenario teardown you did?
- https://github.com/redwoodjs/redwood/pull/3716
- https://github.com/redwoodjs/redwood/pull/3724
- https://github.com/redwoodjs/redwood/pull/3738

[2021-12-13 03:06] jtoar commented on #323
Given this model:

[code]

Which I got from [the prisma docs](https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#specify-a-multi-field-id-on-two-string-fields), this is currently what happens for `yarn rw g sdl --crud users`:

<img width="777" alt="image" src="https://user-images.githubusercontent.com/32992335/145746058-8fab6814-02bc-4c56-ad4e-7445e82392ae.png">

Which seem

[2021-12-13 03:13] jtoar commented on #550
Related: https://github.com/redwoodjs/redwood/issues/2685.

[2021-12-13 03:27] jtoar commented on #1420
This seems like a duplicate of https://github.com/redwoodjs/redwood/issues/1420. Closing in favor of that one.

[2021-12-13 03:27] #1420 closed

[2021-12-13 03:38] jtoar commented on #1437
While I don't think we warn when scaffolding anymore, it doesn't look like we've updated the schem relations doc or the scaffolds yet.

[2021-12-13 03:46] jtoar commented on #1518
Based on @thedavidprice's comment, this one seems ok to close.

[2021-12-13 03:46] #1518 closed

[2021-12-13 03:51] #1532 closed

[2021-12-13 04:05] #1605 closed

[2021-12-13 04:12] jtoar commented on #1650
Storybook now updates:

https://user-images.githubusercontent.com/32992335/145751246-104a8f22-0314-4f62-94b9-9b9e4472c366.mp4

[2021-12-13 04:12] #1650 closed

[2021-12-13 04:17] #1833 closed

[2021-12-13 04:21] jtoar commented on #1782
I think this's been resolved; we've made several updates to teardown since, most notably:
- https://github.com/redwoodjs/redwood/pull/3716

[2021-12-13 04:21] #1782 closed

[2021-12-13 04:25] jtoar commented on #2091
@thedavidprice I hardly remembered that the shadow db is a thing. Do you think this is still a concern?

[2021-12-13 04:29] jtoar commented on #2018
I haven't been able to reproduce this one; I'll close it since it's been a while and hasn't seen activity. Feel free to re-open if it comes up again!

[2021-12-13 04:29] #2018 closed

[2021-12-13 04:30] #2092 closed

[2021-12-13 04:33] jtoar commented on #2070
The main reason we wanted to remove page loading context was that it made the router hard to understand. This may not be as acute after we finish some of the refactors that are underway (most notably https://github.com/redwoodjs/redwood/pull/3772).

[2021-12-13 04:33] #2070 closed

[2021-12-13 04:38] #2550 closed

[2021-12-13 04:40] jtoar commented on #2562
@realStandal Thanks for clarifying! `unauthenticated` is literally the worst prop to type so we can leave this one open 😅

[2021-12-13 09:50] zackdotcomputer commented on #3792
Just ran into this as well and also fixed it with `TAILWIND_MODE=watch`.

Worth noting as an avenue for debugging that the [TW docs on that env flag](https://v2.tailwindcss.com/docs/just-in-time-mode#styles-don-t-update-when-saving-content-files) say that it is a workaround for a failure in the usual flow. Usually the rebuild should be triggered by:

I confirmed that if I downgrade to Tailwind 2.2

[2021-12-13 15:41] dthyresson commented on #3693
This is definitely a 2.0 roadmap item -- and one of the reasons to move the api-server Fastify was to make this easier. And perhaps [GraphQL Yoga](https://github.com/dotansimha/graphql-yoga) may even make this easier. We'll see.

But, redwood does want to make functions (not just GraphQL) be more extensively and easily deployed elsewhere (Azure, Google, Cloudflare, etc).

[2021-12-13 16:41] cannikin commented on #924
@jtoar yep this should be fixed, we now delete in a way that works for foreign key constraints!

[2021-12-13 16:51] #924 closed

[2021-12-13 16:52] cannikin commented on #3893
We had another issue like this where some capitalization wasn't consistent and we included a bunch of updates to for PascalCase or camelCase in all cases, even if it's something that would usually be all capitals, like `APIPage`. It should generate `ApiPage` (for components) and `apiPage` for route naming.

But in your first case it looks like *Prisma* is the one with the weird casing...you need t

[2021-12-13 20:15] jtoar commented on #2020
Just confirming that `allowJs` is redundant in a `jsconfig.json`:

[^1]: https://code.visualstudio.com/docs/languages/jsconfig#_what-is-jsconfigjson

[2021-12-13 20:16] jtoar commented on #2020
But also: I no longer see any linting errors.

[2021-12-13 20:41] #3733 closed

[2021-12-13 22:43] jtoar commented on #2456
@realStandal Mutation cells—sounds super interesting! Would love to see an example if you don't mind sharing.

[2021-12-13 23:20] aaronvanston opened #3897 "Vercel base64 encoding empty body throws 'CORS' error from v0.37.0+"
Hey team,

I've come across an issue with base64 decoding of an empty event body, affecting Redwood instances deployed to Vercel on version 0.37.0 and up.

# Overview

This issue is very similar to #3309 in which Vercel says the event body is encoded even if the event body is empty. This typically occurs when a preflight/ `OPTIONS` call happens from a remote server, the body is left empty. This ch

[2021-12-13 23:37] aaronvanston commented on #3897
Please note, this error could have occurred on the previous version prior to `0.37.0`, this just happens to be the version we upgraded to and the issue arose. We're currently stable on version `0.36.2` in production with no issue.

[2021-12-14 00:03] realStandal commented on #2456
@jtoar I have to dig for it in an older project, but definitely will share - maybe as a forum post so it can be found easier. I've honestly been leaning on the `toast.promise(mutate)` convention recently.

And thank you for all the work I've seen you do towards my issues/suggestions the past few days! ❤️ I'm sure there is tons more I haven't that I'll get to benefit from.

[2021-12-14 01:52] thedavidprice commented on #3897
@viperfx I know you ran into this back in the day and we added support. Do you have any thoughts about this?

Here's an Issue and PR about this related to Auth specifically:
- https://github.com/redwoodjs/redwood/issues/3270

[2021-12-14 02:10] realStandal commented on #2456
@jtoar My [comment on the forums](https://community.redwoodjs.com/t/updated-i-desire-mutant-cells-solved/2223/5?u=realstandal) has the best/most up-to-date variation. Definitely a first draft, though.

[2021-12-14 02:16] jtoar commented on #2456
@realStandal Thanks! Just trying to go over everything again now that we're in the v1 RC phase. Feel free to ping me if there's something you want bumped that I don't get to!

And re mutation Cells: thanks for that link I'll take a look over there and continue the conversation

[2021-12-14 02:18] jtoar commented on #2065
@dthyresson @dac09 Could I assign this to one of you guys?

[2021-12-14 02:21] jtoar commented on #1733
@dthyresson Did you still want to prioritize this for v1? Looks like our resolver interface hasn't changed still:

https://github.com/redwoodjs/redwood/blob/229c3cf59399119a8169bc56e3908c99e904ea6b/packages/graphql-server/src/rootSchema.ts#L44-L51

[2021-12-14 07:29] jtoar opened #3900 "Remove unnecessary package.jsons in tasks"
While I'm a bit fuzzy on the details, the `tasks` directory isn't a workspace so most of the scripts in `tasks` (such as `release-notes.js`) can list their dependencies in the root-workspace package.json's `devDependencies`.
- [x] https://github.com/redwoodjs/redwood/pull/3898
- [x] https://github.com/redwoodjs/redwood/pull/3899
- [x] https://github.com/redwoodjs/redwood/pull/3901
- [x] https://gi

[2021-12-14 12:56] dthyresson commented on #2065
We'll have to adapt this connect to Fastify -- and check it still ins an issue since this was raised when the api-server was still Express.

Can assign to me. I seem to have lost my assignment permissions.

[2021-12-14 13:05] dthyresson commented on #1733
@jtoar The interface and adding the scalar was simple, but the testing and adding it to the scenarios got non-trivial because of the way the scenario formatted the values to compare.

But, it would be a good issue to get in/revisit so yes please assign to me. Thanks.

[2021-12-14 13:42] #3784 closed

[2021-12-14 13:57] dac09 commented on #3827
I don't quite understand why this is happening now :S - nothing has changed in these loaders

[2021-12-14 14:12] zygopleural opened #3902 "`yarn rw g scaffold` creates delete mutation with wrong `non-nullable` return type"
# Expected behaviour

`yarn rw g scaffold <model>` should generate a `./api/src/graphql/models.sdl.ts` with a mutation:
[code]

i.e. It should return a nullable model instance (since the model would have been deleted).

**Is this expected? E.g. is this meant to be returning a snapshot of the model instance before deletion?**

# What currently happens

The props are created as:
[code]

# Steps to r

[2021-12-14 18:17] pi0neerpat commented on #3827
- Happening both locally and in Github action
- yarn nuking didn't work https://github.com/redwoodjs/redwood/issues/3827#issuecomment-984911956
- The `web/config/webpack.config.js` solution didn't work (maybe I didn't do it right?)

[code]

- `yarn workspace web add -D null-loader` worked, without any other changes.

Other info:

[code]

[code]

[2021-12-14 18:29] mojombo commented on #3587
Discourse post done! https://community.redwoodjs.com/t/what-the-1-0-release-candidate-phase-means-and-when-1-0-will-drop/2604

[2021-12-14 19:02] pi0neerpat opened #3906 "yarn rw check should throw"
Currently, `yarn rw check` will only display console.logs for errors. Instead, it should throw, so we can use it properly in a github action

Example error (which does not throw)

[code]

Usage example

[code]

[2021-12-14 20:21] viperfx commented on #3897
So because Vercel uses aws and this behavior is part of api gateway - the base64 encoding part I mean.

However, I've never seen it being undefined.

[2021-12-14 21:47] #3827 closed

[2021-12-15 16:01] jmackie opened #3909 "Expose a way to customize fastify in `@redwoodjs/api-server`"
It would be really helpful if there was some way to hook into the fastify configuration that happens as part of:

[code]

Particularly, I'd like to be able to customize some of the logging options.

Maybe `@redwoodjs/api-server` could check for a config file (e.g. `fastify.config.js`) and merge it into the default `Fastify` constructor arguments if it exists?

❤️

[2021-12-15 16:07] dac09 opened #3910 "Datamigrate failures do not exit properly in `rw deploy {provider}`"
### Whats the issue?
When you have a datamigration fail, you expect the whole build to fail, whoever it continues to a "successful" state. This is misleading:
e.g.
[code]

### What should happen?
If any of the data migrations fail, the whole deploy command should fail

[2021-12-15 16:07] dac09 commented on #3910
@cannikin would you like to take a look at this please?

[2021-12-15 16:37] cannikin commented on #3910
So we `exit(1)` if there's an un-caught error, but in this case the error is caught and reported. But, there's no check that says to also `exit(1)` on *caught* errors. Want to try merging in or patching this PR and see if if does what you expect? #3911

[2021-12-15 16:57] dac09 commented on #3910
@cannikin looks like this has solved the issue, but we don't get the nice logs we had before OH NO 😱

Example:
[code]

I wonder why it exits before it logs the errors?

[2021-12-15 16:59] cannikin commented on #3910
Hmm... `report()` is just `console.info/error/warn` statements...there shouldn't be any weird promises or anything, what the heck?

[2021-12-15 17:00] dac09 commented on #3910
Btw... to reproduce, just create a datamigrate with a `new Error('boom')` in it, and also generate a couple of other datamigrations.

[2021-12-15 18:00] dac09 commented on #3910
Hmmm... weird, its not doing it anymore :S. Closing back down. Thanks @cannikin !

[2021-12-15 18:00] #3910 closed

[2021-12-15 22:55] KrisCoulson commented on #1650
🔥

[2021-12-16 01:23] jtoar commented on #3654
@yanielbf feel free to reopen this if none of the suggestions above solved your issue.

[2021-12-16 01:23] #3654 closed

[2021-12-16 09:03] callingmedic911 opened #3912 "`mockCurrentUser` returns null `currentUser` on web side"
**What is happening?**
My expectation was: immediately after the `mockCurrentUser` call, the given component should render the mocked user from the first render, but it first renders null, then sets mocked user after.

**Background on how currently auth works on the web side**
As soon as the page loads or the whole page refreshes, then Auth context provider (React context) triggers the GraphQL cal

[2021-12-16 10:28] jmackie commented on #3909
To make this more concrete, my use case is that I'd like to be able to set:

- `genReqId` - the default `reqId` isn't useful for logging/tracing (I'd prefer a UUID or `nanoid` or anything other than an incrementing counter 😂 )
- `requestIdLogLabel` - I'd prefer to have something other than `reqId`
- `requestIdHeader` - we use `x-request-id`

Alternatively, if I could set `disableRequestLogging: tr

[2021-12-16 12:59] dac09 commented on #3909
Great detailed explanation @jmackie, thanks!

Let me discuss this over with @dthyresson and see if we can come up with something, there's probably other settings that someone might want to modify anyway.

`fastify.config.js` seems like a reasonable option, but let us explore a little more

[2021-12-16 13:24] orta opened #3913 "Don't duplicate the prefix if it is passed into a generator"
[code]

[2021-12-16 14:27] dac09 commented on #3912
I'm not sure what you mean here Aditya.

[2021-12-16 14:31] dac09 commented on #3912
If I understand correctly... its just that the components don't typically wait for `useAuth.loading` to become true?

I think maybe in that case we ought to update the documentation, yes.

Because there maybe cases where you're using a component that uses `useAuth` in a public page (like we do on Tape)

[2021-12-16 17:34] callingmedic911 commented on #3912
Yes exactly, especially if component is likely to be behind private route.

👍 Will update docs.

[2021-12-16 17:44] dac09 commented on #3897
@dthyresson and I have confirmed this is an issue, specific to vercel deploys. Thank you very much for the reproduction. We will fix for next patch!

[2021-12-16 23:56] jtoar commented on #3887
See https://github.com/redwoodjs/redwood/pull/3848#issuecomment-996283741.

[2021-12-17 05:27] Tobbe commented on #3913
OMG! Yes please! Thanks for writing this issue up Orta. I've thought about it so many times! (Every time I've written `yarn rw g page FooPage`, which is more times than I want to admit)

I'm totally down for taking a stab at this if that's cool with everyone

[2021-12-17 05:45] jtoar commented on #3913
@Tobbe Go for it!

[2021-12-17 17:55] thedavidprice commented on #3284
Moving this over to #3686

[2021-12-17 17:55] #3284 closed

[2021-12-17 17:59] thedavidprice commented on #3686
I've update the [OP](https://github.com/redwoodjs/redwood/issues/3686#issue-1042902564) with content from #3284

[2021-12-17 18:09] dac09 commented on #1006
I believe this was resolved in v0.26(ish). The type of currentUser is inferred from `./api/src/lib/auth#getCurrentUser` - so in theory if you want a different type, you can just type the return of that function.

[2021-12-17 18:09] #1006 closed

[2021-12-17 18:21] thedavidprice commented on #3686
@Irev-Dev @virtuoushub @dac09 @jtoar @mnapoli
re: PRs #3755 and #3782

Hi All! I'm attempting to re-consolidate this high priority effort in order to:
- get everyone back on the same page
- revisit the overall plan and to-do list
- break next steps into smaller implementation chunks

@mnapoli your help has been invaluable! Now that we have your answer and direction, I wanted to make sure all the g

[2021-12-17 18:34] jtoar commented on #3912
@cannikin You're good with docs! Think you can take this one?

[2021-12-17 18:35] jtoar commented on #3711
@cannikin Danny asked me to assign this to you 👍

[2021-12-17 18:37] cannikin commented on #3912
It sounds like @callingmedic911 was going to update?

[2021-12-17 18:40] cannikin commented on #3711
Have you forgotten my stance on Typescript? ;)

Is there a way to tell inside of a generator if the project is typescript or not? I know you can set a flag with the CLI command, but I assume if the project is already in "typescript mode" that it should default to that instead of looking for the flag?

Also I don't know what this means: "include types for db"

[2021-12-17 18:43] #3312 closed

[2021-12-17 18:44] #1829 closed

[2021-12-17 19:12] dac09 commented on #3711
Haha, I wanted to see your reaction to this. But I know you can do this @cannikin !

The `typescript` flag gets passed to the handler automatically. An example is this generate thing here:
https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/script/script.js

And the type of db... here's your snippet for what the template should be like:
[code]

[2021-12-17 19:16] cannikin commented on #3711
Ahhh okay, I thought that meant something like all the models that are defined in the database, include their types somehow. I was about to find a grassy hill, lay in it, and stare up and sky thinking about the meaningless of existence.

[2021-12-17 19:33] #3897 closed

[2021-12-17 20:03] jtoar commented on #2091
@thedavidprice I'm going to close this one but feel free to re-open if you think we should address this for v1.

[2021-12-17 20:04] jtoar commented on #660
@thedavidprice I don't think this is still happening so I'll close this one out for now. I'll keep it in mind in though as we prioritize working on e2e.

[2021-12-17 20:04] #660 closed

[2021-12-17 20:04] dac09 commented on #3897
Confirming that this has been fixed!

e.g.
[code]

[2021-12-17 20:44] jtoar commented on #1829
@adriatic I'm trying to clean up some of the long-standing issues in the repo. There's been several updates to scenarios, testing, and mocks since this issue was opened in February, so I feel like this has been addressed. But please do feel free to re-open this if you feel like it's still a problem and we'll prioritize sorting it out before v1.

[2021-12-17 22:08] cannikin commented on #3912
In this doc we already show usage examples with `waitFor()` and even a callout underneath explaining why we have to use it with `mockCurrentUser()`. What else would you add to clarify?

[2021-12-17 22:28] dac09 commented on #3912
I think the issue is:
A) not super clear what you need to waitFor
B) not clear why currentUser is initially null, and why it actually would be good practice to not use currentUser until loading has finished

It's come up a few times on discord!

[2021-12-17 22:41] cannikin commented on #3912
I must not fully understand what the problem is..."not use currentUser until loading has finished", what does that mean? In the cell or in the test? I use `currentUser` all over the place in a cell, I don't care if it's loading or not. As long as I `waitFor()` in my test I get the expected result?

Do we just want an extra sentence that says "you have to use waitFor() because `currentUser` will be

[2021-12-17 23:51] pi0neerpat commented on #3912
I think its good to preserve this behavior, instead of hide it in tests and stories.

Also, I think it would be helpful for the docs to show an example of mockCurrentUser in storybook too.

[2021-12-18 22:30] adriatic commented on #1829
@jtoar My memory is very vague (this thread seems like a few centuries old), but my affection for Redwood is not diminished. I appreciate that you did not sweep this under the carpet, so I will switch all my work to this immediately.

I will reopen this if in my current testing this issue I find this problem being still present. Stay tuned please.

[2021-12-18 22:49] olance opened #3944 "Cells only support GraphQL queries"
To the question ["Can I Perform a Mutation in a Cell?"](https://redwoodjs.com/docs/cells#can-i-perform-a-mutation-in-a-cell), the docs say: "Absolutely".

So I created a new cell with this:

[code]

This Cell would be rendered at the end of a game and be passed the score and longest streak from the last game they played to be saved.
The result of the mutation request tells me what the best score a

[2021-12-18 23:08] Tobbe commented on #3944
You're not the first one to wish for this @olance 🙂

There's a draft PR over here: https://github.com/redwoodjs/redwood/pull/2870
Also a couple of posts to the forum here: https://community.redwoodjs.com/t/cells-with-mutation/2231

Look it through and then reach out to @ajoslin103 and maybe you two can work on it together 🙂

[2021-12-18 23:12] olance commented on #3944
ah! 😄

I guess I should have done my homework ^^
Thanks @Tobbe, I'll have a look!

[2021-12-18 23:12] #3944 closed

[2021-12-19 02:48] adriatic commented on #1829
Before I dive in, I would like to understand the relevance of this issue, and mode globally, the relevance of my participation. Is this just a last cleanup before release, or do you care about all of my findings? A year ago, I gradually drifted away from Redwood, as I felt that my comments were largely irrelevant my this team's opinion

I just freshly installed all the "things" needed to build and

[2021-12-19 22:03] aaronvanston commented on #3897
Fantastic, thanks @dac09! 🎉

[2021-12-20 00:33] adriatic commented on #1829
# Conclusion of my investigation

## It is safe to ignore this [whole thread](https://github.com/redwoodjs/redwood/issues/1829).

I did run the actions that are presented there using the current Redwood and VSCode Version: 1.63.2
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3 Date: 2021-12-15T09:37:28.172Z (4 days ago).

The problems indicated on the [initial image on that report](https://user-i

[2021-12-20 00:40] dthyresson commented on #3090
@simoncrypta I am hoping with the addition of a custom log formatter in dev (see: https://github.com/redwoodjs/redwood/pull/3947) then we can close this out and support the latest Pino with no pretty print warnings.

[2021-12-20 11:43] dthyresson commented on #3873
@jmackie Looks like https://github.com/redwoodjs/redwood/pull/3891 when merged will fix.

[2021-12-20 11:54] simoncrypta commented on #3090
Amazing !

[2021-12-20 17:04] #3693 closed

[2021-12-20 18:10] jtoar commented on #3706
@Tobbe between #3753 (which is in progress) and https://github.com/redwoodjs/redwood/pull/3746, do you think that this one's covered?

[2021-12-20 18:15] #2416 closed

[2021-12-20 18:24] jtoar commented on #3902
Hey @zygopleural, thanks for the detailed issue!

TL;DR, yes—the resolver generated by scaffolds for the `deleteModel` mutation uses the prisma client's `delete` function. So it looks something like

[code]

This returns the deleted record[^1], so the GraphQL typing isn't a bug per se, but if you'd like us to reconsider the typing we can.

[^1]: https://www.prisma.io/docs/reference/api-reference/p

[2021-12-20 18:33] #3873 closed

[2021-12-20 18:41] wave-light opened #3954 "getCurrentUser session argument is sometimes undefined"
I am using dbAuth and have registered a user and logged in. I am trying to get the current user inside a service function, by using the `getCurrentUser` function. This is causing an error to be thrown, as the `getCurrentUser` function is trying to access `session.id`, but `session` is `undefined`.
When I log the value of `session` to the console inside `getCurrentUser`, it outputs `{ id: 1 }`, whi

[2021-12-20 19:01] dthyresson commented on #3090
@simoncrypta I updated to 7.0.6 in #3947.

Maybe we can close out?

[2021-12-20 19:04] dthyresson commented on #2065
I chatted with SuperTokens the morning and they are implementing multiValueHeaders as part of their SuperTokens JWT support.

Will revisit this issue and attach to their PR when submitted.

[2021-12-20 19:54] wave-light commented on #3954
Closing - the correct way to get the user in the service files is via `context.currentUser`. `getCurrentUser` should not be called in the service files.

[2021-12-20 19:54] #3954 closed

[2021-12-20 22:33] BBurnworth opened #3956 "Windows 10 - RW Setup UI <Library> Fails"
**Problem**:
Windows 10: running `yarn rw setup ui <library>` fails with error: `Not enough non-option arguments: got 0, need at least 1`

**Steps**:
I followed these instructionsr:

[code]
then `yarn rw setup ui chakra-ui` and the error occurs.

**Error**:
[code]

**Workaround**:
using `yarn rw setup chakra-ui` seems to have worked.

**System Info**:
[code]

[2021-12-20 23:01] thedavidprice commented on #3956
Thanks for reporting this @BBurnworth

@jtoar I'd suggest prioritizing this for the next release cycle.

[2021-12-20 23:41] kataqatsi commented on #860
I'm still trying to clean it up... but i got this working if anyone wants to assign it to me

https://user-images.githubusercontent.com/14959199/146846942-05555fd8-a500-40ba-890b-c583df9f68e8.mp4

[2021-12-20 23:44] Tobbe commented on #3706
I haven't been working on Strive for a while, so I haven't been able to revert my workaround and test with a newer version of RW. I'll close this for now. I can reopen if I run into the error again. Or if someone else finds this because of the same error they can reopen.

[2021-12-20 23:44] #3706 closed

[2021-12-20 23:49] Tobbe opened #3957 "Get rid of PageLoader"
https://github.com/redwoodjs/redwood/pull/3772 introduced a new component called `ActveRouteLoader`. It replaced `PageLoader` in the main Router flow. But PageLoader is still used when rendering the NotFoundPage. We should replace that usage with ARL as well, so we can get rid of PageLoader.

(There are also a couple of comments in the code that mentions PageLoader that we need to update)

[2021-12-21 00:10] thedavidprice commented on #1829
Thank you for taking the time to dust off this Issue and dive in @adriatic It is very helpful. Welcome back!

We are (finally) triaging all outstanding Issues and assigning prioritizing for final 1.0.0 release. Had you found that some of these items were still relevant (i.e. not working), we would have definitely added to the priorities for v1.

We've just begun the process of triage. Here's the c

[2021-12-21 00:13] thedavidprice commented on #1829
Ah, just recalled two more things:
- there is currently a project in the works to re-write the Tutorial
- we have a PR with documentation for a recommended setup for Windows projects over here, which may be of interest to you: https://github.com/redwoodjs/redwoodjs.com/pull/922

[2021-12-21 01:48] jtoar commented on #860
@kataqatsi Nice! Just assigned you; thanks for taking a stab at it!

[2021-12-21 03:32] adriatic commented on #1829
Several comments to @thedavidprice  [writeup above](https://github.com/redwoodjs/redwood/issues/1829#issuecomment-998362160)

1. If the user has not installed jshint (I do not believe that Redwood VScode projects require that specifically) most of my "discoveries" like those shown on [this image](https://user-images.githubusercontent.com/2712405/146661763-f09a0c1c-6e4a-43bb-bf21-7517105105c2.png)

[2021-12-21 05:29] aggmoulik commented on #3679
Hey @rishabhpoddar, Just want to know the update on JWT Authentication.

[2021-12-21 05:38] rishabhpoddar commented on #3679
@aggmoulik we have released the feature now and are almost done with the redwoodjs integration as well. We still have documentation remaining though - so you can help with that:
- docs in redwoodjs (https://redwoodjs.com/docs/authentication)
- docs on supertokens about integrating with redwoodjs

If you want to help, we can chat about this on our discord server (https://supertokens.io/discord)

[2021-12-21 11:04] zygopleural commented on #3902
Hi @jtoar 👋🏼

Thanks for the quick response.

Yeah that makes perfect sense, thanks for the link to Prisma docs.

I'll close this as it is not an issue 👌🏼

[2021-12-21 11:04] #3902 closed

[2021-12-21 12:50] mnapoli commented on #3686
Yes, happy to review. Ping me when you need it!

[2021-12-21 14:14] simoncrypta commented on #3090
No multiple transports support for the V1, but a fully functional Pino V7.
Let's close it 👍

[2021-12-21 14:14] #3090 closed

[2021-12-21 17:30] #3909 closed

[2021-12-21 17:49] #3212 closed

[2021-12-21 17:56] jtoar commented on #2359
@thedavidprice the next step here is: can a user hook into our storybook config to get this working manually? Or is our graphql client too coupled to storybook?

[2021-12-21 19:20] callingmedic911 commented on #3912
@cannikin  Yes, exactly! I just wasn't sure why the currentUser is null on the initial render. And similar to me, I guess many others have felt that it's a bug, but it's not. So I thought it's best to document this line.

I'm not much familiar with the storybook right now, still not part of my daily dev flow 😅. It would be great if I can get your help to setup an example with storybook. 🚀

[2021-12-21 22:01] thedavidprice commented on #2359
Without digging into this more deeply, my understanding is that a user could handle this with a custom Storybook preview (overwriting the Redwood version from the testing package). However, as step one we need to resolve #2298

I'd prioritize accordingly:
- #2298 as P2/3 for v1
- this PR as `next`

[2021-12-21 22:21] thedavidprice commented on #3900
@jtoar you crushed this one! Leaving the final steps to close for your own satisfaction 😄

[2021-12-21 22:31] #3900 closed

[2021-12-21 22:36] valerii15298 opened #3970 "Support for pnpm, ability to choose package manager"
First of all thank you for such a great tool🔥.

As I understand Redwood picks up best technologies so you do not need to make a choice. So why don't use pnpm instead of yarn? As I know I has lot of advantages over both npm and yarn. And if not, then why don't put it optionally, to be able choose package manager? For example there will be default package manager but if you want you can choose diffe

[2021-12-21 22:54] ajcwebdev commented on #3970
Definitely interest in making this happen, we actually have an open issue here already: https://github.com/redwoodjs/redwood/issues/2907

[2021-12-22 00:23] thedavidprice commented on #3970
Completely agree @valerii15298 There is a lot of work to be done under the hood, but our goal is to (eventually) get to the place where this is possible.

As Anthony mentioned, this is a duplicate of #2907 Closing this one in favor of continuing conversation over there.

[2021-12-22 00:23] #3970 closed

[2021-12-22 07:04] realStandal opened #3979 "`undefined` still causes (presence) validator to trigger"
I'm wanting to wrap a specific impl. of `validate()` for re-use. I'd like to use this wrapped validator for both creating and updating services - so it's important it can handle when a value *should* be undefined (a resource is being updated, but not all fields have changed) and when a specific field needs to have a value (when a resource is being created).

I assumed I'd be able to pass `undefine

[2021-12-22 07:56] Irev-Dev commented on #3686
Sorry for the slow response.

Thanks for organising @thedavidprice.

The PR I had open has been [merged](#3782) into the feature branch (thanks @dac09) so now I don't have anything outstanding. Once the Todos have been figured out if there's a way for me to work on a chunk that won't conflict with other's work let me know.

[2021-12-22 08:15] realStandal commented on #3979
As a work-around (and probably the preferred solution) for my problem, I can use the `allow*` family-and-friends.

The behavior in the issue still occurs. This can be closed or remain open.

[2021-12-22 14:41] natserract opened #3982 "Field does not exist on enclosing type (Prisma)"
**Error message:**
`Failed to validate the query: 'Field does not exist on enclosing type.' at 'Query.findMany'.

**Version:**
- @redwoodjs/core: ^0.38.1
- @prisma/client: 3.3.0

**Related issues in [prisma](https://github.com/prisma/prisma)**
- https://github.com/prisma/prisma/issues/9553
- https://github.com/prisma/studio/issues/503

**Need to do is the following (from my case):**
- rm -rf  `yar

[2021-12-22 15:12] dac09 commented on #3686
@Irev-Dev welcome to crerate PRs pointing at `serverless-deploy-3686`. We can collect all the work related to serverless here, and then merge it into the main branch once its ready.

I'm keeping the issue updated with what needs to be done, or maybe create a separate project board. What do you think of looking at the sls v3 cli?

@mnapoli I wonder if you could provide a bit of guidance on the best

[2021-12-22 17:00] thedavidprice commented on #3982
Thank you for posting this work-around @natserract!

I suggest we leave this open until prisma/prisma#9553 is resolved

[2021-12-22 20:07] dac09 opened #3986 "[deploy: serverless] Configure deployment of redwood web side"
## Goal
`yarn rw setup deploy aws-serverless` currently only sets up the deploy of the api side

Setup deploy commands should setup the project so that both api and web sides both can be deployed.

High level steps should be:
 - `yarn rw build` (includes Web/)
 - configure the apiUrl in `redwood.toml`
[code]
 - package up the web/dist files
 - deploy packaged file to s3
 - configure cloudfront to

[2021-12-22 20:13] dac09 opened #3987 "[deploy: serverless] Upgrade to serverless v3 cli"
Serverless are release v3 of their CLI shortly.

We should upgrade the `yarn rw deploy aws serverless` (note: not the setup command) - should support the console output from the latest cli.

We should also investigate whether we can have serverless-cli added as a dev dependency to a users project as part of the `setup deploy aws-serverless` commands

[2021-12-22 20:17] dac09 opened #3988 "[deploy: serverless] Serverless CI/CD integration"
Serverless projects can be built and deploy through the serverless ci/cd platform: https://www.serverless.com/ci-cd

Following convention of the other `setup deploy` commands, we should verify that the serverless.yml and configurtion generated by our setup command will work out of the box on serverless ci/cd.

[2021-12-22 20:24] thedavidprice opened #3989 "Project Installation (create redwood app) Improvements [Tracking Issue]"
In general, there's a lot of room to improve the DX during the installation process. We could have a helpful pre-flight (versions, system, etc), handle failures better (link to docs, prompt for sending error report, etc.), prompt for customization options, add a git init step, use Yarn 3 or pnp to speed up package installation (or find some other way). Here's the working list of related Issues:

-

[2021-12-22 20:25] thedavidprice commented on #3685
Closing out. Moved remaining task to #3989

[2021-12-22 20:25] #3685 closed

[2021-12-22 20:26] dac09 opened #3990 "[deploy: serverless] Add extra checks to `rw deploy aws serverless`"
### Goal
Serverless.yml file has to specify what API routes are exposed. When a new api function is generated, even when redwood builds these functions, they will not be deployed unless the yml file is also configured to deploy this to AWS Lambda.

We should add an extra step to the deploy process that will check that all of the functions present in the dist directory are configured in the yml fil

[2021-12-22 20:35] thedavidprice commented on #2685
I do not think we should support, via command line, swapping Auth providers. Instead, we can focus on documentation. (I believe someone recently documented swapping auth providers, but I couldn't find it across Forums or Discord.)

[2021-12-22 21:21] #3601 closed

[2021-12-22 21:22] thedavidprice opened #3991 "Generated Test Files: add comment with link to Redwood Testing Doc"
_continuing from #3601_

There are (plenty of) cases where the boilerplate tests will fail. One recent example is #3601 re: Float and DateTime types that don't play well with Jest expect(). Instead of attempting to configure boilerplate to handle all possible situations, we decided to update the docs over here https://github.com/redwoodjs/redwoodjs.com/pull/881

But what good are docs if you don't

[2021-12-22 21:23] thedavidprice commented on #3601
Second step continued in #3991

[2021-12-22 22:04] thedavidprice commented on #2091
@jtoar Re-opening this one — I'd like us to first audit the experience in the case where:
- user sets only DATABASE_URL connection string to a cloud-hosted DB
- then runs Prisma migrate commands

What happens? And is the resulting error clear about needing a second DB and how to set it up?

If the experience is adequate, then I'd say let's close it out.

[2021-12-22 22:56] thedavidprice opened #3992 "🎄Redwood Holiday Updates"
The holidays are here! Many individuals on the Redwood Core Team are going to take a much-needed break, which means specific **maintainer activities are going to slow down a bit from now until January**:
- responses and reviews for GitHub Issues and PRs
- support and discussion on the [Forums](https://community.redwoodjs.com/) and [Discord](https://discord.gg/jjSYEQd)

## How you can help (if you'

[2021-12-23 00:53] dthyresson commented on #3152
Note https://github.com/redwoodjs/redwood/pull/3884 made it easier, but didn't necessarily resolve the scenario issue.

[2021-12-23 00:56] dthyresson commented on #2170
Upon reflection, I don't think this idea is a good one :) Closing.

[2021-12-23 00:56] #2170 closed

[2021-12-23 00:57] dthyresson commented on #1831
This was completed as part of Netlify toml rework and Redwood framework detection.

See: https://github.com/redwoodjs/redwood/pull/2712

[2021-12-23 00:57] #1831 closed

[2021-12-23 00:58] dthyresson commented on #1413
Closing in favor of people creating their own generator templates. This idea is a slippery slope: Webhooks flavors, background Netlify functions, Vercel background functions, Netlify builder functions, etc etc etc.

[2021-12-23 00:58] #1413 closed

[2021-12-23 01:00] dthyresson commented on #2065
This issue will be resolved by https://github.com/redwoodjs/redwood/pull/3981 when merged in.

[2021-12-23 01:00] #2065 closed

[2021-12-23 01:02] dthyresson commented on #3118
@thedavidprice and @jtoar This seems like a v2 issue to rework the e2e suite, no? Should I change the labelling?

[2021-12-23 05:25] Irev-Dev commented on #3686
Yup cool @dac09, I'll have a look into v3 after the holiday season.

[2021-12-23 09:39] virtuoushub commented on #3990
In case it helps this is where/how we currently generate the yml/package the js for these functions in the [`serverless-deploy-3686`](https://github.com/redwoodjs/redwood/tree/serverless-deploy-3686) branch:

https://github.com/redwoodjs/redwood/blob/b615def93bb17b2478716ae46b8d7ba9abaeea09/packages/cli/src/commands/setup/deploy/providers/aws-serverless.js#L41-L71

https://github.com/redwoodjs/red

[2021-12-23 10:51] Tobbe opened #3999 "Old nodejs target used for rw scripts"
I'm on 0.39, so apologies if this is fixed in newer versions

I'd like to be able to use `replaceAll` and other modern JS features in my rw scripts.

![image](https://user-images.githubusercontent.com/30793/147229576-ca26e77e-b74a-4604-99e3-eb4baec046a1.png)

The screenshot above shows a rw script I'm editing.

Can/should we control this in tsconfig?

[2021-12-23 11:35] Tobbe commented on #3999
Node 14: https://stackoverflow.com/questions/61305578/what-typescript-configuration-produces-output-closest-to-node-js-14-capabilities/61305579#61305579
Node 16: https://stackoverflow.com/questions/67371787/what-typescript-configuration-produces-output-closest-to-node-js-16-capabilities/67371788#67371788

[2021-12-23 14:55] thedavidprice commented on #3686
^^ @virtuoushub want to make sure you see these comments

[2021-12-23 14:56] thedavidprice commented on #3118
This work can happen at any time and is a higher priority. On my radar. Please do leave it as is for now.

[2021-12-23 15:14] thedavidprice commented on #1829
Thanks (again) @adriatic! My replies to each are below. Also, I'm unplugging today for the Holidays; back January 3rd and in touch again after that time. Happy holidays to you and yours!

1. Agreed 💯 We've had some challenges all along with VS Code and editors because we broke some of the editor rules in favor of developer experience design choices. You'd identified the tension points with this ex

[2021-12-23 20:18] dthyresson opened #4005 "LogFormatter does not output script exec logs"
Reported by @simoncrypta

The new LogFormatter that pipes dev and api server logs to pretty print is not used when running scripts.

[2021-12-23 20:45] dthyresson commented on #4005
I looked into the exec behaviors and because Listr is used and the VerboseRenderer, it won't:

1 - format as ndjson
2 - cannot easily pipe to rw-log-formatter

Note that if you do use logger in your db seed scripts etc as in:

[code]

You still can

[code]

and get

<img width="781" alt="image" src="https://user-images.githubusercontent.com/1051633/147290036-65c3ad9b-b970-4699-b494-7ccbf0d3de6e.pn

[2021-12-23 20:45] dthyresson commented on #4005
@simoncrypta Do you think this is still an issue or maybe just add to docs?

[2021-12-23 20:55] dthyresson commented on #4005
Note: Added how to format scripts in this https://github.com/redwoodjs/redwoodjs.com/pull/929

[2021-12-24 21:18] realStandal commented on #4005
Just to understand, in order to get pretty-printing we'll need to pipe each invocation of a script (regardless of if its seeding) - or add a wrapping command which does-so for us?

[2021-12-24 22:59] dthyresson commented on #4005
Only if you use the Redwood logger. If you use console then you’ll still get regular output as before

[2021-12-25 17:09] adriatic commented on #1829
Hello, @thedavidprice! a few comments to your comments [above](https://github.com/redwoodjs/redwood/issues/1829#issuecomment-1000368027):

1. On `jshint`:  the list of complaints is a couple of pages long and most of them if not all are the violations of the rule "state that you are intentionally using E6 and E7 features. In other words, you need to add jshint in addition to eslint to the list of

[2021-12-26 10:32] Tobbe opened #4008 "prerender doesn't support Suspense"
I was trying to prerender a page that uses `<Suspense>`, but got the following error message.

![image](https://user-images.githubusercontent.com/30793/147405442-f6ecea50-3c61-4299-8363-0a0d9b5a1a4d.png)

[code]

[2021-12-26 14:38] orta commented on #3982
Yeah, this hit me earlier this week and was fixed after finding a second copy of `@prisma/client`. I think it was me working in a subdirectory and running Prisma commands in there.

[2021-12-26 23:26] Tobbe commented on #4008
One possible solution to this might be https://github.com/FormidableLabs/react-ssr-prepass

[2021-12-27 18:22] BBurnworth opened #4012 "Generated Form Decimal Input Error"
**Problem:** Generated forms with Decimal type return '**_non numeric value_**' error (see below).

**Reproduction:** Test Model schema below, along with errors from attempted form input.

1. Created schema model.
2. `yarn rw prisma db push`
3. `yarn rw g scaffold numberTest`
4. Attempted to create new NumberTest.

**Error Message:** `Variable "$input" got invalid value "1.02" at "input.testDecima

[2021-12-27 20:03] o0charlie0o commented on #2124
@Tobbe Assuming this issue can be closed based on the following PR being merged?
- https://github.com/redwoodjs/redwood/pull/3772

[2021-12-27 20:11] Tobbe commented on #2124
Indeed! 😀

[2021-12-27 20:11] #2124 closed

[2021-12-27 20:53] Tobbe commented on #4012
@BBurnworth Hi! Thanks for the issue report 🙂

`valueAsNumber` certainly looks like a way forward here. Another option to look at might be to use an `<input type="number">` instead. Both for floats and decimals. Maybe setting `step="any"`. Or, maybe even `step="0.01"` `"0.001"` etc depending on what precision is specified for the decimal, if that's possible to figure out.

https://developer.mozill

[2021-12-28 21:54] domvernon opened #4016 "Auth package versions documentation"
👋 I _think_ I've noticed some things whilst working with auth recently (swapping netlify identify for Clerk!) and hopefully my understanding is correct. Most of these might be down to documentation, but I know this is due for an overview at some point so this issue might just serve as more of a reminder of things to think about.

- When talking about setting auth up manually and not using the cli,

[2021-12-29 07:50] peterp commented on #3036
Just want to point out that pm2 uses the agpl license. Since our target audience are startups whom will want to be in the enterprise we should not be adding this package.

[2021-12-29 08:42] jeliasson commented on #3036
@peterp Good catch! I'm on the fence of adding pm2 at all, outlining my concerns from a serverful perspective [here](https://github.com/redwoodjs/redwood/issues/3036#issuecomment-932639663), but I'm not entirely sure about the scope. This issue seem to indicate that it would, initially, be part of the default `yarn rw serve` of Redwood. That is a 🚩flag to me. However, I can definitely see being us

[2021-12-29 11:24] morrislaptop opened #4017 "Jest DX not the best since v0.36"
This is more of a discussion at this point, but thought I'd post just in case...

In 0.36, [this plugin](https://marketplace.visualstudio.com/items?itemName=CoachRichbart.better-jest) worked. IMO this is a much better workflow than the *magic* jest watch. I get an error `SyntaxError: Cannot use import statement outside a module` so I assume the plugin is skipping some jest / babel configuration so

[2021-12-30 11:36] dac09 commented on #3726
It's taken me a while to fully wrap my head around this, but Curtis and DT's suggestions here make a lot of sense to me. I'm putting in the v1 priority queue for now - I think the solution seems reasonable and a good default to me.

[2021-12-30 11:41] morrislaptop commented on #4017
Confirmed import error started happening since 0.39

[2021-12-30 11:52] morrislaptop commented on #4017
`Cannot read property '_origin'` seems to be an issue since before 0.36

[2021-12-30 13:52] ajoslin103 opened #4018 "Help, webhook works in dev but not at Netlify"
this code works when I use postman to call my webhook but fails on Netlify

the Netlify log shows the last debug before the return `recordHook payload:`

but postman receives

[code]

odd...

thanks, Al;

[code]

[2021-12-30 15:53] dthyresson commented on #4005
Decided not to implement. If future issues arises will revisit. Closing.

[2021-12-30 15:53] #4005 closed

[2021-12-30 15:58] simoncrypta commented on #4005
@dthyresson Sorry for the delay, I'm with you for closing this!

[2021-12-30 18:56] dac09 commented on #4017
@morrislaptop - this is a fair point, but I just wanted to confirm that the issue is that you can't seem to use jest with that extension?

Could you please also confirm if you were using scenarios before the upgrade and it all worked with the plugin?

[2021-12-30 19:58] morrislaptop commented on #4017
Yep that's the issue.

Was not using scenarios

[2021-12-30 21:45] orta commented on #3726
The described pattern above I have used also in my apps, though I was expecting to eventually move to the dataloader pattern after I found a good way to measure the number of Prisma calls a request makes. The biggest downside to the pattern is that you might make a request earlier for partial data of an object and then in another resolver make the assumption that you have a full object, but that r

[2021-12-30 23:56] ajoslin103 commented on #4018
It works just fine when I return actual JSON

Embarrassed, I close this issue

[2021-12-30 23:56] #4018 closed

[2022-01-01 07:12] vchoy opened #4022 "Storybook should (not) also include stream polyfill"
[code]

some packages like handlebar need fs, stream, can we can ignore for testing purposes?

[2022-01-01 19:54] callingmedic911 commented on #3764
@jtoar Ref: https://github.com/PavelDymkov/babel-plugin-auto-import/issues/11 (from https://github.com/redwoodjs/redwood/pull/3193#issuecomment-895939673)

[2022-01-03 20:46] BBurnworth commented on #3956
(Win 10, VS Code: bash terminal) I started a clean repo and ran `yarn rw setup chakra-ui` and the wrappers updated but the packages did not install. I manually installed them using `yarn workspace web add -D` for each package `['@chakra-ui/react', '@emotion/react@^11', '@emotion/styled@^11', 'framer-motion@^4']` and they installed and it seems to be working correctly. I did not try running vscode

[2022-01-03 21:01] jtoar commented on #3792
Based on some of the recent comments in [this thread](https://github.com/tailwindlabs/tailwindcss/issues/6340), I've tested hot reloading again and it seems to work like before, without the need for the workaround. If someone who was using the workaround before could confirm that would give me more confidence!

[2022-01-03 22:08] simoncrypta commented on #3956
I confirm that none of `setup ui` command work on any shell with windows. Look like it never take the last argument, maybe it's problem with Yarg? I suggest that we use the same structure that we use for `setup auth` with multi provider since it work on Windows, and it's a better standard to keep. I will work on a PoC today to confirm.

[2022-01-04 09:54] mnapoli commented on #3686
Hey, sorry @dac09  I'm catching up:

only thing I'd need guidance with is how can I pass the url for the lambda i.e. the url for the graphql function that we are deploying

this will probably achieve the same result as serverless lift, but I have the same issue - I don't know how to point it to the graphql function

Do you mean passing the URL of the GraphQL API to the frontend website?

If that's

[2022-01-04 13:21] zackdotcomputer commented on #3792
@jtoar Just tested locally on the latest rw (0.41.0) and tailwind (3.0.9) and can confirm that autorefresh appears to be functioning normally once again when using `yarn rw dev`

[2022-01-05 12:12] dac09 commented on #3686
Thanks @mnapoli - I have another idea/suggestion for lift. You've done a tremendous job with lift, was very straightforward 🚀 I'm going to add it to the sls config we generate.

Another question for you:

I used a `static-website` construct to deploy to `https://xxxx.cloudfront.net/` but I would like `https://xxxx.cloudfront.net/api` to forward to the deployed `HttpApiUrl`. I understand I'd have t

[2022-01-05 18:06] dthyresson commented on #4012
Hi @BBurnworth I just stumbled upon this issue and some of this may be fixes in PR https://github.com/redwoodjs/redwood/pull/4053.

It will help when using graphql scalars and the error message presented.

Also, it will better handle general type errors raised in GraphQL.

It might then be

```Float cannot represent non numeric value: "1.02"```

Which may not be ideal, but better.

[2022-01-05 22:34] dac09 opened #4056 "Clerk auth deployment fails on netlify"
Reported on discord

### Whats the issue?
After setting up clerk auth, netlify throws a _runtime_ error that the clerk sdk cannot be found

[code]

### Things that have been checked
- [x] `@clerk/clerk-sdk-node` is present in api/package.json
- [x] yarn.lock file is updated

### Tasks

- [ ] Reproduce error deploying to netlify

[2022-01-06 01:32] ajoslin103 commented on #3988
Personally I dislike using their dashboard - maybe this could be optional?

thanks
Al;

[2022-01-06 01:37] ajoslin103 commented on #3990
FWIW: I've had quite good results from: https://www.npmjs.com/package/yaml -- it's the only one I found that would roundtrip comments.  It parses .yml into a javascript object, gives some yml routines (and accepts modifications to the exposed underlying javascript object) and then writes out the .yml file again.  👍🏼

[2022-01-06 18:04] dthyresson commented on #3781
I wonder if you could ping the GraphQL health check https://redwoodjs.com/docs/graphql#health-checks and if doesn't respond or responds with a file, prompt with a warning.

[2022-01-06 18:17] #3956 closed

[2022-01-06 18:42] #3792 closed

[2022-01-07 00:16] ajoslin103 opened #4062 "Calling for logger too quickly after logout?"
When my project logs out it goes immediately to a window which calls the backend which tries to get a logger

Apparently the context is not ok, yet?  Because when I'm not logged out for a moment and go to that page it's ok...

This line uses context without checking it?

https://github.com/redwoodjs/redwood/blob/main/packages/graphql-server/src/plugins/useRedwoodLogger.ts#L210

errors like this...

[2022-01-07 00:44] jtoar commented on #3036
@peterp @jeliasson we discussed this briefly at a meeting. The team's answer was: agreed that baking it into `yarn rw serve` isn't a good idea, but having it as a part of a setup command via `yarn rw setup pm2` seems ok IF we include some kind of prompt that users have to say yes/no to, just so that they're explicitly aware that they're including a package with an agpl license. Any further thought

[2022-01-07 00:46] wbashir opened #4063 "import_api.validateUniqueness) is not a function"
Hi,

I'm trying to use the **validateUniqueness** function but getting an error:

`import { validateUniqueness } from '@redwoodjs/api'

export const createIntroCapture = ({ input }) => {
  return validateUniqueness(
    'introcapture',
    { email: input.email },
    { message: 'Your email is already in use' },
    (db) => db.introCapture.create({ data: input })
  )
}
`

Here is the error:
[code]

[2022-01-07 00:48] jtoar commented on #2962
We discussed this at our last meeting. The team's thoughts were that the Cell's result should win out over the path, but a better way of solving this would be to just throw some sort of a descriptive error before things get to this point. The error would be thrown if the Cell's result and the path share the same name.

[2022-01-07 01:26] jtoar commented on #4063
Hey @wbashir, I just tried to reproduce this and couldn't. Could you provide a reproduction and/or any other details about your repo/where you're seeing this error (as soon as you run `yarn rw dev`? Or when creating an intro capture?).

You may have already done this but I often forget: using `validateUniqueness` requires you enable a preview feature and regenerate your prisma client (instructions