[2020-10-12 16:14] thedavidprice commented on #1329
Hi @Sventenhaaf All great questions! I'm not an expert on Auth by any means, but I can connect you to a few great resources. The first of which is @dthyresson who's done a lot of Redwood work on Auth and RBAC. (DT, I recalled some conversations about experiments you tried regarding custom Auth... but was I just making that up?)

Secondly, there's been a lot of conversation about custom auth in our

[2020-10-12 16:21] thedavidprice commented on #1261
@andrew-hwahin Ah, I see the confusion here. You're referencing the _installed_ package within the `node_modules/` directory. In general, you should never need to change or modify these installed packages directly. Consider it "read only" as it's managed by 1) your projects `package.json` settings and 2) yarn package manager.

Looking at my example Blog project repository, here are the `package.js

[2020-10-12 17:27] mohinderps commented on #1301
@thedavidprice @Tobbe I reach yarn discord channel seeking explanation for this strange behaviour.

This is what I got:

[2020-10-12 18:56] dthyresson commented on #1329
Hi @Sventenhaaf ... thanks for your interest in (and love of :) ) Redwood and for what you wrote.

I'm not sure I would consider how JWT is being used in RedwoodJS as "using JWT for sessions" ... in fact, the JWT's are rather short-lived and auto-refresh. In fact, the shorter the better. Auth0 will auto refresh as needed.

The tokens can have an expiration, set to be specifically for a particular

[2020-10-12 19:23] thedavidprice commented on #1329
Thanks @dthyresson for this amazing reply. And now I'm _really_ wishing this was happening on the Forums so others could find it more easily!

[2020-10-12 19:30] thedavidprice commented on #1301
Sounds good!

^^ no, unfortunately. Yarn 2 is a beast and not supported much at all. For reference see:
- https://github.com/redwoodjs/redwood/issues/1103#issuecomment-689295269
- https://github.com/redwoodjs/redwood/issues/111#issuecomment-585540613

[2020-10-13 04:13] mohinderps commented on #1301
@thedavidprice `yarn install --check-files` adds the missing modules  / different version back in the node_modules folder. Should I go ahead with this ?

Or should I check with the following? :

[2020-10-13 05:21] thedavidprice commented on #1301
^^ To make sure I understand, you're first running the `yarn add ...packages ...` and then running `yarn --checkfiles`. And, in this case, if the packages already exist, things are working correctly. Yes?

^^ Tailwind will install at the most recent version. And upgrading is the same for any installed packages in `package.json` — the developer will be manually managing package versions and upgrade

[2020-10-13 05:30] mohinderps commented on #1301
Yes.

Makes Sense.

[2020-10-13 05:33] thedavidprice commented on #1301
Got it. I'd say go for it using `yarn --check-files` 🚀

[2020-10-13 05:38] mohinderps commented on #1301
Cool ! Will do that.

This will fix Point 1. Will take on rest of the points as the next steps.

[2020-10-13 08:02] peterp commented on #1286
I think I've mentioned this before, but perhaps using yarn's upgrade command is not the way to go.

Would it be possible to:

1. Grab the latest canary version string from npm.
2. Programatically modify the `"@redwoodjs/*"` packages in `package.json` files.
3. Run `yarn install`

[2020-10-13 08:16] Sventenhaaf commented on #1329
Thanks so much for your elaborate replies. I'm definitely gonna try it out and see.  If I encounter discussions about Auth where this thread might be useful, I'll refer to this issue.

And I hope to be able to contribute to anything meaningful to this project in the future.

🚀

[2020-10-13 08:16] #1329 closed

[2020-10-13 09:47] andrew-hwahin commented on #1261
@thedavidprice Thanks for the detailed explanation🙏. I changed the `package.json` file as you mentioned, in the Root, Web, and API directory. I took the screenshot in `node_modules` just to verify that the packages are updated successfully. 😀

Hence, in that case, upgrading RedwoodJS does not resolve the issue yet.

[2020-10-13 12:26] mohinderps commented on #1301
@thedavidprice How would I be fixing 4 ?

As I can see in the code, the whole comment is one string.

![image](https://user-images.githubusercontent.com/16372215/95859443-420a2900-0d7c-11eb-99f3-9b2ed6525070.png)

We should ideally check for each import here. This will require me to create variables for each import statement then create Listr tasks to check if the import is already present in the

[2020-10-13 12:53] dac09 commented on #1214
Same issue as #1290

[2020-10-13 13:19] dthyresson commented on #1329
Just saw that Blitz is looking for testing their auth -- that has sessions: https://github.com/blitz-js/blitz/issues/1308

Good glimpse into everything it has to do: https://blitzjs.com/docs/session-management#how-it-works

[2020-10-13 16:24] thedavidprice commented on #1261
@andrew-hwahin that's a bummer. Thanks again for testing and reporting back.

@Tobbe and @RobertBroersma  any chance either you have time to test the latest Redwood VS Code extension against Redwood v0.19.3?

[2020-10-13 16:32] thedavidprice commented on #1301
Here are some ideas:
- do use [auth.js](https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/auth/auth.js) for reference as there's similar steps/logic and perhaps an available helper that will be useful
- I don't think you need to be concerned about parsing the entire string; just approach this as "all or none"
    - using regex, check if _all three_ imports already e

[2020-10-13 16:56] thedavidprice commented on #1286
@peterp That’s definitely possible, but in this case, it seems there's something else that's out of sorts with the Canaries.

Even if you manually try to upgrade to canaries right now, the dependency packages do not upgrade.

Our current published version is now at `v0.19.3`. The latest canary is at `v0.19.2-canary.61`. So I thought this reinforced my potential "semver" issue, but I couldn't get i

[2020-10-13 17:47] peterp opened #1336 "GraphQL auto-mocking not working globally"
Check: https://github.com/redwoodjs/redwood-tutorial/blob/rc-tutorial2/web/src/components/BlogPost/BlogPost.stories.js

[2020-10-13 20:13] esteban-url opened #1339 "Two private routes on the same line with **one** space in between will break your app"
## Description of the issue
- If you have two private routes on the same line with **one** space in between your application will break.
- It's not picked up by prettier, so they stay on the same line.
- If multiples spaces are inserted between the two routes prettier will reduce them to only one space.
- If no spaces are in between the routes, prettier will put the second route in a new line, fix

[2020-10-13 20:28] aldonline commented on #1261
Hi @andrew-hwahin,

I can see from the screenshots that you hit a strange edge-case where the extension doesn't run the preinstallation step fully. I'm trying to replicate on my end.

In the meantime, can you try the following?

1. Uninstall and re-install the Redwood IDE extension
2. Create a new app from scratch using `yarn create redwood-app` and *then* open VSCode, what do you see?
Tip: There

[2020-10-13 20:45] cannikin opened #1341 "Loading flash when running a mutation with Apollo 3"
As demoed in my app. @peterp thinks we need to monitor Apollo's `networkStatus` and only show the loading screen when networkStatus is not "refetching". Here are the Apollo docs on NetworkStatus:

https://www.apollographql.com/docs/react/data/queries/#inspecting-loading-states

And what the states actually mean:

https://github.com/apollographql/apollo-client/blob/main/src/core/networkStatus.ts

[2020-10-13 20:57] Tobbe commented on #1261
I'm setting up a fresh RW app right now. Will install the IDE extension next. It will be the first time I install the extension

[2020-10-13 21:03] Tobbe commented on #1261
![image](https://user-images.githubusercontent.com/30793/95915860-1309ac80-0da8-11eb-8fe7-0ca36a2a4533.png)

It was empty. So I pressed the little 🔃 icon in the upper right corner. Didn't seem to do anything. So I opened up redwood.toml and now I got content in the outline. Not sure if it was just being slow, and it would have populated had I just waited, or if the above sequence of interactions t

[2020-10-13 21:10] #1339 closed

[2020-10-13 22:53] thedavidprice commented on #1286
@peterp I can confirm `yarn rw upgrade -t canary` is now working after you used Lerna to publish the "ghost" tag v0.19.4

For diagnosing, here's what I see after running the upgrade command:
- in `/package.json`: "@redwoodjs/core": "^0.19.5-canary.4"
- `node_modules/@redwoodjs/core/package.json`
    - package version at `"version": "0.19.5-canary.4+f68f2245",`
    - included dependency CLI at `"@r

[2020-10-13 23:46] thedavidprice opened #1343 "`rw upgrade -t ...` fails if either `web/` or `api/` are not present"
Currently, the Upgrade command with `--tag` option assumes _both_ the Web and API sides exist and, therefore, the corresponding `@redwoodjs/api|web|etc` packages should all be installed. In the case there is no API directory, for example, `yarn rw upgrade -t canary` will fail with the error: `...no @redwoodjs/api package found`

**TO DO**
- check for existing packages (might be simpler to check if

[2020-10-14 00:18] thedavidprice commented on #1323
cc @jtoar I could definitely use your thoughts on all this 👇

I'm still trying to wrap my head around how we should build the commands in Yargs to allow for passing multiple commands at a time. E.g. we _want_ to do `yarn rw setup tailwind i18n webpack` and have each command run sequentially. However, currently using Yargs [commandDir](https://github.com/yargs/yargs/blob/master/docs/advanced.md#com

[2020-10-14 00:31] thedavidprice commented on #1319
At one time, @phzbox put together a great document with thoughts about this. He has a lot of experience with offline. It was early days for Redwood so hasn't been implemented yet.

With your permission, Dominic, I could share the Google Doc link. Or please do add it yourself and help us get up to speed!

[2020-10-14 00:32] thedavidprice commented on #1319
@chrisdrackett would welcome help toward this end if you're interested! In that case, it would be better to move the discussion over to the Forums https://community.redwoodjs.com

No pressure of course.

[2020-10-14 00:40] thedavidprice commented on #1261
^^ @aldonline FYI that Tobbe is running Windows

Thanks for the help here @Tobbe!

[2020-10-14 02:41] KrisCoulson commented on #1261
@aldonline  Just upgraded to 19.3 and looks like ` It is possible that it fixes the underlying cause of the issues you were experiencing.` was a good possibility it is working great now. This is definitely going to be a huge time saver for navigation! Awesome work!

[2020-10-14 04:08] #1313 closed

[2020-10-14 04:22] #1256 closed

[2020-10-14 05:00] thedavidprice opened #1345 "Breaking Prisma v2.9.0 Deploy Error: "Query engine binary not found""
@peterp

**I've upgraded `main` to Prisma v2.9.0.** I was hoping to include it in v0.20.0 as a fix for the build error on Node.js v12.19.0 See https://github.com/redwoodjs/redwood/issues/1313 Gah, catch-22!

I tested this via canary upgrade and deploy on my test project https://github.com/redwoodjs/redwood/pull/1344

Issue confirmed in another deploy test at Redwood v0.19.3 with Prisma packages ma

[2020-10-14 16:10] aldonline opened #1354 "[RFC] Selectively Ignoring Diagnostics"
Currently there is no way to turn off diagnostics.
In other words, the VSCode extension and `rw check` will show a fixed list of errors/warnings, and the user has no option but to "correct" them in order to make them go away.

I can think of a few scenarios where being able to selectively ignore errors per-project can be useful:

1. When a RW developer is knowingly going outside of the "norm" and

[2020-10-14 16:41] aldonline opened #1355 "Redwood Project Outline remains empty until a file is opened (VSCode)"
# Current Behavior

When opening a Redwood Project in VSCode (with the [Redwood IDE](https://marketplace.visualstudio.com/items?itemName=decoupled.redwoodjs-ide) extension), the Redwood Project Outline remains empty until the first file is opened in the editor (it can be any file in the project).

# Expected

Ideally, the outline should load immediately.

Otherwise, this might lead users to believ

[2020-10-14 16:44] aldonline commented on #1261
@Tobbe thanks for the help! Your description helped me identify a separate issue (https://github.com/redwoodjs/redwood/issues/1355)

@KrisCoulson Good to know! The Outline is still work in progress. Feel free to request new features ;). You can find the code that builds the outline here (https://github.com/redwoodjs/redwood/blob/main/packages/structure/src/outline/outline.ts) in case you want to c

[2020-10-14 16:53] aldonline commented on #1261
**TIP:** In most cases, simply "opening a file" (any file in the project) will fix the issue. Check #1355 for more info

[2020-10-14 16:55] aldonline commented on #1261
^^ @thedavidprice can we pin this comment to the top somehow? Or edit the issue description?

[2020-10-14 17:04] thedavidprice commented on #1261
@aldonline See edit in OP. Does that work?

[2020-10-14 17:23] aldonline commented on #1261
@thedavidprice yes, that's perfect! Thanks! (and thanks @Tobbe for figuring this one out)

[2020-10-14 17:33] thedavidprice commented on #1319
Thanks @phzbox

@chrisdrackett I've moved the conversation over to the Forums in hopes of getting some momentum:
https://community.redwoodjs.com/t/offline-support/1305

Closing this one. Thank you both!

[2020-10-14 17:33] #1319 closed

[2020-10-14 17:37] aldonline commented on #917
Closed by @M0nica in #1331

[2020-10-14 17:37] #917 closed

[2020-10-14 19:29] Tobbe opened #1356 "IDE: Error: ENOENT: no such file or directory (Windows path issue?)"
When I opened VS Code today I was greeted by this
![image](https://user-images.githubusercontent.com/30793/96035500-64c33d00-0e63-11eb-8b91-3f63042d362b.png)

"Go to output" showed me this
[code]

That's just a snippet of the full output. Here's the whole thing: https://gist.github.com/Tobbe/0185f0942d8b405c7054303da964f43f

Looks like a Windows path issue
@aldonline

[2020-10-14 20:15] aldonline commented on #1356
Hi Tobbe,
This was fixed in the latest 0.19.x patch release.

[2020-10-14 20:20] aldonline commented on #1356
Closing for now. If you can reproduce with the latest 0.19.x, please reopen ;)

[2020-10-14 20:20] #1356 closed

[2020-10-14 22:21] aldonline commented on #1355
Fixed, and released a new version of the Redwood IDE (0.0.15)

[2020-10-14 22:21] #1355 closed

[2020-10-14 23:50] cannikin commented on #1341
HOLD EVERYTHING @peterp

Did a screenshare with @jtoar and he had me try `cache-first` as a cache policy. No more loading flash! He said that Apollo basically changed what `cache-and-network` does, and now `cache-first` sort of acts like `cache-and-network` did and gets us back to our original behavior.

It looks like the fix is just to remove `cache-and-network`, which we were doing anyway, becau

[2020-10-14 23:50] #1341 closed

[2020-10-15 08:07] #1214 closed

[2020-10-15 08:07] #1290 closed

[2020-10-15 17:16] dthyresson opened #1362 "Router/PageLoader: Scroll Position is maintained on navigate when PageLoader does not "reload" content"
As part of Issue https://github.com/redwoodjs/redwood/pull/1284 to correct the "reload flash" when navigating via Router Links, a decision needs to be made as to how to handle the window's Scroll Postition.

With change to the Router, the window position is maintained.

This means:

* Page A - Scroll 2-3 vertical screen heights
* Navigate to Page B (that also has multiple page screen height)
* You

[2020-10-15 18:56] Tobbe commented on #1362
Not only scroll position needs to be reset. Focus needs to be managed as well. When landing on a new page and pressing <kbd>Tab</kbd> focus should be given to the first (top-most) element on the page

[2020-10-15 19:00] Tobbe opened #1363 "RW 0.19.5-canary.15 is broken on Windows (imports related)"
I just upgraded from RW 0.18.0 to latest canary, 0.19.5-canary.15 and this is what I was greeted by 😉

![image](https://user-images.githubusercontent.com/30793/96174117-21330680-0f29-11eb-8a40-25831293abae.png)

All my imports are broken.

This is my temporary fix to let me use RW again.

[code]

[2020-10-15 19:12] thedavidprice commented on #1363
cc @peterp @dac09

Most likely from this PR merged earlier today https://github.com/redwoodjs/redwood/pull/1332

[2020-10-15 19:15] Tobbe commented on #1363
Yes, that was basically the code I reverted above

[2020-10-15 19:16] dac09 commented on #1363
We have a catch 22 here, the above changes will break unix. (what it used to be before the PR essentially).

[2020-10-15 19:18] Tobbe commented on #1363
It's the same state on Windows as on Unix as in not properly importing .ts/.tsx files

[2020-10-15 19:29] dac09 commented on #1363
@thedavidprice is it worth reverting the PR till I can work out a better solution?

[2020-10-15 19:31] peterp commented on #1363
Let me see if I can fix it before we revert.

[2020-10-15 20:44] jchlu commented on #912
There seems to be a bit of confusion around [Apollo's GraphQL Playground](https://www.apollographql.com/docs/apollo-server/testing/graphql-playground/) and [GraphiQL](https://github.com/graphql/graphiql).
These are two completely different things, GraphQL Playground is included in Redwood, GraphiQL is not, currently, but I see references to it popping up in the RedwoodJS Community.

[2020-10-15 20:51] thedavidprice commented on #912
yes, I believe there are some historical reasons for this (things changed with what was provided) as well as the fact GraphQL Playground is built on top of GraphiQL (I believe).

Correct me otherwise, but I think it's safe to assume that currently, it's all GraphQL Playground _only_.

[2020-10-16 02:36] mnznz commented on #1363
#

[2020-10-16 03:36] thedavidprice commented on #1363
Hi @mnznz There was fix merged early today in this PR #1364

The most recent canary is `0.19.5-canary.16`. I just checked npm and it published successfully.

If you're already on the canary, you can now target a version with `yarn rw upgrade -t 0.19.5-canary.16`. Let me know how it goes.

[2020-10-16 07:20] RobertBroersma commented on #1299
I think the `api` side of your tests should've been fixed after this one: https://github.com/redwoodjs/redwood/pull/1207

[2020-10-16 07:40] RobertBroersma commented on #1264
I'm seeing this error as well, but seems unrelated to `apollo`.

[code]

I've seen this before that errors about imports are thrown while they are actually properly transpiled... I have no idea why it happens...

[2020-10-16 12:52] thedavidprice commented on #1264
I thought @peterp mentioned to me during a conversation this week he could run the tests by removing all the Apollo Client imports. I'll check. And I'm going to experiment with a few things now to see if I can isolate the error. There's also a lot of related packages with upgrades available — possible we're encountering a bug that's been fixed.

[2020-10-16 14:15] robobunny commented on #909
I think I could help with this. I'm going to post on the discord though because I may need a bit of hand holding as it's my first OSS contribution...

[2020-10-16 16:07] cannikin commented on #1299
Hmm, if it gets merged I think it gets turned into a canary release automatically? Did you `yarn rw update -t canary`?

[2020-10-16 16:30] RobertBroersma commented on #1299
Yeah I did! Strange 👻

[2020-10-16 17:55] M0nica commented on #920
This issue _should_ be resolved now as of https://github.com/redwoodjs/redwood/pull/1325

[2020-10-16 18:29] M0nica commented on #970
@aldonline @thedavidprice I am interested in working on this ticket. Can you clarify if this ticket is _just_ adding the success message when `rw check` is run and there are no errors triggered? Should the more robust summarization work be done within this ticket or as a separate follow-up ticket?

[2020-10-16 21:45] thedavidprice commented on #1299
@RobertBroersma I _am_ seeing that change in `main`. There was an issue earlier this week — canaries were not installing correctly for dependent packages like cli, eslint-config, etc. You might need to re-try canary now and confirm the installed version of a package, e.g. cli, is at the correct version.

[2020-10-16 22:02] cannikin commented on #1299
I just updated to `0.19.5-canary.18` and can verify the canary is now in all my package.json files. Still getting errors complaining about `import`...

[code]

[2020-10-16 22:09] thedavidprice commented on #970
@M0nica nice! This is very needed.

^^ This is definitely still up for discussion. It would be very helpful if you could help outline a plan for this:
- The next step could simply be outputting a "Nothing to see here!" message in case output == null. This is a valuable PR in and of itself.
- I'm not even sure the example I created (above) is possible. Could you help us define a viable, ideal end s

[2020-10-16 22:28] cannikin opened #1374 "Storybook: Pages that use cells are not using mocked data properly"
Per our call earlier this week @peterp. A page which includes a cell blows up when displaying Storybook, when in fact it should automatically be using the cell's mock:

![image](https://user-images.githubusercontent.com/300/96318638-25f8c880-0fc4-11eb-863f-172aade726a2.png)

[2020-10-16 22:51] cannikin commented on #1374
Duplicate of #1336 !

[2020-10-16 22:51] #1374 closed

[2020-10-16 23:17] #920 closed

[2020-10-17 00:15] aldonline commented on #1264
We did some diggin' with @thedavidprice and found the underlying cause. The solution, however, requires making some decisions that affect parts of the codebase that I don't quite understand at this point. I can contribute some clarity and hope that this advances the discussion.

Here's what's going on:

* Apollo v3 introduced a significant change. They are now publishing a CommonJS (CJS) and an ES

[2020-10-17 00:25] aldonline commented on #1264
This all seems impossibly complex - a labyrinth of gotchas and catch22s.
One of the reasons it is so brittle is because we're trying to compile code (in our `dist` folders, which are shipped to NPM and end up in node_modules) that is used to achieve multiple goals:
1. It is what the CLI executes
2. Various node processes are require()-ing these files (dev server, language server, jest tests)
3. We

[2020-10-17 22:27] M0nica commented on #970
I think implementing these enhancements could be implemented between four tickets (1) improve the success state by making it more clear, 2) reformatting the CLI output, and 3 + 4)enhancing the diagnostics to include Prisma and TypeScript checks which could be worked on concurrently).

1. updating the check/diagnostics CLI to output something along the lines of "Nothing to see here!" when there are

[2020-10-18 05:47] mohinderps commented on #1301
@thedavidprice, added a check for tailwindcss imports like you said.

Coming to the following:

For Step 2: Configuring PostCSS

Right now, if file already exists, an error is thrown by node to the console that file already exists. How to handle this gracefully and how will `force` act here ?

[2020-10-18 08:39] #1264 closed

[2020-10-18 14:28] #1336 closed

[2020-10-18 14:45] peterp commented on #1278
@dthyresson I saw that @Tobbe provided a fix for windows a few days ago, could you see if this is still a problem?

[2020-10-18 14:52] dthyresson commented on #1278
@peterp I just trying using `0.19.5-canary.21` and `yarn rw storybook`

and same error due to my having a space and parens a "(  " and  " )" in my this one project path (replaced with `********`):

[code]

[2020-10-19 09:35] andrew-hwahin commented on #1292
According to this [issue](https://github.com/prisma/prisma-engines/issues/950) in Prisma repo, this issue is caused by

[2020-10-19 10:25] ng29 opened #1379 "[Docs] Adding Table of Content to Readme.md"
Hey @peterp / @dominicchapman / @thedavidprice
Describe the problem
Missing table of contents in readme.

Describe the improvement
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.
A clear and concise description of the improvement.

I would like to work on this

[2020-10-19 13:57] dthyresson commented on #965
Added a note here to remind that whatever implementation used to protect GraphQL, the `redwood` query:

[code]
that returns the `currentUser` on the `web` side from the `AuthProvider` *must be allowed*.

If not, all auth fails and in fact can lead to long `graphql` function execution (10+ seconds and timeouts).

As such, the default permissions should *always* include that query.

[2020-10-19 14:22] Tobbe commented on #1292
@andrew-hwahin Thanks for getting back to us about that. I'm sure more Windows users will eventually run in to this limitation.

[2020-10-19 16:33] cannikin commented on #1299
Hopefully fixed by: https://github.com/redwoodjs/redwood/issues/1264

[2020-10-19 16:51] cannikin opened #1380 "Storybook: if mock data structure does not match QUERY exactly, wrong error is thrown"
If you have a `QUERY` in a cell like:

[code]

But in the associated story mock, the return data is missing one or more fields:

[code]

(`createdAt` is missing) you'll get a weird error in the story that `data` is missing completely:

![image](https://user-images.githubusercontent.com/300/96481421-5624af00-11f0-11eb-9a78-c764c69ce166.png)

This literal error is coming from `withCell` (which is th

[2020-10-19 22:34] cannikin commented on #1299
Confirmed fixed by https://github.com/redwoodjs/redwood/pull/1376

[2020-10-19 22:34] #1299 closed

[2020-10-20 15:00] flybayer commented on #1329
@dthyresson we're also going to be adding an advanced session management option that uses short lived JWTs plus refresh tokens. That will be a non-default, advanced option for us because that method introduces UX regressions with SSR (multiple redirects).

https://github.com/blitz-js/blitz/blob/canary/rfc-docs/03-session-management.md#advanced-short-lived-jwts-plus-refresh-tokens

[2020-10-20 22:22] jtoar opened #1384 "Scaffold create and delete mutations don't update the UI"
Re @cannikin, some of the scaffold's create and delete mutations don't update the UI anymore.

## Create

![create](https://user-images.githubusercontent.com/32992335/96644572-1dfb9a00-12de-11eb-9263-7d0ddbfd13bf.gif)

This used to worked in ApolloClient v2 because of the cache-and-network fetch policy. But the cache-and-network fetch policy in v3 doesn't seem to be exactly the same, so we use cac

[2020-10-21 04:09] tctrautman opened #1385 "Deploying on Netlify: "Failed to upload file: graphql""
Hey all, before diving in here I want to take a moment to thank the core team and community -- I've had such a great time working with Redwood the last few months.  But I've run into an issue and would appreciate any debugging recommendations that you might have.

I've been receiving the following error when trying to deploy to Netlify today:
[code]

This is my graphql.js:
[code]

I'm on version `

[2020-10-21 08:28] Tobbe commented on #1013
@shakti97 Interested in hearing about the solution you're going for, if you have gotten that far yet 🙂 What would the API look like for the user?

[2020-10-21 16:22] tctrautman commented on #1385
After looking at this with fresh eyes this morning I've gone ahead and confirmed my theory: upon removing a large npm package my builds succeeded.

In my case it's because I was using `puppeteer`, which installs a browser (🤦 ), instead of `puppeteer-core`.

I haven't quite resolved my problem yet, but I have a clear [path](https://bitsofco.de/how-to-use-puppeteer-in-a-netlify-aws-lambda-function/#

[2020-10-21 16:22] #1385 closed

[2020-10-21 17:23] Tobbe commented on #1385
Great that you figured it out @tctrautman!

In the future, if you run in to this again, this is how you can troubleshoot/debug

[code]

Now you will have the bundled files in `zipped/` and can see exactly how big they are and what's in them.

[2020-10-21 18:52] tctrautman commented on #1385
Perfect, thank you @Tobbe!

[2020-10-22 00:24] #909 closed

[2020-10-22 01:57] thedavidprice commented on #970
Hi @M0nica Huge thanks for moving this forward! I'll comment on plan items 2 - 4 in a next reply.

For now, I'd say go ahead with Step 1 (from above):

This would be soooo helpful 😆

[2020-10-22 02:10] thedavidprice commented on #970
Looping in @aldonline for thoughts on proposed plan items 2 - 4 (above).

^^ yes, I believe your understanding is correct — just focus on the diagnostics coming directly from the structure package. The current Catch 22 is that there is _not_ a lot of diagnostic coverage yet because people don't actually know about this tool and are not yet using the VS Code extension. Once usage goes up, the kinds

[2020-10-22 02:16] thedavidprice commented on #1301
As for most of our generators that create files, the default behavior is either:
1. in case of an existing file, refuse to overwrite and quit process (but mention the file can be completely overwritten using `--force`)
2. in case of `--force`, completely overwrite the file

This setup command is not intended to do more than this.

Make sense?

[2020-10-22 04:39] thedavidprice commented on #1379
Hi @ng29 Thanks for offering to help!

This repo's README.md is used on our website here: https://redwoodjs.com/docs/introduction And you can see below the right sidebar is a TOC.
<img width="1242" alt="Screen Shot 2020-10-03 at 12 31 46 PM" src="https://user-images.githubusercontent.com/2951/95000384-20879100-0575-11eb-819a-c7e5af23a38c.png">

## Other Ways to Get Started as a Contributor
So let'

[2020-10-22 04:39] #1379 closed

[2020-10-22 05:04] thedavidprice commented on #1384
@jtoar Did you see this PR from Peter? https://github.com/redwoodjs/redwood/pull/1342

[2020-10-22 05:07] jtoar commented on #1384
@thedavidprice Yeah I'm pretty sure that's just for updating an item using the edit button--apollo handles those kinds of mutations really well.

[2020-10-22 05:22] thedavidprice commented on #1384
Ah, got it. I went through this too quickly the first time.

And, um, HOW HAS NO ONE ELSE REPORTED THIS YET 🤯

I think we're within 24 hour of trying to get v0.20 out. Are you working on this now? Would be fantastic to have it resolved. Thanks in advance!

[2020-10-22 05:32] jtoar commented on #1384
I think @cannikin brought it up at the last meeting? That's why I started on this at least. Kind of hard to remember among all the apollo things going on :sweat_smile:.

But yeah I'll prioritize a fix in that time!

[2020-10-22 23:07] thedavidprice commented on #1384
Fixed in #1387

[2020-10-22 23:07] #1384 closed

[2020-10-23 08:14] mohinderps commented on #1301
Yes, makes sense @thedavidprice. Thank you.

[2020-10-23 09:08] AntonioMeireles commented on #1297
just a quick note to point that the import sort part is going to be addressed by https://github.com/redwoodjs/redwood/pull/1381 :-)

[2020-10-23 09:23] divyenduz opened #1395 "Add prismaVersion field to the redwood query"
Feature request, this would help with debugging.

![image](https://user-images.githubusercontent.com/746482/96986501-03196780-1522-11eb-8081-a92507e32b66.png)

Prisma version can be fetched from

[code]

[2020-10-23 09:28] Krisztiaan commented on #1297
@AntonioMeireles I never actually used `eslint` for `json`, do you think it's worth it?

[2020-10-23 09:32] AntonioMeireles commented on #1297
@Krisztiaan

for sophisticated use cases `eslint` definitively not the most adequate tool to tackle json. OTOH `eslint-plugin-json` handles the obvious typos sanely and has the side benefit to reduce noise in vscode when using the RW vscode plugin (which frankly is the reason why i added it :-) ).

[2020-10-23 12:17] peterp commented on #1297
Hey there - we actually had something like this in our ESLint configuration before, but we removed it because it made it more difficult for people to contribute, and it didn't work with directory named modules.

Now that we have the babel-module for directory-named-modules we could probably try this again.

[2020-10-23 12:21] peterp commented on #1395
Awesome 👍

[2020-10-23 14:33] kltdwrds commented on #1103
Since upgrading to yarn2 sounds potentially backwards incompatible, it's worth mentioning the recent [release](https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/) of npm v7, which includes [workspaces](https://github.com/npm/rfcs/blob/latest/implemented/0026-workspaces.md)

In general, are there other things about yarn that make it a better choice than npm?  I know redwood relies yar

[2020-10-23 14:36] peterp commented on #1103
@kltdwrds I saw this today and also figured that we don't really need yarn anymore. I think it would be fair to try out npm 7 for building the framework to see how that works out.

[2020-10-23 14:36] kltdwrds commented on #1103
@peterp oh nice - i'll give that a go.

[2020-10-23 16:49] thedavidprice opened #1396 "Test command fails on BlogPostCell.js Success component: possible Mock issue (v0.20.0)"
@peterp @RobertBroersma

After running the Cypress E2E on a new v0.20.0 project, I ran the Test command, which is successful for all tests except `BlogPostCell.js`.

Given the output `Success(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.`, it seems to be an issue with the Mocking.

See below for full error output:
<det

[2020-10-23 16:54] thedavidprice commented on #1396
And I'm seeing a similar case when running Storybook. On the same project as above, I ran `rw Storybook`. All components and states seem to render correctly _except_ for `BlogPostsCell.js` Success component.

Same output here as above: `Error: Success(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.`

See below for full e

[2020-10-23 17:38] thedavidprice commented on #1396
Nothing to see here 👀

[2020-10-23 17:38] #1396 closed

[2020-10-23 18:36] cannikin commented on #1125
@peterp Do we need to add a similar syntax for the tests to tell them what to use for mocking? Does the mock stuff we do now depend on Apollo behind the scenes or is it more generic?

[2020-10-24 19:06] dthyresson opened #1398 "Support Prisma Upsert in SDL and Service Generation"
I have found that [Prisma's upsert](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-client/crud#upsert) to be very useful when processing data that might get processed more that once -- especially for data where they is uniqueness and a `create` will throw an exception when the uniqueness is violated.

It is quite powerful once you get used to the syntax -- and much easier to writ

[2020-10-24 19:23] dthyresson opened #1399 "Support Prisma findFirst in SDL/Service Generators"
Current CRUD generation support fetching a unique record of the model by its id.

There may be times where it is useful to `findFirst` such that Prisma does not throw an exception if not found -- or you have multiple matching records and need just one.

https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-client/crud#findfirst

Perhaps:

`
export const firstModel = async ({ input }) =>

[2020-10-25 04:57] andrewlamyw commented on #1261
Hi, I've just tried it out again with RedwoodJS v0.20 and Redwood IDE v0.0.16 and it's working fine now, thank you all very much.🙏♥

[2020-10-25 04:57] #1261 closed

[2020-10-25 11:40] fveauvy opened #1400 "Cannot find type definition file for 'types'."
I wanted to try using typescript on a newly created Redwood project 0.20.0. I followed the guidance from the [typescript page doc](https://redwoodjs.com/docs/typescript) and created a page and a component (the component has been created with the `--ts` option).

I noticed this issue in the `Problems` tab of vs code.

<img width="392" alt="Capture d’écran 2020-10-25 à 12 06 06" src="https://user-

[2020-10-25 22:17] dhausser commented on #620
Renaming process is started with https://github.com/redwoodjs/create-redwood-app/pull/112 which should fix https://github.com/redwoodjs/create-redwood-app/issues/59.

I can work on the remaining points, please assign.

[2020-10-26 03:54] andrew-hwahin commented on #615
+1 for Azure 🙏

[2020-10-26 04:14] andrew-hwahin commented on #947
Looking forward to deploying to Azure functions Serverless 😁

[2020-10-26 10:56] dthyresson opened #1402 "DataMigrate command uses deprecated Prisma disconnect"
Prisma has changed to [use](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-client/connection-management#disconnect) `$disconnect` vs `disconnect`:

Its use in the `dataMigrate` here:

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/dataMigrate/up.js#L159

needs to be updated to avoid a warning after a data migration task as run:

[code]

[2020-10-26 17:07] fveauvy commented on #1400
Aside from the notification in the `Problems` tab, everything seems to be working fine.

I'll try to find why my IDE is displaying this "issue".

[2020-10-26 18:25] thedavidprice commented on #1400
Hi @fveauvy welcome to Redwood! And a strange issue indeed.

@aldonline curious if you have any ideas here especially regarding how to get more information out of the VS Code output, e.g. where is "types" coming from?

[2020-10-26 19:44] thedavidprice commented on #629
Resolved via #1397

[2020-10-26 19:44] #629 closed

[2020-10-26 20:21] fveauvy commented on #1400
Hello @thedavidprice ! Thanks for the warm welcome.

I'll try to investigate this issue myself this week, as I'd like to contribute to this awesome project :)

[2020-10-27 04:52] thedavidprice commented on #970
Two quick ideas after seeing #1405
- **Verbose option**: it could be beneficial if users could pass `--verbose` to see all the check being run. Maybe?
- **`--help` link to Structure package README**: for most commands, if you view help content there's a link to the docs. (See screenshot for `info --help` below.) There's no doc for diagnostics. @aldonline do you see any benefit in directing people

[2020-10-27 05:12] thedavidprice commented on #1400
Rad! We'd welcome the help. There's some good "getting started as a contributor" info in [this issue](https://github.com/redwoodjs/redwood/issues/1266).

If you're interested in helping move TS support forward, here's the [Project Board with Tracking issues](https://github.com/redwoodjs/redwood/projects/2).
- Generators https://github.com/redwoodjs/redwood/issues/523
- https://github.com/redwoodjs

[2020-10-27 08:55] mohinderps commented on #1301
@thedavidprice, created PR https://github.com/redwoodjs/redwood/pull/1407. This is just to show you the work. Feel free to suggest any kind of changes. Would be more than happy to work on them.

[2020-10-27 13:00] #1402 closed

[2020-10-27 22:34] M0nica commented on #970
I think the `--verbose` option would be helpful for folks who are looking for more visibility into what types of diagnostics are being run. From what I am seeing the current diagnostic checks maybe we could repurpose the text that is being output in the err field 🤔  for example: ` yield err(
        this.path_literal_node!,
        "The 'Not Found' page cannot have a path"
      )` or were you thi

[2020-10-27 23:49] thedavidprice commented on #970
^^ I was thinking to just output it all and see what indeed comes out, firehose style. Given your example, it would probably need a prefix to indicate it's just the step and not the result. Like `Checking: ${this.path_literal_node!} The 'Not Found' page cannot have a path`.

I didn't look at the code before adding this idea. If this requires refactoring, I'm not sure it's of high enough value. (Al

[2020-10-28 03:59] thedavidprice commented on #620
Hi @dhausser Thanks for jumping in here! Would be great to have your help.

There's a lot of nuance to this Issue — we use the directory `prisma` throughout the packages (and especially CLI) for structure checks and command options. Also, when I tried to experiment with this a few months ago, there were some unexpected challenges due to our directory structure combined with setting the working dir

[2020-10-28 06:23] aldonline opened #1409 "Update VSCode extension publisher from "Decoupled Inc" to "Redwood""
What?
* The VSCode extension is currently published by "Decoupled Inc" under the id `decoupled.redwoodjs-ide`. This is historical and a bit confusing
* We should re-publish via "Redwood" under the id `redwoodjs.redwood`

Notes:
* Unfortunately, this change will require users to reinstall the extension. The old extension should show a popup (`informationMessage`) with some info and a link to the ne

[2020-10-28 09:27] aldonline commented on #1409
* I performed the necessary updates a few minutes ago. From now on:
* If you launch the old extension, you should get a popup asking you to install [the new one](https://marketplace.visualstudio.com/items?itemName=redwoodjs.redwood)
* If you launch "both" extensions, you should get a popup asking you to uninstall [the old one](https://marketplace.visualstudio.com/items?itemName=decoupled.redwoodjs

[2020-10-28 09:27] #1409 closed

[2020-10-28 09:52] Burnsy opened #1410 "Vercel Production API bodyParser (stripe webhooks)"
Hello,

When i have been building my application everything worked fine and no problems with stripe passing through webhooks to redwood API. Once Built to Vercel, the webhooks no longer work, and it's critical they do work!

[code]

stripe.webhooks.constructEvent wants event.body to be passed into it unparsed, (works fine on dev) but when pushed to production on Vercel. It seems some kind of proce

[2020-10-28 11:24] peterp commented on #1410
Interesting. This could be our fault. I think we should determine what AWS lambda is doing with the `event.body`, are they converting it to JSON? Or are they leaving it raw?

[2020-10-28 11:31] Burnsy commented on #1410
https://github.com/vercel/next.js/blob/8bac41284558e2ab860b6b7c1a11c61efcf26266/examples/with-stripe-typescript/pages/api/webhooks/index.ts this is one of next js examples

[2020-10-28 11:32] Burnsy commented on #1410
you see that they pass in a config maybe that works with redwood? will check

[2020-10-28 12:05] Burnsy commented on #1410
I tried running both of these and it did not work! still errors on vercel production

[code]

I also tried without buff
[code]

[2020-10-28 16:19] thedavidprice commented on #1345
Workaround fix in v0.20.0 release

[2020-10-28 16:19] #1345 closed

[2020-10-28 16:19] thedavidprice commented on #1363
Fixed in v0.20.0

[2020-10-28 16:19] #1363 closed

[2020-10-28 23:16] M0nica commented on #970
Right now the structure for the diagnostic checks (at least for /routes) is such that if the condition is met that causes a check to fail then an error is thrown with a string like `yield err( this.path_literal_node!, "The 'Not Found' page cannot have a path" )` so my understanding is that being able to render information about checks before they fail would require a refactor as the checks aren't

[2020-10-29 00:23] thedavidprice commented on #970
Ah, very helpful. And in that case, I'd vote to put this idea in the proverbial hopper for now.

Thanks!

[2020-10-29 00:38] #1301 closed

[2020-10-29 04:27] thorwebdev commented on #1410
@Burnsy can you confirm that you've enabled https://vercel.com/docs/runtimes#advanced-usage/advanced-node-js-usage/aws-lambda-api this (I guess so, because I'd imagine otherwise Redwood wouldn't run on vercel?)

With AWS lambda, `event.body` should be a JSON string of the request payload, so for example on Netlify, the following works:

[code]

I wonder if Vercel is not confirming to this spec. @l

[2020-10-29 07:11] Burnsy commented on #1410
hey @thorwebdev,

[code]
it still does not work after these config changes.

```Event Error: No signatures found matching the expected signature for payload. Are you passing the raw request body you received from Stripe? https://github.com/stripe/stripe-node#webhook-signing```

I wonder what is happening inside of [@vercel/redwood](https://www.npmjs.com/package/@vercel/redwood) I bet the answer is

[2020-10-29 18:31] dthyresson opened #1413 "Add option to function generator to support Netlify background functions"
Netlify has added support for background functions.

`hello.js`

`hello-background.js`

See: https://www.netlify.com/blog/2020/10/29/announcing-background-functions/

Should RW add an option like `--background` to name the function according to this convention.

Of course, this case is Netlify-specific, but perhaps one can adopt this naming convention even when deployed to AWS Serverless, etc?

[2020-10-29 20:56] simoncrypta commented on #1380
I have the same error when I call a cell with a `QUERY` by `id` like

[code]
with a .stories.js file like
[code]
I'm not sure if is related, but seem like the real error is swallowed the same!

[2020-10-29 21:12] fveauvy commented on #1400
I think I found what was causing my issue.

https://github.com/microsoft/TypeScript/issues/27956

In my case, the errors occurred because my package.json specified a package named `@types/x`. The notification in the `Problems` tab disappeared as soon as I removed the dependency from package.json.

[2020-10-29 22:23] dthyresson commented on #1413
Also,

becomes camelized to `performBackground"

[code]

[2020-10-29 23:15] thedavidprice commented on #1400
Ah, rodger that. Doesn't look like there's a workaround for now, correct?

[2020-10-30 00:30] thedavidprice commented on #1413
I'm assuming that we'll see other providers add background job functionality as well. Without knowing how they'll handle config/convention, I +1 any implementation that feels general enough to allow for a possible extension to other providers.

For your idea here, DT, that might mean the option should be named `--background-netlify`. (maybe?)

Looking forward to seeing more of these types of infra

[2020-10-30 13:34] dthyresson opened #1420 "Cannot generate CRUD SDL for a Model that uses a compound unique id"
Consider this model:

[code]

Its unique `id` is a compound one made up of all three fields:

`  @@id([uri, rdfType, label])`

and in Postgres is:

![image](https://user-images.githubusercontent.com/1051633/97710722-8131bd00-1a92-11eb-84d9-7f3f9666d809.png)

However, when attempting to generate a SDL and service for this

[code]

I think because of:

[code]

in the sdl.js generator.

[2020-10-30 16:59] fveauvy commented on #1400
I think I found two workarounds by tweaking the _tsconfig.json_ file a bit. But please keep in mind that I'm certainly not a typescript wizard and you should took it with a pinch of salt 😄

Let's say I add `yup` package (schema validation helper) as well as its typed package to the redwood web side :
* `yarn workspace web add yup`
* `yarn workspace web add @types/yup -D`

### 1. Add a `types` prop

[2020-10-30 18:39] peterp commented on #1125
@cannikin Ah, I thought I responded to this. The tests and storybook will all continue to work as mock service worker is indy from the client.

[2020-10-30 22:45] Tobbe commented on #1345
Looks like this will be properly fixed in Prisma 2.11, and no workaround should be needed https://github.com/prisma/prisma/issues/4011#issuecomment-719659159

[2020-10-31 08:13] #1400 closed

[2020-10-31 09:55] dhausser opened #1421 "CLI command rw generate deploy <provider> documentation anchor links needs to be replaced for Netlify and Vercel"
CLI command rw generate deploy <provider> documentation anchor links needs to be replaced for Netlify and Vercel:

[redwood/tree/main/packages/cli/src/commands/generate/deploy/providers/netlify.js](https://github.com/redwoodjs/redwood/tree/main/packages/cli/src/commands/generate/deploy/providers/netlify.js)

Outdated anchor link:
`
  'See: https://redwoodjs.com/docs/deploy#netlify',
`
To be replac

[2020-10-31 14:20] dhausser commented on #620
- [x] Verify that the schema argument works.

Confirmed working according to the spec:
https://github.com/prisma/specs/blob/master/cli/README.md#arguments-1

![schema-argument](https://user-images.githubusercontent.com/24432220/97781558-9b4fc600-1b8c-11eb-9472-6662adc38e84.png)

[2020-10-31 17:35] peterp commented on #1303
I personally haven't experienced this either; I'm hosting mine API on` api.example.com` and my app on `app.example.com`

[2020-10-31 19:00] dhausser commented on #620
- [x] Add functionality to @redwoodjs/internal/src/config.ts that allows us to grab the schemaPath.
[@redwoodjs/internal/src/config.ts](https://github.com/dhausser/redwood/blob/add-schema-path/packages/internal/src/config.ts) updated with a schemaPath property.

- [x]  Add a function to @redwoodjs/api that creates adds this as an argument to "db" commands.
Updated the paths according to the config

[2020-10-31 19:06] jvanbaarsen commented on #340
Now that #423 is merged, I was wondering would it be an idea if you run `yarn rw g component Todo/Add` it would actually use the name of the component to see if there is a potential file structure in there (so the `/`). This would allow you to generate a loose component inside another component as parent.

So you would have something like:

[code]

[2020-10-31 20:13] lumenCodes commented on #1395
🤔

[2020-10-31 22:50] Tobbe commented on #620
It's a bummer that they revert each other!
If you wanted to test them both together you could try the `rwt copy` workflow instead of the registry emulation. Then you'd just build a complete new RW version and copy it over to your test project

[2020-11-01 00:09] #1421 closed

[2020-11-01 20:07] jvanbaarsen commented on #1395
I went ahead and gave this a shot. I wasn't able to find any tests that would cover this particular use case, so please let me know if/where I can add those.

[2020-11-02 12:32] dthyresson opened #1426 "Upgrade Supabase in auth package to supabase-js version 1.0"
Supabase has [released v1.0](https://supabase.io/blog/2020/10/30/improved-dx/)

Some changes are:

* signup() is now signUp() and email / password is passed as an object
* logout() is now signOut()
* login() is now signIn()

And

- Errors are now returned and not thrown
- Auth now uses `@supabase/gotrue-js` interface (hence the above)

Note: since the AuthClient interface remains the same, the Sup

[2020-11-02 13:49] paulogdm commented on #1410
@styfle Investigated this issue on our side:

[2020-11-02 22:05] cannikin opened #1427 "Emulate original cache-and-network Apollo behavior"
After discussion with the team today we have a plan for restoring Apollo's original `cache-and-network` caching policy. @peterp found this solution: https://github.com/apollographql/apollo-client/issues/6760#issuecomment-668188727

This issue is going to document my testing to make sure we're fixing what we think we are.

### 0.20.0 when creating a new record:

![0 20 0 create](https://user-images

[2020-11-02 22:08] dhausser commented on #620
@Tobbe The testing pass using the "Copy and Watch" method is complete and confirmed working 🎉

Screenshots attached below:

### yarn rw db generate
![generate](https://user-images.githubusercontent.com/24432220/97924561-2634ea00-1d60-11eb-8b4d-162e48dca91e.png)

### yarn rw db introspect
![introspect](https://user-images.githubusercontent.com/24432220/97924574-2a610780-1d60-11eb-9695-bff4ee51e1fd.

[2020-11-02 22:16] cannikin commented on #1427
I added the following code to the scaffold's index view `PostsCell`:

[code]

Now the behavior seems correct in the three cases:

### Creating a new record

![patch-create](https://user-images.githubusercontent.com/300/97925161-c6195600-1d15-11eb-8d4b-7420b2a40a86.gif)

### Updating a record

![patch-update](https://user-images.githubusercontent.com/300/97925175-ca457380-1d15-11eb-9043-6c50040dc64

[2020-11-02 22:36] cannikin commented on #1427
I can confirm this also works in my other app where I detected the problem with Apollo 3 `cache-and-network` originally (the flash of loading screen). The `nextFetchPolicy` works like the old Apollo 2 behavior.

[2020-11-02 22:54] Tobbe commented on #620
I'll let @peterp decide, but personally this solution is not 100% what I expected. But it's really close 👍
1. Right now (IIUC) it's still not possible to configure the file name, only the file path
2. With a name like `schemaPath` I'd expect it to point to the actual schema, not to the dir with the schema in it

My suggestion would be to keep the `schemaPath` name, but include the actual schema fi

[2020-11-02 23:23] virenb opened #1429 "Tutorial: Code block in 'Saving Data' section"
URL: [https://redwoodjs.com/tutorial/saving-data](https://redwoodjs.com/tutorial/saving-data)

In the Saving Data section of the tutorial, I believe two of the code blocks (attached) need to be updated with a self closing tag, for the component, Flash?

![Screen Shot 2020-11-02 at 6 19 32 PM](https://user-images.githubusercontent.com/10731287/97929897-389b2d80-1d38-11eb-8886-9467cb3faa39.png)
![Sc

[2020-11-03 00:56] thedavidprice commented on #1429
Hi @virenb Thanks for the help here. I believe the confusion is coming from how the `//...` is implying a placeholder for the rest of the block of code. These snippets are balancing between 1) showing what needs to be updated while 2) giving enough information to provide context without being overwhelming.

Take a look at the final code for `ContactPage.js` at the [bottom of the page](https://redw

[2020-11-03 01:14] Tobbe commented on #1429
@thedavidprice I actually think this is a valid issue.
@virenb I'll fix it tomorrow. Thanks for reporting

[2020-11-03 02:12] thedavidprice commented on #1429
Ah, understood and I misread. Thank you @Tobbe!

[2020-11-03 02:17] virenb commented on #1429
Hi all,
Sorry for creating the issue on the wrong repository.
@Tobbe, I'd be happy to update and create a pull request, if you'd like.

[2020-11-03 02:50] thedavidprice commented on #1429
@virenb Please do! We ❤️ new contributors.

[2020-11-03 08:32] dhausser commented on #620
Sure, thanks for the feedback. This is fixed by [parsing schemaPath to schemaDir](https://github.com/redwoodjs/redwood/pull/1424/commits/164e9cbf1552ffa784c3de35de6e4f82719efb98).

[2020-11-04 09:35] peterp opened #1433 "Add flag that allows database generation to be disabled in `yarn rw test`"

[2020-11-04 09:47] Tobbe opened #1434 "Deprecate `validation` in `<Form>`"
The `<Form>` component takes a `validation` prop, but it's really so much more. It's passed straight in to react-hook-form's `useForm` and can so take all the available config options, not just validation related.

This should be reflected in the name of the variable. Something like `formOptions` would fit with the already existing `formMethods`. The names of the respective TS types are `UseFormOp

[2020-11-04 12:19] hyliancoder opened #1435 "Orphaned comma breaking `yarn rw g scaffold` command when no field with `string` type is present in model"
# Bug report

## Describe the bug

I have a implicit many-to-many between my user and channel model. but the scaffold is failing.

I added a title field as string, because sniffing down the other instances of where that form is generated the `,` line its failing on (see step 3 below) should be `TextField`, via this import line used on any generated forms `import { Form, FormError, FieldError, Labe

[2020-11-04 12:32] Tobbe commented on #1435
![image](https://user-images.githubusercontent.com/30793/98112242-29d08a00-1ea2-11eb-8797-c89237cd4c1a.png)

[2020-11-04 15:57] hyliancoder commented on #1435
https://github.com/redwoodjs/redwood/pull/1436

[2020-11-04 18:00] cannikin opened #1437 "Prisma to support setting a foreign key like any other field - update scaffolds"
https://github.com/prisma/prisma/issues/2152

This means we can include a `TextField` input for any foreign key relationships on a model and can create related records correctly, instead of hacking the foreign-key-to-prisma-connect-syntax hack that we [thought about adding](https://github.com/prisma/prisma/issues/2152#issuecomment-621375111).

[2020-11-04 18:05] #1427 closed

[2020-11-04 20:06] #1395 closed

[2020-11-04 21:50] aldonline opened #1438 "Generate Entity Relationship Diagram (Database Schema Visualization)"
# Idea

* Provide a built-in way to generate an Entity Relationship Diagram from schema.prisma (or directly from the database)
* Make it easy to access for Redwood developers
  * `rw erd` (ERD = Entity Relationship Diagram)
    * Generates a diagram and opens an image/svg or maybe an interactive webapp
  * in VSCode `Redwood: Open Entity Relationship Diagram`
    * Same as above, but opens the dia

[2020-11-05 10:35] AntonioMeireles opened #1439 ""TypeError: Cannot read property 'client' of undefined" in latest canary"
Hi all,

from `0.20.1-canary.17` upwards getting locally ...

[code]

[2020-11-05 10:39] AntonioMeireles commented on #1439
spotted issue. PR in a bit

[2020-11-05 12:40] #1439 closed

[2020-11-05 15:04] thedavidprice opened #1443 "Prisma 2.11.0 (currently dev relase) fixes the binaryTarget deploy issue: Can remove CRWA Rhel Openssl target"
## To Do
When we upgrade to Prisma v2.11, we can revert `schema.prisma` to `binaryTargets = "native"`. It's not necessary, but after adding Rhel Openssl we did start experiencing issues with the built API size being too large to deploy in a few cases. Never fully diagnosed but could be related.

## Background
Something in Prisma 2.8 changed how query engines were built at deploy, which required us

[2020-11-05 15:09] nikolasburk commented on #1438
Note that there are currently two open source tools that do something similar:

- [emyann/prisma-uml](https://github.com/emyann/prisma-uml)
- [notiz-dev/prisma-dbml-generator](https://github.com/notiz-dev/prisma-dbml-generator) ([more info](https://notiz.dev/blog/prisma-dbml-generator#dbml-generator))

[2020-11-05 15:50] viperfx opened #1444 "Configure what files generate command creates"
As the application grows, one might need to change the content of what the commands generate, or if just by design, wanting to avoid creating tests or storybook files for certain generate commands.

**Suggestion for the command options**
[code]

**Suggestions for the global options via config**

[code]

Credit to @dthyresson for the [command and config suggestions](https://community.redwoodjs.com/

[2020-11-05 16:29] thedavidprice commented on #1437
Once these changes are made, we'll also need to update:
1. [Schema Relations Doc](https://redwoodjs.com/docs/schema-relations): just delete and/or update with helpful links and the video recording by Ryan C.?
2. Remove the [output warning when the CLI Scaffold Generator](https://github.com/redwoodjs/redwood/pull/984) is run

[2020-11-05 18:04] jvanbaarsen commented on #1444
@dthyresson Is this something that PRs will be accepted for? Or still in the proposal stage?

[2020-11-05 18:29] jvanbaarsen commented on #784
@cannikin I think this issue can be closed since the PR has been merged, correct?

[2020-11-05 19:16] jvanbaarsen commented on #916
I took the liberty to pick up this issue, please let me know if someone already made progress on this because in that case I'll close my PR.

[2020-11-05 20:54] dthyresson commented on #1444
@jvanbaarsen good question ... I added the "discussion" label so perhaps we can get some feedback from @peterp or @thedavidprice or @cannikin

I think if it touches the toml, then probably some rounds on what that structure would be as well as the naming and option commands.

[2020-11-05 20:56] dthyresson commented on #1444
I am also not convinced it needs to be in toml, but perhaps just as options to the generator. Though I see why it would be cumbersome to add the flag each time ... but I do that with ``--crud` on my sdl/services often.

[2020-11-05 23:25] cannikin commented on #1224
After playing with this I have a couple of ideas...

What about using the nomenclature of "fixtures" for sample data that's inserted in your database at test time. At the top of a service could be a constant containing fixture data related to the service that's being tested:

[code]

Kind of feels similar to Cells where we have a constant at the top of the page that deals with "data".

And then we

[2020-11-05 23:42] cannikin commented on #1224
Hmmmm I'm getting this error when trying to run a test that contains a one-to-many relationship:

[code]

I'm not deleting anything in my test though...is this some of our own code trying to reset the database at the end of a run? It doesn't seem to like doing that when tables are related. Maybe we need some way to define what order records should be deleted in?

Or do we skip all of that and just

[2020-11-06 07:18] RobertBroersma commented on #1224
@cannikin We try to delete everything in the DB here: https://github.com/redwoodjs/redwood/blob/main/packages/core/src/configs/node/jest.setup.js

Rationale is that deleting everything in the DB takes way less time than dropping, recreating and migrating a new DB for _every_ test.

That snippet has caused issues before already because it's quite hacky...

It would be great if Prisma included a com

[2020-11-06 17:01] cannikin commented on #1224
I was thinking about this more this morning while waiting to pre-order my iPhone!

Taking a page from Rails, what we if automatically wrote all fixtures to the database for you? For example, if you export a `FIXTURES` object we'd stick those in the database for you at the beginning of the test, using the name of the test file as the name of the model. This feels conceptually similar to the mocks i

[2020-11-06 17:04] #784 closed

[2020-11-06 19:51] cannikin commented on #1444
Yeah I was thinking the other day we should probably add flags for each generator for all the individual components and default them to `true` which would preserve the current behavior. Then yargs gives you the `--no-` variant for free.

Being able to set those options permanently in a config file somewhere makes sense. `redwood.toml` seems like the most logical location to me!

[2020-11-06 20:36] dac09 opened #1453 "redirectTo in router does not maintain query params"
Say we have a private route `/dashboard` which we navigate to with the query params `https://mysite/dashboard?param1=yes&param2=asbcd`.

Redwood will redirect to the login page, with the param `redirectTo=/dashboard` and won't conserve the url params.

---
Expected behaviour: conserve url params in redirectTo

[2020-11-06 22:20] cannikin commented on #1224
Yeah that code that tries to clean up the database isn't going to work: we need to delete records in a certain order (the **many** of the one-to-many side, for example). Prisma enforces those relationships with foreign keys constraints that won't let the records be deleted in the wrong order.

[2020-11-06 22:29] cannikin commented on #1224
Do tests *inside* a single test file run simultaneously as well? I'm seeing all kinds of weird behavior that I can't explain. We need to discuss on Tuesdays...testing services (more than one service) is BRUTAL right now. Even the output is confusing... what does this mean? It show FAIL next to the comments test, but the two failures are listed as `posts` tests, then at the end it has a PASS next t

[2020-11-07 13:27] Tobbe commented on #1435
Thinking about this some more I'm not sure this is a usecase we should support. So instead of generating broken code, a message could be printed about not finding any editable fields, and then exit the generator before generating any code.

Haven't fully decided yet, but that's the way I'm leaning right now.

[2020-11-07 17:10] RobertBroersma commented on #1224
I believe so

I have seen these kinds of strange things before where passing tests result in errors and whatnot. It's one of the reasons I'm balding I think.

[2020-11-07 19:11] jvanbaarsen commented on #1444
@cannikin Can you assign this one to me? I'd like to work on this, feels like a nice "Good first issue"

[2020-11-07 19:16] jvanbaarsen commented on #1444
@cannikin I'm I correct in thinking that the following generators would need to have flags:
- [ ] Cell
- [ ] Component
- [ ] layout
- [ ] page
- [ ] scaffold
- [ ] service

I think the other ones either only have one template file, or are not really useful to ignore.

[2020-11-07 19:16] cannikin commented on #1444
Yup that list sounds right to me

[2020-11-07 19:26] dthyresson commented on #1444
Not this changes this feature request, but I have started using @aldonline 's Redwood IDE and using it vs the explorer to navigate cells, pages, etc in VS Code and that it omits those test and stories in the tree, I am much more apt to leave those generated files because I *know* that I *should* write tests and stories ... and there is not a great way to stub out generate those files after the fac

[2020-11-07 19:49] jvanbaarsen commented on #1444
@dthyresson I actually really would like this option for myself, since I don't write stories for every component. See my question about this on the forum for more context: https://community.redwoodjs.com/t/when-do-stories-make-sense-for-pages/1380

[2020-11-07 19:54] dthyresson commented on #1444
@jvanbaarsen Oh, I agree with you. It will be a nice option to have -- I just wanted to put in the history of the issue that there can be another perspective.

I actually think I would want stories just for cells and components -- and not so much layouts and pages.

So this feature will help me not to generate those  :)

[2020-11-08 08:46] Tobbe opened #1455 "Switch out @apollo/client for smaller bundle size"
I ripped out @apollo/client from @redwoodjs/web and implemented a super basic graphql client on my own instead. I then created two RW apps with the two different graphql clients to compare sizes

With @apollo/client
[code]

With the custom RW client
[code]

So almost half the bundle size just by switching out our graphql client.
I think it's worth thinking about what we really need/want to ship by

[2020-11-08 11:18] noire-munich commented on #1196
Hello here,

Ok so I stumbled on this issue pretty recently and after a check, my `schema.prisma` looks ok :

[code]

But! Being most of the time on the fishy side of things, it was not enough. I believe it was @jtoar who posted on another thread ( can't find which :-\ ) the very useful following commands to investigate :

[code]

Which showed that my `graphql.zip` is 52mb, 2mb above the limit set

[2020-11-08 16:42] #1435 closed

[2020-11-08 17:14] dthyresson opened #1456 "Redwood IDE - Consider adding outline section for "lib" where auth and shared code exists"
I have been using the redwood IDE on a larger project with over a dozen services, sdls, functions etc.

I often have some shared code that is not in services and not in functions.

I have been putting it -- for better or worse -- in `lib` which is also where the `auth.js` authentication utilities to `getCurrentUser` and `requireAuth` get generated and live.

Currently, the IDE outline does not inc

[2020-11-08 17:56] Tobbe commented on #1196
I've seen this come up a few times recently. (About the size limit.) Can't remember exactly where though 🤔 And the `binaryTarget` value has been back and forth between `"native"` and `"rhel-openssl-1.0.x"`. There has also been some deployment issues with Netlify with different versions of Prisma 🤷‍♂️ To be honest I don't know what the current status is 🙁

[2020-11-08 18:06] Tobbe commented on #1196
Look at the issue link posted right above your comment, to issue #1385 😉

This is related https://github.com/redwoodjs/redwood/issues/1345

This is probably even more related, this discussion on Discord https://discord.com/channels/679514959968993311/716252919875240007/772837339059716137

[2020-11-08 22:54] KrisCoulson opened #1457 "Add DateTime to transformValue in forms"
When working with forms it is quite a nuisance when dealing with Dates. Currently, Prisma only accepts dates as ISO strings. If you use the `<DatetimeLocalField />` from the form package you will receive an error by default.

```Expected type "DateTime". DateTime cannot represent an invalid date-time-string 2020-11-19T14:50.```

You eventually have to transform it yourself before submitting that d

[2020-11-09 11:10] Tobbe opened #1458 "Publish PR packages to NPM"
Currently whenever a PR is merged a "canary" package is automatically published to npm. This is a super nice feature! I'd like to suggest we expand this to also automatically publish PR packages as soon as a PR comes in (and it passes all tests).

This idea originally came up in chat, so here's the transcript

The need/want for this recently came up again here https://github.com/redwoodjs/redwood/

[2020-11-09 11:20] jeliasson commented on #1458
This would indeed be super helpful. Some features may require additional time to complete (discussions, reviews, documentation) so having something to test and target PR packages before it hits the main branch (canary or release) would be a game changer. 👏🏻

[2020-11-09 13:49] Tobbe commented on #1458
After some discussion with @peterp we decided that we don't want to publish packages to npm. One reason being that they're difficult to delete and manage.

But we do want to make it easier to test and demo code that's in a PR. We are open to suggestions on how to do this that doesn't involve publishing to npm. In addition to installing from the npmjs registry, npm can also install from GitHub repo

[2020-11-10 00:38] andrew-hwahin commented on #1310
Thank you @jeliasson for implementing the Azure authentication into RedwoodJS! 🙏

Can't wait to use it! 🤩

[2020-11-10 01:14] cannikin commented on #1224
Worked on some stuff with @mojombo this afternoon and I'm recording this here for posterity... another possible way to define fixtures. Uses the target model as the root key in the object (`comment`) and then gives each fixture a name with the second level key:

[code]

This would allow us to:

1. automate creating the fixtures because we can derive the model name from the object
2. reference the

[2020-11-10 02:42] viperfx opened #1460 "useMatch does not match against query params"
When using a Link that does routing with a query params such as `routes.home({filter: "DASHBOARD"})`, this matches for all home routes and does not distinguish between query params

[2020-11-10 08:04] Tobbe commented on #1460
Could you provide a small reproduction example please?

[2020-11-10 14:14] #916 closed

[2020-11-10 20:21] viperfx commented on #1460
When using a link like so

[code]

it produces a URL like so /feedback?filter=IDEA and /feedback?filter=ISSUE

When using `const matchInfo = useMatch(to)` and passed in an example like the above, it matches for /feedback/ but ignores the query params

[2020-11-10 22:58] cannikin commented on #1224
IT'S HAPPENING  https://github.com/redwoodjs/redwood/pull/1465

[2020-11-11 22:05] #620 closed

[2020-11-13 13:14] jeliasson opened #1473 "Redwood IDE - Missing the Redwood Outline in Project Explorer"
I can't seem to get the Redwood IDE Outline to show up in a RW project. A restart of VS Code do not help. Anyone know what I'm missing? 😊

![image](https://user-images.githubusercontent.com/865493/99075547-f2f12700-25b9-11eb-8326-a222b38794be.png)

/cc @aldonline

[2020-11-13 14:00] dthyresson commented on #1362
My current workaround is to add to my Layout:

[code]

[2020-11-13 14:02] Tobbe commented on #1362
This is a good write-up about things to consider
https://oaf-project.github.io/oaf-react-router/

[2020-11-13 14:03] dthyresson commented on #1362
Could/should

[code]

be added to Router `history.js`

[code]

[2020-11-13 16:35] #1458 closed

[2020-11-13 19:11] dthyresson commented on #965
I'm considering for 1.0 that this be a Cookbook rather than an implementation.

I have been using it in a few projects, an the setup is quick.

Actually -- maybe it is a setup command?

[2020-11-13 20:49] Tobbe opened #1476 "AccessDenied for downloading PR build artifacts"
This is what I see when I try to download a PR build artifact

![image (8)](https://user-images.githubusercontent.com/30793/99119707-e987af00-25f9-11eb-8118-e4c7e174ba3d.png)

Going past that, I get this

![image (9)](https://user-images.githubusercontent.com/30793/99119717-ef7d9000-25f9-11eb-9cc0-c1e7f6791739.png)

I think the s3 policy needs to be updated. This is what I used on my bucket
[code]

[2020-11-13 21:12] Tobbe commented on #1476
You can see an example of the behavior here: https://github.com/redwoodjs/redwood/pull/1477#issuecomment-727037162

[2020-11-13 23:34] jeliasson commented on #1476
@Tobbe FQDN `rw-pr.redwoodjs.com.s3.amazonaws.com` is not covered by `*.s3.amazonaws.com` (wildcard covers one level). I suggest using `rw-pr-redwoodjs-com.s3.amazonaws.com` or similar. I'm surprised that AWS even allows using dot in their buckets.

[2020-11-14 08:38] Tobbe commented on #1476
Isn't that what I already have? Or did I misunderstand you?

Yeah, I merely pasted what I had used for my bucket when I set this up for my own fork. I don't have access to the RW s3 bucket, so can't configure the policy, or control the name of the bucket.

[2020-11-14 08:46] jeliasson commented on #1476
I don't see any 'Sid' in the Policy you commented. However, if that was from the previous bucket that worked then I guess it's not needed.

cc @peterp? :)

[2020-11-14 10:43] noire-munich commented on #1196
AFAIK the current status is "solved but still poppin' ", I fixed it using different binaries on local and on prod - until we have a reliable fix provided :-\.

On prod, the `"rhel-openssl-1.0.x"` seems to be the one to use. Both make for a good 29mb in the archive, so it's best to pick only one.

[2020-11-14 11:48] chasak opened #1478 "VS Code Extension wont load in remote - ssh mode."
Redwood vscode extension wont load when I use it with remote - ssh extension. The error says
"Cannot activate the 'Redwood IDE' extension because it depends on the 'Browser Preview' extension, which is not loaded. Would you like to reload the window to load the extension?"
If I reload the window again, the issue pops up again.

[2020-11-14 12:39] Tobbe commented on #1476
Yeah, I looked at yours, and thought that was mine... 🙈

[2020-11-14 17:15] viperfx commented on #1478
Ive noticed this in WSL mode on windows too. The extension is unusable for me, and I get the exact message you mentioned.

[2020-11-15 21:05] Tobbe opened #1479 "Lock auth client versions"
Currently when running the auth generator we add the relevant client library to the user's `web/package.json`, like this `packages/cli/src/commands/generate/auth/providers/supabase.js:export const webPackages = ['@supabase/supabase-js']`

The problem is that we don't specify a version for, in this case, the supabase client library. So when a new version is released our generated code might break.

[2020-11-15 21:22] Tobbe opened #1480 "`g auth`: Don't overwrite without asking"
This is what my `web/package.json` file looked like
![image](https://user-images.githubusercontent.com/30793/99197013-ecb4a380-278f-11eb-80b3-fea16eecc5e1.png)

Then I ran the supabase auth generator, and without warning and without asking, this is what I ended up with
![image](https://user-images.githubusercontent.com/30793/99197109-b62b5880-2790-11eb-9805-c6084c69d872.png)

I think the generator

[2020-11-16 12:10] Tobbe opened #1482 "Don't generate broken code for scaffolds"
If you try to run the scaffold generator for a model with no editable fields the generated code will be broken (unused imports and syntax error in import statement)

Instead of generating broken code, a message could be printed about not finding any editable fields, and then we exit the generator before generating any code. Should probably also provide a `--force` option to run the generator anywa

[2020-11-16 12:27] Tobbe commented on #1476
@cannikin Could you change the bucket name, and make sure it has the correct policy?

[2020-11-16 12:54] dthyresson opened #1483 "Add parsed search params to Router's useLocation"
Please see this [discussion on Discourse](https://community.redwoodjs.com/t/netlify-identity-redirect-after-login/1455):

https://community.redwoodjs.com/t/netlify-identity-redirect-after-login/1455

It came up that a pattern to redirect the user after a login challenged could be done via something like:

[code]

@Tobbe proposed that instead, perhaps the parsed `searchKeys` or some other better na

[2020-11-16 14:36] Tobbe commented on #1483
There are a few options to choose between here

[code]

\+ Backwards compatible
\- Permanently adds bloat to useLocation
\- The (probably) most used option gets the longer and "uglier" name

[code]

\+ The (probably) most used option gets the most obvious name
\+ rawSearch can be marked deprecated and removed in a future release when everyone has been given the chance to move their implementation

[2020-11-16 18:50] Tobbe commented on #1476
It works now, see for example here https://github.com/redwoodjs/redwood/pull/1484#issuecomment-728244658
(bucket name and policy were updated)

[2020-11-16 18:50] #1476 closed

[2020-11-17 22:59] viperfx opened #1487 "Two web workspaces with a shared api workspace."
I currently have a use case with an existing redwood application where I want to share the same API project and database with two web front-ends. So I want to have two web workspaces.

The reason I need to do this is that I want to use redwood with multi-tenant portal. Where the admin is hosted at app.mydomain.com but I also want to serve a customer portal at customer1.mydomain.com, customer2.mydo

[2020-11-18 04:23] peterp commented on #1487
Hey @viperfx ,

Is the customer (web) side also built in Redwood, or with some other framework?

[2020-11-18 04:25] peterp commented on #1479
@Tobbe Yeah, I agree, makes total sense.

[2020-11-18 04:33] dthyresson commented on #1479
This also introduces an inverse consideration: how to recognize when to bump versions. But that can be solved by process - watching the auth providers to see when enhancements warrant a bump.

But, agree — should lock. We saw unexpected behavior with Tailwind setup when it could bump PostCSS and it did not play well with others in RW.

[2020-11-18 04:35] viperfx commented on #1487
Hey @peterp

sorry I should have clarified. My plan is to build the customer web side is also built with redwood, given I can figure out how to share the API. I think it makes sense, since I can share a good amount of code and will help with speed of development.

[2020-11-18 19:41] viperfx commented on #1487
Let me know if you need more info @peterp

[2020-11-18 19:48] Tobbe opened #1489 "query-engine-rhel-openssl-1.0.x is opened in notepad when I create or upgrade a Redwood app"
Whenever I run `yarn create redwood-app` or `yarn rw upgrade -t canary` Notepad is launched showing the file `query-enginge-rhel-openssl-1.0.x`, see screenshot below

![image](https://user-images.githubusercontent.com/30793/99579708-d7818400-29de-11eb-9518-9353b1df655f.png)

[code]

[code]

Doesn't seem to affect anything. It's just annoying and weird 🤔

[2020-11-18 22:59] Tobbe opened #1490 "Can't run `db save` if project has spaces in path"
1. I set up a new RW project at `/c/Users/tobbe/dev/redwood/rw tut`.
2. `yarn rw upgrade -t canary`
3. Follow the tutorial until it's time to save the schema migration
4. Run `yarn rw db save create posts`

This is the output I get

[code]

[code]

[2020-11-18 23:07] Tobbe commented on #1489
Just happened to me again, this time when running `yarn rw db up`. So things point towards Prisma...

[2020-11-19 18:43] dthyresson opened #1493 "Redwood Tools Copy (rwt cp) fails in canary release when project path includes spaces"
See below for error when invoking:

`yarn rwt cp ../redwood`

Issue in `copyFiles` of the `redwood-tools.js` cli command when path includes spaces (or other problematic characters).

Note: this issue is in the 0.20.1 canary 36 release.

[code]

[2020-11-19 19:57] #1490 closed

[2020-11-19 20:13] #1278 closed

[2020-11-19 20:29] dthyresson commented on #1493
This issue is not an issue. I introduced an issue in the internal package to endure Posix paths when implementing/trying fixes for issues #1278 and #1279 that was not necessary and was reverted.

Have confirmed that `rwt cp` works with 0.20.1-canary.38.

Closing issue.

[2020-11-19 20:29] #1493 closed

[2020-11-19 20:30] #1279 closed

[2020-11-19 20:48] dthyresson opened #1496 "Out of memory error when invoking Storybook"
When running

`yarn rw storybook`

I get a success:

[code]

But then a memory error:

[code]

Redwood Info

[code]

Note: running a canary release because it fixes an issue where I could not run Storybook dues to having a space in my command path

[2020-11-19 20:57] peterp commented on #1489
Woah, this is super strange :/

[2020-11-19 21:09] Tobbe commented on #1489
![image](https://user-images.githubusercontent.com/30793/99724282-b0e14d00-2ab3-11eb-9ea7-73ae087a40f6.png)

Ran `db up` again, and it happens at the end, when, or after, running `prisma generate`

[2020-11-19 21:12] Tobbe commented on #1489
Manually running `prisma generate` directly causes the same behavior. So maybe shouldn't really blame Redwood here...

[2020-11-19 21:18] Tobbe commented on #1489
This is one fix for the problem...
![image](https://user-images.githubusercontent.com/30793/99725294-2e598d00-2ab5-11eb-9be8-360c9d6d5561.png)

[2020-11-19 21:36] Tobbe commented on #1489
I opened an issue with Prisma as well, see if they have any ideas https://github.com/prisma/prisma/issues/4308

[2020-11-19 22:16] mahemoff commented on #651
I had a similar issue. Adding back the `.env.defaults` as above fixed it.

[2020-11-20 16:21] dthyresson commented on #1496
I've determined the root cause -- and as with several other recent issues, it has to do with spaces and other problem characters in my path.

I believe that Storybook was trying to look at some other very "root"-like or user paths for stories which could contain a huge number of files and the splat simply caused on out of memory error while traversing it.

The following change from:

` `${getPaths

[2020-11-22 03:57] andrewlamyw commented on #534
May I know what do I need to tweak to allow access from my phone to the local dev server?

[2020-11-22 08:30] andrewlamyw commented on #133
👋Hi, may I know where shall I put the `manifest.webmanifest` file?🙏

[2020-11-22 08:55] peterp commented on #1487
@viperfx Unfortunately at this point it's easily doable - we have a concept called "sides," but we haven't expanded the `redwood.toml` file to introduce more than `web` or `api`

[2020-11-22 08:56] peterp commented on #1487
@viperfx If you're interested in contribution that - I could help you introduce that feature.

[2020-11-22 09:16] andrewlamyw commented on #133
Other than adding `manifest.json` in the `web\public` folder, what else do I need to tweak to make it work?

[2020-11-22 10:34] Tobbe commented on #133
There has been some more PWA talk in both the forum and in other issues and PRs. Here are a couple of links
https://community.redwoodjs.com/t/offline-support/1305
https://github.com/redwoodjs/redwood/pull/1372

Does any of the existing discussions answer your question?

[2020-11-22 14:43] viperfx commented on #1487
Sure - that sounds great! Would like to contribute that. I am available on
the discord under the same name, if you need to contact me

On Sun., Nov. 22, 2020, 03:56 Peter Pistorius, <notifications@github.com>
wrote:

[2020-11-23 00:01] viperfx commented on #947
Hey all - just wanted to add my 2cents and experience with self hosting.

I had trouble using the netlify auth provider under a self hosted setup. I am using the api-server under pm2.

Ive started a thread on the forums here - https://community.redwoodjs.com/t/redwood-api-server-context-creation-failed/1493

Is this a known issue or is there something going wrong unexpectedly? [I did notice that n

[2020-11-23 00:08] viperfx commented on #1444
Progress on this looks great so far 👍

@jvanbaarsen are you still planning to have global settings inside a TOML? Still feel it would be useful to have default generator behavior defined there.

[2020-11-24 03:56] viperfx opened #1511 "Add disableHostCheck to config - support for WSL2 localhost to aliased host"
I have a use case where I am running my web app on WSL2 and I can access on the windows host through localhost just fine.

My application needs to be developed to expect a subdomain host to the WSL2 IP. But adding the WSL IP to the hosts file. So I can access RW via a URL like portal.rwapp.local.

I have also set the host in the TOML file to 0.0.0.0.

I am able to access the API server, however th

[2020-11-24 08:22] Tobbe commented on #1511
I haven't tried myself, but maybe try `yarn rw dev --fwd="--disableHostCheck=true"`

Read more here https://github.com/redwoodjs/redwood/issues/534

[2020-11-24 11:16] jvanbaarsen commented on #1444
@viperfx Yes :-) I'm doing this in between my day job tasks in. So it will take a bit to complete. This week I have vacation (And are not planning on doing any programming 😉) So I'll start working on this again next week!

[2020-11-24 14:49] viperfx commented on #1511
Works perfectly! Glad to know it's been solved already!

[2020-11-24 14:49] #1511 closed

[2020-11-26 11:58] #1297 closed

[2020-11-26 12:37] dthyresson opened #1517 "Documentation: Forms - Document use of SelectField"
While SelectField was [added to the forms package](https://github.com/redwoodjs/redwood/blob/main/packages/forms/src/index.tsx#L341), it is missing documentation.

![image](https://user-images.githubusercontent.com/1051633/100351856-1bb1ed00-2fba-11eb-85f9-eef9c691fe20.png)

Needs example with validation and error handling as well.

[2020-11-26 16:57] dthyresson opened #1518 "CLI - Browser Open Command - Localhost default"
From a discussion thread on Discord:

The developer [configured the web host](https://github.com/redwoodjs/redwood/blob/53349fd121f9198a8fdb5c0217cec8c4f8b6badd/packages/core/config/webpack.development.js#L19) and port in redwood.toml:

[code]

https://github.com/redwoodjs/redwood/blob/53349fd121f9198a8fdb5c0217cec8c4f8b6badd/packages/core/config/webpack.development.js#L19

But when using the `ope

[2020-11-27 20:00] viperfx opened #1527 "Add logging when a page is visited on web side."
As the application grows, and as usage of multiple cells and queries within a page grows, it's easy to lose track of how many GraphQL queries are being executed on a page.

I would like to see a log of a route change to the web side.

Note the addition of **web | GET /page 200 95.673 ms - 200**

[code]

[2020-11-28 01:11] viperfx opened #1529 "Redwood IDE does not work or show outline"
I believe the issue is because I am on WSL2.

[2020-11-28 18:05] dthyresson commented on #1527
These seem like two issues with different possible solutions.

Logging to the development dev server output in dev assumes that the request are sequential and no other route or page will load and initiate graphql calls while the first "get" has finished. That is, you won't necessarily be able to guarantee that counting the /grahpql posts means the prior web route initiated it.

If you want to log

[2020-11-28 18:12] dthyresson opened #1531 "Documentation - Forms - dataType deprecated in favor of transformValue"
While searching a Discourse support question about how to handle SelectField integer value, it was noted that one should use `transformValue`.

However, the documentation still says to [use `dataType`](https://redwoodjs.com/docs/form#datatype):

https://redwoodjs.com/docs/form#datatype

I think that the `transformValue` may refer to this future case as the code warns that `dataType` is deprecated:

[2020-11-28 19:17] jvanbaarsen commented on #1400
I'm still seeing this issue with Redwood 0.21. Can it be that no workaround has been pushed upstream? I only have this problem when I run `yarn tsc -p ./api`.

Can that have something to do with this note in the docs?
![image](https://user-images.githubusercontent.com/1362793/100524219-a6f7d200-31b6-11eb-8b07-dc7f9242f806.png)

I'm having very few TS experience, so good chance I'm doing something

[2020-11-29 21:28] Tobbe opened #1532 "useMutation options info is lost with new BYO gql client implementation"
Before (this is from v0.20.0):

![image](https://user-images.githubusercontent.com/30793/100553803-6076a600-3290-11eb-9fcc-e7f95eda359c.png)

![image](https://user-images.githubusercontent.com/30793/100553805-68364a80-3290-11eb-8633-4691aa491e0d.png)

Now (this is from v0.21.1-canary.9):

![image](https://user-images.githubusercontent.com/30793/100553679-6d46ca00-328f-11eb-830b-455dc28f85b5.png)

[2020-11-29 21:36] Tobbe opened #1533 "scaffold generator might generate invalid code"
This is from `Names.js.template`

[code]

If the user has plugged in his own GQL client (i.e. not Apollo Client) the code generated from the template above might not be valid. Whatever GQL client the user has might not have the `refetchQueries` option.

I think we should remove Apollo Client specific code from the templates and/or make those options mandatory in the interface for the `useMutation`

[2020-11-29 22:27] Tobbe commented on #1532
If I make it a `.tsx` file it's even worse. Then it won't even compile

![image](https://user-images.githubusercontent.com/30793/100555256-7ee19f00-329a-11eb-9356-8f0eca15a4aa.png)

[2020-11-30 11:59] dthyresson opened #1534 "Prisma - Service generators findUnique replaces findOne"
Prisma will deprecate findOne in favor of findUnique in 2.12

https://www.prisma.io/docs/concepts/components/prisma-client/crud

Service generators should use findUnique as a result:

https://github.com/redwoodjs/redwood/blob/75b609c17ed036dcd9ba647f927499fbfcfe9692/packages/cli/src/commands/generate/service/templates/service.ts.template#L14

[2020-12-01 15:49] dac09 commented on #753
Bump. This seems to still be an issue, hadn't noticed because I had optimisations enabled on netlify.

I can definitely see the unminified CSS, and maps generated.

[2020-12-01 18:07] viperfx commented on #1527
Yes, that's prob a better idea. I suppose this is on the larger topic of how do we keep aware of how expensive the graphql calls are? I think not just counting the calls, but also timing wise and more SQL optimization. Maybe there is another tool with graphql to do this?

This could just be premature optimization on my part.

[2020-12-02 02:12] ryanmdoyle commented on #1534
Ok, I've contributed once to the .com repo, but not here yet. I'd love to take a shot at this.

With a quick look, this is the only file that needs changing here I believe? Then the documentation on the site would also need updating. If that sounds right I'd love to help, looking for something to get started with.

[2020-12-02 11:12] #1426 closed

[2020-12-02 11:26] Tobbe opened #1537 "Add OAuth support to Supabase"
Now that we have upgrade to Supabase 1.0 we should look in to adding OAuth support. See https://supabase.io/docs/client/auth-signin#sign-in-using-third-party-providers

[2020-12-02 11:27] Tobbe opened #1538 "Supabase MagicLink support"
Now that we have updated to Supabase 1.0 we should look in to adding MagicLink support as well. See https://supabase.io/docs/client/auth-signin#sign-in-with-magic-link

[2020-12-02 20:26] ryanmdoyle commented on #1534
@dthyresson

It looks like there are a number of breaking changes that need to be updated for 2.12 in addition. I see there are some top-level Prisma methods that need to be prefixed with the $. "For example, prisma.transaction became prisma.$transaction" Some of those might be affected, I'm not familiar enough with the codebase.

It also looks like there is also a deprication of some Prisma names

[2020-12-02 20:35] dthyresson commented on #1534
I've labelled this as needs discussion and and bringing in @thedavidprice as he has more experience upgrading Prisma than I do.

[2020-12-03 08:58] guledali opened #1542 "Ideas) build-in string and array methods shipped with redwoodjs?"
ruby programming language has a lot of nice utilities

String.empty?

For example the string
[code]
We could add isEmpty as string method that checks if the string is empty.

Similar to get the first value from an array

Array.first would be same as doing

[code]

![monkey-patching](https://user-images.githubusercontent.com/20647282/101008385-fc8b0080-3561-11eb-8b98-1e5f8f4cfef7.png)

I just reali

[2020-12-03 13:39] #1542 closed

[2020-12-03 18:45] toxsick opened #1543 "Handle multipart image upload in a function"
Hey guys,

first of all thanks for redwood, it is a delight!

I spend a few hours trying to get a multipart image upload function working, but the uploaded images are always corrupted. First I tried to use multer (with express and serverless), but because [it seems to have problems](https://github.com/expressjs/multer/issues/770) with lambda I tried other libraries like `lambda-multipart-parser`:

[2020-12-04 09:21] peterp commented on #1543
Hey @toxsick,

That could be the case - we're emulating aws' lambdas and it could be that this is something I didn't make provision for yet.

[2020-12-04 09:22] peterp commented on #1543
My gut feeling is that we don't have all the correct things in `event` to allow that multipart library to work.

[2020-12-04 10:37] jvanbaarsen commented on #1444
I just realise that Scaffolding doesn't have any tests or stories. So no flag is required there. I'll put the PR up for review.

[2020-12-04 10:39] jvanbaarsen commented on #1444
@viperfx The Global setting is something I'd like to add after the flags have been merged.

[2020-12-04 10:41] toxsick commented on #1543
Mhhh alright, my previous approach with multer was something like this, but the resulting file was even more broken (file size didn't match):

[code]

@peterp because there seem to be some problems around multipart upload and lambda this could be the case here too. One thing that comes up is that for AWS users have to enable "Lambda Proxy Integration" ([some issue](https://github.com/francismeynar

[2020-12-04 10:55] jeliasson commented on #1473
I think this issue is strongly related to the WSL setup (this was WSL 1 and WSL 2 don't seem to be any difference). I'm closing this in favor of #1529.

[2020-12-04 10:55] #1473 closed

[2020-12-04 11:03] AntonioMeireles commented on #1400
@thedavidprice,

could we keep this open until a canonical solution is found ?

FWIW the "Modify the `typeRoots` property" referenced [above]( https://github.com/redwoodjs/redwood/issues/1400#issuecomment-719673834) doesn't seem to work at all. OTOH adding the empty `types` trick does make the error go away. It's not clear to me also if this is the right way to do it (as it seems at odds with MS d

[2020-12-04 22:52] toxsick commented on #1543
just for reference: https://community.netlify.com/t/functions-issues-parsing-images-from-multipart-form-data/3068/23

[2020-12-05 00:10] bennettrogers opened #1550 "Generators don't work if the api folder is missing"
I'm trying to start a new Redwood project that won't need the API side. Following the cookbook, I've deleted the `/api` folder and re-run `yarn install`. Now when running any generator command I get:

`Error: ENOENT: no such file or directory, scandir '{projectdir}/api/src/functions'`

Running Redwood without the api side has worked in the past.

For now I can work around it by just not using the

[2020-12-05 09:03] Tobbe commented on #1550
@bennettrogers Could you please provide the output of `yarn rw info`? Thanks! 🙂

[2020-12-05 11:35] AntonioMeireles opened #1551 "[Generators] generated code should be linted and formatted"
[Hi again!]

... either unconditionally, or at least as an option

All the best, and a great weekend!

[2020-12-05 14:08] bennettrogers commented on #1550
Yep, here you go. This is in a clean project where all I've run is:
[code]

Info:

[code]

Thanks!

[2020-12-05 15:41] #1444 closed

[2020-12-05 17:43] Tobbe commented on #1551
Why do you need that? Isn't the code generated by the generators already in the correct format?
(Not saying it's a bad idea, just curious for more details 🙂)

[2020-12-05 17:49] AntonioMeireles commented on #1551
(replying from phone, so sorry in advance for brevity)

basically consistency. ideally whatever is built from generators should respect project's lint defaults (scope/context is this and what follows  - https://github.com/redwoodjs/redwood/pull/1381#issuecomment-738211478)

hope this helps.

have a great weekend

[2020-12-05 17:54] Tobbe commented on #1550
I can confirm I'm seeing the same thing

[code]

[2020-12-05 18:08] Tobbe commented on #1550
So this is the offending line

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/deploy/providers/aws_serverless.js#L43

That whole section should probably be made optional and only printed if there actually are any functions

https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/deploy/providers/aws_serverless.js#L41-L67

[2020-12-05 18:09] Tobbe commented on #1550
@bennettrogers You wanna try to submit a PR to fix it?

[2020-12-05 18:14] Tobbe commented on #1551
Agreed! IIRC we already do run everything we generate through prettier. I guess we could look at adding linting as well. But I'll let others chime in with their opinions as well

[2020-12-05 20:08] bennettrogers commented on #1550
PR submitted: #1553

[2020-12-05 20:58] dthyresson commented on #1413
What if the command line options was not to "background it" or `--background-netlify` but to "suffix" it?

`--suffix background`

?

That does not see worth it though.

What id a `--background` flag checked for the deployment target and transformed the filename accordingly?

Currently, the only target would be `netlify` and it would add a background suffix, and for others it would with camelcase i

[2020-12-06 11:05] peterp commented on #1543
@toxsick Ah, seems like trying to do it like this this is going to be a slippery slope, why not upload to s3 directly?

Here's an example of how this works in next.js, it would be almost identical via RedwoodJS: https://github.com/leerob/nextjs-aws-s3/blob/main/pages/api/upload-url.js

[2020-12-06 11:18] Tobbe commented on #1543
There has been some talk about S3 image uploads in the forums. https://community.redwoodjs.com/t/aws-s3-file-uploads/1518

TLDR; Use ImageKit instead ^^
(Or go with @dac09's suggestion of signed URLs)

[2020-12-06 11:35] toxsick commented on #1543
@peterp That is exactly what I am doing right now :) I can post my function code here when I am done for reference.

@Tobbe  Thanks for the info. I got it working with Filepond and direct upload (with presigend urls) to S3 / Minio also.

[2020-12-07 16:27] toxsick commented on #1543
Ok here as promised my implementation with [filepond](https://pqina.nl/filepond/) and [minio](https://min.io/). In the assets function I'm using `serverless` and `express`, which is not really necessary, but for now it does the job:

[code]

[code]

Hope it helps somebody who ends up here. For me you can consider this issue resolved.

Thanks for the support guys!

[2020-12-07 16:27] #1543 closed

[2020-12-07 21:41] dthyresson opened #1554 "Netlify is not configured to be able use netlify dev --live to host the dev site on a publicly available tunneled url"
The current `deploy netlify` generator creates a `netlify.toml` for use with [netlify dev](https://www.netlify.com/products/dev/) but it lacks the configuration to work with `--live` that can host the dev site on a publicly available tunneled url to be used to preview features for feedback,. etc.

Needs the following settings:

[code]

[2020-12-08 08:26] jtoar opened #1556 "Ideas for the console command"
We merged the console command (#809). It's an experimental command that works but requires a bit of setup (exporting an env var&mdash;not so bad really).

This isn't a priority feature, so it's ok if this remains as is for v1. But here's some ideas of where we could go with it:
- Abstract away the need for the `NODE_OPTIONS=--experimental-repl-await` env var
- Make a project's Services available (

[2020-12-09 07:51] Tobbe opened #1557 "`yarn rw setup tailwind` depends on `mv`, which isn't always available"
Depending on what options you pick when installing git on windows you might not have `mv` available in PowerShell or Cmd.

See more here https://community.redwoodjs.com/t/tailwind-setup-on-windows/1557

A few ideas on how to handle this:
 * Document somewhere that on RW only supports running in a GitBash env or WSL when on Windows
 * Detect that mv isn't available when running the tailwind setup c

[2020-12-09 08:08] Tobbe commented on #570
Seems this isn't a Windows specific issue as it's also been reported on MacOS and Linux. So I removed the "windows" label. Also closing the issue as no more info has been provided, and no other users seems to be experiencing this problem.

We'll reopen if new info is added to the issue

[2020-12-09 08:08] #570 closed

[2020-12-09 08:12] peterp commented on #1557
Lame, we should change this:
https://github.com/redwoodjs/redwood/blob/6b7f58d7c96d3338e2f324b776c5222c8a4192d5/packages%2Fcli%2Fsrc%2Fcommands%2Fsetup%2Ftailwind%2Ftailwind.js#L160

to just use `fs.renameSync`

[2020-12-09 08:18] Tobbe commented on #1489
Now that we're back with `binaryTargets = ["native"]` this isn't an issue anymore

https://github.com/redwoodjs/create-redwood-app/blob/b51080ba5d08a4e55dce301eac0ea42b909327c3/api/db/schema.prisma#L5

[2020-12-09 08:18] #1489 closed

[2020-12-09 23:28] viperfx opened #1558 "redwood use inside chrome extension - routes never match"
I've been able to get a redwood app going inside a chrome extension, but the routes never match.

[code]

I have a simple router with 1 router. When using the web, it shows the login page.

When launching a chrome extension, with a popup, the page always says 404.

I have used Create React App with react-dom-router and hash routing, and routing works inside a chrome extension.

So my question is h

[2020-12-10 22:46] Tobbe commented on #1531
Fixed by https://github.com/redwoodjs/redwoodjs.com/pull/488

[2020-12-10 22:46] #1531 closed

[2020-12-11 05:25] Tobbe commented on #1558
I have never written a Chrome extension, so I don't know how they work. But what if you just do `console.log(window.location)` in your routes file? (can you do that from an extension?)

[2020-12-11 10:02] dac09 opened #1576 "AuthProvider holds on to expired token until page refresh"
I've noticed this with firebase auth, if you're logged in and don't refresh the page (but can use RW router navigation).

Once the token expires, its not refreshed automatically, as a result graphql calls start to fail.

I suspect this is an issue with other auth providers as well, and we might need to slightly modify the structure of AuthClient to support refresh events.

[2020-12-11 10:24] #1453 closed

[2020-12-11 15:32] dac09 commented on #1576
Duplicates #927

[2020-12-11 15:32] dac09 commented on #1576
Duplicates #738

[2020-12-11 17:30] dthyresson opened #1578 "Logging v1 Experience: Status, Objectives, Decisions"
### Objectives and Considerations

* API side only
* Want to use/overrride `console` to be backward compatible and no need to refactor existing. Plus, developers are accustomed to it and will reduce risk of mixing a `console.info` that does one thing and a `logger.info` that does another (Edit: probably not going to override)
* Support transports to log to a destination like LogFlare
* Support fil

[2020-12-12 11:05] #1550 closed

[2020-12-13 13:22] redbar0n commented on #758
FWIW, here is a useful comparison of Apollo Client, React Query, SWR, and Relay: [https://react-query-git-ce4fe79195bc3c2d81a564e80473188eb00f62e8.tannerlinsley.vercel.app/docs/comparison](https://react-query-git-ce4fe79195bc3c2d81a564e80473188eb00f62e8.tannerlinsley.vercel.app/docs/comparison)

[2020-12-13 21:25] ogdenstudios opened #1581 "whatwg-fetch and breaking boilerplate tests through yarn rw tests"
Hey everyone, I see this has come up a few times before, notably in #1264

I am still getting these errors even after running `yarn rw upgrade` about five minutes ago.

`yarn rw test` is failing with this error:

[code]

Looks like I'm running v0.21.0. All of my web tests are failing, including the boilerplate ones from running the page generator like: `yarn rw g page home`. API tests are all fine

[2020-12-13 22:50] #1557 closed

[2020-12-13 23:05] Tobbe commented on #1581
Hi @ogdenstudios, sorry you're having problems running the tests.

I just did a quick *ehrm* test... on my side, and the test of the tests seem to work just fine

![image](https://user-images.githubusercontent.com/30793/102026725-ce968f00-3d9f-11eb-953e-dde681b0fa40.png)

I took a quick glance at the issue you linked, but didn't see anything about whatwg-fetch. What did I miss?

Just for completen

[2020-12-14 00:43] ogdenstudios commented on #1581
Ope! Sorry. That issue I linked was linked from #985. It looks like 985 was closed in favor of 1264. That's why I linked there, but I found 1264 after searching for `whatwg-fetch` in the issue tracker.

Here's my `yarn rw info` output:

[code]

[2020-12-14 19:09] vinaypugal commented on #1529
In my case , the extension doesn't throw any errors . I also tried opening some files as mentioned in the issue [#1261](url) but its still empty

![Screenshot (12)](https://user-images.githubusercontent.com/52748674/102124101-d7ee2d00-3e6d-11eb-80f7-1eb8fdd5cb77.png)

[2020-12-14 19:52] Tobbe commented on #1529
@vinaypugal Are you also on WSL? Can you please paste the output of `yarn rw info`? Thanks!

[2020-12-14 19:59] vinaypugal commented on #1529
@Tobbe Here you go

![Screenshot (14)](https://user-images.githubusercontent.com/52748674/102129172-f3a90180-3e74-11eb-9403-8bfa92c1b002.png)

[2020-12-14 20:05] Tobbe commented on #1581
So both you and the guy in #985 are on macOS, but so is a lot of other people... But that's about the only common denominator I can see from the info output.

What do you get if you run `yarn why whatwg-fetch`?
This is my output
[code]

[2020-12-14 20:07] Tobbe commented on #1529
Thanks. So, you're not using WSL? (Windows Subsystem for Linux)

[2020-12-14 20:11] vinaypugal commented on #1529
@Tobbe Nope , but I have WSL2 installed on my pc though , but I didn't use it for this

[2020-12-14 20:20] vinaypugal commented on #1529
Tried to reproduce the same with WSL2 and got this error
![Screenshot (16)](https://user-images.githubusercontent.com/52748674/102131163-d32e7680-3e77-11eb-8eee-d4e92209d7f7.png)

[2020-12-15 04:18] ogdenstudios commented on #1581
Well this is probably the root of the issue:

[code]

I double checked in `yarn.lock` and found nothing. Removed all my `node_modules` folders and ran `yarn install` fresh, had the same response with `yarn why whatwg-fetch`.

[2020-12-15 05:42] peterp commented on #1581
@ogdenstudios Could you remove `yarn.lock` and `node_modules` and try again? I think the way we run the upgrade command sometimes introduces a broken lock file.

[2020-12-15 05:43] peterp commented on #1581
In order to fix the upgrade command I don't think we should rely on yarn's upgrade command, but rather:

1. find all the package.json files.
2. find and bump the versions for the `@redwood/` packages.
3. run `yarn install`

[2020-12-15 12:00] Tobbe commented on #1581
This is from a freshly initiated redwood project

[code]

I'm not 100% sure how to read the output, but if I understand it correctly yarn believes it has whatwg-fetch installed because isomorphic-fetch depends on it.
It doesn't seem to know that redwood also depends on it.

Is it because redwood only lists whatwg-fetch as a devDependency? Should we move it to a regular dependency?

[2020-12-15 17:06] ogdenstudios commented on #1581
I removed `yarn.lock` at the root and all my `node_modules` folders. Then I ran `yarn install`. Similar problem here:

[code]

Is it more than the lockfile? The only thing I've done to the `package.json` since setup is run `yarn upgrade` and run the RedwoodJS Tailwind install command.

[Here is the repo if you want to look more closely](https://github.com/ogdenstudios/final-project-msse-661). I'm

[2020-12-15 22:03] cannikin opened #1583 "Cells throwing an error when given children to render"
I'm seeing an issue where I'm rendering a Cell with children, something like:

[code]

Here's the error I'm getting in the web console:

[code]

HOWEVER if I add my own implementation of `beforeQuery` and make sure that no `children` are passed to `variables`, everything works as expected:

[code]

I can cause the error again by adding a `children` key to `variables` and returning even just an emp

[2020-12-16 03:51] peterp commented on #1583
Makes sense, we can use destructuring to remove children out of props. So you have a cell that does something like this:

[code]

I guess we should change `withCell`'s default to do:
[code]

[2020-12-16 05:41] peterp commented on #1583
I guess we could expand this a bit more:

We could limit the default to only extract the `props` that a relevant (more difficult), or we could supply a decent error message if someone passing in a prop that isn't serializable: Something along the lines of: "You're passing a prop that isn't JSON serializable, we can't forward these along with your graphql request. Please define a custom `beforeQuer

[2020-12-17 05:07] phillipkregg opened #1584 "The <Link> component increases the length of window.history when path doesn't change"
For example, in the tutorial, when you create an About page link like this:

`<Link to={routes.about()}>About</Link>`

![image](https://user-images.githubusercontent.com/1066044/102446553-b3bc5880-3ff3-11eb-98ee-9f344106893b.png)

Then clicking "About" 10 times, you would have to click the back button 11 times to actually go back to the previous page.

It seems like there should be an additional c

[2020-12-17 13:57] dthyresson opened #1585 "Auth Generator lacks support for custom provider"
See the following [Community topic post](https://community.redwoodjs.com/t/custom-github-jwt-auth-with-redwood-auth/610/18?u=dthyresson) from "edjiang":

![image](https://user-images.githubusercontent.com/1051633/102496456-68cb3100-4045-11eb-81d7-021dcc490aa5.png)

While the docs *do* seem to indicate that one can generate a custom auth provider:

![image](https://user-images.githubusercontent.com

[2020-12-17 16:28] Tobbe commented on #1584
@phillipkregg Thanks for the issue report. I think this is actually a pretty common behaviour. At work (not a RW project) we've worked around it by doing this

[code]

That's only for when you navigate using JS code, but something similar could be implemented for a `<Link>` component.

[2020-12-18 03:43] phillipkregg commented on #1584
Ok thanks for the workaround.   Just wanted to make sure this wasn't a bug.

[2020-12-18 09:42] jangxyz commented on #1170
Sorry for knocking the door again, but it seems like this is broken again.

Doing a fresh `create redwood-app` and `yarn rw setup tailwind` complains about postcss 8, again.

The version of "tailwindcss" installed is now `"^2.0.2"` instead of `"^1.8.10"`from above. Changing the version back to `"^1.8.10"` and reinstalling the package seems to work. `"1.9.6"` is the version that's actually installe

[2020-12-18 13:57] dthyresson commented on #1170
Hi @jangxyz

I'll try to reproduce with a fresh install of `create redwood app` and `yarn rw setup tailwind` and see what might be happening.

Here is a community post with some info on the upgrade from v1 to v2 for existing RWJS projects -- and how to use TailwindUI as well:

https://community.redwoodjs.com/t/upgrading-to-tailwindcss-v2/1472/8

[2020-12-18 15:31] dthyresson commented on #1170
@jangxyz I did reproduce the error.

@jtoar and @thedavidprice it appears that the following PR

https://github.com/redwoodjs/redwood/pull/1234

removed the fix to pin the versions that were needed for Tailwind v2?

https://github.com/redwoodjs/redwood/pull/1189

How should we proceed? reopen this issue or create a new one?

[2020-12-18 15:51] dthyresson commented on #1170
@jangxyz  @thedavidprice and @jtoar

I realized what the issue is:

Need to use:

`"tailwindcss": "npm:@tailwindcss/postcss7-compat"`

as noted in https://community.redwoodjs.com/t/upgrading-to-tailwindcss-v2/1472.

@jangxyz If you switch your web package.json to:

[code]
and yarn ... it should work again.

And it looks like @jtoar already fixed this in the next release:

https://github.com/redwoo

[2020-12-18 17:21] redbar0n commented on #1455
"As of Redwood v0.21 the GraphQL Client is swappable." said @thedavidprice in the community forums, so I guess this one can be closed as done.

I wise decision, as it seems there are a flurry of GraphQL clients still being actively developed right now, with various levels of popularity: https://twitter.com/magnemg/status/1339219144135372800?s=20

Sidenote:
In general, I would advise anyone against

[2020-12-18 19:45] Tobbe commented on #1455
No, this is not done. We still haven't swapped out @apollo/client. I'm not saying we will, or even should. But I'd prefer to keep this open until we've made a decision.

Totally agree!

One very interesting experiment would be to
A) create a RW app using the standard apollo client.
B) build the same app again, but this time using RWs ability use another client and see what happens to the bundle si

[2020-12-18 20:59] mikebobadilla commented on #734
I just use `.jsx` so vscode automatically enables emmet without me having to change it in the dropdown.
![2020-12-18 12 58 47](https://user-images.githubusercontent.com/5985141/102661000-da33de00-4130-11eb-853b-101164eeb29c.gif)

[2020-12-19 16:30] redbar0n commented on #1455
Oh yeah, that's true! I mistakenly thought the issue was only to have to option to do it. Good catch.

I completely agree, that would be a super interesting experiment! Though I think tree shaking would be dependent on what features/functions a given app would have/use...

I think with all the GraphQL clients out there, and the presumption that bundle size is to some extent dependent on features,

[2020-12-19 18:27] Tobbe commented on #1455
I'm using this repo for my tests: https://github.com/thedavidprice/redwood-tutorial-test

With the latest canary version of RW I get this when running `$ yarn rw build --stats`

![image](https://user-images.githubusercontent.com/30793/102692310-ca8cc600-4212-11eb-9e73-5fc5e5b43e87.png)

Wiring up graphql-hooks I get this

![image](https://user-images.githubusercontent.com/30793/102696604-daff6980-

[2020-12-19 18:44] redbar0n commented on #1455
Cool! Corresponds roughly with what Bundlephobia reports for @apollo/client ([33.9 kB](https://bundlephobia.com/result?p=@apollo/client@3.3.6)), and graphql-hooks ([3.6 kB](https://bundlephobia.com/result?p=graphql-hooks@5.0.0)).

[2020-12-19 18:45] redbar0n commented on #1455
It [looks like](https://community.redwoodjs.com/t/were-evaluating-a-new-default-graphql-client-discussion-wanted/1344/3) RW is looking more into URQL than graphql-hooks, though. Maybe because the latter is too light. Feel free to jump into the discussion there.

[2020-12-20 00:28] Tobbe commented on #1455
Modifying RW to use graphql-hooks internally instead of @apollo/client somehow caused graphql to balloon in size, and I don't understand why 🙁

![image](https://user-images.githubusercontent.com/30793/102702412-a062f480-4262-11eb-87f7-7d0d72a07283.png)

[2020-12-20 00:47] Tobbe commented on #1455
Here we go!

This is with a modified version of RW that uses graphql-hooks internally instead of @apollo/client

![image](https://user-images.githubusercontent.com/30793/102702594-e751e980-4264-11eb-9520-ac596a0fa414.png)

So going from 905 KB when using @apollo/client down to 757 KB using graphql-hooks! Nice!

[2020-12-20 02:09] redbar0n commented on #1455
Nice! You shaved off a good 148 kB of RedwoodJS total size by dropping Apollo Client in favor of graphql-hooks throughout it! But how would that translate to reduced content (minified and gzipped) sent to the browser over the wire?

[2020-12-20 10:38] Tobbe commented on #1455
netlify-identity is so big it dwarfs everything else right now. I'd like to create a new project that doesn't have netlify-identity included, and run the bundle analyzer on that. Realistically I think we'd also want caching, which @apollo/client includes by default, but that graphql-hooks don't. So I'll add their memcached plugin as well before doing any further analyzing.

[2020-12-22 03:13] viperfx commented on #1558
@Tobbe I have found that a hash-based routing is needed when doing a chrome extension. So I have implemented with react router and a typical react app. Feel free to close this if you like.

[2020-12-22 14:29] BasJan81 commented on #217
I'm very curious about a future Static Site Generation functionality.

Let's say, this will be added to the roadmap, what label will it get. #Core #Deployment or #Prerender  ?

---

RedwoodJS is looking very promising so far. I've learned working with Laravel in school, but this is the first time some 'React' or 'meta' Framework has got me excited. In a way this feels very comfy, coming from a Lar

[2020-12-22 15:55] redbar0n commented on #217
«Async access to data inside a component is the toughest hurdle for JAMStack websites right now.« - Joel Varty, https://twitter.com/joelvarty/status/1341235382617255942?s=21

React Server Components were just announced:
https://reactjs.org/blog/2020/12/21/data-fetching-with-react-server-components.html

Lots of benefits like reducing bundle sizes sent to clients.

But Server Components could perha

[2020-12-22 18:12] bennettrogers opened #1589 "VSCode extension using port 8000. Can this be configurable or use an uncommon port?"
I'm working on a Django API backend project (with a Redwood-frontend). I've got the Redwood IDE VSCode extension installed globally. I'm not sure when this started, but I've recently noticed that the Django development server wouldn't start, complaining that port 8000 is already in use. Disabling the Redwood IDE extension fixes the issue.

I'm not sure what the extension is using the port for, but

[2020-12-23 07:04] Tobbe commented on #1589
The extension has two parts. One which is the `structure` package in this repo. Another which lives in a repo of its own. I don't have access to the "other" part. But from what I can see in the `structure` package there is no mention of 8000 (or any port stuff at all really).

@aldonline This one is for you :)

[2020-12-23 23:38] dekc opened #1590 "yarn rw setup i18n fails"
Running the cli command `yarn rw setup i18n` fails at the "Adding locale file for 'site' namespace" step with the error: `The "data" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined`

Issue is you are missing the "contents" argument to your library packages/cli/src/commands/setup/i18n/i18n.js:  `writeFile()` method ( a wrapper to Node's `fs.writ

[2020-12-24 14:24] dthyresson opened #1591 "ApolloServer GraphQL Playground not necessarily turned off in production"
While

https://github.com/redwoodjs/redwood/blob/895c2d09552e30138a9da09d447caea353f2a5ca/packages/api/src/functions/graphql.ts#L90

does turn off the `playground` if in dev mode, because it relies on `process.env.NODE_ENV`

[code]

and this may not be set in Netlify, the GraphQL playground could be exposed.

[code]

How to fix?

* make sure `process.env.NODE_ENV` is set? (edit: nope ...)
* be exp

[2020-12-24 14:42] dthyresson commented on #1591
Turns out that

May not be an option.

Setting this caused my Netlify builds to fail.

[code]

[2020-12-27 04:45] phillipkregg commented on #1584
Just as a note, I tried this same behavior with the <Link> component within Next.js and it doesn't increase the length of window history as you click.  If you click a link multiple times, and the link points to the current route, you only have to click the browser's back button once to go back to the previous page.

[2020-12-27 14:21] dthyresson opened #1592 "Support Google Login without using Firebase or Auth0 by implementing a dedicated AuthProvider"
A Discord chat pointed me to the following implementation:

https://github.com/bennettrogers/redwood-googleauth/blob/master/web/src/contexts/GoogleAuthContext/GoogleAuthContext.js

where using

https://www.npmjs.com/package/react-use-googlelogin

as the client one can implement a GoogleAuthProviders

[code]

Could use this code to implement in Redwood auth package instead a one off component.

[2020-12-27 18:05] pi0neerpat commented on #755
Howdy @xeloader ! In case you're still working on this, I recently wrote a tutorial on custom auth. Let me know if it helps, and good luck! https://community.redwoodjs.com/t/custom-auth-web3-ethereum/1618

[2020-12-27 20:39] xrd opened #1593 "How to deploy on a self managed server?"
I read the documentation on deployment. I don't see instructions on deploying on my own server. Should I consider a derivative of the netlify or other deployment options?

I don't see a `yarn serve` command in the `package.json` which I assumed I would find to at least start a simple server. And didn't find an equivalent command in the list produced from `yarn rw`.

I know this is a question with

[2020-12-27 20:43] xrd commented on #1593
To my, redwoods reminds me of Rails. I know I could put an nginx proxy in front of http://localhost:8910. But I would like to know the equivalent of running `RAILS_ENV=production rails s` where the development environment isn't used, without the expectations of hot reloading, etc.

[2020-12-29 10:45] peterp opened #1595 "Storybook: Add a way to define a custom Provider and configuration"
We should allow the users to define a `storybook.preview.js` configuration file. This would allow people to add additional decorators.

- [x] Add `storybookPreviewConfig` path to `getPaths()`, it should be a `web/config/storybook.preview.js` file.
- [x] Import that over here: https://github.com/redwoodjs/redwood/blob/e598a5116ba53785dae0a80fd9820b9ae5fa24d1/packages/core/config/storybook/preview.j

[2020-12-29 12:24] jvanbaarsen opened #1596 "Testing with usePageLoadingContext"
I was wondering if it makes sense to create some form of helper or something to easily mock out the usePageLoadingContext. I'm now doing it this way:

[code]

But it feels super tedious having to do this in every test for every component that uses the PageLoader component.

There is a good chance that I'm not doing things the way that Jest/React Testing Library thinks it should be done

[2020-12-30 11:12] pixelkritzel commented on #1593
https://redwoodjs.com/cookbook/self-hosting-redwood

[2020-12-30 11:34] peterp commented on #1593
Thanks @pixelkritzel , @xrd does this seem reasonable or are you looking for an even higher level of abstraction?

[2020-12-30 14:23] xrd commented on #1593
This is great. I'm not sure how I missed it. Thanks to you both.

[2020-12-30 14:23] #1593 closed

[2020-12-31 10:44] jvanbaarsen commented on #924
I was just about to create an issue for this when I decided to search first :-) I'm running in the exact same problem. I created a test repo that shows when / how the problem manifest itself: https://github.com/jvanbaarsen/constraint-example.

The workaround I used for now was to make the relation optional, so you get something like this:
[code]

The downside of this approach is that "combined" un

[2020-12-31 11:07] Tobbe opened #1597 "[page generator] Interpret slash in page name as route path delimiter"
`yarn rw g page checkout/payson` currently does this:

[code]

It should do this instead
[code]

[2021-01-01 16:12] hemildesai commented on #924
@jvanbaarsen The hack I used was just to order the Prisma schema. I haven't checked if Prisma has added an option to clear the entire db. If it has, you could use that.

[2021-01-04 01:47] tctrautman commented on #156
Hello!  I just ran up against this in one of my Redwood Projects.  Just wanted to drop a note here to mention that I'd find this feature helpful, and I appreciate all that you all are doing to make Redwood awesome 😄

[2021-01-05 18:34] Tobbe opened #1602 "RFC: Ideal gql dx"
Another thing I want us to collectively think about is what kind of gql DX we want. Without even thinking what exact client we (don't) want, or what's even possible. What would the ideal experience be?

 * What is the minimum feature set we need?
 * What is the cache behavior we want?
 * What's the max bundle size that's acceptable?

We do already allow our users to supply their own Gql client, wh

[2021-01-06 20:00] #1496 closed

[2021-01-07 07:45] oguzhnatly opened #1605 "The system cannot find the path specified. yarn create redwood-app not working but create-redwood-app working."
I've not added a directory option with the code below command when it's run. I've just tried to create a new redwood app. Moreover, I've tried to create an app with the yarn create with directory method (./redwood-blog) and it wasn't worked.
[code]
![Screenshot_1](https://user-images.githubusercontent.com/54781138/103865532-63598780-50d5-11eb-8ec7-7c77c6117a93.png)
However, when I run the `create-

[2021-01-07 07:56] thedavidprice opened #1606 ""Test Scenarios" results in error after scaffold generator is run"
_related to PR #1465_

## Reproduce Error
Running through integration tests in preparation for v0.22 release:
- clean install
- upgraded to canary
- add Posts model to `schema.prisma`
[code]
- run scaffold generator `yarn rw g scaffold post`
- `yarn rw dev` results in this API error in the console (and I can no longer access localhost:8910/posts):
[code]

## Diagnosis
If I delete the file `api/src

[2021-01-07 08:29] peterp commented on #1606
Ah, I think we should modify our babel configuration to ignore these files in dev/ production mode.

[2021-01-07 09:18] Tobbe commented on #1605
@oguzhnatly What does your PATH look like?

Please run `echo %PATH%` in cmd and paste the output here

[2021-01-07 09:29] oguzhnatly commented on #1605
[code]

[2021-01-07 12:09] dac09 opened #1608 "RFC: Remove authToken from authContext"
Hey, Creating RFC to track discussion.

So I've been looking into solving #1576 and its many duplicates, and am close to a solution (pending testing on various providers etc.) - but as part of this process I have 3 changes that I suggest making:

**1. Remove the authToken from useAuth and AuthContext**
**Breaking change** - technically
The main issue is that authTokens expire, and the state isn't

[2021-01-07 12:35] dac09 commented on #1608
On second thought, for (2) is there ever a need to get a stale token? Maybe just use the `getToken` to always return a fresh token.

[2021-01-07 12:37] peterp commented on #1608
This sounds totally reasonable to me.

We could set it as deprecated for a few releases and point people to a new direction.

I love fresh things as much as the next person, but maybe something like `getAccessToken` is good enough?

I would like to propose that you keep the `FetchConfigProvider` file around, but remove it from `RedwoodProvider`. I'm not sure that something like Apollo's middleware

[2021-01-07 13:18] Tobbe commented on #1608
For firebase auth in particular this seems relevant: https://github.com/redwoodjs/redwood/pull/1555#issuecomment-748342711

[2021-01-07 15:00] oguzhnatly opened #1610 "Error during Netlify deployment due to a depreciation in Prisma v2.11.0"
Because of https://github.com/prisma/prisma/issues/3834 update in Prisma v2.11.0, I cannot connect the PostgreSQL. https://github.com/oguzhnatly/redwood-blog is my code. You can check `schema.prisma` from there.
When I try to deploy in Netlify, I'm getting this error in Deploy Log:
[code]
[code]
My main issue is that this repo works fine on my own computer. So I believe there are no errors in the

[2021-01-07 16:21] #1606 closed

[2021-01-07 16:51] thedavidprice commented on #1610
Hi @oguzhnatly! Thanks for hanging in there with all this.

Ah, interesting. Good news is that this isn't Prisma or Netlify (as those are much harder to diagnose). My clue is here:
[code]

Seems like you're running into "case sensitivity" differences between Windows and Linux. The import is looking for `BlogPostsCell`, but here's your directory name and file: https://github.com/oguzhnatly/redwood-

[2021-01-07 17:18] #738 closed

[2021-01-07 17:18] #927 closed

[2021-01-07 17:26] oguzhnatly commented on #1610
Thanks for replying @thedavidprice!

Oh, This is really exact! Every time I get the error, I constantly checked from my directory. Also, I've done a few git sync times. It must have been skipped while syncing with GitHub after I recreated that folder and re-added them, I didn't get any errors either.

I don't think this is the RedwoodJs' bug, it could be any other momentary error or skipped by Git

[2021-01-07 17:26] #1610 closed

[2021-01-07 17:32] thedavidprice commented on #1610
Great to hear and thanks for reporting back! Agreed, for now others can find this issue. But do keep a lookout in the future and let us know when/if needed.

Lastly, have you dropped in to say hello on the Redwood Forums or Chat? There's an enthusiastic, vibrant community — you'd fit right in:
- https://community.redwoodjs.com
- https://discord.gg/redwoodjs

[2021-01-07 18:23] viveksonar commented on #1595
Hello Im new to opensource and would love to contribute/fix this issue.
Can I take this.

[2021-01-07 18:24] viveksonar commented on #1595
Hello is this issue still open.
New to open source and would love to contribute to this.

[2021-01-07 18:28] thedavidprice opened #1612 "Prisma `findOne` Deprecation requires updating Scaffold Generator"
@cannikin

Redwood v0.22 is upgraded to Prisma v2.12.1:
- https://github.com/prisma/prisma/releases/tag/2.12.0
- Rename `findOne` to `findUnique`

Generators will need to be updated accordingly.

NOTE: Prisma now included a Code Mod command. We can instruct users to run the code mod in the future to fix issue in their project.

_In Screenshot below, disregard the Jest test failure. Just using this

[2021-01-07 19:15] peterp commented on #1595
Hi @viveksonar, it is indeed!

I would love to have you contribute it, hit me up on discord if you need any help

[2021-01-07 19:29] viveksonar commented on #1595
Can i get the discord invite or the link
Im pretty lost.

[2021-01-07 19:39] jtoar opened #1613 "Enable top-level await in yarn rw console"
_Update (05.28.2021)_

Right now we abstract away the need for top-level await in Redwood console by automatically resolving promises. This works but it'd I think it'd still be super nice to have top level await.

---

_Original_

Right now the console command requires the `NODE_OPTIONS` env var be set to `--experimental-repl-await`. This isn't an ideal workflow, especially since the console comma

[2021-01-07 22:10] cannikin commented on #1612
The scaffold generator uses `findOne()` in the generated service, we gotta update that!

[2021-01-08 13:19] dthyresson opened #1618 "RFC - API side utilities to help work with functions"
In recent projects, I have been repeating code to do some common tasks related to api side functions and it could be helpful to add this utilities to the RedwoodJS api package:

1. Get the Netlify functions endpoint regardless of branch.

You will need to know the function endpoint url when invoking a background function from a RW api service -- especially when you have multiple environments or de

[2021-01-08 16:00] dthyresson commented on #1618
Some questions:

* good idea? ;)
* where could this go? in same place as `db`? make a `utlils` and import?

[2021-01-08 17:31] cannikin commented on #1612
@96RadhikaJadhav Want to take this one? This one actually generates the code that the other issue is documenting. This one's more awesome anyway. 😉

[2021-01-08 19:19] jeliasson commented on #1310
@dthyresson
All related PR's is merged and you can move the [project card](https://github.com/redwoodjs/redwood/projects/6#card-48931457) to Done and close this issue if you'd like. Thanks!

[2021-01-08 19:35] jtoar commented on #1613
@peterp at the contributor's meetup today, @mojombo suggested we resolve promises automatically. that could be a lot easier than enabling top-level await. I think we'd have to override the repl's eval, but there's examples for that.

to be more explicit, using the console would just be like:
[code]

so everyone typing at the console would never have to type `await db.user.findMany()`.

[2021-01-08 21:11] #1310 closed

[2021-01-09 15:42] Darth-Knoppix opened #1620 "Include TEST_DATABASE_URL in docs and .env.example"
When using Postgres and running tests with `yarn rw test api`, I receive the following error:

[code]

Taking a look at the cli command source, it's expecting a test database url (`TEST_DATABASE_URL`) to be defined if the Prisma provider is Postgres.

If this is intended, it might be a useful to mention this behaviour in the docs and/or add it to _.env.example_ to save some time.

[2021-01-09 16:48] Darth-Knoppix commented on #1612
Just a heads up, the scaffold generator also changes the top level exports of `@prisma/client` so input types are now under Prisma namespace.

## From the Prisma release notes

Before
[code]

After
[code]

[2021-01-09 20:53] dthyresson commented on #1310
Looks like someone already did. Thanks!

[2021-01-09 21:23] dthyresson commented on #680
@peterp @cannikin @thedavidprice @dac09  I thought there may have been some recent work done to help with mocking auth.

Does this issue still apply or can it be closed?

[2021-01-09 21:26] dthyresson commented on #965
@peterp I've tabled this issue for awhile pending Issue #1230.

Where do we think that stands now?

Or can 1.0 move ahead with this current `makeMergedSchema` ?

[2021-01-10 04:47] peterp commented on #1618
@dthyresson I think this is a great idea, but I also have some concerns about where we would place them. Since this example is specific to Netlify would you write a single function that knows the hosting environment? Or would you create separate files for each hosting environment?

Maybe this is just a module that you publish to npm?

[2021-01-10 05:17] peterp commented on #1602
Hey Tobbe,

I can think of improvements in two places:

1. Discovery of queries.

I think the main point of contention is around mutations an

[2021-01-10 05:27] peterp commented on #680
@dthyresson We are super close. We just need to mock the api side! Myself and Rob have spoken about doing the following:

![Uploading image.png…]()

[2021-01-10 12:15] dthyresson commented on #680
Great news! I'll move this issue card into in progress then.

[2021-01-10 12:37] jvanbaarsen commented on #1620
Added a PR for this: https://github.com/redwoodjs/create-redwood-app/pull/123

[2021-01-10 17:27] Tobbe commented on #1602
What improvements are needed here?

With the different GQL clients you've tried, which one does this the best? How does it work there?

[2021-01-11 07:00] ofu997 opened #1622 "ReactFilestack crashes the page"
While following the[ file upload](https://redwoodjs.com/cookbook/file-uploads) recipe, I the ImageForm page crashes on importing and using ReactFilestack. React inspector suggests it's a FatalErrorBoundary, while dev inspector gives me this output: 'index.js:1 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components)

[2021-01-11 08:02] Tobbe commented on #1622
Sorry to hear you're having problems with the recipe @ofu997. Do you have a link to a GitHub repo we can look at? Or if you could post some code that reproduces the error. Thanks.

[2021-01-11 15:10] forresthayes commented on #1622
I think we might need to update the [recipe](https://github.com/redwoodjs/redwoodjs.com/blob/main/cookbook/File_Upload.md) to use the [latest filestack-react release](https://github.com/filestack/filestack-react#migration-from-3xx-and-4xx):

[code]

@ofu997, would you be interested to make a PR?

[2021-01-11 17:49] pepibumur opened #1623 "[Meta] Support for mobile"
I was encouraged by @thedavidprice to move the support for mobile forward so I'm fleshing out an implementation plan in this issue.

### 1. **Init**
We need to extend the initialization workflow to create the mobile side. I suggest building an opt-in feature. I'm not entirely familiar with the implementation of that workflow but I guess we can extend it with some argument or prompts during the pro

[2021-01-11 18:32] dthyresson commented on #965
I had some serious problems with graphql-shield and RedwoodJS 0.22.1 and Prisma 12.1 -- such that I had to remove it from my app.

It was causing intermittent exceptions in the fallback.

So, may want to reconsider this idea and perhaps use directives instead.

[2021-01-11 20:52] ofu997 commented on #1622
@forresthayes PickerInline works. How would I make a PR?

[2021-01-11 22:24] forresthayes commented on #1622
cool, I'm glad that worked. If you'd like to update the File Upload recipe, the cookbook source files are in the [redwoodjs.com repo](https://github.com/redwoodjs/redwoodjs.com). The ['readme'](https://github.com/redwoodjs/redwoodjs.com#redwoodjscom) has instructions for getting set up and the File Upload recipe is `redwoodjs.com/cookbook/File_Upload.md`
<br>
If you haven't already, you're welcome

[2021-01-11 23:25] forresthayes commented on #1581
I'm seeing the same error in a new Redwood app with only a generated home page.

[code]

[2021-01-12 06:36] thedavidprice commented on #1623
@pepibumur huge thank you for getting this rolling! Looping in @peterp and also @aldonline for visibility. And will bring this up at our next internal meeting.

The above categories look good. Most of our current commands already take Sides as an option and default to both api + web. But, as you've indicated above, you can currently specify a side or sides: `yarn rw dev api` or even `yarn rw dev a

[2021-01-12 06:50] thedavidprice commented on #1581
Wow, gents. This one is bonkers. I cloned the repo and took a look (thanks for providing @ogdenstudios). The package isn't there. Removing `node_modules` and recreating `yarn.lock` does **not** resolve. I also upgraded to v0.21.1, repeated the process, and still. no. `whatwg-fetch` package.

**Here's where it got even more fun.** --> I have an existing project that 1) runs test successfully and 2)

[2021-01-12 08:07] peterp commented on #1623
Hey Pedro!

I would love to chat to you about "sides" and how I envisioned hooking in the `rw dev/ rw build/ rw test` commands into the project. I think that would form a good foundation for integration of the mobile side, as well as any other sides in the future.

I think I can count on my 1 finger the amount of times I've had to touch the metro configuration (directory-named-plugin). I think it'

[2021-01-12 08:15] Tobbe commented on #1581
As I noted in a previous comment we had whatwg-fetch because one of our dependencies brought it in.

[code]

If you look in that chain of packages you'll find [fbjs](https://github.com/facebook/fbjs).

In April of last year they replaced isomorphic-fetch with cross-fetch, which doesn't have a dependency on whatwg-fetch

https://github.com/facebook/fbjs/commit/16620e3623fd46b435313abd639b86313facb7

[2021-01-12 09:05] peterp opened #1626 "[RFC] Support for additional sides"
At the moment we have two hard-coded sides to RedwoodJS: `api` and `web`. We use these two sides to inform a bunch of branches in the CLI:

- `yarn rw dev [side]`
- `yarn rw build [side]`
- `yarn rw test [side]`

The `[side]` part can be either api or web, and both when none are defined. **My proposal is that we move the concept of "sides" into the configuration `@redwoodjs/internal` and supply a

[2021-01-12 11:00] #1581 closed

[2021-01-12 11:30] #680 closed

[2021-01-12 16:23] NickSchmitt commented on #1034
Came here looking to see if anyone else had this idea. Would be a great addition!

[2021-01-12 16:27] thedavidprice commented on #1626
I was assuming we'd be able to infer the existing sides given the structure of a project. Curious about possible scenarios where config will be necessary vs. convention.

**There are some outliers to inferring:**
- DB, which we do refer to as a Side in the CLI (should we?). I've never considered it before (and not sure if it's viable), but conceivably `db/` could live at the root level. Either way

[2021-01-12 16:32] thedavidprice commented on #924
There have been some updates to Prisma's CLI. Looks like `migrate reset` is getting close to a solution:
https://www.prisma.io/docs/reference/api-reference/command-reference#migrate-reset

[2021-01-12 16:35] thedavidprice commented on #1597
Indeed! Implementation notes:
- Windows support is a possible gotcha; make sure to handle it specifically
- Should include a specific unit test (note: the CI runs on both Linux and Windows)

[2021-01-12 17:26] thedavidprice opened #1628 "Docs: All contributors should include repo learn.rwjs.com"
- create new file for repo
- update docs workflow
    - note: also update docs with Core Team members to _not_ include
- confirm https://github.com/Thieffen is included in contributors list for repo

[2021-01-12 18:07] Tobbe commented on #1597
I talked to @peterp about this. His reply:

[2021-01-12 18:41] peterp commented on #1623
Here's the RFC for sides: https://github.com/redwoodjs/redwood/issues/1626

[2021-01-12 18:55] peterp commented on #1602
The extension is great, but it only works when the api side is running via `yarn rw dev`. I think we could improve it by writing the schema to disk and updating the schema to read from this file. Not a train smash, but it might feel a bit more efficient.

I'm looking at things like graphql-zeus, but it really doesn't hit the nail on the head. SDL is pretty great.

In terms of updating the cache, I

[2021-01-12 22:36] cannikin opened #1630 "RFC - Secure Services by default"
As discussed in the 2021-11-12 Core Meeting, we want to do what we can to make services secure by default. Currently, if you don't add something like `requireAuth()` manually in a services function, any GraphQL endpoints that resolve to those services will happily execute by anyone on the internet. That could be bad.

This issue will serve as a single place to discuss different ways to make servic

[2021-01-12 22:47] #1612 closed

[2021-01-12 23:07] thedavidprice opened #1631 "resolve test package dependency duplicates"
@peterp @Tobbe _moving conversation here from [#1625/comment](https://github.com/redwoodjs/redwood/pull/1625#issuecomment-758837173)_

Outstanding Questions:

----
## Original comment

@thedavidprice I noticed that too. I did dig in to it a little bit. It was added to that file by @peterp in this commit
[code]

[code]

If whatwg-fetch should be removed, should we remove the other packages too? Or

[2021-01-13 00:10] mojombo commented on #1630
I like a lot of what I see in Option 2.

* Being backwards compatible is pretty nice.
* It allows you to cover a whole service very easily and still be quite visible that auth is happening if you keep that export at the top of the file.
* If each of your "resolver" functions does something totally different, you can decompose the `requireAuth` into each one and leave your `beforeService` empty.

I

[2021-01-13 00:58] thedavidprice opened #1633 "Web Tests error in v0.22.1"
@peterp

Web tests are failing due to an import error. I found this preparing for v0.23 and traced it back to v0.22. Possible the issue came from https://github.com/redwoodjs/redwood/pull/1465 I tried to diagnose but got stuck.

<img width="812" alt="Screen Shot 2021-01-12 at 4 57 31 PM" src="https://user-images.githubusercontent.com/2951/104392604-44a12980-54f7-11eb-9735-f7129c4c2bca.png">

[code

[2021-01-13 02:15] thedavidprice commented on #1596
Hi @jvanbaarsen Sorry this one's gone without a reply for so long!

We've been focusing on this kind of test + mock at the Cell level -- have you seen the boilerplate test and mock files that come with a generated Cell component?

If that doesn't fit your use case, let's definitely explore this further.

[2021-01-13 02:56] thedavidprice commented on #217
## Update
I can confirm we are working on prerender capability (e.g. marketing pages) to be included in the v1 release. It's the number two priority right behind full TypeScript support.

There's no specific project board for tracking progress. Just keep a lookout on the Forums and PRs in the weeks to come.

### Background
The core team has spent extensive time in conversation and research about h

[2021-01-13 05:20] Jaikant commented on #217
This is great to hear. After spending 3-4 years soaking in this amazing js/ts ecosystem, I am now working on a new start up. The first thing to hit me is the totally new and amazing things which the python ecosystem enables!

I would so love it if redwood js could provide a backend technology agnostic server side rendering capability.

[2021-01-13 07:26] peterp commented on #1633
This is fixed over here: https://github.com/redwoodjs/create-redwood-app/commit/11780ed5608016079fe3f22c92f42f713cad86a9

[2021-01-13 09:10] jvanbaarsen commented on #1596
@thedavidprice I'll check that! I'm not sure if something on a Cell level would be good enough, since I'm using the usePageLoading in a layout. I was under the impression that cells were meant for loading GraphQL data. Or am I missing something?

[2021-01-13 10:38] dthyresson commented on #1630
This is a very good question.

To be honest, I want my resolvers to be secure, but let's say I write a background job (and secure that in whatever propepr way there is) and I wish to call a createModel.

If that createModel service requiresAuth, then I cannot really reuse the service since my background function won't be authenticated.

Ideally, the change(s) would be simple, quick, and clear.

Th

[2021-01-13 12:56] dac09 opened #1636 "[Tracking] Validate token refresh issue across providers"
This is a "meta issue" to track what auth providers have an issue, where the token is not automatically refreshed

Verified working

- [x] firebase
automagically refreshes the token, when getToken is called and the token is expired
- [x] supabase
needs client config. This needs to be configured by the user, not within RW.

Not verified:
- [ ] goTrue

As is:
- [x] magicLink

Needs fix:
- [x] netlif

[2021-01-13 13:23] dac09 commented on #1636
### Provider: supabase
It looks like supabase needs a config  https://github.com/supabase/supabase-js/blob/a5dc5d252a1ec7c9c2c2a5682dd77868fe2c3a97/src/lib/SupabaseAuthClient.ts#L8

thanks @dthyresson for the link

[2021-01-13 13:24] AntonioMeireles commented on #1630
@cannikin

FWIW, at sight **B** also looks from looks like a smoother, less disruptive evolutionary path, as it seems to achieve all of the same goals as **A** (i.e. it seems there's nothing that could be achieved by **A** that couldn't  via **B**)

@dthyresson, @mojombo

here, imho, one could either follow a similar approach as in `Routes.js` where generators would then populate a given [centrali

[2021-01-13 17:14] pepibumur commented on #1623
I like the idea of modeling the sides, especially considering that your plan is to add support for mode sides to the project.

### Init
I'll then add an argument to opt into generating the mobile side. I also added a task at the top to add a setup task. I think this will be useful for the projects that are already using Redwood and might want to add the mobile side.

### Hiding configurations
I'll

[2021-01-13 17:17] peterp commented on #1630
Maybe a person could let us know by exporting a `skipBefore` method:

[code]

[2021-01-13 18:24] Tobbe commented on #1630
@mojombo

Agreed

But then it wouldn't be backwards compatible anymore, right? Everyone's services would suddenly block all access.

[2021-01-13 18:25] Tobbe commented on #1630
Or just put those functions in /lib and include them?

[2021-01-13 18:27] cannikin commented on #1630
I've made some progress!

In the most basic usage:

[code]

You can also destructure the name of the service that `before()` is about to run for and check that:

[code]

You can also return `false` from `before()` which, right now, returns a "Service aborted" error:

[code]

This could be handy for situations where you want/need to stop a service from being executed that aren't auth related.

I li

[2021-01-13 18:56] #1633 closed

[2021-01-13 19:07] thedavidprice commented on #1626
^^ yes, there are cases where a Redwood project is Web-only using GraphQL Client

^^ yes, it's been working well / good enough.

^^ super curious about this. Can you explain further?

^^ I don't believe so. It's felt natural and extensible to handle Sides as an option within commands. But maybe we do end up with a `yarn rw side [options]` utility command that's necessary to manage specific setup/c

[2021-01-13 19:17] #1620 closed

[2021-01-13 19:18] thedavidprice commented on #1620
Will be included in v0.23.0 release

[2021-01-13 19:19] thedavidprice commented on #1636
I'm fairly certain @cannikin confirmed the ✅ with Netlify Identity

[2021-01-13 19:21] thedavidprice commented on #1596
^^ No, you're not missing anything. Correct and Cells == data. Wasn't sure about your use case.

@dac09 has quite a bit of experience handling loading UX for his app Tape.sh. Any thoughts/suggestion about this, Danny?

[2021-01-13 19:40] cannikin commented on #1636
Oh yeah, sorry, Netlify Identity did not show any problems for me! But I don't know what/how it did that, I just clicked a link in the UI after an hour and it went to that new page as expected.

[2021-01-13 20:08] cannikin commented on #1630
Thanks to @peterp's help `before()` now works in Jest!

We also added `after()` and the ability to send `context` into both `before()` and `after()` so you can inspect `currentUser`, for example:

[code]

@mojombo we should talk more about what happens if you don't provide any `before()` function. You said:

But right now disallowing access (like with `requireAuth()`) *does* raise an error, `Authe

[2021-01-13 20:40] dac09 commented on #1596
I've not done this specifically, but a good idea might be to use beforeEach and mock it there to be true, that way you don't have to repeat yourself in every test :)

Also, is there a reason to test for the page loader every time?

[2021-01-13 20:45] dac09 commented on #1636
For Netlify, you might be able to see the expiry time for your token in localStorage.

I briefly looked through the code earlier today, but unlike supabase I couldn't see where in the code it would refresh without explicitly calling the refresh function.

[2021-01-14 01:25] cannikin commented on #1630
The way this currently works is that the stuff in `before()` only comes into play when the services are called via GraphQL endpoint. By importing and executing a service function directly you're only invoking that function. Is this good or bad? Do you *want* stuff in `before()` to come into play?

I was thinking of this implementation similar to before_actions in controllers in Rails: it locks dow

[2021-01-14 07:36] jvanbaarsen commented on #1596
@dac09 No, I don't really wanna test it every time, I'd be fine with testing it just once in the test for the actual Page component. But since React Testing Library (RTL) does a full render of all the components in the tree the layout gets rendered in every test, even the ones that are not about the Layout. So all components that are wrapped inside the page. That way RTL throws an error every time

[2021-01-14 14:49] jvanbaarsen commented on #1590
@dekc Could you try this again on the latest version? If it is still not working, can you then tell a bit more about your setup? Or maybe create a sample repo where this is demonstrated?

I ran this against a test project and it seem to have worked for me.

[2021-01-14 16:37] growandwin opened #1640 "permissions based on content owner - not just role"
Hi All,

Love your work! I think redwood is going to be the future!
I want to contribute by posting some questions about permissions ;)

How to give permissions i.e. for authors only to the pages/cells/content - they created - not just based on roles ?
Like in github for example. Everyone is a user, but by default only has write access to his own repositories and has access to view and edit his ow

[2021-01-14 18:01] cannikin commented on #1636
Here's my `gotrue.user` from LocalStorage (please don't hack me):

[code]

Definitely a `3600` in there but it looks like it gets refreshed automatically?

[2021-01-14 18:09] cannikin commented on #1630
There would be a slight change to how tests are implemented using the code changes we've figured out so far... rather than importing service functions and using them directly, we're providing a top level `services` object that wraps them in the code necessary to enable `before` and `after`:

[code]

[2021-01-14 18:57] dac09 commented on #1636
Looks good, I'm going to check it off the list :). Thanks Rob!

[2021-01-14 20:47] thedavidprice commented on #217
https://github.com/redwoodjs/redwood/pull/1641

[2021-01-14 23:59] pi0neerpat opened #1642 "[core] Storybook config bug"
redwood v0.23.0

When running `yarn rw storybook` Getting unexpected token '.' here
https://github.com/redwoodjs/redwood/blob/d4271793befb029357f39ac8b0e9126611023b59/packages/core/config/storybook/main.js#L13

Its fixed by removing the "?". Weird maybe webpack doesn't like fancy javascript in its config?

UPDATE: just confirmed this does affect a fresh yarn create project

[2021-01-15 02:53] pi0neerpat commented on #1640
This would be cool. Here is an example of how I am checking ownership before returning data.

[code]

Then in your services

[code]

[2021-01-15 04:04] pi0neerpat opened #1643 "[cli] setup tailwind path issue"
This line throws an error when running `yarn rw setup tailwind` in any directory other than root.

https://github.com/redwoodjs/redwood/blob/db6593e479be88bf4264ef976ce24277e4068ddb/packages/cli/src/commands/setup/tailwind/tailwind.js#L160

I would have assumed that the CLI should be able to handle path errors gracefully.

Maybe this command was just missed?

[2021-01-15 12:06] Tobbe commented on #1602
No, I haven't. I've only used ac, graphql-hooks and my own client.

I'm torn on the caching stuff. The way I'm used to working with remote data is fetching it and putting it in my own (semi-)global state. And from there on out I'm responsible for managing it on my own with optimistic updates, caching/not caching refetches/refreshes etc. Which gives me a lot of control. But on the other hand it's r

[2021-01-15 13:18] growandwin commented on #1640
Thank you for your example.

Why don't you just return "user" instead of making the same querry like 2 rows above the return? here:
`  return db.user.findUnique({
    where: { id },
  })`

So... you still need to have a table in the db with each user and his indivdual contents ids ? You don't have a way to store this in netlify identity or auth0?

[2021-01-15 14:38] jvanbaarsen opened #1649 "Service / SDL generation is broken when using relations"
I'm noticing when you have a relation column that has a different name then the Table it is referring to you get an error like this:
[code]

This happens when you for example have two tables, Post and User, and you name the user relation different on Post like this:

[code]

To make it easier to reproduce you can use this repo/branch: https://github.com/jvanbaarsen/rw-examples

It happens when you

[2021-01-15 16:00] pi0neerpat commented on #1640
Right, you could get id from there. I'm using my own auth solution here, with no external auth client, so I have to get the id from my own database https://github.com/oneclickdapp/ethereum-auth

Also you're right about not having to do the user query twice for this example

[2021-01-15 21:48] ccnklc commented on #1640
I would suggest anyone, who is looking into managing permissions in graphql, to check https://github.com/maticzav/graphql-shield it is the best library I know, and I am sure that you will love it too and you will not look for anything else.

[2021-01-15 23:56] papaponmx commented on #523
Hey, guys. I'd like to help with this adding TS support, is Scaffold is still available?
@peterp @thedavidprice

[2021-01-16 07:14] KrisCoulson opened #1650 "Generating components/cells does not update Storybook"
When browsing through tutorial part 2 it is mentioned twice that storybook will automatically refresh with the generated components.

This is not the case, storybook does rebuild according to the console but does not actually refresh with the generated components. The only way is to kill storybook and reload.

Captured this gif as to what I am seeing
![2021-01-15 23 06 57](https://user-images.gith

[2021-01-16 17:20] jtoar commented on #1602
I'll add more thoughts, but wanted to second @peterp's comment real quick

Maybe I'm also ignorant as to why it isn't, but I'm really not sure why it can't just be that way! That's how SWR seems to work:

[code]

Pretty sure react query makes it simple too. Definitely worth looking more into it.

[2021-01-16 18:51] thedavidprice commented on #1650
@peterp thoughts on this one?

[2021-01-16 19:08] thedavidprice commented on #523
HI @papaponmx! Thanks for jumping in here and offering to help, which would be 🚀

However, the Scaffold generator is blocked by Cells and potentially the Router. Before being able to convert the generators, Cells will have to be completed.

Looping in @peterp

Copy+paste from the linked thread in the OP:

This is a bit outdated. @peterp do you have direction about the next steps for Cell's TS Supp

[2021-01-16 19:11] thedavidprice commented on #1640
@dthyresson any thoughts here? Seems like there might be a possible use for adding an example to a related cookbook/doc. And/or maybe adding this as an example to the Forum for future knowledgebase.

[2021-01-16 19:14] thedavidprice commented on #1649
Thanks @jvanbaarsen! Looping in @cannikin

[2021-01-16 19:24] thedavidprice commented on #1642
Thanks @pi0neerpat! Possible you'd be available to initiate a PR to fix this (while still handling the possible Null case)?

[2021-01-16 19:35] thedavidprice commented on #1590
Thanks @dekc for reporting this! Per @jvanbaarsen's request, could you run `yarn rw info` in your project and then copy+paste the output?

[2021-01-16 21:38] dthyresson commented on #1640
I don't think RedwoodJS or I have a strong opinion yet as to the best pattern -- often data permissions are app/org-specific so generalizing them can be tricky.  But, yes, a few thoughts:

1 -

Re @ccnklc

I have been using `graphql-shield` in most of my projects -- up until a few days ago when Prisma 12.1 was causing some issues with. However, I've upgraded to 12.4 ahead of time and will look at

[2021-01-17 00:44] its-dgreen commented on #1583
Is this issue still open? I'm new to open source but would like to help out on Redwood

[2021-01-17 01:33] cannikin commented on #1583
Yes it’s still open! We’d love your help, let us know if there’s anything we can do to assist!

[2021-01-17 10:16] Tobbe commented on #1642
Seems like you're right. Found this webpack issue https://github.com/webpack/webpack/issues/10227
Basically webpack 4 (which is what we're using) will never get optional chaining support. Webpack 5 already has it.

[2021-01-17 15:16] Tobbe commented on #523
The Router TS support is in progress here: https://github.com/redwoodjs/redwood/pull/1651

[2021-01-17 19:10] Tobbe commented on #1591
How about we change to `const isDevEnv = process.env.NODE_ENV === 'development'`?

[2021-01-17 19:20] Tobbe opened #1652 "Auth token is not properly verified for supabase or Netlify in production"
In `decoders/supabase.ts` we have this

[code]

I have **not** set that env var, so I would expect to see that error, but I don't.

![image](https://user-images.githubusercontent.com/30793/104853332-6c7dfc00-5900-11eb-8c1a-b515ad172d76.png)

I'm logging NODE_ENV in getCurrentUser, and this is what it prints

![image](https://user-images.githubusercontent.com/30793/104853341-7ef83580-5900-11eb-9e73

[2021-01-17 19:22] peterp commented on #1591
@Tobbe Super reasonable solution, ship it!

@dthyresson I do believe that Netlify's runtime boots up Lambda functions as production. We could add a Redwood schema and service that shares this information.

[2021-01-17 19:41] dthyresson commented on #1591
@peterp > I do believe that Netlify's runtime boots up Lambda functions as production.

If it does, then it isn't there:

I asked in the Netlify community some time ago:

https://community.netlify.com/t/are-envs-set-in-build-plugins-available-during-function-runtime/18842

And they responded:

So, I take that to mean that NODE_ENV is undefined when running a lambda function -- and that is what we

[2021-01-17 20:00] dthyresson commented on #1591
Oh, I was chatting with Tobbe and was looking at a different issue and just now realized this was the graphql issue -- so ..

Assume mean in https://github.com/redwoodjs/redwood/blob/main/packages/api/src/makeMergedSchema/rootSchema.ts:

[code]

to add the current deployed environment here?

[2021-01-17 20:11] Tobbe commented on #1591
Actually this wouldn't work yet, because NODE_ENV is `undefined` on localhost too. But I've fixed that in https://github.com/redwoodjs/redwood/pull/1653 So when that lands I can PR this fix too

[2021-01-18 01:02] andrewlamyw commented on #1636
azureActiveDirectory token default expiry in an hour. After the token is expired, I will receive HTTP error code 500 from the GraphQL. @jeliasson may I ask how do you overcome this? 🙏

[2021-01-18 01:19] dac09 commented on #1636
Thank you for confirming andrewlamyw - #1627 may solve this. Any chance you could try the PR build please and see if the issue goes away for you?

[2021-01-18 04:56] thedavidprice commented on #1652
Woah, great catch @Tobbe!

[2021-01-18 05:10] thedavidprice commented on #1642
@Tobbe is this where the Issue thread takes a hard right turn and becomes a discussion about when/if we're going to upgrade Webpack?

😆

[2021-01-18 05:18] thedavidprice commented on #1583
Hi @its-dgreen! I've assigned this one to you. Just in case you're looking for instructions on how to get started:
- There are some Contributing docs available. This [GitHub Issue #1266](https://github.com/redwoodjs/redwood/issues/1266) was for October's Hacktoberfest but is still relevant.
- At our October meetup ([here's the recap post](https://community.redwoodjs.com/t/oct-8th-meetup-recap-reco

[2021-01-18 05:20] #1652 closed

[2021-01-18 06:43] Tobbe commented on #1642
Haha. I've already been down that path with @peterp regarding another thing I'm working on. Too bad people are reporting double build times when switching from wp4 to 5 🙁

[2021-01-18 12:29] #1591 closed

[2021-01-18 12:35] jeliasson commented on #1636
@andrewlamyw If you can try the PR build as suggested by @dac09 that would be great. If it's not working, please let me know and I dive into it. Thanks 🙏🏻

[2021-01-18 16:05] viperfx commented on #849
Would like to just add my use case here for this feature

With the redwood app I am working on, the application and API integrate to different services. We are working on a Slack app, Intercom app, Zapier App etc.

We use the serverless functions to the do following functionality:
- Oauth redirect and callback URLs
- Incoming webhook support to integrate with platforms
- APIs we create according t

[2021-01-18 17:11] thedavidprice commented on #1584
Agreed this should be our default behavior for the Router (unless there are use-cases, requirements otherwise I'm not aware of). As is, this seems annoying at best.

Added to the Project Board for v1 release. Needs more discussion.

[2021-01-18 23:39] #1642 closed

[2021-01-19 00:23] papaponmx commented on #1630
I like proposal B with the `except: ['listUsers'])` implementation.
I'd rather have our resolvers over-protected by default instead of having them under-protected.

[2021-01-19 00:57] thedavidprice commented on #1558
@viperfx do you have any specific recommendations about whether or not there's something here to do that would _improve_ Redwood's Router? @Tobbe is currently starting work on some Router v1 priorities. Not sure if this issue is relevant. But if so, now's the time!

[2021-01-19 01:16] viperfx commented on #1558
Ah yes, the issue was that chrome extensions need hash router.

I have since setup a create react app and use react-dom-router to setup a
chrome extension app.

This personally isn’t a priority for me anymore, but i have other feedback
and suggestions for the router that may or may not be on your roadmap
already. what’s the best place to look and leave feedback?

On Mon, Jan 18, 2021 at 7:57 PM Da

[2021-01-19 01:46] thedavidprice commented on #1558
Thanks @viperfx! I'll let you take it from here @Tobbe

[2021-01-19 10:22] Tobbe commented on #1558
@viperfx Hit me up on discord! I'd love to chat about it

[2021-01-19 16:29] pi0neerpat commented on #1640
These are good suggestions @dthyresson

I've also setup `graphql-shield` for a non-redwood project. I found it to be overly complex for simple tasks, and somewhat confusing to track down errors. It took me a few days to get comfortable with. I guess it could be a good candidate to "opinionated wrap" it with redwood. At that point, now we are talking about making another "auth-connector" for permis

[2021-01-19 16:52] thedavidprice opened #1658 "Add E2E Integration tests to CI"
dependent on https://github.com/redwoodjs/redwood/pull/1637

Ideally, the CI (via GitHub actions) will do the following:
- Trigger on PR merge (note: also possible to use PR Packages and therefore trigger each PR update, although I'm not sure this is necessary)
- Using the published canary versions, _including the canary for create-redwood-app package_, run our Cypress test script ([here](https://

[2021-01-19 17:19] Tobbe commented on #1658
I came here from #1637 to suggest exactly this, but of course you had already thought about it 🙂 I think it's worth it, running on PR updates. Should help ensure we have a stable main branch. Not saying it has been a problem so far, but it will help it stay that way going forward. Would also help with your last point. Blocking merge on failing tests.

[2021-01-19 20:19] thedavidprice commented on #1658
We'll just chalk it up to "great minds think alike", right? 😆

Totally game to try on PR updates/commits and see how it works!

[2021-01-20 16:19] thedavidprice commented on #1556
@jtoar this might make for a good Forum post requesting help. fwiw...

[2021-01-20 19:31] thedavidprice opened #1659 "Upgrade Command should run from root regardless of current directory"
If a user runs `yarn rw upgrade ...` from a directory other than project root, there are cases where the root `package.json` is not handled correctly by yarn ('cause yarn is a mess when it comes to this command).

We need to ensure Execa has cwd set whenever it is called:
https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/upgrade.js

[2021-01-20 22:52] #1643 closed

[2021-01-21 02:16] wminshew commented on #734
jsx seems like the right extension here to me from an IDE perspective, even if it's only a "small" amount (is there a downside I'm not aware of to using the jsx extension? bc the downside to using js is that my IDE doesn't recognize/colorize the jsx fragments. Maybe your IDEs are smarter than mine and so it seems like a trivial request?)

ps tailwind 4 lyfe

[2021-01-21 04:58] pi0neerpat commented on #1286
I found this related discussion that might help https://github.com/lerna/lerna/issues/1893#issuecomment-583124032 and it turns out the sha is supposed to be included here, but npm strips it out!

[2021-01-21 17:48] thedavidprice commented on #1286
^^ Ah, very interesting!

We did resolve this back in October. But good to know as there are still occasional hiccups.

[2021-01-21 17:48] #1286 closed

[2021-01-21 18:48] cannikin commented on #1649
Looks like we'll need to do more introspection when generating the field names and/or GraphQL types.

[2021-01-21 20:07] peterp opened #1661 "Write script to update packages version"
- [ ] Write a script that bumps the version with `./tasks/increment-version <number>
- [ ] Once it's bumped by Lerna update ./packages/create-redwood-app/template/

[2021-01-22 05:46] peterp commented on #419
This is closed by #1637

[2021-01-22 05:46] #419 closed

[2021-01-22 14:14] viperfx opened #1664 "Using file access for Vercel deployment"
### Problem

When using libraries that need file access, there is no supported way to do this with Vercel + Redwood. Typically the use case here is templating libraries that initialize with a template directory of files, which the serverless functions need access to.

### Attempts to make this work

Using the following vercel config option - https://vercel.com/knowledge/how-can-i-use-files-in-serv

[2021-01-22 14:20] viperfx commented on #1626
I have an additional use case for this feature. I am doing some funky stuff with the router to accept routes via a wildcard subdomain and an "app" domain.

[code]

After chatting with @Tobbe about my use case and showing him some issues I've noticed with the router and multiple flashes on render, he suspected it may be due to the way I set up the router.

So this seems like a great solution for th

[2021-01-23 00:44] #1224 closed

[2021-01-23 14:53] toxsick commented on #887
@peterp not sure this is resolved. I get this error in very simple secenario:

[code]

And I see this error in storybook:

[code]

I am using redwood `0.21.0`. Am I missing something?

[2021-01-24 06:52] peterp opened #1667 "Upgrade webpack v4 to v5"
Previously we were blocked by the fact that Storybook was on Webpack 4, but they've already upgraded to Webpack 5.

Here are the docs for upgrading: https://webpack.js.org/migrate/5/

[2021-01-24 06:59] peterp commented on #1667
It looks like Storybook does not support Webpack 5: https://github.com/storybookjs/storybook/pull/13392 :/

[2021-01-24 19:27] jvanbaarsen commented on #1166
I don't see anyone assigned to this, I'd like to take a stab at this.

[2021-01-24 19:48] jvanbaarsen commented on #1166
@cannikin What do you say about the following syntax :

[code]

So we attach the config to the already existing `side` configs.

[2021-01-25 03:57] mbush92 commented on #1517
@dthyresson I have opened a draft PR #526 to address this missing documentation.  Can you please review and let me know if anything needs to be expanded on in the explanation or any other changes.

[2021-01-25 03:59] thedavidprice commented on #1166
Fantastic @jvanbaarsen Thank you for jumping in here! I've assigned this to you.

My two cents on the direction for discussion with you and @cannikin:

## Syntax
The initial suggestions about granularity are likely my fault. I've since redacted and now think it should be simple and either on/off per type of generated file:
[code]

Given a .toml setting, devs can still specify an option when a spec

[2021-01-25 04:00] thedavidprice commented on #1517
Thanks @mbush92 🚀

Assigned this to you and looped in @dthyresson for review on https://github.com/redwoodjs/redwoodjs.com/pull/526

[2021-01-25 04:15] thedavidprice commented on #1664
@peterp @dthyresson any suggestions about this one?

[2021-01-25 07:17] Tobbe commented on #1667
We use `chalk` a lot. Would this be an issue for us as well? https://github.com/facebook/create-react-app/pull/10198

[2021-01-25 08:15] jvanbaarsen commented on #1166
@thedavidprice Allright, makes sense!

RE: Mock files:
When adding the CLI flag I made it so that if either a test or a story was present I'd also generate the mock file. This was not something the user has any control over. I'd be in favour of keeping it that way. So if you generate either a story or a test the mock file is included for free.

RE: Documentation
I'll make sure to create a todo lis

[2021-01-25 12:17] dthyresson commented on #1664
I've chatted with @viperfx is Discord at it was I who referred him to the

that will inject the included file into the function zip created by Netlify's zip-it-and-ship it build process.

It literally adds a file into the archive.

As Vercel notes:

And that's what that workaround does in the build plugin ... and what would have to be solved in a general way during any deploy.

But, right now I do

[2021-01-25 12:42] dthyresson commented on #1517
One tiny wording change and we'll merge. The docs were excellent.

[2021-01-25 14:09] dthyresson commented on #1517
Approved and merged redwoodjs/redwoodjs.com#526

[2021-01-25 14:09] #1517 closed

[2021-01-25 16:07] thedavidprice commented on #1664
Are there any frameworks that provide this functionality in some way?

[2021-01-25 16:15] thedavidprice commented on #1166
Mock Files --> perfect and well done! I hadn't reviewed code or functionality (yet).

Docs --> thank you in advance!

[2021-01-25 16:36] thedavidprice commented on #1534
@cannikin I believe we've handled this in both the generators and the docs+tutorial, correct? Please close if so!

[2021-01-25 17:07] mojombo commented on #1166
It strikes me that `tests` is generic but `storybook` is specific to a piece of software. I think we should either make them both generic like `tests` and `stories` or specific like `jest` and `storybook`. Curious about all your thoughts on that.

[2021-01-25 18:35] jvanbaarsen commented on #1166
@mojombo In the CLI I used `stories`. I was planning on doing the same here.

[2021-01-25 19:34] dthyresson commented on #1664
Actually, @Tobbe and @viperfx I think that's worth a try -- after build:

`zip -ur /dist/functionsgraphql.zip ./email/src/templates`

[2021-01-25 20:27] cannikin commented on #1166
Thanks for the work on this @jvanbaarsen! I agree with @thedavidprice and @mojombo, I like the individual options spelled out:

[code]

Everything else sounds good to me (default to true, generate a mock if generating either a test or a story, etc). On the api side it should create the `scenarios.js` file if it creates the `test.js` file.

[2021-01-26 13:48] dac09 opened #1670 "[Discussion] Router & Babel upgrades to improve prerender capabilities"
### Background
Currently, the router has been written for client side only, while Prerender Part 1 resolves this partially, there are some incremental changes that could make prerendering a lot more robust.

The main issue is page loaders - with the combination of autoload routes babel plugin, and using "specs" to load pages, this makes it a significantly harder job running the router in Node.js

[2021-01-26 14:30] dthyresson commented on #1479
For Supabase, we can lock via a [Caret range](https://classic.yarnpkg.com/en/docs/dependency-versions/#toc-caret-ranges):

`"@supabase/supabase-js": "^1.1.1",`

To just 1.1.

I can add this to my PR for supporting OAuth: https://github.com/redwoodjs/redwood/pull/1669

[2021-01-26 20:32] peterp commented on #1670
2. Conditionally disable redwood-routes-autoloader plugin

I left a comment in your repo. https://github.com/redwoodjs/redwood/pull/1641/files#r564785928

3. Change the router to render synchronously in prerender mode

What if we modified the way the babel plugin did the imports? We could write them to be none spec compliant, no async and then the router might be happy?

[2021-01-26 21:42] jeliasson opened #1671 "403 AccessDenied on PR builds"
I'm trying to bring in PR build #1627 but I get an `403 AccessDenied` on the [package](https://rw-pr-redwoodjs-com.s3.amazonaws.com/1627/redwoodjs-core-0.23.0-07ee94d1.tgz). Are the packages missing, or has the S3 bucket policy changed?

[code]

/cc @peterp @Tobbe

[2021-01-26 21:50] Tobbe commented on #1671
Works for me 🤷

For that particular PR you can get it by upgrading to canary now, since it's been merged. But yeah, the links works for me, I can download the packages.

[2021-01-26 21:52] Tobbe commented on #1671
Tried the actual pr upgrade command as well, and that works too

[2021-01-27 00:21] thedavidprice commented on #1671
So you can't see this @jeliasson?

<img width="756" alt="Screen Shot 2021-01-26 at 4 20 32 PM" src="https://user-images.githubusercontent.com/2951/105924075-6cfa4f00-5ff2-11eb-8010-a73b824b038d.png">

I wonder if we have some kind of regional networking issues... no idea why that would be the case. Or how to test.

[2021-01-27 06:11] Tobbe commented on #1671
So it mostly works for me

![image](https://user-images.githubusercontent.com/30793/105950440-aec8db00-606e-11eb-884f-603b4992e783.png)

But I did get that `<Error>` once when I tried opening one of the links in an incognito window. But then when I tried again it downloaded just fine, even in incognito

[2021-01-27 10:06] jeliasson commented on #1671
Interesting. There must been a typo on my end where I wrote `yarn rw upgrade --pr 1627:0.23.0-07ee94d1` instead of `yarn rw upgrade --pr 1627:0.23.0-07ee94d`. Observe the extra `1` in the end, which naturally result in another url being fetched (which then gives 403).

I'll close this issue for now, and reopen if I see this behavior again minus the fat fingers 😅

[2021-01-27 10:06] #1671 closed

[2021-01-27 11:18] #1230 closed

[2021-01-27 12:03] jeliasson commented on #1636
@dac09 In regards to `azureActiveDirectory` as of `0.23.1-canary.10`, it looks like the user is redirected back to the login page upon hitting a `500` with expired token (which is `3600 seconds`). I'll look into having `azureActiveDirectory` reauthenticate when that happens, most likely by adding the `restoreAuthState()` method.

/cc @andrewlamyw

[2021-01-27 12:10] jeliasson opened #1672 "Azure Active Directory do not refresh auth token"
Authentication provider `azureActiveDirectory` does not refresh token after expiry, which is `3600 seconds`. As of canary `0.23.1-canary.10` the user is redirected to the authentication page, but it will need some more work on the provider to renew the token.

**Related Issues**
#1636 [Tracking] Validate token refresh issue across providers

**Related PR**
#1675 Azure Active Directory refresh acce

[2021-01-27 12:10] jeliasson commented on #1672
@dac09 @thedavidprice Assign this issue to me. Thanks!

[2021-01-27 13:55] dthyresson commented on #1672
Assigned to @jeliasson.

[2021-01-27 14:20] jangxyz opened #1673 "Cannot start storybook after adding afterQuery"
As described in [this thread](https://community.redwoodjs.com/t/afterquery-conflicts-with-storybook/1726),

`yarn rw sb` fails with the following error after adding `afterQuery` to a cell:

[code]

This could be easily repeated by generating a cell and adding a default `afterQuery` implementation.

[code]

<img width="1440" alt="Screen Shot 2021-01-26 at 19 16 53" src="https://user-images.githubus

[2021-01-27 20:00] #1246 closed

[2021-01-27 20:00] #1479 closed

[2021-01-27 20:00] #1537 closed

[2021-01-27 20:00] #1538 closed

[2021-01-27 23:53] brgmnn opened #1676 "Running tests on NavLink component throws "TypeError: Cannot read property 'pathname' of undefined""
When running the default generated test on a component that uses a `NavLink` you get a `TypeError: Cannot read property 'pathname' of undefined`. I managed to reproduce this with the following component:
[code]
And the following test which hasn't been modified and was generated by the layout scaffolding:
[code]
This gives me the following error in the console when running `yarn rw test`:
[code]
Th

[2021-01-28 00:26] wminshew commented on #1583
@its-dgreen let me known if you change your mind, happy to take this one if so

[2021-01-28 03:02] thedavidprice commented on #1583
@wminshew Let's give this one a day for @its-dgreen to respond. We ❤️ the contribution offers on this! Completely understood that there's a learning curve to getting started and "life" can interrupt plans. So no pressure for anyone either way.

[2021-01-28 03:28] its-dgreen commented on #1583
@thedavidprice @wminshew I am still having problems trying to get this up and running locally, so feel free to take it. Once I am able to get up and running and debugging well, I will try to get on a different issue.

[2021-01-28 05:45] thedavidprice opened #1677 "Framework `yarn build` command is skipping `packages/create-redwood-app`"
@peterp This is a strange one. During a run-through of the new publishing stuffz, I noticed there wasn't a `dist/` directory in `create-redwood-app`. Turns out `yarn build` is skipping `create-redwood-app`:
s
<img width="507" alt="Screen Shot 2021-01-27 at 9 05 29 PM" src="https://user-images.githubusercontent.com/2951/106095407-9d241980-60e8-11eb-9719-71a253a37a34.png">

<img width="199" alt="Scr

[2021-01-28 05:51] thedavidprice commented on #1583
Thanks for letting us know @its-dgreen Feel free to DM me on the [Forums](https://community.redwoodjs.com) (`@thedavid`) if you'd like some help on local setup and workflow. I could easily point you in the direction of a few resources as well as help directly.

@wminshew assigning this to you.

Thanks, all!

[2021-01-28 07:22] peterp commented on #1677
Hey @thedavidprice

I've fixed this now, but wanted to explain how. When you run `yarn build` it runs `yarn lerna build:js` which looks at all the `package.json` files in `./packages/*` and tries to find a script called `build:js`.

CRWA didn't have one! I'm not sure why/ how this worked previously

[2021-01-28 07:22] Tobbe commented on #1676
Hi @brgmnn, thanks for the bug report

So this is what's happening

`<NavLink>` uses the `useMatch()` hook to see if what you're passing as the `to` prop matches the current url. `useMatch()` in turns uses `useLocation()`. `useLocation()` internally uses `LocationContext`, which doesn't have a context Provider when you run the test, so it returns `undefined`.

[2021-01-28 07:31] #1677 closed

[2021-01-28 12:54] jeliasson commented on #1672
Fixed and merged in cab9e5f. Closing issue.

@andrewlamyw
Feel free to test this from canary build (`yarn rw upgrade -t canary`) and let us know if you have any issues.

/cc @dac09

[2021-01-28 12:54] #1672 closed

[2021-01-28 16:34] thedavidprice commented on #1677
@peterp Thanks for walking through this! And, yes, I saw the `build:js` used by Lerna but it didn't seem quite obvious to me why Lerna wasn't using `build` instead (no need to explain now, that's a minor thing).

So it seems Lerna is itself handling both JS and TS here `"build": "lerna run build:js && ttsc --build --verbose"`. For most of the packages, that ends up being identical to the `build` s

[2021-01-28 16:36] thedavidprice commented on #1677
FYI: I'm making an assumption that there's a specific Lerna build-time reason for not just running `yarn lerna build` and instead using `yarn lerna build:js && ttsc --build --verbose` --> is there a performance issue (or some weird gotcha)?

[2021-01-28 16:50] peterp commented on #1677
@thedavidprice The reason is the following:

1. We first transpile the javascript which means we remove all the type information and only emit the JS files.
2. We then use TypeScript to compile only the types, but of the entire project, in a way we use the step to check that everything is working together as required. Previously we had it so that each individual package built it's own types, but t

[2021-01-28 16:55] thedavidprice commented on #1677
@peterp thanks! Very helpful and confirms + extends my understanding.

Did you see the comment above about variations in build with Cli and Web?
https://github.com/redwoodjs/redwood/issues/1677#issuecomment-769209928

[2021-01-28 16:59] peterp commented on #1677
Ah! Thanks for catching these - I think CLI should definitely work the way you've suggested, but I think for web we can actually remove the `postbuild` step. I'll test to confirm.

[2021-01-28 17:00] thedavidprice commented on #1677
@peterp See PR https://github.com/redwoodjs/redwood/pull/1687

[2021-01-28 17:15] thedavidprice opened #1688 "[v0.24.0] `yarn rw test web` is Failing"
## How to Reproduce
- Run through the E2E process to create a new project and add code per E2E.
- Enter the new project and run `yarn rw test web --no-watch`

Results in the following errors:
[code]

[2021-01-28 17:48] thedavidprice commented on #1688
NOTE: @cannikin and I also identified an issue with the API generated tests. He's separately working on fixing the templates.

[2021-01-28 19:26] peterp commented on #1688
Hmmm... When I copied the code using `yarn rwt cpw` this error goes away.

[2021-01-28 20:11] jeliasson opened #1693 "Add root-path to api-server"
This issue and PR #1691 seeks to add optional argument `root-path` to `@redwoodjs/api-server`. This will allow to pass which root path that should be used for the functions, which is useful when the api server is behind a proxy and served under e.g. `example.com/api`. In it's current implementation, behind a `/api` prefix, address `example.com/api/health` would result in `Function "api" was not fo

[2021-01-28 20:16] jeliasson commented on #1693
@peterp Your input is highly appreciated!

[2021-01-28 21:00] thedavidprice commented on #1688
Bummer, the PR didn't do the trick.

Ran through E2E but also did the simplest possible path to reproduce:
[code]

Web test fails to run with error:
[code]

[2021-01-28 21:06] jeliasson commented on #1659
@thedavidprice 👋
To which path do we want to `cwd` to, and is there any specific case/command you think of?

[code]
Both examples resolves to the root of the project.

[2021-01-28 23:21] thedavidprice commented on #1659
Check out the helpers here!
https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/paths.ts

[2021-01-29 03:30] andrew-hwahin commented on #1672
@jeliasson  Thanks for your effort. 🙏 I'm facing this error after upgrading to the canary version 0.23.1-canary.23

![image](https://user-images.githubusercontent.com/61768800/106227843-07da6f80-6225-11eb-859e-4615a6d79abe.png)
![image](https://user-images.githubusercontent.com/61768800/106227909-26d90180-6225-11eb-846b-8b7da0107dfa.png)

[2021-01-29 06:44] #1688 closed

[2021-01-29 08:08] Tobbe commented on #1672
@andrew-hwahin There is a breaking change in canary. We've changed an import and component name. Full details will be in the release notes for the next release. But basically what you have to do the same changes as I've done here:

https://github.com/redwoodjs/redwood/pull/1639/files#diff-478b4309175ff97877735ec43c9c1305479332e22b178c06d737f6c66ff841a1

![image](https://user-images.githubuserconte

[2021-01-29 12:06] jeliasson commented on #1672
@Tobbe Thanks for the clarification.
@andrew-hwahin Below is my setup.

### `web/src/index.js`
[code]
### `web/src/lib/microsoft/azure/msal/client.js`
[code]

Notice that the new `getToken()` method expects environment variable `AZURE_ACTIVE_DIRECTORY_CLIENT_ID` to be set. If you are using another environment variable, I suggest you pass `options` to `getToken(options?)`, e.g.

[code]
See https://

[2021-01-29 21:23] pi0neerpat opened #1700 "[CLI] generate auth command breaks web"
Just hit this on Canary. Still need to diagnose, making issue now just in case release is planned in next day or so.

[2021-01-29 21:24] thedavidprice commented on #1700
Ah, definitely keep us posted (and curious as to which command specifically).

Please also keep a watch on this PR: https://github.com/redwoodjs/redwood/pull/1685

[2021-01-30 01:59] brgmnn commented on #1676
Thanks for looking in to this and opening a PR to address it @Tobbe! I look forward to using this in our tests when we upgrade to the next release 👍

[2021-01-30 02:29] wminshew opened #1701 "bug - flash interaction with navigate"
A very common pattern with creation & deletion mutations is to simultaneously navigate upon completion. I have noticed that the flash messages don't seem to interact well with the navigation--the [flash appears & almost immediately disappears after the navigation](https://www.loom.com/share/c8eef1aec54c40b38c90faa652da90ce).

[code]

is there another a way around this that I'm missing? not able to

[2021-01-30 19:38] tctrautman opened #1702 "URLs with named routes not generated from Links as expected"
Hello!

I believe I've stumbled onto a bug where Links don't generate the expected URL for some named routes.  Specifically, named routes with a variable as part (but not all) of a path.

For example, let's say this is the entirety of your routes file:
[code]

And on your home page you have these Links:
[code]

The first Link would bring the user to the following URL in dev:
```http://localhost:89

[2021-01-31 07:47] Tobbe commented on #1702
That's not a syntax that's supported by the router. Named parameters can only be full url path segments. So what you're describing is expected behavior.

That said, this could 100% be better documented!

As for workarounds, I'd love to help you with that. But I think I'd have to see your exact use-case. Can you share?

[2021-01-31 18:18] tctrautman commented on #1702
Ah, thanks @Tobbe!  This would certainly explain it.

Here's a use-case that's similar to mine.

Let's say we're trying to build a site that's SEO-optimized for dog-related google searches.  We might build a page that's optimized for the keyword "best dog food," which would ideally have the path `/best-dog-food`, since the path is a consideration for SEO.

But this term is general enough of a keyw

[2021-01-31 19:50] Tobbe commented on #1702
I really have no idea about seo, but wouldn't `/best-dog-food/{breedName}` work just as well? You still get all your keywords in the url, it's basically the same length. It's still understandable for both humans and machines.

[2021-01-31 20:13] tctrautman commented on #1702
My understanding is that there are significant benefits to having the exact term that someone would type into google as a path segment, but I can't speak to _how_ beneficial that is relative to alternative you mentioned.  I'll see if I can dig up some research on this, though.

[2021-02-01 02:12] tctrautman commented on #1702
Hmm, so after looking into this for a few minutes I struggled to find a resource that talks about the difference between these two ways of including keywords in the path.  I know I've read that before, but the fact that I couldn't find a resource that describes the importance might indicate it's not _that_ big of a deal. I'll close out this issue & rename it so others can chime in at a later time

[2021-02-01 02:12] #1702 closed

[2021-02-01 07:53] andrew-hwahin commented on #1672
A million thanks for the guidance and efforts 🙏 @Tobbe @jeliasson

I'm able to upgrade to the canary version successfully and so far I'm using it with no problem, I will update here again if I encountered any.😁

[2021-02-01 09:23] Tobbe commented on #1702
SEO is a lot of guessing and not a lot of hard facts... Thanks for posting your workaround with the regular `<a>` tags. Named path parameters are an integral part of the way the router works and we have no plans to remove those.

[2021-02-01 09:40] jeliasson commented on #1672
@andrew-hwahin You are welcome. Be noted that https://github.com/redwoodjs/redwood/pull/1703 was merged a few hours ago and this will most likely result in that [new docs](https://deploy-preview-534--redwoodjs.netlify.app/docs/authentication#azure-active-directory) being published as part of Redwood 0.24.0 release.

While this won't make any breaking changes, it clarifies how `logIn` and `getToken

[2021-02-01 10:02] jvanbaarsen commented on #1701
@wminshew What happens if you switch the two lines around? Or doesn't that make any difference?

[2021-02-01 15:34] tctrautman commented on #1702
Perfect, thanks for the help @Tobbe!

[2021-02-01 16:20] dac09 opened #1706 "[Internal] @redwoodjs/structure: RW Project imports from wrong place"
RWProject in RWStructure imports from internal dist

Here: https://github.com/redwoodjs/redwood/blob/cca6c966c29f2fcf96154d1635a9aa8e76d864c5/packages/structure/src/model/RWProject.ts#L7
[code]

Changes this to `@redwoodjs/internal` (which is the correct thing to do), causes auto-loader tests to fail. It probably needs a lot of mocking for RWProject to initialise correctly

[2021-02-01 16:25] dac09 commented on #1706
This might be helpful. I mocked internal like this before:

[code]

[2021-02-01 17:48] wminshew commented on #1701
confirmed - no difference

[2021-02-01 17:54] peterp commented on #1701
@cannikin I don't think I've seen this particular behaviour myself, is this something that you've noticed before?

[2021-02-01 17:57] cannikin commented on #1701
I've noticed that if you don't wait for a flash message to disappear before invoking a second one, it sort of "resets" the timer and now you'll see two messages, then three, then four...until you finally let them disappear, then they'll be gone for good.

[2021-02-01 17:59] peterp commented on #1701
@cannikin Maybe we should abstract something like https://react-hot-toast.com/ instead of having our own?

[2021-02-01 18:00] peterp commented on #1701
I mean... we could keep the interface, but just use them under the hood. RHT is currently smaller than our implementation.

[2021-02-01 20:23] cannikin commented on #1701
hahaha I do love that name.

Yeah, it'd be nice to not have to worry about debugging a custom implementation when someone else has (hopefully) figured all that out already. Looks like they have some interesting options for styling and such, too.

[2021-02-01 23:28] thedavidprice commented on #1700
@pi0neerpat any updates on this one?

[2021-02-02 02:18] thedavidprice commented on #1700
#1685 has been merged and will be included in v0.24 release. I've tested the `setup auth` commands and they seem to be working correctly.

Please do test on v0.24 and let me know otherwise.

[2021-02-02 02:18] #1700 closed

[2021-02-02 02:27] VinayaSathyanarayana opened #1709 "Storybook"
It will be nice if some details are provided on the Storybook integration is planned

[2021-02-02 03:24] KrisCoulson commented on #1709
@VinayaSathyanarayana what type of information are you looking for? Storybook is already implemented if you are looking for more info on how to implement @cannikin 's Tutorial Part 2 has a really good intro

[2021-02-02 06:55] thedavidprice commented on #1709
Is this what you're looking for?
https://redwoodjs.com/tutorial2/introduction-to-storybook

[2021-02-02 17:02] TheSavageDev opened #1713 "Bug in Version 0.24"
I could not run `yarn rw setup deploy netlify` and `yarn rw setup auth netlify` on versions 0.23 of all the packages.

So I upgraded to versions 0.24 of all packages. Those above commands now work, but when running `yarn rw dev` it fails when it didn't on version 0.23.
![Screen Shot 2021-02-02 at 10 59 14](https://user-images.githubusercontent.com/32180237/106635026-fb685680-6545-11eb-9c2a-3909ef3

[2021-02-02 17:03] TheSavageDev commented on #1713
When reverting to 0.23 on all packages `yarn rw dev` will work as expected

[2021-02-02 17:04] TheSavageDev commented on #1713
Nvm. I'm dumb. I read the changelog.

[2021-02-02 17:04] #1713 closed

[2021-02-03 15:29] dthyresson opened #1717 "Data Migrate Command: dataMigrate install refers to `yarn rw db up` when it should refer to `yarn rw dataMigrate up`"
Data Migrate Command: dataMigrate install refers to `yarn rw db up` when it should refer to `yarn rw dataMigrate up`

When running the command `yarn rw dataMigrate install`:

[code]

However, the message should be:

`yarn rw dataMigrate up`

as that is the instruction after creating a dataMigration file:

[code]

[2021-02-03 16:16] #1717 closed

[2021-02-03 17:37] adriatic opened #1719 "Some of the generated ts files on Windows fail to use ensurePosixPaths"
A good example is `redwood/types/routes.d.ts`

[code]

This results in VS Code confusion (it could probably be fixed via VS Code settings, but fixing the incorrect file generator would be more appropriate)

[2021-02-03 18:24] jvanbaarsen commented on #1166
Just some sign of life; I'm still working on this, but my time is a bit limited past period

[2021-02-03 22:39] Tobbe commented on #1719
Relevant code here https://github.com/redwoodjs/redwood/blob/19bb1b5f39dae7d6863096b560bc3549889a7b9a/packages/core/src/babelPlugins/babel-plugin-redwood-routes-auto-loader.ts#L52-L63

[2021-02-04 02:17] rechandler opened #1726 "useSelector breaking v0.24.0"
could not find react-redux context value; please ensure the component is wrapped in a <Provider>
Error: could not find react-redux context value; please ensure the component is wrapped in a <Provider>
    at useReduxContext (http://localhost:7910/main.8dc4a9e79da6f0a4eb85.bundle.js:136408:11)
    at useSelector (http://localhost:7910/main.8dc4a9e79da6f0a4eb85.bundle.js:136530:28)
    at VehicleInf

[2021-02-04 02:44] rechandler commented on #1726
The issue for anyone else who might come across this was because RedwoodProvider was replaced by Redwood Apollo Provider.
https://github.com/redwoodjs/redwood/pull/1639
Swap those out and you'll be good to go.

[2021-02-04 02:44] #1726 closed

[2021-02-04 02:49] thedavidprice commented on #1726
Full details and "How to upgrade" found in respective sections of the v0.24 Release Notes:
https://github.com/redwoodjs/redwood/releases/tag/v0.24.0

[2021-02-04 06:34] VinayaSathyanarayana commented on #1709
On the main page it still says storybook (Coming soon)

[2021-02-04 10:05] andrew-hwahin commented on #947
Do you happen to know any resources to deploy Redwood using Azure Functions? 🙏

[2021-02-04 11:39] dac09 opened #1727 "RFC: Export constants for webpack plugin index"
Currently the way user's have to override webpack plugins, is to know the index in which it is configured. A use case I'm thinking of is overriding style loaders at index 2, 3, 4 and 5.

This RFC suggests exporting constants something like:
[code]

So that the user can see where the plugins are configured, and override them as necessary in their projects webpack config.

[2021-02-04 12:08] dac09 opened #1728 "RFC: Remove prisma from @redwoodjs/api dependency"
## What?
Remove prisma from @redwoodjs/api dependency, so we can upgrade/downgrade as a user of redwood, without needing to mess with lockfiles or resolutions.

Currently even if you install prisma, yarn resolves the version specified inside the api package.json for use with redwood (so just doing the install is kind of pointless).

We have to use resolutions like this forum post: https://communit

[2021-02-04 12:44] viperfx commented on #1636
Would it be possible to merge these changes in as each provider is done? rather than delay the fix. I am facing this very commonly on my project and I am holding on launch for this fix.

[2021-02-04 12:45] dac09 commented on #1636
@viperfx the change has already been merged here https://github.com/redwoodjs/redwood/pull/1627

[2021-02-04 13:28] Aditya-1804078 commented on #1659
I am new to open source community, can you please assign this issue to me?? Working on this issue would be a start for me.

[2021-02-04 14:06] dthyresson commented on #1636
@viperfx FYI this is in https://github.com/redwoodjs/redwood/releases/tag/v0.24.0 (see notes and fixed list)

[2021-02-04 14:07] viperfx commented on #1636
Oh! Thank you both for pointing that out! I will upgrade today!

[2021-02-04 14:19] jeliasson commented on #1659
@Aditya-1804078
I'm sure you'll have @thedavidprice blessing, so go for it. Let us know if you'd need any help to get started, and welcome to the open source community! 😊