[2022-07-21 15:07] Gresliebear commented on #5984
@TristanWYL I have written down my steps in a word doc and recorded myself doing this however I need to cover up the ip address and passwords, plus the video is two hours long etc

[2022-07-21 17:14] jkjetty commented on #4625
I hadn't given it a try but I had to do a bit of searching around to figure out why it wasn't working. I like and probably prefer the CLI for most things, but the project explorer seemed worthwhile!

[2022-07-21 17:59] cannikin commented on #5984
@Gresliebear Okay I'm at my computer and can go through your issue a little more easily now!

So you're definitely getting the `index.html` page back from the `web` side, which says to me that nginx isn't configured right: it's returning the `web` side response for something that should be from the `api` side. By default, every URL *should* return `index.html` so that React can take over and deter

[2022-07-21 20:27] sgup commented on #5890
If we consider a very simple example of a website with a gallery of images, and if you click one a modal which can navigate between images:

<img width="1043" alt="Screen Shot 2022-07-21 at 4 10 54 PM" src="https://user-images.githubusercontent.com/404386/180306854-7bd12132-0c3b-47f4-8be5-89e22e9f15a6.png">
<img width="1043" alt="Screen Shot 2022-07-21 at 4 13 13 PM" src="https://user-images.githu

[2022-07-21 20:29] sgup commented on #5890
React-Navigation is also worth looking into: https://reactnavigation.org/docs/nesting-navigators

[2022-07-21 21:20] #5792 closed

[2022-07-21 21:27] pvenable commented on #3787
It seems that people tend to seek this functionality in order to track page views in a generic way.  I now have this use case and was surprised to find there's no way to resolve the current route name.  I haven't found evidence that there are any good workarounds either (other than adding manual tracking per page).

Is this a blocker for implementing any solution at all here?  The rest of the abov

[2022-07-21 21:55] Tobbe opened #6016 "Document or include `dnull` in our template"
### What's not working?

Danny made a note about `dnull` in the strict-mode.md docs in his TS Strict-mode PR

[docs/docs/typescript/strict-mode.md](https://github.com/redwoodjs/redwood/pull/5491/files/ae06e800ecb48dd5b62d047fc9e0275667f68a3d#diff-5724cf5fcb2513dd45d77088d6ec7870d3e8c6333a0ddbb22698f171782d39bb)

I started a discussion with him about it

*Tobbe:*
The way I read this it sounds as if

[2022-07-22 04:03] Gresliebear commented on #5984
Sorry for the late response I will get back to this Saturday or Sunday Hopefully I have deadline I am trying to meet and Work in general.

[2022-07-22 05:13] Tobbe commented on #5890
@sgup Thanks for the sketches and code samples. That makes this easier to talk about 🙂

We've worked really hard to keep the routes file as flat and simple as possible. With just a single <Router> in a single file and no nesting of routes.

If at all possible we'd really like to keep it that way even when adding this feature.

Another thing I'd like to think about now is animation support. Current

[2022-07-22 05:34] sgup commented on #5890
of course! I need my visual aids haha.

Then perhaps a way to define with modal routes/sets, and simply being able to call upon them from any page:

[code]

I would *love* that! I was actually trying to animate my modal sub-views (in my hacked together modal routing solution) to be able to slide between each other. I think it would make the most sense as an animate option:

[code]

And actually th

[2022-07-22 06:37] Tobbe commented on #5890
Yeah! That's not a bad idea.

Another option is to introduce a new `<ModalRoute>`

[code]

And whenever you navigate to a `<ModalRoute>` using `navigate()` or `<Link>` it'd open in a modal, but if you typed in the full url or had a bookmark or something it'd just show that as a full page

My main concern is that we're building something too specific here. If we could make something more generic, t

[2022-07-22 10:38] Philzen commented on #5956
@TristanWYL

    function handleSubmit(e) {
        // alert(input.message);
        console.log(e);
    }

This works b/c `e` has an implicit `any` type – while it is not a event at all, the correct typing for a single argument callback still is:

[code]

… which again makes a typescript error.

Yes, one can actually use most Chakra UI components to render something else – the `as` property simpl

[2022-07-22 16:23] joconor opened #6021 "[Bug?]: Serverless deploy should not default to using serverless 'production' stage name"
### What's not working?

Serverless framework has the concept of 'stages' for multiple, parallel deployments. The Serverless framework normally defaults to the 'dev' stage but RedwoodJS overrides this and defaults to 'production' for the serverless stage. The production stage would, as its name implies, be used for a live production system. A live production system should only ever be deployed to

[2022-07-22 16:32] #5795 closed

[2022-07-22 17:56] joconor commented on #6021
See PR #6023

[2022-07-23 00:44] tyteen4a03 opened #6025 "[Bug?]: Cannot generate enum types with GraphQL Codegen"
### What's not working?

so a prisma schema:
[code]

ends up being this in GQL Schema:

[code]

All fine thus far. But when you generate the TypeScript type it becomes:

[code]

I put in this into codegen.yml at the root:
[code]

(noExport just to test if it's the file that's not getting passed down); only the noExport one got passed down

### How do we reproduce the bug?

_No response_

### What'

[2022-07-23 15:07] TristanWYL commented on #5956
Hi @Philzen , I am pretty sure, that the `onSubmit` method of Chakra's Form only accepts one arg which is of FormEvent. However, you used Redwoodjs's Form for the `as` prop, so the `Box` component is replaced by Redwoodjs's Form, but the props type still keep same as `Box`, rather than replaced by Redwoodjs Form's props. I guess this is a bug of Chakra, and probably you should turn to Chakra commu

[2022-07-23 16:10] peterp opened #6027 "[RFC]: CLI Speed Improvement"
### Summary

The CLI is a bit slow. It takes ~1150ms to run `redwood --help`. I believe speed is part of DX and we should aim for ~300ms response time in the CLI.

[code]

### Detailed proposal

We're also using yargs at Snaplet and the approach we've taken is to separate the handlers (the logic that the CLI runs) from the structure that the CLI runs. We do this by asynchronously importing the cod

[2022-07-23 16:21] SarveshLimaye commented on #5589
Sorry @jtoar got busy with exams  . I would have loved to work on this issue but unfortunately don't have time . Would love to contribute to redwood  once  I am free 😄

[2022-07-24 02:28] TristanWYL commented on #5956
Actually I am very curious about how ChakraUI component's `as` props works, so I submitted [an issue](https://github.com/chakra-ui/chakra-ui/issues/6367) in ChakraUI's github. Hope any responses can help us.

[2022-07-24 03:08] TristanWYL commented on #6027
In addition to the speed, I want to bring up the problem with the Prompt Windows. Why does redwoodjs's CLI raise so many Prompt Windows which only stay for a little while. Can we simply disable this?

[2022-07-24 03:13] realStandal commented on #6027
@TristanWYL Assuming you're on windows, [see #5728](https://github.com/redwoodjs/redwood/issues/5728#issue-1266541465).

[2022-07-24 06:39] peterp commented on #6027
Update, a ton of time is spent in `lib/index.js`. This is where we import everything and the kitchen sink. I'm going to split the largest imports into seperate files: babel, prettier, listr
<img width="1389" alt="image" src="https://user-images.githubusercontent.com/44849/180635508-bdcc95a1-10eb-46a3-9f20-496e61321dfb.png">

[2022-07-24 07:24] TristanWYL commented on #6027
@peterp Interesting! May we know how did you make this graph?

[2022-07-24 07:58] TristanWYL commented on #5956
I guess [this reply](https://github.com/chakra-ui/chakra-ui/issues/6367#issuecomment-1193245029) could help!

[2022-07-24 08:00] TristanWYL commented on #6027
Thx for letting me know!

[2022-07-25 08:13] ladderschool commented on #5887
To incorporate the redirect after a user has logged in and refrain them from ever being able to go back to those signup and login pages, this is what I do:

`
**Routes.js**
<Private unauthenticated="login" roles="admin">
        <Set wrap={LoggedInLayout}>
          <Route path="/admin/users" page={UsersPage} name="UsersPage" />
        </Set>
      </Private>
<Private unauthenticated="login" role

[2022-07-25 09:37] peterp commented on #6027
@TristanWYL That's `0x`

`npx 0x -o node_modules/@redwoodjs/cli/dist/index.js --help`

[2022-07-25 15:36] noire-munich commented on #6021
Thank you for this @joconor !

PR is merged already so I'll close the issue.

[2022-07-25 15:51] joconor commented on #6021
If you're suggesting that PR #6023 addresses this, it doesn't. That was about the *reporting* of which stage was being deployed to during a first run, this is about the stage used as default when no stage is specified.
I'm suggesting that by defaulting to 'production' when no stage is explicitly specified, you make it easy to accidentally overwrite a real production deployment. I would recommend t

[2022-07-25 15:54] noire-munich commented on #6021
My apologies!
Let's reopen and triage it properly...

[2022-07-25 16:35] #5463 closed

[2022-07-25 16:35] #5481 closed

[2022-07-25 16:35] #5261 closed

[2022-07-25 18:13] dthyresson opened #6036 "[Bug]: If an error is raised as part of the useMutation hook then the error message renders improperly as a FormError"
### What's not working?

See  https://github.com/redwoodjs/redwood/issues/5802

If an error is raised as part of a mutation that is not a GraphQL or Network error returned by the graphql-server as part of handling the operation then the error message renders as a FormError.

This message should not leak code messages about the error or should not be part of the FormError but instead some other pag

[2022-07-25 18:20] Tobbe commented on #6036
As DT said, an error in `onCompleted` will render as a form error. But, IMHO, form errors are more like (server-side) validation errors, or a failure to create or update a resource or something like that. When the mutation has completed successfully on the server side it's no longer a form error (again, in my opinion).

Personally I'd probably expect this kind of error to be handled by my own Erro

[2022-07-25 19:02] standup75 commented on #5101
https://github.com/redwoodjs/redwood/pull/6037

[2022-07-25 19:28] dthyresson commented on #5841
Re-assigned based on review of PR #5874

[2022-07-25 19:53] dthyresson commented on #5689
I need to do some tests, but I wonder if instead of iterating the feeds to check if is an id, can use the the Model's `primaryKey` property instead?

https://github.com/prisma/prisma/blob/da4538d42aca8d7ab2777a979c0e8293f78b22b9/packages/generator-helper/src/dmmf.ts#L61

[2022-07-25 21:36] Philzen opened #6040 "[Bug]: Upgrades don't update the executable in .yarn/release"
I was just revisiting the tutorial (which i can see has had some nice evolution and really useful additions) and wanted to upgrade the RedwoodJS stack as storybook just didn't want to start and i [recalled we had some problems with it back in 1.0.0](https://github.com/redwoodjs/redwood/issues/5054).

Unfortunately, running `yarn redwood upgrade -t v1.5.2` didn't run smooth:

[code]

I have no idea

[2022-07-25 22:27] iskandersierra opened #6041 "[Bug?]: Error building context with Azure AD B2C authentication: JWT issuer invalid"
### What's not working?

When I call `logIn()` function from HomePage, and a JWT token is issued to call the graphql API (`redwood.currentUser`), the API prints an error saying that jwt issuer is invalid:

[code]

### How do we reproduce the bug?

I followed the documentations at: https://redwoodjs.com/docs/authentication and https://redwoodjs.com/docs/auth/azure over a recently created rw project

[2022-07-26 04:46] jtoar commented on #6040
These are both valid concerns. The upgrade command needs some TLC. It's error messages aren't great, and you're right that when we update the CRWA yarn version, we don't do anything for existing redwood apps.

[2022-07-26 06:55] jtoar commented on #5915
@Gresliebear thanks for your patience! I'll try to take a look at this one soon.

[2022-07-26 07:04] #5814 closed

[2022-07-26 07:19] jtoar commented on #3213
Technically this will be possible after https://github.com/redwoodjs/redwood/pull/5903 lands.

[2022-07-26 13:00] dthyresson commented on #5689
@joconor Is this the expected SDL you would imagine being generated?

[code]

[2022-07-26 15:36] jtoar commented on #5266
It's fairly fast after https://github.com/redwoodjs/redwood/pull/6034, caching is probably overkill.

[2022-07-26 16:17] joconor commented on #5689
LGTM!

[2022-07-26 18:15] #5101 closed

[2022-07-27 04:51] Gresliebear opened #6055 "[Bug?]: Windows Bug Contributing Issues with project sync"
### What's not working?

I am stuck on development/contributing  when I make changes to redwood framework RedwoodIssues https://github.com/Gresliebear/redwoodIssues/tree/redwoodIssues and run
`yarn cross-env RWFW_PATH=E:\RedWoodIssues\redwoodIssues\ rwfw project:sync`

 it completely overwrite my changes that I just wrote in the framework and it doesn't put the changes into the test-project.

###

[2022-07-27 11:22] dac09 commented on #6055
Hi @Gresliebear - thanks for raising the issue, and for trying to contribute!

I think perhaps you're changing the code in your test-project under `node_modules/@redwoodjs/xxx` ? In that case this is expected behaviour that it gets overwritten.

What the expected flow is:
- run `yarn rwfw project:sync` in your _project_ - not in the framework
- make changes to the framework _source_ - in your case

[2022-07-27 12:38] larksoftware commented on #5915
I just hit something similar in both Storybook and jest.

Here is the error in Storybook
[code]
And in Jest for the same component
![jest-error](https://user-images.githubusercontent.com/60855389/181248489-2801637a-a107-467d-bafd-009420409946.png)

[2022-07-27 13:00] Gresliebear commented on #5915
Sorry for slamming your github with constant issues

[2022-07-27 16:43] dthyresson commented on #5657
@jtoar In Office Hours @joconor inquired about he status of this issue and how enviers are being used. Can we add this to the Triage and discussion for next status?

[2022-07-27 18:22] Philzen opened #6057 "[Bug]: CLI output swallows some text (review steps info) in narrow terminal windows"
### What's not working?

Upgrading an existing project from v1.5.1 to latest (v2.1.1) via `yarn rw upgrade`, i got:

![grafik](https://user-images.githubusercontent.com/1634615/181342087-4b2dec94-0aba-400f-a558-2a609839e2d4.png)

Apart from the fact that the word "communit" could clearly make use of an additional  "y", i am getting a strong hunch that there is more stuff missing here :wink:

---

[2022-07-27 18:29] Philzen commented on #6057
One interesting observation that may point into the direction of what's going on here.

When i run the command in a wide-enough terminal window (as seen on the 2nd image above) everything is fine like this:

![grafik](https://user-images.githubusercontent.com/1634615/181345528-440c688b-6939-46fe-ad1a-1e2c6e6a32fd.png)

Now, when i resize that window to the half the size (82 chars wide, which is my

[2022-07-27 21:21] Philzen opened #6062 "[Bug]: Storybook opens automatically though CLI doc implicitly suggests otherwise"
### What's not working?

The CLI doc explicitly lists the `--open` command option and does not make any statement about this happening anyways – which tells me as a reader that it won't automatically try to open up any new browser windows on my system.

https://redwoodjs.com/docs/cli-commands#storybook

It should at least mention that `--open` is the default behavior anyway (so it's partially poin

[2022-07-27 21:24] Philzen commented on #6062
Actually this behavior is a real nuisance for our development team. While we have the ability to configure the Redwood dev server's behavior in `redwood.toml` via

[code]

there seems to be no way to configure Storybook to act alike, other than adding `--no-open` whenever we fire up `yarn rw storybook`.

It'd be awesome if that could be changed in v3 or if there would be any means of configuring t

[2022-07-27 21:58] Gresliebear commented on #6055
the expected behavior is not happening. Because I checked before posting the issue in this screen shot and the path for the framework is` E:\RedWoodIssues\redwoodIssues`

![image](https://user-images.githubusercontent.com/13157730/181378325-79b0aed0-7899-4d93-9273-2e3f60f7f9d2.png)

Then the path for the test-project is `PS E:\RedWoodIssues\redwoodblog> `

![image](https://user-images.githubuserco

[2022-07-27 22:27] Gresliebear commented on #6055
I tried it and didn't work

[2022-07-27 23:25] dac09 commented on #6055
I still think there’s some wires crossed here. As we use rwfw every day, a large bug like this should be something we would notice - admittedly none of the core team use Windows on a day to day basis, but our CI smoke tests do something similar.

I’m not sure what the gif is showing - are you making changes inside your node modules that gets overwritten? The idea isn’t that changes you make in you

[2022-07-27 23:27] dac09 commented on #6055
Also is there a chance you’re modifying code in the “dist” folders?

[2022-07-27 23:32] Gresliebear commented on #6055
yes

[2022-07-27 23:34] Gresliebear commented on #6055
@dac09  it works now I was editing inside of dist facepalm

[2022-07-27 23:34] #6055 closed

[2022-07-27 23:35] Gresliebear commented on #6055
@dac09  Thank you Dac

[2022-07-28 02:32] simoncrypta commented on #6057
I got the same problem that you, but do you use Gnome Terminal ? I am curious if is not a bug from the terminal itself. I will try on macOS tomorrow,

[2022-07-28 02:49] Philzen commented on #6057
Using xfce4-terminal 1.0.4 over here

[2022-07-28 06:49] richard-stafflink opened #6063 "[Bug]: jest.config.ts not supported"
### What's not working?

I can not use a `api/jest.config.ts` (TS version of the Jest config) as the name check in RW is hard coded:
https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/test.js#L37

According to the Jest [docos](https://jestjs.io/docs/configuration) `jest.config.ts` is allowed.

### How do we reproduce the bug?

Rename `jest.config.js` -> `jest.config.ts`

[cod

[2022-07-28 08:00] TristanWYL commented on #6027
Awesome! Thanks so much

[2022-07-28 08:23] jtoar opened #6064 "Tracking issue for next major (v3)"
We're looking to get another major out soon. The Node.js ecosystem is somewhat forcing our hand with this as many packages are dropping support for Node.js 12, which is what Redwood's build process currently targets. We do run all our CI on Node.js 14 and 16, so we actually have a lot of confidence that Redwood won't break. But Node.js 12 isn't the even the maintenance LTS anymore, so it's high ti

[2022-07-28 10:14] jtoar commented on #6027
Even though #6028 was merged, I'll reopen this as we plan on making more improvements.

[2022-07-28 11:11] larksoftware commented on #5915
I have more information for whatever it's worth. I was going to see if I could at least gather more information about the problem by pulling in a development build of redwood. I was hoping to at least get a better stack trace or something. However when I do
[code]
In my project then re-start Storybook, the problem goes away.  So I figured maybe the problem doesn't exist in the main branch. So I pu

[2022-07-28 14:18] dac09 commented on #6063
Hello @richard-stafflink - thanks for raising the issue.

To be clearer, is the problem that you can't run the codemod? Or that when you run jest it doesn't use your TS jest.config file?

[2022-07-28 15:15] adriatic opened #6075 "[Bug?]: The section Using the Example Repo has a redundant command"
### What's not working?

The section [Using the Example Repo](https://redwoodjs.com/docs/tutorial/intermission#using-the-example-repo-recommended) lists the several commands that need to be executed in order to build this app:

[code]

The line `yarn rw prisma db seed` should be removed since the previous command (`yarn rw prisma migrate dev`) does the seeding as it last action:

<img width="754"

[2022-07-28 15:18] jtoar commented on #5657
@dthyresson sure, and I can probably prioritize it now that the we're refactoring the CLI—I can make it a part of that.

[2022-07-28 15:23] #6063 closed

[2022-07-28 15:30] TimJ0212 commented on #5743
Could you open a Pull Request? I am very interested in this feature.

[2022-07-28 21:17] Tobbe commented on #5887
Thank you @ladderschool that's exactly how I meant you can do it!
If you want you can combine `<Private>` and `<Set>`

#### Routes.js
[code]

#### AuthRedirect.js
[code]

@dthyresson I think what you mentioned is also possible with what @ladderschool showed. I added it to my tweaked version of his solution above

@Olyno You said

Do you think this solution solves that problem? Or is it still too r

[2022-07-29 00:18] Olyno commented on #5887
I wasn't thinking of adding multiple layouts, so I thought I would have to check each time. By adding multiple layouts, it solves the redundancy problem :)

[2022-07-29 02:51] adriatic opened #6078 "[Bug?]: The type `ArticlesQuery` does not exist in types/grapql"
### What's not working?

The tutorial section [Getting Dynamic](https://redwoodjs.com/docs/tutorial/chapter2/getting-dynamic) defines the code for the file web/src/components/ArticlesCell/ArticlesCell.tsx. TS version as:

[code]

However the `ArticlesQuery` type does not exist in `types/graphql` as shown below:

<img width="734" alt="image" src="https://user-images.githubusercontent.com/2712405/18

[2022-07-29 05:51] noire-munich commented on #6078
Thanks @adriatic , we are aware of issues in typescript tutorial so any reporting is useful to us 👍🏻 .

@jtoar I'm not sure how to reassign this, so I'll pass it up to you.

[2022-07-29 05:59] noire-munich commented on #6075
@adriatic nicely spotted!
Indeed, `yarn rw prisma migrate dev` seeds at the end. Not sure why we've kept both, probably it's old doc that needs updating.

@dac09 can you confirm this is only about updating the docs?

[2022-07-29 09:43] dambusm commented on #2685
I encountered this issue today while replacing Netlify Identity.

I was able to solve it by removing the `<AuthProvider>` component in `App`'s render function. After that was removed the `setup auth` command completed successfully.

It didn't fully clean up the old netlify installation though, so I had to manually remove this line from `App.tsx`:
`isBrowser && netlifyIdentity.init()`
and also remo

[2022-07-29 10:37] #4945 closed

[2022-07-29 12:55] #6075 closed

[2022-07-29 12:55] Philzen commented on #6040
### Suggestion

Instead of committing the yarn executable code into the repository (twice!), why not use `git submodules` and link to the yarn executable directly?

#### Advantages

* Avoid unnecessary repository growth (b/c updates are compiled, amount of reusable / compressable code is limited to git, thus the repository grows faster with every yarn update)
* Refer to a single source of truth, n

[2022-07-29 14:30] adriatic commented on #6078
@noire-munich is there some workaround / temporary re-declarations to get me going? It is hard to believe that typescript development is dead at this moment?

[2022-07-29 14:34] Tobbe commented on #6040
I think the yarn people actually recommended us to commit the yarn bin. Dom will definitely know more. But I did also find this issue that sounds related https://github.com/yarnpkg/berry/issues/2216 It is from 2020 though, so might not be relevant anymore

[2022-07-29 14:36] Tobbe commented on #2685
We're currently investigating a full rewrite of how we handle different auth service providers. I think it'll be much easier to replace one for another after that. Or even run two at the same time 😮

[2022-07-29 14:50] Tobbe opened #6080 "[Bug?]: yarn rw type-check fails on scaffolded code"
### What's not working?

Running `yarn rw type-check` on code that has been scaffolded with `yarn rw g scaffold` shows there are a bunch of errors and exits with an error code.

### How do we reproduce the bug?

[code]

Edit schema.prisma:

[code]

[code]

This is the output I'm seeing:
[code]

And a screenshot for some more color

![image](https://user-images.githubusercontent.com/30793/181785866

[2022-07-29 19:27] rushabhhere commented on #5743
@TimJ0212 I don't think a pull request is suitable for this. I have left a comment on a similar issue in the redwood-tutorial repository (https://github.com/redwoodjs/redwood-tutorial/issues/56#issuecomment-1199877300) and am waiting for a response from the core team.

[2022-07-30 08:18] Tobbe commented on #6041
Hi @iskandersierra

I've never used Azure before, but I spent some time this morning trying to set it up. I'm still not done, but I think your JWT_ISSUER might be wrong.

You said you have
[code]

From what I'm reading it should be
[code]

So, for example

[code]

I'll continue trying to set everything up on my end, but if you could try with "domain id" instead of "domain name" (and no ".onmicroso

[2022-07-30 08:32] Tobbe commented on #6041
I got started on a PR for updating the docs https://github.com/redwoodjs/redwood/pull/6086 but I'll leave it as a draft until I've verified that I can get it working on my own.

Here's a preview of the updated docs https://deploy-preview-6086--redwoodjs-docs.netlify.app/docs/canary/auth/azure

[2022-07-30 09:23] Tobbe commented on #6041
I've confirmed it working. I can login using Azure B2C.

I'll try to get those updated docs merged, and then I'll close this issue

[2022-07-30 09:42] ladderschool commented on #5890
As someone who just recently began using Redwood and loving it so far, I think this is a legitimate question to ask at this point. Personally, what I love about the router is that it's lightweight and if you organize it well, it can look bomb {/**/}, put roles in arrays/objects, etc. I don't think it should be cluttered with additional props to do this? I don't remember a lot about Context when go

[2022-07-30 10:28] #6080 closed

[2022-07-30 15:48] Tobbe commented on #5890
Not at all! I very much welcome all the input here 🙂  That `animate` prop on the Set does look nice 👍  Maybe that's how we should do modal routing as well

[code]

[2022-07-30 15:54] iskandersierra commented on #6041
Perfect! @Tobbe . I'll check that out this weekend and confirm if it's working for me too. Thanks!

[2022-07-30 16:01] iskandersierra commented on #6041
Confirmed. I just tested it and it worked using the Directory/Tenant Id (GUID) in the second placeholder of the JWT_ISSUER

[2022-07-30 21:34] Tobbe opened #6088 "[Bug?]: Deploy to Netlify and Vercel not working when prerendering with Redwood canary"
### What's not working?

I have a RW app where I prerender the home page. This works fine when I run everything locally. But it fails when I try to deploy to Netlify or Vercel.

This is what I see on Netlify

![image](https://user-images.githubusercontent.com/30793/181996699-ad9b740c-7078-425d-8c01-268d679b601c.png)

And for better googleability, here's the plain-text version
[code]

Further up th

[2022-07-30 21:38] Tobbe commented on #6088
I managed to reproduce the behavior locally

[code]

And making it work is as simple as

[code]

And if I change my build command in `netlify.toml` to this, it starts working on Netlify too!
[code]
(I removed prisma migrate and data migrate because I don't need that for this simple project)

[2022-07-30 22:36] Tobbe commented on #6088
Another option that seems to work is to split the build command to build the api side first, and then the web side

[code]

[2022-07-30 23:41] Tobbe commented on #6088
As seen here, prisma generate is only run when building the api side. So I thought it would be as easy as removing that check to let it run for web side builds too. But even doing so I get the same error as before
 https://github.com/redwoodjs/redwood/blob/112a2e551c277a8064564eb65f0e9f3cec5f5680/packages/cli/src/commands/buildHandler.js#L55-L67

Also tried running it with a bunch of different opt

[2022-07-31 02:51] ladderschool commented on #5890
Looks clean and it fits into the current useage of <Set> with things such as 'private'

[2022-07-31 07:13] Tobbe commented on #6088
Got a solution in #6093 The key was to kick off a new process for prerendering. That new process could find the generated client 🙂

[2022-07-31 23:09] Philzen opened #6094 "[Bug]: `yarn rw lint --fix` does not fix non-source files"
After having recently upgraded our project to 2.x, i just opened `web/config/storybook.preview.js` and found those imports not yet reordered, giving a couple of red squiggles.

Our whole project is ts-based, so i'm not sure if the fix command only looked at ts files, or whether those folders are just ignored in the process (while i believe it would be practical to have them included).

[2022-07-31 23:10] richard-stafflink commented on #6063
Thanks for the quick turnaround - much appreciated :+1:

[2022-07-31 23:14] Philzen commented on #6094
Just discovered our custom seed script in the `scripts/` folder (which is a `.ts`) also was not updated in the process, so i guess it's down to folder configuration.

[2022-08-01 10:07] dac09 commented on #6094
@Philzen - this is extremely unlikely to be on our priority list, just FYI.

Something to note - if you have prettier configured in your editor (which is shipped in the template) - this is a total non-issue.

[2022-08-01 11:15] Philzen commented on #6094
@dac09 Thanks & no worries … no problem here, just noticed it and thought it may be noteworthy.

[2022-08-01 13:41] dthyresson commented on #4944
Fixed by https://github.com/redwoodjs/redwood/pull/5903 which can allow the developer to configure Fastify.

[2022-08-01 13:41] #4944 closed

[2022-08-01 13:41] #5215 closed

[2022-08-01 14:42] #6041 closed

[2022-08-01 14:47] ortegoncarlos commented on #4569
Hi @callingmedic911, I have been facing problems with memory heap on github actions, one of the solutions I found is importing the mocks only once under [redwood/packages/testing/config/jest/web/jest.setup.js](https://github.com/redwoodjs/redwood/blob/59d31b3fca3fd6a247722d0b54f58a61b87e4c75/packages/testing/config/jest/web/jest.setup.js#L21-L25).

instead of:
[code]

You can do:
[code]

Something

[2022-08-01 15:13] #5802 closed

[2022-08-01 15:49] dthyresson commented on #5689
Due to the extent of the template rework, the team decided to hold off on this issue until the template engine is updated.

Moved to Backlog per triage.

[2022-08-01 15:55] dthyresson opened #6096 "Use the add plugin to add the Prisma JSON type instead of hacking codegen"
See https://github.com/redwoodjs/redwood/pull/5796#issuecomment-1176380719

See [graphql-code-generator.com/plugins/add](https://www.graphql-code-generator.com/plugins/add)

From Discord:

![image](https://user-images.githubusercontent.com/1051633/182190488-f932d4dc-8d73-4ae7-9b9d-ed7c6d5f0d42.png)

Things to check:

- [x] `web/types/graphql.d.ts` imports the `Prisma` namespace
- [ ] `api/types/gr

[2022-08-01 17:38] cannikin opened #6097 "[Bug]: Scaffold generator creates a big block of whitespace in Form component"
### What's not working?

The form generated by the scaffold generator creates a big block of empty white space:

<img width="636" alt="image" src="https://user-images.githubusercontent.com/300/182209053-20e3dc28-12a3-4975-9c14-978fe1582d20.png">

You can see an example in this PR: https://github.com/redwoodjs/redwood-tutorial/pull/71/files/173c7dc26b2c7ed6f238c5c4a8fcd4d8a6edda08#diff-7cfe9b38c881

[2022-08-01 18:36] standup75 commented on #5225
I can look into this if you want to assign it to me

[2022-08-01 20:41] pantheredeye commented on #4824
@thedavidprice For me, the answer of "where and how would we do something like that" is to 1) refactor some of the comments in this thread and 2) somehow piggyback on this line in the CLI `generate scaffold` [docs:](https://redwoodjs.com/docs/cli-commands#generate-scaffold)

**This statement nags at me every time I read it!** ***There is no closure!!***

I do not think adding details like your com

[2022-08-01 20:43] pantheredeye commented on #5292
@cannikin Specifically, are you talking about deprecating the [self-hosting How-To](https://redwoodjs.com/docs/how-to/self-hosting-redwood)?

This is marked as a good first issue - what is needed to 'deprecate' a doc?

[2022-08-01 21:14] adriatic commented on #6078
Since my original write up I found a lot easier proof of this bug.

type `yarn create redwood-app --ts ./redwood-stripe` to the terminal and use VSCode to view the just generated application. Observe that the generated file `graphql.d.ts` lacks the definition of the `prisma` namespace.

This of course has consequences for each and every Redwood TypeScript application

[2022-08-01 21:36] adriatic opened #6100 "[Bug?]: Formatting generated files"
### What's not working?

Using the file file `graphql.d.ts` as the example - and the screenshot was created with VSCode having the VS Code ESLint extension activated. It is the item `Query: {}` that eslint finds offensive

<img width="767" alt="image" src="https://user-images.githubusercontent.com/2712405/182249841-5d38da3e-5c83-4722-ab3b-75ebb9ab71c2.png">

RedwoodJS is known as being very opinio

[2022-08-02 11:50] dac09 opened #6109 "Double check requireAuth typings"
The src/lib/auth templates on _some_ of the auth providers has the object `{ roles }` as a required parameter, which makes it annoying to use when calling `requireAuth` directily in service.

Example:
[code]

Not only should `roles` be optional, the entire object should also be optional.

[2022-08-02 13:53] razzeee opened #6111 "[Bug?]: .env.defaults overwriting .env"
### What's not working?

We had a setup working since around may.

Basically setting environment variables via gitlab and copying everything over to then build.
Today our test and prod instance was not able to connect to the database anymore.

It turned out, that suddenly the entries in `.env.defaults` that we're also set via gitlab were overwritten by the default values.

I'm not sure what change

[2022-08-02 14:12] Tobbe commented on #6097
Would be great if we could lint --fix and prettier format all our generated code! I think that's the only sustainable way forward here, rather than trying to manually fix all our templates, and then keeping them that way.

[2022-08-02 15:43] jtoar commented on #5225
@standup75 sure thing! Let us know if you have any questions.

[2022-08-02 20:24] rowin1125 opened #6112 "[Bug?]: Wrong CurrentUser type from all-currentUser.d.ts"
### What's not working?

The currentUser type in the `api` seems all good, however type from `useAuth()`  in the `web` is not the same as the `ThenArg<ReturnType<typeof getCurrentUser>>`.

My tsconfig from the web.
note: I changed `strict` to `true`

[code]

The `all-currentUser.d.ts
[code]

If I hover over `InferredCurrentUser` i see the following information:
[code]

When looking at the `AuthPro

[2022-08-02 22:11] cannikin opened #6113 "[RFC]: Add ability to "push" important messages to next CLI invocation to inform users of important stuff"
### Summary

It would be great if we could somehow communicate import Redwood notifications/announcements to users. The easiest way (for the users) would be to notify them on their next CLI command. At the start of the command, the CLI process could "phone home" to a server, or GitHub repo, and look for messages the user hasn't seen yet. If there are any, it could be displayed at the end of the CL

[2022-08-03 02:48] #6109 closed

[2022-08-03 05:24] whaleAPI commented on #6078
I experienced the same thing and in chapter 7 when adding roles: true in the getCurrentUser function I get a type error
![Screenshot_3](https://user-images.githubusercontent.com/95057356/182530113-08d2df3c-1b6f-4ec7-9acf-79410e648c1a.png)

[2022-08-03 10:09] vincentri commented on #5795
broken for new repo cannot install tailwind

[2022-08-03 11:46] Morishiri commented on #5795
https://github.com/redwoodjs/redwood/pull/5812#issuecomment-1203837571

[2022-08-03 12:19] dac09 commented on #6112
@rowin1125 thanks for raising this. I don't believe we've shipped strict mode support just yet, where we've solved some of these issues.

You are welcome to try it in canary however, by running `yarn rw upgrade -t canary` - but please note there may be breaking changes that will affect you in Canary.

[2022-08-03 12:35] dac09 commented on #6111
Hello @razzeee - thanks for raising this, but I'm not sure I quite understand what the issue here is.

I tried reproducing the simplest way to verify that I thought of was overriding the `DATABASE_URL` variable.

Here's what I did:

1. My `.env.defaults` has `DATABASE_URL=file:./dev.db`
2. In the command line I override it like this:
[code]
3. See that other.db gets created next to dev.db file

Wh

[2022-08-03 12:51] dac09 commented on #6078
1. `type ArticlesQuery does not exist`

You just have have to run `yarn rw g types` or have your dev server running. See more info on generating types here: https://redwoodjs.com/docs/typescript#auto-generated-types

This is mentioned in the tutorial a few lines above.
<img width="954" alt="Screenshot 2022-08-03 at 13 50 00" src="https://user-images.githubusercontent.com/1521877/182611966-b8918395

[2022-08-03 12:51] #6078 closed

[2022-08-03 13:46] razzeee commented on #6111
It's not the behavior I'm seeing. But I think migrating worked at least I didn't see an error at that step, but on `rw serve`

I'm not sure if my docker file is breaking the env somehow, but I would be very surprised, as I did not change anything in that part of the code.

[code]

run.sh
[code]

[2022-08-03 14:57] adriatic commented on #6096
@dac09 @dthyresson

### Three comments:

1. I am assuming that this issue will be fixed "officially" hacking codegen. Is this true?
In the meantime I would appreciate to know at what point should I use `https://www.graphql-code-generator.com/plugins/other/add` workaround. Can I do it **after** my app fails with `The type ArticlesQuery does not exist in types/graphql`?

2. Your advice below is not

[2022-08-03 15:02] dthyresson commented on #6096
@adriatic Nick. We’ve triaged and assigned this issue. In fact, it is next on my list to work on.

[2022-08-03 15:17] adriatic commented on #6096
Sorry for creating a storm in a teapot - I wrote the [above comments](https://github.com/redwoodjs/redwood/issues/6096#issuecomment-1204061491) as a reaction to @dac09's statement

which lead me to conclude that this is such minor issue that it could wait. Seemingly I am not patient enough - sorry @dthyresson

[2022-08-03 15:35] dac09 commented on #6096
@adriatic I suggest you please double check the error you're seeing. We understand there's a red underline under Prisma - 100% clear - but that red underline does **not** cause the import problem. You'll just have to take my word for this - because I've triple checked our CI and test projects.

Sorry to hear - I'm not sure what else to suggest. Perhaps its a case of needing to restart your VS Code

[2022-08-03 17:44] adriatic commented on #6096
I understand that I did not provide the reproducible problem, and I understand that my trustworthiness is below the level needed to take my gut feelings as a proof (you should really not do that, regardless of who's statement is being questioned.

My pesky habit to tag people directly is a consequence of my fear that an issue reported by me would not be seriously considered. Thank for not advising

[2022-08-03 22:35] ebramanti commented on #5663
Any progress on this?

For now should we just be generating top-level components and moving them into folders?

[2022-08-04 07:04] Tobbe opened #6120 "Show Form TypeScript support in documentation"
### What's not working?

@Philzen mentioned in [a comment](https://github.com/redwoodjs/redwood/pull/5867#issuecomment-1198776457) on another issue that it would be good to show how one can use types with our forms, and I agree!

So I'm writing up this issue so we don't forget 🙂

He mentioned adding it to the tutorial, and that's a good call. I'm not sure if anyone has gone through the tutorial an

[2022-08-04 16:26] adriatic commented on #6096
I understand, thank you

[2022-08-04 17:03] cannikin opened #6124 "[Bug]: Can't use baremetal deploy from a Windows machine to a *nix machine"
### What's not working?

Baremetal uses `path.join()` when building up the deploy path, but `path.join()` is running on the deploy machine, not the host machine: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/deploy/baremetal.js#L212

So if you're trying to deploy *from* Windows then it will create the path with backslashes, even though you may be deploying *to* a *nix ma

[2022-08-04 17:13] cannikin commented on #6124
I can think of two possible solutions:

1. Instead of using `path.join()` just hardcode forward slashes and make it a requirement of Baremetal deploy that you can only deploy *to* *nix systems
2. Somehow detect the OS that you're deploying to and determine the slash direction on the fly. However, I'm not sure that this deployment would even working going *to* a Windows machine...is SSH even widely

[2022-08-04 17:16] russell-davis commented on #6124
I lean toward the former as well, and a very good point about node apps being deployed to windows machines. Narrowing scope seems appropriate.

[2022-08-04 17:25] cannikin commented on #6124
We have a third option! @pantheredeye suggested in Discord that we default to forward slashes always, but make a `--windows` flag available that will override and use backslahes. So if you *really* want to deploy to a Windows machine you still can. It remains to be seen if you can actually serve the app from Windows, however. :)

I found a dedicated npm package just for converting paths to forward

[2022-08-04 19:25] #6096 closed

[2022-08-05 05:52] Tobbe commented on #6113
Another thing we discussed a few days ago that could possibly have similar mechanics is a "pre-update check" script. A script that would run before you try to update to a given version, checking your environment for anything that might block you from upgrading.

The specific motivation for that feature was the cell prerender PR. It will use PageName.routeHooks.js files. So we wanted to run a check

[2022-08-05 05:56] Tobbe commented on #5663
Yes, for now manually moving is the way to go.

I also left some additional comments some days ago in that discourse thread Kris linked above that you can have a look at if you want 🙂

[2022-08-05 06:15] Tobbe opened #6127 "[Bug?]: Type error related to the graphql service generator"
### What's not working?

I'm copy/pasting this issue report from Discord https://discord.com/channels/679514959968993311/1004724080085307483

---

**cdfaq:** there seems to be an error with the graphql service generator

![image](https://user-images.githubusercontent.com/30793/183012708-fcfd7716-4b80-4d31-936c-d33e9e5e44e3.png)

`Property 'id' does not exist on type 'RequireFields<QuerypostArgs, "

[2022-08-05 09:12] devstra opened #6128 "[Bug?]: 'yarn rw setup auth clerk' produces typescript code in javascript project"
### What's not working?

I was following the tutorial on adding auth with Clerk at https://redwoodjs.com/docs/auth/clerk and when I ran `yarn rw setup auth clerk` some boilerplate code was generated, inckuding this:
![code](https://user-images.githubusercontent.com/71343264/183043507-e3f239ac-ea44-4e09-8e40-a6fb87e15c31.jpg)

As you can see, the previous command generated typescript code in a .js

[2022-08-05 13:54] #6088 closed

[2022-08-05 13:57] noire-munich commented on #6128
Thanks @devstra for taking the time to report this.
Indeed, it should not happen. Let's have a look!

Can you tell if you setup the project as typescript or if you converted it later on?

[2022-08-05 14:18] jtoar commented on #6025
hey @tyteen4a03, we just discussed this one and will move on it soon—thanks for reporting!

[2022-08-05 16:23] devstra commented on #6128
I setup the project as Javascript and didn't change that. No typescript should be involved.

[2022-08-05 22:25] standup75 opened #6131 "[Bug?]: VS Code's intellisense does not know about Prisma"
### What's not working?

When I need to import any of prisma's generated types, I need to manually add the import to the ts file.

### How do we reproduce the bug?

In a ts file on the api file write `let where: Prisma`
Try to get VS Code to resolve `Prisma`.
It can't find it
You need to manually add `import { Prisma } from '@prisma/client'` at the top of the ts to resolve the issue

### What's yo

[2022-08-06 11:38] AjayTheWizard commented on #6027
I just had a idea to improve performance What if we create CLI as standalone built with Non Javascript Language For Example vlang ( Fastest programming language )

[2022-08-06 11:39] asfiowilma opened #6146 "[RFC]: Support Sign Up with Additional Metadata for Supabase"
### Summary

Supabase supports sign up with additional user metadata, but redwood's useAuth's signUp function does not support this yet.

### Motivation

I needed to have a trigger that will create a UserProfile record when a new profile signs up to my app. Several suggestions across the internet suggested that I use postgres triggers and functions. I'm using supabase for my auth and database purp

[2022-08-06 16:26] Christian24 opened #6148 "[Bug?]: Running yarn create redwood-app --ts ./redwoodblog crashes"
### What's not working?

Hello,

I was just trying to run redwood for the first time. Running `yarn create redwood-app --ts ./redwoodblog` as suggested by the tutorial and it errors with:

[code]

Not sure what's wrong, not sure this is widespread, probably not, but I don't really know how to proceed on this.

Thanks in advance.

### How do we reproduce the bug?

Run `yarn create redwood-app --ts

[2022-08-06 18:25] pantheredeye commented on #6148
[This answer, on a previous issue with the exact same error message,](https://github.com/redwoodjs/redwood/issues/227#issuecomment-602037860) suggest the issue may be a global package conflict installed with a previous version of node.

[2022-08-06 20:01] Gresliebear commented on #6064
Implement GrapQL-Scalar for more prisma types access https://github.com/redwoodjs/redwood/issues/5841

[2022-08-06 22:08] Christian24 commented on #6148
Oh I am so sorry. For whatever reason when I searched for preexisting issues, this one did not come up. Thank you so much. That fixed it. Sorry again.

[2022-08-06 22:08] #6148 closed

[2022-08-06 22:38] Philzen commented on #896
@Tobbe This is also something that has been nagging me every now and then. It's strange, b/c sometimes it works in VSCode, sometimes CTRL-Click just makes it jump to the import statement just as you described.

From my observations, using an absolute import such as `src/layouts/MainLayout/MainLayout` (referencing the file instead of only the component directory) also works, doesn't it?

Related is

[2022-08-06 23:23] Gresliebear opened #6149 "[Bug?]: Deploying on Netlify Sending Images/Emails across the serverless 502"
### What's not working?

I managed to deploy my first serverless application with redwood on netlify for a customer however a core function that I built allows the user to send a submission of photos and text to customer email as a invoice of sorts.

However this doesn't work with Netlify functions. I get 503

![image](https://user-images.githubusercontent.com/13157730/183268810-30470d06-9953-4088

[2022-08-06 23:40] Gresliebear commented on #6149
here's database logs
[code]

[2022-08-06 23:41] Gresliebear commented on #6149
Here waiting for the functions server on netlify to response for 2s to 4s

![image](https://user-images.githubusercontent.com/13157730/183269180-69960ae7-8c82-4005-b155-c97627ad909b.png)

[2022-08-07 01:50] Philzen commented on #6120
May be out of scope, but while we're at it, i'd really love to see the 2nd parameter passed of `onSubmit` also documented somewhere. From the current tutorial and docs it is missing that that includes the submit event, which is the default first parameter for non-Redwood submit callbacks.

[2022-08-07 02:00] Philzen commented on #6100
@adriatic thanks for reporting this – i have also been wondering about it every now and then. Apart from the nullish types i can see the following issues:

![grafik](https://user-images.githubusercontent.com/1634615/183271819-c7a05249-27cd-4a79-8ca8-e61026d0a80c.png)

- all *Query and *Mutation types violate the maximum line length (all others are fine though)
- semicolons used everywhere

[2022-08-07 02:15] Philzen commented on #6097
I also recently contemplated about how to avoid templates producing code that violates linting rules, as this comes up over and over again. I can only assume currently there must be numerous templates that still produce code that doesn't comply since the new import order sort rule was introduced in 2.0.

Running lint --fix after *every* generator command may be an easy fix, but it would (1) add to

[2022-08-07 02:35] Philzen commented on #6112
Related to requirement no.3 of #5866

[2022-08-07 02:48] #5225 closed

[2022-08-07 03:04] adriatic commented on #6100
@Philzen you are welcome. I am **aware** that I claimed a bug without a reproducible case, and am **painfully aware** of the pain such reports could cause to the rw team. So, I made an educated bet with myself and decided that reporting something that is maybe a false claim is better alternative than sweeping it under the carpet (read: thinking, oh well, they will find it eventually and i will sim

[2022-08-07 03:56] #6094 closed

[2022-08-07 07:23] Ndibale commented on #4885
➤ YN0070: Migrating from Yarn 1; automatically enabling the compatibility node-modules linker 👍

➤ YN0000: ┌ Resolution step
➤ YN0000: └ Completed in 34s 74ms
➤ YN0000: ┌ Fetch step
➤ YN0013: │ which@npm:2.0.2 can't be found in the cache and will be fetched from the remote registry
➤ YN0013: │ word-wrap@npm:1.2.3 can't be found in the cache and will be fetched from the remote registry
➤ YN0013: │

[2022-08-07 11:58] Tobbe commented on #896
I hadn't seen those other issues, thanks for linking.

If getting rid of directory named imports solves this then I'm all for getting rid of them. But the pushback from the rest of the team is probably going to be pretty strong. So we need to build a very solid case to get this one through.

I think we need:
 * A clear demonstration of what's not working right now that's reproducible on multiple m

[2022-08-07 18:09] Gresliebear commented on #6149
`Runtime.ImportModuleError - Error: Cannot find module '..\..\lib\auth' Require stack: - /var/task/api/dist/directives/requireAuth/requireAuth.js - /var/task/api/dist/functions/graphql.js - /var/task/graphql.js - /var/runtime/index.mjs`

so if I ren the Netlify function crash it says that it "Cannot find module" so that means some where in dist requireAuth.js is not found so I try to add library i

[2022-08-07 18:18] Gresliebear commented on #6149
I don't know if this will a issue for Redwood
![image](https://user-images.githubusercontent.com/13157730/183305294-963e7f00-648c-4c98-9325-7db30948b5b6.png)

[2022-08-07 19:13] Gresliebear commented on #6149
Runtime.ImportModuleError - Error: Cannot find module '..\..\lib\auth' Require stack: - /var/task/api/dist/directives/requireAuth/requireAuth.js - /var/task/api/dist/functions/graphql.js - /var/task/graphql.js - /var/runtime/index.mjs

so netlify considers this a external node model

![image](https://user-images.githubusercontent.com/13157730/183307121-4d2f943a-3fd6-443a-b721-6552d5eac2ea.png)

th

[2022-08-07 19:28] Philzen commented on #5956
I have forked the sandbox and made some additional tests, building two additional silly components that `forwardRef`s and redefine

1. [a prop with a different typing than found in `@react/types`](https://codesandbox.io/s/competent-dubinsky-n0wymw?file=/src/other-example.tsx:500-561) – same as RedwoodJS' `<Form>` does, apart from it being all but silly :wink:
2. [a prop with a different typing tha

[2022-08-07 19:29] #5956 closed

[2022-08-07 19:35] Philzen commented on #5956
@TristanWYL Thanks heaps for all your help and support along the way :green_heart:

As you seem pretty skilled with TypeScript maybe you'll be able to look at

https://github.com/chakra-ui/chakra-ui/blob/ff0dfb2b735a047c7a811f65b20fb81fa3db6f4a/packages/system/src/system.types.tsx#L75-L76

… and tell why that's misbehaving – in case you fancy the challenge or simply want to chime in to the discuss

[2022-08-07 19:52] Tobbe commented on #1585
I just pushed initial (untested) code for a custom auth setup command to my big auth refactor PR here: https://github.com/redwoodjs/redwood/pull/5985. But that PR only focuses on the web side. We'd also need to add some way to customize the api side, like adding a custom jwt decoder.

And as most other auth providers we have, it's focused on integrating with some auth SaaS.

[2022-08-07 19:55] Tobbe commented on #3617
Work on this is ongoing in https://github.com/redwoodjs/redwood/pull/5985

Most things in Danny's list are already handled. Only thing I'm not doing is anything that touches stuff on the api side

[2022-08-07 20:07] dthyresson commented on #6149
@Gresliebear How does for function return the response body?

Netlify needs it to be a certain way.

See https://github.com/redwoodjs/redwood/pull/877

[2022-08-07 20:24] Gresliebear commented on #5984
https://github.com/redwoodjs/redwood/issues/961

[2022-08-07 20:40] Gresliebear commented on #6149
Well I fixed that 502 error by changing functions in netlify.toml

[code]

to

[code]

this provides access to the modules in '..\..\lib\auth' now I am left with different error 404 which returns a html page, in turn this triggers another bug called 'Error: Unexpected token < in JSON at position 0 '
![image](https://user-images.githubusercontent.com/13157730/183310062-ced93efe-431c-4190-a63c-06da3

[2022-08-07 22:25] Philzen commented on #1585
@dthyresson @Tobbe @cannikin @callingmedic911

That sounds really awesome, thank you. We spoke to our project sponsor and were able to agree postponing the LDAP login until after our desperately needed summer hiatus. In the meantime they are happy with the dbAuth, which – thanks to RedwooJS scaffolding awesomeness – we were able to give to them in a jiffy :smile:
So we'll be taking up again end of

[2022-08-07 23:33] Gresliebear commented on #6149
Closing thoughts netilfy.toml default builder is called zip-it-and-ship-it so made issue asking about accessing scripts outside of the build.

https://github.com/netlify/zip-it-and-ship-it/issues?q=is%3Aissue+Error%3A+Cannot+find+module+is%3Aclosed

[2022-08-08 02:50] Tobbe commented on #1585
Both @dthyresson and I are very responsive if you ping us on Discord.

I think we'd need to come up with a generic hook into the dbAuth flow for this to have any chance of being accepted 🙂  We definitely need to talk to @cannikin about this, and he's away on vacation for a week+, so can't do that right now.

Yeah, there are no docs, and no examples. It simply hasn't been done yet. But you're right

[2022-08-08 06:42] Tobbe commented on #961
I don't like that solution. It's a documented bad way of doing it. See below.

\- _https://thegray.company/blog/how-to-make-a-404-page-for-seo-usability#what-are-common-404-setup-mistakes_

I'm hoping we can come up with a better solution when we move to Vite+SSR

[2022-08-08 13:52] Tobbe opened #6167 "[Bug?]: RW's setup auth command fails in project named "xyzsetup""
### What's not working?

In any RW project that has a folder in its path whose name ends with "setup" our `yarn rw setup auth` command will fail.

![image](https://user-images.githubusercontent.com/30793/183431691-f4a81546-8937-499e-b13e-25f5f464c19c.png)

Notice how it says "Unknown argument: netlify" even though netlify is one of our supported auth providers.

A carefully placed `console.log` st

[2022-08-08 13:57] Tobbe commented on #6167
The `commandDir` `exclude` option can also take a function (instead of a regex that we're currently using). I'll try to use that to do the nesting check instead

[2022-08-08 16:58] #6167 closed

[2022-08-08 21:43] standup75 commented on #4377
I think this is slightly incorrect:
[code]

Couldn't we write it more precisely, generically and concisely like this?
[code]

[2022-08-08 23:12] Philzen opened #6171 "[Bug]: Exhaustive deps rule violation vs. optimized dependencies / render-loop avoidance on WebAuthn Login page"
### What's not working?

During working on #6061 (where i wanted to fix some non-autofixable ESLint that came up during a 2.x upgrade), i initially fixed the ESLint warning about missing useEffect dependencies  in the default Login Page template using a simple `// eslint-disable-line react-hooks/exhaustive-deps` – b/c IMHO it is absolutely fine when you *know* the dependency doesn't change during

[2022-08-09 11:51] itsjxck opened #6193 "[Bug]: GraphiQL headers file not gitignored by default, and causes crash if you do ignore it"
### What's not working?

As per the documentation:

The file is not automatically added to gitignore, but if you manually add it, because the `generateGraphiQLHeader` file is `import`ed by `api/functions/graphql`, it causes a crash on deployment because it's trying to import a file that doesn't exist.

### How do we reproduce the bug?

- `yarn rw setup graphiql dbAuth --id <user id>`
- Add the `ge

[2022-08-09 14:23] noire-munich commented on #6193
Thanks for taking the time to report this @itsjxck , we'll look into it.

[2022-08-09 16:51] BBurnworth opened #6194 "[Bug?]: Tailwind Setup Breaking Generators on Windows"
### What's not working?

Adding tailwind with `yarn rw setup ui tailwind` breaks any `yarn rw g` command with this error:

`Cannot create property 'context' on string 'Error: Cannot find module '~\Code\testTail\webconfig    ailwind.config.js'`

Other cli commands still work.

Looking at the error, the forward slashes are gone from web\config\ and the 't' is gone and replaced by a space (or tab). P

[2022-08-09 17:01] BBurnworth commented on #6194
Update: I tested the other ui setup commands and this problem does not occur with them.

[2022-08-09 17:08] BBurnworth commented on #6194
Modifying prettier.config.js line 18:

from: `  tailwindConfig: './web\config\tailwind.config.js',`

to: `  tailwindConfig: './web/config/tailwind.config.js',`

corrected the issue.

[2022-08-09 17:11] BBurnworth commented on #6194
https://github.com/redwoodjs/redwood/blob/06df62391959cdc67db6ce1907998c13080a8d9d/packages/cli/src/commands/setup/ui/libraries/tailwindcss.js#L228

I wonder if ` path.join(rwPaths.web.config, 'tailwind.config.js')` is running into the same issue that @cannikin hit with baremetal path deploy: https://github.com/redwoodjs/redwood/issues/6124

[2022-08-09 18:04] BBurnworth commented on #6113
This idea might be nice for helping users around issues like this: https://github.com/redwoodjs/redwood/issues/6194 which will probably be temporary and released in the next run... but it would inform the user how to work around bugs quicker.

[2022-08-09 18:28] MagnusHJensen commented on #5190
A discord link like that, which doesn't actually work is not a very reliable way to indicate a reference 😅

[2022-08-10 00:50] adriatic opened #6196 "[Bug?]: command yarn create redwood-app . should check whether the folder is empty first"
### What's not working?

I run the command in a folder I thought was empty - and got this response

[code]

I am not sure whether the message `already exists ` is a problem or did the above fail because of `is not empty` part

### How do we reproduce the bug?

Stated above

### What's your environment? (If it applies)

[code]

### Are you interested in working on this?

- [ ] I'm interested in wor

[2022-08-10 03:51] aaronvanston opened #6197 "[Bug?]: Expired JWT Tokens causes a 500 to be thrown"
### What's not working?

We have Redwood configured with auth0 and an external client (NextJS and React Native App) communicating with our Redwood API.

It's possible for our client to sometime send through expired JWT before the client catches this and either refreshes their token or requests them to log in again.

When this happens the Redwood API successfully catches this expired token when bui

[2022-08-10 04:18] QQCif opened #6198 "[Docs]: Chapter 2 Getting Dynamic cannot create post"
### Summary and description

Hello
I'm following alone the tutorial. In Chapter 2 Getting Dynamic, after running `yarn rw g scaffold post`, in generated `posts.sdl.ts`, `createAt` is marked as non-nullable, causing error saving any post. I have to remove that line to continue.

### Are you interested in working on this?

- [ ] I'm interested in working on this

[2022-08-10 09:11] noire-munich commented on #6197
Thanks @aaronvanston for taking the time to report this in such details - we will look into it.

[2022-08-10 09:20] noire-munich commented on #6194
Thanks @BBurnworth for taking the time to report & investigate this.

Would you be up for a PR?

[2022-08-10 10:05] dac09 commented on #6196
Behaviour is as expected.

Please read the error message:

[2022-08-10 10:05] #6196 closed

[2022-08-10 13:53] adriatic commented on #6196
I failed to explain the issue: the command `yarn create redwood-app --ts .` should fail in a non-empty folder. My point was that it should do that check immediately, **before** running all the following tasks
[code]

[2022-08-10 14:39] dac09 opened #6201 "Handle when graphql handler not found in cell prerendering"
### Background
Cell prerendering about to be introduced in Redwood V3 requires the presence of the graphql handler at the default location under `api/src/functions/graphql.{js,ts}`

This is because the actual handler is used to make graphql calls internally when prerendering cells.

### What's the issue?
It's possible (and plausible) that users move or rename the graphql handler in their project.

[2022-08-10 15:05] pantheredeye commented on #6194
I will test it out with the replace fix that Rob uses.

FWIW, I looked for a more elegant fix using node modules to correct the issue and found [this topic which touches on the issue of using '.\\' with require in Windows](https://github.com/nodejs/node/issues/6049).

The answer was given that when using commonjs modules with require, the module paths are required to be / format. However, using no

[2022-08-10 16:19] Ndibale commented on #4885
Before connecting the firebase the front end was displaying correctly,soon afer
connecting firebase it run into this.
Uncaught ReferenceError:
    Cannot access'__WEBPACK_DEFAULT_EXPORT__' before initialization at Module.default
    (Login.js:284:1) at ./src/firebase.js (firebase.js:16:1) at options.factory
    (react refresh:6:1) at __webpack_require__ (bootstrap:24:1) at fn (hot module
    repla

[2022-08-10 19:21] pantheredeye commented on #6194
#6203

appended the .Replace to the end of the tailwind string. Also, the node path module *can* be forced to render linux or window using the convention:

[code]
I attempted it here, but the .join function is wrapped in a .relative function and using .posix on the relative function returned the full path. So, I went with .replace.

[2022-08-10 21:08] Olyno opened #6204 "[RFC]: Passwordless authentication using Email"
### Summary

Hi 👋🏻
I was informed that the web auth would be available in the near future (#5680), which I think is great! I would have liked to have a magic link, or an authentication system using emails.

### Motivation

Many people are tired of passwords, and with no passwords, it would enhance the security and user experience.

### Detailed proposal

We could use [nodemailer](https://github.co

[2022-08-11 13:01] dac09 commented on #6204
Thanks @Olyno - assigning to @cannikin to carry on the conversation.

[2022-08-11 13:14] jtoar commented on #5657
I've been looking at this recently and while I think I'm starting to understand what's going on, some parts are still a little hard to put into focus 100%. But TL;DR I will fix this in steps so that RW always evaluates .env first.

As to parsing multiline env vars, we can easily add support for that by toggling this option: https://github.com/motdotla/dotenv/tree/v14.3.2#multiline. I'm linking to

[2022-08-11 14:45] jpollone commented on #6148
Unfortunately I need to use 4 different versions of node, but I found success with this combo on my M1 MacBook Pro running this configuration.

[code]
`node -v`
14.20.0

`yarn -v`
1.22.19

[2022-08-11 15:04] dthyresson commented on #6197
@aaronvanston Would being able to set an option in the auth0 decoder for a leeway or `clockTolerance` option help mitigate certain expirations?

See: https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback

Or is this also an issue with longer expired tokens that the client still retains well after expiration?

[2022-08-11 15:07] dthyresson commented on #6197
FYI - The `Error building context. Error: Exception in getAuthenticationContext: jwt expired` message comes from the plugin to build the auth context; See:

https://github.com/redwoodjs/redwood/blob/0e087ade5ad689efdeedd5e846749a17158c172b/packages/graphql-server/src/plugins/useRedwoodAuthContext.ts#L31

[2022-08-11 15:11] dthyresson commented on #6197
Also, this issue where the 400 error is returned could be related.

https://github.com/redwoodjs/redwood/issues/5057

The error is returned without have the error masked with a 200 status. It returns before the graphql handler executes (in the parse or validation phase). It could be that on building context, the handler throws an error and a 500 is returned instead.

[2022-08-11 15:17] dthyresson commented on #6146
Hi @asfiowilma Thanks for raising this issue?

Would you like to work on a PR to update the Supabase client to their latest gotrue-js?

See: https://github.com/supabase/gotrue-js/blob/9bc36431423434cf839fd6e00871672e1d2d9b5c/src/GoTrueClient.ts#L130

It could pass `data` like you said, but also the `recaptcha` for sign in and up.

I'd be happy to review the PR and then you can also test and update

[2022-08-11 15:27] dthyresson commented on #6131
Hi @standup75

Might this issue https://github.com/redwoodjs/redwood/pull/6123 resolve your reported case?

[2022-08-12 12:57] dac09 commented on #6131
Hi! If I understand you correctly, is it that VSCode isn't auto suggesting importing from `Prisma`?

[2022-08-12 13:01] dac09 commented on #6197
Yes I also think this is what's happening. When it tries to build the auth context (using the envelop plugin) the JWT decoder throws.

Maybe the solution is to wrap decoders with a try catch and on decoder error see if its possible to return a 401?

[2022-08-12 18:55] pantheredeye opened #6207 "[RFC]: New How To: Design Driven Full-Stack"
### Summary and description

# Motivation

For some reason, I naturally fall into the camp of structuring my data first and then getting into design. When I came to Redwood, the elegance of Prisma models led me to map out my entire schema before working on any components. This may still be a valid way to work for some uses-cases. However, after watching David's videos, I realized that I was leavin

[2022-08-13 09:43] eltonstewart commented on #6148
just to confirm that the removal of global packages and ensuring I was using nvm installations and then using v14.20.0 worked.

There are lots of warnings but it worked.

`[3/4] 🔗  Linking dependencies...
warning "create-redwood-app > @redwoodjs/internal > @graphql-codegen/typescript-react-apollo@3.3.2" has unmet peer dependency "graphql-tag@^2.0.0".
warning "create-redwood-app > @redwoodjs/intern

[2022-08-15 11:14] asfiowilma commented on #6146
Sure thing~ I'd love to work on this. May I also update the [How to > Supabase Auth](https://redwoodjs.com/docs/how-to/supabase-auth) docs as well, or should I submit a different PR for that?

[2022-08-15 11:34] dthyresson commented on #6146
Great question. If you feel the docs help explain and “go with” the code changes, then it’s often best to include in same PR. That way can better understand The change and when the PR is merged it can go in one set of changes. But I’d there isn’t total overlap then a separate one is often better.

[2022-08-15 17:42] cannikin commented on #6113
Made an update in the description for a more security-friendly way to determine if someone is using a feature in an app (regex to the rescue!).

[2022-08-15 18:33] dac09 opened #6215 "Generators for routeHooks / Documentation for TS on routeHooks"
[code]

[2022-08-15 20:29] #6201 closed

[2022-08-15 23:00] miguelgargallo opened #6217 "[Bug?]: yarn create redwood-app my-redwood-project"
### What's not working?

While I try to code and play with it, it simply do not allow me!?
Thanks for your job, I would like to be a contributor, by introducing this error:
miguelgargallo@macbookpro folder % yarn create redwood-app my-redwood-project

### How do we reproduce the bug?

yarn create v1.22.19
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies...

[2022-08-15 23:02] miguelgargallo commented on #6217
❌ node --version
v18.7.0

Redwood requires [Node.js](https://nodejs.org/en/) (>=14.19.x <=16.x)

✅ yarn -v
1.22.19

When [Yarn](https://yarnpkg.com/) (>=1.15)

[2022-08-15 23:02] #6217 closed

[2022-08-15 23:03] dac09 commented on #6217
Hello @miguelgargallo - please see the prerequisites section as per the error https://redwoodjs.com/docs/tutorial/chapter1/prerequisites#nodejs-and-yarn-versions

[2022-08-15 23:03] miguelgargallo commented on #6217
Please ensure correct setup devs, source: https://redwoodjs.com/docs/quick-start
I put this here, in case someone gets the error too

[2022-08-16 05:39] Tobbe commented on #6146
Auth updates 😬

I'm working on a huge auth rewrite over here: https://github.com/redwoodjs/redwood/pull/5985
I'd rather we wait with other auth updates until that one is merged.

[2022-08-16 07:54] Tobbe opened #6219 "[Bug?]: Squiggles in TS strict mode in scaffolded Name.tsx and NameForm.tsx"
### What's not working?

Here are some examples

![image](https://user-images.githubusercontent.com/30793/184826509-8130ac3c-4198-4ce3-801b-7b68aca89736.png)

![image](https://user-images.githubusercontent.com/30793/184826638-173f98a0-bcaf-48c6-87a9-ccd282493eae.png)

![image](https://user-images.githubusercontent.com/30793/184826712-03f0785f-b0fc-404a-a905-b249ca3dcafa.png)

![image](https://user

[2022-08-16 13:41] dthyresson commented on #6197
Upgrading to `"@graphql-yoga/common": "2.12.6"` now catches the context building error and the error is masked.

But, this does return a 200 status and not 401.

According to the GraphQL Spec: https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#applicationjson

[code]

So, lots to digest and need to confirm with the Guild ion the proper content types and codes here.

But

[2022-08-16 18:56] pantheredeye opened #6223 "[RFC]: Linting Generated Files"
### Summary

### Should generated files be linted?
(This seems to get into the realm of: [prettier vs linter](https://prettier.io/docs/en/comparison.html) and ["... In other words, use Prettier for formatting and linters for catching bugs!"](https://prettier.io/docs/en/comparison.html#how-does-it-compare-to-eslinttslintstylelint-etc).)

A) If so, what approach to take? We currently have two propos

[2022-08-17 02:53] Gresliebear opened #6225 "[RFC]: Update on Redwood Webpack Documentation"
### Summary

Lately I have been getting this error when I wrote nodemailer into the frontend of my application

![image](https://user-images.githubusercontent.com/13157730/185023387-b372b7d3-5d15-4adc-9f81-dcf087656b37.png)

Long story short Webpack 5 removed polyfills so the work around I found out was you had to yarn add node-polyfill-webpack-plugin

### Motivation

Webpack is used lot, so if a

[2022-08-17 03:06] Gresliebear commented on #6225
[code]

[2022-08-17 11:44] Tobbe commented on #6223
I don't think this is linting, right? That's formatting done by prettier.

So reading all the arguments above I would propose:

 * Find some way to run `yarn rw lint` as part of our CI pipeline to make sure all generators produce files without linting issues
 * Run `prettier` as part of the generators themselves to account for different variable name lengths etc

[2022-08-17 12:23] muhajirdev commented on #6025
enumAsTypes seems to be hardcoded here https://github.com/redwoodjs/redwood/blob/06cfca32a402f29d3b4743c42dc8256652aa9a20/packages/internal/src/generate/graphqlCodeGen.ts#L216

[2022-08-17 18:15] #6124 closed

[2022-08-17 19:32] cannikin opened #6227 "[RFC]: Create a single Scaffold layout shared by all scaffolds"
### Summary

Right now each scaffold gets their own layout file since it was the simplest solution at the time we were creating the generators, but they should really all share a single layout file to avoid duplication and make it easier to re-style in the case that you decide to keep your scaffolds as your admin pages.

### Motivation

I've thought about doing this since scaffolds were a thing.

[2022-08-18 15:57] amogado opened #6230 "[Docs]: I was stuck with no "rw dev""
### Summary and description

Hello,

I stuck in accessing my redwoodjs on my dev server after serving it with **rw dev**. I was forced to serve with **rw build && rw serve**, and thus rebuild after each modification.

I finally found out it was necessary to append the **host** variable to the **web** section of the **redwood.toml**, and to set it with the good domain.

I find now that it is a word

[2022-08-18 16:05] cannikin opened #6231 "[RFC]: Include password hash function import in seed.js"
### Summary

I've seen several folks asking how to create users in the seed.js file once they have dbAuth installed. They're not sure how to create a user with a `salt` and `hashedPassword`.

I suggest we add something like the following to the `seed.js` template:

[code]

### Motivation

Several questions in Discord/Discourse/Slack asking how to do this.

### Detailed proposal

Move the "private"

[2022-08-19 14:10] Philzen commented on #6223
I'm not sure if this has been covered in any the two Options, therefore:

### Option C

Add `yarn rw lint` (without --fix) to the CI – this way the job will fail with an exit code of `<> 0` and thus require to fix any existing code, as well as templates and code generators to only produce flawless code before something can be merged. As [@pantheredeye said](https://github.com/redwoodjs/redwood/pul

[2022-08-19 15:24] MichaelrMentele opened #6236 "[DRAFT][RFC]: Ejectable Configs"
### Summary

Redwood is an opinionated framework that you can override if you need to. You can swap out auth, you can swap out the graphQL engine etc. but generally you can't swap out configs because they follow a subclass pattern where you merge/override the top level config.

### Motivation

Problem #1: It's hard to get the full view of the config since in the case of jest config for example, it

[2022-08-19 15:30] MichaelrMentele commented on #6236
This could be a terrible and unnecessary idea. Some downsides could be that is just isn't practical to eject config that is so closely coupled to redwood-isms. For example, special sauce like custom transforms for cells.

[2022-08-19 16:15] cannikin opened #6237 "[RFC]: Add password validation function into dbAuth"
### Summary

There's no way to check for the validity of a password (length, uppercase/lowercase, etc) on the server side. Let's add a function to the `signup` handler section of the `auth.js` function to allow you to add your own password validation and throw a custom error message if it doesn't pass.

We can make this backwards compatible so that exiting users with dbAuth implementations aren't

[2022-08-19 19:13] Tobbe opened #6239 "[Bug?]: Improve prerender error message"
### What's not working?

I think we could improve the error message you get when prerendering fails in some scenarios.

This is what I see now

![image](https://user-images.githubusercontent.com/30793/185690748-01320063-42d2-47e2-8a0f-db0f831db443.png)

Like, "What do you mean 'token R'?"

### How do we reproduce the bug?

_No response_

### What's your environment? (If it applies)

_No response_

[2022-08-19 19:15] Tobbe commented on #6239
Wouldn't this be much more helpful?

![image](https://user-images.githubusercontent.com/30793/185691009-4126ee31-398c-4972-a864-16d38a071dfc.png)

[2022-08-19 22:12] titib opened #6242 "[Bug]: Translation of the page NotFoundPage : useTranslation triggers the error "Rendered more hooks than during the previous render.""
### What's not working?

After setting i18n up, I tried to translate the NotFoundPage with the hook `useTranslation()`
`useTranslation()` generated an error : "Rendered more hooks than during the previous render."

`useTranslation()` worked on other page like Home (a page generated by `yarn rw g page Home`)

### How do we reproduce the bug?

- yarn create redwood-app foobar --typescript
- yarn rw

[2022-08-19 22:19] pantheredeye commented on #6236
I like this concept and I can appreciate the potential someone may have for this need. It led me to this article [Ejectable Defaults:
Zero Config First, Full Config Later](https://www.swyx.io/ejectable-defaults) by swyx, which gives an overview of this concept in regards to Gatsby Themes, Next.js and Create-React-App. I have never had to eject config before and have no experience with it. I have b

[2022-08-20 06:49] Tobbe commented on #6230
I'm not sure I fully understand. Can you please explain your setup? Are you not developing on the same computer as you run `yarn rw dev` on?

[2022-08-20 06:58] Tobbe commented on #6223
Unfortunately I don't think that's feasible. A lot of them have a bunch of logic in them that makes the syntax invalid js/ts. For example https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/sdl/templates/sdl.ts.template

[2022-08-20 07:08] Tobbe commented on #6223
@Philzen This is another one for your list I think https://github.com/redwoodjs/redwood/pull/6221 And please weigh in with your opinion on that one too, if you have one

[2022-08-20 13:17] #5668 closed

[2022-08-20 16:36] pkaramagi commented on #5890
@Tobbe @sgup  any update on this issue?

[2022-08-20 17:07] zakmandhro opened #6254 "[Bug]: Fastify { configureFastify } not being picked up in fresh project"
### What's not working?

The `configureFastify` override in `api/server.config.js` is not being picked up, even in a freshly created RedwoodJS 2.2.0 app. Oddly, it _is_ being picked up in the project generated by `yarn build:test-project ../rw-test-app --typescript --link --verbose`.

### How do we reproduce the bug?

Create new app:

[code]

Modify api/server.config.js to add:

[code]

Run the de

[2022-08-20 17:08] zakmandhro commented on #6254
@dac09 @dthyresson could this related to #5903 ?

[2022-08-20 17:08] reachej opened #6255 "Cannot create property 'context' on string 'Error: Cannot find module '~\webconfig ailwind.config.js'"
### What's not working?

If anyone is getting the subject error when trying to generate a cell, change the line in the prettier.config.js

from:
tailwindConfig: './web\config\tailwind.config.js',

to:
tailwindConfig: '.\\web\\config\\tailwind.config.js',

For some reason on windows the logs are showing forward and back slashes in the logs too:

  √ Generating page files...
    √ Successfully wrote

[2022-08-20 19:03] Tobbe commented on #5890
@pkaramagi It's on the Core Team's roadmap. But we're all busy with other things right now, so it'll be a few more weeks, maybe months, until we get started on it.

But we're definitely here to support and guide if someone from the community wants to start experimenting before we get to it 🙂

[2022-08-20 19:05] Tobbe commented on #6255
@reachej Thanks for your bug report. Do you think this is the same issue? https://github.com/redwoodjs/redwood/pull/6203

[2022-08-20 19:14] reachej commented on #6255
Yes.  However, I think the more real problem is whatever is causing redwood to receive a backslash instead of forward slash when running on windows (that is very likely why the generated config is wrong) / there shouldn't be mixtures of forward slashes and backslashes in logs like the below:

For example:

Instead of

√ Successfully wrote file ./web\src\pages\HomePage\HomePage.stories.js
√ Success

[2022-08-20 19:18] simoncrypta commented on #4885
Hey @Ndibale This look more like an issue with Firebase than yarn. To keep this thread for the original issue, can you open a new issue with that ? I will be a happy to help :)

Since @hsongra11 was able to fix it, I will close this issue for now.

[2022-08-20 19:18] #4885 closed

[2022-08-20 19:23] shansmith01 opened #6256 "[Bug?]: Getting white screen when trying to load http://localhost:8911/graphql"
### What's not working?

Hi There,

I am am getting a white screen and the following error in the console when trying to load up the Graphql explorer

Uncaught SyntaxError: The requested module 'https://unpkg.com/@graphql-yoga/graphiql' does not provide an export named 'renderYogaGraphiQL' (at graphql:1:384)

Not sure when this started but i am getting the issue in both 2.1.1 and 2.20

Thanks for

[2022-08-20 21:46] zakmandhro commented on #6254
If I run with the latest code, i.e. `yarn rwfw project:sync` from `main` (commit 92a207ae2f306b4af6336577c2b9e13fe8c14b90), this problem does not exist. Perhaps an issue with Release 2.2.0 only?

[2022-08-20 21:52] dthyresson commented on #6254
Yes. I believe so.

Please see https://github.com/redwoodjs/redwood/pull/5903

the latest has breaking changes and there is a code mod and instructions to update apps.

I’m not aware of 2.2 issues though.

[2022-08-20 21:54] dthyresson commented on #6254
The 2.x and 3.x server config files are not backwards compatible

[2022-08-20 22:36] zakmandhro commented on #6254
@dthyresson for 2.2, should my reproduce steps above work or am I missing something? The 2.2.0 docs suggest that `configureFastify` should work.

[2022-08-20 23:03] zakmandhro commented on #6254
Cool. Will wait for the next release to customize fastify.

[2022-08-20 23:03] #6254 closed

[2022-08-20 23:05] dthyresson commented on #6254
2.2 should work — but only set certain server settings like the timeout and body size. Fastify calls these the Factory instance settings.

And only in dev or when deployed to serverful.

[2022-08-21 04:02] Tobbe commented on #6255
We do `process.cwd()` to get the base path. On Windows node will return something like `'C:\\Users\\tobbe\\dev\\redwood\\my-redwood-app'`. So that's what's causing redwood to receive a backslash. That's just the way things work on Windows. Not much we can do about that.

The reason for the mix of / and \ is this:
[code]

As you can see the first slash is hardcoded. We should probably use `path.sep

[2022-08-21 04:21] Tobbe commented on #6255
Found this issue related to the PR I linked earlier https://github.com/redwoodjs/redwood/issues/6194

It has some more discussion about the paths. And also this comment https://github.com/redwoodjs/redwood/pull/6203/files/75145d25684452f37c0a2b5f4b27b17f66794de7#r943605422

[2022-08-21 04:26] Tobbe commented on #6256
Hi @shansmith01. Thanks for the bug report. A new version of graphiql was released which caused this problem together with the fact that the version of yoga we use always pulls in the latest version of graphiql.

We're trying to upgrade to a later version of yoga which will fix this issue. As soon as we can get the tests passing here we'll merge it https://github.com/redwoodjs/redwood/pull/5962

O

[2022-08-22 00:05] jomarmontuya commented on #6256
Same issue encountered today, is there a workaround to rollback and use the old graphql version on my project?

[2022-08-22 03:18] ehowey commented on #6207
Hey just a note to say I appreciated your write up and perspectives here - made me reconsider how I would/should do things.

I would probably have done what you mentioned at the start with a full Prisma schema deep dive...

[2022-08-22 08:07] Tobbe commented on #6256
We just merged the latest version of yoga. So anyone can now upgrade to canary (`yarn rw upgrade -t canary`) to fix this

[2022-08-22 09:43] jomarmontuya commented on #6256
Awesome! I can confirm that this is working thank you! @Tobbe

[2022-08-22 10:49] Tobbe commented on #6256
Patch release out: https://github.com/redwoodjs/redwood/releases/tag/v2.2.1

[2022-08-22 10:49] #6256 closed

[2022-08-22 15:12] jtoar commented on #6225
Hey @Gresliebear! Got around to triaging this one and wondered why you're using nodemailer on the frontend? Redwood definitely polyfills, but doesn't polyfill Node.js builtins because, well, it's the web side. And you're right that the webpack config could have a better example or at least talk more about the existing config.

[2022-08-22 15:17] dac09 commented on #6236
I also like this idea - but one of the downsides of "ejecting" is that if there are upstream changes to config in Redwood, upgrading becomes extremely tedious. From the maintainer perspective, how would we know we're not accidentally breaking things between releases?

1) So the first question here is, what would you like to eject?

and

2) Is there another pattern we could adopt instead of just du

[2022-08-22 15:25] jtoar commented on #6198
Hey @QQCif! Do your input mutations look like the following? These are just the generated ones (from `yarn rw g scaffold`):

[code]

Redwood doesn't generate fields in input types for Prisma fields with defaults, so createdAt shouldn't be necessary for creating or updating a post.

[2022-08-22 15:26] #6239 closed

[2022-08-22 15:46] dthyresson commented on #5057
Since this isn't a major issue -- but a better message is desired -- have decided to backlog until Yoga v3 is out which will be more GraphQL-spec compliant and the Guild will introduce error code and content-type changes, because we'll have to revise with that release.

[2022-08-22 16:40] pantheredeye commented on #6207
@ehowey Thanks for the note! I am curious to know what led you to it - meaning, a keyword search or something, or were you just browsing the issues?

Anyway, thanks again for the affirmation. If you have any critique or suggestions for the how-to itself, please shoot them over also 😅. Glancing over it again, a few days removed, I do not like the way I have put it together. But, like I said, it was

[2022-08-22 16:50] dthyresson opened #6260 "[Docs]: Clarify Netlify deployment should use the providers build and deploy flow, and not the "netlify cli" local"
### Summary and description

See docs here: https://redwoodjs.com/docs/tutorial/chapter4/deployment#netlify

There has been some confusion in Discord where some people were trying to build and deploy a redwoodJS app to Netlofy using Netlify's CLI and the [build](https://cli.netlify.com/commands/build/) and [deploy](https://cli.netlify.com/commands/deploy) commands.

These commands with build the R

[2022-08-22 17:51] archae0pteryx opened #6262 "[RFC]: heroku deployment"
### Summary

***Summary:*** Add CLI support for automatic deploys to Heroku.

A cursory search in Redwoods' issues for "heroku" returned some results, however, it doesn't appear that there has been in depth conversation about direct integration with Heroku (via the RW CLI). I apologize if that's not the case and I have missed it. I am interested in opening a dialog about this (and eventually lead

[2022-08-22 22:11] Gresliebear commented on #6260
I completely agree!!! I have been using Netlify CLI for 2 weeks as deployment tool that fails I recreated it as a public issue https://github.com/Gresliebear/TestingRedwoodDeployment/issues/3 here don't make  the same mistake!!! I wasted weeks of my life!!!

Will there be a future long-term solution until a fixed is made? I don't know I will post a solution or deadend but I am working with Netlify

[2022-08-22 22:35] Gresliebear commented on #6225
@jtoar  I am going close this issue I was having trouble deploying on netlify. I was using their CLI and when you build on windows machine or mac machine the serverless function fails you can read it here https://github.com/netlify/zip-it-and-ship-it/issues/1167 oor here https://github.com/Gresliebear/TestingRedwoodDeployment/issues/3

Basically you need to compile on a linux OS like debian to dep

[2022-08-22 22:35] #6225 closed

[2022-08-22 23:16] ehowey commented on #6207
Just browsing issues - I sometimes take a scroll though issues just to see what is shaking.  I have been toying around with a SaaS idea on/off based on time I have so keep an eye on where things are at with RWJS.

[2022-08-23 14:56] dthyresson commented on #6025
Note that the expected result for codegen for the enum when `enumsAsTypes` is false is:

[code]

when `true`:

[code]

Which I can generate by changing

[code]

So, while I can set the config for settings like:

[code]

which change the case, the `enumsAsTypes` override doesn't appear to take effect.

[2022-08-23 16:52] #6231 closed

[2022-08-23 17:24] cannikin opened #6275 "[RFC]: Prompt user to create project as JS or TS in create-redwood-app"
### Summary

Rather than force a TS install, with a `--ts` flag, or a JS install with a `--js` flag, let's just prompt the user and ask which they want from the start when they run `yarn create redwood-app`.

Of course the default option if you just hit ENTER at that prompt should be JS. 😏

### Motivation

This puts and end to the debate of whether we should create a JS project or a TS project by

[2022-08-23 17:49] jtoar commented on #1835
Next steps here: we definitely need to clean up after local e2e. We need a suggestion to the approach. Is it a script that fires at the end? Is it just try catch? Does another process watch the process? Open to suggestions!

[2022-08-23 17:55] jtoar commented on #613
This one's definitely still a priority! Here's the function:

https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/paths.ts#L153

We'd just have to add another test here:

https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/__tests__/paths.test.ts#L10

If anyone's interested let me know. This one's a little tricky because you have to be in a rw project to test it,

[2022-08-23 18:02] jtoar commented on #4717
Next step here is research. How does storybook's HMR work? Can we extend or override the storybook HMR (hot module reload) behavior? If a mock file is changed, we can "over" reload, rebuilding storybook entirely if necessary?

(Note: we talked about this issue live in the August contributor's workshop. Link TBD)

[2022-08-24 03:54] callingmedic911 commented on #6009
Thanks for following up @Gresliebear. I'm closing this issue but feel free to re-open it if you want to explore new ideas.

[2022-08-24 03:54] #6009 closed

[2022-08-24 05:09] #6219 closed

[2022-08-24 08:13] AlvaroPata opened #6277 "[Bug?]: Error in Scenario with Relationship to Existing Record"
### What's not working?

In scenarios with relationships to existing records, the expression to access the record get linted with a `Did you mean to call this expression?` error/warning, despite working as expected when being used in tests.

![image](https://user-images.githubusercontent.com/69887666/186365851-902cc810-a305-479f-aba5-50c109285d69.png)

### How do we reproduce the bug?

Create a sc

[2022-08-24 11:45] dthyresson opened #6279 "[Bug?]: Netlify Production CORS Issue with Multi Value Headers with multiple origins"
### What's not working?

CORS issue reported in Discourse:

https://community.redwoodjs.com/t/more-than-one-domain-for-cors/3846

---

Hi! We're having an issue while using CORS, we're on Redwood 2.2.0, and using Netlify for hosting. This behaviour is only happening in production, when following [this guide] (https://redwoodjs.com/docs/cors#testing-cors-locally) to test it locally it works fine.

[2022-08-24 18:11] cannikin opened #6282 "[RFC]: Add ability to cache arbitrary classes in Service Cache"
### Summary

This isn't even merged yet: https://github.com/redwoodjs/redwood/pull/6082 but I thought of an enhancement. Right now you can only cache things that survive a round trip through `JSON.stringify()` and `JSON.parse()`. But if you followed a certain convention in your a class, you could cache arbitrary class instances as well.

### Motivation

I'd love to be able to cache anything and co

[2022-08-25 00:43] simoncrypta commented on #6242
Hi @titib !
Thank you for this issue. For some reason in the React lifecycle and the redwood router, it is not possible to use hooks in the NotFoundPage and probably also in the FatalErrorPage.

I recommend you to use [the render prop method for i18next](https://react.i18next.com/latest/translation-render-prop
). This should look like this :
[code]

[2022-08-25 00:50] simoncrypta commented on #6242
@Tobbe Do you know if the error with hooks is a known limitation with the NotFound page ?

[2022-08-25 02:59] ehowey commented on #6275
I have felt this pain twice lately. Accidentally doing JS when I meant for TS.

I'd be happy to take a go at a rough draft of a PR but I have never done CLI work before. I think it should be pretty easy to do though.

[2022-08-25 04:19] Tobbe commented on #6262
Very well written rfc @archae0pteryx! We should link to this as a "how to write an rfc" gold standard example 🙂

A long time ago I did some experiments with running RW on https://dokku.com (which uses the same mechanism as Heroku) but it was non-trivial and I never did get build+deploy times down to anything bearable. Built-in support for heroku would most certainly have helped getting things runn

[2022-08-25 05:50] Tobbe commented on #6242
I didn't know about this. I wonder if it's the `require` call that's throwing it off. Maybe we should have a Loading component to show while that require call is resolving.

[2022-08-25 11:10] #6260 closed

[2022-08-25 14:34] archae0pteryx commented on #6262
@Tobbe Well, thank you sir. I like your site! I've not looked at the CI process you've got going for redwood but I will poke around. I / we were able to set it up in a GH Actions pipeline that deploys to a "preview" env (per branch) and both staging and prod envs without any trouble. I've since moved it all to the built in webhook-heroku triggers (once the great heroku / github crash of 2022 was r

[2022-08-25 15:26] cannikin opened #6293 "[RFC]: Add recurring background job support to Baremetal deploy"
### Summary

If you're deploying with Baremetal, and you need recurring background job processing, you've got a couple ways to run recurring background jobs:

* pm2
* cron

There's a "secret" syntax you can use in pm2 to simulate running jobs on a recurring schedule. Or you can use cron, which has been doing these kinds of things since the beginning of time. Let's have a way to configure your recu

[2022-08-25 15:37] cannikin commented on #6262
Have you looked at the Baremetal deploy option? I wonder how close that would get...I know the old school way we used to deploy Rails to Heroku was just to add another origin in git and push to it...is that still how it's done? Or can you get an IP or cluster of IPs and deploy via ssh? That's what Baremetal wants to do.

[2022-08-25 15:42] archae0pteryx commented on #6262
I have not explored any of the deploy code in detail as of yet. I certainly will. A co-worker has been adding the azure deploy stuff so I'm sure he'd be an additional resource as well.

[2022-08-25 15:48] razzeee commented on #4569
How were you able to test that against your codebase? `npm link` somehow or with a different approach?

[2022-08-25 16:02] callingmedic911 commented on #4569
@ortegoncarlos thanks for sharing your finding in detail. I believe there's PR open recently to reduce bloat from mock #6281.
About the changing node/v8 options, I felt this may not be an ideal solution -  and may have unintended side effects. I'm open to exploring all the ideas though.

@razzeee Using `yarn rwfw` from your project you can link your local RedwoodJS repo to your project and try thi

[2022-08-25 16:05] razzeee commented on #4569
Thanks!

I'm not convinced, this is CI specific. I'm also having this locally (fedora) and I think my colleague also sees it on mac os.

----

This part is probably obsolete now, that you mention that PR, still doesn't hurt.

I took https://github.com/redwoodjs/redwood-tutorial and run it with this:

[code]
Which returned:
[code]

So it's not enough to crash the process, but it still seems like wa

[2022-08-25 18:58] archae0pteryx commented on #6262
Well. Now that this is happening: https://blog.heroku.com/next-chapter... Maybe we close this for now and revisit if there's more interest?

[2022-08-26 00:27] IThinkThatsKirby commented on #5852
I am currently investigating. Don't hold your breath, I'm slow.

[2022-08-27 07:15] Tobbe commented on #6275
Arguably the "standard" is already to create a TS project. Then if the user wants a JS project (which is the default option right now) we additionally run ts-to-js at the end.

So I think we should make the ts-to-js step optional, and only run it if --js is specified, or if the user chooses JS at the prompt.

And of course TS should be the preselected option users get if they just press Enter. If

[2022-08-27 08:15] Tobbe commented on #3989
From David:

I’ll drop an idea here that I mentioned to Dom a few weeks ago.
Because our engine requirements are tightly coupled to deploy-target support (e.g. no lambdas support 18), people can conceivably do whatever they want. We just need to let them know why. So imaging during the create redwood-app process.
 1. yarn create redwood-app
 2. install checks system versions against engine require

[2022-08-27 08:18] Tobbe commented on #6275
@ehowey If you wanted to have a go at this that would be awesome! Please do also take a look at https://github.com/redwoodjs/redwood/issues/3989 to better understand the overall picture of where we want to take this 🙂

[2022-08-27 20:49] cattre opened #6319 "[Bug?]: Missing parameter for route when using glob pattern"
### What's not working?

I'm trying to change a couple of routes to use the glob param pattern, in order to work with nested items, e.g.:

`<Route path='/category/{categoryIds...}/edit' page={CategoryEditCategoryPage} name='editCategory' />`

This working fine when I manually enter the URL, but I get an error when creating navigate links, e.g.:

`<Link to={routes.editCategory({ 'categoryIds...': c

[2022-08-27 20:55] cattre commented on #6319
I'm assuming the syntax for the navigate link is as above, although if I remove the ... the app loads and functions correctly, e.g.:

`<Link to={routes.editCategory({ 'categoryIds': category.id })}>Edit</Link>`

However, I then get a TS error:

TS2345: Argument of type ‘{ categoryIds: any; }’ is not assignable to parameter of type ‘{ “categoryIds…”: string; } & QueryParams’. Property ‘“categoryIds

[2022-08-28 13:26] #6198 closed

[2022-08-28 23:28] titib commented on #6242
Thank you. Your solution works !

[2022-08-29 13:11] marko-hologram commented on #5997
Not sure if this was already addressed to a certain extent, but I've ran into some of these examples in docs here https://redwoodjs.com/docs/how-to/role-based-access-control-rbac#how-to-protect-a-route.

This isn't listed in `<Private />` component docs, but I guess it could be copied over?

[2022-08-29 15:16] arrbrk1 commented on #5497
It worked, thank you! :)

[2022-08-29 16:47] IThinkThatsKirby commented on #5852
After some poking around this morning it looks like an issue with windows pathing not being supported by nodeFileTrace. I will verify later today, then see if its easier to just make a work around on our end, or add a feature to nodeFileTrace.

[2022-08-29 17:27] shivghai opened #6321 "[Bug?]: Supabase Auth `data` parameter not supported during signUp"
### What's not working?

Supabase's `data` parameter is not supported during `signUp`.

Supabase uses an extra `{data: {}}` object for user metadata https://supabase.com/docs/reference/javascript/auth-signup#sign-up-with-additional-user-meta-data, and the RedwoodJS `signUp` doesn't support this field.

### How do we reproduce the bug?

_No response_

### What's your environment? (If it applies)

_

[2022-08-30 09:37] jmackie opened #6322 "[Bug]: `@redwoodjs/testing/config/jest/api` causes a memory leak"
### What's not working?

At [Nous](https://github.com/project-nous) our Redwood test suite has become _incredibly_ resource hungry, to the point that we can't actually run the entire suite on our local machines. We can just about run it on CI by splitting the work between multiple GHA jobs.

After some investigation it's clear that we have a _huge_ memory leak. And one of the contributors to that

[2022-08-30 10:41] zygopleural commented on #6322
From my own debugging, with standard repro I get
[code]

If I comment everything out in `node_modules/@redwoodjs/testing/config/jest/api/jest.setup.js`, I get:

[code]

If I just comment out the `beforeAll` / `afterAll` / `afterEach` hooks in `node_modules/@redwoodjs/testing/config/jest/api/jest.setup.js`, I get:

[code]

If I **keep** the `beforeAll` / `afterAll` / `afterEach` hooks in `node_modu

[2022-08-30 10:44] jmackie commented on #6322
Not sure if it's related, but it's also slightly alarming that this trivial test suite is taking >10s 😅

[2022-08-30 10:44] zygopleural commented on #6322
FYI, if I put the `beforeAll` / `afterAll` / `afterEach` hooks in `node_modules/@redwoodjs/testing/config/jest/api/jest.setup.js` back in but keep the import updates, I get:

[code]

[2022-08-30 10:56] dac09 commented on #6322
Hello both - thank you for reporting this and the reproduction.

I just merged in a few changes (mainly targetting the web side) in https://github.com/redwoodjs/redwood/pull/6281 - would you like to try this out in your real project to see if it improves things for you?

`yarn rw upgrade -t canary` - we're very close to a v3 release and the canary isn't quite ready for prime time yet, but would be

[2022-08-30 15:06] dthyresson commented on #6149
@Gresliebear Can we close this issue?

I believe the problem was that you were trying to deploy using the Netlify CLI and this will not package up and deploy the app properly.

Instead, as per the new docs, Netlify deploys should be done using the GitHub integration and build on their platform.

[2022-08-30 17:50] realStandal commented on #6322
Possibly related to #4360

[2022-08-30 19:21] Gresliebear commented on #6149
Go ahead! I talked with Netlify they said was redwood issues. Honestly its too much of hot potato issue that i am moving on.

[2022-08-31 00:33] aaronvanston commented on #6197
@dthyresson Apologies for the delay on this one! GH notification got lost in the noise!

Yeah I suspect most of our tokens are quite old and thus would not really matter being able to tune the clock tolerance.

Yeah per spec we'd be fine with a 200 and then allow our client to handle the auth error.

[2022-08-31 09:38] razzeee opened #6326 "[Bug?]: PrismaClientUnknownRequestError: Response from the Engine was empty"
### What's not working?

After updating to the latest canary our backend seems to crash, at least in dev mode.

The problem disappears, when I switch back to 2.2.3

[code]

Are there any needed manual steps to run the latest canary?

### How do we reproduce the bug?

I assume, just installing the canary via `yarn rw upgrade -t canary` and then running `yarn rw dev` should show this, maybe try to o

[2022-08-31 09:49] dac09 commented on #6326
Could you please try `yarn rw prisma generate` and see if the error is still around?

[2022-08-31 10:00] razzeee commented on #6326
Thanks, that seems to have fixed it.

[2022-08-31 10:01] dac09 commented on #6326
I'll add a note to the release notes, thanks.

[2022-08-31 10:01] #6326 closed

[2022-08-31 12:20] dac09 commented on #6322
Hey so spent some time trying to improve speed/memory here - but I want to point out something important -  the reproduction doesn't actually have any scenarios, or real usecases.

It's a tradeoff between being able to write scenarios, and seed the db without more boilerplate in each test vs keeping jest as vanilla as possible.

[2022-08-31 16:26] Tobbe opened #6328 "[Bug?]: `getCurrentUser` isn't properly typed in `graphql.ts`"
### What's not working?

![image](https://user-images.githubusercontent.com/30793/187729425-88e9b3d4-e413-4b49-a648-45531a1a62a5.png)

Getting type errors in `graphql.ts`, and there's no way for me as a user of RW to fix this.

### How do we reproduce the bug?

Create a new RW app
`yarn create redwood-app --ts ~/tmp/rw-graphql-ts-error`

Upgrade to canary and enable ts strict mode

Add auth
`yarn

[2022-09-01 02:07] esteban-url commented on #3493
FYI, this is still happening out of the box on a completely new project with `create-redwood-app@2.2.3`

I think this is the culprit:
https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/service/service.js#L55

`.replace(/\.\d{3}/, '')` removes the trailing `.000`

### Proposed solution

Utilize the ISO8601 Date format in its entirety. It seems to me a more standard wa

[2022-09-01 05:17] esteban-url commented on #3493
the solution ended up being a bit different than what I expected. but there is a PR now! 🎉

[2022-09-01 07:50] minemax-ua commented on #5415
Redwoodjs claims to be a full-stack app framework, but, speaking of styling, out of the box, it supports what... Nothing but "good old" css files? Really?

[2022-09-01 15:57] dthyresson commented on #5415
Hi @minemax-ua.

The RedwoodJS `setup ui` [command](https://redwoodjs.com/docs/cli-commands#setup-ui)

Mantine support is coming soon, too. And Chakra 2 soon when React 18 support is in.

Picking a design/styling tool, I find, is very personal and designers have their preferences. Some like Styled Components, some like TailwindCSS, some like to handcode their own.

So, while out-of-the-box, Redwoo

[2022-09-01 22:03] pantheredeye commented on #6293
I say maintain consistency with pm2. It uses cron syntax, so no big deal there unless you are a crontab master and don't want to use pm2. I have never enjoyed working with cron scheduling. This seems like an easy entrypoint for people.

Everything would be nice and tidy within your redwood project. Add a script, update the ecosystem file, and go. The logging would be nice, like you mentioned.

Wou

[2022-09-02 00:37] cannikin commented on #6275
We discussed in a core team meeting and said we’d prompt! You were there @Tobbe, I see you trying to push your TS agenda. 😉

BTW I’m fine with making TS the default if you just hit ENTER, my JS-default solution was mostly just ti give @Tobbe nightmares. Muwhahaha

[2022-09-02 02:42] mcmx commented on #2897
I know this is an old issue, but it works for me, I believe this can be closed.

Can someone else confirm?

[2022-09-02 03:06] ehowey commented on #6275
I am going to be slower than I'd like working on this - I am keen to take a go at things but until my kids start going to bed earlier with the fall weather my dev work time has been a bit minimal.  I will see where I can get to but if this is a priority or needs to be complete in under a month then please go ahead on your own as the core team.

[2022-09-02 05:34] Tobbe commented on #6275
@Tobbe wrote:

(**prompt** emphasis (but not text) added by me, now)

100% agree we should have a prompt. Always have 😃

Don't know where you guys got the idea I tried to steer us away from that 🙂

[2022-09-02 06:13] Tobbe commented on #2897
Are you in a TS project? Strict mode on or off?

[2022-09-02 13:48] pantheredeye commented on #6275
This would be my fault for missing your mention of a prompt. :disappointed: Apologies to all.

@ehowey glad you dug in! I run the same schedule as my kids, as well. :smile:

[2022-09-02 13:54] cannikin commented on #6275
Oh yeah sorry, I missed the prompt part of that as well! @Tobbe probably edited the comment and added that in after our comments. 😉

[2022-09-02 19:08] #6328 closed

[2022-09-02 22:55] mcmx commented on #2897
Yes, it is a TS project, strict was off, I add it to `web/tsconfig.json` and set it to **true**, still VSCode suggests Private from `@redwood/router`

Also created a new project, added `strict` and `alwaysStrict`, opened VSCode and still suggests Private from `@redwood/router`

Is this the correct way to enable strict and test this?

[2022-09-03 04:44] ehowey commented on #6275
I mention this in the PR - but I have put in some POC prompts for project name, project path and git init.  Once you figure out the workflow for one prompt, adding others is pretty straight forward.  Maybe that is too much scope creep but it felt natural to also ask the user these questions as well in the install process.

[2022-09-03 22:02] lidermanrony opened #6338 "[Bug?]: yarn create redwood-app fails on node 16.17.0 LTS"
### What's not working?

After testing multiple node versions, the latest version it _does_ work on is 16.4.0

Following the tutorial:
yarn create redwood-app ./redwoodblog

[code]

getting the following output:

[code]

### How do we reproduce the bug?

_No response_

### What's your environment? (If it applies)

[code]

When downgrading to 16.4.0 I'm successfully getting the following:
[code]
[c

[2022-09-04 03:39] jtoar commented on #6338
Hey @lidermanrony, I was able to reproduce this using Node.js v16.7.0. Thanks for the detailed issue! We got another report of the same error in a different context on the [forums](https://community.redwoodjs.com/t/help-no-longer-needed-with-baremetal-deploy/3874).

It looks like in Node.js 16.7.0, the `Request` object from `undici` is `undefined` for some reason. But it works fine for me on the l

[2022-09-04 03:46] jtoar commented on #6321
Confirming that based on our code and the docs you linked to there's no way of passing `data`:

https://github.com/redwoodjs/redwood/blob/abaaf5d6810859400cc3116f3b00356a4e246548/packages/auth/src/authClients/supabase.ts#L109-L114

@shivghai as a workaround, did you try destructuring `client` from `useAuth`? That should give you direct access to the supabase client.

@Tobbe you don't have to fix t

[2022-09-04 04:05] jtoar commented on #6319
Hey @cattre thanks for the Gitpod snapshot! 🚀 As you mentioned in your second comment it looks like the types Redwood generates wrong. Let me step through [babel-plugin-redwood-routes-auto-loader](https://github.com/redwoodjs/redwood/blob/main/packages/internal/src/build/babelPlugins/babel-plugin-redwood-routes-auto-loader.ts) to see exactly what's going on there.

[2022-09-04 04:06] jtoar commented on #6319
The generator also need updating so that the page it generates doesn't throw; it needs a parameter.

[2022-09-04 08:36] #5497 closed

[2022-09-04 10:24] jtoar commented on #6321
Actually seems like this may be a dupe of https://github.com/redwoodjs/redwood/issues/6146 so I'm going to close this one just so that we don't have two conversations going about the same thing. Let me know if you feel this is different though and I'm happy to reopen.

[2022-09-04 10:24] #6321 closed

[2022-09-04 10:34] Tobbe commented on #2897
You've done it the correct way 👍

And I can confirm that it works! Thanks @mcmx

[2022-09-04 10:34] #2897 closed

[2022-09-04 10:52] Tobbe opened #6339 "[Bug?]: TS strict mode resolverFn: Have to pass argument to function not requiring any arguments"
### What's not working?

It's debatable whether this is a bug or not. But I think we can all agree it would be nicer if no argument had to be provided.

![image](https://user-images.githubusercontent.com/30793/188324759-54c0537a-3709-4952-a76f-5bd0be4b43c7.png)

The generated types look something like this

[code]

The `Resolver` type in turn is this:

[code]

And `ResolverFn` is this

[code]

So

[2022-09-04 11:08] coadtan commented on #6193
I had to manually remove the occurrences of **generateGraphiQLHeader** before pushing to remote. This seems to be a workaround.

[2022-09-04 11:41] jtoar commented on #5728
This should be fixed but only because we disabled telemetry on Windows completely.

[2022-09-04 11:41] #5728 closed

[2022-09-04 11:48] minemax-ua commented on #5415
How can I use CSS Modules?

[2022-09-04 11:56] dthyresson commented on #5415
Could you clarify and elaborate on your question?

For example do you mean how might you use https://github.com/css-modules/css-modules ?

Since the RedwoodJS web side is a fundamentally a React app, most ways you'd use other libraries with React typically work ... or are worth trying out first and the seeing what might be needed to smooth out support or improve the DX.

How you would use css modu

[2022-09-04 11:59] dthyresson commented on #6193
I received some context on Discord.

I believe the issue happens if you add the `generateGraphiQLHeader` in the graphql function and deploy, say to Netlify.

Because the file is ignored and the function needs it, builds can fail.

Perhaps a pattern like:

[code]

can be used.

[2022-09-04 12:22] minemax-ua commented on #5415
Yes, those CSS Modules.

No, it's not about React, but about the module bundler. And webpack (on which the Redwood is based) does not support CSS Modules out of the box. So, do I have to find and hack it's config files to be able to use css modules?

[2022-09-04 12:49] dthyresson commented on #5415
Have you tried

[2022-09-04 15:13] jtoar commented on #6319
So turns out the utility type [here](https://github.com/redwoodjs/redwood/blob/455bcafb6b3b301d62f2a082f076642dd35e73ba/packages/internal/src/generate/templates/web-routerRoutes.d.ts.template#L32-L58) doesn't handle glob routes, so this now very much a TS problem

[2022-09-04 16:15] jtoar commented on #6338
@lidermanrony rereading your issue, I see you've already tried Node.js 16.4.0 and got it working. But it doesn't work for you on later Node.js 16 versions that are actually LTS? Only versions after v16.13.0 are actually LTS: https://nodejs.org/ru/blog/release/v16.13.0/. But I just tried it on v16.8.0 and it worked. Still looking for a Node.js/undici issue as to why it'd fail on v16.7.0

[2022-09-04 16:33] Tobbe commented on #6321
For signup, login and logout using the client methods directly usually doesn't work. It often causes RW and the auth client library to get out of sync in regards to auth state. So I'm afraid the only way forward here is a fix on our end. And, as I said in the linked issue, I rather wait with auth updates until my auth decoupling PR has landed.

[2022-09-04 17:38] pantheredeye commented on #6293
I am slowly catching up. I realize my points above have turned out to be mostly redundant.

🤦‍♂️ With a `rw g` command by default comes a `rw d` command. Destroy the current job and recreate if you need to change the schedule.

[2022-09-04 19:23] Gresliebear commented on #6194
I am getting the same issue on windows

[code]

the solution fix it will this be in the next release?

[code]

[2022-09-05 11:47] maddijoyce opened #6343 "[Bug?]: Default dbAuth workflow leaks resetToken"
### What's not working?

After following the tutorial to get an idea of how redwood works, I was testing out the dbAuth functionality with the console open. I was looking at the response from the forgotPassword lambda (without changing anything from the scaffolded code) and it's returning the reset token:

[code]

### How do we reproduce the bug?

Just follow the instructions here - https://redwoo

[2022-09-05 11:51] maddijoyce commented on #6343
My feeling is that there are 2 possible options here.
- One would be to update the documentation to make sure users understand they need to modify that handler
- The other would be to modify the generated function, possibly as simple as:

[code]

[2022-09-05 12:29] jtoar commented on #6343
Thanks for the report @maddijoyce! @cannikin could I hand this one off to you cause dbAuth?

[2022-09-05 13:48] dac09 commented on #5982
Closing as this is resolved by #6228

[2022-09-05 13:48] #5982 closed

[2022-09-05 13:48] dac09 commented on #3071
Done ages ago with smoke tests!

[2022-09-05 13:48] #3071 closed

[2022-09-05 13:49] dac09 opened #6344 "Document relation resolvers in strict mode"
In strict mode, if you use findUniques, it doesn't like it in the relation resolvers.

You need to throw an error for it to not complain e.g.
[code]

[2022-09-05 13:49] dac09 commented on #6344
Completed in #6228

[2022-09-05 13:50] dac09 commented on #3069
Closing as this has become stale, and #3721 takes away a lot of the pain!

[2022-09-05 13:50] #3069 closed

[2022-09-05 13:57] dac09 opened #6345 "Debug: Custom SDLs and services"
See https://community.redwoodjs.com/t/separate-generated-services-and-sdl-files-from-custom-ones/3896/11

Need to try and understand what's happening in Sebastian's project.

Reproduction repo: https://github.com/morecode-spzoo/redwood-playground

[2022-09-05 14:02] dac09 opened #6346 "Configure and add type-tests"
Add a way of testing built-in and util types in Redwood.

Worth exploring: https://github.com/SamVerschueren/tsd

Great types to start with:

**1. Route parser**
Move this type into `@redwoodjs/router` instead of the generated file, and import it in the generated file. This'll let us test it using tsd

**2. MergePrismaTypes**
Add type tests for this, to prevent regressions and allow better debuggi

[2022-09-05 14:35] dac09 commented on #6344
`findUniqueOrThrow` - you learn something new every day. Updating docs now - thanks again @orta !

[2022-09-05 14:37] orta commented on #6344
It might be worth a dig through my codebase at some point because its hard to know what I've solved and is useful generally, I'm down to only 3 tsc error messages nowadays - if you and @tobbe want to find a good time ping me on discord

[2022-09-05 14:51] dac09 commented on #6344
Hmmm... so looks like findUniqueOrThrow doesn't work either if we're using the relation syntax:

[code]

So we still need the typecasting or null checks

[2022-09-05 15:18] cannikin commented on #6343
Yup, I’m on it!

[2022-09-05 15:23] orta commented on #6344
Ah, yeah, I don't use that pattern anywhere, sorry!

[2022-09-05 15:26] dac09 commented on #6344
Odd that prisma says it could be null though... there's definitely something here to explore further

[2022-09-05 16:27] jtoar commented on #6194
@Gresliebear yes we'll try to get a patch out soon, before v3. The fix is here https://github.com/redwoodjs/redwood/pull/6203

[2022-09-05 16:28] pantheredeye commented on #6223
Danny note:

If taking approach _A.1_: If lint fails during generate process, the generator will fail without giving a clear understanding of why. If this approach is taken, then we could swallow the error.

[2022-09-05 16:38] Gresliebear commented on #6194
@jtoar  thanks you!

[2022-09-05 18:04] dac09 commented on #5852
Fixed by #6325

[2022-09-05 18:04] #5852 closed

[2022-09-05 21:11] pantheredeye opened #6356 "[Bug?]: WindiCSS Storybook Config"
### What's not working?

The out-of-the-box `yarn rw setup ui windi` does correctly install WindiCSS, however it does not seem to pre-configure to work with storybook.

_**_Storybook view:_**_

![image](https://user-images.githubusercontent.com/77902178/188512251-8f8e7904-8a5d-40d5-a9ba-4753c413cb7e.png)

**_Dev server view:_**

![image](https://user-images.githubusercontent.com/77902178/188512283

[2022-09-05 23:45] callingmedic911 commented on #6356
Chakra also does something similar. Have a look at this file: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/lib/configureStorybook.js

`extendStorybookConfiguration` is used here during Chakra setup https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/ui/libraries/chakra-ui.js#L93

Maybe we can do something similar for WindiCSS.

[2022-09-05 23:50] callingmedic911 commented on #6356
Also (from https://redwoodjs.com/docs/storybook#configuring-storybook):

So you probably need to configure storybook.config.js and storybook.preview.js in the user's project.

[2022-09-05 23:52] callingmedic911 commented on #6356
Pinging @virtuoushub, he understands storybook very well. :)

[2022-09-06 11:20] #6345 closed

[2022-09-06 11:21] dac09 commented on #6345
Replied in thread - Sebastien is trying things to understand the rules of Redwood (and graphql) - no actual issue found.

[2022-09-06 16:15] mcmx opened #6357 "[Bug]: Non-Descriptive error message for non-existent unauthenticated value in router Private set"
### What's not working?

In the Routes file when using the Private set with a non-existent unauthenticated route name, the error message shown is non descriptive because the code tries to access the non-existent value in the routes array before executing the named route function, this produces a generic exception message instead of a developer friendly one.

The message shown is similar to this:

[2022-09-06 16:25] mcmx commented on #6357
I'm working on a PR, so no need to review yet.

[2022-09-06 16:59] IThinkThatsKirby commented on #5373
This looks interesting. I will look into this.

[2022-09-06 17:42] coadtan commented on #6193
I tried
[code]

And got

[code]

I also tried

[code]

still got the same Netlify build error.

I'm researching a workaround.

[2022-09-06 17:49] alicelovescake commented on #6193
@coadtan this might not be relevant but not sure if the error has to do with relative imports. Does it work if you use  `generateGraphiQLHeader = require('src/lib/generateGraphiQLHeader').default`

[2022-09-06 18:07] coadtan commented on #6193
Hi, @alicelovescake  :)

I tried
[code]

But got the error below on local (yarn rw dev)

[code]

I assume it looks for a file under the dist directory.

[2022-09-06 18:31] dthyresson commented on #6193
Oh, this might work ...

[code]

I have tried in dev and seems to run ok.

[2022-09-06 18:50] coadtan commented on #6193
Hi @dthyresson,
In my dev, node_modules/@redwoodjs/api/dist/lib doesn't exist. So I got an error below
[code]

Yes, require('../lib/generateGraphiQLHeader').default also works on local. But the code will cause a build fail on Netlify.

I'm thinking this might be specific to Netlify bundling (https://www.netlify.com/blog/2021/04/02/modern-faster-netlify-functions/) where the bundler scans your code

[2022-09-06 19:08] alicelovescake commented on #6193
We do have a command to remove the import using `yarn redwood destroy graphiql`. Technically we don't want any of the generated code committed since it is only for testing in dev. But it's not great DX for the developer to remember to remove it before pushing.

[2022-09-06 19:15] Tobbe commented on #6357
Thanks for an exemplary issue report! And a PR to go with it too, that's really great 🚀

[2022-09-07 15:03] Tobbe commented on #6357
Closed by #6358

[2022-09-07 15:03] #6357 closed

[2022-09-07 15:40] cannikin commented on #6343
@dac09 Didn't we just update this function to only return a boolean, or throw an error? Was that in the TS strict stuff?

[2022-09-07 15:53] dthyresson commented on #6193
@alicelovescake I have an idea:

1. Move the development check inside the lib function
2. Remove from the gitignore
3. Always import in the GraphQLHandler

The lib helper then becomes something like:

[code]

That way the file can be bundle in the deploy, but the logic for setting the headers is done there vs include/exclusing the import.

Thoughts?

[2022-09-07 16:03] alicelovescake commented on #6193
@dthyresson great idea! I thought of something similar as well. We can basically just simplify it to:

[code]
The only concern is that we would be letting the developer commit the jwt payload/ mock headers into their repo. I thought the intention of us putting the generateGraphiQLHeader in the gitignore was to ensure this file is only used for testing and sensitive data is not accidentally checked

[2022-09-07 16:22] dac09 commented on #6343
Yeah we changed the template - but we mainly changed the templates though, but didn't change the dbAuthHandler underneath to throw an error, so I think it still needs a looking at.

[2022-09-07 16:30] cannikin commented on #6343
I don't know that we need to throw an error, just update this function to not return the same thing that came from that `forgotPassword` handler: https://github.com/redwoodjs/redwood/blob/main/packages/api/src/functions/dbAuth/DbAuthHandler.ts#L500-L509 So even if someone DID return something sensitive, the actual function would return nothing. Just update it to return an empty string or something

[2022-09-07 16:31] cannikin commented on #6343
Did you want to work on this one @maddijoyce? How does my suggestion above sound?

[2022-09-07 19:29] coadtan commented on #6193
Hi, @alicelovescake  @dthyresson,

I'd like to share what I did and think it might be a workaround. This is specific to Netlify though.

In graphql.ts, we can do something like this

[code]

And also in netlify.toml. I added this to tell Netlify **not** to look for a specific inline dependency (in this case the non exisitance file)
[code]

It works on both local and Netlify builds. So I guess I do

[2022-09-08 00:37] maddijoyce commented on #6343
Ah yeah that makes sense to me. Don't just limit the chance for leakage in the tutorial/generated code. Instead eliminate it entirely in the DbAuthHandler.

I'd love to have a crack at this, so I'll check the contributor guide and push a PR. Cheers!

[2022-09-08 01:48] cannikin commented on #6343
I marked it as a breaking change: if someone is doing something with the user object returned by that function then they're screwed. Unfortunately, that's everyone running dbAuth since the toast message it shows on the `ForgotPasswordPage` gets the [email address from the response object](https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/generate/dbAuth/templates/forgotPassw

[2022-09-08 08:38] jtoar opened #6362 "[Bug?]: `yarn rw serve` ignores api.host in `redwood.toml`"
### What's not working?

The docs say you can configure the host of the api server (see https://redwoodjs.com/docs/app-configuration-redwood-toml#api). But if you specify api.host in the `redwood.toml`, then run yarn rw serve, it doesn't seem to do anything. It turns out we're hardcoding it:

https://github.com/redwoodjs/redwood/blob/5a7fbbb4744ce6cb7991c81c462f6b8d2a30d182/packages/api-server/src

[2022-09-08 09:51] #6194 closed

[2022-09-08 10:14] chathuraa commented on #6338
Hi @jtoar ,

I'm getting the following error.

`error create-strapi-app@3.3.2: The engine "node" is incompatible with this module. Expected version ">=10.16.0 <=14.x.x". Got "16.17.0"`

thanks,
Chat.

[2022-09-08 10:14] jtoar commented on #6194
@Gresliebear the patch with the fix just went out: https://github.com/redwoodjs/redwood/releases/tag/v2.2.4

[2022-09-08 10:16] jtoar commented on #5497
@arrbrk1 the patch with the fix just went out: https://github.com/redwoodjs/redwood/releases/tag/v2.2.4. When you upgrade be sure to get rid of the yarn patch file, or at least change the resolution so that it's just `2.2.4`.

[2022-09-08 12:40] Gresliebear commented on #6194
Thanks!

[2022-09-08 17:15] cannikin opened #6363 "[Feature]: Add `privateKeyPath` to Baremetal deploy config"
### Summary

Right now the `privateKey` option in the Baremetal config needs a `Buffer` containing the actual content of the private key. But the `ssh` lib we're using also supports just passing in the path to the key in a `privateKeyPath` config option. Let's make that available.

### Motivation

People were getting confused trying to include the *path* to their private key when the existing opti

[2022-09-08 17:20] cannikin commented on #5426
Turns out I've since done this!

![I love it when a plan comes together](https://c.tenor.com/9qn_nI927TYAAAAC/ateam-plan.gif)

[2022-09-08 17:20] #5426 closed

[2022-09-08 17:27] cannikin commented on #6171
I don't even understand the subject line of this issue. hahaha

Never assume that. ;) I just put stuff in the dependency array that I know I want to trigger the hook, but often times VSCode recommends others that, seems to me, have nothing to do with whether `useEffect` should be triggered. For example, the definition of the function `onAuthenticate` is not going to change, why should it need to g

[2022-09-08 17:40] cannikin commented on #6204
Sorry for the late response! I somehow had notifications turn off for the repo so wasn't getting notified when I got mentions. :(

We do offer Magic.link as an auth option already: https://redwoodjs.com/docs/auth/magic-link But it sounds like you're thinking of adding this functionality natively to dbAuth? Are there any benefits to doing this, besides just skipping another third party integration?

[2022-09-08 17:53] cannikin commented on #2488
I think we fixed this longggg ago, so closing for now!

[2022-09-08 17:53] #2488 closed

[2022-09-08 17:56] cannikin commented on #6343
We do have the ability to write [codemods](https://github.com/redwoodjs/redwood/tree/main/packages/codemods), so that your files are automatically updated by us during the `yarn rw upgrade` process, but it's no picnic writing them. And depending on how much someone has customized their `forgotPassword` hander or page, they might be impossible to run. In which case we'd have to have release notes a

[2022-09-08 23:46] Olyno commented on #6204
Sorry if my explanations do not seem clear, I will try to explain again!

# Problem

The current problem is that Redwood has (recently) a passwordless system, based on WebAuthn. This method allows anyone to log in without a password using their fingerprint or via facial recognition.

Although WebAuthn is a good start and secure, this method lacks accessibility, both for the developer and the user.

[2022-09-09 01:07] ajoslin103 commented on #6338
I've seen a few interesting notes out there, hunting for an answer

https://github.com/aws/aws-sdk-js-v3/issues/3389 -- say's multiple versions of dependencies

https://github.com/mike-marcacci/fs-capacitor/issues/16 -- talks about `npm force resolutions` which we would use as: Selective dependency resolutions https://classic.yarnpkg.com/en/docs/selective-version-resolutions/

I can also confim 16

[2022-09-09 13:24] IThinkThatsKirby commented on #5373
I regret looking into this.

[2022-09-09 16:46] #6363 closed

[2022-09-09 17:01] cannikin commented on #6204
Thanks for the additional info! I have some questions:

* How are you storing the generated OTP or other identifying information? A new database table? What's the structure of this table look like?
* How long are the links valid for? Is this time configurable? Where does the configuration go?
* If using a magic link, where does clicking the link take you to? Is there a new page on the web side, th

[2022-09-09 23:37] Olyno commented on #6204
I think we should make another table, such as:

| id | email                            | code   | expiration_date       | creation_date         |
|----|--------------------------------------|--------|-----------------------|-----------------------|
| 1  | myemail@gmail.com | 548954 | 2022-09-09T22:26.939Z | 2022-09-09Y22:26.939Z |

Note that each code would be 6 digits long.

The expiration time

[2022-09-09 23:57] cannikin commented on #6204
I believe the table that tracks the OTP code should contain a `userId` reference to the `User` table rather than an `email` (dbAuth refers to this field internally as `username`, as it doesn't have to be an email, it could be anything). This give you a hard link back to a unique ID for the user that this code is for, rather than an email address which the user can presumably change.

Functions in

[2022-09-10 00:05] dphuang2 commented on #531
Just dropping my experience here.

I have standalone TypeScript modules under `packages/*` and all I had to do was add `babel.config.js` with the following content:

[code]

And I can import the modules under `web/` and `api/`.

[2022-09-10 00:08] dphuang2 opened #6373 "[Bug?]: Published @redwoodjs/forms does not have correct dependencies"
### What's not working?

It seems like `@redwoodjs/forms@2.2.4` has `react-hook-form@7.33.1` in its `package.json` but it should be `7.34.2`: https://github.com/redwoodjs/redwood/blob/main/packages/forms/package.json

Is there something up with the publishing of `@redwoodjs/forms` that causes this?

See SS of `node_modules` source for `@redwoodjs/forms`
<img width="966" alt="Screen Shot 2022-09-09

[2022-09-10 00:26] shansmith01 opened #6374 "[Bug?]: Render.com web build fails due to only supporting yarn 1"
### What's not working?

Web builds fail on Render.com

This is a known issue due to a lack of support for yarn 2/3 as noted here. https://feedback.render.com/features/p/add-support-for-yarn-2

In addition, after adding SKIP_INSTALL_DEPS env var to true the build still fails with another error.

After speaking with support changing the build cmd to

yarn; yarn rw deploy render web

It fixes the is

[2022-09-10 15:35] Olyno commented on #6204
Well noted, I will see that a little later, thanks!

[2022-09-10 18:04] pantheredeye commented on #5373
@IThinkThatsKirby What path did you take, what did you learn or what roadblock did you hit? Debugging is, for me, sort of a black box. So, I would be interested to hear any thoughts you have had. Discord is just as good a place to talk, if you are willing to talk, and if you don't want to muddy up the topic here.

[2022-09-11 14:50] dthyresson opened #6378 "[Bug]: Service generation for a string array field, sets string value instead of array (enums and string[])"
### What's not working?

Service test and scenario generation for a string array field, sets string value instead of array for fields that are arrays of string and arrays of string enums.

### How do we reproduce the bug?

Given the following model and enum in a Postgres database (for enum support),

[code]

and generating the sdl/service:

`yarn rw g sdl Entity --force --crud`

generates:

[code]

[2022-09-11 15:00] dthyresson commented on #6378
If might be in the `services.js` generator that `scenarioFieldValue` checks in an enum, set the first value when it should instead check if an enum and array, then set an array of first value:

[code]

[2022-09-11 15:06] dthyresson commented on #6378
Will want to add tests for:

* string[]
* int[]
* array of enum (though SQLite won't support?)

[2022-09-12 00:39] ajoslin103 commented on #6338
fwiw 16.16.0 works

[2022-09-12 19:11] IThinkThatsKirby commented on #5373
@pantheredeye
I have researched everything from how to declare typescript global variables to graphql resolution variables. VS code advertises their debugging as "it just works" and I'm beginning to think that's a lie. I gave myself burnout from all the docs I've read. Now I'm just trying to break things and see If I kan use that to help me figure out what's going on. So far I've managed to make c

[2022-09-12 19:49] IThinkThatsKirby commented on #5373
So far I believe this is not really an issue.

[2022-09-13 01:04] IThinkThatsKirby commented on #5373
I took a walk and bounced some ideas off my 2 year old. I think context is not going to show up as a global variable in VS Code's debugger. The way its created is more of a pointer to where its located and is defined from a return in a function that does not get run until context is referenced. So due to hoisting its referenced as a local variable when ever it is called. I will do a test to verify

[2022-09-13 15:51] jtoar commented on #6373
@dphuang2 I think you're looking at the main branch. But if you look at this repo at the 2.2.4 tag, you'll see that it's using react-hook-form 7.33.1:

https://github.com/redwoodjs/redwood/blob/62827bd6d5a7eff6d796575fb4b32e780c96dde8/packages/forms/package.json#L28

We always make patches based on the previous patch (and if it's the first patch, based on the minor). So new code is based on old co

[2022-09-13 15:57] finalight commented on #5231
are there plans to use swc/jest? they could significantly increase the speed of the test itself

[2022-09-13 20:22] #6374 closed

[2022-09-14 01:41] skyriverbend opened #6386 "[Docs]: Webhook instructions for Clerk don't work on Vercel"
### Summary and description

These instructions on integrating Clerk webhooks don't work when deploying to Vercel:
https://redwoodjs.com/docs/webhooks#base64-sha256-verifier-used-by-svix-clerk

It ends up throwing `WebhookVerificationError`. The instructions do, however, work on Netlify.

I believe this may have to do with Vercel somehow pre-parsing and modifying the body.

### Are you interested

[2022-09-14 06:25] Tobbe commented on #5627
Here's another, similar, error https://github.com/redwoodjs/redwood/actions/runs/3050274023/jobs/4917207340

[2022-09-14 07:23] finalight commented on #6279
what's the status of this ticket? is it being fix or needs more investigation?

[2022-09-14 11:35] dthyresson commented on #6279
@finalight are you seeing this behavior? If so and you have a reproducible case please do she’s as I want to fix this … but I haven’t found a way to reproduce quite yet. Thanks.

[2022-09-14 12:46] #6339 closed

[2022-09-15 01:59] finalight commented on #6279
actually both of us are sort of working together, so we have the same codebase

[2022-09-15 02:11] finalight commented on #6279
i can show the package dependencies that we have as well

in the API folder, the package.json is as follow:

[code]

for the web's package.json

[code]

for the root package.jso

[code]

[2022-09-15 02:54] ajoslin103 commented on #6338
I just got hit again...

yesterday things worked & today I have a fastify version complaint - I only trashed my node_modules and yarn.lock

should I _never_ trash my yarn lock again?

I remember when freezing your packages.json became a thing -- we're repeating ourselves !!

(please pretend I posted this at 12:01 :)

[2022-09-15 03:27] cannikin opened #6393 "[Tutorial]: Use `context.currentUser` in a service"
### Summary and description

Someone in Discord was asking how to access `currentUser` in a service and said they thought it would be nice if the tutorial mentioned it. I agree!

I'll need to figure out a usage that makes sense in the context of the blog and isn't too contrived. Maybe we add the ability to have multiple authors, and linking a blog post to the user that created it. It'll also give

[2022-09-16 12:44] #6319 closed

[2022-09-16 12:44] #6346 closed

[2022-09-16 12:47] dac09 commented on #6279
@finalight - this seems very odd that your redwood versions don't match ;) I think maybe you did a manual upgrade?

Perhaps try upgrading like this `yarn rw upgrade -t 2.2.4`. or if you're ready to jump to the latest, just `yarn rw upgrade`.

[2022-09-16 13:54] dthyresson commented on #6279
To add to this thread and investigate, I just deployed a v3.0.1 app to Netlify with CORS configured as:

[code]

Sending an Origin that is allowed results in a expected response (no dupes and origin is allowed) like:

![image](https://user-images.githubusercontent.com/1051633/190655081-7befaed2-c180-4f1d-871b-2b1c9df825b9.png)

While omitting a listed origin results in null as allowed:

![image](h

[2022-09-16 14:40] IThinkThatsKirby commented on #5373
I kant find any docs on HOW vscode debugger works, we need a debugger for the vscode debugger so we kan debug while we debug. I am 100% in the camp of its not actually global in the way JavaScript is run in the node or browser environment.
Its never hoisted because its never defined. So it really doesn't exist unless called, and this `context` variable seems unique to graphql resolvers so for what

[2022-09-16 16:52] omar-zahid opened #6409 "[Bug?]: Redwood function failed on POST request with form data"
### What's not working?

Making a POST request to a function, e.g /upload

The request failed with the following error:

[code]

### How do we reproduce the bug?

Create a function with the following content:

[code]

Call the function by using `curl` or Postman and attach an image or a file:

[code]

### What's your environment? (If it applies)

[code]

### Are you interested in working on this?

[2022-09-16 21:01] cannikin opened #6411 "[Bug]: When using dbAuth, a @requireAuth check on a mutation will fail if invoked immediately after login"
### What's not working?

From https://community.redwoodjs.com/t/problems-with-backend-auth-when-running-a-mutation-immediately-after-login/4000

I'm guessing it's related to the PR he mentioned: https://github.com/redwoodjs/redwood/pull/5816 It sounds like we're memoizing the logout state, so although he successfully logged in, the api side won't acknowledge it until the 5 second expire passes. We

[2022-09-19 03:16] finalight commented on #5788
i have the same error

[code]

[2022-09-19 12:57] dthyresson commented on #6279
From Discourse (https://community.redwoodjs.com/t/more-than-one-domain-for-cors/3846/5):

Closing.

[2022-09-19 12:57] #6279 closed

[2022-09-19 15:32] cannikin opened #6426 "[Feature]: Add `port` config option from node-ssh to Baremetal config"
### Summary

Forward the `port` config option from our `deploy.toml` config file to the underlying node-ssh lib.

### Motivation

Being able to SSH into a machine on a port other than 22 isn't currently possible.

### Detailed proposal

The list of options are here: https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/deploy/baremetal.js#L635-L644

We just need to add `port` to

[2022-09-19 17:18] Josh-Walker-GM commented on #6426
The generated default `deploy.toml` includes the following header:

[code]

I hope now the port option will be passed through and used. Do we need to check the others also or are they already passed through?

We may also need to update the documentation at [https://redwoodjs.com/docs/deploy/baremetal#configuration](https://redwoodjs.com/docs/deploy/baremetal#configuration) to mention the port conf

[2022-09-19 18:16] dthyresson commented on #5788
Hi @finalight thanks for letting us know. I have reproduced the issue and working on a fix. Thanks for your patiences while we resolve and also from using RedwoodJS.

[2022-09-19 20:18] rmzg-ll opened #6429 "[Bug?]: Existing (passing) tests against services using jest's `expect` are now failing trying to match `Date {}`"
### What's not working?

Existing (passing) tests against services using jest's `expect` are now failing trying to match `Date {}` objects:

Example output from one of the tests:
[code]

The test code itself is as simple as:
[code]

And the scenario is defined as:

[code]

So the question is, where the heck is this `Date {}` string coming from and why is it ignoring the string already defined?

##

[2022-09-20 01:52] finalight opened #6430 "[Bug?]: Cannot find module 'headers-polyfill/lib' from 'node_modules/msw/node_modules/@mswjs/interceptors/lib/interceptors/ClientRequest/NodeClientRequest.js'"
### What's not working?

I've updated redwoodjs version to 3.0.1 and encounter this error:

[code]

### How do we reproduce the bug?

Create a new redwood application with version 3.0.1 and write any test

run the test, you will encounter the error

### What's your environment? (If it applies)

_No response_

### Are you interested in working on this?

- [ ] I'm interested in working on this

[2022-09-20 02:31] jtoar commented on #6430
Hey @finalight, I can't reproduce this by creating a new redwood app. You mention that you've updated to 3.0.1, so it's an existing project right? I'm guessing your project's yarn.lock file may need regenerating. But to be sure, could you run a few commands and paste their output here:

[code]

The output of those for a project I just made is:

[code]

Also have you tried some basic debugging step

[2022-09-20 02:47] jtoar commented on #6429
@rmzg-ll have you tried updating the snapshots? (With `yarn rw test -u`.) I'm thinking this may be because jest [changed the default snapshot format](https://jestjs.io/blog/2022/08/25/jest-29). Also I'm assuming you're seeing this after having upgraded from v2 to v3 right? We bumped Jest two major versions.

[2022-09-20 07:58] finalight commented on #6430
thanks a lot for the quick reply!

upon further investigation, it turns out that we installed `msw` into our devDependencies ourselves, so that's why it's always using the specific version of msw

i can close this!

[2022-09-20 07:58] #6430 closed

[2022-09-20 09:31] ronatory commented on #5497
Hello @jtoar I just upgraded to v3.0.0 and the error still occurs when doing the same steps as in my first [comment](https://github.com/redwoodjs/redwood/issues/5497#issue-1231525375)

[2022-09-20 12:25] Tobbe commented on #5497
@ronatory I tried to reproduce, but I couldn't.

![image](https://user-images.githubusercontent.com/30793/191256786-fe345997-9b75-4f48-873a-287ce083f30b.png)

Seems to work fine.

Just had to do `yarn create redwood-app` and then `yarn rw dev`, right?

[2022-09-20 12:47] ronatory commented on #5497
@Tobbe thanks for checking. I just didn't upgraded correctly to v3.0.0. Now I did and everything works fine 🎉

[2022-09-20 17:26] dac09 commented on #5231
Hey @MichaelrMentele - I wonder if you've had a chance to try out your project on Redwood V3? Hoping that this improves the performance for you.

Hey @finalight - thanks for the suggestion here - but I'm not super sure we would see much benefit from swc. We would love to move in that direction in general, but we'd have to move the custom babel plugins we use to SWC plugins (which are in Rust). Wou

[2022-09-21 17:16] archae0pteryx commented on #6409
This doesn't seem to be a redwood related issue. In your example above there is not binary file to be uploaded first of all, second you are setting the content type to json... the server will try to read the data as json (if you're passing data.. your example shows a string).

[2022-09-21 18:00] omar-zahid commented on #6409
The error is `Request body size did not match Content-Length`

I tried removing the whole return statement, but the error remains the same.
I'm definitely sending an image not a string.

![image](https://user-images.githubusercontent.com/57479337/191577229-8154028d-4f82-4c6d-9dd1-87c3420bb78b.png)

[2022-09-21 18:11] archae0pteryx commented on #6409
A quck google of that error and the top few results are saying that you need to set the content-length header explicitly. And knowning that redwood uses fastify under the hood. A quick google for your error in the context of fastify turned up this similar issue. https://github.com/fastify/fastify/issues/1986. Looks like you might need to set the content-length explicitly.

[2022-09-22 12:32] #5627 closed

[2022-09-22 14:39] dac09 opened #6439 "[Bug?]: Large number of directive tests cause memory leaks"
### What's not working?

If you have a large number of directive tests, the jest tests eventually timeout.

This is most likely to do with the module imports we use either in the directive itself, or in the utilities that we use to test the directive.

### How do we reproduce the bug?

Duplicate the default requireAuth test files.

[code]

Then run `yarn rw test api --no-watch`.

The tests will ev

[2022-09-22 14:45] IThinkThatsKirby commented on #4717
I looking at this.

[2022-09-22 15:44] archae0pteryx commented on #6409
This might very well be the case. If/when i get a sec today i will try to upload myself and see if i cant get some more info for ya.

[2022-09-22 16:02] NetLancer commented on #1455
I personally thought about bundle size decrease by swapping for preact, and it appeared that urql claims to have good charasteristics + supports preact,so preact & urql options would be great to have, the solution i've been googling for ))

[2022-09-22 17:54] rmzg-ll commented on #6429
Yes, I tried repeatedly to run `test -u` and `-clearCache` where appropriate.

[2022-09-22 20:39] adriatic commented on #5881
A quick comment to observation made by @Gresliebear [above](https://github.com/redwoodjs/redwood/issues/5881#issuecomment-1183857875)

![image](https://user-images.githubusercontent.com/2712405/191845533-23e7d4c0-4965-4424-b7f0-9b5e83738ff4.png)

I made the same mistake too many times: the command `yarn run dev` is incorrect - it should be `yarn rw dev` 😄, so all is cool there.

P.S. I visited thi

[2022-09-23 10:22] Josh-Walker-GM commented on #537
I recently ran into two separate times when the bug I was experiencing had been patched and when I realised and updated then I was happy and able to continue. I think an available update notice would have made this an easier process for me and possibly others.

It's over two years since the last comment here. I notice the last mentioned PR was closed and nothing more sadly materialised after that.

[2022-09-23 11:16] Tobbe commented on #537
This is good timing @Josh-Walker-GM! We've been focusing a little bit more on our CLI lately, and *I* think something like this would go great with the other work we're doing. But I'd like to give the people you tagged a chance to jump in here if they want before I start making any plans/guidelines. I think Rob and David might be busy today though, so you might have to wait until next week before

[2022-09-23 11:46] Josh-Walker-GM commented on #537
Excellent to hear. I simply had a scroll though oldest outstanding issues and this seemed like a good fit for a renewed discussion.

Absolutely no issues with the timescale or anything like that.

[2022-09-23 17:43] cannikin commented on #537
Related to: https://github.com/redwoodjs/redwood/issues/6113

[2022-09-23 17:43] cannikin commented on #6113
Related to: https://github.com/redwoodjs/redwood/issues/537

[2022-09-23 17:47] cannikin commented on #537
This could be part of the more expansive CLI notification system I discussed in #6113, where we can notify users about important messages, like available upgrades, but also security notices, upcoming events, etc. Just checking for more recent versions seems like a more attainable goal for the near term! And we could continually show it on every CLI invocation until they upgrade, or disable with an

[2022-09-23 17:51] cannikin commented on #6429
Hmm, what do you get if you take a `typeof result.createdAt` versus `typeof scenario.one.createdAt`? It looks from the error message that the scenario is a string but the result (from Prisma) is an actual Date object? I'm not sure how it would know to format it like `2022-09-19T20:03:33.677Z` instead of the default `Fri Sep 23 2022 10:50:48 GMT-0700 (Pacific Daylight Time)` when you to a `toString

[2022-09-23 21:00] Tobbe commented on #537
@Josh-Walker-GM if you could think of a way to first build out a solution for just this issue, but that is then easily expanded upon to include the ideas in #6113 that'd be great way to get started on all of this

[2022-09-23 21:03] Josh-Walker-GM commented on #537
I love the ideas in #6113! I can imagine how this particular update check could be a nice starting point to the bigger system imagined there, I'll give it some thought.

[2022-09-23 21:03] Tobbe commented on #6429
We have this PR that seems related https://github.com/redwoodjs/redwood/pull/6394

Prisma actually does let you pass a string in, and will return a Date back out.

[2022-09-24 06:54] dphuang2 commented on #6373
Got it and makes sense.

And yes—waiting for `useFieldArray` validation rules for `min` and `max` length field arrays.

[2022-09-24 06:54] #6373 closed

[2022-09-24 19:54] esteban-url commented on #6429
I saw something similar today while testing #6394. but i don't think the PR will fix it. as I can reproduce it on my test project synced to my frameworks local branch.

I thinks this is a symptom of something deeper, and has to do with the deep equality check. So, @rmzg-ll maybe one of your relationships isn't working, or you are not including it in the returned object, so that causes the `Date {}

[2022-09-25 00:17] Josh-Walker-GM commented on #6113
I've taken into consideration the great ideas in this RFC and gave it some thought myself, hope it's welcome. I'll try to document my ideas here.

I think we should have a repo which contains both generic messages and update messages but that these should be treated as different message types and the list of them held in two different files. I think this gives the best balance instead of trying to

[2022-09-25 17:53] pantheredeye commented on #6207
@virtuoushub Thanks for the note! I saw it last night. It made me sit down and work through it some more. I had actually rewritten almost the entire thing a few weeks ago. I need to stick a pin in it. I am happy with this version, it does a nice job of immediately explaining the benefits and providing a workflow template. However, this version lacks any code in the design section. Any ideas there

[2022-09-25 17:57] pantheredeye commented on #6207
Oh, apologies to anyone reading the comment above. I write in markdown and use single lines. In markdown, single lines turn into paragraphs. But, as seen above, GitHub comments do not do this.

[2022-09-26 06:38] Tobbe commented on #6429
I think I know what's going on. I'll start working on a fix in a couple of days.

As a workaround, could you change `lienAmount   Decimal` to `lienAmount   Float` in your `schema.prisma` file?

[2022-09-26 09:50] dac09 opened #6448 "Finish PR to graphql-codegen"

[2022-09-26 10:02] dac09 opened #6449 "Add type tests for prisma-sdl type mapper"
Write tsd-lite tests to check the prisma type mapper works correctly!

[2022-09-26 10:02] dac09 commented on #6449
Something for us to look at on our next pair session!

[2022-09-26 12:01] dac09 opened #6450 "[Chore]: Fix warnings in CLI destroy tests"
### What's not working?

In the CLI destroy tests for Cells, we receive a warning (trying to import rwjs/structure), when detecting unique operation names.

This happens because:
- we're not awaiting the result of `files` - which is an async function
- we're mixing await and then syntax in the test (not ideal, but its ok)

### How do we reproduce the bug?

You might not see this happen locally, be

[2022-09-26 12:09] dac09 opened #6451 "[Chore]: @redwoodjs/cli tests are slow and sometimes cause timeouts"
### What's not working?

The tests in the (internal) redwood cli package are slow - particularly for generate and destroy commands.

This is likely because the tests don't fully or correctly mock underlying functions (which do not affect the output of the test).

The best examples of this are the SDL and Scaffold generators, which internally call other generators. You will see Listr logs printed t

[2022-09-26 12:16] dac09 commented on #6451
I also think it's may be writing files to disk, see output while running test:

[code]

[2022-09-26 12:21] dac09 commented on #6451
Here's an incomplete list of tests from one of the CI runs that are slow:

[code]

[2022-09-26 14:22] jmackie opened #6452 "[Bug]: Web (Jest) tests will fail in v3.x if certain packages are used"
### What's not working?

While migrating from v2 to v3 we found our `web` tests broke due to esmodule syntax errors.

The issue we were hitting is essentially this one: https://github.com/react-hook-form/resolvers/issues/396

Packages like `react-hook-form` and `firebase` have an `exports` key in their `package.json`, which results in "browser" modules (with `import` and `export` statements) being

[2022-09-26 16:00] arimendelow commented on #4532
@thedavidprice I don't believe this is fixed, I'm having the a similar issue:
<img width="306" alt="Screen Shot 2022-09-26 at 12 00 13 PM" src="https://user-images.githubusercontent.com/16390116/192324955-9442044c-d6e7-4662-a3c2-5cd790160743.png">

[2022-09-26 17:23] arimendelow commented on #6429
I have the exact same issue with testing models that have dateTime. Do we have a workaround for that yet?

[2022-09-27 12:48] jmackie opened #6460 "[Bug]: `createCell` doesn't typecheck with strict mode"
### What's not working?

Related to #5491

I don't think the typing of [`createCell`](https://github.com/redwoodjs/redwood/blob/fbfd467613fe28eeca429bd0f491ccf0ed80bdca/packages/web/src/components/createCell.tsx#L248) is quite right...

Attempting to use `createCell` "by hand" in a TypeScript file (as we do in a few places at @project-nous) with strict type-checking enabled throws an error in v3.

[2022-09-27 17:29] #6450 closed

[2022-09-27 19:52] Josh-Walker-GM commented on #343
I think this feature has now been added with #6442.

[2022-09-27 20:14] dphuang2 commented on #4377
any update on best practices here?

[2022-09-27 20:45] Josh-Walker-GM commented on #537
Started #6461 with an implementation of the basic upgrade availablity checker 😄

[2022-09-27 23:42] jtoar commented on #6452
Hey @jmackie, I can't seem to reproduce this one. Creating a new RW v3 project and importing and using react-hook-form in a web test is just green checks for me.

Could you give me the version of react-hook-form your project has? Just with `yarn why react-hook-form`. Here's mine (not totally sure why it's duplicated; may just be yarn showing virtual packages or something like that):

[code]

Also,

[2022-09-28 09:17] Josh-Walker-GM commented on #6426
Solved in #6428 😄

[2022-09-28 10:53] Josh-Walker-GM commented on #6362
Hey @jtoar I hope you don't mind that I started looking into this. I'd say I'm about 90% the way there with the fix but wanted to clarify some of the other existing behaviour which looks questionable to me.

The options passed to the `api` or `web` or both are handled by:
https://github.com/redwoodjs/redwood/blob/fbfd467613fe28eeca429bd0f491ccf0ed80bdca/packages/api-server/src/cliHandlers.ts#L21-L

[2022-09-28 15:04] #6426 closed

[2022-09-28 18:10] Josh-Walker-GM commented on #1835
I had a look at `run-e2e` and one question that comes to mind is when do you consider it to have "ended"?

The e2e script exits before some of the child (or grandchild?) processes created by it have a chance to do what they need to. A way to see this is to delete the tmp folder when e2e exits (simple `process.on("exit")` hook calling `fs.rmSync`). If you do that then the dev server fails because t

[2022-09-28 19:18] #6227 closed

[2022-09-28 19:48] Dave-Wagner commented on #1935
In my opinion, not that it matters, this is a solution to a problem that doesn't exist. Redwood is targeted at developers with a little bit of experience. Developers at this level are likely aware of the limitations of NodeJS in storing everything in the node_modules folder and are likely expecting all those packages to take a couple of minutes to download. If they are that concerned about it they

[2022-09-28 20:07] pantheredeye commented on #1935
Linking to Peter's discussion on CLI improvements. [Redwood Talks: CLI and Open Source Community Health](https://youtu.be/ZL4mYn5yCG8?t=1)

@Dave-Wagner I feel the same way at some level, as-well. When devs are in a day-in-day out workflow, some things like this seem like it would not matter as much. But, also - @peterp is very experienced and I also respect his opinions, and other's, which for me

[2022-09-28 20:28] snettah commented on #6409
<img width="922" alt="image" src="https://user-images.githubusercontent.com/10152935/192881999-beb2408a-9cd2-4333-b4f5-1e241416f943.png">

Same for me I can't post a file in a multipart form ...

[2022-09-28 20:35] cannikin commented on #6343
Hey @maddijoyce any chance you still want to take this one? No problem if not, just say the word and I'll add to my own queue. :)

[2022-09-28 20:45] cannikin commented on #5984
Any updates on this one @Gresliebear? Are you saying that the problem you were seeing is because of the 200 -> 404 thing mentioned in #961? Did you get a chance to try my nginx config above? I haven't had any problems with an API call returning HTML before, so it sure seems like something is misconfigured on your server somehow...

[2022-09-28 21:35] Gresliebear commented on #5984
@cannikin  I have not had the time to come back and test this.  I apologize my life currently is very busy, I want to get back to this, the #961  was a issue I was investigating to see if it was related to my issue, didn't finish the job.

@cannikin  I do believe  it has be a misconfiguration somehow related to Nginx, I recorded myself when I caused this bug, so if want to watch me suffer and make

[2022-09-28 21:57] adriatic commented on #1935
I started this discussion almost two years ago, a few weeks after I started using RedwoodJS. My previous experience was with Aurelia, Gatsby and NextJS, so my initial comments on "slow" RWJS were influenced by that experience. Now, I think that @pantheredeye's comment:

is the most valuable contribution in this discussion (anyone interested in this thread may decide to scan a lot longer version [h

[2022-09-29 02:11] jtoar opened #6469 "Next release (3.3.0)"
We want to work in public as much as we can, so we’re making the roadmap for the next few releases available here. This is so that you’ll…

1. know what we’re working on, what we consider high priority, and know what to expect from future releases
2. be able to share your thoughts about what we do and influence our direction and decisions
3. join us and contribute!

If you want to discuss any of t

[2022-09-29 13:40] dac09 opened #6471 "[Bug?]: Types not automatically generated when the dev server is running"
### What's not working?

When the Redwood dev server is running, it is meant to watch all relevant files and automatically generate types.

In the case of Cells, this doesn't seem to be working - i.e. typegen is not run automatically.

Work around temporarily is to run `yarn rw g types` manually.

### How do we reproduce the bug?
- Start with test project, or a fresh Redwood project
- Create a Cel

[2022-09-29 18:27] Josh-Walker-GM commented on #5682
Hope you don't mind I had a quick look at this?

I checked prisma's repo and they have an issue for this at https://github.com/prisma/prisma/issues/11960 however https://github.com/prisma/prisma/issues/7618 is blocking them from upgrading some of their dependencies, including this `uuid` one.

The last comment in https://github.com/prisma/prisma/issues/11960 seems to suggest they find nothing part

[2022-09-29 19:14] Josh-Walker-GM commented on #4965
Debounce would typically prevent newer operations in favour of older ones where as here we wish to prioritise newer events, yes?

I assume [AbortController](https://developer.mozilla.org/en-US/docs/Web/API/AbortController) can't be used here given its node 15 requirement?

[2022-09-29 20:02] #343 closed

[2022-09-30 04:54] gilliardmacedo opened #6472 "[RFC]: @redwoodjs/testing/web render with wrapper"
### Summary

Hi! This is my very first issue in this space.

Recently I was working on my react unit tests and I had to make an adapter to ensure that every component has it dependencies at test runtime.

### Motivation

I thought the render function exposed by RW was the testing-library as is, but it's not. RW has a [customRender](https://github.com/redwoodjs/redwood/blob/main/packages/testing/sr

[2022-09-30 12:31] dac09 opened #6474 "[Docs]: Missing documentation on relation resolvers in a service"
### Summary and description

We don't really talk about how the relation resolvers generated at the bottom of a service file work.

The only mention is here: https://redwoodjs.com/docs/graphql#redwoods-resolver-args - which is useful, but not enough IMO.

What do I mean by relation resolvers?

[code]

These resolvers are invoked when a "relation" on the Post model is invoked, in this case if the q

[2022-09-30 14:15] cannikin commented on #6474
I've started on this in the tutorial here: https://github.com/redwoodjs/redwood/pull/6465

[2022-09-30 17:21] simoncrypta commented on #6386
Hi @jonlemmon Thank you for open this issue.
If you need any help for working on it, don't hesitate to ask :)

[2022-09-30 18:49] stephenhandley opened #6475 "[Bug?]: Potential issue with teardown in jest.setup.ts"
### What's not working?

We are trying to upgrade to `3.0.2` and have run into an issue where between individual scenarios, it appears that teardown isn't happening, and we are getting uniqueness collisions when a standard scenario is used repeatedly.

We have a test structured like this:
- Scenario standard
- Scenario standard
- Scenario standard

The first Scenario runs fine however, the second

[2022-09-30 19:15] gilliardmacedo opened #6476 "[Bug?]: prerender fails after 3.0.0 upgrade"
### What's not working?

We created our project 8 months ago and maintain the generated NotFound route untouched so far. This is our single prerendered route. Recently we did the upgrade to Redwood 3 and I see firstly [this error.](https://github.com/redwoodjs/redwood/issues/1890)

After read the issue, I changed react e react-dom version from:
[code]
to:
[code]

and removed node_modules and yarn.

[2022-09-30 20:30] jmackie commented on #6452
Ahh you're right, `@hookform/resolvers` is what caused the problem for us 🤦 But FWIW I think importing `firebase/*` packages also hits this, and they're close to being default Redwood packages?

I did miss that I'm afraid 🥲 OOI why do you recommend a custom resolver? We did that initially (as per [this issue response](https://github.com/react-hook-form/resolvers/issues/396#issuecomment-1114248072)

[2022-09-30 21:21] dthyresson commented on #6471
@dac09 I'll try to reproduce with your example, but I just tried in a v3.0.3-canary project (via project:sync) I was working on and I am seeing the types update:

1. This is before a cell query change (notice no `userId` in `FindPostQuery`):

![image](https://user-images.githubusercontent.com/1051633/193357463-b652e2f9-2d7e-4cd9-8470-482433f1f5c7.png)

2. Now while dev server running, I add `userI

[2022-09-30 21:46] arimendelow commented on #4377
Hi! Are there any updates on this? Running into the same issues :)

I can't even compost out the scenario data and pass them into `defineScenario` while having it typed, or I get a "type is possibly infinitely deep" error. Specifically, I tried doing this:
<img width="574" alt="Screen Shot 2022-09-30 at 5 45 36 PM" src="https://user-images.githubusercontent.com/16390116/193360525-c1a5691f-42e5-418

[2022-09-30 21:55] dac09 commented on #6471
Thanks DT - your repro is correct, I'll see if I can reproduce this. I was seeing this in github.com/redwoodjs/nodeconf-redwood-recipes (private repo)

[2022-09-30 22:11] dphuang2 commented on #4377
You don’t need defineScenario. See my example above

[2022-09-30 22:20] arimendelow commented on #4377
OH I'm not sure how I totally missed that - will certainly give it a go, curious for the best practices as well. Thanks!

[2022-09-30 22:25] arimendelow commented on #4377
Wait - how does your example work with inlining functions to create relations? That's the main issue.

[2022-09-30 22:32] MehdiSv commented on #6475
Our db was not sitting in `api/src/lib/db` but in `api/src/db`

This caused the `wasDbUsed` check to fail in `beforeAll`

No need to remove that check, cc @pantheredeye

[2022-09-30 22:36] dphuang2 commented on #4377
Here is an example:

[code]

[2022-09-30 22:48] arimendelow commented on #4377
This is a better solution than using defineScenario for sure, but gets extremely verbose if you're creating multiple models in each scenario and using them in other scenarios. Curious for the redwood team to weigh in on this.

[2022-09-30 22:50] dphuang2 commented on #4377
Repeated LOC is O(N) where N is # of models. I don’t think you can do better than that though.

[2022-10-01 15:31] Tobbe commented on #6429
@esteban-url Thanks a lot for your clear and detailed reproduction steps. Made it super easy to work on a fix for this issue.

@rmzg-ll I hope I fixed this issue in #6491

@arimendelow DateTime values should have been fixed in #6394. If you upgrade to canary it should hopefully work for you (be aware that canary builds are unstable though, so be careful 🙂) And don't forget to regenerate the servic

[2022-10-01 15:53] arimendelow commented on #6429
Sounds good! Will there be an upgrade guide? If we've put a lot of work into these services and tests we don't want to just regenerate them.

Thanks for all your hard work! :)

[2022-10-01 23:12] jtoar commented on #6476
Hey @gilliardmacedo, it seems like it's `yarn rw build` that's failing and not prerender specifically right? I understand that prerender needs build, but just want to make sure.

Looking at the error, it has to do with core-js. Is there any way you could provide a reproduction? Or narrow it down to what page isn't building, then provide the code for that? Does your project have any custom babel co

[2022-10-02 01:14] jtoar commented on #6452
No worries! It's definitely more heavy handed, but it's scoped to the packages causing problems. It's probably just a result of my nervousness when it comes to changes that have global affects. Setting `testEnvironmentOptions` affects packages that do have the proper export conditions. But you're welcome to use any strategy you'd like!

Maybe this is a good compromise (and is one that you're allud

[2022-10-02 01:54] jtoar commented on #6475
Hey @stephenhandley thanks for reporting and great diagnosis, we've had a lot of trouble trying to make the api side tests faster while keeping scenarios the same. It looks like we may have crossed the line with this one, but I'm curious—do your scenario tests not use the database at all? Or is it required asynchronously within a test?

[2022-10-02 13:12] Tobbe commented on #6429
@arimendelow The fix is all in the updated generator. So if you don't want to regenerate everything, which is totally understandable, you'll have to manually fix things. And if so, there's no need to upgrade. You can do it with your current code.

You'll need to change your api/src/services/model/model.test.js files like this:

[code]

[2022-10-03 12:33] dthyresson commented on #5841
Completing this https://github.com/redwoodjs/redwood/pull/5874 PR can be a label:hackoberfest item

[2022-10-03 14:49] dac09 opened #6495 "[Bug?]: TS: QueryResolvers/MutationResolvers types sometimes wraps in promise twice"
### What's not working?

When writing scenario/service tests, we sometimes want to look inside the properties of a findMany.

e.g. We have a service for post, which returns many posts

[code]

And in your test you write something like:

[code]

You will get a TS error claiming `authorId` does not exist (which is not true)

<img width="1166" alt="Screenshot 2022-10-03 at 15 42 20" src="https://user

[2022-10-03 14:50] ericrav opened #6496 "[RFC]: Add anonymous authentication to Firebase auth client"
### Summary

Allow users of the Firebase auth provider to use [anonymous authentication](https://firebase.google.com/docs/auth/web/anonymous-auth) by calling

[code]

### Motivation

One of the reasons to choose Firebase over other auth providers is that it allows authentication logic without immediately requiring users to create an account. These anonymous users can later be linked to real login

[2022-10-03 15:25] callingmedic911 commented on #6472
Hey, this one's interesting proposal. I'm going to bring this to other core team member and will let you know.

[2022-10-03 16:01] callingmedic911 commented on #6062
Sorry for delay on getting back to you @Philzen! I just had an discussion with team and I think we should update the doc and mention what's the default behavior of command is for this case. We usually try to do that but missed it somehow for this one. Thanks for bring it up!

[2022-10-03 17:27] Tobbe commented on #6472
That sounds good to me. Do you want to get started on a PR?

[2022-10-03 22:25] #6429 closed

[2022-10-03 23:51] Josh-Walker-GM commented on #6275
Hey everyone, just confirming this has been implemented and that this issue could be closed?

[2022-10-04 09:00] Tobbe commented on #6275
Closed by https://github.com/redwoodjs/redwood/pull/6360

[2022-10-04 09:00] #6275 closed

[2022-10-04 14:00] Tobbe commented on #6460
This is the error I'm getting. Same one you're seeing?

![image](https://user-images.githubusercontent.com/30793/193839732-99171c88-5225-4259-9f61-6eb2c9c74d9a.png)

[2022-10-04 14:19] Tobbe commented on #6460
If I first make sure the Example model exists and sdl is generated I get this error

![image](https://user-images.githubusercontent.com/30793/193843948-0001a89b-fd85-415e-bc0b-bfd5b029224d.png)

[2022-10-04 14:48] Tobbe commented on #6460
If I change the Success component declaration to look like this it works

[code]

Not exactly sure why yet, but it's a workaround for now

[2022-10-04 18:58] #6475 closed

[2022-10-04 20:10] jtoar commented on #6362
Hey @Josh-Walker-GM, sorry for the late response. You hit the nail on the head. It actually surprised me that they run on the same port. I don't usually work on the api server so asking the team for a bit of context now.

If you're running both servers via `yarn rw serve`, it seems like there would have to be two options like `--web.host` and `--api.host` (same for port). Yargs actually parses arg

[2022-10-04 20:11] jtoar commented on #6362
Assigning myself just for triage. Your welcome to work on the PR but I'd probably wait till I get more clarity on the setup, just to make sure my reasoning is on track.

[2022-10-04 20:14] jtoar commented on #6409
Sorry this one got lost! I'll work on a reproduction now and get more eyes on this.

[2022-10-04 20:21] Josh-Walker-GM commented on #6362
No worries about the response time at all! I'm more than happy to wait and see if some more information is added to the issue before going any deeper into a full PR - I'm looking to wrap up my existing PRs right now before opening too many new ones anyway.

One thing I will add though is that it appears to me that when you run `yarn rw serve` which filters down into calling `bothServerHandler` tha

[2022-10-04 20:57] jtoar commented on #6411
@cannikin saw you're interested in this one and assigned yourself, chance it was already fixed and just not linked to the PR? No worries if not! You want to work on it this cycle or should I backlog it?

[2022-10-04 21:01] jtoar commented on #6338
Sorry for the late response all! @chathuraa could you give more context? Not sure what `create-strapi-app` is. But the error is basically saying that your version of node is too high.

@ajoslin103 you don't want to rebuild your project's `yarn.lock` file unless you're just really stuck debugging something and you think it's because of a dependency. Not an expert, but I'm pretty sure `yarn.lock` is

[2022-10-04 21:06] jtoar commented on #6322
Adding this one to the current cycle just so we keep seeing it and thinking about next steps.

[2022-10-04 21:09] jtoar commented on #6230
Closing due to inactivity but happy to reengage!

[2022-10-04 21:09] #6230 closed

[2022-10-04 21:10] cannikin commented on #6411
Hmm, I don't think it's fixed, unless something about decoupling auth happened to fix it? We can actually un-assign me and see if anyone else is interested, and then I can pick it back up if no one comes along. I'm not sure if I'll get to it this cycle!

[2022-10-05 12:16] craineum opened #6518 "[RFC]: Add Stories, Tests, and Metatags to the Scaffold Generators"
### Summary

After a discussion on the [forums](https://community.redwoodjs.com/t/scaffold-generator-does-not-generate-stories-or-tests/3975), I would like to propose adding stories and tests to the scaffold generators.

Secondarily the scaffolds do not have the Metatags generated for page title.

### Motivation

The biggest motivation is to establish good patterns for things that the Redwood gene

[2022-10-05 15:54] pantheredeye commented on #6356
@callingmedic911 This is still a valid issue - however, I have not seen anyone complain about it on the forums or discord. So, not sure how pressing it is - but it does leave a gap.

[2022-10-05 19:40] snettah commented on #6409
For information in nextjs we need to disable `bodyParser` it's possible to do that just for one route

[code]

[2022-10-05 20:05] jtoar commented on #6338
Will close this one, but @ajoslin103 mind pointing me to the docker container promise? I just spent some time today on one for a fly deploy. There's definitely work to do but in many cases it's possible to get working, albeit the image is still too big.

[2022-10-05 20:05] #6338 closed

[2022-10-05 20:19] jtoar commented on #6356
@callingmedic911 that does seem like the move; this is a good first issue so let's market it a bit that way now that it's hacktoberfest

[2022-10-05 20:31] #6237 closed

[2022-10-05 21:46] #6452 closed

[2022-10-05 21:49] jtoar commented on #6471
@dthyresson heads up that I cleared the "next-release-patch" milestone cause that one's only for PRs and affects the release script, but happy to get this into a patch when the PRs up, and feel free to throw milestone on that one

[2022-10-06 07:55] orta commented on #6518
One option is to have all of the scaffolds support all these features, but require opting-in by removing:

[code]
From the `redwood.toml` which could be default. Personally, I don't use either.

Outside of that I only use all my versions of the templates, and while it can be hard to figure out the occasional breaking change but its been worth it.

[2022-10-06 16:29] dthyresson commented on #6518
Other ideas for scaffold improvement:

* Pagination
* Relations
* Improved UX/styling
* Better TailwindCSS support

[2022-10-07 12:23] craineum commented on #6518
@dthyresson I mean, if we are putting together a scaffolding wish list...
![oh yeah](https://media.giphy.com/media/xTk9ZIHKxoZ1agcvL2/giphy-downsized.gif)

but back on task now...

@orta I like the idea of adding configuration. But to me opting out would be better, that way people know it is there, otherwise it can get overlooked easily. I would rather see people have to choose not to include stor

[2022-10-07 19:37] NetLancer opened #6585 "[Bug?]: Redwood Form, DateField's defaultValue isn't working"
### What's not working?

RW Form's <DateField defaultValue /> does not set the value by default, just renders empty with date format mask.
Although i've tried date values in different formats and simple string

### How do we reproduce the bug?

_No response_

### What's your environment? (If it applies)

[code]

### Are you interested in working on this?

- [ ] I'm interested in working on this

[2022-10-07 20:00] jeffreytgilbert opened #6586 "[RFC]: Supporting Pagination in generators"
### Summary

Today there are 7 touch points to create effective relational paginated queries in Redwood. This is problematic for the code authors of any significantly complex application using scaffolded code as the number of changes to revise each scaffolded list view is cumbersome, especially for anyone using typescript examples of the code as the solutions are not immediately obvious given code

[2022-10-07 20:08] jeffreytgilbert commented on #6586
Relevant documentation for pagination standards can be referenced here:
[Relay spec](https://relay.dev/docs/v10.1.3/pagination-container/)
[Prisma](https://www.prisma.io/docs/concepts/components/prisma-client/pagination)
[GraphQL](https://graphql.org/learn/pagination/)
[Apollo](https://www.apollographql.com/docs/react/pagination/core-api)
[Redwood](https://redwoodjs.com/docs/how-to/pagination)

[2022-10-08 10:06] orta commented on #6518
I've added my generators to the relay example app: https://github.com/orta/relay-redwood-app-example - I don't use much redwood infra on the web site, and instead use the [artsy omakase stack](https://www.youtube.com/watch?v=1Z3loALSVQM) in redwood but a lot of it is about conforming to the additional graphql specs around object identification and pagination

Aye, the default redwood settings _tod

[2022-10-09 10:47] nat212 commented on #5589
Hey, mind if I take this one?

[2022-10-09 14:12] cannikin commented on #5589
Sure thing!

[2022-10-09 14:45] NetLancer commented on #6585
...and neither does it work with <DatetimeLocalField /> (defaultValue prop), so for DAteTime needs i'm using third party react lib now. Browsers in use: Falkon, Chromium latest the voidLinux repo can afford.
Please hElp(!)

[2022-10-10 10:47] mc-spieczynski commented on #5841
Hi, I found the same error (not sure if this is related) when trying to generate SDL for UserCredentials when using AuthDB with WebAuthn on Windows (I cannot test this on other systems).

There should be either note NOT to use WebAuthn with Windows or it needs a fix as it's preventing the feature from working. Unless it is possible to change type from Bytes to something else.

[code]

[2022-10-10 14:28] Tobbe opened #6618 "Bug in firebase"
### What's not working?

Trying to use Firebase auth I see this

![error screenshot](https://user-images.githubusercontent.com/30793/194885726-b25faa6f-4516-4b04-b633-32825a06e24b.png "error screenshot")

This is a confirmed bug in Firebase v 9.11.0: https://github.com/firebase/firebase-js-sdk/issues/6660

We updated to v9.11.0 three days ago
![image](https://user-images.githubusercontent.com/3079

[2022-10-10 16:14] #6618 closed

[2022-10-11 08:37] mc-spieczynski opened #6654 "[Bug?]: When prefixing scaffold model with folder titleTo and buttonTo are generated incorrectly with: _redwoodjs_router__WEBPACK_IMPORTED_MODULE_1__.routes[titleTo] is not a function"
### What's not working?

When using new scaffold generator in RedwoodJs 3.1.x (and possibly above) AND prefixing the scaffolded model with a directory path ex. `yarn rw g scaffold Admin\ModelName` the routes generated into `titleTo` and `buttonTo` do not take into account that routes are generated with a prefix (admin in this case).

For now this needs to be fixed manually in `Routes` file.

BTW.

[2022-10-11 09:12] #6496 closed

[2022-10-11 15:50] dthyresson opened #6658 "[Bug?]: Incorrect build options indentation for Netlify toml config"
### What's not working?

The template used to create the `netlify.toml` configuration file used when deploying to Netlify has the incorrect indentation in the `build` section.

This means that any custom settings specified are not picked up during deploy, and the default settings are used. And then one has to override these in the Netlify deploy UI.

[code]

The build section (commands, publish, f

[2022-10-11 22:44] cannikin commented on #5841
I also posted this comment [over here](https://github.com/redwoodjs/redwood/pull/5874#issuecomment-1274926815), but you shouldn't create an SDL file for `UserCredentials`, just add to the Prisma model and then migrate the database. `UserCredential` is referenced internally by the WebAuthn code, but it should *not* be exposed via your GraphQL API!

[2022-10-12 04:16] #5292 closed

[2022-10-12 04:17] Tobbe commented on #6585
@NetLancer Could you please provide some steps for reproducing your issue? That would help us debug this. Thanks!

[2022-10-12 07:48] benwhut commented on #6654
Hi. I'm running into the same error. What's the manual workaround in the `Routes` file?

[2022-10-12 13:36] mc-spieczynski commented on #6654
Ah sorry for not including it verbatim: depending on the prefix you used add that to the `titleTo` and `buttonTo` route names.

ex. You generated `admin/user` and route generated is `newUser` and should be `adminNewUser` - change it and it will work.

I am sure you figured it out by now but for others it may be beneficial.

[2022-10-12 16:20] craineum opened #6671 "[RFC]: Globally mock a mutation not in a Cell"
### Summary

I have a mutation that is automatically running via useEffect. Any page/component that is loading this component is then trying to make a request that isn't handled. Adding a `.mock.ts` file in the component directory is not automatically loading the mock globally since it isn't a Cell.

### Motivation

This is probably a pretty narrow use case, but the idea is I want to verify a user

[2022-10-12 16:27] cannikin commented on #5841
You shouldn't create a scaffold for `UserCredential` either, you can't really manually create records for that table, so there's no need to have a UI for it.

But you're saying that once you create the `UserCredential` model and migrate the database, that you can't create a scaffold for `User` and it blows up?

That error sounds like the API server stopped running, can you check back further in th

[2022-10-12 16:47] noire-munich commented on #6671
Thank you for this RFC @craineum, verifying a user's email might be a narrow use case to update a framework's code - but it's also a very common one, so it definitely deserves a discussion.

I also find this rather interesting:

A mutation returns a type, so the question of switching a query for a mutation whenever we'd want is relevant.

[2022-10-12 16:57] snettah commented on #5841
I can confirm I've wiped out the db, migrate without UserCredential and now I can scaffold my Product table who have a relation with User who **don't** have a relation with UserCredential

[2022-10-12 16:59] snettah commented on #5841
I'll try this

[2022-10-12 17:10] cannikin commented on #5841
Looks like we give a warning message now, telling you that there's a relationship defined in an SDL but no *other* SDL file that actually defines the type:

![image](https://user-images.githubusercontent.com/300/195405635-b9699d31-9f38-432d-ad81-0e0f30d13aa9.png)

So if you're seeing an error like that, you should just be able to remove any reference to `UserCredential` and `userCredentialId` from

[2022-10-12 17:11] snettah commented on #5841
[code]
The errors when I do nothing just create sdl for relations with my Product table

[code]
The error when I remove the relation with UserCredential in `api/src/graphql/user.sdl.ts`

[2022-10-12 17:16] snettah commented on #5841
If I comment also `webAuthnChallenge` all is fine

[2022-10-12 17:18] cannikin commented on #5841
Huh...not sure why you'd need to comment that one out, although it's a good practice to do so (that's another field that shouldn't be accessed via GraphQL). You should really comment out `hashedPassword` and `salt` as well (those are two fields we're going to add to the allow/block list by default).

Sometimes it takes a couple tries for the API server to realize something has changed and reload i

[2022-10-12 17:22] snettah commented on #5841
No it's a wrong refresh, it' work witout commenting ! sorry but yeah we need to comment `credentials` to create scaffold that have a relation with `User`

[2022-10-12 17:37] cannikin commented on #5841
Okay sounds good, I'm updating the documentation now!

[2022-10-12 18:50] joconor opened #6675 "[RFC]: `jwtVerifier` (used by Netlify) does not perform the most important verification"
### Summary

The `jwtVerifier` webhook verifier, used by Netlify webhooks, _should_ validate the `sha256` claim in the JWS token.

Although this webhook verifier is labeled `jwtVerifier`, its behavior is very Netlify specific. For instance, it can only use the HS256 algorithm for validating the token's signature. This is fine, but it highlights that this is very much a Netlify specific webhook ver

[2022-10-12 19:29] dac09 commented on #6671
Have you looked into `mockGraphQLMutation` ? https://redwoodjs.com/docs/mocking-graphql-requests

If you want it to be globally available, you could customise your jest config to add a setup file (while also extending the built in one) - and call it in there!

[2022-10-12 20:17] cannikin commented on #5841
https://github.com/redwoodjs/redwood/pull/6672#event-7574207687

[2022-10-12 20:35] jtoar opened #6684 "Next release (3.6.0)"
We want to work in public as much as we can, so we’re making the roadmap for the next few releases available here. This is so that you’ll…

1. know what we’re working on, what we consider high priority, and know what to expect from future releases
2. be able to share your thoughts about what we do and influence our direction and decisions
3. join us and contribute!

If you want to discuss any of t

[2022-10-13 14:08] craineum commented on #6671
@dac09 Yeah, I did see this, which it states in that documentation:

Which made me think creating the mock file was all I needed to do. It doesn't state that this is scoped to "Cells" only. I know this says stories and not tests, so maybe that is the disconnect?

I could load my own, but then I am worried I could be double loading all the Cell mocks if I don't properly address all the files, but e

[2022-10-13 20:05] #3617 closed

[2022-10-13 23:15] MichaelrMentele opened #6699 "[RFC]: Add Storybook Interaction Addon to RWFW"
### Summary

Add interaction package to storybook default config.
https://storybook.js.org/addons/@storybook/addon-interactions

[code]

### Motivation

Storybook stories are great but they are always silently getting broken because there is no default way for them to get tested. Out of the box you won't know until you open that story in storybook and notice -- woops, it's borked. Could be props c

[2022-10-13 23:17] MichaelrMentele commented on #6699
Basic way of adding to CI:
[code]

[2022-10-13 23:50] Benjamin-Lee opened #6701 "[Bug?]: Tailwind Prettier formatting not applied on save"
### What's not working?

#5795 added support for Prettier formatting of Tailwind classes. However, the default VS Code configuration of `"editor.formatOnSave": false,` means that, even with the Prettier VS Code plugin installed, the formatting is not fixed automatically. This section:

[code]
should be enough to apply Tailwind/Prettier on save since `yarn rw lint --fix` works but for whatever reas

[2022-10-14 00:40] jtoar opened #6704 "[Bug?]: setup dbAuth bugs in canary"
### What's not working?

#### 1. `DbAuthHandlerOptions` specified twice

After setting up dbAuth in canary, there's a small bug where `DbAuthHandlerOptions` is specified twice in `api/src/functions/auth.ts`:

[code]

#### 2. No such import as /webAuthn

Over on the web side, in the `web/src/auth` file:

[code]

The import on the second line errors out in the browser:

<img width="1408" alt="image"

[2022-10-14 00:53] jtoar commented on #6684
Not sure why the notion sync opened this one.

[2022-10-14 08:17] noire-munich commented on #6701
@Benjamin-Lee thank you for taking the time to file this, are you willing to work on a PR?
I'm looping in @simoncrypta who's worked on the ticket you've mentioned.

[2022-10-14 16:15] carlosblanc0 commented on #4361
[TSX] Ran into the exact same issue this morning. my workaround is that instead of using this:

I went with this:

Cleared cache, restarted both servers (redundant, I know), and it's now working as expected.

    System Software Overview:

      System Version: macOS 12.6 (21G115)
      Kernel Version: Darwin 21.6.0
      Boot Volume: Macintosh HD - Data
      Boot Mode: Normal
      Computer Name

[2022-10-14 16:18] craineum commented on #6671
Was able to get around it by adding the following to my `jest.config.js`:

[code]

Then added a setup file `jest.setup.js` (which is really a copy and paste of the built-in [setup](https://github.com/redwoodjs/redwood/blob/main/packages/testing/config/jest/web/jest.setup.js) and [findCellMock](https://github.com/redwoodjs/redwood/blob/main/packages/testing/src/web/findCellMocks.ts) files)
[code]

[2022-10-14 16:53] dac09 commented on #6671
The problem with this solution, @craineum - its that cell mocks are specifically setup for queries, not for mutations.

`packages/internal/src/build/babelPlugins/babel-plugin-redwood-mock-cell-data.ts` will wrap the export in mock files in `mockGraphqlQuery` - however what you're trying to do is call `mockGraphQLMutaiton`.

I can understand why you would want mocks to be loaded from everywhere tho

[2022-10-14 20:10] morganmspencer opened #6721 "[Bug?]: Supabase auth client.auth.getSessionFromUrl is not a function"
### What's not working?

When using Supabase as an auth provider and providing the necessary env variables the app returns the below error on startup and cannot utilize any auth functionality

`Uncaught (in promise) TypeError: client.auth.getSessionFromUrl is not a function`

### How do we reproduce the bug?

1. Generate a new app
2. Run `yarn rw setup auth supabase`
3. Provide necessary env varia

[2022-10-15 09:52] noire-munich commented on #6721
Thank you for taking the time to report this @morganmspencer , we'll look into it.
Can you provide a repo?

[2022-10-15 10:23] morganmspencer commented on #6721
Sure! Got one here that I created with the steps above: https://github.com/morganmspencer/sb-auth-test

[2022-10-16 01:45] RyannosaurusRex commented on #6721
I actually ran into a similar issue recently outside of redwood because @supabase/supabase-js 2.0 just landed and has several breaking changes.

I checked out the template in redwood and it looks like everything internally references and depends on 1.36.0.

When I go and update the package.json and force it down to 1.36.0 in my redwood app after initializing supabase, this error goes away (because

[2022-10-16 02:02] morganmspencer commented on #6721
Awesome find @RyannosaurusRex! Will downgrade for now in my app but definitely seems worth a fix in the templater

[2022-10-17 15:23] cjreimer opened #6725 "[Bug?]: GraphQL Resolvers - Types for required array relation fields"
### What's not working?

Priority:  Low, as there's an easy workaround that's probably fine for most users

The internal redwood type `MakeRelationsOptional` converts relation fields to optional.  This is used by the resolver typescript system to allow the resolver to return an object without the relations.  In the below example sdl type, `MakeRelationsOptional` works for the `createdBy` field, bu

[2022-10-17 22:12] Josh-Walker-GM opened #6726 "[RFC]: Automatic upgrade migrations"
### Summary

A proposed solution to #5153 and an idea I initially laid out in #6113 but I think is best separated out given it doesn't directly relate to arbitrary user messaging but to upgrading instead.

### Motivation

It would be an improvement to developer experience to be guided through the upgrade process and have any potential code modifications available to be performed automatically. Cle

[2022-10-19 05:17] Benjamin-Lee commented on #6701
For reference, this problem has resolved itself. I didn't change any VS Code settings (`"editor.formatOnSave": false,` is still in my config) but now my editor does correctly format on save.

[2022-10-20 11:34] Josh-Walker-GM commented on #441
Tried the example with the latest version on my local windows machine and ended up with issues in the filename so would appear this still needs looking at. Example results:
[code]
[code]

Did the core team decide on an approach? Appears to me that the options are either:

1. Attempt to support the use of special characters / unicode.
2. Sanitise the input from the user to enforce simple ascii usag

[2022-10-21 05:28] kaustavkarmakar2 commented on #4361
Storybook is not taking inline tailwind css...like <div className="bg-purple"></div>

[2022-10-21 06:29] mc-spieczynski opened #6728 "[Bug?]: creating new endpoint does not update the deployment serverless (aws) configuration even when using --first-run"
### What's not working?

TL;DR: if I add a new endpoint to existing app with serverless (aws) configuration present even when running deploy with `yarn rw deploy aws --first-run` parameter will not update the `serverless.yml`.

Also server complained about CORS not about missing endpoint and missing lambda deployment was the real cause of the issue. There are also some other minor issues with docu

[2022-10-21 09:50] wilhg opened #6729 "[Bug?]: Can't signin with Supabase auth"
### What's not working?

I am using the version 3.2.0 and trying to integrate the Supabase auth with this example: [Supabase Auth | RedwoodJS Docs](https://redwoodjs.com/docs/how-to/supabase-auth#sign-in)

However, on the page, it will show this error message:

### How do we reproduce the bug?

Source code is below, which can be also fin:

[code]
Thank you for help!

### What's your environment? (

[2022-10-21 10:43] wilhg commented on #6729
I worked this around by locking the supabase-js version to 1.35.7

However, it's obvious that the redwood has compatibility issues with supabase-js@2

[2022-10-22 11:57] Abhishek7Tech commented on #4597
AnyOne help please
Magic Admin SDK Error: [SERVICE_ERROR] A service error occurred while communicating with the Magic API. Check the `data` key of this error object to see nested errors with additional context.

[2022-10-24 03:30] NetLancer commented on #5887
Hi there! Didn't know if it is proper to make another issue for this question/proposal, just stumbled upon this minor wishy thing:
<Private unauthenticated="login" rolesMismatch="page404" roles="user">
I think the point is obvious, separate redirect for logged in yet unauthorized folks, is there a way we can implement something alike?

[2022-10-24 03:33] NetLancer commented on #5887
Oh sorry, Routes.js example:
`<Private unauthenticated="login" rolesMismatch='page404' roles="user">`

[2022-10-24 09:08] noire-munich commented on #6726
Thank you for this @Josh-Walker-GM, since there's some overlap I'm setting the "Needs discussion" flag on this one.

[2022-10-24 09:10] noire-munich commented on #6701
Weird.
If problem self solved though I'll close it.

[2022-10-24 09:10] #6701 closed

[2022-10-25 01:11] abitbetterthanyesterday commented on #6476
Hey @jtoar

I have the same issue on a `3.2.0`

Here's the error code:

`---------- Error rendering path "/404" ----------
Error [ERR_REQUIRE_ESM]: require() of ES Module /home/abr/Documents/perso/Projects/zef/node_modules/@simplewebauthn/browser/dist/bundle/index.js from /home/abr/Documents/perso/Projects/zef/node_modules/@redwoodjs/auth/dist/webAuthn/index.js not supported.
Instead change the re

[2022-10-25 03:01] arimendelow opened #6730 "[Bug?]: WebAuthn not working in production but works perfectly in development"
### What's not working?

Hi! For some reason, WebAuthn isn’t working with my webapp once I deploy it. The most information I’m able to get is as follows:

[code]

The Auth payloads look exactly the same. This happens in both Chrome and Safari.

I have configured it as described for production in [the docs](https://redwoodjs.com/docs/auth/dbauth#webauthn).

The error is thrown specifically on line

[2022-10-25 03:02] arimendelow commented on #6730
I should also note that this is being thrown on client-side code, and the server is showing no signs of issues.

[2022-10-25 07:25] dac09 commented on #6474
@cannikin is it worth adding a section the docs/reference (in the services section) and not just the tutorial?

It honestly is one of the most confusing things in services - happy to give it a go if you want to focus on the tutorial piece.

[2022-10-25 07:51] dac09 commented on #6675
@dthyresson assigning to you and bumping the priority on this  - feels fairly important, but will let you do a proper analysis!

[2022-10-25 08:59] Alonski commented on #6729
Thanks I also found this issue :) Trying to find a workaround.

[2022-10-25 10:51] dthyresson commented on #6675
I'd argue this would be a hosting provider-specific variation on the JwtVerifier as Netlify adds in a check, issuer, and algorithm -- and those are *not* standard on every JWTVerifier.

Just as I did not create a "GitHhubVerifier" or a "StripeVerifier" or a "ClerkVerifier" each of those provider specific verifiers can be made from the underlying parts (JWT, Timestamp, and SHA256) because the provi