[2022-05-05 14:48] #943 closed

[2022-05-05 14:49] jtoar commented on #2352
See https://github.com/redwoodjs/redwood/issues/3887#issuecomment-1118642662.

[2022-05-05 14:49] jtoar commented on #1456
See https://github.com/redwoodjs/redwood/issues/3887#issuecomment-1118642662.

[2022-05-05 14:50] jtoar commented on #1438
See https://github.com/redwoodjs/redwood/issues/3887#issuecomment-1118642662.

[2022-05-05 14:50] #1438 closed

[2022-05-05 14:50] #2352 closed

[2022-05-05 14:50] #2344 closed

[2022-05-05 14:51] jtoar commented on #1257
See https://github.com/redwoodjs/redwood/issues/3887#issuecomment-1118642662.

[2022-05-05 14:51] #1257 closed

[2022-05-05 14:56] jtoar commented on #3893
Closing for now, let us know if you'd like to pick this back up!

[2022-05-05 14:56] #3893 closed

[2022-05-05 14:58] #3992 closed

[2022-05-05 15:05] jtoar commented on #4362
Right now this is by design; we're happy to continue the discussion in https://github.com/redwoodjs/redwood/issues/4824.

[2022-05-05 15:07] #4392 closed

[2022-05-05 15:08] justinkuntz commented on #1589
@jtoar I disabled it.

[2022-05-05 16:28] cyberious commented on #2511
While I understand the need to keep a clean backlog, perhaps this just means that the Redwood JS VS Extension should be its own repository if you are unable to keep both the core framework tickets and extension tickets in a single repo.

[2022-05-05 17:28] cyberious commented on #2511
As someone who has worked in the open-source community for a long time, I understand where you would want to purge stale issues. However, if the desire is ultimately to still address them, perhaps an alternative would be to link the issues to a project and ensure they are not lost as I am sure there are ones you will want to maintain, additionally, linking in a README within the portion of the VS

[2022-05-05 21:18] YannBirba commented on #5404
I got the same problem with postgresql.

`yarn rw test
(node:28116) [FST_MODULE_DEP_FASTIFY-REPLY-FROM] FastifyWarning.fastify-reply-from: fastify-reply-from has been deprecated. Use @fastify/reply-from@7.0.0 instead.
(Use `node --trace-warnings ...` to show where the warning was created)
(node:28320) [FST_MODULE_DEP_FASTIFY-REPLY-FROM] FastifyWarning.fastify-reply-from: fastify-reply-from has bee

[2022-05-05 23:28] MichaelrMentele opened #5448 "Support Passing Node Options"
I was trying to run the profiler for jest tests and build times but could not find a way to pass down the proper flags to the node runtime through the CLI.

See these threads:
* https://redwoodjs.slack.com/archives/CE52EHRGX/p1651784395012929
* https://redwoodjs.slack.com/archives/CE52EHRGX/p1651768265088189

[2022-05-06 01:42] DevanB opened #5450 "Provided schema doesn't exist for path with space in name"
Hi there! Sometime recently I upgraded from 1.1 to 1.3. After doing this (painlessly), I noticed an error when I would run `yarn rw prisma migrate dev` in the form of:

[code]

<details>
 <summary>The full error can be seen here</summary>

[code]
</details>

Since the initial time I got the error, I had changed my parent folder to not have a space within it and went on my way. However, over the la

[2022-05-06 06:50] jtoar commented on #5450
@DevanB Thanks for the write up! I can reproduce this. And I think I've narrowed it down to the change I made here: https://github.com/redwoodjs/redwood/pull/5147. The debugger shows the problem pretty clearly:

<img width="1522" alt="image" src="https://user-images.githubusercontent.com/32992335/167081094-14c41ceb-b9c6-43b7-ab21-01da22d18a85.png">

I made the change to fix this issue: https://git

[2022-05-06 18:07] ppoz21 commented on #5379
Hi @simoncrypta, when I'm running same command on my main volume everything is correct. I'm. using external volume, because I've got only 120 GB disc capacity. That's a little bit weird, because I'm using Node in my PHP (Symfony), Angular or Vue projects on same volume.

[2022-05-06 18:46] simoncrypta commented on #5379
Most of the things on Node should work on external drive.
My guts feeling this is related to a command on yarn 3.
Can you try it with yarn 1 see if it works ?

`yarn create redwood-app --yarn1 --ts ./redwoodblog`

[2022-05-06 19:04] ppoz21 commented on #5379
@simoncrypta
with `--yarn1` everything is great. Thanks a lot 😄
I think that this option could be added to the docs (maybe it'll help others who work on external drives with macOS).

[2022-05-06 19:42] YannBirba commented on #5404
Oh, sorry i forgot this part of the configuration. I thought that testing system uses the DATABASE_URL variable.
Yeah i think it can be a good idea to improve the error message and add this configuration in the tutorial.
In addition, we unfortunatly need to compile even in developement to use environement variable.
Thank you for your answer.

[2022-05-07 10:31] shuaixr opened #5463 "export dbAuth Types"
I hope to get better type hints(not any) when configuring dbAuth, but DbAuthHandlerOptions has not been exported
![https://ibb.co/3mW6zMq](https://i.ibb.co/23PVNsQ/ksnip-20220507-062721.png)

[2022-05-07 10:33] #5404 closed

[2022-05-07 19:41] MichaelrMentele opened #5464 "Jest Mocking Does not Seem to Work in Redwood Apps"
I have a standard redwood project scaffolded and trying to mock a file ONLY works when I specify the path absolutely relative to the sides root dir. Syntax such as: `@redwood/...` or `@someotherpackage` does not work -- the imports don't get mocked.

1. `jest.mock('src/layouts/DefaultLayout/DefaultLayout')` works but `jest.mock('./DefaultLayout')` does not.
2. `jest.mock('@redwoodjs/forms')` does

[2022-05-07 20:43] simoncrypta commented on #5379
Sure, it's surprise me that the option was not on the doc. I put this in my todo.

[2022-05-08 02:38] HikaruEgashira opened #5468 "Add typed-document-node to GraphQL plugins"
## Enhancement of GraphQL

I would like to introduce `typed-document-node` for better type support in GraphQL.
Currently, `DocumentNode` is not typed.

https://github.com/dotansimha/graphql-code-generator

[2022-05-08 08:42] orta commented on #5468
( looks like it's a client query to types lib, https://github.com/dotansimha/graphql-typed-document-node )

[2022-05-08 15:43] #5191 closed

[2022-05-08 15:49] jtoar commented on #5268
Forgot to close this one after #5211 was merged. Last time I checked it worked but do let me know otherwise!

[2022-05-08 15:49] #5268 closed

[2022-05-09 02:52] dac09 commented on #5450
Could we make sure there’s a unit test for this when the fix is in place please?

[2022-05-09 05:21] dac09 commented on #4394
Can do @nickpdemarco, but I'm not sure there's an obvious path to resolving this. We'd have to somehow detect the order of relations to generate, then step through that.

My worry with this is the extra complexity it might introduce, but open to ideas.

[2022-05-09 05:28] Tobbe commented on #4394
@dac09 For my original problem, that I have in the issue description, no matter what order you generate stuff in, it won't work. Our generators simply can't handle this.

@nickpdemarco Two questions for you. 1) There are a few different issues mentioned across the posts here. Could you please post a reproduction/description of the issue you're thinking of? 2) How would you like it to work?/What wo

[2022-05-09 09:38] Urigo commented on #5007
Related to https://github.com/graphql/graphiql/issues/1984

[2022-05-09 13:34] pavelloz opened #5476 "Double dots in some assets"
Hello,

I noticed on redwoodjs.com some assets have two dots in separating extension.

<img width="343" alt="image" src="https://user-images.githubusercontent.com/546845/167420635-becd4ccd-4205-4e60-aafa-4f85d7f95ed7.png">

I dug through webpack build and it seems like webpack is doing it:

[code]

Source: [https://app.netlify.com/sites/redwood-sprout/deploys/6265442dbfc2fd0008c19056](https://app.

[2022-05-09 13:45] pavelloz commented on #5476
It looks like i was right.

I overrode that rule removing dot before [ext] and it looks correct now.

[code]

[code]

[2022-05-09 13:59] MichaelrMentele commented on #5464
This appears to be an issue with a jest extension I'm using -- interesting implications for https://github.com/redwoodjs/redwood/pull/5296

[2022-05-09 14:20] MichaelrMentele commented on #5464
Ahh, actually I think this may have just been a type error I was misunderstanding -- closing for now.

[2022-05-09 15:39] dthyresson commented on #5120
@Tobbe saw that these options were behaving correctly, but I will write tests with a mocked GraphQL handler to test these log options and if still presents then will re-assign to @pi0neerpat to reproduce. @dac09 @Tobbe and I o pair.

[2022-05-09 15:51] dthyresson commented on #3512
Now use a seed script, so can implement your own "loader". Perhaps change to a "how to"?

[2022-05-09 15:52] dthyresson commented on #4535
Unable to reproduce. Closing.

[2022-05-09 15:58] dthyresson opened #5480 "Explore REST API from GraphQL Schema using Sofa"
See: https://www.sofa-api.com

Task is to explore how Redwood might offer a REST API for the entire schema (or subset) based on the GraphQL schema.

Ie - is it possible -- a proof of concept.

This feature has been requested by @BurnedChris  and others.

Deliverable is a document or RFC for how one might implement it in the framework (is this a how to, or a setup command, etc).

Later:

1. Also, c

[2022-05-09 17:00] dac09 opened #5481 "Investigate using TypeScript strict mode with Redwood"
Things to investigate:

**Resolvers**
Following #5437 we make it hard to use Resolvers with TS strict mode, because for convenience of testing we set obj and args as optional (which is technically not correct).

When strict mode is ON, we can switch to using the complete definition of `ResolverFn`

**Docs on:**
- [ ] Prisma types in scenario tests
- [ ] DbAuth functions
- [ ] Src/lib/auth in db au

[2022-05-09 22:38] pi0neerpat commented on #5120
![image](https://user-images.githubusercontent.com/35622595/167507640-7fa7e06e-c4af-44f4-b92d-ad683bc78b60.png)
I've recreated it here https://github.com/pi0neerpat/redwood-devops-example/tree/graphql-server-logger-troubleshooting

[2022-05-10 07:49] jeliasson commented on #3060
My two cents; sounds like you need to increase `max_user_watches`.
- https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc
- https://stackoverflow.com/questions/50901127/vsc-unable-to-watch-for-file-changes-in-this-large-workspace-weird

Also, welcome! 👋🏻

[2022-05-10 10:07] Isaac-Tait commented on #5450
For posterity sake I am sharing the forum post I created when I ran into this same issue [here](https://community.redwoodjs.com/t/prisma-migrate-error/3196) Replacing the space in the folder name with an underscore `_` alleviated the issue.

[2022-05-10 18:19] ronatory opened #5497 ""Uncaught Error: Function components cannot have string refs" when adding a "?ref=xyz" param to the base url"
Seems to be easy reproducible. Just create a new redwood project and start the dev server via `yarn rw dev` and then add to the base url a `ref` parameter like this -> `http://localhost:8910?ref=example`. Then the error in the title will occur -> `Uncaught Error: Function components cannot have string refs`

[2022-05-10 18:26] KrisCoulson commented on #5497
I just took a look into it.

I think we spread all the params and ref is being passed as a string
https://github.com/redwoodjs/redwood/blob/230f79d07b50e8aad3635ffe1484531a6ae31342/packages/router/src/router.tsx#L101

https://github.com/redwoodjs/redwood/blob/230f79d07b50e8aad3635ffe1484531a6ae31342/packages/router/src/router.tsx#L118

[2022-05-10 19:47] NoahC5 commented on #5234
I am currently unable to switch to macOS. Is there possibly another workaround for this issue?

[2022-05-11 06:45] jtoar commented on #5110
Closing for now but happy to reopen, just let us know.

[2022-05-11 06:45] #5110 closed

[2022-05-11 06:46] jtoar commented on #5263
Closing due to inactivity but happy to reopen!

[2022-05-11 06:46] #5263 closed

[2022-05-11 06:54] jtoar commented on #4597
Will close this for now as things seem resolved but happy to reopen.

[2022-05-11 06:58] jtoar commented on #5060
Confirmed this one, and it looks like this is only for TS projects for some reason.

[2022-05-11 07:02] jtoar commented on #5101
In TS projects, this doesn't error because we generate the correct ESLint ignore directive:

https://github.com/redwoodjs/redwood/blob/c234350e496c9c0b05998d38db2cba67b5af5617/packages/create-redwood-app/template/api/src/lib/auth.ts#L21-L25

What we need to do is add the correct directive for JS projects:
[code]

[2022-05-11 07:04] jtoar commented on #5109
Closing for now due to inactivity but happy to reopen if that didn't answer your question.

[2022-05-11 07:04] #5109 closed

[2022-05-11 07:07] jtoar commented on #5224
@artemhp Apologies for the delay; I feel like the confusion here is that scaffolds simply don't do what you want yet. It's certainly possible to do it manually, but I don't have a guide that's readily available. But it would make for a great one if it was! Any chance that you got this to work and could share something with the community?

[2022-05-11 07:16] jtoar commented on #5365
Thanks for the write up @TasinIshmam, I was able to reproduce this one. Contributing to the generators can be a little gnarly, but would you be interested in fixing this? No pressure, just wanted to extend the invitation.

[2022-05-11 07:21] jtoar commented on #5382
I haven't been able to reproduce this yet, but we've added back a dedupe step to upgrades—that may help fix errors like this that (we think) are due to `node_modules`. Let us know if this shows up again when you upgrade after `v1.3.2`. There's no next release yet so that'd be impossible to test (unless you want to try out canary! `yarn rw upgrade --tag canary`), but for later.

[2022-05-11 07:21] #5382 closed

[2022-05-11 07:25] jtoar commented on #5415
@PeterChen1997 agreed, we could do a lot more, so happy to dicusss! Which of those features you enumerated do you use or would like to see?

Note that we do support configuring postcss. If you make a `web/config/postcss.config.js` file, Redwood's build process will pick it up and merge it in. That's how Tailwind CSS currently works with Redwood.

[2022-05-11 07:26] jtoar commented on #5463
Thanks @shuaixr, I think @dac09 is currently investigating this as a part of strict mode: https://github.com/redwoodjs/redwood/pull/5491.

[2022-05-11 07:37] jtoar commented on #4591
@ajoslin103 I've seen this error too, I'll debug it as a part of fixing another bug in rwfw here: https://github.com/redwoodjs/redwood/pull/5371.

Also, didn't mean to ignore your PR for mutation cells—I think the idea is great! We just haven't had a lot of design time yet to focus on it. I'll try to carve out some time soon, and to focus on the data-fetching story in general. It's definitely an a

[2022-05-11 09:16] jtoar commented on #5448
We had an issue for this that was opened a while ago that I closed after we added the launch.json config: https://github.com/redwoodjs/redwood/issues/936. But we're happy to consider this again—I'll be looking at the CLI soon so I'll see what I can do.

[2022-05-11 09:34] jtoar commented on #5098
This is a little tricky. This looks like a "bug" in the tutorial to me.

I may be wrong about this so someone please correct me, but I'm pretty sure graphql codegen doesn't look at the Cell at all when it generates types—only the sdl. So that's why `articles` doesn't exist on `FindPosts`.

@PeterChen1997 I think you may just have to extend the type yourself, but the tutorial should reflect that.

[2022-05-11 09:53] callingmedic911 commented on #5098
@jtoar codegen checks the web side as well and generates the type for each GraphQL operation.

And I finally why it's not working.

@PeterChen1997 type needs to change from `CellSuccessProps<FindPosts>` to CellSuccessProps<ArticlesQuery>. Since the type name is the same as whatever is set for the operation name. If we use `query SomeOtherName`, we need to update the type name.

[2022-05-11 10:08] jtoar commented on #5098
+1 to what @callingmedic911 said; also, it feels like there's a bit of a footgun here since you have to regenerate types (`yarn rw g types`) after you've renamed posts to articles. I don't think the tutorial says to do that anywhere, hence the squiggles.

[2022-05-11 11:49] FrankMbappe commented on #4705
Any update on this ? I've encountered the same problem and this issue has been open for a month and plus now

[2022-05-11 14:10] Isaac-Tait commented on #4894
Can I work on this doc update?

[2022-05-11 14:17] jtoar commented on #4705
Hey @FrankMbappe, does this work for you in the meantime? This is much the same how mocking `LocationProvider` works:

[code]

First off thanks for bumping this issue—knowing what Redwood users' pain points are helps us know prioritize, and often times we don't know until people tell us. We have a lot of open issues, and fixing them doesn't include the time we need to spend researching and working

[2022-05-11 14:33] FrankMbappe commented on #4705
Yes, it does 👍🏾. Hopefully, this issue can be fixed quickly
Are there any workarounds in the meantime?

[2022-05-11 14:37] jtoar commented on #4705
@FrankMbappe that is the workaround—explicitly wrapping the component being tested in `PageLoadingContext.Provider` and passing a value (`{ loading: true }`, or `false` if you want to test if the page isn't loading).

[2022-05-11 14:55] jtoar commented on #5234
@NoahC5 I'll prioritize looking into it this week. Switching to MacOS isn't a legitimate workaround anyway 😅

[2022-05-11 15:00] FrankMbappe commented on #4705
I mean a workaround to get the loading state of a page
Is there any function or component from `@redwoodjs/router` that can provide us with the actual loading state?

[2022-05-11 15:04] dthyresson commented on #4944
@tbay06 Thanks for this info. We recently discussed GraphQL uploads within the Core Team and wanted to let you know that this is an issue we're looking at.

That would be excellent.

Let me check in with the rest of the team (cc' @jtoar) and get you an update.

[2022-05-11 15:14] FrankMbappe commented on #4705
@jtoar Yes, but I'm not talking about testing `PageLoadingContext` 🙇🏾‍♂️. Is there any workaround to make it work as it should in the browser while you guys are fixing this issue?

[2022-05-11 16:34] simoncrypta commented on #5234
A quick workaround for now is working with WSL. https://community.redwoodjs.com/t/windows-subsystem-for-linux-setup/2439

But we sure need to prioritize this to make sure it's work on Windows.

[2022-05-11 17:25] Tobbe commented on #4705
Which is now long gone :(  I'll get up to speed and see what I can do

[2022-05-11 20:24] alicelovescake commented on #4741
@dthyresson One way I've gotten union to work is to add the resolver logic in as `schemaOptions` inside the `createGraphQLHandler`. i.e
[code]
I could be wrong but I think the resolver for the union/Interface type has to be manually created so I don't think the makeSchema filters it out.
What do you think?

[2022-05-11 20:38] Isaac-Tait commented on #4894
I came across this issue after working through the "Deployment" [section](https://github.com/redwoodjs/redwood/blob/main/docs/docs/tutorial/chapter4/deployment.md) of the starter docs. Perhaps it would be better to update the docs at the 4th Chapter *Deployment* section instead of Chapter 5 Testing? Thoughts?

[2022-05-11 23:50] jtoar commented on #4705
@FrankMbappe ah I get it now, it's just broken-I thought it was only broken in the test. Sorry about the confusion!

[2022-05-12 03:20] alicelovescake commented on #4741
I took a deeper look into the code to try to find a way to automate creating the resolver for the union type rather than the solution above of manually adding to schemaOptions.

You were right DT that `typesWithFields` was filtering out the union type. It makes sense because union types do not have fields. So my PR has a fix to make sure union type resolvers gets populated.

See my [PR](https://gi

[2022-05-12 05:05] jtoar commented on #5224
@Isaac-Tait I had a quick look and correct me if I'm wrong but this seems unrelated no? This thread is about scaffolding with many to many relations.

[2022-05-12 05:18] #5450 closed

[2022-05-12 05:46] jtoar commented on #5450
@DevanB @Isaac-Tait this is now patched in v1.3.3: https://github.com/redwoodjs/redwood/releases/tag/v1.3.3.

[2022-05-12 05:52] dac09 commented on #4591
This happens when I think you try to run `rwfw project:sync` OR `rwfw project:copy` multiple times on a project. While @jtoar works on a fix - temporary work around (and in general, for any contributor workflow issues):

0. Make sure `rwfw` isn't running
1. Run `yarn build:clean` in framework (which you have)
2. Delete node_modules in your project `rm -rf node_modules web/node_modules api/node_mod

[2022-05-12 07:11] jtoar commented on #5497
@KrisCoulson Nice, that looks like what's happening indeed. I haven't thought about it much yet, but a solution that comes immediately to mind is renaming `ref` to something else. Is that too superficial?

[2022-05-12 07:52] #5379 closed

[2022-05-12 08:20] jtoar commented on #5234
This is only explicit call to `toString` in the `addPackagesTask` function:

https://github.com/redwoodjs/redwood/blob/3ee9af82c3a10320be386cfc98bf23b8b1372e63/packages/cli/src/commands/setup/deploy/helpers/index.js#L119

@NoahC5 does the `yarn --version` command give any output for you? This isn't a legitimate workaround, but if you're feeling adventurous, you can go into `node_modules/@redwoodjs

[2022-05-12 08:55] FrankMbappe commented on #4705
@jtoar No problem, I'll just wait for the fix

[2022-05-12 13:25] ajoslin103 commented on #4591
@jtoar - thanks - https://github.com/redwoodjs/redwood/pull/4594#issuecomment-1124991175

[2022-05-13 05:02] PeterChen1997 commented on #5098
got it, thx. I will have a try!

[2022-05-13 05:02] PeterChen1997 commented on #5415
got it, I will have a look, thx!

[2022-05-13 06:49] Tobbe commented on #4705
Fixed here: https://github.com/redwoodjs/redwood/pull/5521

[2022-05-13 11:22] Avataw commented on #5098
I'm conflicted about this - I'm not sure if it's sensible to add the information at this point in the documentation (that changing the query operation name needs the regenerate types command.

Wouldn't it be better if changes in the gql automatically triggers the regenerate types command?

Are there already Redwood- VSCode/Intellij plugins?
I thought about developing something that (visually) list

[2022-05-13 11:43] Tobbe commented on #5098
I looked, but didn't find where the tutorial asks you to do this. Can you please link to the relevant section?

[2022-05-13 11:49] Avataw commented on #5098
@Tobbe I think Chapter 2 > Cells.

It shows how you need to run `yarn rw g cell Articles` creating the ArticlesCell.tsx.
But you need to rename the ar ticles to posts in the gql :
```export const QUERY = gql`
  query ArticlesQuery {
    posts {
      id
    }
  }
`
[code]

[2022-05-13 11:50] TasinIshmam commented on #5365
Hey @jtoar, I might be a bit unprepared to take this on at the moment, hope you understand 😅

[2022-05-13 12:09] Tobbe commented on #5098
Where does `FindPosts` come from though? I see it in the generic example at the top of https://redwoodjs.com/docs/tutorial/chapter2/cells Is having that example there confusing?

[2022-05-13 12:14] Avataw commented on #5098
It didn't confuse me - but now that you mention it I can see it being misleading.

Also I've just realized that the example should not work either as it imports "ArticlesQuery" instead of "FindPosts" :D

So either it could be made clearer that the cell is just an example - by renaming fields etc. to something with example - or it could just be the ArticlesCell that is being generated below.
Maybe

[2022-05-13 12:43] Avataw opened #5524 "Chapter 3 Building a Form contains an unmentioned typing error"
In the section **Validating Input Format** the following code section is proposed to include email validation:

[code]

This is not valid in typescript and results in the following linted error:

This makes sense as the type is `pattern: ValidationRule<RegExp>;`
And ValidationRule being:
[code]

**->** Therefore I would either propose to immediately include message and therefore removing the first

[2022-05-13 13:09] Tobbe commented on #5098
I also thought about maybe making the example about something else that's totally unrelated, to make it stand out more and make it more obvious that the reader shouldn't copy/paste that code.

[2022-05-13 13:35] mikepage opened #5526 "TypeError: this.splice is not a function (Node v16.14.0)"
After upgrading to Redwood 1.4.0 from 1.3.3 the following api error occurs. Should I modify the autogenerated services or GraphSQL schemas.

[code]

[2022-05-13 14:10] mikepage commented on #5380
After upgrading to version 1.4.0 this error returns.
https://github.com/redwoodjs/redwood/issues/5526

[2022-05-13 14:14] jtoar commented on #5526
Hey @mikepage thanks for providing a reproduction! I'll try to reproduce it now. In the meantime could you post the output for this command here?

[code]

And could you try a few basic troubleshooting steps: just remove `node_modules` and run `yarn install`. Then if that doesn't work, remove `yarn.lock` and run `yarn install`.

[2022-05-13 14:20] mikepage commented on #5526
As you requested the ouput of the command.

[code]

I will try removing the yarn.lock file, I tried removing node_modules earlier without result.

[2022-05-13 14:27] mikepage commented on #5526
I have removed the yarn.lock file after rw upgrade, did yarn install and it worked!

[code]

[2022-05-13 14:36] jtoar commented on #5526
@mikepage awesome! That output you just posted matches what I see on new projects. 👍 I'll see if I can get an update from the guild on `cross-undici-fetch` so that we can upgrade again. We downgraded because of a bug in CORS that was affecting one of our deployment providers.

Ok to close this one since things seem to be working?

[2022-05-13 14:36] #5526 closed

[2022-05-13 15:03] Avataw commented on #5524
Yep I’ll take care of it :)

[2022-05-13 15:40] dthyresson commented on #3789
Very much so, @ericapisani, thank you!

[2022-05-13 15:55] chenkie opened #5529 "GraphQL syntax error in a Cell causes generation to halt"
When trying to generate a new Cell, I was getting this error:

[code]

After debugging `cell.js`, the issue was isolated to `getCellOperationNames`.

The problem was then traced to the fact that I had a GraphQL syntax error in one of my existing cells. In particular, my arguments were malformed:

[code]

The return statement of `getCellOperationNames` tries to read `queryOperationName` from the ex

[2022-05-13 16:05] jtoar commented on #4937
This no longer fails on the tailwind step. It fails on a later step but it's unrelated to Yarn. I'll make a new issue for updating the fixture.

[2022-05-13 16:05] #4937 closed

[2022-05-13 20:48] Avataw commented on #5524
@Tobbe I created the PR as discussed :)

[2022-05-13 21:16] #5524 closed

[2022-05-14 04:11] pvenable opened #5534 "GraphQL mocks do not work in built/deployed storybook"
[Mocking GraphQL in Storybook](https://redwoodjs.com/docs/how-to/mocking-graphql-in-storybook) works great in development (`yarn rw sb`):

![image](https://user-images.githubusercontent.com/590685/168409134-bcac3415-609b-4a58-970d-f53616bcd809.png)

But in a built/deployed environment (`yarn rw sb --build && yarn rw build`, then deploy or otherwise serve `web/dist` somewhere), the mock request han

[2022-05-14 07:49] jtoar commented on #5448
@MichaelrMentele I came across this section in the webpack docs while debugging another issue and thought of this one: https://webpack.js.org/api/cli/#pass-cli-arguments-to-nodejs. It should work the same for redwood apps:

[code]

[2022-05-14 08:43] orta commented on #5481
Just bumped my app to canary and there still seems to be issues on cross calling resolvers which is kind of intrinsic to how GraphQL resolvers work, I'll explain via an example. This mutation returns a legit slug or empty string to imply you can't use it:

[code]
Which looks like this to the type system:

[code]

The tricky bit is here `Partial<...>` - which means you cannot write

[code]

Because

[2022-05-14 08:45] dac09 commented on #5481
I'm also super stuck with this problem... I don't understand why TypeScript doesn't let me await a Promise<Partial<X>>?

[2022-05-14 09:22] orta commented on #5481
There's a possibility of a TS bug here, this [simplified model](https://www.typescriptlang.org/play?#code/PTAEGUEsFsAcBsCmBnALqAxgQ2YgUHqgJ6yKgDiATlrABYCKAMgEooD28AbogJIB2AMzagAvKADeAX0IkyrACYB3Nm3lUaDRgGE2fVIgAe6MVJmlQrZB26VkABSyVEegCqzkoidMOw2ldMTmALJYRABGiAA8LgB8ni6gAD6gfACu8PAEeD5+AbIW7FyIlABifNGW6agANKAuDk56tS46eoY1dQCClADmyHFiABR4oKCOfQBcXb3I1SOgbGEAVlPioJQqqFP1js6oANyYuvpG260nB6CQgmxT6nRMlt

[2022-05-14 14:17] jtoar opened #5538 "Type errors on cell generation in newly created redwood apps"
To reproduce:
- make a new project
- generate a cell

[code]

It doesn't seem to matter if there's a model or not.

[2022-05-14 16:04] masterbater opened #5539 "Add authentication for oidc compatible providers"
Will redwoodjs add support for oidc public type and add  redwoodjs specific auth hooks.  oidc auth providers have the same configuration  like authority redirect_ur etc. This could add support like keycloak and similar oidc providers

[2022-05-15 00:02] ofu997 commented on #4670
I'm also on v0.48 and getting this error. Does this merge mean that later releases do not have this problem?

[2022-05-15 00:59] jtoar commented on #4670
@ofu997 yes—[linked PR](https://github.com/redwoodjs/redwood/pull/4695) was shipped in the v0.49.1 release:
- https://github.com/redwoodjs/redwood/releases/tag/v0.49.1

[2022-05-15 05:08] dac09 commented on #5481
Think I follow what you mean... but what I still dont understand is why removing `Partial` makes it stop complaining? If you leave all the other types exactly the same, but just remove the Partial, [there's be no errors](https://www.typescriptlang.org/play?#code/PTAEDEFcBttBjA9gBwJ6kQM1AFwBYCmuqyBAzqAFCU4lEDiATgIbJ4CKAMgErmLQA3AgEkAdpkSgAvKADeAXxp1QvACYB3RIlVNWHTgGFEonAQAeOaXMXnkiRpdqlQAWWaoARgQA8

[2022-05-15 06:49] Tobbe commented on #5481
I think there might be an issue with the type generation here.
If I'm reading the full failing repro correctly the type pretty much boils down to
[code]
But I think it should be
[code]

Having `Partial<Promise<string>>` makes no sense. It's like "Here's a promise, but it might not have a `then` method..."

[2022-05-15 06:51] dac09 commented on #5481
Think you misread. It's not a Partial of a promise. It's a promise of a partial.

[2022-05-15 08:03] dac09 commented on #5481
So looks like we have a fix based on @Tobbe's observation.

Since our types weren't complex enough, we made it a little more complex:

[code]

@orta  thoughts?

[2022-05-15 09:42] Tobbe commented on #5481
@dac09 With the code you posted above you've added `Partial<TResult>`to the return value. Previously it was always a Promise. (`Promise<Partial<TResult>>`)

[2022-05-15 10:05] Avataw opened #5542 "Missing field 'roles' in auth.ts during tutorial"
During the tutorial chapter 4 / Authentication, I've noticed that in the auth.ts I get some errors:

![image](https://user-images.githubusercontent.com/60570041/168467215-66db0578-1562-416a-9a78-bab916a54d4b.png)

Makes sense as I was not supposed to add roles to the user in the model
[code]
nor in the select of getCurrentUser in auth.ts
[code]

The tutorial does mention (see "AUTHENTICATION VS. A

[2022-05-15 14:49] #5425 closed

[2022-05-15 19:28] #5529 closed

[2022-05-15 22:31] ajoslin103 opened #5553 "[website] Change Redwood banner version on home page"
https://redwoodjs.com/ -- banner at the top

Perhaps it should say

`Redwood passes 1.0` `Watch recordings from launch week →`

or just: `Watch recordings from launch week →`

[2022-05-16 05:40] Tobbe commented on #4689
@stephenhandley and everyone else: There are some exciting experiments happening over at the RW forums that you might be interested in

https://community.redwoodjs.com/t/multiple-redwoodjs-in-monorepo/3239

Please chime in :)

[2022-05-16 10:22] vchoy commented on #4482
happens in netlify identity, when the jwt token times out or is invalidated.

[2022-05-16 21:33] jpvajda commented on #1455
@Tobbe 👋 I was reviewing this issue and though it's older, it's still very relevant of a topic for us at Apollo GraphQL, as we've had others asking us about the total bundle size of Apollo Client and have raised concerns about it's size. I'm actually the Staff Product Manager of Apollo Client, and I'd be deeply interested in learning where this particular change is at for RedwoodJS and if there is

[2022-05-16 23:55] jherdman commented on #5538
I can confirm this too.

[2022-05-17 06:58] dac09 commented on #5261
Hi @pvenable - thank you for raising another great issue.

I've looked at this as part of strict mode support, but I believe the behaviour is as expected. Let's break it down:

**1. Setting mockCurrentUser to null**
CurrentUser can indeed be null, for example, when you're not signed in, or the auth state is still loading, so the type there is correct.

**2. Setting mockCurrentUser with a roles arr

[2022-05-17 10:06] jtoar commented on #5234
Was able to get my hands on a windows box thanks to @dac09 and it's throwing at line: stdout is `null`. Still investigating why.

[2022-05-17 13:20] #5476 closed

[2022-05-17 15:06] davidkhardwick opened #5578 "RFC on using API specs to drive scaffolding"
# Request for scaffolding based on API specs instead of DB schema (Prism)

Request for comment on generating scaffolding based on API specs instead of DB schema

# Problem:
Users of RedwoodJS love the ‘scaffold’ capability. Such a Great way to get a significant amount of functionality with very little work.

Scaffold currently needs to be driven by the Prisma schema, and modern projects also need

[2022-05-17 16:32] #5417 closed

[2022-05-17 17:54] simoncrypta commented on #5542
Hi @Avataw,

Option A) is a great idea!
I think the best way to do it is to write a comment in TS version of the code exemple where the error show up.

Feel free to open a PR if you want !
https://github.com/redwoodjs/redwood/blob/main/docs/docs/tutorial/chapter4/authentication.md

[2022-05-17 18:55] simoncrypta commented on #5578
Hey @davidkhardwick Thanks for open this!

I like the idea of the Scaffold with the 3rd party API, but not sure how can we implement this.

[2022-05-17 19:07] Tobbe commented on #1455
@jpvajda Thanks for reaching out. I don't have time to take lead on this right now, but someone else from the RW team will be in touch. But since this issue was about the library size I'm curious to hear 1) Has the size changed significantly in the year and a half since I raised the issue? 2) Is there anything we can do to reduce it?

As a team we have more input than this, but as I said, someone

[2022-05-17 19:52] jpvajda commented on #1455
@Tobbe Sounds great!  I just checked our current bundle size on a test app I made for the [current release ](https://github.com/apollographql/apollo-client/releases/tag/v3.6.4)`3.6.4` of the Web Client, and it's current showing:

![Screen Shot 2022-05-17 at 1 47 11 PM](https://user-images.githubusercontent.com/1395158/168897845-63a805bc-4a7a-4bb0-9b63-d209d394294a.png)

As for reducing the overall

[2022-05-18 00:39] pvenable commented on #5261
After looking at this a bit more I must admit I remain stumped.  I'm willing to change my `api/src/lib/auth.ts` code if it will help, but I haven't been able to find any combination of explicit or implicit typing for `getCurrentUser` and/or `CurrentUser` that will allow `mockCurrentUser(null)` to compile with `strict: true` on the web side.  I don't see how this can be considered to be working as

[2022-05-18 06:39] Avataw commented on #5542
I'll take care of it, feel free to assign me :)

[2022-05-18 09:18] dac09 commented on #5481
The problem you're seeing here, I believe is something with how typescript in strict mode interprets `Promise<Game | null` vs `Promise<Game> | Promise<null>` - which _I think_ should be equivalent. If it isn't.... whats the difference?!

I'm waiting to hear back from the Prisma team - this seems to be the last unresolved issue on the API side - it happens exclusively on the `findUnique` ones becau

[2022-05-18 13:15] simoncrypta commented on #5539
It can be very interesting to have something to make custom OAuth auth easier on Redwood. This can probably work with dbAuth to add third-party connection with Google, GitHub, etc. Also, It can be appealing to help people create integration with third party and make the auth part really easy.

I'm not sure when we can focus on it, but if you want to start to bring ideas how this can fit into the f

[2022-05-18 14:16] masterbater commented on #5539
pkce flow for react spa can easily be added using this libraries
https://github.com/authts/react-oidc-context or for general client https://github.com/authts/oidc-client-ts

This is what I used in redwoodjs web
https://github.com/AxaGuilDEv/react-oidc
I just added my own custom access token verifier in api

next-auth also has a wide range of third party support for oauth or oidc compatible provide

[2022-05-18 17:05] pi0neerpat opened #5584 "Cannot find module 'terminal-link'"
Error after running command `rw-server api` using global install of `@redwoodjs/api-server` and `@redwoodjs/internal`. Redwood v1.0.0 using docker container https://github.com/redwoodjs/docker/blob/main/docker/pi0neerpat-packages/api/Dockerfile

Is anyone else is getting this?

[code]

[code]

https://github.com/sindresorhus/terminal-link

Temporary solution is to also global install `terminal-lin

[2022-05-18 17:32] Tobbe commented on #1455
Thanks for the bundle size analyzer screenshot. Seems it has gained some size since I posted a screenshot back in 2020 (to be fair though, who hasn't 🍩  🍕  😁 )

![image](https://user-images.githubusercontent.com/30793/169105691-17571449-8ee4-4bf8-8968-f88ac1c2b0a8.png)

[2022-05-18 18:59] davidkhardwick commented on #5578
Hey @simoncrypta - I wanted to note that @msutkowski is a contributor to Redwood, and he's the author of the link provided above (here it is again --> ( see https://redux-toolkit.js.org/rtk-query/usage/code-generation )) He's very strong in this area of code generation based off the Open API specs to both GraphQL and REST.

I think Redwood could go much "wider" by being a full-stack platform for j

[2022-05-18 19:00] #5082 closed

[2022-05-18 19:00] #5083 closed

[2022-05-18 19:00] #5084 closed

[2022-05-18 19:00] #5297 closed

[2022-05-18 19:00] #5298 closed

[2022-05-18 19:00] #5299 closed

[2022-05-18 19:00] #5300 closed

[2022-05-18 19:00] #5347 closed

[2022-05-18 19:00] #5422 closed

[2022-05-18 20:02] #5200 closed

[2022-05-18 21:47] doowb opened #5587 "SyntaxError: 'super' keyword unexpected here"
## Overview

The above error is occurring during api-side transpiling when I extend a class with a method called `.find` and I call `super.find` inside the child class method.

This happens with both, `yarn rw dev` and `yarn rw test api`.

## Input

[code]

## Output

The following is found in `.redwood/prebuild/api/src/lib/my-class.js`:

[code]

The following error is shown in the terminal:

[cod

[2022-05-18 22:32] pi0neerpat commented on #5584
Update: Looks like a recent update to redwood is causing the issue.  I applied a fix by pinning the version for global installs to v1.0.0 for now.

https://github.com/pi0neerpat/redwood-devops-example/pull/5/files

[2022-05-19 00:29] jtoar commented on #5584
It looks like `graphqlSchema` in `@redwoodjs/internal` imports `terminalLink`:

https://github.com/redwoodjs/redwood/blob/dec0bd9f8b546de1bf007992554bb648bfda67b0/packages/internal/src/generate/graphqlSchema.ts#L10

But `terminalLink` isn't in the `package.json` of `@redwoodjs/internal`, so if only internal is being installed, that's of course a no go. I'm sure in redwood apps, `@redwodjs/cli` pro

[2022-05-19 01:05] pi0neerpat commented on #5584
Its a global install, so I don't see the versions unfortunately. Our last deployment was 13 days ago, which had no issue, so I'm guessing v1.3 or v1.4.

[code]

[2022-05-19 03:22] cannikin opened #5589 "Update doc to reference `--no-crud` flag (SDL generator behavior changed to create CRUD by default)"
https://redwoodjs.com/docs/schema-relations

This doc mentions using the `--crud` flag, which is now the default. We need to talk about the `--no-crud` flag instead.

[2022-05-19 05:32] jtoar commented on #5584
@pi0neerpat if we got https://github.com/redwoodjs/redwood/pull/5590 into canary would you be able to test it?

[2022-05-19 05:57] pi0neerpat commented on #5584
Yes for sure

[2022-05-19 06:11] jtoar commented on #5553
Thanks for bringing this up @ajoslin103. You're right; we talked about it a bit and think it's time to remove the banner.

[2022-05-19 06:14] #5234 closed

[2022-05-19 07:14] jtoar commented on #5584
@pi0neerpat the canary with that PR just published: `1.4.2-canary.130+2145f443`. But `yarn rw upgrade --tag canary` is all you should have to do to get there. Or `@redwoodjs/api-server@1.4.2-canary.130`, `@redwoodjs/internal@1.4.2-canary.130`.

[2022-05-19 07:54] #4705 closed

[2022-05-19 08:28] #5553 closed

[2022-05-19 08:31] jtoar commented on #5224
I'm going to close this one for now; if you'd like to open a feature request we're happy to talk about it.

[2022-05-19 08:31] #5224 closed

[2022-05-19 08:33] jtoar commented on #5534
Thanks @pvenable! Linking the original discord thread here for reference: https://discord.com/channels/679514959968993311/974036287315132466.

[2022-05-19 17:49] pi0neerpat commented on #5584
Working! ![image](https://user-images.githubusercontent.com/35622595/169364931-431ac422-16d7-442d-b0a1-9f519dd1f0d7.png)

[2022-05-19 19:32] Tobbe commented on #4482
I won't have time to look in to this. Someone else please pick it up 🙂

[2022-05-19 19:36] Tobbe commented on #5098
@jtoar if you read through what I and Andre have said above, what do you think is a good next step?

[2022-05-19 21:01] jeliasson commented on #5584
I can also confirm `1.4.2-canary.130` fixes it.

[2022-05-20 04:16] jtoar commented on #4705
@FrankMbappe the latest release (v1.4.2) includes the fix for this:
[code]

[2022-05-20 04:16] jtoar commented on #5234
@NoahC5 @joriswill the latest release (v1.4.2) includes the fix for this:
[code]

[2022-05-20 04:18] jtoar commented on #5584
Thanks guys! I included the fix in the latest patch: https://github.com/redwoodjs/redwood/releases/tag/v1.4.2. You should be able to remove the canary part now, and even the specific version as it's the latest.

[2022-05-20 04:19] jtoar commented on #5584
Will close but let me know if anything else goes wrong.

[2022-05-20 04:19] #5584 closed

[2022-05-20 07:28] dac09 commented on #5538
@jtoar and I identified, that this error happens when you're trying to generate a Cell before you have SDLs for that model.

The solution, for anyone reading this - is to generate your SDLs first with `yarn rw g sdl Model`. The reason type generation fails, is because when it tries to find the types defined in the Cell query - it errors out, because the Graphql schema doesn't define those types.

[2022-05-20 09:21] djaustin opened #5601 "Chakra UI set up is incompatible with initial project template"
Creating a new project with `yarn create redwood-app <name>` followed by setting up the project with Chakra UI causes errors in the web project.

It seems that the version of Chakra being installed by the setup CLI is dependent on `useId` from React which was only [introduced in React 18](https://reactjs.org/blog/2022/03/29/react-v18.html#new-hooks).

Upgrading React to version 18 in the web proje

[2022-05-20 09:32] callingmedic911 commented on #5601
We're discussing this here: https://github.com/redwoodjs/redwood/pull/5570#issuecomment-1132504462

As a temporary workaround, you can change this line in `web/package.json`:
[code]

[2022-05-20 13:00] cq-ubaid-khan commented on #5104
The equivalent of `resolution` for npm is `overrides` see documentation https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides

[2022-05-20 13:41] alephao opened #5605 "developer experience: mocking Date.now()"
Hello, while doing the tutorial I saw this line:

And then it points out to [an article](https://codewithhugo.com/mocking-the-current-date-in-jest-tests/) showing how hard it is to mock/stub the javascript `Date` object.

I come from the iOS world and there I started using a pattern that is pretty straight forward, easy to implement and easy to use. Since this is an opinionated framework that sugg

[2022-05-20 13:58] jherdman commented on #5538
I believe this means that the Redwood tutorial needs updating. I ran into this bug when following along through the [Cells chapter](https://redwoodjs.com/docs/tutorial/chapter2/cells#our-first-cell).

[2022-05-20 16:11] #5601 closed

[2022-05-21 05:03] #4894 closed

[2022-05-21 09:07] zygopleural commented on #5601
`Error: @chakra-ui/react@npm:1.3.0: No candidates found`

FYI for anyone coming here, I got this working with:
[code]

Full config:
[code]

[2022-05-21 09:43] jtoar opened #5612 "Storybook loading indefinitely on newly-created projects"
A user in Discord reported Storybook loading indefinitely. I can reproduce it on a newly-created project, and it's probably why CI (the `smoke-test` specifically) is failing across the board.

It looks like the break in CI coincided with the latest release of `@mswjs
/interceptors`. Moreover, Storybook starts up again if you set a resolution in your project downgrading `@mswjs
/interceptors` to `0

[2022-05-21 09:53] jtoar commented on #5612
Maybe to be expected since it also uses `msw`, but `yarn rw test web` now fails too, for Cells at least with `TypeError: interceptors.createInterceptor is not a function`. See https://github.com/mswjs/interceptors/issues/245.

[2022-05-21 21:15] Shadowbeetle opened #5620 "[Tutorial] Why are only local Postgres installs recommended?"
In this day and age, it just feels strange to add `brew install postgres` for Mac users and point to Prisma's docs on how to install PG locally for other OS-es, without ever mentioning Docker or at least point to [the official image on Dockerhub](https://hub.docker.com/_/postgres).

Is there a specific reason why it was left out, or just for the lack of time? If the latter, would a PR be welcome o

[2022-05-22 01:11] HikaruEgashira commented on #5468
This tool may not be necessary.
Because naming the query solves the problem.

[code]

[2022-05-22 01:21] jtoar commented on #196
I looked into this recently and it's not as straightforward as I originally thought. The three repositories linked to in the OP are all pretty much unmaintained (two of the links point to the same repo). @Tobbe mentioned that he came across this one recently and that it may be worth looking into: https://github.com/ai/size-limit. I also had a look at how Next.js does it and they use a custom recur

[2022-05-22 04:47] dac09 commented on #5468
@HikaruEgashira - you can customise graphql codegenerator with any plugins you like. Please see docs here: https://redwoodjs.com/docs/project-configuration-dev-test-build#graphql-codegen

What would be useful to understand is your actual requirements though - as in why you wanted typed document nodes in the first place?

Feel free to close the issue too if you've found a solution :)

[2022-05-22 07:17] HikaruEgashira commented on #5468
Thanks!

[2022-05-22 07:17] #5468 closed

[2022-05-22 23:37] virtuoushub opened #5627 "`AuthProvider` can cause "Warning: Can't perform a React state update on an unmounted component.""
seems to stem from: https://github.com/redwoodjs/redwood/blob/main/packages/auth/src/AuthProvider.tsx#L263-L270

not clear on if/how we might leverage `componentWillUnmount` to cancel the promise chain.

[code]

---

found due to it causing test failures in CI/CD due to unrelated changes: https://github.com/redwoodjs/redwood/runs/6546890312?check_suite_focus=true

[2022-05-23 16:48] jonschlinkert opened #5632 "core-js bug: $ is not a function"
I get the following error from core-js:

[code]

I had to manually go into core-js and replace the problematic code.

FWIW, I also had to go into redwood's code and add console.log to get a more detailed error message because the full error stack is not provided by redwood.

Perhaps we can get rid of core-js? That library has been the cause of several issues we've had in recent weeks with Redwood

[2022-05-24 04:46] jtoar commented on #5632
Hey @jonschlinkert, happy to have you—curious what you're building?

Mind providing a bit more detail about where you're seeing that error and the others that you've been running into? Is it all during `yarn rw dev`, or when running a CLI command, or just all over the place?

My understanding is probably incomplete, but I'm not sure that it's possible to get rid of core-js without giving up the ab

[2022-05-24 05:07] jtoar commented on #1589
@robertwt7 It's not because we don't want it or don't think it's valuable, but just for the more usual reasons: not enough time, and no one is point on it at the moment so it's inevitably behind. We've been planning to deprecate it for a bit now (see https://github.com/redwoodjs/redwood/issues/4625).

If there's strong community interest in it, I can try to make the case to the core team that it s

[2022-05-24 13:54] #5348 closed

[2022-05-24 20:46] dthyresson opened #5642 "Docs: Document how to customize FatalError and NotFound pages"
Documentation is lacking that explains how the FatalError and NotFound pages work and can be customized.

For example, if you wanted each to share a common Layout you cannot include them as a child of a Set. You’d need to use the layout in your page.

For the error page, then care needs to be done to still include the development page that provides the stack trace.

Tasks

* add docs section
* Des

[2022-05-24 20:52] msichterman commented on #5642
For the `NotFoundPage`, can we open a separate ticket to support wrapping it with layouts in a `Set`? Curious to hear your thoughts.

[2022-05-25 00:46] tal commented on #5526
Fwiw I just came across this issue and deleting the lock file seemed to fix it for me too

[2022-05-25 05:47] callingmedic911 commented on #5605
Thanks for the feedback @alephao! Do you think using timer mocks with jest would help with your use case? https://jestjs.io/docs/timer-mocks

We may want to update the tutorial to recommend Jest's timer. @jtoar What do you think?

[2022-05-25 08:01] Tobbe commented on #5605
@alephao Thanks for your Issue/RFC. Well written and with good reference links 👍

[2022-05-25 08:06] Mrliupengye opened #5647 "how to close only one Modal when click Esc key"

[2022-05-25 08:30] #5647 closed

[2022-05-25 14:41] alephao commented on #5605
@Tobbe thank you!

@callingmedic911 Thanks for answering! The timer mocks with jest doesn't help because I'm trying to mock the current Date/timestamp, and not a timer!

I'll try to clarify with my real use case

**Intro**

In my app, people do some action, and they can claim a reward 7 days after doing that action. I want to show the user the time left until the next reward, depending on how much

[2022-05-25 17:04] tctrautman opened #5649 "Add UUID support for scaffold generation"
Hello!

As of v1.4.1, `yarn rw g scaffold [data-model]` generates files that assume in some places that a data model has an `id` column, even when it has been instead created with a `uuid` column.  It would be nice if scaffolding was able to generate `uuid` columns, too, since editing manually requires opening many files and is prone to error, though this is not a blocking issue.

As always, thank

[2022-05-25 21:09] simoncrypta commented on #5587
I'm not an expert with babel, but I don't think the combination of babel and core-js is the cause of this. It supposes to be [“tightly integrated”](https://github.com/zloirock/core-js/blob/master/docs/2019-03-19-core-js-3-babel-and-a-look-into-the-future.md#babel). We can probably change some config to solve this, but your workaround seem to be a good alternative.

You can find our babel config he

[2022-05-26 05:29] callingmedic911 commented on #5605
@alephao Your example is really helpful. I'm trying to understand if the following would work with your example - I see `now()` uses `Date.now()` internally so setting system time should work I think. If this works, perhaps we can directly use `Date.now()`?

[code]

[2022-05-26 20:56] doowb commented on #5632
I already opened an issue for one of them [here](https://github.com/redwoodjs/redwood/issues/5587). I don't remember the other one.

[2022-05-27 07:29] callingmedic911 commented on #5649
Thanks for the feedback @tctrautman! Just to confirm, you mean the scaffold (and other generators) should allow a column with any name as long as it's marked as `@id`, right?

[2022-05-27 14:12] tctrautman commented on #5649
@callingmedic911 ah, yes that's exactly what I meant.  Great clarification, thank you!

[2022-05-27 17:39] Tobbe opened #5655 "Always link to "rc" version when clicking to edit doc"
At the bottom of all our doc pages there's a link to edit the page you're on.

![image](https://user-images.githubusercontent.com/30793/170762702-c41a7cb3-4e96-4de4-8505-3f10a2e1e854.png)

This link should always link to the newest version of the docs. Sounds like it should be easily doable with this configuration setting: https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#edit

[2022-05-27 19:07] joconor opened #5657 "Prisma loads .env, processes differently from RWJS"
Running `yarn rw dev` invokes

[const rwProjectRoot = requireFromCli('./dist/lib/index.js').getPaths().base](https://github.com/redwoodjs/redwood/blob/3bbfdf2857822aa3adfbda7e9ffd164594bb5d3a/packages/core/src/bins/redwood.ts#L34) in packages/core/src/bins/redwood.ts

_which invokes_

[import {
  getPaths as getRedwoodPaths,
  getConfig as getRedwoodConfig,
} from '@redwoodjs/internal'](https://gi

[2022-05-28 22:58] Tobbe commented on #3989
![image](https://user-images.githubusercontent.com/30793/170844810-d2930038-44b5-4de9-a6e5-59b55255c10d.png)

See the duplicated `Prerendering /blog-post/1 -> web/dist/blog-post/1.html` etc lines? It's an issue with Listr.

Tried to find a solution, and found [listr2](https://github.com/cenk1cenk2/listr2) which over-all seems more actively maintained. But it has the exact same problem https://gith

[2022-05-29 06:09] ChrisLFieldsII commented on #3729
This would be an awesome nice-to-have feature!

The projects I work with alias `src` as `~` so I immediately tried this in `web/tsconfig.json` and was surprised to find out it just simply didn't work. TS and VSCode made it _seem_ like the path alias would work at first, but I experienced a runtime error from the babel side of things.

For others trying to get around this, do the following:
1. `yar

[2022-05-29 23:16] tal opened #5661 "Union Types With Same Shape Return Incorrect Type"
For the following type definitions:

[code]

The type will always come out as `__typename: "One"`

[code]

![2084×658 58.6 KB](https://rwjs-discourse.nyc3.cdn.digitaloceanspaces.com/original/2X/0/0ebccff3a986ee75e499b6d39172e1794c03dd0f.png)

This happens regardless of what __typename is set to or any typescript types.

The issue is reproduced in this repo: https://github.com/tal/graphql-type-issu

[2022-05-30 07:01] Tobbe commented on #5661
Forum thread for context: https://community.redwoodjs.com/t/rw-1-0-1-5-upgrade-started-overwriting-typename-for-similar-object-shapes/3308

[2022-05-30 09:59] hos200sa opened #5662 "scaffold generator with relation"
hello everyone.
I love using redwood so far.
if a model lets say shelf and it have many relation with book if run command g scaffold shelf it generated successfully but can't a create book directly in shelf page.
is there a command or have to do it manually.

[2022-05-30 10:50] Philzen commented on #5601
Is there already an upgrade plan to React 18 or are there any showstoppers for that?

Asking b/c we would love to update our existing project to Chakra UI 2.x to utilize the new storybook addon.

[2022-05-30 13:16] simoncrypta commented on #5661
@alicelovescake I see that you have talk with the guild about this issue. Seem to be a normal behaviour of GraphQL if I understand correctly?
https://graphql.org/learn/schema/#union-types

[2022-05-30 20:07] standuprey opened #5663 "Feature request: Generator to include folder structure"
It would be great to be able to organize components in folders, our app start to have a lot of components, and we would love to have a folder structure. This folder structure would also be reflected in storybook

Example

[code]

would generate a component inside `src/components/widget` and ColorPicker.stories.tsx would have `title: 'Components/Widget/ColorPicker',`

I could work on a PR for this

[2022-05-30 21:53] alicelovescake commented on #5661
@tal I tested your repo with a member of the Guild and we spent a few hours looking into the issue. In `packages/graphql-server/src/makeMergedSchema/makeMergedSchema.ts` file in Redwood framework, we automatically generate resolvers for every field in an object type and for union types.

I know that technically if the returned object contains `__typename` like in your example, we are able to resol

[2022-05-31 09:32] zloirock commented on #5587
This issue can happen if you forget to exclude `core-js` from transpiling - it causes circular dependencies.

[2022-05-31 15:04] xmonkee opened #5667 "Incompatible types generated for JSON field in Prisma and GraphQL"
Declaring a `Json` field in the schema gives rise to multiple Typescript issues:

1. The incoming types from GraphQL are not compatible with the expected types for Prisma
2. In the service, the field cannot be assigned an array value, only object values, as it expects a Record type

api/db/schema.prisma
[code]

api/src/graphql/myDatas.sdl.ts
[code]

api/src/services/myDatas/myDatas.ts
[code]

api/

[2022-05-31 18:46] timseriakov opened #5668 "[Storybook] Critical error message when running SB build, after creating a project version 1.5.1"
![image](https://user-images.githubusercontent.com/59409712/171259796-15f2e39e-628a-4072-8e9b-321892e86fcb.png)

MacOS Monterey 2.3.1 (21E258)
NodeJS 16.14.2
Yarn 3.2.1
RedwoodJS 1.5.1

## Steps to reproduce

[code]

Open in browser `http://127.0.0.1:8080` or `index.html` from build directly

First encountered this when upgrading from version 1.0.2 to 1.5.1

[2022-05-31 23:11] qqke opened #5670 "support tauri?"
Any plan to support tauri for desktop application development?

[2022-06-01 05:14] asaf-stafflink opened #5675 "yarn rw deploy serverless gives this error if there's a custom function 'Cannot access package artifact at "dist/zipball/myFunction.zip""
Using redwoodjs 1.5.1

'yarn rw deploy serverless' gives this error if there's a custom function

'Cannot access package artifact at "dist/zipball/myFunction.zip" (for "myFunction"): ENOENT: no such file or directory, access '<Project DIrectory>/api/dist/zipball/myFunction.zip

The only zip that is created in zipball during build is the 'graphql.zip' file

[2022-06-01 12:34] asaf-stafflink commented on #5675
It's working in version 1.2.1 and broke in 1.3.0 - could be related to 'Remove nested function post processing during build'? https://github.com/redwoodjs/redwood/pull/4813/commits/00ebb798d844a03a6322c61817f6535a4be7f154

[2022-06-01 14:26] jacebot opened #5678 "Unable to deploy to Vercel, or anywhere really."
Looks like a lot has changed. So far I am not able to deploy a RW app anywhere. I run into constant issues with no one running the latest node, or latest yarn. Engine errors. So far all deploys fail.

Any suggestions? Vercel is no longer reliable. Railway doesn't know how to run or deploy the builds. I really want to run RW, but since v1, I am not able to get anything done outside of local.

[2022-06-01 17:35] timseriakov commented on #5668
##Snapshot after executing steps commands:

https://gitpod.io/#snapshot/8c6d9ef0-f063-42e2-b8fd-ed06eaefb11f

[2022-06-01 18:51] ebramanti commented on #4074
Would be interested in getting this working. A lot of @sindresorhus' packages have now moved to only supporting ESM. I am unable to use https://github.com/sindresorhus/p-map in my project.

[2022-06-01 20:44] cannikin opened #5682 "Yarn warning on new app creation: upgrade the uuid lib to version 7 or higher"
Full message:

[code]

[2022-06-02 07:25] razzeee commented on #2638
Getting a similar error in fedora

[code]

Running with sudo, would obviously work, but all files would get that permission level and it shouldn't be necessary.

Installing create-redwood-app via `npm i -g create-redwood-app` seems to work and I can see the binary being there, but the scrip still fails with the same error. Probably as it tries to create that link anyway?

[2022-06-03 08:59] razzeee commented on #5538
Yeah, I've also tried to do the tutorial and got stuck there.

I do think I have a valid sdl created, as there's only a Post model and I do have an sdl for that. Running `yarn rw g sdl posts` yields an error, due to that existing.

[2022-06-03 13:34] razzeee commented on #5538
Changing `ArticlesQuery` to `FindPosts` seems to get me around that problem in the tuturial.

[2022-06-03 17:25] BBurnworth commented on #3640
More input to bump this concept. Schema stitching, or something like this, would be very helpful for my use case. We have an existing internal company application where we have built a client/app/roles user management system. Our framework allows us to have many client organizations which may have multiple, and possibly distinct apps, available to them. Also within each org, each user has differen

[2022-06-03 18:54] thedavidprice commented on #5668
Thank you for reporting, @timseriakov

@virtuoushub Any chance you'd have time to take a look at this one?

[2022-06-03 21:34] alephao commented on #5605
@callingmedic911 it should work! I missed that in the documentation, thanks!

[2022-06-03 21:34] #5605 closed

[2022-06-03 22:01] thedavidprice commented on #4717
Looping in @dac09 @virtuoushub @dthyresson

I ran into this specifically going from:
1. Cell with Mocks
2. Then viewing the Page containing the cell
3. required kill/restart of the SB server

This issue is the one remaining "hiccup" in my Design-driven Full-stack presentation. I'll be able to get around it by using recorded snippets instead of a live walkthrough. BUT I'm creating a repo to share f

[2022-06-03 22:23] thedavidprice commented on #5632
Hi all! Just an update here — we've been coming and going from time off, which is why Dom went silent.

Yeah, removing core-js is not a near-term option 'cause of polyfills. Definitely want to keep track of any issues you encounter, post workaround or fixes for others, and report Issues upstream as needed.

@dac09 Thought this should be on your radar as well.

[2022-06-04 01:25] joconor opened #5689 "RedwoodJS scaffold can't handle a Prisma multi-field ID (composite ID) on the model"
Prisma model:
[code]
`yarn rw prisma migrate dev` runs successfully
`yarn rw g scaffold xpolicy` results in error:
[code]

Shouldn't this be as simple as using the Prisma generated composite ID field for the SDL? See https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#id-1

[2022-06-04 04:20] pi0neerpat opened #5691 "React hook unmounting in whileLoadingAuth"
The `whileLoadingAuth` feature is great https://redwoodjs.com/docs/router#loader-while-auth-details-are-being-retrieved. However it fails when the loading component uses any hooks eg `React.useState` or `react-spring` to create an animation

![Peek 2022-06-03 23-20](https://user-images.githubusercontent.com/35622595/171982496-c32986ec-64c7-4952-871f-47e3b5bc7ffa.gif)

Is there some way to unmount

[2022-06-04 09:25] #5542 closed

[2022-06-04 10:56] timseriakov commented on #5668
Found a solution in my case, my project has been successfully upgraded to RedwoodJS `1.5.2-canary.99`

[2022-06-04 17:56] tal commented on #5661
I can have personal suggestions for how to handle this ambiguous case well (I'd probably error if it's ambiguous and encourage the person to include `__typename`). But if two identically shaped types cannot be resolved from each other then there should at least be an error when the sdl is parsed.

In the app code that caused this problem I manually assigned `__typename` anyways, so that's not an i

[2022-06-04 20:56] mdkess opened #5693 "Typo in tutorial routing params"
https://redwoodjs.com/docs/tutorial/chapter2/routing-params

In the part for `web/src/components/ArticleCell/ArticleCell.tsx`, it has the snippet

[code]

This should be `article` instead of `articles`, and also handle the null case (at least as far as typescript is concerned)

[code]

[2022-06-04 22:54] ajcwebdev commented on #4717
@chantastic, any chance someone on the Storybook team might be able to help us diagnose and either remedy the issue or find a good work around?

[2022-06-04 23:07] ajcwebdev commented on #5632
`core-js` again, my mortal enemy. Definitely appreciate your pain, some of the most cryptic and long lasting bugs I've ever seen in Redwood have come from `core-js`. I think the sooner we can get rid of it the better.

As David said though, it's gonna be a massive undertaking since Peter had to go and build the whole framework around Babel 😆. [Here's a pretty lengthy issue related to the last time

[2022-06-05 17:14] joconor commented on #5689
I should clarify: I’m raising this issue in the context of a single table with a composite key. Not an implicit many-to-many relation. It would be useful if RedwoodJS could distinguish between the two cases and proceed with scaffold generation when a composite key isn’t being used in a many-to-many relation

[2022-06-05 18:02] Leon-Sam commented on #5693
I just ran into the same issue today, I made a quick PR for it. [HERE](https://github.com/redwoodjs/redwood/pull/5695) is a link to the PR.

[2022-06-06 12:45] callingmedic911 commented on #5693
Thanks to both of you for spotting and quickly fixing the issue. Much appreciated!

[2022-06-06 12:45] #5693 closed

[2022-06-06 16:45] MichaelrMentele opened #5696 "When Building with Netlify Env does not get passed down to the API when served"
DISCLAIMER: it seems this is a quirk of the netlify implementation details for serving up functions rather than a redwood issue but raising it here for posterity, searchability, and for capturing any discussion about possible ways forward.

When running the build and deploy step for netlify we are using a plugin that overrides the `DATABASE_URL` environment based on the context.

We have verified

[2022-06-06 16:46] MichaelrMentele commented on #5696
Our current way plan to get around this is to modify the `netlify.toml` file at build time as suggested by @KrisCoulson in slack

[2022-06-06 20:14] BSKnuckles commented on #5663
This would also be really helpful for Pages

[2022-06-06 21:05] cannikin commented on #5663
We do support directories, although they seem to be buggy at times...I think the routes can up weird? I'm also not sure if you can arbitrarily nest them as deep as you want.

I don't think they're documented very well (if at all) which doesn't help!

[2022-06-06 21:08] BSKnuckles commented on #5663
With the generator commands though? I’ve manually reorganized my pages and components but have to rerun the types generator after making any moves. The routes file also gets needlessly verbose when pages are nested.

[2022-06-06 21:16] cannikin commented on #5663
Hmm, maybe not...this behavior may have changed? I just ran:

    yarn rw g page admin/User admin/user

Expecting it to create `web/src/admin/UserPage/UserPage.js` but:

[code]

And the route that was generated:

[code]

So the path was respected, but didn't put the named route in the expected path. We've had a couple of updates to fix casing issues (like wanting to create APIPage instead of ApiPa

[2022-06-06 21:40] KrisCoulson commented on #5663
There is an open issue for this. https://github.com/redwoodjs/redwood/issues/340

@cannikin what you are thinking of is scaffolds which do respect the path. https://github.com/redwoodjs/redwood/pull/423

But yes this is definitely something that the generators should be able to handle. There was more discussions on the forums about this aswell

https://community.redwoodjs.com/t/how-to-use-feature-

[2022-06-07 11:29] aleeusgr opened #5700 "yarn rw prisma migrate dev fails on nixOS"
Following the tutorial
`yarn rw prisma migrate dev`
returns
[code]

I found this doc: Provide precompiled binaries for NixOS
https://github.com/prisma/prisma/issues/3026

I will update the issue if I find a way to make it work
Thanks

[2022-06-07 11:42] aleeusgr commented on #5700
following the doc, created the `flake.nix` and `.envrc` files
also need to `mkdir .direnv`
then:
`$direnv eval`
returns
[code]
 step:
 add glibc to configuration.nix and `#nixos-rebuild switch`

[2022-06-07 15:42] timseriakov commented on #5668
Thanks, that's right, after upgrading to version 1.5.2-canary.99, the error is gone

[2022-06-07 15:45] dthyresson commented on #5120
@realStandal If you'd like, definitely. I think it works fine, just could use some tests.

[2022-06-07 17:43] JesseKoldewijn opened #5705 "Project absolute path issues"
When running ```yarn rw dev``` users might get the following error:

[code]

I personally ran into this problem both on Windows and Linux/OSX.

What might be a good solution if possible is to check the project's absolute directory path on both the project creation and dev script because this error seems to pop up due to special characters in the absolute path of the project.

Another solution coul

[2022-06-07 17:48] standup75 commented on #4739
I can clearly see that happening on https://superstore-redwood-stripe.netlify.app/ (from https://github.com/redwoodjs/example-store-stripe) and we also see calls to the cell being 2x and the first call being canceled by the second one, something not clean is going on

[2022-06-07 21:05] MrEmanuel opened #5708 "Error generate graphql types when following tutorial, trying to create a cell"
Hi! First off, awesome project!

I'm following the tutorial and running in to some issues that I can't solve.
I'm trying to create the cell with:
`yarn rw g cell Articles`

This gives me the following error message:
[code]

Earlier in the documentation it says:

Reload the GraphQL engine in VSCode: open the Command Palette (Cmd+Shift+P for Mac, Ctrl+Shift+P for Windows) and find "VSCode GraphQL: M

[2022-06-07 21:19] MrEmanuel commented on #5708
Also, I just downloaded everything today so I'm pretty sure I got everything up to date.
My `package.json` files:
in web:
[code]

In the root:
[code]

`yarn --version` 3.2.1
`node --version` v16.13.1
`yarn rw check`  Success: no errors or warnings were detected (I added NODE_ENV to .env just now)
`yarn rw info`:
[code]

[2022-06-07 21:53] MrEmanuel commented on #5708
I noticed I have yarn 3.
So I downgraded, made another project and tried creating a cell again.

[code]
As you can see, I verified I have the correct version of yarn.

[2022-06-08 12:17] hsongra11 commented on #4885
Hi @simoncrypta

I am also facing the same issue - tried `yarn cache clean` as well as `yarn cache clean --mirror`

This is the response I am getting

`  at processTicksAndRejections (node:internal/process/task_queues:96:5) {
  shortMessage: 'Command failed with exit code 1: yarn install',
  command: 'yarn install',
  escapedCommand: '"yarn install"',
  exitCode: 1,
  signal: undefined,
  signalDe

[2022-06-08 15:43] Anishpras commented on #5682
@cannikin Can I work on this issue?

[2022-06-08 17:41] cannikin commented on #5682
Sure thing!

[2022-06-08 18:13] xmonkee opened #5713 "mockRedwoodDirective fails when ValidatorDirective is async"
### Issue
`mockRedwoodDirective` does not await the inner validator function, thus making it hard to test that an async validator functions throws an error

### Repro
1. Generate a new directive (validator):
```yarn rw generate directive requireSomething```
2. Make the validator function async:
[code]
3. Run the default tests
[code]

It will give two errors: `Received function did not throw` and t

[2022-06-08 18:56] filippofinke opened #5714 "Custom API Key Authentication"
It would be nice to have a custom authentication that allows you to manage the authentication using API Keys.

For example, add a configuration to the dbAuth class that allows the reset and forgot password methods to be disabled. In addition to that also an option that disable the hash function on the password.

[2022-06-09 05:25] #4953 closed

[2022-06-09 13:32] juliomac commented on #4885
I have the same problem and yarn 1.22.19

I followed your video but, after doing ```corepack prepare yarn@3.2.0 --activate```, I have checked ```yarn -v```and still got version 1.22.19 !

Problem persists! I am running a Mac OS X Big Sur trying to run Redwood's tutorial.

[2022-06-09 16:38] Tobbe opened #5727 "Docs: Link to edit should have a more descriptive title"
https://github.com/redwoodjs/redwood/pull/5658 changed the link to edit a page to always point to the docs in `/docs` instead of `/docs/versioned_docs`. We want to also change the text to be more explicit about what version (i.e. Canary) that it'll edit.

The text could be "Edit the most recent version of this page", "Edit the latest version of this page" or "Edit the Canary version of this page"

[2022-06-09 19:05] realStandal opened #5728 "Telemetry opens an onslaught of command prompts when ran on Windows"
### What's happening?

Whenever a command is ran which hooks into [RedwoodJS' telemetry](https://telemetry.redwoodjs.com/), it causes an assortment of command prompts to open - breaking the user's focus and being a general nuisance. It appears this issue is only occurring on Windows machines - though this may be wrong.

![ezgif com-gif-maker_4](https://user-images.githubusercontent.com/25166787/17

[2022-06-09 19:51] AlejandroFrias commented on #5696
We have found a solution!

We use the plugin [netlify-plugin-contextual-env](https://github.com/cball/netlify-plugin-contextual-env) in combination with a custom script based off of [netlify-plugin-inline-functions-env](https://github.com/bencao/netlify-plugin-inline-functions-env).

1. Modify `api/src/lib/db.[js|ts]` to programmatically override the db url: https://www.prisma.io/docs/reference/ap

[2022-06-09 22:39] simoncrypta commented on #4885
@hsongra11 @juliomac Thanks to let us know. I will check the team to solve this, but it feels like we got different bugs here with the same output.

[2022-06-10 01:16] NotoriousGOR opened #5729 "I'm too lazy to write `yarn redwood dev`"
Can we add a simple script to the package.json file where we can do something like `yarn dev` instead of `yarn redwood dev`?

proposed code:

`"scripts": {
    "dev": "redwood dev"
  },`

[2022-06-10 02:49] simoncrypta commented on #5729
Ahaha I feel you, I was probably too ashamed to say it :zany_face:

You know that you can also write `rw` as short for `redwood`.

What do you think if the default command for `yarn rw` will be `yarn redwood dev ` like `yarn`  is default for `yarn install`?
It will probably be more maintainable. I also like your idea !

[2022-06-10 03:31] NotoriousGOR commented on #5729
I think that can work! As long as it’s not the full `yarn redwood dev` Lol

[2022-06-10 03:40] KrisCoulson commented on #5729
@NotoriousGOR another thing you can do in your .bashprofile or .zshrc is add an alias

`alias rw="yarn rw"`

boom now you can just do `rw dev` or an other command

[2022-06-10 06:43] #5655 closed

[2022-06-10 09:57] #5079 closed

[2022-06-10 12:57] #5612 closed

[2022-06-10 13:00] jtoar commented on #5620
@Shadowbeetle sorry for the late reply, there's no specific reason for that doc being the way it is other than the one you mentioned. A PR would be more than welcome!

[2022-06-10 13:03] jtoar commented on #5642
Hey @msichterman, that's an interesting idea. You're more than welcome to open an issue in this repo; I can share it with the team and then we can discuss more there.

[2022-06-10 13:04] jtoar commented on #5642
(We could also discuss it here too. Just wanted you to know that you could open an issue if you wanted.)

[2022-06-10 13:14] simoncrypta commented on #4885
@juliomac Do you try the codemod command ?

`npx @redwoodjs/codemods@canary upgrade-yarn`

Let me know if that works!

[2022-06-10 13:19] jtoar commented on #5728
I'm hoping that if we set the `windowsHide` property to true here, this may go away:

https://github.com/redwoodjs/redwood/blob/39e86c68d23552a8bf811c5bad7ab1ce0e8d89c4/packages/telemetry/src/telemetry.ts#L8-L17

@realStandal would you be able to test https://github.com/redwoodjs/redwood/pull/5734 locally? Or if it's easier, just make the change to `node_modules/@redwoodjs/telemetry/dist/telemetry

[2022-06-10 14:50] jtoar commented on #5700
Hey @aleeusgr I tried to use NixOS once and ran into this. Safe to say I didn't get it working, but it looks like support for it improved in the time since (referring to that Prisma thread you linked).

I couldn't quite tell from your second comment—did you get it working?

[2022-06-10 14:56] jtoar commented on #5675
Hey @asaf-stafflink thanks for your patience, I was able to confirm this locally. @dac09 I haven't had a closer look yet but do you it could be related to what @asaf-stafflink suggested?

[2022-06-10 15:10] jtoar commented on #5668
Hey @timseriakov I was able to reproduce using the steps you enumerated (thanks!) and while upgrading to the canary does fix that error, do you not get this one about mock service worker after?

<img width="1408" alt="image" src="https://user-images.githubusercontent.com/32992335/173095725-dcb9ced0-1878-4a41-aa78-7fcc7f1d9d88.png">

[2022-06-10 15:31] aleeusgr commented on #5700
@jtoar not yet.
`cd redwoodblog`
`direnv allow`
`eval "$(direnv hook bash)"`
[code]
`yarn rw prisma migrate dev`
[code]

I added glibc to my nixOS configuration, but it didn't help. I'm figuring out why

[2022-06-10 15:54] aleeusgr commented on #5700
also found this:
https://github.com/pimeys/nixos-prisma

[2022-06-10 15:56] cannikin commented on #5663
If we made the scaffold generator interface the same as the others then if you did `yarn rw g scaffold admin/user` it would look at the path `admin/user` and take the last part `user`, assume that was a model, do everything the scaffold normally does from there, but put everything in a subdirectory `admin`. When scaffolding we already put everything in a subdirectory named for the model to help or

[2022-06-10 16:04] BSKnuckles commented on #5663
FWIW, I have nested SDLs in my project and would love to be able to nest the services to match. When you get more than a couple of SDL files it's much easier to organize them into folders.

For example, I have 8 different Stripe-related SDL files. I have them nested in a stripe folder and this works fine, but the services do not map properly unless they are flat, so that directory has become unrul

[2022-06-10 16:23] MrEmanuel commented on #5708
It turns out this is a pedagogical issue.

On this page: https://redwoodjs.com/docs/tutorial/chapter2/cells
After this command: `yarn rw g cell Articles`
I was expecting the app to work. I restarted the dev server and got the above mentioned error. Then I started searching high and low for what the issue was... Something wrong with the graphql-server? The type generations didn't seem to be working

[2022-06-10 18:03] jaaneh opened #5737 "Tutorial YouTube video embed - can't fullscreen"
Hi there!

Very excited to finally be trying out Redwood, and I thought the easiest way would be to just follow along with the tutorial in the docs. These pages also have a YouTube embeded video that cannot be fullscreened.

I can see that [the iframe](https://github.com/redwoodjs/redwood/blob/main/docs/docs/tutorial/chapter1/prerequisites.md) includes the _allowfullscreen_ tag, but it's not prese

[2022-06-10 18:03] realStandal commented on #5728
@jtoar I don't actually use Windows anymore, just creating the issue for the community member who ran into the bug - sorry!

(not sure of their GitHub, but I linked their Discord username in the issue)

[2022-06-10 19:11] rushabhhere commented on #5728
I am on Windows and I tried adding this to the telemetry.js file but to no avail, the issue persists.

[2022-06-11 03:30] justinkuntz opened #5738 "RW Scaffold results in linter issue with generated Service file"
Quick Overview:

After upgrading to RW v2.0.0, running the `yarn rw lint --fix` cleans up the Services files swapping `import { db } from 'src/lib/db'` to be below:
`import type {
QueryResolvers,
  MutationResolvers,
  UserResolvers,
} from 'types/graphql'`

Problem:
Running `yarn redwood generate scaffold <model>` generates Pages, SDL, and Services files based on a given DB schema Model. However,

[2022-06-11 05:55] jtoar commented on #5738
Thanks for the report @justinkuntz, I was able to confirm this locally. I saw red squiggles not only in the service files, but also in a host of others on the web side as well. Did you also see errors in files on the web side?

For the service files, linting the templates makes sense. But the other files were existing code that was modified, so for those it seems like the only solution is to run l

[2022-06-11 06:22] jtoar commented on #5737
Hey @jaaneh, I was able to confirm this. Weird. 🤔 I tried a few things in this thread to no avail https://stackoverflow.com/questions/27723423/youtube-iframe-embed-full-screen.

The way docusaurus processes these files a little tricky cause they contain both markdown and HTML, which isn't usually out of the ordinary but you can add React JSX too so all HTML is actually processed as React JSX (I th

[2022-06-11 06:23] jtoar commented on #5728
No worries @realStandal, the write up was great as is, and thanks @rushabhhere! I'll keep thinking about what could be the issue.

[2022-06-11 06:27] jtoar commented on #5713
Thanks @xmonkee, I was able to confirm this one. @dthyresson is the mind behind many of the GraphQL integrations in the framework so I'll tag him here to see what he thinks about your fix.

[2022-06-11 06:50] jtoar commented on #5708
Hey @MrEmanuel we're very sorry you had to go through all of this! 😔 Your persistence was incredible though, so I commend you. We've been needing better DX around this for some time now. See https://github.com/redwoodjs/redwood/issues/5538.

That assumption is correct. And the generated code should work—it's generated code at the beginning of the tutorial!

One clarification here: the dev server d

[2022-06-11 06:57] justinkuntz commented on #5738
I did find other files on the web side as well. Only the ones generated by the scaffold after upgrading seem to be the issue. Simply opening and saving fixed em right up. I think lint --fix caught the existing files.

[2022-06-11 07:45] jtoar commented on #5691
Thanks for the detailed writeup and reproduction @pi0neerpat, was able to confirm this using the component from the repo you linked. I think I have a fix for it. It seems to work locally for me but would you be able to test it out? https://github.com/redwoodjs/redwood/pull/5739

[2022-06-11 07:51] jtoar commented on #5662
Hey @hos200sa, glad to hear you're liking redwood so far! And as to your question, unfortunately you'll have to do that manually at the moment.

But if you scaffold `Book`, there should be a `Shelf` field, cause a book can only ever be on one shelf so that's easy for us to generate a field for. But I'm pretty sure we don't have support for the other way around at the moment.

[2022-06-11 08:11] Tobbe commented on #5691
This our test for `whileLoadingAuth`

[code]

@pi0neerpat Could you try `<Private whileLoadingAuth={() => <Loader />}>`?

[2022-06-11 08:20] jtoar commented on #5667
Thanks for the writeup and reproduction @xmonkee, I was able to confirm this one. This one isn't my forte so I'll ask the team what they think about possible solutions.

[2022-06-11 08:40] jaaneh commented on #5737
@jtoar Thanks for attempting to fix it. Definitely sounds like a weird bug. I'll give it some time later today and see if I may be able to figure something out and report back.

No issue opening it in a new tab for now, just a QoL more than anything.

[2022-06-11 08:50] MrEmanuel commented on #5708
@jtoar Thanks for your reply.
The dev server starts and runs fine, even if I got the error. I mentioned this in one of my bullet points.

What everything boiled down to was that I wasn't comfortable to continue the tutorial with an active error. I didn't know it was part of the tutorial and that it was going to be fixed later. :)

So, I managed to continue the tutorial and I'm well on my way to fi

[2022-06-11 09:03] jtoar commented on #5657
Hey @joconor, amazing breakdown! 👏

It definitely feels like there's starting to be a bit too much cruft in the code that runs when importing some Redwood packages... as you've demonstrated, it's quite the rabbit hole. And it also just feels a bit too mutative to have packages start executing code as soon as they're imported. I investigated it a bit here where I traced an error with the `cwd` opti

[2022-06-11 11:05] ubugnu opened #5743 "The example repo of intermission is JS only"
Some of your readers may just want to continue as they started, namely, with typescript.

[2022-06-11 11:21] jaaneh commented on #5737
@jtoar According to [this](https://stackoverflow.com/a/27784769) on stackoverflow, adding `fullscreen;` to the allow attribute should do it. Can confirm this also works when testing.

[code]

I can submit a PR for this if you wish. If so, do you want this to be fixed on all occations where a YouTube embed is present, such as in versioned docs and canary?

[2022-06-11 18:30] simoncrypta commented on #4980
@Philzen Did you finally have a solution to get your storybook config merged with the Redwood config correctly ?
You can see the config here : https://github.com/redwoodjs/redwood/blob/7560fc994d0b02bb8afe13ca737504478401bfa0/packages/testing/config/storybook/main.js#L42

I'm closing this issue for now, but don't hesitate if you think something should be fixed, I will reopen it.

[2022-06-11 18:51] simoncrypta commented on #5714
@filippofinke  It can be interesting to have an API key Auth for Redwood, especially for project that only use the API side. However, it is important to note that API key are not consider secure and are for project, not user. So I don't think we can really use dbAuth to that. A new auth provider for API only can be an intriguing idea to develop.
What is your use case for a custom API Key Authentic

[2022-06-11 18:59] simoncrypta commented on #5705
Hi @JesseKoldewijn thanks for this issue !

Can I know what is the special characters ?

[2022-06-11 20:35] JesseKoldewijn commented on #5705
@simoncrypta hello, the special character that caused issues was the single quote

[2022-06-11 21:34] Hanaffi commented on #5060
Can you give a hint on this?
I want to handle it

[2022-06-12 04:54] AlonHor commented on #5728
The title says "Windows (PowerShell)" but I have the same issue when using Git Bash on Windows.

[2022-06-12 07:08] 0x15F9 commented on #4980
Hello @simoncrypta. I need to add custom rules as well to enable storybook to use LESS. Could you indicate the direction to take within `@redwoodjs/testing/config/storybook/main.js` to enable such rules to be loaded from `storybook.config.js`? Also, if that's something people would want, I could make a PR for the same.

[2022-06-12 08:14] kristiyan-ASW-G-08 opened #5748 "MongoDB dbAuth Bug :Cannot read properties of undefined (reading 'findUnique')"
Hello. Recently i started learning this awesome framework and building my own tcg game with it, but I encountered a bug when working with MongoDB.
I get Cannot read properties of undefined (reading 'findUnique') and the source is AuthProvider.js 207:1 and dbAuth.js 99:1 I also get Property 'user' does not exist on type 'PrismaClient<{ log: LogDefinition[]; }, never, false>'. But im not sure whethe

[2022-06-12 08:18] AlonHor commented on #5748
I think in MongoDB it's findOne and there is no findUnique

Not sure tho.

[2022-06-12 08:37] filippofinke commented on #5714
I am currently writing an internal tool for my company.

The users go to the application written in redwoodjs with a custom browser that shares hostname and mac-address of the machine they are using, different machines have different roles.

The application uses the hostname as username and the mac-address as API Key.

[2022-06-12 09:40] kristiyan-ASW-G-08 commented on #5748
@AlonHor .I changed findUnique in getCurrentUser  with findOne and i still get the same findUniqueError.  It is really weird. I also get user does not exist on type PrismaClient.

[2022-06-12 10:23] SarveshLimaye commented on #5589
@cannikin Can I work on this one ?

[2022-06-12 16:36] simoncrypta commented on #5714
Interesting, is a very unique way of doing auth for a web app. I know that we should have a custom auth setup that can be a good starting point for doing this, but… it not there yet. https://github.com/redwoodjs/redwood/issues/1585
Maybe your use case can be taken in consideration for the custom auth setup.

Also, someone wrote how he had made a custom JWT auth with Redwood in this forum thread :

[2022-06-12 17:07] simoncrypta commented on #4980
Hi @0x15F9 ! So from my understanding, only addons are exposing to be merged with the base config, so I think that the problem. I don't know who can we give access to webackFinal except maybe by overwrite the base config completely. @virtuoushub do you have an idea for that ?

[2022-06-12 17:42] cannikin commented on #5589
Absolutely!

[2022-06-12 17:46] pi0neerpat commented on #5691
Tried using `duration: 1` and using the `cancel` prop, but no luck https://github.com/pi0neerpat/redwood-devops-example/commit/0f3b202b9718990c5f4678c6c58bcaaeab13f2e4

`<Set whileLoadingAuth={() => <Loader />}>` Fixes it! Thanks yall!

[2022-06-12 22:14] asaf-stafflink commented on #5675
Thank you, @jtoar and @dac09 I can verify as soon as you have a branch/PR to test

[2022-06-13 03:44] mewben opened #5751 "MongoDB Could not find rootField executeRaw for action executeRaw for model undefined on rootType mutation"
I suppose MongoDB is not yet supported for api testing?

`redwoodjs/redwood/packages/testing/config/jest/api/jest.setup.js`

[2022-06-13 08:31] ngoctranfire opened #5753 "Webpack Error with `Yarn RW Dev`"
I can't seem to get yarn Rw Dev. This is after updating my Mac to the latest version. I'm on the 2019 Intel Mac Version, 16 inch.
I'm currently on Mac OS Monterey, Version 12.4.

Would greatly appreciate any help in trying to debug this and fixing this issue. I can't do yarn rw dev at all.

[code]

[2022-06-13 09:49] The-Bot11 commented on #5753
Must update webpack-cli to 4.10.0

how i fix this issue :

- installed the latest version of webpack-cli@4.10.0 & webpack@4.73.0
- remove webpack-cli & webpack folders from "/node_modules/@redwoodjs/core/node_modules/"

that work for me

[2022-06-13 10:05] The-Bot11 commented on #5753
Hello, I have same issue

it just need update webpack-cli to 4.10.0

how i fix this issue :

-     installed the latest version of webpack-cli@4.10.0 & webpack
-     remove webpack-cli & webpack folders from "/node_modules/@redwoodjs/core/node_modules/"

[2022-06-13 10:07] The-Bot11 commented on #5753
Hello, I have same issue

it just need update webpack-cli to 4.10.0

how i fix this issue :

-  installed the latest version of webpack-cli@4.10.0 & webpack
- remove webpack-cli & webpack folders from "/node_modules/@redwoodjs/core/node_modules/"

[2022-06-13 13:35] jtoar commented on #5753
Thanks for the report @ngoctranfire, according to this issue in webpack-cli, upgrading to v4.10 should fix it. We've got a PR in progress now:
- https://github.com/webpack/webpack-cli/issues/3294
- https://github.com/redwoodjs/redwood/pull/5756

[2022-06-13 14:29] jtoar commented on #5753
This has been patched in v1.5.2: https://github.com/redwoodjs/redwood/releases/tag/v1.5.2. Please upgrade via `yarn rw upgrade` and let us know how it goes!

[2022-06-13 14:29] #5753 closed

[2022-06-13 15:54] ThirenG187 opened #5757 "Weird Issue with Windows 11 cmd"
Hi, When opening vscode and when running 'yarn rw dev' my cmd keeps poping up and closing not sure what tasks is being run, but can this not be a background process as the windows keep getting focus when I am writing code and it's getting annoying.

[2022-06-13 17:21] thawindu126 commented on #5751
I'm having the same issue

[2022-06-13 19:15] nowlena commented on #4739
This has been a deterrent for me as well. While it's probably completely fine I don't want to use this auth solution since it's making so many extraneous calls.

Maybe I can try to dig into this and see if there's a way to:

1. return an `accessToken` from the login route as data (_not a cookie_)
 - when a user logs in they receive their user data but also their access token as part of the payload

[2022-06-13 19:55] cannikin commented on #4739
If you're looking at creating major structural changes please open an RFC issue so we can discuss! 🙂

You're welcome to create a new kind of auth client (cookieTokenAuth?) but I want dbAuth itself to stay as is—simple, single cookie authentication. I'd rather look into a way to batch these multiple `getToken` calls so that there's only one per "page" but that will probably require re-working how a

[2022-06-14 05:24] timseriakov commented on #5668
Thank you for your time. Absolutely right, at the moment I am getting this error in SB build after upgrading to canary.99. Everything else works well

[2022-06-14 15:41] remygendron commented on #5708
Got the same error... and after looking around, I saw that the types/graphql.d.ts file had not been generated properly... the ArticlesQuery was not in the file.

If fixed the issue with : yarn rw g types

[2022-06-14 16:11] jtoar opened #5761 "Collision in Cells with apollo return"
Will expand on this later, but if your query returns data called "client", it collides with apollo client's useQuery return. See https://discord.com/channels/679514959968993311/986010170658267217.

[2022-06-14 17:03] #3512 closed

[2022-06-14 17:17] cannikin opened #5762 "Add note in tutorial about potential error messages when generating a Cell without a corresponding SDL"
In the later sections of the tutorial we build out the comment engine totally in Storybook before doing anything with the backend. Currently we show some nasty warning/error messages about types not being able to be generated. There will also be red squiggles in VS Code around the QUERY at the top since there's no SDL that provides those types/fields.

Let's add a callout block before this section

[2022-06-14 17:30] dac09 commented on #5696
Thank you for raising this issue and the suggested solutions!

Let's keep them coming but I'll close out the issue as it is specific to Netlify

[2022-06-14 17:30] #5696 closed

[2022-06-14 19:39] zloirock commented on #5587
@dac09 hmm... What is `@babel/plugin-transform-runtime` if not transpiling? -) Why do you think that your test case should not contain `'@babel/runtime-corejs3/core-js/instance/find'`? Babel is not so smart to understand that it's not inherited, for example, from `Array`.

[2022-06-14 19:57] dac09 commented on #5587
Haha I guess I meant transpiling in the sense that, transforming latest ES syntax to ES5. Not sure how we can exclude core-js if we're only using the transform-runtime plugin to add polyfills.

Yeah thought it might be the case. The reason the test case shouldn't contain it, is because we defined find in the super class - and not using `Array.find`. Is the only solution here to suggest not using "

[2022-06-14 20:06] zloirock commented on #5587
Yes, now it's the only solution if you use `@babel/preset-env` / `@babel/transform-runtime` / `babel-transform-corejs3` (except for a few dirty hacks).

[2022-06-14 20:31] dthyresson commented on #5642
@msichterman We discussed the idea of having the NotFound wrapped in a Set, but determined that this would be difficult for the router to do and involve significant change. cc @Tobbe

Instead, we'll document that you can include a Layout inside your custom NotFound page.

Thanks for understanding.

[2022-06-14 21:23] cannikin commented on #5762
@dac09 How's this sound?

<img width="735" alt="image" src="https://user-images.githubusercontent.com/300/173691554-b689b792-fad0-4b62-a25f-5d21275dffc6.png">

[2022-06-14 21:43] dac09 commented on #5762
LGTM!

[2022-06-14 22:23] #5762 closed

[2022-06-14 23:09] dthyresson commented on #5713
@dac09 Thoughts on letting validator directives be async?

[2022-06-14 23:11] dthyresson commented on #5729
@NotoriousGOR does the "rw" shortcut and/or alias solution work for you. If so, then we can close out this issue. Thanks!

[2022-06-14 23:12] dthyresson commented on #5120
As part of the making rework, have confirmed that options are working as expected.

[2022-06-14 23:12] #5120 closed

[2022-06-14 23:13] #5670 closed

[2022-06-14 23:35] dac09 commented on #5713
I’m a little spread thin DT - I don’t want to get in the way of you investigating/solving this!

[2022-06-14 23:41] dthyresson commented on #5713
@dac09 I still planned to review, I just wanted to know if you had any reservations about a validator making some sort of async call (like a db query inside the graphql execution).

[2022-06-15 11:05] ngoctranfire opened #5767 "Yarn RW Prisma migrate Dev Breaks for Database_URL from Supabase"
I'm trying to start a Redwood Project and I want to use Supabase Postgresql Database. However, I can't seem to connect and run migrations on my Database. I'd love to get some help with this.

Here's my error:

[code]

[2022-06-15 12:29] TristanWYL commented on #5221
Hi guys, as I have not found a related repository under active development, so I develop this on my own. Hopefully I can finish it within this weel. Check the [repo](https://github.com/TristanWYL/redwood-realworld-example-app) in case you are interested.

[2022-06-15 12:41] #5738 closed

[2022-06-15 14:41] #5010 closed

[2022-06-15 21:51] JHammer494 commented on #5689
I would also like to add as a related item that the redwood scaffold generator defaults the @id field name to id regardless of what the field is titled. It does not look like Redwood generate is looking dynamically for what field name is attached to the @id field, only the field IdType

[2022-06-16 14:35] MichaelrMentele opened #5775 "Typescript is Broken when Renaming Cells"
**Problem**
If you generate a cell and then decide to rename the file and exports to something else say from `fooCell` to `barCell` typescript will not understand the import of `barCell` saying it does not exist despite the code functioning as intended.

**Workarounds**
* regenerating types does not resolve the issue
* best work around is to copy the contents of the cell files, rename it by regene

[2022-06-16 15:43] dac09 commented on #5481
Hey @orta - I'm wondering if I could get your help on the last remaining issue?

To summarise the problem:

- Prisma's return types for findUnique is `Promise<Model | null>`
- vs graphql-codegen expected type is `Promise<Model> | Promise<null>`

This means that you can't just return from a `db.model.findUnique` call in a service/resolver, but instead you need to do
[code]

Here's [a playground rep

[2022-06-17 00:32] pi0neerpat commented on #5120
Are all these types of logs intended to come through? Our logs are extremely cluttered, I added a video below.

[code]

https://user-images.githubusercontent.com/35622595/174199339-ba7a5888-9b7c-4365-9e11-623f544cda6a.mp4

[2022-06-17 01:21] dthyresson commented on #5120
These debug level logs come from within GraphQL Yoga itself. I was looking into a PR to modify it to be less chatty but hadn’t found a solution yet.

[2022-06-17 01:22] dthyresson commented on #5120
To reduce clutter you can set the log level in dev to “warn”

[2022-06-17 03:47] pi0neerpat commented on #5120
Ok thank you!

[2022-06-18 04:31] dzcpy commented on #2429
Any updaets?

[2022-06-19 02:17] mileshenry31 opened #5779 "Redwood project doesn't have sufficient permissions to save files on Mac."
Every time I create a new Redwood project and try to edit/save a file I don't have sufficient permissions. After I run `sudo chmod 7777 -R [project-directory]` it gives me the correct permissions for all the current files but when I add more I have to rerun the command every time.

[2022-06-19 03:55] TristanWYL commented on #5221
Hi guys, this piece of work is basically done, and I have already submitted it to [realworld](https://codebase.show/projects/realworld?category=fullstack) for further review.

In addition, as I have to work on other projects, so I have not finished the test part, and some potential performance improvement. I shall work on the improvement/test when I have time. Any contribution and advice will be m

[2022-06-20 01:02] TristanWYL commented on #5221
Hi guys, our implementation has been approved and is now listed on the [project's home page](https://codebase.show/projects/realworld?category=fullstack).

[2022-06-20 03:51] ebramanti commented on #5481
@dac09 Not sure if this helps for the `findUnique` but maybe there's a way to use mappers to override the type in the codegen? I saw this comment, pretty old so not sure if it exactly solves the issue: https://github.com/dotansimha/graphql-code-generator/issues/1793#issuecomment-488302686

[2022-06-20 11:08] orta commented on #5481
I asked in the discord, where we got some pretty good explanations about why structurally you can only really compare in one direction:

![image](https://user-images.githubusercontent.com/49038/174581146-e54b915d-12d1-4472-b326-0255c20e257b.png)

Which I think makes sense generally, what you accept for one of those - personally, I think switching graphql-codegen to use `Promise<Model | null>` make

[2022-06-20 13:16] #5729 closed

[2022-06-20 18:28] nikospapcom opened #5784 "Auth0 & Vercel deployment"
Hello there

I'm using auth0 to authenticate my users but I have a problem when I'm pushing to vercel

I don't know what I need to put in  `Allowed Callback URLs` and `Allowed Logout URLs` for dynamic branches preview in vercel

I tried something like this `https://*.vercel.app` but it didn't work

Has anyone else the same problem?

Thanks

[2022-06-20 19:08] joconor opened #5785 "yarn rw deploy serverless --first-run uses old API_URL"
When deploying to AWS via the Serverless framework, the `--first-run` flag is used to instruct the deployment to create the linkage from the web side to the api side using API_URL. API_URL is not set until after the api side is successfully deployed, at which time the web side knows where to find the api.
However, if API_URL is already set, likely from a prior deploy, _even though API_URL is overw

[2022-06-20 19:25] joconor commented on #5785
Additional verification: In your deployed app's directory, use `grep -rl "old-url-here" .` to verify that the old API_URL value is present in the deployed web/dist/static/js/app.????????.js file (where "old-url-here" is the API_URL from step 4)

[2022-06-20 20:35] cannikin opened #5786 "Update Auth doc"
The current auth doc leaves out a ton of information about how Redwood auth works (specifically `api/src/lib/auth.js`). I did a quick once-over and better explained how `useAuth` works, but it needs way more work.

[2022-06-20 23:42] joconor commented on #5785
Hypothesis: The first-run process relies on reloading the environment via dotenv-default. See https://github.com/redwoodjs/redwood/blob/e2033adbe8ec74e894e3c81073f3e606bd9c496b/packages/cli/src/commands/deploy/serverless.js#L181. But if I'm correct, this is similar to another issue I've filed, #5657 , where the issue is caused by dotenv-default (and dotenv) do not overwrite any environment variabl

[2022-06-21 00:05] mmmeff opened #5788 "rw build --side=api ignores redwood.toml [api] path configuration"
## Description
The command, `yarn rw build --side=api` breaks on prisma schema loading when using a custom path for the API project.

## Reproduction Steps
1. create a fresh redwood project with `yarn create redwood-app`
2. create a new directory in the root of the project, `apps`
3. Move the `api` directory created by redwood into the new `apps` directory
4. Edit `redwood.toml` and set the `path`

[2022-06-21 09:15] razzeee commented on #5539
I've done something similar I think https://community.redwoodjs.com/t/oauth-implementation-via-gitlab/3496

[2022-06-21 11:11] Morishiri opened #5792 "dbAuth: Provide a possibility to disable certain flows completely"
**Feature request**
As a developer I would like to have an option to disable dbAuth handlers completely, e.g. `signup`, `forgotPassword`, `resetPassword`, Doesn't make sense to disable `login` I think.

**Motivation**
I want to create an app with just few users I will create via seed and I don't want anyone to change/reset passwords or create new accounts. Currently the only way is to throw error

[2022-06-21 11:17] Morishiri opened #5793 "dbAuth: Make it possible to seed users with hashedPasswords and seed"
**Feature request**
As a developer I would like to be able to generate users with `hashedPassword` and salt the same way signup handler does that

**Motivation**
I want to create an app with just few users I will create via seed and I don't want anyone to change/reset passwords or create new accounts. Currently I need to provide correctly hashed password and salt to prisma create call.

**Possible

[2022-06-21 12:27] jtoar opened #5794 "Expand on disable api how to for other providers"
Follow up to https://github.com/redwoodjs/redwood/pull/5528, we should consider expanding on the disable api how-to to include api-less deploy strategies for the other providers. See this comment for more information: https://github.com/redwoodjs/redwood/pull/5528/files#r873105086.

[2022-06-21 16:48] Morishiri opened #5795 "tailwindcss ui: Add tailwindcss prettier rules"
Tailwind introduced https://tailwindcss.com/blog/automatic-class-sorting-with-prettier

What do you think about adding that when setting up tailwindcss as ui?

[2022-06-21 20:50] #5667 closed

[2022-06-22 08:16] callingmedic911 commented on #5775
Tried this out locally. If you just restart the VSCode or just TS Server, it'll probably pick the renamed file. Let me know if this works for you.

_(From 0:55 to 1:20, I'm just slowly renaming, you can skip this)_

https://user-images.githubusercontent.com/2629902/174979169-cd261602-ead2-4b7a-9d0d-12eb8d4ee8f3.mp4

[2022-06-22 08:26] callingmedic911 commented on #5221
Thank you @TristanWYL! Really appreciate the effort you put together to make this and get this approved.

@jtoar I'm closing this issue but please let me know if there's something else to follow up on here.

[2022-06-22 08:26] #5221 closed

[2022-06-22 18:53] dac09 opened #5801 "Breakdown auth docs into separate sections"
Currently the authentication docs all sit within `authentication.md` in docs/docs/authentication.md

We should separate these docs to provide different sections for each provider. We can probably combine docs that don't need anything special (like Auth0, Supabase)

[2022-06-22 19:03] dac09 commented on #5261
Hi Paul,

Sorry for the radio silence on this - had so many competing priorities.

So, I think you're right there is some strange behaviour that happens with the types - I'm stumped too. But I think I may have a solution.

`mockCurrentUser` get's it's type from the generated `.redwood/types/includes/web-test-globals.d.ts` file, where it tries to type the currentUser from '@redwoodjs/auth'. which s

[2022-06-22 20:18] simoncrypta commented on #5795
Amazing ! We use Yargs for the CLI, you can find the file for the tailwind setup here https://github.com/redwoodjs/redwood/blob/main/packages/cli/src/commands/setup/ui/libraries/tailwindcss.js

Don't hesitate to ask for help if you need it :)

[2022-06-22 21:52] joconor opened #5802 "Looks like array index needs optional chaining operator"
https://github.com/redwoodjs/redwood/blob/053b22dc90e0b81f42f68d8ec06046169184e070/packages/forms/src/index.tsx#L556

I'm receiving an error during form handling: `undefined is not an object (evaluating 'errorProps.graphQLErrors[0]')`. I'm sure I'm doing something wrong, but in trying to track down the root problem, I notice the above reference line seems to expect a null reference anywhere along

[2022-06-23 03:38] wpickachu opened #5803 "RedwoodJS: General Improvement on auto-generated sdl, service files in Api."
Following up the [topic](https://community.redwoodjs.com/t/modifiable-files-in-redwoodjs/3509) discussed in RedwoodJS commmunity forum, I want to suggest some usecases that the team can use improve the content of `auto-generated-by-cli` sdl and service files.

Let's just assume we do have this model defined in schema.prisma.
[code]
When we generate sdl, services, types using Redwood cli, the `api/

[2022-06-23 08:33] philippefuentes opened #5807 "dbAuth login: "Cannot read property 'method' of null""
Hello,

I followed the tutorial and deployed using serverless setup.
When I use the login functionality through the login page, I get the following error:
`{"error":"Cannot read property 'method' of null"}`
for the following payload for example:
`{"username":"test","password":"test","method":"login"}``

When I try the API directly from Postman, it works ok if I add any `method` parameter, for exam

[2022-06-23 09:25] philippefuentes commented on #5807
I also noticed that the query param can be anything for the request to work in Postman:

POST `https://xxxxxxx.execute-api.eu-west-1.amazonaws.com/auth?test=22`
or
POST `https://xxxxxxx.execute-api.eu-west-1.amazonaws.com/auth?blabla`

body:
`{"username":"admin@admin.com","password":"xxxx","method":"login"}`
response:
`
{
    "id": 1
}
`

but:
POST `https://xxxxxxx.execute-api.eu-west-1.amazonaws.

[2022-06-23 10:58] Philzen opened #5810 "Dead link to auth command implementations in CLI readme.md"
Currently evaluating the process on contributing a new auth provider, i wanted to take a look at what the CLI setup command does behind the scenes and how such a command would be implemented.

Fortunately, the [README.md in the cli package](https://github.com/redwoodjs/redwood/blob/main/packages/cli/README.md) provides some insights in the section [Adding a Provider to the Auth Generator](https://

[2022-06-23 12:14] JesseKoldewijn commented on #5705
@simoncrypta is there any update on this issue? Just curious, no real hurry ofcourse!😁

[2022-06-23 17:19] jeremyjfleming opened #5813 "extremely slow when using any redwood commands"
Using any redwood command will take 2+ minutes to execute. This is not an issue with kill-port, issue #861, as the version I am using is currently using kill-port 1.6.1
![image](https://user-images.githubusercontent.com/58794462/175356201-3137e952-ccbf-4ffa-8862-1c1ade119bb1.png)
Additionally, hot reload does not work. here is my rw info
![image](https://user-images.githubusercontent.com/58794462/

[2022-06-23 17:24] joconor opened #5814 "Documentation states that a health check endpoint is provided. This is not always true"
The health check endpoint is documented here: https://redwoodjs.com/docs/graphql#health-checks. But it does not exist in all deployments. Here are the particular problems that need to be addressed:

1. Although the health check endpoint is present in local development, the documentation is incorrect as to what a successful health check will return. The documentation states a successful health chec

[2022-06-23 18:10] joconor commented on #5802
Additional info:
I think I tracked down my root cause. After successful form submission, the `onCompleted` function is attempting to navigate to a route I renamed but failed to change the reference to the route in `onCompleted`. As a result, I end up with a  TypeError (`TypeError: _redwoodjs_router__WEBPACK_IMPORTED_MODULE_15__.routes.dummyPolicies is not a function.`) (pardon my braindead naming)

[2022-06-23 19:35] cannikin opened #5815 "Allow api-side to revoke auth credentials at any time"
Most auth providers work by setting an `accessToken` and `refreshToken` in LocalStorage. As long as your `refreshToken` is still valid, you are considered logged in as far as Redwood is concerned. Once the `refreshToken` expires, the browser will contact the auto provider and get a new one, assuming their `accessToken` is still valid, and the user is none the wiser. However, there may be scenarios

[2022-06-23 19:49] dac09 commented on #5801
Thanks @cannikin  I think you did it already!

[2022-06-23 19:49] #5801 closed

[2022-06-23 23:09] Philzen commented on #1585
We were just about to start on an LDAP auth integration (yeah we know it's almost way too sexy for 2022, but it's simply a requirement that we were given :shrug: :laughing:) and currently trying to piece the information together.

With https://github.com/redwoodjs/redwood/issues/5810 and currently no means to generate a custom template using the cli here, it is really a severe slowdown, if not sho

[2022-06-23 23:25] dthyresson commented on #1585
Hi @Philzen just to let you know, the some of the Core Team  (@Tobbe @dac09 @cannikin @callingmedic911 and me) met yesterday to discuss next steps to make it easier to implemented your own auth provider implementation for RedwoodJS.

As we get closer to those specs, we'll be in touch and perhaps you could be the first person to try out the new feature.

I made a note to check in with you, but plea

[2022-06-24 00:32] freddydumont opened #5818 "Test database doesn't apply migrations needed to create postgis extension"
I have a postgis-enabled development database which works as expected. To get this to work, I had to use `prisma migrate dev --create-only`, and add the following block to the generated migration: `create extension postgis;`. Here's the full migration:

[code]

And a simplified prisma schema:

[code]

Again, this works as expected. I can use `rw prisma migrate reset` and seed the database with pos

[2022-06-24 02:11] #5813 closed

[2022-06-24 02:12] jeremyjfleming commented on #5813
this was a problem with wsl. if anyone has this issue you need to switch to wsl 1 or move the project to the linux file system.

[2022-06-24 06:14] maransowthri opened #5819 "Issues with yarn create redwood-app"
I have a directory called `redwoodjs` I `cd`ed into it and ran `yarn create redwood-app --ts .` Here's what I got

[code]

[2022-06-24 07:10] callingmedic911 commented on #5819
If the said directory is empty `~/Documents/VS Code Projects/redwoodjs`, can you try removing it generate from a level up:
1. Delete `redwoodjs` directory.
2. CD into `~/Documents/VS Code Projects`
3. Run `yarn create redwood-app --ts redwoodjs`

Or if you want to create the app inside `redwoodjs` directory (alongside other files and folders), just give it a new app name and it'll create that dire

[2022-06-24 13:49] dac09 commented on #5818
Great issue and write up, thank you very much @freddydumont - indeed this isn’t something we considered!

@cannikin would you be interested in picking this up?

[2022-06-24 16:02] cannikin commented on #5818
Yeah I can take a look!

[2022-06-24 18:47] pantheredeye opened #5821 "RFC RW Multi Tenant Support"
Multitenancy has been brought up several times over the past few weeks. @dthyresson requested that an RFC be started.

# Goals:

- Collect Requirements
- Research Approaches
- Gather Comments
- Review

# Current Status:

The current approach leaning towards developing a _'How-To'_ and/or to _extend the RW test project_.

@dthyresson:

@Brett-D (@brettdoyle44):

# Notes

See references below in Com

[2022-06-24 19:53] dthyresson commented on #5814
@joconor you are correct. Prior to v1 the GraphQL handler allowed a custom health check and also had a default check.

But that still needs to be updated after moving to GraphQL Yoga.

I’ll follow up after seeing how we can restor this feature.

[2022-06-24 19:59] orta commented on #5813
Note: I'd say startup for the redwood CLI is very slow even on linux/mac too FWIW, and I've tried figuring out if it was a cheap fix it a few times ( if I recall it was a lot of file reads on launch) but I didn't see any standout easy wins

[2022-06-24 20:04] orta commented on #5821
A working example of this is: https://github.com/orta/redwood-jwt-2phase-auth#jwt-2-phase-auth-in-redwood I have `Account` which you could think of as a team account, and then sets of members 'User' attached to that team. When you log in it creates an auth token linking both your account and your user, making it easy to grab those during API requests.

[2022-06-24 20:17] dthyresson commented on #5818
FYI Prisma has an existing issue to improve Postgres extension management. See: https://github.com/prisma/prisma/issues/12308

[2022-06-25 07:53] 0x15F9 commented on #4980
Hello. I was on version `1.5.1`.

[2022-06-25 10:43] maransowthri commented on #5819
@callingmedic911 thanks for the quick reply! I was looking for something similar to `npx create-react-app .`

[2022-06-25 11:31] callingmedic911 commented on #5819
In terms of functionality `yarn create` is similar to `npx` and right now RedwoodJS is coupled with yarn but I'm sure there's interest to become package-manager agnostic in future.

Also, were you able to generate the new project?

[2022-06-25 15:00] Philzen opened #5825 ".env file not watched by dev server"
When doing any changes to the `.env` file, rebuild + reload is not being triggered.

Should be an easy fix, because it is definitely part of the live rebuild + reload, b/c as soon as i change any other file (e.g. any line in any component's code), changes in the `.env` file become active.

[2022-06-25 15:01] Philzen commented on #5825
Ideally, changes in `.env.defaults` would also be reflected, however as i couldn't get them to become applied unless doing a full server restart, so i believe that may be harder to achieve. May be worth looking into, but for the time being i'd be just happy with `.env` to be added to the watch-list.

[2022-06-25 15:26] Philzen commented on #5810
I believe i found it, wasn't so hard to find after all :wink:  – see attached PR

[2022-06-25 17:36] dthyresson commented on #5814
Need to see how GraphQL Yoga's `useHealthCheck` plugin works: https://github.com/dotansimha/graphql-yoga/blob/master/packages/common/src/plugins/useHealthCheck.ts

[2022-06-26 14:56] dac09 commented on #5825
Hi @Philzen thanks for raising this!

I think… but am not 100% sure, when you change dotenv files webpack doesn’t pick up the changes until you restart.

While we could certainly do it for the API side easily, it would be a confusing experience if the web and api behave differently. We would need to maintain consistency between both sides, and an unsure of the effort in doing it for the web side.

[2022-06-26 17:12] joconor commented on #5825
There’s a basic problem with the use of dotenv/dotenv-defaults by RedwoodJS: They will not overwrite already set environment variables. I’ve filed two separate issues that have this as their root cause, and I expect this will complicate efforts to get any ‘watch’ of `.env`, `.env.defaults` correct

[2022-06-26 21:13] kkuchta opened #5833 "Enforce prop types in generated typescript components?"
Not a bug, but a suggestion.  Let me know if there's a better place for something like this (eg the forum or the discord)!

Currently, newly generated typescript components (`yarn redwood generate component --ts example`) generate typescript files like:
[code]

This works fine, but one of the (imo) best things in typescript react projects is the ability to enforce prop types via typescript.  You c

[2022-06-26 21:29] Philzen commented on #5825
@dac09 yeah you're right, i must have been mistaken when i opened up the issue, which is now updated accordingly. I guess, until this becomes possible i will have to hard-code and wrap my configs during development.

@joconor in this repository or over at [motdotla/dotenv](https://github.com/motdotla/dotenv)? If it's the former, i will close this issue as a duplicate. In any case, kindly post the

[2022-06-27 11:45] aleeusgr commented on #5700
updated nix-channel
[code]
$cat flake.nix
{
  description = "A prisma test project";
  inputs.nixpkgs.url = "github:NixOS/nixpkgs/master";
  inputs.flake-utils.url = "github:numtide/flake-utils";

  outputs = { self, nixpkgs, flake-utils }:
    flake-utils.lib.eachDefaultSystem (system: let
      pkgs = nixpkgs.legacyPackages.${system};
    in {
      devShell = pkgs.mkShell {
        nativeBuildI

[2022-06-27 13:13] maransowthri commented on #5819
Yes I was able to create it. But, my only question was that, is there a way to download all rw template files under my current directory without having a new folder?

Like I said before I thought `yarn create redwood-app --ts .` should help me out, but it didn't.

[2022-06-27 15:17] MeetChaudhari opened #5838 "multiple relations and SDL genrations"
i tired the redwood way, by commenting the relations and then genrating SDL and etc.
still i cant get it working

[code]
and sdl which is being generated has types error, eg- skillSets.sdl.ts

[code]

in which "artistMeta!" is undefined , and like so in every model sdl file.

Please help.

[2022-06-27 16:21] mmmeff commented on #5788
I'm also seeing this error when running `yarn rw g sdl <Model>` without a root `./web` folder. `redwood.toml`'s `[web]` path is set to the correct folder for the web project

[code]

[2022-06-27 18:40] dac09 commented on #5788
It seems to me that somewhere in the build tools with have the api path hardcoded, OR maybe the toml setting isn't being picked up.

@dthyresson ok to pick up?

[2022-06-27 18:57] cannikin commented on #5807
Hmm, so for GET requests we put the `method` variable in the query string, but for POST requests it goes in the body (technically you aren't supposed to have query string variables in a POST).

And we check for these two possible situations here: https://github.com/redwoodjs/redwood/blob/a8730d01d5fd4a20d7a40f3da145d96cd38630f0/packages/api/src/functions/dbAuth/DbAuthHandler.ts#L792-L806 First loo

[2022-06-27 18:59] Tobbe commented on #5838
@MeetChaudhari Thanks for your issue report. Can you please help us out here a little bit by creating a smaller and simpler schema that still demonstrates the problem you're seeing?

[2022-06-27 21:47] Philzen commented on #5052
@virtuoushub

From RedwoodJS' README.md:
![grafik](https://user-images.githubusercontent.com/1634615/176040038-fd0f68c5-00ce-4159-8cca-ea10b78eb500.png)

Just saying :wink:

----

@shilman can you elaborate? Our dev team has been using this option for ages in our projects now, and all storybook controls work fine. Our assumption back then was that docgen is only required if the storybook includes

[2022-06-28 02:11] Gresliebear opened #5841 "GraphQL and Scaffolding does not support Prisma Bytes data type"
My database is postgres server.

I made model Asset following the tutorial in schema.prisma

[code]

I went to generate my scaffold `Yarn rw g scaffold asset`

then my **error**

[code]

[2022-06-28 02:12] Gresliebear commented on #5841
The only related issue i could find is https://github.com/redwoodjs/redwood/issues/3214 this is kinda too deep for me Some sort of mapping issue https://github.com/redwoodjs/redwood/pull/3218

[2022-06-28 02:19] Gresliebear commented on #5841
So reading this issue more its a scalar https://www.graphql-scalars.dev/docs/scalars/byte

'bytes' I have no idea if this works

[code]

[2022-06-28 03:33] BSKnuckles commented on #5821
I don't have anything to add to the requirements, but I started working on my own version of a SaaS starter with Redwood. I'm happy to share that or help contribute towards an "official" starter.

[2022-06-28 07:09] philippefuentes commented on #5807
I haven't tried to deploy on another target (we need to deploy on AWS).
The Redwood version is:
[code]

In the meantime, Is there a workaround I could use to pass a query string to POST dbAuth calls ? (the same problem exists with `forgotPassword`)

[2022-06-28 12:34] brettdoyle44 commented on #5821
First, just want to say this is a great write up! I am currently building the core of a multi-tenant app with Redwood, Supabase Auth, and mysql (local with docker) / planet scale for production as the DB. Happy to share anything I currently have. I used the Blitz/Bullet Train approach of having a membership table to create the relationship between user and team. I chose Supabase Auth because it is

[2022-06-28 14:07] Philzen opened #5845 "Transformer directive throws during test due to `directiveArgs` always undefined"
We've written a transformer directive to filter unauthorized records such as this:

[code]

When running a simple test on it, such as:
[code]

The following error is thrown, causing this and basically any tests involving `mockRedwoodDirective` to fail:

[code]

### Notable

- tried supplying `directiveArgs: { list: true }` in `mockRedwoodDirective`'s `executionMock` argument, but `directiveArgs`is

[2022-06-28 15:50] Philzen commented on #5845
Hi @dac09, thanks for your immediate feedback!

Actually the transformer code does also check for the currentUser in context and throws if not authenticated, i only out that line (and also our own comments making clear that this runs *after* any query retrieval :wink: ) for sake of this example (but looking at my explanation further below even that may be overkill in this transformer).

We're also

[2022-06-28 15:51] dac09 commented on #5792
@cannikin this seems right up your alley, just putting it on your radar.

[2022-06-28 15:58] dac09 commented on #5845
I'll give you my 2p @Philzen - but please don't take this as gospel - for me, having complicated logic such as auth located in one place is always an advantage, especially if you are a growing team/building out your product.

At some point in the future you may want to change parts of how your auth system works, and you'd have to refactor three different places, which is not ideal!

Auth is also o

[2022-06-28 15:59] dthyresson commented on #5845
@Philzen My concern might be that the auth rules are now in three places and if the rules change, then the risk is higher because you do not have as much confidence in what the rule applied will be. Maybe the rule is changed in 2 places but then the third check is used and people access data the cannot.

[2022-06-28 16:42] cannikin commented on #5792
I've added an `enable` flag for the upcoming WebAuthn integration #5680 and that seems like a nice pattern for the other functions as well. I like having flags named for the "positive" version ("enabled" rather than "disabled").

You're more than welcome to add that functionality in a PR @Morishiri, thanks!

[2022-06-28 16:43] Morishiri commented on #5792
@cannikin wouldn't that mean a breaking change for existing redwood projects? Or do we default to `enabled = true` then?

[2022-06-28 16:45] cannikin commented on #5792
Yep, default to `enabled: true`! So if the property is `undefined` or `true`, it's enabled, otherwise it's disabled.

[2022-06-28 17:10] #5845 closed

[2022-06-28 18:26] simoncrypta commented on #5705
@JesseKoldewijn This is a case which our internal path regex fail and if the OS accepted to have single quote in directory name, we should also handle it.
I don't have any delays of when it can be fixed, but feel free to open a PR if you want :)

[2022-06-28 18:31] jtoar commented on #5793
Hey @Morishiri, thanks for the detailed write up! Pinging @cannikin (the author of dbAuth)—he'll take a look at this and get back to you.

[2022-06-28 20:25] sidshetty commented on #5792
I think of this today for the first time and happy to see you guys already on it @cannikin @Morishiri . Appreciate it ♥

[2022-06-28 21:19] cannikin commented on #5793
We're talking about doing a total auth overhaul in the near future, where each auth provider will be its own separate package you can install. That would include dbAuth, and exporting ancillary functions like this from that package would be perfect. Right now there's not really a clean way to do that: we discussed earlier and wouldn't want to export this specific hashing algorithm from the general

[2022-06-28 21:22] cannikin commented on #5807
Can you try upgrading to the latest, 2.0.0?

There's no easy way to add that functionality, not without patching the `@redwoodjs/auth` package. There's a great npm package called [patch-package](https://www.npmjs.com/package/patch-package) that lets you do exactly that: the patches stay as separate files in your codebase and are applied after every time you run `yarn install`.

[2022-06-28 21:24] Morishiri commented on #5793
Thanks @cannikin, that's exactly what I did - copied the hasPassword implementation. But while doing so I thought that others may benefit from this approach as well do I opened this issue.

Great that there is an improvement coming to this topic. Lets close it then and wait for the separate packages approach in the future :)

[2022-06-28 22:36] philippefuentes commented on #5807
I upgraded to 2.0.0, and everything works as expected now, thank you.

[2022-06-29 00:11] dac09 commented on #5675
Hi @asaf-stafflink - thanks for reporting this, and sorry for the delay in getting the fix out.

The fix is now in PR - you are more than welcome to try it if you're familiar with our contribution workflow, but it may be easier to wait for it to be merged, then give it a go with the canary version (upgrade with `yarn rw upgrade -t canary`).

[2022-06-29 00:36] #5793 closed

[2022-06-29 00:49] dthyresson commented on #5802
Possible fix, but I need to write some tests:

[code]

@joconor Question - what info would be sent to the form `errors` in your example (so I could write a test case).

[2022-06-29 03:42] Gresliebear commented on #5841
1. Installed the framework for the project
2. we need to access a local database like postgres to reproduce bug
3. changed the redwood-project .env with

`
DATABASE_URL="postgresql://postgres:<PASSWORD>@localhost:5432/testDB?connection_limit=1"`

`psql -U postgres`

`createdb testDB`

4. Change the 'schema.prisma' with

[code]

5. Updated `schema.primsa` with blob type from Prisma to recreate the

[2022-06-29 04:05] Gresliebear commented on #5841
Now to fix it

Ok looking at old issue we need to parse the 'value' in a scenario.test.js?

![image](https://user-images.githubusercontent.com/13157730/176347806-3854b46f-fdf5-4062-8ced-2ce009d15ebf.png)

Well good news is that Nexus-Prisma has already implemeted a bytes scalar support https://github.com/prisma/nexus-prisma/issues/68

See code here
https://github.com/prisma/nexus-prisma/pull/75/fi

[2022-06-29 05:34] Gresliebear commented on #5841
Recommend Longterm solutions Graphql and Redwood cannot either cover all custom Scalar types like bytes. However project maintained by The Guild has good Library called GraphQL Scalars that covers near most use cases

We import this new library called GraphQL Scalars
https://github.com/urigo/graphql-scalars

we install this `yarn add graphql-scalars`

and import the Type Scalars inside of GraphSQL

[2022-06-29 14:16] pantheredeye commented on #5821
Updated with current status section based on discord chat around this topic.

[2022-06-29 15:38] dthyresson commented on #5841
Ah

This was the tricky part that I hard problems with when trying to implement Bytes in the scenarios and tests.

Maybe that will work.

[2022-06-29 16:10] Gresliebear commented on #5841
Well am stuck basically its not passing a "Buffer" type I am too inexperience can we PR this we need collaboration

[2022-06-29 20:01] dac09 opened #5852 "[Bug]: Running rw sls deploy on windows does not package src/lib"
### What's not working?

When trying to deploy the API side using the serverless integration, builds on Windows deploy correctly, but have runtime errors.

[code]

### How do we reproduce the bug?

1. On a windows machine, setup deployment with `yarn rw setup deploy serverless`
2. Run a "pack" using `yarn rw deploy serverless --side api`
3. Execute the function by going to the endpoint, and you wi

[2022-06-29 20:25] #5675 closed

[2022-06-29 22:36] Philzen opened #5853 "[RFC]: Show stack trace of errors in dev server console"
### Summary

Enable error stack trace visibility in the dev console for development (and potentially in logs for production).

### Motivation

When devs make a coding mistake in a directive, the only information given is the error message, both in graphQL playground

![grafik](https://user-images.githubusercontent.com/1634615/176556545-dc328902-d6cf-4ffc-aff0-c3425fe5249a.png)

and the terminal ou

[2022-06-29 23:15] Philzen commented on #5853
OK, i'm confused now:

My main project i'm working on is on 1.5.1, but i have a sandbox project based on 2.0.0 – and in the the latter i get full-on stack traces, preceded by a `🚨 GraphQLError Info` object.

[2022-06-29 23:17] Philzen commented on #5853
Confusion solved: #5816 which was shipped with 2.0.0 fixed this.

Guess it's high time to upgrade.

[2022-06-29 23:17] #5853 closed

[2022-06-29 23:37] dthyresson commented on #5853
Sorry for the confusion - we got that regression fix in during the last release. Glad it’s working for you.

[2022-06-30 02:34] simoncrypta commented on #5784
Hey @nikospapcom !
I think this is more a problem between Auth0 and Vercel or a “how do I do this?”  that something we can really change in the framework.
The forum https://community.redwoodjs.com/ is the best place to discuss a how-to question like this.

I will close this issue, but feel free to post it on the forum or reopen it if you think we can do something about it.
Thanks !  😄

[2022-06-30 02:34] #5784 closed

[2022-06-30 02:38] simoncrypta commented on #5779
Hey @mikenikles,
It is the first time a heard about a problem with OS permissions for Redwood.
Is it happened everywhere, and what is the path of your redwood project ?

[2022-06-30 03:53] mikenikles commented on #5779
Hi 👋,

I don't actually develop on a local computer. All my projects run on Gitpod.

[2022-06-30 04:44] Hennessy811 commented on #5838
I have the same issue: TypeScript was used to create a project (I didnt spot this issue with [this JS example), ](https://github.com/dthyresson/redwoodblog-rbac/tree/master/api/src)

So I have the following schema:

[code]

when I generate a scaffold, or sdl, I get errors in sdl files
Here is an example if we generate sdl for the User: `yarn rw g sdl User`:

[code]

and I see error on `questions:

[2022-06-30 14:14] dthyresson commented on #5838
Hi @Hennessy811 and @MeetChaudhari thanks for the report.

Could this be the issue?

https://redwoodjs.com/docs/schema-relations#troubleshooting-generators

This might happen if you schema out an entire data model and try to generate the full schema.

It's a known limitation that we're trying to improve.

[2022-06-30 15:41] Philzen commented on #5038
I had totally forgotten about the fact i had written this issue when i handed in #5856  :laughing:
Guess i lost track of it, sorry for not following up earlier.

@Tobbe

That's exactly what i think and feel like. Another important question to add "Is RedwoodJS somehow broken?" – something that should never be part of the DX. Imho it must not ever generate code that violates its own ESLint rules (s

[2022-06-30 17:12] #5538 closed

[2022-06-30 17:12] #5708 closed

[2022-06-30 17:13] dthyresson commented on #5057
Confirmed this issue, see:

![image](https://user-images.githubusercontent.com/1051633/176737519-88aaa704-6fea-4f21-ac2f-0a584425292f.png)

[code]

There is an unknown field in the query.

Is an error ...

![image](https://user-images.githubusercontent.com/1051633/176737589-c80fab23-6569-458e-b3fc-3803b093ec62.png)

![image](https://user-images.githubusercontent.com/1051633/176737663-55b06e1b-598f

[2022-06-30 18:02] dthyresson commented on #5057
In fact, this error should be masked/

[2022-06-30 20:11] chrisl8 opened #5860 "[Bug?]: yarn create redwood-app ./redwoodblog fails"
### What's not working?

The installation command

[code]

as described at https://redwoodjs.com/docs/tutorial/chapter1/installation

is failing.

### How do we reproduce the bug?

[code]

### What's your environment? (If it applies)

[code]

### Are you interested in working on this?

- [X] I'm interested in working on this

[2022-06-30 20:23] brendandonahue commented on #5860
I'm seeing this as well.  The exact same thing.  I tried in two different environments.  It was working this morning.

[2022-06-30 20:37] dac09 commented on #5788
Thanks @mmmeff - I suspect this is one of those features we had originally planned - but then fell off our radar!

For now I don't believe Redwood supports customising the path to web and api folders (although I can totally understand why you would think we do). We'll look to fix this!

[2022-06-30 21:37] chrisl8 commented on #5860
Interesting, and I just got this when trying to use create-react-app

[code]

Seems like they are both unhappy about `eslint-8.4.4`.

Maybe I just picked a bad day at NPM for installing stuff?

[2022-06-30 22:01] dphuang2 commented on #5860
If you want to unblock yourself you can clone https://github.com/redwoodjs/redwood-tutorial and start from there instead [taken from https://redwoodjs.com/docs/tutorial/intermission#using-the-example-repo-recommended]

[2022-07-01 00:09] #4739 closed

[2022-07-01 00:37] brendandonahue commented on #5860
Update: This looks to be resolved and now is installing properly.

[2022-07-01 05:00] MeetChaudhari commented on #5838
@dthyresson i tried workaround still it does not work ,  but @dac09  i manually added the types and it was fine, still while scaffolding cells, i got error

[code]

[2022-07-01 08:42] jtoar commented on #5860
@chrisl8 thanks for the report, this is a weird one. That's not even the latest version of ESLint either, but the consistency between create redwood app and create react app points to NPM having a bad as you said. And @brendandonahue, as you said, maybe it's resolved now—I just tried to reproduce this and it's installing cleanly. @chrisl8 have you tried again?

[2022-07-01 11:29] Philzen commented on #5097
I was wondering if this was referring to the problem of Cells not being resolved (which happens in VSCode), so i quickly fired up WebStorm and can confirm that this applies to any component imported such as this:

[code]

**Workaround** is to point to the actual component file, and the code navigation ends up fine in the actual implementation:

[code]

Wondering if there are other IDEs that may be

[2022-07-01 11:43] Philzen opened #5862 "[Bug?]: Code navigation to a cell implementation not possible (ends up in type definition)"
### What's not working?

As a developer i'd like to be able to CTRL+click on any react component to pull up its implementation code.

This works fine in VSCode for everything but cells, likely caused by the fact that they don't have a matching default export.

#### Related

* Code completion not available for Cells, see #4303
* In other IDEs there is a problem when using the short path to a compon

[2022-07-02 09:32] jtoar commented on #5632
@jonschlinkert sorry for the late response!

It's awesome to hear this!

If it's the startup fund you're talking about, I'm pretty sure you can still apply: https://mailchi.mp/redwoodjs/startup-fund. We just had our first climate office hours, so I'm sure some people are only just getting started on their idea. Definitely not too late!

You mentioned that you see the error whenever reinstalling `n

[2022-07-02 11:02] aleeusgr opened #5864 "[Bug?]: graphql query OpenWeather fails"
### What's not working?

Following [this doc](https://redwoodjs.com/docs/how-to/using-a-third-party-api#server-side-api-integration),  section Server-side integration, The Service.
Running a query in http://localhost:8911/graphql:
[code]
 `{"zip": "94040"}`

If I have `export const getWeather...` in `api/src/services/weather/weather.js` the Playground produces the right output, Hot Lava.

However

[2022-07-02 11:02] MeetChaudhari commented on #5838
please reply guys

[2022-07-02 11:25] dthyresson commented on #5838
I'm not sure what you manually changed, but it seems that "UserIntrests" (or "UsersInterests"):

[code]

The Query.userIntrests should return a required array: `[UserIntrests!]!` of the model `UserIntrests` -- your service is simply returning a model `UserIntrests` which typically is return from the findUnique or findOne `userIntrest` service.

BTW I would suggest for data model clarity maybe chan

[2022-07-02 11:36] jtoar commented on #5838
@MeetChaudhari I think the main problem, or at least a confounding problem, is that you've pluralized and lowercased all your Prisma model names. Please try changing `model artistMeta` to `model ArtistMeta`.

To make what I'm talking about a little more explicit, go into `artistMeta.sdl.js`. You'll see that the type is uppercased, not lowercased:

[code]

But in the generated `skillset.sdl.js`, it

[2022-07-02 11:39] dthyresson commented on #5838
For example, first I have a schema like:

[code]

And migrate. `yarn rw prisma migrate dev`

Then dal the User:

[code]

The the Interest

[code]

Then make the relation:

[code]

And then redo to sdl's with a force

[code]

And my graphql schema that is generated has:

[code]

And ma good to go.

That's unfortunately the workaround as noted in troubleshooting.

[2022-07-02 11:52] jtoar commented on #5838
@Hennessy811 I've tried reproducing your issue but everything's working fine. Could you have a look at what I did to see what may be different? https://s.tape.sh/Enkmx7ds.

[2022-07-02 12:05] #5864 closed

[2022-07-02 12:06] aleeusgr commented on #5864
I am an idiot.
The api key you provide in the guide is most likely null, and I didn't confirm my email.
All works good, sorry

[2022-07-02 12:09] MeetChaudhari commented on #5838
thank you it worked, i would request you mention this naming convention in docs somewhere, like it could save some developer many days, i wasted 5 days on this . Thanks a lott.

[2022-07-02 12:09] #5838 closed

[2022-07-02 12:17] jtoar commented on #5864
@aleeusgr no worries! And don't be too hard on yourself haha 😅

[2022-07-02 13:10] Philzen commented on #5862
You already you were already on to something in your [tape](https://s.tape.sh/5LN35yUU) that you posted over at https://github.com/redwoodjs/redwood/issues/4303

I was worried about that at first before i opened this ticket, that's why i made some tests with WebStorm and these are clearly two separate issues :monocle_face: – although they are in the same domain (webpack, typemapping, default expor

[2022-07-02 13:17] Philzen commented on #5097
@dac09 / @PeterChen1997 i believe this issue should be renamed back to something such as "[Bug] Code navigation leads to generated type in Webstorm using short import" or "[Bug] Short import paths break code navigation in IDE other than VSCode"

Navigating to a Cells implementation is a different challenge on it's own that doesn't work in any IDE so far as we know of – this issue was specifically

[2022-07-02 15:06] Philzen opened #5866 "[RFC]: Harmonize amd extend code completion hints on `currentUser`-object on web & api side"
### Summary

The basic idea here is to improve the DX revolving around auth.

As a developer working on my user model and writing tests for it i would like meaningful code completion on the `currentUser`-object and a flexible / resilient type system that suffices the following requirements:

1. inform me where this object is created if i want to change it – i.e. give me a hint that i need to look

[2022-07-02 15:38] Philzen commented on #5866
I have noticed a typescript error in `.redwood/types/includes/api-globalContext.d.ts` which may or may not be related to requirement no. 3. :

![grafik](https://user-images.githubusercontent.com/1634615/177007072-eaf7290e-b012-467f-9c46-7a0c401a7218.png)

Nevertheless it may be worth looking into while getting our hands dirty on this RFC.

[2022-07-02 20:48] Philzen commented on #5057
@dthyresson According to the tutorial it should show exactly the error, as in the following picture (from that very tutorial):

![](https://user-images.githubusercontent.com/300/153480635-58ada8e8-ed5b-41b6-875b-501a07a36d9a.png)

How to make the graphql error that is visible on the console be shown in the frontend during development (that's a question that actually has been bugging me for a while

[2022-07-03 01:58] jtoar commented on #5833
Hey @kkuchta, here is an appropriate place to post. We recently added GitHub issue forms that ask that "RFCs" be posted here (just to encourage detail). This was enough detail to start and it's fairly small in scope!

I don't have the most TypeScript experience on the team by a long shot, so I'll ping other members of the team to get their thoughts as well (@dac09, @Tobbe). But my immediate though

[2022-07-03 09:11] Tobbe commented on #5833
I like your idea @kkuchta! @jtoar brings up some very valid points. I'll add my view on this as well. Some of it will just reiterate Dom's points, some of it will expand on what he wrote.

I prefer
[code]

`interface` instead of `type`, and I always just name it `Props`

There has been some push-back on using `React.FC` (as @jtoar noted), and because of that we've decided not to use it in the RW c

[2022-07-03 23:40] Philzen commented on #5052
Hey @virtuoushub thanks for your patience with me over at #5052 – there was a lack of understanding from my side for quite a while. I have tested with re-enabled `reactDocgen: 'react-docgen' | 'react-docgen-typescript'` and now finally understand what you mean when you say

… i sincerely didn't get it, although now as i see it, it kinda obvious :facepalm: :laughing:

When we set `react-docgen: fal

[2022-07-04 05:35] #5642 closed

[2022-07-04 06:05] Tobbe commented on #5866
With all the trouble we're going through in both https://github.com/redwoodjs/redwood/pull/5856 and in this RFC I have a different idea:

What about not including any of the `roles` stuff at all by default?

I think I've heard the argument "But everyone is going to need RBAC sooner rather than later anyways, so might as well include it from the get-go". But I want to challenge that with personal e

[2022-07-04 06:21] Tobbe commented on #5038
Discussion (also) continues in https://github.com/redwoodjs/redwood/issues/5866

[2022-07-04 08:17] philippefuentes opened #5871 "[Bug?]: dbAuth - getToken response is empty with serverless deploy"
### What's not working?

Hi all,
Having problems making dbAuth work on AWS using serverless deploy:

The response cookie returned by `auth` is ok the the one returned by `getToken` is empty.

The web domain is `facturation.mydomain.com` and api domain is the AWS API Gateway form `xxxxxx.execute-api.eu-west-1.amazonaws.com`

Here are details about the `auth` request:

![auth-headers](https://user-i

[2022-07-04 11:51] dthyresson commented on #5814
@joconor I am going to update the docs and also allow a developer to configure the id associated with the check, but I was wondering ...

For serverless, does `/graphql/health` need to be registered as a path endpoint?

[2022-07-04 12:05] #5713 closed

[2022-07-04 13:50] dthyresson commented on #5814
I've observed that the `readiness` fetch fails both in localhost and deployed to Netlify:

`{"errors":[{"message":"request to https://localhost/.netlify/functions/graphql/health failed, reason: connect ECONNREFUSED 127.0.0.1:443"}]}`

The fetchAPI seems to use localhost when deployed.

See: https://github.com/dotansimha/graphql-yoga/blob/05fe180e4a99feb1b20aa993b0cfd7fd126cb4f7/packages/common/src

[2022-07-04 15:37] dac09 commented on #5803
Thank you @wpickachu for the suggestion.

When it comes to generators, we can't win - we either generate too much or too little. I don't think user's should view generators as "this will just write everything for me" (what would we do then?!) - but more it'll write most of the boilerplate and give you a headstart to implementing your own stuff.

I'll keep the issue open for now, awaiting other com

[2022-07-04 16:35] dac09 commented on #5785
Adding to core team discussion queue - as it seems like a fundamental difference in philosophy using dotenv defaults.

**Desired behaviour**: if I supply an env var in my `.env`, it should override whatever is in my current shell

[2022-07-04 18:40] Gresliebear commented on #5841
Ok When I test typeof BufferObject it appears as a 'object' because in JS everything is Object but how do you check that a object is buffer, even though we used GraphQLByte.parseValue(value) and jest is expecting a Buffer

we have to check with a different test

code
[code]

output

                         node .\main.js
object
[code]

[2022-07-04 19:04] Gresliebear commented on #5841
Ok its passible  it worked @dthyresson  however new bug and I cannot run yarn e2e I am on Windows

[code]

[2022-07-04 19:06] Gresliebear commented on #5841
GraphQL Server crashbed its not passing Bytes with GraphQL check

![image](https://user-images.githubusercontent.com/13157730/177207031-47bcd799-bcd8-4aae-9d5a-da3a6e24d36a.png)

[2022-07-04 19:07] dthyresson commented on #5841
Hi @Gresliebear and thanks for the progress? I was planning to work on this issue the week and maybe we can collaborate using the work you've done as I bet it is close.

Could you submit a Draft PR with your work in progress and I can review and see what else might be needed?

Thanks!

[2022-07-04 19:15] Gresliebear commented on #5841
@dthyresson  yes give me 30 minutes because I don't know how to PR quickly this is my 2nd time so my apologizes,

Where I left off I made changes and then `yarn cross-env RWFW_PATH=E:\RedWoodIssues\redwood rwfw project:sync`

Then did `yarn rw dev` database postgres primsa has no issues migrating the Byte to postgres

Recommended feature scaffold should autogenerated a drag and dropbox or click he

[2022-07-04 19:19] ubugnu commented on #2429
The simplest way would be to create two rules:
[code]
Then in page:
[code]

[2022-07-04 19:28] Gresliebear commented on #5841
Alright the PR is made https://github.com/redwoodjs/redwood/pull/5874

[2022-07-05 10:15] Tobbe commented on #5862
The solution that I hinted at over in #4303 was specific to Cells IIRC. Unfortunately I prototyped the solution in GitPod, and it was lost in a browser crash a long time ago 🙁

**If** my memory serves me right the idea was to generate a file somewhere inside .redwood/ that imported the Cell in a way that "educates" VSCode about its existence.

At the time I had no idea about the complexities invol

[2022-07-05 10:16] dthyresson commented on #5802
@joconor Question - what info would be sent to the form errors in your example (so I could write a test case).

[2022-07-05 13:35] jtoar commented on #5743
Hey @rushabhhere thanks for your enthusiasm! And sorry for the late response. We discussed this internally as soon as you commented, but didn't reach consensus at the time. Let me try bringing it up again today.

[2022-07-05 13:37] jtoar commented on #5818
@cannikin gentle ping, if you're still interested in picking this one up

[2022-07-05 15:00] #5038 closed

[2022-07-05 15:08] noccer commented on #5866
Great writeup @Philzen 👏

This is my first post on Redwood, I'm super excited about this project and still learning the ropes, only on Chapter 4 so far. Nice to meet you all 👋

I stumbled upon this RFC tonight while running through tutorial `Chapter4#add-a-logout-link` and have comments about the typings issue on point No.2 if I may:

1. I definitely was one of those people who thought: "Oh I must

[2022-07-05 17:16] dac09 commented on #4980
Hello @0x15F9 - so we took a deeper look at this issue.

I wonder if you could include your LESS configuration in the webpack config, rather than storybook config?

`yarn rw setup webpack` - should create the webpack config file for you, where you can add your loader configuration here. Would this work for you while we look at resolving this?

[2022-07-05 18:14] dthyresson commented on #5803
A prior request has been made to add the `upsert` and `createMany` etc methods.

See:

* https://github.com/redwoodjs/redwood/issues/3446
* https://github.com/redwoodjs/redwood/issues/1398

[2022-07-05 18:41] jtoar commented on #5757
Hey @ThirenG187, sorry for the late response—we're aware of this: https://github.com/redwoodjs/redwood/issues/5728. It's related to redwood telemetry and can be disabled by turning it off (see the issue I linked to). We're going to work on a legit fix, but in the meantime we're going to patch it in the next release.

[2022-07-05 19:11] rushabhhere commented on #5743
@jtoar thanks for your response. Eager to hear what's decided!

[2022-07-05 20:16] dac09 opened #5880 "Look into whether we can conditionally render parts of docs, based on TS or JS chosen in code blocks"

[2022-07-06 03:44] 0x15F9 commented on #4980
Hello @dac09. Thanks for the workaround. I did something else  that's a bit hacky but it works. I configured the 'run on save' extension on VS Code to run lessc whenever I save my .less files :).

Keep up the good work 💪🏼

[2022-07-06 05:14] Gresliebear opened #5881 "[RFC]: Upgrading to React 18 for Redwood"
### Summary

I want to use the latest package for React 18, because packages on npm install used React 18 but currently Redwood doesn't

![image](https://user-images.githubusercontent.com/13157730/177473906-7916f893-1e40-4270-b450-7c5aba9d0e84.png)

### Motivation

1) I want to use the latest version of three.js

2) I want to use the latest version of react-three-fiber

### Detailed proposal

Prop

[2022-07-06 05:19] Gresliebear commented on #5881
For those who want to install react-three/fiber use this `npm i @react-three/fiber@7.0.6`

and for Three.js on redwood `npm i three@0.131.3`

[2022-07-06 07:19] eussam commented on #5871
My web inspector does not show any error related to CORS, as I understand that the following lines in the serverless.yml file allow me to accept any origin:
[code]
What am I understanding wrong then ?

[2022-07-06 12:55] rayelward commented on #5871
I was dealing with this same exact issue a couple weeks ago. The reason the getToken call has an empty session cookie is because there is no request cookie header sent on that request. To allow that cookie to carry over, from the auth POST call, the browser needs "allowCredentials" to be true and "allowedOrigins" to be specific domains the browser is making the calls from.

I was just trying to sa

[2022-07-06 13:35] eussam commented on #5871
Ok, thank you for your time.
I followed the guide you mentioned and had to indeed update the serverless.yml as well as follows:
[code]

Everything works as expected now.

[2022-07-06 17:52] cannikin commented on #5818
Yep, I'm on it!

[2022-07-06 18:13] cannikin commented on #5818
So using `prisma migrate reset` will actually re-run all migrations, in order, each time you run your test suite. Depending on the number of migrations you have, this could take a long time.

How about adding an ENV var that lets you override the default of `prisma db push` to use `prisma migrate reset` instead? So that in your case you can set that ENV var and that's the strategy it will always u

[2022-07-06 18:35] dac09 commented on #5788
@mmmeff - could I ask that you give us an idea of _why_ this feature would be important to you? This is definitely a bug/missing feature - but it would be very helpful to understand your reasoning behind this.

[2022-07-06 19:06] freddydumont commented on #5818
@cannikin sounds good!

FYI, prisma is [starting design work on PostGIS support](https://github.com/prisma/prisma/issues/2789#issuecomment-1176137254), so it's going to be fixed on their side at some point.

[2022-07-06 21:20] #5818 closed

[2022-07-07 03:47] jtoar commented on #5860
Closing this one as it seems resolved, but feel free to comment here again if it's not!

[2022-07-07 03:47] #5860 closed

[2022-07-07 03:48] jtoar commented on #4591
Just tried reproducing this one and couldn't so closing as it seems resolved. Note that in the process of contributing, you can introduce TS errors, which `rwfw` will log when it tries to build types. But the test project has been much more stable since we've upgraded to yarn v3.2.1, which was some time ago now.

[2022-07-07 03:48] #4591 closed

[2022-07-07 04:09] jtoar commented on #5354
@Tobbe your question here sounds similar to what we discussed at the last meeting (roughly, should the types get generated from the SDL or the Prisma model?). I'm sure there's still a lot process from that discussion, but did it answer any questions for you here?

@dac09 not a priority for you to answer, but I'm wondering if the TS strict mode PR covers mocks at all? I don't remember reading about

[2022-07-07 04:16] jtoar commented on #5627
@virtuoushub I think I've seen this before too, but we still merge PRs on the regular so I'm wondering if this is just a flaky test? Also, the auth provider is getting refactored into a function component here https://github.com/redwoodjs/redwood/pull/4880, so that may resolve this too.

[2022-07-07 04:17] #5662 closed

[2022-07-07 04:21] jtoar commented on #5767
Hey @ngoctranfire sorry we never got back to you about this! There's quite a few Redwood apps out there using Supabase, so it should be more than possible to do so. Did you end up getting it working? And when you got this error, was it while following the docs here? https://supabase.com/docs/guides/with-redwoodjs

[2022-07-07 04:25] jtoar commented on #5700
Nice @aleeusgr! Judging by the way you ended your last comment, it sounds like you got it working? It'd be great to get more visibility on this somehow, cause configuring NixOS isn't easy. I feel like it may be too soon to have a "RedwoodJS on NixOS" how to, but something along those lines would be great, whether it's a blog post or a [forum topic](https://community.redwoodjs.com/).

[2022-07-07 04:28] jtoar commented on #5779
Echoing what @simoncrypta said here; @mileshenry31 I'm going to close this one, but if you have time, let us know if things were resolved for you or not. If not, happy to reopen this one and discuss further.

[2022-07-07 04:28] #5779 closed

[2022-07-07 04:48] jtoar commented on #5751
@mewben sorry for the late response! If you're talking about the way a test database is torn down, you're right that the code there isn't for Mongo. Redwood doesn't have first class support for Mongo yet. (So we should probably add some kind of notice to the docs.) It's definitely something we want, but need help implementing. Between scaffolds and testing, there's certainly a lot of work to do. N

[2022-07-07 04:54] Tobbe commented on #5354
@jtoar I didn't remember we had this issue! This is exactly what I wanted to discuss on the call after we were done with the api side. But we never got that far. Hopefully we can discuss this next week.

[2022-07-07 05:00] jtoar commented on #5825
Confirming that changes to `.env` don't get hot reloaded for either the web or api side. @Philzen it's ok to leave this one open as it's a feature request.

[2022-07-07 05:05] Tobbe commented on #5866
Thanks for validating our efforts!

@dac09 I'm keen to get your input here. Thanks!

[2022-07-07 05:07] jtoar commented on #5748
It seems MongoDB does support `findUnique`, but there may be some caveats with it... see here: https://www.prisma.io/docs/concepts/components/prisma-client/crud#get-record-by-id-or-unique-identifier. In general, our MongoDB support isn't first class yet. We certainly want it to be though! See https://github.com/redwoodjs/redwood/issues/5751, and https://github.com/redwoodjs/redwood/issues/3077.

A

[2022-07-07 06:11] jtoar commented on #5871
Thanks so much @rayelward! @philippefuentes did you give what @rayelward suggested a chance yet?

[2022-07-07 07:05] philippefuentes commented on #5871
@jtoar Yes I did, sorry I was authentified with my @eussam account when I replied

[2022-07-07 07:25] jtoar commented on #5881
Thanks @Gresliebear! @virtuoushub has tried to upgrade to React 18 on and off here: https://github.com/redwoodjs/redwood/pull/4992.

Originally, we had to wait for many other packages we use to use upgrade, but I'm not so sure we're waiting on too many other packages anymore. Maybe just storybook v7. But even then, v6.5.9 may still work with react 18, it's just not written in it.

If Redwood core

[2022-07-07 07:25] jtoar commented on #5871
Ah gothca! Sounds good—I'll close this one for now then, feel free to comment back or open another if you're facing any other issues.

[2022-07-07 07:25] #5871 closed

[2022-07-07 10:52] filippofinke commented on #4944
Any update regarding the support of file uploads?

[2022-07-07 11:45] dthyresson commented on #4944
Hi @filippofinke and thanks for the questions. I'm currently working on a PR (still local but will be draft by tomorrow) to make it easier to configure Fastify in the serverful api-server deploys with plugins like compress and multipart (mentioned above) than should help with uploads.

I'll be sure to reference this issue in the upcoming PR.

[2022-07-07 13:14] Philzen commented on #5097
@dac09 / @PeterChen1997 / @jtoar / anybody with power to do so – kindly change back the title to s.th. like `[Bug] "Go to defintion..." navigates to types instead of implementation when using short import path in Webstorm" so it doesn't get mistaken as duplicate of #5862 (which affects all IDEs).

[2022-07-07 13:28] #5700 closed

[2022-07-07 14:55] pixsrv commented on #5838
generator still cannot handle names like AbcXYS
i tried also AbcXYS_ AbcXYSs AbcXYSes

it tries to change casing into something like AbcXySs (and the followings) and fails the same way

[2022-07-07 16:30] Olyno opened #5887 "[RFC]: Add a authenticated props for Private Set"
### Summary

Add an ``authenticated`` props to the Private Set that would redirect the user if he is authenticated.

### Motivation

Currently, we only have the ``unauthenticated`` props for Private Set, which works well in most cases. However, let's take the example of the "Signup" and "Signin" routes. These routes are only supposed to be accessible if the user is not logged in. Apart from using

[2022-07-07 17:49] Tobbe commented on #5887
Thanks for the RFC @Olyno!

If I remember correctly there is a more general RFC somewhere about protecting routes based on anything, not just auth status. I want to revisit that before I know what the best next step here is. It might have been an issue or PR here on GitHub, or maybe a community forum post. If you want to help me find it, that'd be great. Otherwise I'll look for it myself later tod

[2022-07-07 18:12] dac09 commented on #5866
I don’t really want to engage on the other topics just yet - but happy that you guys are!

But

1.  I like the idea of the useAuth generic although…
2. The type of currentUser in useAuth comes from the getCurrentUser function in src/lib/auth, there really should be no need to directly use the prisma types. @noccer did you return the email field from that function?
3. When something goes red becaus

[2022-07-07 18:49] Gresliebear commented on #5881
should follow through on all these steps @jtoar mention or install React 18 and follow the latest from @virtuoushub

I was gonna install React 18 run through the tutorial completely from the docs and document as I went.

[2022-07-07 18:51] Gresliebear commented on #5881
Oh see yes auth providers and then types and then yarn rw prerender gotcha! i will get to it after work

[2022-07-07 19:09] dthyresson commented on #5881
@thedavidprice I recall that you had some info on upgrading to React 18 after coming back from Prisma Day?

[2022-07-07 19:13] noccer commented on #5866
- Xx l

[2022-07-07 23:23] Tobbe commented on #5887
Ok, so reading that forum post again it's about this exact same use case! That's great 🙂  So the value of such a feature is getting clearer, but I'd still really like a few more use-cases before adding it to the framework I think.

For now, would something like this work for you? Possible used as a wrapper component in the `<Set>` you're already using
[code]

[2022-07-07 23:52] Tobbe opened #5890 "[RFC]: Modal based routing"
### Summary

Modal based routing is when you click on a link and instead of replacing the current page with the new one it opens a modal with new page in. And as you navigate the page inside the modal the URL updates. If you bookmark the page and come back later the page that was in a modal is now the base page.

It might sound complicated/weird, but go to some instagram account on a desktop brows

[2022-07-08 00:12] dthyresson commented on #5887
@Tobbe What if I have a landing splash page `/` public and then a`/dashboard` that needs auth. If I am already logged and authenticated and go to '/`, I'd like them to be easily redirected to `/dashboard`?

[2022-07-08 02:10] Olyno commented on #5887
This is the most efficient way to do the redirection indeed. The problem is that it quickly becomes redundant if several pages use the same logic (e.g the ``/signin`` and ``/signup`` pages). That's why I suggested a new prop, or at the limit to rework the Private Set workflow (even if I am less favorable to this rework idea, because it would bring a breaking change).

[2022-07-08 02:12] maransowthri commented on #5819
Ah, it works, thanks!

[2022-07-08 02:12] #5819 closed

[2022-07-08 08:58] jtoar commented on #5881
From what @virtuoushub said, it sounds like the tutorial would work, but confirming that does indeed would certainly be valuable! And trying out a few auth providers and prerender especially too would get us closer to 100% coverage. But no pressure of course! Either way, I'll queue up React 18 for discussion cause it sounds like we could let people opt into it a lot sooner than I thought.

[2022-07-08 13:01] 0x15F9 commented on #531
Hello @dac09, what is the progress on this?

[2022-07-08 14:58] dac09 commented on #531
Hi @0x15F9 - no this isn't something we are likely to ship until we overhaul the build system, and potentially introduce bundling - there's a lot of edgecases that creep up! However if you follow this thread you can find some suggestions on how to set it up yourself (with limitations)

[2022-07-08 16:32] 0x15F9 commented on #531
As a work around, I am not installing jest in the package. I call a global installation of jest from the cli when I need to test the package.

[2022-07-08 20:28] sgup commented on #5890
Here is an example with `react-router`: https://v5.reactrouter.com/web/example/modal-gallery

[2022-07-09 21:45] mcking49 commented on #5890
Trello is another great example

[2022-07-10 00:43] jacebenson commented on #4739
I just upgraded to canary to test this out.  Works great for me thank you @cannikin !

[2022-07-10 12:01] rushabhhere commented on #5743
@jtoar I had some free time this weekend, so here's my unsolicited attempt at an example intermission repo in TypeScript: https://github.com/rushabhhere/redwood-tutorial-ts/

I have tried my best to cover all additional tests and styles, hope this is helpful.

[2022-07-10 17:31] Philzen commented on #5097
I just rechecked in VSCode and i don't know if it's just me, but it seems to transpire this is an IDE-independent issue:

:heavy_check_mark: Using: ```import MyComponent from 'src/components/MyComponent/MyComponent'```:
CRTL+click on `<MyComponent />` navigates straight to the implementation

 :x: Using ```import MyComponent from 'src/components/MyComponent'```:
CRTL+click on `<MyComponent />` nav

[2022-07-10 19:18] Philzen commented on #961
@cannikin

I cannot quote the correct RFC from the top of my head, but i'm sure the definition goes differently :monocle_face: .
For example, this is what github does:

![grafik](https://user-images.githubusercontent.com/1634615/178158855-2193fb48-6104-4451-a0b1-001344df5b22.png)

… and i would want any app i build to return behave in the same RESTful manner.

[2022-07-10 19:46] Philzen commented on #1623
Hey @thedavidprice i just stumbled over this and wondered why it was "closed as completed"? That would tell me that it's now possible to also have a mobile side out-of-the-box., however the linked PR was not merged and #528 was closed in favour of this one, but i cannot find anything in the docs regarding this.

Over there i can read

If that's the case, we should keep an issue open somewhere and

[2022-07-10 21:09] cannikin commented on #961
Right, and that’s a web app acting in the correct manner: that URL doesn’t exist and so the web server returns 404 with a friendly UI. Our issue arises because of React, where ALL URLs are assumed to exist as far as the web server is concerned. It’s only React that knows, via the router, is that URL is correct. But the 200 has already come down from the server. It’s too late to return a 404.

So w

[2022-07-11 03:09] wbashir opened #5897 "[Bug?]: Generating the Prisma client."
### What's not working?

Hi,

I'm getting the same **Error: The service was stopped**
[code]

### How do we reproduce the bug?

Just by running `yarn rw dev api` on either versions 1.5 or 2.0

### What's your environment? (If it applies)

_No response_

### Are you interested in working on this?

- [ ] I'm interested in working on this

[2022-07-11 06:33] jtoar commented on #5897
Hey @wbashir. I can't reproduce this one just by creating a new redwood app then running `yarn rw dev api`. Both of those errors mention `esbuild`—maybe it didn't install correctly? Have you tried the tried-and-true remove `node_modules` and `yarn install` again already?

The output of `yarn rw info` could also give us a few more leads on what could be wrong, or any other details about your repo i

[2022-07-11 15:45] dac09 opened #5901 "[Tech debt]: Re-enable telemetry for windows"
### What's not working?

We are disabling telemetry on Windows in https://github.com/redwoodjs/redwood/pull/5899 - due to the terminal windows opening when using the CLI.

We need to renable telemetry, once we can workout a way of preventing the terminal windows spawining.

### Related Issues
- https://github.com/redwoodjs/redwood/issues/5757
- https://github.com/redwoodjs/redwood/issues/5728

[2022-07-11 16:27] pwellner opened #5902 "[Tutorial]: Chapter 3 Saving Data code blocks inconsistency"
### Summary and description

The "[Saving Data](https://redwoodjs.com/docs/tutorial/chapter3/saving-data
)" section of Chapter 3 (v2.0) is inconsistant with what  I observe.

After executing `yarn rw g sdl Contact`, where the tutorial says "let's take a look at the service:" and displays the file `api/src/services/contacts/contacts.ts`  I see a very different result.

First line of the tutorial ve

[2022-07-11 16:59] pwellner commented on #5902
Workaround for anyone finding this issue and wanting to move forward with the tutorial:

Forget about the recommended `import` and use less Typescript in your code.  The following works:

[code]

[2022-07-11 17:35] orta commented on #1623
This conversation lives in https://community.redwoodjs.com/t/redwoodjs-and-react-native/3339 ATM

[2022-07-12 03:07] wbashir commented on #5897
I removed all node_modules in `Web, Api, and Main` folder and re-ran `yarn install`.

Here is the output from `yarn rw info`

[code]

@jtoar

[2022-07-12 04:30] wbashir commented on #5897
I just tried on a new project and it's still not working either.

Output from `yarn rw info`

`System:
    OS: macOS Sierra 10.12.6
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.19.0 - /private/var/folders/g8/v3pg_x4979sb908w9v6dxzpr0000gn/T/xfs-ef1588b1/node
    Yarn: 3.2.1 - /private/var/folders/g8/v3pg_x4979sb908w9v6dxzpr0000gn/T/xfs-ef1588b1/yarn
  Databases:
    SQLite: 3.26.0 - /ana

[2022-07-12 11:25] toxsick opened #5907 "[RFC]: Storybook Storyshots are working, can we get core support?"
### Summary

There is #2064 for extended config features around storybook and it explicitly motions stroryshots:

Storyshots would let us track changes in the markup, it's not worth Chromatic which handles visual testing but this one is cloud based and pricey ( well, there's a generous free plan, but it still is cloud based ). Anyway, we have today a codebase that changes a lot because the project

[2022-07-12 11:30] noire-munich commented on #5907
Thanks a lot for this @toxsick.

Looping in @virtuoushub, can you have a look at this?

[2022-07-12 15:13] #5757 closed

[2022-07-12 21:45] dac09 commented on #5897
I'm not a 100% sure on this, but this looks like the reason - the macOS version you're on does not support Go: https://github.com/evanw/esbuild/issues/2183

We don't typically test on such an old version of MacOS - admittedly!

I'm afraid the only option here would be to upgrade macOS to 10.13+.

[2022-07-12 21:54] dac09 commented on #5902
Hi @pwellner - the tutorial does go a little out of date, when we update our generators. We'll have to make an effort to redo some of the codeblocks - sorry about this.

Using less TypeScript is always an option ;) - but perhaps this will help you

The reason you see the red squiggles under the imported types is that these types are generated. If you have `yarn rw dev` running, they will automatic

[2022-07-12 23:10] wbashir commented on #5897
Painful but thanks

[2022-07-12 23:10] #5897 closed

[2022-07-13 01:13] Gresliebear opened #5915 "[Bug?]: tutorial Errors You must register a useQuery hook via the `GraphQLHooksProvider`"
### What's not working?

In Chapter 6 of the RedwoodJS docs I am following the Multiple Comments steps I added the lines to Article.js
[code]

### How do we reproduce the bug?

Follow the chapter 6 tutorial, I skipped parts of Chapter 5 testing so its problrary that

### What's your environment? (If it applies)

[code]

### Are you interested in working on this?

- [ ] I'm interested in working on

[2022-07-13 01:29] Gresliebear commented on #5915
![image](https://user-images.githubusercontent.com/13157730/178628994-1500afa7-063d-4ee9-8c2d-26942ef061f9.png)

[2022-07-13 03:01] Gresliebear commented on #5915
![image](https://user-images.githubusercontent.com/13157730/178641536-24b0ac6e-1c04-4970-93a6-7b46281a1e62.png)

Same thing happened in Chapter 6 of Creating a Comment Form

![image](https://user-images.githubusercontent.com/13157730/178641597-af65adb4-ef04-4ad4-97c5-ad96a9edab1a.png)

[2022-07-13 04:09] #5880 closed

[2022-07-13 04:23] william-stafflink commented on #4361
Hey all I am having the same issue and have tried the solution above to no avail... Has anyone been able to find a workaround   ?

[2022-07-13 04:44] Gresliebear commented on #5901
Node added a windowHide option

https://github.com/nodejs/node/pull/15380

[2022-07-13 10:48] ldm-accenture opened #5917 "[Tutorial]: Chapter 2 Generating Cell doesn't produce query type for graphql"
### Summary and description

Following chapter 2 of the tutorial and using typescript the flow is:

- create a Post type in `schema.prisma`
- generate a migration for it `yarn rw prisma migrate dev`
- scaffold crud for Post `yarn rw g scaffold post`
- generate an Article cell that will edited to point to the Post queries `yarn rw g cell Articles`

the generated code produces an `ArticlesQuery` typ

[2022-07-13 10:56] ldm-accenture commented on #5917
after a round of delete and redo (with some `yarn rw g types` in between), I can't replicate the error

[2022-07-13 10:56] #5917 closed

[2022-07-13 11:17] noire-munich commented on #5917
Thank you @ldm-accenture

We are aware of type issues on generated types, it's great that you are not blocked by this, we'll keep looking into these 👍

[2022-07-14 01:34] Gresliebear commented on #5881
tutorial React 18 errrors

cd into E:\RedwoodWindows\redwood\packages\web framework

uninstalled react and react-dom in the web packages.json
`yarn remove react `
`yarn remove react-dom `

my test project when I

`yarn cross-env RWFW_PATH=E:\RedWoodWindows\redwood rwfw project:sync` seems to be work correctly however

now in my test project when I run `yarn run dev`

![image](https://user-images.g

[2022-07-14 03:11] Gresliebear commented on #5881
@virtuoushub it will take me a little bit to catch up to these changes on my end I just got createRoot and rootHydrate working https://github.com/redwoodjs/redwood/pull/4992/commits

[2022-07-14 03:27] Gresliebear commented on #5881
### Continuing Tutorial

`yarn redwood generate page about`

works

Chapter 1 works in general with React 18 updates and CreateRoot

[2022-07-14 11:07] jtoar commented on #5901
@Gresliebear thanks for looking into this. We've tried `windowsHide` (https://github.com/redwoodjs/redwood/pull/5734), but it doesn't seem to work with detached processes: https://github.com/nodejs/node/issues/21825.

[2022-07-14 11:23] jtoar commented on #5803
Agree with this. From a maintenance perspective, the code we have for generators right now just isn't ready to handle this kind of optional complexity. I could see something like this in the future though.

[2022-07-14 15:02] simoncrypta commented on #5902
@dac09 Does PR #5873 solved this, or we need to wait for strict mode and update the tutorial ?

[2022-07-14 19:36] dac09 opened #5933 "Vercel returning incorrect CORS headers with GraphQL yoga"
Original issue from Redwood startup club

This may actually be an issue with Vercel, but has come out with the recent RW deploy. I can see return shape from RW graphql handler to be:
[code]

A quick google I found this somewhat recent issue posted: https://github.com/vercel/vercel/issues/7820

**A bit more debugging**
I did some quick digging into the change to yoga and noticed these lines https:/

[2022-07-14 20:16] dac09 opened #5934 "fix(deps): update dependency @graphql-yoga/common to v2.12.2"

[2022-07-14 20:17] dac09 commented on #5934
Accidentally created this.

[2022-07-15 00:12] william-stafflink commented on #4361
Hi @virtuoushub unfortunately no public repo. Running Index.css exactly as the above
[code]
and Importing it from `web/src/styles/index.css` and have tried running from `web/src/index.css`

[2022-07-15 08:32] realStandal opened #5946 "[RFC]: Expand ESLint import order rules"
### Summary

At the moment I have two key changes to suggest, happy to lop some more in (or generally to ESLint) if the community has any.

Add automated grouping of the top-level directories in each side's `src/` directory.

[code]

Add `types/**` as a dedicated section, appearing _after_ `src/**`.

### Motivation

- When numerous `src/**` directories are imported within a single file, the glob o

[2022-07-15 09:06] Tobbe commented on #5946
One thing that's been bugging me about import/order is that whenever VSCode auto-imports something for me I get red squiggles. So it would be really nice if we could make VSCode insert auto-imported modules in the right place. Is that possible?

[2022-07-15 09:12] Tobbe commented on #5946
@jtoar @dac09  Do any of you have any input on this? You were both involved in this semi-related PR from a couple of months ago https://github.com/redwoodjs/redwood/pull/4954

[2022-07-15 11:14] Philzen opened #5956 "[Bug?]: Typescript – type incompatibility Form.onSubmit"
### What's not working?

When using the Form with another component library such as ChakraUI, TypeScript produces a warning:

[code]

This seems to be caused by the different signature and behaviour (a rather convenient though) of the `onSubmit` handler type.

I threw up a sandbox to demonstrate a Redwood Forms + Chakra UI integration (which generally is a breeze) where you can see the error on li

[2022-07-15 11:22] orta commented on #5946
No, this comes from TypeScript - and typescript has its own simple heuristic for where to put them

[2022-07-15 12:17] Tobbe commented on #5946
Bummer! Guess I'll just have to disable the eslint rule then 🙂   I never look at my imports anyway. That's for VSCode to handle 🙂

[2022-07-15 21:16] Tobbe commented on #5627
#4880 has been merged now. Hopefully we won't see this issue anymore. But we can never be sure, right?

[2022-07-16 03:30] realStandal commented on #5946
@Tobbe thanks for looping that PR in, from my quick pass it looks like the gist is @dac09 and @jtoar were against the opinionative separation of `src/*` directories (please correct me if I'm putting words in y'all's mouth) - I had the hunch that suggestion would get push-back.

No biggie to me if it's a hill someone's dying on, I can turn that part of the suggestion into a forum/cookbook post so i

[2022-07-16 04:33] Tobbe commented on #5946
@jtoar @dac09 I'm assigning you two to get your input too

[2022-07-16 04:59] Tobbe commented on #5821
@pantheredeye I hadn't heard of prisma-multi-tenant before. Thanks for bringing it to my attention 🙂
From what I can tell though, you need can't create any tenants on the fly from within your app. Is that correct?

For my use case it wouldn't work to manually create tenants. When a new user signs up they get to choose if they want to join an existing tenant or create a new one.

So my vote still g

[2022-07-16 05:53] Tobbe commented on #5821
Below I'm going to describe my setup. It's more complicated than the most basic multi-tenant setup. If we were to write a How-To guide, should we make it about a more complicated system, like mine, or the most basic system we can think of?

Complicated:
➕  We show a more real-life like example
➕  If you know how to set this up, you can easily build something simpler if that's all you need
➖  Much

[2022-07-16 14:59] #5661 closed

[2022-07-17 05:42] jtoar commented on #1455
Hey @jpvajda! I'm only a few months late with my response. So sorry. I went on vacation as soon as you commented here and when I got back of course I had a ton of things to do and never really caught up. Till now!

I couldn't figure out how to contact you, so I'm posting here. (First I tried Twitter, then I tried looking for your email in your git commits.)

I went back and forth on the format. Sh

[2022-07-17 07:28] jtoar commented on #5946
This is on my list. @realStandal while I'm getting reviews done, could you provide a before-after example of what your changes do? (And where would those changes go if implemented? [`packages/eslint-config/shared.js`](https://github.com/redwoodjs/redwood/blob/main/packages/eslint-config/shared.js)?) I read this briefly but don't quite understand the implications yet. So I don't have any push back

[2022-07-17 08:16] realStandal commented on #5946
@jtoar (these are taken straight from my app, so please excuse any specificity)

Before:

[code]

After:

[code]

---

I believe the following could be used for `types/**`, and can be added below [the current `pathGroups` in `shared.js`](https://github.com/redwoodjs/redwood/blob/821e5944ee5ecf8f5b5b3d7c28fecafe3c6fa946/packages/eslint-config/shared.js#L72)

[code]

The `src/**` definition is more

[2022-07-17 11:10] Tobbe opened #5982 "[Bug?]: No type hints helping me when I add a field to my SDL, but forget to include it in the GQL resolver"
### What's not working?

The SDL is not used as the source of truth for what the GQL api should look like when it comes to TS types (see the reproduction steps below for a clear example of what's amiss)

@dac09 wrote a comment related to this here https://github.com/redwoodjs/redwood/pull/5491#issuecomment-1176449311
To save you the click, I've pasted it below (only edited for spelling)

---

@Tob

[2022-07-17 11:19] Tobbe commented on #5982
@dac09 I assigned you for triage. Doesn't have to be you who fix this (if we indeed should change anything at all). And this isn't super high prio for me. So no need to drop anything else anyone is working on just to fix this right now

[2022-07-17 16:26] pantheredeye commented on #5821
Hey @Tobbe,

Here are some of my thoughts:

Multi-tenancy can be a big topic; IMO starting simple is best. Your outline is a good start. If this follows the pattern of the other _How To's_ then it will be a blend of `rw generation commands`, code samples, and descriptive text together throughout the article. Since it can be very app specific and (potentially) complex, it would be prudent to mentio

[2022-07-17 16:59] bfg-coding opened #5983 "[RFC]: Breaking down the sdl and service generation script into parts"
### Summary

I think the service file generation process can be separated from the sdl file generation for use cases where the api layer uses some kind of ethereal construction data from multiple tables in a non linked way.

### Motivation

Working on migrating a project I built in NextJs and Golang into a Redwood project I ran into an issue where the data I send to the user is an collection of ta

[2022-07-18 00:17] Gresliebear opened #5984 "[Bug?]: Error: Unexpected token < in JSON at position 0 on Deployment"
### What's not working?

I am deploying redwoodJS on Linode BareMetal, I configured a nginx server to proxy_pass to the localhost:8910 by using 'yarn rw serve'. I am not finding very much success with pm2. Anyways I cannot render my ArticleCells the graphQL is not working correctly?

![image](https://user-images.githubusercontent.com/13157730/179430359-3d0b5edf-188c-4105-8cf8-ac9cd2047eb0.png)

it

[2022-07-18 01:33] Tobbe commented on #5984
Whenever I see `Error: Unexpected token < in JSON at position 0` it's usually because I have some error on the API side. Usually something with the graphql stuff.

@Gresliebear Can you login to your Linode box and grab the RW server logs? Please paste them here if you can.

@cannikin Assigning to you since @Gresliebear is using Bare Metal

[2022-07-18 02:06] Gresliebear commented on #5984
@Tobbe where do you find those logs? I didn't see anything in the application unless you mean implement then pull logs

[2022-07-18 02:14] Gresliebear commented on #5984
`wget localhost:8910/.redwood/functions/`

![image](https://user-images.githubusercontent.com/13157730/179436068-d8530e43-cd91-4503-affe-cee396aaaaaf.png)

![image](https://user-images.githubusercontent.com/13157730/179436138-b57f513e-88a2-4ccc-96d1-72bdba53e397.png)

[2022-07-18 03:05] Tobbe commented on #5984
Sorry dude, I've never tried a bare metal deploy, so not sure how to debug properly. Waiting for @cannikin to jump in here and save the day 🙂

Does this work when you run in on your own computer?
Have you tried deploying to something easier, like Netlify? Does that work?

[2022-07-18 03:07] Gresliebear commented on #5984
Could it be Apollo-Client?

What is Redwood doing to send HTTPS? Apollo Link?

https://github.com/apollographql/apollo-feature-requests/issues/153

![image](https://user-images.githubusercontent.com/13157730/179439502-9f6626c1-87ba-4673-818f-0941826f49d1.png)

https://www.apollographql.com/docs/react/api/link/introduction/

[2022-07-18 03:10] Tobbe commented on #5821
This was my (now not so) secret master plan all along 🤣  😛

Thanks for your reply @pantheredeye. Let's see what @dthyresson's thoughts are 🙂

[2022-07-18 04:43] Gresliebear commented on #5984
No worries I am just trying to make deductive reasoning or crossing out what this could be

it works on my computer locally of course. Netlify? No idea, I will give it a shot but I want BareMetal. I had problems with Netlify and domain management its a nightmare. I just want to deploy my apps and move on with my life :(

[2022-07-18 11:10] Tobbe commented on #5984
@Gresliebear Did you try asking for help on Discord? Might get more eyes on your problem there 🙂

[2022-07-18 13:02] cannikin commented on #5984
You can try making that request manually in the browser, the /graphql one. Try removing the /.redwood/functions part of the URL as well…

[2022-07-18 15:28] jtoar commented on #5934
Think you may have accidentally reopened this one @dac09? We have a PR here too: https://github.com/redwoodjs/redwood/pull/5962.

[2022-07-18 15:28] #5934 closed

[2022-07-18 17:15] joconor commented on #5802
Hey David,

It was just a generic Javascript TypeError thrown during the `onCompleted` function after successful GraphQL mutation via RedwoodJS form submission. It’s not a GraphQL error, so the RWJS error handling doesn’t really know what to do with it. I.e., there is nothing in errorProps.graphQLErrors if a generic javascript error is thrown

— Jay

[2022-07-18 19:46] jpvajda commented on #1455
@jtoar This is amazing feedback! Thanks for taking the time to put all of this together for us. I'm going to share all of this with the team.

Would you be interested in setting up some time in the near future to talk more in detail?  If so feel free to hit me up at my Apollo email address and we can set something up.  `jvajda-at-apollographql-dot-com`

[2022-07-19 01:11] Gresliebear commented on #5984
The Auth request fails I cannot sign up it does 200 ok so it reaches the back end but the Response is the Same HTML as the other request.

it doesn't redirect or anything

![image](https://user-images.githubusercontent.com/13157730/179642555-c8bda577-6bc6-422e-9f97-f7ca88c495c6.png)

[2022-07-19 01:15] Gresliebear commented on #5984
@cannikin I tried 'http://www.hamletgame.com/.redwood/functions/graphql?query={redwood{version}}'

I got 404 Page and 200 Status code but the samething is that Graphql is returning
`
<!doctype html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/><link rel="icon" type="image/png" href="/favicon.png"/><script defer="defer" src="/static

[2022-07-19 01:16] Gresliebear commented on #5984
@Tobbe  I did no one responded yet

[2022-07-19 01:51] cannikin commented on #5984
It very well could be! We haven’t filled out that section in docs yet, but I’ll paste you the one I’m using in my own app in prod. I get rid of the `/.redwood/functions` URL and just use `/api`:

[code]

You'll need to update `redwood.toml` to match the `/api` part of the URL:

[code]

If that doesn't work, you'll want to try running `yarn rw serve api` and watch the log output. It could be that t

[2022-07-19 06:34] jtoar commented on #3647
Netlify deploy has been quite stable since v1. Closing mainly due to staleness, and that things are so different now it'd be hard to diagnose whatever the original problem was.

Note that we could definitely still reduce the size of functions... see https://github.com/redwoodjs/redwood/issues/5160

[2022-07-19 06:34] #3647 closed

[2022-07-19 06:41] jtoar commented on #3957
Pretty sure we got rid of `PageLoader` in https://github.com/redwoodjs/redwood/pull/5521.

[2022-07-19 06:41] #3957 closed

[2022-07-19 06:46] jtoar commented on #4553
Closing due to staleness but feel free to let us know where you landed with this and if Simon's comments helped!

[2022-07-19 06:46] #4553 closed

[2022-07-19 06:47] jtoar commented on #4615
I can't remember if we implemented this or not, but it's been quite a while now so I'm going to close this. Let me know if you feel otherwise though @Tobbe

[2022-07-19 06:47] #4615 closed

[2022-07-19 06:49] jtoar commented on #4599
@ajoslin103 I'm gonna close this one since it's been a while, but if you were still interested in PRing this, you're welcome to! (No pressure though)

[2022-07-19 06:49] #4599 closed

[2022-07-19 06:51] jtoar commented on #4357
Done in https://github.com/redwoodjs/redwood/pull/4770.

[2022-07-19 06:51] #4357 closed

[2022-07-19 06:52] jtoar commented on #4510
We've gone back and forth on this a few times as a team that I don't think it'll be implemented in the near future. And if we were to discuss it again, I'd probably push back on it again. Thanks for the RFC @guledali, but closing this one. If anyone else feels strongly about it I'll reopen, but just being honest with expectations about this being implemented soon.

[2022-07-19 06:52] #4510 closed

[2022-07-19 06:54] jtoar commented on #4860
@cannikin I think you may have removed this info when you moved the docs over. I don't see it there anymore.

[2022-07-19 06:54] #4860 closed

[2022-07-19 07:01] cattre commented on #5802
Just to add my experience here, I was getting a similar error ("errorProps.graphQLErrors is undefined") following some renaming.

After reading this ticket I found some routes that hadn't been renamed, but I'm still getting the error after doing so (albeit now with the graphQL request and succesful response objects also displayed on the error page).

[2022-07-19 07:05] jtoar commented on #4945
https://github.com/redwoodjs/redwood/pull/5903 will add this feature.

[2022-07-19 07:10] jtoar commented on #5266
Once we merge https://github.com/redwoodjs/redwood/pull/5988, we may be able to act on this.

[2022-07-19 07:11] Tobbe commented on #4615
We did! I just forgot to link it properly. Thanks for helping with housekeeping Dom!

https://github.com/redwoodjs/redwood/pull/4675

[2022-07-19 07:23] jtoar commented on #758
We've had some internal discussions recently about adding another client, opting for [urql](https://formidable.com/open-source/urql/). (We haven't made any headway on that yet though.) So closing this just for transparency, but we should definitely decouple things more.

[2022-07-19 07:23] #758 closed

[2022-07-19 07:27] jtoar commented on #3066
Closing this one due to staleness and inability to reproduce. We'll be upgrading to Jest v28 soon, so if it happens to come up again then we'll be sure to address it.

[2022-07-19 07:27] #3066 closed

[2022-07-19 07:29] jtoar commented on #2804
We don't want anymore auth providers till we've settled on how to decouple auth (which is well underway). We'll also need maintainers for future providers, so I'm going to close this as taking on a new provider is going to be a bit of a commitment that we probably shouldn't solicit anymore.

[2022-07-19 07:29] #2804 closed

[2022-07-19 08:42] jtoar commented on #4615
Oh nice! 🚀

[2022-07-19 13:29] dthyresson commented on #5802
Thanks! I was able to reproduce it in our test project:

![image](https://user-images.githubusercontent.com/1051633/179762232-7585e721-ff79-4f78-a53b-cd8d2643bbaa.png)

[code]

[2022-07-19 14:24] jtoar commented on #5682
@Anishpras still interested in this one? No worries if not!

[2022-07-19 14:25] jtoar commented on #5589
Hey @SarveshLimaye, were you still interested in working on this one?

[2022-07-19 20:07] #5933 closed

[2022-07-20 15:13] noire-munich commented on #5983
Hi @bfg-coding !

Thank you for this issue 👍🏻 , it seems to be a topic of interest and therefore it requires a proper place to have a conversation about this.
Well, here we are!

Looping in @dthyresson and @Tobbe , I've added this issue to the `action/add-to-discussion-queue` as I understand that this is where we are now: figuring out more about how we would want to handle this and confirm Redwood

[2022-07-20 15:20] jkjetty commented on #4625
What is the recommended alternative now? Just to use `yarn redwood` from the terminal and other extensions (graphql, eslint) for codebase management?

[2022-07-20 20:50] cattre commented on #5802
@dthyresson sure, I'd expect that error to show in the normal dev error page.

Incidentally, I've found some more references that needed renaming (might need to configure more type checking). I'm now getting the below error (which may be unrelated so feel free to ignore, I'll keep debugging):

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/39544048/180079491-4ac6d95b-

[2022-07-20 21:28] dthyresson commented on #5802
strict type checking, you say, @cattre? it's coming https://github.com/redwoodjs/redwood/pull/5491

[2022-07-21 04:38] Gresliebear opened #6009 "[RFC]: Use Case for GraphQL Scalar Types - Primsa lists/arrays Multiple Upload Photos"
### Summary

I would like to present my issues/experience currently with redwood so bare with me, on this Use Case its from my own challenges with Redwood, I don't know it indepth, its outsiders point of view. I have a simple idea that I am currently implementing in a app "uploading Multiple  Photos" for example I am uploading many photos and converting into base64 to store as a string. I thought

[2022-07-21 04:42] Gresliebear commented on #6009
Nevermind I just found a solution to my problem I think its GraphQL 101 page this is very helpful

https://github.com/redwoodjs/redwood/pull/5800/commits/f5c36a903711d304bdd0684eb076e7d220bab1c1

[2022-07-21 08:27] jtoar commented on #5946
Thanks @realStandal! That's enough information for now. We discussed this rule again last meeting (not only your suggestion, but the rule as a whole). It's very divisive.

Before you posted this, the only other feedback I've seen from the community was this thread: https://discord.com/channels/679514959968993311/988820117624336434. I'm guessing you like the rule (correct me if I'm wrong!), but do

[2022-07-21 08:41] jtoar commented on #5907
@virtuoushub I have no context, but is it possible there's a `failFast` setting or something like that that's enabled?

[2022-07-21 09:02] jtoar commented on #4625
@jkjetty that's right. The CLI + the recommended extensions = the experience™. (Note: we're working on making the CLI faster, 'cause it's way too slow.) The Redwood IDE extension had some super cool features that the CLI and recommended extensions don't have, so the experience won't be 1:1. Maybe we'll prioritize the extension again in the future but right now it's not one of our priorities and ha

[2022-07-21 09:10] #4517 closed

[2022-07-21 11:11] Tobbe commented on #5890
I've been thinking more about a potential future "mobile" side in Redwood. And with that I think modal based routing is going to be a more requested feature. So definitely still interested in adding support for this. But also still don't know how to do it.

`<Set>`s are going to be interesting. A common use case for sets is to render a layout, often with a navigation bar to the left or at the top.

[2022-07-21 12:59] TristanWYL commented on #5984
The first reaction for the description of this issue: `Unexpected token < in JSON at position 0`, is that a json parser tries to parse a json-alike string, but fails with exceptions because the string is not json-parsable. Probably it is the server responds with a `html` string, while the client try to parse it as a json object. So you may need to check that what the server returns and why it retu

[2022-07-21 13:00] TristanWYL commented on #5984
How can we reproduce the issue? May  need more details to help.

[2022-07-21 13:12] Tobbe commented on #4510
For anyone interested in state management, I can recommend reading this https://frontendmastery.com/posts/the-new-wave-of-react-state-management

[2022-07-21 13:35] TristanWYL commented on #5956
Hi, I checked the definition of the FormEvent:
[code]
This means `onSubmit` can only be assigned with a function with single argument, so updating the function `handleSubmit` as below can fix this problem.
[code]

Actually according to the description of Chakra-UI,

I have never used Chakra-UI before, so I guess we may not be able to use Box as Form to auto-submit the data. Actually, Chakra-UI has